{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87c6274-7eaa-2399-437b-14b28f5b5efd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DFC6687B2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87c6274-7eaa-2399-437b-14b28f5b5efd/test-blob-cb209d22-c600-6a8b-b0fb-e0013f6edf29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "mfz8hkiV1mQ=",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "B\u002BOo1SF5ek6pRWXjKSwUwXskBlfVpDkVBa3xBzGTNvTTfGUr2CrOM704EH5bOhmStTOr3HicA2Kqk9Bzh3IdFg9wD6zH6OhQVtKZnZS6usqUX1L96Fl7NnkDgURZWqxLGvpv6itsysxLWoWlAmbN79kG3ycgHy619Ngzw2ej9/smToKaS8\u002BfJ5SFso3T1jQTNZFrU3uEK/rMuvVSOQdlp2KKfrTjM6QKZriSm22g4R6kH47VOKOAoiOHzZHZTe2NIAorSVd/LwHtYOzC8pCNLNjXrRp4j2\u002B\u002BCtyRW2UTMBnLBXpidZjGJO\u002BM6Ne3vbCT\u002BqG4AZ/TFJC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87c6274-7eaa-2399-437b-14b28f5b5efd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "284447209",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
