{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6892ae57-2b44-30d4-aa9b-794bdf6b27a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86830C80A7CE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:47:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6892ae57-2b44-30d4-aa9b-794bdf6b27a7/test-blob-a4fc7b8c-6d03-fc6a-1791-2f619b470018",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AtyYZWEx/PPbw5PWfBkd1DsZy4JaMzzMO4mBHiYkk6JKE7k2PPv+TmAcGKgeHkHeAWlzImahQM+fzCnYr93Mti/wjGhg5pc/Gn0hPRuUrhxIox29sHE8qNPplnDRJZ+DT2J4LZHYfhrRNAfpfwKzCx4NkAzADwW9tOSVdlAnbvXdnu65G4CKcCQC63xqUijQNotSxJWTw0BcunmtQgjKqsYRC+EU+u+dgiDnvSSJU2G7xUDF1KlgStuuXGAH3S0cN0G2WEZHvDubtEF1qwUc02cX8nzIBdUcscAGZp2PlqTyyoXi0/oadAgEKiBn6p/Vkon48OuxVDJrmaaGQFadCx6dguB/OQBt/H10w9u1tMch[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6892ae57-2b44-30d4-aa9b-794bdf6b27a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "856894536",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
