{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-93b1b364-c96e-9e3c-029e-71624f7cca29?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAF54EBC3424\"",
        "Last-Modified": "Mon, 12 Aug 2024 17:36:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-93b1b364-c96e-9e3c-029e-71624f7cca29/test-blob-8170b1b4-60b9-bfb3-0033-87bda5eb7cec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:33 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB/7x4O8Raicdjx7SoeKQEdmYUo8B8Po+RUK5i+MbEiipvMk67G9fkjvOzjlFwydueEpI8X87i/cEw6usV+5D8mzmKOUpZTVqSLBTMyKw6HIrWwOY0hCpfiDCJijDszpNisvMb6oyRQME3rjO2FjUQ+spgQzqqyBMPKrEV08cloV2FahW9HjH6RXwg/NX6qXH/dJNmjI9Yt+rcDL/fe3D+DgzSMKgfV9iYZf26hcs9EIE/Gls3vxDSKLYu3RFyGs4PJvLJKHTJ4By2ziaRojIjovg+oF0Vyk77/Af17HrHJk8zr2LYc+QIdTo+fPDuQIqADzoZN3ps9Vyj0Sxw0/Ol76vbYfLPRzMQMi8i20leDb95ceE8rfLUwrYGNKK7m6FGlI1FEuKX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-93b1b364-c96e-9e3c-029e-71624f7cca29?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "453118150",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
