{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b9f3c95-ae6d-c435-66f0-1a8c864c5dc3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD3683ED65\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:09:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b9f3c95-ae6d-c435-66f0-1a8c864c5dc3/test-blob-04e4fb2b-bf29-87ed-294d-4ea2c622b6d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:43 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABhMJFFsKGo3KGSoUGH1Rct6mIYFrtcikhgRnv/w1gATpj8/XymwAfTx7RfpnyaJeM9yFipg3xuBaVI5WolqRhJkVKpitebhylbRE8H/OTMxSGYwvoAV8objfjXXtudrR6bFhUp8JoLoUEuTj8tZwnBfB9IjeYeSDqIjf3fxChOvpYxa+bPotSHjSC40QiL7iXuFeG7VCA3fc3aoWOcK90Y4JCo/Psi8tlKwQDGZXYx/J/X8a5Hkml2+u4Z9AFx6mFDoPF44/IqzCMHcJIgcRdWqKTDxDou0U4mMgEMCf3Y2daegsWFuRmtrSSKPyHXVYjWwktdrSYnFc+jUbDwHcIlL5e8ge5S0O+KFhYVo5EsT9x5NUayeiuwd2314mdovZBiZRCJGtO[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b9f3c95-ae6d-c435-66f0-1a8c864c5dc3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1172602614",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
