{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-07e4ba9e-7d21-06e6-e0ce-3d78511afcff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DBC0EB906\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-07e4ba9e-7d21-06e6-e0ce-3d78511afcff/test-blob-6d6f3e98-6dd9-c1cf-0dbc-0a00ac0c1e9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yfHJwOyG9lQS7u4WFlq2u/cA8DfSOgIDRyXK4GCA0H\u002B\u002BRMJeWxZQASTzrw6lvkJKdi0wJagUT47vxXnHuxXzkh5uWNGYV1/gsO8T34v0XojigGoyT6rXqfQzb5aciEUOABzvN2Vxsh7OUHW5AXAD\u002Bmfw5TuqwEJ0l6/dZOjJQyeqBN5uBCcicc1MZP81HaiDMHQvq6MKY0DZe5\u002B2k042BAxND/ySlPY/znRtXltDP3kHWTN0mpiEn6GelImHbN1/Fl/z5w6r8Zt\u002B790unATkljwlrzoawmp0yG9b9P9suGKW7kj7UFdqW2iY9aq6VQOcuf5NYbyjZVT1fx6fUPy[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-07e4ba9e-7d21-06e6-e0ce-3d78511afcff/test-blob-6d6f3e98-6dd9-c1cf-0dbc-0a00ac0c1e9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBC1E8C21\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:43 GMT",
        "x-ms-blob-content-md5": "oIxgHm6AppCVlvlwTmN6Gw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "rM2byyyBR7s=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "yfHJwOyG9lQS7u4WFlq2u/cA8DfSOgIDRyXK4GCA0H\u002B\u002BRMJeWxZQASTzrw6lvkJKdi0wJagUT47vxXnHuxXzkh5uWNGYV1/gsO8T34v0XojigGoyT6rXqfQzb5aciEUOABzvN2Vxsh7OUHW5AXAD\u002Bmfw5TuqwEJ0l6/dZOjJQyeqBN5uBCcicc1MZP81HaiDMHQvq6MKY0DZe5\u002B2k042BAxND/ySlPY/znRtXltDP3kHWTN0mpiEn6GelImHbN1/Fl/z5w6r8Zt\u002B790unATkljwlrzoawmp0yG9b9P9suGKW7kj7UFdqW2iY9aq6VQOcuf5NYbyjZVT1fx6fUPybETd7mK286UXku1TRgszAuXNrvjsBH1al84n0BtE5ygps/ORzP71V38\u0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-07e4ba9e-7d21-06e6-e0ce-3d78511afcff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1367777355",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
