{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1533a324-3790-66d3-5cf1-668913ef466b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7251243E95\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1533a324-3790-66d3-5cf1-668913ef466b/test-blob-06563413-6c83-4ad6-7c90-2f4b56c7ffc3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "o3jYkwk3oOqO8\u002BA38N6F/GUQxjott5ZjJlNtxXFP8njZuVFohvdNizjXAOA4nR0aesxfPfdEYOvidWy1ydp5PwFoXjeMHXZuwjoCVra1K4k2U0qk8LWAlFhlhRGKl8FdXcHfzz7ljV1V8Xq8Qgk1LEnjf3aQ1E9M58neJ5dk4yt4pfj11ltKUMXtT/47xFJPMFnIpxdLzYlxk\u002Bh1B2bG8Q5OQ5wQP1XtmC6wooVQESJ3jvY9nDsTLNhvg0Nz1UlfJl3w7IC1PvAD2w/omyoEIYLF/XhviFTTOhbEobwSesLlUXsnYCSiwlAGOcEsKpGtamLBrdjQ754JHbFp8J008WBMA0mu3cBdIz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1533a324-3790-66d3-5cf1-668913ef466b/test-blob-06563413-6c83-4ad6-7c90-2f4b56c7ffc3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72513468F2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-blob-content-md5": "irde33auUY51uc62QKFzSA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACjeNiTCTeg6o7z4Dfw3oX8ZRDGOi23lmMmU23FcU/yeNm5UWiG902LONcA4DidHRp6zF8990Rg6\u002BJ1bLXJ2nk/AWheN4wddm7COgJWtrUriTZTSqTwtYCUWGWFEYqXwV1dwd/PPuWNXVXxerxCCTUsSeN/dpDUT0znyd4nl2TjK3il\u002BPXWW0pQxe1P/jvEUk8wWcinF0vNiXGT6HUHZsbxDk5DnBA/Ve2YLrCihVARIneO9j2cOxMs2G\u002BDQ3PVSV8mXfDsgLU\u002B8APbD\u002BibKgQhgsX9eG\u002BIVNM6FsShvBJ6wuVReydgJKLCUAY5wSwqka1qYsGt2NDvngkdsWnwnTTxYEwDSa7dwF0jOyhpTpOm[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1533a324-3790-66d3-5cf1-668913ef466b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1074814661",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
