{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4b4131e3-e6ee-c997-a8cb-85de1095a9c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:08:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CE0BBD8A6\"",
        "Last-Modified": "Thu, 08 May 2025 22:08:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4b4131e3-e6ee-c997-a8cb-85de1095a9c9/test-blob-56fd35bb-6049-01f9-aed8-17409adc955c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 May 2025 22:08:35 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABWL0OO+Qvi3F769TzKS8uskaryLnv/myK23itQQxXNE16o9s64q+HgAD1LMqS0OBsjFyvPTyX4VpMh1xvfkphILeHeIVX99OXIEi09tGl9AqYQLCzp/sQ4sJ86l9TGAG2kAgXD1hbGJiJGBjz3uqEqo9R0z2VsXi4dpXG1wl0RAhLAmLFjuiyPSgYJo/iHQfX+D/P/UTAIOKTXpTClEWPFNQMqNyLvxumn5IVfYrs2lWR7trJqEbDhuF8NjBT86jiiRG70XQnTDkgKV2yrqNbooBDMKVqwWyNTSH/C4TrUq/pMvR1MQThaqKhqX7lENg+JJesEL8He8elLoRWKECwONaxyXuu5m1/YcoGyRvtpDhFvObxO0Hw5bcszAaAjz5d7WykN0tg[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4b4131e3-e6ee-c997-a8cb-85de1095a9c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:08:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "871682021",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
