{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-29bb3557-85e1-231e-b6ea-bb9384edd18d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DCA24F908\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-29bb3557-85e1-231e-b6ea-bb9384edd18d/test-blob-70174212-5e5b-019e-9259-11a837eff9c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "4HTlL/nfd\u002B7D47JH9T0XFg==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "bZFB0lRDjlA3Escr7xb6SltC4UL/OEeRkxwjq22vWcZq5pmXKbwkbrOeYjNdnklz5E/yDLoJsDVJsD84IOPiiLkAwQl9YyGfHnKOYNYTM/XTr8YevEwMYDVjTXl9603QvNl5Xd0/9oAuU\u002B5Hek9fNn1KZHEcw8tt9GDUGRanIjIkvqT8mdYXk7lF8GlexOblBBf7Mofcs/gODGh8a91qhjC7I7urY5ymMtG319NhDjB67hT/q\u002B\u002BrRwus7Y1tmyjb2mo4oqEqOqB6VQC1JdslrP44AXzIa9pBENuv/nUPOZao2/xoKWuPT7RzhFbu9SIwh0CONZmsE2\u002BQ95LFezsraxtq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-29bb3557-85e1-231e-b6ea-bb9384edd18d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1298613049",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
