{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a672031f-38f9-6daf-da9b-ee806abbe33e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD133495F1\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:08:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a672031f-38f9-6daf-da9b-ee806abbe33e/test-blob-88065a78-dd38-42b0-6516-f49fb88a1845",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:44 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACRMMdKXgHIqnQtLLAwNbYHQsy1dgwpVMRCD66Dt1RrWp6w6IYLDsPJKgRFvEUI59AftfcMaTRLZ9wCCE5SRfMgwdISf0wv+zMJ7EsI45d+OSjeYwFcX/FpZYCqCQV0duQRJPtz9meD77nEAnzoQoREg88mdOLxxGHgqRrLhfItlXVm9r6cC0PAWnNHl111gCL8ZoU2TgECIGCZk0xNuGrGlm0GgkzGqHiMZRpuqSwEayj3zx5t90ZzZNZeAnf2c6IJgAHwbv7WNr0Mqunnk3YzlSckVelLWZ4mkx52aKYAlfJ3ZSgrE/0qIZhhYU1di9BgKmxP0h25vSdiydrgYM4XCxT2by5NCIEq+TRQ6vhRyQdNFj05scPVvqgByEoiSsHKSVU4Zhu[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a672031f-38f9-6daf-da9b-ee806abbe33e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1346856118",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
