{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e15f6711-06c0-a941-cce8-0285a0d41614?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22E91D216D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e15f6711-06c0-a941-cce8-0285a0d41614/test-blob-c9576420-97aa-b0a8-899d-76782c7727f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACr3vhHzwMNcAbmHZK9UJQmPaqMoQDATeHNmJTo67oMAd1oRTWuYoj18WRO4Ey0QWFjj2jBNa/g65AWejdvJIVM2Ry0VQtfd9sil6+bcWyUGVYyhFtRS8sth1qll+hQhc3fAgcw/+xWBBiMnp0ARXkkgWHgPJ8q+o5Qhs2xueDz0RLivG9lZBlp3IBCxawtLULggBaHcEgttAh533gepEo3mcyLHYgKvxxHd2Af5zXhI1mL0DnKbGHJtQdn7IWgSjc1CyvfoQ+51sH5P/noDc3Sl7wfktQRbS1rwmiAotKXpywo6dwJAYFJ0vl30S1o4ac6lFTJgLhjJJ3+dN+nODPuYZfMvyPxyJY61sDampwAAuDARg5+ziZ0xcU/C4yhopnFiG+VmyG[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e15f6711-06c0-a941-cce8-0285a0d41614?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1690207989",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
