{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a72044-6af7-3d2e-fdac-26fd41635505?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86830DE9B669\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:47:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a72044-6af7-3d2e-fdac-26fd41635505/test-blob-ef01f293-c97c-6b04-df30-4dd6ead27a8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "YP9Nejh4vzJSoQH+Z0RB4iqXp/CGyHRJiyP4MMslbtaGeon7zQdW3ZGqO+80Oz0gIWN+/0qCAJiKBO8UgI9mLTIqeO26RRUiQclf3IyFFE/m2A5npm6MA3nwcMkYQV0CQw68CsNQZdtOXL6AIyQMBe+fLqeA/obDnXRzytRMCf9rXJh+yQqMlXIzGUqwDOBV5GvZeRK1gUWH+GxO3ZsGAlK+FMaLjTvkEpk0TeU8E5GUHeVpcpDttttT9tCdPbjXLBf38fcZylYv9Wd5gDRgS+TbusC1nY/C0V7rOJdrR9ThXSDORCGae1OOOX0pdDWm8qrrwoP4IY+HNSCYLZG/xK2SmCMTkgfCQD9sJ2MSmVwo[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a72044-6af7-3d2e-fdac-26fd41635505?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1762743242",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
