{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee14b50a-bf42-f133-b2d2-02bac7e4037e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD0F6A4716\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:08:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee14b50a-bf42-f133-b2d2-02bac7e4037e/test-blob-d00b4221-939a-369f-a1e4-62d431fbb236",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:38 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA6cZm1IK+5GLZQiNWxgEmy/5hpVi0aAfr5lw9fY7udAMDKeDdmHUmht54yLGoONPuK3EOO+1YUH2+evImfWrX6socV5wgRTOJOx56P6NWP62IU1IZ3DwRptljHyGG/Al3pN3nj+U3zeJBhPzS3hTeaDtEmi4Uug6OCqzGvSoSBjsVBpbBbrPEVIVv2FdDQsTAhLLmPmXfXurTWYE0cQy4L4LBudt+HP2HfEWopN27SsfkAjh7K8fVOaev8hEyk+N0t6jQgYjtQmuxXsIgMrYJFA65UG7QPQe+6IAz0irsVOxiM/E05sk+9sPQxckFtQbtptoCdUN0oHalFZUIvWw8xQnRvgLE1C1FflmrA3s6uTd5Qi9Q6d+s6Y96j9E0NjlTl/zDM/cA[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee14b50a-bf42-f133-b2d2-02bac7e4037e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "58806593",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
