{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd616f24-6e2d-d6f4-2cd5-81dbceb17cfd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DBAAFC55C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd616f24-6e2d-d6f4-2cd5-81dbceb17cfd/test-blob-a0679c1d-ebec-c118-964e-a72d34c58f66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "CdwHEkkbvXlYaHZNbRPP9LSSky5afzvl8VBhcSz4Wf6Y29gqLw6kLOLdpFoI5CNndopqDbUYyomhIiD4uktMYA53tZI6pcWm7mZLfdvg3Aws\u002BfqhjUxJfxFOiAztq3KWkENLkC\u002BRLNHEwx5OzUyuwEUTy8BQqtLCLjWB6xy4uUL0tO2XlUzdm80p3Mot\u002BrLEoMfH2d\u002BxReVxiWH6EEC0CwrcWhhfFyv5NjDzJ80IlTOCvEtU8d9iQm8HJQvq44qMddG/UKCZZYmczaKvvh4XaPMtd1T1XxkqeRepV/EfDlOlZ7H8SEST6VbCuCM8s4RQ770YvWs2lhW3lNeJ8A2XfL9P[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd616f24-6e2d-d6f4-2cd5-81dbceb17cfd/test-blob-a0679c1d-ebec-c118-964e-a72d34c58f66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6cpB9uUwy7FN48DR\u002BHddTw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBABF7197\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-blob-content-md5": "qklhQ8ZYLyaJaZ2FAOpHPw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "CdwHEkkbvXlYaHZNbRPP9LSSky5afzvl8VBhcSz4Wf6Y29gqLw6kLOLdpFoI5CNndopqDbUYyomhIiD4uktMYA53tZI6pcWm7mZLfdvg3Aws\u002BfqhjUxJfxFOiAztq3KWkENLkC\u002BRLNHEwx5OzUyuwEUTy8BQqtLCLjWB6xy4uUL0tO2XlUzdm80p3Mot\u002BrLEoMfH2d\u002BxReVxiWH6EEC0CwrcWhhfFyv5NjDzJ80IlTOCvEtU8d9iQm8HJQvq44qMddG/UKCZZYmczaKvvh4XaPMtd1T1XxkqeRepV/EfDlOlZ7H8SEST6VbCuCM8s4RQ770YvWs2lhW3lNeJ8A2XfL9PCVZsGiCvmo79M6f17saTWGg0B1DnbtCcRbNtCvhJKjxk7akt49WdaCLdOWNtwaYQ9ZelY3RuZ5qG0NRsQpCVswhqkQEcZXSSl58uCjVsLoQNXBRgpMfI9YUOphMAMCaRR4VbAi\u002Bl9I8iEszVQF1lGaFQXuV8NQ9Aopx8Db9hkmZ4nMKwECtVaGiEPZH68rQnqY1xsNJAFRJ1Gl\u002BSKebQwX9mXKObtAh1\u002BvZ99/d9RrDnVGMx7\u002BKUN4evOvbLwj\u002BCs3sSlJYRjPWE\u002B7Xbwx4a99Svq9SCntKc0iQc63kSqji3\u002B0N7a7Ea1shurfMtuHRolUMhHBdq/xWpdcJx9KE="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd616f24-6e2d-d6f4-2cd5-81dbceb17cfd/test-blob-a0679c1d-ebec-c118-964e-a72d34c58f66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DBABF7197\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "UjtrL6hdx9dKyyWN5oY2SQ==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBABF7197\u0022",
 [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd616f24-6e2d-d6f4-2cd5-81dbceb17cfd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "416961987",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
