{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f906a558-18a3-b180-4291-9d842775505f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC5C940D7\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f906a558-18a3-b180-4291-9d842775505f/test-blob-fe10bfe8-692c-31a6-faaa-67b6d1200f86?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "NKHIiA/gWAU=",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "kKQ9ghyrG8YXnUDW5\u002BJpRYEKCydl3CsrOrxltMh8sJp7kw2jv412zeVIW5YgfPmECYOPrhIqOLR4EUhgRmb\u002Bm\u002BymWlTVxYXzkz5CHICVC73D4KtE7QGHUVpYK61EFoZ\u002BSsCqeSGkrkP9mxvU6Bsz4waLnGW7ua3qHwn5fJrYr3y3w9LA6pKbHzFnR1Lls2g/JUinuXohwpESv1oYqzKpJeyfHCRJc/h073wzVHFbBWuhuldRMPUBlQFBrSs4g3T/vSJmRpZD9bFQM8r97W4ft7rud/DaV/T2noYjCMbNO2wINJZP9b7VXcSmAfwrA6iSIvZwSQuDJWYtb6gPIO3rgvdd9LnXz8H7GRosNFX4y5rekOXPXPFghQ8wIoUWxT3Wun4EzQ7vu1I0dTDxV/AQNaQNMY8HHCYF/W\u002Bpp6075FPcVXrW8/6L7tWTmufBbi4eH\u002B3hCZOtzp5Y/8\u002BfRROk\u002BZDcFAF2OkKmgkK5dIE/RI9Bi4jAWdvAL4fbfvQu7KjC7qFW5FksqOWqO4ZQ9FodGbpAXbqK5J\u002B1HOV6mrtOd5WZ94Xf6F81FeKjFR5UbzssvmQ57Y7uNwoCochzsg0pXMPxt/zUPTBbC0jY58\u002BBYK2qTdxXFIoGq7973UeXwWLUebhaY7g\u002BWIE03uJGFlA7gUEbyWQx0kg56gs9WF/pw0k=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "NKHIiA/gWAU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f906a558-18a3-b180-4291-9d842775505f/test-blob-fe10bfe8-692c-31a6-faaa-67b6d1200f86?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "JG5c/KhLlHA=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f906a558-18a3-b180-4291-9d842775505f/test-blob-fe10bfe8-692c-31a6-faaa-67b6d1200f86?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC5F59CAE\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f906a558-18a3-b180-4291-9d842775505f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1253700199",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
