{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ec95dc5-c7d0-2b88-f003-fd39155a1a10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC9D79C4D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ec95dc5-c7d0-2b88-f003-fd39155a1a10/test-blob-533aeb73-38fe-f479-5b19-b119473b97de?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "6Jdw7jNwHyJHmQHghs/Npw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "rUF0frlz0BbER5rRyOICPNOi4FXz97Uu3mocF6wnfGuM9fjnP7Gg5u5PXRPjklwA08adYjgcFbWLRaBPVrhpncsvRdPpGv0iAvlnpJmhS0sNG0TmiRkyb\u002BBCW/kQUY815cBHs0yJFrjJe2A\u002BtXAc6flUQTt0gxOx/Nbzp78DEbBqMb7ZWpf\u002BgwWLHQ659LpvJnEAvA9UwWKslrd2lm/5xWmv1ISyQo9hVb016GYF\u002BAgbg4BNAlWhFm9cLMPgiO2VklelCiA2vOPhnmZSHtn7p56uWhLurMITDb0UVhbLgM3QoFYOYO3o5ceca2TuT/eWYIUlMi3ap\u002BWUkfxiIWbNFR6ZgX6C7EewxnRLUUFeJb7FfvWQpk6f9vlwes7xhsRgz1VFVc15E3M9dWu5jlWkNWw9nKNwPG/P\u002BYuFEnJ4vz\u002Bw64LrGM/xTGqBUzDi5mejy0Ris\u002Bkh75LldltB9AEBxbYsCKPSuB2cTFA47\u002Bk\u002B7BIj4UYtFQtVjvvvBqJzr1dpf416tt3E0BMnxmeZ6ACopopJHRO606\u002Bq1nqn4rJ6KJz4zm9cxDU0XhAzBk\u002BjvKb6R18XKpFEr6zd0OBjHe1hrJ7LoBmRTOJUFL4Chs1gBhnUrJtSY/0KtB/CfvRV0UEi0lqx2BuMafp9wxbSQSjffcnGj3BSD0mgwOz6zs7u/kM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6Jdw7jNwHyJHmQHghs/Npw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ec95dc5-c7d0-2b88-f003-fd39155a1a10/test-blob-533aeb73-38fe-f479-5b19-b119473b97de?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "zsUzFlUfAuWIvignPysNAg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ec95dc5-c7d0-2b88-f003-fd39155a1a10/test-blob-533aeb73-38fe-f479-5b19-b119473b97de?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DCA03D15B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ec95dc5-c7d0-2b88-f003-fd39155a1a10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1349849655",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
