{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2e55dd0-c796-f416-ae2a-c1eda4a03143?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DBC4CD34A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2e55dd0-c796-f416-ae2a-c1eda4a03143/test-blob-a9cb8f8e-7f54-7191-a107-857caada26e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "i/SBT1XYHwWvNDcCXki5xK3Q/qzkUwSTMl7zTQj4zzjUe0JHaS6cF9i2Lgq9pFvPZf4JETMTCDjw7h335NL8t2X/LuMGclp\u002BM\u002BbTLiT51Y0CI\u002BcK7r0EwXMJVnsQpTIGuXalvnZ4yfKjit1NP9kT9hiP9MDq8sin\u002Bmxv/BvfbY6zzXSuVBYXilr1ZmTft4GZ9l9igbByG8eu/cQJCMzXxBxPmXJkZaIBeGlm9Ytkx0Pq1Qa7fOzdQbGt/1dSDYKOHaJIkB0ONZG9YQhHCyU7SjWBHzLGHEcvcVjBtmVLr2vm2NjoGzcl26B1/RvjlTWLcrUh0e1PxwFbGB7FTX4rcrGd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2e55dd0-c796-f416-ae2a-c1eda4a03143/test-blob-a9cb8f8e-7f54-7191-a107-857caada26e7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "E1Kip9j25xvmdsb6pa604w==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBC5CA6A3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-blob-content-md5": "YdE6M0wcZVFDcrL3z71uGQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "i/SBT1XYHwWvNDcCXki5xK3Q/qzkUwSTMl7zTQj4zzjUe0JHaS6cF9i2Lgq9pFvPZf4JETMTCDjw7h335NL8t2X/LuMGclp\u002BM\u002BbTLiT51Y0CI\u002BcK7r0EwXMJVnsQpTIGuXalvnZ4yfKjit1NP9kT9hiP9MDq8sin\u002Bmxv/BvfbY6zzXSuVBYXilr1ZmTft4GZ9l9igbByG8eu/cQJCMzXxBxPmXJkZaIBeGlm9Ytkx0Pq1Qa7fOzdQbGt/1dSDYKOHaJIkB0ONZG9YQhHCyU7SjWBHzLGHEcvcVjBtmVLr2vm2NjoGzcl26B1/RvjlTWLcrUh0e1PxwFbGB7FTX4rcrGdYDNNUy7\u002BW0ORUR4rS9siNUSvKd59lhDWjAMYYI4iSYtpRjUBPh6HI3WqvnbiMMxCohg5fEjTH8ojdscq5fu0bgiSwQSmIPYmKAZo0tia9Fw21r116c1Dlidq3shXXD169U9tUG7Hm4EhElNBakzxiIJq9A49P4U6TyvdO0Iuz8vI7t2ILKPtbjo7VNd5ASvaeVZF7GguPLbKMgBD6l8/8kOHeHxvaFvefYXUAequwU4AAsLs6eJjmbImvvmjqoTa/GGT8YiuaxD6Z2/iWjrLHHGyQuedUwlhJN7KSKpiOtIA\u002BQWJGs/FUZex8oFygT93WqGI8WedPahXMs2q5CI="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2e55dd0-c796-f416-ae2a-c1eda4a03143/test-blob-a9cb8f8e-7f54-7191-a107-857caada26e7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DBC5CA6A3\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "F0W6XJlGgAkE\u002BvezN1bNXg==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBC5CA6A3\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a2e55dd0-c796-f416-ae2a-c1eda4a03143?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "33433141",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
