{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c88bbfaa-da21-b6c5-c5dd-a03c36aaf91e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:49:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86835F3CC088\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:49:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c88bbfaa-da21-b6c5-c5dd-a03c36aaf91e/test-blob-2dabf22b-d666-a4ea-d0bb-d46c15e29248",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "XZq8yqYR7HE=",
        "x-ms-date": "Thu, 06 Jun 2024 23:49:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5IrytpI3QIIbonN/BfWEDrXp4KOi7BzOlHr60BVaxiHK6uuoxHEjJFKF8V9DrZTG2QOUOFE0R/dtIyEYPHBswNxStRoK3EpDxbxRHPu9i+flNPYSxY7PlqPzOqBQC+fhGTCC8Ph6vP25UHKV4yr8r5g6Mwh5WvtOgx93FqGp87rUbwPLO5rva3f4WHQcObN494oIFdfeaL41NG3ZA6VcEF23wXMmMXT9SsiRgQKGMkls/h8Wod3j9QZElgctFmfRm0gXZHg/UsYWCsoPTee8rgIkbQWGRm5/1Mtt4ZttzzRgv+W5b83QLKtYAJYS1KcfiOcECaliS1XZl5Ct0nArqDuWro4BAz80U0BZLUbXb[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c88bbfaa-da21-b6c5-c5dd-a03c36aaf91e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:49:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1488057364",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
