{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-72497617-c9b1-0a3f-ee88-850a9ca5c510?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DBD29ED04\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-72497617-c9b1-0a3f-ee88-850a9ca5c510/test-blob-a14cc005-2beb-8ea9-8707-862380045f5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ee3fLy1n2l26PeBBDOtZKqwlcJJWrJAOjyY7IXNSzvZ8utrD5KwyMy/yX0FA\u002B1KwCh2\u002BGCpgq81c0J8GK7npZ2/qxVEQlUUA8jxjY0xPzpTTixdVlLbLHA4NZxMNLAd2CPfSVjYBn3TXvSXt/UeADQILM6CilNO5HqhDAy4x88Y17FtVfHdd0uyiftaR3h/GjFoRAfhn1HQjGTeOvptFpspeuBDsK5CKrmC0/xX9KECJfHfUIPHNzhjnMWNAzhRQXdgLMiYO2mDJhlOXstVeJvH3BUEkcIXZkOn3BPksSt9MY6E98vUaeqEWCpqdNRtDiQtySMnSK\u002BxSMaE8F9VnnTt0S04zI[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-72497617-c9b1-0a3f-ee88-850a9ca5c510/test-blob-a14cc005-2beb-8ea9-8707-862380045f5d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBD3AAA40\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-blob-content-md5": "0OlHV3ifwgEhQtTSZ9DY\u002Bw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "mzf\u002BcnNuPzc=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ee3fLy1n2l26PeBBDOtZKqwlcJJWrJAOjyY7IXNSzvZ8utrD5KwyMy/yX0FA\u002B1KwCh2\u002BGCpgq81c0J8GK7npZ2/qxVEQlUUA8jxjY0xPzpTTixdVlLbLHA4NZxMNLAd2CPfSVjYBn3TXvSXt/UeADQILM6CilNO5HqhDAy4x88Y17FtVfHdd0uyiftaR3h/GjFoRAfhn1HQjGTeOvptFpspeuBDsK5CKrmC0/xX9KECJfHfUIPHNzhjnMWNAzhRQXdgLMiYO2mDJhlOXstVeJvH3BUEkcIXZkOn3BPksSt9MY6E98vUaeqEWCpqdNRtDiQtySMnSK\u002BxSMaE8F9VnnTt0S04zIDT73YqgDWbrO1rNs3vtuQEVeji068BT3WPLr21eKerMEGjXd2s/Mh6GZ/Z[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-72497617-c9b1-0a3f-ee88-850a9ca5c510?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "988422287",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
