{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f43b71b-3b0c-f882-74cd-a2176594db2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F724AD9FF1C\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f43b71b-3b0c-f882-74cd-a2176594db2b/test-blob-079d94a5-0fdb-c674-43f5-dccbe47c74a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yVncpuqCr2Q1WAExybpVNYjmVyX0fgqWIGMVnzufUkiX7P5IYp3QPpA8J8mas70EhEZasc8ekEtPRoaHbA8olQW5mty7DdPqFhiUuFZB\u002B2ymERr1RKF4eFuz\u002BRsXSdGBE5HE4RngSHdyb5u2idj0DUoZ4Fv0MlFjQCGACBO30sxGE6TFfRpTxciig9QGwu6Dv\u002BvQ/Wh2jOBAYKD3YEBkup3Ob3Y0LpAwxhuSUa98XX0z/Ukn5tRk0IfDhRx5W2SHPsg3N1J3TpBboDdN4zowxAIixGL3PNPIaZ/vcKlztmq2CxLnRCUru664zEadFu1MksEaVpcCkAL0b86ziN7m5\u002BnN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f43b71b-3b0c-f882-74cd-a2176594db2b/test-blob-079d94a5-0fdb-c674-43f5-dccbe47c74a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F724AE9B5E2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:41 GMT",
        "x-ms-blob-content-md5": "ZyWX4CSUdYmiovBXV4gWjQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADJWdym6oKvZDVYATHJulU1iOZXJfR\u002BCpYgYxWfO59SSJfs/khindA\u002BkDwnyZqzvQSERlqxzx6QS09GhodsDyiVBbma3LsN0\u002BoWGJS4VkH7bKYRGvVEoXh4W7P5GxdJ0YETkcThGeBId3Jvm7aJ2PQNShngW/QyUWNAIYAIE7fSzEYTpMV9GlPFyKKD1AbC7oO/69D9aHaM4EBgoPdgQGS6nc5vdjQukDDGG5JRr3xdfTP9SSfm1GTQh8OFHHlbZIc\u002ByDc3UndOkFugN03jOjDEAiLEYvc808hpn\u002B9wqXO2arYLEudEJSu7rrjMRp0W7UySwRpWlwKQAvRvzrOI3ubn6c2W2CdJf9z3CLQ\u002Bb40q[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6f43b71b-3b0c-f882-74cd-a2176594db2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1231538615",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
