{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53341a47-37b4-5597-26a5-f3767541b8f4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DF970EF1E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53341a47-37b4-5597-26a5-f3767541b8f4/test-blob-f923c095-fcd9-0c00-be75-b4aa7863fb7c?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "/dL44Rtv5nJmv5SV7AghsYKH6pIlB9J4qY1cUFoD8wgVwIMtZ7wG/FBZnjQoXSDXrsyf1YhpHPX/gDeOE5UYYsyMfyuF80rFge1By2ieT0xshaGNZB1/rKONLuaFd\u002Bm7QTxonN30UruC2VSbJ1CNYTDqIo30iv6vDNOI98RjQAoDhoosNbNvdzLlC4rI5IRSAM21mlVbx7c\u002BuY8JbFr3HplKl6HGYCt9e6pbDn9z5ihPNff3raa0qL/T7XwkZQvY7uzxfUzii5\u002BhOB6qALg3ytJmujdj/3Hyle/i83OvWBWfgx\u002BSgmjbbKlXVXWHCqcGmyOqvavUdO97/uhdAJgs8t8JC32ZpUdpik6NC6n7aotH21hPBJtqyg4wF4SAfmsRK2OVfv4qbfXcQDJcRmhFf5RcFSRA3O1DnkBuaI3D6QvjfOBGZuuMHW5ic8RpDoSl65fvI2lG0E51UeC9uwRoGFcmecqI/hmo0Pe13Wkp2pC8yH3208ainKuR0BQLzmJq\u002BlptQpS5Hex\u002BR1NykfPlS3dPAfKHcUWRhN0f9y4FnAGVS\u002BMPvJf7A6uQeItzMAu4q4SdvM1w4ogU2763miW\u002BeKtR3EUP1Y/fU/1G9vm6HVTSZkupaOAzJWhb\u002BuDZRGiG0v/gIVPFqNb1vWjPKeyOWr5q5TPZFBDLHbfctNuuBQ8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "4Iv9a4dU/pI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53341a47-37b4-5597-26a5-f3767541b8f4/test-blob-f923c095-fcd9-0c00-be75-b4aa7863fb7c?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:26 GMT",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53341a47-37b4-5597-26a5-f3767541b8f4/test-blob-f923c095-fcd9-0c00-be75-b4aa7863fb7c?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DF9907A37\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:26 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53341a47-37b4-5597-26a5-f3767541b8f4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1890742750",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
