{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-677c8cb0-9a10-8b7a-45d2-a29b926f3a76?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC72CA10E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-677c8cb0-9a10-8b7a-45d2-a29b926f3a76/test-blob-120a64e1-bb1e-4b8c-90d7-a0839bf5f140",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "9ZyDpCl84sdV6Sykyn/Mhw==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OvJ3B8SjSzCOV9X3teL3X6EdOwKD21kYorEtoPt0YCzJJ12gbinAvES7z8VKv4gMcyPnpSlNOl6ZX2QSdas0GvaoLY6FVvB4XX\u002B\u002ByAyTzeIpISzYjLoDfO3\u002BBw/FrUeYhrXPopL6hxwyb0ipjnFSBpGB6VR/XI07pLCghk/hsrA3JUFWxCpQLpkQpR1yWu17rAF9Q8PzGSkok/7hWQHNUbyXcWgw\u002B0FmMLu6b7dwyUrCJdlOY27sRAwYLjAsb9SXQlRg2\u002BiFS7C/FhIIOKpyt8qzHjQnfu1Nqi1cGM0ROcHmIixjD\u002B1iPdopjk1c5AxipXZmeVCgcMNmEj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-677c8cb0-9a10-8b7a-45d2-a29b926f3a76?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1384288000",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
