{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5fa20ce1-e9b9-290b-8db7-2fe0417383b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22E9551102\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5fa20ce1-e9b9-290b-8db7-2fe0417383b9/test-blob-0591713b-09a7-7f06-d48a-102bc663f0b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAlWSLQ7Z77PGvopAR6lYYrA0z5gM11r8Rrewmx5ISUpeXJUUlA5PVIxmmiITWkoh8ZlBrZHE/Zr6peZXGVSlfnVP4fsUM86x5Wsblj0o2OxtnqmFBquomW8KGf4X+EsnsSu803hPHb3an7gmuVdd0c0J6YqrIHfJl1icCinAmf0v49URfAVkHnD7qnbjceAHrEgxHh7AjJCz40wvswOECfW7BtVyTFXHlcsJr3Xw5hV4lG3hn4vub1dEbYi5RGttd6CBKHsKhV/iaYhDtt0qsw0mty6lonp53Kd+Pe7dDkFvnDfFf72qbg8N/yXzmqiKKaqLkp08x8U2F1vTnFdxFWs25CqVVUNffFkvl6NEdjH+9AREUWu0IsRin2hR1sGnnOnKzLaN5[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5fa20ce1-e9b9-290b-8db7-2fe0417383b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "559960981",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
