{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c1390cb7-0843-83d6-845d-ab5c28571dea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F842EC76A55\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c1390cb7-0843-83d6-845d-ab5c28571dea/test-blob-6c8985c7-3f3b-6de1-0c00-89cc59fae322",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eoGgWYNMc6F6UNmiNVO\u002BWetb/kOn8IMEmapWTj9Reb6lTAhDihjMEXEOsRcmQbW9C3xUEyq44In\u002BnMDY9SViKdYb/ehLes/TjuzRmT5r3lf1mULC/GaU7Wx\u002BRe5X9BxMrIhAC0TMcZGtgYU\u002B50ZKkr1o4lzjnyxwhg98zDTge5rQhO22K9MTKSewFHvgVgYlNLIw7xG/aAxc0IQ0T6VdzAXqbWJZlGfqVLk0MoqwjzAJV5iBsIyJEBvgWVpO39mCU0d29uikzJ9LRZtXijaCq0BUKvgN2xx5YVxGeDoMm3Tfst5COplHZYv4NmrwMYXlXq4a\u002BrXhdHcr/ZSLXVN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c1390cb7-0843-83d6-845d-ab5c28571dea/test-blob-6c8985c7-3f3b-6de1-0c00-89cc59fae322",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F842ED60F56\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:45 GMT",
        "x-ms-blob-content-md5": "F8cezwukc25VrQMUUT6iCg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB6gaBZg0xzoXpQ2aI1U75Z61v\u002BQ6fwgwSZqlZOP1F5vqVMCEOKGMwRcQ6xFyZBtb0LfFQTKrjgif6cwNj1JWIp1hv96Et6z9OO7NGZPmveV/WZQsL8ZpTtbH5F7lf0HEysiEALRMxxka2BhT7nRkqSvWjiXOOfLHCGD3zMNOB7mtCE7bYr0xMpJ7AUe\u002BBWBiU0sjDvEb9oDFzQhDRPpV3MBeptYlmUZ\u002BpUuTQyirCPMAlXmIGwjIkQG\u002BBZWk7f2YJTR3b26KTMn0tFm1eKNoKrQFQq\u002BA3bHHlhXEZ4OgybdN\u002By3kI6mUdli/g2avAxheVerhr6teF0dyv9lItdU2Q\u002BqSZ311c/cacMxWwUpbGIL9dgGYzyob/\u002BPWcWPQS7BzeT98DKua2OHzxz7fB0YNJ6dGS0/TrYTAhmeZnwKDOiUL01ga3wvXUp0vpPf7PPid2UnMigBwr9uqu4Y0AUnfYI0JwyP94kibbuiyo/ic1Vl/C7W4xrAkmzN8YCOFo1FTQERq4WnUn/cBMRsXvfvjHdY8xQWEFqnc5TfgcYIVBcuXb1OkIfPvqmvOt4WVDO1HmUJNWN5bzymqjfwx5B5k7CtPgE6YPvviTRqZtW8UR9haqNg/x7z9S5AqCZP3vbZNWctqRYyev2pWawuzshnKhkYT50tGNRRuUkS\u002BbiVX\u002Bp9i5ZPSxXE3UOLlk9LFcTdQ4="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c1390cb7-0843-83d6-845d-ab5c28571dea/test-blob-6c8985c7-3f3b-6de1-0c00-89cc59fae322",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F842ED60F56\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:44 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F842ED60F56\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c1390cb7-0843-83d6-845d-ab5c28571dea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1003952884",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
