{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9b00181e-c6e1-1a85-1c4a-178d7485a994?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD3887ACC3\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:09:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9b00181e-c6e1-1a85-1c4a-178d7485a994/test-blob-157c8d9a-1640-d975-559e-835c86dd0c30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:47 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACAFywYouAIvTF81dthCkXXulGfyR4fTmGcE2gTmuwdVNFt+r0YdyIMoalXyZFNdgXK8D8U0GrYYMjKe4949SNFXoEK9A+IvkIvkyh1yITPT5xiSKmsCYNmlJr0TvySlKyGEmsQQoL2QjH95T1CY5hE+ivyFax5mFT9pGB0k3BFnP5777UYvw0abAZ4ryRFJDACsFPRn34ADHkWE54iga7Bt0g+xnTiKzse2KilAekwt38vcuMddPx/e+I8Aqxv+OtXtvfcBl67IIQXs8fWWgqP5lse8g7LpENLv0qSpimPr+C9TkryVLAhc1JeBcE1qSHXrBtQUAXcjBK0kEcTKXlahwPmGAzAnZGq/H68bJ6BFRUpuvkNPl7b4MI4PcNpDkrYA369T5E[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9b00181e-c6e1-1a85-1c4a-178d7485a994?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1756712089",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
