{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bfb39bce-6346-af98-3252-4a9dc6ac2040?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7248A238DC\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bfb39bce-6346-af98-3252-4a9dc6ac2040/test-blob-2038ae79-1f75-9232-d8f2-4e5d144a0e35",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "vq3V1l7YbKQrL7y1d7vZ/u3mJTGjxGq44HBaBCp/RG5UrB0oXo4EoChkMKdVE/t0iQIDWG8KnPpCHPXufWd6q\u002BpOYcuesZ9e4oQIP5TCY8115nonfOz\u002BSg8j5UKYFiLB6YS8BrIv1ddipHbqAVxlgLkoeJfsUi/\u002BUBe7e8xdxsthR1UPBl0aRRCjxNd1E0izvWWIb52L1JdVvraadFoKBd6qibkGVXpcDTOGSY1XiDzOB71n1FYu1XO9ukemf9C1mL/5y4qOrGfrLGFqBYsK/jV5zGydozGHfLNGSJsytY5i0bDOXr2yP1tVfKf1w9Dos7wRLLNjGPWNck/XSGPMuHfTBzPaP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bfb39bce-6346-af98-3252-4a9dc6ac2040/test-blob-2038ae79-1f75-9232-d8f2-4e5d144a0e35",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7248B23DF6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-blob-content-md5": "UY/dox/ZFdfvXS7Zqjr0eQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC\u002BrdXWXthspCsvvLV3u9n\u002B7eYlMaPEarjgcFoEKn9EblSsHShejgSgKGQwp1UT\u002B3SJAgNYbwqc\u002BkIc9e59Z3qr6k5hy56xn17ihAg/lMJjzXXmeid87P5KDyPlQpgWIsHphLwGsi/V12KkduoBXGWAuSh4l\u002BxSL/5QF7t7zF3Gy2FHVQ8GXRpFEKPE13UTSLO9ZYhvnYvUl1W\u002Btpp0WgoF3qqJuQZVelwNM4ZJjVeIPM4HvWfUVi7Vc726R6Z/0LWYv/nLio6sZ\u002BssYWoFiwr\u002BNXnMbJ2jMYd8s0ZImzK1jmLRsM5evbI/W1V8p/XD0OizvBEss2MY9Y1yT9dIY8y4d9MHM9o8n3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bfb39bce-6346-af98-3252-4a9dc6ac2040?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "963796293",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
