{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc116b34-c365-5689-038a-4c84eb5e2d2f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DBE1ADC20\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc116b34-c365-5689-038a-4c84eb5e2d2f/test-blob-1f9d7f13-8b84-d27e-3a7b-68990502de62",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "uy87cX9gd95I/YVdhiBV9UZ4lp48oGKK/52ugTBRFHdIxK7R09JTjdRDRdCDi2M/zDCLhUkgPBrNsXLhsvat9\u002BgNFMFyhCF0JAnK\u002BVuRBnM6b7T/xY8tKIiTBCJgctrelU3ndnehzEgOF2BAVkK/O6r\u002Bp0JBrjFZ3\u002Bw533//E7Iu62MNqpD8mKJr8K4u7dFF08h3YsqYnOccjZaKaOzIDwOuEWrespAaAQ6f1r2DK/Ia8wy3iLHnlk988Rz5cjC2ouGqf9tnZiA4XGG7\u002BMUpmGKkcHTgEYdSxnsaYsFzIY7e6TPc2KsWso3rfitQK56JU1i6VQK71ZBaWLlgTAR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc116b34-c365-5689-038a-4c84eb5e2d2f/test-blob-1f9d7f13-8b84-d27e-3a7b-68990502de62",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "5XEYQp0Xu1b3S5IBVnYl7g==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBE2A6172\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-blob-content-md5": "bMhsTqSkIa8yKKDv52m76Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "uy87cX9gd95I/YVdhiBV9UZ4lp48oGKK/52ugTBRFHdIxK7R09JTjdRDRdCDi2M/zDCLhUkgPBrNsXLhsvat9\u002BgNFMFyhCF0JAnK\u002BVuRBnM6b7T/xY8tKIiTBCJgctrelU3ndnehzEgOF2BAVkK/O6r\u002Bp0JBrjFZ3\u002Bw533//E7Iu62MNqpD8mKJr8K4u7dFF08h3YsqYnOccjZaKaOzIDwOuEWrespAaAQ6f1r2DK/Ia8wy3iLHnlk988Rz5cjC2ouGqf9tnZiA4XGG7\u002BMUpmGKkcHTgEYdSxnsaYsFzIY7e6TPc2KsWso3rfitQK56JU1i6VQK71ZBaWLlgTARfxDvS3Q6STcC2jb3n9JJbAZrdkQ9oucuMIxSign/ytmWIi7rwfU6P9waXA8dF1OD\u002B/lYegrv19gpvRbr678pAxNdXXmnYaoNLTZkI0LUER04zpIMo0zOqkpSwgTiUlQg7Vj/w7XV3JZTT0jUi7CVUa/5rxkpHGPCjrcvUJ\u002BlLt7eRzXl2E1nZu37vVQD9h6ZvWxY5Kc\u002B99D5OTECpo/2qhxt\u002BkB\u002Br3lekkQrLWMLvpiUlZMzTEY3o1Nk7KMcZMBiARM7lf/aHw32\u002BlZfE8Zt8XqYbgz4x13WNlbxFcLWQi2HyShPzCiYunqFPFHz2JOI9vskg/qzZT2xYV\u002Bo6QVLHLgk="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc116b34-c365-5689-038a-4c84eb5e2d2f/test-blob-1f9d7f13-8b84-d27e-3a7b-68990502de62",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DBE2A6172\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "p3viui5cT94K64DYb3N9Gg==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBE2A6172\u0022",
 [...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc116b34-c365-5689-038a-4c84eb5e2d2f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "12529220",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
