{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d85860b6-41fe-572f-528d-95b24f42c8b4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8683133A8099\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:47:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d85860b6-41fe-572f-528d-95b24f42c8b4/test-blob-da09619c-99fb-4733-9a17-1ce0d6a9e7b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "yM9uAGxFO03+WZwEkf5YTQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hXARLtQ1ZO/vT6lrvyLPiTT6z4kw5j8e67ZTCVGq7Xs51ocXtyrFrGEi8yUXlFdiQ+ySIeTQeZ8w80Me4lueRGIuMemat9IJNCIoDvIZB1Ze8cVlF8uWaVzo5sTnp8oFg67D6GNux4waiezBp2utF+vsv/GVOS2Wl8eMstENIY1YIopDVh7z8Ck5S43e1MLxOs/Y++fYcEqALFCb4RW6DGdfaYTgacDN+M/IXO2gt8MFm3cBNSalf7I/winNWA4Tfj8mf2s9ENEOCwMYEBNc4HWNlUadudZBuunRoKeX/5/AtN6ueThXyIqm8iojjG6f4uGzQMLIdcRo5cSBa28pdwtjV1s1rmc8Nc2798arHS56[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d85860b6-41fe-572f-528d-95b24f42c8b4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "703433508",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
