{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b9efaf6e-5cc5-4483-e3ab-67eeecd858a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DB7FCDB07\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b9efaf6e-5cc5-4483-e3ab-67eeecd858a0/test-blob-069322d5-8115-ffe9-750b-9b1ac794b831",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "CuY6/CKJ6QHY1jVCy/CuGzSkB4ITuJj70XQv/l\u002B\u002B4A\u002BVW4ivjXqgXX/DxzGx\u002BW5NefHkk2xqIVJNPyuuWeuiGvUmrHBn/o25BKkDT/BnSdcF4oRu2UyiKzk2YU5O8QOUIa07i03\u002B5npjK4/DZ9Ji5vVUqHdmM0Cpg4E3MJw/ahKlbi5CLL6JB/wKC66938Nm03tY\u002BkiMLu1tkgfMxrXdI8B9HfikILk3y6F7XCiR7KS90Fwg5nDJGUBA1Jq2vUBGLOftQMHKwrPCIS6nEdLE26ZjDvVYvD1PswS4Y0sfgQ5gNC9Bo6zi8g6pXsVBIghtfPnzUq5L7m\u00[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b9efaf6e-5cc5-4483-e3ab-67eeecd858a0/test-blob-069322d5-8115-ffe9-750b-9b1ac794b831",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DB80C11E8\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-blob-content-md5": "6WEICZLJJz4HbuP4sohYcg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "CuY6/CKJ6QHY1jVCy/CuGzSkB4ITuJj70XQv/l\u002B\u002B4A\u002BVW4ivjXqgXX/DxzGx\u002BW5NefHkk2xqIVJNPyuuWeuiGvUmrHBn/o25BKkDT/BnSdcF4oRu2UyiKzk2YU5O8QOUIa07i03\u002B5npjK4/DZ9Ji5vVUqHdmM0Cpg4E3MJw/ahKlbi5CLL6JB/wKC66938Nm03tY\u002BkiMLu1tkgfMxrXdI8B9HfikILk3y6F7XCiR7KS90Fwg5nDJGUBA1Jq2vUBGLOftQMHKwrPCIS6nEdLE26ZjDvVYvD1PswS4Y0sfgQ5gNC9Bo6zi8g6pXsVBIghtfPnzUq5L7m\u002Bqnoy9El9ooqAgRtyigzf6gBznr114DpD7SudSKy5fFUXAlwUfJeCvQLwkINwry/nB\u002BdKSYz8RMo/8wch4FnZywTGW4usx2ls8OG6hU\u002B200H/tkDFbzbEGr2R2ImMXNipGsl\u002BrlekNjx53VivQb96iSPFIioVEFvN/kDOGu7j3JAFDW6GNCDqV4AES5HeGNT\u002BG09lyzqylAZtsLAW2htRmgDIpjRQ9FT\u002B2s6qDMTF8\u002BFrzAOfehFVVnlkFIdw131ktrGRFXagqSb6ZuxsCIdBq7zOqwoXsh/vd1O67N/NjgNNQVoXNN5qxybcpRMg5UnyJmzGoix3UQSRpaIm5bhHKNjtIsstLnLg="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b9efaf6e-5cc5-4483-e3ab-67eeecd858a0/test-blob-069322d5-8115-ffe9-750b-9b1ac794b831",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DB80C11E8\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DB80C11E8\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-blob-content-md5": "6WEICZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b9efaf6e-5cc5-4483-e3ab-67eeecd858a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1901901729",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
