{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e722c575-b9c7-7641-2777-d014b8b0329f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAF54225B4A0\"",
        "Last-Modified": "Mon, 12 Aug 2024 17:36:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e722c575-b9c7-7641-2777-d014b8b0329f/test-blob-38ac1580-893d-6462-3109-fe5ba904532e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:12 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABpcWWhBPziCSKVY4E3yrlirjxafAZ0bJdah0quJYEpNVxODEtfJo+9WZ+bnduq4eEt5HMm9Gwt9QXOR3yyNOShay4k6L5tAoisnSJn2M67sKZpgEENAkDwIBdGkd8TCiW7+jKthfgiv+HqeldJxhw2E5bWSLOik2jtNMenJ3ComZL8q96cDSqtRsFfIojpplr7D35IPMJyGGfJv1Exe5hwQeHETRs9mgVsKALxQ3DgA41tqxfyYFzPiZJ30k7ZfMoo7uCnJFk/vXV53BTAgdX26bzEw8+BfuGE9cSIxse3kqw3yVSPON4zLe6heYRIDwi8gOiRFbj7p3D/Ii+VtvetwklnibeBZ7DdkJbh3wVdPOW7zEXfJX30PCLkkBavnnf29Lc64IZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e722c575-b9c7-7641-2777-d014b8b0329f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1333707141",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
