{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a8ed1801-abf2-69a9-51e8-3ac67ed85ab6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC9A9AE8F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a8ed1801-abf2-69a9-51e8-3ac67ed85ab6/test-blob-7eb188be-dfc3-4b5d-2e7b-abacb42ff69e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "xNvtc2MDUW8=",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "B/TK38K3BFe14qvB9VBGwV/RuvxVRI4TDdwQrIJuU4xB\u002B1EvxainU34rYEXfWTZ9GGaU5rXzZMNlt9LlplfVRo4fgPn\u002BFvy3KWZ9KuRJNLOlk5Mc2m3WTpaOyg3WwawmVRm2v9g9fgJp3bxOdTrfG4MfQBPEuWshSDJicEvu4Gi6V9TKk3TaZxSRsv2xh9hcrq\u002BKt4CYYpytlXem2g62e/xTlB5lFIcPRNj/MgducMFZBcGcYynnIfQ4HP78NIwF2zYBXfK595one3KomS\u002BVPyS1TdVMGRfSa3MpLPiJEhBL\u002BVfQbBPOnw4ndei2P4fFo9zZRua3ucIfL/F\[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a8ed1801-abf2-69a9-51e8-3ac67ed85ab6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "813800565",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
