{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-92a0cf99-0099-e531-12a0-f1d8d0fe4e9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868316CE7DF0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:47:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-92a0cf99-0099-e531-12a0-f1d8d0fe4e9a/test-blob-82ca3ef7-c13b-84f3-a751-733dbb3e9229",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "HJ09/Q0JSP0=",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hcnrdpOy0Wd9ib82L9qm+Fe2C8H6I/sBleAvgReeK8Q1dNF1LtKmGTycrhVLzggKJyFcNAJrYmLO6uCzg1BQ3176AbsIMMqFEPKEXXXltcbYJFn2QvbCyRFvpkPx85XsTM63UcxNAfZW1yQQ5wXs6TUa2l/2WZxnODipmYmHkxxcmBCmLWT5iyNjn2vSsuEMgr0N1xg29vMyTxiUo2hsz0MHs0/0RrvRIE87krkxlYZWnBbMebwEJaEddN1LZee69s8ny/6SGDwCPLfI+mM5ALqSPgdRoFaHAo2t1tHdhbpogZzpCcqHw4TayTwEOyo95HMjuSfgaVZ5oMhw5UFqJbb8YHnHT/bwCnqCd9cZg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-92a0cf99-0099-e531-12a0-f1d8d0fe4e9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "908416878",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
