{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eaa90ac5-d91e-1f92-fb6d-f627eeaa3e38?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD37F1B424\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:09:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eaa90ac5-d91e-1f92-fb6d-f627eeaa3e38/test-blob-e3bedbe2-81ae-9f41-fbdf-a4c72494d7a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:46 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABKZYNbTa8Udk+0Qo0tK28bWWQnIYcCyeiCazM7lOngNvIhHUpcuERPuazsusGxDCwXn3ewSH0DSJya2eF82eFm0wubCw4kvqEf2GjaFQ4m0F8GI/VxL+50HtSuwt9j0+DLhee2FgAd8uHWkXAVKDKNcwiBdbXs9KQdJu05dvvBuwSID48ncLpe6DATm519X/WiIE7W4V0q3pFCmPAT5HzlFNVrjRmiZgJNI4yE2FkGoMb3llWs6tqnXTD+5NjKSgSzLofIEdLcALpMib7RpQU4PPcpG00nOCn7xC/oo4Eqg9iI0KrSPo7zG5abYGEb1rcrxqjgoC+3jPVdzE2i81w4IgblSdRbZf1pNf+2jNjH3+53vd3ZSeKp0ES1dHFBUCg6Yj5bNY3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eaa90ac5-d91e-1f92-fb6d-f627eeaa3e38?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "227605208",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
