{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6e0e1828-8547-38fc-1785-ff2c30373642?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E94E7F7B8\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6e0e1828-8547-38fc-1785-ff2c30373642/test-blob-d8bffb50-f3d1-842b-431c-073cd032a9d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:54 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABq6AsYEDQ7IGbK602I/4HD4mpQYvVL3QiLQOWhYhYudj5Dk81HioSnkyKEmpkLYsII4riru1nDHgoDjM9Omb1QnHUORGy0e1jlqc/Tx0NugN4jmIBdgrrlgHTCRP21WflkM/0j/R1VVGZgxRKK8FfHlAzxKgA98hm7KMT38TZaMFDVb5NFS4LBzUQZ/b2nW5Ad+7Dwwy74JkHkaNRYXmIvBpXCtIDDgUmJL128I/VcFM0z2vaGaWwi3EhSYeKuaG/h6vcn5aYPWXlnZ5PQPAJMh1QGJINsqZwooNg4cR9m28ft2zn+NC8nJIF8HgLYUaBFBdqOqEPrdEBa/0TO1udaAYvM42DJTlIl3gAC74qaT08382xF1zODAmb4ozXqWU2ZIh12DG0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6e0e1828-8547-38fc-1785-ff2c30373642?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1930643708",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
