{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-46901e9b-131c-14b1-e586-f10e3de4b514?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC3F1C204\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-46901e9b-131c-14b1-e586-f10e3de4b514/test-blob-d74bb668-86a6-5563-d83a-2a1bbac44d72",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "M/HKO/EvjyXD\u002BuLdTBJ68A==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "7XnGsxmHSpKlOmRtQLrxh7DyaypaBgvFhU75zURzSdXA\u002BQipmCPkG8j3Cs/kv0MCBD1VGaHDfuduAC7LjnxNMfCOrUaxR\u002B6MDVBhY/w74MUL9sgGHi8z/HshO5f1GY1LqdjeVRL8UL1OyAxRYRrrMiBov5e0RhPBW7DLkAxXl/TDFrojXYqzD6YLuFUj4ZtgNgh3jFr2l2LFHPphMMCw9jAXjktgx9WVtbDxqI69nnkValkE4AuazX5XXkCQUd7lWsEkC1NPAG4z4depBO/UCH6AS8ZmrBYlfcHNCWmUBWPRC03NmJImxWrr0P8z8MiPg1bCDwYXfq6q/o6RgvcFn9xz1/mhB2/sWo[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-46901e9b-131c-14b1-e586-f10e3de4b514?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "745314444",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
