{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-38a4475f-ec77-c2b6-62e5-0a462a0484ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DF6A7E48C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-38a4475f-ec77-c2b6-62e5-0a462a0484ba/test-blob-06cc4ac7-c39a-b0f8-0906-0604e88afb08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eikVFNYO/6GWofBs\u002BoWPTukRHkqRLv9w2l3TwaDWGiZE6LYJ/ugiGuDRvxklAIZRq87x1wJ8d0sqpTp4Oz4BwIbJJxHOhVAA7wRpwG/lS9nXgRXR5UIjyHFr3liuqd6i0P\u002BSW9h1giV\u002B8Oj\u002BErfcRFlgobkoL9pEpV\u002BgY6b3UkYlx\u002B9wUu8BYv7vU/RZJbW5jpn\u002BTQcleqAkTrV41B9\u002Bhp2i2UvHa/JqXz\u002B6ONzm64Cp5tQM\u002BAU\u002B/0xOTAQ6iI3fcc1Wtkxq8iOnlO3Ha0LEPWI0z\u002B1Lco2YY9n\u002BeB/tMNe[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-38a4475f-ec77-c2b6-62e5-0a462a0484ba/test-blob-06cc4ac7-c39a-b0f8-0906-0604e88afb08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "\u002BZRtaMXtA8PlJ5HZYQPPIQ==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DF6B7917E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-blob-content-md5": "nqEgsB6b0Fz99aUY1Dgj6Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "eikVFNYO/6GWofBs\u002BoWPTukRHkqRLv9w2l3TwaDWGiZE6LYJ/ugiGuDRvxklAIZRq87x1wJ8d0sqpTp4Oz4BwIbJJxHOhVAA7wRpwG/lS9nXgRXR5UIjyHFr3liuqd6i0P\u002BSW9h1giV\u002B8Oj\u002BErfcRFlgobkoL9pEpV\u002BgY6b3UkYlx\u002B9wUu8BYv7vU/RZJbW5jpn\u002BTQcleqAkTrV41B9\u002Bhp2i2UvHa/JqXz\u002B6ONzm64Cp5tQM\u002BAU\u002B/0xOTAQ6iI3fcc1Wtkxq8iOnlO3Ha0LEPWI0z\u002B1Lco2YY9n\u002BeB/tMNey28cPjzQ0PvSxZWQXd5QKig6hBbiflP8/vlJybHoEumQWFZB6ta4uAJD5mQwpgexF8\u002B0QSyseEkfIz9HhwdJ5raoAAWIEj9VgcwQopvryFj1mLXiM82849wJJsuXcTD69f\u002BxiKH\u002BJQGQYr9cm9mtM1riUe5Ra7bk7xwlfu9zvgybGaiYNj\u002B293OwUc0SXEgCX/NwsSNGpY5IzJ2F1KoWHKSuxYIxFP0bL1p6nRnl0o7QJyL4AwjtVHAaT2miMR7JnjUkY5rJzUb2WYXEzAh0YvoOsbGHGhmfwW0SGsWXePo/sQLgvW70ClXYBamDJIhrpehvk39tQoAbiKIpt7aBYtyLiR8Fk6WLGqtbqxBwGJjkqnDZJ\u002Bl\u002Bzm5\u002ByTTMylKg="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-38a4475f-ec77-c2b6-62e5-0a462a0484ba/test-blob-06cc4ac7-c39a-b0f8-0906-0604e88afb08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DF6B7917E\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "/AjOIKxWqSX0\u002B1EW\u002B06M\u002Bg==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DF6B[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-38a4475f-ec77-c2b6-62e5-0a462a0484ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1709226078",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
