{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6842566c-b546-a8aa-4673-a8286713c7af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8429C22FD2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6842566c-b546-a8aa-4673-a8286713c7af/test-blob-f560be60-a8ea-dd78-42d6-7b05a6095d10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "x3s7W5nTBrqvv9CqzvsFF9ABA6k9KOXuYo0zlTbPDy8kyOcn9EgNULcb7wklOiz\u002BrWQHcWTO4Z6VTfgLn3GD4LChhQYU3iOH9LPxITncyShgNOfRx57KVeZIkadPAbBFmA5Zg7Qm6s9Bf3yx3b9luYPQq2uJsRgS1jAfy0x7N/MCq4kqgkVzOUoYj0chGXgn49cjf1VFvOb1R62EBx\u002BCxUiJrjE1Ojc\u002BXHIgcSLQ8L239\u002Bd0WLedvO\u002BjNTuX7jEqlcn/mGpH8amg5CPiJEvEJFbwzA84Dm2Q6/FBkgT7pm1B9ttY0VhScAY903OUupik3hDlpyIh8odcb6x4BV\[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6842566c-b546-a8aa-4673-a8286713c7af/test-blob-f560be60-a8ea-dd78-42d6-7b05a6095d10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8429D8E9B8\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-blob-content-md5": "ocpPb7BjlqVzj2KDe694ug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADHeztbmdMGuq\u002B/0KrO\u002BwUX0AEDqT0o5e5ijTOVNs8PLyTI5yf0SA1QtxvvCSU6LP6tZAdxZM7hnpVN\u002BAufcYPgsKGFBhTeI4f0s/EhOdzJKGA059HHnspV5kiRp08BsEWYDlmDtCbqz0F/fLHdv2W5g9Cra4mxGBLWMB/LTHs38wKriSqCRXM5ShiPRyEZeCfj1yN/VUW85vVHrYQHH4LFSImuMTU6Nz5cciBxItDwvbf353RYt52876M1O5fuMSqVyf\u002BYakfxqaDkI\u002BIkS8QkVvDMDzgObZDr8UGSBPumbUH221jRWFJwBj3Tc5S6mKTeEOWnIiHyh1xvrHgFX6SlPrWhLm9sU/6dXAn6Ovn7MFmds/QW/0sfA1P7Yavaa6aYLjXfGWk0crzmCcUX\u002BE1jc3seZ6uwjj5pgSoccPFSw/BjYgvDHBfvaUA3L/WFCAsFl\u002B4wuwP76KD3dZc\u002BFwLLlEXVtJZCoFdjLv5qeF9J43kfF9gDIQjsZ3lrzKZ/sVE\u002BbJuvsFN1wveWzIwFkG9BrZIeHwApx3I96Ewc19Ox5H2sLAvEmTIlqlTgbFV759cKKh4TYZFQFaUoccgHWOsj5OgOWGRjfBRf\u002BXSsSFodwgF0Ea21nYLrWxZmmydqHVFovYdtbI5zpq0Js2gdpM1KC6/Hkkc\u002BbkZlIvxN/eHt9UzdYiJGIDEHTN1iIkYgMQc="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6842566c-b546-a8aa-4673-a8286713c7af/test-blob-f560be60-a8ea-dd78-42d6-7b05a6095d10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F8429D8E9B8\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8429D8E9B8\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6842566c-b546-a8aa-4673-a8286713c7af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2097589700",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
