{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a69a9010-5e88-657e-0227-a4c31a895985?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD10C6A306\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:08:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a69a9010-5e88-657e-0227-a4c31a895985/test-blob-044432bf-0b5e-2ac4-150e-4ad2205f40b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:40 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACYwixbXTC9YR6eM/axrgWbgXgYpupToRb4V3Uwa8ISG+0QN505S856tT7nRa7V/ZBdpy5wP/yxRCEWYwW7jPVcixgJoXZnYjWqnvGsbFxnIlrk08OTotzwXvJ7I+jJvylIi7mWzFsa9UX4xaALBdjFrkCr1rkyyOk7GEKD6z9N4d7HY+Gi0Vb/yt5+mtw75FkatnSnHuhvFsLQWrMYlwkGq+TCQ6H2Itzqqwzbsy0MADTpaDXKpcP1WE0e0Xej5jLUd+/3eaC4I5OXvXLclGKVw1l/Ly7UPAUhzOtT11BlRsTZBjs9FIeTMEShMudQGcPriQ0dI7cEADvp1qy0ZUtCMnatAo0mV6/S6/7pMwkd0LIoaE5DSCMM1QYAUz7a3sv5XgBxoxc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a69a9010-5e88-657e-0227-a4c31a895985?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "552411244",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
