{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f74ac091-f470-0945-3fed-f648bccb88f4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DBA27348F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f74ac091-f470-0945-3fed-f648bccb88f4/test-blob-0d35f555-a107-967d-dbf9-2d96c5712566",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "MZZ61bC1pPvlRP\u002BaHWKzHRkLI6RiJij5RecyB\u002Bx/OA6iubG\u002Bp/86bnNufIgGkftrSotBwcWPugttgY/Jgp0PZQvx92Ox9XUa0bQx9Kmg8rPrx7xgPndIE/\u002BmUSVvcOzVXxZ9FZmYulUWJvAQXsZhzI/c3bvgrieTqORkCqRQq2DIW5STI90ZUw1nSheGN7Q4RISWkpMw9LDv6W21M6\u002BxxXuPSAIxzqmxw4qteWQPDXAvLMUfuRnNl2bkozpwZB9dtoSc9\u002B\u002BxBnbb5c8Ig3tL4Nv8hQfpkQxhwrCcTCpuQV5qUMLgcxaAfSVPRNRJxBTrmcNec94Yd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f74ac091-f470-0945-3fed-f648bccb88f4/test-blob-0d35f555-a107-967d-dbf9-2d96c5712566",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBA3707DD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-blob-content-md5": "WkJUvhy4fpDeBBBf6Cro/w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "zQpiB1SyPY4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "MZZ61bC1pPvlRP\u002BaHWKzHRkLI6RiJij5RecyB\u002Bx/OA6iubG\u002Bp/86bnNufIgGkftrSotBwcWPugttgY/Jgp0PZQvx92Ox9XUa0bQx9Kmg8rPrx7xgPndIE/\u002BmUSVvcOzVXxZ9FZmYulUWJvAQXsZhzI/c3bvgrieTqORkCqRQq2DIW5STI90ZUw1nSheGN7Q4RISWkpMw9LDv6W21M6\u002BxxXuPSAIxzqmxw4qteWQPDXAvLMUfuRnNl2bkozpwZB9dtoSc9\u002B\u002BxBnbb5c8Ig3tL4Nv8hQfpkQxhwrCcTCpuQV5qUMLgcxaAfSVPRNRJxBTrmcNec94YdCV4OjQ/FblLbaNwnjK4a23FfAfhmkw3F/2bsLNnD82AUdudZzjhQGhsA9cw2SbhMi1WmPfXN9rYQCI2pGQF413W8ExXGwM05DufdJZ1Bz7XuX6GEXbWqBoBxCcVqpwDZh95WunZihcpIbS7N8JDYzjkX\u002Brmf9Ln/0cyVVbcHzqfnA52\u002B6xV/S5nXfDCG3FXvWHuMUqyHedNklqhpzTBTQJ6HJu0zWeLjmG7fyLhJePW2pj07e3v7X8nKGhSs1X6pQ/uSP/Wo/D6YqLp9p3FbG12y82czF8Uii8cjaT\u002BOdoLwdkS89zkADan\u002BopLBvbhYbz72\u002BiIXdmv2r3PuRZL\u002ByjH3TXEsnmQkss="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f74ac091-f470-0945-3fed-f648bccb88f4/test-blob-0d35f555-a107-967d-dbf9-2d96c5712566",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DBA3707DD\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DBA3707DD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:4[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f74ac091-f470-0945-3fed-f648bccb88f4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1420001909",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
