{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-08367628-3e42-6480-f59c-00a8307c7824?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC13EDD90DF\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:56:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-08367628-3e42-6480-f59c-00a8307c7824/test-blob-9ce913e1-780c-5842-9f61-849aca51dbbe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:24 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABZY78r5pNezSEhzIaPhvPiTMeF/e0WMV8nHygovFJH/D//oAxTJFKP1MFA0v/R9Ep9u7cGu37CQjJgA8ZrNhHP2dBGkObnjyh09Sks1l9gViveqgCaQUDBPF3a8iGLJJ2vcfgvi2RjliyPksZUlmzS/62bjYsRNJiPhFOJDZwG6NCLfGRnMcrHehTTC696bKbwB/J08JcSnj1fnwYQ2oiPiKn1yBkHa87i1BJ2PSjpFBetmAWqkvg4ed4nB5HEtp+LRIMFhaOM6JwkkhuEm2AVdoruYkKD5faxvE874GQ9HR1z6vmk449zIa9ohQDctN19EpAG1lRdCF+NU8hUUAg453T9EbBncJL7ekGSGl/11Ahyvc7TNkfJFeKaF4/GH9CnMJ6L36I[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-08367628-3e42-6480-f59c-00a8307c7824?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "22267977",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
