{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-220b6226-32d0-b5ee-25af-b8b354da9537?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F724F7E7E8E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-220b6226-32d0-b5ee-25af-b8b354da9537/test-blob-e89173bf-a995-90ed-876f-053d627b14ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LPqboVMHrD5SRnlCf1BxHCPvARijjQheXDiWtPbs9\u002Bas4HFIbup1qo/4telr0W6kp9UA3sDJL57yPEQbcPdHZU6SlZ/fKa04eVeIq9cf84vJ8g0h7Bkm4rDSVjGlWjmYsVCa2TvPxH0nx2RpQITH0km5UX7pJXk1bLPuDNJ8kx8d8PqHhBlP\u002BS2P\u002BSS0vKEsC4Pn7Ai6rovWZW2I4birqjRFTFCJP00vaVdRWSxUgLARwQFOlKYWYkJusB\u002Bsxhh15E/wb29Ross1uIKxaVRfguW9dx\u002B2XBWNL\u002BkNG48ug6M\u002B23XdYxFAvx42GdwkZPntDy0570/5v[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-220b6226-32d0-b5ee-25af-b8b354da9537/test-blob-e89173bf-a995-90ed-876f-053d627b14ed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F724F8D49E6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-blob-content-md5": "i0bDButP4eqjM14\u002BCS0GtA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAs\u002BpuhUwesPlJGeUJ/UHEcI\u002B8BGKONCF5cOJa09uz35qzgcUhu6nWqj/i16WvRbqSn1QDewMkvnvI8RBtw90dlTpKVn98prTh5V4ir1x/zi8nyDSHsGSbisNJWMaVaOZixUJrZO8/EfSfHZGlAhMfSSblRfukleTVss\u002B4M0nyTHx3w\u002BoeEGU/5LY/5JLS8oSwLg\u002BfsCLqui9ZlbYjhuKuqNEVMUIk/TS9pV1FZLFSAsBHBAU6UphZiQm6wH6zGGHXkT/Bvb1GiyzW4grFpVF\u002BC5b13H7ZcFY0v6Q0bjy6Doz7bdd1jEUC/HjYZ3CRk\u002Be0PLTnvT/m/iDljP4VDhzsGNN9yjd\u002BCHt[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-220b6226-32d0-b5ee-25af-b8b354da9537?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1142797943",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
