{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-aff56e55-ce0d-9ad3-8ae4-2acf5907c378?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:50:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868366953D32\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:50:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-aff56e55-ce0d-9ad3-8ae4-2acf5907c378/test-blob-77a6ed1c-7d26-db9f-d033-a37ea3f0117a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "X9lcIakcPII=",
        "x-ms-date": "Thu, 06 Jun 2024 23:50:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4rh7cl/611tFFrPJZl41PrIzQNBdGJE6r4BMr+7Rj/4QRpOs0b+WlLFNZdGFW4ii98ylHLxjxMknQcPfrSdtdIa1uB/LiG3znawfD7O/tFP4qrghLHNBrILJhY/8t+aJ4PFKz6No129fsn4QRLQVZ4xv5gJvS0cTdAydAQLd9+bGlS7CdOWwj9NJwXr0MWjNtB0DjNDjGpWpN1uWy9VsgrqYSa6FU/OnvlYvJYnNH0Kk0E3l2moV4nqZGD2JGsT93T+/XOe5R2AqW856tPUL3BgZ8vqIh6hQgmYz7Dq2HaOSMUhKDcJa6onsun6bmy6FjjwlcCfKdFaWbtmBhlslcz4q54Oswc5VvghwnMwqt[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-aff56e55-ce0d-9ad3-8ae4-2acf5907c378?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:50:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "69929069",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
