{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-de1d2cb9-91af-35a5-3e62-466cfeadf174?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22EAE9093A\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-de1d2cb9-91af-35a5-3e62-466cfeadf174/test-blob-fcf00e78-4b66-48c9-baae-90489bfa6574",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:04 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA35miXjEYwwkiDjYVp3euZiaf1IP0mZZsSVeBeqGJXFfaMkGI8QRIvrO2DilAVXR8StPiZRRKeEYHNhTdl0hrlLHeO3U2JXEiVxXQQottK/PfATPNpvtDk7X/hb7vbytrTnV7Zh4DSiViwA3+ejm6lgog/pIYmfG2mqu/Np+2MuvuZPAR8cXV37sKbuLpRRV8QO+0znCVUrCHxMt2QBOJrJEmEBFFpKRESyLbDi8OyVWSQvWsAWR7WRZDjiz+Y5unfMJRxzUANpxLbINRukCFePtx4AEd2a8srrb/Bhp7ReuHM41svQYgjgxVZJDhKZ7RuhUxiH+aiaMXJRR+BSyFzCqbyoazGLvxTVHwxHUeS4UYKUgBRblr7KnuWZfxpojf05RmSV8U[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-de1d2cb9-91af-35a5-3e62-466cfeadf174?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "797507189",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
