{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-88a39e0c-1325-eb8f-97fc-74f089a4a6c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC13E3CE3FE\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:56:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-88a39e0c-1325-eb8f-97fc-74f089a4a6c0/test-blob-22e5b5a3-e0ec-ff0c-0a69-5a0346400438",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:23 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB7iQSKH0FmUzjsRv45EOvEv9lLlY2tl7+Fgc9ZV3WZR/crA3fOsntjjcLAPKKWC7RDnDBEsJshzfFEBZ1xDPzCUv8GDg1z9g1d5wjK7Vsd73UbFbtFVJZbCTWGia3d8oDG/emjj/2m0KUi58iSV+CWJhUnVvZAfP5oqwTY7GxggPWHBPBxemB4dEUVI23OybJV8GOXtZuJhoDqO+T4zuM5wmbTC1PvJKy1r+GxKlmRmeFSgvwJyMpZ/n5vhj97f6Zh3GAG+75fZcu24Qa611smWaECpkvnL/mceQzVgJ5tOTA7UE74i54j8x0wU+fEnyYiSS2dedhaeqxnaYGxiuUtSKfVf4cNLc0D3rMuttwS2NrmsjZx0MBX4NWhkSEccmg4Awo/7iC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-88a39e0c-1325-eb8f-97fc-74f089a4a6c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "169791508",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
