{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53891060-be33-06fa-5f19-9ce21ad0d4b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F724DCF9706\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53891060-be33-06fa-5f19-9ce21ad0d4b7/test-blob-1eb01a47-08cf-e192-414b-afcb5e2918ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "6s1cl6RHFMXesho0Doa6HEarLGG9mLyc66etjSijZ6LWNol/5ztMbqRNXUjJCTMGf1ZHw2rGvFIRwKv8moacO0t4Xdf9OzQLX768bzp00uJzpg7SXKM3EHo3bieQT9QdsSL8UatcCUMhO2OsCUwXnO3IifN4yd6oQE1dxc0NexDpnr4Xd4E2F53KsSA/iwYtINE5x8bhpedEVBBe/0R2E8BTwmuNACVrkXFWrhi\u002BaLVGL6X807RKCPnX0yNx2BhYVJ1f7MiboB\u002BrzjVUi/bOhutbF9CfeT8MCLpxtiwC\u002BrlZ/Vp7Xnztq46FUAV\u002B9n0DCU03FcBHudpdU\u002BMOKen[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53891060-be33-06fa-5f19-9ce21ad0d4b7/test-blob-1eb01a47-08cf-e192-414b-afcb5e2918ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F724DE58E81\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:46 GMT",
        "x-ms-blob-content-md5": "3CWJsaMywIUMFnjtQeeyFA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADqzVyXpEcUxd6yGjQOhrocRqssYb2YvJzrp62NKKNnotY2iX/nO0xupE1dSMkJMwZ/VkfDasa8UhHAq/yahpw7S3hd1/07NAtfvrxvOnTS4nOmDtJcozcQejduJ5BP1B2xIvxRq1wJQyE7Y6wJTBec7ciJ83jJ3qhATV3FzQ17EOmevhd3gTYXncqxID\u002BLBi0g0TnHxuGl50RUEF7/RHYTwFPCa40AJWuRcVauGL5otUYvpfzTtEoI\u002BdfTI3HYGFhUnV/syJugH6vONVSL9s6G61sX0J95PwwIunG2LAL6uVn9WntefO2rjoVQBX72fQMJTTcVwEe52l1T4w4p6fOp1Hz6jZxSJ29ua0EZKDqNEjxurd/K5PgRRIAdCpjf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53891060-be33-06fa-5f19-9ce21ad0d4b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "69177617",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
