{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6d66ca73-dbe4-5119-ad26-b77dc229a1e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F724EF6B179\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6d66ca73-dbe4-5119-ad26-b77dc229a1e3/test-blob-a6378208-e46c-4b4a-e16c-935e0b6d4cbd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LTeEpyz/soS5ulELRVRvr2TFYy4DUl4f2NxZ4i9H3WEynpereRrFGuChlcot4bwWyw9kCVZ28tvYZM5PpdBVcdzw2aa9xDVKAEhOYbyU8vYgQxYf49MKu6y70hRLdXQPSyPtPQgVWQfZGQkOKJEeRHLXL2K5No4J5R36AfEh/orTPhWZprXuC\u002BoPRcnK/JManY6idEYSVhWU5FfrGlgVuBp\u002BOup7hZ686SN3qvDEP\u002BmJ32NjfopEwOj/BMFdAvGS\u002BY2uS8Gpnxjw5Yoimqsl0KVuYjr0sjmQOnoBe4DcX\u002BYy5bBiFfMn4EBLcpj/ISU82jMb76C2nUdTHhBHpyO[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6d66ca73-dbe4-5119-ad26-b77dc229a1e3/test-blob-a6378208-e46c-4b4a-e16c-935e0b6d4cbd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F724F05F1C0\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-blob-content-md5": "3Gto3d8O1sLt6baVsGoljw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAtN4SnLP\u002ByhLm6UQtFVG\u002BvZMVjLgNSXh/Y3FniL0fdYTKel6t5GsUa4KGVyi3hvBbLD2QJVnby29hkzk\u002Bl0FVx3PDZpr3ENUoASE5hvJTy9iBDFh/j0wq7rLvSFEt1dA9LI\u002B09CBVZB9kZCQ4okR5EctcvYrk2jgnlHfoB8SH\u002BitM\u002BFZmmte4L6g9Fycr8kxqdjqJ0RhJWFZTkV\u002BsaWBW4Gn466nuFnrzpI3eq8MQ/6YnfY2N\u002BikTA6P8EwV0C8ZL5ja5LwamfGPDliiKaqyXQpW5iOvSyOZA6egF7gNxf5jLlsGIV8yfgQEtymP8hJTzaMxvvoLadR1MeEEenI5cUhqTwtPvCur[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6d66ca73-dbe4-5119-ad26-b77dc229a1e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1783841332",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
