{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-473f49c4-ebfb-243d-df8b-bf0bfbb2d6ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DF4B0CFF9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-473f49c4-ebfb-243d-df8b-bf0bfbb2d6ed/test-blob-45638ba0-5644-3a8f-f8e7-b7d0d60fb2af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Q\u002BvHvThqdnduiemYD\u002BJPjPFfpVTjRYmMZMrvcyy2RTkDCxfojN0n\u002BjBXItpTka03epQzEH4L7f1iOlltegJKuESvlQTLZ/8TOKokiyKuOdIct/mYgzS6\u002BB0ZhVKEuYAtDWqWpPyobBKUH9jU5mLbtAGGUcIJsjUP9JznsuGtj38q9n24F5TWc0vmA2Nc5hG7PtFR/Wi9I1s1hrBfwbkx55BZqe/kIpxssN13I67Rsw2LK3QPXJEWbdMig5DkdrGStBvTAz0h1hs05E2KRgCsY9Oi05ZFIYv\u002BQjscwp4LiDkr5W6T/q/PaVVY23dEjCfTdSC8QaIbTJOQ1MABBBR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-473f49c4-ebfb-243d-df8b-bf0bfbb2d6ed/test-blob-45638ba0-5644-3a8f-f8e7-b7d0d60fb2af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DF4C07CA3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:18 GMT",
        "x-ms-blob-content-md5": "pWe0q7Tzr4GnRt0SLb4SxA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "/nAONCIWdHc=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Q\u002BvHvThqdnduiemYD\u002BJPjPFfpVTjRYmMZMrvcyy2RTkDCxfojN0n\u002BjBXItpTka03epQzEH4L7f1iOlltegJKuESvlQTLZ/8TOKokiyKuOdIct/mYgzS6\u002BB0ZhVKEuYAtDWqWpPyobBKUH9jU5mLbtAGGUcIJsjUP9JznsuGtj38q9n24F5TWc0vmA2Nc5hG7PtFR/Wi9I1s1hrBfwbkx55BZqe/kIpxssN13I67Rsw2LK3QPXJEWbdMig5DkdrGStBvTAz0h1hs05E2KRgCsY9Oi05ZFIYv\u002BQjscwp4LiDkr5W6T/q/PaVVY23dEjCfTdSC8QaIbTJOQ1MABBBR9KFsUX2GRGWQj02pA7UYTurYUSUx\u002BTkeWD5jbAinuzWVB27IcLyzF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-473f49c4-ebfb-243d-df8b-bf0bfbb2d6ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1507556425",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
