{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6dce61b1-7bf5-0ca9-fb30-19db304dbdb5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36956D1D07F5\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:22:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6dce61b1-7bf5-0ca9-fb30-19db304dbdb5/test-blob-b6587275-3fbb-9988-dd85-4581d6019969",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:36 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC3YfwwtZ8FL+RnEpbdbOoXh5ItIk+0Ryp9k8BbXL297zzRhMDneNANCM4kBrp+S+M9DjcWPf99AxrSsiLfqtMmqSJaC+gpLw/BIBqBj0Bw/0fcHU2Gp7E8VICmFcWuLl77/V2XI0D7FN8oVB3k/HTZYbPbAoyFoAJxHbZnghlKE/G8hZHj2NsG4QluXlKUV1gMzLMR0yzRdV1bJgaKlJHF3UEsKHbi9onY1CGCF0Kv3cVdW7ZmOEDF6g80h7LUfEx4qYAQZy/iKdUqOP4LTl4aq0lALDnaX6QBZj1mrm/WA1jUCm7CnnWWezHgOwBBuZuxGdtplE8TnUnbDwHxe3tmUzWmNkTvWA3TqrEH+iOkwKyhtJSTbW8IwG0k5o90pP+2eefLmoN[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6dce61b1-7bf5-0ca9-fb30-19db304dbdb5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1153226965",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
