{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9be71ab-42b8-8eac-4733-5965b648e8a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DFBB9F403\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9be71ab-42b8-8eac-4733-5965b648e8a2/test-blob-5567f8e1-c1aa-cf59-189d-a6d17e01a234?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "OwKo2FaP6EYfjuOajzrs4g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "K3lsJApg4jtqVDA/cHS0X6\u002Bj/VSdJXDnk4B4wPIgZYpSq9OU1T2z419\u002B5YZUZxl2/xtHiZPsOgUIhZGJ5yFJSe6m7MShH4px8Br0H0DpkitnAsHW2dz2ZXHOjE\u002BsKfs9NZuYrntV1d\u002BR1Zh59xrEHvJmIuRgcnASr4dS0pM7xMcet\u002BqlUeSvES3hRQNDfW5XCW1cRgcX3MIqhf/0AwJLVhDRWz8wH8wOthC3fy1tzzIY\u002B8km3n6/B9sneszluw4rle7ycSEuJumgTpD2X12UvbbM2wc4JXiSEVRkCKUAKPoCjOk\u002Bel0Q6tXfhY/uyad9krwVGOAG8m92YF/NyR1EoCWV9NNzVUNYvPAyWKDoo0is5nbp6hAZ\u002B5l6yBn\u002BQiC3m\u002BRpWNXUCj15vVzv1JnOjbwXIeOnW7UVfPg5\u002BY0pWnnQery7fkty2Nw4by2zKiYAqzpd5iE9EEAvU9zcmxCvUGPjH1ncEw9xpEkGbuuHYlLROU5SzHNXk2p7jCtulTzLiB/K0ArNI5gr60LYNqFVp/GKC2HCXYTwi4vuYYbjAw8MOuXMvZFHBBW2J\u002BAwf1zJJuU544raCSub2UV/3sIRR\u002BcyzPy8ielgQwdMDDWjvwwvJTqhqh\u002BFMTG5MONMxyVTpN/4/rJfDZz72aCDjvz29xo4T7iHcJzIrZvLAlgFE3s=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "OwKo2FaP6EYfjuOajzrs4g==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9be71ab-42b8-8eac-4733-5965b648e8a2/test-blob-5567f8e1-c1aa-cf59-189d-a6d17e01a234?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "oB3RGgd9Z8e1VRzZ4Zc7Zw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9be71ab-42b8-8eac-4733-5965b648e8a2/test-blob-5567f8e1-c1aa-cf59-189d-a6d17e01a234?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DFBD9CD9B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:30 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9be71ab-42b8-8eac-4733-5965b648e8a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1066879771",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
