{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c53c8477-ccd7-cd88-6a8f-cefd88e7a6b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC64DDA03\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c53c8477-ccd7-cd88-6a8f-cefd88e7a6b2/test-blob-389dc344-1de9-17e7-c093-05da0c4fb760?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "\u002BZBZiY2QrIE=",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "m06HGL2QCmNDr0w/td9\u002Bjywg2tiLC2/0ztv\u002BA915QW0hiw4BU0vxkqX4VpKZxWEDIqabKjGe/4/ek0nhkQaGym7fHSnQfTzhL0cyk7XcWwl6\u002BuE23RY7g4x/Ir8BDwCfcYskuqc3M6Vpuvvpa2vZAjhAZ5clT\u002B1Xo5mdUVp83x9HkyEqt6BhQsc7zCMbUhggpR\u002BHwahpeSGezRYOmuFK7NrcotdJr0qX3iTQ6YPJPFGBfKw79B533RoAi\u002BqJU6jl8eBIP69A1/XV8OODmI\u002Be1ZHFjR00D/e8ZcS9SSRgDYp86vijgPyhQKW2ZQQ680WKYbZYw8aLseHojNrrg43RdeNYB66W\u002B1SUJEx4fanzgXF/MudtB0nD8TkXu/QitrwX5fAh4uuW82ZhxJ95EjM39Apoa1CmY22ZlBZ1f0BgcW6PYZi40p\u002BF6D\u002BBC0OqSd4F38bqukpscYGDh03VIXMlAVIw6rGafyJq4oIRJFcq70s3b6B5dbckI/AXNUpSsMfLWwrweV8ta1\u002BkgNfHW0wpWJgCnbLSq4ybDMbAg0nXFzK7RshNOnXrCgNA1fXfXMij7tyyUBIU\u002BK9\u002BVG2YbOgWzWilDBWD2x4iFpKuktaWvLD\u002BHJVsJMcfpk0Zz\u002BUIUp0bKgiMOk\u002BzIBK\u002Bjzl/ZWbZ55i8mk9TqqihhWbHags5GsQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002BZBZiY2QrIE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c53c8477-ccd7-cd88-6a8f-cefd88e7a6b2/test-blob-389dc344-1de9-17e7-c093-05da0c4fb760?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "00e9EaDjUGM=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c53c8477-ccd7-cd88-6a8f-cefd88e7a6b2/test-blob-389dc344-1de9-17e7-c093-05da0c4fb760?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC67E06D6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:01 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c53c8477-ccd7-cd88-6a8f-cefd88e7a6b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "748164202",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
