{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9590fa7-189a-e7ca-c605-3f746b017251?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E94247331\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:55 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9590fa7-189a-e7ca-c605-3f746b017251/test-blob-9c58da65-65b9-4d33-5b32-b8d1d0b032ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:53 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADc2kEeZk5dudw8BajZd6thhhoX94ZJO3OdKqqnAc+EMfuAd2EjYL8OFcBL2fKAwkEmi919m/43kp/OgTujtrcNuNOsWf9KPSVbCeLG/WGAHGhpgXbxBpb9SOTBVd+Dal8IPiAf1GhB3E23IpIccZQ9TWTTOjVAG7E9rxEbiedG2J6Cvb9BYUj/J6UpOuQE4dZPgwd6rzAqxyJv4SVXJlJlcEnzmbTV/Owc0xKQF+HNOc06ywXgzChtWPWd0X8iqAFSw8qaEEcieocaXdsemrBBoqhXHFpMhaQghkC+OCpt+SsQPVQXMiiGF1F+xW5NTr1FWy/Wy4umBT0leYkGZEJcrWOwDVxbKm9/0QUJzcA10zeCedz6ly6fajcX8biff7MPIhgKnEB[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e9590fa7-189a-e7ca-c605-3f746b017251?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1904641360",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
