{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0cd5c3cf-7a82-f090-ed70-88e1226dd20c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD104D5451\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:08:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0cd5c3cf-7a82-f090-ed70-88e1226dd20c/test-blob-ddf7b375-fb2c-c345-13cf-c808dad571fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:39 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAS0lzpUBgLz2vcY2nfz2QAycYJnRl6AhUIxsUKWURXz3w4rbmQvXK/eYTsLWrR7bgtpUrb0P5JmM9G4IlSAHUnhJTspyKrbwtUSiOUjdWrN9gN3bT5fP5+7hXpSt3obHgOxajV5EaWgjY/hobatAr6m6mxRSPBLgiVbrkMwiUubN2qhccs1VOSd1t+ufV4ozkL7q40NiZVTZefQHWMib8QERqoMC9CzsVVH87IQ3QSHct/AdN2+TW2VTcwjJXdBe2bbajb0HMKyCDp3hdYjAojjSOqDYfsmRfl8dr3EUEweBngLdXLN01YdTizjRsdXsgtDf9yM/hlr9OR9d6YErbeuGb9eF80V1XWUphPOAz7x5MSyQRCvkQhen4BOUJuv2KC1NW1IOV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0cd5c3cf-7a82-f090-ed70-88e1226dd20c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2060942274",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
