{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5872ea69-43e9-f5ed-ce87-572fc7900c5a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD12A575AC\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:08:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5872ea69-43e9-f5ed-ce87-572fc7900c5a/test-blob-01124551-26e2-340d-6b23-bd6609994b1b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:43 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAVMX52Nyo9gwC8bniDhCTfG9+QlIBv5DwPlM9WT8JNfwXMUp9w9T909oubupfMgwV0tgyJ2tZxpk1CZ6Nb5jQ+bu5ztzKEbiWgHJ710ymkQhDK4Zi2xKUvWqxSLo6bGA9WXUupWczS8Ejm6L04fNIjniSTkQSbiKpJQ1yFMkCXBQSOnnbd++lD9/FQ0Nvn9t7aLpBpB4cLu9WhXxVvTb0HTuO5qd1bRaM7T5oSSrfPYkx+qwSwLv18guOgPJvT06o0SIH3LU0BfujtLrft+XAd0v3I8aG5VyDmPCf6uwkHZ3zv3QI21zT/fSwbw/9Fj4lyg2qeC+IIe/BhEPAmBsPe5cc7/Rtu5/rIyHR0nZQgoa2diDifaVua52IR1MZD2XZpPN04CZJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5872ea69-43e9-f5ed-ce87-572fc7900c5a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:08:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1041386949",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
