{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c945c6-3d40-b135-fd74-38382fbbddba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD39904738\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:09:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c945c6-3d40-b135-fd74-38382fbbddba/test-blob-32c89071-0535-4804-39c6-7239711e90e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:49 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACwiPd5JMqICGtPSffaS8UM5Fx4TMEVRWu8Lh56rL5QWydtOmP4F7b1WvFcJbhQk0rpBDfM9tUzmkOMvParDVus/u3PbBFiE82mgvHQuB+zbJrUkKiHg2VROp8fbFrASU2VrybKgCY4h/FpJnPkYuEj2VBb132zJXqIfjJyQqZz5TikOgn46Oxzmwi2HV3xbde9+5MJZHLP4omrQgH0xkRK9kA6QCjYK/Bj5zt0/AgdlhBbtEYTaYDG1Fh/TKbqf9TDbCYcty2u5NCjpXw2W+WBjqvxmBL+No2/dGvQWd5KeWhnsI/iAd/jrNB2cMMDj3hy/b77+ebCxTWZXEPB3ovxWCwUz6pVn43LDutCh8bKvOTzXVsgT4CBpOpZSaScIc5EhReW78D[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c945c6-3d40-b135-fd74-38382fbbddba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:09:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "721228252",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
