{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7f2ca599-7770-2bd0-9ad4-49354b8ff9e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EAECEC032\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:40 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7f2ca599-7770-2bd0-9ad4-49354b8ff9e4/test-blob-a3664453-d596-2cd3-c1f0-d0952bb81166",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:38 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABCcLGXZ4AUDoQfd6qn0s97TC20MThR/CdJycwunCP8R+z8uuxt8LQABkgjyNpSJQI9c7DiDKea8XSKTZ2z5XJhIjC9qxjjDVt5syrvLjNM96TK8ShyGjpEYcl346MXTCDWwaaqlHnpWmZUaFh9q8NAPVX46PRJ7wj1eEpPayq4YmcKGWyNoWMq4ZbCHbHhx7UGN6VNHmMsjNKetBwvmu87nAbxc5FWs5vyzgddh9FWE7CUSTSFakME3Yya7u1H+kenhoCq8FQkr4MJW1BbzgUAR6Brm1C7tjHD7JUFu8Suq9PAtgBRqyNbcJmwew/zqA6HmqZM21/27NBO5wO/HvS+W698mxgEr5x9Dyu3Cjsiz0SHfSEdYs90ysowAsQfnFGl8SBgdgz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7f2ca599-7770-2bd0-9ad4-49354b8ff9e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1832327372",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
