{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73a7d349-6d1d-b954-13d0-2d78002034d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E92DCD273\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73a7d349-6d1d-b954-13d0-2d78002034d6/test-blob-b774b7da-4c75-6860-ec60-3ee974c92e21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:51 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA6NhZL0BocdT/WOqB7pbJNEGVUON3dmLmBPPvG58fNZBiedNCvdPYIq80XZz7Se+qQn72dfyt2XJ1cypQfVY13CNaH3DHhnpxvS40PxjF6rsEQNkgKMOTsKBczUqlh6VVAn19oSp65rgEhLjSeZpZs4RzTDh5Ebdfym7QZrkvyDWE4zybREmMiV4dH6QKvTsGBxnCNjts2+zGHda/poAC1LiDSZZdvms+5sLaW/YTVQk3zmOfaZX6FAdP0SZy0OLeHkrrh3egpESuh1N0ln/2tsjNi9gcY2smiTGTDelEyBHj/D2vJ9GRkyYa8OJGhYGLWR5dpUUKvb7fxPpGEZZbab89lJZCS473O/SyBXKE3AOsC7TO5ybI1T6C02LXT4GTv4cnCOzr[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73a7d349-6d1d-b954-13d0-2d78002034d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "894086763",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
