{
  "Entries": [
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-b619b92c-6d6a-6e85-b26d-0b54bddf8726?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 16:58:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECE23E9B1EC9C\"",
        "Last-Modified": "Fri, 19 Jun 2026 16:57:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-b619b92c-6d6a-6e85-b26d-0b54bddf8726/test-blob-ca1fe668-4473-0336-4124-5d7e99b2651d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-date": "Fri, 19 Jun 2026 16:58:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DECE23E9DBAD64\"",
        "Last-Modified": "Fri, 19 Jun 2026 16:57:57 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-b619b92c-6d6a-6e85-b26d-0b54bddf8726?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 16:58:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1121604536",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzontestcett\nU2FuaXRpemVk\nhttps://jalauzontestcett.blob.core.windows.net\nhttps://jalauzontestcett.file.core.windows.net\nhttps://jalauzontestcett.queue.core.windows.net\nhttps://jalauzontestcett.table.core.windows.net\n\n\n\n\nhttps://jalauzontestcett-secondary.blob.core.windows.net\nhttps://jalauzontestcett-secondary.file.core.windows.net\nhttps://jalauzontestcett-secondary.queue.core.windows.net\nhttps://jalauzontestcett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzontestcett.blob.core.windows.net/;QueueEndpoint=https://jalauzontestcett.queue.core.windows.net/;FileEndpoint=https://jalauzontestcett.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzontestcett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzontestcett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzontestcett-secondary.file.core.windows.net/;AccountName=jalauzontestcett;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
