{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ff21a56-c92b-46a7-5079-e10e7f5aa88a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F842DF219DE\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ff21a56-c92b-46a7-5079-e10e7f5aa88a/test-blob-cbff24b9-cde2-0715-fd50-98921f195fb4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "65M2bDVGKvNQMarq35qee4n5e4quA\u002BAfkXBZhqEcIXzNhiIUnoSxTMq4VHivG7MgOUUkpX3otOizF9vF7aNSNA8tHFl4it0ESC7A9a5nb3W9OU1b93v/5dE6YIep7F8mZiBpgv9Zp65nH11OKL85S6dlB7RW9jyULTeHPilWW1vPmY\u002BO/u12Y5Ge9NcdsbwSABTfQ\u002BSqz2/j1VTH0mmFEcQCfo8wqk2676QiuAJkdnx7dT0Udhd2JcofqymYr5AnGOITGzIt4VbHJVRAhxZtf17XS10scJuti1nEEf8kIUAT\u002B6AfUVpKTpPnTVDCNp2zsSvKwGMz\u002B6dHZY/YaNB[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ff21a56-c92b-46a7-5079-e10e7f5aa88a/test-blob-cbff24b9-cde2-0715-fd50-98921f195fb4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F842E0070A9\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-blob-content-md5": "pq2rgDKn\u002B4XyIY1me9ixQw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADrkzZsNUYq81Axqurfmp57ifl7iq4D4B\u002BRcFmGoRwhfM2GIhSehLFMyrhUeK8bsyA5RSSlfei06LMX28Xto1I0Dy0cWXiK3QRILsD1rmdvdb05TVv3e//l0Tpgh6nsXyZmIGmC/1mnrmcfXU4ovzlLp2UHtFb2PJQtN4c\u002BKVZbW8\u002BZj47\u002B7XZjkZ701x2xvBIAFN9D5KrPb\u002BPVVMfSaYURxAJ\u002BjzCqTbrvpCK4AmR2fHt1PRR2F3Ylyh\u002BrKZivkCcY4hMbMi3hVsclVECHFm1/XtdLXSxwm62LWcQR/yQhQBP7oB9RWkpOk\u002BdNUMI2nbOxK8rAYzP7p0dlj9ho0FaiBBQsjHZNLQSN/clEI0rqVbwRX9NaYN3g//jY68px5cOQqkyuChA8Y/7FM2VqtoT8ezocVnCDSKQ2TI19dUI5HBgGtHn\u002BO0qs1PvVlC13dUh023CPVI5SDWGod76Cvu67ixZNYwIK/j/wcIJ1rbR2v9ZECZnRqseJtKcXVsOMKRYMGQgWKhJGad0xn\u002BQM3V\u002BtMbjoPbVV6uFPxK9a86d7ZEZsaJSsYJTD/p\u002B8oAvjfNZIaiULo\u002Btgty8mx2Zi63U1tTqdoHXKAdEjJD8VmEnVa0fYEomCcMBaC7BkhZguYRIph\u002BvQRdthfWlT53\u002BsSx7mUVseidnsskV5QpXEZXs49HNWtTqSAlW3c1a1OpICVbc="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ff21a56-c92b-46a7-5079-e10e7f5aa88a/test-blob-cbff24b9-cde2-0715-fd50-98921f195fb4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F842E0070A9\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F842E0070A9\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ff21a56-c92b-46a7-5079-e10e7f5aa88a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1528013753",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
