{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.DeviceRegistry/operations?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.DeviceRegistry",
              "resource": "Microsoft.DeviceRegistry",
              "operation": "Register the Microsoft.DeviceRegistry",
              "description": "Register the subscription for Microsoft.DeviceRegistry"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.DeviceRegistry",
              "resource": "Microsoft.DeviceRegistry",
              "operation": "Unregister the Microsoft.DeviceRegistry",
              "description": "Unregister the subscription for Microsoft.DeviceRegistry"
            }
          },
          {
     [...]
