{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "ffce8a52-14a9-44d1-a91f-82a3576bef3a"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "sessionId": "4f084813-b916-4f96-91a9-148e65186589",
        "authToken": "fakeauthtoken"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": "[{\"id\":\"4f084813-b916-4f96-91a9-148e65186589\",\"createdDateTime\":\"2024-05-06T10:45:04.2260536+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"ffce8a52-14a9-44d1-a91f-82a3576bef3a\",\"sessionExpired\":false},{\"id\":\"c1a9ffe4-2aa3-4461-bd0d-3d3754de6f9b\",\"createdDateTime\":\"2024-05-06T10:45:04.4740748+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"53051b3d-5950-4380-a240-91e5fe3f81fb\",\"sessionExpired\":false}]"
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/4f084813-b916-4f96-91a9-148e65186589",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/c1a9ffe4-2aa3-4461-bd0d-3d3754de6f9b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deviceCorrelationId1": "ffce8a52-14a9-44d1-a91f-82a3576bef3a",
    "deviceCorrelationId2": "53051b3d-5950-4380-a240-91e5fe3f81fb"
  }
}
