{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "875d65a3-ef73-41df-9cf2-24968252de1e"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "sessionId": "9389fe0a-2d21-427e-9f3c-cf4d4c08ae0b",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/9389fe0a-2d21-427e-9f3c-cf4d4c08ae0b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/9389fe0a-2d21-427e-9f3c-cf4d4c08ae0b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "SessionNotFound",
          "message": "Session Id is not found. The session id is expired or does not exist."
        }
      }
    }
  ],
  "Variables": {
    "deviceCorrelationId": "875d65a3-ef73-41df-9cf2-24968252de1e"
  }
}
