{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLiveness/singleModal/sessions/61170860-e162-4728-bd89-ec423205c3eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "ResultAvailable",
        "result": {
          "id": 2,
          "sessionId": "61170860-e162-4728-bd89-ec423205c3eb",
          "requestId": "039ed683-0393-43f4-878c-16bf39904b4d",
          "receivedDateTime": "2024-05-07T02:10:59.1614055+00:00",
          "request": {
            "url": "/face/v1.1-preview.1/detectLiveness/singleModal",
            "method": "POST",
            "contentLength": 360044,
            "contentType": "multipart/form-data; boundary=--------------------------582969306951955997192689"
          },
          "response": {
            "body": {
              "livenessDecision": "spoofface",
              "target": {
                "faceRectangle": {
                  "top": 782,
                  "left": 260,
                  "width": 858,
                  "height": 984
                },
                "fileName": "video.webp",
                "timeOffsetWithinFile": 0,
                "imageType": "Color"
              },
              "modelVersionUsed": "2022-10-15-preview.04"
            },
            "statusCode": 200,
            "latencyInMilliseconds": 763
          },
          "digest": "2BFA303F34A45CC6079B598957BAC424FF36981B5608B1D991F668777A94863A"
        },
        "id": "61170860-e162-4728-bd89-ec423205c3eb",
        "createdDateTime": "2024-05-07T02:10:20.7421722+00:00",
        "authTokenTimeToLiveInSeconds": 60,
        "sessionStartDateTime": "2024-05-07T02:10:51.2003373+00:00",
        "deviceCorrelationId": "a7eda6e1-371b-4060-9375-7b1753561266",
        "sessionExpired": false
      }
    }
  ],
  "Variables": {
    "sessionId": "61170860-e162-4728-bd89-ec423205c3eb"
  }
}
