{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "7c370a0d-fe43-4814-bfa7-8443af0a8932"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "sessionId": "45bacb5e-64e5-4749-83b3-5bc835e44902",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/45bacb5e-64e5-4749-83b3-5bc835e44902",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/45bacb5e-64e5-4749-83b3-5bc835e44902",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "SessionNotFound",
          "message": "Session Id is not found. The session id is expired or does not exist."
        }
      }
    }
  ],
  "Variables": {
    "deviceCorrelationId": "7c370a0d-fe43-4814-bfa7-8443af0a8932"
  }
}
