{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/face/v1.2-preview.1/detectLiveness/singleModal/sessions/fb828d55-c35c-453c-b2ae-037d3a0a74ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "ResultAvailable",
        "result": {
          "id": "Sanitized",
          "sessionId": "fb828d55-c35c-453c-b2ae-037d3a0a74ab",
          "requestId": "105bd4c2-e191-442b-bde2-1ba2b1a4b6c7",
          "receivedDateTime": "2024-05-23T07:09:13.7543532+00:00",
          "request": {
            "url": "/face/v1.2-preview.1/detectLiveness/singleModal",
            "method": "POST",
            "contentLength": 360044,
            "contentType": "multipart/form-data; boundary=--------------------------582969306951955997192689"
          },
          "response": {
            "body": {
              "livenessDecision": "spoofface",
              "target": {
                "faceRectangle": {
                  "top": 782,
                  "left": 260,
                  "width": 858,
                  "height": 984
                },
                "fileName": "video.webp",
                "timeOffsetWithinFile": 0,
                "imageType": "Color"
              },
              "modelVersionUsed": "2022-10-15-preview.04"
            },
            "statusCode": 200,
            "latencyInMilliseconds": 765
          },
          "digest": "FC9B97DA41869747D80B7D0F2DA4A13B22DA38CD65489E071F22C48DFB45B6D6"
        },
        "id": "Sanitized",
        "createdDateTime": "2024-05-23T07:08:50.5647669+00:00",
        "authTokenTimeToLiveInSeconds": 60,
        "sessionStartDateTime": "2024-05-23T07:09:06.020625+00:00",
        "deviceCorrelationId": "e072fdcd-b6b3-447b-8abd-cfff2da76277",
        "sessionExpired": false
      }
    }
  ],
  "Variables": {
    "sessionId": "fb828d55-c35c-453c-b2ae-037d3a0a74ab"
  }
}
