{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "f7152d23-9e45-4a6b-a58b-b6f3b7200b07"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "sessionId": "440e154e-c959-4c3e-b982-4284f7eae17b",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/440e154e-c959-4c3e-b982-4284f7eae17b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "id": "440e154e-c959-4c3e-b982-4284f7eae17b",
        "createdDateTime": "2024-05-07T02:07:57.447266+00:00",
        "authTokenTimeToLiveInSeconds": 600,
        "deviceCorrelationId": "f7152d23-9e45-4a6b-a58b-b6f3b7200b07",
        "sessionExpired": false
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com//face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/440e154e-c959-4c3e-b982-4284f7eae17b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deviceCorrelationId": "f7152d23-9e45-4a6b-a58b-b6f3b7200b07"
  }
}
