{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicfca5/disable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicfca5/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE644C8E674963",
        "Last-Modified": "Thu, 05 Feb 2026 00:21:50 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicfca5?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE644C8E674963",
        "Last-Modified": "Thu, 05 Feb 2026 00:21:50 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jssdkJobSchedule-Basicfca5",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicfca5",
        "eTag": "0x8DE644C8E674963",
        "lastModified": "2026-02-05T00:21:50.2614883Z",
        "creationTime": "2026-02-05T00:21:25.1475001Z",
        "state": "disabled",
        "stateTransitionTime": "2026-02-05T00:21:50.2614883Z",
        "previousState": "active",
        "previousStateTransitionTime": "2026-02-05T00:21:25.1475001Z",
        "schedule": {
          "startWindow": "PT1H",
          "recurrenceInterval": "PT3H"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "poolId": "jssdkPool-Basic3b63"
          }
        },
        "executionInfo": {
          "nextRunTime": "2026-02-05T03:21:25.1475001Z",
          "recentJob": {
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJobSchedule-Basicfca5:job-1",
            "id": "jssdkJobSchedule-Basicfca5:job-1"
          }
        }
      }
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basicfca5"
  }
}
