{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic210e/jobs?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "jssdkJobSchedule-Basic210e:job-1",
            "displayName": "JobSchedule-1",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJobSchedule-Basic210e:job-1",
            "eTag": "0x8DE5930CCBE8BB6",
            "lastModified": "2026-01-21T21:05:26.1531062Z",
            "creationTime": "2026-01-21T21:05:26.1321067Z",
            "state": "active",
            "stateTransitionTime": "2026-01-21T21:05:26.1531062Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 0
            },
            "poolInfo": {
              "poolId": "jssdkPool-Basicbe23"
            },
            "executionInfo": {
              "startTime": "2026-01-21T21:05:26.1531062Z",
              "poolId": "jssdkPool-Basicbe23"
            },
            "onAllTasksComplete": "noaction",
            "onTaskFailure": "noaction"
          }
        ]
      }
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basic210e"
  }
}
