{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "tags": {
          "tagKey1": "tag-value-1",
          "tagKey2": "tag-value-2",
          "DDFunMDCTag": "Public",
          "Az.Sec.DisableLocalAuth.CosmosDB::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.ServiceBus::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::Opt-In": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.Storage::OptIn": "all_regions",
          "Az.Sec.DenySubnetOutboundAccess::OptIn": "all_regions",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Owner": "azsdk",
          "Az.Sec.DisableLocalAuth.CognitiveServices::OptIn": "all_regions",
          "SecurePaaS.NetworkSecurityPerimeter::Onboarding": "single_region",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.RedisCache::OptIn": "all_regions"
        },
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.CodeSigning/checkNameAvailability?api-version=2025-10-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Microsoft.CodeSigning/codeSigningAccounts",
        "name": "account-7180"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800",
        "x-ms-rpaas-checknameavailability-skipped-regions": "West US 3,West US 2,West US,West Central US,East US,West Europe,North Europe,Central US EUAP"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1175653961",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57"
  }
}
