{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B119187185?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0dc8d8e9-7d3a-4f1a-9365-d7d467d6c4da",
        "traceresponse": "00-d32f9d44ab14c1cd9f1091a65e21abdf-6c9a897e53a65fd5-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:Ward;119187185. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:Ward;119187185\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Ward\u0022,    \u0022description\u0022: \u0022A separate partition in a building[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "16770cdd-7624-49ce-81be-99e920d3b87c",
        "traceresponse": "00-c339e8a6bbf2cc9de35d9c9329ecce8b-5ee8e041ad994c75-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B119187185?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9aa830f9-3847-4c91-aa72-c9e33f1d2a92",
        "traceresponse": "00-3b37d38b8f262f896123eda6d30222cf-eeb4ccb075197ed7-01"
      },
      "ResponseBody": {
        "id": "dtmi:example:Ward;119187185",
        "description": {
          "en": "A separate partition in a building, made of rooms and hallways."
        },
        "displayName": {
          "en": "Ward"
        },
        "decommissioned": false,
        "uploadTime": "2023-08-08T17:22:01.2015766\u002B00:00",
        "model": {
          "@id": "dtmi:example:Ward;119187185",
          "@type": "Interface",
          "displayName": "Ward",
          "description": "A separate partition in a building, made of rooms and hallways.",
          "contents": [
            {
              "@type": "Property",
              "name": "VisitorCount",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "HandWashPercentage",
              "schema": "double"
            },
            {
              "@type": "Relationship",
              "name": "managedRooms"
            }
          ],
          "@context": "dtmi:dtdl:context;2"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1931031793"
  }
}
