{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B157634182?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3fc1750d-0cf4-48ab-a773-50e40cc26c17",
        "traceresponse": "00-e009df37ef91baaa426f31ad6252a5d1-a0087d9d428925e3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:Ward;157634182. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:Ward;157634182\",    \"@type\": \"Interface\",    \"displayName\": \"Ward\",    \"description\": \"A separate partition in a building, made of rooms and hallways.\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"VisitorCount\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"HandWashPercentage\",            \"schema\": \"double\"        },        {            \"@type\": \"Relationship\",            \"name\": \"managedRooms\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ce638e0d-bc3d-43a4-a75b-be4c06e6dfd7",
        "traceresponse": "00-f5e0e5331bee395b8ef89be3523ac6da-7d62d37405893c88-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:Ward;157634182\",\"description\":{\"en\":\"A separate partition in a building, made of rooms and hallways.\"},\"displayName\":{\"en\":\"Ward\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T21:00:58.7844046+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "037d694b-7a2a-49f5-a1ae-ab0df12b2673",
        "traceresponse": "00-2344580c1b7d1b7217829b851a1af4ab-90f50728a63f5736-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;112647179",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2369336+00:00"
          },
          {
            "id": "dtmi:example:room;114878339",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2911565+00:00"
          },
          {
            "id": "dtmi:example:Ward;155584273",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T21:00:37.8146178+00:00"
          },
          {
            "id": "dtmi:example:Ward;157634182",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T21:00:58.7844046+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B157634182?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bd5ea051-3b93-4aa5-b358-138293bcad7c",
        "traceresponse": "00-e40efbf693943acae372ec5e6879769b-71010a4c1fbdd6e6-01"
      },
      "ResponseBody": {
        "id": "dtmi:example:Ward;157634182",
        "description": {
          "en": "A separate partition in a building, made of rooms and hallways."
        },
        "displayName": {
          "en": "Ward"
        },
        "decommissioned": false,
        "uploadTime": "2025-05-02T21:00:58.7844046+00:00",
        "model": {
          "@id": "dtmi:example:Ward;157634182",
          "@type": "Interface",
          "displayName": "Ward",
          "description": "A separate partition in a building, made of rooms and hallways.",
          "contents": [
            {
              "@type": "Property",
              "name": "VisitorCount",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "HandWashPercentage",
              "schema": "double"
            },
            {
              "@type": "Relationship",
              "name": "managedRooms"
            }
          ],
          "@context": "dtmi:dtdl:context;2"
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1668223474"
  }
}
