{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B129594967?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0efe0759-9a96-44de-a9ab-e1d227afa40c",
        "traceresponse": "00-d88c5495f4b18e9f5ae3c4c5e51ca798-2ba0ddb4bb0c767d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:Ward;129594967. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:Ward;129594967\",    \"@type\": \"Interface\",    \"displayName\": \"Ward\",    \"description\": \"A separate partition in a building, made of rooms and hallways.\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"VisitorCount\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"HandWashPercentage\",            \"schema\": \"double\"        },        {            \"@type\": \"Relationship\",            \"name\": \"managedRooms\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d7bb0246-eb30-4dc4-a8fd-1eca6371a99a",
        "traceresponse": "00-ac47e300a6c7db450b7fd6f3be63c96e-f620290c3300947a-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:Ward;129594967\",\"description\":{\"en\":\"A separate partition in a building, made of rooms and hallways.\"},\"displayName\":{\"en\":\"Ward\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T18:53:44.5581566+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ede27169-46d4-48c4-9bc3-12c07d5138f2",
        "traceresponse": "00-68b3d9676a22968d629db1a88400caf6-e1c686fc4aa853d5-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
           [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3AWard%3B129594967?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "57625dd9-9058-43e8-b078-3e83a8475045",
        "traceresponse": "00-7816cf91719b7a00fd11c4939cbcc98f-22e84c8ecd21da3b-01"
      },
      "ResponseBody": {
        "id": "dtmi:example:Ward;129594967",
        "description": {
          "en": "A separate partition in a building, made of rooms and hallways."
        },
        "displayName": {
          "en": "Ward"
        },
        "decommissioned": false,
        "uploadTime": "2025-05-02T18:53:44.5581566+00:00",
        "model": {
          "@id": "dtmi:example:Ward;129594967",
          "@type": "Interface",
          "displayName": "Ward",
          "description": "A separate partition in a building, made of rooms and hallways.",
          "contents": [
            {
              "@type": "Property",
              "name": "VisitorCount",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "HandWashPercentage",
              "schema": "double"
            },
            {
              "@type": "Relationship",
              "name": "managedRooms"
            }
          ],
          "@context": "dtmi:dtdl:context;2"
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "533144455"
  }
}
