{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/datasources?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "nvrxwgpt",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "eobgimgt"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "49",
        "ETag": "\"0x8DE053D84D69A55\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/datasources('nvrxwgpt')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE053D84D69A55\"",
        "name": "nvrxwgpt",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "eobgimgt",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "lpubgjfp",
        "dataSourceName": "nvrxwgpt",
        "targetIndexName": "typwqsky"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15058",
        "ETag": "\"0x8DE053D8DAD4D9A\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/indexers('lpubgjfp')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE053D8DAD4D9A\"",
        "name": "lpubgjfp",
        "description": null,
        "dataSourceName": "nvrxwgpt",
        "skillsetName": null,
        "targetIndexName": "typwqsky",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('lpubgjfp')/search.status?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "25",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_07_01.IndexerExecutionInfo",
        "name": "lpubgjfp",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2025-10-07T01:05:09.043Z",
          "endTime": "2025-10-07T01:05:12.467Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-10-07T01:05:09.18Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-10-07T01:04:39.1804905+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-10-07T01:04:39.1804905+00:00\",\"NameHighWaterMark\":null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2025-10-07T01:05:09.043Z",
            "endTime": "2025-10-07T01:05:12.467Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-10-07T01:05:09.18Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-10-07T01:04:39.1804905+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-10-07T01:04:39.1804905+00:00\",\"NameHighWaterMark\":null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 524288
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('lpubgjfp')?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "14",
        "ETag": "\"0x8DE053D917E7442\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE053D917E7442\"",
        "name": "lpubgjfp",
        "description": null,
        "dataSourceName": "nvrxwgpt",
        "skillsetName": null,
        "targetIndexName": "typwqsky",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('lpubgjfp')?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE053D917E7442\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "lpubgjfp",
        "description": "Updated description",
        "dataSourceName": "nvrxwgpt",
        "targetIndexName": "typwqsky",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\"0x8DE053D917E7442\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "147",
        "ETag": "\"0x8DE053D940223F0\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE053D940223F0\"",
        "name": "lpubgjfp",
        "description": "Updated description",
        "dataSourceName": "nvrxwgpt",
        "skillsetName": null,
        "targetIndexName": "typwqsky",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('lpubgjfp')/search.run?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "51",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('typwqsky')/docs/$count?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "27",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('typwqsky')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "200",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "eobgimgt",
    "RandomSeed": "1218899547",
    "SearchIndexName": "typwqsky",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shivangisearchstg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
