{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/datasources?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "pslkpfoe",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "fyyouywt"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "45",
        "ETag": "\"0x8DCA546763953FE\"",
        "Location": "https://azs-net-shivangisearchtest4.search.windows.net/datasources('pslkpfoe')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DCA546763953FE\"",
        "name": "pslkpfoe",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fyyouywt",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexers?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "icuctsoj",
        "dataSourceName": "pslkpfoe",
        "targetIndexName": "vekewpgn"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "13603",
        "ETag": "\"0x8DCA5467E2AEF7E\"",
        "Location": "https://azs-net-shivangisearchtest4.search.windows.net/indexers('icuctsoj')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DCA5467E2AEF7E\"",
        "name": "icuctsoj",
        "description": null,
        "dataSourceName": "pslkpfoe",
        "skillsetName": null,
        "targetIndexName": "vekewpgn",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexers('icuctsoj')/search.status?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_07_01.IndexerExecutionInfo",
        "name": "icuctsoj",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2024-07-16T03:22:20.654Z",
          "endTime": "2024-07-16T03:22:24.237Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2024-07-16T03:22:21.523Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2024-07-16T03:21:51.5233824+00:00\",\"LastAttemptedEnumerationStartTime\":\"2024-07-16T03:21:51.5233824+00:00\",\"NameHighWaterMark\":null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2024-07-16T03:22:20.654Z",
            "endTime": "2024-07-16T03:22:24.237Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2024-07-16T03:22:21.523Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2024-07-16T03:21:51.5233824+00:00\",\"LastAttemptedEnumerationStartTime\":\"2024-07-16T03:21:51.5233824+00:00\",\"NameHighWaterMark\":null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 65536
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexers('icuctsoj')?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "12",
        "ETag": "\"0x8DCA54682EFC4BC\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DCA54682EFC4BC\"",
        "name": "icuctsoj",
        "description": null,
        "dataSourceName": "pslkpfoe",
        "skillsetName": null,
        "targetIndexName": "vekewpgn",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexers('icuctsoj')?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DCA54682EFC4BC\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "icuctsoj",
        "description": "Updated description",
        "dataSourceName": "pslkpfoe",
        "targetIndexName": "vekewpgn",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\"0x8DCA54682EFC4BC\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2271",
        "ETag": "\"0x8DCA54685BF6A6E\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DCA54685BF6A6E\"",
        "name": "icuctsoj",
        "description": "Updated description",
        "dataSourceName": "pslkpfoe",
        "skillsetName": null,
        "targetIndexName": "vekewpgn",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexers('icuctsoj')/search.run?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "45",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('vekewpgn')/docs/$count?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "23",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('vekewpgn')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "151",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "fyyouywt",
    "RandomSeed": "319976158",
    "SearchIndexName": "vekewpgn",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shivangisearchtest4stg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
