{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "lcpyorks",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "eavtvrhd"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "161",
        "ETag": "\u00220x8DBC53582111E39\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027lcpyorks\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBC53582111E39\u0022",
        "name": "lcpyorks",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "eavtvrhd",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tuhejqqo",
        "dataSourceName": "lcpyorks",
        "targetIndexName": "xwdlmtql"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2999",
        "ETag": "\u00220x8DBC53583CAB73A\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027tuhejqqo\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC53583CAB73A\u0022",
        "name": "tuhejqqo",
        "description": null,
        "dataSourceName": "lcpyorks",
        "skillsetName": null,
        "targetIndexName": "xwdlmtql",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027tuhejqqo\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBC53583CAB73A\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "tuhejqqo",
        "description": "Updated description",
        "dataSourceName": "lcpyorks",
        "targetIndexName": "xwdlmtql",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8DBC53583CAB73A\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2241",
        "ETag": "\u00220x8DBC5358546D735\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBC5358546D735\u0022",
        "name": "tuhejqqo",
        "description": "Updated description",
        "dataSourceName": "lcpyorks",
        "skillsetName": null,
        "targetIndexName": "xwdlmtql",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027tuhejqqo\u0027)/search.status?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.IndexerExecutionInfo",
        "name": "tuhejqqo",
        "status": "running",
        "lastResult": {
          "status": "success",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2023-10-04T23:56:25.059Z",
          "endTime": "2023-10-04T23:56:27.512Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-04T23:56:25.074Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-04T23:55:55.0748026\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-04T23:55:55.0748026\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2023-10-04T23:56:25.059Z",
            "endTime": "2023-10-04T23:56:27.512Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-04T23:56:25.074Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-04T23:55:55.0748026\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-04T23:55:55.0748026\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-04T23:56:25.074Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "allDocsFinalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-04T23:55:55.0748026\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-04T23:55:55.0748026\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": []
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027tuhejqqo\u0027)/search.run?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "30",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027xwdlmtql\u0027)/docs/$count?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027xwdlmtql\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "155",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "eavtvrhd",
    "RandomSeed": "1968327460",
    "SearchIndexName": "xwdlmtql",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchservicestg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
