{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "pharnhxt",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "iccoediq"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "37",
        "ETag": "\u00220x8DBDA6ABB4BA8CB\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027pharnhxt\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBDA6ABB4BA8CB\u0022",
        "name": "pharnhxt",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "iccoediq",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "dkgwidrc",
        "dataSourceName": "pharnhxt",
        "targetIndexName": "vegrnxed"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3026",
        "ETag": "\u00220x8DBDA6ABD0D08F7\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027dkgwidrc\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBDA6ABD0D08F7\u0022",
        "name": "dkgwidrc",
        "description": null,
        "dataSourceName": "pharnhxt",
        "skillsetName": null,
        "targetIndexName": "vegrnxed",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027dkgwidrc\u0027)/search.status?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "64",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_11_01.IndexerExecutionInfo",
        "name": "dkgwidrc",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2023-10-31T23:40:19.763Z",
          "endTime": "2023-10-31T23:40:20.185Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-31T23:40:19.778Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-31T23:39:49.7789235\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-31T23:39:49.7789235\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2023-10-31T23:40:19.763Z",
            "endTime": "2023-10-31T23:40:20.185Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-31T23:40:19.778Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-31T23:39:49.7789235\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-31T23:39:49.7789235\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 134217728,
          "maxDocumentContentCharactersToExtract": 4194304
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027dkgwidrc\u0027)?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "6",
        "ETag": "\u00220x8DBDA6ABE992CD6\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBDA6ABE992CD6\u0022",
        "name": "dkgwidrc",
        "description": null,
        "dataSourceName": "pharnhxt",
        "skillsetName": null,
        "targetIndexName": "vegrnxed",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027dkgwidrc\u0027)?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBDA6ABE992CD6\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "dkgwidrc",
        "description": "Updated description",
        "dataSourceName": "pharnhxt",
        "targetIndexName": "vegrnxed",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8DBDA6ABE992CD6\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2185",
        "ETag": "\u00220x8DBDA6AC482A725\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBDA6AC482A725\u0022",
        "name": "dkgwidrc",
        "description": "Updated description",
        "dataSourceName": "pharnhxt",
        "skillsetName": null,
        "targetIndexName": "vegrnxed",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexers(\u0027dkgwidrc\u0027)/search.run?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "40",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027vegrnxed\u0027)/docs/$count?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027vegrnxed\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "132",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "iccoediq",
    "RandomSeed": "128901979",
    "SearchIndexName": "vegrnxed",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchservicestg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
