{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/datasources?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "abqleuxo",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "cfbdakyt"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "71",
        "ETag": "\"0x8DE86BCD8151D89\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/datasources('abqleuxo')?api-version=2026-04-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE86BCD8151D89\"",
        "name": "abqleuxo",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "cfbdakyt",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "yqwewpif",
        "dataSourceName": "abqleuxo",
        "targetIndexName": "aatfmsoi"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21987",
        "ETag": "\"0x8DE86BCE5334CA9\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/indexers('yqwewpif')?api-version=2026-04-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE86BCE5334CA9\"",
        "name": "yqwewpif",
        "description": null,
        "dataSourceName": "abqleuxo",
        "skillsetName": null,
        "targetIndexName": "aatfmsoi",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers('yqwewpif')/search.status?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "75",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#Microsoft.Azure.Search.V2026_04_01.IndexerExecutionInfo",
        "name": "yqwewpif",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2026-03-20T20:11:41.499Z",
          "endTime": "2026-03-20T20:11:45.077Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2026-03-20T20:11:41.521Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2026-03-20T20:11:11.5211319+00:00\",\"LastAttemptedEnumerationStartTime\":\"2026-03-20T20:11:11.5211319+00:00\",\"NameHighWaterMark\":null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2026-03-20T20:11:41.499Z",
            "endTime": "2026-03-20T20:11:45.077Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2026-03-20T20:11:41.521Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2026-03-20T20:11:11.5211319+00:00\",\"LastAttemptedEnumerationStartTime\":\"2026-03-20T20:11:11.5211319+00:00\",\"NameHighWaterMark\":null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 524288
        }
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers('yqwewpif')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "ETag": "\"0x8DE86BCE8DDDBE8\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE86BCE8DDDBE8\"",
        "name": "yqwewpif",
        "description": null,
        "dataSourceName": "abqleuxo",
        "skillsetName": null,
        "targetIndexName": "aatfmsoi",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers('yqwewpif')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE86BCE8DDDBE8\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "yqwewpif",
        "description": "Updated description",
        "dataSourceName": "abqleuxo",
        "targetIndexName": "aatfmsoi",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\"0x8DE86BCE8DDDBE8\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2154",
        "ETag": "\"0x8DE86BCECAB5E75\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DE86BCECAB5E75\"",
        "name": "yqwewpif",
        "description": "Updated description",
        "dataSourceName": "abqleuxo",
        "skillsetName": null,
        "targetIndexName": "aatfmsoi",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexers('yqwewpif')/search.run?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "45",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('aatfmsoi')/docs/$count?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('aatfmsoi')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "220",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "cfbdakyt",
    "RandomSeed": "818252094",
    "SearchIndexName": "aatfmsoi",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "azssdkteststg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
