{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/datasources?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "rkdftary",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "vrjkkefc"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "52",
        "ETag": "\"0x8DD9A2FDAA4FC49\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/datasources('rkdftary')?api-version=2025-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DD9A2FDAA4FC49\"",
        "name": "rkdftary",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "indexerPermissionOptions": [],
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "vrjkkefc",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "oalyhusx",
        "dataSourceName": "rkdftary",
        "targetIndexName": "xuynwilk"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "13220",
        "ETag": "\"0x8DD9A2FE287B98E\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/indexers('oalyhusx')?api-version=2025-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DD9A2FE287B98E\"",
        "name": "oalyhusx",
        "description": null,
        "dataSourceName": "rkdftary",
        "skillsetName": null,
        "targetIndexName": "xuynwilk",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('oalyhusx')/search.status?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_05_01_Preview.IndexerExecutionInfo",
        "name": "oalyhusx",
        "status": "running",
        "lastResult": {
          "status": "success",
          "statusDetail": null,
          "errorMessage": null,
          "startTime": "2025-05-23T19:27:42.463Z",
          "endTime": "2025-05-23T19:27:45.597Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-05-23T19:27:42.479Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-05-23T19:27:12.4798443+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-05-23T19:27:12.4798443+00:00\",\"NameHighWaterMark\":null}",
          "mode": "indexingAllDocs",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "statusDetail": null,
            "errorMessage": null,
            "startTime": "2025-05-23T19:27:42.463Z",
            "endTime": "2025-05-23T19:27:45.597Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-05-23T19:27:42.479Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
            "finalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-05-23T19:27:12.4798443+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-05-23T19:27:12.4798443+00:00\",\"NameHighWaterMark\":null}",
            "mode": "indexingAllDocs",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 524288
        },
        "currentState": {
          "mode": "indexingAllDocs",
          "allDocsInitialTrackingState": "{\r\n  \"lastFullEnumerationStartTime\": \"0001-01-01T00:00:00Z\",\r\n  \"lastAttemptedEnumerationStartTime\": \"2025-05-23T19:27:42.479Z\",\r\n  \"nameHighWaterMark\": null\r\n}",
          "allDocsFinalTrackingState": "{\"LastFullEnumerationStartTime\":\"2025-05-23T19:27:12.4798443+00:00\",\"LastAttemptedEnumerationStartTime\":\"2025-05-23T19:27:12.4798443+00:00\",\"NameHighWaterMark\":null}",
          "resetDocsInitialTrackingState": null,
          "resetDocsFinalTrackingState": null,
          "resetDocumentKeys": [],
          "resetDatasourceDocumentIds": [],
          "resyncInitialTrackingState": null,
          "resyncFinalTrackingState": null
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('oalyhusx')?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "13",
        "ETag": "\"0x8DD9A2FE5372BE8\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DD9A2FE5372BE8\"",
        "name": "oalyhusx",
        "description": null,
        "dataSourceName": "rkdftary",
        "skillsetName": null,
        "targetIndexName": "xuynwilk",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('oalyhusx')?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DD9A2FE5372BE8\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "oalyhusx",
        "description": "Updated description",
        "dataSourceName": "rkdftary",
        "targetIndexName": "xuynwilk",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\"0x8DD9A2FE5372BE8\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "110",
        "ETag": "\"0x8DD9A2FE8B0D394\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\"0x8DD9A2FE8B0D394\"",
        "name": "oalyhusx",
        "description": "Updated description",
        "dataSourceName": "rkdftary",
        "skillsetName": null,
        "targetIndexName": "xuynwilk",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexers('oalyhusx')/search.run?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "46",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('xuynwilk')/docs/$count?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "48",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('xuynwilk')?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "170",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "vrjkkefc",
    "RandomSeed": "472366245",
    "SearchIndexName": "xuynwilk",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shivangisearchstg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
