{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/datasources?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "oehnsfvw",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "sendxrqa"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "62",
        "ETag": "\u00220x8DBCF45E94960AD\u0022",
        "Location": "https://azs-net-shrejasearchtest.search.windows.net/datasources(\u0027oehnsfvw\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBCF45E94960AD\u0022",
        "name": "oehnsfvw",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "sendxrqa",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexers?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "levcbgef",
        "dataSourceName": "oehnsfvw",
        "targetIndexName": "uhelfvnk"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "5420",
        "ETag": "\u00220x8DBCF45EC7B7E85\u0022",
        "Location": "https://azs-net-shrejasearchtest.search.windows.net/indexers(\u0027levcbgef\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBCF45EC7B7E85\u0022",
        "name": "levcbgef",
        "description": null,
        "dataSourceName": "oehnsfvw",
        "skillsetName": null,
        "targetIndexName": "uhelfvnk",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexers(\u0027levcbgef\u0027)/search.status?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_11_01.IndexerExecutionInfo",
        "name": "levcbgef",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2023-10-17T19:19:07.89Z",
          "endTime": "2023-10-17T19:19:08.483Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-17T19:19:07.952Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-17T19:18:37.9525702\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-17T19:18:37.9525702\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2023-10-17T19:19:07.89Z",
            "endTime": "2023-10-17T19:19:08.483Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222023-10-17T19:19:07.952Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222023-10-17T19:18:37.9525702\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222023-10-17T19:18:37.9525702\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "P1D",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 65536
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexers(\u0027levcbgef\u0027)?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "ETag": "\u00220x8DBCF45EFC2CFBD\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBCF45EFC2CFBD\u0022",
        "name": "levcbgef",
        "description": null,
        "dataSourceName": "oehnsfvw",
        "skillsetName": null,
        "targetIndexName": "uhelfvnk",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexers(\u0027levcbgef\u0027)?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBCF45EFC2CFBD\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "levcbgef",
        "description": "Updated description",
        "dataSourceName": "oehnsfvw",
        "targetIndexName": "uhelfvnk",
        "fieldMappings": [],
        "outputFieldMappings": [],
        "@odata.etag": "\u00220x8DBCF45EFC2CFBD\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "2234",
        "ETag": "\u00220x8DBCF45F40AD234\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8DBCF45F40AD234\u0022",
        "name": "levcbgef",
        "description": "Updated description",
        "dataSourceName": "oehnsfvw",
        "skillsetName": null,
        "targetIndexName": "uhelfvnk",
        "disabled": null,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexers(\u0027levcbgef\u0027)/search.run?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "elapsed-time": "45",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027uhelfvnk\u0027)/docs/$count?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": 10
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027uhelfvnk\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "171",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "sendxrqa",
    "RandomSeed": "1327925803",
    "SearchIndexName": "uhelfvnk",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchteststg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
