{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/datasources?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "snyimwmt",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "ykiryuad"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "64",
        "ETag": "\"0x8DCDC1CABA93A78\"",
        "Location": "https://azs-net-t0eeade0124fbb432.search.windows.net/datasources('snyimwmt')?api-version=2024-09-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DCDC1CABA93A78\"",
        "name": "snyimwmt",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "ykiryuad",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/datasources('snyimwmt')?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DCDC1CABA93A78\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "snyimwmt",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "ykiryuad"
        },
        "@odata.etag": "\"0x8DCDC1CABA93A78\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "69",
        "ETag": "\"0x8DCDC1CABC0ED85\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DCDC1CABC0ED85\"",
        "name": "snyimwmt",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "ykiryuad",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/datasources?$select=name&api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "bxwjacpl"
          },
          {
            "name": "feunmews"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('vjhrujph')?api-version=2024-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "153",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "ykiryuad",
    "RandomSeed": "1122059307",
    "SearchIndexName": "vjhrujph",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "t0eeade0124fbb432stg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
