{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "ebsvrrja",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "pqirkkaf"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "53",
        "ETag": "\u00220x8DBC445F15DAAA6\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027ebsvrrja\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBC445F15DAAA6\u0022",
        "name": "ebsvrrja",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "pqirkkaf",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027ebsvrrja\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBC445F15DAAA6\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "ebsvrrja",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "pqirkkaf"
        },
        "@odata.etag": "\u00220x8DBC445F15DAAA6\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "56",
        "ETag": "\u00220x8DBC445F16E7224\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DBC445F16E7224\u0022",
        "name": "ebsvrrja",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "pqirkkaf",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?$select=name\u0026api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "bmrxocaj"
          },
          {
            "name": "dqubqhsn"
          },
          {
            "name": "eoflpibi"
          },
          {
            "name": "esfwntvj"
          },
          {
            "name": "lyhurxoe"
          },
          {
            "name": "mdrjfdes"
          },
          {
            "name": "mguwtrnv"
          },
          {
            "name": "qvwjdxig"
          },
          {
            "name": "vyanvgyc"
          },
          {
            "name": "xwhnvxvj"
          },
          {
            "name": "yvqogshk"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qhuwbofq\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "119",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "pqirkkaf",
    "RandomSeed": "290136713",
    "SearchIndexName": "qhuwbofq",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchservicestg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
