{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/datasources?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "iqydevfr",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "tluiabvh"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "52",
        "ETag": "\"0x8DCA54699B2FB57\"",
        "Location": "https://azs-net-shivangisearchtest4.search.windows.net/datasources('iqydevfr')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DCA54699B2FB57\"",
        "name": "iqydevfr",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "tluiabvh",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/datasources('iqydevfr')?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DCA54699B2FB57\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "iqydevfr",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "tluiabvh"
        },
        "@odata.etag": "\"0x8DCA54699B2FB57\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "42",
        "ETag": "\"0x8DCA54699BE1270\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DCA54699BE1270\"",
        "name": "iqydevfr",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "tluiabvh",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/datasources?$select=name&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "abwdlygl"
          },
          {
            "name": "mlfojdhj"
          },
          {
            "name": "nyotsbru"
          },
          {
            "name": "pslkpfoe"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('hqqopada')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "132",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "tluiabvh",
    "RandomSeed": "1323434774",
    "SearchIndexName": "hqqopada",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shivangisearchtest4stg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
