{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/skillsets?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "eoctbaad",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "context": "/document/reviews_text/pages/*",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
            ],
            "outputs": [
              {
                "[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/skillsets('eoctbaad')?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE86BD4A6AC02D\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "eoctbaad",
        "description": "Update description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ],
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "context": "/document/reviews_text/pages/*",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*",
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "confidenceScores",
                "targetName": "Sentiment"
              }
            ],
            "defaultLanguageCode": "en",
            "includeOpinionMining": false
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.LanguageDetectionSkill",
            "context": "/document",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "languageCode",
                "targetName": "Language"
              }
            ]
          },
       [...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/skillsets('eoctbaad')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "ETag": "\"0x8DE86BD4A8445F9\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\"0x8DE86BD4A8445F9\"",
        "name": "eoctbaad",
        "description": "Update description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "#1",
            "description": null,
            "context": "/document/reviews_text",
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": 0,
            "maximumPagesToTake": 0,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "name": "#2",
            "description": null,
            "context": "/document/reviews_text/pages/*",
            "defaultLanguageCode": "en",
            "modelVersion": null,
            "includeOpinionMining": false,
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "confidenceScores",
                "targetName": "Sentiment"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.LanguageDetectionSkill",
            "name": "#3",
            "description": null,
            "context": "/document",
            "defaultCountryHint": null,
            "modelVersion": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "languageCode",
                "targetName": "Language"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.KeyPhraseExtractionSkill",
            "name": "#4",
            "description": null,
            "context": "/document/reviews_text/pages/*",
            "defaultLanguageCode": "en",
            "maxKeyPhraseCount": null,
            "modelVersion": null,
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_Text/pages/*",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
             [...]
[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/skillsets?api-version=2026-04-01&$select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#skillsets(name)",
        "value": [
          {
            "name": "gyjqbpwv"
          },
          {
            "name": "tgalywtk"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('kaxymtqv')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "189",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "wqjthkqt",
    "RandomSeed": "745732069",
    "SearchIndexName": "kaxymtqv",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "azssdkteststg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
