{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "crlequyl",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "ctynetlc"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "54",
        "ETag": "\u00220x8DC0E43F13810D8\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027crlequyl\u0027)?api-version=2023-10-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DC0E43F13810D8\u0022",
        "name": "crlequyl",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "ctynetlc",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources(\u0027crlequyl\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DC0E43F13810D8\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "crlequyl",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "ctynetlc"
        },
        "@odata.etag": "\u00220x8DC0E43F13810D8\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "60",
        "ETag": "\u00220x8DC0E43F14A10AF\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8DC0E43F14A10AF\u0022",
        "name": "crlequyl",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "ctynetlc",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/datasources?$select=name\u0026api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "enipxkws"
          },
          {
            "name": "eojaxlhc"
          },
          {
            "name": "pharnhxt"
          },
          {
            "name": "qcbkoxxe"
          },
          {
            "name": "qopmsprf"
          },
          {
            "name": "ujdpwdqk"
          },
          {
            "name": "wtucvdtn"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027ovcxdrga\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "169",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "ctynetlc",
    "RandomSeed": "1378455308",
    "SearchIndexName": "ovcxdrga",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchservicestg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
