{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchwestus.search.windows.net/datasources?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "bsowsfpd",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "wawdnajy"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "46",
        "ETag": "\"0x8DC6A2094B62237\"",
        "Location": "https://azs-net-shrejasearchwestus.search.windows.net/datasources('bsowsfpd')?api-version=2024-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchwestus.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DC6A2094B62237\"",
        "name": "bsowsfpd",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "wawdnajy",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchwestus.search.windows.net/datasources('bsowsfpd')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DC6A2094B62237\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "bsowsfpd",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "wawdnajy"
        },
        "@odata.etag": "\"0x8DC6A2094B62237\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "32",
        "ETag": "\"0x8DC6A2094C8F8C9\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchwestus.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DC6A2094C8F8C9\"",
        "name": "bsowsfpd",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "wawdnajy",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchwestus.search.windows.net/datasources?$select=name&api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchwestus.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "lmwuftws"
          },
          {
            "name": "tnocbccu"
          },
          {
            "name": "ymmrychv"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchwestus.search.windows.net/indexes('eiuubwti')?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "136",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "wawdnajy",
    "RandomSeed": "344614540",
    "SearchIndexName": "eiuubwti",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchwestus",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchwestusstg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
