{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets?api-version=2023-10-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "yvqhmeyf",
        "skills": [
          {
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "defaultLanguageCode": "en",
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "context": "/document/reviews_text/pages/*",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*"
              },
              {
                "name": "languageCode",
                "source": "/document/Language"
              }[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets(\u0027yvqhmeyf\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DBC445C5CC3850\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "yvqhmeyf",
        "description": "Update description",
        "skills": [
          {
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "context": "/document/reviews_text",
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "defaultLanguageCode": "en",
            "includeOpinionMining": false,
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "context": "/document/reviews_text/pages/*",
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*",
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "inputs": []
              }
            ],
            "outputs"[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets(\u0027yvqhmeyf\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "41",
        "ETag": "\u00220x8DBC445C5F0AD3C\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8DBC445C5F0AD3C\u0022",
        "name": "yvqhmeyf",
        "description": "Update description",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.SplitSkill",
            "name": "#1",
            "description": null,
            "context": "/document/reviews_text",
            "defaultLanguageCode": "en",
            "textSplitMode": "pages",
            "maximumPageLength": 5000,
            "pageOverlapLength": 0,
            "maximumPagesToTake": 0,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "textItems",
                "targetName": "pages"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "name": "#2",
            "description": null,
            "context": "/document/reviews_text/pages/*",
            "defaultLanguageCode": "en",
            "modelVersion": null,
            "includeOpinionMining": false,
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_text/pages/*",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "confidenceScores",
                "targetName": "Sentiment"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.LanguageDetectionSkill",
            "name": "#3",
            "description": null,
            "context": "/document",
            "defaultCountryHint": null,
            "modelVersion": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/reviews_text",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "languageCode",
                "targetName": "Language"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.KeyPhraseExtractionSkill",
            "name": "#4",
            "description": null,
            "context": "/document/reviews_text/pages/*",
            "defaultLanguageCode": "en",
            "maxKeyPhraseCount": null,
            "modelVersion": null,
            "inputs": [
              {
                "name": "text",
                "source": "/documents/reviews_Text/pages/*",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "languageCode",
                "source": "/document/Language",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
             [...]
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets?$select=name\u0026api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#skillsets(name)",
        "value": [
          {
            "name": "bsderipe"
          },
          {
            "name": "dvbcgapb"
          },
          {
            "name": "ifoiwxka"
          },
          {
            "name": "ilqfscfa"
          },
          {
            "name": "jnaxushk"
          },
          {
            "name": "mssdifxh"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027cyvalhdh\u0027)?api-version=2023-10-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "126",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "iwkcvxtw",
    "RandomSeed": "1011274293",
    "SearchIndexName": "cyvalhdh",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shrejasearchservicestg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
