{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/datasources?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "rwavckag",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "gedwwihg"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "65",
        "ETag": "\"0x8DE053DA8686AD6\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/datasources('rwavckag')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE053DA8686AD6\"",
        "name": "rwavckag",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "gedwwihg",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/datasources('rwavckag')?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE053DA8686AD6\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "rwavckag",
        "description": "Updated description",
        "type": "azureblob",
        "credentials": {
          "connectionString": "Sanitized"
        },
        "container": {
          "name": "gedwwihg"
        },
        "@odata.etag": "\"0x8DE053DA8686AD6\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "70",
        "ETag": "\"0x8DE053DA877E9A2\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\"0x8DE053DA877E9A2\"",
        "name": "rwavckag",
        "description": "Updated description",
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "gedwwihg",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/datasources?$select=name&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "69",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#datasources(name)",
        "value": [
          {
            "name": "nvrxwgpt"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('jrynawos')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "220",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BlobContainerName": "gedwwihg",
    "RandomSeed": "987442731",
    "SearchIndexName": "jrynawos",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "shivangisearchstg",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net"
  }
}
