{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/skillsets?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "pnpvikjg",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "inputs": [
              {
                "name": "condition",
                "source": "/document/content"
              },
              {
                "name": "whenTrue",
                "source": "/document/content"
              },
              {
                "name": "whenFalse",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "output",
                "targetName": "ascbdhma"
              }
            ]
          },
          {
            "entitiesDefinitionUri": "https://microsoft.com/",
            "@odata.type": "#Microsoft.Skills.Text.CustomEntityLookupSkill",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              },
              {
                "name": "languageCode",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "entities",
                "targetName": "moeaqqps"
          [...]
