{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "2cd617ea-1866-46b1-90e3-fffb087ebf9b",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/testRG-7651?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/testRG-7651",
        "name": "testRG-7651",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/testRG-7651/providers/Microsoft.Compute/galleries/galleryName5883?api-version=2024-03-03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sharingProfile": {
            "permissions": "Community",
            "communityGalleryInfo": {
              "publisherUri": "www.gallerytestxxx.com",
              "publisherContact": "gallerytest@163.com",
              "publicNamePrefix": "gallerytest"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.Compute/locations/westus2/capsOperations/2463bb96-4cb8-43b8-9a0f-822445669c85?api-version=2024-03-03&t=638757142301941385&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAldBMRAwDgYDVQQHEwdSZWRtb25kMR4wHAYDVQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.Compute/locations/westus2/capsOperations/2463bb96-4cb8-43b8-9a0f-822445669c85?api-version=2024-03-03&t=638757142301941385&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAldBMRAwDgYDV[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/testRG-7651/providers/Microsoft.Compute/galleries/galleryName5883?api-version=2024-03-03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetGallery3Min;345,Microsoft.Compute/GetGallery30Min;2495",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "galleryName5883",
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/testRG-7651/providers/Microsoft.Compute/galleries/galleryName5883",
        "type": "Microsoft.Compute/galleries",
        "location": "eastus",
        "properties": {
          "identifier": {
            "uniqueName": "2cd617ea-1866-46b1-90e3-fffb087ebf9b-GALLERYNAME5883"
          },
          "sharingProfile": {
            "permissions": "Community",
            "communityGalleryInfo": {
              "communityGalleryEnabled": false,
              "publisherUri": "www.gallerytestxxx.com",
              "publisherContact": "gallerytest@163.com",
              "publicNamePrefix": "gallerytest",
              "publicNames": [
                "gallerytest-3f6fb93a-6f1e-4411-bd2f-bc2b5634a395"
              ]
            }
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1442754050",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cd617ea-1866-46b1-90e3-fffb087ebf9b"
  }
}
