{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "gxlspbux",
        "description": "Hotels search index source with base filter",
        "kind": "searchIndex",
        "searchIndexParameters": {
          "searchIndexName": "jndckuyt",
          "sourceDataFields": [
            {
              "name": "hotelId"
            },
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ],
          "baseFilter": "category eq 'Luxury'"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "76",
        "ETag": "\"0x8DEB2033FF87393\"",
        "Location": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('gxlspbux')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEB2033FF87393\"",
        "name": "gxlspbux",
        "kind": "searchIndex",
        "description": "Hotels search index source with base filter",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "jndckuyt",
          "semanticConfigurationName": null,
          "baseFilter": "category eq 'Luxury'",
          "sourceDataFields": [
            {
              "name": "hotelId"
            },
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "mcpServerParameters": null,
        "fabricOntologyParameters": null,
        "fabricDataAgentParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null,
        "fileParameters": null,
        "indexedSqlParameters": null
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgebases?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "rqyffpcc",
        "knowledgeSources": [
          {
            "name": "gxlspbux"
          }
        ],
        "retrievalReasoningEffort": {
          "kind": "minimal"
        },
        "outputMode": "extractiveData",
        "description": "KB with persisted defaults and base filter"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "35",
        "ETag": "\"0x8DEB203413D4287\"",
        "Location": "https://azs-net-azsearchsdktest.search.windows.net/knowledgebases('rqyffpcc')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEB203413D4287\"",
        "name": "rqyffpcc",
        "description": "KB with persisted defaults and base filter",
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": "extractiveData",
        "knowledgeSources": [
          {
            "name": "gxlspbux",
            "enableImageServing": null,
            "enableFreshness": null
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": {
          "kind": "minimal"
        },
        "corsOptions": null
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgebases('rqyffpcc')/retrieve?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "intents": [
          {
            "type": "semantic",
            "search": "What are the best luxury hotels?"
          }
        ],
        "includeActivity": true,
        "knowledgeSourceParams": [
          {
            "knowledgeSourceName": "gxlspbux",
            "includeReferences": true,
            "includeReferenceSourceData": true,
            "kind": "searchIndex",
            "filterAddOn": "rating ge 4"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "182",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#Microsoft.WindowsAzure.Search.Core.Models.V2026_05_01_Preview.Agents.AgentRetrievalResponse",
        "response": [
          {
            "content": [
              {
                "type": "text",
                "text": "[{\"ref_id\":0,\"title\":\"Fancy Stay\",\"terms\":\"Luxury\",\"content\":\"Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.\"}]"
              }
            ]
          }
        ],
        "activity": [
          {
            "type": "searchIndex",
            "id": 0,
            "knowledgeSourceName": "gxlspbux",
            "queryTime": "2026-05-14T21:53:40.4204009Z",
            "count": 1,
            "elapsedMs": 0,
            "searchIndexArguments": {
              "search": "What are the best luxury hotels?",
              "filter": "(category eq 'Luxury') and (rating ge 4)",
              "semanticConfigurationName": null,
              "sourceDataFields": [
                {
                  "name": "hotelName"
                },
                {
                  "name": "description"
                },
                {
                  "name": "category"
                },
                {
                  "name": "hotelId"
                }
              ],
              "searchFields": []
            }
          },
          {
            "type": "agenticReasoning",
            "id": 1,
            "reasoningTokens": 57,
            "retrievalReasoningEffort": {
              "kind": "minimal"
            }
          }
        ],
        "references": [
          {
            "type": "searchIndex",
            "id": "0",
            "activitySource": 0,
            "sourceData": {
              "hotelId": "1",
              "hotelName": "Fancy Stay",
              "description": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
              "category": "Luxury"
            },
            "rerankerScore": 2.8155093,
            "docKey": "1",
            "title": "Fancy Stay"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgebases('rqyffpcc')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "14",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('gxlspbux')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "49",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('jndckuyt')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "203",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "OPENAI_ENDPOINT": "https://azsearchsdktestoai.openai.azure.com/",
    "OPENAI_KEY": "Sanitized",
    "RandomSeed": "2142528178",
    "SearchIndexName": "jndckuyt",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
