{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-bdb0ac59-ca60-f440-a05b-5cf85f5235f1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE184278F17F\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-bdb0ac59-ca60-f440-a05b-5cf85f5235f1/test-directory-8e32f2d8-1f44-1904-c703-4194c322d299?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1842824EC4\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-file-change-time": "2024-10-16T19:25:14.2229700Z",
        "x-ms-file-creation-time": "2024-10-16T19:25:14.2229700Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:25:14.2229700Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-bdb0ac59-ca60-f440-a05b-5cf85f5235f1/test-directory-8e32f2d8-1f44-1904-c703-4194c322d299/test-file-af649758-572f-2294-eef2-ea1ecf780ae4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1842892BA3\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-file-change-time": "2024-10-16T19:25:14.2679459Z",
        "x-ms-file-creation-time": "2024-10-16T19:25:14.2679459Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:25:14.2679459Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-bdb0ac59-ca60-f440-a05b-5cf85f5235f1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1046587100",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium\nU2FuaXRpemVk\nhttps://seancanaryfilepremium.blob.core.windows.net\nhttps://seancanaryfilepremium.file.core.windows.net\nhttps://seancanaryfilepremium.queue.core.windows.net\nhttps://seancanaryfilepremium.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium-secondary.file.core.windows.net\nhttps://seancanaryfilepremium-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium;AccountKey=Sanitized\n\n\n"
  }
}
