{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-bd40cf63-5750-a22f-3ecc-c9aac5a7af3a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF883410344E\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-bd40cf63-5750-a22f-3ecc-c9aac5a7af3a/test-file-56d4d04f-4a7e-71db-a984-1c6151adcbad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "iUq9KemlGNahw12m7tlGkA==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "AI5��\u0010nY�ؚ�\u0002�2c\u001B�1\u0006�4\u0000+��Hh\t\u0002'�A0@\u0007Է?bz���0o�R�F�|��\fH\t\u00133\u001A&��s����\\F��A�[{�\u0011\u0001���J�\u0017P$����$<���<a�o`\\\u0000Չ\u001F�j�X!\u00190A��Ƕo`�^�]�h�ɋ>Yb��S�u!���\tohb\u000B\u000BG�Dt�@\u000Ff�zx����bO�����4\u0016��Υ��\u001D��\\p�Fɮ!�.VG�f@�\u0019� h��pY�.��qjv\u000E]}�[��\u001C�P�\u0006m��\u0019@~%�IϴV@�\u0017:\u0017�°\u0017�H�\u007Fn�\"_��\u0018\u0006|\u0[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-bd40cf63-5750-a22f-3ecc-c9aac5a7af3a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1396396047",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
