{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2de998b2-595f-eecf-5588-44d6ada3319f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86753C238654\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2de998b2-595f-eecf-5588-44d6ada3319f/test-directory-00fa1764-d52c-df1e-18ca-e07241e94a0b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86753C32B9C2\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:08:45.9020738Z",
        "x-ms-file-creation-time": "2024-06-06T22:08:45.9020738Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:08:45.9020738Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2de998b2-595f-eecf-5588-44d6ada3319f/test-directory-00fa1764-d52c-df1e-18ca-e07241e94a0b/test-file-a8817d21-3f67-b086-9f57-70937b6694d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86753C3D673D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:08:45.9720509Z",
        "x-ms-file-creation-time": "2024-06-06T22:08:45.9720509Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:08:45.9720509Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2de998b2-595f-eecf-5588-44d6ada3319f/test-directory-00fa1764-d52c-df1e-18ca-e07241e94a0b/test-file-a8817d21-3f67-b086-9f57-70937b6694d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-lease-id": "de3b90b3-cfd9-644d-c292-26f4a1526284",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithFileOperation</Code><Message>There is currently no lease on the file.\n",
        "RequestId:ee589edf-501a-0046-035e-b8c2a6000000\n",
        "Time:2024-06-06T22:08:46.1013555Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2de998b2-595f-eecf-5588-44d6ada3319f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1974413619",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
