{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-33025349-b8c0-f277-b5f8-6d2fd78edca2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8833A3170A\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-33025349-b8c0-f277-b5f8-6d2fd78edca2/test-file-d45ccc82-88c8-696d-fe46-f358d7280507",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8833AB69B0\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T01:23:43.1896496Z",
        "x-ms-file-creation-time": "2025-08-20T01:23:43.1896496Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T01:23:43.1896496Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-33025349-b8c0-f277-b5f8-6d2fd78edca2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c7bd388f-7fb0-e11b-4e22-016f29c2f58f/test-file-5a26ecb6-9a41-b954-4b59-730b248a53e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-file-property-semantics": "New",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8833BF9E5F\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T01:23:43.3220703Z",
        "x-ms-file-creation-time": "2025-08-20T01:23:43.3220703Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T01:23:43.3220703Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3e5aaefd-81c7-7e12-e74b-9a33bfe99352/test-file-b68d572a-c41a-3257-68d5-12ab81d5f420",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-property-semantics": "Restore",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8833D3F9F3\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2025-08-20T01:23:43.4554867Z",
        "x-ms-file-creation-time": "2025-08-20T01:23:43.4554867Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T01:23:43.4554867Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3e5aaefd-81c7-7e12-e74b-9a33bfe99352?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1330358756",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
