{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d9a18038-d9fd-9473-1cd1-4db0845b3864?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE02496DEC6CE\"",
        "Last-Modified": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d9a18038-d9fd-9473-1cd1-4db0845b3864/test-file-1f9cc5c3-db57-1178-625d-9b045cfb27d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "Fp~\u0017I\u007F;�x\n",
        "���\u0004�?�z���k�U�\u0000V�q�\u0016?u���\u007F\u0013�D�ĦM2�P]}[5�F~,��(\"H(qf��iS02����p\u001F��6#E��M\u0016e3��c�\u0006V�o\u001B\u0018^�Y�[\u001F+��{ �_G\u0015�\u0005ܙ0#Ow�p]�:�i�QU\u0006���Y�;{�\u0012#�\u001C�QQ\u0015���\u000FS�Y�R�1��\u007FX�\u001Bث�\tceӌ�MƱY�\u0018�zk\u0012v�B\u0000�=�\u0016J8C�>Z�x�#͇�;��\f7��\u0011\u0018�T\u0014FJs��\u0005ˆN�Ti��V�\u001Dr���;�V���E\u0005[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d9a18038-d9fd-9473-1cd1-4db0845b3864/test-file-1f9cc5c3-db57-1178-625d-9b045cfb27d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDE02496E41CCE\"",
        "Last-Modified": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T20:03:11.1454926Z",
        "x-ms-file-creation-time": "2025-08-20T20:03:11.1454926Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T20:03:11.1454926Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "Fp~\u0017I\u007F;�x\n",
        "���\u0004�?�z���k�U�\u0000V�q�\u0016?u���\u007F\u0013�D�ĦM2�P]}[5�F~,��(\"H(qf��iS02����p\u001F��6#E��M\u0016e3��c�\u0006V�o\u001B\u0018^�Y�[\u001F+��{ �_G\u0015�\u0005ܙ0#Ow�p]�:�i�QU\u0006���Y�;{�\u0012#�\u001C�QQ\u0015���\u000FS�Y�R�1��\u007FX�\u001Bث�\tceӌ�MƱY�\u0018�zk\u0012v�B\u0000�=�\u0016J8C�>Z�x�#͇�;��\f7��\u0011\u0018�T\u0014FJs��\u0005ˆN[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d9a18038-d9fd-9473-1cd1-4db0845b3864?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "934485523",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
