{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-00ccd04e-78e9-5797-7d4f-b04596db5c40?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:59:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDADC8AF2E1522\"",
        "Last-Modified": "Tue, 17 Jun 2025 17:59:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-00ccd04e-78e9-5797-7d4f-b04596db5c40/test-file-0f0b8e0e-47c0-e428-ea25-e97bbf654f9c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 17 Jun 2025 17:59:20 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "���N��\u0001>\u0011�1\u0016\u000F\u001FN�6�$y֙\u0003&\u001FA�\u0019�?��X� j{�Qo���*\u0015\u0012���&D\r",
        "A��\f�.t��OҜ��R��HMa��\t��\u0010\r",
        "l\u0007B���]��\u0014�ɻܢ�}+��T��������p\u0011�!\u0007ĥ�װ59Z�b~��\u0011G�pJ���;N�\u0003?ћ:�o(�����S�N\u001B(�_e(z�1��\u0014h\u001E�V��pc�\u001FF�V��3H�\u001Dl>��Z���\u0017V�\t��\u00131�U�[\u007Fm�|\b��\tlyFX��Z��\\.�\u00116X\f�\u0016�JB��ݟ8��T!�� �1�\u000[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-00ccd04e-78e9-5797-7d4f-b04596db5c40?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:59:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1861643413",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
