{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-47978a77-00b0-a9b1-42f5-093b2dcfb1f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8833460D90\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-47978a77-00b0-a9b1-42f5-093b2dcfb1f0/test-file-72b0fda7-ea4b-6c2e-e8ac-6065ef7dceb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "//UPu/Vr4S8as6tEDUzHBg==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "R�Ҁ�M\u0002���#Gc�R\u0013sC���0\u001C}~�zA\u0017~ء��}�\u0001X3Y� �R��\t\u0016ZM����!�U\u0001���yR �ZlT\\\u0011\u001A\u00103῎ʶ��d�ʋ+��%\\s�V`�;�O1E����;ל�\u000F\u0010���h\u0013nخ���]G��eį��\u0018?�p\f\"�鎴���\u0014ʹ\r",
        "�M\u0018c��<u.U�\u0015�\u0013�\u000Fi�R!-\\��� \u0012f�q2,/W�b�B �[����Ը���\u001Cx���[Lt�v՚�#��~<�{&כ�2}$�\u0019gp���\u0015��wD\u0006G�H@�`!�:�9d\u0016j\\E�ҭ\u00137YZp\u0005\u0010��\r",
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-47978a77-00b0-a9b1-42f5-093b2dcfb1f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2048229951",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
