{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-78878534-08b6-cd9e-303b-1dc4b71a294b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF88344C6301\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-78878534-08b6-cd9e-303b-1dc4b71a294b/test-file-3e7298b4-1d71-2f7c-00c4-5dd1d5cd6e91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "d\u000Fՠ\u0011m�S\u0015ߖ\u0004�Ю$�q\u001C�,��љں�z*\u0010C6�O\u0005!]�G�\u001F(��xr0\u00159�c��e�s\u0003\u00067�\u0005���S�\u0005��\u0003����\fo\tJ!g��A?���Q��\u001DVz��F=�3�l�m5a�۳X\\i���(Z��!�?��\u0016�2EA(�2E\u0017v��=\u000B�\b���'(dq�kq���rk��WP.^���)$�o�M\u001D��\u0018\td�����շ\u0016���\n",
        "A(滯�\u001DOg�\u0003�\u0001�\u001DT$Ċi\u0006��i�l���|���e�$6�\u001Dn�\u0014S�齿ŷc��\u0017:\u0003BL}�C�X|�t�ƜB�[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-78878534-08b6-cd9e-303b-1dc4b71a294b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1131261598",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
