{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f08754e8-7897-8777-f88f-d91105e6bade?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:59:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDADC8AEEA2D7F\"",
        "Last-Modified": "Tue, 17 Jun 2025 17:59:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f08754e8-7897-8777-f88f-d91105e6bade/test-file-68fa6084-0408-251d-89df-adec0ed20fde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "heuPRily6JK1To4ZkBsYbQ==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 17 Jun 2025 17:59:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "�����\u0004s\u000Ev��������6\u001F\u0017\u001F`�Y�\u0001+���\u001E�:�<֚�s\u007F���Jok(�\u0004�8׳��e\u001AY\f���g��\u0010w\u0016�\u0004[�\u009F*3n���j��G�B'ֻ@�\u0004�]�^�\u00125\u0000\\�\u0014\u0013͊��o��oby�W?5�H\u001A�\r",
        "�&�\u0010䋏�4��'2�u��0�g�7�\n",
        "qS\u001F�$��A�\u0007\u001A�����\u001F:���%��Q�\u0017J^=�����kѡ��Ok*������l���#�.��Ҫ��]�X!5H\u0015x)~�\r",
        "�Y���ތ^�ľ��b���\n",
     [...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f08754e8-7897-8777-f88f-d91105e6bade?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:59:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "869368103",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
