{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-1c91d6a5-8bee-736d-a8b7-0ac749930735?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 14:09:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF31C694F38\"",
        "Last-Modified": "Wed, 20 Aug 2025 14:09:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-1c91d6a5-8bee-736d-a8b7-0ac749930735/test-file-70877ae3-38b3-a8b6-9f2f-f538eba5f050",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 14:09:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "\u000B�Y`��\u0003@LH�\f�OC�\u0010\t�\b�;�52V�\u0001�\t,T��ۍ>D\u0002\u001AvG#j;��O�g'���\u007F��$->)\u0001VC\u001B�?\u0019s�O�\u0007ȑ�\u0017[���P\u0015��J��J\u000B�\u001A\u0017��u��O�i��7\u0017[��U��m*�����a�\u0014Z�h�5�C�\u001C�6\fe\u001F�t�j�n��SQV�s\u0015\u0018�\u001D\u007F}\u007F\u000F�rF⧗!9^�`ń�e\u000Eh�b{�{\u0016�EA.��z���\u0010\b\u0001����wW���)�L�z��\u001A\u0004F`[��fhb�����t�cw���\u0003r�G�\u001BR�\f\u[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-1c91d6a5-8bee-736d-a8b7-0ac749930735/test-file-70877ae3-38b3-a8b6-9f2f-f538eba5f050",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 14:09:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDDFF31C702FC3\"",
        "Last-Modified": "Wed, 20 Aug 2025 14:09:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T14:09:00.3639747Z",
        "x-ms-file-creation-time": "2025-08-20T14:09:00.3639747Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T14:09:00.3639747Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\u000B�Y`��\u0003@LH�\f�OC�\u0010\t�\b�;�52V�\u0001�\t,T��ۍ>D\u0002\u001AvG#j;��O�g'���\u007F��$->)\u0001VC\u001B�?\u0019s�O�\u0007ȑ�\u0017[���P\u0015��J��J\u000B�\u001A\u0017��u��O�i��7\u0017[��U��m*�����a�\u0014Z�h�5�C�\u001C�6\fe\u001F�t�j�n��SQV�s\u0015\u0018�\u001D\u007F}\u007F\u000F�rF⧗!9^�`ń�e\u000Eh�b{�{\u0016�EA.��z���\u0010\b\u0001����wW���)�L�z��\u001A\u0004F`[��fhb����[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-1c91d6a5-8bee-736d-a8b7-0ac749930735?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 14:09:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1100482410",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
