{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-c51efb35-6c51-9d4c-2b59-7aa7c17fd180?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18445A93F7\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-c51efb35-6c51-9d4c-2b59-7aa7c17fd180/test-directory-3978ec80-43d4-ddaa-3065-e7c27ebc577c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1844628C3B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-file-change-time": "2024-10-16T19:25:17.3702715Z",
        "x-ms-file-creation-time": "2024-10-16T19:25:17.3702715Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:25:17.3702715Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-c51efb35-6c51-9d4c-2b59-7aa7c17fd180/test-directory-3978ec80-43d4-ddaa-3065-e7c27ebc577c/test-file-a4998d61-0001-9ac9-1c76-69f143128fb7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE184469691B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-file-change-time": "2024-10-16T19:25:17.4152475Z",
        "x-ms-file-creation-time": "2024-10-16T19:25:17.4152475Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:25:17.4152475Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-c51efb35-6c51-9d4c-2b59-7aa7c17fd180/test-directory-3978ec80-43d4-ddaa-3065-e7c27ebc577c/test-file-3025023d-0704-649c-4745-a05f4ec06d97?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-file-creation-time": "2024-10-15T00:00:00.0000000Z",
        "x-ms-file-last-write-time": "2025-05-02T00:00:00.0000000Z",
        "x-ms-group": "123",
        "x-ms-link-text": "https://seancanaryfilepremium.file.core.windows.net/test-share-c51efb35-6c51-9d4c-2b59-7aa7c17fd180/test-directory-3978ec80-43d4-ddaa-3065-e7c27ebc577c/test-file-a4998d61-0001-9ac9-1c76-69f143128fb7",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-owner": "345",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1844701EEC\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-file-change-time": "2024-10-16T19:25:17.4592236Z",
        "x-ms-file-creation-time": "2024-10-15T00:00:00.0000000Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-02T00:00:00.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-c51efb35-6c51-9d4c-2b59-7aa7c17fd180?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:25:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1966708022",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium\nU2FuaXRpemVk\nhttps://seancanaryfilepremium.blob.core.windows.net\nhttps://seancanaryfilepremium.file.core.windows.net\nhttps://seancanaryfilepremium.queue.core.windows.net\nhttps://seancanaryfilepremium.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium-secondary.file.core.windows.net\nhttps://seancanaryfilepremium-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium;AccountKey=Sanitized\n\n\n"
  }
}
