{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57b1106c-009e-895b-ba44-65058a732a23?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE024964167B1\"",
        "Last-Modified": "Wed, 20 Aug 2025 20:03:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57b1106c-009e-895b-ba44-65058a732a23/test-file-f672f787-5327-265f-3155-2832ee282c17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "\u0006^δ:hR���\f�̤��+�d1H��v\u0012�{\u000B�{/Ï\fY�\t�\u001E�vF�F~�d����|��~�>(���\u0014\f�\u001E\u0010�Kݥ~���\u0001?���+ʃ\u0017����N��ʄFφ2�i`v�f��D�\t*�>NF��\fl�T*\"fqp\u0007��F�5Ϭ3�\u0015�d�9s��\u007F������\u00196>>=\u00102��\u0003J�\u0019��\u001B��%����g0���\u007FU\u0013�,\u001B�n�Z\u0005Tn46(\u001Aً�\tl�_u\u001B�s]�\f)S!$�7���S#&S��9`��LW[9�\u0012\u007F�6\u0011�%\u0010\u001CM�\u0000L\u0010��\u001D�R�F�ܤ�$襊�[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57b1106c-009e-895b-ba44-65058a732a23/test-file-f672f787-5327-265f-3155-2832ee282c17",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDE02496472D98\"",
        "Last-Modified": "Wed, 20 Aug 2025 20:03:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T20:03:10.1170072Z",
        "x-ms-file-creation-time": "2025-08-20T20:03:10.1170072Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T20:03:10.1170072Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\u0006^δ:hR���\f�̤��+�d1H��v\u0012�{\u000B�{/Ï\fY�\t�\u001E�vF�F~�d����|��~�>(���\u0014\f�\u001E\u0010�Kݥ~���\u0001?���+ʃ\u0017����N��ʄFφ2�i`v�f��D�\t*�>NF��\fl�T*\"fqp\u0007��F�5Ϭ3�\u0015�d�9s��\u007F������\u00196>>=\u00102��\u0003J�\u0019��\u001B��%����g0���\u007FU\u0013�,\u001B�n�Z\u0005Tn46(\u001Aً�\tl�_u\u001B�s]�\f)S!$�7���S#&S��9`��LW[9�\u0012\u007F�6\u0011�%\u0010\u001CM�\[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-57b1106c-009e-895b-ba44-65058a732a23?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1096987127",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
