{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8eb19ab6-d888-1582-db18-84661ef38aac?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8833E421BD\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8eb19ab6-d888-1582-db18-84661ef38aac/test-file-049db53c-171d-a58f-d302-bbcd25f8917d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "\u001Fm;T^��|�s7\"`�:2�\u0005M����\u0014:�%�g����1�\u0007e�O��!b��mE�Ȉ6\u001F�½+r&\u001Ank<\u0015\u001E�^<.\f2�ȶ�\f��P5̩,��M�.#t��>��@�\u000BDށ1\u0016햺mi\t�\u001E�!�M�>M6�B0\u0018�i��\u0014�a��Mr���?X#�\u001F$nV\bsMf\u001B\u00018�r�P\u0018\\��,Y��/�L�=�1��\u0012�\"\u000B�da)A��`N���c�7�_���{>ʼ�\u000F��\u0001C\u0080yDn�\"���H��r��.�C�\u001Bl��k��e1��^\n",
        "�Y\\\u001E\u0014?��\fز3]�I�5�ﾭ�\u0013�\u0002^}j[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8eb19ab6-d888-1582-db18-84661ef38aac/test-file-049db53c-171d-a58f-d302-bbcd25f8917d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDDF8833EC48AD\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T01:23:43.6147885Z",
        "x-ms-file-creation-time": "2025-08-20T01:23:43.6147885Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T01:23:43.6147885Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\u001Fm;T^��|�s7\"`�:2�\u0005M����\u0014:�%�g����1�\u0007e�O��!b��mE�Ȉ6\u001F�½+r&\u001Ank<\u0015\u001E�^<.\f2�ȶ�\f��P5̩,��M�.#t��>��@�\u000BDށ1\u0016햺mi\t�\u001E�!�M�>M6�B0\u0018�i��\u0014�a��Mr���?X#�\u001F$nV\bsMf\u001B\u00018�r�P\u0018\\��,Y��/�L�=�1��\u0012�\"\u000B�da)A��`N���c�7�_���{>ʼ�\u000F��\u0001C\u0080yDn�\"���H��r��.�C�\u001Bl��k��e1��^\n",
        "�Y\\\u001E\u0014?[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8eb19ab6-d888-1582-db18-84661ef38aac?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "297812101",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
