{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-273b0ce7-0615-84ee-c6b6-73caab9db358?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Feb 2026 02:18:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE645CD2371800\"",
        "Last-Modified": "Thu, 05 Feb 2026 02:18:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-273b0ce7-0615-84ee-c6b6-73caab9db358/test-file-173fc08f-7375-d414-f767-e78b2d4af71a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 05 Feb 2026 02:18:16 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAX5mSLlLSf/EBUV9MUGdCuY2QUzGyIFvILNAdSEl/V+E7j4xwtmuHaIULXIRtAwN6WOSfINiuuj89xgF+sTergfl+EMDW0gMiDOaspsfTXy3Qou9g3DMIjNVRNvBqBLtRY9qO8u4+p4rlfRfyAhN3ambXqhJESqXGdYfrgZsSuAQvX0btRGw/kf9kf2MfFo7F3ciJll6pCRk0xHlmVyXv0sETwqLIiiX6lBQS38tCq175IafOhSGlhlIttH/y1T7VeKieC1Pr/VOmkv5Gli1N8hkabTF+HUmjajxQmtGmB77ZPWceoKAPDSRUK/YjYvAg48Zm2GQJV1te/p0Xl2J+AItDaVjKL1F5D2AJKfVXfAtIL7sPQy9az+YLw6YC93XF1idu4/Wb[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-273b0ce7-0615-84ee-c6b6-73caab9db358?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Feb 2026 02:18:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "187026729",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
