{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f148b34-c2cc-df39-9a96-8d637148d2ed?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA4EE634C9F74\"",
        "Last-Modified": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f148b34-c2cc-df39-9a96-8d637148d2ed/%21%23%40%26%3D%3B%C3%A4%C3%84?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA4EE636438C7\"",
        "Last-Modified": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-15T16:51:35.6452039Z",
        "x-ms-file-creation-time": "2024-07-15T16:51:35.6452039Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-15T16:51:35.6452039Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f148b34-c2cc-df39-9a96-8d637148d2ed/%21%23%40%26%3D%3B%C3%A4%C3%84/%23%24%3D%3B%21%C3%B6%C3%96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA4EE6378F648\"",
        "Last-Modified": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-15T16:51:35.7811272Z",
        "x-ms-file-creation-time": "2024-07-15T16:51:35.7811272Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-15T16:51:35.7811272Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f148b34-c2cc-df39-9a96-8d637148d2ed/%21%23%40%26%3D%3B%C3%A4%C3%84/%23%24%3D%3B%21%C3%B6%C3%96",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCA4EE6378F648\"",
        "Last-Modified": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-15T16:51:35.7811272Z",
        "x-ms-file-creation-time": "2024-07-15T16:51:35.7811272Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-15T16:51:35.7811272Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f148b34-c2cc-df39-9a96-8d637148d2ed?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 15 Jul 2024 16:51:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "840267950",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
