{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/?sv=Sanitized&ss=f&srt=s&se=2024-06-06T23%3A09%3A01Z&sp=r&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:ee589f4f-501a-0046-555e-b8c2a6000000\n",
        "Time:2024-06-06T22:09:03.3307051Z</Message><QueryParameterName>comp</QueryParameterName><QueryParameterValue /><Reason /></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:09:01.4940968-05:00",
    "RandomSeed": "1580656335",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
