{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86763B295DDD\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:15:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a/test-directory-77201a78-4ccb-2004-7089-003e086c9e2c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86763B39337A\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:15:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:15:53.7635194Z",
        "x-ms-file-creation-time": "2024-06-06T22:15:53.7635194Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:15:53.7635194Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a/test-directory-77201a78-4ccb-2004-7089-003e086c9e2c/test-file-7e9bc8e2-1577-0042-7f46-55232792b076",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86763B45677C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:15:53.8434940Z",
        "x-ms-file-creation-time": "2024-06-06T22:15:53.8434940Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:15:53.8434940Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a/test-directory-77201a78-4ccb-2004-7089-003e086c9e2c/test-file-7e9bc8e2-1577-0042-7f46-55232792b076?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "b2Ja9y6m3u3uaUXM/Iv0I6bj0cp1mFRWcOLV+GeUdLitBvO6Jm0jyp8Y2X9GlcKS/cTW448iwNYOBIdM0OWGWfWMHvaYOfw4wAYrXb/UENsgQ/ujvpApi0UcrCLm1/m5kX+KuXbM+sPHniOI9mMXOfSsK43q45tlY5Kwe4zaUekMcstASlZkU0g32x9soZTiBXMtOqtrzq7jJVbjG3427E05e4SX1u6dR9hFswd7+MH+znYZrRY+oaMdXCUAgDjKAO7SMiUQSi6Ej/PTJhumZyyU5UwHHT82+9rheXrJnceferIZqcWc7YRIlR0ja3uHd/T4bJrswuOvmzZLLtCzu/IrM6tpjb5m+PfIv4giE5BfWQGG0DEss7fPaQ2PUL+zlNor9zfPHuo1kXSiJANbjIim7NXOLerB/4DzmSOw16c4FCqu9xtZjzoXUD+9iY+0c92F6GTp5Gfvafe224THhbnMag/ZrJVsTFyat9yrBHbxPyZGK+5CTzDDvo0jorO1T8uF8B9/28ZHGJwHTiyKRGWBxZxegVnKiRvfFe4ISKmp5GcRJRRWcWRf/hNSOwADOHknot0WV85yumYDoMXYP8/yXmnFeR9RKlM4/4JFeE4a29114KbMko2YnmutUtGehr9EYN2WPr9a1neJ3ldMLEIX6cToY14oJcvbLNqzo9iCmXnCARhxhJ0eGgovQrQ2THIplmkMtiNhGzoRuhHkpjKeB0TeiSsppmQmykhU+OIXpd9oig1udeNVYeXdX8mMOXTXkDtvWMNG/+8F5uzaDCNX+hUxexslMJJhiCdFS0aampDUfGenp00cIYsdaY72elTChmW0Wr1YsmCoDs+bALOpaktcBpC7r1LHFVqPB8cDag3Sg8Xh5UDSe8oH/pl9gCHYdP5DmnTEBtYT7ERjyKqYpaPCyH3tx4QLiYrFtLC4SpQ5t5PIwNCZDn3uzfn7b7Ifbln2u7ej6qx6NxHp/1ImWqKwKhEX0OTTKLr///mLEBnXpkVWwo7clc3mToi+rw8ryHNWS0ShCJ51I5L9pOqy7yf3EVgMz5gT05VDMIFbFHmr1DeGNMXUNZ2n4Z783/HiNF5hx522H/jaQnevXdccGQ4YUc+zK7piIty6ZO36F/SkYfwi+k3c9bU+rPFNJdfFisiP440hLwik/qTB+7oK4CuDC/zb+R7BPFwZdH/IFf0E9NolajRmgjL0fvypG/r7M8zGyRrb6pGpzqcxB7qI3OmmvQbf5XX3HYjK53shGCBhHkGyAUviKApIfJyMNHp4a6ITAl70G05Wz6ySEQIWh7WGz+l51tqdw5T7l2nZaugNUnzYDhbCbQLyWzKfUBcHMvTmBmSR/5XIdT7J+A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7ymGbMwdw4C/gy+2ef9+1w==",
        "ETag": "\"0x8DC86763B5A2643\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:15:53 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:15:53.9794499Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a/test-directory-77201a78-4ccb-2004-7089-003e086c9e2c/test-file-7e9bc8e2-1577-0042-7f46-55232792b076",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86763B5A2643\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:15:53.9794499Z",
        "x-ms-file-creation-time": "2024-06-06T22:15:53.8434940Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:15:53.9794499Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a/test-directory-77201a78-4ccb-2004-7089-003e086c9e2c/test-file-7e9bc8e2-1577-0042-7f46-55232792b076",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1024-2047/1048576",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86763B5A2643\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:15:53.9794499Z",
        "x-ms-file-creation-time": "2024-06-06T22:15:53.8434940Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:15:53.9794499Z",
        "x-ms-file-parent-id"[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-647de584-84c3-86bf-3d79-9fc362e6867a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:15:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "509977958",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
