{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:49 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2A471375\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8/test-directory-0d997a53-283f-6731-dd23-bf48fd79d10e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:49 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2A4CC4E9\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-06-23T21:19:52.4503785Z",
        "x-ms-file-creation-time": "2026-06-23T21:19:52.4503785Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-23T21:19:52.4503785Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1713034497702798414*9159985051449635783",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8/test-directory-0d997a53-283f-6731-dd23-bf48fd79d10e/test-file-3ed23e5c-4c4b-b87c-7db7-1a9b4bd4c8c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:49 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2A53C1E7\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-06-23T21:19:52.4961767Z",
        "x-ms-file-creation-time": "2026-06-23T21:19:52.4961767Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-06-23T21:19:52.4961767Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15545904328285281097*9159985051449635783",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8/test-directory-0d997a53-283f-6731-dd23-bf48fd79d10e/test-file-3ed23e5c-4c4b-b87c-7db7-1a9b4bd4c8c0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:49 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2026-10-06",
        "x-ms-write": "update"
      },
      "RequestBody": "eN7zDJzphvODei4qV9i+WYHldX/UaHbly0elVX4edFNyoCsbMCmXPUYM3dDRqYMVd5Eb/UcvfxBoDUBVQzB0ZAXauLatoyhXTTg5x4qlFCLDj93tA3cLQyEasiPpQvkVl3jK9vDMaNRow68P9reFwvkdkbRSh2GOz3WUkvAEbQs+IzAS2x0y9yYJhT/I+01qlfAqzLBFwhAXPCd6N9bjY1Wj0dKGc+fb6pqNSAIhxdMoKv3/2qFa+WEg+572t79QJSHpJCp64yIJT+EWt3kO9XZTUg3Z5ImzSddwZndI5TPaPSLgN6GprUfa9ovAREHoEgYnomWydkGYNdpTCnyqwGmuO3pWLb3UqqTG/u398wWViFRxIELOKMbhSALGVqPKMDUhEgjGkeRIUvfA7HdTmkLVvYEoOJ8m3xO0deW7DlQB+8633OD9z/ZwKM5LDTtOja2/8ZghofeW+jL0Ehz/jUSivvCpnL5i2O6LuA/R29LXZuc3+x274FrWIeGtCLzZcJuJqE9LpPHvXRiqlennxB9gHKs1x5En596W0nrdtNAxskd0SDOCi8H2SJ4EEEpw71zBTesQpKkKYsFwtdJ2EqhIeeOic3zs3ZDqPn/yItaUJeMdG2fkIA2eauZxEtbvfzb1vJZmznzf1W9bJmUqFz/q3I/uWPZBY1nVBAmWesu6+79I/GU/LVdnPkX4ifmodFKmhzZGACY/tFg9kMpzSFukoCul4RrZqq44hxqxSdpfLZC28POVc/qYCUgNApyM9PXqU+jOApI3zNyHDXgMjmt93WM6vFhoDiwwDdjSzKgSrJMkxvXykSr9fiMWDWaCjHrcjyU4UjecgkW7nvW6ZQA0dWHl58h2i0s5PT41UQHGroBd9T2C2Vpch0SwNvM1Qxki4pgFnaWyZgPZ/xX5ZzBD9O91XG/DsZsHiF+DxVRYA/kkEm9owRHaq485qdlEYiATbEEDwOapXzD9/RRGLqCugfsb1FXB2zPemrHgiQjBwiY+cFkSVUMTe7I+a8P9lHzuiijeKY7KUZAOJCY1ydYoOzvtB71Hmyu3CFmig29v4QU08f7g45iXdB/IBDAd3bHcFTCID42/p+78JiE1J80gnkMgAdfYSFeiVZOefpf7miqnxm0/59J4dUkP5L13YkxRp2Xt/dzZA83Y5bn5IClXAIv2jWBg4bdwqIuOyGSaK/NHTNYxDp1OzcKgZwEZflQguOMxgNTr8caufFRQSztoPrrGstRSJfLuqMCev3q1Vyk3bRCBaKoeW1sQg5FI/YGHNyhHUsuAzZLwQtgUTTFM+CQrGd4q59YPp1d5QqFgpqo/FodRbQRdt59+kCXRCQ4pw4ptHOSjXVBSN6p0Bg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1yyHmJheuaQiVYZJW/RsVg==",
        "ETag": "\"0x8DED16D2A5B8160\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-file-last-write-time": "2026-06-23T21:19:52.5469536Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:49 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2A471375\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-snapshot": "2026-06-23T21:19:52.0000000Z",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8/test-directory-0d997a53-283f-6731-dd23-bf48fd79d10e/test-file-3ed23e5c-4c4b-b87c-7db7-1a9b4bd4c8c0?comp=rangelist&sharesnapshot=2026-06-23T21%3A19%3A53.0000000Z&prevsharesnapshot=2026-06-23T21%3A19%3A52.0000000Z&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:50 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DED16D2A70786B\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><ClearRange><Start>0</Start><End>511</End></ClearRange><NextMarker>1!8!MzA3Mg--</NextMarker></Ranges>"
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8/test-directory-0d997a53-283f-6731-dd23-bf48fd79d10e/test-file-3ed23e5c-4c4b-b87c-7db7-1a9b4bd4c8c0?comp=rangelist&sharesnapshot=2026-06-23T21%3A19%3A53.0000000Z&prevsharesnapshot=2026-06-23T21%3A19%3A52.0000000Z&marker=1%218%21MzA3Mg--&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:50 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DED16D2A70786B\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>3072</Start><End>4095</End></Range></Ranges>"
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-44092154-c8d8-b3bb-fc60-013c768d17f8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "200750202",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanarycett\nU2FuaXRpemVk\nhttps://seanmcccanarycett.blob.core.windows.net\nhttps://seanmcccanarycett.file.core.windows.net\nhttps://seanmcccanarycett.queue.core.windows.net\nhttps://seanmcccanarycett.table.core.windows.net\n\n\n\n\nhttps://seanmcccanarycett-secondary.blob.core.windows.net\nhttps://seanmcccanarycett-secondary.file.core.windows.net\nhttps://seanmcccanarycett-secondary.queue.core.windows.net\nhttps://seanmcccanarycett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanarycett.blob.core.windows.net/;QueueEndpoint=https://seanmcccanarycett.queue.core.windows.net/;FileEndpoint=https://seanmcccanarycett.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanarycett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanarycett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanarycett-secondary.file.core.windows.net/;AccountName=seanmcccanarycett;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
