{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-1a8abc83-b83b-03ef-b94d-015b07a83a14?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2BBEB7E1\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:54 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-1a8abc83-b83b-03ef-b94d-015b07a83a14/test-directory-a451f124-500e-1c54-56d8-5e0c2e853125?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2BC2F3F0\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-06-23T21:19:54.9026288Z",
        "x-ms-file-creation-time": "2026-06-23T21:19:54.9026288Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-23T21:19:54.9026288Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1713034497702798414*9159985051449635783",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-1a8abc83-b83b-03ef-b94d-015b07a83a14/test-directory-a451f124-500e-1c54-56d8-5e0c2e853125/test-file-2a3c7fa0-13aa-f19c-f661-4c70b7385b11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16D2BC86C06\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:19:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-06-23T21:19:54.9384710Z",
        "x-ms-file-creation-time": "2026-06-23T21:19:54.9384710Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-06-23T21:19:54.9384710Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15545904328285281097*9159985051449635783",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-1a8abc83-b83b-03ef-b94d-015b07a83a14/test-directory-a451f124-500e-1c54-56d8-5e0c2e853125/test-file-2a3c7fa0-13aa-f19c-f661-4c70b7385b11?comp=rangelist&maxresults=10000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-lease-id": "90629f3f-7cae-50e3-9b1e-06038d466f3c",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithFileOperation</Code><Message>There is currently no lease on the file.\n",
        "RequestId:8204942d-a01a-0043-1f56-0346e8000000\n",
        "Time:2026-06-23T21:19:55.0031057Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanarycett.file.core.windows.net/test-share-1a8abc83-b83b-03ef-b94d-015b07a83a14?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jun 2026 21:19:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "604298108",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanarycett\nU2FuaXRpemVk\nhttps://seanmcccanarycett.blob.core.windows.net\nhttps://seanmcccanarycett.file.core.windows.net\nhttps://seanmcccanarycett.queue.core.windows.net\nhttps://seanmcccanarycett.table.core.windows.net\n\n\n\n\nhttps://seanmcccanarycett-secondary.blob.core.windows.net\nhttps://seanmcccanarycett-secondary.file.core.windows.net\nhttps://seanmcccanarycett-secondary.queue.core.windows.net\nhttps://seanmcccanarycett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanarycett.blob.core.windows.net/;QueueEndpoint=https://seanmcccanarycett.queue.core.windows.net/;FileEndpoint=https://seanmcccanarycett.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanarycett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanarycett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanarycett-secondary.file.core.windows.net/;AccountName=seanmcccanarycett;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
