{
  "Entries": [
    {
      "RequestUri": "https://pg6xscnams20ptf01cx.file.preprod.core.windows.net/test-share-00e32ec7-b7c1-ec4d-00af-75e332410ea7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9C078FD137F1\"",
        "Last-Modified": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pg6xscnams20ptf01cx.file.preprod.core.windows.net/test-share-00e32ec7-b7c1-ec4d-00af-75e332410ea7/test-directory-19ef3647-4068-fe11-2496-86feec71d127?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9C078FEC155C\"",
        "Last-Modified": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-16T22:29:02.6507100Z",
        "x-ms-file-creation-time": "2026-04-16T22:29:02.6507100Z",
        "x-ms-file-id": "13835128424026472451",
        "x-ms-file-last-write-time": "2026-04-16T22:29:02.6507100Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "788692849795888923*7073705738230751378",
        "x-ms-request-priority": "3",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pg6xscnams20ptf01cx.file.preprod.core.windows.net/test-share-00e32ec7-b7c1-ec4d-00af-75e332410ea7/test-directory-19ef3647-4068-fe11-2496-86feec71d127/test-file-d83dd097-bce2-5568-a7a1-335c75032de2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9C079000D2FF\"",
        "Last-Modified": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-16T22:29:02.7866367Z",
        "x-ms-file-creation-time": "2026-04-16T22:29:02.7866367Z",
        "x-ms-file-id": "11529285414812778501",
        "x-ms-file-last-write-time": "2026-04-16T22:29:02.7866367Z",
        "x-ms-file-parent-id": "13835128424026472451",
        "x-ms-file-permission-key": "14594532129347930140*7073705738230751378",
        "x-ms-request-priority": "3",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pg6xscnams20ptf01cx.file.preprod.core.windows.net/test-share-00e32ec7-b7c1-ec4d-00af-75e332410ea7/test-directory-19ef3647-4068-fe11-2496-86feec71d127/test-file-d83dd097-bce2-5568-a7a1-335c75032de2?comp=rangelist&maxresults=10000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-lease-id": "e86515ac-16c5-aa61-92bc-f50901da5c98",
        "x-ms-range": "bytes=0-1048575",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithFileOperation",
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithFileOperation</Code><Message>There is currently no lease on the file.\n",
        "RequestId:a50e21f2-701a-0027-1df0-cd6b45000000\n",
        "Time:2026-04-16T22:29:02.9202125Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://pg6xscnams20ptf01cx.file.preprod.core.windows.net/test-share-00e32ec7-b7c1-ec4d-00af-75e332410ea7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Apr 2026 22:29:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1067865552",
    "Storage_TestConfigDefault": "ProductionTenant\npg6xscnams20ptf01cx\nU2FuaXRpemVk\nhttps://pg6xscnams20ptf01cx.blob.core.windows.net\nhttps://pg6xscnams20ptf01cx.file.preprod.core.windows.net\nhttps://pg6xscnams20ptf01cx.queue.core.windows.net\nhttps://pg6xscnams20ptf01cx.table.core.windows.net\n\n\n\n\nhttps://pg6xscnams20ptf01cx-secondary.blob.core.windows.net\nhttps://pg6xscnams20ptf01cx-secondary.file.core.windows.net\nhttps://pg6xscnams20ptf01cx-secondary.queue.core.windows.net\nhttps://pg6xscnams20ptf01cx-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://pg6xscnams20ptf01cx.blob.core.windows.net/;QueueEndpoint=https://pg6xscnams20ptf01cx.queue.core.windows.net/;FileEndpoint=https://pg6xscnams20ptf01cx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://pg6xscnams20ptf01cx-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://pg6xscnams20ptf01cx-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://pg6xscnams20ptf01cx-secondary.file.core.windows.net/;AccountName=pg6xscnams20ptf01cx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
