{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C9D34D02\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12/test-directory-c0e94e11-15b0-782e-98c4-a9bd2f7f0d1f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C9E3EFBB\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:12:43.6221883Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:43.6221883Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:12:43.6221883Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12/test-directory-c0e94e11-15b0-782e-98c4-a9bd2f7f0d1f/test-file-a1f1efb7-f3f3-cb4f-b447-34f72bfb2703",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675CA1CD535\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:43.9950645Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:43.9950645Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:43.9950645Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12/test-directory-c0e94e11-15b0-782e-98c4-a9bd2f7f0d1f/test-file-a1f1efb7-f3f3-cb4f-b447-34f72bfb2703?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:42 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "X/qNcvN3W8uAbM/jAweC3aCRdeeJ3DW4MHSq74Brcg7BwehPSTOvCumly2GLNhwWWI5jgU5npIPE1EJ+zWtLFPrAIUEfM5Nt4Wv95BHULflYk5fxB/DAWRxlinTxMT1+WrZmyhTa9yX79p/iasBx8KdIJjnUWQwJAMgluagee7Auf4labWLlfZtx9RFR3e9b85rNqAoDqgGpXclMtT193XrutOs3FoJEY6idYmP7uCPYysYOUNKmKtSIsRCYmMhe9BiXYigDI9wXiEVhZUedrqSmc+t3boynSIoWr2Vyq8rgP25KY1X71abp9siNRMSN6gNr8iTd54WM8Bmd7XR3pd16gSbYUktOq55EjXjEGgTFicRiB7mmA1jpvnI8XegxclHqEsOetJe4HEeFmFkNyNYV2GOvFZ0k1H3O75TYEk22Ehsm2QdBJ9QsqepxIGv+2/acJoSEgV2zxj5F0MUD3wn5z4U+5+7O1LGPg2uzsrMSzxSdO+zIMpG9chPJ+1cPKMrgeFHlwPQHzlHT9P7xABOKMwCwZqQdMJ30gHTbBdlagFqh0jphLA8flW2a9T2SzHL/PsdWXsIlw0e08T9/LMl4eXSkUC7YKQbxkdA2gjtgYrQC28YRAyGXew/zrTvPn2ikInvI7XtDJhXAZM3y7kALU4+LfVECZnVSDdQf5XvLIfFnkmDAl3Q4vrSxUJ9UpYzO6FmsRCIXorsFdd+nJEGa9ULcilzgSrwaUr+dURbW/mhIUP0hH93OUPCkuiKVkZlyFltceBow7Z2dkfFjeVClL3Z3XtNEeNVlDTlsPJCahcElKjq7eoZNGGNgg43ra9af/4urHTLFLp6F9mrhw7EMAwwwPU8W6bXwKkZw4/VIeqFjzDwE7meOYPucNYMbbFSyU4CAui6HiBXWuvLrVUqoPXzJfvZ0CBSlod1TerQx1b7yvpB1x8By20QnLjR0owqw8/gHUu5dPUtr2xhRMw5hpOU0+Ze6M3W8VqKyTNngMP7So4a7KoLQlIBFCeynIag1xolOQKlz9sCDSvtLq/BxiqsZf5CIpXliZGQWdSmJFDT6fYZPke9VXqzGN9+GhOmP039AjaIXrSAQ7NxEXYGW+jbHUS5pIfm7xCHjwW6a2997hqGqSIaS4s9mP6UTEAAqLz2pvzO6JbGFhcmAM+uydhD9ydbg7LGvNG9eA+JTqLQguJEw8BurwGHvJMO9Ea7jtMmVFUYqSkOM+YvEXCLPMtwVYHtagoX0UQh18Mfu8iLAek8YvpJt9m5OpPaQ52Q/IPLmp7EziTJEocQ+tVp7nQdoA+HTtnRJqGoNC92OY2mkNtDVCEpxjfAc1BzOLkET0gbvJ+SCa2l+nP9HJg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "yYCjmz7K8FdfcVnIUI4eaQ==",
        "ETag": "\"0x8DC8675CA445705\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:44 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:12:44.2539781Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C9D34D02\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:43 GMT",
        "x-ms-snapshot": "2024-06-06T22:12:44.0000000Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12/test-directory-c0e94e11-15b0-782e-98c4-a9bd2f7f0d1f/test-file-20a66e12-474b-7abb-2a87-fda1bd874026?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:43 GMT",
        "x-ms-file-rename-source": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12/test-directory-c0e94e11-15b0-782e-98c4-a9bd2f7f0d1f/test-file-a1f1efb7-f3f3-cb4f-b447-34f72bfb2703",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675CAD95E6D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:45.2306541Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:43.9950645Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:44.8407828Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12/test-directory-c0e94e11-15b0-782e-98c4-a9bd2f7f0d1f/test-file-20a66e12-474b-7abb-2a87-fda1bd874026?comp=rangelist&sharesnapshot=2024-06-06T22%3A12%3A45.0000000Z&prevsharesnapshot=2024-06-06T22%3A12%3A44.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:43 GMT",
        "x-ms-file-support-rename": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8675CAD95E6D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:45 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><ClearRange><Start>0</Start><End>511</End></ClearRange><Range><Start>3072</Start><End>4095</End></Range></Ranges>"
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-5820c43d-332f-761c-d919-5723b7f59a12?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "241734641",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
