{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1819AE7752\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b/test-directory-b847f2b2-5f5a-cf1d-2600-b13a9443151d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1819B89886\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:24:05.7921670Z",
        "x-ms-file-creation-time": "2024-10-16T19:24:05.7921670Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:24:05.7921670Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b/test-directory-b847f2b2-5f5a-cf1d-2600-b13a9443151d/test-file-57d4e0a5-f4da-1c76-1f44-d9f560d6c593",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1819BEB229\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:24:05.8321449Z",
        "x-ms-file-creation-time": "2024-10-16T19:24:05.8321449Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:24:05.8321449Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b/test-directory-b847f2b2-5f5a-cf1d-2600-b13a9443151d/test-file-57d4e0a5-f4da-1c76-1f44-d9f560d6c593?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "xrUGycVZ2VBMUxmzlVqtorWxxKcirowbzd2TS2+adTVHdVW5dsVh199jyrQoV/eYhENCWUM4xxcp6vvnxo3gsd3jayAF9CvwUO3HvuTX83bm+8csVxzyDq09j4zKeRBRgxjWROvWkpAXUglWcQgzUfaEAcrGtFnB8V1yyGSfJdbcdTvLAK6LD2g2FQUSm52lCT2WRXhGi86/FVOOY8ordy0yefvMZ1BH+fFhj59UrlW/zb4mCd9elupsDOtb/aueCp3Y3yGi2KLtTkyG5Psvamb9zpYMBW5N1OMQYFpl6/xFw4QCfM8zHfUbObqT17LvPaGEXS4VkgUuigo+kXhIh2JQQCB2Le6XybCg8Mu0uf0xISK44I7NMDF/1PHE9Yx907FXQpaReBCz7ZN9daE6edENDW9Vj6bUghDv91n909QkIh0ZXXZmn6kSBfP6T7qQRFogtugdKEMLgsCFoYG3tRm/WVKDIBtap23GQ4qz2jNVX7L+3RzrB/rZDtu24P4oWk/ZO/ZoDCM+xQ97VuW5V6iML0LOuNj801JYqhJAo8Zvnug62Z497VOPvxcNcLAVH7YyKbC7WaJ33GejEGER/iJIDLj8f34JT0LvP/nB72KhQopbDnkVs0RGw/w3md3xfcH0xGT4GKA4KNluyxqote0EAc3Wtu+oM1hztruB0rZk/cE4zCr+qSrqIuWfp+cqnQ0PMpcQGsfRTJEMhGLktlYjCc5YcOnCBlii7JMKCIxwSRmtcp8fVOP6ZoCZ8iXIBWyOfJ0Z0S0kTCw/bS40xkMFmzpIN0S3BLXrXglpKRQy2uYme4zuV3jriSZz3+a0xqA9k1brf84o13jnLnMjuyIYDJJHDUu2FkTBXa0dQyTONphpK5a9R1sY/qQTBygFyM4DW9NUbLhUhnwSKSIgCpNUGPfbuo+MWsU3Lw6nog8bvJTfGuhResrfFKUZqh059/QQv+4wKg4+dwANHTyqreNt9myNQfCrA50t/KXqcrCo/Tgal+Mg6pKGoKPoQ12NNGbBq7OwrLUEZLxQAy1oVARQZR8EkBYATQzaBqBMw79AoMc+KMf891GCFTImz+dkHkyemN4+iKRQwV6n1qUUt6H9EGJmKSs9U27Ngnrk2X0kdehUrirgAhgj7mdoVCCsbV6QKb+F/vQgYURwcAYpa+jgg2G9wAl2HA5KQzrE1P5NIRQcU6++nnfzM0zmcJES+YN+iNG/7q1UGg2wO7q6XI1GIk/xDBg4IeTpyoy8kKt8N0m3RUwsjTJmyDmhDWO8Ode+n05CIO1rRmbt1SQhl4liNANxAhdBGZQcikTelxSBLZC0/fBdOhdcTP/lP7cNRTCvP9lfSjbAfYa5JZWojA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1faIiEHFlYBaiMpMC5CfPw==",
        "ETag": "\"0x8DCEE1819C71559\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-file-last-write-time": "2024-10-16T19:24:05.8871129Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1819AE7752\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-snapshot": "2024-10-16T19:24:05.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b/test-directory-b847f2b2-5f5a-cf1d-2600-b13a9443151d/test-file-054f6981-e43d-40fe-c18b-4963a130e058?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:05 GMT",
        "x-ms-file-rename-source": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b/test-directory-b847f2b2-5f5a-cf1d-2600-b13a9443151d/test-file-57d4e0a5-f4da-1c76-1f44-d9f560d6c593",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1819E6588D\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:24:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:24:06.0919949Z",
        "x-ms-file-creation-time": "2024-10-16T19:24:05.8321449Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:24:06.0410242Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b/test-directory-b847f2b2-5f5a-cf1d-2600-b13a9443151d/test-file-054f6981-e43d-40fe-c18b-4963a130e058?comp=rangelist&sharesnapshot=2024-10-16T19%3A24%3A06.0000000Z&prevsharesnapshot=2024-10-16T19%3A24%3A05.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:06 GMT",
        "x-ms-file-support-rename": "false",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "PreviousSnapshotNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>PreviousSnapshotNotFound</Code><Message>The previous snapshot was not found.\n",
        "RequestId:ddee99d0-801a-0015-1100-20cd71000000\n",
        "Time:2024-10-16T19:24:06.2103080Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-36601946-d5b6-275e-0c46-3905a7e7a98b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:24:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "619974880",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
