{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674FC3C9A05\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a/test-directory-4b83676b-10d7-2b62-9fbd-d06badc9eff8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674FC52B0CD\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:06:58.7373773Z",
        "x-ms-file-creation-time": "2024-06-06T22:06:58.7373773Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:06:58.7373773Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a/test-directory-4b83676b-10d7-2b62-9fbd-d06badc9eff8/test-file-961de6d7-3b88-6d38-d5af-324090e1f618",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674FC606B44\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:06:58.8273476Z",
        "x-ms-file-creation-time": "2024-06-06T22:06:58.8273476Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:06:58.8273476Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a/test-directory-4b83676b-10d7-2b62-9fbd-d06badc9eff8/test-file-961de6d7-3b88-6d38-d5af-324090e1f618?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "sNb+9P9EhPgtnJ3AvyDptCYVxHhr9/M14anAo6w55RzgJWetIpQdN5N80Ymq2ofuOH1ZhRhv6rjjyRNWg+BM9LeA35q5PJKS+I3k7iZpiwYi0msv318DcTuuylmAx7SyMN3SKfvtNPzqxo2LivuSeT0MNLB1HBRXfG5eC3E5EjHYMb1Il2ELNJ5vRBjReOY/G1Ebc5IDPRTJeq2MjiiKsbRcslg+SuHcAf8RBtf8hgSHH/AgHp6e1fSpfx20fqZ25JNkdcWOAdBvPnGT8Tc8zPOoBW43apMVvd1jlMvDKIJYmyFElxA++B4gsN8sCuO9bLIpC3k4PnoATrfoKmwFrBbvO1UV+DXiagxPF7mz6LP5pigYmhwJH1ymQ0lZVc6yGgTJPc6Op3N9RqFs6CfBTGUD74RE7BH55Rv5b7TriRQ+nf216qvka/60m1N6nDY15fbjVWZJbS3yz1iylDi+kb2NLksqDGK6H4SGkFG+fkjlxIm+BzOu9C/PwhpSMdbF9QmW7W7rCtmUKTbhw93bNFAPzdCuAImJ3zkbWklHZ+2uwZpHKJHa+bmwKd78zDFS847JQ2MFFvR/DA400LCPTMJIMwFDkwu/NdQX/terjBIHyWa6fiSJqKqmyByDpSgIId0btJkvDmCCCg2P7hgd03/7LQdJ1M6dv4pXncvvPJCsDtz5kNh417oGOHMX+rmSiPSch3ghvkwPfvQO2HGUks584+A7I0OmglVNQ5xahsTQxBTXU7QYik+Q6hLjav5IcqWkmhfZVmSw9gQi03uvtPcwPRNdvD8ZZFiQqzkxwhhWBND3tuyt926vJ1yw9bfT4DYasyzq67VlijW/SasqfjPrzM+quP4KgkalrZXiaW+hvMsDFg7saxkbkiu37q7DhagpxCjnKSc3EDDlRT4fgiHGHYzfJ2ck/2C2jybSU5SY4ijtuaRGuZOjywbeBiba+w8J8dAh411ABMXIMZkBZbycTWIWMsh8f2T4O1tgRvg625MWyWLEdv7KrLTffof5omZKQbnDxMhGjXFrKacC4L7NjVUG6pxZ19ZjTIYUnQHc/pn1FgQ+dhfKzzvxWE1Wx8v2EvAy87fK8GriX3hCMvBvjyoODcm5jhY+OxpgaH+JDIS6HYoQqgrhKiWaXBaeiJ1LgckiSLoCPYTZ87icaYfrWVP0hxRlXuQfLeKkHzL/oLJ9FOe1ZsTJuOAGNrdSRMGergLDqgGI5iLkAxvYXh1S2lIGH1WgNfOOKs40XygtzeghBXAvPPWw9C7E0GKp8FrCtFxkTCRs/XkONH8zVIb6tzYyt1itIp1dVSom22SQ5TlzcavLyYDDtQj3IAd1faCnyhksdjkCFZG+B/f6RQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BiUZvesTDxT19zAyfXoTfw==",
        "ETag": "\"0x8DC8674FC70486D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:58 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:06:58.9313133Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674FC3C9A05\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:58 GMT",
        "x-ms-snapshot": "2024-06-06T22:06:59.0000000Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a/test-directory-4b83676b-10d7-2b62-9fbd-d06badc9eff8/test-file-078f4782-cd30-781d-37a7-ef7c71ef144a?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-file-rename-source": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a/test-directory-4b83676b-10d7-2b62-9fbd-d06badc9eff8/test-file-961de6d7-3b88-6d38-d5af-324090e1f618",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674FCAF47F4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:06:59.3441780Z",
        "x-ms-file-creation-time": "2024-06-06T22:06:58.8273476Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:06:59.2732017Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a/test-directory-4b83676b-10d7-2b62-9fbd-d06badc9eff8/test-file-078f4782-cd30-781d-37a7-ef7c71ef144a?comp=rangelist&sharesnapshot=2024-06-06T22%3A07%3A00.0000000Z&prevsharesnapshot=2024-06-06T22%3A06%3A59.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:57 GMT",
        "x-ms-file-support-rename": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8674FCAF47F4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:06:59 GMT",
        "x-ms-content-length": "1048576",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><ClearRange><Start>0</Start><End>511</End></ClearRange><Range><Start>3072</Start><End>4095</End></Range></Ranges>"
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-931e6483-b3c5-0a75-3b9e-e7b4ac8cf43a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:06:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "301559291",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
