{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867577612824\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:10:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329/test-directory-12f672ce-7c0c-c332-a52b-cea508cfca1c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867577713D51\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:10:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:10:25.2973393Z",
        "x-ms-file-creation-time": "2024-06-06T22:10:25.2973393Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:10:25.2973393Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329/test-directory-12f672ce-7c0c-c332-a52b-cea508cfca1c/test-file-9b5a87ac-2e66-133b-5336-c9aba4b74f0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675777E0D7C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:10:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:10:25.3813116Z",
        "x-ms-file-creation-time": "2024-06-06T22:10:25.3813116Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:10:25.3813116Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329/test-directory-12f672ce-7c0c-c332-a52b-cea508cfca1c/test-file-9b5a87ac-2e66-133b-5336-c9aba4b74f0c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "ZaZ3pGixZJM7yri4gPUKEuIT3PfnY84/Jt7yzbuyiBMRXuFhya9NHUk8sHRv6Mv47Eu39PSlZwHYN36KvpbYiUKlpyEUqUkyxr6tq7Na0D4T+uFv+pMfa/bfiZIxw16yZCYxyUCp5EMBhC4197tNfmdAdsS0aI+uhjwqNB+3AQNg+0eMKAb9aRaebnVl6XQ7kgsr8Uya/fuXg0MEf68jSoMr1ft0wVVgQg2tFvkZSZzH76ITjBC3xv1L9KTC+epmeiPyOhR4xtG1yq4+7OcCfjqmPI8ND75ycw/+KMyxnUgjRpvWJg+ITijQXsFheNkWSXZqHLxbWGtlgMYFep4EBCxmG6VMLFcqHu1mPLH8EPs16N5VRoGLyO0wcKZIg9SKzFmU+100yR0eQP7O9Bu5aG/Kz5K/rr6r2lO3HLux4ZsZ23BYaBWeAR7BNwaDvdPRdgg3frNByx2a6SEKfK1ibV5jtRmrYQBZLM50/ne4KB1/5aWyeWPn2BBTvX7zlIVwX8mnIAe6JhUI3VHlzcyl4sEEipYHr/P6e90IV6OBZphIA56tEAcVxb6QqpwSAgpDrdq97wnuabDWraQqsc9xhne4nMku+NG578TYdwRX6HnSxKnJxHaPWpru12Nj6hPvHyMkWWVAFbUJAwBFFvGrfsQrWO0lqMIAKUEvPyBuVgSw6FjgM44Tka/zwMB2SUSoQlieN5ImyXZhIzAjEdWUm637lC2Zy0s2F8Y+MegBit/9hv3Hzx5yih/hfw9d73/ZXyUTerUXD3cNaCDL6JeOX5lQJovYzMuOiQkNuEw82ChGZNLD7Q8p5naGumb+pqGIUh91DMn0AJJZhfGrCVcq0Y/3hIPEy3KKJz8UUhJlkOJohWUsxsteUmRAaWgefd0fW+jWBiEdw4at6+WJ4K6A9PQOQ4Px/grEmDIfhGEJa6li9PYpjonASsLef9vl1XK1v3V0DzpaLl3eEm3v/j4lpH88J+u4VmVqTfnAEn4v3sPAasTrlVxuCMaZS3sc0UyEudtbqa6G/WkPCcFBmRverjSqL5N5OQ4jzR4lHwvqTnytPFmj0zQUOW1b24uaLW6qupxGcaG4Cn/MONyPYd1dJbpFlFzCO9v/lfUmHl2DiZ+vemRvo9zb9DLZ1ppYhNeP/rbQVJkS6H7AR9urkewiSa884OZ57oHdap8q6GRApxAelx+msjQFnZLmrlwAL2NFt43rG6TxFhA08+r65/8agJ/LjfrMe5d7NkJUkz8l3Do75DHXVYxsLYEPcb9JC7aSzC69NaFpeTv2cORinIPQDxavvgLNQisTX2B4vAnXMSuMwccRaKeZ0mv24OSnCZD9P2KomUyzxYkDqdZB8LwxHg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SvEttAMZidh5q9fvb5x2mQ==",
        "ETag": "\"0x8DC86757792A531\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:10:25 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:10:25.5162673Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329/test-directory-12f672ce-7c0c-c332-a52b-cea508cfca1c/test-file-9b5a87ac-2e66-133b-5336-c9aba4b74f0c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86757792A531\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:10:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:10:25.5162673Z",
        "x-ms-file-creation-time": "2024-06-06T22:10:25.3813116Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:10:25.5162673Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329/test-directory-12f672ce-7c0c-c332-a52b-cea508cfca1c/test-file-9b5a87ac-2e66-133b-5336-c9aba4b74f0c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:24 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867577D881F0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:10:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:10:25.9741168Z",
        "x-ms-file-creation-time": "2024-06-06T22:10:25.3813116Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:10:25.9741168Z",
        "x-ms-file-parent-id": "138[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2ae9fbdb-6805-efa8-e346-e7acee731329?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:10:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "808034409",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
