{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE17E3F0443E\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03/test-directory-8b03de5d-bf45-1378-77f5-597a9ff8f692?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE17E3FA7C28\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:22:35.6270120Z",
        "x-ms-file-creation-time": "2024-10-16T19:22:35.6270120Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:22:35.6270120Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03/test-directory-8b03de5d-bf45-1378-77f5-597a9ff8f692/test-file-9c998bfe-17da-5fff-e07c-62375aacfc9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE17E40095BE\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:22:35.6669886Z",
        "x-ms-file-creation-time": "2024-10-16T19:22:35.6669886Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:22:35.6669886Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03/test-directory-8b03de5d-bf45-1378-77f5-597a9ff8f692/test-file-9c998bfe-17da-5fff-e07c-62375aacfc9e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "G7j/agPjALYzSKlomxm39brC7U/fcV7MNqYkGnqapHbJZsvv7FecZgoWV/ecu0KkiNcC6Y5ZNalaMjNdv+U8mKMynzVNxwljJodEyBlmL3tjf5GjmLrobzAhlbkjPqcl2r5TahsNV8DOn8MHFGyP8wO3+j9TmQDoSS8EKzJPP+ffH+5aE8RfVijQ1Pj34VvDkqG1a0Rn0UG+aiDsCCuOfl/cJ/V+NOA+WKMXgsQH8WjUQZmQmdOjeE6tnKmjc078QlaZGrlmRV3BdxOgUE58tni4GMeS/uSLOa6m0Jg2muRVGkBubtaubfs8ziLAAij/MOYw61uHakRxDeELv3TEitwuSzUODkehCarLVS/ByzeGp6CxBq+Jza/8/GD1o66Gd0NGkbby8SGejuGwuxUUr0KqhBjUE4QtpX6GERHnrGb8Rd3rezmAlLZ+E3fN2RKa500eSh+WsmS/Gew4bN8Pt+J7tHY3KTQIKfBhVf8NX8ts6yrEyWJHZZJ5LGFNSCfWblyVUSSbY74YFSAvNF1ksrkgy4C1S+5/NE7kvfzTuuDIiuajdw2n0IhrrLNBGDE1FHqnLXynISNuFR3Wt6XBRVo/Zql2wTqsefv4SZ86PRsdrqmCK41kIWjCNWLv0BniqWZYArGHvlM/+7SBrtiEM9cCuQj8PxrN20VAs4zXvKjhFaA44jtqlfBVQy/Y4nKQPgGK7RcR5mpMiiZrRgvGZz8MoJk3TFGclyMYpvvq9fnTsHWKTc6R0C4161cU/k/ljtvwzEHZWfKv7lbz+D9uYpUtmJaVPBpwetBqAWD6h5jUMxcg+ii3+leC2l94ndfux4jB5ma4T1LAf1FxbleRtWa9H8UoTWhtdp4/EmG7+N34ezrXOKAxG+PFYHrXRYv/8SX4un0RxnkgVHDIeTzxBYZzePMcuX3FiwThY+3tlTASPyE8wj1g57TAt+MwaaGn01r0Y8yX4zenMy94L2OMM75AtjoatUJIE5E+WwKZlSJiOo+S+TJjelzqlI8O57dRNIQl77NnjR4Yq1A7WYc0Dp0MFfXU+TmM3TvdMCCyOivZ7Sd+dKZv+6xwek3iJyHUtYXyAdLCfDtKmBF3iVz9ZXAlYWtftpr3nRpIY37rqrUZCHqbwDhYF3HrM9uU93FPchXdvMa2dP/r+mS4eRi8Xu5cXoHiYqQ3zEn6dIK/Y6Wo+PFpDu3uYpN7sMbUoJ5YL9XsN5jwbRBwpfB9vAB8K5e+D4AnU1ABbfztZrLeYyuroUWt0ysNuIvh+Wn8caWT/4QuFpEdMNuE6sqcAwddkUHE0Ru7z1hssVf1RlnmBftWWmctsEyajXBpKOhgcbSDg2gnN6CK1y8rwmU6KOqBng==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zQpZ+Gp0tLCP1tX3V/xEEg==",
        "ETag": "\"0x8DCEE17E4091FFC\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-file-last-write-time": "2024-10-16T19:22:35.7229564Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03/test-directory-8b03de5d-bf45-1378-77f5-597a9ff8f692/test-file-9c998bfe-17da-5fff-e07c-62375aacfc9e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEE17E4091FFC\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:22:35.7229564Z",
        "x-ms-file-creation-time": "2024-10-16T19:22:35.6669886Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:22:35.7229564Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03/test-directory-8b03de5d-bf45-1378-77f5-597a9ff8f692/test-file-9c998bfe-17da-5fff-e07c-62375aacfc9e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEE17E41468F8\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:22:35.7969144Z",
        "x-ms-file-creation-time": "2024-10-16T19:22:35.6669886Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:22:35.7969144Z",
        "x-ms-file-parent-id": "138[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a7194a48-5bc3-82f4-d0f9-9e377628cc03?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:22:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "58541868",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
