{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0024c40a-8abc-ca60-8bbc-a13dc5cdbfb7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867651753602\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0024c40a-8abc-ca60-8bbc-a13dc5cdbfb7/test-directory-10bf83a5-840f-a6c6-d415-c56c6ade7df4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867651841ABE\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:16:31.1642814Z",
        "x-ms-file-creation-time": "2024-06-06T22:16:31.1642814Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:16:31.1642814Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0024c40a-8abc-ca60-8bbc-a13dc5cdbfb7/test-directory-10bf83a5-840f-a6c6-d415-c56c6ade7df4/test-file-3c7c4d40-59a4-4e13-b85a-e6cf49b58436",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8676518EEF44\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:16:31.2352580Z",
        "x-ms-file-creation-time": "2024-06-06T22:16:31.2352580Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:16:31.2352580Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0024c40a-8abc-ca60-8bbc-a13dc5cdbfb7/test-directory-10bf83a5-840f-a6c6-d415-c56c6ade7df4/test-file-3c7c4d40-59a4-4e13-b85a-e6cf49b58436",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8676518EEF44\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:16:31.2352580Z",
        "x-ms-file-creation-time": "2024-06-06T22:16:31.2352580Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:16:31.2352580Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0024c40a-8abc-ca60-8bbc-a13dc5cdbfb7/test-directory-10bf83a5-840f-a6c6-d415-c56c6ade7df4/test-file-3c7c4d40-59a4-4e13-b85a-e6cf49b58436?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "El07t25zwYwwfyET9RmLwwBS8dPlrhRchjyHdqOfDK5GzOdluaIlabRCpKIcufVNAE18nnt3sWNJ3jAy7EvpkHJzzCgyJgpdLIceogpxQMxHOXVWI20zzxuDHNpy83xpWRMwqO3NG9pCHnLzWA5Z2J5k6rPVk20EQP0Nrgkw6zkLtEn2QJffeh2bEwX7P3YMKkQ7DQjJlMWmK2jwwGzQETM46KTFYpcHhXCWOX9oCQCGAITF9d0xQSCEUBUv77mwygLRwlfSR8etM4iXM1pGPiFnab/oChxVB6aEQRKB2JW25W99lkeptLm8GMFUmQ7FPhHzx4b6yL/me7qxTQa0K1vy4E3ryKfavrQGLPFaAW6XvgIBjREPvB2vlxqM92eyB+1mYbjB2nVpGQjR85vOi3pMGo8Ds51K4yQwOzGNTsZNVCQE9J+21uONl3QIPciB4QugQN3Xr1NPG36TkJ5D3MpBhJ93yZbalkSrdRwpQqVbr1ol7A7pdaXRtdghIkVFSrupxrkoCRh1xqqZLDk3JdnZN+BDHe+8WA/6pRO9uHP+Zithf3zsMqVCsCZkUElrmY//SOplASzL7W2pLmQEtw02msYN1aZd7QQ6AWzIWAfGjguEvnCJmGT/lZEOQgRBPvkZLbWDXsTpolvlKgC/ApVm459Yf/mcrAFhDj8UTqo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gdZYvpAblEZAL2DJemD2PA==",
        "ETag": "\"0x8DC867651AF93E7\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:31 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:16:31.4491879Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0024c40a-8abc-ca60-8bbc-a13dc5cdbfb7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2125834359",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
