{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE178F7B57E5\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98/test-directory-cda8a877-6dfa-e555-6067-93d72b5a1bec?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE178F841CFD\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:20:13.9226365Z",
        "x-ms-file-creation-time": "2024-10-16T19:20:13.9226365Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:20:13.9226365Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98/test-directory-cda8a877-6dfa-e555-6067-93d72b5a1bec/test-file-6a2f2259-c125-4e52-e108-d992499401b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE178F8B20D9\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:20:13.9686105Z",
        "x-ms-file-creation-time": "2024-10-16T19:20:13.9686105Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:20:13.9686105Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98/test-directory-cda8a877-6dfa-e555-6067-93d72b5a1bec/test-file-6a2f2259-c125-4e52-e108-d992499401b6?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "9e3abd62-edcb-f220-3f71-988e39bb13df",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE178F8B20D9\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-lease-id": "9e3abd62-edcb-f220-3f71-988e39bb13df",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98/test-directory-cda8a877-6dfa-e555-6067-93d72b5a1bec/test-file-6a2f2259-c125-4e52-e108-d992499401b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-lease-id": "9e3abd62-edcb-f220-3f71-988e39bb13df",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEE178F8B20D9\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:20:13.9686105Z",
        "x-ms-file-creation-time": "2024-10-16T19:20:13.9686105Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:20:13.9686105Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98/test-directory-cda8a877-6dfa-e555-6067-93d72b5a1bec/test-file-6a2f2259-c125-4e52-e108-d992499401b6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:13 GMT",
        "x-ms-lease-id": "9e3abd62-edcb-f220-3f71-988e39bb13df",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "wf4/Ejm+D8fm6N53rmrahKF1P4EsQDtY4JbQkOmTkHWIASV2HVMqlLif2pLzzxEZ4yQGQNej5YDC5zKj7n7eUlhp7qxFY2ZOS6rJjGaoZBCEt6zEjU+e5RukszYhh6Y5wYc6iuFl1IC9t/Qt2lgaGoIhHjbSGsQIygmRoK8vLMMDj8vfbtovH+MsBtZacQrCipm0/2hwZqfCMb/Y1DPQjosxKUqNO6uo8v9TphPurVn+zhYWey1akigkHD0aVkuwW3hKKUfANU/tDA1pHcCT1INl2gUduhJe1pYhaB5ujZu0okqao4QSPZnGKG8f8XVokEi5tXxFk6Fl7FOwnswwf35xtXp1+TD/U5xsVpGjPuQgudfWtNgebg+pNLYwYZ7Mlqjwrjz78pcYumHg2TwPwq5uj+X0WsumUkZqzMR5zvL9n8Doso+oJcZAvvp2PpTTmXEIwtG51zvdSlv2kCbTnutv4jp8JxAfxmoftJzQLxOxlzJScQwhRMeECmg0spSfbR8OB1xaVnFh6ftmmSKfDRpHRPnzgC3fTZ1y+Byo6hTVgEd8wii3VkDA8YcRuqul5P1N7G2bq+zxLrm+6F5Vuf7nkRnbIkrykO24Mo+mzpPyzBMfWv6mOtRbi5Nu+G7iazeJKSiRycGzW1yA4nhdS2AlzBtLNl7/QFZEgJe2g5d/1sdXHKRqYAJRa/+iJlhb/UAzSSxSlzXZiunSTEkq/NjEAAuxBS+8umsY+cpfXRn96YJXgzprLT+RfpG6mBO5J24m3SZMqvcQd47AOZ1rei3P1GPH0nmeWNLMH4edASJYX9JbOH/zsT6KRgyrq/ShJgNk6sOv8VT1iIVTgIpwc3VrZ9nKD0Gu3CMlPYxt8q3eKvmDOBZeqG5+Za/6oDGzGtKWQEMa1xbCtg6girTIh5bXdFWR7DtfDL9qTKmRtDzycSO517Fpw1PiwYEIvh66td4ZIivbIi2XNzOEsIptMALRrhmQD7DkbbACriq5V06hsJbLeJEQFk71IqB+5RPIdZF/NhAEKaYtNLR62XMD3d/l4//zobdwwZfKm+wQZoedOTmZOiA+nIbwnkPclj3b8kTAmAIT1dTZDnV4Oo25HM4t3Z86aaO/p0Z4AwJzlCpZ76moUM2FiWNlwCyrxWH4NoJ1r7mdoYihAPG7mtLRZXpKHkvkEcsBp1M71Kh3E+Hkf8yA/uRxu04gB0/bye6Rk1uxYaYWFCW2cwhlYczgKu0Q1hoFUGaV2GL9xAp8Jd1kqkBNxbE6zmunyorcDFmBQNxiyvPUi0P0HIlEGU8bOk0qAbeLkmQ71givXobbucwJe4QtGlvqkB/9Wako9rQcjJA8sgqi9a13JvTqJC28GA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "H6/5JPE4vDF/ZnKjdEPVOw==",
        "ETag": "\"0x8DCEE178FA275F8\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:20:14 GMT",
        "x-ms-file-last-write-time": "2024-10-16T19:20:14.1215224Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-404410d8-fed6-4dde-4534-d9f7b6543e98?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:20:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "684163965",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
