{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675CD28E81B\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1/test-directory-211722f4-6c3c-eeee-c723-cc56d390e7a1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675CD387788\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:12:49.2093320Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:49.2093320Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:12:49.2093320Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1/test-directory-211722f4-6c3c-eeee-c723-cc56d390e7a1/test-file-b8cea697-0045-c941-b0a3-4439c9215b20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675CD757B5C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:49.6091996Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:49.6091996Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:49.6091996Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1/test-directory-211722f4-6c3c-eeee-c723-cc56d390e7a1/test-file-b8cea697-0045-c941-b0a3-4439c9215b20?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:48 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "76f3db42-873b-e66e-8e0c-66f597650e79",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675CD757B5C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:49 GMT",
        "x-ms-lease-id": "76f3db42-873b-e66e-8e0c-66f597650e79",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1/test-directory-211722f4-6c3c-eeee-c723-cc56d390e7a1/test-file-b8cea697-0045-c941-b0a3-4439c9215b20",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:48 GMT",
        "x-ms-lease-id": "76f3db42-873b-e66e-8e0c-66f597650e79",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8675CD757B5C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:49.6091996Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:49.6091996Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:49.6091996Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1/test-directory-211722f4-6c3c-eeee-c723-cc56d390e7a1/test-file-b8cea697-0045-c941-b0a3-4439c9215b20?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:48 GMT",
        "x-ms-lease-id": "76f3db42-873b-e66e-8e0c-66f597650e79",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "Bd9NsrOzR+VBvbE70Iqde/alanbqcEdzo8BrSSzN5avHyrFM5/rsHAxQqRrKNfqJIQmhhvHMe5WX2g7yR/25dNgFdAXYUZT7uU1pmsYsqG7G4igjK166+k4ctA3r+dQOlzVBxMD0sNB0pc2jY+HPajGgK2XVlUh6S3q3vJyGEL95WgKQ6uOt0jFYroWQFpdtTUncSs5uOQHsx3lGPfQz7pUOKgjePn9N81k0fefD6TTiSW9SqsXwCiEAoyNqZpU9JMDvguyOjg7Jjld1OrsZKd1EZPOE4EPQHR/n3Zpc443D91gn02dHVLpgiBxte9Bl5npFJQKhuEN8H2TNprB0barKsUNi8lZ2/RA4I1gmYqJOgvYgFr6KIT4Vq7MCeq0J7Btxo8mNAvQjzyfyaZTrVb3CfyS5VFbsP48ETUeidINiLjc8tb7YwIAC/EeWmLipKVX2P/qIT5fEhGQ5iLStgVqkjzpdr6D+6r6jt1gOVqbXWyPxrDSI2d+fdzBZnjfMVHrs8Ql+THq191Q85Zc/ti6+Yi2QvNQmHLVavTdvpUyG12PdIWSdWA6pPLTfS/RHYMECmzsKO5emxtVTI45DRVIItg00YZTJIQoe538gRtDBE111bQkQfJzLN1uPSTSAZvdi15XmE/4tOHow61QYhYAEkhAxzdhI9zpxaCo4OtfWnoGIvm472gBeRzSP4JBHs7HairckTpgeGd9bdKvT9f6iWkzTj8cRybcQ0oWkuBepKrR5Xa8gsVDoaqSO32VVi1I27YVEdCPpycH/FHsSemDIsUr2WpdOgqn86iUjgulSukczbsuSZbWRj5TuIJ3U1u9Exi0aXzC752rcR4n9xkbXrFk03wyUNkyUZMsCYGELKBQ23ry7N1sXd4ZhtR0slMlOFnNDn/fjr5DghfpluIYI0B91x+eKG3X9HWeFM4AvaNACtEnux4gcUi4s2rJgsb//WOT9tszhw/r+RYKPXXwPsR0qYwM8GgiXWHS4XkHCnWuohdubMrEDIPBP74IFjfWyHCmVNk67wj3cZl1YKGW5O6gX59egdH9rJkIT7SqGkct/BkEXLWYc7cKdv8xTq/eKlbTZ7qUdEaiqKQ8MqNUSVdSS2SIkog1C+voUA7SzF3tKiFh2raIlYfSZbQRWEEXti2r3wdHUZvOmlvOrCA7z9xKUwR99m6cxbHcuijUJ6+q0J3hKu1WpdSFk0BavelnmpXXxwk4lcO/CxlVaptu+nKsJ9uGWqTu96kv+GMqQgvEdSOS/GCmbj7aIh/X/T89FpjRrpYN4T/w5NNcDJlgkMUNjPF72/oSBbWcrDSFGvZt8uHGWJdxupfjoheRSl2hdY1axnBJwTqew6jccTQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FFEkqkjur30AcDc5aIFv7g==",
        "ETag": "\"0x8DC8675CDC93987\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:50 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:12:50.1580167Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-deabbec8-82d9-3f0d-f413-6c8f2e68f2d1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "85557236",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
