{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5146F68AE\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40/test-directory-9829344b-02f5-e658-3145-05f22ac38fa3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C514793778\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T00:58:38.9929848Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:38.9929848Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T00:58:38.9929848Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40/test-directory-9829344b-02f5-e658-3145-05f22ac38fa3/test-file-5d3278f8-a7c9-65cd-1cf7-ccc2a791d9a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C51483E4F7\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40/test-directory-9829344b-02f5-e658-3145-05f22ac38fa3/test-file-94708125-81b0-6b3f-c7c5-ff30a1caa3e7?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-rename-source": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40/test-directory-9829344b-02f5-e658-3145-05f22ac38fa3/test-file-5d3278f8-a7c9-65cd-1cf7-ccc2a791d9a2",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5148D5A05\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T00:58:39.1249413Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40/test-directory-9829344b-02f5-e658-3145-05f22ac38fa3/test-file-94708125-81b0-6b3f-c7c5-ff30a1caa3e7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB1C5148D5A05\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T00:58:39.1249413Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T00:58:39.0629623Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1d6fab0f-62ca-c61f-c09d-8ba268e73a40?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1251409125",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
