{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-524616f3-f3dc-93cb-21e5-f2f7ca87a2c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5134C105C\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-524616f3-f3dc-93cb-21e5-f2f7ca87a2c8/test-directory-950d00a8-5cec-dbae-1895-501d6319fd74?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C513559060\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T00:58:37.0816096Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:37.0816096Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T00:58:37.0816096Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-524616f3-f3dc-93cb-21e5-f2f7ca87a2c8/test-directory-950d00a8-5cec-dbae-1895-501d6319fd74/test-file-31bb96b1-30a5-f0ba-b84f-3678682ecfc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5135FA1AC\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T00:58:37.1475884Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:37.1475884Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T00:58:37.1475884Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-524616f3-f3dc-93cb-21e5-f2f7ca87a2c8/test-directory-950d00a8-5cec-dbae-1895-501d6319fd74/test-file-31bb96b1-30a5-f0ba-b84f-3678682ecfc5?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "Binary",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5136CBFF2\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T00:58:37.2335602Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:37.1475884Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T00:58:37.1475884Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-524616f3-f3dc-93cb-21e5-f2f7ca87a2c8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1261704133",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
