{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cc4da74-b5e4-dcdb-be69-8dee817f5aef?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A7AECA6C2\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:40:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cc4da74-b5e4-dcdb-be69-8dee817f5aef/test-directory-f3a21e4f-f5d3-aa59-b9c3-4cef3afc03a3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A7B9894F3\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:40:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T21:40:43.1217907Z",
        "x-ms-file-creation-time": "2024-06-07T21:40:43.1217907Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T21:40:43.1217907Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cc4da74-b5e4-dcdb-be69-8dee817f5aef/test-directory-f3a21e4f-f5d3-aa59-b9c3-4cef3afc03a3/test-file-0e3d68ad-f423-4acd-f037-855e761beced",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A7BA6C3AC\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:40:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-creation-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cc4da74-b5e4-dcdb-be69-8dee817f5aef/test-directory-f3a21e4f-f5d3-aa59-b9c3-4cef3afc03a3/test-file-0e3d68ad-f423-4acd-f037-855e761beced?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "fqswloufnoybwacubxta",
        "x-ms-content-disposition": "jbpktpcjikaobkxyhgar",
        "x-ms-content-encoding": "bwdhjrwncttmjopebhcv",
        "x-ms-content-language": "mlvcnkymbdmtwbxmxhbc",
        "x-ms-content-md5": "CzZgXdHYQamj3YO9ujaKhA==",
        "x-ms-content-type": "sogoqmflttwaeefoaaty",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A7BB4A456\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:40:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:40:43.3056854Z",
        "x-ms-file-creation-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cc4da74-b5e4-dcdb-be69-8dee817f5aef/test-directory-f3a21e4f-f5d3-aa59-b9c3-4cef3afc03a3/test-file-0e3d68ad-f423-4acd-f037-855e761beced",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "jbpktpcjikaobkxyhgar",
        "Content-Language": "mlvcnkymbdmtwbxmxhbc",
        "Content-MD5": "CzZgXdHYQamj3YO9ujaKhA==",
        "Content-Type": "sogoqmflttwaeefoaaty",
        "ETag": "\"0x8DC873A7BB4A456\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:40:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:40:43.3056854Z",
        "x-ms-file-creation-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:40:43.2147372Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7cc4da74-b5e4-dcdb-be69-8dee817f5aef?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:40:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T16:40:41.0329114-05:00",
    "RandomSeed": "238324086",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
