{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8fd0bc0b-43fa-2603-c923-5cec556edbb2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:41:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A91E3A1BB\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:41:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8fd0bc0b-43fa-2603-c923-5cec556edbb2/test-directory-e750ab06-07e6-38eb-545c-26f0d73fce26?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A928B8534\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:41:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T21:41:21.6237876Z",
        "x-ms-file-creation-time": "2024-06-07T21:41:21.6237876Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T21:41:21.6237876Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8fd0bc0b-43fa-2603-c923-5cec556edbb2/test-directory-e750ab06-07e6-38eb-545c-26f0d73fce26/test-file-6d5a4e4c-1517-fe05-17e1-803bd908da9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A92976A59\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:41:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-creation-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8fd0bc0b-43fa-2603-c923-5cec556edbb2/test-directory-e750ab06-07e6-38eb-545c-26f0d73fce26/test-file-6d5a4e4c-1517-fe05-17e1-803bd908da9d?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "ngupaorugdpceisjkrfu",
        "x-ms-content-disposition": "efsjywpyssbomxdjgcxm",
        "x-ms-content-encoding": "euwpvwyktgycwxqhnkpd",
        "x-ms-content-language": "xrbnbapgfjchtrqjhcnc",
        "x-ms-content-md5": "ed3VJlNeLjDPl5A4BgxNgg==",
        "x-ms-content-type": "wefmtxrnhuvumunltjnv",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A92A2653D\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:41:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:41:21.7737021Z",
        "x-ms-file-creation-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8fd0bc0b-43fa-2603-c923-5cec556edbb2/test-directory-e750ab06-07e6-38eb-545c-26f0d73fce26/test-file-6d5a4e4c-1517-fe05-17e1-803bd908da9d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "efsjywpyssbomxdjgcxm",
        "Content-Language": "xrbnbapgfjchtrqjhcnc",
        "Content-MD5": "ed3VJlNeLjDPl5A4BgxNgg==",
        "Content-Type": "wefmtxrnhuvumunltjnv",
        "ETag": "\"0x8DC873A92A2653D\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:41:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:41:21.7737021Z",
        "x-ms-file-creation-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:41:21.7017433Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8fd0bc0b-43fa-2603-c923-5cec556edbb2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:41:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T16:41:19.2619336-05:00",
    "RandomSeed": "285645666",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
