{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-473bc18b-ab50-50df-b9e6-986b5ef2fa70?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE17F358CCAD\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-473bc18b-ab50-50df-b9e6-986b5ef2fa70/test-directory-a3e7f195-d4f8-32c2-46c6-068d6279c2a0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE17F362E6E2\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:23:01.4771426Z",
        "x-ms-file-creation-time": "2024-10-16T19:23:01.4771426Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:23:01.4771426Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-473bc18b-ab50-50df-b9e6-986b5ef2fa70/test-directory-a3e7f195-d4f8-32c2-46c6-068d6279c2a0/test-file-f22fb781-4dc7-145b-e43a-3e7290303002",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE17F3690079\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:23:01.5171193Z",
        "x-ms-file-creation-time": "2024-10-16T19:23:01.5171193Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:23:01.5171193Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-473bc18b-ab50-50df-b9e6-986b5ef2fa70?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1970111699",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
