{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e0810b73-ed8b-31ed-37fa-1e48261de846?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675B113EAC1\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e0810b73-ed8b-31ed-37fa-1e48261de846/test-directory-1a06c2f7-c88e-388f-49bc-1fbe0a6eeac6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675B122533D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:12:02.0880189Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:02.0880189Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:12:02.0880189Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e0810b73-ed8b-31ed-37fa-1e48261de846/test-directory-1a06c2f7-c88e-388f-49bc-1fbe0a6eeac6/test-file-4a4238fc-ab69-b068-e901-ebaa0669fd40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675B15F2FF1\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:02.4868849Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:02.4868849Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:02.4868849Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-63db1826-8b1c-97ba-db36-afc721cbc1c1/test-directory-f82dd914-81ae-2adb-9ea2-68d38aa8cde6/test-file-86e63fc3-8f89-292f-6457-ba87002b55b5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "775482f5-e1a6-e512-20d1-bbb46d247797",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675B18F3C8E\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:02 GMT",
        "x-ms-lease-id": "775482f5-e1a6-e512-20d1-bbb46d247797",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e0810b73-ed8b-31ed-37fa-1e48261de846/test-directory-1a06c2f7-c88e-388f-49bc-1fbe0a6eeac6/test-file-4a4238fc-ab69-b068-e901-ebaa0669fd40?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "XPPz6MJ8JjbPxk9OHzqTcJUFmLEORiAYzf2MOkmBg4BOmnteu1L0n5XeYLET1TR1cgWbBQ9XGRXT2xrE8OztTkLP/4S/NbVDEfgcMOZuBPjIFsdD5X5x94FmiuA3L6+p8RJvRNWvtj1PWPQWO+kvZdYh+9kkqWjEXggDWKrVC+FIcz7T/8AjGV+K9I2JWruXNyUJFjPVhEipquXNrF6Sek0SzciqW2UV/uJ6mrXaOgNMayCFy/Wucu72KVTaVmwA93pAdo3z7dy/9BdQW+qSz3DigEA9DK5XZFrZszEROqh2eaI7msN1WH5ExtfdXRcDY1rk+NUsw+vL6BIzGjmqrblv2uFIVzWsbCjC+EXXeQdC1lDXLULSSra2b7GxQj5FmhkdboI1uwwlN4utasql824K8EPp04B3nJArkeeD+yrpfF4suguEDRtDsfW2Jd/rEXtCplL6W8eYpdLyCSkkoTthw+1seDljhuMopSGKwHawQIBsQVXX7iGWlBQ4kgPxHw+6VWHyfphC3h9v0bamDeVbQciouGDmidTM1uQkK/TfNoUR0GoVvcLoKWI1aBxq8IYv3FA6SWev08yMJqezHbMrj5owlD16RoMGwI79sSC3YeVe9U6kpO0eYv2eiJcaNAuvCtiBOVtItZbMNIjYsSGr1MTCVShlh+utEjJA273s64uCTqdINSeJFT+313BlRbDb8rPSWN7iSoLt1CcpCNnY4Ej8VWN5Y56dOEDora96SM2CZOgJGZOtnwQkWmEAYAxm3vcoaO9NYY8VNSCe+ZzTc4xZp6Twz8a0T7VeVQg9nNczgs64Ut/dNAJZ9ORzDqVnUefUprlodg8xcxg57gyG15lIanfOGyGsfHKhl9rhQUAQ9gQhafUeywy+ht7HpEb20hxLKqQumTXGJypGxt80TzHXKfcIZW6jKZ9qD5RC5dgsq8S9lhac4V3OW0HL2AQtiTet73pO7m2upwEEw4mhhEFSGhsadrkaO0eaOQkt2FGaPYVdlPZd3rxWD+4Vlx7TLdf/eL3pEhJ+krQys7RjgM+vaoYDRO9L9Dtew2fKBKMpxgwyLV+TsSpz3gFBKioI844eZi2X0Onns4SBik6rs40RCO2oMVNwG7hbkGXtCskRVtDYq551kfYjSnrbESfbxypzMCI8YME7rkp0PD+D+qm6cDR+0wjvm3b3hebZlQmRf8k7edmn1PYPnP1UAVW2n1DQIKHzXfQihJWrRdrbYhlA4rx1SIDPEps+bzYLmpkhQOWWCHRoniLVGPRE/I8bMzrjEx6YQFbPAQ0GtO69F+n7igT1RFqk2ESaoC+LixYLIjv7J4d7iACOxgdmYukzFwELSHKLJe/gPjva/Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "bZYX6bdFJSj4N/aoXONKRQ==",
        "ETag": "\"0x8DC8675B1C00C5D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:03 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:12:03.1216733Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-63db1826-8b1c-97ba-db36-afc721cbc1c1/test-directory-f82dd914-81ae-2adb-9ea2-68d38aa8cde6/test-file-86e63fc3-8f89-292f-6457-ba87002b55b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-e0810b73-ed8b-31ed-37fa-1e48261de846/test-directory-1a06c2f7-c88e-388f-49bc-1fbe0a6eeac6/test-file-4a4238fc-ab69-b068-e901-ebaa0669fd40",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:01 GMT",
        "x-ms-lease-id": "775482f5-e1a6-e512-20d1-bbb46d247797",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675B226B4A9\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:03 GMT",
        "x-ms-copy-id": "bdf62635-f203-4ebb-a405-33770095c486",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-63db1826-8b1c-97ba-db36-afc721cbc1c1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e0810b73-ed8b-31ed-37fa-1e48261de846?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1471521796",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
