{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:39 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF4667400\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF479DB51\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-file-change-time": "2024-12-06T02:37:40.7121233Z",
        "x-ms-file-creation-time": "2024-12-06T02:37:40.7121233Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T02:37:40.7121233Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab/test-file-ef109147-c4d6-d46a-a79d-e98cd2a403c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF48746F4\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-file-change-time": "2024-12-06T02:37:40.8000756Z",
        "x-ms-file-creation-time": "2024-12-06T02:37:40.8000756Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T02:37:40.8000756Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab/test-file-ef109147-c4d6-d46a-a79d-e98cd2a403c6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "2PNqZVcWWRioimvTM1WmkvR3XULSoLzvmcpDeoxJVysGxBT6AW5njZcviKjvQRQWk7L5NOBDljg2e8yN0t6LXjI/zW9ArJCGENCqohcU/1e1LefaUCNLwi7cw4ah2bq4pCl2r3Sl1eYhcyQPmfMgInt12KX3sQ4P9ApBY+kK5DYW8f7tnlDiEFcAuNz+PCk6vKELLAEVwPMbZrtpY3H9F4/u+af1MoMqksdN9/gxELjgB6dI/rc0ADEL0jeVeKzlA6FNEEKCRYkd4Jo5x8n66lYCiVzKtBjXufh26mBMlRkbZ/NX4/91XsIdKx4d+jlnEOfhku9QG06IdVdKDFop0EqAHmDWowZWjSqZrIn6ur6/Dtl4awMpykykzm2oKlFn9FrTnNzYkW3gigTEt27EjruYi/2BsGVHV1QTMdSZrWLZMrcvJh7i5n1smOD+ZBPd4ECyD55T5UP0i0WHxWCYR9yi64S3lWedtqWAFRiESfJBNlGU5p3DhUx0OpvYWiAd1FADXHmOJkrYFVn509ArcEJSRo8PA2A+3mY4QlrMxFyEY0DIge15sw8GvNFEyrJ7ScpYhRSRDtHvxH4SVuPwC1D9dG+QY+5V2ZJ/CEaP+hOzvPmPdD5H81Vv2LxvZl0rFbCAR1VC6+bbA6yBEQWKYMpqXpnpYJcRtYEaIIoy5nI1U/KVDrK+cdATtHCSxuFP5HjxBAfDQbUZbpHTKMtbqR05S74S9VEXq+3I1qwmfu+gyjsSQOFrchE9fJ8h60kFuAtTWXojPe8m2lka+2sJ8u+iMl2PSGg7zdms1Xix9sCkwh2g0yV1fY1M62aIUXamM4mwf7jrdnCiF4ugdmh2deSYdThNaB/KLLTQQ1wCs3xiBaHvAXcIuEyt/buZ1QYl1XaB79s+WMtq5VIDGzMToGQOPXHGh3RtkLzroGpjMFeuq27mgMShJK3WhBskBJ0ZmlxXipiVXk0CFF8eU7hgB7T7VW/ELSCgbRnD8ANYSIsf0gYNDKa/GE0g42xkgtD1dn1nKa8tVGw8tx1+0m1KqsvT/4GyUvoOPDwipEm0O+tIznqF8B/b8X2Z0VWJQEbf1TmgkYJPQyOCWexzCrAjiHsxNgPzxLmr9w4DGIClhfv1Q84PE6po+IpWApczaObNdknZVwlC7BGA9Zl0TCqi3dTwfcfhE3TRyD55nMEheI4nNqI3yy3ys1a9jx4Q86xgsyXDQusf62PUB47LyVBPXnwKTRWIahGm/slwJINWwdWRGOicXjaiCEo/Y8SfJukGbjChBaaW2EgUHEMirsfffka5ObBnsgBGZ0XLSAdMB9fgabZStLsu+0CfiELygFmDX+V+5e05n7swW55hy49Bxw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pz9ou1Dc9t6AuTjj0G5R6w==",
        "ETag": "\"0x8DD159EF4A6D88E\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:41 GMT",
        "x-ms-file-last-write-time": "2024-12-06T02:37:41.0069646Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab/test-file-ef109147-c4d6-d46a-a79d-e98cd2a403c6?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-group": "888",
        "x-ms-mode": "0111",
        "x-ms-owner": "999",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF4ADDC76\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:41 GMT",
        "x-ms-file-change-time": "2024-12-06T02:37:41.0529398Z",
        "x-ms-file-creation-time": "2024-12-06T02:37:40.8000756Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T02:37:41.0069646Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "888",
        "x-ms-link-count": "1",
        "x-ms-mode": "0111",
        "x-ms-owner": "999",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab/test-file-ef109147-c4d6-d46a-a79d-e98cd2a403c6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF4ADDC76\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:41 GMT",
        "x-ms-file-change-time": "2024-12-06T02:37:41.0529398Z",
        "x-ms-file-creation-time": "2024-12-06T02:37:40.8000756Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T02:37:41.0069646Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "888",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0111",
        "x-ms-owner": "999",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-4128e0bf-e173-76b5-5623-522f7b20624f/test-directory-5eb11e64-3069-e14b-ae7a-25bb5c8214ee/test-file-d58ddfe9-6060-9441-fec8-35013219d0ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab/test-file-ef109147-c4d6-d46a-a79d-e98cd2a403c6",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF4BFB456\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:41 GMT",
        "x-ms-copy-id": "22075964-5b4d-4bc6-bb28-77ae18498ea8",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-4128e0bf-e173-76b5-5623-522f7b20624f/test-directory-5eb11e64-3069-e14b-ae7a-25bb5c8214ee/test-file-d58ddfe9-6060-9441-fec8-35013219d0ef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD159EF4BFB456\"",
        "Last-Modified": "Fri, 06 Dec 2024 02:37:41 GMT",
        "x-ms-copy-completion-time": "Fri, 06 Dec 2024 02:37:41 GMT",
        "x-ms-copy-id": "22075964-5b4d-4bc6-bb28-77ae18498ea8",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0/test-directory-394ca4ed-c6ec-b95f-6c3d-9e92df95e6ab/test-file-ef109147-c4d6-d46a-a79d-e98cd2a403c6",
        "x-ms-copy-status": "success",
        "x-ms-file-change-time": "2024-12-06T02:37:41.1698774Z",
        "x-ms-file-creation-time": "2024-12-06T02:37:41.1698774Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T02:37:41.1698774Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-4128e0bf-e173-76b5-5623-522f7b20624f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-5a08a5ad-b80e-a11d-6852-898ee78a2de0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 02:37:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "723676315",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium\nU2FuaXRpemVk\nhttps://seancanaryfilepremium.blob.core.windows.net\nhttps://seancanaryfilepremium.file.core.windows.net\nhttps://seancanaryfilepremium.queue.core.windows.net\nhttps://seancanaryfilepremium.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium-secondary.file.core.windows.net\nhttps://seancanaryfilepremium-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium;AccountKey=Sanitized\n\n\n"
  }
}
