{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE188A4420E8\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE188A4C8FFA\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:27:14.6667002Z",
        "x-ms-file-creation-time": "2024-10-16T19:27:14.6667002Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:27:14.6667002Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909/test-file-a96f9f84-ba34-c1d5-9b1d-21e2952e9a0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE188A52828A\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:27:14.7056778Z",
        "x-ms-file-creation-time": "2024-10-16T19:27:14.7056778Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:27:14.7056778Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909/test-file-a96f9f84-ba34-c1d5-9b1d-21e2952e9a0f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "L0kCVHwens7KtAkZLrkZ4fFNMSFXrFO84sleoCzuoknKSWTVpkRk3Yh6TiRh7/0anGnbGWqiYoL1RXKzv/6h2xHAT+RVQzqt6VOZ3V0vWvLLQwTDE4jeJ+fh4GDRsR6J2HMSoJ8YxVguLjAWCIQkxeqA6Hv53siJ4Sf8c2PZ2zg1DwXqHLpSsn6rleVYyB9jvBp2UciikPqrib94G1L0VFL44Pl/OqgwLTX9TUniMRkImbdIY4pvk38LP5P62pYrtkCTX+cm5IFxRSOTpEKwyFimcIKbrPDHiU15dPsVNlKe0ZYIT9Ex4rU11h5m3O49WnY7VGoUkApPy9aarHCGXA7R9NKrp3iGdI3MZdXSYa1ePBmE2eHnikCMuYT7ljVFrnoPlecbkbL+tN/cRys0fWopPG9WAoIt6WmRHu70i95Yh7dbwsvFQqpnhiUBC0IVVzsa0VrF76z34qx9iXLDCikBhMBz2LueY/nE73xdK94mfMey2bmDkpgLZN8fR7g4o3v7AIaCon6Ae21hAf8wmrfOVw2rEDBvffIoaHTbfhxAjEwAYSpXpNlIMl1LIpGY28ooUfCqjJJLi4KUWjkKpf1RIHSzLziMdrI0Y97SJFtgj42qsi0slv+5tNWowkqfPY1g+gIc5KuRnNo9dimzeWcnM8qsX/LPJYp1+Xpi5LRolCVRcSpYRKviGRVS7h/WBTtugI6A896akNV4p+swLrgm1eIEYgc9zu8fykbdfTZqnvM/9GMl56BHtuBV4Jy/sepdKxg90qM0MbKfYCmXvROeDQj38TpVAO1BvKsm6O1SXxhcgFEeLcxQCsKwhoZ3r/nNt9KUyMCvBysq+xX3DUnETAEROz3Bf+A7puZ4pHpmygyxWTEbvpZYrXgm8zK3WP157DmFZXS8CzfyWCHZN2OwwzAIRbQYqY5ruY3Em4uug07p/rhA4WSY9E35KGV1fnYUdTABrxJIYUKqGqzm93CrRNTT8Dirb+HLcFBmHoAp9ToXsCVbrNQ7oJx1lce3sf3dTuSQoY49aQVONT7C4kPCgSRyz0dLUJf/mE+cNtkaFL9TidCcmVSs2kYfDHeWeb5ZsxSjReG1kf1NkAk+oDMrNCF/bllzJejQxfQAK0MfaR6RQ4LFds7dnvfSTwhKbjoT89hWFgpk5Y0s03/ttGa6LSbqrV2wZr5SotBhodbfhVe67ThqyVMULF31mKJO7+qRFyLiX8HcYowaA3Q6A0S3TU0oM8YtUGPT1oAAus0bBLLl0Imz/SaW3YqrUMbe2SkYPUtVJrwjY8e+DohA3Ki+//7CVDK7A08nkVU8gv+d9P1W53yCxt71wmzC9e6dVQHi7FDHHIT2XTr7LZRn5w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Usr3ihFUH/U2hA2i/3Zr3g==",
        "ETag": "\"0x8DCEE188A732522\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-file-last-write-time": "2024-10-16T19:27:14.9195554Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909/test-file-a96f9f84-ba34-c1d5-9b1d-21e2952e9a0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909/test-file-a96f9f84-ba34-c1d5-9b1d-21e2952e9a0f",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE188A8EE66B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:15 GMT",
        "x-ms-copy-id": "6b33f5d9-c7bf-4f31-af4d-f37169b95ab9",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909/test-file-a96f9f84-ba34-c1d5-9b1d-21e2952e9a0f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEE188A8EE66B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:15 GMT",
        "x-ms-copy-completion-time": "Wed, 16 Oct 2024 19:27:15 GMT",
        "x-ms-copy-id": "6b33f5d9-c7bf-4f31-af4d-f37169b95ab9",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3/test-directory-ce52bb7d-32c9-9dc2-97c3-bd9239b97909/test-file-a96f9f84-ba34-c1d5-9b1d-21e2952e9a0f",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:27:15.1014507Z",
        "x-ms-file-creation-time": "2024-10-16T19:27:15.1014507Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:27:15.1014507Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-8d77b99a-4941-7d03-ccba-f409e5e1ce7a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ebae034a-c2cf-a694-91fe-21fd90f91be3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-16T14:27:14.9994229-05:00",
    "RandomSeed": "90515645",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
