{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675940F237D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc/test-directory-78f43ebe-f8ee-218f-8a72-4b58f27c560a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675941E1D3C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:11:13.4064956Z",
        "x-ms-file-creation-time": "2024-06-06T22:11:13.4064956Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:11:13.4064956Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc/test-directory-78f43ebe-f8ee-218f-8a72-4b58f27c560a/test-file-70e0fb04-0780-b328-e8e6-7b00f9fbb6db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675942AED69\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-creation-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4644692f-ca25-0ffb-402e-9eb16805ed96/test-directory-6cace2b5-5cba-e81a-5dc7-d430ca7792ee/test-file-5a7141ec-f421-24ce-5ad4-3369222cd1f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc/test-directory-78f43ebe-f8ee-218f-8a72-4b58f27c560a/test-file-70e0fb04-0780-b328-e8e6-7b00f9fbb6db",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:12 GMT",
        "x-ms-file-attributes": "Source",
        "x-ms-file-change-time": "Source",
        "x-ms-file-creation-time": "Source",
        "x-ms-file-last-write-time": "Source",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867594C1545E\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:14 GMT",
        "x-ms-copy-id": "b8ff1996-1103-46d3-a56b-689b4d0dca75",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc/test-directory-78f43ebe-f8ee-218f-8a72-4b58f27c560a/test-file-70e0fb04-0780-b328-e8e6-7b00f9fbb6db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8675942AED69\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-creation-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4644692f-ca25-0ffb-402e-9eb16805ed96/test-directory-6cace2b5-5cba-e81a-5dc7-d430ca7792ee/test-file-5a7141ec-f421-24ce-5ad4-3369222cd1f1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867594C1545E\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:14 GMT",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 22:11:14 GMT",
        "x-ms-copy-id": "b8ff1996-1103-46d3-a56b-689b4d0dca75",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc/test-directory-78f43ebe-f8ee-218f-8a72-4b58f27c560a/test-file-70e0fb04-0780-b328-e8e6-7b00f9fbb6db",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-creation-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:11:13.4904681Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4644692f-ca25-0ffb-402e-9eb16805ed96?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-bae7fb91-3037-f591-4e88-bdab3410dacc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1133757414",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
