{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675AA75FA01\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675AA86720D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:11:51.0001165Z",
        "x-ms-file-creation-time": "2024-06-06T22:11:51.0001165Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:11:51.0001165Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180/test-file-39081b40-722b-2f39-66b8-4d0925cba873",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675AA93904C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:11:51.0860876Z",
        "x-ms-file-creation-time": "2024-06-06T22:11:51.0860876Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:11:51.0860876Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180/test-file-39081b40-722b-2f39-66b8-4d0925cba873?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "9YNctUb/fHL9ZemkSIptHA5bSZCe/RC0h6Xyk4HfMDT32+jdQtJS82rQuiEVYTdyp8S+uO1R5Pdzpy6hDOjxHTS1rW2hj9k8CVUlzkPunyVtgOy9IXdGpvbwapujseeC35zsYLTK0Bjrga+YKxa0hAgIM4v8M/y9bgd2sSQ+mVduou6mAj9xo7DU0aDHrnrgO+aSmn5bhqugL/GsUx7zrehYKoknDoHJl4/bJ2Jc9cCMlnU+q/7YEhxCBdNNxFCR4CO4b4PxuC1kyQPvgF5JRDkwILyptQLpfxds5Qmue9I/SUc+pIU8m95H2eH76ZK9+cCZHKST6CshzvBshNIktU0wsDYXCqC084TeYdsg7ZWFr+xIFF8uq2EcHNWV0BYLIyOUyzlcpu4f5SgftYZPAeFa5tXm26HuAgTU++7LHiJu0j64jCFbKQj9KC82DvbbzBvzOupAJEeCpck1h6r/VMYFseJIl3XA/r3M6LNxuPQO+S7T2OM4La32NeZYJqFe/dRoMFwTkzWlMzssdDyUEO3VJo58LHvizYQ0UWGPZ9gbbureCYiX+2b4LaWoC7lxYiT5gwAT4tFYhWPY3kHUFstjEQVRtQdlPSsog//WOsHKw+88leTYCIwZhYQkvhwkJBbZRPqzIKwdlEXU617RgkqhDRtSl4Dniwl5Ny+CQH8OBF7o/PbGF6JCHgGeAx0tSAM5g7AB0YyV8rjxOeh8m1PFxef/6IVT2/Z4EHh+SIfsS+8sSLzPDTLSUwo91d26xYOt2T02Ll995qe6icEUF6owBe75UFKX9ri0LZV6FgUYvUv00G9JtR2PrmIUFIRwvTtgDM/vwHQxFuKFgQDKAs+iost2H0Y75k/QaaHvguE0Q29ZGgk1KPzWw7mMxDQcxauScnK4+p71JCWAHlfTQZQAUT2QcOjGbHnOn1uMriIatKT1XQ9ve0jQZPbjtQmlA4IljHL3i1TDywb56ltDaXYDZWqy3eOFkdb0vwzy47dvKJzYZyKwIyhQMpEIdpDtjfp/4E+f8yWen/ucAstH0ehPicG+agFTU0FCYqtSfBpFBjIRcgNn0DV3OscnFCFcCGCoue3OLyP5LIwNXZF6TCLgVvuZNV/l57iMRy85LD8g5VlKqcItdtcOGEV2WXOk/O6kRr0lwtIAw9E0QujzvwBN7Xc3L6Jgst8kih0ab45F6EpBlOWB+iKGSubx+TTvG1hFKGz7bM1MRJTeATi15lND71qdsiobzPJUsOW7brmqNG/E1EYhSXt89U9Ro/nq0WOSrQraUWguKlt5przokNXaM8zI8BEMIaXfILzayin5at+BKMGv0OMHlqrrp6K+lGR5dm8sIuBShYtk+jCrUw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IRYDHWw5FZQu+bSyIu0bcA==",
        "ETag": "\"0x8DC8675AD2A6DDA\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:55 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:11:55.4302426Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180/test-file-39081b40-722b-2f39-66b8-4d0925cba873",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180/test-file-39081b40-722b-2f39-66b8-4d0925cba873",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:54 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675ADCB5B07\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:56 GMT",
        "x-ms-copy-id": "d3aef622-938a-4846-b58e-958b92261325",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180/test-file-39081b40-722b-2f39-66b8-4d0925cba873",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8675ADCB5B07\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:11:56 GMT",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 22:11:56 GMT",
        "x-ms-copy-id": "d3aef622-938a-4846-b58e-958b92261325",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0/test-directory-df87b267-1a24-52e7-c6f9-d925fda8d180/test-file-39081b40-722b-2f39-66b8-4d0925cba873",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2024-06-06T22:11:56.4848903Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11864766636389444947*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-448af130-a6dc-07b8-d451-6c0e26485cc6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-711edb98-729d-1ce5-429a-80039ff563f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:11:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1218371634",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
