{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8676624787B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86766256DD1F\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:16:59.3890591Z",
        "x-ms-file-creation-time": "2024-06-06T22:16:59.3890591Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:16:59.3890591Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c/test-file-625742d6-981f-baef-6d03-d542a960b4b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867662631117\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:16:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:16:59.4690327Z",
        "x-ms-file-creation-time": "2024-06-06T22:16:59.4690327Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:16:59.4690327Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c/test-file-625742d6-981f-baef-6d03-d542a960b4b4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "YXGDAqaINMuNvjMQVSPpDre0wrXBq7jhUfXeX4rGlSYM46yfmZnmQczffQf4PA/RR5jt1f+XIba4obGwqtVAxykNA3J2SXUezoHo4i2x6RXmDRfx2L8mdcH25vfoNZb3nrbe6zidWv4jzwd+rj6IB7ibypy9Tu5p5o2wgGJ9Npjq8EN20v7cSLMYzgm4qMeDbd8/TGv5Ok/IdASr7dqcpZlulL37EjS6v4LppYDlsT3GLRKDPukt8Lb0rl75MVrYfChvSRQJh1uqhIzpD5TP48LG5MDHGGevQaMHB2TWwY4nEShXdWgpvaW32LlcROAhJMqbMk2aEWPBwAdwAYD21MP+wf5sd21anSYbEECtUv3D5eKZOo5BjADElbVgubskwAP2XoLhtaxdQZUmfwAjFG0KrBueXZo0vTT+p+G4+uNq9k88tvR64jA1PPn5Gg3/oYFIVQyfhmNpwaFN4g3KpEaxu4ix5l14j8rraCChO6Im/wZgcKTXynDr0/RTLf8japiyR1+FTbokz8ZCtB1Cx4b+JuIGajOi2vAXxRNoJGLKx/2I7/NDobJLO6DelBZTqQtuVAYcHABkD21uboenvKpjd+0fudiTu4Uwuy+Sw0XaxBwH+s9crqv9JN+G1DMqo3/1eh0oM+8z2pmA62DQ0Uwnk6lqoMLbB8lBIpX5DedSBhevnEkosZEt1B8228JKLFKTXkCJvwO9GnNU5xFZOc2yLuVJITQC/uIYPcyipCsG9/VCZq6myEYU8oHV1Mp/1JpRhK3dAAsdkF9ecYI3GnZHTe8bFtMeC2WeNS6yLSoXmGgxUSB+KfbpJNVPSFfE3NgLjofaY73GM3hHPsvda2M1RtgZBchVyCP5MvH+z8MO2lhVp5+jPTSrax2oN+sqDLlyGQJ/qtcPtcVj4DHLyGO0OGNyiMPEkgijbpqrrZE4ziU3i7XBjzCBRfHZP1wD36K58/6Ht4P2rof52zs9ZAc0KhILkz2t86kz8ULR6lKsoI738bqSsRahQdwuyLP0Q+DppRVK90xlDP9UU8ZBJMQ0TDutRXNNonj7alFgfyv2Pq1h50U8YqlBkeW6PV1QYB0Y+Xt3R/5tnAKcTo36BIzUXhQY3zx+9+qSa7ONk2Qaqgk0SIWwfvev9EtCoBMcR41Y5d9JOIHgmQKQ5dtK3wmegqODxrwHJN8daOvwPFfWdiQmNa2F0XKIU66DH5kcZRRCpB1wmIHQUMH/LM+V712qum+3I6pbGbAw+3IOhAVGAALWrpg6Zt6iVuTshaWi8mNR2GUpZUJq5optP5wOwsy8uSvNv0HFcFORFMzFb5MLjgkOvaufHJu/bMgNzCZBk5QYL8x51TMii2gRmFF2pA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DlYnnyafH97QVQL2KAsDYQ==",
        "ETag": "\"0x8DC867662C04478\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:00 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:17:00.0798328Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c/test-file-625742d6-981f-baef-6d03-d542a960b4b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c/test-file-625742d6-981f-baef-6d03-d542a960b4b4",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:58 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867663111CDA\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:00 GMT",
        "x-ms-copy-id": "61c744cb-e106-48d6-b197-0f8b53ec323f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c/test-file-625742d6-981f-baef-6d03-d542a960b4b4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867663111CDA\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:00 GMT",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 22:17:00 GMT",
        "x-ms-copy-id": "61c744cb-e106-48d6-b197-0f8b53ec323f",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc/test-directory-25cb51a0-2d4b-45ee-5509-e9990c09021c/test-file-625742d6-981f-baef-6d03-d542a960b4b4",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2024-06-06T22:17:00.6096602Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11864766636389444947*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-d5ee8e21-748c-b4e3-f082-35dd77f91697?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7cf13136-07b0-3477-b31a-56474ae67efc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:16:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1590038531",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
