{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86767B699CA2\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86767B773E59\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:17:41.5443033Z",
        "x-ms-file-creation-time": "2024-06-06T22:17:41.5443033Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:17:41.5443033Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689/test-file-76cd3283-9e86-b038-6660-8ad22e7a939d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86767B839961\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:17:41.6252769Z",
        "x-ms-file-creation-time": "2024-06-06T22:17:41.6252769Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:17:41.6252769Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689/test-file-76cd3283-9e86-b038-6660-8ad22e7a939d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "TkUtTip/mzkTTsdp1AVn0ogHJ+jDqDhcDV3cGRcuHaXIPecAIjmN4lIpWFXUWKPh/6b09Y5LMaYN0UHNo4Ih5DEhoZcdZq9OeUWVmk/ih7S5+xlxOicXfAtB8lH4wD/QCHQks7cLw5j3pXtJtZdWK0qME6dpr6kJCiSM3HReVbkFxZLbvdP9rjeAepSrzcZ06scGa6yXZ1jKGqmSf+ckmU/CQ/AFe212j2Vw6DUUXjxeF/GsV+oMbl45EKIqai5QXOBE6IrWb25ZkNtHJn4itbxtNGf1d0FltdSRy2vLTCU2IIxUz3Wyh6iDU8cOxUjfF1rlvDbGW+Sf3zK1RKMDjkO2EAbyzeVHu6y/ciR6VvCMsbMQ5Y/ub8WntfBC/EMEf8SDWLRB7Up1ngGKB+i/JIhCKJPw86mzyKBBShf1BL5puvJg9/47SsRpmkaOY2jc6JFnANOwFIsaz48UAKIyf5lDIU31Xi2KBt7OhlhiJWQ4ZWKGjQTruaVnRSduJ0oiNxutS0Ib5olk3Pn14Y4zuKor25tArPGUV2injhkFHN6Tq089tdoiHH7YIbEL9dcXM419Qkuv4oopGPPZc1dwXsAaYTU/9QLPCb4cZ4pAiWKRkFuLiNmS5MnEFJ3nSKknZ8Pw8JSh1z2LrTmMknoA6I+RSOP85Nbnh31seuFk58AV9QDHUJjO77gdANqfBVJPxCwOVv/GK4LsCGgXNF1cJsZ5d515OJf2w1gq3uP7SIIqHba1VpHAT8p92kcvtrpbwNoUJo601YuUF5Onm0ye8cDm7Bemp880uCfS/F5Qxgydzh4J5iHzdkcqID79GbN+3uiGSMqjtBkK321m4tgtRFGHCc0ulQue83bPe4aRN590VB11yX1B+hoE/ga0jJNv/dztdhDmUEjd51VU0ziTeajO8o26uHrTRg6zKZcE6mbiYH6po8GOjQTVl+Eo7CfhcYRd5ZkGtERhGi8BMyax2f3vcnK66dbnP2WI5SGZq1nm0bgSpgTM26w5SImRjVneI77kOHm1J4eudqY0fc4jyG/VGmFunjL4IpfFgKFMVrILqsJitHLgMaowZDBel13dFn8Zu3L4cIWL7BXi76fmYR/0KNMMwBP99ei3PTkCmYo552kiMps/Ezo918hc/UIDSgIQam6K0VVrHMWJQDJLiVKKqAc9wy6EtBWYz+lLoPems/I38S8crxYUthbWtdIH8U120VU7xYbUjLVZ8gJrH3zN44xAFJcibvnwKA0Yrv9CkN2b1c6ia+1rY2V6wrwUqJaZCNFFxt22U2NbSp15u961FmEkz0qtKnif1bEyp6w93H92fqUt/cn/5YFrRyBQ8aeGxKtb79lM7N5ZpvEsgw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "RiAKRo+lYC5au25vnSyGTA==",
        "ETag": "\"0x8DC86767BCA396E\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:42 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:17:42.0881262Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689/test-file-76cd3283-9e86-b038-6660-8ad22e7a939d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689/test-file-76cd3283-9e86-b038-6660-8ad22e7a939d",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:40 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86767BFDEF48\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:42 GMT",
        "x-ms-copy-id": "0c74869e-356f-4b68-92c5-b806c0fb4c9a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689/test-file-76cd3283-9e86-b038-6660-8ad22e7a939d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86767BFDEF48\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:17:42 GMT",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 22:17:42 GMT",
        "x-ms-copy-id": "0c74869e-356f-4b68-92c5-b806c0fb4c9a",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d/test-directory-1092f4c1-11b0-3855-ba84-ea9045e87689/test-file-76cd3283-9e86-b038-6660-8ad22e7a939d",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:17:42.4270152Z",
        "x-ms-file-creation-time": "2024-06-06T22:17:42.4270152Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:17:42.4270152Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-8f35355f-da27-61bf-7b0f-09f7bb387154?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-b9747498-b5b1-bfe1-eff0-bd3d191e9e8d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:17:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:17:40.9850844-05:00",
    "RandomSeed": "380117890",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
