{
  "Entries": [
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9BFC0F3562B\"",
        "Last-Modified": "Fri, 20 Sep 2024 22:01:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847/test-directory-16dc3799-8ed4-1852-a23c-64a16dd3474e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9BFC1031DED\"",
        "Last-Modified": "Fri, 20 Sep 2024 22:01:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-09-20T22:01:17.9955693Z",
        "x-ms-file-creation-time": "2024-09-20T22:01:17.9955693Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-20T22:01:17.9955693Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9296666548986001524*983060574117355061",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847/test-directory-16dc3799-8ed4-1852-a23c-64a16dd3474e/test-file-b335b37d-0d32-ee4a-12fc-7f8d44351762",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9BFC10EDDC3\"",
        "Last-Modified": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-20T22:01:18.0725699Z",
        "x-ms-file-creation-time": "2024-09-20T22:01:18.0725699Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-09-20T22:01:18.0725699Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17263261821231966547*983060574117355061",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847/test-directory-16dc3799-8ed4-1852-a23c-64a16dd3474e/test-file-b335b37d-0d32-ee4a-12fc-7f8d44351762?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "0vFRhvAZBQnGL0ZiA3Ak+EJNH7WVOCM6baF5NNF16uhYP6fejsIM4HsJr9PYkfpzPI807dexYJnNFhlPn9E3UEVeCcTIRWqAQT46i4lQYtumBvdCQfwQp94OEXepvUCq0V6Neog2qvcks6yYdtQPfbQ9qJjZ9Q5JTWHlujTy14T+kLkrwuhSb1sAHY5QeDEK/pPDaxSo0NxPRCwmUfDCMtsomuUa5LrM6zg82deA+NQw27ugL2xvVcDd2367LB1rPeuyKN5L7xnZ94Dba/YFz0tY9nY0IgNvuEQlPQk8EL4a0ZzrztD25Oyixzfrk+rJ1wsyYzWnNhvoQm+ZJrEQnebBwZlaGgF7YRGKklrLgyVaW2b9CayJc5uBAotgXL46kipRKtJQb70KtwEjHKTAHb5KP8pLEpM5N03+2Rd1GwRTT/8wellTCeyp81KrZVb2wOTMFh3z74CWF/KEUpallJv90MykkKNl9zbeoh5AjtL3BxgyqQTnX2B/mWJmzrdWA1+2rZWJUjBBZx/nFU1hVoggjUp9cuuXFXFsJfZA/yh/h56/iuA9bbXn8UHlAEkSHUPaRUFs2JB0H5gjHS06AGf2aI2uosun4x+VloGpsRUnWQezZbnnEq8NS2tIGVCIrfDa7pi7ZHt3M2Ih10IPym2C/MMlhpquD1XeoVZgXsnPDOiQz8N9a/WLOzJWxjts/oD9xhyNYiZVK99C3cMkF9SZUcpafvuqBJDNmktoWEgacaLWYpitQqrBO6PjO44yZyRevXRwEn+EU8GLv8jb7dOWKGsgTrQ86w8gmEJXxskCmzMmCZrUqV4iUQ/WIYPi5U7QTRMiEhhwIdFlUHo8LY34iSOUteM4wn4M/fykZsqLPbL0h3i24IkatufJblnk5SSC3ZhfTTBql4uUFRQby7sG2RLHSKUUQqmaev77b1MkKBfYIogyK++Ciu/tIcp0/uoswpRGHZ1+bZvvxdMybig3cO39Q6gz1K0jRL21JiHeJXwTz6y/3gp5WbTtQ2YcUBvHtrDcd7tB+O7mI9jfyUd5EKBWHp98eJLjg+n0RpBHBvSi7m9wAa7B0da+2LoxmZBtczLFxTF7Sj4e+fPRTbJdnhzjPdrXCQ7ylUzIvp/XselYh9JegUDDJqMxUQi674QkYDmdTly2lWkk0y/ls4yeRkgJeMbg/x3bIBY3prcGOKbIpF1mOWONovFoOa4R3XMWkgvAsHe+RGEcwi1Ffu6yHZuJHQ8vOA3kfNXUd8VuykKjIBOsRocuCmD8SXc1SCQDthwSh8Bj51r92zSh6cybrffqoV7aBdcTWxOvM+6VrzSx0cGpW0OBQDm5rmtTjCCTYJyASqbFKLBF/yyttA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0m/QYFdlmbB2HjYmzs8q4w==",
        "ETag": "\"0x8DCD9BFC152EBF6\"",
        "Last-Modified": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-file-last-write-time": "2024-09-20T22:01:18.5185782Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847/test-directory-16dc3799-8ed4-1852-a23c-64a16dd3474e/test-file-b335b37d-0d32-ee4a-12fc-7f8d44351762",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847/test-directory-16dc3799-8ed4-1852-a23c-64a16dd3474e/test-file-b335b37d-0d32-ee4a-12fc-7f8d44351762",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-format": "Sddl",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9BFC182FCCF\"",
        "Last-Modified": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-copy-id": "13184740-1f70-4ca5-b188-1c0c5414966a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-0ef5d8a0-dd20-801c-ab09-854d96527ed3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://48ixscnby3pev24ax.file.preprod.core.windows.net/test-share-b68e901b-eac6-c8b4-72de-4be7a2818847?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 20 Sep 2024 22:01:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1114528477",
    "Storage_TestConfigDefault": "ProductionTenant\n48ixscnby3pev24ax\nU2FuaXRpemVk\nhttps://48ixscnby3pev24ax.blob.core.windows.net\nhttps://48ixscnby3pev24ax.file.preprod.core.windows.net\nhttps://48ixscnby3pev24ax.queue.core.windows.net\nhttps://48ixscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://48ixscnby3pev24ax-secondary.blob.core.windows.net\nhttps://48ixscnby3pev24ax-secondary.file.core.windows.net\nhttps://48ixscnby3pev24ax-secondary.queue.core.windows.net\nhttps://48ixscnby3pev24ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://48ixscnby3pev24ax.blob.core.windows.net/;QueueEndpoint=https://48ixscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://48ixscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://48ixscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://48ixscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://48ixscnby3pev24ax-secondary.file.core.windows.net/;AccountName=48ixscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
