{
  "Entries": [
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC18AD631A10B\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9/test-directory-37ca2fbd-a726-c91a-77c8-8e4587526d06?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC18AD6404B83\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-21T02:42:02.3953283Z",
        "x-ms-file-creation-time": "2024-08-21T02:42:02.3953283Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-21T02:42:02.3953283Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8765309049857427108*17655322998630064357",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9/test-directory-37ca2fbd-a726-c91a-77c8-8e4587526d06/test-file-fe98d48d-bf8d-1976-973a-b876ad50602e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC18AD64C0B7B\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-21T02:42:02.4723323Z",
        "x-ms-file-creation-time": "2024-08-21T02:42:02.4723323Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-21T02:42:02.4723323Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1671868946578265987*17655322998630064357",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9/test-directory-37ca2fbd-a726-c91a-77c8-8e4587526d06/test-file-fe98d48d-bf8d-1976-973a-b876ad50602e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "DIVBYQPM7Tg/R/boYmAjkLF0RiWNOFbEg+U+LYp3fn1mqPbAIsbLE9+vz8l1mBaqibjN0/eyytMvfd0ejcCuyMh5grpqY23qqDJF3miNT+rPk6PSqauFs90jkKXprYYfAQcB+xZbQCVK4yrFbOxqoi3yTvkd2x4c887cRtLIAfqsJtxgjFPUc1J9h8aAwEbwuO539l6MAiXp5AdIfvlTguEwGUYPChbZHtunn1RXnDKH7I7jUAubHyS3d6dLjPRZKgXkUKcA4a7YndeD5WLQkUjUwZJrbzHWlPkhWJJujpLnTXRPc0yLhgrgCrIzGDrB5uVfdsph7brTDbuu34kbag9Fm5fugR78STqIi2R/o3u+X3GtDhfHhV+6e2WQ3aeBxKCi7nyj02THYy2P2WJWVGpA738Xblv4fRU3NAa4a2yTBsbE3LT+GowM5avpN6z9ZCf7T+0oaVVFqnFmbJ9eD/fA/NKckXe1QdTyC4mvDkVoOtDevBt/a51wfjJDl67srtWzKDvaYNKvRQ4YNV7MlZsr/jHPf1LbQZE1KxJEcqkmBlyz/OUKjtn9L3YNZjU+o+mXF5l8HC6C2OeppTW/atNk8i8BGZm1IW9Y0VDczdpb9ocprVoQqekuMCP+YOikPsSjqXQGPIpQ4fYpJEvdpgoMTa6tlr15VEhG0+l1tsCHs5OMOCRmVbn92Mtk5oSeUIkZ8hI596gHKlUrwGmh2yo1onC3UW7lpfj0r73xFG3EqIJfW8SuTbzqhQ7POpVQXPyhLkMT5v8bNEwaREfqFhXnZxfmQYBmh1W0zcxfFmtipFPBUOYqsMGDRCd3kwh0AG756NN9aRp8OqfuXxgyux3ht6D0KcYuvbZVY/1Y7vNMP8xdZi2X5Do5RBU/O1CpUIgJlttngNeoyiocJwYcI0yzoR9M1VXvSdJlu+Sw74FmrBN1T1cX5b/1tJsDe700HCHIi5owXHsyGUwIAcTy+NqptnrzptP0m7xgViC57M4VMZ7C52PmNVCXQzYKDuP6A7zBWcVCQXZN1PDe0AZaeCx+89AmMBB2woAqW2Od6YzYZVNk+JMJ0+8odBNzCGVJPMoJjBsS1NOsSpdEF+YSsOpjBWqz9oCZdR/g/rv8Arob4R6Zk11wxpGAt637xLsJFcQpEAL6lUVJcBf8MdUXr0jcKTXHeRyM8j/ZMz7TnbBj1+j20/K3IEzYTyNGdJS7aAhlH5qFQZynnB3DIWEGdtJmmFrtINxVJQnp7in5Rn6qHcs2bn4V3ZVLTzbU9P7q0dlQ39w6zUcrD/mRnFNzrlafGASW0AhUULrEotGmgDAK/xxQqGeicE+DCl6EhEFC16DgNdv6VAHQ/I4hdSt2hQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "l6bQm8trPFrI5OgZMwTKkg==",
        "ETag": "\"0x8DCC18AD6843291\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-file-last-write-time": "2024-08-21T02:42:02.8403345Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9/test-directory-37ca2fbd-a726-c91a-77c8-8e4587526d06/test-file-fe98d48d-bf8d-1976-973a-b876ad50602e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9/test-directory-37ca2fbd-a726-c91a-77c8-8e4587526d06/test-file-fe98d48d-bf8d-1976-973a-b876ad50602e",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-format": "Sddl",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC18AD69FAB78\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:42:03 GMT",
        "x-ms-copy-id": "ea9a64e7-3f68-42c4-9937-31e88cbfd3f1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-883d025a-e24b-1da5-0e52-9d600839a598?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sr2xscnby3pev24ax.file.preprod.core.windows.net/test-share-efeb9e0d-6186-996c-117a-36df6f7d4cf9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:42:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1361556416",
    "Storage_TestConfigDefault": "ProductionTenant\nsr2xscnby3pev24ax\nU2FuaXRpemVk\nhttps://sr2xscnby3pev24ax.blob.core.windows.net\nhttps://sr2xscnby3pev24ax.file.preprod.core.windows.net\nhttps://sr2xscnby3pev24ax.queue.core.windows.net\nhttps://sr2xscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://sr2xscnby3pev24ax-secondary.blob.core.windows.net\nhttps://sr2xscnby3pev24ax-secondary.file.core.windows.net\nhttps://sr2xscnby3pev24ax-secondary.queue.core.windows.net\nhttps://sr2xscnby3pev24ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://sr2xscnby3pev24ax.blob.core.windows.net/;QueueEndpoint=https://sr2xscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://sr2xscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://sr2xscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sr2xscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sr2xscnby3pev24ax-secondary.file.core.windows.net/;AccountName=sr2xscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
