{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE187211FAE0\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1872191540\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:26:34.0640064Z",
        "x-ms-file-creation-time": "2024-10-16T19:26:34.0640064Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:26:34.0640064Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2/test-file-33bdb80a-f308-ece4-945c-84c119a46034",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE187220DC55\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:26:34.1149781Z",
        "x-ms-file-creation-time": "2024-10-16T19:26:34.1149781Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:26:34.1149781Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2/test-file-33bdb80a-f308-ece4-945c-84c119a46034?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "wX4CSZ3U0FJwUdAhJXYYiWLHRdZpzSKxws4vcvTuSxNx3ZVtMuaDCJaRIYddXpbRthY/gLAw5vRcUYbPpV1dgga9sEfhq1d7Qz1A16ubU2Q3XrverspjQPegEeFgs2M4NJ6AoK1O7wu+xD1y8A9Iwf0hl0aiftM8WW9QQZp1G5DaB6INGrO36W6wH+qN8FDoV0/kPhsclrXLREY9/a1xSaisl+hsO6dJaq7Y8V/ormkfaOpKkNx0vnDtQdVteevBPtZB4Fhoexuom9RtQ6RW4pXcHpXDJ7jMONl3fvrR2/HCFrOJps4Rt+zPofUIBnrMl18/kFtW/hcddad/8P0h1r/jqi3xzDvHy2eo84XDwzFeq+aakkuWbBibazEmksbvrso2JVtN2sojeMXzrgqSWbF1IEUWhkR0TT4UVmAKoDmguUW6jJ7WENAcdxmFor4OCRJ/sXGB2CeFwtgcOYRpGdeMU/TE180TnxB0+g8q7qqABUxOiu/IH+EdNMrGuddLsl1C+U/JSTFEbBFhDN0YW9MtmzM3Go7oxDMTp6MCTeU5KEix6PVbt7wbCh7dZxIDBdn2mB2jE5fOWTUbtaKNQh4rJ+OVZnLe0eR3GxBwClwhEKHJDLXHlRWw4o/AQAEajccAsT8vbZ5nGMY5LPeGXk7Y+qUAxDVpZJLO5YTjHpHiXI5IcFgd8aIDYvPujmkdKYRA50VbGcmRlk2sYIgahPk0Vs9pPu72uggC/GFCe9Upsbv/ojZMhkLEttkLcJEa6d75uTeZs+uVSi09WR1nTxt4g67MGuHD6NCMpYcU60l36BODSMGej/7QalgJDy0lXGe9k+3iTs/8NtFmDA1kgF/jxnAK5Ada2fOw/K+IutmiZkggV1dclJpDhhHvN4Lwa+n5JUm8G3hfY7n5MlEfdHv4xKbERCkHhjHWxl32aqFxv5DGjpSQ5kvQwPOeY2JIIxKV93PcLCe/8p8X5VUbafkXh3LBWeXnZ95a9IM2aCLPjqJKYHIulJNpBpz1eAD1tFf6htvvh8osro+VgTejiYl8R1ey0AiG6fPeV1JJ8e7eZD8rO+JH4AbYHbHimRJcxX0SeTGoQ+NOdJ3oEC94472gtxz3eE2nNWdR2rJXo0/hgpLUN3i9NSFb3cdEX8/XXzr0QeL1ZE0wakTJV2kw99BNBo2co6tE44H7m5qFY9aYenp4YmFt7B5FpM009N63K+X291hBOruPr15g+cmyqgZtMd3uuJRv3xpvVv/dEO6iQ3C1j2x9Vj+/6bICDPJVk/rGxsIByXJQhxc+0uO8sZ9wvrZY/Bqa8NudL8/ibNInGsMFFkoroHr+ZAdVP4NcAzcTkk48/JbfLNXnZJmibg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CLr4kc5E8vujJyDal66rtA==",
        "ETag": "\"0x8DCEE1872424213\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-file-last-write-time": "2024-10-16T19:26:34.3338515Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2/test-file-33bdb80a-f308-ece4-945c-84c119a46034",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2/test-file-33bdb80a-f308-ece4-945c-84c119a46034",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-file-attributes": "ReadOnly|Archive",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1872683B0F\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-copy-id": "fa88e4e2-8949-4547-9cf9-1a07269969cf",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2/test-file-33bdb80a-f308-ece4-945c-84c119a46034",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEE1872683B0F\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-copy-completion-time": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-copy-id": "fa88e4e2-8949-4547-9cf9-1a07269969cf",
        "x-ms-copy-progress": "1048576/1048576",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5/test-directory-8767c294-2895-23ad-c040-9c54de322bc2/test-file-33bdb80a-f308-ece4-945c-84c119a46034",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2024-10-16T19:26:34.5827087Z",
        "x-ms-file-creation-time": "2019-08-15T05:15:25.0600000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2019-08-26T05:15:25.0600000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9019159817152516874*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-cfed1f48-e8c0-2553-4525-85b87f8999de?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-7ce35c62-79ad-35b7-7895-5954e5d0bde5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:26:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1698527239",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
