{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C23A4817\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C248A593\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:12:30.8604307Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:30.8604307Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:12:30.8604307Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024/test-file-db6fe532-cba3-73a7-f95c-242d58e9e77d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C257E688\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:30.9603976Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:30.9603976Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:30.9603976Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024/test-file-db6fe532-cba3-73a7-f95c-242d58e9e77d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "vddD9l+J04mT0K3XcZXpo3/6Yy8Bt8ymwfSd9a6B7tB3eXgjNv6tqBHlSNMdzwJkcoGuXYa3ewYKnTVr7N7bEeHcYPccxmyATbsdHG75ifHyOYMs0pFKv/5yGJnJQrszCTbxQG8KR6sVLRDLml+XEBRDebNbrz9QkqD5qa7Stwv/6RI4CEiC5/HXF6WBfiWf2weFhcgH2Fr3oK3OEJ39QnUEzLBMXgjLwJHCg5eZzxN7Ws6mTTFC9xG4QWeatNdT2tUvfLJ0Unz/usU3RVXCXdCaU7XPVvREwdSflB2hMQy5bqjCalNhBghRp5NsCrK79eOWAGAhhIPg67re1b5fXYm5fdesAPN9OEytfa9h17Yi4585CjCrmOkl4X6YgjFK8kkKs43aD/TwGMcUdAfTfxMDu/EeJlJYDeXthx905bUbY4tmVyQpR9SqSPJolyTiUWJrlMc/K8v2saWn7YfVfDIR+BB7bSfu2XQddN1g73bBCza8CFHu3Di/b6V+glpM1cy/V54TZuM6fLpSIrbulsIv5eFRGHPhIxzYu/6Cb1cZ0J4QoJjXrqRSgYuWnLmB0djjT5x4+7xZ3TSCOqrluAxjOFEX3fYpWDc9/pbnS4ZiV+omnyC7odTit8JkVHP5bcl+M2NoafTiufZkO/wlcpKtIOPAvhjsp5d8NSYzxQPEQ5DNaBcj+u31Q+YpVmbYvEQvtzSQOa6wkovL6zPOrvPyoPdsWAl6iSb1ynsywlExpHjhAw7PNAriHNWMVw66J5XyN7Zua2Q7tS0Omm4zfdA6mka77KvlI2vtijs07jEXO6PlQIuawjgUpk7gwZmcrp8FUbzH/zrqDBRKgeEpB8b89l/KTT1Fn9cOpkZcBWHSUNucLp10Tzxo+zN2UEFX6p6I48o60WBhv7HluVjzjQeyeDAFjdgoh6YiYVIJzk+Wt7uo1CGXl357Om7rj5bkdW4sxNgQUV3GX1wjF3AOV/FhTgKcS7nlGuCyilJpPPcQPuzj3Ql3hWZe4XTFc4AObOJ9iUCTSCm0Rqn3XsYLXCJkEtiDKnro6smcPmlEIKdgox5w7LO2fPbDL5dffyefUoVSYGCni0FolJ939wq/byYCl7qnm29vrZbiv/vjiGqh/Ovk8r9GuRjcB1cTPoXsA79wXehs97cV4rLKxMtGhQw11voe231mvN6iy5MXW28Q9bs8ciuCNAQzzg8Ne/RMloJL3miKzShBCqAKyiwj/oZDuc8PCRPhs6H26gxtWEDqVTURzH0GhieT+meKd2nYENCJysIkPIxvaSvGlOMc1LFgH3X2EjEJPTOnfA+rVjs4Hdo85I5+xRipomJSP/JEdya1KVj04f2egIyPfcB8ww==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LdTbgyaUFuxKqQGkAVBHTg==",
        "ETag": "\"0x8DC8675C26EEEFF\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:31 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:12:31.1113471Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024/destFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C2A8E5D1\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:31.4912209Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:31.4912209Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-06T22:12:31.4912209Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024/destFile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024/test-file-db6fe532-cba3-73a7-f95c-242d58e9e77d?sv=Sanitized&st=2024-06-06T21%3A12%3A30Z&se=2024-06-06T23%3A12%3A30Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:30 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675C3EB0E61\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:33 GMT",
        "x-ms-content-crc64": "jStlePfHwkw=",
        "x-ms-file-last-write-time": "2024-06-06T22:12:33.6025185Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51/test-directory-4240c5dc-5fa1-fb7f-ed4f-47b55fc72024/test-file-db6fe532-cba3-73a7-f95c-242d58e9e77d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:32 GMT",
        "x-ms-range": "bytes=512-767",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-767/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8675C26EEEFF\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:12:31.1113471Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:30.9603976Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:12:31.1113471Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "xEOQzWgXI/rt9UPmKVZm2LxEL7c0kDmusJKLy+szzq7z8qD3bFgJeokm9cp7MsJRMaR44QMOzzQK4hzVjFcOuieV8je2bmtkO7UtDppuM33QOppGu+yr5SNr7Yo7NO4xFzuj5UCLmsI4FKZO4MGZnK6fBVG8x/866gwUSoHhKQfG/PZfyk09RZ/XDqZGXAVh0lDbnC6ddE88aPszdlBBV+qeiOPKOtFgYb+x5blY840HsngwBY3YKIemImFSCc5Plre7qNQhl5d+ezpu64+W5HVuLMTYEFFdxl9cIxdwDlfxYU4CnEu55RrgsopSaTz3ED7s490Jd4VmXuF0xXOADg=="
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-73ff2919-a45a-7c0b-b672-92bfa2904c51?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:12:30.0317768-05:00",
    "RandomSeed": "1730054498",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
