{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0dab30c1-353d-e0c4-bcd4-65af5b4f1b76?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1812D6B3A9\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0dab30c1-353d-e0c4-bcd4-65af5b4f1b76/test-directory-6b9157ec-6a53-035d-5881-68edc40b29d6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1812DDED99\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:23:54.2927769Z",
        "x-ms-file-creation-time": "2024-10-16T19:23:54.2927769Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:23:54.2927769Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0dab30c1-353d-e0c4-bcd4-65af5b4f1b76/test-directory-6b9157ec-6a53-035d-5881-68edc40b29d6/test-file-1535bf91-dad3-350a-13c5-38ef3d33dbbc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1812E40736\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:23:54.3327542Z",
        "x-ms-file-creation-time": "2024-10-16T19:23:54.3327542Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:23:54.3327542Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0dab30c1-353d-e0c4-bcd4-65af5b4f1b76/test-directory-6b9157ec-6a53-035d-5881-68edc40b29d6/test-file-1535bf91-dad3-350a-13c5-38ef3d33dbbc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "NnyeUL9Liz7OazFKDgFBVA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "/U6E1LLRpMg9kqRwsnCJgrnELfKbc1XvQgPnpXzydxCv75xdDDbB76bPKtSZOFV4D8nVZjPBnIn5lZKv6v9MShuUwcPUK3aCAz1Ly0mAVgmubpayHRDc7lISZHajEQWng+C5BHaSo+NSUmP2ddFAeD6IAXtomi0KuNJwwscA3vE3pEhox1KSG8uzX8qt5XiB0uw4GhCKPumzrkujIuEcUnNyv9CI17Dr9uWwtTpiXNNa7u/ax8PgrWZftRgG7vnplw1WOyao+Po8TCQr2omuUFJ4STPyQYuwkhFqKSGX5Qfrxh4sCyGssfb0nnqetdPdsGXGjaTG91WBpqgUPc/YpGcdPxNqgUQwzJg8/aIQEdw+jXi80VdiJc/IqmV4l3MnG/oTgXXAci4glsEMifmycZXM1rBWHNMPuxpDotfftzQkFeGo/Y9nfhtKnDqWVZvVFjnPrMHD0P8[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-0dab30c1-353d-e0c4-bcd4-65af5b4f1b76?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:23:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1424701060",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
