{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5b72f1e5-cd2c-ff3c-9da5-26b18c5774d2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Oct 2023 21:32:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCC33F7BB7FD0\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 21:32:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5b72f1e5-cd2c-ff3c-9da5-26b18c5774d2/test-directory-fdfdc432-117c-8244-a6b2-c906bbf9b99b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCC33F825D770\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 21:32:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-13T21:32:58.1685104Z",
        "x-ms-file-creation-time": "2023-10-13T21:32:58.1685104Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-13T21:32:58.1685104Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5b72f1e5-cd2c-ff3c-9da5-26b18c5774d2/test-directory-fdfdc432-117c-8244-a6b2-c906bbf9b99b/test-file-47b83cbc-380a-2bc5-5fea-cb4f708cf7be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCC33F8316E64\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 21:32:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-13T21:32:58.2444644Z",
        "x-ms-file-creation-time": "2023-10-13T21:32:58.2444644Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-13T21:32:58.2444644Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5b72f1e5-cd2c-ff3c-9da5-26b18c5774d2/test-directory-fdfdc432-117c-8244-a6b2-c906bbf9b99b/test-file-47b83cbc-380a-2bc5-5fea-cb4f708cf7be?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "wAmYWHzaKXAHgF9sF6iYIP9KJ9RPqm7QnAP/60DpGateIbnVhTu5ieIqlamIzI4vcXwmNQEkORabx7t52z4vHme0DvXvwpvDkJ7yJBTFR9B00HrDw\u002BOqOeijOr1/QK6k\u002BndC1L6ZQK7hYqViMhQB1YDrBQvEbFqDCtQNTIjeQ1DwTSmdg3MR2pDL4mA\u002BRwfToWU9lDqi4I4cvsnpi/MmAh9UcuTqZFEM2Sp7\u002BIn6RMPMOqoioa8WTW2bgMSpKE\u002BcpN9B6dQj6DwTMLoPJ\u002BcFInoFHVBJA2FvPiV3T\u002BSNY7Ha3lOpuVrvqVJuD3D1BiWFlV5KpAv/UqF\u002B0auuq5hYhs0INUiTXGkfFnT\u002B2/PwejgA8bqGQr6m24yyK\u002BevQf25FYmj7NHc8Tn0K42WAHetjVdyr[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5b72f1e5-cd2c-ff3c-9da5-26b18c5774d2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Oct 2023 21:32:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "543387398",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
