{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f7de4683-65a1-5548-f9cb-1bd5e3a60b6e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675B9F07865\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f7de4683-65a1-5548-f9cb-1bd5e3a60b6e/test-directory-50f22dd6-4a5f-a3dd-b9a2-adae20b41e5d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8675BA02F961\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:12:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:12:16.9820513Z",
        "x-ms-file-creation-time": "2024-06-06T22:12:16.9820513Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:12:16.9820513Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f7de4683-65a1-5548-f9cb-1bd5e3a60b6e/test-directory-50f22dd6-4a5f-a3dd-b9a2-adae20b41e5d/test-file-964e85a8-071f-8ff5-8210-8e14e6e0a6a8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:15 GMT",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "NMEgz/YUsuGy8bP4O4ntP+pmVHfB1suGWy2Hmb1wZsheYuwxYZEGk9Jt5C5U/VT5Ik8qgIsv5131mnTJjBgjQYvqmticvN1YX8ClVPKdMV3ZjnduReU9L3qOO8YdPAe5SaKiaWN7XGZx0iDKiZNrWGkW8P6htfulrWpdDYAXOiO56wpP+8f6XTEQ/HPEcqXnI+NdBkwIF5Om/bz4HU/mWpf9EJ6IHF2hHJLMkbmI4DrEduqcuTTWsdN3qP4LAT/iKqHcx2IHXgeGvOq5O4bZHhyCM6dkSaBjJl/KEXNelRtT6mYYqxnYvRfiFf1JHXVMnoniiM2YfeAAeaACPE2TJybPZlEgwHICqnaPgTOjGQnpfXLpfA1NumyFFzJ41YHKT+7XercjLN0W395XCPysXV+XGL7aqaoZgavlmqk/idT0xTJFy59SxVGV0p0u9rJw2brT4bzC76V[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f7de4683-65a1-5548-f9cb-1bd5e3a60b6e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:12:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1432992920",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
