{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6da24c67-864a-3b83-6ca6-0e33c7fdec08?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Mar 2025 17:17:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6640D06ECF6D\"",
        "Last-Modified": "Tue, 18 Mar 2025 17:17:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6da24c67-864a-3b83-6ca6-0e33c7fdec08/test-directory-2f953ac2-41e6-e8d6-0ffc-6fd930a34eba?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Mar 2025 17:17:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6640D07B4E66\"",
        "Last-Modified": "Tue, 18 Mar 2025 17:17:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-18T17:17:51.8160486Z",
        "x-ms-file-creation-time": "2025-03-18T17:17:51.8160486Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-18T17:17:51.8160486Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6da24c67-864a-3b83-6ca6-0e33c7fdec08/test-directory-2f953ac2-41e6-e8d6-0ffc-6fd930a34eba/test-file-17410944-9b84-3b9e-9409-56a8f3601102",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 18 Mar 2025 17:17:56 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6640D08D9C5B\"",
        "Last-Modified": "Tue, 18 Mar 2025 17:17:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-18T17:17:51.9360091Z",
        "x-ms-file-creation-time": "2025-03-18T17:17:51.9360091Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-18T17:17:51.9360091Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6da24c67-864a-3b83-6ca6-0e33c7fdec08/test-directory-2f953ac2-41e6-e8d6-0ffc-6fd930a34eba/test-file-17410944-9b84-3b9e-9409-56a8f3601102?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-6da24c67-864a-3b83-6ca6-0e33c7fdec08/test-directory-2f953ac2-41e6-e8d6-0ffc-6fd930a34eba/test-file-17410944-9b84-3b9e-9409-56a8f3601102",
        "x-ms-date": "Tue, 18 Mar 2025 17:17:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:e57f5401-f01a-0084-4b29-988420000000\n",
        "Time:2025-03-18T17:17:52.4766448Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6da24c67-864a-3b83-6ca6-0e33c7fdec08?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Mar 2025 17:17:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "939538766",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
