{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ee677557-b439-12ec-455d-7ea8e3e9afda?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1890C108B9\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ee677557-b439-12ec-455d-7ea8e3e9afda/test-directory-818eebe7-02d1-817e-d841-4571af4c21fb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1890C998AC\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:27:25.5524524Z",
        "x-ms-file-creation-time": "2024-10-16T19:27:25.5524524Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:27:25.5524524Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ee677557-b439-12ec-455d-7ea8e3e9afda/test-directory-818eebe7-02d1-817e-d841-4571af4c21fb/test-file-f3217333-3b60-b01c-b46f-4b46e0251ba0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE1890D186C3\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:27:25.6044227Z",
        "x-ms-file-creation-time": "2024-10-16T19:27:25.6044227Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:27:25.6044227Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ee677557-b439-12ec-455d-7ea8e3e9afda/test-directory-818eebe7-02d1-817e-d841-4571af4c21fb/test-file-f3217333-3b60-b01c-b46f-4b46e0251ba0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "K5Nm64N8tdfJ+mdI/FoSRA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "1f5Y3xb2KRUydaog45YX3h/w7nr/J4nD+lHmi831X91u97CZfW9EYDsQwKGb1I6/8HIsW3xXYa11leXEEJ5IPRXMsuvmfmGvrI4+72fnJyXDJ5payARhF5YCJOeKf1Cdx4OMziKi2XERfK7uGHJGjW2/AekD7XQQa5pV41p5JS09oSfjW1gDIE0pSUtWc/8jvJd5yn1nmtkOfGOHTfYXl1eAsHZKYjIUvOCb2qMoufebMifD/1qw1gZO1d71e9NXEbL01sKI2FlkZA6cy8A15cJr7BvOVJf9z9lw/IxTH0ANRMjxNOI1E1nNXppLEwpGGfAbiY+4iL0a9gbpGNzMEUXOj4f3Q7DfNtnBAfb8srvOKeKcN5axVbsL1j7cS/p9AUxVfISDT9U/PFK19ofHHUNKGu/5L9quHTnL621yA+veRACppzU3S9oNXftE+180RLn6kTELg9F[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ee677557-b439-12ec-455d-7ea8e3e9afda?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:27:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2070466564",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
