{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86752ECE5665\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046/test-directory-cfefa6c4-cf81-687a-9674-a92049270a6a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86752EDD8B14\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:08:23.5334420Z",
        "x-ms-file-creation-time": "2024-06-06T22:08:23.5334420Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:08:23.5334420Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046/test-directory-cfefa6c4-cf81-687a-9674-a92049270a6a/test-file-aee9262c-8ed8-0026-b649-5fe6d8e253e2.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86752EE81180\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:08:23.6024192Z",
        "x-ms-file-creation-time": "2024-06-06T22:08:23.6024192Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:08:23.6024192Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046/test-directory-cfefa6c4-cf81-687a-9674-a92049270a6a/test-file-aee9262c-8ed8-0026-b649-5fe6d8e253e2.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "D1kXbAnQ3VrBtxa2HgwluAhTa+7Ktnd6th2CQ1dMnSnQw9MnnyWbXEmO7CB4cOKpI6fdhXdkGFjhnbXrTZkCdBrs5Vs5/hnitw6lO8pWAkY72CCwbxixa6p6RQFvsA6vjHgGi4qHcCSO+s1ov92Oiptvr3V5UgUCOnmwvrgXcgcA9q9SUHa7tGj7InRKSKzM7LpmAACZNTlyBFEQ1rFsdofFaMkuOzols/sMfi+Qt/HN49L9sXIHZ8B130slqt23j6vtheDjnrCAQE0FjLcK4k1fQ/LfbsUVvgEJuFzuAAgdVe+DozER6UUhfXAlAdoIa/z+xWfq1yDm18ff2uVUkUBE5zbIhj8bTlmtvfBV77wmAE1f8DuhM33OnctqMQ9fzesv4BqkQOW943YNPRkwkegLuNmY9KEFo7S4+eh0sBxKTvAFJQ+hgr9oogzElPZkngzjX3k1x9hJKT1m60b8STJZw+8pK2vYaTYZL1KUQA++VFvckVGjFIYXu/vRO5d5bFjaa9EGOnKgCvVCG5eGtekuqJbqILjhta5oEW9wBy6foMP5utU+txroO4ZbYPnvkQUSo5MAj0yg+bUinigCMALHo3vUjfoT8PB8AeQxhVS1eYBqXWSanhF3WMEgGxjx5gqDk719GgML/7KihI1nb3NgbSWomNOeLQRpXDQ589TYihvZrfKXN158X16x+BqDD+lOv63zSU035Wa4FL7O0QvdyvlyjsKAyTbGKzl17DTq5k1L6zQm5EHOociM3iOgrY1S0y4hEYEnzfV3LB0Twvgxzi1wg+bXtuW3o+z69OsSJn2sIhgGyNTLJB4+r7ckut/PWg/1Lyqneh1IaW2VLdgJZQagZ5/fKgZZpV7HmActk+gMKprcHfZSBKf7vl5mNvdFNUmwg1M/7y8Jm4rM3+IVGtaFiAI+LUgPTWL442yn825mgWO+fA+VzTpq04FshiTF5qOI4a71BwcBoTbwRwvCYagbZV1+V53G77vH01rGo8c9Mv3JHhLAcXpbvNvZpIYuqHHZUCDHRo4FwfHyLTStOv1usxUN+UOWW/TjI5rB7Us0mCvp7VOmdutvw1wgzUNFroHeavFxIK4tQ/Qr4yPzRNSlvZQJxE2pyDwpnjXmdY2wnXUZ4oJaw3d8u6pee5PHe3+Iew+uPOk0NaK1R4J5R81nekWu2mFRS/kcjAmiSkyoYSO2Xvl+AmCL5K3gpXz1A3Tc9wBNGaEeNjAVkrDgkupVDOVfw+nU6HjlI/azcKV9J4mVxVNMW0iBlyfJaG+wqlHDipmWlj+KCA6HaParasaKmGsmS8yWCbCd3SvBCoAINXik7+UM5pBJCr1ExPNS1ixhPtAEiV+FLYHo+Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pbKYDqE/zV3a716WPLsgag==",
        "ETag": "\"0x8DC86752EFC3406\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:08:23 GMT",
        "x-ms-file-last-write-time": "2024-06-06T22:08:23.7343750Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046/test-directory-cfefa6c4-cf81-687a-9674-a92049270a6a/test-file-c4597cb8-a703-4f00-9cfe-fd77374cdf0b.?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046/test-directory-cfefa6c4-cf81-687a-9674-a92049270a6a/test-file-aee9262c-8ed8-0026-b649-5fe6d8e253e2.?sv=Sanitized&se=2024-06-07T22%3A08%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:22 GMT",
        "x-ms-range": "bytes=256-511",
        "x-ms-source-allow-trailing-dot": "false",
        "x-ms-source-range": "bytes=512-767",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "AuthenticationFailed",
        "x-ms-copy-source-status-code": "403",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:ee589df3-501a-0046-5d5e-b8c2a6000000\n",
        "Time:2024-06-06T22:08:23.9486204Z</Message><CopySourceStatusCode>403</CopySourceStatusCode><CopySourceErrorCode>AuthenticationFailed</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-fe7c440e-27d9-e90a-e598-a972aa660046?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:08:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:08:22.3650686-05:00",
    "RandomSeed": "301589169",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
