{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318/clusters/Cluster-1?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-9318/clusters/Cluster-1",
        "name": "Cluster-1",
        "properties": {
          "clusterId": 1,
          "clusterSize": 3,
          "displayName": "Cluster-1",
          "hosts": [
            "esx20-r16.p04.eastus.avs.azure.com",
            "esx08-r18.p04.eastus.avs.azure.com",
            "esx14-r20.p04.eastus.avs.azure.com"
          ],
          "provisioningState": "Succeeded",
          "vsanDatastoreName": "vsanDatastore"
        },
        "sku": {
          "capacity": 3,
          "name": "av36"
        },
        "type": "Microsoft.AVS/privateClouds/clusters"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "505682500",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db94d92c-f9c4-4768-ae4b-83d50cea378d"
  }
}
