{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "jssdkbyospoolmsp0aad",
        "vmSize": "STANDARD_D2_V3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2022-Datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "securityProfile": {
            "proxyAgentSettings": {
              "enabled": true,
              "imds": {
                "inVMAccessControlProfileReferenceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Compute/galleries/dummy-gallery/versions/dummy-version"
              },
              "wireServer": {
                "mode": "Audit"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospoolmsp0aad",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445E1461ACE",
        "Last-Modified": "Wed, 04 Feb 2026 23:34:02 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospoolmsp0aad"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospoolmsp0aad?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445E1461ACE",
        "Last-Modified": "Wed, 04 Feb 2026 23:34:02 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkbyospoolmsp0aad",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospoolmsp0aad",
        "eTag": "0x8DE6445E1461ACE",
        "lastModified": "2026-02-04T23:34:02.8178126Z",
        "creationTime": "2026-02-04T23:34:02.8178119Z",
        "state": "active",
        "stateTransitionTime": "2026-02-04T23:34:02.8178119Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-02-04T23:34:02.8178126Z",
        "vmSize": "standard_d2_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2022-Datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "securityProfile": {
            "proxyAgentSettings": {
              "enabled": true,
              "imds": {
                "inVMAccessControlProfileReferenceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Compute/galleries/dummy-gallery/versions/dummy-version"
              },
              "wireServer": {
                "mode": "Audit"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "BYOS_POOL_ID_MSP": "jssdkbyospoolmsp0aad"
  }
}
