{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/containerApps/mycontainerappxxx?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "managedEnvironmentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/managedEnvironments/testcontainerenv12",
          "template": {
            "containers": [
              {
                "image": "mcr.microsoft.com/azuredocs/containerapps-helloworld",
                "name": "simple-hello-world-container",
                "resources": {
                  "cpu": 0.25,
                  "memory": "0.5Gi"
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/e702e7fc-dfc5-4b03-8955-08498b178e44?api-version=2023-05-01\u0026azureAsyncOperation=true",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "699"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/containerapps/mycontainerappxxx",
        "name": "mycontainerappxxx",
        "type": "Microsoft.App/containerApps",
        "location": "East US",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-08-08T03:16:20.9297369Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-08T03:16:20.9297369Z"
        },
        "properties": {
          "provisioningState": "InProgress",
          "runningStatus": "Running",
          "managedEnvironmentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/managedEnvironments/testcontainerenv12",
          "environmentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/managedEnvironments/testcontainerenv12",
          "workloadProfileName": null,
          "outboundIpAddresses": [
            "52.152.245.238"
          ],
          "latestRevisionName": "",
          "latestReadyRevisionName": "",
          "latestRevisionFqdn": "",
          "customDomainVerificationId": "55F2E4435A6748F0C3A4666505B3672446A9A9AEFDDC20F98EFEE4B5DCC7807E",
          "configuration": {
            "secrets": null,
            "activeRevisionsMode": "Single",
            "ingress": null,
            "registries": null,
            "dapr": null,
            "maxInactiveRevisions": null,
            "service": null
          },
          "template": {
            "revisionSuffix": "",
            "terminationGracePeriodSeconds": null,
            "containers": [
              {
                "image": "mcr.microsoft.com/azuredocs/containerapps-helloworld",
                "name": "simple-hello-world-container",
                "resources": {
                  "cpu": 0.25,
                  "memory": "0.5Gi",
                  "ephemeralStorage": "1Gi"
                }
              }
            ],
            "initContainers": null,
            "scale": {
              "minReplicas": null,
              "maxReplicas": 10,
              "rules": null
            },
            "volumes": null,
            "serviceBinds": null
          },
          "eventStreamEndpoint": "https://eastus.azurecontainerapps.dev/subscriptions/azure_subscription_id/resourceGroups/myjstest/containerApps/mycontainerappxxx/eventstream"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/e702e7fc-dfc5-4b03-8955-08498b178e44?api-version=2023-05-01\u0026azureAsyncOperation=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/e702e7fc-dfc5-4b03-8955-08498b178e44",
        "name": "e702e7fc-dfc5-4b03-8955-08498b178e44",
        "status": "InProgress",
        "startTime": "2023-08-08T03:16:21.0958437"
      }
    },
[...]
