{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Avere_AscTIP4_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourcegroups/rg-amajaistoragecache?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache",
        "name": "rg-amajaistoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/importJobs?api-version=2026-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs?api-version=2026-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testexpansionjob",
            "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/RG-AMAJAISTORAGECACHE/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs/testexpansionjob",
            "type": "Microsoft.StorageCache/amlFilesystems/expansionJobs",
            "location": "canadacentral",
            "properties": {
              "provisioningState": "Succeeded",
              "newStorageCapacityTib": 32.0,
              "status": {
                "state": "Completed",
                "percentComplete": 100.0,
                "startTimeUTC": "2026-02-23T08:24:59+00:00",
                "completionTimeUTC": "2026-02-23T08:30:01+00:00"
              }
            }
          },
          {
            "name": "testexpansionjob1",
            "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/RG-AMAJAISTORAGECACHE/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs/testexpansionjob1",
            "type": "Microsoft.StorageCache/amlFilesystems/expansionJobs",
            "location": "canadacentral",
            "properties": {
              "provisioningState": "Succeeded",
              "newStorageCapacityTib": 64.0,
              "status": {
                "state": "Failed",
                "statusCode": "ExpansionJobFailed",
                "statusMessage": "ExpansionJob testexpansionjob1 failed due to MDS/MGS user data next_arm_index values do not match _dmAmlFS values:\nMDS/MGS cluster.next_arm_index_oss (5) does not match _dmAmlFS.nextArmIndexOss (3)",
                "percentComplete": -21.0,
                "startTimeUTC": "2026-02-23T21:19:38+00:00",
                "completionTimeUTC": "2026-02-23T21:19:39+00:00"
              }
            }
          },
          {
            "name": "testexpansionjob17714",
            "id": "/subscript[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs/testexpansionjob1730?api-version=2026-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The entity was not found in this Azure location."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs/testexpansionjob1730?api-version=2026-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral",
        "properties": {
          "newStorageCapacityTiB": 64
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/providers/Microsoft.StorageCache/locations/canadacentral/ascOperations/0824e67d-8606-4fb1-9ae0-10854168ead8?api-version=2026-01-01&t=639075093466741295&c=MIIHlDCCBnygAwIBAgIQKKjplgwMQSaep8IFYd6aujANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIxODE5NTczOVoXDTI2MDgxNDAxNTczOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5j[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/providers/Microsoft.StorageCache/locations/canadacentral/ascOperations/0824e67d-8606-4fb1-9ae0-10854168ead8?api-version=2026-01-01&t=639075093466741295&c=MIIHlDCCBnygAwIBAgIQKKjplgwMQSaep8IFYd6aujANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIxODE5NTczOVoXDTI2MDgxNDAxNTczOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs/testexpansionjob1730?api-version=2026-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testexpansionjob1730",
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS2729/expansionJobs/testexpansionjob1730",
        "type": "Microsoft.StorageCache/amlFilesystems/expansionJobs",
        "location": "canadacentral",
        "properties": {
          "provisioningState": "Succeeded",
          "newStorageCapacityTib": 64.0,
          "status": {
            "state": "InProgress",
            "percentComplete": 0.0,
            "startTimeUTC": "2026-02-24T05:55:46+00:00"
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1625054409",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "0a715a3b-8a16-43ba-a6bb-1e38ad050791"
  }
}
