{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11919"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-974?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-974",
        "name": "testRG-974",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-974/providers/Microsoft.BotService/botServices/testbotService7938?api-version=2022-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "643f0cbc-9b25-514e-5aad-e8e7d463db96"
        },
        "sku": {
          "name": "F0"
        },
        "kind": "sdk",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "location": "global"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"560080b4-0000-1800-0000-662775190000\"",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-974/providers/Microsoft.BotService/botServices/testbotService7938",
        "name": "testbotService7938",
        "type": "Microsoft.BotService/botServices",
        "etag": "\"560080b4-0000-1800-0000-662775190000\"",
        "location": "global",
        "sku": {
          "name": "F0"
        },
        "kind": "sdk",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "643f0cbc-9b25-514e-5aad-e8e7d463db96",
          "msaAppTenantId": null,
          "msaAppType": null,
          "msaAppMSIResourceId": null,
          "developerAppInsightKey": null,
          "developerAppInsightsApplicationId": null,
          "luisAppIds": [],
          "endpointVersion": "3.0",
          "configuredChannels": [
            "webchat",
            "directline"
          ],
          "enabledChannels": [
            "webchat",
            "directline"
          ],
          "isDeveloperAppInsightsApiKeySet": false,
          "isStreamingSupported": false,
          "schemaTransformationVersion": "1.3",
          "publishingCredentials": null,
          "parameters": null,
          "allSettings": null,
          "manifestUrl": null,
          "storageResourceId": null,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "migrationToken": null,
          "isCmekEnabled": false,
          "cmekKeyVaultUrl": null,
          "openWithHint": null,
          "appPasswordHint": null,
          "publicNetworkAccess": null,
          "disableLocalAuth": false,
          "cmekEncryptionStatus": "Off",
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.BotService/listAuthServiceProviders?api-version=2022-09-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": "{\"value\":[{\"properties\":{\"id\":\"00ea67de-bfc6-4f45-9ede-083899596b7b\",\"displayName\":\"Wunderlist\",\"serviceProviderName\":\"wunderlist\",\"devPortalUrl\":null,\"iconUrl\":null,\"parameters\":[{\"name\":\"ClientId\",\"type\":\"string\",\"displayName\":\"Client id\",\"description\":\"The id used to identify this application with the service provider\",\"helpUrl\":null,\"default\":null,\"metadata\":{\"constraints\":{\"required\":true}}},{\"name\":\"ClientSecret\",\"type\":\"securestring\",\"displayName\":\"Client secret\",\"description\":\"The shared secret used to authenticate this application with the service provider\",\"helpUrl\":null,\"default\":null,\"metadata\":{\"constraints\":{\"required\":true}}}]}},{\"properties\":{\"id\":\"01340562-8c8f-4892-abd4-90daf0e5face\",\"displayName\":\"Google\",\"serviceProviderName\":\"google\",\"devPortalUrl\":null,\"iconUrl\":null,\"parameters\":[{\"name\":\"ClientId\",\"type\":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-974/providers/Microsoft.BotService/botServices/testbotService7938/connections/testsetting2819?api-version=2022-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "clientId": "Sanitized",
          "clientSecret": "Sanitized",
          "serviceProviderId": "01340562-8c8f-4892-abd4-90daf0e5face",
          "parameters": [
            {
              "key": "key11",
              "value": "value1"
            },
            {
              "key": "key2",
              "value": "value2"
            }
          ]
        },
        "etag": "etag1",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "location": "global"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"23373aa9a3e8fff1ad86598ef99719884/23/2024 8:45:17 AM\"",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-974/providers/Microsoft.BotService/botServices/testbotService7938/connections/testsetting2819",
        "name": "testbotService7938/testsetting2819",
        "type": "Microsoft.BotService/botServices/connections",
        "etag": "W/\"23373aa9a3e8fff1ad86598ef99719884/23/2024 8:45:17 AM\"",
        "location": "global",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "settingId": "9aa3d244-a0d2-314e-acad-9c77b62c2812_19ca38e2-b0e4-0018-2027",
          "clientId": "Sanitized",
          "clientSecret": "Sanitized",
          "scopes": null,
          "serviceProviderId": "01340562-8c8f-4892-abd4-90daf0e5face",
          "serviceProviderDisplayName": "Google",
          "parameters": [
            {
              "key": "key11",
              "value": "value1"
            },
            {
              "key": "key2",
              "value": "value2"
            },
            {
              "key": "clientId",
              "value": "1496acc1-ee89-60cd-a360-0f1ef5a2559e"
            },
            {
              "key": "clientSecret",
              "value": "8ea8f699-ddc8-4b33-fbad-024ea0d22ca7"
            },
            {
              "key": "scopes",
              "value": null
            }
          ],
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "a0124637-d34e-4d32-a623-9f47f054f162",
    "RandomSeed": "507282143",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
