{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980181592500834?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889E02BAAA84\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980181592500834/dir168980181601600569?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889E02CB41D2\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-19T21:20:43.6142546Z",
        "x-ms-file-creation-time": "2023-07-19T21:20:43.6142546Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-19T21:20:43.6142546Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980181592500834/dir168980181601600569/file168980181612404007",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889E02DB8339\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-19T21:20:43.7207865Z",
        "x-ms-file-creation-time": "2023-07-19T21:20:43.7207865Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-19T21:20:43.7207865Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13256303658861622007*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980181592500834/dir168980181601600569/file168980181612404007?comp=listhandles\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults\u003E\u003CEntries /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980181592500834?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168980181601600569",
    "file": "file168980181612404007",
    "share": "share168980181592500834"
  }
}
