{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472074327905725?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B2F3F77C4\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:44 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472074327905725/dir169472074338804630?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B2F518BDB\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:45:44.3581915Z",
        "x-ms-file-creation-time": "2023-09-14T19:45:44.3581915Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:45:44.3581915Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472074327905725/dir169472074338804630/file169472074350508427",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B2F63638D\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:45:44.4751245Z",
        "x-ms-file-creation-time": "2023-09-14T19:45:44.4751245Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:45:44.4751245Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472074327905725/dir169472074338804630/file169472074350508427?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-handle-id": "*",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472074327905725?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169472074338804630",
    "file": "file169472074350508427",
    "share": "share169472074327905725"
  }
}
