{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472073940102325?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B2CEFEB24\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472073940102325/dir169472073951202172?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B2D0273DF\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:45:40.4843999Z",
        "x-ms-file-creation-time": "2023-09-14T19:45:40.4843999Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:45:40.4843999Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472073940102325/dir169472073951202172/file169472073963108241",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B2D144B95\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:45:40.6013333Z",
        "x-ms-file-creation-time": "2023-09-14T19:45:40.6013333Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:45:40.6013333Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472073940102325/dir169472073951202172/file169472073963108241?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2023-01-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\u00220x8DBB55B2D25FC44\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:40 GMT",
        "x-ms-file-last-write-time": "2023-09-14T19:45:40.7172676Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472073940102325/dir169472073951202172/file169472073963108241?comp=rangelist\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DBB55B2D48E875\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:45:40 GMT",
        "x-ms-content-length": "10",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E9\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472073940102325?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169472073951202172",
    "file": "file169472073963108241",
    "share": "share169472073940102325"
  }
}
