{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AnalysisServices/operations?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:51:56 AM",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.AnalysisServices/servers/read",
            "display": {
              "provider": "Microsoft Analysis Services",
              "resource": "servers",
              "operation": "Read Analysis Server",
              "description": "Retrieves the information of the specified Analysis Server."
            },
            "origin": "user,system"
          },
          {
            "name": "Microsoft.AnalysisServices/servers/write",
            "display": {
              "provider": "Microsoft Analysis Services",
              "resource": "servers",
              "operation": "Create/Update Analysis Server",
              "description": "Creates or updates the specified Analysis Server."
            },
            "origin": "user,system"
          },
          {
            "name": "Microsoft.AnalysisServices/servers/dele[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/checkNameAvailability?api-version=2017-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "azsdktest",
        "type": "Microsoft.AnalysisServices/servers"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:51:57 AM",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "asAdministrators": {
            "members": [
              "azsdktest@microsoft.com"
            ]
          }
        },
        "sku": {
          "capacity": 1,
          "name": "S1",
          "tier": "Standard"
        },
        "tags": {
          "testKey": "testValue"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/277DF997-F9C7-46CC-912A-6DE52B29D84E?api-version=2016-05-16",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationresults/277DF997-F9C7-46CC-912A-6DE52B29D84E?api-version=2016-05-16",
        "x-ms-current-utc-date": "7/14/2023 9:52:02 AM",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Provisioning",
          "state": "Provisioning",
          "serverFullName": "asazure://westus.asazure.windows.net/servernafs9ftu",
          "managedMode": 1,
          "asAdministrators": {
            "members": [
              "azsdktest@microsoft.com"
            ]
          },
          "serverMonitorMode": 1
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu",
        "name": "servernafs9ftu",
        "type": "Microsoft.AnalysisServices/servers",
        "location": "westus",
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        },
        "tags": {
          "testKey": "testValue"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/277DF997-F9C7-46CC-912A-6DE52B29D84E?api-version=2016-05-16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:52:08 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus/operationstatuses/277DF997-F9C7-46CC-912A-6DE52B29D84E",
        "name": "277DF997-F9C7-46CC-912A-6DE52B29D84E",
        "status": "Provisioning",
        "startTime": "2023-07-14T09:52:02.5870000Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/277DF997-F9C7-46CC-912A-6DE52B29D84E?api-version=2016-05-16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:54:09 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus/operationstatuses/277DF997-F9C7-46CC-912A-6DE52B29D84E",
        "name": "277DF997-F9C7-46CC-912A-6DE52B29D84E",
        "status": "Succeeded",
        "startTime": "2023-07-14T09:52:02.5870000Z",
        "endTime": "2023-07-14T09:53:46.9670000Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:54:09 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Succeeded",
          "serverFullName": "asazure://westus.asazure.windows.net/servernafs9ftu",
          "managedMode": 1,
          "asAdministrators": {
            "members": [
              "azsdktest@microsoft.com"
            ]
          },
          "querypoolConnectionMode": "All",
          "serverMonitorMode": 1
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu",
        "name": "servernafs9ftu",
        "type": "Microsoft.AnalysisServices/servers",
        "location": "West US",
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        },
        "tags": {
          "testKey": "testValue"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/servers?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:54:10 AM",
        "x-ms-ratelimit-re[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu/skus?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:54:11 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S0",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S1",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S2",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S4",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S8",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S8v2",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S9",
              "tier": "Standard"
            }
          },
          {
            "resourceType": "Microsoft.AnalysisServices/servers",
            "sku": {
              "name": "S9v2",
              "tier": "Standard"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:54:11 AM",
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/skus?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "servers",
            "name": "B1",
            "locations": [
              "Australia East"
            ],
            "restrictions": []
          },
          {
            "resourceType": "servers",
            "name": "B1",
            "locations": [
              "Australia Southeast"
            ],
            "restrictions": []
          },
          {
            "resourceType": "servers",
            "name": "B1",
            "locations": [
              "Brazil South"
            ],
            "restrictions": []
          },
          {
            "resourceType": "servers",
            "name": "B1",
            "lo[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu/suspend?api-version=2017-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/3C365861-5C9D-49F9-BEF8-B775619A7ADF?api-version=2016-05-16",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationresults/3C365861-5C9D-49F9-BEF8-B775619A7ADF?api-version=2016-05-16",
        "x-ms-current-utc-date": "7/14/2023 9:54:14 AM",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationresults/3C365861-5C9D-49F9-BEF8-B775619A7ADF?api-version=2016-05-16",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2023 9:54:46 AM",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Paused",
          "serverFullName": "asazure://westus.asazure.windows.net/servernafs9ftu",
          "managedMode": 1,
          "serverMonitorMode": 1
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu",
        "name": "servernafs9ftu",
        "type": "Microsoft.AnalysisServices/servers",
        "location": "West US",
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        },
        "tags": {
          "testKey": "testValue"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.AnalysisServices/servers/servernafs9ftu/resume?api-version=2017-08-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationstatuses/94F01C6D-450A-4FBA-8B4D-1D94A279F783?api-version=2016-05-16",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AnalysisServices/locations/westus/operationresults/94F01C6D-450A-4FBA-8B4D-1D94A279F783?api-version=2016-05-16",
        "x-ms-current-utc-date": "7/14/2023 9:54:46 AM",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ5OS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1689328309",
    "recordingRandomSeed": "0"
  }
}
