{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicb555/jobpreparationandreleasetaskstatus?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobPreparationTaskOrReleaseTaskNotSpecified",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not have either job preparation task or job release task.\nRequestId:388ac221-e91e-45f6-b91c-0ef8db617a7d\nTime:2026-02-05T00:21:46.6586352Z"
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicb555"
  }
}
