{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic13a1/enable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic13a1/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5930DBBF184C",
        "Last-Modified": "Wed, 21 Jan 2026 21:05:51 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic13a1?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5930DBBF184C",
        "Last-Modified": "Wed, 21 Jan 2026 21:05:51 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basic13a1",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic13a1",
        "eTag": "0x8DE5930DBBF184C",
        "lastModified": "2026-01-21T21:05:51.3225292Z",
        "creationTime": "2026-01-21T21:05:25.6795214Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T21:05:51.3225292Z",
        "previousState": "disabled",
        "previousStateTransitionTime": "2026-01-21T21:05:48.7318733Z",
        "priority": 600,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basice70e"
        },
        "executionInfo": {
          "startTime": "2026-01-21T21:05:25.7025203Z",
          "poolId": "jssdkPool-Basice70e"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
