{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Avere_AscTIP4_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourcegroups/rg-amajaistoragecache?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache",
        "name": "rg-amajaistoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/importJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/autoImportJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testAutoImportJob304",
            "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/RG-AMAJAISTORAGECACHE/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/autoImportJobs/testAutoImportJob304",
            "type": "Microsoft.StorageCache/amlFilesystems/autoImportJobs",
            "location": "canadacentral",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded",
              "autoImportPrefixes": [
                "/path"
              ],
              "conflictResolutionMode": "Fail",
              "enableDeletions": false,
              "maximumErrors": 2,
              "adminStatus": "Disable",
              "status": {
                "state": "Disabled",
                "statusMessage": "Disabled",
                "scanStartTime": "2025-09-03T15:02:33.615063+00:00",
                "scanEndTime": "2025-09-03T15:02:34.723122+00:00",
                "totalBlobsWalked": 0,
                "rateOfBlobWalk": 0,
                "totalBlobsImported": 0,
                "rateOfBlobImport": 0,
                "importedFiles": 0,
                "importedDirectories": 0,
                "importedSymlinks": 0,
                "preexistingFiles": 0,
                "preexistingDirectories": 0,
                "preexistingSymlinks": 0,
                "totalErrors": 0,
                "totalConflicts": 0,
                "blobSyncEvents": {
                  "importedFiles": 0,
                  "importedDirectories": 0,
                  "importedSymlinks": 0,
                  "preexistingFiles": 0,
                  "preexistingDirectories": 0,
                  "preexistingSymlinks": 0,
                  "totalBlobsImported": 0,
                  "rateOfBlobImport": 0,
                  "totalErrors": 0,
                  "totalConflicts": 0,
                  "deletions": 0,
                  "lastTimeFullySynchronized": "2025-09-03T15:02:34.733376+00:00"
                },
                "lastStartedTimeUTC": "2025-09-03T15:02:31.7310317+00:00",
                "lastCompletionTimeUTC": "2025-09-03T15:02:40.9184649+00:00"
              }
            }
          },
          {
            "name": "testautoimportjob377",
            "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/RG-AMAJAISTORAGECACHE/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/autoImportJobs/testautoimportjob377",
            "type": "Microsoft.StorageCache/amlFilesystems/autoImportJobs",
            "location": "canadacentral",
            "properties": {
              "provisioningState": "Succeeded",
              "autoImportPrefixes": [
                "/path"
              ],
              "conflictResolutionMode": "Fail",
              "enableDeletions": false,
              "maximumErrors": 2,
              "adminStatus": "Disable",
              "status": {
                "state": "Disabled",
                "statusMessage": "Disabled",
                "statusCode": "Success",
                "scanStartTime": "2025-09-03T15:01:18.992816+00:00",
                "scanEndTime": "2025-09-03T15:01:20.08949+00:00",
                "totalBlobsWalked": 0,
                "rateOfBlobWalk": 0,
                "totalBlobsImported": 0,
                "rateOfBlobImport": 0,
                "importedFiles": 0,
                "importedDirectories": 0,
                "importedSymlinks": 0,
                "preexistingFiles": 0,
                "preexistingDi[...]
