{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
            "name": "accounttest",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "W/\u0022datetime\u00272023-12-01T05%3A56%3A05.9587344Z\u0027\u0022",
            "location": "eastus",
            "properties": {
              "activeDirectories": [
                {
                  "site": "SiteName",
                  "activeDirectoryId": "d14cb1fd-46f9-9d86-d0dc-b97322e6461f",
                  "username": "ad_user_name",
                  "password": "****************",
                  "domain": "10.10.10.3",
                  "dns": "10.10.10.3",
                  "status": "Created",
                  "smbServerName": "SMBServer",
                  "organizationalUnit": "OU=Engineering",
                  "aesEncryption": true,
                  "ldapSigning": false,
                  "ldapOverTLS": false,
                  "allowLocalNfsUsersWithLdap": false,
                  "encryptDCConnections": false,
                  "ldapSearchScope": {}
                }
              ],
              "encryption": {
                "keySource": "Microsoft.NetApp"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-12-01T05:56:03.9397277Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-12-01T05:56:03.9397277Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
