{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/027dc081-04ba-40e7-a4ac-d5a6d51e52c7?api-version=2022-11-01",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/027dc081-04ba-40e7-a4ac-d5a6d51e52c7?api-version=2022-11-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/027dc081-04ba-40e7-a4ac-d5a6d51e52c7?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/027dc081-04ba-40e7-a4ac-d5a6d51e52c7",
        "name": "027dc081-04ba-40e7-a4ac-d5a6d51e52c7",
        "status": "Succeeded",
        "startTime": "2023-07-03T08:37:50.3346948Z",
        "endTime": "2023-07-03T08:37:50.6371234Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
          "action": "DELETE"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/netAppAccounts?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "09c3314c-ef32-44dc-9d1a-0566ed425a0e",
          "ace37b40-dcdf-4e01-b178-027dd113deaa"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/anf-secondary-rg/providers/Microsoft.NetApp/netAppAccounts/SecondaryANFAccount",
            "name": "SecondaryANFAccount",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "W/\u0022datetime\u00272022-06-22T14%3A47%3A01.8936205Z\u0027\u0022",
            "location": "eastus",
            "tags": {
              "Author": "ANF Go CRR SDK Sample",
              "Service": "Azure Netapp Files"
            },
            "properties": {
              "encryption": {
                "keySource": "Microsoft.NetApp"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
              "createdByType": "Application",
              "createdAt": "2022-06-22T14:47:00.4826691Z",
              "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-06-22T14:47:00.4826691Z"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/anf-primary-rg/providers/Microsoft.NetApp/netAppAccounts/PrimaryANFAccount",
            "name": "PrimaryANFAccount",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "W/\u0022datetime\u00272022-06-22T14%3A41%3A19.69571Z\u0027\u0022",
            "location": "westus",
            "tags": {
              "Author": "ANF Go CRR SDK Sample",
              "Service": "Azure Netapp Files"
            },
            "properties": {
              "encryption": {
                "keySource": "Microsoft.NetApp"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
              "createdByType": "Application",
              "createdAt": "2022-06-22T14:41:18.5917381Z",
              "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-06-22T14:41:18.5917381Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
