{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "01c273a7-9693-4b66-bb29-d1e971857a65",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
            "name": "accounttest",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "Sanitized",
            "location": "eastus",
            "properties": {
              "activeDirectories": [
                {
                  "site": "SiteName",
                  "activeDirectoryId": "43e22947-3685-47e8-c1c0-f2409989d6e0",
                  "username": "ad_user_name",
                  "password": "Sanitized",
                  "domain": "10.10.10.3",
                  "dns": "10.10.10.3",
                  "status": "Created",
                  "smbServerName": "SMBServer",
                  "organizationalUnit": "OU=Engineering",
                  "aesEncryption": true,
                  "ldapSigning": false,
                  "ldapOverTLS": false,
                  "allowLocalNfsUsersWithLdap": false,
                  "encryptDCConnections": false,
                  "ldapSearchScope": {}
                }
              ],
              "encryption": {
                "keySource": "Microsoft.NetApp"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-02-17T09:12:47.2720959Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-02-17T09:12:47.2720959Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
