{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2026-06-11T14%3A35%3A11.8496383Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
        "name": "accounttest",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "Sanitized",
        "location": "eastus",
        "tags": {
          "CreatedOnDate": "2026-06-11T14:35:11.3986391Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "activeDirectories": [
            {
              "site": "SiteName",
              "activeDirectoryId": "3cc31520-cc8c-c6ca-080c-7e2d06d38505",
              "username": "ad_user_name",
              "domain": "10.10.10.3",
              "dns": "10.10.10.3",
              "status": "Created",
              "smbServerName": "SMBServer",
              "organizationalUnit": "OU=Engineering",
              "aesEncryption": true,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "multiADStatus": "Enabled"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-06-11T14:35:11.4708601Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-06-11T14:35:11.4708601Z"
        }
      }
    }
  ],
  "Variables": {}
}
