{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/e33a8416-6ba3-4b0a-bb5c-7159243f5351?api-version=2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-07-03T08%3A37%3A42.7428518Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
        "name": "accounttest",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-07-03T08%3A37%3A42.7428518Z\u0027\u0022",
        "location": "eastus",
        "properties": {
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-07-03T08:37:41.3979801Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-03T08:37:41.3979801Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/e33a8416-6ba3-4b0a-bb5c-7159243f5351?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/locations/eastus/operationResults/e33a8416-6ba3-4b0a-bb5c-7159243f5351",
        "name": "e33a8416-6ba3-4b0a-bb5c-7159243f5351",
        "status": "Succeeded",
        "startTime": "2023-07-03T08:37:42.7517419Z",
        "endTime": "2023-07-03T08:37:42.8172266Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
          "action": "CREATE"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-07-03T08%3A37%3A42.8105069Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
        "name": "accounttest",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-07-03T08%3A37%3A42.8105069Z\u0027\u0022",
        "location": "eastus",
        "properties": {
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-07-03T08:37:41.3979801Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-03T08:37:41.3979801Z"
        }
      }
    }
  ],
  "Variables": {}
}
