{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.HDInsight/locations/eastus/checkNameAvailability?api-version=2024-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test123",
        "type": "clusters"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "global",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "Cluster name 'test123' is unavailable"
      }
    }
  ],
  "Variables": {}
}
