{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/examplerg/providers/Microsoft.EventGrid/partnerNamespaces/examplePartnerNamespaceName1/channels/exampleChannelName1?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "channelType": "PartnerTopic",
          "partnerTopicInfo": {
            "azureSubscriptionId": "8f6b6269-84f2-4d09-9e31-1127efcd1e40",
            "resourceGroupName": "examplerg2",
            "name": "examplePartnerTopic1",
            "source": "Sanitized"
          },
          "messageForActivation": "Example message to approver",
          "expirationTimeIfNotActivatedUtc": "2021-10-21T22:50:25.410Z"
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceGroupNotFound",
          "message": "Resource group 'examplerg' could not be found."
        }
      }
    }
  ],
  "Variables": {}
}
