{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic360d?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:16:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5929FF908047",
        "Last-Modified": "Wed, 21 Jan 2026 20:16:44 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basic360d"
  }
}
