{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.AVS/privateClouds?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type \u0027privateClouds\u0027 could not be found in the namespace \u0027Microsoft.AVS\u0027 for api version \u00272023-03-01\u0027. The supported api-versions are \u00272020-03-20,2020-07-17-preview,2021-01-01-preview,2021-06-01,2021-12-01,2022-05-01\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
