{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName59966946"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName59966946"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName59966946",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "contToken",
        "RowKey": "0",
        "Value": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A56.3051238Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName59966946/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A56.3051238Z'\"",
        "PartitionKey": "contToken",
        "RowKey": "0",
        "Timestamp": "2024-10-16T23:02:56.3051238Z",
        "Value": 1
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName59966946()?%24filter=Value+le+5&%24top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!12!Y29udFRva2Vu",
        "x-ms-continuation-NextRowKey": "1!4!MQ--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName59966946",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A56.3051238Z'\"",
            "PartitionKey": "contToken",
            "RowKey": "0",
            "Timestamp": "2024-10-16T23:02:56.3051238Z",
            "Value": 1
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName59966946()?%24filter=Value+le+5&NextPartitionKey=1%2112%21Y29udFRva2Vu&NextRowKey=1%214%21MQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; stre[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName59966946')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
