{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx/notificationHubs?api-version=2023-10-01-preview\u0026$top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "575f6ea8-18f6-4ed4-9eb6-72a60a9ed927",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "name": "mynotificationhubsxxx",
              "registrationTtl": "10675199.02:48:05.4775807",
              "dailyMaxActiveDevices": 0
            },
            "location": "East US",
            "tags": {},
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx/notificationHubs/mynotificationhubsxxx",
            "name": "mynotificationhubsxxx",
            "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
