{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "ddb0de48-6b58-40c7-a17d-513afb12cdaf",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "mynamespacexxx",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "azure_subscription_id",
          "createdAt": "2024-03-12T07:55:59.88\u002B00:00",
          "updatedAt": "2024-03-12T07:55:59.92\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Enabled",
          "networkAcls": {
            "ipRules": [
              {
                "ipMask": "185.48.100.00/24",
                "rights": [
                  "Manage",
                  "Send",
                  "Listen"
                ]
              }
            ],
            "publicNetworkRule": {
              "rights": [
                "Listen"
              ]
            }
          },
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    }
  ],
  "Variables": {}
}
