{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:browse?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "559ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "countryCode": "US",
            "phoneNumber": "Sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "available"
          },
          {
            "id": "Sanitized",
            "countryCode": "US",
            "phoneNumber": "Sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
        [...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/IE/:browse?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumberType": "mobile"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, [...]
