{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:browse?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 22:41:45 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "664ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "Sanitized",
            "countryCode": "US",
            "phoneNumber": "Sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "available"
          },
          {
            "id": "Sanitized",
            "countryCode": "US",
            "phoneNumber": "Sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
        [...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/reservations/6227aeb8-8086-4824-9586-05c04e96f37b?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 22:41:46 GMT"
      },
      "RequestBody": {
        "phoneNumbers": {
          "Sanitized": {
            "countryCode": "US",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "4571ms"
      },
      "ResponseBody": {
        "id": "6227aeb8-8086-4824-9586-05c04e96f37b",
        "expiresAt": "2025-06-11T22:56:51.4089485+00:00",
        "phoneNumbers": {
          "Sanitized": {
            "id": "Sanitized",
            "countryCode": "US",
            "phoneNumber": "Sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "reserved"
          }
        },
        "status": "active"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/reservations/6227aeb8-8086-4824-9586-05c04e96f37b?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 22:41:51 GMT"
      },
      "RequestBody": {
        "phoneNumbers": {
          "Sanitized": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "2276ms"
      },
      "ResponseBody": {
        "id": "6227aeb8-8086-4824-9586-05c04e96f37b",
        "expiresAt": "2025-06-11T22:56:54.134726+00:00",
        "phoneNumbers": {},
        "status": "active"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "260951985"
  }
}
