{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "db567790-ab0d-4f8c-a4ac-050e4cef4e93",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.487"
      },
      "ResponseBody": {
        "id": "vs_wnaQP1gUgMplP3PmiU6oZzEP",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727607,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727607
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wnaQP1gUgMplP3PmiU6oZzEP?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "99",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a894428a-4f09-4ad7-aaf2-ac65fd540c04",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.424"
      },
      "ResponseBody": {
        "id": "vs_wnaQP1gUgMplP3PmiU6oZzEP",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727607,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727607
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wnaQP1gUgMplP3PmiU6oZzEP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2195",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f4242d01-86b0-487b-bd5d-cc7866f2d06b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.499"
      },
      "ResponseBody": {
        "id": "vs_wnaQP1gUgMplP3PmiU6oZzEP",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
