{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "130",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "17496743-6eed-4ff2-aedd-e1e3633118b8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.486"
      },
      "ResponseBody": {
        "id": "vs_0pU0se2PzQNol25wWlRFZkAn",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768409,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768409
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0pU0se2PzQNol25wWlRFZkAn?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2282",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ca1383e1-a90a-43f2-9854-5e81bbabac85",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.636"
      },
      "ResponseBody": {
        "id": "vs_0pU0se2PzQNol25wWlRFZkAn",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
