{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7ff32f8a-d216-4caf-9603-ea58acfd56e9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.222"
      },
      "ResponseBody": {
        "id": "vs_TWxjzWPP2CTJew80rumUisUl",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746666656,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746666656
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "158",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a11e95d1-b3dc-4653-83ec-c1a71a2f0772",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.281"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "vs_TWxjzWPP2CTJew80rumUisUl",
            "object": "vector_store",
            "name": null,
            "status": "completed",
            "usage_bytes": 0,
            "created_at": 1746666656,
            "file_counts": {
              "in_progress": 0,
              "completed": 0,
              "failed": 0,
              "cancelled": 0,
              "total": 0
            },
            "metadata": {},
            "expires_after": null,
            "expir[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_TWxjzWPP2CTJew80rumUisUl?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "650",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1872c9e6-3cda-4301-a264-1eb64e123d44",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.768"
      },
      "ResponseBody": {
        "id": "vs_TWxjzWPP2CTJew80rumUisUl",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
