{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "41",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "37ced743-cc11-4e4c-bf35-da47c833c28b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.176"
      },
      "ResponseBody": {
        "id": "vs_zewdRI7RmUNMvjeXlMKDLyeD",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746746934,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746746934
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "139",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5c13a60a-7404-4ecc-8447-6af30d34abd6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.269"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "vs_NVuTw6iZsicvTvpJd8kCFS7w",
            "object": "vector_store",
            "name": null,
            "status": "completed",
            "usage_bytes": 0,
            "created_at": 1746746934,
            "file_counts": {
              "in_progress": 0,
              "completed": 0,
              "failed": 0,
              "cancelled": 0,
              "total": 0
            },
            "metadata": {},
            "expires_after": null,
            "expir[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_zewdRI7RmUNMvjeXlMKDLyeD?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "651",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0f7ffb82-4245-499f-90f2-32df98dec26a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.749"
      },
      "ResponseBody": {
        "id": "vs_zewdRI7RmUNMvjeXlMKDLyeD",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
