{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "294",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "07729ce1-7644-4159-8ae7-1ff7d38ec234",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.463"
      },
      "ResponseBody": {
        "id": "vs_uudlFgpmWA9i3nVzBniZJgPP",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647378,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647378
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "852",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "97b1dbc5-2935-4081-9a48-7cb97bc82fe9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.007"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "vs_uudlFgpmWA9i3nVzBniZJgPP",
            "object": "vector_store",
            "name": null,
            "status": "completed",
            "usage_bytes": 0,
            "created_at": 1746647378,
            "file_counts": {
              "in_progress": 0,
              "completed": 0,
              "failed": 0,
              "cancelled": 0,
              "total": 0
            },
            "metadata": {},
            "expires_after": null,
            "expir[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_uudlFgpmWA9i3nVzBniZJgPP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "571",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d2ba869b-fa95-4330-be80-cd969078bb0a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.698"
      },
      "ResponseBody": {
        "id": "vs_uudlFgpmWA9i3nVzBniZJgPP",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
