{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "452",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "76093140-822e-4adb-8aca-1aa130c8f5b2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.689"
      },
      "ResponseBody": {
        "id": "vs_qHZlQ16jiG3H2GEd5aLbkIT9",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746595880,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746595880
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_qHZlQ16jiG3H2GEd5aLbkIT9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "655",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "114fd672-e687-4c31-ba94-84a9f646f443",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.788"
      },
      "ResponseBody": {
        "id": "vs_qHZlQ16jiG3H2GEd5aLbkIT9",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
