{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2715b5f1-64fb-4d56-a5f1-2ad77a2e62be",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "id": "vs_9Pxs4TmejoqMNK4j5GtDTSsh",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746666661,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746666661
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_9Pxs4TmejoqMNK4j5GtDTSsh?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "updated"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1bbc6675-a7f9-4660-b546-10556ee4b6d9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.206"
      },
      "ResponseBody": {
        "id": "vs_9Pxs4TmejoqMNK4j5GtDTSsh",
        "object": "vector_store",
        "name": "updated",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746666661,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746666661
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_9Pxs4TmejoqMNK4j5GtDTSsh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "618",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f5f03fb0-59ba-45fd-9c0f-8a8e175df58c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.741"
      },
      "ResponseBody": {
        "id": "vs_9Pxs4TmejoqMNK4j5GtDTSsh",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
