{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5?api-version=2024-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "description": "My Test Network Manager",
          "networkManagerScopeAccesses": [
            "Connectivity"
          ],
          "networkManagerScopes": {
            "subscriptions": [
              "/subscriptions/00000000-0000-0000-0000-000000000000"
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "Sanitized",
        "location": "westus",
        "type": "Microsoft.Network/networkManagers",
        "tags": {},
        "etag": "",
        "properties": {
          "description": "My Test Network Manager",
          "networkManagerScopes": {
            "managementGroups": [],
            "subscriptions": [
              "/subscriptions/00000000-0000-0000-0000-000000000000"
            ],
            "crossTenantScopes": []
          },
          "provisioningState": "Succeeded",
          "networkManagerScopeAccesses": [
            "Connectivity"
          ],
          "resourceGuid": "00000000-0000-0000-0000-000000000000"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-16T05:24:56.0915970Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-16T05:24:56.0915970Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkManagers?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "Sanitized",
            "location": "westus",
            "type": "Microsoft.Network/networkManagers",
            "tags": {},
            "etag": "Sanitized",
            "properties": {
              "description": "My Test Network Manager",
              "networkManagerScopes": {
                "managementGroups": [],
                "subscriptions": [
                  "/subscriptions/00000000-0000-0000-0000-000000000000"
                ],
                "crossTenantScopes": []
              },
              "provisioningState": "Succeeded",
              "networkManagerScopeAccesses": [
                "Connectivity"
              ],
              "resourceGuid": "00000000-0000-0000-0000-000000000000"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-10-16T05:24:56.0915970Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-10-16T05:24:56.0915970Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Type": "text/html; charset=us-ascii"
      },
      "ResponseBody": [
        "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\"\"http://www.w3.org/TR/html4/strict.dtd\">\r\n",
        "<HTML><HEAD><TITLE>Service Unavailable</TITLE>\r\n",
        "<META HTTP-EQUIV=\"Content-Type\" Content=\"text/html; charset=us-ascii\"></HEAD>\r\n",
        "<BODY><h2>Service Unavailable</h2>\r\n",
        "<hr><p>HTTP Error 503. The service is unavailable.</p>\r\n",
        "</BODY></HTML>\r\n"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5?api-version=2024-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "Sanitized",
        "location": "westus",
        "type": "Microsoft.Network/networkManagers",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "Sanitized",
        "properties": {
          "description": "My Test Network Manager",
          "networkManagerScopes": {
            "managementGroups": [],
            "subscriptions": [
              "/subscriptions/00000000-0000-0000-0000-000000000000"
            ],
            "crossTenantScopes": []
          },
          "provisioningState": "Succeeded",
          "networkManagerScopeAccesses": [
            "Connectivity"
          ],
          "resourceGuid": "00000000-0000-0000-0000-000000000000"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-16T05:24:56.0915970Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-16T05:24:56.0915970Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5/commit?api-version=2024-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "commitType": "Connectivity",
        "targetLocations": [
          "eastus"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-10-01&t=638961891251337531&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MTAxMTQxWhcNMjYwMTEzMTAxMTQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJh[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-10-01&t=638961891251337531&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MTAxMTQxWhcNMjYwMTEzMTAxMTQxWjBAMT4w[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5/listDeploymentStatus?api-version=2024-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deploymentTypes": [
          "Connectivity",
          "SecurityAdmin"
        ],
        "regions": [
          "eastus",
          "westus"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198"
      },
      "ResponseBody": {
        "skipToken": "",
        "value": [
          {
            "deploymentType": "Connectivity",
            "configurationIds": [],
            "region": "eastus",
            "deploymentStatus": "Deploying",
            "errorMessage": "",
            "commitTime": "2025-10-16T05:25:25.0000000Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5/listActiveConnectivityConfigurations?api-version=2024-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "regions": [
          "westus"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "skipToken": "",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5/listActiveSecurityAdminRules?api-version=2024-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "regions": [
          "westus"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "skipToken": "",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmankXCNC5?api-version=2024-10-01&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    },
[...]
