{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "description": "My Test Network Manager",
          "networkManagerScopeAccesses": [
            "SecurityAdmin"
          ],
          "networkManagerScopes": {
            "subscriptions": [
              "/subscriptions/00000000-0000-0000-0000-000000000000"
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "Sanitized",
        "location": "westus",
        "type": "Microsoft.Network/networkManagers",
        "tags": {},
        "etag": "",
        "properties": {
          "description": "My Test Network Manager",
          "networkManagerScopes": {
            "managementGroups": [],
            "subscriptions": [
              "/subscriptions/00000000-0000-0000-0000-000000000000"
            ],
            "crossTenantScopes": []
          },
          "provisioningState": "Succeeded",
          "networkManagerScopeAccesses": [
            "SecurityAdmin"
          ],
          "resourceGuid": "00000000-0000-0000-0000-000000000000"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-05-23T06:01:33.8131560Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-05-23T06:01:33.8131560Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/networkGroups/networkgrosecuritysxrek4?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A sample group"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "Sanitized",
        "type": "Microsoft.Network/networkManagers/networkGroups",
        "etag": "",
        "properties": {
          "description": "A sample group",
          "provisioningState": "Succeeded",
          "memberType": "VirtualNetwork",
          "resourceGuid": "00000000-0000-0000-0000-000000000000"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-05-23T06:01:36.8127255Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-05-23T06:01:36.8127255Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "applyOnNetworkIntentPolicyBasedServices": [
            "None"
          ],
          "description": "A sample policy"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "Sanitized",
        "type": "Microsoft.Network/networkManagers/securityAdminConfigurations",
        "etag": "",
        "properties": {
          "description": "A sample policy",
          "provisioningState": "Succeeded",
          "resourceGuid": "00000000-0000-0000-0000-000000000000",
          "applyOnNetworkIntentPolicyBasedServices": [
            "None"
          ],
          "networkGroupAddressSpaceAggregationOption": "None"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-05-23T06:01:38.5783890Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-05-23T06:01:38.5783890Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH/ruleCollections/rulecollecm9NmUZ?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "appliesToGroups": [
            {
              "networkGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/networkGroups/networkgrosecuritysxrek4"
            }
          ],
          "description": "A sample policy"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-su[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH/ruleCollections?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nextLink": "",
        "value": [
          {
            "name": "Sanitized",
            "id": "Sanitized",
            "type": "Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections",
            "etag": "Sanitized",
            "properties": {
              "description": "A sample policy",
              "appliesToGroups": [
                {
                  "networkGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/networkGroups/networkgrosecuritysxrek4"
                }
              ],
              "provisioningState": "Succeeded",
              "resourceGuid": "00000000-0000-0000-0000-000000000000"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-05-23T06:01:40.9991839Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-05-23T06:01:40.9991839Z"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH/ruleCollections/rulecollecm9NmUZ/rules/rulenameLOEEkI?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "Custom",
        "properties": {
          "access": "Deny",
          "description": "This is Sample Admin Rule",
          "destinationPortRanges": [
            "22"
          ],
          "destinations": [
            {
              "addressPrefix": "*",
              "addressPrefixType": "IPPrefix"
            }
          ],
          "direction": "Inbound",
          "priority": 1,
          "protocol": "Tcp",
          "sourcePortRanges": [
            "0-65535"
          ],
          "sources": [
            {
              "addressPrefix": "Internet",
              "addressPrefixType": "ServiceTag"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "id": "Sanitized",
        "type": "Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/rules",
        "etag": "",
        "properties": {
          "description": "This is Sample Admin Rule",
          "flag": "",
          "priority": 1,
          "protocol": "Tcp",
          "direction": "Inbound",
          "access": "Deny",
          "sources": [
            {
              "addressPrefixType": "ServiceTag",
              "addressPrefix": "Internet"
            }
          ],
          "destinations": [
            {
              "addressPrefixType": "IPPrefix",
              "addressPrefix": "*"
            }
          ],
          "sourcePortRanges": [
            "0-65535"
          ],
          "destinationPortRanges": [
            "22"
          ],
          "provisioningState": "Succeeded",
          "resourceGuid": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Custom",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-05-23T06:01:45.6085818Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-05-23T06:01:45.6085818Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH/ruleCollections/rulecollecm9NmUZ/rules?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH/ruleCollections/rulecollecm9NmUZ/rules/rulenameLOEEkI?api-version=2024-07-01&force=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
   [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH/ruleCollections/rulecollecm9NmUZ?api-version=2024-07-01&force=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkManagers/networkmanagersecurity3dYQxX/securityAdminConfigurations/configurationsecurityhofdsH?api-version=2024-07-01&force=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ0NjUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01&t=638835769202204032&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlv[...]
