{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2025-11-01-Preview&$select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps(name)",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "38",
        "ETag": "\"0x8DE64E270B75093\"",
        "Location": "https://subdomain.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2025-11-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DE64E270B75093\"",
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1008849",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "filterable": true,
            "sortable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "tags",
            "type": "Collection(Edm.String)",
            "searchable": true,
            "filterable": true,
            "facetable": true
          },
          {
            "name": "parkingIncluded",
            "type": "Edm.Boolean",
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "smokingAllowed",
            "type": "Edm.Boolean",
            [...]
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1008849')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "392",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "15",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-2')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "15",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_INDEX_NAME": "hotel-live-test-1008849"
  }
}
