{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1253?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1253",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W2sEuOqRigwwpO1YdEdgk4N4TPfqFXotTj2QgKoxaS0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIwNg==;sn=102477206",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:43 GMT"
      },
      "ResponseBody": {
        "etag": "W2sEuOqRigwwpO1YdEdgk4N4TPfqFXotTj2QgKoxaS0",
        "key": "name-1253",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1253?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIwNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W2sEuOqRigwwpO1YdEdgk4N4TPfqFXotTj2QgKoxaS0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIwOA==;sn=102477208",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:43 GMT"
      },
      "ResponseBody": {
        "etag": "W2sEuOqRigwwpO1YdEdgk4N4TPfqFXotTj2QgKoxaS0",
        "key": "name-1253",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1253?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIwOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W2sEuOqRigwwpO1YdEdgk4N4TPfqFXotTj2QgKoxaS0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIwOQ==;sn=102477209",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:44 GMT"
      },
      "ResponseBody": {
        "etag": "W2sEuOqRigwwpO1YdEdgk4N4TPfqFXotTj2QgKoxaS0",
        "key": "name-1253",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:43+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1253"
  }
}
