{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1384?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1384",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s__-yBOOM-XT6970K8FCJaT2dAfJ1AN-Opsy-M7HT7Y\"",
        "Last-Modified": "Tue, 28 May 2024 18:43:00 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEzNzE=;sn=2611371"
      },
      "ResponseBody": {
        "etag": "s__-yBOOM-XT6970K8FCJaT2dAfJ1AN-Opsy-M7HT7Y",
        "key": "name-1384",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:43:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1384?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTEzNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s__-yBOOM-XT6970K8FCJaT2dAfJ1AN-Opsy-M7HT7Y\"",
        "Last-Modified": "Tue, 28 May 2024 18:43:00 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEzNzE=;sn=2611371"
      },
      "ResponseBody": {
        "etag": "s__-yBOOM-XT6970K8FCJaT2dAfJ1AN-Opsy-M7HT7Y",
        "key": "name-1384",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:43:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1384?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTEzNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s__-yBOOM-XT6970K8FCJaT2dAfJ1AN-Opsy-M7HT7Y\"",
        "Last-Modified": "Tue, 28 May 2024 18:43:00 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEzNzI=;sn=2611372"
      },
      "ResponseBody": {
        "etag": "s__-yBOOM-XT6970K8FCJaT2dAfJ1AN-Opsy-M7HT7Y",
        "key": "name-1384",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:43:00+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1384"
  }
}
