{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1271?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1271",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FRLa1ui1DmgJqb4JfIPiNSQ3KNEoqT7PDIT54LKLglw\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:06 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5OTM=;sn=75057993",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:06 GMT"
      },
      "ResponseBody": {
        "etag": "FRLa1ui1DmgJqb4JfIPiNSQ3KNEoqT7PDIT54LKLglw",
        "key": "name-1271",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1271?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FRLa1ui1DmgJqb4JfIPiNSQ3KNEoqT7PDIT54LKLglw\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:06 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5OTU=;sn=75057995",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:06 GMT"
      },
      "ResponseBody": {
        "etag": "FRLa1ui1DmgJqb4JfIPiNSQ3KNEoqT7PDIT54LKLglw",
        "key": "name-1271",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1271?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5OTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FRLa1ui1DmgJqb4JfIPiNSQ3KNEoqT7PDIT54LKLglw\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:06 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5OTg=;sn=75057998",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:06 GMT"
      },
      "ResponseBody": {
        "etag": "FRLa1ui1DmgJqb4JfIPiNSQ3KNEoqT7PDIT54LKLglw",
        "key": "name-1271",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:06+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1271"
  }
}
