{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1442?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1442",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VfEQOAJC5092CICOTwEORCSgTKioQzs0df6lljIinaE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2Mjc=;sn=73799627"
      },
      "ResponseBody": {
        "etag": "VfEQOAJC5092CICOTwEORCSgTKioQzs0df6lljIinaE",
        "key": "name-1442",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1442?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk2Mjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VfEQOAJC5092CICOTwEORCSgTKioQzs0df6lljIinaE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2Mjg=;sn=73799628"
      },
      "ResponseBody": {
        "etag": "VfEQOAJC5092CICOTwEORCSgTKioQzs0df6lljIinaE",
        "key": "name-1442",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1442?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk2Mjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VfEQOAJC5092CICOTwEORCSgTKioQzs0df6lljIinaE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2MzA=;sn=73799630"
      },
      "ResponseBody": {
        "etag": "VfEQOAJC5092CICOTwEORCSgTKioQzs0df6lljIinaE",
        "key": "name-1442",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:02+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1442"
  }
}
