{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1773?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M7lzEF7vQFCRyUwsfj0u5YqHJuwwrR5dg6fi1JSPe5g\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODAyMg==;sn=115288022",
        "x-ms-date": "Thu, 28 May 2026 21:21:59 GMT"
      },
      "ResponseBody": {
        "etag": "M7lzEF7vQFCRyUwsfj0u5YqHJuwwrR5dg6fi1JSPe5g",
        "key": "name-1773",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1773?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODAyMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M7lzEF7vQFCRyUwsfj0u5YqHJuwwrR5dg6fi1JSPe5g\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODAyMw==;sn=115288023",
        "x-ms-date": "Thu, 28 May 2026 21:21:59 GMT"
      },
      "ResponseBody": {
        "etag": "M7lzEF7vQFCRyUwsfj0u5YqHJuwwrR5dg6fi1JSPe5g",
        "key": "name-1773",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1773?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODAyMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M7lzEF7vQFCRyUwsfj0u5YqHJuwwrR5dg6fi1JSPe5g\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODAyNQ==;sn=115288025",
        "x-ms-date": "Thu, 28 May 2026 21:21:59 GMT"
      },
      "ResponseBody": {
        "etag": "M7lzEF7vQFCRyUwsfj0u5YqHJuwwrR5dg6fi1JSPe5g",
        "key": "name-1773",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:59+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1773"
  }
}
