{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1954?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1954",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"96lgRo64wtPvzDRXdkDJo25QgUjk5lzvLBq8pWAlboM\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1OTI=;sn=73799592"
      },
      "ResponseBody": {
        "etag": "96lgRo64wtPvzDRXdkDJo25QgUjk5lzvLBq8pWAlboM",
        "key": "name-1954",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1954?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk1OTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"96lgRo64wtPvzDRXdkDJo25QgUjk5lzvLBq8pWAlboM\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1OTU=;sn=73799595"
      },
      "ResponseBody": {
        "etag": "96lgRo64wtPvzDRXdkDJo25QgUjk5lzvLBq8pWAlboM",
        "key": "name-1954",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1954?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk1OTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"96lgRo64wtPvzDRXdkDJo25QgUjk5lzvLBq8pWAlboM\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1OTg=;sn=73799598"
      },
      "ResponseBody": {
        "etag": "96lgRo64wtPvzDRXdkDJo25QgUjk5lzvLBq8pWAlboM",
        "key": "name-1954",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:59+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1954"
  }
}
