{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1973?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1973",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-y7sSjWayO0kB4A008bXfOmLS8hSZj2DfevQDsZp0R8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3Mzc=;sn=74102737"
      },
      "ResponseBody": {
        "etag": "-y7sSjWayO0kB4A008bXfOmLS8hSZj2DfevQDsZp0R8",
        "key": "name-1973",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1973?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3Mzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-y7sSjWayO0kB4A008bXfOmLS8hSZj2DfevQDsZp0R8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3Mzc=;sn=74102737"
      },
      "ResponseBody": {
        "etag": "-y7sSjWayO0kB4A008bXfOmLS8hSZj2DfevQDsZp0R8",
        "key": "name-1973",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1973?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3Mzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-y7sSjWayO0kB4A008bXfOmLS8hSZj2DfevQDsZp0R8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3NDE=;sn=74102741"
      },
      "ResponseBody": {
        "etag": "-y7sSjWayO0kB4A008bXfOmLS8hSZj2DfevQDsZp0R8",
        "key": "name-1973",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:16+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1973"
  }
}
