{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-190?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-190",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QEot1Opsao5I4qV8wySPOdwRyCK0ylbMO25lBfeAq_4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5NjQ=;sn=75057964",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:02 GMT"
      },
      "ResponseBody": {
        "etag": "QEot1Opsao5I4qV8wySPOdwRyCK0ylbMO25lBfeAq_4",
        "key": "name-190",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-190?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5NjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QEot1Opsao5I4qV8wySPOdwRyCK0ylbMO25lBfeAq_4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5NjU=;sn=75057965",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:02 GMT"
      },
      "ResponseBody": {
        "etag": "QEot1Opsao5I4qV8wySPOdwRyCK0ylbMO25lBfeAq_4",
        "key": "name-190",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-190?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5NjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QEot1Opsao5I4qV8wySPOdwRyCK0ylbMO25lBfeAq_4\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5Njk=;sn=75057969",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:02 GMT"
      },
      "ResponseBody": {
        "etag": "QEot1Opsao5I4qV8wySPOdwRyCK0ylbMO25lBfeAq_4",
        "key": "name-190",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:02+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-190"
  }
}
