{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1720?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-1720",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yj4Y_p_FChh59CiXXoWG5gLy_QkiBVpqZiFvQ4CJXDo\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3ODI=;sn=74232782"
      },
      "ResponseBody": {
        "etag": "yj4Y_p_FChh59CiXXoWG5gLy_QkiBVpqZiFvQ4CJXDo",
        "key": "name-1720",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1720?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3ODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yj4Y_p_FChh59CiXXoWG5gLy_QkiBVpqZiFvQ4CJXDo\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3ODQ=;sn=74232784"
      },
      "ResponseBody": {
        "etag": "yj4Y_p_FChh59CiXXoWG5gLy_QkiBVpqZiFvQ4CJXDo",
        "key": "name-1720",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-1720?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3ODQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yj4Y_p_FChh59CiXXoWG5gLy_QkiBVpqZiFvQ4CJXDo\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3ODc=;sn=74232787"
      },
      "ResponseBody": {
        "etag": "yj4Y_p_FChh59CiXXoWG5gLy_QkiBVpqZiFvQ4CJXDo",
        "key": "name-1720",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:37+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1720"
  }
}
