{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-13afe8a3-4912-0a18-f716-4841c8166157?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AADB705FA\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-13afe8a3-4912-0a18-f716-4841c8166157/test-blob-ae7df17f-a706-029e-91bb-0351be1a4c5c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xFR8/iV5vudu3fMaUFev68qxWtDyAOuzYsoQFi+HLVDmJvwGj0xxbTk88o6vPpYa8qAn83VA38RoyZtbaKi45rCjNClbqVt+QOyXtg1cAyQz9SOOYDrapUY3ncawFgSRhAveDApsv0lFqbKIqSm2DMV3J3OEKYZ2yI7iIwyUzSnoBTEBffcaxzbaSbeHUvwcgZEBOO+RDVuFaER7iZs9sNuJoKT3tI7NXV88qt/O7nWSxqJ6k5Q6VvjWfBWznj2bnJjb/bJYJMwCM9uPVWJ7tnnO6MP4wh1HTkqrITh5Gr8hoQ1G8vHDOqHWeF+5qgGVW8Wb5bZ6otp7lK9orAOTiRkcbbNVNMOICq0iIUq9jaNI[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-13afe8a3-4912-0a18-f716-4841c8166157/test-blob-2a71e888-888d-e8d2-7b8f-9ac572f0eb8b?comp=block&blockid=dGVzdC1ibG9jay1jYmJkNjljYy01ZDMxLTkzNjMtNWUwZi05ZWQxNTU0YzQzMzM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-13afe8a3-4912-0a18-f716-4841c8166157/test-blob-ae7df17f-a706-029e-91bb-0351be1a4c5c?sv=Sanitized&se=2024-06-07T16%3A58%3A30Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:30 GMT",
        "x-ms-source-content-md5": "yOjfiVwsrhZrrQJ/3xUzWw==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>Md5Mismatch</Code><Message>The MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:e8a76e99-301e-0035-34f3-b8fd96000000\n",
        "Time:2024-06-07T15:58:31.5113122Z</Message><UserSpecifiedMd5>yOjfiVwsrhZrrQJ/3xUzWw==</UserSpecifiedMd5><ServerCalculatedMd5>XEomwrNvrhFQnrwgznjFHg==</ServerCalculatedMd5></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-13afe8a3-4912-0a18-f716-4841c8166157?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:58:30.6217020-05:00",
    "RandomSeed": "498594423",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
