{
  "Entries": [
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-fae1071c-ffbd-56db-a737-bcbbf72b7932?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 21:24:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4924269CABD2\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 21:24:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-fae1071c-ffbd-56db-a737-bcbbf72b7932/test-blob-b804e5f9-e344-9b14-d28c-6d84f3804232?comp=block\u0026blockid=dGVzdC1ibG9jay0xNjdiNTQ2NS1mNDdhLWMxYTAtMGE1Zi1hMmY3YWVhZWY2NWI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-fae1071c-ffbd-56db-a737-bcbbf72b7932/test-blob-4999ff1f-f436-8735-f327-c23cf93f4093",
        "x-ms-date": "Wed, 20 Mar 2024 21:24:39 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "PublicAccessNotPermitted",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EPublic access is not permitted on this storage account.\n",
        "RequestId:f38d7a89-201e-0000-4f0d-7be568000000\n",
        "Time:2024-03-20T21:24:39.7050146Z\u003C/Message\u003E\u003CCopySourceStatusCode\u003E409\u003C/CopySourceStatusCode\u003E\u003CCopySourceErrorCode\u003EPublicAccessNotPermitted\u003C/CopySourceErrorCode\u003E\u003CCopySourceErrorMessage\u003EPublic access is not permitted on this storage account.\u003C/CopySourceErrorMessage\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-fae1071c-ffbd-56db-a737-bcbbf72b7932?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 21:24:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-20T16:24:39.3718163-05:00",
    "RandomSeed": "1858500669",
    "Storage_TestConfigDefault": "ProductionTenant\nozgxscnby3pev24ax\nU2FuaXRpemVk\nhttps://ozgxscnby3pev24ax.blob.preprod.core.windows.net\nhttps://ozgxscnby3pev24ax.file.preprod.core.windows.net\nhttps://ozgxscnby3pev24ax.queue.core.windows.net\nhttps://ozgxscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://ozgxscnby3pev24ax-secondary.blob.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.file.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.queue.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ozgxscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://ozgxscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.file.core.windows.net/;AccountName=ozgxscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
