{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-366e9506-fcbd-327d-ecb2-58b196116e23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C4F31A35\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5930d410-eb28-c029-03df-454870d0d45d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C5027A63\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5930d410-eb28-c029-03df-454870d0d45d/test-blob-b6606fe1-f8d5-05c6-32af-6b9f702d8662?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C506AB7E\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-12T01:37:10.8946814Z",
        "x-ms-file-creation-time": "2025-02-12T01:37:10.8946814Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-12T01:37:10.8946814Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5930d410-eb28-c029-03df-454870d0d45d/test-blob-b6606fe1-f8d5-05c6-32af-6b9f702d8662/test-blob-2a1cd5d5-0c95-5299-530e-b863aa9531ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C50C9E0E\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-12T01:37:10.9336590Z",
        "x-ms-file-creation-time": "2025-02-12T01:37:10.9336590Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-12T01:37:10.9336590Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5930d410-eb28-c029-03df-454870d0d45d/test-blob-b6606fe1-f8d5-05c6-32af-6b9f702d8662/test-blob-2a1cd5d5-0c95-5299-530e-b863aa9531ce?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Wx5iME5dTjL8rNEpHirSVzRD8wqWJZm7GpC4L2GirVB5rPdBM07GYD5ITNzQgjk9gxvB0CEQmjWFphW9pR7QWf+Ar3EykCPmfZPLTdi965dXeqtF4d0vaBLBvIw4CLofePLdT9PHCvP321KNRE1dx7t+Zipzi3ghUUZfcNOXrnXZrNXl4JvEkG+3TgWKoiTEZPXRuaKQq+16u/6MZ5kgYC3dtJd4eOYfudW6vDxylq4imgzexvTSSAHoayWcNyjWl+3Yre6MTOwOsf/M1e+wByRQasyNQZo4CmuWkAzBg4Gt5CRPmunAlk0gzxT0BnMSN2QATM1bSFVTn6KC9bzfTC5+H/HKYW07j9R+bHGFRAT4hFiowTa0UZvO+/pGPaCRQIPmduaBR9b3xL353dvkzludinFkNov3yc1V+2Vz9FEz7Szuns4edjyBsfx5unS/6i2eqLIuLAn376wYK0xxhM9rxe+v9S+NfxQ144WOfg9ZlhE31EyeBcAi9q8hBUrwDy0sDfSED/X+ESme+EmEaXCcv5U6Oa+DzMAujf5/a3rJRdNXYXAb1IYbOcIiAA13nY0+hUW0tdZ9qUE0VoL2fqav1LN1LAcAgesPH//sYcyytu9xQeU0FY/92rgv530DJbsccytZAXGGPgRapJbWkEh0gZ+ShT3Aer8jeFJO0ZltDPlE0O2gWbR+6wPh2nD5JklwumbecKB9W/lrNokeN2xq7ZickcBa0yjqFJk6359PKVEJ3RYzj5tYxnT0NSIrX7OWd+3XXJWIFuY+81wGQ3xZGw03FVpVNl38Q8pLZp4Fv7XmpGeyd8y8gMcw9Zs/UoP4mhkV80lYQEGP2hnKPa9HODOnH58VpqNAe5STJUDBvfFHU8uE8MxrjWMmI52z8UMX6L1omDLj4/R11He0xRoAzR0ng+njwkhnO5I77oMGjYpRezyDWSW/Y3DXDxtUtshJJlV/i21ZMyV1AFygqPRwb0fsY0nefXT3aCB5DLMsE4TJ8sgthgEd90gWDljIHrp7ZqDTZ1N+aqnhiCNM4CdySO3X1rYsQuhGz2sByG4bL0lm/qUTWKsxS4cfTP7e0BcgpMVr8EgETiS3jZfnfKI6xljZ5uGCXvBCpoouDfbpaP9U4SOpsD4BYa+AW8oTSs/l5YamBOk1nkXUKEq91kEuziWYkpp+kBYa14UyAQIlLly7SShvQ2MWH0Le1If0RItuUo2le7c0ZlRwiyxkA51Dr/ruAYwYvorBgnNYoLuOJpP5w650f7Klh+LT/7c2sRulmiWMBUL+VZQD5PlD3MWZ4WWZaj/uzi9HSXqqRb/SitBXsgWWAiBR+m4acZu5YascOh1SnUbctsz1RLzIVA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HOBvU4oFupVy3dzqdNb6lA==",
        "ETag": "\"0x8DD4B05C512B7AD\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:10 GMT",
        "x-ms-file-last-write-time": "2025-02-12T01:37:10.9736365Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-366e9506-fcbd-327d-ecb2-58b196116e23/test-blob-37f1a049-7735-6707-ba43-4b46719b8456?comp=block&blockid=dGVzdC1ibG9jay1hMTlkYWRmMC0zNTMzLWYzMGYtYmQ2MS0zM2JmZGJmNGQxYzE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-5930d410-eb28-c029-03df-454870d0d45d/test-blob-b6606fe1-f8d5-05c6-32af-6b9f702d8662/test-blob-2a1cd5d5-0c95-5299-530e-b863aa9531ce",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "fw4nt2+oA5U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5930d410-eb28-c029-03df-454870d0d45d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-366e9506-fcbd-327d-ecb2-58b196116e23?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "414234503",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
