{
  "Entries": [
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-0acdf3c9-33f6-cb51-8ce9-e59e82c15906?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5340010D0349\u0022",
        "Last-Modified": "Tue, 02 Apr 2024 18:09:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-0acdf3c9-33f6-cb51-8ce9-e59e82c15906/test-blob-9f2eda54-4620-f75c-afc3-5a2815764e03?comp=block\u0026blockid=dGVzdC1ibG9jay1hM2JlMzU4Yi05ZWI1LWE2NmUtMmNkNC0yMGU4NzNjOWEwNTE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-0acdf3c9-33f6-cb51-8ce9-e59e82c15906/test-blob-f59f0787-c99c-cbb5-f3c1-41bb750a2037",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:12 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "PublicAccessNotPermitted",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EPublic access is not permitted on this storage account.\n",
        "RequestId:eedbbd96-701e-0008-4528-85c247000000\n",
        "Time:2024-04-02T18:09:14.1571295Z\u003C/Message\u003E\u003CCopySourceStatusCode\u003E409\u003C/CopySourceStatusCode\u003E\u003CCopySourceErrorCode\u003EPublicAccessNotPermitted\u003C/CopySourceErrorCode\u003E\u003CCopySourceErrorMessage\u003EPublic access is not permitted on this storage account.\u003C/CopySourceErrorMessage\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-0acdf3c9-33f6-cb51-8ce9-e59e82c15906?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-02T13:09:12.6910904-05:00",
    "RandomSeed": "1308325796",
    "Storage_TestConfigDefault": "ProductionTenant\nozgxscnby3pev24ax\nU2FuaXRpemVk\nhttps://ozgxscnby3pev24ax.blob.preprod.core.windows.net\nhttps://ozgxscnby3pev24ax.file.core.windows.net\nhttps://ozgxscnby3pev24ax.queue.core.windows.net\nhttps://ozgxscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://ozgxscnby3pev24ax-secondary.blob.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.file.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.queue.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ozgxscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://ozgxscnby3pev24ax.file.core.windows.net/;BlobSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.file.core.windows.net/;AccountName=ozgxscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
