{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanarycett.blob.core.windows.net/test-container-9e5798d9-4c32-05a0-aca0-9b84976000dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Jun 2026 18:58:14 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED0903957D8C4\"",
        "Last-Modified": "Mon, 22 Jun 2026 18:58:18 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanarycett.blob.core.windows.net/test-container-9e5798d9-4c32-05a0-aca0-9b84976000dd/test-blob-5b36f203-ef8d-0cdb-d855-0f6038722345?comp=block&blockid=dGVzdC1ibG9jay04MWY1ZGM2ZS0wZDE4LTlkNjktMDg4Ny00Zjk5NWY2Njc0YTA%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "qFFSmAyxqgNaO+Kv6XXysQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 22 Jun 2026 18:58:14 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": "r7RVJvltj0BfeNWxKHp+zp42yE+BIjnvXiO0UIqULGcDv3XRiNprTreffioZT255HkAFfJgu5Ix6ZsjWuD+2ykxurWgFrUXDynqY4qQP1Q60OzJKj6/P1dvoViISlJZ46LPeq6EFdHH6QbEelgLna5C5IX0MbDucn9iNHFYisTbkH/nxMCptr8bBT07+sD7YAeuRWXMYa3x3QgzId1ga2JB7OnYJ9TtmTHK2Sx3tnu6atBpqkFfDy7N8eu4epDdtpna+g3bIzwuwKwwAYiBfiqQdLsI9r0c4uG/DjHtMSKc7SKSmLxp40eQPumVKwmmSHO9KAHV0MPYvhcoHBEOPY+NkxRl8u[...]
    {
      "RequestUri": "https://seanmcccanarycett.blob.core.windows.net/test-container-9e5798d9-4c32-05a0-aca0-9b84976000dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 22 Jun 2026 18:58:14 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1936003731",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanarycett\nU2FuaXRpemVk\nhttps://seanmcccanarycett.blob.core.windows.net\nhttps://seanmcccanarycett.file.core.windows.net\nhttps://seanmcccanarycett.queue.core.windows.net\nhttps://seanmcccanarycett.table.core.windows.net\n\n\n\n\nhttps://seanmcccanarycett-secondary.blob.core.windows.net\nhttps://seanmcccanarycett-secondary.file.core.windows.net\nhttps://seanmcccanarycett-secondary.queue.core.windows.net\nhttps://seanmcccanarycett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanarycett.blob.core.windows.net/;QueueEndpoint=https://seanmcccanarycett.queue.core.windows.net/;FileEndpoint=https://seanmcccanarycett.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanarycett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanarycett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanarycett-secondary.file.core.windows.net/;AccountName=seanmcccanarycett;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
