{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1c54d135-7a92-638f-1c3a-7f190cbcdac0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8709933C5DF7\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:50:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1c54d135-7a92-638f-1c3a-7f190cbcdac0/test-blob-5743d213-45ec-d444-ccd6-8318f27cc5dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5HdHT4W4Obb9ZawFIFG164AHA/0ltRyp9UB431NMVoAbU1k36WnzXdbgJz7FNyvOvEAGkOxz4C5anlpEQFlisA8s6s34fQIXE6YnRY7e474UqiMTRsWUp3Ir3EsPrh18fnYvmU1e1T497nxFTJuffLqcMJY2TmpJmEJbzaC3CGWJqsYXr0pwttTk1VdJTlvXi2CQc36HRTAL5QAKAgidhuYXvKHUh81vK3nBUngT/0nnhEFAJpXmAWWWDMlJZbPLRk9xMZG5AgOSIEcExfO3+OW2I37GXV9QMLo8PnsEJcXG9Qspoc64LYE+rQZN4jxy3hPjkkI0BOnvIAHWfcOHjvqCPs/njlYX/vb9iK9ZA05+[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1c54d135-7a92-638f-1c3a-7f190cbcdac0/test-blob-8c78afb6-e142-4dd5-33cc-1faba93333e6?comp=block&blockid=dGVzdC1ibG9jay0wNmZlNTAyYy1jYjRhLTlhYzYtNTc2MC0yMTNhODIyNWIzY2E%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-1c54d135-7a92-638f-1c3a-7f190cbcdac0/test-blob-5743d213-45ec-d444-ccd6-8318f27cc5dc?sv=Sanitized&se=2024-06-07T16%3A50%3A36Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:36 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "X/C1eNozhVg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1030b91a-c663-5b1b-e43e-11a941bee66c/test-blob-3b646279-96df-6eef-ecdf-c9adb42340e2?comp=block&blockid=dGVzdC1ibG9jay0zYjU2MjUzOS0yYWFlLTgzZjQtMWYzZC0wNGEyNzRiMzNjZjk%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-1030b91a-c663-5b1b-e43e-11a941bee66c/test-blob-284b76b9-fe74-da43-8796-2e0731ab9290?sv=Sanitized&se=2024-06-07T16%3A50%3A36Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:37 GMT",
        "x-ms-source-if-modified-since": "Thu, 06 Jun 2024 15:50:36 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "35pA0x1pY+w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-191a4293-9816-8975-5084-0cd4318a9f37/test-blob-78178974-9f38-393e-58a1-d20232e560ad?comp=block&blockid=dGVzdC1ibG9jay0wMTgxMjU4MS1hYTIxLTQ2MWYtNWMwZS01Mjc1ZTMyODdkYjY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-191a4293-9816-8975-5084-0cd4318a9f37/test-blob-b26d9f22-1993-6315-bdb6-5a2d08902674?sv=Sanitized&se=2024-06-07T16%3A50%3A36Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:37 GMT",
        "x-ms-source-if-unmodified-since": "Sat, 08 Jun 2024 15:50:36 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "z6zU4+s3TN0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-468ff4e0-3c88-ce38-a3d8-0034df9442ff/test-blob-f09cfe13-9a4f-4ee1-80fd-a74bedf1553d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f9/QIuwdMzYaybBLyBGWLw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8709940C6FA1\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:50:38.8076197Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-468ff4e0-3c88-ce38-a3d8-0034df9442ff/test-blob-4caa2a1b-32ab-5aa1-e17a-a763e9abc5e3?comp=block&blockid=dGVzdC1ibG9jay1mZWFkOTc3ZS01OTM4LWM4ZDYtODRiNi0yMDcwNzBlNDJhNDE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-468ff4e0-3c88-ce38-a3d8-0034df9442ff/test-blob-f09cfe13-9a4f-4ee1-80fd-a74bedf1553d?sv=Sanitized&se=2024-06-07T16%3A50%3A36Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-source-if-match": "0x8DC8709940C6FA1",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "5HuqwDrJMPU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c5804034-52f0-971b-3346-73e51d25a54c/test-blob-843b4dcf-aebb-150c-a235-8de9ae3c9627?comp=block&blockid=dGVzdC1ibG9jay1jNzM1NTU0ZS0zZjdjLTYwODktOGRhNS0wMGFhN2I3YzA1MzU%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-c5804034-52f0-971b-3346-73e51d25a54c/test-blob-0d12deb4-0408-6abd-d2ff-af0e05b81a99?sv=Sanitized&se=2024-06-07T16%3A50%3A36Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-source-if-none-match": "\"garbage\"",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "GHtEZnq9v88=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c5804034-52f0-971b-3346-73e51d25a54c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:50:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:50:36.0382580-05:00",
    "RandomSeed": "1430635679",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
