{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-35f02668-83c6-416a-6bbb-f4a5a6a1b9b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:48:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87094C1B210E\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:48:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-35f02668-83c6-416a-6bbb-f4a5a6a1b9b5/test-blob-f3208879-3d82-4425-57cb-6ecd0f1cd5b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:48:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3fuTluJmrKJlDX3Z4AsNLKMdJWjGFViyuN/BqQ50+C9v54E3qoLzGZI3Pk9sD0zzaIqpzGIU9cei4N0CpQOU8BVOaviJ1YEgKQvVjtYJRqiSzkGDyivMW/K6lcmk8HSPo005HaVUapIIiKJXPmbwmZo1cNfBESXpgg4Gz0C4fDiXRuuJzygDPmOuekGIdRyMyfsvb4CdzZEnT5uWTZtRUAxpv/d6Z8pxMTFzE5bkYQzyegVFiQ23+XlZYX+NbPHIXCo1HrUkEWExvT1PKbn7Q+6OpNOVDMf/ssV9IQZK5MVAqrdsrkJXzWijFMvPaM/AXh2Q/sgdMlBiNmzvpvBb5th3D38Cj5WsN9Zq8fj7L0n2[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-35f02668-83c6-416a-6bbb-f4a5a6a1b9b5/test-blob-145f1aeb-baf6-c8e1-4e74-7cc212c58a9b?comp=block&blockid=dGVzdC1ibG9jay01MTY1NmRmMy04NjcyLWFiYzYtMTMzMC00ZGJjZWIwZGFhM2Y%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-35f02668-83c6-416a-6bbb-f4a5a6a1b9b5/test-blob-f3208879-3d82-4425-57cb-6ecd0f1cd5b6?sv=Sanitized&se=2024-06-07T16%3A48%3A37Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:48:37 GMT",
        "x-ms-source-content-md5": "mtfHjdN5oOanGV+Usl7d/g==",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mtfHjdN5oOanGV+Usl7d/g==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-35f02668-83c6-416a-6bbb-f4a5a6a1b9b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:48:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:48:37.4555713-05:00",
    "RandomSeed": "820048278",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
