{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2026fa45-5d9f-91e5-31b8-767dcf85f3ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AAD49FBA9\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2026fa45-5d9f-91e5-31b8-767dcf85f3ed/test-blob-c1494795-f8e2-3972-56b8-bad380a1f9b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "i1kFF/knHoh7JV1f062Z93IyS+iFFWKOSckA5yO0tqA+QayfNC9KCsh3Y2WsGOSCSKJYGNcZwnb3ds0wJzZkxm+8IJEA+cJC50EfDrH84jDkfp6AXJ7IJH82qL5hGuKREpz27/dTgU7gFTCW+rTE+pOdS6mY5GrQ9PwSylEE4cxejfsUBvM5kfxPoEZuMirKca4qxM85+S4yJvr7QLf93DNjOGy4r/OgZLqsSEMjYcLSSFij2R39JJTN4uD4PVBEUsQSCvm9EcK6imAUjLDqD8Q4KPhfWQIWZhTY680SpyZpaPZ+EFfIFDaW6U+86Jfj4tMcwBVY5fjC/KTl5Sb1p+I6qyS5bP5sbxTCyHCzWX18[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2026fa45-5d9f-91e5-31b8-767dcf85f3ed/test-blob-921e5da3-c491-b929-eda2-744944b63526?comp=block&blockid=dGVzdC1ibG9jay1kZGRjNGZhZi1mOTFjLWZlMmUtNTFmNS03NTI3NjNhOGZhNTM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-2026fa45-5d9f-91e5-31b8-767dcf85f3ed/test-blob-c1494795-f8e2-3972-56b8-bad380a1f9b6?sv=Sanitized&se=2024-06-07T16%3A58%3A29Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:29 GMT",
        "x-ms-lease-id": "cb731415-c083-d19f-cd7f-469dd97a57e7",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:e8a76b57-301e-0035-7bf3-b8fd96000000\n",
        "Time:2024-06-07T15:58:30.8649406Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2026fa45-5d9f-91e5-31b8-767dcf85f3ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:58:29.9800592-05:00",
    "RandomSeed": "411763694",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
