{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-4cf8e41f-bcfd-a2b6-0d88-8d9dcbef3942?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 May 2025 18:44:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD924E27E02C70\"",
        "Last-Modified": "Tue, 13 May 2025 18:44:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-4cf8e41f-bcfd-a2b6-0d88-8d9dcbef3942/test-blob-4d296f10-1545-f0e7-6949-1fa77e6ee354?comp=block&blockid=dGVzdC1ibG9jay02NWUyZmJlOC1kMDNkLWY3OWItZTcxYy0zNjEyNWY4MTgzYTY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-4cf8e41f-bcfd-a2b6-0d88-8d9dcbef3942/test-blob-a734d435-7c82-8d95-ee48-9218d99f689b",
        "x-ms-date": "Tue, 13 May 2025 18:44:26 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:23b2b992-701e-0012-6b37-c4f4fa000000\n",
        "Time:2025-05-13T18:44:13.0923769Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-4cf8e41f-bcfd-a2b6-0d88-8d9dcbef3942?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 May 2025 18:44:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-13T14:44:26.7489019-04:00",
    "RandomSeed": "1393037434",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
