{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90a89ba6-6611-17ca-8cc2-f764629a079a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FDF47FE3B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90a89ba6-6611-17ca-8cc2-f764629a079a/test-blob-1d6770e9-b5de-a91a-bf0e-4934d7431962",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "P4jmxJysOZdJHiAv+NinxYkNQPXSk9ftwG1wwMCtroGI7LLn4XRNdzIwKqUuxyP2MYkbza5jrqyw+QQuPHnWm2+fpgsmwOQUv8nComkxvvhKeY43kuDTJT4GNudwHjq5WY41jiEX0HGkBg7koQxDfzoL5MPqnwmOzIHNIIn8pKCOCEna/C/XMqgdkozS7oMxw7etZDp3z7qFpsKgSbDoqGFtVZjDaIIKNLEazQx9vN39m13STz9lFzmOVFVtN+j4NeoqZZjqblo0ojCJXQKuCOrkoq5SFVkhBz5fNBMsnf3IIZgiUlZFEiwDnawP3Lk34ExriZQ6ph+QCF1ZizpGCAUzwTxpi7WTn4+BT3itEiuE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90a89ba6-6611-17ca-8cc2-f764629a079a/test-blob-cda6c23a-7399-dca1-2670-c34191e11389?comp=block&blockid=dGVzdC1ibG9jay03MGM3YWMxZi0xMGViLTgzOWQtOWFkZS1iYTljZGEwNjJjMmI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-90a89ba6-6611-17ca-8cc2-f764629a079a/test-blob-1d6770e9-b5de-a91a-bf0e-4934d7431962",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:53 GMT",
        "x-ms-source-if-modified-since": "Fri, 07 Jun 2024 23:24:52 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:40242102-c01e-0054-3f68-b8b976000000\n",
        "Time:2024-06-06T23:24:54.7362831Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dd11c279-b2e0-23b8-ae26-74995939fadb/test-blob-2c1c20e5-3796-29e3-1e93-3a925f28e119?comp=block&blockid=dGVzdC1ibG9jay0yYTc1MjA3NS04MjFhLTMwY2QtNzMwYy1lNzAyN2QzMWQyZGY%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-dd11c279-b2e0-23b8-ae26-74995939fadb/test-blob-bb70ca3e-1046-4d61-c239-a86068f4fe8f",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:53 GMT",
        "x-ms-source-if-unmodified-since": "Wed, 05 Jun 2024 23:24:52 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:40242281-c01e-0054-3468-b8b976000000\n",
        "Time:2024-06-06T23:24:55.1291530Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f6e7103-f8fe-f0d9-ef27-ba6739303db5/test-blob-935e5f98-586f-7676-e722-94543f4a03ff?comp=block&blockid=dGVzdC1ibG9jay04NWM4YzY5MC00YWZjLWMwNDAtM2I4YS02NDI0ZTkzNDE3NjE%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-2f6e7103-f8fe-f0d9-ef27-ba6739303db5/test-blob-3334b31d-3cc2-4f12-6f47-bd906a0ad190",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:53 GMT",
        "x-ms-source-if-match": "\"garbage\"",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>SourceConditionNotMet</Code><Message>The source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:402423eb-c01e-0054-1468-b8b976000000\n",
        "Time:2024-06-06T23:24:55.4790357Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d822eb0b-3db8-a579-ce99-f51dce06a20c/test-blob-dcabecca-9aa0-77b9-6a9d-d5728a249ecf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jxfblsUYZKIWLSKKraybhg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867FE00BB672\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:24:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:24:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d822eb0b-3db8-a579-ce99-f51dce06a20c/test-blob-4cc77278-9ac4-3cbe-d93a-452502e29127?comp=block&blockid=dGVzdC1ibG9jay1kNTA3NzU3NS00YmU1LWE4YzktY2EzZS05OWZkMmQ5OTQ4Zjk%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-d822eb0b-3db8-a579-ce99-f51dce06a20c/test-blob-dcabecca-9aa0-77b9-6a9d-d5728a249ecf",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:54 GMT",
        "x-ms-source-if-none-match": "0x8DC867FE00BB672",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:402425ae-c01e-0054-3d68-b8b976000000\n",
        "Time:2024-06-06T23:24:55.9088925Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d822eb0b-3db8-a579-ce99-f51dce06a20c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:24:52.9186502-05:00",
    "RandomSeed": "92924607",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
