{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dff18dcd-dc53-1432-6dfd-509178b91703?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05CB48355A\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-c690fd14-975d-bbaf-bb2e-8253e4b0c6b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05CB56529B\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-c690fd14-975d-bbaf-bb2e-8253e4b0c6b7/test-blob-ef0f0f9e-f6af-1530-99d2-20e67d9633d3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05CB5A5FD1\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-12T01:37:21.5095761Z",
        "x-ms-file-creation-time": "2025-02-12T01:37:21.5095761Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-12T01:37:21.5095761Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-c690fd14-975d-bbaf-bb2e-8253e4b0c6b7/test-blob-ef0f0f9e-f6af-1530-99d2-20e67d9633d3/test-blob-42d9c51c-911c-2f16-cbf8-d6d87f50aebe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05CB60044C\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-12T01:37:21.5465548Z",
        "x-ms-file-creation-time": "2025-02-12T01:37:21.5465548Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-12T01:37:21.5465548Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-c690fd14-975d-bbaf-bb2e-8253e4b0c6b7/test-blob-ef0f0f9e-f6af-1530-99d2-20e67d9633d3/test-blob-42d9c51c-911c-2f16-cbf8-d6d87f50aebe?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "zQbuPN/eVm9jr1imblmoAvJnFAEAR6rO0PIcDLoDdwcimwxlfM4JniFJbakvgcyGt6EzYmqK0YVcH2zswUm1YDdRg9JNQ4UkXXbfttoAnk4mllUYzxWcmMqGCFxiHd3XlA1x3v35OHMbDwX0qhqrW4Adxir0nJAitOsIxzoowkCZCCLNj8BRLF3h/L8Qp+6v2q3bRFay4/d8TykR8XE580zEW6H33szAzJrMEqDREgz9WOyMTH3p5iUrUD+WPzrrqAlzS0xMt/vhG3i85dBXqz0cFJiFrKbP23R8zI2MKY1f4WqWXcbAsaHwqjEFLAFU1KUBeSuhZvxjpHDX0OpuVPHrXQRmwE12XGL3lAF0ya5zJ/jniq9hvXptM7lW6OC2glU/Gs/87hNYix3IqtL67trBZKnyhspBiZ+K+I2TH3OCQBGrNK7fdjjlj/+RmROnc0TflYM3xPyL/pEvcvWGxGuqRmnATrkr4e5wDPbKr++M4oVItIrvSnwVHzYdsANCX8qU51Op5ySKs7OVx7cFwU6hopBwPRDhuvvsqi+DDjHrLa0sNsic4vtgvQHWWoLFEF7ofA1z0iG6sy1XvTz1B6WCqZoJ2YqGBcCUEH8PCl95J5rQmpEjd1uMcoOaRSW/a7ZcVLDouzbTYnZN3sGhqqjO3pWhJG0TXzI/fWcH67+a1aXJs7aukGtk/Tcb1ZiZ6sfazGePHUZISPR+qT7PzHe3swkc2PfyH00qPSc1+ImZppKgLB9YCrhegGrBMOYslDDAYyKPfBLP6KwZZeAeElBq5AOsL6BXXqhRvVeNMe9m/aj3dZRnCil/0ENyP6XXQG0ZVkvjgGWQaAV5Pr67Qbe8smc4J528A9raLF5c5B4DeX3pdNqkg31CZgyO7ctqxI6MtYw9nxjPXFNxCVMGNIPmdsRB0s3cGC7q9cCRLhUOb2jPzy+RxdpkGReHM3oqPDKIp3cGKfLAr51eU6lYPi49YprrNmRUVbDq3Li2VeW0v7mNCYadCEV1Dh+RM3ExDNvoSdHgPgXOM1LGHEw5Clq3qZPwyjSon1lUdSdEwyE/udDdzgsU04C0v9Y01+v4OwTE2YneQEKmP6l3i8ndiXAxh2N8XDtPo9YTOwpddMhtWzkif+mXYHiONo5hnEe31jZmA0+IfN/JdTazywU3ScvhCTCPugmGmSbq7SWs7QaOW2TU93F45N9aWQqz45VzVu3CgJMXKBws32kpno66HIgvJW+gY1JaaCRQNWD/07WQd5c46mxzdjNIpxcHT0ZQoDyBg74m0/ObZxduxvK7LQyzmCf3gTIbvK88V7s6Uxnd/5UkflD3aqSjnYJVBK9AjHoLVLYfWR4KZccP6ns4YA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Y+eJ19RFxcq8kPhjSPDvSg==",
        "ETag": "\"0x8DD4B05CB661DE6\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:21 GMT",
        "x-ms-file-last-write-time": "2025-02-12T01:37:21.5865318Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dff18dcd-dc53-1432-6dfd-509178b91703/test-blob-b141df7e-06b2-a7c7-2b61-d6457ddbb57e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-c690fd14-975d-bbaf-bb2e-8253e4b0c6b7/test-blob-ef0f0f9e-f6af-1530-99d2-20e67d9633d3/test-blob-42d9c51c-911c-2f16-cbf8-d6d87f50aebe",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05CC60DA61\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:23 GMT",
        "x-ms-content-crc64": "i4+m4uKP6cs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-02-12T01:37:23.2297569Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-c690fd14-975d-bbaf-bb2e-8253e4b0c6b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-dff18dcd-dc53-1432-6dfd-509178b91703?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "163363653",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
