{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f42337b-fc05-1ddf-cad5-e772b75328d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:20:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFABC70F73D\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:21:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f42337b-fc05-1ddf-cad5-e772b75328d9/test-blob-fa610789-a7d8-104f-f867-f1f4a0f45c84",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 27 Jan 2026 23:20:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "p6thueVP/OxPq2Fesy086r4hZgxIURi689DGYgY7S66qqk31kqKeOxXwyOxstNwGOrZVo+Ow/lWSpsUUiZrmFF+ztAngR1cbgiv3WIgsTj/zwChP5qfK+av3YuvdirF6CrSMuf/TJvJfOiG4uKbMZViGIclyli236Lpe6ORrPfh5fE7Un5U/IJk18KyGEUEEK/2TV2joCHOG1dBFdD4O8/woPztY+MbDRgAvPaaBMNZ5Wbzn2OaPkHTaTcrE+qtbJvywXtIFrDM20BFoucvMBaT5yxqBJxsVma7Hfar8/ktU0xaq0dIEdK2JsAjVJ9epDkclyy+Q2v7hmsQkPS6IOtLFE+W0IjPS9Vdt93cTP3LW[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f42337b-fc05-1ddf-cad5-e772b75328d9/test-blob-18dd118a-ce97-9013-3476-a113c44abd47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-5f42337b-fc05-1ddf-cad5-e772b75328d9/test-blob-fa610789-a7d8-104f-f867-f1f4a0f45c84?sv=sanitized-value&se=2026-01-28T00%3A20%3A58Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:20:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFABC81DB1B\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:21:01 GMT",
        "x-ms-content-crc64": "QZcowVQb4Ms=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-01-27T23:21:01.9023131Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f42337b-fc05-1ddf-cad5-e772b75328d9/test-blob-18dd118a-ce97-9013-3476-a113c44abd47",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:20:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vthVos4Noc/r1zE6lXhrBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5DFABC81DB1B\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:21:01 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Tue, 27 Jan 2026 23:21:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 27 Jan 2026 23:21:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 27 Jan 2026 23:21:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-01-27T23:21:01.9023131Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f42337b-fc05-1ddf-cad5-e772b75328d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:20:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:20:58.7572544-05:00",
    "RandomSeed": "1632994174",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
