{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1cd1572-c366-85be-d0c7-6c20668ffb65?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD166B1D53E\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1cd1572-c366-85be-d0c7-6c20668ffb65/test-blob-653724d6-9e7a-e00b-3187-fc3de9787d61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "v+tv4jiR1m0HeS3a6Li7tFS1yB3aFrk5Iabh25POZed6Fn39CZooP0SnS7tvKafL4lbnxYLvC6kxNcGSsPrZORNGX9I6vau6jYjYM8v9yvj+Ffk856BkiwrUzNPZlo9JzRKoKcnUkCSrLTf5FtfdNGvJk5oBnFJy4dTIZvHX4Pb5jma4VaAuKoTUkbloa3Qz9pdoDwP0SDDANUj1DCoy1ExBAIhxJN/Km2gWLAuYCnZflG9abtHzBEY1+B9YOB1aobxsJ2vswtG4nnSa3hskJyvRlne62GZ7TvtBOyy/cWJLvIpPK+ILc9KeodBcWCYqENDzhqKmn8hW8Nlvqoal+CwSTyKQ1ftIxiKkHDeWH/XV[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1cd1572-c366-85be-d0c7-6c20668ffb65/test-blob-53141bd0-9c35-9003-839e-0b3c7b4a0de6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d1cd1572-c366-85be-d0c7-6c20668ffb65/test-blob-653724d6-9e7a-e00b-3187-fc3de9787d61?sv=sanitized-value&se=2025-02-13T02%3A54%3A50Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD166C1641C\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-content-crc64": "psk01H41oVY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1cd1572-c366-85be-d0c7-6c20668ffb65/test-blob-53141bd0-9c35-9003-839e-0b3c7b4a0de6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "52PTyr58VISFgX7yk3kvYw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD166C1641C\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1cd1572-c366-85be-d0c7-6c20668ffb65?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:54:50.1484251-05:00",
    "RandomSeed": "1126851352",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
