{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a10a3e65-58bc-55ab-00d5-b94b01ae4e42?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:56:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870A6673C826\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:56:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a10a3e65-58bc-55ab-00d5-b94b01ae4e42/test-blob-2f3f9524-294c-699b-1ffb-ca259fcd69c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:56:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC870A668888B1\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:56:31 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:56:31.9414449Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a10a3e65-58bc-55ab-00d5-b94b01ae4e42/test-blob-2f3f9524-294c-699b-1ffb-ca259fcd69c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-a10a3e65-58bc-55ab-00d5-b94b01ae4e42/test-blob-8a272ab2-8ab0-20e3-f26c-f8e02b7eadec?sv=Sanitized&se=2024-06-07T16%3A56%3A31Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:56:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870A66A7A4F9\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:56:32 GMT",
        "x-ms-content-crc64": "ccp/ZydrB2c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:56:32.1463305Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a10a3e65-58bc-55ab-00d5-b94b01ae4e42/test-blob-2f3f9524-294c-699b-1ffb-ca259fcd69c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:56:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NxXB2SlG/tKdbjHjEdBw5A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870A66A7A4F9\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:56:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:56:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:56:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:56:32.1463305Z"
      },
      "ResponseBody": "AzImJwMvAP0hvkEL92ATJFJJLuZ0yiLIJ/LvLru/wTDADTcj1IF+x7hcfeSw0ZAtqUZido+asDkPXv8QP9FBYvwRSukp8E/QymcuGEw+GFZhwYV1XEuhJl3+FHaCbYfmGhvonoemBLn2kqsna5fs0Uaprn5MzAaxcCOMKtzZTl3fR/0xVnnPur3LfsqfebrFEkIw2b4Jmk4UNi5jGtrdHURORySZu3vM2fPAgE08EfdoxxiZqXSe1qyvHB9La6Dj7mCFUTGWK1bHY//LSBoA2CU2+lPBRHTPsHF36p9bgW1T3ZHstsDG0pvB0UV1042SrkP5FHFNIarstqC/H0C3bOKRd2uIEyJlcCi3/3IvWt3[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a10a3e65-58bc-55ab-00d5-b94b01ae4e42?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:56:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:56:31.2064572-05:00",
    "RandomSeed": "1558798126",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
