{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b04697e6-ec20-f300-965a-362c48e456b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FF3AB5B53\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:25:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b04697e6-ec20-f300-965a-362c48e456b5/test-blob-aea3c5d1-7203-d755-e8a8-f6c7c016fcdc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:25:27 GMT",
        "x-ms-tags": "source=tag",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "o5gZMhXjkzIRhml81IRKPT07LBud0wvMNBcBnjnm3y7EYCQn/crG5QtV0QCbE7cnGvswvI7I+M+NTP3+4fT5KqY7uHRgIkBydEcPSAIKMCFf2oQ9tiOf+2hUmrDNyAMXW6ZaYFpDxvi7vUhGuK/Nghzbngdwu3SCm7wLDIePpatD+OxbsM/GHBOLgfjbWEO4hxiU8Sr8pqAy18WeN7pxLBicA8DDcdFMFIHz5Tp8p0J5U4Vu+7SBR1JMKdgKKORZGlXfPlWC9BVGSN2oCMFltjCDJOQ1AjBjG7tud0j5QeucmsvknGjs9l5vKLPX2D+Q5nOohwMAIxckfCOZFH3NTQbxC232gRrHli2Fxdp9jEJ83ZHVULrnnHazvyBEUuLgodqs5czSmmRY4PHWe149pu/gHTbs+P1LC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b04697e6-ec20-f300-965a-362c48e456b5/test-blob-e2879fc8-0587-8c90-ac64-396ef7bae395",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-b04697e6-ec20-f300-965a-362c48e456b5/test-blob-aea3c5d1-7203-d755-e8a8-f6c7c016fcdc?sv=Sanitized&se=2024-06-07T23%3A25%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-copy-source-tag-option": "COPY",
        "x-ms-date": "Thu, 06 Jun 2024 23:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FF3CDFF59\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:25:28 GMT",
        "x-ms-content-crc64": "JJmMjqhOzjE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b04697e6-ec20-f300-965a-362c48e456b5/test-blob-e2879fc8-0587-8c90-ac64-396ef7bae395?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>source</Key><Value>tag</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b04697e6-ec20-f300-965a-362c48e456b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:25:27.3266836-05:00",
    "RandomSeed": "1553369008",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
