{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4611c63b-91c2-a518-e9a9-55a65ef7c852?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867FEA18639B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:25:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4611c63b-91c2-a518-e9a9-55a65ef7c852/test-blob-81183c21-0001-3b81-984b-fff8a5b9b572",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "O5w+tF738Jge6WWswDeZXho60l3/0HxW4UmOmvi2521HxL0JewATOXNzn+pkrg27zamwGVmnPGsf59MUaFWfaAH4ZPx6kOIZJpjpizCS8jI808xPBs0UoIhS6ZQt/tAd0zbobEoRQTzHlvPAvbA6jfSg2JSJUGI05MR0J6dO7CfHy7f5qYboKpKQiG/aVOLXGFyfjCU8lILUtIeFnBmVeKnM+PL4QONuuK4C+MjyWY/hnA9Kr18BizY1JfX+Yo14+g/FDlvw3td4MNR3OZy64Vr4owAKSslKymy8wxvucFYgiv25LUs08b030n6LiVKaekOaBr6NbrBFe0PuMxu8isB9V6+eALQOw7JC0nhLvkAaIUjXU2mXkhxNc7EIRb2ie0e9DTGj+3qOi0IMS5s4+rwC1BLS5DZW5c[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4611c63b-91c2-a518-e9a9-55a65ef7c852/test-blob-be0c6430-cad3-ce5a-f367-07cb532b043b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-4611c63b-91c2-a518-e9a9-55a65ef7c852/test-blob-81183c21-0001-3b81-984b-fff8a5b9b572",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "InvalidAuthenticationInfo",
        "x-ms-copy-source-status-code": "400",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Authentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:40246715-c01e-0054-6c68-b8b976000000\n",
        "Time:2024-06-06T23:25:12.8572509Z</Message><CopySourceStatusCode>400</CopySourceStatusCode><CopySourceErrorCode>InvalidAuthenticationInfo</CopySourceErrorCode><CopySourceErrorMessage>Authentication information is not given in the correct format. Check the value of Authorization header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4611c63b-91c2-a518-e9a9-55a65ef7c852?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "726574245",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
