{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abdb4ec4-4a24-37fe-564e-e883c9b42041?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B068D025F\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-f3b81b95-63ab-3211-73f4-a2be74c1a5f4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0693E42D\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-f3b81b95-63ab-3211-73f4-a2be74c1a5f4/test-blob-6ac66e40-ed8d-377d-4f2f-82227f93a80c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B069ACD17\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T17:17:48.4884247Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:48.4884247Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T17:17:48.4884247Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-f3b81b95-63ab-3211-73f4-a2be74c1a5f4/test-blob-6ac66e40-ed8d-377d-4f2f-82227f93a80c/test-blob-86bbe555-c518-5678-039c-bb8d38f0cc22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:47 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B06A4B6B1\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T17:17:48.5533873Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:48.5533873Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T17:17:48.5533873Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-f3b81b95-63ab-3211-73f4-a2be74c1a5f4/test-blob-6ac66e40-ed8d-377d-4f2f-82227f93a80c/test-blob-86bbe555-c518-5678-039c-bb8d38f0cc22?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "dTnDqjBCgnadjZbhx6WdvoeXjg9HXIUeTBfzTm44N904ieNh1Bsgszb2Ji7uf4SfPyHwfqn6shizpF4YTzQHZFa4qT7BO+prdtvZUDZXMM2TUw5NSLk0PtbLrS+9CGQC7sHXNtZF3QQ3hAfOIWLiXHSRhPsluhydg2tn9o26rm521mF0f/r2TXYKFcOxZRx06FG6LIRp3TOkOrJr3ud2fNaZV0sAbt16mjaFGqRZ6x5O8g48AIHpDfkuz0RHi2+OlJntGA3RdHp0QJJN5MKOS0+UHOvZOXxUr0pS0Z6YMg7H9oULbNMQfH6TyL/vnCk2n4P1s2+EtVsdmGjDf6Lb2w2Ehu49g998g59tRXC8ZBMhGzIao3+fQ0Aq7tNqTf3bt+yyaxY7+RukeC/PF3DqYDNVomNvwTiO5UKtE5ULETaikY2ECvn95SIWdipQzyzPP42fFauZa/a0JIbTjeaGmWf4LYXiZlY6WLxAWEsOPhUW3tMHa/yLCCWX0OZzKVg8kNzDV6Km7Nk2Zb3uWBKrpeVwvK8Sfi1rbCVgS5Zwxy5kBMhuS+ZzcPH50AY+na8S6yoAAm2pKhGvWOp8RaBDxp6PilRKPVr//Uu9GK0nLM91TWBrb8TAu9q2v/L79ipQtgpnrxJax67PAQUh6xFkhysbBvdA11bZzs96k35nAwYhbGKjv3y8G4WxnG6/n8/IUjfH4O8yEN+zjuFD3zQwZ/7+AH+vwMivXutyjzroGS//sUFGoCIW7lyC8DGbeTtRgTVwwJ5QGZJvGIIEwIGkynSyQy3y6cbb6BIiLNCWE+SvIA4Ed1mQr5iv14ifES3b3SW96DUOXpdvlNiMLezB2ASdVaByoFMaIZSVQxI+O9bkR0+q2SuvocF2leKBBIGr7f6EAryNaD3SoseheBuEMVkBqOadF//Z7rPf/ApwmR0S6VYTuTkZVt4R2DdjDSil8WSJf1uaDtb/qhMIrmwyYQipjo/EcXcf51EIiz7HdeGLOQqm5hrCeNuAEw8lEahy33Yvun6Z4IDtapcKkoKXODUyfXRhjHvu5xa0RF1o+daolazHmLpi8ViJuXyCt+VY6NvZ85MzEFL7QNNo5ZwihXDBYfzVz5960Isc2NP+ay8wW1uCjgZDdYVZzFfn+Qy8ZjMMwVboghk7XyIHFzh//NSjN4lAoPZpfex3fANIk9Z/YHGf8qrYR9hCRi/kO11M2s+CQ8GCe8Y9o0NqcQYW88xLiLbH3woqy++w/lrHhEGOKqEzxU8U/OSrYk5nbtbSLFJjmLOmhfrEWHjS0X1rdR4B3EZl4i58NovRG327w10Z3tEIZOyO56SmbmzWQipnP+wwZZGPbUkk5mIn1Gl9CQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CnDJtyMxXS7IPqbp73DE+Q==",
        "ETag": "\"0x8DD3C9B06AB4568\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:48 GMT",
        "x-ms-file-last-write-time": "2025-01-24T17:17:48.5963624Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abdb4ec4-4a24-37fe-564e-e883c9b42041/test-blob-33783057-7f4a-44eb-796d-0bef48ed4fda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-f3b81b95-63ab-3211-73f4-a2be74c1a5f4/test-blob-6ac66e40-ed8d-377d-4f2f-82227f93a80c/test-blob-86bbe555-c518-5678-039c-bb8d38f0cc22",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B078CB27A\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:50 GMT",
        "x-ms-content-crc64": "u+wyyoYf5DM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-01-24T17:17:50.0737146Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-f3b81b95-63ab-3211-73f4-a2be74c1a5f4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-abdb4ec4-4a24-37fe-564e-e883c9b42041?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2147383880",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
