{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf5beba9-a446-dd76-815d-b3177fddedc3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AB4AAF875\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf5beba9-a446-dd76-815d-b3177fddedc3/test-blob-b22c2545-c7a2-e36c-f74a-d46ba4eb0406",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "OQ1E9vg6WarDJy+lXbMg6m5Hw382fy5St/3k6WyebwuuX6G4082vCsyC73qXx4VEKer9XCeEz7nf8j/7VW8+Jbck9v4RaBehmLiytJCzuu93oMCBoRLjKY/o2OCNs7RdRMnCctCHMsHTW8Ru0hspLDdPhLWvvISlQcxuKY82E+QDVHDG8Ecf727+rUVNdFd0vqypPi//rodFHTEDGQkynUjfan2qYjvvMJRHsA8/V8x1+mrijdW0BKbpgdMWG9ZkzBD8bgnZyVxxuQ6buP14BsVkjh6eTxBzK2bXweFo2RS+4uT+QunDmzEOcdPGGUuocHsNsYy4xnwAiEKiAgd6COD53dYZecPcofLtj908rBEa[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf5beba9-a446-dd76-815d-b3177fddedc3/test-blob-dce02319-4034-1409-f6b2-65dac617c3a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-cf5beba9-a446-dd76-815d-b3177fddedc3/test-blob-b22c2545-c7a2-e36c-f74a-d46ba4eb0406?sv=Sanitized&se=2024-06-07T16%3A58%3A42Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AB4C0C941\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-content-crc64": "ogny8sjBZvs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:43.1723841Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf5beba9-a446-dd76-815d-b3177fddedc3/test-blob-dce02319-4034-1409-f6b2-65dac617c3a8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1GGC10KsFXLbWSrn763DyA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870AB4C0C941\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:43.1723841Z"
      },
      "ResponseBody": "OQ1E9vg6WarDJy+lXbMg6m5Hw382fy5St/3k6WyebwuuX6G4082vCsyC73qXx4VEKer9XCeEz7nf8j/7VW8+Jbck9v4RaBehmLiytJCzuu93oMCBoRLjKY/o2OCNs7RdRMnCctCHMsHTW8Ru0hspLDdPhLWvvISlQcxuKY82E+QDVHDG8Ecf727+rUVNdFd0vqypPi//rodFHTEDGQkynUjfan2qYjvvMJRHsA8/V8x1+mrijdW0BKbpgdMWG9ZkzBD8bgnZyVxxuQ6buP14BsVkjh6eTxBzK2bXweFo2RS+4uT+QunDmzEOcdPGGUuocHsNsYy4xnwAiEKiAgd6COD53dYZecPcofLtj908rBE[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0c4dc964-5565-745f-3000-3b868c5af7f0/test-blob-40dfe56f-9c75-78f5-000c-60abe539bcf3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-0c4dc964-5565-745f-3000-3b868c5af7f0/test-blob-6d9ee35a-c40c-8855-d8cd-a65dc630664d?sv=Sanitized&se=2024-06-07T16%3A58%3A42Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:42 GMT",
        "x-ms-source-if-modified-since": "Thu, 06 Jun 2024 15:58:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AB4F84BF9\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-content-crc64": "kl0TrgYlvkM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:43.5371781Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-98bd62ce-cd2b-e578-f159-f418417a0b9d/test-blob-92ed1ab8-0e46-5c54-126e-a6711d6aad51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-98bd62ce-cd2b-e578-f159-f418417a0b9d/test-blob-3f4cbac4-9b21-067e-c465-6afe7261e1f0?sv=Sanitized&se=2024-06-07T16%3A58%3A42Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-source-if-unmodified-since": "Sat, 08 Jun 2024 15:58:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AB532185A\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-content-crc64": "nYGvZb+jI/Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:43.9149658Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c8794886-c15f-695b-9b08-9f7f6ee77d51/test-blob-7ae83e7a-9e81-34cf-613a-7a645dc370c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1BKmSlSMZad+Uzd9ijrwcA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870AB55B453B\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:58:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:58:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:44.1848123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c8794886-c15f-695b-9b08-9f7f6ee77d51/test-blob-9a13c299-f502-f317-e526-5716544254ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-c8794886-c15f-695b-9b08-9f7f6ee77d51/test-blob-7ae83e7a-9e81-34cf-613a-7a645dc370c8?sv=Sanitized&se=2024-06-07T16%3A58%3A42Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-source-if-match": "0x8DC870AB55B453B",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AB574BD00\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:44 GMT",
        "x-ms-content-crc64": "0S7klpRWTB4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:44.3517184Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f4d97afe-9499-fe22-c525-c0dd71b29f0e/test-blob-30f65d91-4b49-c54d-a33e-b9f96c5fe178",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-f4d97afe-9499-fe22-c525-c0dd71b29f0e/test-blob-17a5c26f-7f6b-2604-1c15-4716ed7d7b91?sv=Sanitized&se=2024-06-07T16%3A58%3A42Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-source-if-none-match": "\"garbage\"",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870AB5AD50FD\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:58:44 GMT",
        "x-ms-content-crc64": "KtXHkgxYvOM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:58:44.7225085Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f4d97afe-9499-fe22-c525-c0dd71b29f0e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:58:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:58:42.1632198-05:00",
    "RandomSeed": "1308829358",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
