{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a565be7-0e2b-4a1e-5c6a-665a6b8c8fe6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD15A050938\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a565be7-0e2b-4a1e-5c6a-665a6b8c8fe6/test-blob-435b6283-3cf3-c8dc-83f3-f34b636baa4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD4BD15A0B7983\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a565be7-0e2b-4a1e-5c6a-665a6b8c8fe6/test-blob-435b6283-3cf3-c8dc-83f3-f34b636baa4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1a565be7-0e2b-4a1e-5c6a-665a6b8c8fe6/test-blob-d9d8e028-fb4e-f7d9-a954-a88186377d24?sv=sanitized-value&se=2025-02-13T02%3A54%3A28Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD15A1D66D8\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-content-crc64": "1kJmssM+4qw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1a565be7-0e2b-4a1e-5c6a-665a6b8c8fe6/test-blob-435b6283-3cf3-c8dc-83f3-f34b636baa4b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD15A1D66D8\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-blob-content-md5": "iQytfscLUy0dPh8QXa3+Dg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:54:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "ds8ZpjxulihOkiTY6sE2wS44gzi+ePhbGqazUWXysVozxKHxzn4ykLZPtZmxyZ3HLNhwXNcJjf7WvoyVukXDXODJpCYfRfOvBfOBbsJfqlEJ7CSMgVWDKjajGw/yndVxjFi45yR2p+fkwVbkhx87dxM6i84gNtuLRnrvfCnjvWgdEOJppsItk0Q9p8D+nqIXZ6P8uBEHUFV9LKGqhyu9AQPtxnc80dFRDfiJ444ajKfY1xSG5wVWFsCM7HkhgwsZf6a8Edgr25bSqqoYfmzGY6D50a8WNxn+lq+2sOVXL4rsb2ToXXvOrPx+szxaPphTxYjZJ7FcA0iMvXoodCqwenogKw4I3gUkKiWzl4PcpFgXY+pcfgjZkGwcW6ABpTjRzjnBORKJSuaDtfyLqWvEsBkhERBAU/xyR5ui7INlIoTs4clKGmpGjhkD2ckLTecAV6uG35QokXo8T/J2511jHZJ4n8eiepWu2oP3PHkzZ/qzoZXY3kLwxE9ODct4z6e7oLw3k60fXtwW2AURMFUACej3w0XIiz5PiNp3U2zJNgrbO5y9/NRMk0O4wgY93pP6TQTjgAxh8xV96ArTqApvTKL6NfW4Qw0Uqy8BD8g4EalGfAVo5rX+ekeHPxPJees4SHVkQ6meQQr2z9XdYORMRdZhjCsFB2bs/LutMQP5SzFDycZT080AqDv7cRfgIBpjOvo9Z+3AM0EPd0ft8BAG/YOjmZYd+XEIYePwCZVODNuhSvcJvONEg5aFQ1yGErgr9XSTPIaDRkGINAYKzymrwGprTKUY/EGgXxYAmLUVgk4qxRQhu9BVHQS2gYfdObNs2YPxGsYSEvky89xwg62LcrG43woVigSaFi6hYnq5wyZilL4yJGeHF7Ma7sjz5JpWKg/VJFmpVk9+VgSXca9+eS+2De7vWE1KMMhX+ps8pzGTSjdr457MuT1vtM5j76YDnHWYPNasZ9LBi/SRUVuzQa7SBCZ3E5WR6lSxgKN/5kAhU14mo2tb5+NlqVepOmfhu3IfkOt/i4jfB1GB+uYuQqS0b/78jZ5DdxxCEmo956/tz8QwX1ZUosjWRpwZ2ez9Nmez9cto5S7U3BnOPHgeoR+hlCsh/eJOX801JkYCKZ0wRdwDivLkhOqWXIM8hmVPt6V8d0XB2ziEZJX9M77o0rJ7nvecGxYtvQ9Bi6FeEtlo5m+ghbJYb2qjfiZd5lEsrorRwOdtspyOT7o1f1CWJVK7lUxOR0wAIy+M+Z3w0Na9FdwXjVLy+jTTEjb3Iu8aDFjUoVEF3Wc90J244bn/nX/jeGpzf5j/yZsYezQWCAA/cuxEHC6EuDd12ry0ORl61HS3E6qFpo3A1Ne27GIyJw=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b8c14aa-7271-8237-9f68-953e1deb2a1b/test-blob-7137ebc2-481f-6065-d60b-ecf0c1379465",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 12 Feb 2025 01:54:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1b8c14aa-7271-8237-9f68-953e1deb2a1b/test-blob-6db1e776-9a67-15d9-85c8-3fd6512b2b76?sv=sanitized-value&se=2025-02-13T02%3A54%3A28Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD15A50E779\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-content-crc64": "kzYu0rqOCeU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e927c4e-b704-0d93-25a5-a116668a10fd/test-blob-fe42a274-674d-af22-fe30-24c4d536cd89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 14 Feb 2025 01:54:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8e927c4e-b704-0d93-25a5-a116668a10fd/test-blob-24d513e0-0e50-2404-9729-2bed5fab639e?sv=sanitized-value&se=2025-02-13T02%3A54%3A28Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD15A826E7B\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-content-crc64": "upEndp9QBxY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d0842de8-88d8-7ad8-0431-d16749307e12/test-blob-e31b9fb3-67b2-00a6-111f-e722930976c4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD15AA2CAA0\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d0842de8-88d8-7ad8-0431-d16749307e12/test-blob-e31b9fb3-67b2-00a6-111f-e722930976c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD4BD15AA2CAA0",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d0842de8-88d8-7ad8-0431-d16749307e12/test-blob-7b86e9a8-1598-1ecf-59af-b4122266eaac?sv=sanitized-value&se=2025-02-13T02%3A54%3A28Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD15ABC509B\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:29 GMT",
        "x-ms-content-crc64": "C/p2PkfNChY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f91fcd17-546f-4750-d6b4-689ff3612f4f/test-blob-10169874-ac4d-241b-c2f3-a7c01e475f58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-f91fcd17-546f-4750-d6b4-689ff3612f4f/test-blob-dc1b1dcb-5eed-9263-3fd9-516f111da2e0?sv=sanitized-value&se=2025-02-13T02%3A54%3A28Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD15AEEC0F8\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:30 GMT",
        "x-ms-content-crc64": "QRZA5sFXuVo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f91fcd17-546f-4750-d6b4-689ff3612f4f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:54:28.8833553-05:00",
    "RandomSeed": "1729708922",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
