{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf8fe205-f80e-e238-31d6-2d8062d450c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870A1E858CB8\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:54:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf8fe205-f80e-e238-31d6-2d8062d450c5/test-blob-24a9e4a2-8987-38b4-b8d5-f6d282f83064",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Hr2dzSNqdMPQcJLihI2JPGH13Y1CQIyc109D0V+uxbTbkrPFWmJB3L5uDbtyKtZTLO6kfSZrIt4wAPbTJqJkIavdBvLaxOH+tAHP0zPRKq158KRxCUiOcHDUlFlsbbUbCusPlSPkeGcMpcgkm06rXtZIWjb+8xdjT5aCBS+HkkdMtMlHwpSKlHg8ZGR/adQhKTaDIxJ+HBbTq0WMYnI4hBKB1+eEY5xBvsW9wY6z5OXCYNz5BG80zZeydBZP/TIFBOBR/ZLtnMWZQWRMwFuIH8dgygGWPn+jTQlP0e+G8sGTuLytYuZT1cMXYMMK5ww8KlRO7jMxb8ZhrbCIncrVE06juQif2r3hDPQ+ft68mWX8[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf8fe205-f80e-e238-31d6-2d8062d450c5/test-blob-dd323246-052b-5a0c-e0b6-2a057204f964",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-cf8fe205-f80e-e238-31d6-2d8062d450c5/test-blob-24a9e4a2-8987-38b4-b8d5-f6d282f83064?sv=Sanitized&se=2024-06-07T16%3A54%3A30Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:54:30 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870A1EAF9771\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:54:31 GMT",
        "x-ms-content-crc64": "btrubZmm3Fk=",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:54:31.4014577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cf8fe205-f80e-e238-31d6-2d8062d450c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:54:30.4750677-05:00",
    "RandomSeed": "1672514363",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
