{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a59a4f8a-1a41-669d-a06e-84284311d90b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD1590C6EF3\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a59a4f8a-1a41-669d-a06e-84284311d90b/test-blob-c699e50a-de21-179d-a180-0c48017e86fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-tags": "source=tag",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VpcU+QsvMRm2R82iT/IPnI5qbCYRs86g/TGC/80VCte9tPJqaYzwR/4WOWucRRhREXX5ol2cRqLJdPzarTFMoDz25Zr/pTMBeSQo+3piA7gYMO5YHGd5IW5PoPWQFZrMypgupmB+UWxB9yg5c0soZnBDwnxD84TUfcMssAQ+cWSJWzDhNF1Xmt6BFiQ/P60jJzqETFMeiNYTWSmcUqFnA4bEsBgaRjET7Cidwd1glT0WCIjKuSQQa9JZztozu0c8GhKeeo+VCOEIcGArgMb4s8TshkkZnUphs0RFwHhX4DDgYafLwRqtgf+mwUjE5esLYBoWRzT+I33IPMdLT0dpsZAvSx4fLfGpPgVJctwBnc1ZOV9dQZj84T0qA4VTYjG4PQ+4lJrM7DMobAgvtLCgxp/58RXnC3D3M[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a59a4f8a-1a41-669d-a06e-84284311d90b/test-blob-ef2f3077-6ab2-68e8-4421-11880cc9c257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a59a4f8a-1a41-669d-a06e-84284311d90b/test-blob-c699e50a-de21-179d-a180-0c48017e86fb?sv=sanitized-value&se=2025-02-14T01%3A54%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-copy-source-tag-option": "COPY",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD1591CF3FD\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-content-crc64": "cPGVbjrMPhA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a59a4f8a-1a41-669d-a06e-84284311d90b/test-blob-ef2f3077-6ab2-68e8-4421-11880cc9c257?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>source</Key><Value>tag</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a59a4f8a-1a41-669d-a06e-84284311d90b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:54:27.3652716-05:00",
    "RandomSeed": "870060974",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
