{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7398517e-4650-7c0a-b417-08ee7b0ea57e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE799886CFDEB7\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7398517e-4650-7c0a-b417-08ee7b0ea57e/test-blob-75d55a4b-1e95-4d97-cd9b-53bd97d15d44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "OanuxJruQOpIr4f9md5rAFcL5X0IvfP6dNXKbq/4a+NPIYTu4piqxfH7U2HJ6GbMu25I1gTOKXu180/FJNI7T0OjrXhZfR2+YCCMDGmSMYxu/rJAsJXfgPcJOO9I5aEewAQeJjrucj5RiXXkQhwRI8LDViUf+p6uxCyAUEQudnt+bUxlcwpRf4x07icg+z7b9xQshI57/8Vlb2IObiH5IhL5ZdXQq6+3cdeZqwx3jsjupFgwAfHtA26GAAOoQxBqessUJpVpCkxkdBO34VO57eGZIMnIyCAgDGFmSqqsDy3GLzFAYmcyhJoMzI3eNiEazBMiDyNHobGq8xkzAsChuGXm8LIieYp6Zpsvu/yTQtVA[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7398517e-4650-7c0a-b417-08ee7b0ea57e/test-blob-9be532b3-5011-00e5-aa26-6f9fe1ea4c31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-7398517e-4650-7c0a-b417-08ee7b0ea57e/test-blob-75d55a4b-1e95-4d97-cd9b-53bd97d15d44?sv=sanitized-value&se=2026-03-04T03%3A48%3A32Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE799886E0E879\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:33 GMT",
        "x-ms-content-crc64": "32vhOxsayVI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-04T02:48:33.8065529Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7398517e-4650-7c0a-b417-08ee7b0ea57e/test-blob-9be532b3-5011-00e5-aa26-6f9fe1ea4c31",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "CpZe3aiubAjbmwFmUB/tqA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE799886E0E879\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:33 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Wed, 04 Mar 2026 02:48:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 04 Mar 2026 02:48:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 04 Mar 2026 02:48:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-04T02:48:33.8065529Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7398517e-4650-7c0a-b417-08ee7b0ea57e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T21:48:32.3819536-05:00",
    "RandomSeed": "1704377196",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
