{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f78fae8-af5c-ad30-6e60-28de716e4b22?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD166505969\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f78fae8-af5c-ad30-6e60-28de716e4b22/test-blob-98b48ecf-cdac-70ae-a48c-f7f3872e2e1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-tags": "source=tag",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "xhAy75kvfacgbTEcxUwm3kW1sQmZ/4dZFG23qR1mzZinoix2/D+GaIDAgiJEXYKV3NAD7VnauseJ2doseNSJuaCZdCIfsOIGL0mI2H1kFLfrIc1MY98+zehl7SJkWe+sNsiCq+lfdSvu/L4QUuFJJMUjQVYHPFbAWqc6usK/odVZ26K14mnNi6yhXmYgLXoGG8ldQBiYpflxwVBCJbtpL1vptnY/lEFbVbaqZt7woCwsNJ/5YWC9wDaoQyAYi2XwNy8LN3cExoeHAepi7j8bgSEjFfEcb836LPU/l1AgQ8pQuS6v5Wi1KG4YcWB2WtL3jML/9HZ01MhhEAuBxC42Zr4gETQQbJy4be2DBP1thNEjRwuNIU5T3OVlTdRcNGM/4QuhVUme5iAmRoaI8NDK9Iw6XnwjqEVvz[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f78fae8-af5c-ad30-6e60-28de716e4b22/test-blob-a268fe98-7590-4779-e102-af48a30be454",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4f78fae8-af5c-ad30-6e60-28de716e4b22/test-blob-98b48ecf-cdac-70ae-a48c-f7f3872e2e1f?sv=sanitized-value&se=2025-02-14T01%3A54%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-copy-source-tag-option": "COPY",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD166604FB4\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-content-crc64": "vrKql5auQJI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f78fae8-af5c-ad30-6e60-28de716e4b22/test-blob-a268fe98-7590-4779-e102-af48a30be454?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>source</Key><Value>tag</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f78fae8-af5c-ad30-6e60-28de716e4b22?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:54:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:54:49.6202249-05:00",
    "RandomSeed": "1905822978",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
