{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b4d78102-2d47-6d50-2dc4-6b970fa48ad5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C5DC4C55265\"",
        "Last-Modified": "Thu, 13 Feb 2025 18:39:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b4d78102-2d47-6d50-2dc4-6b970fa48ad5/test-blob-bce3f7d6-462c-aa26-dfa3-27f7e771afab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:41 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "F6SRBqxiDiP4I9XDvQeiNuNEHGlo6Q7GnKs8eLvKseFbBAZjF7k1eG/lzXrKDpXOncFPyumjHC6VymkBJZZoLnH0Z7gBPh8qDqP6gxuU/I4Wbtv5eub4t+jYzkxPNFLZfZ8I1qfczV6iJbxFqZgSAc7b6re6brOK+6/PKHDS29pRIQZ7iybmOaB8VlUqsw5Qxc1+c0mbHg7sfdr3DaTu0Erh84eRlnWn9LEWPhddYEihf2KjVGeQtgP4jw1M7yz8joYLSL+Gvi5X1n+XhN/2jh2RVo1BSnviUT2EmQdoWwWFGq+RUheIGsEzTH7o+DEjAQDvupmeukMKKPeBAiQn73p5EmowZTwGCDvMDf79+lgMYJgHeKFr5l9rhikfBhicDFwDbubG85zD6LFd0axFDC6fdaGMIHbZDi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b4d78102-2d47-6d50-2dc4-6b970fa48ad5/test-blob-bce3f7d6-462c-aa26-dfa3-27f7e771afab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:244d0c95-c01e-0037-1846-7e7218000000\n",
        "Time:2025-02-13T18:39:37.4503730Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b4d78102-2d47-6d50-2dc4-6b970fa48ad5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1848742042",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
