{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61d3a1d0-b601-d2d4-55d5-3b47cece738e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD2276FC8BC\"",
        "Last-Modified": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61d3a1d0-b601-d2d4-55d5-3b47cece738e/test-blob-75c62c80-c228-a552-1dd8-2159ba3ea150",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "GFKJ3Dx/8Nw7m9Kgh+Md7BuIiVspnBI1sEwzMPErAKNeolY1p+FcUW45yKHCEZRBXsaqoXXObnw/UyvwTMDrEJsvQeWN6EQ6Kzjs79Rwc5638dEqgV4ukDTZ9VS1bAStTrcGk8+vtHaCb3Y94X6nz+CNOFruwI88ALGws/Lvhb8zP6EcauDPCD1aqBHo8a62MiZ0KDSqvo0oyZIe/gGEkuq3CaLci2X/vTAclBh+VA8C+oDLe12KiIAU86BOsAk81hUmMOcM2abBdGoEjip1qnWCHASAuBeNLIEhyJfEsQ0m370CVyMo9SHaCQbzhvpVn0kqy5QFvB3+mQRl6hEP/MJc3a5tclJRWSbjpa4QmqWHzClNmeZ4ISOfA74fwgsPyg1DlqlL6Cz22XFuIhZv7v5e3h7owWLc5L[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61d3a1d0-b601-d2d4-55d5-3b47cece738e/test-blob-75c62c80-c228-a552-1dd8-2159ba3ea150",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:1db98a78-001e-0065-5cbb-7d0ef0000000\n",
        "Time:2025-02-13T02:00:13.5128875Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61d3a1d0-b601-d2d4-55d5-3b47cece738e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "352763451",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
