{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-516da0e0-6bc2-a679-5dfb-0ab5a3346650?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C5DBFC62FA6\"",
        "Last-Modified": "Thu, 13 Feb 2025 18:39:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-516da0e0-6bc2-a679-5dfb-0ab5a3346650/test-blob-d913f3c2-b193-60c4-19af-071b853e9391",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:32 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Sa2pkzlTh5Y/N3X0G58fZPbvDNbFc9gxa+usjQvI3MiJBduTCyTfuifi4IGCEfD5A7z1EI8+ytXVdydNp/qKd1qtahXEjFjRD1Gv4pNXrlr7solO0sw4SzsFvZP9kRMtV2km1abbNXdjJAA9j+hCfsjNUvVwO6SOdB/avs7E1H4+gooqMNm0H30S667M+7tSwz/KMD8evBvEl2GGAXaonk+C/wxdF03vGDJ3XlD2wnlkh/uO+aQ+IMVuZZl3Lh0GaUxeSvyu9avy2xcMpl7LzdXoInp7GaSqQ95H7rG0d+kVcfQEl3d8tZFPnB6MMXpno5jDjwyjik+nswYdZwb5PmMu9zVpxjZda23oLH2GHhFk30oZ8OfdceakXeNxX02LVV67XjpE/d1hZSSful7SIZX0uYi73017UI[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-516da0e0-6bc2-a679-5dfb-0ab5a3346650/test-blob-d913f3c2-b193-60c4-19af-071b853e9391",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:9846e874-d01e-0066-0f46-7eef94000000\n",
        "Time:2025-02-13T18:39:29.0704276Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-516da0e0-6bc2-a679-5dfb-0ab5a3346650?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 18:39:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1246110331",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
