{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-731d9fbf-ef66-bcef-9201-f775395cdc83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD227A21A31\"",
        "Last-Modified": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-731d9fbf-ef66-bcef-9201-f775395cdc83/test-blob-29ff2960-7179-bf87-92c5-99faa7b4f5b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ZZ4GFXLekkKcq4Xfg3USsWegMVnaWNZzS9XXMfFdFrQFdawN20eH67qYADIsuRN3I3rInb46nQzIksqcBmFQPpXQ2g7JBdYgGEafQlijR5LBYA13lHn2ytefREh96uRYR8GcXN8Erh2jqIR4m1u0JUo42qZT2aoc2g83KcCNoy5hRvqWBuuyvbHw0+z0fS976x/+RQ89BG4WgIHPzYRdFQRVFlVhHR9fhR30YwW+J1zguz6hj14eJEGLf4Zp4+8skr7nnmfZGs0Anr/xSKFpWFgl7hFGvIWmN/IT1Z6Z9qIuyNFG1oj1BqFxoPGeLdugIiYtQ/Te5tY4QWd0xUUuZqgdw4DPIoLPMOdv1BuUBwoWc7J3a7KuT+H6DpQhgEBcQjpJgWlb0P+kXRMMbhG6ozpdXlKSt/v1bn[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-731d9fbf-ef66-bcef-9201-f775395cdc83/test-blob-29ff2960-7179-bf87-92c5-99faa7b4f5b4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:13 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:1db98aa0-001e-0065-01bb-7d0ef0000000\n",
        "Time:2025-02-13T02:00:13.7937438Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-731d9fbf-ef66-bcef-9201-f775395cdc83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 02:00:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "79671005",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
