{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171742943495407180?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Jun 2024 15:43:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC83E3FA2F4513\"",
        "Last-Modified": "Mon, 03 Jun 2024 15:43:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171742943495407180/srcblob/%252%2B%252F171742943579101225",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 03 Jun 2024 15:43:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DC83E3FA450C94\"",
        "Last-Modified": "Mon, 03 Jun 2024 15:43:55 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-03T15:43:55.9411860Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171742943495407180/copiedblob171742943591402637",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 03 Jun 2024 15:43:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "AuthorizationPermissionMismatch",
        "x-ms-copy-source-status-code": "403",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:8077d722-201e-0068-65cc-b5f5b1000000\n",
        "Time:2024-06-03T15:43:56.1439251Z</Message><CopySourceStatusCode>403</CopySourceStatusCode><CopySourceErrorCode>AuthorizationPermissionMismatch</CopySourceErrorCode><CopySourceErrorMessage>This request is not authorized to perform this operation using this permission.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171742943495407180?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 03 Jun 2024 15:43:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blockblob": "blockblob171742943578904774",
    "container": "container171742943495407180",
    "copiedblob": "copiedblob171742943591402637",
    "expiry": "2024-06-03T15:43:55.911Z",
    "srcblob/%2+%2F": "srcblob/%2+%2F171742943579101225",
    "tmr": "2024-06-03T15:43:55.914Z"
  }
}
