{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175788188754601919?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF3CDAE0EAE3D\"",
        "Last-Modified": "Sun, 14 Sep 2025 20:31:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175788188754601919/srcblob/%252%2B%252F175788188764500328",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDF3CDAE1DE584\"",
        "Last-Modified": "Sun, 14 Sep 2025 20:31:27 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-14T20:31:27.1528591Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175788188754601919/copiedblob175788188774701968",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container175788188754601919/blockblob175788188764504526?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=d&sig=sanitizedsig",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "AuthorizationPermissionMismatch",
        "x-ms-copy-source-status-code": "403",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:9c0e6909-a01e-006f-40b6-25c042000000\n",
        "Time:2025-09-14T20:31:27.2507457Z</Message><CopySourceStatusCode>403</CopySourceStatusCode><CopySourceErrorCode>AuthorizationPermissionMismatch</CopySourceErrorCode><CopySourceErrorMessage>This request is not authorized to perform this operation using this permission.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175788188754601919?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blockblob": "blockblob175788188764504526",
    "container": "container175788188754601919",
    "copiedblob": "copiedblob175788188774701968",
    "srcblob/%2+%2F": "srcblob/%2+%2F175788188764500328",
    "tmr": "2025-09-14T20:31:27.747Z"
  }
}
