{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764701368002312?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9DE327A2BF\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:03:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764701368002312/srcblob/%252%2B%252F176764701376807495",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE4C9DE33504F2\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:03:33 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:03:33.8668274Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764701368002312/blockblob176764701376706800",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176764701368002312/srcblob/%252%2B%252F176764701376807495?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=r&sig=sanitizedsig",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-source-content-md5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE4C9DE3445D03\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:03:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:03:33.9683831Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764701368002312/blockblob176764701376706800",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176764701368002312/srcblob/%252%2B%252F176764701376807495?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=r&sig=sanitizedsig",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-source-content-md5": "XUFAKrxLKna5cZ2REBfFkg==",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>Md5Mismatch</Code><Message>The MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:83dd52dd-801e-000e-6486-7ea86d000000\n",
        "Time:2026-01-05T21:03:34.0669450Z</Message><UserSpecifiedMd5>XUFAKrxLKna5cZ2REBfFkg==</UserSpecifiedMd5><ServerCalculatedMd5>sQqNsWTgdUEFt6mb5y4/5Q==</ServerCalculatedMd5></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764701368002312?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blockblob": "blockblob176764701376706800",
    "container": "container176764701368002312",
    "srcblob/%2+%2F": "srcblob/%2+%2F176764701376807495"
  }
}
