{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8e2254a3-45ae-f5b0-f9b1-5ffaf5e336d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868C2248A396\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:52:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8e2254a3-45ae-f5b0-f9b1-5ffaf5e336d9/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Z1Om2KYwqQQgvi7QBC4mj5CX3e3KAiji1UaDKxbIoqGquBp7w0ci7F4VEvI5AfWGe/naKuFGvmQqxANfrH3tWByNJUsTq8xJdfCOtfA1qNRR/LAd7XjAZPq1UP5EwkDhJ7rVrNuqc9AskbTwuAl09RsuDrDM0GukzcFRXVrNBLKwrI01X/z5pojg8FvDz6zxQVvjFrSPFVdPMd4ZWBZ2X40BPwt7PpUfNGco698P4f4UYBz+6u3+IZY15i4e305yapHOwZCgdQLGw+FNZil4P1DgBfj6d3WfAx50RVhmAVUYtoFOQR9tdOoaNyYLsLptvafePdpWePIcLr5xKy+qX8KMNLCoKv0wcpEN4D9Ok1Jj[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8e2254a3-45ae-f5b0-f9b1-5ffaf5e336d9?restype=container&comp=list&prefix=blob1&include=Versions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanary.blob.core.windows.net/\" ContainerName=\"test-container-8e2254a3-45ae-f5b0-f9b1-5ffaf5e336d9\"><Prefix>blob1</Prefix><Blobs><Blob><Name>blob1</Name><VersionId>2024-06-07T00:52:41.0278326Z</VersionId><Properties><Creation-Time>Fri, 07 Jun 2024 00:52:41 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 00:52:41 GMT</Last-Modified><Etag>0x8DC868C2263D1B6</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>a0pV1QjMHhYeGRZX88Vzqw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob1</Name><VersionId>2024-06-07T00:52:41.6616214Z</VersionId><Properties><Creation-Time>Fri, 07 Jun 2024 00:52:41 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 00:52:41 GMT</Last-Modified><Etag>0x8DC868C22C46006</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>lezfNEbzq+j60qZb2LG3zA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob1</Name><VersionId>2024-06-07T00:52:41.9165370Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 07 Jun 2024 00:52:41 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 00:52:41 GMT</Last-Modified><Etag>0x8DC868C22EB45AA</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>zv+DeDCUbFHYlsnZ9XK+SQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_6a4d16c6-c367-2cb4-47ca-9d6a73cf9785",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "LS1iYXRjaF82YTRkMTZjNi1jMzY3LTJjYjQtNDdjYS05ZDZhNzNjZjk3ODUNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8e2254a3-45ae-f5b0-f9b1-5ffaf5e336d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "327535650",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
