{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8dfe3-76cd-5383-4b8d-7aa3f285413d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868C23CF2361\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:52:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8dfe3-76cd-5383-4b8d-7aa3f285413d/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "j5zX0FQfUzsMiSUDSqfnjZH2D4RVEGvMyMDGrI+BXuTbjkzP5isvdBr0JEk+rggi8YvA6eZpSH8xCwiUWKasiypAJ7xaGKZlx5pqYOshjRm3pLoEwXT9cUbNntsjmxxzSJke/YdMyNnkWiJM/+eTD33u3LPrqMm2Q7V2jHrKQix+9hhRApCSa9zhH2ZSsHJeOo5dNL5oh6DPaLnR1jteGRj1zgjPQQztXHDXCohjY5JDF1LrbQ5uFW54gprWwZWgggVOXeJpj/iCcNdNkH0XbAUnjr7pc6wKh7iaV79yFpvbNoeDFQaw2Yhaafw2IITxYBWVrzLWtw9YQ9Ypzzc4D1o8cVr1lFf/drQ2jwmw02Yz[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8dfe3-76cd-5383-4b8d-7aa3f285413d?restype=container&comp=list&prefix=blob1&include=Versions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanary.blob.core.windows.net/\" ContainerName=\"test-container-ffc8dfe3-76cd-5383-4b8d-7aa3f285413d\"><Prefix>blob1</Prefix><Blobs><Blob><Name>blob1</Name><VersionId>2024-06-07T00:52:43.5190032Z</VersionId><Properties><Creation-Time>Fri, 07 Jun 2024 00:52:43 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 00:52:43 GMT</Last-Modified><Etag>0x8DC868C23DFCA00</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>rBkSp+FW3/kUDBXh8Bi8nw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob1</Name><VersionId>2024-06-07T00:52:44.0148383Z</VersionId><Properties><Creation-Time>Fri, 07 Jun 2024 00:52:44 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 00:52:44 GMT</Last-Modified><Etag>0x8DC868C242B728F</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>UURQjbJ71n3jjoGvGPPMDw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob1</Name><VersionId>2024-06-07T00:52:44.1158053Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 07 Jun 2024 00:52:44 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 00:52:44 GMT</Last-Modified><Etag>0x8DC868C243ADA95</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>cRkgsUYsmOjOOsWyJf7hiw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_400e8b86-0ece-8303-743e-9af84836bdee",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "LS1iYXRjaF80MDBlOGI4Ni0wZWNlLTgzMDMtNzQzZS05YWY4NDgzNmJkZWUNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8dfe3-76cd-5383-4b8d-7aa3f285413d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:52:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "538413276",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
