{
  "Entries": [
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtables4i8sztx"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidAuthenticationInfo",
          "message": {
            "lang": "en-US",
            "value": "Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\nRequestId:83c6e5f8-3002-0018-3a54-c32ecf000000\nTime:2025-05-12T15:43:42.5353209Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtables4i8sztx"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables('testtables4i8sztx')",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t31d95575b31b9d96prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtables4i8sztx"
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/testtables4i8sztx(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "TimespanProperty": "P229DT5H30M15S"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2025-05-12T15%3A43%3A46.0882716Z'\"",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/testtables4i8sztx(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2025-05-12T15%3A43%3A46.0882716Z'\"",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t31d95575b31b9d96prim.table.core.windows.net/$metadata#testtables4i8sztx/@Element",
        "odata.etag": "W/\"datetime'2025-05-12T15%3A43%3A46.0882716Z'\"",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "2025-05-12T15:43:46.0882716Z",
        "TimespanProperty": "P229DT5H30M15S"
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables('testtables4i8sztx')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1303365029",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t31d95575b31b9d96prim"
  }
}
