{
  "Entries": [
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablepzmbv6dj"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidAuthenticationInfo",
          "message": {
            "lang": "en-US",
            "value": "Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\nRequestId:3e152f62-f002-00e3-6f53-c39355000000\nTime:2025-05-12T15:34:41.2428892Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablepzmbv6dj"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables('testtablepzmbv6dj')",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t31d95575b31b9d96prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablepzmbv6dj"
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/testtablepzmbv6dj(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "TimespanProperty": "P229DT5H30M15S"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2025-05-12T15%3A34%3A45.6578494Z'\"",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/testtablepzmbv6dj()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://t31d95575b31b9d96prim.table.core.windows.net/$metadata#testtablepzmbv6dj",
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-05-12T15%3A34%3A45.6578494Z'\"",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp": "2025-05-12T15:34:45.6578494Z",
            "TimespanProperty": "P229DT5H30M15S"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t31d95575b31b9d96prim.table.core.windows.net/Tables('testtablepzmbv6dj')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "602649983",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t31d95575b31b9d96prim"
  }
}
