{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1777051128974/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1777051128974/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-encrypt-key1777051128974/915cc49512b4468fbd1d3918a2b44207",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wiu0aRHzRps8NWpjNApaTKZimjDko9CzWxAtvMU17Wra2ZOphZwYzasizCBwGId9qqUvQ9wuG3ohd4WJ8Ls9spdspOIn7C7woCx8TlZrTnQBwMYmM_1rgxjZZAyYdGLFochBuMuqjyp1pa98v9dsXmEMbtk41wg4UuuKylxjev86zF9i9OlTs_8kth3T6w4RrgB3bsoEj0Sa7tTzNohohe30mIdNZyt_rHMrfpH2VMwzY0TwgNJjzZAPlC4QoQbIHMuDOhuvkcE8ARWugMZe8JXEUv_Xyta4hVw8D7U0yzjreFhV3vkLxRqP5B0BebfExFBgZcONeN0_WVOTgBKxkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1777051128974/915cc49512b4468fbd1d3918a2b44207?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1777051128974/915cc49512b4468fbd1d3918a2b44207/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "MVA4wKCJMt29OGFIVnoKE-52SAwqhbf5j7OohU37rU2aIoLIns1p1xeei72N6URhtcD4UL1J3LZ6viFLISNtNMqKePZjwqswdGHDqoJdQa2XJCE7GbrosPRFk5h7Nf_fyRmVih8H6N1tW7CtTud4iJZbnt0iNvpr91hM72vslcmUY-H_CfbZbrj4ibVXag89XoMiRYakbBUN1XbmCWra1JOhq9_U5nZtAoOf2gHMvIVVDoQBj8CPLKkqHyXRMhZeDhgCSQOCJWND2-nUh9d3v30ihfJw590Sg8Gw3lpaByvYMoxwb84TP8G2-8xaHsVtJTZW1e3caBzKqa-sFo1aHA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-encrypt-key1777051128974/915cc49512b4468fbd1d3918a2b44207",
        "value": "TXkgTWVzc2FnZQ"
      }
    }
  ],
  "Variables": {
    "encryptKeyName": "crypto-encrypt-key1777051128974"
  }
}
