{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776794391773/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776794391773/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sign-key1776794391773/d2baa4a139c1472fa6e5c8f06fe24355",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v4FSZBdqMGYc8G4aQmKntOOwv4Bqfks_09TghpzEHXeACeE1VG8WlMchzNbziVRs_4X5-Xh2wVwQAYFO7GP2EKocuGwMAXXG6dvL6TmRh52vmTPoH_AwJN9hVCiu35XOx405oTS-oVtDlQnCmYAqfqtGUZqdCpWEVRXnd_xl0lL394ZpL_f8kovFVQVDAcFmmW3lHcqlJ497qMwgM5W1q6y6XcYtCVG7K1wSdx2LGRQMvJAZ3Jo1W7HCFcS5nQZ264w5pgWEVx5pGsMr-BbUSpwBd3uU2Bq5qPoRd2v6QHkzwKbkwkqNaLsrrNMU2AiT00tZDWYKOyv0spMNXZQ2CQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794395,
          "updated": 1776794395,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776794391773/d2baa4a139c1472fa6e5c8f06fe24355?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776794391773/d2baa4a139c1472fa6e5c8f06fe24355/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "cTkkWTudVP3dPy9_m9Z8wfVPnx4z5i1t6oOuz7c0JVQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sign-key1776794391773/d2baa4a139c1472fa6e5c8f06fe24355",
        "value": "GSFra75yPbOi7yIBT4NMj6JnSHnWatsBtlHh0YjsRo1LNG1DpKhpildzzPZmcnubKS05TFcxd3Nl6wNEeamGWH9KiYbAtY6om6Y94u6bQAevEF5x1gjbbb9EtYLnwhQeY9tStZAF-HaXdqvkz9NK4EepUx9bgTqAk1eKYBTt_faiqSIOAgGaBv45XBLWPZNrf10PWklFMeRoWsrDo7njuidiSgxq9ftRQhhGDOso79ClnjPN88EuDNE-YKgZSemPgQ2xmsKYQf8tXV5URtH_V1yWHNSzb31dtFFhLzCMBisPJY0QP7UEwT7Mg-DVk4OWPfCWz_q_03wAqkiaTvlw7g"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776794391773/d2baa4a139c1472fa6e5c8f06fe24355/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "cTkkWTudVP3dPy9_m9Z8wfVPnx4z5i1t6oOuz7c0JVQ",
        "value": "GSFra75yPbOi7yIBT4NMj6JnSHnWatsBtlHh0YjsRo1LNG1DpKhpildzzPZmcnubKS05TFcxd3Nl6wNEeamGWH9KiYbAtY6om6Y94u6bQAevEF5x1gjbbb9EtYLnwhQeY9tStZAF-HaXdqvkz9NK4EepUx9bgTqAk1eKYBTt_faiqSIOAgGaBv45XBLWPZNrf10PWklFMeRoWsrDo7njuidiSgxq9ftRQhhGDOso79ClnjPN88EuDNE-YKgZSemPgQ2xmsKYQf8tXV5URtH_V1yWHNSzb31dtFFhLzCMBisPJY0QP7UEwT7Mg-DVk4OWPfCWz_q_03wAqkiaTvlw7g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "signKeyName": "crypto-sign-key1776794391773"
  }
}
