{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1776798464927/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1776798464927/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-verify-key1776798464927/58a3a41aaeec4aa4a95395ec1af60990",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "86njdnG7Z0ua0SdIRd2BedDJLz5x8y7C6XVzeyK2krn6nb9MPqmjnJRLoPG_DF5AcUCyhLQj1UDLYahI5TWtrsF4z5PcEkrFsE2Eva9zyLXZGX9QVeaZvPWAfyXWI8Le8qzHGsno4nOfUxvIaRcS7kkvNnpZvPIP4yWv8I-QUVse1RQwwQ9Qu3doDcYFZn33As-nBUtoGgCaClmlKMoGeLDuaGYsU9Livh_sWe5J3D0KTOqOAvXEC-2A8KPfmB_HLgYGVb4LZsP2RZ1GEBesMjJF6HQq4iDYPGu-BMJnCyjfYY-jGhbmQUry8uchK3I_B3swirSq0d62sDss6yzbyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798467,
          "updated": 1776798467,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1776798464927/58a3a41aaeec4aa4a95395ec1af60990/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1776798464927/58a3a41aaeec4aa4a95395ec1af60990/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-verify-key1776798464927/58a3a41aaeec4aa4a95395ec1af60990",
        "value": "UMKh7shGNuo_GzpVR7SL3yzhtAiJLrNmMHGwd4HvJKAaLkgiLgIzjPbwMHoFDZr1oB9wroqYKKPu_OzvsqkkWYve3MslYa4kXJ-H8G6FxBjxkNHH4WPB0Y4OeARVZbXTzb6Yq2MsHqEdd8ZNEfigV4_3LKkOlEG_oD3Qenm9EB0PLHn9yC0HbZtbyB06WI45kfA59YIWGs1j3fDSHWO2--q9_LAt9vpTrfbf6ELI9DTLWUqqBnT65ipm_uAgpNJPQ2-ezFASoMpdMwyBRMFfI1uFgUemgo4q1JvNm7waphtJWFzcmvBTzezSR3R8jRp8advDW1iYMtf0b-BH9pHkng"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1776798464927/58a3a41aaeec4aa4a95395ec1af60990/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE",
        "value": "UMKh7shGNuo_GzpVR7SL3yzhtAiJLrNmMHGwd4HvJKAaLkgiLgIzjPbwMHoFDZr1oB9wroqYKKPu_OzvsqkkWYve3MslYa4kXJ-H8G6FxBjxkNHH4WPB0Y4OeARVZbXTzb6Yq2MsHqEdd8ZNEfigV4_3LKkOlEG_oD3Qenm9EB0PLHn9yC0HbZtbyB06WI45kfA59YIWGs1j3fDSHWO2--q9_LAt9vpTrfbf6ELI9DTLWUqqBnT65ipm_uAgpNJPQ2-ezFASoMpdMwyBRMFfI1uFgUemgo4q1JvNm7waphtJWFzcmvBTzezSR3R8jRp8advDW1iYMtf0b-BH9pHkng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "verifyKeyName": "crypto-verify-key1776798464927"
  }
}
