{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-signdata-key1776794423621/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-signdata-key1776794423621/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-signdata-key1776794423621/a39bd1b4e1a342b3ab6d8cba33c5712b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rl1bWSbD7q4nxuHN8O7b8FKYmWoPeWSPTiyJ86CUDrW-DdkUfrq1e9nVbsry8jyPXnTNuKdTyki22VaUGmXc8iao9PUkXFZhWbbBB19ANx3prHPDkwBrkEnS0T9Q_S5bbyTygkTpOlVNq_sQBxCOPtwYcJ_haz5bLiLZeZLLH8ozh41LL7ZFLYxNOcsyfem72xDmATosK0sWRyUBVSjME2SWI5DDHNKrXo8gB8lTmxYvGtasVJuU0w5Y0iNGEgrz-8XP1Rvyv1qzmP_41JnKIcCBebPBlUpkXSYnvIzo1_uHBniCIQR5VeXNTHYGiJbUnaFgo5byzFs1mwbbnbZvZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794426,
          "updated": 1776794426,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-signdata-key1776794423621/a39bd1b4e1a342b3ab6d8cba33c5712b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-signdata-key1776794423621/a39bd1b4e1a342b3ab6d8cba33c5712b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-signdata-key1776794423621/a39bd1b4e1a342b3ab6d8cba33c5712b",
        "value": "XiUevUiqEJ0cC7hnKlTHPv7lJMCLq2YLrCBRziJUHiI9uxdjjOiAtosWyyuPhPibwGJEXPgGEtWOPPqqUf7Ob6DXgwHarvy9e23t50yfTAKBp1DlyD05EUIKz9w0uLW_JQ8M3oImSQu2BhRArxZIe1ry8_0L89ynS1SKafHvtj311tQu0t8N1t_OUKmUVM0owfaf7H0zJ5XDEAr9qEdjTYpPiSSG_Np3LUlHwae_GzopQCqpUjO-4rXn_8ecJ4wyl0coBqS5EvN4EbQ_pCJjQzZVlcVOQPypOQg_uXw5kD8lmoClZh4z1EQd3dMqB5cyExDEZ-eZtUXVtvYVIQjx6g"
      }
    }
  ],
  "Variables": {
    "signDataKeyName": "crypto-signdata-key1776794423621"
  }
}
