{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1776793892323/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1776793892323/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-encrypt-key1776793892323/02c65e2004e947679fe963fd08a8c1d2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sd-9K-8y4RwlWg33TMGHBuCNudFq78BMeJUwdidUOCn0yx8cMJ5sUNVXInOs9Hf7Vby_tVWyKHBxWfLZvbf6tfKB9VUdV6Wu7xBquQBRjvq6sKTzN3uUYm_Kg31otv6iE2s2Ei3iViGU4qMSP5ziKPJ7zn2Z6avQmpcljfXtMBfLWpgIslfVCtNpKknac77uu9RH7Wro5v2z0booQXQfDHqL7d48-L0fKC19hHqU15-uwr-RaHUhDUYo7W8eeynkKXCWfExUGMZAPlLFBQCUICQK9NNSwYEILhiAUk9x0PyLAMGw0AkzFdTHWvvQ1E6mhVD7Pul7HW28_LjMSIOuMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793895,
          "updated": 1776793895,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "encryptKeyName": "crypto-encrypt-key1776793892323"
  }
}
