{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776793878040/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key1776793878040/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sign-key1776793878040/2111798c611e4c3193855c108c96a6be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wkxWoB8Se9e_83sKeb-3MEPUsFL7wAytwnLX4FIXCbBUkEYp42XPhmCQKUyyZMQeTscpYf9sx-zQWva8IuGyxpokBquYphpAtpDUnj-eL_6jprX8DNHysG9WOGxB7viepTbzghnWhYz2ORX-aTB4fPOaxB8EwnslMrEvG5Qrk5DW7UgV3HhBQJFP1J0tr09RJUtGqA8sdsh0dAPpELSO3SRdnR7VUp9SaeYLCACCkbxhHDa20DL0xGivywAt0QGxjIV4yp4BOFfUAUZ3SxBvqmb0QOYkBZnKEex-8WG_jLuAB6wE8uwJ9b8YEBsMmhFIF57gc-QldRH8NqTLEsrzHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793881,
          "updated": 1776793881,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "signKeyName": "crypto-sign-key1776793878040"
  }
}
