{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1777051168015/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1777051168015/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-verify-key1777051168015/4468da1f15cb43c9825e066c58ab84c6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zca2p00UBOhAMzpPxcmL60ZBTtj0vRHr6XKWzdNN6FuDh2jSBF_SkiKGeCws2DTHtZdrfmhHEDXksU4fhIPMtV99yIVZVykLs2WPPV2avYVZC084sC3qrfQMGOwFCyCFfcm4l_SNpRov9MsUlvQs0XfYAzypY1kuUiXwfeXcq8a5tBrN2xLolUP38wkfoadzWOVREHCkZzLgvK53zWU47O76ECG8n6uGQgeJ1CfovZKEyjU73QzJDOgA4C-9nduPffnY2jrktyFu2Hp8aqMuXwCe7cz3dh8Kgy-Vl1FLXKa4n00pn6f16FBxgV5Nfrnljlku1i_yYWVlK2qiE9fc2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051172,
          "updated": 1777051172,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1777051168015/4468da1f15cb43c9825e066c58ab84c6/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1777051168015/4468da1f15cb43c9825e066c58ab84c6/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-verify-key1777051168015/4468da1f15cb43c9825e066c58ab84c6",
        "value": "sRSKjLVEi17NGUy42P-MbOx7FA_jQhFIoD0fZ98s_rb4AmSJX_fGQsvDW6LWTyjq2xFf39rpnbHNh4GVzyHbaFHcvNpg2E-w01ChLnce49xv6xCQBytS5R28CSflTMLK2kR-QsDlIwoNEsqzao14uDnQ7Tk0SnEPPisbKyPD5eAwYeJ1FGJQdfIMcxAx5tqHIstBA3R8tof0Cn5EiZA7xcM5AHY4yuJ-8vtDnpQP2WmIPFG8WO-tkLgDu8VR--HblC6mOqnc5AxOBe6mwmvwES_bqFDa-kNtzMyI7CNBBJ7dGPJF-flUOpFia14PzpKha1YxB5A-UHO1SJe1mTv7aA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verify-key1777051168015/4468da1f15cb43c9825e066c58ab84c6/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE",
        "value": "sRSKjLVEi17NGUy42P-MbOx7FA_jQhFIoD0fZ98s_rb4AmSJX_fGQsvDW6LWTyjq2xFf39rpnbHNh4GVzyHbaFHcvNpg2E-w01ChLnce49xv6xCQBytS5R28CSflTMLK2kR-QsDlIwoNEsqzao14uDnQ7Tk0SnEPPisbKyPD5eAwYeJ1FGJQdfIMcxAx5tqHIstBA3R8tof0Cn5EiZA7xcM5AHY4yuJ-8vtDnpQP2WmIPFG8WO-tkLgDu8VR--HblC6mOqnc5AxOBe6mwmvwES_bqFDa-kNtzMyI7CNBBJ7dGPJF-flUOpFia14PzpKha1YxB5A-UHO1SJe1mTv7aA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "verifyKeyName": "crypto-verify-key1777051168015"
  }
}
