{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1776794405015/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1776794405015/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-encrypt-key1776794405015/dc2cb6fff418488c89cd123bcd6ad59c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uNHGIxzSzI_EgSwhMTBTKmw--wo65XFhv5wJI4TETxgfPDd_iT29WmuyvU8p5BkpdRYwgvwc-b24YysqhdKLyTwEseXBlj1W-QXABwjQV75E9A1Zui594Dj_rE6w4g-lx64gBGSh_DbUqKYw6AFqg-JxSf6x3cIJwxLhf98_GJNH4mulmxyWJ4FLuQLuR_0lCvsqVyc7q3XisklIrzEZrww8twjyFdv3SSImnY3wI0k1srWW4pHGHiMvxBrV5hEBRxsn0-68nEyZg_ThiNmJfEYrLTAzp_Lv1YVB4GD6nrbNr8M3u4qFfe0a8D9fR2jGE_3GkK1fCt3ymZurmI0j0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794407,
          "updated": 1776794407,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1776794405015/dc2cb6fff418488c89cd123bcd6ad59c?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-encrypt-key1776794405015/dc2cb6fff418488c89cd123bcd6ad59c?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-encrypt-key1776794405015/dc2cb6fff418488c89cd123bcd6ad59c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uNHGIxzSzI_EgSwhMTBTKmw--wo65XFhv5wJI4TETxgfPDd_iT29WmuyvU8p5BkpdRYwgvwc-b24YysqhdKLyTwEseXBlj1W-QXABwjQV75E9A1Zui594Dj_rE6w4g-lx64gBGSh_DbUqKYw6AFqg-JxSf6x3cIJwxLhf98_GJNH4mulmxyWJ4FLuQLuR_0lCvsqVyc7q3XisklIrzEZrww8twjyFdv3SSImnY3wI0k1srWW4pHGHiMvxBrV5hEBRxsn0-68nEyZg_ThiNmJfEYrLTAzp_Lv1YVB4GD6nrbNr8M3u4qFfe0a8D9fR2jGE_3GkK1fCt3ymZurmI0j0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794407,
          "updated": 1776794407,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "encryptKeyName": "crypto-encrypt-key1776794405015"
  }
}
