{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776794774316/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776794774316/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key1776794774316/4e2f807d8d8947e9b2200003c019db1e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yFfuINZT23sD1GHvBoMyJLTscWE9mEqtShRp42v-NND7qPtwb3P3frYgEfjhWcExMMphhTxQBEKK0V5doirskkDns8taXMe_H3VfhKHkbrmbvS3lvDu7EMYArF-rlsgAuT13VDfnLIdAiPf8dRtmoyLv49m4ZanyIyea_oWv97TVtaF0aUSaZ7Jl9Cl1L-MHdWSRQuoLyOSWmMoADtEdQP3qdAKVPIKk8M49nuTJMs5sPJRra1p4J73S6vymnJcjWcW5AoC-OL-RQTz8biE2-i_Ryen9r4aZisJmvHL4OXQl7xuWhi3bhQ3z-Hks8TYQNabYeeH2iGw46OjU-7gViQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794777,
          "updated": 1776794777,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776794774316/4e2f807d8d8947e9b2200003c019db1e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776794774316/4e2f807d8d8947e9b2200003c019db1e/wrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "TXkgTWVzc2FnZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key1776794774316/4e2f807d8d8947e9b2200003c019db1e",
        "value": "frpeDMKcFb2vtf_SxzaJFOPIzZemQMWTpOR-cwcG_yaQKy0kPJGry2omH9V3qXFGWUiKHPMVE5pyPI-fzkP9jA_mkCYT_5O9dO7lic5nTvC2mQo0IDtfUfIhEmrmJL9MTSR5XoxVnyCDLoGO6GeXtgDQhTtpUK9IpOqstCtLHHqntLM_o3cQTv1oZ16soNOoqjq8p5stfjk1aPRfcZOscabySQlvFbuKao_yLdIeWn_Fgb1vwl1R-xGOltp8Qnx7JxBylQ-TadqIIG5V6E9kUaAJ0sb54DaW5j6w2XMVio0wrsokoO4Bbm3NTGXSH5MModJutfqJj8zVxJhoxTzgew"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776794774316/4e2f807d8d8947e9b2200003c019db1e/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "frpeDMKcFb2vtf_SxzaJFOPIzZemQMWTpOR-cwcG_yaQKy0kPJGry2omH9V3qXFGWUiKHPMVE5pyPI-fzkP9jA_mkCYT_5O9dO7lic5nTvC2mQo0IDtfUfIhEmrmJL9MTSR5XoxVnyCDLoGO6GeXtgDQhTtpUK9IpOqstCtLHHqntLM_o3cQTv1oZ16soNOoqjq8p5stfjk1aPRfcZOscabySQlvFbuKao_yLdIeWn_Fgb1vwl1R-xGOltp8Qnx7JxBylQ-TadqIIG5V6E9kUaAJ0sb54DaW5j6w2XMVio0wrsokoO4Bbm3NTGXSH5MModJutfqJj8zVxJhoxTzgew"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key1776794774316/4e2f807d8d8947e9b2200003c019db1e",
        "value": "TXkgTWVzc2FnZQ"
      }
    }
  ],
  "Variables": {
    "wrapKeyName": "crypto-wrap-key1776794774316"
  }
}
