{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verifydata-key1777137410456/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verifydata-key1777137410456/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-verifydata-key1777137410456/3cbe67e3e5f5412a86d725c0c63080f7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pQgsnF2D86EyoPD_HRdOI9zEpVyaPVfTgCaq0JxhIgfr2X6aRl-kAORPIAzyg5VVYVXd6wzlaBgTEJbwvYJsz0vjm7yJtOtp25R93khXCcvY6Zx44KX00mf6rgGQk_w1qhKc3fHjkTFlo0eQd2S8WlOmzckoxVhScsY8D8YNUPlrJEPF7lePocpFvQ3yVgxRoR876sKRheM_2MprcUTe6gMF_i02CI7-GTw0VOYOUdYTwYawh7Skh7HTNn3Z4jzfaiwuQuvoNunGOuGJUzhCrBb7gaFTcRjaW6Ev2iniTxtPDxA59mDP218EpiZwOnBOOwHejsV3iWZV590op9mCJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137414,
          "updated": 1777137414,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verifydata-key1777137410456/3cbe67e3e5f5412a86d725c0c63080f7/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-verifydata-key1777137410456/3cbe67e3e5f5412a86d725c0c63080f7/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "ZVJEOpllu5j_M4_8rnEmS4gS33itKrPUvkizsz--EGE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-verifydata-key1777137410456/3cbe67e3e5f5412a86d725c0c63080f7",
        "value": "Zufpq0z9s9qjhVTgHi7cXJE53qZLds9wfyBauLIkZRzpbuuskxy5Qa0s5NcaB__UTYB7dIBh3YZ7Z6IMlVYAPbaY3dLuOcq92Vo834xwGIq03HdeQbzqa93zl_kG_Y0DJ4-sG1bPdYYVltQi92tm09arXSXs-WzvdgT24uCzovZRisVIRm39gL1YYS0zb3SAmbi5OqEQoPka0ILWT-gAnM8iDJ_emSwoV0B7qHPCNYdBhsb4ZYmptnUxNztgAequsr5vi-sQlV05C0k-XoN8n-CTDgNcLLQjkujKVsOMb-bY7-0lykvmIXvUDCqMLbl5wR5PjE32Vp12140i_w6SIw"
      }
    }
  ],
  "Variables": {
    "verifyDataKeyName": "crypto-verifydata-key1777137410456"
  }
}
