{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key21776793906243/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sign-key21776793906243/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sign-key21776793906243/3e3836eb83334f1fb6d9240655c34987",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0bo2U4m4oE-fV7RcNgvH9Y6jOgojLE_OSFvyqsTAHvTWuUB601uGZhj0t765oafHYLE7ENuCVuvoE8zIlxcnR6oK6kc5Nbv3UvGK8-weg15pg8SfB5o-wVjANiEwc8yXOtDl5FzWMPOzzBTIYPiqaE5L9-X0igxUBV4boIH05cnhD-0A0MiHSRQ3zmTvQTNBLjNw4fhx2bl3Fwa5R7IYq_szPcW4TDqm-aAGMDNCtYDAgbeb_Xcem_oHlOqCIHxdZHsQfbasQwzQPYE1Yu3PcBBthxWnQ3RlZAXRD-0atLGAnK7SHZTQG2kSDKs3BLxKJvbQQgf1YI6OBIbMesgyyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793909,
          "updated": 1776793909,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "signKeyName2": "crypto-sign-key21776793906243"
  }
}
