{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key21777051183292/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key21777051183292/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key21777051183292/ffe94c3da32846b0b7324af392ce67b1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0SRCjJhLfLeS0ZglGNBwFzw-68zFf7JAM6FbCQtoCtNLJfL97QPqUPS5LZc_50vXKqwnMjOK-DcJg4q6zi_Uz_0Fz0B8cHpDNBh1ULUDgPZU9GDhN86d6rCT2cPmw0LzgvI5xQitI8n3opqr8SbbUsC02vrZ88od5asQSQFg4BssGgFCepgJ6XjYWLvRWeExkEK6EER3azvKNfFkcJY_Sv89yqgLCqvwWij87QYn4nt4Ywff1Lup0jSNfU4r09n30lbw-7uK_wSdQK9hyHK6jakVZW2MgBOg2S8ZVvtkICGiTSxJqY8qf4rFn9k8zCZM-sEfpeQ8FfP1RMmuqX1ynQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051186,
          "updated": 1777051186,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key21777051183292/ffe94c3da32846b0b7324af392ce67b1/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key21777051183292/ffe94c3da32846b0b7324af392ce67b1/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "CSgs3rAS5nWgnsm4b8CwAlIkA7ynCP7Fb44gvbcWavMkU46ua55OZsJpi8AyS1RgiUSOwDUPWZ-8sjImD7dw0FUQrZwlBErBh9v4OlsIUBiCJN30E8S957yEpUL_uho3zh2LZCFuMn2Vym0RIlxPDuKeR9sOf18YK5WDcyOQd3huOzQfHbJVRY55YXPRTFeBWsupP3A7XnxYZnbBTLZO_QGq3Sv-QP9xEltysVxXsVuC3w5N6xpgxRcnpnl79srUnjqYbolowByKYBYaN1upgeNtLw2nKTmnpn0acOG25IdSYZTvpffnuLsUkPe2NGDHOwOCgndNKpXCY2_9NIYRyQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key21777051183292/ffe94c3da32846b0b7324af392ce67b1",
        "value": "a1Aq5Sca5aX7H4HW9q4Bl2Jny7WmIX6u0uYzoxkf_QI"
      }
    }
  ],
  "Variables": {
    "wrapKeyName2": "crypto-wrap-key21777051183292"
  }
}
