{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-decrypt-key1777051139282/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-decrypt-key1777051139282/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-decrypt-key1777051139282/6b62097bcc80436a840bb4c443e14610",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "kgvi8BI_fpKwXmrlaVNP0c_d1ZX3vZ34RrVuT_Yjla0GBdL380MKRiM16L81udN_mWETgF7qEEvwcrkEqKDWZgKuUOyLCbctOUkvL0UpTRFwq07DRb1TTjoUy12pxcNBdwSRXQuFOvxQFfM1MfglDFyjCIxA76w9PL2Q4aPv0m_Kj5KzA01shEg9LJRrETIXDl6GaEOe8dcdvPUeY68lvtZ-YfGdy9uXmDBKTK7pU1SDHs5QrZKbM5_SDA_jdYD1Ice6EIhAnmT_BQfiv4Q86KyfFWnlyZwGCtSz2vV2njhWDqHRieBUKtYI9_Ku9UQgkWvYQHQbCWcGsuK4ysicrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051143,
          "updated": 1777051143,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-decrypt-key1777051139282/6b62097bcc80436a840bb4c443e14610?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-decrypt-key1777051139282/6b62097bcc80436a840bb4c443e14610/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "E68fzYwWZfL22WQHUykO6nmenfzY9Di4t15sUCOfALgZMLaT57d3h5ugQe6T7Rp80nu4vK6Vi6OiIitzubNdyN3dclDjSnv9HRPCF6RLR9FfcQjFQGewOwlYSu2vCuU9nwO-rz84KHUL5vNiY-N-vDqfB3xITl_VvVTVXoCWwHS_KLjAU9HKPGy-kQzLF59kErB89IyLTtHk-fcihHGhHr06_-zlgIyQuSIRyDctEwkQcyvRWo8qXwV7gSwvVVpQEWqiMp74LAQpPvUJRd1R507JiNl11PK23agHelRBsHeBbehwjkto3FwGxVSmuPhKyJLVxhcaB0feicwfQKyCIA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-decrypt-key1777051139282/6b62097bcc80436a840bb4c443e14610",
        "value": "TXkgTWVzc2FnZQ"
      }
    }
  ],
  "Variables": {
    "decryptKeyName": "crypto-decrypt-key1777051139282"
  }
}
