{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sample-key1776798424387/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sample-key1776798424387/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sample-key1776798424387/4c2cb60b83ef42ce8fd41303cc850dac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5koh800WNi5tLgmFyAG5fs5_lse0njz9pTa1C6XNIGbkFnSRVtq8dNMtEepgo9G-JQRMcB14C30GcfUTsr9rSqCGM0HF3R3zyFw724O6M8VlhTmAx9plAVB6_xElubXSTLFsw3yHyebWPQLEZ6iES9rxKCTkwQqNnab_yMGN6p6sJiMH1t4gtd3BkelCeXqDWCEWkSOigKKKpBDsB0pa-JW8GGUPHxIVL8zRy2I3dc2SWoNHf2aOLMlsCyRDsAPug-hJct9k-6xqmIiINyqC9O9hlAizAXeg95qBbLMsAXXfscaWgEWK1gy1Z-13ztFriVA27mg7kY4vgfGqUaXtBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798427,
          "updated": 1776798427,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sample-key1776798424387/4c2cb60b83ef42ce8fd41303cc850dac?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sample-key1776798424387/4c2cb60b83ef42ce8fd41303cc850dac/encrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "TXkgTWVzc2FnZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sample-key1776798424387/4c2cb60b83ef42ce8fd41303cc850dac",
        "value": "MC0hHtvWro3TbwDjzo1OYHVCzANf0nbX44569A4XsRSLwZLTzYRl-Dou0YI8PhuEZ4SoFqc-KTsJ016PM31iOrDJT_Q4a7_T8ikLkf3ZDURkBGInn5WT-mhmA8-L1n4WPqZBuqbwiveao6pEjgR5jp5obwff6Ng1Afwho28D7u5a09_Ztw5b1toQhrgZb5huftETEJrdcXgLN3R_JYrLTacRiLEGrgUgbw6Ss1nWwIb6UoL0kmSLxe3ShAzgq5pnUKOAIWZ43TkYXD_8fHKd_WluyEFXBhY_ANW3wh3mP8uptVnOgUBjmLwsHGqkozKaUipmJk3E5_4cgmSPg7lS1A"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-sample-key1776798424387/4c2cb60b83ef42ce8fd41303cc850dac/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "MC0hHtvWro3TbwDjzo1OYHVCzANf0nbX44569A4XsRSLwZLTzYRl-Dou0YI8PhuEZ4SoFqc-KTsJ016PM31iOrDJT_Q4a7_T8ikLkf3ZDURkBGInn5WT-mhmA8-L1n4WPqZBuqbwiveao6pEjgR5jp5obwff6Ng1Afwho28D7u5a09_Ztw5b1toQhrgZb5huftETEJrdcXgLN3R_JYrLTacRiLEGrgUgbw6Ss1nWwIb6UoL0kmSLxe3ShAzgq5pnUKOAIWZ43TkYXD_8fHKd_WluyEFXBhY_ANW3wh3mP8uptVnOgUBjmLwsHGqkozKaUipmJk3E5_4cgmSPg7lS1A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sample-key1776798424387/4c2cb60b83ef42ce8fd41303cc850dac",
        "value": "TXkgTWVzc2FnZQ"
      }
    }
  ],
  "Variables": {
    "cryptoKeyName": "crypto-sample-key1776798424387"
  }
}
