{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777137426457/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777137426457/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-unwrap-key1777137426457/089dc6819a154f5893a3d20d9c4e3f7b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6YrBWhz9DHG7jto91L3n7RUl20N5j-1Kjc2uaW_GKooEce2Y3DPy1gAhksXpg8jX0C7TInjzxK9LIoA6R9_FxbpUrdgDDlzDhdXACBi5mfnMYR5SGIsSPY5GKb8lqFQG3nFArzABSnSUdTmY0F-nFw_7OW2zR-BoFhRkHq8YlGzqcEQ2bmGpSCin19aSHywVlV-bYyEgTSyrG6WP5SyrJ3gDiDGC7FienZvkkb0mVY-VJGmIVNKSkw1EepXd_1oFBGajhMNTfgT30G0UoBtLSnWLUVCpqjKXG4P3GJjEHiU3aHfLEz_tdXehfVM3BaO7N53W1JKX4mwT0MqanckzbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137430,
          "updated": 1777137430,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777137426457/089dc6819a154f5893a3d20d9c4e3f7b/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777137426457/089dc6819a154f5893a3d20d9c4e3f7b/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "mtKYAD-vN7lbgantxxCdWXQIMRhymCGXs1jvW-hFAUuzDBZeGrUanF8jSHvwkKFsZQRSb2XeZKRhIlgfkj3fRqjTdn3nUhz9C8ZmxhrHyWJunxtzVy7K5nJ-Pw3Rqf_i4utajN-NYRftXDdKL1l1XeynoiwdNlxm208kO5Qsa63wl7kuYru0oCSENLK9I8XN9c1l5JDYFZ4qBkjftWi8PxZv3dboUR50TdZKVus9RVI_XHmXFXQb--tr_UZnR1jhXUCbzdEn4KeG0TPwVgmceGNoFejlvipjufbFQSJY30SFzjiOCTjTY79aDFkfW7Q_mQ37gwhPxyrjt3qU8kd1Wg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-unwrap-key1777137426457/089dc6819a154f5893a3d20d9c4e3f7b",
        "value": "etBmmOGyOwVRnVDPsQCsCOMbhkgKYQqrMZwNq-WRupA"
      }
    }
  ],
  "Variables": {
    "unwrapKeyName": "crypto-unwrap-key1777137426457"
  }
}
