{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777048656883/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777048656883/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-unwrap-key1777048656883/0c16e77e60fd47a6a778e5686000a385",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yhuB_q99B-Ufgr0wfzs-LUWK--umOx7C6P6wyxceJ3cHNUjHau9pNsgyzfKXh2D2m-Hyh80PtfeIUiasJt9LbrTQB445KCqGb-BzQEpNhsAiZJx5p5oCf3HGBWBdUx1wRs0eN6INzKtax2enJ9AGzAUhO__Lwn7Q8ZdmNLVfWCfjZvzM8FnIYg5lB2efKnMIUiVq2jCGpWcKAIBNzuRh6qqEliNVBwngRJXJi5esK64T79dnDiLnzJDhatBKvZKgTxibWsL7_FdBNVd4w1CzlTdU92fu518a_wt90rVNSMXasHl642jTngzl85gHNS8QlH2ihTVwEDT72R3KTY55gQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777048660,
          "updated": 1777048660,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777048656883/0c16e77e60fd47a6a778e5686000a385/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-unwrap-key1777048656883/0c16e77e60fd47a6a778e5686000a385/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "JuVcQDP7rQWamDKtyu7zncM0KsDUwnV1e5tj70yy5KfIpTJnZ7egMqJ9HGkvg1Vrd7njXE1fAhMxgkbO3EI8XXJfdoBSkwBTaONmQmoAzypdfMHQGxyFXg8lg-qPFa2rJ2cqyw3J5JcbZY9mcdGoK0uqM-tvA3hdd4P_jepomPI521Jpl9nrQvlOaD4A98wd6QXTxI4xxa-By9fqOSa1atadOBVD_xHv-hgKqDkgKu3woEvsSbkQqBXLuOIWJE8ORUwfdMayIgeri8jJ8RM3YRzR6pRRX9XevdQC3ptYPK4IdKmtJaX-KEx7aDyiX4xWiPvNXJFF_5iBEi2Gl7AZ0g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-unwrap-key1777048656883/0c16e77e60fd47a6a778e5686000a385",
        "value": "An8VYCZB1Q6smvr8Yy7fHNup4B3JRIn2XHrph_r7rbk"
      }
    }
  ],
  "Variables": {
    "unwrapKeyName": "crypto-unwrap-key1777048656883"
  }
}
