{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key21776798476185/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key21776798476185/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key21776798476185/320309acfa844dc8b27336d33087d93f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w8kf4_wXCrNNZcUsoueB4MMP_uUxaYFPNPZReceIfvKbhErYYF_Zj9sxeyRDJfsp6e31zSZvjny_XTjm_-Tvw3vhDz_CxWw1gb3rukDbg7b2VYfNgXRb_Psu6Wy72ioIqsUPlA_v19nzvULOYjAJMbaIZ1mx0s7AE1h648efxlxmzXkTr_weRY5Rbj5ggsUDOe6xlBoZozdlUgzb-8qfiTEZotG89o5JsLRvp2seO1hl41kLaTAT9d3FofZluGUwhx2HgaL3MNxWiEgNY9JmV9wxEaK_Q1Kg7qFXK1sL3iHS_D8A8RoUmkDw7dZO12tGNnty7-gk5sLlp3iQBl6bQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798478,
          "updated": 1776798478,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "wrapKeyName2": "crypto-wrap-key21776798476185"
  }
}
