{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776798436148/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776798436148/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key1776798436148/339509b4a3eb4a35b8c92c8a17f9c99f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tOfJ-lmR_7J3tRAsAMgUQXksZxsX-eKRbPsZfKsQNsnTvb5p5BbxFb34TWuN9YJkgoYqY2EHAFUAQJ6ia480GahIndpTJXn2yJ4quTnv0la2kNU-8rNzrAwyGcFBHTaSGJn8mIosKZQrS7V0Gjs2KQP1RWtCdmwzn-W__kCTt-QUbz1X4tSPfTRXZSPFkwsPNtTCi0y21j4k8MkNucN-1HD2KqQ3RfIzLzk8s2JI3u2QR0H-TLCasM5kGDoPPv-wZmT9KWA0hYqHVMMb1R66_pQIx05QV5YRWAE0aormxVDDWfboQS_4FUT4EKKl14vltxDuZjZiJN2U-zssoXkQfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798438,
          "updated": 1776798438,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776798436148/339509b4a3eb4a35b8c92c8a17f9c99f?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776798436148/339509b4a3eb4a35b8c92c8a17f9c99f/wrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "TXkgTWVzc2FnZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key1776798436148/339509b4a3eb4a35b8c92c8a17f9c99f",
        "value": "QqwTArmfLZJ-G1X2cN_fpDK0SOD-TbBNoX-plvqBcyGBgfHSPQgpZeEXloZFfl3z0IPUHrKolXX4FiALK80HhMhkaz3WBhp6RbN1TAXovf8MRKrwIhClL6nZf6CryUlAbW5ZD2D7QSoQh4B7f72WOYUcWRgBhohmr59UVyJ0gDuzdA7PqGg5bcyZiV1f6Vl9ZSU-suQ-w-JqC6Fps3eq4tzvR_6OkT5bRw0JTtisvbX-JbtAI3xWqmWj6Wfdxcbfj9nXAB_dLDqf_2rLyCNmKk1Sp8SO1-X-mnv459WWcJSQN8ZSv0HNrK9bC6RnDMskatCVc-jdqYq4EB2nXR_WBg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crypto-wrap-key1776798436148/339509b4a3eb4a35b8c92c8a17f9c99f/unwrapkey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QqwTArmfLZJ-G1X2cN_fpDK0SOD-TbBNoX-plvqBcyGBgfHSPQgpZeEXloZFfl3z0IPUHrKolXX4FiALK80HhMhkaz3WBhp6RbN1TAXovf8MRKrwIhClL6nZf6CryUlAbW5ZD2D7QSoQh4B7f72WOYUcWRgBhohmr59UVyJ0gDuzdA7PqGg5bcyZiV1f6Vl9ZSU-suQ-w-JqC6Fps3eq4tzvR_6OkT5bRw0JTtisvbX-JbtAI3xWqmWj6Wfdxcbfj9nXAB_dLDqf_2rLyCNmKk1Sp8SO1-X-mnv459WWcJSQN8ZSv0HNrK9bC6RnDMskatCVc-jdqYq4EB2nXR_WBg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/crypto-wrap-key1776798436148/339509b4a3eb4a35b8c92c8a17f9c99f",
        "value": "TXkgTWVzc2FnZQ"
      }
    }
  ],
  "Variables": {
    "wrapKeyName": "crypto-wrap-key1776798436148"
  }
}
