{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-eastus2euap-brefmanyqpzrq/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "7a0ad8c5-f896-4eb0-bd34-1415b08a0a55",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.219"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1731953274,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1731953274
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-eastus2euap-brefmanyqpzrq/vector_stores/vs_SHATIeClV5BOVhhJjGFeOAOQ?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "00927794-c31c-4c7d-a3ec-bba69a833c1c",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.721"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
