{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5993/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace3939?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "fcc2f0d0-6c79-4c3a-8e4c-5db419c6a188",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace3939",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-30T21:20:35.473\u002B00:00",
          "updatedAt": "2024-05-30T21:20:47.603\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace3939.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5993/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace3939",
        "name": "azNotificationHubNamespace3939",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5993/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace3939/authorizationRules/ManagesharedAccessKey1608?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "rights": [
            "Send",
            "Listen",
            "Manage"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "a8491b12-9863-4ca7-9611-c188a3cea94e",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "rights": [
            "Manage",
            "Listen",
            "Send"
          ],
          "modifiedTime": "2024-05-30T21:20:49.1983722\u002B00:00",
          "createdTime": "2024-05-30T21:20:49.1983722\u002B00:00"
        },
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5993/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace3939/authorizationRules/ManagesharedAccessKey1608",
        "name": "ManagesharedAccessKey1608",
        "type": "Microsoft.NotificationHubs/namespaces/authorizationRules"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5993/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace3939/authorizationRules/ManagesharedAccessKey1608?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "0829c992-63ce-4015-96aa-1645a3747bde",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "properties": {
          "rights": [
            "Manage",
            "Listen",
            "Send"
          ],
          "modifiedTime": "2024-05-30T21:20:49.1983722\u002B00:00",
          "createdTime": "2024-05-30T21:20:49.1983722\u002B00:00"
        },
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5993/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace3939/authorizationRules/ManagesharedAccessKey1608",
        "name": "ManagesharedAccessKey1608",
        "type": "Microsoft.NotificationHubs/namespaces/authorizationRules"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "52e51775-1124-4468-82ef-6d407d7c0a85",
    "RandomSeed": "107559426",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
