{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-541/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7343?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "9323e5e1-8f31-4608-be9b-34c39abeb614",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace7343",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-24T23:50:21.203\u002B00:00",
          "updatedAt": "2024-05-24T23:50:38.44\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace7343.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-541/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7343",
        "name": "azNotificationHubNamespace7343",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-541/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7343/authorizationRules/ManagesharedAccessKey7386?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "rights": [
            "Send",
            "Listen",
            "Manage"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "927a2080-b31c-4243-a5e7-557dadfc229e",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "rights": [
            "Manage",
            "Listen",
            "Send"
          ],
          "modifiedTime": "2024-05-24T23:50:41.0109153\u002B00:00",
          "createdTime": "2024-05-24T23:50:41.0109153\u002B00:00"
        },
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-541/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7343/authorizationRules/ManagesharedAccessKey7386",
        "name": "ManagesharedAccessKey7386",
        "type": "Microsoft.NotificationHubs/namespaces/authorizationRules"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-541/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7343/authorizationRules/ManagesharedAccessKey7386/listKeys?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "9d58534e-9bf2-453b-bc8f-b7f2eb9890b7",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized",
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "keyName": "ManagesharedAccessKey7386"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "52e51775-1124-4468-82ef-6d407d7c0a85",
    "RandomSeed": "1209212754",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
