{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78D2B2A203A\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:14:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978/af52b41c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78D2B48530F\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:14:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978/af52b41c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Hf+D8+uwVla99hg6erCxaHKrMx1FP+exNFQAaw/GLQWqrNtHdaZ8aD4FXoj1lDpO4gRTMo9aut4Y0r+Xr+pH9sgSkM3VavPML8reQOBeu6AZsYkKcvt2T/L9LqPn5bhTvWe/4gNseXcRhgLEe3n9uRYfff1gPYPNm0Da2DtQ5UoRi4J4n9mcrTgR+Oz4sdR5/3WNx2e784Dj8kbDkaE8waG4s/D2hBo9gtDFTkSX1epsYdjGwx3iVpcClKyS2BuX1TdKQP7jgntaT0SX9qQ7Sx1cVy/Idf6D1VxY9PBtqqq0LXkNTZTsiN9da3PYS2DyxkiPNYHrzl84xmqhio2K7aWa4sgrLv6Ib85QawqLq4n8ZS6n3XQoyF8Z1IYqS/5R0n7NPWiYx5dKB8azm2JVrRvhpCRf4w8[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-43e2147a-ffc7-2329-be4a-084c4f820978\"><Blobs><Blob><Name>af52b41c</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:14:46 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:14:46 GMT</Last-Modified><Etag>0x8DCF78D2B581FD6</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>d7e1486b</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:14:46 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:14:46 GMT</Last-Modified><Etag>0x8DCF78D2B5D70F8</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978/af52b41c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78D2B581FD6\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:14:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:14:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978/af52b41c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF78D2B581FD6\"",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:51 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78D2B581FD6\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:14:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:14:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "Response[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-43e2147a-ffc7-2329-be4a-084c4f820978?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:14:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "529426545",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
