{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c41e3b3-7f14-2112-5b76-d36d01852908?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:49:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F215F2530F\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:49:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c41e3b3-7f14-2112-5b76-d36d01852908/3fdd7633",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:49:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F215FC978C\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:49:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c41e3b3-7f14-2112-5b76-d36d01852908/3fdd7633?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 14:49:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JOpkVPcBbrki+f0d0NAA4lNjhOkq8/TYs9q/8k4ueGWDI0s4VTvkHXWLHS+XFyf7S0nRCFecYDH1jKEcQXxr84GXmayEyI0Xf2Z0n9XEQJuzxKcFXG8O58MZQsiax9z4ICmu/317doK7uonwKMFbMUsFaX3UZZYRibLoaobFfbeKe36rFUEeOE0lSaLmHr4CvhF8lV1eJLqTnXbLkgv89j3RZaxDsBsK5zEwrxz0Kmvz5qx1SOhaLFfDGHjLUqVBKVNlFbgSvg31cq0sLnSen3IL2Ktfhq1VdzlVf5ejPpSL7obIjhWy4Ceef9U6Lf7jJXkFwHr54qKlEJ5/vT92UTMZoD/t1RBcWPeEwAfYG0k6cVoenX4ZkgvkIn53MiPoKC6hII2+9U9oqGeDdSKbzfVUREvlV7O[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c41e3b3-7f14-2112-5b76-d36d01852908/3fdd7633",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:49:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:bfbb9fd8-a01e-006c-66da-2a4b23000000\n",
        "Time:2024-10-30T14:49:41.7150324Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c41e3b3-7f14-2112-5b76-d36d01852908?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:49:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-2c41e3b3-7f14-2112-5b76-d36d01852908\"><Blobs><Blob><Name>3fdd7633</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:49:41 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:49:41 GMT</Last-Modified><Etag>0x8DCF8F2160602C9</Etag><Content-Length>5120</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>4045e41f</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:49:41 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:49:41 GMT</Last-Modified><Etag>0x8DCF8F2162C4B70</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>un[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2c41e3b3-7f14-2112-5b76-d36d01852908?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:49:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1489408783",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
