{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789496AB1\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789548D10\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4372752Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789561376\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4472694Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789563A86\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4482694Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789563A86\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4492686Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789563A86\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4482694Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7789561376\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4482694Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "2wQbBK1OOgYXwe795ea+SoCMZ/uV06U80maE+8TSdj/3zV2Vb3p+dp+nud1CcH2OKo2cF50taghe3zFHyj5BREuvBhiJKdoGDvFb7RrI+WHo9dA3Nl6iyWJVNpBJNqxgZXSRk2plBAGzlgis0nztleXPXtRuCg3tDD22M/JKvNhE+oimN2X3gvDPhKBV9fflaKGqedjX8lpmo4Ysr9EOaNkwZ9f0R16A19vjnoZtmBdG0MtRn0IAbQctP5Pey9MfwBvGJI4f8SBCKaL89FTT+Qtv5t4FvciWMPrPxgfKoQwIw91rpnOJJt+qDnWgA3mzWUaIb+T0GgNSMPOTUCoYd4iV9DB2aFKY5r//Wq9T9SyBG23BQjInE6naGXV/9da1kZbtCw9IPPHz74gk9cBU/zvHEjS9VzV[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/file%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/file%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/space%20folder/space%20file?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/folder%3Dbar/subfile%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version":[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/folder%2540bar/different%21file?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653\"><Blobs><Blob><Name>file%3Dtest%26</Name><VersionId>2025-07-03T21:21:12.4482694Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:21:12 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:21:12 GMT</Last-Modified><Etag>0x8DDBA77895CA230</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>file=test!@#$%</Name><VersionId>2025-07-03T21:21:12.4472694Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:21:12 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:21:12 GMT</Last-Modified><Etag>0x8DDBA77895CA230</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA77895CA230\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:12.4482694Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDBA77895CA230\"",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA77895CA230\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:21:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5243a0c3-d01a-7b0d-50bf-32c1c90b2653?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1831497031",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
