{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:39:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF788486F52AC\"",
        "Last-Modified": "Mon, 28 Oct 2024 19:39:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c/cc3d00c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 28 Oct 2024 19:39:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF7884878B80F\"",
        "Last-Modified": "Mon, 28 Oct 2024 19:39:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c/cc3d00c5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 19:39:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "YRq4VRsPUKnJI13tLmhLkncnt90SYO1cwqAXJggSOxi+4dbtxSTzSRdNGLMKSNoStoCttp9uIwEsXJJ6+Cmht+dFLk2RXcxTNG3FxEc6UXnGBG+HZYV4UL3VwGmReFHtrGHMxRqNgFi0WoEyqV+58goYtPO6GlFizN6PvJ1iwbwb1xjlboxfOIQW0gsDRqdeG85eeMNeM5IQafk7/cS7UZjFFtFG1IN+uXtupEdGXoU3MaDOBEn4vaOG1QSSJDrAWoByPjDVF0dK4L9I749KyQtzBMwj7U1PzFkuwP5/65RArknG0yBVYRlZgySJsM0UOwv5Hx9unG0yI3HWp1ZIy/QqB0FFg/bqHaKzyWkpxRyMGYTyhsx10hHblK+vf7rCEbgvX6iLzrgVDgF8utMECV5USo7RVUQ[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c/91aaf9c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 28 Oct 2024 19:39:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:319f0878-f01e-003c-3371-298973000000\n",
        "Time:2024-10-28T19:39:48.5171275Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:39:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c\"><Blobs><Blob><Name>23541a50</Name><Properties><Creation-Time>Mon, 28 Oct 2024 19:39:48 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 19:39:48 GMT</Last-Modified><Etag>0x8DCF78848A40425</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>91aaf9c5</Name><Properties><Creation-Time>Mon, 28 Oct 2024 19:39:48 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 19:39:48 GMT</Last-Modified><Etag>0x8DCF788488DFCE6</Etag><Content-Length>5120</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>un[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bac908b6-7678-4cc0-f504-4d6ca292a07c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:39:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "258311120",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
