{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78D3397C967\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:15:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df/0f24d6e9/4be636b5/17f53534/acb34e1b/f4823321",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78D33A7ECDE\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:15:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df/0f24d6e9/4be636b5/17f53534/acb34e1b/f4823321?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "wLvipspqHt4J/GLTj0jaipebYvEzkBxTFu1gcCbfoBjlZuGGrksxthSj6jdlZDYD76W0vDocxjCej5DdCq64KlxK7ShmVNxMaqvcj6Xl7rG2XICAK+PeyaCx5x66VKxm68DbG3cNnZrJZ1KOPzaKuaHeJq0tN/94ayOHtWy9kRb+dqTlCdM6qb/ltsOQT4pqJi593C3/OLPBYq9ThucuDNU8j8iSpa/No33tR4A75xuZHY49P7Xo/z7wI6cj5iLYt6rtVMDB2IF/rziwEfAyhXuTumhY8MwgU5CKoYEIqrxaFY/WTpNb10UNvo99OO1NvZ4rkCy6f8fdzQAwNjb/dwV7VfxgXDfnOOIjSjE9oxuiPOTj3BqQoJXI+ICSK6EPDUeJAeLx7WBmQ1dJljSWoCrkjflRHJr[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-05346127-618d-cc08-e9b4-094ff64503df\"><Blobs><Blob><Name>0f24d6e9/4be636b5/17f53534/acb34e1b/f4823321</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:15:00 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:15:00 GMT</Last-Modified><Etag>0x8DCF78D33B24181</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df/0f24d6e9/4be636b5/17f53534/acb34e1b/f4823321",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78D33B24181\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:15:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:15:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df/0f24d6e9/4be636b5/17f53534/acb34e1b/f4823321",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF78D33B24181\"",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78D33B24181\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:15:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:15:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05346127-618d-cc08-e9b4-094ff64503df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:15:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1052037501",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
