{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00620FB15D2C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc/7363492d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00620FBBEF86\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc/7363492d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "FwVPZSb0QgEU9qajryETdKWNl/beoKOdxCHHCMKxystwui25RjxPtWgtfO7q4pKK1wXJAKgs/3ZisaEFLTk+YyzaMvT0Wi5pPeKNsSO1s+KPPTG858ojRLq2VpSbSogu7hnBD6+dlnzXYMLGn01Srf6+du8Igntit+45PQOZzfJaXsMK86Mz8ae05YcHXaRsZKmW3NSYJmudX1fAZFh5PpLQbECKR7lai4VIU53zW1pJzNlZAvEewThXbZNLcoxOO6b1N/Bk4hzwO1BPT9LOqQT9dpd+IDuhsaoIM9olDhn4+hj2/iRp5eq9acegz3JliMSPTvv1zxtrU4VGW65Byiw3VlW62Krfk5GswbZ0AOI4o6oVlcAdAir9iqueIok8e56aaXgcq7AZr7pqSQ5k91KjDrgEKzR[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-82578de8-4d8e-5212-0113-e16bc73342bc\"><Blobs><Blob><Name>7363492d</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:43:50 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:43:50 GMT</Last-Modified><Etag>0x8DE00620FEEFB1B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>912eabaa</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:43:50 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:43:50 GMT</Last-Modified><Etag>0x8DE00620FED0192</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc/7363492d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00620FEEFB1B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc/7363492d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE00620FEEFB1B\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00620FEEFB1B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:43:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "Response[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82578de8-4d8e-5212-0113-e16bc73342bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1582147816",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
