{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006207073324\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00620725F1E8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062072CC80B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062072D63A3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062072E9ABF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062072FD1E7\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062073439BC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/file%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "4CdUqMilFXrjdcLEQJecknfTMVrT/FvdoZOVXl9zhK4J74X0/2RYtdv0rWnPmx59FNyz+33ePuTLdgY0ELcacPEUu1ERp5ITe3x+307xDgZ1F0mDv4gxKrGgKIhdI6Qk2Tx4u9/MbG1Jn38BX16W2WgAvvlulrFo45GfcX4JtljXWgUReVMmqKvcOh8JL8pSCk4gXWSrtUOLENdOLPruP+knKQVZhGAV2RZOklyRXrPGTWYv6VnzLKTChml72Huw7fo24gbF+YXuCoNOXSPm+rEkiN+TvlaQM/1glv73mgCanaRiWnytAFPhQd/Vpc6A24u4VlCbHC6jpa4IZGKH92+Ds79/hJ80d4eMsn13u44u37tyPkSw/oF1vrXOpJvwWUpvUfEOAVfrg97ID2mxLOog2YWnFLg[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/file%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
    [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/folder%2540bar/different%21file?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/folder%3Dbar/subfile%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-ver[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/space%20folder/space%20file?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-20c88148-4206-b8fd-e684-f48d4b428d3b\"><Blobs><Blob><Name>file%3Dtest%26</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:43:36 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:43:36 GMT</Last-Modified><Etag>0x8DE00620736334C</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>file=test!@#$%</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:43:35 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:43:36 GMT</Last-Modified><Etag>0x8DE00620734D54F</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseSta[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00620736334C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE00620736334C\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00620736334C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:43:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "Response[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-20c88148-4206-b8fd-e684-f48d4b428d3b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:43:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1333947056",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
