{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Communication/communicationServices/mycommunicationServicexxx?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"c1004207-0000-0700-0000-696dcd8b0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Communication/communicationServices/mycommunicationServicexxx",
        "name": "mycommunicationServicexxx",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-01-19T06:21:45.8726226Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-01-19T06:21:45.8726226Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "mycommunicationservicexxx.unitedstates.communication.azure.com",
          "immutableResourceId": "6aac8b89-ed59-433f-be69-e1179d22e893",
          "dataLocation": "UnitedStates"
        }
      }
    }
  ],
  "Variables": {}
}
