{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/checkNameAvailability?api-version=2024-04-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "clusternlURFIK",
        "type": "Microsoft.Kusto/clusters"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "clusternlURFIK",
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK?api-version=2024-04-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "eastus",
        "properties": {
          "allowedIpRangeList": [
            "0.0.0.0/0"
          ],
          "enableAutoStop": true,
          "enableDoubleEncryption": false,
          "enablePurge": true,
          "enableStreamingIngest": true,
          "languageExtensions": {
            "value": [
              {
                "languageExtensionImageName": "Python3_10_8",
                "languageExtensionName": "PYTHON"
              },
              {
                "languageExtensionImageName": "R",
                "languageExtensionName": "R"
              }
            ]
          },
          "publicIPType": "DualStack",
          "publicNetworkAccess": "Enabled"
        },
        "sku": {
          "capacity": 2,
          "name": "Standard_L16as_v3",
          "tier": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK",
        "name": "clusternlURFIK",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u0022\u0022",
        "location": "eastus",
        "sku": {
          "name": "Standard_L16as_v3",
          "tier": "Standard",
          "capacity": 2
        },
        "properties": {
          "state": "Creating",
          "enableStreamingIngest": true,
          "languageExtensions": {
            "value": [
              {
                "languageExtensionImageName": "Python3_10_8",
                "languageExtensionName": "PYTHON"
              },
              {
                "languageExtensionImageName": "R",
                "languageExtensionName": "R"
              }
            ]
          },
          "enablePurge": true,
          "enableDoubleEncryption": false,
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [
            "0.0.0.0/0"
          ],
          "enableAutoStop": true,
          "publicIPType": "DualStack",
          "provisioningState": "Creating"
        },
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/operationresults/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "startTime": "2023-07-20T03:07:16.1919775Z",
        "endTime": "2023-07-20T03:07:16.1919775Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "ClusterCreateExternal",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-07-20T03:32:29.1727173Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK",
        "name": "clusternlURFIK",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222023-07-20T03:32:29.1727173Z\u0022",
        "location": "East US",
        "sku": {
          "name": "Standard_L16as_v3",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": null,
          "uri": "https://clusternlurfik.eastus.kusto.windows.net",
          "dataIngestionUri": "https://ingest-clusternlurfik.eastus.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": true,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": [
              {
                "languageExtensionName": "R",
                "languageExtensionImageName": "R"
              },
              {
                "languageExtensionName": "PYTHON",
                "languageExtensionImageName": "Python3_10_8"
              }
            ]
          },
          "enablePurge": true,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [
            "0.0.0.0/0"
          ],
          "enableAutoStop": true,
          "publicIPType": "DualStack",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [],
          "migrationCluster": null,
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/checkNameAvailability?api-version=2024-04-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "database4uac3S",
        "type": "Microsoft.Kusto/clusters/databases"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "database4uac3S",
        "nameAvailable": true,
        "message": ""
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/databases/database4uac3S?api-version=2024-04-13\u0026callerRole=Admin",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ReadWrite",
        "location": "eastus",
        "properties": {
          "softDeletePeriod": "P1D"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK/Databases/database4uac3S",
        "name": "clusternlURFIK/database4uac3S",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "eastus",
        "kind": "ReadWrite",
        "properties": {
          "softDeletePeriod": "P1D",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/databases/database4uac3S?api-version=2024-04-13\u0026callerRole=Admin",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK/Databases/database4uac3S",
        "name": "clusternlURFIK/database4uac3S",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "East US",
        "kind": "ReadWrite",
        "properties": {
          "softDeletePeriod": "P1D",
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/attachedclusternp0TYvO?api-version=2024-04-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "eastus",
        "propertie[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/attachedclusternp0TYvO/databases/attacheddatabaseIHuOKm?api-version=2024-04-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ReadWrite",
        "location": "eastus",
        "properties": {
          "softDeletePeriod": "P1D"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/attachedclusternp0TYvO/Databases/attacheddatabaseIHuOKm",
        "name": "attachedclusternp0TYvO/attacheddatabaseIHuOKm",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "eastus",
        "kind": "ReadWrite",
        "properties": {
          "softDeletePeriod": "P1D",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/attachedDatabaseConfigurationCheckNameAvailability?api-version=2024-04-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "adc1",
        "type": "Microsoft.Kusto/clusters/attachedDatabaseConfigurations"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "adc1",
        "nameAvailable": true,
        "message": ""
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/attachedDatabaseConfigurations/attachedofnHJf?api-version=2024-04-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "clusterResourceId": "Sanitized",
          "databaseName": "attacheddatabaseIHuOKm",
          "databaseNameOverride": "overridekustodatabase",
          "defaultPrincipalsModificationKind": "Union",
          "tableLevelSharingProperties": {
            "externalTablesToExclude": [
              "ExternalTable2"
            ],
            "externalTablesToInclude": [
              "ExternalTable1"
            ],
            "materializedViewsToExclude": [
              "MaterializedViewTable2"
            ],
            "materializedViewsToInclude": [
              "MaterializedViewTable1"
            ],
            "tablesToExclude": [
              "Table2"
            ],
            "tablesToInclude": [
              "Table1"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/eastus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/attachedDatabaseConfigurations/attachedofnHJf?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK/AttachedDatabaseConfigurations/attachedofnHJf",
        "name": "clusternlURFIK/attachedofnHJf",
        "type": "Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations",
        "location": "East US",
        "properties": {
          "clusterResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/attachedclusternp0TYvO",
          "databaseName": "attacheddatabaseIHuOKm",
          "attachedDatabaseNames": [
            "overridekustodatabase"
          ],
          "defaultPrincipalsModificationKind": "Union",
          "tableLevelSharingProperties": {
            "tablesToInclude": [
              "Table1"
            ],
            "tablesToExclude": [
              "Table2"
            ],
            "externalTablesToInclude": [
              "ExternalTable1"
            ],
            "externalTablesToExclude": [
              "ExternalTable2"
            ],
            "materializedViewsToInclude": [
              "MaterializedViewTable1"
            ],
            "materializedViewsToExclude": [
              "MaterializedViewTable2"
            ],
            "functionsToInclude": [],
            "functionsToExclude": []
          },
          "databaseNameOverride": "overridekustodatabase",
          "databaseNamePrefix": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/attachedDatabaseConfigurations?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimi[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/attachedDatabaseConfigurations/attachedofnHJf?api-version=2024-04-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East US/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East%20US/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East%20US/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "282"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East US/operationresults/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "startTime": "2023-07-20T03:42:22.4977225Z",
        "endTime": "2023-07-20T03:42:22.747761Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "FollowerDatabaseDetach",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/checkPrincipalAssignmentNameAvailability?api-version=2024-04-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kustoprincipal1",
        "type": "Microsoft.Kusto/clusters/principalAssignments"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "kustoprincipal1",
        "nameAvailable": true,
        "message": ""
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/principalAssignments/clusterprincipaG618Y0?api-version=2024-04-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "principalType": "App",
          "role": "AllDatabasesAdmin",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/East US/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-04-13",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK/PrincipalAssignments/clusterprincipaG618Y0",
        "name": "clusternlURFIK/clusterprincipaG618Y0",
        "type": "Microsoft.Kusto/Clusters/PrincipalAssignments",
        "properties": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "role": "AllDatabasesAdmin",
          "principalType": "App",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/principalAssignments/clusterprincipaG618Y0?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK/PrincipalAssignments/clusterprincipaG618Y0",
        "name": "clusternlURFIK/clusterprincipaG618Y0",
        "type": "Microsoft.Kusto/Clusters/PrincipalAssignments",
        "properties": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "role": "AllDatabasesAdmin",
          "principalType": "App",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "tenantName": "Microsoft",
          "principalName": "chenjieshi-go-test",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/clusternlURFIK/principalAssignments?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "298"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK/PrincipalAssignments/clusterprincipaG618Y0",
            "name": "clusternlURFIK/clusterprincipaG618Y0",
            "type": "Microsoft.Kusto/Clusters/PrincipalAssignments",
            "properties": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "role": "AllDatabasesAdmin",
              "principalType": "App",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "tenantName": "Microsoft",
              "principalName": "chenjieshi-go-test",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/clusters?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "ab233125-c39f-4484-9c27-336a7e16b9c0"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "298"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/Clusters/clusternlURFIK",
            "name": "clusternlURFIK",
            "type": "Microsoft.Kusto/Clusters",
            "eta[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/skus?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "clusters",
            "name": "Dev(No SLA)_Standard_D11_v2",
            "tier": "Basic",
            "locations": [
              "australiacentral"
            ],
            "locationInfo": [
              {
                "location": "australiacentral",
                "zones": [],
                "zoneDetails": []
              }
            ],
            "restrictions": []
          },
          {
            "resourceType": "clusters",
            "name": "Dev(No SLA)_Standard_D11_v2",
            "tier": "Basic",
            "locations": [
              "australiaeast"
            ],
            "locationInfo": [
              {
                "location": "australiaeast",
                "zones": [
                  "3",
                  "1",
                  "2"
                ],
                "zoneDetails": []
              }
            ],
         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters?api-version=2024-04-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "[...]
[...]
    {
[...]
