{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/operations?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Dashboard/registeredSubscriptions/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Dashboard",
              "resource": "RegisteredSubscriptions",
              "operation": "Get registered subscriptions",
              "description": "Get registered subscription details"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Dashboard/grafana/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Dashboard",
              "resource": "Grafana",
              "operation": "Get/List grafana resources",
              "description": "Read grafana"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Dashboard/grafana/write",
            "isDataAction": false,
   [...]
