{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-9547?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547",
        "name": "testRG-9547",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService910?api-version=2022-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "40932087-d9c5-7d8d-6818-71f78bd510ee"
        },
        "sku": {
          "name": "F0"
        },
        "kind": "sdk",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "location": "global"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022130014cc-0000-1800-0000-65853edf0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService910",
        "name": "testbotService910",
        "type": "Microsoft.BotService/botServices",
        "etag": "\u0022130014cc-0000-1800-0000-65853edf0000\u0022",
        "location": "global",
        "sku": {
          "name": "F0"
        },
        "kind": "sdk",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "40932087-d9c5-7d8d-6818-71f78bd510ee",
          "msaAppTenantId": null,
          "msaAppType": null,
          "msaAppMSIResourceId": null,
          "developerAppInsightKey": null,
          "developerAppInsightsApplicationId": null,
          "luisAppIds": [],
          "endpointVersion": "3.0",
          "configuredChannels": [
            "webchat",
            "directline"
          ],
          "enabledChannels": [
            "webchat",
            "directline"
          ],
          "isDeveloperAppInsightsApiKeySet": false,
          "isStreamingSupported": false,
          "schemaTransformationVersion": "1.3",
          "publishingCredentials": null,
          "parameters": null,
          "allSettings": null,
          "manifestUrl": null,
          "storageResourceId": null,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "migrationToken": null,
          "isCmekEnabled": false,
          "cmekKeyVaultUrl": null,
          "openWithHint": null,
          "appPasswordHint": null,
          "publicNetworkAccess": null,
          "disableLocalAuth": false,
          "cmekEncryptionStatus": "Off",
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices?api-version=2022-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService910",
            "name": "testbotService910",
            "type": "Microsoft.BotService/botServices",
            "etag": "\u0022130014cc-0000-1800-0000-65853edf0000\u0022",
            "location": "global",
            "sku": {
              "name": "F0"
            },
            "kind": "sdk",
            "tags": {
         [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService9101?api-version=2022-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.BotService/botServices/testbotService9101\u0027 under resource group \u0027testRG-9547\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService910?api-version=2022-09-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "40932087-d9c5-7d8d-6818-71f78bd510ee"
        },
        "sku": {
          "name": "F0"
        },
        "kind": "sdk",
        "tags": {
          "UpdateKey1": "UpdateValue1"
        },
        "location": "global"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022130035cc-0000-1800-0000-65853ee40000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService910",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-9547/providers/Microsoft.BotService/botServices/testbotService910?api-version=2022-09-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1906442856",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
