{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6462?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462",
        "name": "testRG-6462",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices/testbotService3876?api-version=2022-09-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "location": "global",
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "9f190e56-8e9c-2a31-0d52-819d5eb2ecb2"
        },
        "sku": {
          "name": "F0"
        },
        "kind": "sdk"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2900a3dc-0000-1800-0000-66e535450000\"",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices/testbotService3876",
        "name": "testbotService3876",
        "type": "Microsoft.BotService/botServices",
        "etag": "\"2900a3dc-0000-1800-0000-66e535450000\"",
        "location": "global",
        "sku": {
          "name": "F0"
        },
        "kind": "sdk",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "9f190e56-8e9c-2a31-0d52-819d5eb2ecb2",
          "msaAppTenantId": null,
          "msaAppType": null,
          "msaAppMSIResourceId": null,
          "developerAppInsightKey": null,
          "developerAppInsightsApplicationId": null,
          "luisAppIds": [],
          "endpointVersion": "3.0",
          "configuredChannels": [
            "webchat",
            "directline"
          ],
          "enabledChannels": [
            "webchat",
            "directline"
          ],
          "isDeveloperAppInsightsApiKeySet": false,
          "isStreamingSupported": false,
          "schemaTransformationVersion": "1.3",
          "publishingCredentials": null,
          "parameters": null,
          "allSettings": null,
          "manifestUrl": null,
          "storageResourceId": null,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "migrationToken": null,
          "isCmekEnabled": false,
          "cmekKeyVaultUrl": null,
          "openWithHint": null,
          "appPasswordHint": null,
          "publicNetworkAccess": null,
          "disableLocalAuth": false,
          "cmekEncryptionStatus": "Off",
          "provisioningState": "Succeeded"
        },
        "zones": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices?api-version=2022-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices/testbotService3876",
            "name": "testbotService3876",
            "type": "Microsoft.BotService/botServices",
            "etag": "\"2900a3dc-0000-1800-0000-66e535450000\"",
            "location": "global",
            "sku": {
              "name": "F0"
            },
            "kind": "sdk",
            "tags": {
              "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices/testbotService38761?api-version=2022-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.BotService/botServices/testbotService38761' under resource group 'testRG-6462' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices/testbotService3876?api-version=2022-09-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "UpdateKey1": "UpdateValue1"
        },
        "location": "global",
        "properties": {
          "displayName": "TestBot",
          "description": "The description of the bot",
          "endpoint": "https://mybot.coffee/",
          "msaAppId": "9f190e56-8e9c-2a31-0d52-819d5eb2ecb2"
        },
        "sku": {
          "name": "F0"
        },
        "kind": "sdk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6462/providers/Microsoft.BotService/botServices/testbotService3876?api-version=2022-09-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1067934310",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
