{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "ddfc04a9-52c3-4193-b524-5718394d8a4a",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "properties": {
          "name": "azNotificationHub8147",
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147",
        "name": "azNotificationHub8147",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147/authorizationRules/CustomPolicy4717?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "rights": [
            "Send",
            "Listen",
            "Manage"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "c06eefca-df97-4b20-b112-e93f4d1906a5",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "rights": [
            "Manage",
            "Listen",
            "Send"
          ],
          "modifiedTime": "2024-05-24T23:48:07.1193537\u002B00:00",
          "createdTime": "2024-05-24T23:48:07.1193537\u002B00:00"
        },
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147/authorizationRules/CustomPolicy4717",
        "name": "CustomPolicy4717",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs/authorizationRules"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147/authorizationRules/CustomPolicy4717?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "6e42107e-48e8-431d-a856-85c576855b82",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Notification Hub azNotificationHub8147 or Authorization Rule CustomPolicy4717 was not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "52e51775-1124-4468-82ef-6d407d7c0a85",
    "RandomSeed": "984341852",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
