{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "NH-INT7-COMP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourcegroups/NotificationHubRG-4511?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511",
        "name": "NotificationHubRG-4511",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTI0MzM7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview\u0026t=638521912783968280\u0026c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTI0MzM7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview\u0026t=638521912783968280\u0026c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0B[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "6cbfa66e-cd6a-4586-b5f5-be614c7924e3",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace2433",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-24T23:47:54.647\u002B00:00",
          "updatedAt": "2024-05-24T23:47:54.65\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace2433.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433",
        "name": "azNotificationHubNamespace2433",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "3c04c9f1-dca9-43da-a5d4-8f7d36bee698",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "name": "azNotificationHub8147",
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-4511/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2433/notificationHubs/azNotificationHub8147",
        "name": "azNotificationHub8147",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "52e51775-1124-4468-82ef-6d407d7c0a85",
    "RandomSeed": "1280697596",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
