{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860518515104859?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61BF80D655\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:26:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860518515104859/dir175860518545200595....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61BFAF05D9\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:26:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-23T05:26:29.1168729Z",
        "x-ms-file-creation-time": "2025-09-23T05:26:29.1168729Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T05:26:29.1168729Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860518515104859/dir175860518545200595..../share175860518515104859....?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "10",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61BFDCC044\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:26:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:26:29.4165572Z",
        "x-ms-file-creation-time": "2025-09-23T05:26:29.4165572Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:26:29.4165572Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860518515104859/dir175860518545200595..../share175860518515104859....?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DDFA61C00B640A\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:26:29 GMT",
        "x-ms-file-last-write-time": "2025-09-23T05:26:29.7222154Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860518515104859/dir175860518545200595..../share175860518515104859....?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-range": "bytes=0-7",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-7/10",
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDFA61C0399324\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:26:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:26:30.0248868Z",
        "x-ms-file-creation-time": "2025-09-23T05:26:29.4165572Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:26:30.0248868Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "HelloWor"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860518515104859?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175860518545200595",
    "file": "share175860518515104859"
  }
}
