{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409494320304076?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F94D2128F\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:22:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409494320304076/dir176409494350002467....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F94FFBB97\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:22:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:22:24.7015319Z",
        "x-ms-file-creation-time": "2025-11-25T18:22:24.7015319Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:22:24.7015319Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409494320304076/dir176409494350002467..../share176409494320304076....?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "10",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F952D4F25\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:22:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T18:22:25.0002213Z",
        "x-ms-file-creation-time": "2025-11-25T18:22:25.0002213Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:22:25.0002213Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409494320304076/dir176409494350002467..../share176409494320304076....?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DE2C4F955BA52A\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:22:25 GMT",
        "x-ms-file-last-write-time": "2025-11-25T18:22:25.3038890Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409494320304076/dir176409494350002467..../share176409494320304076....?comp=rangelist&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DE2C4F95B66BE5\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:22:25 GMT",
        "x-ms-content-length": "10",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>9</End></Range></Ranges>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409494320304076?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409494350002467",
    "file": "share176409494320304076"
  }
}
