{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/:query-knowledgebases?api-version=2025-05-15-preview&projectName=test-project&deploymentName=test",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "Battery life",
        "filters": {
          "metadataFilter": {
            "metadata": [
              {
                "key": "explicitlytaggedheading",
                "value": "check the battery level"
              },
              {
                "key": "explicitlytaggedheading",
                "value": "make your battery last"
              }
            ],
            "logicalOperation": "OR"
          }
        },
        "top": 3
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "AzureSearchBadState",
          "message": "Invalid expression: Could not find a property named 'explicitlytaggedheading' on type 'search.complex.metadata'.\r\nParameter name: $filter"
        }
      }
    }
  ],
  "Variables": {}
}
