{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/:query-knowledgebases?api-version=2025-05-15-preview&projectName=test-project&deploymentName=production",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "Battery life",
        "filters": {
          "metadataFilter": {
            "metadata": [
              {
                "key": "explicitlytaggedheading",
                "value": "check the battery level"
              },
              {
                "key": "explicitlytaggedheading",
                "value": "make your battery last"
              }
            ],
            "logicalOperation": "OR"
          }
        },
        "top": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "answers": [
          {
            "questions": [
              "Battery life"
            ],
            "answer": "To make your battery last, reduce screen brightness.",
            "confidenceScore": 1.0,
            "id": 4,
            "source": "Sanitized",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "make your battery last"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            }
          },
          {
            "questions": [
              "How do I check the battery level?"
            ],
            "answer": "Check the battery level in Settings.",
            "confidenceScore": 0.4168,
            "id": 3,
            "source": "Sanitized",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "check the battery level"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
