{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1076389971/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1076389971/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1076389971 (Activity ID: eb6a4f9a-9ebb-11f0-af9d-6045bdb54810)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1131436936"
  }
}
