{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/522052722/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/522052722/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "164"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765101,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765101
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/522052722/2b9c4e7d5b26459a9ed28535862abdf8",
          "kty": "EC-HSM",
          "x": "bkSnryp-mmTkC8WYt7OBhUSgkakC8fMvsGRGF22V1mf3ES7LqWLb3-sL8Ezi3aKb",
          "y": "dyVHYZwhf7WR2eiEr0cYEn72LaQejVzh1oqW_ePHTf4hZpZEYLikfXrOTwzhx-l_"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/522052722/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765101,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765101
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/522052722/2b9c4e7d5b26459a9ed28535862abdf8",
          "kty": "EC-HSM",
          "x": "bkSnryp-mmTkC8WYt7OBhUSgkakC8fMvsGRGF22V1mf3ES7LqWLb3-sL8Ezi3aKb",
          "y": "dyVHYZwhf7WR2eiEr0cYEn72LaQejVzh1oqW_ePHTf4hZpZEYLikfXrOTwzhx-l_"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1297463896"
  }
}
