{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1176263222/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1176263222/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "102"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931717,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931717
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1176263222/c6f704a8bfd746f010affe2d005de578",
          "kty": "RSA-HSM",
          "n": "nLhfpT0AmPOnvfnn5ZpvIWCOVXE4l04Tas20h2tkZfcVJ9N1kTD65XsKWNzhalbaAvtDAaQ-AA8KmzQvZGPhVWM5XpH94RC4o5RVxFRuVycITLv0g5mU5_OlN9wGmpNWvOzYnVsmephvJvlk-kpccAMACdk_S01_rR7WWqB6WLco2OLQlR6UKMWNKiDdOylPDeB1w2GXKKzY9lMxqehFb7h-rEHztI6B_iW1bstAFWQVzDPQvs9ZydONloVo4qdww27isJgozCB6ymZGhRYh0Z5mgv4fSfZB2MJXM04eR6FUS5yZFmCeCgctsjxQa7pt3QOCot9wzG8ck26CzyWRpQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1176263222/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931717,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931717
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1176263222/c6f704a8bfd746f010affe2d005de578",
          "kty": "RSA-HSM",
          "n": "nLhfpT0AmPOnvfnn5ZpvIWCOVXE4l04Tas20h2tkZfcVJ9N1kTD65XsKWNzhalbaAvtDAaQ-AA8KmzQvZGPhVWM5XpH94RC4o5RVxFRuVycITLv0g5mU5_OlN9wGmpNWvOzYnVsmephvJvlk-kpccAMACdk_S01_rR7WWqB6WLco2OLQlR6UKMWNKiDdOylPDeB1w2GXKKzY9lMxqehFb7h-rEHztI6B_iW1bstAFWQVzDPQvs9ZydONloVo4qdww27isJgozCB6ymZGhRYh0Z5mgv4fSfZB2MJXM04eR6FUS5yZFmCeCgctsjxQa7pt3QOCot9wzG8ck26CzyWRpQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1238623909"
  }
}
