{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/468592202/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/468592202/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "129"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765092,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765092
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/468592202/72046aa83f5b064a0c5059cf93f9aa77",
          "kty": "EC-HSM",
          "x": "iVypjPp8e9Ow6hfVBc8Q1RS8guhgDTmGJWjvXpI-4Jc",
          "y": "2rvrxZ_-0Pengs6cflZXtT64AhXLaKWlx85zTUOyJV4"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/468592202/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765092,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765092
        },
        "key": {
          "crv": "P-256K",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/468592202/72046aa83f5b064a0c5059cf93f9aa77",
          "kty": "EC-HSM",
          "x": "iVypjPp8e9Ow6hfVBc8Q1RS8guhgDTmGJWjvXpI-4Jc",
          "y": "2rvrxZ_-0Pengs6cflZXtT64AhXLaKWlx85zTUOyJV4"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "700507398"
  }
}
