{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/477543513/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/477543513/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "145"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406785,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406785
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/477543513/2993d54e6eea4413a95465dd1a6833dc",
          "kty": "EC-HSM",
          "x": "melU8DD2o5vE80U5zaUY25TZ69Qg3cbYVlOGM9AVovqKhkACTUINU4scIO3VesI3",
          "y": "xDwzlzS15OkPigT0j_68iZ87RAAUEagOstkczHgSXh2vkFddiyxlpeS5roDAm2GI"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/477543513/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406785,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406785
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/477543513/2993d54e6eea4413a95465dd1a6833dc",
          "kty": "EC-HSM",
          "x": "melU8DD2o5vE80U5zaUY25TZ69Qg3cbYVlOGM9AVovqKhkACTUINU4scIO3VesI3",
          "y": "xDwzlzS15OkPigT0j_68iZ87RAAUEagOstkczHgSXh2vkFddiyxlpeS5roDAm2GI"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "947212838"
  }
}
