{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1173176898/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1173176898/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "103"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358858,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358858
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1173176898/da93d84a3bc5052da6175568f81ff170",
          "kty": "EC-HSM",
          "x": "ZPsrMhYFl5MRhCOjQ_Y6CTsKR1rY6_O4mknDfPOiBIE",
          "y": "AUq8BaDTah2zYQeucfpMOdEN7LhAF5rV4TT0xq1GR-o"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1173176898/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358858,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358858
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1173176898/da93d84a3bc5052da6175568f81ff170",
          "kty": "EC-HSM",
          "x": "ZPsrMhYFl5MRhCOjQ_Y6CTsKR1rY6_O4mknDfPOiBIE",
          "y": "AUq8BaDTah2zYQeucfpMOdEN7LhAF5rV4TT0xq1GR-o"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1837270371"
  }
}
