{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116322085/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116322085/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "343"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539752,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539752
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116322085/490697330d9c40ef8b0a226b93a653f6",
          "kty": "EC-HSM",
          "x": "AfOms0Q4k0e9Erlb8VDXvPZX6P68_j_bZ3p_Jg7p167NrjZEvO-3M8ltOz5wM755GyM80nRoUO-KrLDoY5SXdivo",
          "y": "AKfbr07iBER-RwiMo2no3tFcw6BrbV8PqThqRSsU4Nacb1FmjL74YCros7_9Af9TCQg5FBuh5MTUl_8xZYhsxn5d"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116322085/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539752,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539752
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/116322085/490697330d9c40ef8b0a226b93a653f6",
          "kty": "EC-HSM",
          "x": "AfOms0Q4k0e9Erlb8VDXvPZX6P68_j_bZ3p_Jg7p167NrjZEvO-3M8ltOz5wM755GyM80nRoUO-KrLDoY5SXdivo",
          "y": "AKfbr07iBER-RwiMo2no3tFcw6BrbV8PqThqRSsU4Nacb1FmjL74YCros7_9Af9TCQg5FBuh5MTUl_8xZYhsxn5d"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "347605111"
  }
}
