{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/593837513/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/593837513/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "63"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931674,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931674
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/593837513/ce7c92018d934ef9af5ddee348c7e232",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/593837513/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931674,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931674
        },
        "key": {
          "key_ops": [
            "sign",
            "verify",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/593837513/ce7c92018d934ef9af5ddee348c7e232",
          "kty": "oct-HSM"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "850937400"
  }
}
