{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/32734901/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/32734901/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "109"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759320016,
          "enabled": false,
          "exp": 1567128012,
          "exportable": false,
          "nbf": 1564536012,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759320016
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/32734901/a109a0705e8d06198d9f8e55ae93e0e4",
          "kty": "EC-HSM",
          "x": "eQhIanklXBUp3RtTxbljjY6Rem6BG8EVV54ZJhF4u_8",
          "y": "kF2PrRniSLI46jnwHzSf1L7yje6nTN9wpAUg4e0FxYg"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/32734901/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759320016,
          "enabled": false,
          "exp": 1567128012,
          "exportable": false,
          "nbf": 1564536012,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759320016
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/32734901/a109a0705e8d06198d9f8e55ae93e0e4",
          "kty": "EC-HSM",
          "x": "eQhIanklXBUp3RtTxbljjY6Rem6BG8EVV54ZJhF4u_8",
          "y": "kF2PrRniSLI46jnwHzSf1L7yje6nTN9wpAUg4e0FxYg"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "246474709"
  }
}
