{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/464485753/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/464485753/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004482,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004482
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/464485753/4c4fb7b5539540e0b04713f4fd96575f",
          "kty": "RSA-HSM",
          "n": "tecX6svB6FtUSWtbfHt0x6IhtephKxlxPS9NhOC7-IsdwftoQ4mL9ooTBRDjQbUGkYgexFHrWSED6_HBz2TgwJxV8PdiFgO35SfnZghHpBpw2zjY_OdkfieKc9M4ipYSl21ITma8xvOdBqmuWYVYL5Q_KEqILD74QJae08W86iGE0OPDnObliygOKO7wCvYp3xVyIlBiD7S8JTJrSkklR1xrGaJo86p8I_qKp9wysc53js3IKB5TM7Aym641sANYb_SFKGRghCjeyaXTpzIUecTx1l5XmZ9O0zWQ5v8vsJKT-Goyf2k6YMZ4AVC-XW0mcXuHnucVMuR-Lvzy6grgVQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/464485753/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004482,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004482
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/464485753/4c4fb7b5539540e0b04713f4fd96575f",
          "kty": "RSA-HSM",
          "n": "tecX6svB6FtUSWtbfHt0x6IhtephKxlxPS9NhOC7-IsdwftoQ4mL9ooTBRDjQbUGkYgexFHrWSED6_HBz2TgwJxV8PdiFgO35SfnZghHpBpw2zjY_OdkfieKc9M4ipYSl21ITma8xvOdBqmuWYVYL5Q_KEqILD74QJae08W86iGE0OPDnObliygOKO7wCvYp3xVyIlBiD7S8JTJrSkklR1xrGaJo86p8I_qKp9wysc53js3IKB5TM7Aym641sANYb_SFKGRghCjeyaXTpzIUecTx1l5XmZ9O0zWQ5v8vsJKT-Goyf2k6YMZ4AVC-XW0mcXuHnucVMuR-Lvzy6grgVQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "976691243"
  }
}
