{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1096763147/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1096763147/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "288"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932551,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932551
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1096763147/e62bb184027a03d7bbfafb0034d8ba6d",
          "kty": "EC-HSM",
          "x": "AUa1kWwjuTkHGzRJHnbLyfh4ZLKBd1BE9SyBM1Zbc6o5_MF_ow-1vhxUHBtvHTs_xdZogtxrOx8bsSR5NiNXsEoE",
          "y": "AM_fpRBog7JcGdsM1pb89BpgNSO6n1WoSKCRG2NqNfxevyyhmkVBg-ORxA8-0zwkT9ZC_mgJK7eJZYCIK_fXYcSq"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1096763147/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "11"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932551,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932551
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1096763147/e62bb184027a03d7bbfafb0034d8ba6d",
          "kty": "EC-HSM",
          "x": "AUa1kWwjuTkHGzRJHnbLyfh4ZLKBd1BE9SyBM1Zbc6o5_MF_ow-1vhxUHBtvHTs_xdZogtxrOx8bsSR5NiNXsEoE",
          "y": "AM_fpRBog7JcGdsM1pb89BpgNSO6n1WoSKCRG2NqNfxevyyhmkVBg-ORxA8-0zwkT9ZC_mgJK7eJZYCIK_fXYcSq"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1203309129"
  }
}
