{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058017890/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058017890/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "208"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004452,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004452
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058017890/47482f8c93934e41b821742dd58fef07",
          "kty": "EC-HSM",
          "x": "XHerYDOCnRPolw7-EpbBt_V6ENdJ302-Xht8iBJ81M4MOgZfq-dXVElnX18NfnYQ",
          "y": "XeoPkGoSu84v2BKFjuFo1S7u3wP5dIL_pvt1unfyWNive7O7iPv8iPslTyIbTJ07"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058017890/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004452,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004452
        },
        "key": {
          "crv": "P-384",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/2058017890/47482f8c93934e41b821742dd58fef07",
          "kty": "EC-HSM",
          "x": "XHerYDOCnRPolw7-EpbBt_V6ENdJ302-Xht8iBJ81M4MOgZfq-dXVElnX18NfnYQ",
          "y": "XeoPkGoSu84v2BKFjuFo1S7u3wP5dIL_pvt1unfyWNive7O7iPv8iPslTyIbTJ07"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1416737084"
  }
}
