{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1425532822/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1425532822/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "89"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764744,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764744
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1425532822/bac28dbf28a245a8094c8991bf2d919d",
          "kty": "RSA-HSM",
          "n": "r-p_2Q8qSAGNkA_OTRKWt-clncu02Wk6ZZGJPgETW21YO60VtJsLiCcFp4DonCmyyeYTKFqDZDdwYOj7PHXvoJW5vrEIThV-NhQppWxXNzlPwtHr1nnioEcNGu1N36GvKjemt1n3LMHrgqDdF0bvmFt16ocDrTkc2CjXVl7XX-TuVINZtLlb_2IpZ9PtM3rAGK9oJFko5GRYZVem1MYMu6GoOHgqMTPnUg8gxluX0z5h-lVZh1b3mJziCWSrFhJPi4EO3sLH_OCdI-zcG7EdfPCIkasD2-wMDWgG7UzbmpA1eC560OKpf1c2lBJLSh4lCe4kka1sz3MfASO0557Qkw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1425532822/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764744,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764744
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1425532822/bac28dbf28a245a8094c8991bf2d919d",
          "kty": "RSA-HSM",
          "n": "r-p_2Q8qSAGNkA_OTRKWt-clncu02Wk6ZZGJPgETW21YO60VtJsLiCcFp4DonCmyyeYTKFqDZDdwYOj7PHXvoJW5vrEIThV-NhQppWxXNzlPwtHr1nnioEcNGu1N36GvKjemt1n3LMHrgqDdF0bvmFt16ocDrTkc2CjXVl7XX-TuVINZtLlb_2IpZ9PtM3rAGK9oJFko5GRYZVem1MYMu6GoOHgqMTPnUg8gxluX0z5h-lVZh1b3mJziCWSrFhJPi4EO3sLH_OCdI-zcG7EdfPCIkasD2-wMDWgG7UzbmpA1eC560OKpf1c2lBJLSh4lCe4kka1sz3MfASO0557Qkw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1680832791"
  }
}
