{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/700413892/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/700413892/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "98"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759359017,
          "enabled": false,
          "exp": 1567128012,
          "exportable": false,
          "nbf": 1564536012,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759359017
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/700413892/3b49d97de9e90d31205d830615bd4033",
          "kty": "EC-HSM",
          "x": "UdePg70R-wUz0DsEbLVsa-rUTOIl4PUKo77WivnWb54",
          "y": "4fbL7cyXwmeQXRT65y8S1hQKUHuqU3oSpeueUisnK0Q"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/700413892/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759359017,
          "enabled": false,
          "exp": 1567128012,
          "exportable": false,
          "nbf": 1564536012,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759359017
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/700413892/3b49d97de9e90d31205d830615bd4033",
          "kty": "EC-HSM",
          "x": "UdePg70R-wUz0DsEbLVsa-rUTOIl4PUKo77WivnWb54",
          "y": "4fbL7cyXwmeQXRT65y8S1hQKUHuqU3oSpeueUisnK0Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1710436107"
  }
}
