{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/101845362/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/101845362/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "103"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250650,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250650
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/101845362/a0881ad304ef0fe9b758e8c01f8749c1",
          "kty": "EC-HSM",
          "x": "QV4PheSkISPORAwLwIe_vSXpAf4uknx6NWDvh7aP9-Q",
          "y": "SF6kFQ-VTvSDyZVZ0lFT-B42dX2_z8oQNvN9wlmm6jk"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/101845362/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250650,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250650
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/101845362/a0881ad304ef0fe9b758e8c01f8749c1",
          "kty": "EC-HSM",
          "x": "QV4PheSkISPORAwLwIe_vSXpAf4uknx6NWDvh7aP9-Q",
          "y": "SF6kFQ-VTvSDyZVZ0lFT-B42dX2_z8oQNvN9wlmm6jk"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "1287071034"
  }
}
