{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/40636256/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/40636256/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {
          "enabled": false,
          "nbf": 1564536012,
          "exp": 1567128012
        },
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932142,
          "enabled": false,
          "exp": 1567128012,
          "exportable": false,
          "nbf": 1564536012,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932142
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/40636256/c03b5ceeb8a70ccfbba68226f2775a88",
          "kty": "EC-HSM",
          "x": "6x5Q5dHZO3tEb8WBY9YnuNMiSz86ygl9GdsZHMdQ8lM",
          "y": "jHjlcDKInMxgvYKVlM4x0tYGqf5t_puhU2gHdrtw9eo"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/40636256/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "41"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932142,
          "enabled": false,
          "exp": 1567128012,
          "exportable": false,
          "nbf": 1564536012,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932142
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/40636256/c03b5ceeb8a70ccfbba68226f2775a88",
          "kty": "EC-HSM",
          "x": "6x5Q5dHZO3tEb8WBY9YnuNMiSz86ygl9GdsZHMdQ8lM",
          "y": "jHjlcDKInMxgvYKVlM4x0tYGqf5t_puhU2gHdrtw9eo"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1991721829"
  }
}
