{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1733190123/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1733190123/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932133,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932133
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1733190123/d83611d5b85641cc33eb613128a971a6",
          "kty": "EC-HSM",
          "x": "18aQH-hCn8NQDG2qYp0A8KiwGy0civ_Wv4OJbhyDFQk",
          "y": "icg7UsVNtMbsEbu6XSTQX3sY8enETwx-T43njEo7s_Q"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1733190123/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932133,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932133
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1733190123/d83611d5b85641cc33eb613128a971a6",
          "kty": "EC-HSM",
          "x": "18aQH-hCn8NQDG2qYp0A8KiwGy0civ_Wv4OJbhyDFQk",
          "y": "icg7UsVNtMbsEbu6XSTQX3sY8enETwx-T43njEo7s_Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1778202849"
  }
}
