{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/558306176/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/558306176/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "209"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358900,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358900
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/558306176/d134dfe2eeda094081693f11a6b952ea",
          "kty": "EC-HSM",
          "x": "AISpjZt8aNL1PMDrNY3dsdHdmaaWfw9tJUkmG-hp1h8nXKCpIs5T19vFWpdeG_-4jGO-UbPC68tmr6sQYQtH3mAC",
          "y": "Aa7GRezBMivoFkgH4nOt58Xfbi8YuetxUCg9FcaNHGpn6J0-1n5VaxauKOLmgLmh3jNGHEILL2liX5PtsIyHFDOH"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/558306176/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358900,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358900
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/558306176/d134dfe2eeda094081693f11a6b952ea",
          "kty": "EC-HSM",
          "x": "AISpjZt8aNL1PMDrNY3dsdHdmaaWfw9tJUkmG-hp1h8nXKCpIs5T19vFWpdeG_-4jGO-UbPC68tmr6sQYQtH3mAC",
          "y": "Aa7GRezBMivoFkgH4nOt58Xfbi8YuetxUCg9FcaNHGpn6J0-1n5VaxauKOLmgLmh3jNGHEILL2liX5PtsIyHFDOH"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1394857404"
  }
}
