{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/664069915/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/664069915/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "216"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759319898,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759319898
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/664069915/c9b9eb2f8cdb4351ac49910321fd4e1d",
          "kty": "EC-HSM",
          "x": "ANTYbfCLq2D63jUMa_LW5h9X84NewKPk0gPk-GO5RY7y7VVJ99nx08mK6BftS1RYQK0MtfxdCnDEZE5HORLLBogn",
          "y": "AEqWaZRrdFcYuZ6yxBPQxe3kNVKZxwuU0ydEGbpapgW27CUszRHJKmIASEsTbV_ZxMc9R83qvbFmdbe8QFE9NahC"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/664069915/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759319898,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759319898
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/664069915/c9b9eb2f8cdb4351ac49910321fd4e1d",
          "kty": "EC-HSM",
          "x": "ANTYbfCLq2D63jUMa_LW5h9X84NewKPk0gPk-GO5RY7y7VVJ99nx08mK6BftS1RYQK0MtfxdCnDEZE5HORLLBogn",
          "y": "AEqWaZRrdFcYuZ6yxBPQxe3kNVKZxwuU0ydEGbpapgW27CUszRHJKmIASEsTbV_ZxMc9R83qvbFmdbe8QFE9NahC"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1168147383"
  }
}
