{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/533626073/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/533626073/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "public_exponent": 3
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "394"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250691,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250691
        },
        "key": {
          "e": "Aw",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/533626073/3a70ee1d532f43b8956ed473335daeac",
          "kty": "RSA-HSM",
          "n": "iGwa8TzdaYofRQSJPq9c1M64qobC58vHevrtrDicU7X9AImq6-PDPUwOUAIkMbII8DpUIH_Mlz4rAhkpDUCd5rQ8gM3Kk1P2p8w-OXiCk9qwkK9gXbpOMqSElztRN9VQJoH0hDBQ_jQLvr_hORjB1hNkEiRnZ1o_qUI3hTY7CJu2vNKoiIw3dYY7Dp1m5L_8lh5JpaPTyBDdxT8nrbyf1IiTKGR4Dd0oj1GbAx4Wlqx8VcHYpHO4XLHn4VsD6d1F6rHDqJ2sVdrweYPyibyDhOR4RdcoK680NkNyNek3uQJui3LyUaOr8yCKvtHFFaQqwF_IXswzLpFwktYecXuXdw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "1111633278"
  }
}
