{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/225917510/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/225917510/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "205"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250660,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250660
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/225917510/75954b4d816b433f3aaf7f048100c4b2",
          "kty": "EC-HSM",
          "x": "AOA0rZchPN6psc_e2a6FhwwRt6Ha4XTxrFr_5KAOvKzvP5AIbSg8zij0GuPflOwm2vJBl86gcIZJwg-62H6fzr2i",
          "y": "AOquFr1qlvJWeEOoNcaRIuG5Eglp5jN0OcQ29NHBDDK-ArdgobTFxQitSHNYojKzRT2se6_0nWBlBv9TgNyW3135"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/225917510/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250660,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250660
        },
        "key": {
          "crv": "P-521",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/225917510/75954b4d816b433f3aaf7f048100c4b2",
          "kty": "EC-HSM",
          "x": "AOA0rZchPN6psc_e2a6FhwwRt6Ha4XTxrFr_5KAOvKzvP5AIbSg8zij0GuPflOwm2vJBl86gcIZJwg-62H6fzr2i",
          "y": "AOquFr1qlvJWeEOoNcaRIuG5Eglp5jN0OcQ29NHBDDK-ArdgobTFxQitSHNYojKzRT2se6_0nWBlBv9TgNyW3135"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "88399804"
  }
}
