{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/541422157/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/541422157/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "104"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358990,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358990
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/541422157/d459a2974bb7091ba8b03aaf6feda0cf",
          "kty": "EC-HSM",
          "x": "AcHjPvzSMTyfb-zF-5fo38fn5NfxMcybgRlYu8KlAik",
          "y": "epVT9p4eQaBR3revTMy5-zVORaCKZHvTaF8SknowdAY"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/541422157/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358990,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358990
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/541422157/d459a2974bb7091ba8b03aaf6feda0cf",
          "kty": "EC-HSM",
          "x": "AcHjPvzSMTyfb-zF-5fo38fn5NfxMcybgRlYu8KlAik",
          "y": "epVT9p4eQaBR3revTMy5-zVORaCKZHvTaF8SknowdAY"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "400046860"
  }
}
