{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1697175821/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1697175821/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "148"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539668,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539668
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1697175821/d4fea1e47b510c2fbfd15d0ad3a6bb6f",
          "kty": "RSA-HSM",
          "n": "kQqmIOMiulY9pAXauOOOyk-pp0jlBbQK0B8THKzmd2MC6ZhNRH3AfRTyXuWGk_3xp_xOiNIlJxWZZCWH1zIk0tdTde0aUJzHKsBw53TfzO-oDjhVpyy9HJ1RDmU9bR0wPVa_fNMtPmrT7C27L0rc7wZpfGwKzW_8q6J8j3Q96UN-oWyu_K6gVwLdFRIaG9QINz6Mk5Dd4VPhMMt0skZZtSMwandjrij7FLw6BJtJfZCoO7S1Ztu0Ey-EAo8vLloOh24mnsp-gzgA1Nzz1-kVFqI1T6wr_5C6Q_BOU_HvufldbEeRahhk_5oXjy-PmPLFl6XSg4jJw-Ij0pfjjanqAQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1697175821/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539668,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539668
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1697175821/d4fea1e47b510c2fbfd15d0ad3a6bb6f",
          "kty": "RSA-HSM",
          "n": "kQqmIOMiulY9pAXauOOOyk-pp0jlBbQK0B8THKzmd2MC6ZhNRH3AfRTyXuWGk_3xp_xOiNIlJxWZZCWH1zIk0tdTde0aUJzHKsBw53TfzO-oDjhVpyy9HJ1RDmU9bR0wPVa_fNMtPmrT7C27L0rc7wZpfGwKzW_8q6J8j3Q96UN-oWyu_K6gVwLdFRIaG9QINz6Mk5Dd4VPhMMt0skZZtSMwandjrij7FLw6BJtJfZCoO7S1Ztu0Ey-EAo8vLloOh24mnsp-gzgA1Nzz1-kVFqI1T6wr_5C6Q_BOU_HvufldbEeRahhk_5oXjy-PmPLFl6XSg4jJw-Ij0pfjjanqAQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1441591444"
  }
}
