{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/301779153/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/301779153/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "120"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406523,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406523
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/301779153/5dc831e89a0106423e10bcbcb4a054f7",
          "kty": "EC-HSM",
          "x": "psYpkn7SJ3nnJ1L2Rq5XLM5IHdIap-_MjpyAQg5_wV8",
          "y": "OXINZTljvFQ_ona8r_Xve6XzOmG3I4yGUPgJLU62EX8"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/301779153?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406523,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406523
        },
        "deletedDate": 1780406523,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/301779153/5dc831e89a0106423e10bcbcb4a054f7",
          "kty": "EC-HSM",
          "x": "psYpkn7SJ3nnJ1L2Rq5XLM5IHdIap-_MjpyAQg5_wV8",
          "y": "OXINZTljvFQ_ona8r_Xve6XzOmG3I4yGUPgJLU62EX8"
        },
        "recoveryId": "https://externalkeysdkhsm.managedhsm.azure.net/deletedkeys/301779153",
        "scheduledPurgeDate": 1781011323
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/deletedkeys/301779153?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406523,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406523
        },
        "deletedDate": 1780406523,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
      [...]
