{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1319159158/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1319159158/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "83"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759319247,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759319247
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1319159158/406c89fe0ebb4e3eacf9bafb7300a05c",
          "kty": "RSA-HSM",
          "n": "irPWRk5kX3n0cGYAmez9qNiYJkoVgg3G-T1n4dbxODkwGjyQ_sQdXGTJAVlPhxrbH5hzhkkr7fZ812G5rW2xQPs4GfuYa9Gqtz0XUq26oB0TXu6YDc1m2OaBx6YwmTPnNu7jbELh00Fc9UPVeSqnboBcPdRL9ULsM7BbcXzmgenNX4zyYXb2OcgXsYz326DAc_YE8CmAaLqCGeIqcOzdem8aSidNLTRMHqfu8QpvDTmWh7JPMbJSPYC_RUmgRbMGTsCm492A9iIXz98R5hFVRfVwbC4xPpNq_q_GrOIOC2A5U0dpqW_V-mVJso-yXA0MjCRSIzbu6NTG0QkIJdKsJQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1319159158?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759319247,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759319247
        },
        "deletedDate": 1759319247,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1319159158/406c89fe0ebb4e3eacf9bafb7300a05c",
          "kty": "RSA-HSM",
          "n": "irPWRk5kX3n0cGYAmez9qNiYJkoVgg3G-T1n4dbxODkwGjyQ_sQdXGTJAVlPhxrbH5hzhkkr7fZ812G5rW2xQPs4GfuYa9Gqtz0XUq26oB0TXu6YDc1m2OaBx6YwmTPnNu7jbELh00Fc9UPVeSqnboBcPdRL9ULsM7BbcXzmgenNX4zyYXb2OcgXsYz326DAc_YE8CmAaLqCGeIqcOzdem8aSidNLTRMHqfu8QpvDTmWh7JPMbJSPYC_RUmgRbMGTsCm492A9iIXz98R5hFVRfVwbC4xPpNq_q_GrOIOC2A5U0dpqW_V-mVJso-yXA0MjCRSIzbu6NTG0QkIJdKsJQ"
        },
        "recoveryId": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1319159158",
        "scheduledPurgeDate": 1759924047
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1319159158?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759319247,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759319247
        },
        "deletedDate": 1759319247,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
       [...]
