{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "145"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932213,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932213
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343/5328704f1b4b48fa89d6171f259e8044",
          "kty": "EC-HSM",
          "x": "skBpuf5HZHKkS0VAUsmtWU8p3tnYd07k4pdEXQBkVCo",
          "y": "rCbP7To9eNSf2yLCZz4CS2qoJEqrCrtDuT7QtNX7E7k"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "37"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932213,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932213
        },
        "deletedDate": 1742932213,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343/5328704f1b4b48fa89d6171f259e8044",
          "kty": "EC-HSM",
          "x": "skBpuf5HZHKkS0VAUsmtWU8p3tnYd07k4pdEXQBkVCo",
          "y": "rCbP7To9eNSf2yLCZz4CS2qoJEqrCrtDuT7QtNX7E7k"
        },
        "recoveryId": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/25276343",
        "scheduledPurgeDate": 1743537013
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rgjoncardekv318hsm.managedhsm.azure.net/keys/25276343 (Activity ID: 5e3d2f5a-09b2-11f0-b09c-6045bd1168cb)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "200000399"
  }
}
