{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764769,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764769
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800/973573db4d9705843c84117638f9e051",
          "kty": "EC-HSM",
          "x": "tXqUPDz5H9SRKWRLHg5E9rpwvXVEuU9h3_ZDVwQg-UQ",
          "y": "b9x4OG8iXv6IcF1_8_Ia5YFvDL_Zjj7g9FzPgpdYppM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764769,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764769
        },
        "deletedDate": 1750764770,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800/973573db4d9705843c84117638f9e051",
          "kty": "EC-HSM",
          "x": "tXqUPDz5H9SRKWRLHg5E9rpwvXVEuU9h3_ZDVwQg-UQ",
          "y": "b9x4OG8iXv6IcF1_8_Ia5YFvDL_Zjj7g9FzPgpdYppM"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/215157800",
        "scheduledPurgeDate": 1751369570
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/215157800?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764769,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764769
        },
        "deletedDate": 1750764770,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800/973573db4d9705843c84117638f9e051",
          "kty": "EC-HSM",
          "x": "tXqUPDz5H9SRKWRLHg5E9rpwvXVEuU9h3_ZDVwQg-UQ",
          "y": "b9x4OG8iXv6IcF1_8_Ia5YFvDL_Zjj7g9FzPgpdYppM"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/215157800",
        "scheduledPurgeDate": 1751369570
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/215157800 (Activity ID: f5d20fba-50ee-11f0-8b65-00224840ca9d)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "261334460"
  }
}
