{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1749271488/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1749271488/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358282,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358282
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1749271488/5083a2c3eb234e1b342b2f4e623fd4b6",
          "kty": "RSA-HSM",
          "n": "490vDtFuYRpNsXpcmw4vYpHnDP1qjT8cb2dY7qeBE32MsWAglQIa408YvVRwjOE0E80gZWjha2zmD223EyjzRYEJM8Ydb_V2juiV7THn3qtJeSnAZPeeBoeD0WHTx_SVejw8N7Kxsd9XBrPsZ_XWwqvozcipHvToOddvQeFVO9ZIHK62DlBvYeQxalLUF1F37KTC2zyuCPGdm8I3iSOddxRlS_YHddmcm9N3lEpFH7XAmQqNMzh20XrJ7AUGkdsYbcweT1nWh3UiJgicWHXoE_T-fe7wsWEZPG4LoQfkYoetVw_0Zab0tMfLbG4TOnNb9vbCwqJGjozGVeNiLCRsrQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1749271488?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358282,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358282
        },
        "deletedDate": 1759358282,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1749271488/5083a2c3eb234e1b342b2f4e623fd4b6",
          "kty": "RSA-HSM",
          "n": "490vDtFuYRpNsXpcmw4vYpHnDP1qjT8cb2dY7qeBE32MsWAglQIa408YvVRwjOE0E80gZWjha2zmD223EyjzRYEJM8Ydb_V2juiV7THn3qtJeSnAZPeeBoeD0WHTx_SVejw8N7Kxsd9XBrPsZ_XWwqvozcipHvToOddvQeFVO9ZIHK62DlBvYeQxalLUF1F37KTC2zyuCPGdm8I3iSOddxRlS_YHddmcm9N3lEpFH7XAmQqNMzh20XrJ7AUGkdsYbcweT1nWh3UiJgicWHXoE_T-fe7wsWEZPG4LoQfkYoetVw_0Zab0tMfLbG4TOnNb9vbCwqJGjozGVeNiLCRsrQ"
        },
        "recoveryId": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1749271488",
        "scheduledPurgeDate": 1759963082
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1749271488?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358282,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358282
        },
        "deletedDate": 1759358282,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
       [...]
