{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "109"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759320132,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759320132
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404/018afa0c81c94caf83dd52539c552b87",
          "kty": "EC-HSM",
          "x": "ecZYRZROMUIIxSBMSPhjMmzxTpjUykdiz03MbQEymAM",
          "y": "bo4ml0szNxQz-qf2zDZAVfHVSpYOgmXrUWKUbQWfqgI"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759320132,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759320132
        },
        "deletedDate": 1759320132,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404/018afa0c81c94caf83dd52539c552b87",
          "kty": "EC-HSM",
          "x": "ecZYRZROMUIIxSBMSPhjMmzxTpjUykdiz03MbQEymAM",
          "y": "bo4ml0szNxQz-qf2zDZAVfHVSpYOgmXrUWKUbQWfqgI"
        },
        "recoveryId": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1525220404",
        "scheduledPurgeDate": 1759924932
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1525220404 (Activity ID: 772ce612-9ebe-11f0-af9d-6045bdb54810)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1241697920"
  }
}
