{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931752,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931752
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357/e19fa5998d8b0d6029e99b5c3ae9be73",
          "kty": "RSA-HSM",
          "n": "iIC4QI4LvpAw-uIPPiSPb001N-yXagHXcMEP8UGQm4MUp2UVTGlK26-jE66V9gt9Q21L9vnz19UvAdIkKUmVirPc785oANifdtNKbKXrgSk3R5Y0PKGgudHGnaNp0KwelG-UcYZiq30MEpSyh9sy1lhRSqq0wgjVFzUzeVNlnuJpT7KDH5QHVvKMHCO40U5FgECHM-3jSsaNg5_CP9Ti2pH3fvpb4GJySgmIIZj5rMR2Fs_SSOrCxjBkt65QUlC8nCG41FfJ2-xNHPf2bFVAnmNrzqOZ83aeUjv2LzkgW2izD8eGmtNhWhbl6w1gyUhCga9XdsR1wygDtMZOvSeYqQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "37"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931752,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931752
        },
        "deletedDate": 1742931753,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357/e19fa5998d8b0d6029e99b5c3ae9be73",
          "kty": "RSA-HSM",
          "n": "iIC4QI4LvpAw-uIPPiSPb001N-yXagHXcMEP8UGQm4MUp2UVTGlK26-jE66V9gt9Q21L9vnz19UvAdIkKUmVirPc785oANifdtNKbKXrgSk3R5Y0PKGgudHGnaNp0KwelG-UcYZiq30MEpSyh9sy1lhRSqq0wgjVFzUzeVNlnuJpT7KDH5QHVvKMHCO40U5FgECHM-3jSsaNg5_CP9Ti2pH3fvpb4GJySgmIIZj5rMR2Fs_SSOrCxjBkt65QUlC8nCG41FfJ2-xNHPf2bFVAnmNrzqOZ83aeUjv2LzkgW2izD8eGmtNhWhbl6w1gyUhCga9XdsR1wygDtMZOvSeYqQ"
        },
        "recoveryId": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/258186357",
        "scheduledPurgeDate": 1743536553
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/258186357?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742931752,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742931752
        },
        "deletedDate": 1742931753,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357/e19fa5998d8b0d6029e99b5c3ae9be73",
          "kty": "RSA-HSM",
          "n": "iIC4QI4LvpAw-uIPPiSPb001N-yXagHXcMEP8UGQm4MUp2UVTGlK26-jE66V9gt9Q21L9vnz19UvAdIkKUmVirPc785oANifdtNKbKXrgSk3R5Y0PKGgudHGnaNp0KwelG-UcYZiq30MEpSyh9sy1lhRSqq0wgjVFzUzeVNlnuJpT7KDH5QHVvKMHCO40U5FgECHM-3jSsaNg5_CP9Ti2pH3fvpb4GJySgmIIZj5rMR2Fs_SSOrCxjBkt65QUlC8nCG41FfJ2-xNHPf2bFVAnmNrzqOZ83aeUjv2LzkgW2izD8eGmtNhWhbl6w1gyUhCga9XdsR1wygDtMZOvSeYqQ"
        },
        "recoveryId": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/258186357",
        "scheduledPurgeDate": 1743536553
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "10"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rgjoncardekv318hsm.managedhsm.azure.net/keys/258186357 (Activity ID: 4be8917e-09b1-11f0-934e-6045bd1168cb)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1099109256"
  }
}
