{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/594151151/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/594151151/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250853,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250853
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/594151151/4db65e95dcb6453d80c3cb1e17bb4526",
          "kty": "RSA-HSM",
          "n": "qTQdtNFmggCzQnKJEKLk6RmDXtsz924pZ1Pd8tV-_ofSvPnT8gAoIlE1YpL2Zg0U1_dyYLxPlGLS8mBiJ3ZKBPWXmQjbd7sB5JzvnHzEIyhHzJ8PoftJywgJd7BMb3tzRws42cbxGMhwHuXoNgm1PHHpxdvKBSZ9esJ4SvrCmt7Ld14Bhy72WiGVaZO3OcK25Mb8j0vs6Gwg_UpPWuoi-XFT0d3xM1HLXsqnPjZYUnfO5FWtzPmzDUSXADHC9hzpMB1JYDFM27Px-afFIQMyrMY-M_Hgvre_cFNXtoUKRtI3FC3ndto3w_P2gG5A3wHgiRSjNYy7v72pTWkDmImggQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/594151151?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250853,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250853
        },
        "deletedDate": 1781250853,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/594151151/4db65e95dcb6453d80c3cb1e17bb4526",
          "kty": "RSA-HSM",
          "n": "qTQdtNFmggCzQnKJEKLk6RmDXtsz924pZ1Pd8tV-_ofSvPnT8gAoIlE1YpL2Zg0U1_dyYLxPlGLS8mBiJ3ZKBPWXmQjbd7sB5JzvnHzEIyhHzJ8PoftJywgJd7BMb3tzRws42cbxGMhwHuXoNgm1PHHpxdvKBSZ9esJ4SvrCmt7Ld14Bhy72WiGVaZO3OcK25Mb8j0vs6Gwg_UpPWuoi-XFT0d3xM1HLXsqnPjZYUnfO5FWtzPmzDUSXADHC9hzpMB1JYDFM27Px-afFIQMyrMY-M_Hgvre_cFNXtoUKRtI3FC3ndto3w_P2gG5A3wHgiRSjNYy7v72pTWkDmImggQ"
        },
        "recoveryId": "https://joncarde-kv-tests.managedhsm.azure.net/deletedkeys/594151151",
        "scheduledPurgeDate": 1781855653
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/deletedkeys/594151151?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250853,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250853
        },
        "deletedDate": 1781250853,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
       [...]
