{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1631220342/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1631220342/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "105"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358310,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358310
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1631220342/f758a946e0c90f372f2c0d4dbe7b7b80",
          "kty": "EC-HSM",
          "x": "VgiTe7RbYQ-I-IuQ1jmkw2YJkcDdcLsIzkYqF1P2Hyw",
          "y": "Mqf3mCLpf6P-vL2iTyRBXukLm1uQI87_vyY3MqTU_Jw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1631220342?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358310,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358310
        },
        "deletedDate": 1759358311,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1631220342/f758a946e0c90f372f2c0d4dbe7b7b80",
          "kty": "EC-HSM",
          "x": "VgiTe7RbYQ-I-IuQ1jmkw2YJkcDdcLsIzkYqF1P2Hyw",
          "y": "Mqf3mCLpf6P-vL2iTyRBXukLm1uQI87_vyY3MqTU_Jw"
        },
        "recoveryId": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1631220342",
        "scheduledPurgeDate": 1759963111
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1631220342?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358310,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358310
        },
        "deletedDate": 1759358311,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1631220342/f758a946e0c90f372f2c0d4dbe7b7b80",
          "kty": "EC-HSM",
          "x": "VgiTe7RbYQ-I-IuQ1jmkw2YJkcDdcLsIzkYqF1P2Hyw",
          "y": "Mqf3mCLpf6P-vL2iTyRBXukLm1uQI87_vyY3MqTU_Jw"
        },
        "recoveryId": "https://t282557e4338dc910hsm.managedhsm.azure.net/deletedkeys/1631220342",
        "scheduledPurgeDate": 1759963111
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1566062051"
  }
}
