{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/98852954/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/98852954/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250869,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250869
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/98852954/d3e2a3cae12f4aa1aa23800bd95c0a69",
          "kty": "RSA-HSM",
          "n": "uw9xUlgVQXmq9PLiAtMLROpbAfUtwlC5sYOtbwa3-xVu6vV731PIHEua8Tb_Pc5jCYZJEz7gCc392dAZ4Fr9v7qc-6rdtPw3dZLcS_bQTv_EL5lqBPOJ_njAmSyiYjUB_2FRe19O1fXJ4f4RnVfV03m7ZkLrdu2ZTXnb_ZODbZLDcYxxZVMnrkxO-jcc4oFX-CqCU5wGcEkl2BrkhBzjwkPrstPztb-PAY-Nuod-UCrk3fxF-7JN11mjtZzGJmf6d5S1Gr0FqzrtB1ZTRWF98FmsikNn0G2aCRr3l-OwRWe8muygGI7d2mF26say9D9RSI5ZsRiFrzVeEKVPFKLeYQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/98852954?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250869,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250869
        },
        "deletedDate": 1781250869,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/98852954/d3e2a3cae12f4aa1aa23800bd95c0a69",
          "kty": "RSA-HSM",
          "n": "uw9xUlgVQXmq9PLiAtMLROpbAfUtwlC5sYOtbwa3-xVu6vV731PIHEua8Tb_Pc5jCYZJEz7gCc392dAZ4Fr9v7qc-6rdtPw3dZLcS_bQTv_EL5lqBPOJ_njAmSyiYjUB_2FRe19O1fXJ4f4RnVfV03m7ZkLrdu2ZTXnb_ZODbZLDcYxxZVMnrkxO-jcc4oFX-CqCU5wGcEkl2BrkhBzjwkPrstPztb-PAY-Nuod-UCrk3fxF-7JN11mjtZzGJmf6d5S1Gr0FqzrtB1ZTRWF98FmsikNn0G2aCRr3l-OwRWe8muygGI7d2mF26say9D9RSI5ZsRiFrzVeEKVPFKLeYQ"
        },
        "recoveryId": "https://joncarde-kv-tests.managedhsm.azure.net/deletedkeys/98852954",
        "scheduledPurgeDate": 1781855669
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/deletedkeys/98852954?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250869,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250869
        },
        "deletedDate": 1781250869,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
       [...]
