{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/810237776/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/810237776/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "86"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764838,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764838
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/810237776/045138b395d102ea19e8983f0b067652",
          "kty": "RSA-HSM",
          "n": "jESnRWedUkN05pVvKn0HBWWUB6DrW55myy-9HFGUcKITrJqnjSr19JzRQ8tYA2dLR7B2z76zwGoTpmyIhZAOLf1YKbQO8CImSCmDf1cjt36jY_44aG6Zu6lKCyA1Y2FTUXng8BBSxMSs1_4chyG7U3VSS4KWhSEkOPF66v7JrwzmAZQGMwnb6JPTySLCAn6bF85l34gTY7OdfdChRk0npbMtq2q-GxtBSlLPbCDAZZOaCWR19PnMYvEVZdixc1hrC59NfgSdHennBBWYpXyS__TgRXxxXK_P5weXWPIcryGsSH7Pj8FGPo6m6ZdpWyIul2MDi2GD2d6LNnMKCuboxw"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/810237776?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764838,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764838
        },
        "deletedDate": 1750764838,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/810237776/045138b395d102ea19e8983f0b067652",
          "kty": "RSA-HSM",
          "n": "jESnRWedUkN05pVvKn0HBWWUB6DrW55myy-9HFGUcKITrJqnjSr19JzRQ8tYA2dLR7B2z76zwGoTpmyIhZAOLf1YKbQO8CImSCmDf1cjt36jY_44aG6Zu6lKCyA1Y2FTUXng8BBSxMSs1_4chyG7U3VSS4KWhSEkOPF66v7JrwzmAZQGMwnb6JPTySLCAn6bF85l34gTY7OdfdChRk0npbMtq2q-GxtBSlLPbCDAZZOaCWR19PnMYvEVZdixc1hrC59NfgSdHennBBWYpXyS__TgRXxxXK_P5weXWPIcryGsSH7Pj8FGPo6m6ZdpWyIul2MDi2GD2d6LNnMKCuboxw"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/810237776",
        "scheduledPurgeDate": 1751369638
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/810237776?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764838,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764838
        },
        "deletedDate": 1750764838,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/810237776/045138b395d102ea19e8983f0b067652",
          "kty": "RSA-HSM",
          "n": "jESnRWedUkN05pVvKn0HBWWUB6DrW55myy-9HFGUcKITrJqnjSr19JzRQ8tYA2dLR7B2z76zwGoTpmyIhZAOLf1YKbQO8CImSCmDf1cjt36jY_44aG6Zu6lKCyA1Y2FTUXng8BBSxMSs1_4chyG7U3VSS4KWhSEkOPF66v7JrwzmAZQGMwnb6JPTySLCAn6bF85l34gTY7OdfdChRk0npbMtq2q-GxtBSlLPbCDAZZOaCWR19PnMYvEVZdixc1hrC59NfgSdHennBBWYpXyS__TgRXxxXK_P5weXWPIcryGsSH7Pj8FGPo6m6ZdpWyIul2MDi2GD2d6LNnMKCuboxw"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/810237776",
        "scheduledPurgeDate": 1751369638
      }
    },
[...]
