{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1818304411/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1818304411/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "151"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004620,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004620
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1818304411/a043257eb07504be3782d6d8c358c137",
          "kty": "RSA-HSM",
          "n": "iOvwsX5NgzCnn1PUjh499ck7dBG2ajs27MFqHQ5AuqGfwVcrX_u96UUgz671uJZHMzz1ZoOw4S_nLhD_riZcbmviBIu-RGiFUcsiPQhk6wob5T2Nxfgd-dMciyQEidryQlhg-GZDpMsQ95ArDJvaFLbZgtn2iQfRbkbqDb8sOCoKyCenmHgiaxdHMBa7NTD8ylmQ9FDp1W7Adj4jNUBYSSKk87k_KeQbR58vpp0hnJ8YDqBk_QD7fWRM0mvK-9Vl5g3q0iUW1rbGWmPGnUIKjZRO1SU009qGqCUspQt7dXXvM8_roRlHh-J7xaPX4Hkak5K95Ama5pLCMwPh9ZfbIw"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1818304411?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "31"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004620,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004620
        },
        "deletedDate": 1693004620,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1818304411/a043257eb07504be3782d6d8c358c137",
          "kty": "RSA-HSM",
          "n": "iOvwsX5NgzCnn1PUjh499ck7dBG2ajs27MFqHQ5AuqGfwVcrX_u96UUgz671uJZHMzz1ZoOw4S_nLhD_riZcbmviBIu-RGiFUcsiPQhk6wob5T2Nxfgd-dMciyQEidryQlhg-GZDpMsQ95ArDJvaFLbZgtn2iQfRbkbqDb8sOCoKyCenmHgiaxdHMBa7NTD8ylmQ9FDp1W7Adj4jNUBYSSKk87k_KeQbR58vpp0hnJ8YDqBk_QD7fWRM0mvK-9Vl5g3q0iUW1rbGWmPGnUIKjZRO1SU009qGqCUspQt7dXXvM8_roRlHh-J7xaPX4Hkak5K95Ama5pLCMwPh9ZfbIw"
        },
        "recoveryId": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1818304411",
        "scheduledPurgeDate": 1693609420
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1818304411?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "12"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004620,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004620
        },
        "deletedDate": 1693004620,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1818304411/a043257eb07504be3782d6d8c358c137",
          "kty": "RSA-HSM",
          "n": "iOvwsX5NgzCnn1PUjh499ck7dBG2ajs27MFqHQ5AuqGfwVcrX_u96UUgz671uJZHMzz1ZoOw4S_nLhD_riZcbmviBIu-RGiFUcsiPQhk6wob5T2Nxfgd-dMciyQEidryQlhg-GZDpMsQ95ArDJvaFLbZgtn2iQfRbkbqDb8sOCoKyCenmHgiaxdHMBa7NTD8ylmQ9FDp1W7Adj4jNUBYSSKk87k_KeQbR58vpp0hnJ8YDqBk_QD7fWRM0mvK-9Vl5g3q0iUW1rbGWmPGnUIKjZRO1SU009qGqCUspQt7dXXvM8_roRlHh-J7xaPX4Hkak5K95Ama5pLCMwPh9ZfbIw"
        },
        "recoveryId": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1818304411",
        "scheduledPurgeDate": 1693609420
      }
    },
[...]
