{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932241,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932241
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052/187389b0b6f2027e0e1323f54c27d1f4",
          "kty": "EC-HSM",
          "x": "q3Jra9kXurhBUIo0KV1JkXEYmhKTH9XA1AyarVjhSyk",
          "y": "VQryDSOeOAvczzTYFP_xLcpnUcc48GpMtaYzqkkfH68"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "42"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932241,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932241
        },
        "deletedDate": 1742932241,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052/187389b0b6f2027e0e1323f54c27d1f4",
          "kty": "EC-HSM",
          "x": "q3Jra9kXurhBUIo0KV1JkXEYmhKTH9XA1AyarVjhSyk",
          "y": "VQryDSOeOAvczzTYFP_xLcpnUcc48GpMtaYzqkkfH68"
        },
        "recoveryId": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/1977378052",
        "scheduledPurgeDate": 1743537041
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/1977378052?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932241,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932241
        },
        "deletedDate": 1742932241,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052/187389b0b6f2027e0e1323f54c27d1f4",
          "kty": "EC-HSM",
          "x": "q3Jra9kXurhBUIo0KV1JkXEYmhKTH9XA1AyarVjhSyk",
          "y": "VQryDSOeOAvczzTYFP_xLcpnUcc48GpMtaYzqkkfH68"
        },
        "recoveryId": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/1977378052",
        "scheduledPurgeDate": 1743537041
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/1977378052?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932241,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932241
        },
        "deletedDate": 1742932241,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1977378052/187389b0b6f2027e0e1323f54c27d1f4",
          "kty": "EC-HSM",
          "x": "q3Jra9kXurhBUIo0KV1JkXEYmhKTH9XA1AyarVjhSyk",
          "y": "VQryDSOeOAvczzTYFP_xLcpnUcc48GpMtaYzqkkfH68"
        },
        "recoveryId": "https://rgjoncardekv318hsm.managedhsm.azure.net/deletedkeys/1977378052",
        "scheduledPurgeDate": 1743537041
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "378855704"
  }
}
