{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1330455809/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1330455809/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "91"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765307,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765307
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1330455809/32aa7c597c874c5a1e679f68908384f3",
          "kty": "RSA-HSM",
          "n": "zSo-NnOuXdCXYUw_T_97pwuUuPtDv0l91U0GtHNutgv4---6rSsqww5LG5LXoNBBdfyv5GpMhNb0lsYqN1l784lmB7dGkkMNC66YxKj-hHHClOK5SWn8RmQm7tfUPBnx3qCpvqeA__8DPEXExE4d6IjQoT0TdlY6IcqeAY9tESYepy5LCtGhJRlHpQNNTz2K7WGyfBHc22--54DXR6_gNH-RFKNJ3RarpsHSBPC0PeTXICBGOTBN3IGdR9hoqji-dUrSoSQFsPHoog3NoOSmDw1I4FrvddJL6t3pH6BCGPs8iRowHCNdHuWhhO46kYHMRuhdfuQkmtb1ID2ABO_y9w"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1330455809?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765307,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765307
        },
        "deletedDate": 1750765307,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1330455809/32aa7c597c874c5a1e679f68908384f3",
          "kty": "RSA-HSM",
          "n": "zSo-NnOuXdCXYUw_T_97pwuUuPtDv0l91U0GtHNutgv4---6rSsqww5LG5LXoNBBdfyv5GpMhNb0lsYqN1l784lmB7dGkkMNC66YxKj-hHHClOK5SWn8RmQm7tfUPBnx3qCpvqeA__8DPEXExE4d6IjQoT0TdlY6IcqeAY9tESYepy5LCtGhJRlHpQNNTz2K7WGyfBHc22--54DXR6_gNH-RFKNJ3RarpsHSBPC0PeTXICBGOTBN3IGdR9hoqji-dUrSoSQFsPHoog3NoOSmDw1I4FrvddJL6t3pH6BCGPs8iRowHCNdHuWhhO46kYHMRuhdfuQkmtb1ID2ABO_y9w"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/1330455809",
        "scheduledPurgeDate": 1751370107
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/1330455809?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765307,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765307
        },
        "deletedDate": 1750765307,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1330455809/32aa7c597c874c5a1e679f68908384f3",
          "kty": "RSA-HSM",
          "n": "zSo-NnOuXdCXYUw_T_97pwuUuPtDv0l91U0GtHNutgv4---6rSsqww5LG5LXoNBBdfyv5GpMhNb0lsYqN1l784lmB7dGkkMNC66YxKj-hHHClOK5SWn8RmQm7tfUPBnx3qCpvqeA__8DPEXExE4d6IjQoT0TdlY6IcqeAY9tESYepy5LCtGhJRlHpQNNTz2K7WGyfBHc22--54DXR6_gNH-RFKNJ3RarpsHSBPC0PeTXICBGOTBN3IGdR9hoqji-dUrSoSQFsPHoog3NoOSmDw1I4FrvddJL6t3pH6BCGPs8iRowHCNdHuWhhO46kYHMRuhdfuQkmtb1ID2ABO_y9w"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/1330455809",
        "scheduledPurgeDate": 1751370107
      }
    },
[...]
