{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/492307356/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/492307356/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "122"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765365,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765365
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/492307356/e5458d9a2f770794183cd3a4676ee23b",
          "kty": "EC-HSM",
          "x": "0sbYcX8OBSkZaR6zBwRak0bvZJdx5BErr21KjrNmWbI",
          "y": "crgzAWTPdaGSuqOQTpuyxIFF_QfLkW-KF3eeZzMGiyk"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/492307356/e5458d9a2f770794183cd3a4676ee23b?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765365,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765365
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/492307356/e5458d9a2f770794183cd3a4676ee23b",
          "kty": "EC-HSM",
          "x": "0sbYcX8OBSkZaR6zBwRak0bvZJdx5BErr21KjrNmWbI",
          "y": "crgzAWTPdaGSuqOQTpuyxIFF_QfLkW-KF3eeZzMGiyk"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "844359742"
  }
}
