{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1892253795/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1892253795/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "132"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250880,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250880
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1892253795/476baad925444b650bd91f58ae5c8e68",
          "kty": "EC-HSM",
          "x": "qMK2U5vs6mC7dvBLTLHMuQ0hhwJm32YCOO7zvRGZn2w",
          "y": "crozyUqEJ3YPt0ECJDHcgzr7AcZgAsnEc9LtfgyKNwQ"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1892253795/476baad925444b650bd91f58ae5c8e68?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781250880,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781250880
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1892253795/476baad925444b650bd91f58ae5c8e68",
          "kty": "EC-HSM",
          "x": "qMK2U5vs6mC7dvBLTLHMuQ0hhwJm32YCOO7zvRGZn2w",
          "y": "crozyUqEJ3YPt0ECJDHcgzr7AcZgAsnEc9LtfgyKNwQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://joncarde-kv-tests.managedhsm.azure.net/",
    "RandomSeed": "1374225859"
  }
}
