{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1746685583/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1746685583/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "149"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004521,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004521
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1746685583/54c0665048e34b6499d043f7bd7b7acc",
          "kty": "RSA-HSM",
          "n": "iROso36CZmS1h4vlEGkjOwUNfalFWlqaIymTVX955xdZsiWwDaSsxch3O11A6ACkQCalmJqBuUQgzVZBcLQvQLvFjgRlvNVR2EwsU-vZuay51rUCFDT1VSAHoe1VigehDUHD_cG75YuAbhiWiQm9pUOe1GC-9P4NZv2gZbyQ5SCGVd7idLwIVPAt_JbyGJO-VfeVpF5_5-MQVRAc0yMcTMT5Nr6k4rNL6roquXVlRbICiqpmDNIOTcr4XWIuqh1VtT8iey-fsjJ46tSm1kduIuWqiaRziYW9AH3xe7w7Ddeg5dHyssHCGTK-YCsWRi42oFSugC_a5QBxVXspha51zQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1746685583/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004521,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004521
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1746685583/54c0665048e34b6499d043f7bd7b7acc",
          "kty": "RSA-HSM",
          "n": "iROso36CZmS1h4vlEGkjOwUNfalFWlqaIymTVX955xdZsiWwDaSsxch3O11A6ACkQCalmJqBuUQgzVZBcLQvQLvFjgRlvNVR2EwsU-vZuay51rUCFDT1VSAHoe1VigehDUHD_cG75YuAbhiWiQm9pUOe1GC-9P4NZv2gZbyQ5SCGVd7idLwIVPAt_JbyGJO-VfeVpF5_5-MQVRAc0yMcTMT5Nr6k4rNL6roquXVlRbICiqpmDNIOTcr4XWIuqh1VtT8iey-fsjJ46tSm1kduIuWqiaRziYW9AH3xe7w7Ddeg5dHyssHCGTK-YCsWRi42oFSugC_a5QBxVXspha51zQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "413341303"
  }
}
