{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/241318498/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/241318498/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "144"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004636,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004636
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/241318498/8843d2a7542d4ae2ac09d10c63c82033",
          "kty": "RSA-HSM",
          "n": "j2becWbBYwiAWTiPadk0CZ2g8p8jDujyFHzqOHa67hZ5-yL40RZJq-kUtdkGXLtYObpO7afg6zqyPkpDbxHvhTnrBFxABB1oGHyli1eXF-YpEhrQukcpqcIeWGsp-WBg3_kxv9TuRLx-2yJMyz3rhpOu14JjMwypbnb16lISGjN5e9_StXZ0dtbrMuvUwKmiP_CUDQEZn5WBNE5bln42qku9eSUGeTMTt8gsAn5FwXfTFI_zh5UzMaPDQsYMf2OFe6gCnSp6KRecyH0KSZs40T4_gV3Sg_IFxkT2tFL2b4AJFp5wEO9k8KOr0_jVvmT2IZ1PQK4-mETXGxh7Es0r0Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/241318498/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "9"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004636,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004636
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/241318498/8843d2a7542d4ae2ac09d10c63c82033",
          "kty": "RSA-HSM",
          "n": "j2becWbBYwiAWTiPadk0CZ2g8p8jDujyFHzqOHa67hZ5-yL40RZJq-kUtdkGXLtYObpO7afg6zqyPkpDbxHvhTnrBFxABB1oGHyli1eXF-YpEhrQukcpqcIeWGsp-WBg3_kxv9TuRLx-2yJMyz3rhpOu14JjMwypbnb16lISGjN5e9_StXZ0dtbrMuvUwKmiP_CUDQEZn5WBNE5bln42qku9eSUGeTMTt8gsAn5FwXfTFI_zh5UzMaPDQsYMf2OFe6gCnSp6KRecyH0KSZs40T4_gV3Sg_IFxkT2tFL2b4AJFp5wEO9k8KOr0_jVvmT2IZ1PQK4-mETXGxh7Es0r0Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "724606632"
  }
}
