{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1886460576/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1886460576/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406918,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406918
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1886460576/34cef1ef2793402f96bee14544f382ba",
          "kty": "RSA-HSM",
          "n": "tBqfPH0cYZP6Bg79QtlL3G6km5l8SHJfH2oTSFO6xXIjJpp0qsBsslZg3LokOPsPRz8fYnYV_K2hhcl96lh74IqaC-lm4aetaz_N4Evj_5YTmE7UJR6nEPbLXx_IvvhsTM1B1SsONLIBgDY_qPHek7nf5iqc9iLNpFiEdbdL8xvSuE6DJiBeRBVJ5NRdXIfd-HFuOaebRuHOJIw8IX07HtUDxFSW6DkEZSTcueL6Xds8xhMqca5Avo4xXX5fHmsmDv4GbP_3-7ZD4xE7Nyi3Xsl2F3HqAT75GaK5Y_hvidvRNYm8wr44agwtYJ_uECezhAypeN_zhuCy1JkRaSjlNw"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1886460576/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406918,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406918
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt",
            "wrapKey"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1886460576/34cef1ef2793402f96bee14544f382ba",
          "kty": "RSA-HSM",
          "n": "tBqfPH0cYZP6Bg79QtlL3G6km5l8SHJfH2oTSFO6xXIjJpp0qsBsslZg3LokOPsPRz8fYnYV_K2hhcl96lh74IqaC-lm4aetaz_N4Evj_5YTmE7UJR6nEPbLXx_IvvhsTM1B1SsONLIBgDY_qPHek7nf5iqc9iLNpFiEdbdL8xvSuE6DJiBeRBVJ5NRdXIfd-HFuOaebRuHOJIw8IX07HtUDxFSW6DkEZSTcueL6Xds8xhMqca5Avo4xXX5fHmsmDv4GbP_3-7ZD4xE7Nyi3Xsl2F3HqAT75GaK5Y_hvidvRNYm8wr44agwtYJ_uECezhAypeN_zhuCy1JkRaSjlNw"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://externalkeysdkhsm.managedhsm.azure.net/",
    "RandomSeed": "115646770"
  }
}
