{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "181"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004638,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004638
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/fcb94a05c559434c22821b6bb93ff5c0",
          "kty": "EC-HSM",
          "x": "qrulnWpsGZhKEb3vwuPr_OTzF1uRyb4FH6zQvfKbhJ4",
          "y": "-PKHcWh-WiNWw8vMDOo1qaIH06atSeE_qS4uTOW-zUo"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331?api-version=7.5-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004638,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004638
        },
        "deletedDate": 1693004639,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/fcb94a05c559434c22821b6bb93ff5c0",
          "kty": "EC-HSM",
          "x": "qrulnWpsGZhKEb3vwuPr_OTzF1uRyb4FH6zQvfKbhJ4",
          "y": "-PKHcWh-WiNWw8vMDOo1qaIH06atSeE_qS4uTOW-zUo"
        },
        "recoveryId": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1996825331",
        "scheduledPurgeDate": 1693609439
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1996825331?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004638,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004638
        },
        "deletedDate": 1693004639,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/fcb94a05c559434c22821b6bb93ff5c0",
          "kty": "EC-HSM",
          "x": "qrulnWpsGZhKEb3vwuPr_OTzF1uRyb4FH6zQvfKbhJ4",
          "y": "-PKHcWh-WiNWw8vMDOo1qaIH06atSeE_qS4uTOW-zUo"
        },
        "recoveryId": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1996825331",
        "scheduledPurgeDate": 1693609439
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331 (Activity ID: acf37656-439b-11ee-9a8f-6045bd6e6f36)"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/deletedkeys/1996825331/recover?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004638,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004638
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/fcb94a05c559434c22821b6bb93ff5c0",
          "kty": "EC-HSM",
          "x": "qrulnWpsGZhKEb3vwuPr_OTzF1uRyb4FH6zQvfKbhJ4",
          "y": "-PKHcWh-WiNWw8vMDOo1qaIH06atSeE_qS4uTOW-zUo"
        }
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004638,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004638
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1996825331/fcb94a05c559434c22821b6bb93ff5c0",
          "kty": "EC-HSM",
          "x": "qrulnWpsGZhKEb3vwuPr_OTzF1uRyb4FH6zQvfKbhJ4",
          "y": "-PKHcWh-WiNWw8vMDOo1qaIH06atSeE_qS4uTOW-zUo"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "130667476"
  }
}
