{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "146"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764928,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764928
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/5a27a1e7e40e46ac15240d36fd79bea8",
          "kty": "EC-HSM",
          "x": "CeL8VaxK-w8AGIrRAjCDiyfSseGZwvzePw6SWft8Gig",
          "y": "l-QtDEG1LQzXj9xobG8-0W7w1LK0MNB8Z2-0p0jPgfE"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764928,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764928
        },
        "deletedDate": 1750764928,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/5a27a1e7e40e46ac15240d36fd79bea8",
          "kty": "EC-HSM",
          "x": "CeL8VaxK-w8AGIrRAjCDiyfSseGZwvzePw6SWft8Gig",
          "y": "l-QtDEG1LQzXj9xobG8-0W7w1LK0MNB8Z2-0p0jPgfE"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/941909464",
        "scheduledPurgeDate": 1751369728
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/941909464?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764928,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764928
        },
        "deletedDate": 1750764928,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/5a27a1e7e40e46ac15240d36fd79bea8",
          "kty": "EC-HSM",
          "x": "CeL8VaxK-w8AGIrRAjCDiyfSseGZwvzePw6SWft8Gig",
          "y": "l-QtDEG1LQzXj9xobG8-0W7w1LK0MNB8Z2-0p0jPgfE"
        },
        "recoveryId": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/941909464",
        "scheduledPurgeDate": 1751369728
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464 (Activity ID: 5455a308-50ef-11f0-8b65-00224840ca9d)"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/deletedkeys/941909464/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "27"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764928,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764928
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/5a27a1e7e40e46ac15240d36fd79bea8",
          "kty": "EC-HSM",
          "x": "CeL8VaxK-w8AGIrRAjCDiyfSseGZwvzePw6SWft8Gig",
          "y": "l-QtDEG1LQzXj9xobG8-0W7w1LK0MNB8Z2-0p0jPgfE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750764928,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750764928
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/941909464/5a27a1e7e40e46ac15240d36fd79bea8",
          "kty": "EC-HSM",
          "x": "CeL8VaxK-w8AGIrRAjCDiyfSseGZwvzePw6SWft8Gig",
          "y": "l-QtDEG1LQzXj9xobG8-0W7w1LK0MNB8Z2-0p0jPgfE"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "1116869445"
  }
}
