{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1181343715/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1181343715/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759319553,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759319553
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1181343715/ff06b6856f024ee11d21580f83004465",
          "kty": "RSA-HSM",
          "n": "kR-jqwb2EboQu3ohYxafnl5OBax_NsPszlwFx3rhyzen9py_LvFetg8EW_QhF9c29Z8yAuNBClFijVoy7TLpRJS1LL1EhNqI9ak8vMGws-MEynde6qaDYfgffmlkhq2UIGV85VxgxNTYM0NXs53E0UQednHF3N1TyU_pIRc0dknI-85LhHAbmbYKhyJyXRW5x4CCD59AdJA7OEiOOzniZLKoFT9kPgBApsQ9ZgI3YY0H6EmEXE6l-GpvbstSvNKzzWAgT841LMg-salVVYyXwE57yfnByETbH6MyMM_kou6q6fVcYi7ijWKkDGLPWdXZcu4VPov980Qw6H60GkawFw"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1181343715/ff06b6856f024ee11d21580f83004465?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "ew0KICAgICJhbnlPZiI6IFsNCiAgICAgICAgew0KICAgICAgICAgICAgImFueU9mIjogWw0KICAgICAgICAgICAgICAgIHsNCiAgICAgICAgICAgICAgICAgICAgImNsYWltIjogInNkay10ZXN0IiwNCiAgICAgICAgICAgICAgICAgICAgImVxdWFscyI6ICJ0cnVlIg0KICAgICAgICAgICAgICAgIH0NCiAgICAgICAgICAgIF0sDQogICAgICAgICAgICAiYXV0aG9yaXR5IjogImh0dHBzOi8vdDI4MjU1N2U0MzM4ZGM5MTBzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyINCiAgICAgICAgfQ0KICAgIF0sDQogICAgInZlcnNpb24iOiAiMS4wLjAiDQp9"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "Key Release Policy: missing 'version' property (Activity ID: 1deb0b8e-9ebd-11f0-af9d-6045bdb54810)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_ATTESTATION_URL": "https://t282557e4338dc910site.azurewebsites.net/",
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1844277943"
  }
}
