{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1005018657/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1005018657/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_size": 2048
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "122"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358555,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358555
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1005018657/2b06d42cb1d64aeab5c79280c45a3793",
          "kty": "RSA-HSM",
          "n": "jt6PRiFRN6gUAF5Q2KEZnDyF9fEJgM6zn9M-36p0E8Hwnlu4Kee03I1DHxXcTPZRXQN9JdH4y4aVl9VURSShIYKtW92Riq7G0a19CT_lMNCosLnFyxaXxA9-eu0RonzZZdaPQrXAuATgTpp8CTWj6uWolv-x13wSQarAPUw0kziJpvi3Wx1YcwNuhLVWnLi38fB9ztTFUIbfJOcB3sGB8eM9kqM3l78_WjYJ_hm6YKjweT7tofwbiKlbMhRHSkQDkxZ9j9WNMf_ss1GLA82n6afweUzoWpUw7xg9egD8zkdEjwLKNQBUmdQ5jxbQCd__F8BbNW7jGBcNxujkwLlDHQ"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1005018657/2b06d42cb1d64aeab5c79280c45a3793?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exportable": true
        },
        "release_policy": {
          "data": "ew0KICAgICJhbnlPZiI6IFsNCiAgICAgICAgew0KICAgICAgICAgICAgImFueU9mIjogWw0KICAgICAgICAgICAgICAgIHsNCiAgICAgICAgICAgICAgICAgICAgImNsYWltIjogInNkay10ZXN0IiwNCiAgICAgICAgICAgICAgICAgICAgImVxdWFscyI6ICJ0cnVlIg0KICAgICAgICAgICAgICAgIH0NCiAgICAgICAgICAgIF0sDQogICAgICAgICAgICAiYXV0aG9yaXR5IjogImh0dHBzOi8vdDI4MjU1N2U0MzM4ZGM5MTBzaXRlLmF6dXJld2Vic2l0ZXMubmV0LyINCiAgICAgICAgfQ0KICAgIF0sDQogICAgInZlcnNpb24iOiAiMS4wLjAiDQp9"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "Key Release Policy: missing 'version' property (Activity ID: ecc078ae-9f17-11f0-b885-6045bdb54810)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_ATTESTATION_URL": "https://t282557e4338dc910site.azurewebsites.net/",
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "1938654432"
  }
}
