{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1649361836/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1649361836/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932000,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932000
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1649361836/9f919ef1f69a4d44a87cd95fe5c517f6",
          "kty": "RSA-HSM",
          "n": "iL1zULiQa0NkN3Kqv4hAeBkP9b82GTqvkgNouVVTDNVw4gSn85WlulsMJcPiKSJI4-TrEW94-ruTQ-ZglIq8ErIAKi_G06hn0SEkkLxpgKu0HQUVOzVvK_vJV2r-K1p-qNCGXQVJfQhamTbC7FLHXOYgnh2SLXWli6pI3xrpaMNaSDF4aDb2ESmPCUiiPDlv2rJ1FSojLqlEjsvb8WVRuZGvbZoqIQ8Env52v6KOPbnad18CBVzl9zGkpuNmYziPjsH3GMoW6F_s1U-kS3vmk8I73yYtQ_tfHuP1Eq9Q6ySy_Q2CykHAMiqDMmpFjIw21KQTU8TPobgWsS-KKtCF-w"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1649361836/9f919ef1f69a4d44a87cd95fe5c517f6?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1742932000,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "30"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932000,
          "enabled": true,
          "exp": 1742932000,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932000
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1649361836/9f919ef1f69a4d44a87cd95fe5c517f6",
          "kty": "RSA-HSM",
          "n": "iL1zULiQa0NkN3Kqv4hAeBkP9b82GTqvkgNouVVTDNVw4gSn85WlulsMJcPiKSJI4-TrEW94-ruTQ-ZglIq8ErIAKi_G06hn0SEkkLxpgKu0HQUVOzVvK_vJV2r-K1p-qNCGXQVJfQhamTbC7FLHXOYgnh2SLXWli6pI3xrpaMNaSDF4aDb2ESmPCUiiPDlv2rJ1FSojLqlEjsvb8WVRuZGvbZoqIQ8Env52v6KOPbnad18CBVzl9zGkpuNmYziPjsH3GMoW6F_s1U-kS3vmk8I73yYtQ_tfHuP1Eq9Q6ySy_Q2CykHAMiqDMmpFjIw21KQTU8TPobgWsS-KKtCF-w"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1256689552"
  }
}
