{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/475783561/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/475783561/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759358730,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759358730
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/475783561/5a73046e43ed0feb0c6a7f4e95eaa18a",
          "kty": "RSA-HSM",
          "n": "ipxtSgO3aALJJz5Nf9ZHHmAK6uItMhPifgA10f8hEOczAuv07l5H3hKLVH7Ip_S7TGOePKKTpvTiPTylWcQX5Djma9R3QbLwc2W6gfO91tba4zgTfJY7p0NtwjMFA4osxQaBV_TdtkBu0xDEzVH3fWSIN6vbZvjF1QR4mV7wxWx_QaWmfEgGRHxf-U0uXJ62rynxDefwPhcEzKoxo0sYsmLS-4vMreryBUICmKQ2e1hxAQ2pxzGsDBqBS11FKffufqPYnxfs-y7Z2siO7JGf3g7T60686P2i45pPiy-rhNMQOoOXfzbVyPgRexwqdFF38TZBzwE7ChI2P_aRxgzdyQ"
       [...]
