{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1948865330/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1948865330/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759359629,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759359629
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1948865330/7907c8d3f4994f0ab0a8cec6ddb9f0ec",
          "kty": "RSA-HSM",
          "n": "r74SWdzJFi6QcZiv4rKqps76t9yVyQFLbRNSkPS2L9iNyaH463sVw9GVxlBJnz9FOBbXJth6wRtNvnnXYNeKr3toLQ0UgfmRlcrA6RX9iaoJRuRVqp9bJmSmjwwGPWk21ey145baGEHwQTRcZDYMvB2LoosSwtqqfoE3a6ZHs3nuRRYJFik8kB0DOdoQUW75a7I4Xgb1WoOskRbLRxwVePnzCTKJ4niGj-MwxpvNY4dKGPNoYr8yjmunt2BSIbn7Vs902FVMYl1R8vPMmuCkrLp7qvI26lGGkEidCpn64Uy-UJHZOis3MDyHxAxIdOt01MCItZag7kx82QYig_-t7Q"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1948865330/7907c8d3f4994f0ab0a8cec6ddb9f0ec?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1759359629,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759359629,
          "enabled": true,
          "exp": 1759359629,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759359629
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://t282557e4338dc910hsm.managedhsm.azure.net/keys/1948865330/7907c8d3f4994f0ab0a8cec6ddb9f0ec",
          "kty": "RSA-HSM",
          "n": "r74SWdzJFi6QcZiv4rKqps76t9yVyQFLbRNSkPS2L9iNyaH463sVw9GVxlBJnz9FOBbXJth6wRtNvnnXYNeKr3toLQ0UgfmRlcrA6RX9iaoJRuRVqp9bJmSmjwwGPWk21ey145baGEHwQTRcZDYMvB2LoosSwtqqfoE3a6ZHs3nuRRYJFik8kB0DOdoQUW75a7I4Xgb1WoOskRbLRxwVePnzCTKJ4niGj-MwxpvNY4dKGPNoYr8yjmunt2BSIbn7Vs902FVMYl1R8vPMmuCkrLp7qvI26lGGkEidCpn64Uy-UJHZOis3MDyHxAxIdOt01MCItZag7kx82QYig_-t7Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://t282557e4338dc910hsm.managedhsm.azure.net/",
    "RandomSeed": "995957403"
  }
}
