{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1930712915/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1930712915/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406975,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406975
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1930712915/3352e9d8e9ca432186afeb654f83c0ad",
          "kty": "RSA-HSM",
          "n": "lvclyAglhzO94y7ohv1BZO6BEOGM4cxa-zvh_Mj9Mi9sQJpknJLQtqpRB39-G-WUQ0xpm15fmC8c7RIe6n7BKiRwhO6m1S4K-2S8ApTSez0qFmSTwP8ozFiVwfVPjG4i7fbLpN1P2eqs2pO387O8855-eGcKgKGEbv6WugQslWxuIlhHamxp1QOXiV7Q_woILhoI9J-gsbu0R6aSiVpv9tNqrHrIpCFvKodDEo2LELe_MZYZ3OaXTnpv_JOwbaBnwAbQ2ib583_91vJ3OZm9cXTCgTGokKgbRDGMa-4Yl6z4Qq4vn2lKNGjDpYTa0bxwBWuevuSo1iQEJHTWHj-PmQ"
        }[...]
