{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/501204595/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/501204595/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "91"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765546,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765546
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/501204595/d3fcb64802c203fb88dcd189845f8f9b",
          "kty": "RSA-HSM",
          "n": "yMsAYBTyVXQSk-sjMQ0ze-27x89acj0KdFhEsRV-iMXgbwseP1QXLFSWjIACNiFF4fTSlgLMv3LImOomQCEae-ULdIGPJiOo7g55cuvTCRU-LEk2PkLR_wBZVerXGExKUXPrz_8nvtmOA8Uryqb7mN_GdkkpCnShGSgZVRhdv5AAkRB9sqVybjTYz8mdw0CcNhuQdShOdrfe_RXR3VOOb79fySjvfATwl1V3nezPc70A-9fo9JKWT80KjZUweatAwL1BAWTKoJNcdSrnHkX3K7zKnigJXcupAE1qDeLGPehqIB4PQgDhJhAyzn-YCBeM2Do1uPnoWTZU36mjsoPk-w"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/501204595/d3fcb64802c203fb88dcd189845f8f9b?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },
[...]
[...]
