{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1017343756/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1017343756/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "73"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406659,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406659
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/1017343756/1c88a64a80b648ea03cc03fe73f5ba7c",
          "kty": "RSA-HSM",
          "n": "qjmt-_YQ47SRtMMQZL-BDrLM04HhgZ5SiWBeeX-AUBktP9w5Mw1rGcurK4PEra-eVo8BdtLc2H6dImJ9HYxzxO3ewwp0JRdA4bbAjhEB7gAKLXmtLcpPEB4727LzFmw935i1KzrHH5zLArxdx83k8gBWbSlppEHvr6OiFFD0McTGwpL2Ez0k7EvEUIUZjVryDOkYJjEQjEO0L1bYf9DOEp1RaP63SSJIPGWIzdUnvLsrn28DSnA7BA5eE-tYpSdnQX4eeuLdGmShyfqmpYNUjnsu3mtwQXkbcqe3yrth9S3NnYPabHX2JXFWElY27tQAkd-h_VSaUshwvzwRC9TCrQ"
        }[...]
