{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1175302422/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1175302422/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "140"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539843,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539843
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1175302422/fcd4a4b576a20de31a9a06b480dba77b",
          "kty": "RSA-HSM",
          "n": "2Rh1I-K2HMcp-bMLoo9tqd0rgXZkmahOTqUXChjC9U4v1BqdQyeaQaYk8HGMYCrmMzPXlFYodB4u2RinmoRqgF8nLUwEEG74OfXyVdoqymhKzx9cEaspWYYg0xNBQVYp-vG3NNZKVKXaLNojl-fsd1qHYP4iYGl629Ta2LpuISq9bLe8IRHJRSFJT0IC3TAR6gobKZ6wWDmQWgFpsZ699yROVxZfDzPxYCYjYZ36JjaZ9bhPLaFj6PpQn5KPXhdZvN2YA2jaynMWMlcFFw10Gi0qorVI5B4-Y4q0Ue-bXajj5WLPwr50sRZm5JSC2-yC-Q_AwUw5Ms8Cf8sPXBZTMQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1175302422/fcd4a4b576a20de31a9a06b480dba77b?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
        [...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1175302422/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "6"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539843,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539843
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1175302422/fcd4a4b576a20de31a9a06b480dba77b",
          "kty": "RSA-HSM",
          "n": "2Rh1I-K2HMcp-bMLoo9tqd0rgXZkmahOTqUXChjC9U4v1BqdQyeaQaYk8HGMYCrmMzPXlFYodB4u2RinmoRqgF8nLUwEEG74OfXyVdoqymhKzx9cEaspWYYg0xNBQVYp-vG3NNZKVKXaLNojl-fsd1qHYP4iYGl629Ta2LpuISq9bLe8IRHJRSFJT0IC3TAR6gobKZ6wWDmQWgFpsZ699yROVxZfDzPxYCYjYZ36JjaZ9bhPLaFj6PpQn5KPXhdZvN2YA2jaynMWMlcFFw10Gi0qorVI5B4-Y4q0Ue-bXajj5WLPwr50sRZm5JSC2-yC-Q_AwUw5Ms8Cf8sPXBZTMQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1673126294"
  }
}
