{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "189"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004667,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004667
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/29873a1e462a4ac637dcf03717c48c56",
          "kty": "EC-HSM",
          "x": "LlkE2CXhIvleKJOVB3b7s9Ddiws7of_8CzHwQDB9Hs0",
          "y": "Rjn_zfD10tJ0lHvoUHCZLUEHQC4xotE7golgDxMhETE"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/29873a1e462a4ac637dcf03717c48c56?api-version=7.5-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1693091065,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "62"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004667,
          "enabled": true,
          "exp": 1693091065,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004667
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/29873a1e462a4ac637dcf03717c48c56",
          "kty": "EC-HSM",
          "x": "LlkE2CXhIvleKJOVB3b7s9Ddiws7of_8CzHwQDB9Hs0",
          "y": "Rjn_zfD10tJ0lHvoUHCZLUEHQC4xotE7golgDxMhETE"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/29873a1e462a4ac637dcf03717c48c56?api-version=7.5-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1693091065,
          "exportable": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004667,
          "enabled": true,
          "exp": 1693091065,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004667
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/634649076/29873a1e462a4ac637dcf03717c48c56",
          "kty": "EC-HSM",
          "x": "LlkE2CXhIvleKJOVB3b7s9Ddiws7of_8CzHwQDB9Hs0",
          "y": "Rjn_zfD10tJ0lHvoUHCZLUEHQC4xotE7golgDxMhETE"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "744374769"
  }
}
