{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2146716042/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2146716042/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780406667,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780406667
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://externalkeysdkhsm.managedhsm.azure.net/keys/2146716042/5c17a735f1fe02dc37fb1038cda71485",
          "kty": "RSA-HSM",
          "n": "r0NEz_zxBag_7CMkUwcRb1KpL2txzu3QVvz3-ZyPzUX7nSEY5PxfNvpTyqEM0sGROLlMGQx9Grfq2Tulou7457nJiw-94Lx4gSDTjy0AHeE33coGtHvQuNDiv-rsH5QLZYsFPTW0E12JfhOOHyXbJn9Zb39xVGZghPW8VJ9Ifp0T5nIxhXUQHtk6aDxYpLZZ492mgXz3gf9jggtlQCWE9TYuhpwPnKMKXzfEhBru9RtdZutrMKm0_zD7pDmFekP5Z8ZgN0i46JL_3B6GrKKaeWr8s4eunBgqWLovZX8zcyHruPkEbH2qtqn1bT0qWQG0uTJkgVm4hQfqVvJhUDEMCQ"
        }[...]
