{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/810512243/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/810512243/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "170"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539734,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539734
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/810512243/c4db3ad11e980a26130010d86b3460cd",
          "kty": "RSA-HSM",
          "n": "q_XdXCgic0_lEmGFObJ2Gis1Ksp14O7R88k3FK6FDRuezh36hm8-8Q-MKu2E5rnrylpLMUfn4UiqZtMjmM415AxAeaYDIyjK5txq3YglAXEHYTP6zsgTuXrnjVNgUriMqi1Dxlbzk-ZExOVxxYih3ioh6kaiJNwoXbJA9BEzx3plL3Gp4xDxlM1xZ_RHlT-7ZJ8fFEjNTo9_PheWPKdVUIxmiZ5B-3SizgjJQHlkULEPGuxgVBjl-XH_enf1k9S1aaElVsLVbLOo6YxJ8odzTqpo1acJSaHCGLPAmzfA5E59ewUDq1nAFOSyWwiv3KLrZdzGmrhYE7Y8ZjmYNDZU6Q"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/810512243/c4db3ad11e980a26130010d86b3460cd?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1707539734,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "32"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539734,
          "enabled": true,
          "exp": 1707539734,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539735
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/810512243/c4db3ad11e980a26130010d86b3460cd",
          "kty": "RSA-HSM",
          "n": "q_XdXCgic0_lEmGFObJ2Gis1Ksp14O7R88k3FK6FDRuezh36hm8-8Q-MKu2E5rnrylpLMUfn4UiqZtMjmM415AxAeaYDIyjK5txq3YglAXEHYTP6zsgTuXrnjVNgUriMqi1Dxlbzk-ZExOVxxYih3ioh6kaiJNwoXbJA9BEzx3plL3Gp4xDxlM1xZ_RHlT-7ZJ8fFEjNTo9_PheWPKdVUIxmiZ5B-3SizgjJQHlkULEPGuxgVBjl-XH_enf1k9S1aaElVsLVbLOo6YxJ8odzTqpo1acJSaHCGLPAmzfA5E59ewUDq1nAFOSyWwiv3KLrZdzGmrhYE7Y8ZjmYNDZU6Q"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1046169318"
  }
}
