{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/976248384/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/976248384/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "141"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004671,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004671
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/976248384/6b7fffb81f06075e39c4dcc6a28ca968",
          "kty": "RSA-HSM",
          "n": "sMcZ3HacYjk-ynY205_r461_IsohP2k2c8P7R228xQm9XwQUxRr2CwyaU81ik65n_k8WjyR-Au-zKPA5WVPC7qd5vDst3kcayVwx6k3ZHqDaoCjszyPe_x6DuI-bvyaxkP4rBTYmRGJPz1fAcWPhNqnJZ5wj1oJBvvp0Wn8FXP_CTZiOFJ6w587C58C06RjpfXGJ8qvKG2tIF0irr--j59oAnmVyQt0dydHtNbNSaLTVey4YQh8CrVjvxmli6iE3gU2mLGK_boYpGgYprdUlGBubwwQ_Y6FXPDli5AjtvFlI0hzkfikwTRLdDIvbT6MotbYSKv1WvG-n0fx3sU2oYQ"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/976248384/6b7fffb81f06075e39c4dcc6a28ca968?api-version=7.5-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/976248384/?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230713-3-40221b92-1.0.20230706-3-4bcefe4d-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1693004671,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1693004671
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/976248384/6b7fffb81f06075e39c4dcc6a28ca968",
          "kty": "RSA-HSM",
          "n": "sMcZ3HacYjk-ynY205_r461_IsohP2k2c8P7R228xQm9XwQUxRr2CwyaU81ik65n_k8WjyR-Au-zKPA5WVPC7qd5vDst3kcayVwx6k3ZHqDaoCjszyPe_x6DuI-bvyaxkP4rBTYmRGJPz1fAcWPhNqnJZ5wj1oJBvvp0Wn8FXP_CTZiOFJ6w587C58C06RjpfXGJ8qvKG2tIF0irr--j59oAnmVyQt0dydHtNbNSaLTVey4YQh8CrVjvxmli6iE3gU2mLGK_boYpGgYprdUlGBubwwQ_Y6FXPDli5AjtvFlI0hzkfikwTRLdDIvbT6MotbYSKv1WvG-n0fx3sU2oYQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "RandomSeed": "1610321395"
  }
}
