{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1547361065/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1547361065/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "88"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932477,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932477
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1547361065/527e92c4d0b20b52a31a0151cbae73ec",
          "kty": "RSA-HSM",
          "n": "rwJ5_Zk1oXE0iWQMLTQIFV41zZ84unkOjjAQU_8RHTC92fZNisSw0F5zDmiLJzQJH_fVLKsho1UwoMpistMEHsqBSaFUIE9df8wW3IFDTmIWH8hPlKkzXQUmEHoBjAc8qMe5FhE2YLCSbu9H37Hbktl9WB27KUOVS9pCCkGCIl4XjDzOqwENbcIXJqyaR3ODklQzFO4P_zIcJuDg3PcS0KYGT6TZk8S9QR1B_QMqpaOg51fAgwGpQ8XDSzKhtkOnOyMpZ3XfMEzovlYX93ck_T_UEyXeqa80rHx-v3h8RG6q7tBbsS4gPgeHS6t5JXJRJzzTImBqJzRgddroB96ttQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1547361065/527e92c4d0b20b52a31a0151cbae73ec?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1742932477,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          "unwrapKey",
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "59"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932477,
          "enabled": true,
          "exp": 1742932477,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932477
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1547361065/527e92c4d0b20b52a31a0151cbae73ec",
          "kty": "RSA-HSM",
          "n": "rwJ5_Zk1oXE0iWQMLTQIFV41zZ84unkOjjAQU_8RHTC92fZNisSw0F5zDmiLJzQJH_fVLKsho1UwoMpistMEHsqBSaFUIE9df8wW3IFDTmIWH8hPlKkzXQUmEHoBjAc8qMe5FhE2YLCSbu9H37Hbktl9WB27KUOVS9pCCkGCIl4XjDzOqwENbcIXJqyaR3ODklQzFO4P_zIcJuDg3PcS0KYGT6TZk8S9QR1B_QMqpaOg51fAgwGpQ8XDSzKhtkOnOyMpZ3XfMEzovlYX93ck_T_UEyXeqa80rHx-v3h8RG6q7tBbsS4gPgeHS6t5JXJRJzzTImBqJzRgddroB96ttQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1407127130"
  }
}
