{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1329884590/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1329884590/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "86"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765066,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765066
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1329884590/162a7abae4710758096504db5c399c31",
          "kty": "RSA-HSM",
          "n": "lZ6-fh5Lr3sZijX9JyUwqRC9BDBSxbahgSqLdGzsFryMej7T2oQIdKenRYAwufxIkj1_A6PasJOQCFBT264NdWdSIo5icVmco0EYGBZNFPiksUM4WBbKa0Yduur2vdTB3orSRs808jPZS2ppiI5_jKLCMF0Gs6AunPN_G5MPnXmnTu3nyGhoGIAmyBjfTw5HpOAy2vhjFbf7KiwiI8ykMAoOG2zFxXR4SGyUIHEcWfYye2Hw6xdT6p5yoXbclonf-9q_XcQ_I1hqA3SqHqbwh9VKm-sDCltt-XE87RGPelxlYE7h1Lz5HP-nZBxhvzwxwMj-7jDEboJn75uBYexkcw"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1329884590/162a7abae4710758096504db5c399c31?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      },[...]
[...]
