{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1846255908/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1846255908/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "tags": {
          "A": "1",
          "B": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "142"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1707539741,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1707539741
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1846255908/d4deb1f8896b442aaf461a24d1e74bac",
          "kty": "RSA-HSM",
          "n": "qHaBKwPTnE6Eo7D5yDvXbrjLzTmmPcwXrGdHGhN0wJOdqx5p-UfdSW8Zlwf1B78fSf_44iArcxnbMCa7-Rj-uPIFFrspdgr80t-MhRMVniN6laDFefRg5_4SP14ziT0H0uM6CFJtt9bq2v-ixJ00BI21AjGgpSVjzRAbcZcr-ZwfXUXTvHSSCjpzf1ql7XJq4BUKHy4EC-Gk-eRmQK9glcSnO4j_-vDisTangLtjnqVK2lnerUD9jqv-md38_iMGcgw7A0gfp1DXr2a6ZXvSDt8mQeoL0xjQEaCNDTAb2EY1o8C8WQyM2XSTAoiH1lJIUlv2xhUFUB4DCyiNmG96rw"
        },
        "tags": {
          "A": "1",
          "B": "2"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/keys/1846255908/d4deb1f8896b442aaf461a24d1e74bac?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exportable": false
        },
        "tags": {
          "A": "1",
          "B": "3",
          "C": "4"
        }
      [...]
[...]
