{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "150"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932430,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932430
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/29ed612c51d04f228dbe253cec3e1d96",
          "kty": "EC-HSM",
          "x": "TGEt70xgODPXEbnzGjUfq-03Vv3LYRKOiP9W1GZFokE",
          "y": "Mc2V54YYFCoeINh08QaqZo7wwJnZ2hocmwvPc_ryM64"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/29ed612c51d04f228dbe253cec3e1d96?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1743018830,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "51"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932430,
          "enabled": true,
          "exp": 1743018830,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932430
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/29ed612c51d04f228dbe253cec3e1d96",
          "kty": "EC-HSM",
          "x": "TGEt70xgODPXEbnzGjUfq-03Vv3LYRKOiP9W1GZFokE",
          "y": "Mc2V54YYFCoeINh08QaqZo7wwJnZ2hocmwvPc_ryM64"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/29ed612c51d04f228dbe253cec3e1d96?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1743018830,
          "exportable": false
        },
        "key_ops": [
          "sign",
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "46"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932430,
          "enabled": true,
          "exp": 1743018830,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932431
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/323472903/29ed612c51d04f228dbe253cec3e1d96",
          "kty": "EC-HSM",
          "x": "TGEt70xgODPXEbnzGjUfq-03Vv3LYRKOiP9W1GZFokE",
          "y": "Mc2V54YYFCoeINh08QaqZo7wwJnZ2hocmwvPc_ryM64"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1354227489"
  }
}
