{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1194152832/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1194152832/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM",
        "key_ops": [
          "verify"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "103"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932494,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932494
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1194152832/b1ad3303ecdb4c28a5a39349003c2187",
          "kty": "RSA-HSM",
          "n": "stoG6Y1B3YVRj732Wdad_2avtZiC36fFYNwH5kLnSYz-qUJmK39ABRLvmCzolFNkNpBqRVHzvETUbtEtRgNYrinpndR9jH8CES0Hnw-yQkxtcHovES5tz6HCPoyX_U1NInjrLKFBB0rOQoBB9Dc9gFwMFLdqgt57x4GwKa0y53PHkoXrUjCV9hH0-X-a8uF8jJ3I25Yzctzv423IBOYnaumv1b4qrPm5i0MDr5DkDQyE3DHcZpbzasqKOQDS-QrUqh6WJ6msjzfa0axGq1oEinKC2wcz-ax1vR1JmIVYaAU1aPh_GZdSD6wQM5pQl2cz-zC8dfvNWtimVIG8x7-xow"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1194152832/b1ad3303ecdb4c28a5a39349003c2187?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "exp": 1743018894,
          "exportable": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "52"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1742932494,
          "enabled": true,
          "exp": 1743018894,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1742932494
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify"
          ],
          "kid": "https://rgjoncardekv318hsm.managedhsm.azure.net/keys/1194152832/b1ad3303ecdb4c28a5a39349003c2187",
          "kty": "RSA-HSM",
          "n": "stoG6Y1B3YVRj732Wdad_2avtZiC36fFYNwH5kLnSYz-qUJmK39ABRLvmCzolFNkNpBqRVHzvETUbtEtRgNYrinpndR9jH8CES0Hnw-yQkxtcHovES5tz6HCPoyX_U1NInjrLKFBB0rOQoBB9Dc9gFwMFLdqgt57x4GwKa0y53PHkoXrUjCV9hH0-X-a8uF8jJ3I25Yzctzv423IBOYnaumv1b4qrPm5i0MDr5DkDQyE3DHcZpbzasqKOQDS-QrUqh6WJ6msjzfa0axGq1oEinKC2wcz-ax1vR1JmIVYaAU1aPh_GZdSD6wQM5pQl2cz-zC8dfvNWtimVIG8x7-xow"
        }
      }
    },
[...]
