{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1038876910/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1038876910/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "95"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765048,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765048
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1038876910/9b6c70063c3403391e76df94fde1c9d8",
          "kty": "RSA-HSM",
          "n": "pihEyn32uQ3aLaTukSVix7pXbuj_35pBAheoeui8xWkwzMmHBydsQZg2X5FTENS7vO-jZ3ExEUUXu6yFAOvYZOCZIkQuRUc6VBjTqfkNHk7Z6gzEcIRAZ8JHs0KPaejlszPTYbp-E82RHKtlua54VfPva2TGK4ryHDr-qDx_JrU3ocBn3a4bswQtppbFqOb1B1OrNsTMjMh5ZMXm5dNT1z-1RgF-2rd1QrPXUT2FszX38JNSGEGUZuIGR8pAGsaR-kn_ZlVjMO4wnmdgNopp1boaG2wQJXCtpLYTeZgE6G8rNsyS1AXV6QK5YCo_mjkUw4PZEDgBYSH4sNnsWLdRMQ"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1038876910/9b6c70063c3403391e76df94fde1c9d8?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false,
          "exportable": false
        },
        "key_ops": [
          "wrapKey",
          "decrypt",
          "encrypt",
          [...]
    {
      "RequestUri": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1038876910/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1750765048,
          "enabled": false,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1750765049
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://rgjoncardekvv76hsm.managedhsm.azure.net/keys/1038876910/9b6c70063c3403391e76df94fde1c9d8",
          "kty": "RSA-HSM",
          "n": "pihEyn32uQ3aLaTukSVix7pXbuj_35pBAheoeui8xWkwzMmHBydsQZg2X5FTENS7vO-jZ3ExEUUXu6yFAOvYZOCZIkQuRUc6VBjTqfkNHk7Z6gzEcIRAZ8JHs0KPaejlszPTYbp-E82RHKtlua54VfPva2TGK4ryHDr-qDx_JrU3ocBn3a4bswQtppbFqOb1B1OrNsTMjMh5ZMXm5dNT1z-1RgF-2rd1QrPXUT2FszX38JNSGEGUZuIGR8pAGsaR-kn_ZlVjMO4wnmdgNopp1boaG2wQJXCtpLYTeZgE6G8rNsyS1AXV6QK5YCo_mjkUw4PZEDgBYSH4sNnsWLdRMQ"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekvv76hsm.managedhsm.azure.net/",
    "RandomSeed": "746771600"
  }
}
