{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6422?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6422",
        "name": "testRG-6422",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Blueprint/blueprints/blueprint-2941?api-version=2018-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "blueprint contains all artifact kinds {\u0027template\u0027, \u0027rbac\u0027, \u0027policy\u0027}",
          "targetScope": "subscription",
          "parameters": {
            "costCenter": {
              "type": "string",
              "metadata": {
                "displayName": "force cost center tag for all resources under given subscription."
              }
            },
            "owners": {
              "type": "array",
              "metadata": {
                "displayName": "assign owners to subscription along with blueprint assignment."
              }
            },
            "storageAccountType": {
              "type": "string",
              "metadata": {
                "displayName": "storage account type."
              }
            }
          },
          "resourceGroups": {
            "storageRG": {
              "metadata": {
                "displayName": "storage resource group",
                "description": "Contains storageAccounts that collect all shoebox logs."
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "properties": {
          "parameters": {
            "costCenter": {
              "type": "string",
              "metadata": {
                "displayName": "force cost center tag for all resources under given subscription."
              }
            },
            "owners": {
              "type": "array",
              "metadata": {
                "displayName": "assign owners to subscription along with blueprint assignment."
              }
            },
            "storageAccountType": {
              "type": "string",
              "metadata": {
                "displayName": "storage account type."
              }
            }
          },
          "resourceGroups": {
            "storageRG": {
              "metadata": {
                "displayName": "storage resource group",
                "description": "Contains storageAccounts that collect all shoebox logs."
              },
              "dependsOn": []
            }
          },
          "targetScope": "subscription",
          "status": {
            "timeCreated": "2023-11-28T02:41:54\u002B00:00",
            "lastModified": "2023-11-28T02:41:54.0290137\u002B00:00"
          },
          "description": "blueprint contains all artifact kinds {\u0027template\u0027, \u0027rbac\u0027, \u0027policy\u0027}"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Blueprint/blueprints/blueprint-2941",
        "type": "Microsoft.Blueprint/blueprints",
        "name": "blueprint-2941"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Blueprint/blueprints?api-version=2018-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "parameters": {
                "costCenter": {
                  "type": "string",
                  "metadata": {
                    "displayName": "force cost center tag for all resources under given subscription."
                  }
                },
                "owners": {
                  "type": "array",
                  "metadata": {
                    "displayName": "assign owners to subscription along with blueprint ass[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Blueprint/blueprints/blueprint-29411?api-version=2018-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "error": {
          "code": "BlueprintNotFound",
          "message": "Blueprint \u0027blueprint-29411\u0027 could not be found in the subscription \u0027db1ab6f0-4769-4b27-930e-01e2ef9c123c\u0027."
        }
      }
    },
[...]
