{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTestsEvents4/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "agentsTelemetryTestsEvents4:1",
        "name": "agentsTelemetryTestsEvents4",
        "version": "1",
        "description": "",
        "created_at": 1772044355,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "instructions": "You are a prompt agent."
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTestsEvents4/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "agentsTelemetryTestsEvents4",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "gpt-4.1",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
