{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests3/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "NA",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "agentsTelemetryTests3:1",
        "name": "agentsTelemetryTests3",
        "version": "1",
        "description": "",
        "created_at": 1770935603,
        "definition": {
          "kind": "prompt",
          "model": "NA",
          "instructions": "You are a prompt agent."
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests3?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "agentsTelemetryTests3",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "NA",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
