{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests5/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "5",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "agentsTelemetryTests5:1",
        "name": "agentsTelemetryTests5",
        "version": "1",
        "description": "",
        "created_at": 1771910998,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "instructions": "You are a prompt agent."
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests5?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "instructions": "You are a prompt agent."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "agentsTelemetryTests5",
        "name": "agentsTelemetryTests5",
        "versions": {
          "latest": {
            "metadata": {},
            "object": "agent.version",
            "id": "agentsTelemetryTests5:1",
            "name": "agentsTelemetryTests5",
            "version": "1",
            "description": "",
            "created_at": 1771910998,
            "definition": {
              "kind": "prompt",
              "model": "gpt-4.1",
              "instructions": "You are a prompt agent."
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/agentsTelemetryTests5?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "agentsTelemetryTests5",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "gpt-4.1",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
