{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828103695105217?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F0691A88F\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828103695105217/dir175828103725302293?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F06C00F4C\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:23:58.3159116Z",
        "x-ms-file-creation-time": "2025-09-19T11:23:58.3159116Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:23:58.3159116Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828103695105217/pre1758281037556175828103755601558dir0175828103755600825?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F06EDF091\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:23:58.6165905Z",
        "x-ms-file-creation-time": "2025-09-19T11:23:58.6165905Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:23:58.6165905Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828103695105217/pre1758281037556175828103755601558file0175828103846007054",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F0777E235\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:23:59.5206197Z",
        "x-ms-file-creation-time": "2025-09-19T11:23:59.5206197Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-09-19T11:23:59.5206197Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828103695105217/?comp=list&prefix=pre1758281037556175828103755601558&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175828103695105217\" DirectoryPath=\"\"><Prefix>pre1758281037556175828103755601558</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1758281037556175828103755601558dir0175828103755600825</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1758281037556175828103755601558dir1175828103785703311</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1758281037556175828103755601558dir2175828103815808165</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1758281037556175828103755601558file0175828103846007054</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1758281037556175828103755601558file1175828103877009703</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1758281037556175828103755601558file2175828103907209765</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828103695105217?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828103725302293",
    "now": "2025-09-19T11:23:57.556Z",
    "pre1758281037556": "pre1758281037556175828103755601558",
    "pre1758281037556175828103755601558dir0": "pre1758281037556175828103755601558dir0175828103755600825",
    "pre1758281037556175828103755601558dir1": "pre1758281037556175828103755601558dir1175828103785703311",
    "pre1758281037556175828103755601558dir2": "pre1758281037556175828103755601558dir2175828103815808165",
    "pre1758281037556175828103755601558file0": "pre1758281037556175828103755601558file0175828103846007054",
    "pre1758281037556175828103755601558file1": "pre1758281037556175828103755601558file1175828103877009703",
    "pre1758281037556175828103755601558file2": "pre1758281037556175828103755601558file2175828103907209765",
    "share": "share175828103695105217"
  }
}
