{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828104705309463?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F0C972F21\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:24:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828104705309463/dir175828104735408343?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F0CC5715E\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:24:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:24:08.4175198Z",
        "x-ms-file-creation-time": "2025-09-19T11:24:08.4175198Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:24:08.4175198Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828104705309463/pre1758281047658175828104765806025dir0175828104765800348?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F0CF3529B\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:24:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:24:08.7181979Z",
        "x-ms-file-creation-time": "2025-09-19T11:24:08.7181979Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:24:08.7181979Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828104705309463/pre1758281047658175828104765806025file0175828104855700273",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:08 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76F0D7CA89A\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:24:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:24:09.6182426Z",
        "x-ms-file-creation-time": "2025-09-19T11:24:09.6182426Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-09-19T11:24:09.6182426Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828104705309463/?comp=list&prefix=pre1758281047658175828104765806025&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175828104705309463\" DirectoryPath=\"\"><Prefix>pre1758281047658175828104765806025</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1758281047658175828104765806025dir0175828104765800348</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1758281047658175828104765806025dir1175828104795803308</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1758281047658175828104765806025dir2175828104825708921</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1758281047658175828104765806025file0175828104855700273</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1758281047658175828104765806025file1175828104886302912</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1758281047658175828104765806025file2175828104916607118</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828104705309463?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:24:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828104735408343",
    "now": "2025-09-19T11:24:07.658Z",
    "pre1758281047658": "pre1758281047658175828104765806025",
    "pre1758281047658175828104765806025dir0": "pre1758281047658175828104765806025dir0175828104765800348",
    "pre1758281047658175828104765806025dir1": "pre1758281047658175828104765806025dir1175828104795803308",
    "pre1758281047658175828104765806025dir2": "pre1758281047658175828104765806025dir2175828104825708921",
    "pre1758281047658175828104765806025file0": "pre1758281047658175828104765806025file0175828104855700273",
    "pre1758281047658175828104765806025file1": "pre1758281047658175828104765806025file1175828104886302912",
    "pre1758281047658175828104765806025file2": "pre1758281047658175828104765806025file2175828104916607118",
    "share": "share175828104705309463"
  }
}
