{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C39668788\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159/dir171438183265503634?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C397823CC\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:10:33.1792332Z",
        "x-ms-file-creation-time": "2024-04-29T09:10:33.1792332Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T09:10:33.1792332Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159/pre1714381832769171438183276903522dir0171438183276902024?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C3988EA42\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:10:33.2891714Z",
        "x-ms-file-creation-time": "2024-04-29T09:10:33.2891714Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T09:10:33.2891714Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159/pre1714381832769171438183276903522file0171438183309405589",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C39BA7A6B\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T09:10:33.6139883Z",
        "x-ms-file-creation-time": "2024-04-29T09:10:33.6139883Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-04-29T09:10:33.6139883Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159/?comp=list&prefix=pre1714381832769171438183276903522&maxresults=2&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share171438183254400159\" DirectoryPath=\"\"><Prefix>pre1714381832769171438183276903522</Prefix><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1714381832769171438183276903522dir0171438183276902024</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1714381832769171438183276903522dir1171438183287807336</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker>1!76!cHJlMTcxNDM4MTgzMjc2OTE3MTQzODE4MzI3NjkwMzUyMmRpcjIxNzE0MzgxODMyOTg2MDcwODA-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159/?comp=list&prefix=pre1714381832769171438183276903522&marker=1!76!cHJlMTcxNDM4MTgzMjc2OTE3MTQzODE4MzI3NjkwMzUyMmRpcjIxNzE0MzgxODMyOTg2MDcwODA-&maxresults=2&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share171438183254400159\" DirectoryPath=\"\"><Prefix>pre1714381832769171438183276903522</Prefix><Marker>1!76!cHJlMTcxNDM4MTgzMjc2OTE3MTQzODE4MzI3NjkwMzUyMmRpcjIxNzE0MzgxODMyOTg2MDcwODA-</Marker><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1714381832769171438183276903522dir2171438183298607080</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1714381832769171438183276903522file0171438183309405589</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!76!cHJlMTcxNDM4MTgzMjc2OTE3MTQzODE4MzI3NjkwMzUyMmZpbGUxMTcxNDM4MTgzMzIyNjA4NTA2</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159/?comp=list&prefix=pre1714381832769171438183276903522&marker=1!76!cHJlMTcxNDM4MTgzMjc2OTE3MTQzODE4MzI3NjkwMzUyMmZpbGUxMTcxNDM4MTgzMzIyNjA4NTA2&maxresults=2&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share171438183254400159\" DirectoryPath=\"\"><Prefix>pre1714381832769171438183276903522</Prefix><Marker>1!76!cHJlMTcxNDM4MTgzMjc2OTE3MTQzODE4MzI3NjkwMzUyMmZpbGUxMTcxNDM4MTgzMzIyNjA4NTA2</Marker><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>pre1714381832769171438183276903522file1171438183322608506</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1714381832769171438183276903522file2171438183333401707</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438183254400159?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:10:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171438183265503634",
    "now": "2024-04-29T09:10:32.769Z",
    "pre1714381832769": "pre1714381832769171438183276903522",
    "pre1714381832769171438183276903522dir0": "pre1714381832769171438183276903522dir0171438183276902024",
    "pre1714381832769171438183276903522dir1": "pre1714381832769171438183276903522dir1171438183287807336",
    "pre1714381832769171438183276903522dir2": "pre1714381832769171438183276903522dir2171438183298607080",
    "pre1714381832769171438183276903522file0": "pre1714381832769171438183276903522file0171438183309405589",
    "pre1714381832769171438183276903522file1": "pre1714381832769171438183276903522file1171438183322608506",
    "pre1714381832769171438183276903522file2": "pre1714381832769171438183276903522file2171438183333401707",
    "share": "share171438183254400159"
  }
}
