{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943038407489?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806393E020C7\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943038407489/dir177333943047301465?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806393EF36CF\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:10.5234639Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:10.5234639Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:10.5234639Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943038407489/pre1773339430561177333943056106654dir0177333943056108462?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806393FC9545\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:10.6110789Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:10.6110789Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-03-12T18:17:10.6110789Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943038407489/pre1773339430561177333943056106654file0177333943081603755",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639421590E\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:10.8520206Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:10.8520206Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2026-03-12T18:17:10.8520206Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943038407489/?comp=list&prefix=pre1773339430561177333943056106654&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\" ShareName=\"share177333943038407489\" DirectoryPath=\"\"><Prefix>pre1773339430561177333943056106654</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1773339430561177333943056106654dir0177333943056108462</Name><FileId>13835093239654252544</FileId><Properties /></Directory><Directory><Name>pre1773339430561177333943056106654dir1177333943065308742</Name><FileId>11529250230440558592</FileId><Properties /></Directory><Directory><Name>pre1773339430561177333943056106654dir2177333943073509068</Name><FileId>13835163608398430208</FileId><Properties /></Directory><File><Name>pre1773339430561177333943056106654file0177333943081603755</Name><FileId>11529320599184736256</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1773339430561177333943056106654file1177333943089409940</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1773339430561177333943056106654file2177333943097102337</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943038407489?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177333943047301465",
    "now": "2026-03-12T18:17:10.561Z",
    "pre1773339430561": "pre1773339430561177333943056106654",
    "pre1773339430561177333943056106654dir0": "pre1773339430561177333943056106654dir0177333943056108462",
    "pre1773339430561177333943056106654dir1": "pre1773339430561177333943056106654dir1177333943065308742",
    "pre1773339430561177333943056106654dir2": "pre1773339430561177333943056106654dir2177333943073509068",
    "pre1773339430561177333943056106654file0": "pre1773339430561177333943056106654file0177333943081603755",
    "pre1773339430561177333943056106654file1": "pre1773339430561177333943056106654file1177333943089409940",
    "pre1773339430561177333943056106654file2": "pre1773339430561177333943056106654file2177333943097102337",
    "share": "share177333943038407489"
  }
}
