{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830076163005621?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:12:41 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EA90729687\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:12:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830076163005621/dir169830076173806796?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:12:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EA9083FF75\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:12:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:12:42.6690421Z",
        "x-ms-file-creation-time": "2023-10-26T06:12:42.6690421Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:12:42.6690421Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830076163005621?restype=share\u0026comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:12:41 GMT",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBO09JQ0k7RkE7OztCQSkoQTtPSUNJO0ZBOzs7U1kpKEE7OzB4MTIwMGE5Ozs7QlUpKEE7T0lDSUlPO0dYR1I7OztCVSkoQTtPSUNJOzB4MTMwMWJmOzs7QVUpKEE7O0ZBOzs7U1kpKEE7T0lDSUlPO0dBOzs7Q08pIn0="
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830076163005621/dir169830076173806796?comp=properties\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:12:41 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden|System|Directory|Archive|Offline|NotContentIndexed|NoScrubData",
        "x-ms-file-change-time": "2023-10-26T06:12:41.9730000Z",
        "x[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830076163005621/dir169830076173806796?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:12:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EA90A7FCCF\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:12:42 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Directory | Archive | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2023-10-26T06:12:41.9730000Z",
        "x-ms-file-creation-time": "2023-10-26T06:12:41.9730000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:12:41.9730000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3185042404464991516*16764736045797335973",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830076163005621?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:12:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169830076173806796",
    "now": "2023-10-26T06:12:41.973Z",
    "share": "share169830076163005621"
  }
}
