{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123484704192?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F716CF46\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:15 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123484704192/dir176833123494301625?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F726D296\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123484704192/destdir176833123505006688?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F73603B7\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:07:15.7180343Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123484704192/destdir176833123505006688?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6F73603B7\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:07:15.7180343Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:07:15.6184726Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123484704192/dir176833123494301625?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:9aad4788-001a-0000-77bf-84f8e0000000\n",
        "Time:2026-01-13T19:07:15.9150576Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833123484704192?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir176833123505006688",
    "dir": "dir176833123494301625",
    "share": "share176833123484704192"
  }
}
