{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55964DEA69C\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706/dir169471997434909996?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55964EFB854\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:32:55.3205844Z",
        "x-ms-file-creation-time": "2023-09-14T19:32:55.3205844Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:32:55.3205844Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706/pre1694719974460169471997446007103dir0169471997446005177?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB559650030AB\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:32:55.4285227Z",
        "x-ms-file-creation-time": "2023-09-14T19:32:55.4285227Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:32:55.4285227Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706/pre1694719974460169471997446007103file0169471997478004422",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55965312496\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:32:55.7493398Z",
        "x-ms-file-creation-time": "2023-09-14T19:32:55.7493398Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-09-14T19:32:55.7493398Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706/?comp=list\u0026prefix=pre1694719974460169471997446007103\u0026maxresults=3\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakesdaccount.file.core.windows.net/\u0022 ShareName=\u0022share169471997424106706\u0022 DirectoryPath=\u0022\u0022\u003E\u003CPrefix\u003Epre1694719974460169471997446007103\u003C/Prefix\u003E\u003CMaxResults\u003E3\u003C/MaxResults\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Epre1694719974460169471997446007103dir0169471997446005177\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1694719974460169471997446007103dir1169471997456708954\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1694719974460169471997446007103dir2169471997467309336\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker\u003E1!76!cHJlMTY5NDcxOTk3NDQ2MDE2OTQ3MTk5NzQ0NjAwNzEwM2ZpbGUwMTY5NDcxOTk3NDc4MDA0NDIy\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706/?comp=list\u0026prefix=pre1694719974460169471997446007103\u0026marker=1!76!cHJlMTY5NDcxOTk3NDQ2MDE2OTQ3MTk5NzQ0NjAwNzEwM2ZpbGUwMTY5NDcxOTk3NDc4MDA0NDIy\u0026maxresults=6\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBo[...]
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169471997424106706?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:32:55 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169471997434909996",
    "now": "2023-09-14T19:32:54.460Z",
    "pre1694719974460": "pre1694719974460169471997446007103",
    "pre1694719974460169471997446007103dir0": "pre1694719974460169471997446007103dir0169471997446005177",
    "pre1694719974460169471997446007103dir1": "pre1694719974460169471997446007103dir1169471997456708954",
    "pre1694719974460169471997446007103dir2": "pre1694719974460169471997446007103dir2169471997467309336",
    "pre1694719974460169471997446007103file0": "pre1694719974460169471997446007103file0169471997478004422",
    "pre1694719974460169471997446007103file1": "pre1694719974460169471997446007103file1169471997488707831",
    "pre1694719974460169471997446007103file2": "pre1694719974460169471997446007103file2169471997499409639",
    "share": "share169471997424106706"
  }
}
