{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639E2F0A70\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363/dir177333944776404477?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639E3BA4C7\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:27.8015687Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:27.8015687Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:27.8015687Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363/sourcedir177333944783901808?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639E47A539\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363/destdir177333944783900105?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "Binary",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639E530A18\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:27.9548952Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13762472370467566595*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363/destdir177333944783900105?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639E530A18\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:27.9548952Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:27.8802233Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13762472370467566595*1817716036125499890",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363/sourcedir177333944783901808?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:ff6ba795-401a-003e-534c-b26f9f000000\n",
        "Time:2026-03-12T18:17:28.0938988Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333944768902363?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir177333944783900105",
    "dir": "dir177333944776404477",
    "share": "share177333944768902363",
    "sourcedir": "sourcedir177333944783901808"
  }
}
