{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943412805310?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8063961AB559\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943412805310/dir177333943420403327?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639627B370\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:14.2490992Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:14.2490992Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.2490992Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943412805310/pre1773339434285177333943428508045dir0177333943428506254?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639632CA7D\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:14.3217789Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:14.3217789Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.3217789Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943412805310/pre1773339434285177333943428508045file0177333943450206177",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806396537438\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:14.5358392Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:14.5358392Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.5358392Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943412805310/?comp=list&prefix=pre1773339434285177333943428508045&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\" ShareName=\"share177333943412805310\" DirectoryPath=\"\"><Prefix>pre1773339434285177333943428508045</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1773339434285177333943428508045dir0177333943428506254</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1773339434285177333943428508045dir1177333943435805752</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1773339434285177333943428508045dir2177333943442604244</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1773339434285177333943428508045file0177333943450206177</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1773339434285177333943428508045file1177333943457505618</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1773339434285177333943428508045file2177333943464700847</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943412805310?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177333943420403327",
    "now": "2026-03-12T18:17:14.285Z",
    "pre1773339434285": "pre1773339434285177333943428508045",
    "pre1773339434285177333943428508045dir0": "pre1773339434285177333943428508045dir0177333943428506254",
    "pre1773339434285177333943428508045dir1": "pre1773339434285177333943428508045dir1177333943435805752",
    "pre1773339434285177333943428508045dir2": "pre1773339434285177333943428508045dir2177333943442604244",
    "pre1773339434285177333943428508045file0": "pre1773339434285177333943428508045file0177333943450206177",
    "pre1773339434285177333943428508045file1": "pre1773339434285177333943428508045file1177333943457505618",
    "pre1773339434285177333943428508045file2": "pre1773339434285177333943428508045file2177333943464700847",
    "share": "share177333943412805310"
  }
}
