{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409009244400070?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C444985A5B9\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409009244400070/dir176409009274108514?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4449B31D69\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:01:33.9062633Z",
        "x-ms-file-creation-time": "2025-11-25T17:01:33.9062633Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T17:01:33.9062633Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409009244400070/pre1764090093036176409009303609883dir0176409009303608126?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4449DFA0B0\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:01:34.1979824Z",
        "x-ms-file-creation-time": "2025-11-25T17:01:34.1979824Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:01:34.1979824Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409009244400070/pre1764090093036176409009303609883file0176409009391806532",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C444A668A09\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:01:35.0821385Z",
        "x-ms-file-creation-time": "2025-11-25T17:01:35.0821385Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-11-25T17:01:35.0821385Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409009244400070/?comp=list&prefix=pre1764090093036176409009303609883&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:34 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409009244400070\" DirectoryPath=\"\"><Prefix>pre1764090093036176409009303609883</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1764090093036176409009303609883dir0176409009303608126</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1764090093036176409009303609883dir1176409009333205403</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1764090093036176409009303609883dir2176409009362500663</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1764090093036176409009303609883file0176409009391806532</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1764090093036176409009303609883file1176409009421605600</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1764090093036176409009303609883file2176409009451308109</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409009244400070?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:36 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409009274108514",
    "now": "2025-11-25T17:01:33.036Z",
    "pre1764090093036": "pre1764090093036176409009303609883",
    "pre1764090093036176409009303609883dir0": "pre1764090093036176409009303609883dir0176409009303608126",
    "pre1764090093036176409009303609883dir1": "pre1764090093036176409009303609883dir1176409009333205403",
    "pre1764090093036176409009303609883dir2": "pre1764090093036176409009303609883dir2176409009362500663",
    "pre1764090093036176409009303609883file0": "pre1764090093036176409009303609883file0176409009391806532",
    "pre1764090093036176409009303609883file1": "pre1764090093036176409009303609883file1176409009421605600",
    "pre1764090093036176409009303609883file2": "pre1764090093036176409009303609883file2176409009451308109",
    "share": "share176409009244400070"
  }
}
