{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980246443802546?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Jul 2023 21:34:24 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889F8542F5C3\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:31:31 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980246443802546/dir168980246453008969?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Jul 2023 21:34:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889F855250C6\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:31:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-19T21:31:32.0999110Z",
        "x-ms-file-creation-time": "2023-07-19T21:31:32.0999110Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-19T21:31:32.0999110Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980246443802546?restype=share\u0026comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Jul 2023 21:34:24 GMT",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBO09JQ0k7RkE7OztCQSkoQTtPSUNJO0ZBOzs7U1kpKEE7OzB4MTIwMGE5Ozs7QlUpKEE7T0lDSUlPO0dYR1I7OztCVSkoQTtPSUNJOzB4MTMwMWJmOzs7QVUpKEE7O0ZBOzs7U1kpKEE7T0lDSUlPO0dBOzs7Q08pIn0="
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980246443802546/dir168980246453008969?comp=properties\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Jul 2023 21:34:24 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden|System|Directory|Archive|Offline|NotContentIndexed|NoScrubData",
        "x-ms-file-change-time": "2023-07-19T21:34:24.7050000Z",
        "x[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980246443802546/dir168980246453008969?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Jul 2023 21:34:24 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889F856C4B40\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:31:32 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Directory | Archive | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2023-07-19T21:34:24.7050000Z",
        "x-ms-file-creation-time": "2023-07-19T21:34:24.7050000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-19T21:34:24.7050000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15838302399029273792*2258328373640403577",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980246443802546?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Jul 2023 21:34:24 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168980246453008969",
    "now": "2023-07-19T21:34:24.705Z",
    "share": "share168980246443802546"
  }
}
