{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942285108850?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80638F604D0F\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942285108850/dir177333942292606873?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80638F6E70D5\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:02.9686485Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:02.9686485Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:02.9686485Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942285108850?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-permission-format": "Binary",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "permission": "AQAEgLQAAADAAAAAAAAAABQAAAACAKAABwAAAAADGAD/AR8AAQIAAAAAAAUgAAAAIAIAAAADFAD/AR8AAQEAAAAAAAUSAAAAAAAYAKkAEgABAgAAAAAABSAAAAAhAgAAAAsYAAAAAKABAgAAAAAABSAAAAAhAgAAAAMUAL8BEwABAQAAAAAABQsAAAAAABQA/wEfAAEBAAAAAAAFEgAAAAALFAAAAAAQAQEAAAAAAAMAAAAAAQEAAAAAAAUSAAAAAQEAAAAAAAUSAAAA",
        "format": "binary"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942285108850/dir177333942292606873177333942308005655?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden|System|Directory|Archive|Offline|NotContentIndexed|NoScrubData",
        "x-ms-file-creation-time": "2026-03-12T18:17:03.0810000Z",
        "x-ms-file-last-write-time": "2026-03-12T18:17:03.0810000Z",
        "x-ms-file-permission": "AQAEgLQAAADAAAAAAAAAABQAAAACAKAABwAAAAADGAD/AR8AAQIAAAAAAAUgAAAAIAIAAAADFAD/AR8AAQEAAAAAAAUSAAAAAAAYAKkAEgABAgAAAAAABSAAAAAhAgAAAAsYAAAAAKABAgAAAAAABSAAAAAhAgAAAAMUAL8BEwABAQAAAAAABQsAAAAAABQA/wEfAAEBAAAAAAAFEgAAAAALFAAAAAAQAQEAAAAAAAMAAAAAAQEAAAAAAAUSAAAAAQEAAAAAAAUSAAAA",
        "x-ms-file-permission-format": "Binary",
        "x-ms-meta-key": "value",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80638F84ECCB\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:03 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Directory | Archive | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2026-03-12T18:17:03.1160011Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:03.0810000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:03.0810000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942285108850/dir177333942292606873177333942308005655?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80638F84ECCB\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:03 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Directory | Archive | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2026-03-12T18:17:03.1160011Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:03.0810000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:03.0810000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-meta-key": "value",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942285108850?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177333942292606873",
    "dir177333942292606873": "dir177333942292606873177333942308005655",
    "now": "2026-03-12T18:17:03.081Z",
    "share": "share177333942285108850"
  }
}
