{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828101871004476?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76EFBB26088\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828101871004476/dir175828101901306758?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76EFBE10847\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:23:40.0770631Z",
        "x-ms-file-creation-time": "2025-09-19T11:23:40.0770631Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:23:40.0770631Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828101871004476/dir175828101901306758/dir0175828101932000445?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76EFC0FAC03\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:23:40.3827203Z",
        "x-ms-file-creation-time": "2025-09-19T11:23:40.3827203Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:23:40.3827203Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828101871004476/dir175828101901306758/file0175828102023107413",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:40 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF76EFC9AADD3\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:23:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:23:41.2937171Z",
        "x-ms-file-creation-time": "2025-09-19T11:23:41.2937171Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-09-19T11:23:41.2937171Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828101871004476/dir175828101901306758?comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175828101871004476\" DirectoryPath=\"dir175828101901306758\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>dir0175828101932000445</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>dir1175828101962306421</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>dir2175828101992809788</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>file0175828102023107413</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file1175828102053907669</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2175828102084401292</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828101871004476?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:23:43 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828101901306758",
    "dir0": "dir0175828101932000445",
    "dir1": "dir1175828101962306421",
    "dir2": "dir2175828101992809788",
    "file0": "file0175828102023107413",
    "file1": "file1175828102053907669",
    "file2": "file2175828102084401292",
    "share": "share175828101871004476"
  }
}
