{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C443C4CC784\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir176409007055806682?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C443C7A46DA\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:01:11.7233882Z",
        "x-ms-file-creation-time": "2025-11-25T17:01:11.7233882Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T17:01:11.7233882Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C443CA82829\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:01:12.0240681Z",
        "x-ms-file-creation-time": "2025-11-25T17:01:12.0240681Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:01:12.0240681Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530/dir%EF%BF%BE0-1176409007115601498?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a6217ed9-c01a-002a-0e2d-5e72eb000000\n",
        "Time:2025-11-25T17:01:12.3231220Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530/file%EF%BF%BE0176409007294003001",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C443DE55F0B\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:01:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:01:14.1029643Z",
        "x-ms-file-creation-time": "2025-11-25T17:01:14.1029643Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2025-11-25T17:01:14.1029643Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530?comp=list&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:13 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409007026000098\" Encoded=\"true\" DirectoryPath=\"dir1%EF%BF%BE176409007085807530\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name Encoded=\"true\">dir%EF%BF%BE0-1176409007115601498</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2025-11-25T17:01:12.6183035Z</CreationTime><LastAccessTime>2025-11-25T17:01:12.6183035Z</LastAccessTime><LastWriteTime>2025-11-25T17:01:12.6183035Z</LastWriteTime><ChangeTime>2025-11-25T17:01:12.6183035Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 17:01:12 GMT</Last-Modified><Etag>\"0x8DE2C443D02D47B\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><Directory><Name Encoded=\"true\">dir%EF%BF%BE1-1176409007175001576</Name><FileId>10376363910205800448</FileId><Properties><CreationTime>2025-11-25T17:01:13.2116984Z</CreationTime><LastAccessTime>2025-11-25T17:01:13.2116984Z</LastAccessTime><LastWriteTime>2025-11-25T17:01:13.2116984Z</LastWriteTime><ChangeTime>2025-11-25T17:01:13.2116984Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 17:01:13 GMT</Last-Modified><Etag>\"0x8DE2C443D5D5FF8\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><Directory><Name Encoded=\"true\">dir%EF%BF%BE2-1176409007234402803</Name><FileId>13835093239654252544</FileId><Properties><CreationTime>2025-11-25T17:01:13.8057541Z</CreationTime><LastAccessTime>2025-11-25T17:01:13.8057541Z</LastAccessTime><LastWriteTime>2025-11-25T17:01:13.8057541Z</LastWriteTime><ChangeTime>2025-11-25T17:01:13.8057541Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 17:01:13 GMT</Last-Modified><Etag>\"0x8DE2C443DB80545\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><File><Name Encoded=\"true\">file%EF%BF%BE0176409007294003001</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length><CreationTime>2025-11-25T17:01:14.1029643Z</CreationTime><LastAccessTime>2025-11-25T17:01:14.1029643Z</LastAccessTime><LastWriteTime>2025-11-25T17:01:14.1029643Z</LastWriteTime><ChangeTime>2025-11-25T17:01:14.1029643Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 17:01:14 GMT</Last-Modified><Etag>\"0x8DE2C443DE55F0B\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>6070331687120522831*18203214069713872577</PermissionKey></File><File><Name Encoded=\"true\">fil[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530?comp=list&prefix=dir%EF%BF%BE&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:14 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409007026000098\" Encoded=\"true\" DirectoryPath=\"dir1%EF%BF%BE176409007085807530\"><Prefix Encoded=\"true\">dir%EF%BF%BE</Prefix><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name Encoded=\"true\">dir%EF%BF%BE0-1176409007115601498</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2025-11-25T17:01:12.6183035Z</CreationTime><LastAccessTime>2025-11-25T17:01:12.6183035Z</LastAccessTime><LastWriteTime>2025-11-25T17:01:12.6183035Z</LastWriteTime><ChangeTime>2025-11-25T17:01:12.6183035Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 17:01:12 GMT</Last-Mo[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530?comp=list&prefix=file%EF%BF%BE&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:15 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "Status[...]
[...]
    {
      "RequestUri": "https://emmacanarytest.file.core.windows.net/share176409007026000098/dir1%EF%BF%BE176409007085807530?restype=directory",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "SharedKey emmacanarytest:oEyXy33qtnLdJ56COTWT1png5wsaFwABjakB5lEqIdo=",
        "x-ms-date": "Tue, 25 Nov 2025 17:01:17 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409007055806682",
    "dir0-1": "dir\uFFFE0-1176409007115601498",
    "dir1": "dir1\uFFFE176409007085807530",
    "dir1-1": "dir\uFFFE1-1176409007175001576",
    "dir2-1": "dir\uFFFE2-1176409007234402803",
    "file0": "file\uFFFE0176409007294003001",
    "file1": "file\uFFFE1176409007324102676",
    "file2": "file\uFFFE2176409007354000172",
    "share": "share176409007026000098"
  }
}
