{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B86E5DCA3CA\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286/dir173762047239300579?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B86E5EDACB7\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-23T08:21:12.5693623Z",
        "x-ms-file-creation-time": "2025-01-23T08:21:12.5693623Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-23T08:21:12.5693623Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286/pre1737620472510173762047251002415dir0173762047251100122?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B86E5FF5D5A\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-23T08:21:12.6852954Z",
        "x-ms-file-creation-time": "2025-01-23T08:21:12.6852954Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-23T08:21:12.6852954Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286/pre1737620472510173762047251002415file0173762047283909299",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B86E63162A4\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:21:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-23T08:21:13.0131108Z",
        "x-ms-file-creation-time": "2025-01-23T08:21:13.0131108Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-01-23T08:21:13.0131108Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286/?comp=list&prefix=pre1737620472510173762047251002415&maxresults=3&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share173762047228201286\" DirectoryPath=\"\"><Prefix>pre1737620472510173762047251002415</Prefix><MaxResults>3</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1737620472510173762047251002415dir0173762047251100122</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1737620472510173762047251002415dir1173762047262008541</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1737620472510173762047251002415dir2173762047272802649</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker>1!76!cHJlMTczNzYyMDQ3MjUxMDE3Mzc2MjA0NzI1MTAwMjQxNWZpbGUwMTczNzYyMDQ3MjgzOTA5Mjk5</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286/?comp=list&prefix=pre1737620472510173762047251002415&marker=1!76!cHJlMTczNzYyMDQ3MjUxMDE3Mzc2MjA0NzI1MTAwMjQxNWZpbGUwMTczNzYyMDQ3MjgzOTA5Mjk5&maxresults=6&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share173762047228201286\" DirectoryPath=\"\"><Prefix>pre1737620472510173762047251002415</Prefix><Marker>1!76!cHJlMTczNzYyMDQ3MjUxMDE3Mzc2MjA0NzI1MTAwMjQxNWZpbGUwMTczNzYyMDQ3MjgzOTA5Mjk5</Marker><MaxResults>6</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>pre1737620472510173762047251002415file0173762047283909299</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1737620472510173762047251002415file1173762047295208713</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1737620472510173762047251002415file2173762047306108994</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762047228201286?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:21:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173762047239300579",
    "now": "2025-01-23T08:21:12.510Z",
    "pre1737620472510": "pre1737620472510173762047251002415",
    "pre1737620472510173762047251002415dir0": "pre1737620472510173762047251002415dir0173762047251100122",
    "pre1737620472510173762047251002415dir1": "pre1737620472510173762047251002415dir1173762047262008541",
    "pre1737620472510173762047251002415dir2": "pre1737620472510173762047251002415dir2173762047272802649",
    "pre1737620472510173762047251002415file0": "pre1737620472510173762047251002415file0173762047283909299",
    "pre1737620472510173762047251002415file1": "pre1737620472510173762047251002415file1173762047295208713",
    "pre1737620472510173762047251002415file2": "pre1737620472510173762047251002415file2173762047306108994",
    "share": "share173762047228201286"
  }
}
