{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833121945602683?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6EDC206F0\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:06:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833121945602683/dir176833121955908075?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6EDD38B9B\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:06:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:06:59.9732123Z",
        "x-ms-file-creation-time": "2026-01-13T19:06:59.9732123Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:06:59.9732123Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833121945602683/pre1768331219672176833121967205134dir0176833121967205739?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6EDE30A90\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:07:00.0747664Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:00.0747664Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-01-13T19:07:00.0747664Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833121945602683/pre1768331219672176833121967205134file0176833121998000574",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D6EE130C55\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:07:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:07:00.3893845Z",
        "x-ms-file-creation-time": "2026-01-13T19:07:00.3893845Z",
        "x-ms-file-id": "10376328725833711616",
        "x-ms-file-last-write-time": "2026-01-13T19:07:00.3893845Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833121945602683/?comp=list&prefix=pre1768331219672176833121967205134&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.file.core.windows.net/\" ShareName=\"share176833121945602683\" DirectoryPath=\"\"><Prefix>pre1768331219672176833121967205134</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1768331219672176833121967205134dir0176833121967205739</Name><FileId>13835093239654252544</FileId><Properties /></Directory><Directory><Name>pre1768331219672176833121967205134dir1176833121977107689</Name><FileId>11529250230440558592</FileId><Properties /></Directory><Directory><Name>pre1768331219672176833121967205134dir2176833121988205634</Name><FileId>16140936248867946496</FileId><Properties /></Directory><File><Name>pre1768331219672176833121967205134file0176833121998000574</Name><FileId>10376328725833711616</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1768331219672176833121967205134file1176833122008400086</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1768331219672176833121967205134file2176833122022906003</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833121945602683?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176833121955908075",
    "now": "2026-01-13T19:06:59.672Z",
    "pre1768331219672": "pre1768331219672176833121967205134",
    "pre1768331219672176833121967205134dir0": "pre1768331219672176833121967205134dir0176833121967205739",
    "pre1768331219672176833121967205134dir1": "pre1768331219672176833121967205134dir1176833121977107689",
    "pre1768331219672176833121967205134dir2": "pre1768331219672176833121967205134dir2176833121988205634",
    "pre1768331219672176833121967205134file0": "pre1768331219672176833121967205134file0176833121998000574",
    "pre1768331219672176833121967205134file1": "pre1768331219672176833121967205134file1176833122008400086",
    "pre1768331219672176833121967205134file2": "pre1768331219672176833121967205134file2176833122022906003",
    "share": "share176833121945602683"
  }
}
