{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A83165777D\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:27 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928/dir172301126683909580?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A83196AC41\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-07T06:14:28.2486849Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:28.2486849Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T06:14:28.2486849Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "848195603883682205*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928/sourcedir172301126719503528?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A831CA5EDF\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "848195603883682205*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928/destdir172301126719503174?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:27 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "Binary",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A83237DDC0\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-07T06:14:29.3050816Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14184526647822199781*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928/destdir172301126719503174?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A83237DDC0\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-07T06:14:29.3050816Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:14:28.5874911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14184526647822199781*7142220257662565908",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928/sourcedir172301126719503528?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:510f37c2-101a-009c-1591-e8e0c6000000\n",
        "Time:2024-08-07T06:14:29.9195385Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301126653008928?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir172301126719503174",
    "dir": "dir172301126683909580",
    "share": "share172301126653008928",
    "sourcedir": "sourcedir172301126719503528"
  }
}
