{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981B2C06D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981C4E285\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981C619C3\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981C619C3\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981C619C3\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981C619C3\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006981C6B54A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/folder%2540bar/different%21file?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "BRcCAYwB6L/QoSS8sO0JlinRihtA3Y7KuTp6azQ5heFalUFRmY/FMvI1yBb3HyMgiWM4rQxljieIOEdRhnyKlhxCYhqsuPyZC1cpCxV305oXWuHRANfU9AcZyGFHc6t1qjH6tL0Ic9Bmn6G1PIISEGStOiyauZVFbW0Sk/CbUZiss2HjfR7dDuYRamE1H7eEBrf9mjh/2/CbtUdP9eDgy00JCYkhLpJF0CxFiU40D021jow4nrdgLNdwR8jXjRgGMJ8TLBYuY9gkt8oMOVGiZ6X5mWdTqC2WqdyxsebKbUITP1ivIeM3hyq0E+btU/O[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/folder%3Dbar/subfile%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "vrZ5x2pC6ZF6WOV8JXT+dh7SH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/file%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "N+D3uK8arRIW+DVQ6YHVABd1xRR1z6AR8vaSNPSVW[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/file%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "2ltZx6ELiaPUSEHU+Lj0x18niu5AuLUQs[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/space%20folder/space%20file?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ifODFvy69iohF0BPwL9CpiZsi4HkYuzc[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "2y9up4zG57YW5o+iX[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7\"><Blobs><Blob><Name>file%3Dtest%26</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:08 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:08 GMT</Last-Modified><Etag>0x8DE006981CEC287</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>file=test!@#$%</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:08 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:08 GMT</Last-Modified><Etag>0x8DE006981CEC287</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</Lease[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006981CEC287\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE006981CEC287\"",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006981CEC287\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-57d10266-ca36-6d89-6128-1d3d59a1dbe7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1489223968",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
