{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CFBE6BAE2\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404/496b855b/8f800a5a/c5c4384a/9867def9/2a1399af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CFBF40A48\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404/496b855b/8f800a5a/c5c4384a/9867def9/2a1399af?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "w4xvEbz++WD6rGRubGjcCTgs69Hjk0Mg06jzOWGVWtg8CzoMjeScsaCzLw50nVI7L39vkZyPPzBJTj4TCsD+ZVGLMWAtz3tUjzoxL2M0rDVWuAriJck8rcsJwz6miabftMq86GvyDV8EGwJhXRDNFKIIvFK2HD+IT4SUJAw8rQWUUnqYd8PKZKqq3QrG2k+7PK6bnsxUKZiLNJnnXelTx238zQuVNJ3fPlioCz40wXU02OheoA84PyjiDUMp4gbAVxWcyQxDJgcRvGBzqx1aVnIksoUB9Sdew43isidZtVtR57Qol/do8bHgTOSvxJQ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-dc7f61cd-b122-e99e-903e-f019fcec4404\"><Blobs><Blob><Name>496b855b/8f800a5a/c5c4384a/9867def9/2a1399af</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:27 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:27 GMT</Last-Modified><Etag>0x8DCF78CFBFB0753</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404/496b855b/8f800a5a/c5c4384a/9867def9/2a1399af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CFBFB0753\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:13:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404/496b855b/8f800a5a/c5c4384a/9867def9/2a1399af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF78CFBFB0753\"",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:31 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CFBFB0753\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:13:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dc7f61cd-b122-e99e-903e-f019fcec4404?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "183771351",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
