{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980DCEFEF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980EFE45A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980F22BB5\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980F1DDEF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980F22BB5\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980F2529A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006980F2529A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/file%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mXPEd06hMD+akyvSZ412dYoUW1cGep3wdy5HH00LHzxDqzCf6KL3X/dFTzQcp9arQXqBBR/Cbh7W1P8gWRDxj3Pujrtd1o3oHPxfwStp089Xm97TiRkdgT0RyROi1wXmU7/ALhkaTmrsmekiYqzybAEvyL4yHQVa0A1+Sw15RUT2eW1sqaW2PE105vAw+h6QH1wScg9HtDa6Zl0MnANcc1OkK+k+hsNbeYtwvjcVKdbu7iuwZtM1r8U3sUNHqqBKF3Oci841UZiZtviD1vX+pTyHHa7XrAyAb3wkB9SAE8/qJqbEeJ4HuZySFq/asdj[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/file%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "orP51r7J9RAxQ7jrDMJJHRWvkRXBk9VVt/tP5glPV[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/folder%3Dbar/subfile%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "iuryWF0K9lbr97NakEz2blUfi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/folder%2540bar/different%21file?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "jh1z+AYn+qt4eb5IEnRtwhsHXES9[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "j8FaQpB0Vv4z9diQE[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/space%20folder/space%20file?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "x74g7dUuYSLsoVfQPOxDfgTOcmk0F3Dv[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464\"><Blobs><Blob><Name>file%3Dtest%26</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:06 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:06 GMT</Last-Modified><Etag>0x8DE006980FA5FDC</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>file=test!@#$%</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:06 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:06 GMT</Last-Modified><Etag>0x8DE006980F9EB34</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</Lease[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006980FA5FDC\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE006980FA5FDC\"",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006980FA5FDC\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e2cdb27c-872f-8956-23a4-5a5c7e8b6464?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1322723018",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
