{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d4791241-9cd7-31ec-5522-2d0509779542?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CFAE1699C\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d4791241-9cd7-31ec-5522-2d0509779542/29423dde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CFAEA06E3\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d4791241-9cd7-31ec-5522-2d0509779542/29423dde?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "/Z2V/jRwQOWpikV8Bd8qX/WJUJWyz8gC23u/ZfWGQukU6DJvUVnVQH9njOvAPJ3b3KQY7KqTOC7VkyK5sdvvIkhcaB2tug6ctA8VS0LcQZ/d44hQblY/gbADmr02HI+kd2mjY9OALiGWeziafe3r+FKD285SnrTyHeZtqSBQZpd/cdPZON3LXbRmuvIepATCGKFrskHBUti0sUbtEoUBRRWgGgwZEsB0t30Z6+TC03niqpF+5bNWvh77JIaX3kovZXXdfYn4qQXh9/vEqGb08t3NCmjzgl9hSlztHu053dgy6YZu5Vbv6QCLne64kRa4BjKoydPiPOIVezMtC4sYqBkikb/fh[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d4791241-9cd7-31ec-5522-2d0509779542/7a1e9508",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6a7589c3-301e-0041-4175-29f850000000\n",
        "Time:2024-10-28T20:13:25.9176003Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d4791241-9cd7-31ec-5522-2d0509779542?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d4791241-9cd7-31ec-5522-2d0509779542\"><Blobs><Blob><Name>29423dde</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:25 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:25 GMT</Last-Modified><Etag>0x8DCF78CFAF1ED43</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>354cc0b1</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:25 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:26 GMT</Last-Modified><Etag>0x8DCF78CFB1D1285</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState>[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d4791241-9cd7-31ec-5522-2d0509779542?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2095319202",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
