{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F7EBBE2BA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617/7ecd92fd/5bac7a9f/88591ec6/2847e0cd/972dcacb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F7ECBA9D5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617/7ecd92fd/5bac7a9f/88591ec6/2847e0cd/972dcacb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "9gkjU04RJw6RZoSqz3ST6NNNuau7Hc92cVqlixuS+vvOL4zNso92uqMfBirSxB0OrrUnq1AZ9tg6rOHza5vz/2yI25/nxTVD1/4InBekpK09l91lak6rtTm0kwaugk4HLAa+Seh9JuiA49RREVrBlQczttS+jZQd3SZmMzEulVSwAHAQ5lvFwHD05Yd6WqTe8v7+est6SZ5yoWvBFvO2UU1/oBDqsK+sbvZjyacNooOBiEAzMBuINbfRnkXvA6l9PZQ5+7mT80JOUQvVFn/2ZP7oQI6ygyAy9mpZGRFqvWpM5osT1KfJ7pT+5N4Psx8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617\"><Blobs><Blob><Name>7ecd92fd/5bac7a9f/88591ec6/2847e0cd/972dcacb</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:08 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:09 GMT</Last-Modified><Etag>0x8DD5D0F7ED452A7</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617/7ecd92fd/5bac7a9f/88591ec6/2847e0cd/972dcacb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D0F7ED452A7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617/7ecd92fd/5bac7a9f/88591ec6/2847e0cd/972dcacb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D0F7ED452A7\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D0F7ED452A7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2ee1d7d6-12cf-fa41-b6d0-a25ae27e7617?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "790611821",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
