{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F22880D3B8\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd/2a3e5abb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F228879E04\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd/2a3e5abb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "niwz+KCOTunVl7QjcBjxANJ5fIstNCX+RRvyrLhcVZyKmcerHOa2TylMcpHEehgFHhpW2F313WkGNLKFnKExeEEXmNZQReTswixh4cGTOssC7Y6eBn0/lbxdpOczMLKHG/pQrOFBtNg1aRYwk/yoc/rngq8Tk3HE2AIa8qD8uJF62cbHQo3pwDi1aJxnDgLAtTHsS64Dc4eIjNTeJ8E3ObCEtrk14DBs/cF3XSvVXckAWj1vD2zjd2U+P7a5Cpl2fi7r4lhIitUAgE3sixZcsy8K3s2ExylDoD9T96F5s/MoAN/86Xpwt9Bnbo8f9+tP4YyHrizM8rYFp0EZ9JIzhsxaw4s2Y[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd/0fa3e277",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:d4fe722a-d01e-0049-61db-2ae25f000000\n",
        "Time:2024-10-30T14:50:12.7696720Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd\"><Blobs><Blob><Name>0fa3e277</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:50:12 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:50:12 GMT</Last-Modified><Etag>0x8DCF8F2289D09A6</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>2a3e5abb</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:50:12 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:50:12 GMT</Last-Modified><Etag>0x8DCF8F2288EC1E2</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState>[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3038c109-89c5-4885-9ff8-ba08d4bd25fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1453217496",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
