{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CFFA99528\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f/4118db39",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CFFB14AE6\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f/4118db39?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "hb8aR8N/t7gu7slSwe0n0KK3hWXFEN8x6X2GYGNwd6qmX/vjnZ8AWwv1yakk6Uou702Z+kd+RnXg6V5F+FZVvnYfrGHxQzICtylaz0c2DP8zWHEV1n1iJxmGA7RBumO0oAoyBT3oPKwal0MdJHctqdxfEp/lP+f5vIRIaj9+wPzGpS88AwfBShvE+z45RQKhWFrX4qjDz2AiOEm4oNJsnNZGV39H8aXVnciEIESpwHeCphLlpt5UA9bOGcu+CalJV15o8u2DWWe0AUXfP64ceXjRNvnAh/X48lSoedfaF5QeOsjmQc2J/kyqMaWZdMQnsqBS7NKvidBpbwCZ2uCQ2eqxwQTmN[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f/a289251f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6a7593e1-301e-0041-1375-29f850000000\n",
        "Time:2024-10-28T20:13:33.9345178Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f\"><Blobs><Blob><Name>4118db39</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:33 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:33 GMT</Last-Modified><Etag>0x8DCF78CFFB97F20</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>a289251f</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:33 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:33 GMT</Last-Modified><Etag>0x8DCF78CFFC86277</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState>[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606bda29-ac8a-4d0f-8960-4d6fe676187f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1462647083",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
