{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78D028DB11A\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777/b8b6d3b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78D0295E7F8\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:13:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777/b8b6d3b6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dCPKgt1qd9lSqG7wU35u8bzoqYlib7OxDk5r9SlW64tKOEG0iSk2a942V8Yb09f+9sJtOBWZMgVvGHSP/4Kw+7ziphs8uWiTsj2rLBfsljp2bf5m6LJ2sAU8RHC0p2xbhlsKOC28wT1a2YbX7gbtg4I5GZKDSRMJbPUW/3T33wvRT6W84l0NuavBCw4snsL+T8Hteo3Z2DxHAMs3psLIY/p7BZ9gMaAkLF/mwj4F3c4zF7CzCWR993ZodOKR1RPp+KgTsJginR0hyE4u8xb+QiP9BI4RFVmW/g4o97y+k1dM/MmV8Sw1EHmSkUEVTgRgajG+lNCE1+JPfLKK+qVgYjX24vZMa[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777/e779d23a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6d27fe32-401e-0064-0175-29512c000000\n",
        "Time:2024-10-28T20:13:38.7843155Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777\"><Blobs><Blob><Name>a90f56d6</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:38 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:38 GMT</Last-Modified><Etag>0x8DCF78D02C15B05</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>b8b6d3b6</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:13:38 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:13:38 GMT</Last-Modified><Etag>0x8DCF78D029DF53D</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState>[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e22400b-4a81-eb1d-d88b-e7e340cff777?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2107264688",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
