{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/orscontainer?sv=2015-04-05\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacup\u0026se=2023-01-31T18%3A51%3A40.0000000Z\u0026sig=foobar\u0026comp=list\u0026restype=container\u0026_=1698285866122",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.blob.core.windows.net/\u0022 ContainerName=\u0022orscontainer\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003EorsBlob\u003C/Name\u003E\u003CVersionId\u003E2023-08-23T13:38:51.7862216Z\u003C/VersionId\u003E\u003CIsCurrentVersion\u003Etrue\u003C/IsCurrentVersion\u003E\u003CProperties\u003E\u003CCreation-Time\u003EWed, 23 Aug 2023 13:38:51[...]
    {
      "RequestUri": "https://emmahktest.blob.core.windows.net/orscontainer?sv=2022-11-02\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacupiytfx\u0026se=2024-08-23T21:49:17Z\u0026st=2023-08-23T13:49:17Z\u0026spr=https,http\u0026sig=Jhc76l69zkEH1S9mzgiTONXO1aZd%2BVyz31lWdi34cD0%3D\u0026comp=list\u0026restype=container\u0026_=1698285866240",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      [...]
