{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"cAKv4T62zLPn4O1gNAzR9aA0PcNVYdWR3SwUnWmH3oXeR1ebGBh3nW1JKMQmiRE6vdDG3U\""
      },
      "RequestBody": [
        "--cAKv4T62zLPn4O1gNAzR9aA0PcNVYdWR3SwUnWmH3oXeR1ebGBh3nW1JKMQmiRE6vdDG3U\r\n",
        "Content-Disposition: form-data; name=file; filename=test_data_delete_me.txt; filename*=utf-8''test_data_delete_me.txt\r\n",
        "\r\n",
        "b64:aGVsbG8sIHdvcmxk",
        "\r\n",
        "--cAKv4T62zLPn4O1gNAzR9aA0PcNVYdWR3SwUnWmH3oXeR1ebGBh3nW1JKMQmiRE6vdDG3U\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=purpose\r\n",
        "\r\n",
        "assistants",
        "\r\n",
        "--cAKv4T62zLPn4O1gNAzR9aA0PcNVYdWR3SwUnWmH3oXeR1ebGBh3nW1JKMQmiRE6vdDG3U--\r\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "6721",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5421ecf5-688c-4512-a2c4-1d1a9a984424",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "6.852"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3gGcvg9KvnJfzk5wm3wLpg",
        "purpose": "assistants",
        "filename": "test_data_delete_me.txt",
        "bytes": 12,
        "created_at": 1770078488,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files/assistant-3gGcvg9KvnJfzk5wm3wLpg?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "128",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5d2c3852-a3f1-4ce7-8411-40c5d4f2b5fc",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.234"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3gGcvg9KvnJfzk5wm3wLpg",
        "purpose": "assistants",
        "filename": "test_data_delete_me.txt",
        "bytes": 12,
        "created_at": 1770078488,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
