{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"o8z8zKdUcz1TcnHKlg7_zRqbVT6BZevVaayEKLTvk6PM41M8oHYPl2mDlIjgcui1o1AYoP\""
      },
      "RequestBody": [
        "--o8z8zKdUcz1TcnHKlg7_zRqbVT6BZevVaayEKLTvk6PM41M8oHYPl2mDlIjgcui1o1AYoP\r\n",
        "Content-Disposition: form-data; name=file; filename=test_data_delete_me.jsonl; filename*=utf-8''test_data_delete_me.jsonl\r\n",
        "Content-Type: application/octet-stream\r\n",
        "\r\n",
        "b64:eyJtZXNzYWdlcyI6IFt7InJvbGUiOiAic3lzdGVtIiwgImNvbnRlbnQiOiAiIn1dfQ==",
        "\r\n",
        "--o8z8zKdUcz1TcnHKlg7_zRqbVT6BZevVaayEKLTvk6PM41M8oHYPl2mDlIjgcui1o1AYoP\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=purpose\r\n",
        "\r\n",
        "fine-tune",
        "\r\n",
        "--o8z8zKdUcz1TcnHKlg7_zRqbVT6BZevVaayEKLTvk6PM41M8oHYPl2mDlIjgcui1o1AYoP--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rovins-sweden.openai.azure.com/openai/files/file-2c79dfcfc4a54a2cb648aa7fc2c4cb52?api-version=2025-03-01-preview",
        "x-ms-middleware-request-id": "d8dd8914-8cb4-40ef-afb4-800bbdac2749",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.389"
      },
      "ResponseBody": {
        "status": "pending",
        "bytes": 49,
        "purpose": "fine-tune",
        "filename": "test_data_delete_me.jsonl",
        "id": "file-2c79dfcfc4a54a2cb648aa7fc2c4cb52",
        "created_at": 1769750093,
        "object": "file"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files/file-2c79dfcfc4a54a2cb648aa7fc2c4cb52?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.595"
      },
      "ResponseBody": {
        "status": "pending",
        "bytes": 49,
        "purpose": "fine-tune",
        "filename": "test_data_delete_me.jsonl",
        "id": "file-2c79dfcfc4a54a2cb648aa7fc2c4cb52",
        "created_at": 1769750093,
        "object": "file"
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
