{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "subscriptionId": "8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ADR-PrivateRP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/adr-sdk-test-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg",
        "name": "adr-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.DeviceRegistry/namespaces/adr-namespace?api-version=2025-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"34069a08-0000-0800-0000-68f6f4fa0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/microsoft.deviceregistry/namespaces/adr-namespace",
        "name": "adr-namespace",
        "type": "microsoft.deviceregistry/namespaces",
        "location": "westus2",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2025-10-20T22:37:57.3117884Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-10-21T02:50:32.7779178Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "messaging": {
            "endpoints": {
              "myendpoint1": {
                "resourceId": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.IotHub/namespaces/contoso-hub-namespace1",
                "address": "https://myendpoint1.westeurope-1.iothub.azure.net",
                "endpointType": "Microsoft.Devices/IoTHubs"
              },
              "myendpoint2": {
                "resourceId": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.IotHub/namespaces/contoso-hub-namespace2",
                "address": "https://myendpoint2.westeurope-1.iothub.azure.net",
                "endpointType": "Microsoft.Devices/IoTHubs"
              }
            }
          },
          "uuid": "5a6b7a10-5041-4b17-830d-b08b0529c4ac",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.DeviceRegistry/namespaces/adr-namespace/discoveredDevices/deviceregistry-test-discovereddevice-sdk8493?api-version=2025-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "endpoints": {
            "inbound": {
              "myendpoint1": {
                "endpointType": "Microsoft.Devices/IoTHubs",
                "address": "https://myendpoint1.westeurope-1.iothub.azure.net",
                "version": "1",
                "supportedAuthenticationMethods": [
                  "Certificate"
                ],
                "additionalConfiguration": ""
              }
            }
          },
          "manufacturer": "Contoso",
          "model": "Model 5000",
          "operatingSystem": "Linux",
          "operatingSystemVersion": "18.04",
          "discoveryId": "myDiscoveryId",
          "version": 1
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8702c161-0000-0800-0000-68f7382c0000\"",
        "mise-correlation-id": "66e0836f-57bc-4e46-87aa-23f9b662334a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.DeviceRegistry/namespaces/adr-namespace/discoveredDevices/deviceregistry-test-discovereddevice-sdk8493",
        "name": "deviceregistry-test-discovereddevice-sdk8493",
        "type": "microsoft.deviceregistry/namespaces/discovereddevices",
        "location": "westus2",
        "extendedLocation": {
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-21T07:37:16.7350302Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-21T07:37:16.7350302Z"
        },
        "properties": {
          "discoveryId": "myDiscoveryId",
          "version": 1,
          "attributes": null,
          "endpoints": {
            "outbound": null,
            "inbound": {
              "myendpoint1": {
                "endpointType": "Microsoft.Devices/IoTHubs",
                "address": "https://myendpoint1.westeurope-1.iothub.azure.net",
                "version": "1",
                "additionalConfiguration": "",
                "supportedAuthenticationMethods": [
                  "Certificate"
                ],
                "lastUpdatedOn": null
              }
            }
          },
          "externalDeviceId": null,
          "manufacturer": "Contoso",
          "model": "Model 5000",
          "operatingSystem": "Linux",
          "operatingSystemVersion": "18.04",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.DeviceRegistry/namespaces/adr-namespace/discoveredDevices/deviceregistry-test-discovereddevice-sdk8493?a[...]
