{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Network/dnsZones?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59999",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Network/dnszones/resourcetest.com",
            "name": "resourcetest.com",
            "type": "Microsoft.Network/dnszones",
            "etag": "Sanitized",
            "location": "global",
            "tags": {
              "key1": "value1"
            },
            "properties": {
              "maxNumberOfRecordSets": 10000,
              "maxNumberOfRecordsPerRecordSet": null,
              "nameServers": [
                "ns1-09.azure-dns.com.",
                "ns2-09.azure-dns.net.",
                "ns3-09.azure-dns.org.",
                "ns4-09.azure-dns.info."
              ],
              "numberOfRecordSets": 2,
              "zoneType": "Public"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
