{
  "Entries": [
    {
      "RequestUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/1bd798d8-5940-47f2-81b4-b8389610f09c/resourceGroups/ai-projects-sdk-testing-rg/providers/Microsoft.MachineLearningServices/workspaces/ai-projects-sdk-testing-project-1/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful assistant"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "86cbbc15ab6a4e729f4a69752a750fa6",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "62e17787-25a2-47a8-9efe-afc1628db32a",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.249"
      },
      "ResponseBody": {
        "id": "asst_g8HGHyB5ct6yAbfFnowX1Hmf",
        "object": "assistant",
        "created_at": 1738114091,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful assistant",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/1bd798d8-5940-47f2-81b4-b8389610f09c/resourceGroups/ai-projects-sdk-testing-rg/providers/Microsoft.MachineLearningServices/workspaces/ai-projects-sdk-testing-project-1/assistants/asst_g8HGHyB5ct6yAbfFnowX1Hmf?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "86cbbc15ab6a4e729f4a69752a750fa6",
        "openai-processing-ms": "77",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "d88e8a77-fb8e-4ff6-aaa8-1f0a5d2a14f3",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.252"
      },
      "ResponseBody": {
        "id": "asst_g8HGHyB5ct6yAbfFnowX1Hmf",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "eastus2.api.azureml.ms;1bd798d8-5940-47f2-81b4-b8389610f09c;ai-projects-sdk-testing-rg;ai-projects-sdk-testing-project-1",
    "RandomSeed": "677307952",
    "STORAGE_QUEUE_URI": "https://staiprojects880872150210.queue.core.windows.net"
  }
}
