{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.NetworkCloud/operations?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.NetworkCloud/bareMetalMachines/cordon/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.NetworkCloud",
              "resource": "bareMetalMachines/cordon",
              "operation": "BareMetalMachines_Cordon",
              "description": "Cordon the provided bare metal machine's Kubernetes node."
            },
            "properties": null
          },
          {
            "name": "Microsoft.NetworkCloud/bareMetalMachines/delete",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.NetworkCloud",
              "resource": "bareMetalMachines",
              "operation": "BareMetalMachines_Delete",
              "description": "Delete the provided bare metal machine.\nAll customer initiated requests will be rejected as the life cycle of this resource is managed by the system."
  [...]
