{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "86ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          },
          "additionaldomain.com": {
            "enabled": false
          }
        },
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {}
}
