{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle numbers starting with '+123'",
            "name": "First rule",
            "numberPattern": "\\+123[0-9]+",
            "trunks": [],
            "callerIdOverride": "sanitized"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "477ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          },
          "additionaldomain.com": {
            "enabled": false
          }
        },
        "trunks": {
          "sbs1.sanitized.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          },
          "sbs2.sanitized.com": {
            "sipSignalingPort": 1123,
            "enabled": true,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv4"
          }
        },
        "routes": [
          {
            "description": "Handle numbers starting with '+123'",
            "name": "First rule",
            "numberPattern": "\\+123[0-9]+",
            "callerIdOverride": "sanitized",
            "trunks": []
          }
        ]
      }
    },
[...]
