{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/FR/:search?api-version=2025-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "quantity": 1
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Location": "/availablePhoneNumbers/searchResults/8ed31d56-168c-4270-9427-c549e091d19f?api-version=2025-04-01",
        "MS-CV": "sanitized",
        "operation-id": "search_8ed31d56-168c-4270-9427-c549e091d19f",
        "Operation-Location": "/phoneNumbers/operations/search_8ed31d56-168c-4270-9427-c549e091d19f?api-version=2025-04-01",
        "search-id": "8ed31d56-168c-4270-9427-c549e091d19f",
        "X-Processing-Time": "1525ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_8ed31d56-168c-4270-9427-c549e091d19f?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/8ed31d56-168c-4270-9427-c549e091d19f?api-version=2025-04-01",
        "MS-CV": "sanitized",
        "X-Processing-Time": "551ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "running",
        "resourceLocation": "Sanitized",
        "createdDateTime": "2025-04-08T22:51:58.633513+00:00",
        "id": "search_8ed31d56-168c-4270-9427-c549e091d19f",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/8ed31d56-168c-4270-9427-c549e091d19f?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "542ms"
      },
      "ResponseBody": {
        "searchId": "8ed31d56-168c-4270-9427-c549e091d19f",
        "phoneNumbers": [
          "sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 8.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2025-04-08T23:08:00.2996890+00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2025-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "searchId": "8ed31d56-168c-4270-9427-c549e091d19f",
        "agreeToNotResell": false
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Content-Type": "application/json",
        "MS-CV": "sanitized",
        "X-Processing-Time": "601ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Do not resell agreement was not provided and it is required for this purchase."
        }
      }
    }
  ],
  "Variables": {}
}
