{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "484ms"
      },
      "ResponseBody": {
        "id": "sanitized",
        "phoneNumber": "sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "none",
          "tenDLCCampaignBriefId": ""
        },
        "assignmentType": "application",
        "purchaseDate": "2024-01-31T16:44:03.544209\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "operatorId": "00000000-0000-0000-0000-sanitized",
        "operatorName": "Microsoft"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2024-01-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "calling": "inbound",
        "sms": "none"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "capabilities-id": "656a4c19-ef4f-4fd5-b2d8-b80ff47b04fc",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002Bsanitized?api-version=2024-01-31-preview",
        "MS-CV": "sanitized",
        "operation-id": "capabilities_656a4c19-ef4f-4fd5-b2d8-b80ff47b04fc",
        "Operation-Location": "/phoneNumbers/operations/capabilities_656a4c19-ef4f-4fd5-b2d8-b80ff47b04fc?api-version=2024-01-31-preview",
        "X-Processing-Time": "1380ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "656a4c19-ef4f-4fd5-b2d8-b80ff47b04fc"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_656a4c19-ef4f-4fd5-b2d8-b80ff47b04fc?api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002Bsanitized?api-version=2024-01-31-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "125ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/\u002Bsanitized?api-version=2024-01-31-preview",
        "createdDateTime": "2024-02-16T19:06:41.4632191\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/\u002Bsanitized?api-version=2024-01-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "662ms"
      },
      "ResponseBody": {
        "id": "sanitized",
        "phoneNumber": "sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "none",
          "tenDLCCampaignBriefId": ""
        },
        "assignmentType": "application",
        "purchaseDate": "2024-01-31T16:44:03.544209\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "operatorId": "00000000-0000-0000-0000-sanitized",
        "operatorName": "Microsoft"
      }
    }
  ],
  "Variables": {}
}
