{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoftonline.com/sanitized/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=Sanitized&client_secret=Sanitized&grant_type=client_credentials&scope=https%3A%2F%2Fcommunication.azure.com%2F%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-srs": "1.P"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "trunks": {
          "sbs2.sanitized.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "416ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1.sanitized.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sip?api-version=2024-11-15-preview&expand=trunks/health",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "245ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1.sanitized.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "health": {
              "tls": {
                "status": "unknown"
              },
              "ping": {
                "status": "unknown"
              },
              "overall": {
                "status": "unknown"
              }
            },
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": []
      }
    }
  ],
  "Variables": {}
}
