{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/operatorInformation/:search?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumbers": [
          "sanitized"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "values": [
          {
            "phoneNumber": "sanitized",
            "nationalFormat": "(833) 201-6898",
            "internationalFormat": "\u002B1 833-201-6898",
            "isoCountryCode": null,
            "numberType": null,
            "operatorDetails": null
          }
        ]
      }
    }
  ],
  "Variables": {}
}
