{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound+outbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Location": "/availablePhoneNumbers/searchResults/46802356-472a-41c8-b478-33e541811127?api-version=2025-06-01",
        "MS-CV": "sanitized",
        "operation-id": "search_46802356-472a-41c8-b478-33e541811127",
        "Operation-Location": "/phoneNumbers/operations/search_46802356-472a-41c8-b478-33e541811127?api-version=2025-06-01",
        "search-id": "46802356-472a-41c8-b478-33e541811127",
        "X-Processing-Time": "4404ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_46802356-472a-41c8-b478-33e541811127?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/46802356-472a-41c8-b478-33e541811127?api-version=2025-06-01",
        "MS-CV": "sanitized",
        "X-Processing-Time": "1342ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "Sanitized",
        "createdDateTime": "2025-06-18T22:13:15.3751123+00:00",
        "id": "search_46802356-472a-41c8-b478-33e541811127",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_46802356-472a-41c8-b478-33e541811127?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2[...]
