{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?skip=0\u0026top=100\u0026api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "1432ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "sanitized",
            "phoneNumber": "sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound\u002Boutbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2024-01-31T16:37:12.6993769\u002B00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "operatorId": "00000000-0000-0000-0000-000000000000",
            "operatorName": "Microsoft",
            "phoneNumberSource": "cloud"
          },
          {
            "id": "sanitized",
            "phoneNumber": "sanitized",
            "countryCode": "CA",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "inbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2024-02-01T15:26:01.5151254\u002B00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
       [...]
