{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Location": "/availablePhoneNumbers/searchResults/18c095ec-f1b7-4537-8409-8847b19fac2c?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "operation-id": "search_18c095ec-f1b7-4537-8409-8847b19fac2c",
        "Operation-Location": "/phoneNumbers/operations/search_18c095ec-f1b7-4537-8409-8847b19fac2c?api-version=2023-10-01-preview",
        "search-id": "18c095ec-f1b7-4537-8409-8847b19fac2c",
        "X-Processing-Time": "1155ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_18c095ec-f1b7-4537-8409-8847b19fac2c?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/18c095ec-f1b7-4537-8409-8847b19fac2c?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "356ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "running",
        "resourceLocation": "/availablePhoneNumbers/searchResults/18c095ec-f1b7-4537-8409-8847b19fac2c?api-version=2023-10-01-preview",
        "createdDateTime": "2024-02-28T19:48:40.6972339\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/18c095ec-f1b7-4537-8409-8847b19fac2c?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "436ms"
      },
      "ResponseBody": {
        "searchId": "18c095ec-f1b7-4537-8409-8847b19fac2c",
        "phoneNumbers": ["sanitized"],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2024-02-28T20:04:42.0025860\u002B00:00",
        "error": "NoError"
      }
    }
  ],
  "Variables": {}
}
