{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Location": "/availablePhoneNumbers/searchResults/046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "operation-id": "search_046bf7a8-8de5-4a95-9883-5056c299ed40",
        "Operation-Location": "/phoneNumbers/operations/search_046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
        "search-id": "046bf7a8-8de5-4a95-9883-5056c299ed40",
        "X-Processing-Time": "2320ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "X-Azure-ExternalError": "0x80072efe,OriginConnectionAborted"
      },
      "ResponseBody": "\u003C!DOCTYPE html PUBLIC \u0027-//W3C//DTD XHTML 1.0 Transitional//EN\u0027 \u0027http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\u0027\u003E\u003Chtml xmlns=\u0027http://www.w3.org/1999/xhtml\u0027\u003E\u003Chead\u003E\u003Cmeta content=\u0027text/html; charset=utf-8\u0027 http-equiv=\u0027content-type\u0027/\u003E\u003Cstyle type=\u0027text/css\u0027\u003Ebody {font-family:Arial; margin-left:40px; }img  { border:0 none; }#content { margin-left: auto; margin-right: auto }#message h2 { font-size: 20px; font-weight: normal; color: #000000; margin: 34px 0px 0px 0px }#message p  { font-size: 13px; color: #000000; margin: 7px 0px 0px0px}#errorref { font-size: 11px; color: #737373; margin-top: 41px }\u003C/style\u003E\u003Ctitle\u003EService unavailable\u003C/title\u003E\u003C/head\u003E\u003Cbody\u003E\u003Cdiv id=\u0027content\u0027\u003E\u003Cdiv id=\u0027message\u0027\u003E\u003Ch2\u003EOur services aren\u0027t available right now\u003C/h2\u003E\u003Cp\u003EWe\u0027re working to restore all services as soon as possible. Please check back soon.\u003C/p\u003E\u003C/div\u003E\u003Cdiv id=\u0027errorref\u0027\u003E\u003Cspan\u003E0TszoZQAAAACbirNxOsq2QaR66Az\u002BUkbzV1NURURHRTA4MjIAOWZjN2I1MTktYThjYy00Zjg5LTkzNWUtYzkxNDhhZTA5ZTgx\u003C/span\u003E\u003C/div\u003E\u003C/div\u003E\u003C/body\u003E\u003C/html\u003E"
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "548ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "running",
        "resourceLocation": "/availablePhoneNumbers/searchResults/046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
        "createdDateTime": "2024-03-06T20:04:30.2519708\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "717ms"
      },
      "ResponseBody": {
        "searchId": "046bf7a8-8de5-4a95-9883-5056c299ed40",
        "phoneNumbers": [
          "sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2024-03-06T20:20:31.8797888\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "searchId": "046bf7a8-8de5-4a95-9883-5056c299ed40",
        "consentToNotResellNumbers": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "MS-CV": "sanitized",
        "operation-id": "purchase_046bf7a8-8de5-4a95-9883-5056c299ed40",
        "Operation-Location": "/phoneNumbers/operations/purchase_046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
        "purchase-id": "046bf7a8-8de5-4a95-9883-5056c299ed40",
        "X-Processing-Time": "1163ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_046bf7a8-8de5-4a95-9883-5056c299ed40?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "226ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2024-03-06T20:04:30.2519708\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "X-Azure-ExternalError": "0x80072efe,OriginConnectionAborted"
      },
      "ResponseBody": "\u003C!DOCTY[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "MS-CV": "sanitized",
        "operation-id": "release_0e34bc1c-85b9-4764-b7ce-6379366f1f09",
        "Operation-Location": "/phoneNumbers/operations/release_0e34bc1c-85b9-4764-b7ce-6379366f1f09?api-version=2023-10-01-preview",
        "release-id": "0e34bc1c-85b9-4764-b7ce-6379366f1f09",
        "X-Processing-Time": "3858ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_0e34bc1c-85b9-4764-b7ce-6379366f1f09?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Type": "text/html",
        "X-Azure-ExternalError": "0x80072efe,OriginConnectionAborted"
 [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_0e34bc1c-85b9-4764-b7ce-6379366f1f09?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-01-31-preview, 2024-03-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "2033ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "succeeded",
        "resourceLocation": null,
        "createdDateTime": "2024-03-06T20:05:26.4222836\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
