{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "847ms"
      },
      "ResponseBody": {
        "id": "sanitized",
        "phoneNumber": "sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "assignmentType": "application",
        "purchaseDate": "2023-12-15T21:59:39.7206619\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "operatorId": "00000000-0000-0000-0000-sanitized",
        "operatorName": "Microsoft PPE (Dogfood)",
        "phoneNumberSource": "cloud"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2023-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "calling": "inbound",
        "sms": "none"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "capabilities-id": "b1e04141-541d-4df1-ae1b-195a68ec8749",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002Bsanitized?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "operation-id": "capabilities_b1e04141-541d-4df1-ae1b-195a68ec8749",
        "Operation-Location": "/phoneNumbers/operations/capabilities_b1e04141-541d-4df1-ae1b-195a68ec8749?api-version=2023-10-01-preview",
        "X-Processing-Time": "1639ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "b1e04141-541d-4df1-ae1b-195a68ec8749"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_b1e04141-541d-4df1-ae1b-195a68ec8749?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/\u002Bsanitized?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "252ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "notStarted",
        "resourceLocation": "/phoneNumbers/\u002Bsanitized?api-version=2023-10-01-preview",
        "createdDateTime": "2024-01-11T21:12:14.3853902\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/\u002Bsanitized?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "2018ms"
      },
      "ResponseBody": {
        "id": "sanitized",
        "phoneNumber": "sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        },
        "assignmentType": "application",
        "purchaseDate": "2023-12-15T21:59:39.7206619\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "operatorId": "00000000-0000-0000-0000-sanitized",
        "operatorName": "Microsoft PPE (Dogfood)",
        "phoneNumberSource": "cloud"
      }
    }
  ],
  "Variables": {}
}
