{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/reservations/6227aeb8-8086-4824-9586-05cafe96f37b?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumbers": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/reservations/6227aeb8-8086-4824-9586-05cafe96f37b",
        "MS-CV": "sanitized",
        "X-Processing-Time": "2255ms"
      },
      "ResponseBody": {
        "id": "6227aeb8-8086-4824-9586-05cafe96f37b",
        "expiresAt": "2025-06-18T22:36:19.8966761+00:00",
        "phoneNumbers": {},
        "status": "active"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:browse?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "597ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "sanitized",
            "countryCode": "US",
            "phoneNumber": "sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "available"
          },
          {
            "id": "sanitized",
            "countryCode": "US",
            "phoneNumber": "sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "bi[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/reservations/6227aeb8-8086-4824-9586-05cafe96f37b?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumbers": {
          "sanitized": {
            "countryCode": "US",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "3572ms"
      },
      "ResponseBody": {
        "id": "6227aeb8-8086-4824-9586-05cafe96f37b",
        "expiresAt": "2025-06-18T22:36:24.0304056+00:00",
        "phoneNumbers": {
          "sanitized": {
            "id": "sanitized",
            "countryCode": "US",
            "phoneNumber": "sanitized",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "phoneNumberType": "tollFree",
            "assignmentType": "application",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            },
            "status": "reserved"
          }
        },
        "status": "active"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/reservations/6227aeb8-8086-4824-9586-05cafe96f37b?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json",
        "MS-CV": "sanitized",
        "X-Processing-Time": "479ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ReservationNotFound",
          "message": "The reservation was not found and the operation could not be completed."
        }
      }
    }
  ],
  "Variables": {}
}
