{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries?skip=0&maxPageSize=100&api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "79ms"
      },
      "ResponseBody": {
        "countries": [
          {
            "localizedName": "Argentina",
            "countryCode": "AR"
          },
          {
            "localizedName": "Australia",
            "countryCode": "AU"
          },
          {
            "localizedName": "Austria",
            "countryCode": "AT"
          },
          {
            "localizedName": "Belgium",
            "countryCode": "BE"
          },
          {
            "localizedName": "Brazil",
            "countryCode": "BR"
          },
          {
            "localizedName": "Canada",
            "countryC[...]
