{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.int.communication.azure.net/operatorInformation/:search?api-version=2025-02-11",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumbers": [
          "sanitized",
          "sanitized"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11",
        "Content-Type": "application/json",
        "MS-CV": "sanitized",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {}
}
