{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "958ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "sanitized",
            "phoneNumber": "sanitized",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2025-02-07T16:24:00.2794376+00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "sanitized",
            "phoneNumber": "sanitized",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2025-04-01T19:40:27.1446962+00:00",
            "cost": {
              "amount": 2.0,
        [...]
