{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "185ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1.sanitized.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          },
          "sbs2.sanitized.com": {
            "sipSignalingPort": 1123,
            "enabled": true,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv4"
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "trunks": {
          "sbs3.sanitized.com": {
            "sipSignalingPort": 2222,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          },
          "sbs1.sanitized.com": null,
          "sbs2.sanitized.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "827ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs3.sanitized.com": {
            "sipSignalingPort": 2222,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sip?api-version=2024-11-15-preview&expand=trunks/health",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "113ms"
      },
      "ResponseBody": {
        "domains": {
          "sanitized.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs3.sanitized.com": {
            "sipSignalingPort": 2222,
            "enabled": false,
            "health": {
              "tls": {
                "status": "unknown"
              },
              "ping": {
                "status": "unknown"
              },
              "overall": {
                "status": "unknown"
              }
            },
            "directTransfer": false,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": []
      }
    }
  ],
  "Variables": {}
}
