{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/CA/:search?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Location": "/availablePhoneNumbers/searchResults/4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "operation-id": "search_4f9b15ca-820a-4d67-8d19-bbd0f2215bb6",
        "Operation-Location": "/phoneNumbers/operations/search_4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
        "search-id": "4f9b15ca-820a-4d67-8d19-bbd0f2215bb6",
        "X-Processing-Time": "1125ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "320ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
        "createdDateTime": "2024-01-17T01:33:22.6948562\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "1435ms"
      },
      "ResponseBody": {
        "searchId": "4f9b15ca-820a-4d67-8d19-bbd0f2215bb6",
        "phoneNumbers": [
          "\u002Bsanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2024-01-17T01:49:23.8798464\u002B00:00",
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "searchId": "4f9b15ca-820a-4d67-8d19-bbd0f2215bb6",
        "consentToNotResellNumbers": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "MS-CV": "sanitized",
        "operation-id": "purchase_4f9b15ca-820a-4d67-8d19-bbd0f2215bb6",
        "Operation-Location": "/phoneNumbers/operations/purchase_4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
        "purchase-id": "4f9b15ca-820a-4d67-8d19-bbd0f2215bb6",
        "X-Processing-Time": "1820ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_4f9b15ca-820a-4d67-8d19-bbd0f2215bb6?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "355ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2024-01-17T01:33:22.6948562\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "MS-CV": "sanitized",
        "operation-id": "release_01988b7e-c96d-430a-a231-1aa28522b4e3",
        "Operation-Location": "/phoneNumbers/operations/release_01988b7e-c96d-430a-a231-1aa28522b4e3?api-version=2023-10-01-preview",
        "release-id": "01988b7e-c96d-430a-a231-1aa28522b4e3",
        "X-Processing-Time": "1740ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_01988b7e-c96d-430a-a231-1aa28522b4e3?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "247ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2024-01-17T01:33:35.2776392\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_01988b7e-c96d-430a-a231-1aa28522b4e3?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview, 2024-03-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "244ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "succeeded",
        "resourceLocation": null,
        "createdDateTime": "2024-01-17T01:33:35.2776392\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
