{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_update_analyzer_1774425613_8052?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Initial description",
        "tags": {
          "tag1": "tag1_initial_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "demo_schema",
          "description": "Schema for update demo",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_update_analyzer_1774425613_8052/operations/45f9f5b6-7ade-4169-901b-6b06c97db30e?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "analyzerId": "test_update_analyzer_1774425613_8052",
        "description": "Initial description",
        "tags": {
          "tag1": "tag1_initial_value"
        },
        "createdAt": "2026-03-25T08:00:56Z",
        "lastModifiedAt": "2026-03-25T08:00:56Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown",
          "_experimental": {
            "_chunkingStrategy": "noChunking",
            "_semanticConfigMaxChunkTokens": "250"
          }
        },
        "fieldSchema": {
          "name": "demo_schema",
          "description": "Schema for update demo",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano",
            "gpt-5.2"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_update_analyzer_1774425613_8052/operations/45f9f5b6-7ade-4169-901b-6b06c97db30e?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "45f9f5b6-7ade-4169-901b-6b06c97db30e",
        "status": "Running",
        "result": {
          "analyzerId": "test_update_analyzer_1774425613_8052",
          "description": "Initial description",
          "tags": {
            "tag1": "tag1_initial_value"
          },
          "createdAt": "2026-03-25T08:00:56Z",
          "lastModifiedAt": "2026-03-25T08:00:56Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
      [...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_update_analyzer_1774425613_8052?api-version=2025-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "Updated description",
        "tags": {
          "tag1": "tag1_updated_value",
          "tag3": "tag3_value"
        },
        "baseAnalyzerId": "prebuilt-document"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "analyzerId": "test_update_analyzer_1774425613_8052",
        "description": "Updated description",
        "tags": {
          "tag1": "tag1_updated_value",
          "tag3": "tag3_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {},
        "warnings": [],
        "status": "undefined",
        "processingLocation": "geography"
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_update_analyzer_1774425613_8052?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "updateAnalyzerTestId": "test_update_analyzer_1774425613_8052"
  }
}
