{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/testeventhubRG-7331?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testeventhubRG-7331",
        "name": "testeventhubRG-7331",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.EventHub/checkNameAvailability?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt6833"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "ea50d287-d919-40b1-af99-221f3961de8e",
        "x-ms-messaging-routing-id": "PROD|SOUTHEASTASIA|SOUTHEASTASIA|G14|2026-03-09T08:57:30",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": "Namespace name available"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testeventhubRG-7331/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6833?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.EventHub/locations/eastus2/namespaceOperationResults/74109cca-542a-46dc-8ed3-51a22804f803?isAsyncHeader=true&resourceName=testnamespacemgmt6833&resourceType=namespace&api-version=2025-05-01-preview&operationType=Active&t=639086434545623293&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQy[...]
