{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/859320ac/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:09:01.1150182Z",
            "allocationTime": "2025-11-26T07:08:50.6451721Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.49.36.82",
                  "publicFQDN": "dns49855e10-458c-4fc7-ab73-533e2b9ca185-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/859320ac/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:09:29.595856Z",
            "lastBootTime": "2025-11-26T07:09:29.251762Z",
            "allocationTime": "2025-11-26T07:08:50.6451721Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.49.36.82",
                  "publicFQDN": "dns49855e10-458c-4fc7-ab73-533e2b9ca185-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T07:09:29.251762Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/users?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "20.49.36.82",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/859320ac/nodes/tvmps_c168389e4a99dc804794117baf679839256b1f97dda350e783fb047295e415c5_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
