{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-08-29T00:14:27.119217Z",
            "allocationTime": "2025-08-29T00:14:16.5471387Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.51.87",
                  "publicFQDN": "dns6dd783c4-61ea-4488-babe-6e84e25cca70-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_af3197beba969c9ed15ca0a4c7b40ecbafaadb6187f65abdea200a6a1f61c4a6_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_af3197beba969c9ed15ca0a4c7b40ecbafaadb6187f65abdea200a6a1f61c4a6_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-08-29T00:14:27.1202185Z",
            "allocationTime": "2025-08-29T00:[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-08-29T00:15:02.621909Z",
            "lastBootTime": "2025-08-29T00:15:02.341662Z",
            "allocationTime": "2025-08-29T00:14:16.5471387Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.51.87",
                  "publicFQDN": "dns6dd783c4-61ea-4488-babe-6e84e25cca70-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-08-29T00:15:02.341662Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_af3197beba969c9ed15ca0a4c7b40ecbafaadb6187f65abdea200a6[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/uploadbatchservicelogs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-08-29T00:09:11.618287Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22EC41E513C3E599/3d0a22a3/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/14949c8b-c87f-4d1f-b138-a46e149e4e53",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/disablescheduling?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/enablescheduling?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/reboot?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/removenodes?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_930cb88011e3581bff9cf77b52518a524250b8706eb138e6456928a561fb7387_d",
          "tvmps_af3197beba969c9ed15ca0a4c7b40ecbafaadb6187f65abdea200a6a1f61c4a6_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE69146E25D97",
        "Last-Modified": "Fri, 29 Aug 2025 00:16:19 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE69146E25D97",
        "Last-Modified": "Fri, 29 Aug 2025 00:16:19 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "3d0a22a3",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3",
        "eTag": "0x8DDE69146E25D97",
        "lastModified": "2025-08-29T00:16:19.0365079Z",
        "creationTime": "2025-08-29T00:13:44.2217217Z",
        "state": "active",
        "stateTransitionTime": "2025-08-29T00:13:44.2217217Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-08-29T00:16:19.036508Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        },
        "currentNodeCommunicationMode": "simplified"
      }
    },
[...]
