{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/remotedesktoppool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/remotedesktoppool/nodes/tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-20T23:49:19.9700958Z",
            "allocationTime": "2026-01-20T23:49:19.9700995Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.36.208.64",
                  "publicFQDN": "dns00a32bf5-9b77-4bd6-93f4-65a6432f4dbf-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/remotedesktoppool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/remotedesktoppool/nodes/tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-21T00:51:55.719008Z",
            "lastBootTime": "2026-01-21T00:11:52.178811Z",
            "allocationTime": "2026-01-20T23:49:19.9700995Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.210.200.197",
                  "publicFQDN": "dns00a32bf5-9b77-4bd6-93f4-65a6432f4dbf-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-01-21T00:11:52.178811Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/remotedesktoppool/nodes/tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/remotedesktoppool/nodes/tvmps_33fc4c7ea7e28d8a8dd7f7efa15f1be8f312779713221c916a3763097479cabf_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.210.200.197",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
