{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:30:26 GMT"
      },
      "RequestBody": {
        "id": "batch_schedule_5dce22e9",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1D"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B26C2EE1C9",
        "Last-Modified": "Fri, 23 Aug 2024 20:30:26 GMT",
        "Location": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_5dce22e9",
            "url": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9",
            "eTag": "0x8DCC3B26C2EE1C9",
            "lastModified": "2024-08-23T20:30:26.6374601Z",
            "creationTime": "2024-08-23T20:30:26.6374601Z",
            "state": "active",
            "stateTransitionTime": "2024-08-23T20:30:26.6374601Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2024-08-24T20:30:26.6374601Z",
              "recentJob": {
                "url": "https://batch.eastus.batch.azure.com/jobs/batch_schedule_5dce22e9:job-1",
                "id": "batch_schedule_5dce22e9:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B26C2EE1C9",
        "Last-Modified": "Fri, 2[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9/jobs?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_5dce22e9:job-1",
            "url": "https://batch.eastus.batch.azure.com/jobs/batch_schedule_5dce22e9:job-1",
            "eTag": "0x8DCC3B26C34FC69",
            "lastModified": "2024-08-23T20:30:26.6774633Z",
            "creationTime": "2024-08-23T20:30:26.661462Z",
            "state": "active",
            "stateTransitionTime": "2024-08-23T20:30:26.6774633Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2024-08-23T20:30:26.6774633Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9/disable?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B26C7A9C8D",
        "Last-Modified": "Fri, 23 Aug 2024 20:30:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9/enable?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B26C891B8B",
        "Last-Modified": "Fri, 23 Aug 2024 20:30:27 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9/terminate?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "TooManyRequests",
        "message": {
          "lang": "en-US",
          "value": "Request failed as server encountered too many requests. Please try again.\nRequestId:d9fa4c63-b989-40f5-864c-24f0661971f8\nTime:2024-08-23T20:30:27.5214885Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_5dce22e9?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:30:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
