{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/d5e1b9f/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:43:12.5440956Z",
            "allocationTime": "2025-11-26T07:43:02.3230098Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.177.61.56",
                  "publicFQDN": "dns8e672f9d-fe21-40bf-ae2f-df62c7f981cc-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/d5e1b9f/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:47:12.570599Z",
            "lastBootTime": "2025-11-26T07:47:07.876795Z",
            "allocationTime": "2025-11-26T07:43:02.3230098Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.177.61.56",
                  "publicFQDN": "dns8e672f9d-fe21-40bf-ae2f-df62c7f981cc-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T07:47:07.876795Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \"echo hello world\""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2CC0036D20ED",
        "Last-Modified": "Wed, 26 Nov 2025 07:47:13 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2CC0036D20ED",
        "Last-Modified": "Wed, 26 Nov 2025 07:47:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DE2CC0036D20ED",
        "creationTime": "2025-11-26T07:47:13.6015597Z",
        "lastModified": "2025-11-26T07:47:13.6015597Z",
        "state": "active",
        "stateTransitionTime": "2025-11-26T07:47:13.6015597Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2CC0036D20ED",
        "Last-Modified": "Wed, 26 Nov 2025 07:47:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DE2CC0036D20ED",
        "creationTime": "2025-11-26T07:47:13.6015597Z",
        "lastModified": "2025-11-26T07:47:13.6015597Z",
        "state": "completed",
        "stateTransitionTime": "2025-11-26T07:47:18.30581Z",
        "previousState": "running",
        "previousStateTransitionTime": "2025-11-26T07:47:17.008747Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2025-11-26T07:47:17.321269Z",
          "endTime": "2025-11-26T07:47:18.30581Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
          "nodeUrl": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
          "poolId": "d5e1b9f",
          "nodeId": "tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d",
          "taskRootDirectory": "workitems\\batch\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d/files/workitems/batch/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d/files?api-version=2025-06-01&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch4.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d/files/shared",
            "i[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/d5e1b9f/nodes/tvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d/files/workitems%5Cbatch%5Cjob-1%5Ctest_task%5Cstdout.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 26 Nov 2025 07:47:18 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fpools%2Fd5e1b9f%2Fnodes%2Ftvmps_7f73af09f3db28c02617054d6ef56ee87a6a49f0d6632422e25e430174da3594_d%2Ffiles%2Fworkitems%255Cbatch%255Cjob-1%255Ctest_task%255Cstdout.txt",
        "ocp-creation-time": "Wed, 26 Nov 2025 07:47:17 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stderr.txt",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2025-11-26T07:47:17.368156Z",
              "lastModified": "2025-11-26T07:47:17.368156Z",
              "contentLength": "0",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 26 Nov 2025 07:47:17 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fjobs%2Fbatch%2Ftasks%2Ftest_task%2Ffiles%2Fstderr.txt",
        "ocp-creation-time": "Wed, 26 Nov 2025 07:47:17 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
