{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/59612874/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 21:02:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d",
            "url": "https://batch.eastus.batch.azure.com/pools/59612874/nodes/tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-08-23T21:02:11.9937865Z",
            "allocationTime": "2024-08-23T21:02:01.4054045Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.156.175.175",
                  "publicFQDN": "dnsaefb7d57-a743-4119-8681-d73e9349619e-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/59612874/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 21:02:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d",
            "url": "https://batch.eastus.batch.azure.com/pools/59612874/nodes/tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-08-23T21:02:41.471333Z",
            "lastBootTime": "2024-08-23T21:02:41.14368Z",
            "allocationTime": "2024-08-23T21:02:01.4054045Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.156.175.175",
                  "publicFQDN": "dnsaefb7d57-a743-4119-8681-d73e9349619e-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-08-23T21:02:41.14368Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/59612874/nodes/tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d/remoteloginsettings?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 21:02:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/59612874/nodes/tvmps_a08feb8ae398db5342885fe9bfaf6de86dbecb9a003601a0e485a434a18f9e75_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "4.156.175.175",
        "remoteLoginPort": 50000
      }
    }
  ],
  "Variables": {}
}
