{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:16:13 GMT"
      },
      "RequestBody": {
        "id": "batch_iaas_ec2a19",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "taskSchedulingPolicy": {
          "nodeFillType": "pack"
        },
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "Sanitized",
              "containerName": "https://test.blob.core.windows.net:443/test-container",
              "relativeMountPath": "foo",
              "accountKey": "Sanitized"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/batch_iaas_ec2a19",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C03E082B8F",
        "Last-Modified": "Fri, 12 Jul 2024 22:16:13 GMT",
        "Location": "https://batch.eastus.batch.azure.com/pools/batch_iaas_ec2a19"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/batch_iaas_ec2a19?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:16:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C03E082B8F",
        "Last-Modified": "Fri, 12 Jul 2024 22:16:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_iaas_ec2a19",
        "url": "https://batch.eastus.batch.azure.com/pools/batch_iaas_ec2a19",
        "eTag": "0x8DCA2C03E082B8F",
        "lastModified": "2024-07-12T22:16:13.7911183Z",
        "creationTime": "2024-07-12T22:16:13.7911167Z",
        "state": "active",
        "stateTransitionTime": "2024-07-12T22:16:13.7911167Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2024-07-12T22:16:13.7911184Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Pack"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "Sanitized",
              "containerName": "https://test.blob.core.windows.net:443/test-container",
              "relativeMountPath": "foo"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
