{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/eb4f24d2/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:05:08.6561489Z",
            "allocationTime": "2025-11-26T07:04:58.4407558Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.78.182",
                  "publicFQDN": "dns763a7b54-3799-4ab2-a9d4-1d72216ae896-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/eb4f24d2/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:05:37.093745Z",
            "lastBootTime": "2025-11-26T07:05:36.771117Z",
            "allocationTime": "2025-11-26T07:04:58.4407558Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.78.182",
                  "publicFQDN": "dns763a7b54-3799-4ab2-a9d4-1d72216ae896-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T07:05:36.771117Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_f54aaedff93929c02b3104b257c4614e927295832199679f0e79da0be166d0ed_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.200.78.182",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
