{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 19 Nov 2025 05:55:38 GMT"
      },
      "RequestBody": {
        "id": "batch_job1_da771716",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \"echo hello world\""
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \"echo goodbye world\""
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27304838406F",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:45 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2730484AB8A4",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:45 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27304859DF85",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:45 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_da771716",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716",
        "eTag": "0x8DE27304859DF85",
        "lastModified": "2025-11-19T05:55:45.8952069Z",
        "creationTime": "2025-11-19T05:55:45.6558665Z",
        "state": "active",
        "stateTransitionTime": "2025-11-19T05:55:45.6748655Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \"echo goodbye world\"",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread",
                "jobDefaultOrder": "none"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2025-11-19T05:55:45.6748655Z",
          "poolId": "99BC4085-5EB6-44F8-B500-0B99FF9115DE"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_da771716",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716",
            "eTag": "0x8DE27304859DF85",
            "lastModified": "2025-11-19T05:55:45.8952069Z",
            "creationTime": "2025-11-19T05:55:45.6558665Z",
            "state": "active",
            "stateTransitionTime": "2025-11-19T05:55:45.6748655Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDependencies":[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716/disable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE273048A8F2CE",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:46 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE273048A8F2CE",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:46 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_da771716",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716",
        "eTag": "0x8DE273048A8F2CE",
        "lastModified": "2025-11-19T05:55:46.413435Z",
        "creationTime": "2025-11-19T05:55:45.6558665Z",
        "state": "disabled",
        "stateTransitionTime": "2025-11-19T05:55:46.4354451Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-11-19T05:55:45.6748655Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716/enable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE273048C7FF0C",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:46 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716/jobpreparationandreleasetaskstatus?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_da771716/terminate?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "terminateReason": "UserTerminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_da771716/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE273048F52AA4",
        "Last-Modified": "Wed, 19 Nov 2025 05:55:46 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job2_da771716?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not exist.\nRequestId:f52bf2dd-6365-408d-bff5-521d9c44b5ec\nTime:2025-11-19T05:56:22.9820787Z"
        }
      }
    }
  ],
  "Variables": {}
}
