{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/nodeuserpool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-21T19:35:35.3023652Z",
            "allocationTime": "2026-01-21T19:35:35.3023703Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "128.24.109.30",
                  "publicFQDN": "dnsd96f5884-553d-4ef3-a7a4-8e78fa649834-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/nodeuserpool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-21T19:36:14.362623Z",
            "lastBootTime": "2026-01-21T19:36:14.018633Z",
            "allocationTime": "2026-01-21T19:35:35.3023703Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "128.24.109.30",
                  "publicFQDN": "dnsd96f5884-553d-4ef3-a7a4-8e78fa649834-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-01-21T19:36:14.018633Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/users?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "128.24.109.30",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/nodeuserpool/nodes/tvmps_9aaf23fab5a162e5ae8f70a8f1b8badb354367c2721213a61257e24b81411acf_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
