{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:38:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:38:55.0507442Z",
            "allocationTime": "2024-07-12T22:38:44.7604606Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.1",
                  "protocol": "tcp",
                  "publicIPAddress": "135.237.48.83",
                  "publicFQDN": "dns3c82110e-c2bd-4c7a-92ad-19e67a874bef-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50001,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          },
          {
            "id": "tvmps_f4bdbb76f60a174fa34cc2fcb950ecb0a6a63f2dc26a74dc0d46643899a8e63e_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_f4bdbb76f60a174fa34cc2fcb950ecb0a6a63f2dc26a74dc0d46643899a8e63e_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:38:55.0347439Z",
            "allocationTime": "2024-0[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:41:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:38:55.0507442Z",
            "lastBootTime": "2024-07-12T22:40:38.227545Z",
            "allocationTime": "2024-07-12T22:38:44.7604606Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.1",
                  "protocol": "tcp",
                  "publicIPAddress": "135.237.48.83",
                  "publicFQDN": "dns3c82110e-c2bd-4c7a-92ad-19e67a874bef-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50001,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-07-12T22:40:38.227545Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          },
          {
            "id": "tvmps_f4bdbb76f60a174fa34cc2fcb950ecb0a6a63f2dc26a74dc0d46643899a8e63[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:42:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
    [...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/uploadbatchservicelogs?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:42:08 GMT"
      },
      "RequestBody": {
        "containerUrl": "https://computecontainer.blob.core.windows.net/",
        "startTime": "2024-07-12T22:36:08.650102Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22ED85B2B4C05767/3d0a22a3/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/57d5bfb5-26ee-4cf4-b879-79d3ca8ea7ab",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/disablescheduling?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:42:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/enablescheduling?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:42:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/reboot?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:42:09 GMT"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/removenodes?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:42:09 GMT"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_2c25c9c6b3d636c36caee732c352527529625fd595d128298cca7ae148b2a657_d",
          "tvmps_f4bdbb76f60a174fa34cc2fcb950ecb0a6a63f2dc26a74dc0d46643899a8e63e_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C3DD83E4E7",
        "Last-Modified": "Fri, 12 Jul 2024 22:42:09 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
