{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-22T23:04:59.7071379Z",
            "allocationTime": "2025-09-22T23:04:59.7071443Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.110.172",
                  "publicFQDN": "dns3355df01-d389-42ea-9c1d-2154b060084a-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-22T23:05:45.85963Z",
            "lastBootTime": "2025-09-22T23:05:45.325656Z",
            "allocationTime": "2025-09-22T23:04:59.7071443Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.110.172",
                  "publicFQDN": "dns3355df01-d389-42ea-9c1d-2154b060084a-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-22T23:05:45.325656Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/users?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/users/BatchPythonSDKUser?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.203.110.172",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_98fe29ac65d125bea060208dabe24f7eb24a4e808ad8e171b78b6e91e133f529_d/users/BatchPythonSDKUser?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
