{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-10-03T22:38:13.8113046Z",
            "allocationTime": "2025-10-03T22:38:13.8113101Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.75.134",
                  "publicFQDN": "dnsbeda7f4f-1f90-483c-9c6a-deb613a39a8b-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-10-03T22:38:47.894126Z",
            "lastBootTime": "2025-10-03T22:38:47.548658Z",
            "allocationTime": "2025-10-03T22:38:13.8113101Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.75.134",
                  "publicFQDN": "dnsbeda7f4f-1f90-483c-9c6a-deb613a39a8b-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-10-03T22:38:47.548658Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_a48c36e5d23c731f171b34c882e58753249937a7b37d22dc410f379bb2d4b629_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.200.75.134",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
