{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-20T00:04:35.3612424Z",
            "allocationTime": "2025-11-20T00:04:35.3612488Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "13.68.105.47",
                  "publicFQDN": "dnsa387e12b-be31-47c2-b14d-4ac29d12e9c5-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_2737b06cf333f3c265b52d09e92b829007fb9248a8bea77eb666b46733ba5456_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2737b06cf333f3c265b52d09e92b829007fb9248a8bea77eb666b46733ba5456_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-20T00:04:35.3612804Z",
            "allocationTime": "2025-11-20T00:[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-20T00:05:21.597293Z",
            "lastBootTime": "2025-11-20T00:05:21.358895Z",
            "allocationTime": "2025-11-20T00:04:35.3612488Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "13.68.105.47",
                  "publicFQDN": "dnsa387e12b-be31-47c2-b14d-4ac29d12e9c5-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-20T00:05:21.358895Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_2737b06cf333f3c265b52d09e92b829007fb9248a8bea77eb666b46[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-11-19T23:59:25.126732Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22EC00ADB2EBD121/aaf61a7c/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/30b2118d-f4f0-4dc8-ab3f-4d990557cfae",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/enablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/reboot?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/removenodes?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_13efdc3a0b94790987e283fdaf0dab2fc252884b1c8198c24413d06f7128d8ae_d",
          "tvmps_2737b06cf333f3c265b52d09e92b829007fb9248a8bea77eb666b46733ba5456_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C8A96CD764",
        "Last-Modified": "Thu, 20 Nov 2025 00:06:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C8A96CD764",
        "Last-Modified": "Thu, 20 Nov 2025 00:06:32 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "aaf61a7c",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c",
        "eTag": "0x8DE27C8A96CD764",
        "lastModified": "2025-11-20T00:06:32.2614116Z",
        "creationTime": "2025-11-20T00:03:58.5896097Z",
        "state": "active",
        "stateTransitionTime": "2025-11-20T00:03:58.5896097Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-20T00:06:32.2614116Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
