{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:25:20 GMT"
      },
      "RequestBody": {
        "id": "batch_schedule_3a802288",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1D"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C1841023CD",
        "Last-Modified": "Fri, 12 Jul 2024 22:25:20 GMT",
        "Location": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_3a802288",
            "url": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288",
            "eTag": "0x8DCA2C1841023CD",
            "lastModified": "2024-07-12T22:25:20.7805901Z",
            "creationTime": "2024-07-12T22:25:20.7805901Z",
            "state": "active",
            "stateTransitionTime": "2024-07-12T22:25:20.7805901Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2024-07-13T22:25:20.7805901Z",
              "recentJob": {
                "url": "https://batch.eastus.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
                "id": "batch_schedule_3a802288:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C1841023CD",
        "Last-Modified": "Fri, 1[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/jobs?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_3a802288:job-1",
            "url": "https://batch.eastus.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
            "eTag": "0x8DCA2C184168C80",
            "lastModified": "2024-07-12T22:25:20.822592Z",
            "creationTime": "2024-07-12T22:25:20.8055934Z",
            "state": "active",
            "stateTransitionTime": "2024-07-12T22:25:20.822592Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2024-07-12T22:25:20.822592Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/disable?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C184680814",
        "Last-Modified": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/enable?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C184791F2E",
        "Last-Modified": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/terminate?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C184AC1626",
        "Last-Modified": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:25:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
