{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/non-existent-pool-id?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:85425f11-c1d6-419b-b14b-bd4dd31cebdd\nTime:2025-11-19T05:57:10.8880709Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_test_job_181bc5",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27307B1D602A",
        "Last-Modified": "Wed, 19 Nov 2025 05:57:11 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_test_job_181bc5",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobExists",
        "message": {
          "lang": "en-US",
          "value": "The specified job already exists.\nRequestId:9a959745-ba7c-4f5b-92dc-6071192f96cf\nTime:2025-11-19T05:57:11.1600730Z"
        }
      }
    }
  ],
  "Variables": {}
}
