{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:05:15.7568195Z",
            "allocationTime": "2025-11-26T18:05:04.8591328Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "9.169.169.177",
                  "publicFQDN": "dnsac1754ed-6acb-4dac-a769-675328e3f23b-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_9ae2226849b3fb73a8b31ea6442bbf83f12c6b8d17f3fd4fe70fe5357aeb4568_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_9ae2226849b3fb73a8b31ea6442bbf83f12c6b8d17f3fd4fe70fe5357aeb4568_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:05:15.7568195Z",
            "allocationTime": "2025-11-26T18:[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:05:44.170888Z",
            "lastBootTime": "2025-11-26T18:05:43.90479Z",
            "allocationTime": "2025-11-26T18:05:04.8591328Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "9.169.169.177",
                  "publicFQDN": "dnsac1754ed-6acb-4dac-a769-675328e3f23b-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T18:05:43.90479Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_9ae2226849b3fb73a8b31ea6442bbf83f12c6b8d17f3fd4fe70fe535[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-11-26T17:59:47.105037Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22EBFB5FC6217C6E/aaf61a7c/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/61790aa2-673d-47eb-9046-f2e2b81f6bd6",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/enablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/reboot?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/removenodes?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_2ed2fcac56e8df393e338e806b341e02e4f59ea7ac5c51325074fec1c37ca6f3_d",
          "tvmps_9ae2226849b3fb73a8b31ea6442bbf83f12c6b8d17f3fd4fe70fe5357aeb4568_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2D1695238BA4",
        "Last-Modified": "Wed, 26 Nov 2025 18:06:54 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2D1695238BA4",
        "Last-Modified": "Wed, 26 Nov 2025 18:06:54 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "aaf61a7c",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c",
        "eTag": "0x8DE2D1695238BA4",
        "lastModified": "2025-11-26T18:06:54.7854244Z",
        "creationTime": "2025-11-26T18:04:23.0041595Z",
        "state": "active",
        "stateTransitionTime": "2025-11-26T18:04:23.0041595Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-26T18:06:54.7854244Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
