{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 06 Oct 2025 21:18:30 GMT"
      },
      "RequestBody": {
        "id": "batch_job1_bb11edc",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \"echo hello world\""
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \"echo goodbye world\""
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE685FEBF",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:31 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE69B5E74",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:31 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE6AA4CF2",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:31 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_bb11edc",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
        "eTag": "0x8DE051DE6AA4CF2",
        "lastModified": "2025-10-06T21:18:31.5300082Z",
        "creationTime": "2025-10-06T21:18:31.2760773Z",
        "state": "active",
        "stateTransitionTime": "2025-10-06T21:18:31.2920767Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \"echo goodbye world\"",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2025-10-06T21:18:31.2920767Z",
          "poolId": "7E79D9CD-6D56-4E2C-B343-C24ADA889495"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_bb11edc",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
            "eTag": "0x8DE051DE6AA4CF2",
            "lastModified": "2025-10-06T21:18:31.5300082Z",
            "creationTime": "2025-10-06T21:18:31.2760773Z",
            "state": "active",
            "stateTransitionTime": "2025-10-06T21:18:31.2920767Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDependencies": f[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE6FAE0C6",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE6FAE0C6",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:32 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_bb11edc",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
        "eTag": "0x8DE051DE6FAE0C6",
        "lastModified": "2025-10-06T21:18:32.0580806Z",
        "creationTime": "2025-10-06T21:18:31.2760773Z",
        "state": "disabled",
        "stateTransitionTime": "2025-10-06T21:18:32.074081Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-10-06T21:18:31.2920767Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE71747F8",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:32 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/jobpreparationandreleasetaskstatus?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "terminateReason": "UserTerminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051DE742D2DE",
        "Last-Modified": "Mon, 06 Oct 2025 21:18:32 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job2_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not exist.\nRequestId:5686b4cf-1cac-4117-b16b-cf653883dd7a\nTime:2025-10-06T21:19:08.5981905Z"
        }
      }
    }
  ],
  "Variables": {}
}
