{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 06 Oct 2025 21:19:41 GMT"
      },
      "RequestBody": {
        "id": "batch_job1_2b531f3d",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \"echo hello world\""
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \"echo goodbye world\""
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E10D67A75",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:42 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E10EB0126",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:42 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E10F7B88F",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:42 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_2b531f3d",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d",
        "eTag": "0x8DE051E10F7B88F",
        "lastModified": "2025-10-06T21:19:42.5016975Z",
        "creationTime": "2025-10-06T21:19:42.2668362Z",
        "state": "active",
        "stateTransitionTime": "2025-10-06T21:19:42.2838389Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \"echo goodbye world\"",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2025-10-06T21:19:42.2838389Z",
          "poolId": "8DA74E3C-6F86-476A-8A70-82C28C5BE146"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_2b531f3d",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d",
            "eTag": "0x8DE051E10F7B88F",
            "lastModified": "2025-10-06T21:19:42.5016975Z",
            "creationTime": "2025-10-06T21:19:42.2668362Z",
            "state": "active",
            "stateTransitionTime": "2025-10-06T21:19:42.2838389Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDependencies":[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E113CCFB2",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:42 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E113CCFB2",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:42 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_2b531f3d",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d",
        "eTag": "0x8DE051E113CCFB2",
        "lastModified": "2025-10-06T21:19:42.9544882Z",
        "creationTime": "2025-10-06T21:19:42.2668362Z",
        "state": "disabled",
        "stateTransitionTime": "2025-10-06T21:19:42.9724903Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-10-06T21:19:42.2838389Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E1155D5EE",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:43 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/jobpreparationandreleasetaskstatus?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "terminateReason": "UserTerminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_2b531f3d/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE051E117B1C41",
        "Last-Modified": "Mon, 06 Oct 2025 21:19:43 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job2_2b531f3d?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not exist.\nRequestId:97db1714-5cb5-411d-8013-fa9fb3e0fc92\nTime:2025-10-06T21:20:19.3053337Z"
        }
      }
    }
  ],
  "Variables": {}
}
