{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:08:30.8828911Z",
            "allocationTime": "2025-11-19T05:08:20.7376635Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "52.177.10.188",
                  "publicFQDN": "dns65ea121e-786b-47db-9731-f40a881f5678-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_e19d23f1500f6b035d5141983afb1289e65b740e27727c43a142338c84e71137_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_e19d23f1500f6b035d5141983afb1289e65b740e27727c43a142338c84e71137_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:08:30.8658912Z",
            "allocationTime": "2025-11-19T05:[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:09:03.318842Z",
            "lastBootTime": "2025-11-19T05:09:02.959113Z",
            "allocationTime": "2025-11-19T05:08:20.7376635Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "52.177.10.188",
                  "publicFQDN": "dns65ea121e-786b-47db-9731-f40a881f5678-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-19T05:09:02.959113Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_e19d23f1500f6b035d5141983afb1289e65b740e27727c43a142338[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-11-19T05:03:13.564362Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22EC014C6FD67D18/aaf61a7c/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/2fa92906-a136-4777-8faa-b56fbbbbbfc3",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/enablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/reboot?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/removenodes?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_31eba05b3648ace7a5c8b34d454b6d114d8512d0ecb1991783a3112d85897e9e_d",
          "tvmps_e19d23f1500f6b035d5141983afb1289e65b740e27727c43a142338c84e71137_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2729F01F8B2C",
        "Last-Modified": "Wed, 19 Nov 2025 05:10:20 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2729F01F8B2C",
        "Last-Modified": "Wed, 19 Nov 2025 05:10:20 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "aaf61a7c",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c",
        "eTag": "0x8DE2729F01F8B2C",
        "lastModified": "2025-11-19T05:10:20.8930604Z",
        "creationTime": "2025-11-19T05:07:44.3209044Z",
        "state": "active",
        "stateTransitionTime": "2025-11-19T05:07:44.3209044Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-19T05:10:20.8930605Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
