{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_iass_",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "taskSchedulingPolicy": {
          "nodeFillType": "pack",
          "jobDefaultOrder": "creationtime"
        },
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "Sanitized",
              "containerName": "https://test.blob.core.windows.net:443/test-container",
              "relativeMountPath": "foo",
              "accountKey": "Sanitized"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_iass_",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A095D64D77B",
        "Last-Modified": "Thu, 22 Jan 2026 22:55:40 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_iass_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A095D64D77B",
        "Last-Modified": "Thu, 22 Jan 2026 22:55:40 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_iass_",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_iass_",
        "eTag": "0x8DE5A095D64D77B",
        "lastModified": "2026-01-22T22:55:40.1284475Z",
        "creationTime": "2026-01-22T22:55:40.128446Z",
        "state": "active",
        "stateTransitionTime": "2026-01-22T22:55:40.128446Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-22T22:55:40.1284477Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Pack",
          "jobDefaultOrder": "creationtime"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "Sanitized",
              "containerName": "https://test.blob.core.windows.net:443/test-container",
              "relativeMountPath": "foo"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
