{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_network_",
        "targetDedicatedNodes": 1,
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          }
        },
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*"
                  }
                ]
              }
            ]
          },
          "publicIPAddressConfiguration": {
            "ipFamilies": [
              "IPv4",
              "IPv6"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_network_",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2C7D497ABE25",
        "Last-Modified": "Tue, 25 Nov 2025 23:49:34 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2C7D497ABE25",
        "Last-Modified": "Tue, 25 Nov 2025 23:49:34 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_network_",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_",
        "eTag": "0x8DE2C7D497ABE25",
        "lastModified": "2025-11-25T23:49:34.8504101Z",
        "creationTime": "2025-11-25T23:49:34.8504095Z",
        "state": "active",
        "stateTransitionTime": "2025-11-25T23:49:34.8504095Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-25T23:49:34.8504102Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*",
                    "sourcePortRanges": [
                      "*"
                    ]
                  }
                ]
              }
            ]
          },
          "publicIPAddressConfiguration": {
            "ipFamilies": [
              "IPv4",
              "IPv6"
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_114bc9226c6a044faa714a92f6a6453cf2bec650ee0af51b9c3f762e6aba9eee_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_/nodes/tvmps_114bc9226c6a044faa714a92f6a6453cf2bec650ee0af51b9c3f762e6aba9eee_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-25T23:50:06.5600437Z",
            "allocationTime": "2025-11-25T23:50:06.5600531Z",
            "ipAddress": "10.0.0.4",
            "ipv6Address": "fd00::4",
            "affinityId": "TVM:tvmps_114bc9226c6a044faa714a92f6a6453cf2bec650ee0af51b9c3f762e6aba9eee_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.206.124.91",
                  "publicFQDN": "dnsc2209c6c-b584-4686-b2fa-287f71872055-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                },
                {
                  "name": "TestEndpointConfig-ipv6.0",
                  "protocol": "tcp",
                  "publicIPAddress": "2603:1030:408:3::137",
                  "publicFQDN": "dnsc2209c6c-b584-4686-b2fa-287f71872055-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_/nodes/tvmps_114bc9226c6a044faa714a92f6a6453cf2bec650ee0af51b9c3f762e6aba9eee_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_network_/nodes/tvmps_114bc9226c6a044faa714a92f6a6453cf2bec650ee0af51b9c3f762e6aba9eee_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.206.124.91",
        "remoteLoginPort": 15000,
        "ipv6RemoteLoginIPAddress": "2603:1030:408:3::137",
        "ipv6RemoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
