{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:22:02 GMT"
      },
      "RequestBody": {
        "id": "batch_iaas_3b18228f",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "taskSchedulingPolicy": {
          "nodeFillType": "pack"
        },
        "userAccounts": [
          {
            "name": "test-user-1",
            "password": "Sanitized"
          },
          {
            "name": "test-user-2",
            "password": "Sanitized",
            "elevationLevel": "admin"
          }
        ],
        "targetNodeCommunicationMode": "classic"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/batch_iaas_3b18228f",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B14026440D",
        "Last-Modified": "Fri, 23 Aug 2024 20:22:03 GMT",
        "Location": "https://batch.eastus.batch.azure.com/pools/batch_iaas_3b18228f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/nodecounts?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:22:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#poolnodecounts",
        "value": [
          {
            "poolId": "batch_iaas_3b18228f",
            "dedicated": {
              "creating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            },
            "lowPriority": {
              "creating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:22:03 GMT"
      },
      "RequestBody": {
        "id": "batch_network_3b18228f",
        "vmSize": "standard_d2_v2",
        "networkConfiguration": {
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "InvalidPropertyValue",
        "message": {
          "lang": "en-US",
          "value": "The value provided for one of the properties in the request body is invalid.\nRequestId:f82b0894-d342-4a23-acc7-c60785cd1a06\nTime:2024-08-23T20:22:03.5412242Z"
        },
        "values": [
          {
            "key": "PropertyName",
            "value": "subnetId"
          },
          {
            "key": "PropertyValue",
            "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"
          },
          {
            "key": "Reason",
            "value": "The specified subnetId is in a different subscription and cannot be used with the current Batch account in subscription d1354afa-8017-49c3-b592-6b3458a6aa47"
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:22:03 GMT"
      },
      "RequestBody": {
        "id": "batch_image_3b18228f",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/gallery/FakeGallery/images/FakeImage/versions/version"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$meta[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:22:03 GMT"
      },
      "RequestBody": {
        "id": "batch_disk_3b18228f",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "dataDisks": [
            {
              "lun": 1,
              "diskSizeGB": 50
            }
          ]
        },
        "targetNodeCommunicationMode": "classic"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/batch_disk_3b18228f",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B14072D4F2",
        "Last-Modified": "Fri, 23 Aug 2024 20:22:03 GMT",
        "Location": "https://batch.eastus.batch.azure.com/pools/batch_disk_3b18228f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/batch_disk_3b18228f?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:22:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B14072D4F2",
        "Last-Modified": "Fri, 23 Aug 2024 20:22:03 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_disk_3b18228f",
        "url": "https://batch.eastus.batch.azure.com/pools/batch_disk_3b18228f",
        "eTag": "0x8DCC3B14072D4F2",
        "lastModified": "2024-08-23T20:22:03.7662962Z",
        "creationTime": "2024-08-23T20:22:03.7662946Z",
        "state": "active",
        "stateTransitionTime": "2024-08-23T20:22:03.7662946Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2024-08-23T20:22:03.7662963Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "dataDisks": [
            {
              "lun": 1,
              "caching": "none",
              "diskSizeGB": 50,
              "storageAccountType": "standard_lrs"
            }
          ]
        },
        "targetNodeCommunicationMode": "classic"
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:22:04 GMT"
      },
      "RequestBody": {
        "id": "batch_ade_3b18228f",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          },
          "diskEncryptionConfiguration": {
            "targets": [
              "temporarydisk"
            ]
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/batch_ade_3b18228f",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B140AE1FAA",
        "Last-Modified": "Fri, 23 Aug 2024 20:22:04 GMT",
        "Location": "https://batch.eastus.batch.azure.com/pools/batch_ade_3b18228f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/batch_ade_3b18228f?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:22:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B140AE1FAA",
        "Last-Modified": "Fri, 23 Aug 2024 2[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:22:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.a[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&maxresults=1&$skiptoken=WATV2:6QBdLw68lufaux05Y2cmZanTXdzmBaYBvOHkMB8Omga0jSabEc3FUP4GhLwWh7QEdkTyDxqkCwTAgWxmMfMOIwIapbLtdXKM3B%5EKvXtFTsShxUdlkzP7h4BLu6ILKZ4ND%5EARXgX2r69wV7UwYPgMvDPlKglqM6RLVdRDojymT6PQEi3SG7RyW5M55O%5EngZC3PVzW1COWUes9jseHocS1FRuMuhiNDmveXESV10J1mtg4Iwuo0vkd8VFvzsAv3HMq2T1fE93UgXBSEO7DyypeaRdHyEfRv8s/XW%5EZKlW%5E7y4%3D:1$1",
      "RequestMethod": "GET",
      "RequestHeaders":[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&maxresults=1&$skiptoken=WATV2:JDe6Lj%5E%5E79I/YSA7dUk6UI97oT2apSh5scT0aj7ix/HN5aN05ic0U1kHusX32x6RJsy48DuHTEsWl9QE86TsrVvFcgp9gU18c6Rky1nHIdWQC8DrJ/R2c7t3xTLoSlZaOUJqNYOQCg5NiDp0UI5M255ttlA/WLKAPTP4h1wDxyu81cwzUOlVP7DyczCdVdgt0PkKZsy8FRO0ZXhlai8ume6jsG2Py3TybTXf4c%5Ec92FcAAq3XCV0sAksbymuQelS61d1UT%5EwweW3CsxmSC/lDRyIYPrRkZBcAd7SFjj6jb8%3D:1$1",
      "RequestMethod": "GET",
      "RequestHeaders": {[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&$filter=startswith(id,'batch_ade_')&$select=id,state&$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:22:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "batch_ade_3b18228f",
            "state": "active"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
