{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.bnvalidation.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_iaas_dc0b21f2",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "taskSchedulingPolicy": {
          "nodeFillType": "pack",
          "jobDefaultOrder": "creationtime"
        },
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "Sanitized",
              "containerName": "https://test.blob.core.windows.net:443/test-container",
              "relativeMountPath": "foo",
              "accountKey": "Sanitized"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.bnvalidation.batch.azure.com/pools/batch_iaas_dc0b21f2",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE288C144D8E00",
        "Last-Modified": "Thu, 20 Nov 2025 23:25:23 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.bnvalidation.batch.azure.com/pools/batch_iaas_dc0b21f2?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE288C144D8E00",
        "Last-Modified": "Thu, 20 Nov 2025 23:25:23 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.bnvalidation.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_iaas_dc0b21f2",
        "url": "https://batch.bnvalidation.batch.azure.com/pools/batch_iaas_dc0b21f2",
        "eTag": "0x8DE288C144D8E00",
        "lastModified": "2025-11-20T23:25:23.4348544Z",
        "creationTime": "2025-11-20T23:25:23.4348534Z",
        "state": "active",
        "stateTransitionTime": "2025-11-20T23:25:23.4348534Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-20T23:25:23.4348544Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Pack",
          "jobDefaultOrder": "creationtime"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "Sanitized",
              "containerName": "https://test.blob.core.windows.net:443/test-container",
              "relativeMountPath": "foo"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
