{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:32:04 GMT"
      },
      "RequestBody": {
        "id": "batch_network_6a75260f",
        "targetDedicatedNodes": 1,
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          }
        },
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*"
                  }
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/batch_network_6a75260f",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B2A6F4A196",
        "Last-Modified": "Fri, 23 Aug 2024 20:32:05 GMT",
        "Location": "https://batch.eastus.batch.azure.com/pools/batch_network_6a75260f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/batch_network_6a75260f?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:32:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B2A6F4A196",
        "Last-Modified": "Fri, 23 Aug 2024 20:32:05 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_network_6a75260f",
        "url": "https://batch.eastus.batch.azure.com/pools/batch_network_6a75260f",
        "eTag": "0x8DCC3B2A6F4A196",
        "lastModified": "2024-08-23T20:32:05.2412822Z",
        "creationTime": "2024-08-23T20:32:05.2412805Z",
        "state": "active",
        "stateTransitionTime": "2024-08-23T20:32:05.2412805Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2024-08-23T20:32:05.2412823Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*",
                    "sourcePortRanges": [
                      "*"
                    ]
                  }
                ]
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/batch_network_6a75260f/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:32:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3489170e12e3f4b2979d965cfa81f4a0743d2f5ae17b632e748cadaea7eda329_d",
            "url": "https://batch.eastus.batch.azure.com/pools/batch_network_6a75260f/nodes/tvmps_3489170e12e3f4b2979d965cfa81f4a0743d2f5ae17b632e748cadaea7eda329_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-08-23T20:32:36.821251Z",
            "allocationTime": "2024-08-23T20:32:36.8212566Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_3489170e12e3f4b2979d965cfa81f4a0743d2f5ae17b632e748cadaea7eda329_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "135.237.32.7",
                  "publicFQDN": "dnsb5fd84c8-73bf-40a4-b7f1-0bbf029410c3-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                },
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "135.237.32.7",
                  "publicFQDN": "dnsb5fd84c8-73bf-40a4-b7f1-0bbf029410c3-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
