{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_paas_199f223d",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          }
        },
        "startTask": {
          "commandLine": "cmd.exe /c \"echo hello world\"",
          "resourceFiles": [
            {
              "httpUrl": "https://contoso.com",
              "filePath": "filename.txt"
            }
          ],
          "environmentSettings": [
            {
              "name": "ENV_VAR",
              "value": "env_value"
            }
          ],
          "userIdentity": {
            "autoUser": {
              "elevationLevel": "admin"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_199f223d",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713D3CF5515",
        "Last-Modified": "Wed, 19 Mar 2025 18:28:21 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_199f223d/updateproperties?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "applicationPackageReferences": [],
        "metadata": [
          {
            "name": "foo",
            "value": "bar"
          }
        ],
        "targetNodeCommunicationMode": "classic",
        "certificateReferences": []
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_199f223d/updateproperties",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713D4D2AC14",
        "Last-Modified": "Wed, 19 Mar 2025 18:28:22 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_199f223d?api-version=2024-07-01.20.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_199f223d",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713D4E44205",
        "Last-Modified": "Wed, 19 Mar 2025 18:28:23 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_199f223d?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713D4E44205",
        "Last-Modified": "Wed, 19 Mar 2025 18:28:23 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_199f223d",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_paas_199f223d",
        "eTag": "0x8DD6713D4E44205",
        "lastModified": "2025-03-19T18:28:23.0246917Z",
        "creationTime": "2025-03-19T18:28:21.2098312Z",
        "state": "active",
        "stateTransitionTime": "2025-03-19T18:28:21.2098312Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2025-03-19T18:28:22.8897634Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        },
        "targetNodeCommunicationMode": "classic"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_199f223d?api-version=2024-07-01.20.0&$select=id%2Cstate&$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713D4E44205",
        "Last-Modified": "Wed, 19 Mar 2025 18:28:23 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_199f223d",
        "state": "active"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_199f223d?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
