{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/non-existent-pool-id?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:9b5ce546-ff42-4122-8ee5-12260f5575b5\nTime:2025-10-03T23:04:22.6298616Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_test_job_aa9223ec",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02D131107A8F",
        "Last-Modified": "Fri, 03 Oct 2025 23:04:22 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_test_job_aa9223ec",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobExists",
        "message": {
          "lang": "en-US",
          "value": "The specified job already exists.\nRequestId:a89fa996-19ae-4060-9cc4-041322a553da\nTime:2025-10-03T23:04:22.8678635Z"
        }
      }
    }
  ],
  "Variables": {}
}
