{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/filepool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-22T21:33:12.5247743Z",
            "allocationTime": "2026-01-22T21:33:12.5247789Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "68.154.12.111",
                  "publicFQDN": "dns396a9fbd-bd36-46ed-8d3d-d744b5cec287-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/filepool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-22T21:37:54.25849Z",
            "lastBootTime": "2026-01-22T21:37:48.445507Z",
            "allocationTime": "2026-01-22T21:33:12.5247789Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "68.154.12.111",
                  "publicFQDN": "dns396a9fbd-bd36-46ed-8d3d-d744b5cec287-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-01-22T21:37:48.445507Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \"echo hello world\""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FE84D24A62",
        "Last-Modified": "Thu, 22 Jan 2026 21:38:01 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FE84D24A62",
        "Last-Modified": "Thu, 22 Jan 2026 21:38:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DE59FE84D24A62",
        "creationTime": "2026-01-22T21:38:01.8128482Z",
        "lastModified": "2026-01-22T21:38:01.8128482Z",
        "state": "active",
        "stateTransitionTime": "2026-01-22T21:38:01.8128482Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FE84D24A62",
        "Last-Modified": "Thu, 22 Jan 2026 21:38:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DE59FE84D24A62",
        "creationTime": "2026-01-22T21:38:01.8128482Z",
        "lastModified": "2026-01-22T21:38:01.8128482Z",
        "state": "completed",
        "stateTransitionTime": "2026-01-22T21:38:06.247087Z",
        "previousState": "running",
        "previousStateTransitionTime": "2026-01-22T21:38:04.774691Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2026-01-22T21:38:05.274724Z",
          "endTime": "2026-01-22T21:38:06.247087Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
          "nodeUrl": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
          "poolId": "filepool",
          "nodeId": "tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d",
          "taskRootDirectory": "workitems\\batch\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d/files/workitems/batch/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d/files?api-version=2025-06-01&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch4.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d/files/shared",
            [...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/filepool/nodes/tvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d/files/workitems%5Cbatch%5Cjob-1%5Ctest_task%5Cstdout.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Thu, 22 Jan 2026 21:38:06 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fpools%2Ffilepool%2Fnodes%2Ftvmps_97cf22d64a9e0786928af89f6d275668017acd8389e3f53275c189c06f3f7b2a_d%2Ffiles%2Fworkitems%255Cbatch%255Cjob-1%255Ctest_task%255Cstdout.txt",
        "ocp-creation-time": "Thu, 22 Jan 2026 21:38:05 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stderr.txt",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2026-01-22T21:38:05.321667Z",
              "lastModified": "2026-01-22T21:38:05.321667Z",
              "contentLength": "0",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Thu, 22 Jan 2026 21:38:05 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fjobs%2Fbatch%2Ftasks%2Ftest_task%2Ffiles%2Fstderr.txt",
        "ocp-creation-time": "Thu, 22 Jan 2026 21:38:05 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
