{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-12-03T02:23:48.3563156Z",
            "allocationTime": "2025-12-03T02:23:38.1336375Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "52.177.74.105",
                  "publicFQDN": "dns65103dff-f94c-4230-b0a7-8c3edb00fb64-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_a7ca755ae4ad9262d323358c14acce7b9cf10820144ff55248ed8db22a33554d_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_a7ca755ae4ad9262d323358c14acce7b9cf10820144ff55248ed8db22a33554d_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-12-03T02:23:48.3563156Z",
            "allocationTime": "2025-12[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-12-03T02:24:16.7582Z",
            "lastBootTime": "2025-12-03T02:24:16.462892Z",
            "allocationTime": "2025-12-03T02:23:38.1336375Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "52.177.74.105",
                  "publicFQDN": "dns65103dff-f94c-4230-b0a7-8c3edb00fb64-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-12-03T02:24:16.462892Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_a7ca755ae4ad9262d323358c14acce7b9cf10820144ff55248ed8db[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata":[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-12-03T02:18:21.087609Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22EBF663213615FC/computenodepool/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/8d5e8554-ccc0-4d2b-ad0a-dace31d05eb8",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/enablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/reboot?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/computenodepool/nodes/tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool/removenodes?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_19285eaa9d60f08a442b37ec676ec052e7eaa529108ef91f5a59f5a043bbfd58_d",
          "tvmps_a7ca755ae4ad9262d323358c14acce7b9cf10820144ff55248ed8db22a33554d_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/computenodepool/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE32133992E4E1",
        "Last-Modified": "Wed, 03 Dec 2025 02:25:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/computenodepool?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE32133992E4E1",
        "Last-Modified": "Wed, 03 Dec 2025 02:25:28 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "computenodepool",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/computenodepool",
        "eTag": "0x8DE32133992E4E1",
        "lastModified": "2025-12-03T02:25:28.4884705Z",
        "creationTime": "2025-12-03T02:22:56.1235449Z",
        "state": "active",
        "stateTransitionTime": "2025-12-03T02:22:56.1235449Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-12-03T02:25:28.4884707Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
