{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_schedule_3a802288",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1D"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CDCF70EFC0",
        "Last-Modified": "Thu, 28 Aug 2025 00:57:06 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_3a802288",
            "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288",
            "eTag": "0x8DDE5CDCF70EFC0",
            "lastModified": "2025-08-28T00:57:06.7819968Z",
            "creationTime": "2025-08-28T00:57:06.7819968Z",
            "state": "active",
            "stateTransitionTime": "2025-08-28T00:57:06.7819968Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2025-08-29T00:57:06.7819968Z",
              "recentJob": {
                "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
                "id": "batch_schedule_3a802288:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CDCF70EFC0",
        "Last-Modified": "Thu, 28 Aug 2025 00:57:06 GMT"
      },
      "Respon[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_3a802288:job-1",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
            "eTag": "0x8DDE5CDCF7646BA",
            "lastModified": "2025-08-28T00:57:06.8169914Z",
            "creationTime": "2025-08-28T00:57:06.8019927Z",
            "state": "active",
            "stateTransitionTime": "2025-08-28T00:57:06.8169914Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2025-08-28T00:57:06.8169914Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CDCFD5AEEF",
        "Last-Modified": "Thu, 28 Aug 2025 00:57:07 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CDCFE7D759",
        "Last-Modified": "Thu, 28 Aug 2025 00:57:07 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CDD0298C4B",
        "Last-Modified": "Thu, 28 Aug 2025 00:57:07 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CDD0298C4B",
        "Last-Modified": "Thu, 28 Aug 2025 00:57:07 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "batch_schedule_3a802288",
        "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288",
        "eTag": "0x8DDE5CDD0298C4B",
        "lastModified": "2025-08-28T00:57:07.9918667Z",
        "creationTime": "2025-08-28T00:57:06.7819968Z",
        "state": "completed",
        "stateTransitionTime": "2025-08-28T00:57:08.041853Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-08-28T00:57:07.5612505Z",
        "schedule": {
          "recurrenceInterval": "PT5H"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "poolId": "pool_id"
          }
        },
        "executionInfo": {
          "recentJob": {
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
            "id": "batch_schedule_3a802288:job-1"
          },
          "endTime": "2025-08-28T00:57:08.041853Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobScheduleNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job schedule does not exist.\nRequestId:c0bfe1d1-54cf-4fdc-9eb5-0c7920d9ffa1\nTime:2025-08-28T00:57:13.5065304Z"
        }
      }
    }
  ],
  "Variables": {}
}
