{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_schedule_3a802288",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1D"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6714AAAF7813",
        "Last-Modified": "Wed, 19 Mar 2025 18:34:21 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_3a802288",
            "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288",
            "eTag": "0x8DD6714AAAF7813",
            "lastModified": "2025-03-19T18:34:21.7111571Z",
            "creationTime": "2025-03-19T18:34:21.7111571Z",
            "state": "active",
            "stateTransitionTime": "2025-03-19T18:34:21.7111571Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2025-03-20T18:34:21.7111571Z",
              "recentJob": {
                "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
                "id": "batch_schedule_3a802288:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6714AAAF7813",
        "Last-Modified": "Wed, 19 Mar 2025 18:34:21 GMT"
      },
      "Respon[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_3a802288:job-1",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_3a802288:job-1",
            "eTag": "0x8DD6714AAB3E523",
            "lastModified": "2025-03-19T18:34:21.7401635Z",
            "creationTime": "2025-03-19T18:34:21.7281594Z",
            "state": "active",
            "stateTransitionTime": "2025-03-19T18:34:21.7401635Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2025-03-19T18:34:21.7401635Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6714AAFEA498",
        "Last-Modified": "Wed, 19 Mar 2025 18:34:22 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6714AB0C6032",
        "Last-Modified": "Wed, 19 Mar 2025 18:34:22 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6714AB402B4A",
        "Last-Modified": "Wed, 19 Mar 2025 18:34:22 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_3a802288?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
