{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/da99171a/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:43:10.4729094Z",
            "allocationTime": "2025-11-19T05:43:00.3227095Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.55.38",
                  "publicFQDN": "dns0ae85fa1-23d5-4db1-b5d2-6bbea38a036c-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/da99171a/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:47:06.17519Z",
            "lastBootTime": "2025-11-19T05:47:00.862655Z",
            "allocationTime": "2025-11-19T05:43:00.3227095Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.55.38",
                  "publicFQDN": "dns0ae85fa1-23d5-4db1-b5d2-6bbea38a036c-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-19T05:47:00.862655Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \"echo hello world\""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE272F15C2ED07",
        "Last-Modified": "Wed, 19 Nov 2025 05:47:11 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE272F15C2ED07",
        "Last-Modified": "Wed, 19 Nov 2025 05:47:11 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DE272F15C2ED07",
        "creationTime": "2025-11-19T05:47:11.5231495Z",
        "lastModified": "2025-11-19T05:47:11.5231495Z",
        "state": "active",
        "stateTransitionTime": "2025-11-19T05:47:11.5231495Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE272F15C2ED07",
        "Last-Modified": "Wed, 19 Nov 2025 05:47:11 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DE272F15C2ED07",
        "creationTime": "2025-11-19T05:47:11.5231495Z",
        "lastModified": "2025-11-19T05:47:11.5231495Z",
        "state": "completed",
        "stateTransitionTime": "2025-11-19T05:47:14.050255Z",
        "previousState": "running",
        "previousStateTransitionTime": "2025-11-19T05:47:12.690908Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2025-11-19T05:47:13.097123Z",
          "endTime": "2025-11-19T05:47:14.050255Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
          "nodeUrl": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
          "poolId": "da99171a",
          "nodeId": "tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d",
          "taskRootDirectory": "workitems\\batch\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d/files/workitems/batch/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d/files?api-version=2025-06-01&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch4.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d/files/shared",
            [...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/da99171a/nodes/tvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d/files/workitems%5Cbatch%5Cjob-1%5Ctest_task%5Cstdout.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 19 Nov 2025 05:47:13 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fpools%2Fda99171a%2Fnodes%2Ftvmps_3b5e74cba69cf99a6db84e4dcc3051b8cab6946295f7af72479a14cf79fd0844_d%2Ffiles%2Fworkitems%2Fbatch%2Fjob-1%2Ftest_task%2Fstdout.txt",
        "ocp-creation-time": "Wed, 19 Nov 2025 05:47:13 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stderr.txt",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2025-11-19T05:47:13.159649Z",
              "lastModified": "2025-11-19T05:47:13.159649Z",
              "contentLength": "0",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 19 Nov 2025 05:47:13 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fjobs%2Fbatch%2Ftasks%2Ftest_task%2Ffiles%2Fstderr.txt",
        "ocp-creation-time": "Wed, 19 Nov 2025 05:47:13 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
