{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-20T00:23:23.8317169Z",
            "allocationTime": "2025-11-20T00:23:23.8317233Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.41.27.215",
                  "publicFQDN": "dns3ce8376a-ded8-4ef5-8c38-516cbe654f91-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-20T00:24:09.929987Z",
            "lastBootTime": "2025-11-20T00:24:09.587427Z",
            "allocationTime": "2025-11-20T00:23:23.8317233Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.41.27.215",
                  "publicFQDN": "dns3ce8376a-ded8-4ef5-8c38-516cbe654f91-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-20T00:24:09.587427Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/users?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "20.41.27.215",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_848a9b75dd7cc316640e8e342fde327729b63e46d8ab48bb758463655d27f59e_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
