{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_network_6a75260f",
        "targetDedicatedNodes": 1,
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          }
        },
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*"
                  }
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_network_6a75260f",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CE0724027A",
        "Last-Modified": "Thu, 28 Aug 2025 00:58:40 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_6a75260f?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CE0724027A",
        "Last-Modified": "Thu, 28 Aug 2025 00:58:40 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_network_6a75260f",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_6a75260f",
        "eTag": "0x8DDE5CE0724027A",
        "lastModified": "2025-08-28T00:58:40.2302586Z",
        "creationTime": "2025-08-28T00:58:40.2302575Z",
        "state": "active",
        "stateTransitionTime": "2025-08-28T00:58:40.2302575Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-08-28T00:58:40.2302587Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*",
                    "sourcePortRanges": [
                      "*"
                    ]
                  }
                ]
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_6a75260f/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3d9b045452723f90f31e19b748655537f8405cb287120683c1265370d28411e7_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_6a75260f/nodes/tvmps_3d9b045452723f90f31e19b748655537f8405cb287120683c1265370d28411e7_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-08-28T00:59:11.9458372Z",
            "allocationTime": "2025-08-28T00:59:11.9458413Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_3d9b045452723f90f31e19b748655537f8405cb287120683c1265370d28411e7_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "172.200.99.159",
                  "publicFQDN": "dns3ae4a568-71a4-4a4d-9c48-90d356e749d9-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
