{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2/enableautoscale?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT06M00S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/f50021c2/enableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE68BDBD76175",
        "Last-Modified": "Thu, 28 Aug 2025 23:37:31 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2/evaluateautoscale?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/f50021c2/evaluateautoscale",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun",
        "timestamp": "2025-08-28T23:37:32.0793863Z",
        "results": "$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE68BDBD76175",
        "Last-Modified": "Thu, 28 Aug 2025 23:37:31 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "f50021c2",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/f50021c2",
        "eTag": "0x8DDE68BDBD76175",
        "lastModified": "2025-08-28T23:37:31.9646581Z",
        "creationTime": "2025-08-28T23:37:29.7050727Z",
        "state": "active",
        "stateTransitionTime": "2025-08-28T23:37:29.7050727Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-08-28T23:37:31.9646582Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 2,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": true,
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT6M",
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2/disableautoscale?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/f50021c2/disableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE68BEE5AECEF",
        "Last-Modified": "Thu, 28 Aug 2025 23:38:03 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2/resize?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "targetDedicatedNodes": 0,
        "targetLowPriorityNodes": 2
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/f50021c2/resize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE68BEE7F9F24",
        "Last-Modified": "Thu, 28 Aug 2025 23:38:03 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2/stopresize?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/f50021c2/stopresize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE68BEE7F9F24",
        "Last-Modified": "Thu, 28 Aug 2025 23:38:03 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/f50021c2?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE68BEE7F9F24",
        "Last-Modified": "Thu, 28 Aug 2025 23:38:03 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "f50021c2",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/f50021c2",
        "eTag": "0x8DDE68BEE7F9F24",
        "lastModified": "2025-08-28T23:38:03.2662308Z",
        "creationTime": "2025-08-28T23:37:29.7050727Z",
        "state": "active",
        "stateTransitionTime": "2025-08-28T23:37:29.7050727Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2025-08-28T23:40:28.6054456Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 2,
        "resizeErrors": [
          {
            "code": "ResizeStopped",
            "message": "Desired number of low priority nodes could not be allocated due to a stop resize operation"
          }
        ],
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
