{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_paas_",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          }
        },
        "startTask": {
          "commandLine": "cmd.exe /c \"echo hello world\"",
          "resourceFiles": [
            {
              "httpUrl": "https://contoso.com",
              "filePath": "filename.txt"
            }
          ],
          "environmentSettings": [
            {
              "name": "ENV_VAR",
              "value": "env_value"
            }
          ],
          "userIdentity": {
            "autoUser": {
              "elevationLevel": "admin"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A09CA5EB92A",
        "Last-Modified": "Thu, 22 Jan 2026 22:58:42 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_/updateproperties?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "applicationPackageReferences": [],
        "metadata": [
          {
            "name": "foo",
            "value": "bar"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_/updateproperties",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A09CB54CFD1",
        "Last-Modified": "Thu, 22 Jan 2026 22:58:44 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A09CB65E2B5",
        "Last-Modified": "Thu, 22 Jan 2026 22:58:44 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A09CB65E2B5",
        "Last-Modified": "Thu, 22 Jan 2026 22:58:44 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_paas_",
        "eTag": "0x8DE5A09CB65E2B5",
        "lastModified": "2026-01-22T22:58:44.6846645Z",
        "creationTime": "2026-01-22T22:58:42.9600037Z",
        "state": "active",
        "stateTransitionTime": "2026-01-22T22:58:42.9600037Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2026-01-22T22:58:44.5509097Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_?api-version=2025-06-01&$select=id,state&$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5A09CB65E2B5",
        "Last-Modified": "Thu, 22 Jan 2026 22:58:44 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_",
        "state": "active"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:a6876b0a-fb7a-4ab5-8466-4ac969b26109\nTime:2026-01-22T22:58:50.3231724Z"
        }
      }
    }
  ],
  "Variables": {}
}
