{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:02:59.6732626Z",
            "allocationTime": "2025-11-19T05:02:48.9232628Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.49.35.65",
                  "publicFQDN": "dns9103cd93-82d9-4039-8c4a-e84fd9d1c6c8-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_e200816d41eabf595caf086bb24bd05bd1d106645f854a612f7b933da393711b_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_e200816d41eabf595caf086bb24bd05bd1d106645f854a612f7b933da393711b_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:02:59.6732626Z",
            "allocationTime": "2025-11-19T05:[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-19T05:03:32.011858Z",
            "lastBootTime": "2025-11-19T05:03:31.787588Z",
            "allocationTime": "2025-11-19T05:02:48.9232628Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.49.35.65",
                  "publicFQDN": "dns9103cd93-82d9-4039-8c4a-e84fd9d1c6c8-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-19T05:03:31.787588Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_e200816d41eabf595caf086bb24bd05bd1d106645f854a612f7b933[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-11-19T04:57:50.892502Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22EC014D3629D9DD/aaf61a7c/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/543e091f-903a-4fa9-a6c8-f6823f52a178",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/enablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/reboot?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/nodes/tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c/removenodes?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_7b164f0323920e3c79690755e9bb7765042feaaf8cf41d3e1244fab2c3647d1b_d",
          "tvmps_e200816d41eabf595caf086bb24bd05bd1d106645f854a612f7b933da393711b_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27292FB5206A",
        "Last-Modified": "Wed, 19 Nov 2025 05:04:58 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/aaf61a7c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27292FB5206A",
        "Last-Modified": "Wed, 19 Nov 2025 05:04:58 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "aaf61a7c",
        "displayName": "test_pool",
        "url": "https://batch.eastus2.batch.azure.com/pools/aaf61a7c",
        "eTag": "0x8DE27292FB5206A",
        "lastModified": "2025-11-19T05:04:58.0730986Z",
        "creationTime": "2025-11-19T05:02:11.973716Z",
        "state": "active",
        "stateTransitionTime": "2025-11-19T05:02:11.973716Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-19T05:04:58.0730987Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
