{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T18:44:34.6121993Z",
            "allocationTime": "2025-03-19T18:44:34.6122033Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "72.153.34.35",
                  "publicFQDN": "dnsc01f63b2-acbd-450d-942d-672db40be547-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_4a63bbd107f174884a68fb6807c8517713e40fd5fa7513b47a5f8893c3cea822_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_4a63bbd107f174884a68fb6807c8517713e40fd5fa7513b47a5f8893c3cea822_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T18:44:34.6122351Z",
            "allocationTime": "2025-03-19T18:[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T18:45:14.95919Z",
            "lastBootTime": "2025-03-19T18:45:14.639384Z",
            "allocationTime": "2025-03-19T18:44:34.6122033Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.1",
                  "protocol": "tcp",
                  "publicIPAddress": "72.153.34.35",
                  "publicFQDN": "dnsc01f63b2-acbd-450d-942d-672db40be547-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15001,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-03-19T18:45:14.639384Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_4a63bbd107f174884a68fb6807c8517713e40fd5fa7513b47a5f8893c3cea822_d",
   [...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/uploadbatchservicelogs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2025-03-19T18:39:21.029046Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22ECC15FFD102503/3d0a22a3/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/fbe93aba-21e0-4d2a-943e-d52b06b49f56",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/disablescheduling?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/enablescheduling?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/reboot?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/nodes/tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/3d0a22a3/removenodes?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_1e01cc31462b25c86d4c4d276f22eed73743591430f8486b3693dd4c48c213e6_d",
          "tvmps_4a63bbd107f174884a68fb6807c8517713e40fd5fa7513b47a5f8893c3cea822_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/3d0a22a3/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6716341DE025",
        "Last-Modified": "Wed, 19 Mar 2025 18:45:21 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
