{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T19:35:32.6664144Z",
            "allocationTime": "2025-03-19T19:35:32.6664179Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.152.137.216",
                  "publicFQDN": "dns47bf8245-caf4-4b55-871b-b598405ce339-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T19:37:54.320897Z",
            "lastBootTime": "2025-03-19T19:37:49.154133Z",
            "allocationTime": "2025-03-19T19:35:32.6664179Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.152.137.216",
                  "publicFQDN": "dns47bf8245-caf4-4b55-871b-b598405ce339-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-03-19T19:37:49.154133Z",
              "version": "1.12.15"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \"echo hello world\""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671D8F3F5790",
        "Last-Modified": "Wed, 19 Mar 2025 19:38:01 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671D8F3F5790",
        "Last-Modified": "Wed, 19 Mar 2025 19:38:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DD671D8F3F5790",
        "creationTime": "2025-03-19T19:38:01.1484048Z",
        "lastModified": "2025-03-19T19:38:01.1484048Z",
        "state": "active",
        "stateTransitionTime": "2025-03-19T19:38:01.1484048Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671D8F3F5790",
        "Last-Modified": "Wed, 19 Mar 2025 19:38:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DD671D8F3F5790",
        "creationTime": "2025-03-19T19:38:01.1484048Z",
        "lastModified": "2025-03-19T19:38:01.1484048Z",
        "state": "completed",
        "stateTransitionTime": "2025-03-19T19:38:02.940596Z",
        "previousState": "running",
        "previousStateTransitionTime": "2025-03-19T19:38:01.801054Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2025-03-19T19:38:02.112467Z",
          "endTime": "2025-03-19T19:38:02.940596Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
          "nodeUrl": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
          "poolId": "2b751f41",
          "nodeId": "tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d",
          "taskRootDirectory": "workitems\\batch\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d/files/workitems/batch/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d/files?api-version=2024-07-01.20.0&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d/files/shared",
            [...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d/files/workitems%5Cbatch%5Cjob-1%5Ctest_task%5Cstderr.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 19 Mar 2025 19:38:02 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fpools%2F2b751f41%2Fnodes%2Ftvmps_f890e65c248edc51940bf02a0a482f96e569aafaddc35192586653baa234fa2b_d%2Ffiles%2Fworkitems%2Fbatch%2Fjob-1%2Ftest_task%2Fstderr.txt",
        "ocp-creation-time": "Wed, 19 Mar 2025 19:38:02 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stdout.txt",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stdout.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2025-03-19T19:38:02.159357Z",
              "lastModified": "2025-03-19T19:38:02.862465Z",
              "contentLength": "13",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 19 Mar 2025 19:38:02 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fjobs%2Fbatch%2Ftasks%2Ftest_task%2Ffiles%2Fstdout.txt",
        "ocp-creation-time": "Wed, 19 Mar 2025 19:38:02 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
