{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/eb4f24d2/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:01:11.4078318Z",
            "allocationTime": "2025-11-26T07:01:00.9480565Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.177.112.88",
                  "publicFQDN": "dns2b995db2-2167-47ff-8611-fe007fd550ae-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/eb4f24d2/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T07:01:39.961467Z",
            "lastBootTime": "2025-11-26T07:01:39.54416Z",
            "allocationTime": "2025-11-26T07:01:00.9480565Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.177.112.88",
                  "publicFQDN": "dns2b995db2-2167-47ff-8611-fe007fd550ae-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T07:01:39.54416Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/eb4f24d2/nodes/tvmps_50cbd64b48a9663216d5eca9d6609bd8cf75a229111b61446e3158faf253e941_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.177.112.88",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
