{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_iass_",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "securityProfile": {
            "securityType": "confidentialvm",
            "encryptionAtHost": false,
            "proxyAgentSettings": {
              "enabled": false,
              "imds": {
                "mode": "Audit"
              }
            },
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          },
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter-g2",
            "version": "latest"
          },
          "osDisk": {
            "caching": "readwrite",
            "managedDisk": {
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            }
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_iass_",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2C7A464DD08B",
        "Last-Modified": "Tue, 25 Nov 2025 23:28:01 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_iass_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2C7A464DD08B",
        "Last-Modified": "Tue, 25 Nov 2025 23:28:01 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_iass_",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_iass_",
        "eTag": "0x8DE2C7A464DD08B",
        "lastModified": "2025-11-25T23:28:01.0326155Z",
        "creationTime": "2025-11-25T23:28:01.0326147Z",
        "state": "active",
        "stateTransitionTime": "2025-11-25T23:28:01.0326147Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-25T23:28:01.0326155Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter-g2",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs",
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            },
            "caching": "ReadWrite"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          },
          "securityProfile": {
            "securityType": "confidentialvm",
            "encryptionAtHost": false,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "proxyAgentSettings": {
              "enabled": false,
              "imds": {
                "mode": "Audit"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
