{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_schedule_5dce22e9",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1D"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02C94409406F",
        "Last-Modified": "Fri, 03 Oct 2025 22:07:38 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_5dce22e9",
            "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9",
            "eTag": "0x8DE02C94409406F",
            "lastModified": "2025-10-03T22:07:38.6328175Z",
            "creationTime": "2025-10-03T22:07:38.6328175Z",
            "state": "active",
            "stateTransitionTime": "2025-10-03T22:07:38.6328175Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2025-10-04T22:07:38.6328175Z",
              "recentJob": {
                "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_5dce22e9:job-1",
                "id": "batch_schedule_5dce22e9:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02C94409406F",
        "Last-Modified": "Fri, 03 Oct 2025 22:07:38 GMT"
      },
      "Respon[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_5dce22e9:job-1",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_5dce22e9:job-1",
            "eTag": "0x8DE02C9440F821C",
            "lastModified": "2025-10-03T22:07:38.6738204Z",
            "creationTime": "2025-10-03T22:07:38.6548214Z",
            "state": "active",
            "stateTransitionTime": "2025-10-03T22:07:38.6738204Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2025-10-03T22:07:38.6738204Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02C94446F438",
        "Last-Modified": "Fri, 03 Oct 2025 22:07:39 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02C944532BB4",
        "Last-Modified": "Fri, 03 Oct 2025 22:07:39 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02C944787FF7",
        "Last-Modified": "Fri, 03 Oct 2025 22:07:39 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE02C944787FF7",
        "Last-Modified": "Fri, 03 Oct 2025 22:07:39 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "batch_schedule_5dce22e9",
        "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9",
        "eTag": "0x8DE02C944787FF7",
        "lastModified": "2025-10-03T22:07:39.3618935Z",
        "creationTime": "2025-10-03T22:07:38.6328175Z",
        "state": "completed",
        "stateTransitionTime": "2025-10-03T22:07:39.428894Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-10-03T22:07:39.1172532Z",
        "schedule": {
          "recurrenceInterval": "PT5H"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "poolId": "pool_id"
          }
        },
        "executionInfo": {
          "recentJob": {
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_5dce22e9:job-1",
            "id": "batch_schedule_5dce22e9:job-1"
          },
          "endTime": "2025-10-03T22:07:39.428894Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_5dce22e9?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobScheduleNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job schedule does not exist.\nRequestId:dffc33a3-7225-4105-9d03-2c475acad2b2\nTime:2025-10-03T22:07:44.7174495Z"
        }
      }
    }
  ],
  "Variables": {}
}
