{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-22T23:24:34.3381065Z",
            "allocationTime": "2025-09-22T23:24:24.2215708Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.112.187",
                  "publicFQDN": "dnsf5a082b1-c011-49b9-bd61-2ee84e341ba2-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-22T23:28:29.017111Z",
            "lastBootTime": "2025-09-22T23:28:24.720176Z",
            "allocationTime": "2025-09-22T23:24:24.2215708Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.112.187",
                  "publicFQDN": "dnsf5a082b1-c011-49b9-bd61-2ee84e341ba2-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-22T23:28:24.720176Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \"echo hello world\""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDFA2FC19B3BC6",
        "Last-Modified": "Mon, 22 Sep 2025 23:28:37 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDFA2FC19B3BC6",
        "Last-Modified": "Mon, 22 Sep 2025 23:28:37 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DDFA2FC19B3BC6",
        "creationTime": "2025-09-22T23:28:37.5061446Z",
        "lastModified": "2025-09-22T23:28:37.5061446Z",
        "state": "active",
        "stateTransitionTime": "2025-09-22T23:28:37.5061446Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDFA2FC19B3BC6",
        "Last-Modified": "Mon, 22 Sep 2025 23:28:37 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task",
        "eTag": "0x8DDFA2FC19B3BC6",
        "creationTime": "2025-09-22T23:28:37.5061446Z",
        "lastModified": "2025-09-22T23:28:37.5061446Z",
        "state": "completed",
        "stateTransitionTime": "2025-09-22T23:28:40.086577Z",
        "previousState": "running",
        "previousStateTransitionTime": "2025-09-22T23:28:39.10221Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2025-09-22T23:28:39.38345Z",
          "endTime": "2025-09-22T23:28:40.086577Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
          "nodeUrl": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
          "poolId": "2b751f41",
          "nodeId": "tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d",
          "taskRootDirectory": "workitems\\batch\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d/files/workitems/batch/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d/files?api-version=2024-07-01.20.0&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch4.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d/files/shared",
            [...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/2b751f41/nodes/tvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d/files/workitems%5Cbatch%5Cjob-1%5Ctest_task%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Mon, 22 Sep 2025 23:28:39 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fpools%2F2b751f41%2Fnodes%2Ftvmps_111a4886562267fcd89bdc762ed1828711e21995575dd3a66fb653ff575a3f9a_d%2Ffiles%2Fworkitems%2Fbatch%2Fjob-1%2Ftest_task%2Fstdout.txt",
        "ocp-creation-time": "Mon, 22 Sep 2025 23:28:39 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stderr.txt",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2025-09-22T23:28:39.414702Z",
              "lastModified": "2025-09-22T23:28:39.414702Z",
              "contentLength": "0",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch4.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Mon, 22 Sep 2025 23:28:39 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus2.batch.azure.com%2Fjobs%2Fbatch%2Ftasks%2Ftest_task%2Ffiles%2Fstderr.txt",
        "ocp-creation-time": "Mon, 22 Sep 2025 23:28:39 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
