{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:40:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-08-23T20:40:09.644958Z",
            "allocationTime": "2024-08-23T20:39:59.2334819Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.255.88.107",
                  "publicFQDN": "dns8124dd72-327c-4dee-ad29-8b1b953a1483-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          },
          {
            "id": "tvmps_6e7faa2b89ea4abf3f26e2a1ba67558ae89578950ad79df7a00586e881372894_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_6e7faa2b89ea4abf3f26e2a1ba67558ae89578950ad79df7a00586e881372894_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-08-23T20:40:09.644958Z",
            "allocationTime": "2024-08[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:40:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-08-23T20:40:34.296761Z",
            "lastBootTime": "2024-08-23T20:40:33.774011Z",
            "allocationTime": "2024-08-23T20:39:59.2334819Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.255.88.107",
                  "publicFQDN": "dns8124dd72-327c-4dee-ad29-8b1b953a1483-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-08-23T20:40:33.774011Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          },
          {
            "id": "tvmps_6e7faa2b89ea4abf3f26e2a1ba67558ae89578950ad79df7a00586e88137289[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
    [...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/uploadbatchservicelogs?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "RequestBody": {
        "containerUrl": "https://computecontainer.blob.core.windows.net/",
        "startTime": "2024-08-23T20:34:41.202177Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22ED64C25A4238EA/3d0a22a3/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/a27600ca-e51f-44c5-a1fe-5a1f4f268dcf",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/disablescheduling?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/enablescheduling?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/reboot?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/removenodes?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_2196da684867a39db144575e5e3256d08abbc0784738e2a8ee939ad42cfaa59b_d",
          "tvmps_6e7faa2b89ea4abf3f26e2a1ba67558ae89578950ad79df7a00586e881372894_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCC3B3DAEC0901",
        "Last-Modified": "Fri, 23 Aug 2024 20:40:41 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
