{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T19:17:38.9492913Z",
            "allocationTime": "2025-03-19T19:17:38.9492946Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.152.102.96",
                  "publicFQDN": "dnsd1f1be9b-e5bd-4ca3-af7c-087dd151ee00-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T19:18:20.070883Z",
            "lastBootTime": "2025-03-19T19:18:18.526284Z",
            "allocationTime": "2025-03-19T19:17:38.9492946Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.152.102.96",
                  "publicFQDN": "dnsd1f1be9b-e5bd-4ca3-af7c-087dd151ee00-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-03-19T19:18:18.526284Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_29963a18698bc1ff11cd3f1be8d3b2b28a0aa57e13cbb4d19e18567ad0298c73_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "4.152.102.96",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
