{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 22 Jan 2026 21:43:17 GMT"
      },
      "RequestBody": {
        "id": "batch_job1_",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \"echo hello world\""
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \"echo goodbye world\""
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF41A08ECC",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:18 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF41B0E870",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:18 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF41C02215",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:18 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_",
        "eTag": "0x8DE59FF41C02215",
        "lastModified": "2026-01-22T21:43:18.7832341Z",
        "creationTime": "2026-01-22T21:43:18.5553032Z",
        "state": "active",
        "stateTransitionTime": "2026-01-22T21:43:18.576302Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \"echo goodbye world\"",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread",
                "jobDefaultOrder": "none"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "0001-com-ubuntu-server-jammy",
                  "sku": "22_04-lts",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 22.04"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2026-01-22T21:43:18.576302Z",
          "poolId": "F5705B0E-7194-4313-9858-A50734047FAA"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_",
            "eTag": "0x8DE59FF41C02215",
            "lastModified": "2026-01-22T21:43:18.7832341Z",
            "creationTime": "2026-01-22T21:43:18.5553032Z",
            "state": "active",
            "stateTransitionTime": "2026-01-22T21:43:18.576302Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
         [...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_/disable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF42118982",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:19 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF42118982",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:19 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_",
        "eTag": "0x8DE59FF42118982",
        "lastModified": "2026-01-22T21:43:19.3167234Z",
        "creationTime": "2026-01-22T21:43:18.5553032Z",
        "state": "disabled",
        "stateTransitionTime": "2026-01-22T21:43:19.3347224Z",
        "previousState": "active",
        "previousStateTransitionTime": "2026-01-22T21:43:18.576302Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.47758[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_/enable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF422F74A6",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:19 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_/jobpreparationandreleasetaskstatus?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_/terminate?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "terminateReason": "UserTerminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59FF4261CF3B",
        "Last-Modified": "Thu, 22 Jan 2026 21:43:19 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job2_?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not exist.\nRequestId:6896ee26-b2bd-42c8-9217-20e9bef33f5b\nTime:2026-01-22T21:43:56.0189507Z"
        }
      }
    }
  ],
  "Variables": {}
}
