{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_schedule_a86c1a61",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1D"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C6D36B155C",
        "Last-Modified": "Wed, 19 Nov 2025 23:53:23 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_a86c1a61",
            "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61",
            "eTag": "0x8DE27C6D36B155C",
            "lastModified": "2025-11-19T23:53:23.7207388Z",
            "creationTime": "2025-11-19T23:53:23.7207388Z",
            "state": "active",
            "stateTransitionTime": "2025-11-19T23:53:23.7207388Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2025-11-20T23:53:23.7207388Z",
              "recentJob": {
                "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_a86c1a61:job-1",
                "id": "batch_schedule_a86c1a61:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C6D36B155C",
        "Last-Modified": "Wed, 19 Nov 2025 23:53:23 GMT"
      },
      "ResponseBod[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/jobs?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_a86c1a61:job-1",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_a86c1a61:job-1",
            "eTag": "0x8DE27C6D3717DFB",
            "lastModified": "2025-11-19T23:53:23.7627387Z",
            "creationTime": "2025-11-19T23:53:23.7457401Z",
            "state": "active",
            "stateTransitionTime": "2025-11-19T23:53:23.7627387Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2025-11-19T23:53:23.7627387Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/disable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C6D3B71594",
        "Last-Modified": "Wed, 19 Nov 2025 23:53:24 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/enable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C6D3C5517D",
        "Last-Modified": "Wed, 19 Nov 2025 23:53:24 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/terminate?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C6D3F180E4",
        "Last-Modified": "Wed, 19 Nov 2025 23:53:24 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27C6D3F180E4",
        "Last-Modified": "Wed, 19 Nov 2025 23:53:24 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "batch_schedule_a86c1a61",
        "url": "https://batch.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61",
        "eTag": "0x8DE27C6D3F180E4",
        "lastModified": "2025-11-19T23:53:24.601674Z",
        "creationTime": "2025-11-19T23:53:23.7207388Z",
        "state": "terminating",
        "stateTransitionTime": "2025-11-19T23:53:24.601674Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-11-19T23:53:24.3121021Z",
        "schedule": {
          "recurrenceInterval": "PT5H"
        },
        "jobSpecification": {
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "poolId": "pool_id"
          }
        },
        "executionInfo": {
          "recentJob": {
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_schedule_a86c1a61:job-1",
            "id": "batch_schedule_a86c1a61:job-1"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobschedules/batch_schedule_a86c1a61?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobScheduleNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job schedule does not exist.\nRequestId:34efa0a1-e186-44f6-8102-99d51efb961f\nTime:2025-11-19T23:53:35.0844016Z"
        }
      }
    }
  ],
  "Variables": {}
}
