{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 19 Mar 2025 19:43:53 GMT"
      },
      "RequestBody": {
        "id": "batch_job1_bb11edc",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "UbuntuServer",
                  "sku": "18.04-LTS",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 18.04"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \"echo hello world\""
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \"echo goodbye world\""
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671E62323E77",
        "Last-Modified": "Wed, 19 Mar 2025 19:43:55 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "UbuntuServer",
                  "sku": "18.04-LTS",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 18.04"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671E624D95AF",
        "Last-Modified": "Wed, 19 Mar 2025 19:43:55 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671E625BC63D",
        "Last-Modified": "Wed, 19 Mar 2025 19:43:55 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_bb11edc",
        "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
        "eTag": "0x8DD671E625BC63D",
        "lastModified": "2025-03-19T19:43:55.3339965Z",
        "creationTime": "2025-03-19T19:43:55.048782Z",
        "state": "active",
        "stateTransitionTime": "2025-03-19T19:43:55.0618231Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \"echo hello world\"",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \"echo goodbye world\"",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "virtualMachineConfiguration": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "UbuntuServer",
                  "sku": "18.04-LTS",
                  "version": "latest"
                },
                "nodeAgentSKUId": "batch.node.ubuntu 18.04"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2025-03-19T19:43:55.0618231Z",
          "poolId": "065C08A4-D32A-493A-B7EC-C0A19827E2C2"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_bb11edc",
            "url": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc",
            "eTag": "0x8DD671E625BC63D",
            "lastModified": "2025-03-19T19:43:55.3339965Z",
            "creationTime": "2025-03-19T19:43:55.048782Z",
            "state": "active",
            "stateTransitionTime": "2025-03-19T19:43:55.0618231Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDependencies": fa[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671E62B8A69F",
        "Last-Modified": "Wed, 19 Mar 2025 19:43:55 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671E62C63A74",
        "Last-Modified": "Wed, 19 Mar 2025 19:43:56 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/jobpreparationandreleasetaskstatus?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/jobs/batch_job1_bb11edc/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671E62ED4834",
        "Last-Modified": "Wed, 19 Mar 2025 19:43:56 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/jobs/batch_job2_bb11edc?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
