{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/552b204d/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/552b204d/nodes/tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:35:16.6536902Z",
            "allocationTime": "2025-11-26T18:35:16.6536945Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.1.186.36",
                  "publicFQDN": "dns37f4aeef-100c-4c79-8d3d-5748c11a2ee6-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/552b204d/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/552b204d/nodes/tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:36:07.647962Z",
            "lastBootTime": "2025-11-26T18:36:07.32493Z",
            "allocationTime": "2025-11-26T18:35:16.6536945Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.1.186.36",
                  "publicFQDN": "dns37f4aeef-100c-4c79-8d3d-5748c11a2ee6-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T18:36:07.32493Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/552b204d/nodes/tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/552b204d/nodes/tvmps_372ce913cfe92278b2e5be493fea621658ab230cab85ea18a65c72c4110abb38_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "20.1.186.36",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
