{
  "Entries": [
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:06:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
            "url": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T23:06:45.7148027Z",
            "allocationTime": "2024-07-12T23:06:45.7148172Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.255.65.52",
                  "publicFQDN": "dnsc8609100-e248-43e2-94d2-988df2eb72a7-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "14393.7159.240703"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
            "url": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T23:08:59.706745Z",
            "lastBootTime": "2024-07-12T23:08:55.378297Z",
            "allocationTime": "2024-07-12T23:06:45.7148172Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.255.65.52",
                  "publicFQDN": "dnsc8609100-e248-43e2-94d2-988df2eb72a7-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-07-12T23:08:55.378297Z",
              "version": "1.11.12"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "14393.7159.240703"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 23:09:03 GMT"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \"echo hello world\""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C79F7F5C94",
        "Last-Modified": "Fri, 12 Jul 2024 23:09:03 GMT",
        "Location": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C79F7F5C94",
        "Last-Modified": "Fri, 12 Jul 2024 23:09:03 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task",
        "eTag": "0x8DCA2C79F7F5C94",
        "creationTime": "2024-07-12T23:09:03.788354Z",
        "lastModified": "2024-07-12T23:09:03.788354Z",
        "state": "active",
        "stateTransitionTime": "2024-07-12T23:09:03.788354Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C79F7F5C94",
        "Last-Modified": "Fri, 12 Jul 2024 23:09:03 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task",
        "eTag": "0x8DCA2C79F7F5C94",
        "creationTime": "2024-07-12T23:09:03.788354Z",
        "lastModified": "2024-07-12T23:09:03.788354Z",
        "state": "completed",
        "stateTransitionTime": "2024-07-12T23:09:05.550543Z",
        "previousState": "running",
        "previousStateTransitionTime": "2024-07-12T23:09:04.831791Z",
        "commandLine": "cmd /c \"echo hello world\"",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2024-07-12T23:09:04.925538Z",
          "endTime": "2024-07-12T23:09:05.550543Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
          "nodeUrl": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
          "poolId": "2b751f41",
          "nodeId": "tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d",
          "taskRootDirectory": "workitems\\batch2b751f41\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d/files/workitems/batch2b751f41/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d/files?api-version=2024-02-01.19.0&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d/files/shared",
            "i[...]
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/pools/2b751f41/nodes/tvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d/files/workitems%5Cbatch2b751f41%5Cjob-1%5Ctest_task%5Cstderr.txt?api-version=2024-02-01.19.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Fri, 12 Jul 2024 23:09:04 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus.batch.azure.com%2Fpools%2F2b751f41%2Fnodes%2Ftvmps_22ca8dc9b76010a93b9a2b09423e165c22aad0d6104ea182b49656712dddd6db_d%2Ffiles%2Fworkitems%2Fbatch2b751f41%2Fjob-1%2Ftest_task%2Fstderr.txt",
        "ocp-creation-time": "Fri, 12 Jul 2024 23:09:04 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task/files?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4.eastus.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stdout.txt",
            "url": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task/files/stdout.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2024-07-12T23:09:04.925538Z",
              "lastModified": "2024-07-12T23:09:05.519338Z",
              "contentLength": "13",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task/files/stdout.txt?api-version=2024-02-01.19.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Fri, 12 Jul 2024 23:09:05 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch4.eastus.batch.azure.com%2Fjobs%2Fbatch2b751f41%2Ftasks%2Ftest_task%2Ffiles%2Fstdout.txt",
        "ocp-creation-time": "Fri, 12 Jul 2024 23:09:04 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch4.eastus.batch.azure.com/jobs/batch2b751f41/tasks/test_task/files/stdout.txt?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 23:09:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
