{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-22T23:12:31.2660194Z",
            "allocationTime": "2025-09-22T23:12:31.2660253Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.110.107",
                  "publicFQDN": "dns487eadd1-b7d5-483f-b3c5-3b4a99ecbfa3-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-22T23:13:17.371577Z",
            "lastBootTime": "2025-09-22T23:13:16.628677Z",
            "allocationTime": "2025-09-22T23:12:31.2660253Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.203.110.107",
                  "publicFQDN": "dns487eadd1-b7d5-483f-b3c5-3b4a99ecbfa3-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-22T23:13:16.628677Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/59612874/nodes/tvmps_4ca60f1ad06c76d595f8dfdea8ef8c20e0af918fa4c2ff93c9cacbbd2b25ec2b_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.203.110.107",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {}
}
