{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_paas_3ca2229e",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          }
        },
        "startTask": {
          "commandLine": "cmd.exe /c \"echo hello world\"",
          "resourceFiles": [
            {
              "httpUrl": "https://contoso.com",
              "filePath": "filename.txt"
            }
          ],
          "environmentSettings": [
            {
              "name": "ENV_VAR",
              "value": "env_value"
            }
          ],
          "userIdentity": {
            "autoUser": {
              "elevationLevel": "admin"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_3ca2229e",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CD4C65C243",
        "Last-Modified": "Thu, 28 Aug 2025 00:53:26 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_3ca2229e/updateproperties?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "certificateReferences": [],
        "applicationPackageReferences": [],
        "metadata": [
          {
            "name": "foo",
            "value": "bar"
          }
        ],
        "targetNodeCommunicationMode": "classic"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_3ca2229e/updateproperties",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CD4D98932A",
        "Last-Modified": "Thu, 28 Aug 2025 00:53:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_3ca2229e?api-version=2024-07-01.20.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_paas_3ca2229e",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CD4DBBD580",
        "Last-Modified": "Thu, 28 Aug 2025 00:53:29 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_3ca2229e?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CD4DBBD580",
        "Last-Modified": "Thu, 28 Aug 2025 00:53:29 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_3ca2229e",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_paas_3ca2229e",
        "eTag": "0x8DDE5CD4DBBD580",
        "lastModified": "2025-08-28T00:53:29.1690368Z",
        "creationTime": "2025-08-28T00:53:26.9272106Z",
        "state": "active",
        "stateTransitionTime": "2025-08-28T00:53:26.9272106Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2025-08-28T00:53:28.9179024Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "targetNodeCommunicationMode": "classic"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_paas_3ca2229e?api-version=2024-07-01.20.0&$select=id,state&$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDE5CD4DBBD580",
        "Last-Modified": "Thu, 28 Aug 2025 00:53:29 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_3ca2229e",
        "state": "active"
      }
    },
[...]
