{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_iaas_1824222e",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2016-Datacenter-smalldisk"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "windowsConfiguration": {
            "enableAutomaticUpdates": true
          }
        },
        "taskSchedulingPolicy": {
          "nodeFillType": "pack"
        },
        "userAccounts": [
          {
            "name": "test-user-1",
            "password": "Sanitized"
          },
          {
            "name": "test-user-2",
            "password": "Sanitized",
            "elevationLevel": "admin"
          }
        ],
        "targetNodeCommunicationMode": "classic"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_iaas_1824222e",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671371A6D7F6",
        "Last-Modified": "Wed, 19 Mar 2025 18:25:36 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/nodecounts?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#poolnodecounts",
        "value": [
          {
            "poolId": "batch_iaas_1824222e",
            "dedicated": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            },
            "lowPriority": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0&timeOut=45",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_network_1824222e",
        "vmSize": "standard_d2_v2",
        "networkConfiguration": {
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "InvalidPropertyValue",
        "message": {
          "lang": "en-US",
          "value": "The value provided for one of the properties in the request body is invalid.\nRequestId:d9a7fb0d-42eb-4d96-927a-8b26cfe664d8\nTime:2025-03-19T18:25:36.8101708Z"
        },
        "values": [
          {
            "key": "PropertyName",
            "value": "subnetId"
          },
          {
            "key": "PropertyValue",
            "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"
          },
          {
            "key": "Reason",
            "value": "The specified subnetId is in a different subscription and cannot be used with the current Batch account in subscription b79d2be0-530c-4367-9c58-1e800bff208a"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0&timeOut=45",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_image_1824222e",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/gallery/FakeGallery/images/FakeImage/versions/version"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$met[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_disk_1824222e",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "dataDisks": [
            {
              "lun": 1,
              "diskSizeGB": 50
            }
          ]
        },
        "targetNodeCommunicationMode": "classic"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_disk_1824222e",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671371EEE567",
        "Last-Modified": "Wed, 19 Mar 2025 18:25:36 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_disk_1824222e?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD671371EEE567",
        "Last-Modified": "Wed, 19 Mar 2025 18:25:36 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_disk_1824222e",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_disk_1824222e",
        "eTag": "0x8DD671371EEE567",
        "lastModified": "2025-03-19T18:25:36.9999719Z",
        "creationTime": "2025-03-19T18:25:36.9999707Z",
        "state": "active",
        "stateTransitionTime": "2025-03-19T18:25:36.9999707Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-03-19T18:25:36.999972Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "dataDisks": [
            {
              "lun": 1,
              "caching": "none",
              "diskSizeGB": 50,
              "storageAccountType": "standard_lrs"
            }
          ]
        },
        "targetNodeCommunicationMode": "classic"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_ade_1824222e",
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          },
          "diskEncryptionConfiguration": {
            "targets": [
              "temporarydisk"
            ]
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_ade_1824222e",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713722D7F02",
        "Last-Modified": "Wed, 19 Mar 2025 18:25:37 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_ade_1824222e?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6713722D7F02",
        "Last-Modified": "Wed, 19 Mar 2025 18:25:37 GMT"
      },
      "ResponseBody": {
 [...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools",
        "value": [
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0&maxresults=1&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools"[...]
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0&$filter=startswith%28id%2C%27batch_ade_%27%29&$select=id%2Cstate&$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "batch_ade_1824222e",
            "state": "active"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
