{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_network_f4171f19",
        "targetDedicatedNodes": 1,
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "extensions": [
            {
              "name": "secretext",
              "type": "KeyVaultForLinux",
              "publisher": "Microsoft.Azure.KeyVault",
              "typeHandlerVersion": "1.0",
              "autoUpgradeMinorVersion": true
            }
          ],
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          }
        },
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*"
                  }
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_network_f4171f19",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27CA4BEF56F8",
        "Last-Modified": "Thu, 20 Nov 2025 00:18:14 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_f4171f19?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE27CA4BEF56F8",
        "Last-Modified": "Thu, 20 Nov 2025 00:18:14 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_network_f4171f19",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_f4171f19",
        "eTag": "0x8DE27CA4BEF56F8",
        "lastModified": "2025-11-20T00:18:14.4042744Z",
        "creationTime": "2025-11-20T00:18:14.4042738Z",
        "state": "active",
        "stateTransitionTime": "2025-11-20T00:18:14.4042738Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-20T00:18:14.4042745Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "extensions": [
            {
              "name": "secretext",
              "publisher": "Microsoft.Azure.KeyVault",
              "type": "KeyVaultForLinux",
              "typeHandlerVersion": "1.0",
              "autoUpgradeMinorVersion": true
            }
          ]
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*",
                    "sourcePortRanges": [
                      "*"
                    ]
                  }
                ]
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_f4171f19/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_bca1c7599a63087149735de50e3df5f87ee4a3211dafe6a54eddbe7bf5ccf8d5_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_f4171f19/nodes/tvmps_bca1c7599a63087149735de50e3df5f87ee4a3211dafe6a54eddbe7bf5ccf8d5_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-20T00:18:46.9281971Z",
            "allocationTime": "2025-11-20T00:18:46.928203Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_bca1c7599a63087149735de50e3df5f87ee4a3211dafe6a54eddbe7bf5ccf8d5_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "13.77.122.111",
                  "publicFQDN": "dnse6549efd-d7df-4297-889d-2965896df18f-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_f4171f19/nodes/tvmps_bca1c7599a63087149735de50e3df5f87ee4a3211dafe6a54eddbe7bf5ccf8d5_d/extensions?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#extensions",
        "value": [
          {
            "provisioningState": "Creating",
            "instanceView": {},
            "vmExtension": {
              "name": "secretext",
              "publisher": "Microsoft.Azure.KeyVault",
              "type": "KeyVaultForLinux",
              "typeHandlerVersion": "1.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": false
            }
          },
          {
            "provisioningState": "Creating",
            "instanceView": {},
            "vmExtension": {
              "name": "batchNodeExtension",
              "publisher": "Microsoft.Azure.Extensions",
              "type": "CustomScript",
              "typeHandlerVersion": "2.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": false
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_f4171f19/nodes/tvmps_bca1c7599a63087149735de50e3df5f87ee4a3211dafe6a54eddbe7bf5ccf8d5_d/extensions/batchNodeExtension?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#extensions/@Element",
        "provisioningState": "Creating",
        "instanceView": {},
        "vmExtension": {
          "name": "batchNodeExtension",
          "publisher": "Microsoft.Azure.Extensions",
          "type": "CustomScript",
          "typeHandlerVersion": "2.0",
          "autoUpgradeMinorVersion": true,
          "enableAutomaticUpgrade": false
        }
      }
    }
  ],
  "Variables": {}
}
