{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:16:45.7077365Z",
            "allocationTime": "2025-11-26T18:16:44.646101Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.239.136",
                  "publicFQDN": "dns213c32b0-7e88-4521-8924-c75d7c73b6fd-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-26T18:17:26.302078Z",
            "lastBootTime": "2025-11-26T18:17:25.970507Z",
            "allocationTime": "2025-11-26T18:16:44.646101Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.200.239.136",
                  "publicFQDN": "dns213c32b0-7e88-4521-8924-c75d7c73b6fd-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-26T18:17:25.970507Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/users?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.200.239.136",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/1ca11c27/nodes/tvmps_a05522a252ae9df2a18aa3d07f8b25dc6c5485ea3bdac3ed40a9834f6c9ee7e9_d/users/BatchPythonSDKUser?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
