{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:50:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d",
            "url": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:50:02.794061Z",
            "allocationTime": "2024-07-12T22:49:52.1478162Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.171.56.254",
                  "publicFQDN": "dns5bf04b63-8a2a-46bd-91d6-1fff297dafd9-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:50:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d",
            "url": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:50:32.437908Z",
            "lastBootTime": "2024-07-12T22:50:31.960582Z",
            "allocationTime": "2024-07-12T22:49:52.1478162Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.171.56.254",
                  "publicFQDN": "dns5bf04b63-8a2a-46bd-91d6-1fff297dafd9-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-07-12T22:50:31.960582Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/users?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:50:33 GMT"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/users/BatchPythonSDKUser"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/users/BatchPythonSDKUser?api-version=2024-02-01.19.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:50:34 GMT"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/remoteloginsettings?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:50:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "172.171.56.254",
        "remoteLoginPort": 50000
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/cf42244e/nodes/tvmps_e8dbcc64efda35f6166cdb04439d5b97f8d23ded8c8f6c0f687d401e774e1fe9_d/users/BatchPythonSDKUser?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:50:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
