{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T19:12:10.2016145Z",
            "allocationTime": "2025-03-19T19:12:00.0063013Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "130.213.136.11",
                  "publicFQDN": "dnsf2946721-4b85-4c21-91ba-564afce1e815-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T19:12:29.217192Z",
            "lastBootTime": "2025-03-19T19:12:28.858354Z",
            "allocationTime": "2025-03-19T19:12:00.0063013Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "130.213.136.11",
                  "publicFQDN": "dnsf2946721-4b85-4c21-91ba-564afce1e815-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-03-19T19:12:28.858354Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/users?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "name": "BatchPythonSDKUser",
        "password": "Sanitized",
        "isAdmin": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/users/BatchPythonSDKUser?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "password": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/users/BatchPythonSDKUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "130.213.136.11",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/cf42244e/nodes/tvmps_12db04b25cd0d9ce81bd3a249b23cf5724852c6598b057cdbc6188de9cf77866_d/users/BatchPythonSDKUser?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
