{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "batch_network_b83326df",
        "targetDedicatedNodes": 1,
        "vmSize": "standard_d2_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "extensions": [
            {
              "name": "secretext",
              "type": "KeyVaultForLinux",
              "publisher": "Microsoft.Azure.KeyVault",
              "typeHandlerVersion": "1.0",
              "autoUpgradeMinorVersion": true
            }
          ],
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS"
          }
        },
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*"
                  }
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus2.batch.azure.com/pools/batch_network_b83326df",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6717A8901292",
        "Last-Modified": "Wed, 19 Mar 2025 18:55:46 GMT",
        "Location": "https://example.com"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_b83326df?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD6717A8901292",
        "Last-Modified": "Wed, 19 Mar 2025 18:55:46 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_network_b83326df",
        "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_b83326df",
        "eTag": "0x8DD6717A8901292",
        "lastModified": "2025-03-19T18:55:46.6401426Z",
        "creationTime": "2025-03-19T18:55:46.6401413Z",
        "state": "active",
        "stateTransitionTime": "2025-03-19T18:55:46.6401413Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-03-19T18:55:46.6401426Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04",
          "extensions": [
            {
              "name": "secretext",
              "publisher": "Microsoft.Azure.KeyVault",
              "type": "KeyVaultForLinux",
              "typeHandlerVersion": "1.0",
              "autoUpgradeMinorVersion": true
            }
          ]
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*",
                    "sourcePortRanges": [
                      "*"
                    ]
                  }
                ]
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_b83326df/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_22b2592c5b5e385314007df4486690a4deb9c0bf6b1199a6d1acb328efc77f35_d",
            "url": "https://batch.eastus2.batch.azure.com/pools/batch_network_b83326df/nodes/tvmps_22b2592c5b5e385314007df4486690a4deb9c0bf6b1199a6d1acb328efc77f35_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-03-19T18:58:03.5971859Z",
            "allocationTime": "2025-03-19T18:58:03.5971911Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_22b2592c5b5e385314007df4486690a4deb9c0bf6b1199a6d1acb328efc77f35_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "135.224.218.94",
                  "publicFQDN": "dnsab2cdba6-9e47-4c96-bcdf-0f35f0d6bf3f-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_b83326df/nodes/tvmps_22b2592c5b5e385314007df4486690a4deb9c0bf6b1199a6d1acb328efc77f35_d/extensions?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#extensions",
        "value": [
          {
            "provisioningState": "Creating",
            "instanceView": {},
            "vmExtension": {
              "name": "secretext",
              "publisher": "Microsoft.Azure.KeyVault",
              "type": "KeyVaultForLinux",
              "typeHandlerVersion": "1.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": false
            }
          },
          {
            "provisioningState": "Creating",
            "instanceView": {},
            "vmExtension": {
              "name": "batchNodeExtension",
              "publisher": "Microsoft.Azure.Extensions",
              "type": "CustomScript",
              "typeHandlerVersion": "2.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": false
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.batch.azure.com/pools/batch_network_b83326df/nodes/tvmps_22b2592c5b5e385314007df4486690a4deb9c0bf6b1199a6d1acb328efc77f35_d/extensions/batchNodeExtension?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus2.batch.azure.com/$metadata#extensions/@Element",
        "provisioningState": "Creating",
        "instanceView": {},
        "vmExtension": {
          "name": "batchNodeExtension",
          "publisher": "Microsoft.Azure.Extensions",
          "type": "CustomScript",
          "typeHandlerVersion": "2.0",
          "autoUpgradeMinorVersion": true,
          "enableAutomaticUpgrade": false
        }
      }
    }
  ],
  "Variables": {}
}
