{
  "Entries": [
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:34:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:34:01.8156554Z",
            "allocationTime": "2024-07-12T22:33:50.7676926Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "135.237.75.121",
                  "publicFQDN": "dns22e88906-d1db-43bc-81ff-25adb3d08ca6-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          },
          {
            "id": "tvmps_75c5865859f12c0b84b76234b997683abc30271f5fe3b1ce8e21fd3cc40f2e8c_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_75c5865859f12c0b84b76234b997683abc30271f5fe3b1ce8e21fd3cc40f2e8c_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:34:01.7986582Z",
            "allocationTime": "2024-0[...]
[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:34:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
            "url": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-07-12T22:34:26.329326Z",
            "lastBootTime": "2024-07-12T22:34:25.897248Z",
            "allocationTime": "2024-07-12T22:33:50.7676926Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "135.237.75.121",
                  "publicFQDN": "dns22e88906-d1db-43bc-81ff-25adb3d08ca6-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-07-12T22:34:25.897248Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202401161"
              }
            }
          },
          {
            "id": "tvmps_75c5865859f12c0b84b76234b997683abc30271f5fe3b1ce8e21fd3cc40f2e8[...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:34:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
    [...]
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/uploadbatchservicelogs?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:34:32 GMT"
      },
      "RequestBody": {
        "containerUrl": "https://computecontainer.blob.core.windows.net/",
        "startTime": "2024-07-12T22:28:32.623155Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch-22ED85B35DFFBAFB/3d0a22a3/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/2b4fe252-c1a5-4f6a-b0a3-7f641ae1720d",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/disablescheduling?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:34:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/enablescheduling?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 12 Jul 2024 22:34:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/reboot?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:34:33 GMT"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/nodes/tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/removenodes?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 12 Jul 2024 22:34:33 GMT"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_48eb83d56ebdec0766bc9344a39574efb2c6cd55f7f4b43a5d6a3851efff8c64_d",
          "tvmps_75c5865859f12c0b84b76234b997683abc30271f5fe3b1ce8e21fd3cc40f2e8c_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch.eastus.batch.azure.com/pools/3d0a22a3/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCA2C2CD85B31C",
        "Last-Modified": "Fri, 12 Jul 2024 22:34:33 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
