{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office found a dramatic increase in oil.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Un informe reciente de la Oficina de Responsabilidad del Gobierno encontr\u00F3 un aumento dram\u00E1tico en el petr\u00F3leo.",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
              "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
            },
            "kind": "CustomEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/ce6387da-1f28-4f35-9cfc-4a11553735db?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/ce6387da-1f28-4f35-9cfc-4a11553735db?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "ce6387da-1f28-4f35-9cfc-4a11553735db",
        "lastUpdatedDateTime": "2023-06-02T04:05:33Z",
        "createdDateTime": "2023-06-02T04:05:33Z",
        "expirationDateTime": "2023-06-03T04:05:33Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/ce6387da-1f28-4f35-9cfc-4a11553735db?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "ce6387da-1f28-4f35-9cfc-4a11553735db",
        "lastUpdatedDateTime": "2023-06-02T04:05:34Z",
        "createdDateTime": "2023-06-02T04:05:33Z",
        "expirationDateTime": "2023-06-03T04:05:33Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "lastUpdateDateTime": "2023-06-02T04:05:34.3215801Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "recent",
                        "category": "object_select",
                        "offset": 2,
                        "length": 6,
                        "confidenceScore": 0.08
                      },
                      {
                        "text": "Government",
                        "category": "restaurant_name",
                        "offset": 23,
                        "length": 10,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Accountability",
                        "category": "geographic_poi",
                        "offset": 34,
                        "length": 14,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Office",
                        "category": "restaurant_name",
                        "offset": 49,
                        "length": 6,
                        "confidenceScore": 0.11
                      },
                      {
                        "text": "dramatic",
                        "category": "sort",
                        "offset": 64,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "oil",
                        "category": "music_item",
                        "offset": 85,
                        "length": 3,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [
                      {
                        "text": "reciente",
                        "category": "object_select",
                        "offset": 11,
                        "length": 8,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Responsabilidad",
                        "category": "state",
 [...]
