{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "My cat might need to see a veterinarian.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit",
              "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
              "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
            },
            "kind": "CustomEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b5deca2d-30a6-494f-af89-34b3f5f38ba6?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b5deca2d-30a6-494f-af89-34b3f5f38ba6?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "b5deca2d-30a6-494f-af89-34b3f5f38ba6",
        "lastUpdatedDateTime": "2023-06-13T06:49:00Z",
        "createdDateTime": "2023-06-13T06:49:00Z",
        "expirationDateTime": "2023-06-14T06:49:00Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b5deca2d-30a6-494f-af89-34b3f5f38ba6?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "b5deca2d-30a6-494f-af89-34b3f5f38ba6",
        "lastUpdatedDateTime": "2023-06-13T06:49:01Z",
        "createdDateTime": "2023-06-13T06:49:00Z",
        "expirationDateTime": "2023-06-14T06:49:00Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "lastUpdateDateTime": "2023-06-13T06:49:01.0559524Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "service",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Bill Gates",
                        "category": "artist",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 0.58
                      },
                      {
                        "text": "and",
                        "category": "party_size_description",
                        "offset": 36,
                        "length": 3,
                        "confidenceScore": 0.32
                      },
                      {
                        "text": "Paul Allen",
                        "category": "artist",
                        "offset": 40,
                        "length": 10,
                        "confidenceScore": 0.78
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [
                      {
                        "text": "cat",
                        "category": "current_location",
                        "offset": 3,
                        "length": 3,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "veterinarian",
                        "category": "facility",
                        "offset": 27,
                        "length": 12,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "118003146",
    "TEXTANALYTICS_CUSTOM_ENTITIES_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_CUSTOM_ENTITIES_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_STATIC_API_KEY": "Sanitized",
    "TEXTANALYTICS_STATIC_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
