{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A recent report by the Government Accountability Office found a dramatic increase in oil.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Capital Call #20 for Berkshire Multifamily.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit",
              "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
              "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
            },
            "kind": "CustomEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/ce5063f5-85e2-48b4-a88e-40d6c7b0ee8c?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/ce5063f5-85e2-48b4-a88e-40d6c7b0ee8c?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "ce5063f5-85e2-48b4-a88e-40d6c7b0ee8c",
        "lastUpdatedDateTime": "2023-06-13T06:35:12Z",
        "createdDateTime": "2023-06-13T06:35:12Z",
        "expirationDateTime": "2023-06-14T06:35:12Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/ce5063f5-85e2-48b4-a88e-40d6c7b0ee8c?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "ce5063f5-85e2-48b4-a88e-40d6c7b0ee8c",
        "lastUpdatedDateTime": "2023-06-13T06:35:13Z",
        "createdDateTime": "2023-06-13T06:35:12Z",
        "expirationDateTime": "2023-06-14T06:35:12Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "lastUpdateDateTime": "2023-06-13T06:35:13.5532744Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "recent",
                        "category": "object_select",
                        "offset": 2,
                        "length": 6,
                        "confidenceScore": 0.08
                      },
                      {
                        "text": "Government",
                        "category": "restaurant_name",
                        "offset": 23,
                        "length": 10,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Accountability",
                        "category": "geographic_poi",
                        "offset": 34,
                        "length": 14,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Office",
                        "category": "restaurant_name",
                        "offset": 49,
                        "length": 6,
                        "confidenceScore": 0.11
                      },
                      {
                        "text": "dramatic",
                        "category": "sort",
                        "offset": 64,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "oil",
                        "category": "music_item",
                        "offset": 85,
                        "length": 3,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Berkshire Multifamily",
                        "category": "location_name",
                        "offset": 21,
                        "length": 21,
                        "confidenceScore": 0.46
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1265420906",
    "TEXTANALYTICS_CUSTOM_ENTITIES_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_CUSTOM_ENTITIES_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_STATIC_API_KEY": "Sanitized",
    "TEXTANALYTICS_STATIC_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
