{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-2136859281?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "this is not a valid filter string"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "44f9d24c-bda4-46a1-b864-3625e1d44e60",
        "traceresponse": "00-3200b2a3aa445c1d28a79f3a7146f7d8-9efb3e80d3771892-01",
        "x-ms-error-code": "EventRouteFilterInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteFilterInvalid",
          "message": "The provided filter is invalid. Parsing error, Line=1, Position=6, Message=Unexpected input \u0027is\u0027. See event route documentation for supported values and structure (https://aka.ms/ADTv2Routes)."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1491506183"
  }
}
