{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-803273585?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4072e921-bfd0-43ef-9976-4152aef93966",
        "traceresponse": "00-0a549b3b2c24f1a88790853cbed8cd1b-5772ff11e67be90c-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-803273585?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b84418d6-1d46-40e0-adc0-ae09e42203b1",
        "traceresponse": "00-e4bbb75a66087664e6f611b550c1b363-1d977c49ab01a427-01"
      },
      "ResponseBody": {
        "id": "someEventRouteId-803273585",
        "endpointName": "someEventHubEndpoint",
        "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d5918582-83d8-49d2-94a9-27f6c7d237aa",
        "traceresponse": "00-99857eed645789ce5e73128617d50974-89f3d8f9e6fbb919-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "someEventRouteId-803273585",
            "endpointName": "someEventHubEndpoint",
            "filter": "$eventType = 'DigitalTwinTelemetryMessages' or $eventType = 'DigitalTwinLifecycleNotification'"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-803273585?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "875514a7-ac25-462c-b7e6-e16e5e304f90",
        "traceresponse": "00-713b90984a2ee37654a93abe5dfb5355-9ca7955c62d20038-01",
        "x-ms-error-code": "EventRouteNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "297890348"
  }
}
