{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFAC093F4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/test-file-64e1655d-e74a-5293-0d2e-c54a10fc666e?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFAD6CF21\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/test-file-64e1655d-e74a-5293-0d2e-c54a10fc666e?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "WpUSKuRpiCmOwO+tyBsp8Ovyhn0RR68amt6DqQ8qZtX0Tu966TyJJmt+6dxSHTrFeOZ9+bG9ZRPm95AG5t4aY1oauXorrgavaV8Rk13SyH2jvTAprW0jNujclPGrg0CMZIWCN2O/msrgzZBRq9K1FC8TYiiu8Lbt94ORThkVBOUfhS/XUJEZ5CNmSODc0YsWJ4DClyAX3nPPlUDgLUuwysiqMiai3cOd+X4FSKjVECX3eieZUmzFCKe8CLtQObbYtX4XMp9kdEm8JZ6hEZbK+YQb6LIjFnhb5Cl/5tQITMDILZIpvt6Fkwbe3S3OI/YQ8Q82NVEDtJ4Fu0115Y50s9je2eQDoTumlVWsRTlKjcEybvTF0hZuxHnzIwKQEK14aSlV8EkSDVDUj6D7V25[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFAFA5BCE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5VzC/NsU7mfpI79VkJzrwf3Mn98Cjpks/6y8KCLED+P2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/pik/test-file-845bc75b-65eb-b9e6-7a3e-5cdf265520fd?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB0C222C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/pik/test-file-845bc75b-65eb-b9e6-7a3e-5cdf265520fd?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4raudYE4z3GBDkoMFN5wowfyy0W1cjnZapar1yh4V1Af[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:35:37 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:35:37 GMT</Last-Modified><Etag>0x8DD5D0FFB03795B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-845bc75b-65eb-b9e6-7a3e-5cdf265520fd</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:35:37 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:35:37 GMT</Last-Modified><Etag>0x8DD5D0FFB147D31</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7/destFolder/pik/test-file-845bc75b-65eb-b9e6-7a3e-5cdf265520fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB326AE7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7/destFolder/test-file-78a7f390-429d-03cb-e0a1-d768ec383a76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB33066E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7/destFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB33543B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7/destFolder/pik/test-file-845bc75b-65eb-b9e6-7a3e-5cdf265520fd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/pik/test-file-845bc75b-65eb-b9e6-7a3e-5cdf265520fd?sv=sanitized-value&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB3C71BE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "QDAxHl/lk9Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7/destFolder/test-file-78a7f390-429d-03cb-e0a1-d768ec383a76?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/test-file-78a7f390-429d-03cb-e0a1-d768ec383a76?sv=sanitized-value&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB3C98A5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "6wt6sHe/aXY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7/destFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1?sv=sanitized-value&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FFB3DA8DC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "7CKenimTar0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f5d95c9f-f264-f76c-345e-c6b99ab03fa7?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FFB03795B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4/sourceFolder/bar/test-file-be3d35b3-35a3-e9db-20a2-2417817bdeb1?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0FFB03795B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FFB03795B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:35:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0d66c93-0b76-9962-5d15-0f081d05e2c4?sv=Sanitized&se=2025-03-08T00%3A35%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:7ecc9cee-d01e-0049-58f8-8ee25f000000\n",
        "Time:2025-03-07T00:35:39.5425571Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:35:37.0011502-08:00",
    "RandomSeed": "1284093636",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
