{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB32050B965\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/test-file-919ce6a5-3f54-e0ae-aa35-015d1cde3df3?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320630AB5\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:23.8502581Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/test-file-919ce6a5-3f54-e0ae-aa35-015d1cde3df3?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "0BO4utIoUhN7DuKtw+jBYnNJD3BCzKcweW7D26rqxN5Jz4wIJYMhGZQn9mWSv2nluDNQ07177wRsh0BjZXdokEkDZPRbuDzvJ/XbGtVCnroF3SN3mvAhzeCHnJ5DvrMdvmUbjlt1if/2YKvHn9QuKemFXodU8fZY4pYT0xyerGlCvlxwJw9fj1MjgTlFWS4MWXK0vV8ryM1vwqvFYrXiWLRBheF4vgLZJs40MHC8E4lnBnqp6e4KFvaOAGRjmi2dQSmFBNRNlJpw25eR95ddsq8iXVs7OG7FNm/q6b2ddoyhlu9GNw60GnLgOQ5XeR5eMU61QDzSYgi6v81lYqvc0mUK8GGoFnugbkLoWv5gbr1QjLdv6DVPzjPmjHdATrjHA2epTIm9thrTFNL66Qg[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB3207F8F3F\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:24.0381512Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "6+W7hp208i6OhaDUY9MeAd7GRtbWEsI0QwyZ4ItbzK[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/pik/test-file-f401301f-7d13-6430-b021-b3cb602521c7?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB32090A3C3\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:24.1490883Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/pik/test-file-f401301f-7d13-6430-b021-b3cb602521c7?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "wCWQGiCKiycLPTZwggv5g30e2OwAydKZnT/cfWFCVG[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-e25a60b5-ebf7-548b-ad66-c5805206f968\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-713ae741-7473-2d6c-ce79-95c41cccec31</Name><VersionId>2025-05-07T22:04:23.9492020Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:04:23 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:04:23 GMT</Last-Modified><Etag>0x8DD8DB32078D97B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-919ce6a5-3f54-e0ae-aa35-015d1cde3df3</Name><VersionId>2025-05-07T22:04:23.8502581Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:04:23 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:04:23 GMT</Last-Modified><Etag>0x8DD8DB32069C07B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150/destFolder/test-file-713ae741-7473-2d6c-ce79-95c41cccec31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320ABC8F7\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:24.3269879Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150/destFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320B27EC0\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:24.3709632Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150/destFolder/test-file-713ae741-7473-2d6c-ce79-95c41cccec31?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/test-file-713ae741-7473-2d6c-ce79-95c41cccec31?sv=sanitized-value&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320B47A43\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "SXXp5IR3D6A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150/destFolder/pik/test-file-f401301f-7d13-6430-b021-b3cb602521c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320B93487\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:24.4149383Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150/destFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d?sv=sanitized-value&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320BB5716\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8PHLvWmKsCM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150/destFolder/pik/test-file-f401301f-7d13-6430-b021-b3cb602521c7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/pik/test-file-f401301f-7d13-6430-b021-b3cb602521c7?sv=sanitized-value&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB320C0AD81\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "KFWc0WU99aA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-af7ac73a-4b6b-de3c-62fb-8f8e9c610150?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB32088408E\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:24.0381512Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968/sourceFolder/bar/test-file-e20d691f-dadd-b6a3-9ba0-195e56f18b6d?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB32088408E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB32088408E\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:04:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e25a60b5-ebf7-548b-ad66-c5805206f968?sv=Sanitized&se=2025-05-08T22%3A04%3A23Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:1b10b7e0-701e-002e-679b-bf88d5000000\n",
        "Time:2025-05-07T22:04:25.9028258Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:04:23.7581401-07:00",
    "RandomSeed": "333743428",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
