{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE6CC93BA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/test-file-28d62661-8e21-02af-3c19-a5bc066a3904?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE6E250AF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/test-file-28d62661-8e21-02af-3c19-a5bc066a3904?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "3v72i9jW080STNFCR1vccsXGYcGjRv+KQ9SJUGGvMr+reN4HdK0sEeEwhLsFn7pD87o7Chutipf/a0gETYJsYxoSl8591f4XmlDfcsFDhKMZRV2mdCej/e5GCAhlJ8RfxCGh8wjrxR68I3DLzRfVu+el6wclxu/ybpngN8z1snKLgK6gopCaLX8+6VC31y/WcEwgvzy8Of0yr4VuC45RxnH9P01pNBlWCr2H5tyeOpZqCsaA1PI1z0awbvMLLCLx7SPeuZjibDszyrV+NFMhk3TuBAHI0fF/x3AGucYmS92blvi5wID+h52KTQo8tpryjtt+HCghKRwxXvEn27N1DX/X455baNLz8HxjPYTnQhHWFCrrpy61em3ch2GO1qzpFD+LZdP7lyYIiyyrveu[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE7051AE5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "SsMKmzjIJSKfIYvaXyLggIPpCIXAlMh/a4KfyWNjvQ6R[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/pik/test-file-95707967-c99b-5c3b-2644-8daebacd6b19?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE7161ECA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/pik/test-file-95707967-c99b-5c3b-2644-8daebacd6b19?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "FFOLG+Up1QxycTcgEuHoZNj5+5hOYtWfRr5V2PQAY6Pn[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:35:03 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:35:03 GMT</Last-Modified><Etag>0x8DD5D0FE70D75F4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-95707967-c99b-5c3b-2644-8daebacd6b19</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:35:03 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:35:03 GMT</Last-Modified><Etag>0x8DD5D0FE71E79D5</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f/destFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE73B7E21\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f/destFolder/pik/test-file-95707967-c99b-5c3b-2644-8daebacd6b19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE73C19B6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f/destFolder/test-file-28d62661-8e21-02af-3c19-a5bc066a3904",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE73C409C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f/destFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0?sv=sanitized-value&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE7455E14\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "U+iyYGyj7Z8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f/destFolder/pik/test-file-95707967-c99b-5c3b-2644-8daebacd6b19?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/pik/test-file-95707967-c99b-5c3b-2644-8daebacd6b19?sv=sanitized-value&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE7455E14\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "MPYeV7frdNg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f/destFolder/test-file-28d62661-8e21-02af-3c19-a5bc066a3904?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/test-file-28d62661-8e21-02af-3c19-a5bc066a3904?sv=sanitized-value&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FE7455E14\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "CECtMx6zdWg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-75fe029e-0a78-ebc2-b3e6-a95a5a56e53f?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FE70D75F4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5/sourceFolder/bar/test-file-736aca8a-1d18-49bf-68a5-d8a08629fdb0?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0FE70D75F4\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FE70D75F4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:35:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72c62603-cc4f-f643-9a51-49a1a9ea19f5?sv=Sanitized&se=2025-03-08T00%3A35%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:41bf4abc-101e-0024-24f8-8e5614000000\n",
        "Time:2025-03-07T00:35:05.8640540Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:35:03.5153005-08:00",
    "RandomSeed": "462080913",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
