{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6903DAA19\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327/sourceFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D69051857D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:33.3284486Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327/sourceFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SsvpqyfvHnBpgqnWa8b3Rhgu8QtgOnJbvI4zSViZHTCHwA08UtBk6vTaw2g6HgtHDy7+nYH/xxBYje6YvNUYz2R4Tqu5uvRIygcWhnYJIZ6D6zoqmn+vh/j95MThyy0fwvQDws9fjlQ5ttN56EGZT2xQFdGa7TTkyMeyvNYwZv7Z98SCBV/OI1zl8OOsNZ63Y5VXkbVchNS/HvkIrNJ9CVDUoPF9FkkNgfF1tf1QOJIo+1hB2NVJfXPvwuZlxnaJZ+eT2JWtOU1LShDD5s/WbuZm4LF6PDB7iiN+jVNip7t6600WvF/9esEK9Y7EhZajGFMA/+XFDyu2GE1yL6z56aNUSPuCwLKGaWXvb0aitgWM2nT/YafVtdwhX6QSi0sVEAvqcDybIViheZaA1Z/[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-dc6007c9-6c9a-9eff-c400-76d831251327\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-dc6007c9-6c9a-9eff-c400-76d831251327\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28</Name><VersionId>2025-07-11T23:56:33.3284486Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:56:33 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:56:33 GMT</Last-Modified><Etag>0x8DDC0D6905A0FBD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f7062ccc-85ab-293f-d4b2-28295c2d316e/destFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6906D46CF\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:33.5093455Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f7062ccc-85ab-293f-d4b2-28295c2d316e/destFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327/sourceFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28?sv=sanitized-value&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D69074E6C9\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "/ZHfXqgeT88=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f7062ccc-85ab-293f-d4b2-28295c2d316e?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327/sourceFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D6905A0FBD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:33.3284486Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327/sourceFolder/folder0/test-file-2c4a13da-e3ea-77f4-0e06-7417cb730b28?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D6905A0FBD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D6905A0FBD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:56:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dc6007c9-6c9a-9eff-c400-76d831251327?sv=Sanitized&se=2025-07-12T23%3A56%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:e994e221-301e-0072-04bf-f2dd8d000000\n",
        "Time:2025-07-11T23:56:34.1639011Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:56:33.2333407-07:00",
    "RandomSeed": "532528621",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
