{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329719822\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/test-file-28cc270d-3367-f10e-e2b4-5cddd5196d70?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB32983ABA8\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.1635880Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/test-file-28cc270d-3367-f10e-e2b4-5cddd5196d70?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "KHkuHdqCcfVNvMUv7g4l3MP6U2Qect1nEtr2Dn5jpW31oiHYYZhai7XX26pt3gPTj38Z2sYIUrWbxwv/jGN36RdYOUvtTHsroMeuR5cz+jPXIn7+Ssum7VBsPJqNWv9RX/GTFKW35kIE7Tr+WQseaM3XKGnkeJ5Lskz7gBDhnkXIXeeln+WOHzw8+lyRqJNETtPMtTKWbeZSR2JZvGUxI0/0NvwjeMjnSAgsqH5Cugm4tjI8FOgTMe8BU1iDNWPXCtcNnXGWINUL5W0pasRnEIxYoAUy9Q5n4QQMIiRvZBOlVJ2mNR2XIZZcMC976ccrmULLKpRdpRXIprtsiv6xm4BZhBUnwNtvwH9v1cTf6/c94Yjhozl/R6+H3o9hK5eXq5WuImSxA9hnXGoV7s9[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/test-file-b6944663-ee03-b23e-1a72-dccd19210882?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB3299312BC\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.2645308Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/test-file-b6944663-ee03-b23e-1a72-dccd19210882?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "y8zY3Jf8d8CMrL3Ro/q18pX5Ghe20f[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329A22BBB\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.3634747Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "w1rdIKrKvOMii60v4rK5g+[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-a115e3e2-ffe3-6d65-2174-26b74df07067\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-a115e3e2-ffe3-6d65-2174-26b74df07067\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-28cc270d-3367-f10e-e2b4-5cddd5196d70</Name><VersionId>2025-05-07T22:04:39.1635880Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:04:39 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:04:39 GMT</Last-Modified><Etag>0x8DD8DB3298AAF86</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34/destFolder/folder0/test-file-28cc270d-3367-f10e-e2b4-5cddd5196d70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329BD02D7\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.5393751Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34/destFolder/folder0/folder1/test-file-b6944663-ee03-b23e-1a72-dccd19210882",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329C3B8A0\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.5833504Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34/destFolder/folder0/test-file-28cc270d-3367-f10e-e2b4-5cddd5196d70?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/test-file-28cc270d-3367-f10e-e2b4-5cddd5196d70?sv=sanitized-value&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329C5DB31\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "a8gWKhpwb7A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34/destFolder/folder0/folder1/test-file-b6944663-ee03-b23e-1a72-dccd19210882?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/test-file-b6944663-ee03-b23e-1a72-dccd19210882?sv=sanitized-value&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329CB7FAF\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8yaM08IXOVY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34/destFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329CC1BDA\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.6383194Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34/destFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657?sv=sanitized-value&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB329D36DCB\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "X7/Yy/7/o8w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c92a3bf2-0457-fa7a-5bc3-bdc93ea65a34?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB329A92F9A\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:04:39.3634747Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067/sourceFolder/folder0/folder1/folder2/test-file-e3ce9f6e-1f11-853c-ee4e-2dbb989e2657?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB329A92F9A\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB329A92F9A\"",
        "Last-Modified": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:04:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a115e3e2-ffe3-6d65-2174-26b74df07067?sv=Sanitized&se=2025-05-08T22%3A04%3A39Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:1b10ba38-701e-002e-1e9c-bf88d5000000\n",
        "Time:2025-05-07T22:04:40.8935520Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:04:39.0699670-07:00",
    "RandomSeed": "1217346834",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
