{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100DBBDB86\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/test-file-36635301-111d-7668-6c5b-4438725b9c90?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100DD0543A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/test-file-36635301-111d-7668-6c5b-4438725b9c90?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "/yVVVCCQGPygTnulGhitsuds/dp2f4V5TpvHm1HW9MUcS+oMa9mZcTtmls6WwltTrpJQBV3CGYCg3AaFyXyqyVq2iM8uoEcO04yeD+i244w/c+2/he9nWjFpbI7TFKe+u8x03zqMJQ1KQjLRIwmX6fh6RVaP60RrTi6exDS4Or/k4FMcQQNSs07fdEK8ljYn0oKVWc9RL9CICZEL7WDZkgdz7UO1e6j1J5EHr3YBrrj3dvKxIuHvkrCDkzdyRsXtBuI6SanycVbaoDE+SYBZhlvYFHdtJ28mg1qSMudwg+HLGqiUxmQPBAWc14KvsUgwKg3cmTJOf99yFMZOXz9uaRxPci/XxL/2yQ9y0U/td9ESYgfalOqvfJrJIbKewKXFLW5lXz8YWWVN5c8j3K2[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100DF407C7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "r/blk+HgNz4zRB78eoXR0VqTqHLHZKGpjacWRYHZFTLB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/pik/test-file-0f30ba0e-a9cd-60ed-db64-6decc866a525?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E053291\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/pik/test-file-0f30ba0e-a9cd-60ed-db64-6decc866a525?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "MRK3CxkMKgGzZ8C0p30KfHhtbygy/MLQPXKZQESMtVZP[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3f52395c-8917-67b3-40df-0eb616e33ca3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:36:09 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:36:09 GMT</Last-Modified><Etag>0x8DD5D100DFC89B2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-0f30ba0e-a9cd-60ed-db64-6decc866a525</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:36:09 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:36:09 GMT</Last-Modified><Etag>0x8DD5D100E0D3FD0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f/destPrefix/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E2ADFAB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f/destPrefix/test-file-36635301-111d-7668-6c5b-4438725b9c90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E2CD947\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f/destPrefix/pik/test-file-0f30ba0e-a9cd-60ed-db64-6decc866a525",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E2D9BC2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f/destPrefix/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862?sv=sanitized-value&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E342419\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "axrp18VBoL8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f/destPrefix/test-file-36635301-111d-7668-6c5b-4438725b9c90?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/test-file-36635301-111d-7668-6c5b-4438725b9c90?sv=sanitized-value&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E369260\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "AgIdX8KsI2I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f/destPrefix/pik/test-file-0f30ba0e-a9cd-60ed-db64-6decc866a525?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/pik/test-file-0f30ba0e-a9cd-60ed-db64-6decc866a525?sv=sanitized-value&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D100E372DF0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "RgB7+CmY/jU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b73a6f6d-994f-ca5a-6ab5-c8e00b33c40f?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D100DFC89B2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3/sourceFolder/bar/test-file-a7768dc5-e1e5-af2e-3a27-c814fe4f2862?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D100DFC89B2\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D100DFC89B2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:36:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3f52395c-8917-67b3-40df-0eb616e33ca3?sv=Sanitized&se=2025-03-08T00%3A36%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:92357d43-501e-0057-3af8-8e0e87000000\n",
        "Time:2025-03-07T00:36:11.3943237Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:36:08.8282637-08:00",
    "RandomSeed": "697304871",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
