{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68D92FEB5\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DA71520\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:28.8550176Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "UYwTUrGIlIilYYRvgmkPLZypI3egiAwuAo7+7hrex2YFyVqS9nMXnZptskdc3lZAcIwgSnDhUcmA5U8iiqZtxpodarkPfTcokoXdMtXE0SM3vX6Nvnz1I3eREhEk9BPz/+utP3SdMfNV97jrAx/zuxMs68wo4AgdJ0dCfWomBJ5y6TLqF5GvmoyKOMbECh9Xnlb9+AhGyx/ijxgsW7OIL/IaeBrsCaSCfFBAnadCWRwn6t8TKAyVLB4SB4d5gj/ZAgnTqpIFa5Wye3u4BS54oDb7BXDTdAbmhEv72gEcCPkRZ5qebq6JIn5KYK2R3SfwmmZRfX3OBY0D7SVHCZGTlnKBpp6T2jKHcuPyiRNYVKcjCz+ayot8QmENmoCJQhjtt8o7DzaIXcA0yQua3Hx[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DB78D74\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:28.9629556Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "u6j4IwkDhGyxAatwcZ+boSWMd8RkhbJdB4jL0qx7U0pRpKrdIDR3k/VO7ewreceR[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DC7DEBE\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:29.0698942Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Wak+715sY9lPWe+uJUNYymE176G8Dh/saMN2BXGp[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DD52343\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:29.1568451Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sypvagJtGg2Rj1U6gO7ZxJ8Qq3pPaC4NINpEv18DPPPvtQhg[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb\"><Prefix>source=path@#%/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-11T23:56:28.9629556Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:56:28 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:56:29 GMT</Last-Modified><Etag>0x8DDC0D68DBFC9A1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-11T23:56:28.8550176Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:56:28 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:56:28 GMT</Last-Modified><Etag>0x8DDC0D68DB0B0AB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source=path@#%/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Co[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DEACAF2\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:29.2987634Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DEC033E\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:29.3067582Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DF180AF\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:29.3427375Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DF26AED\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:29.3487341Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/file%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DF68902\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "/u4LLgwIFi8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DF661F6\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "hAKnNWcbTJ0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DF947C1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "OqnBIcqKEyw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D68DFBB862\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "zabza5SJZEo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f1d415d-3dce-2e15-3762-714aa696dfb5?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xm[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D68DBFC9A1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:56:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:28.9629556Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D68DBFC9A1\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D68DBFC9A1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:56:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-51cb638e-d7a1-79ea-7c70-6d7e681bc7bb?sv=Sanitized&se=2025-07-12T23%3A56%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:e994e193-301e-0072-1bbf-f2dd8d000000\n",
        "Time:2025-07-11T23:56:30.8368800Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:56:28.7594089-07:00",
    "RandomSeed": "21497387",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
