{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED3A8B98\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/test-file-3a7f260b-3039-b616-3dff-9ccce069f514?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED5233AE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/test-file-3a7f260b-3039-b616-3dff-9ccce069f514?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ut531BC6ezufL0HsEHOfiTYZxrLZBfpKWM5jXTAapG0P6S+c3vSMUapDmwnvKqXKYBKVxqNCO7TkLHtBVh4LhYrU3CZEAqtBjXQIlmnwWi4omP0dhN3Jza56uLF5SvqLOBV/G01/hl1mVDkuOqRL9NFNGL0h7QGsCg94ykn5yEN5fV1UcT/hqRKfty+kmpIJL8PgKzE8aUoU0hE9BrwTbIz1tL1H9oOSbG+rgjbRCG98bpuGGZwRPRMTP54uo6JWi0qjruXVwjhATr/CkecUQ8qhwJcgjVPv5HepNLbkY8jMVPfsLVmKp6xiRcvcTqss/vzUjeMKNf33tMptK46BXOr39j3wJxVwFhnrvkiHEpXMfTW6D9blwR759XmPHHse4enh5VhtPNbmZHbJH3e[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/test-file-0b969a22-bd63-abf0-88e3-2fe1af665551?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED63854E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/test-file-0b969a22-bd63-abf0-88e3-2fe1af665551?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "NgnoZfUJk8OT3qfRB1YVCfXj4ZhccuAM[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED74FDE6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "f3QMGwwGi91+W+8RRgZuE8Uq[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:35:14 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:35:14 GMT</Last-Modified><Etag>0x8DD5D0FED7DCDA1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-0b969a22-bd63-abf0-88e3-2fe1af665551</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:35:14 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:35:14 GMT</Last-Modified><Etag>0x8DD5D0FED6C5503</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inlin[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8/destFolder/folder0/test-file-3a7f260b-3039-b616-3dff-9ccce069f514",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED9D4036\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8/destFolder/folder0/folder1/test-file-0b969a22-bd63-abf0-88e3-2fe1af665551",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED9D4036\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8/destFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FED9CF26E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8/destFolder/folder0/folder1/test-file-0b969a22-bd63-abf0-88e3-2fe1af665551?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/test-file-0b969a22-bd63-abf0-88e3-2fe1af665551?sv=sanitized-value&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FEDA6ABA6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "gJVFqgV8Wvw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8/destFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1?sv=sanitized-value&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FEDA6ABA6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8zBEeCm1A1Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8/destFolder/folder0/test-file-3a7f260b-3039-b616-3dff-9ccce069f514?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/test-file-3a7f260b-3039-b616-3dff-9ccce069f514?sv=sanitized-value&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FEDA68493\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "G38/0q3uoXk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b1a99c5-97cb-cd3b-6ef9-12f243955bd8?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:35:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FED7DCDA1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f/sourceFolder/folder0/folder1/folder2/test-file-8c0116e9-84e2-b040-9044-5472eba6f8b1?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0FED7DCDA1\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FED7DCDA1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:35:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-33fa4fa4-bbb6-96e0-4e50-37d12ac47b3f?sv=Sanitized&se=2025-03-08T00%3A35%3A14Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:923552c4-501e-0057-24f8-8e0e87000000\n",
        "Time:2025-03-07T00:35:16.4482338Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:35:14.3003279-08:00",
    "RandomSeed": "117677951",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
