{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67BF09FD2\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:55:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/test-file-b3521e70-0a5e-27a3-87f5-eda190cdbf70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67D20E070\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:01.1319408Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/test-file-b3521e70-0a5e-27a3-87f5-eda190cdbf70?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "gQ4uLxnprKDm2dxaZDy/EeKFOyI8yjCVPKzBnnqXtw6uQyCvC/c4h3KxzIQtScJLNdu+CpKdM7bdmfJtJw4mTiHOrCEbDwbrTbOwi/2rZ/Ppdmie2Kx7EQ9p0XIEyl9jin5jXpyhLybV073e7Ki5MjH/hLCmh3Z0UpsRsj2U54JTTQB/RwhWSEdCyQXvnSRnsJ9ABEWvvQMH7wwBkHzoQew6ip+nOeooqTxpZL5xhLV2qQKeU+I8pJD9eFj8VLjKWogZtBKFwHa1F1sJRVlFlmpXi+Z6Se0J/eYPqsGRK1SEngk1WNCi8OmL6DyGM142t+HupcjRUBCaD7YsdhW1I+sGhaZPDz6ZtJr87mGwgsqH2PPfo4aMsk75mkgZdXrU1cRQgK6356iiVPAu1GG[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67D3E0117\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:01.3228311Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "d78+m4UFIEs8iYBQ6cIyCX/XnWO8+kSkWFkJplDwe6R3toa/0MUcslZoHCc6mqyqtp8GEMIKsn17mUIs+3r[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/pik/test-file-def76f8a-beec-be28-c19b-cf40780fcbfb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67D4D4119\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:01.4227737Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/pik/test-file-def76f8a-beec-be28-c19b-cf40780fcbfb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "DOuL1SIXRwwAjLWFFmIb3rdISrYnzZMHURskFC7vDu7mwwkfiCmecyjq3V8Ioqdff/CJMMUV1D9Yg4MH8zL[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-4405c33f-109c-8a56-fcaa-4e417d4848c8</Name><VersionId>2025-07-11T23:56:01.2228886Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:56:01 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:56:01 GMT</Last-Modified><Etag>0x8DDC0D67D37244E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-b3521e70-0a5e-27a3-87f5-eda190cdbf70</Name><VersionId>2025-07-11T23:56:01.1319408Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:56:01 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:56:01 GMT</Last-Modified><Etag>0x8DDC0D67D27E44D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3/destFolder/test-file-4405c33f-109c-8a56-fcaa-4e417d4848c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67ECB447A\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:03.9263354Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3/destFolder/test-file-4405c33f-109c-8a56-fcaa-4e417d4848c8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/test-file-4405c33f-109c-8a56-fcaa-4e417d4848c8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67ED70292\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Z6TnnlYAVpc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3/destFolder/pik/test-file-def76f8a-beec-be28-c19b-cf40780fcbfb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67ED861EE\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:04.0122862Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3/destFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67EDBE3DF\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:04.0362727Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3/destFolder/pik/test-file-def76f8a-beec-be28-c19b-cf40780fcbfb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/pik/test-file-def76f8a-beec-be28-c19b-cf40780fcbfb",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67EE1FD79\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "O29+cpjPVWU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3/destFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D67EE705CA\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "H9zk4hyT9KA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f?restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-183d54d7-a04f-50e9-0e61-4c14ae05a1e3?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody":[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D67D44B6DD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:56:01.3228311Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f/sourceFolder/bar/test-file-59b377b7-bbb1-96ea-6ce8-a886e7606d6f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D67D44B6DD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D67D44B6DD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:56:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-ab50e8a2-5b2f-e101-45aa-02d20c38cb7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "353758718",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
