{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassNonHighRisk ": "295409286",
          "NRMS.NSP-extension": "CloudShell",
          "SLNMBreakglass": "604110011",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "9fd9eff4-f386-452e-9893-06417ff6e808",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PlaywrightServiceInternal",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourcegroups/sdkRG6711?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG6711",
        "name": "sdkRG6711",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG6711/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/cab77c44-6781-48ff-8064-f5b4cba88f82*B02B76C3D68D8704DAA05C6EBA1F23DBE56F7CB3EB752F712CB0D0D68B222597?api-version=2025-09-01&t=638924937380324271&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0NzU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/cab77c44-6781-48ff-8064-f5b4cba88f82*B02B76C3D68D8704DAA05C6EBA1F23DBE56F7CB3EB752F712CB0D0D68B222597?api-version=2025-09-01&t=638924937380324271&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG6711/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d01656a-0000-0200-0000-68b81eaa0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG6711/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew",
        "name": "testingWSNew",
        "type": "microsoft.loadtestservice/playwrightworkspaces",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-09-03T10:55:37.9074255Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-09-03T10:55:37.9074255Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataplaneUri": "https://eastus.api.playwright.microsoft.com/playwrightworkspaces/7c6c79b2-15ca-4888-b694-63815a77dc34",
          "regionalAffinity": "Enabled",
          "localAuth": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba24ad49-ab87-4b5d-b6ac-80233c005453",
        "x-correlation-id": "d52d0ea2-2284-4491-954b-7b6d658a3e14",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes",
        "name": "ExecutionMinutes",
        "type": "Microsoft.LoadTestService/locations/playwrightQuotas",
        "properties": {
          "freeTrial": {
            "workspaceId": "1af60cee-058a-45df-869c-484bbc35bfc8",
            "state": "Expired"
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "116954378",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9fd9eff4-f386-452e-9893-06417ff6e808"
  }
}
