{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassNonHighRisk ": "295409286",
          "NRMS.NSP-extension": "CloudShell",
          "SLNMBreakglass": "604110011",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "9fd9eff4-f386-452e-9893-06417ff6e808",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PlaywrightServiceInternal",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourcegroups/sdkRG9804?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG9804",
        "name": "sdkRG9804",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG9804/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/c3e1fb59-2448-4db0-8de5-3a573ec5a3e8*5C5E460C602D08C7AAACC571B1C14CA76290FD5E0F5BCF7367AE211CC6DD368C?api-version=2025-09-01&t=638924937205310769&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0NzU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/c3e1fb59-2448-4db0-8de5-3a573ec5a3e8*5C5E460C602D08C7AAACC571B1C14CA76290FD5E0F5BCF7367AE211CC6DD368C?api-version=2025-09-01&t=638924937205310769&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG9804/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d010369-0000-0200-0000-68b81e980000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG9804/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew",
        "name": "testingWSNew",
        "type": "microsoft.loadtestservice/playwrightworkspaces",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-09-03T10:55:20.3748267Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-09-03T10:55:20.3748267Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataplaneUri": "https://eastus.api.playwright.microsoft.com/playwrightworkspaces/a06ed5dd-6775-4c88-a3da-7f8f6dc95d2c",
          "regionalAffinity": "Enabled",
          "localAuth": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6f0d8c7b-68dd-4850-a4f2-6fb2d989b950",
        "x-correlation-id": "adc78f34-b740-4e0e-8ab4-8c9d94c2928d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes",
        "name": "ExecutionMinutes",
        "type": "Microsoft.LoadTestService/locations/playwrightQuotas",
        "properties": {
          "freeTrial": {
            "workspaceId": "1af60cee-058a-45df-869c-484bbc35bfc8",
            "state": "Expired"
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1957687938",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9fd9eff4-f386-452e-9893-06417ff6e808"
  }
}
