{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassNonHighRisk ": "295409286",
          "NRMS.NSP-extension": "CloudShell",
          "SLNMBreakglass": "604110011",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "9fd9eff4-f386-452e-9893-06417ff6e808",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PlaywrightServiceInternal",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourcegroups/sdkRG3096?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG3096",
        "name": "sdkRG3096",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG3096/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/aa44611b-abe2-4db9-89dc-08563098a0ef*7060051CD29AFE7B1E09815C175CE9F17EA337A962DC440B5F2754C47C4EBD84?api-version=2025-09-01&t=638924936542958303&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0NzU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/aa44611b-abe2-4db9-89dc-08563098a0ef*7060051CD29AFE7B1E09815C175CE9F17EA337A962DC440B5F2754C47C4EBD84?api-version=2025-09-01&t=638924936542958303&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG3096/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d019664-0000-0200-0000-68b81e560000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG3096/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew",
        "name": "testingWSNew",
        "type": "microsoft.loadtestservice/playwrightworkspaces",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-09-03T10:54:14.0927072Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-09-03T10:54:14.0927072Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataplaneUri": "https://eastus.api.playwright.microsoft.com/playwrightworkspaces/90e56944-aa2a-4bdb-9daa-63fed6bca36a",
          "regionalAffinity": "Enabled",
          "localAuth": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5674121c-4367-4b59-ae8c-016d271a99ce",
        "x-correlation-id": "de91df40-c282-4db5-9d75-ce223a50d131",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes",
        "name": "ExecutionMinutes",
        "type": "Microsoft.LoadTestService/locations/playwrightQuotas",
        "properties": {
          "freeTrial": {
            "workspaceId": "1af60cee-058a-45df-869c-484bbc35bfc8",
            "state": "Expired"
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1648941407",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9fd9eff4-f386-452e-9893-06417ff6e808"
  }
}
