{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassNonHighRisk ": "295409286",
          "NRMS.NSP-extension": "CloudShell",
          "SLNMBreakglass": "604110011",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "9fd9eff4-f386-452e-9893-06417ff6e808",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PlaywrightServiceInternal",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourcegroups/sdkRG5038?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG5038",
        "name": "sdkRG5038",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG5038/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/9102934f-1c06-42fa-b2ed-462a86b61dfa*6FA452D102D960383FF195C9BAACA60AFE4D4BABC7FB198918700225637A9AC6?api-version=2025-07-01-preview&t=638894627487300904&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE4MTE0ODEyWhcNMjYwMTE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/9102934f-1c06-42fa-b2ed-462a86b61dfa*6FA452D102D960383FF195C9BAACA60AFE4D4BABC7FB198918700225637A9AC6?api-version=2025-07-01-preview&t=638894627487300904&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG5038/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0000c2d6-0000-0200-0000-6889dedc0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG5038/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew",
        "name": "testingWSNew",
        "type": "microsoft.loadtestservice/playwrightworkspaces",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-07-30T08:59:08.0425565Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-07-30T08:59:08.0425565Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataplaneUri": "https://eastus.api.playwright.microsoft.com/playwrightworkspaces/b0685c1e-17cd-4a41-83c2-049e1a0205ba",
          "regionalAffinity": "Enabled",
          "localAuth": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes?api-version=2025-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "16dd2713-0681-44ff-a87a-60731c2c2fb6",
        "x-correlation-id": "0eac2f62-2b9c-4d98-bef4-2178c535bbd6",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes",
        "name": "ExecutionMinutes",
        "type": "Microsoft.LoadTestService/locations/playwrightQuotas",
        "properties": {
          "freeTrial": {
            "workspaceId": "1af60cee-058a-45df-869c-484bbc35bfc8",
            "state": "Expired"
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1284986878",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9fd9eff4-f386-452e-9893-06417ff6e808"
  }
}
