{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSBreakGlassNonHighRisk ": "295409286",
          "NRMS.NSP-extension": "CloudShell",
          "SLNMBreakglass": "604110011",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "9fd9eff4-f386-452e-9893-06417ff6e808",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PlaywrightServiceInternal",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourcegroups/sdkRG7311?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG7311",
        "name": "sdkRG7311",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG7311/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/c826439f-8897-4330-8310-7c7856a7bbd7*F0DDE0D98C93A43873066C14994C2820670E6059403FEEE7A970106F3D930564?api-version=2025-09-01&t=638924936885039726&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MDY0NzU2WhcNMjYwMTEyMDY0NzU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/EASTUS/operationStatuses/c826439f-8897-4330-8310-7c7856a7bbd7*F0DDE0D98C93A43873066C14994C2820670E6059403FEEE7A970106F3D930564?api-version=2025-09-01&t=638924936885039726&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE2MD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG7311/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d01b466-0000-0200-0000-68b81e780000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/resourceGroups/sdkRG7311/providers/Microsoft.LoadTestService/playwrightWorkspaces/testingWSNew",
        "name": "testingWSNew",
        "type": "microsoft.loadtestservice/playwrightworkspaces",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-09-03T10:54:48.2852196Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-09-03T10:54:48.2852196Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataplaneUri": "https://eastus.api.playwright.microsoft.com/playwrightworkspaces/d299ba29-39ea-468b-9469-3a2cfb97c683",
          "regionalAffinity": "Enabled",
          "localAuth": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8fe908a5-4dc6-4e8a-8101-fb95bf2f9d5f",
        "x-correlation-id": "4d812a56-2a91-4187-98a6-58d646245273",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/9fd9eff4-f386-452e-9893-06417ff6e808/providers/Microsoft.LoadTestService/locations/eastus/playwrightQuotas/ExecutionMinutes",
        "name": "ExecutionMinutes",
        "type": "Microsoft.LoadTestService/locations/playwrightQuotas",
        "properties": {
          "freeTrial": {
            "workspaceId": "1af60cee-058a-45df-869c-484bbc35bfc8",
            "state": "Expired"
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "476751993",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9fd9eff4-f386-452e-9893-06417ff6e808"
  }
}
