{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "AutoScale",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "enableAutoScale": true,
        "autoScaleFormula": "$TargetDedicated = 0;",
        "autoScaleEvaluationInterval": "PT6M"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4636D811CF85",
        "Last-Modified": "Wed, 05 Feb 2025 22:45:52 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4636D811CF85",
        "Last-Modified": "Wed, 05 Feb 2025 22:45:52 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "AutoScale",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale",
        "eTag": "0x8DD4636D811CF85",
        "lastModified": "2025-02-05T22:45:52.3702661Z",
        "creationTime": "2025-02-05T22:45:52.370265Z",
        "state": "active",
        "stateTransitionTime": "2025-02-05T22:45:52.370265Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-02-05T22:45:52.3702661Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": true,
        "autoScaleFormula": "$TargetDedicated = 0;",
        "autoScaleEvaluationInterval": "PT6M",
        "autoScaleRun": {
          "timestamp": "2025-02-05T22:45:52.3702661Z",
          "results": "$TargetDedicatedNodes=0;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
        },
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/evaluateautoscale?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicated = 1;"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/evaluateautoscale",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun",
        "timestamp": "2025-02-05T22:46:03.3305811Z",
        "results": "$TargetDedicatedNodes=1;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/enableautoscale?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicated = 1;",
        "autoScaleEvaluationInterval": "PT7M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/enableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4636DEAC55FF",
        "Last-Modified": "Wed, 05 Feb 2025 22:46:03 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/disableautoscale?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale/disableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4636DEAC55FF",
        "Last-Modified": "Wed, 05 Feb 2025 22:46:03 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/AutoScale?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1270467379"
  }
}
