{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/test?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC5047B8E5E8CE",
        "Last-Modified": "Fri, 29 Mar 2024 23:26:55 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "test",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/test",
        "eTag": "0x8DC5047B8E5E8CE",
        "lastModified": "2024-03-29T23:26:55.474299Z",
        "creationTime": "2024-03-29T23:26:55.4522983Z",
        "state": "active",
        "stateTransitionTime": "2024-03-29T23:26:55.474299Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "commonEnvironmentSettings": [],
        "poolInfo": {
          "poolId": "pool1"
        },
        "executionInfo": {
          "startTime": "2024-03-29T23:26:55.474299Z",
          "poolId": "pool1"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1668627066"
  }
}
