{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "pool1",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/pool1",
            "eTag": "0x8DC54FB214AAA2A",
            "lastModified": "2024-04-04T23:01:15.1833642Z",
            "creationTime": "2024-03-29T23:26:40.140628Z",
            "state": "active",
            "stateTransitionTime": "2024-03-29T23:26:40.140628Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2024-04-04T23:03:34.1091773Z",
            "vmSize": "standard_d2s_v3",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 0,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Pack"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "osDisk": {
                "ephemeralOSDiskSettings": {},
                "managedDisk": {
                  "storageAccountType": "premium_lrs"
                },
                "caching": "None"
              },
              "nodeAgentSKUId": "batch.node.ubuntu 22.04",
              "nodePlacementConfiguration": {
                "policy": "Regional"
              }
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "publicIPAddressConfiguration": {
                "provision": "BatchManaged"
              },
              "enableAcceleratedNetworking": false
            },
            "targetNodeCommunicationMode": "default"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "wiboris-GetPoolNodeCounts",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC5E6AE98F87BA",
        "Last-Modified": "Tue, 16 Apr 2024 23:14:05 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC5E6AE9[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9e7b4a9629d433af46dc57467b1583c8db7a8dbb9bd740bbeeb2579e739adf30_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts/nodes/tvmps_9e7b4a9629d433af46dc57467b1583c8db7a8dbb9bd740bbeeb2579e739adf30_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-04-16T23:16:24.8249918Z",
            "allocationTime": "2024-04-16T23:16:24.8250008Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_9e7b4a9629d433af46dc57467b1583c8db7a8dbb9bd740bbeeb2579e739adf30_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.214.112.156",
                  "publicFQDN": "dns57f8f514-9d08-4a70-8782-bd52e5fd35d4-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5696.240406"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9e7b4a9629d433af46dc57467b1583c8db7a8dbb9bd740bbeeb2579e739adf30_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-GetPoolNodeCounts/nodes/tvmps_9e7b4a9629d433af46dc57467b1583c8db7a8dbb9bd740bbeeb2579e739adf30_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-04-16T23:18:41.80326Z",
            "lastBootTime": "2024-04-16T23:18:37.350042Z",
            "allocationTime": "2024-04-16T23:16:24.8250008Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_9e7b4a9629d433af46dc57467b1583c8db7a8dbb9bd740bbeeb2579e739adf30_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "172.214.112.156",
                  "publicFQDN": "dns57f8f514-9d08-4a70-8782-bd52e5fd35d4-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-04-16T23:18:37.350042Z",
              "version": "1.11.10"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5696.240406"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/nodecounts?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#poolnodecounts",
        "value": [
          {
            "poolId": "pool1",
            "dedicated": {
              "creating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            },
            "lowPriority": {
              "creating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            }
          },
          {
       [...]
