{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetPoolNodeCounts",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB6B0ABD4AA9",
        "Last-Modified": "Thu, 04 Sep 2025 04:25:13 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB6B0ABD4AA9",
        "Last-Modified": "Thu, 04 Sep 2025 04:25:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "GetPoolNodeCounts",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts",
        "eTag": "0x8DDEB6B0ABD4AA9",
        "lastModified": "2025-09-04T04:25:13.0684073Z",
        "creationTime": "2025-09-04T04:25:13.0684064Z",
        "state": "active",
        "stateTransitionTime": "2025-09-04T04:25:13.0684064Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-09-04T04:25:13.0684073Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6e544035605d329e777c9e9637e79aef52e289ef34ade471e9d0218d61c3683e_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts/nodes/tvmps_6e544035605d329e777c9e9637e79aef52e289ef34ade471e9d0218d61c3683e_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T04:25:45.53045Z",
            "allocationTime": "2025-09-04T04:25:44.4632346Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6e544035605d329e777c9e9637e79aef52e289ef34ade471e9d0218d61c3683e_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6e544035605d329e777c9e9637e79aef52e289ef34ade471e9d0218d61c3683e_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts/nodes/tvmps_6e544035605d329e777c9e9637e79aef52e289ef34ade471e9d0218d61c3683e_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T04:31:42.901397Z",
            "lastBootTime": "2025-09-04T04:31:36.602932Z",
            "allocationTime": "2025-09-04T04:25:44.4632346Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6e544035605d329e777c9e9637e79aef52e289ef34ade471e9d0218d61c3683e_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-04T04:31:36.602932Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/nodecounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#poolnodecounts",
        "value": [
          {
            "poolId": "GetPoolNodeCounts",
            "dedicated": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 1,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 1
            },
            "lowPriority": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 0
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1199596696"
  }
}
