{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetPoolNodeCounts",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetPoolNodeCounts",
            "eTag": "0x8DD843E6685FBAA",
            "lastModified": "2025-04-25T21:16:09.9373994Z",
            "creationTime": "2025-04-25T21:13:17.4325588Z",
            "state": "deleting",
            "stateTransitionTime": "2025-04-25T21:16:09.9373994Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-04-25T21:16:09.9521062Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "PatchPool",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD843E69084125",
        "Last-Modified": "Fri, 25 Apr 2025 21:16:14 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD843E69084125",
      [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool?api-version=2024-07-01.20.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "displayName": "newDisplayName",
        "vmSize": "STANDARD_D2S_V3",
        "enableInterNodeCommunication": true,
        "startTask": {
          "commandLine": "cmd /c echo hello"
        },
        "applicationPackageReferences": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "version": "1"
          }
        ],
        "metadata": [
          {
            "name": "name",
            "value": "value"
          }
        ],
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "nodePlacementConfiguration": {
            "policy": "zonal"
          }
        },
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "pack"
        },
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          }
        },
        "resourceTags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "userAccounts": [
          {
            "name": "test1",
            "password": "Sanitized"
          },
          {
            "name": "test2",
            "password": "Sanitized",
            "elevationLevel": "nonadmin"
          },
          {
            "name": "test3",
            "password": "Sanitized",
            "elevationLevel": "admin"
          },
          {
            "name": "test4",
            "password": "Sanitized",
            "linuxUserConfiguration": {
              "sshPrivateKey": "AAAA=="
            }
          }
        ],
        "mountConfiguration": [
          {
            "azureBlobFileSystemConfiguration": {
              "accountName": "accountName",
              "containerName": "blobContainerName",
              "accountKey": "Sanitized",
              "relativeMountPath": "bfusepath"
            }
          }
        ],
        "upgradePolicy": {
          "mode": "automatic",
          "automaticOSUpgradePolicy": {
            "disableAutomaticRollback": true,
            "enableAutomaticOSUpgrade": true,
            "useRollingUpgradePolicy": true,
            "osRollingUpgradeDeferral": true
          },
          "rollingUpgradePolicy": {
            "enableCrossZoneUpgrade": true,
            "maxBatchInstancePercent": 20,
            "maxUnhealthyInstancePercent": 20,
            "maxUnhealthyUpgradedInstancePercent": 20,
            "pauseTimeBetweenBatches": "PT5S",
            "prioritizeUnhealthyInstances": false,
            "rollbackFailedInstancesOnPolicyBreach": false
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD843E6F6C12CE",
        "Last-Modified": "Fri, 25 Apr 2025 21:16:24 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PatchPool?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "642884527"
  }
}