{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetPoolNodeCounts",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/GetPoolNodeCounts",
            "eTag": "0x8DCE7C063EC5721",
            "lastModified": "2024-10-08T17:41:07.5938081Z",
            "creationTime": "2024-10-08T17:35:12.0276599Z",
            "state": "deleting",
            "stateTransitionTime": "2024-10-08T17:41:07.5938081Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-10-08T17:41:07.6011308Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "PoolExists",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/PoolExists",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C06DE43837",
        "Last-Modified": "Tue, 08 Oct 2024 17:41:24 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/PoolExists"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/PoolExists?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C06DE43837",
      [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/PoolExists/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/fakepool?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/PoolExists?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus.batch.azure.com",
    "RandomSeed": "1854560268"
  }
}
