{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetPoolNodeCounts",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetPoolNodeCounts",
            "eTag": "0x8DC8663479C9639",
            "lastModified": "2024-06-06T20:00:14.1096505Z",
            "creationTime": "2024-06-06T19:54:50.0339001Z",
            "state": "deleting",
            "stateTransitionTime": "2024-06-06T20:00:14.1096505Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-06-06T20:00:14.1178658Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          },
          {
            "id": "pool1",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/pool1",
            "eTag": "0x8DC54FB214AAA2A",
            "lastModified": "2024-04-04T23:01:15.1833642Z",
            "creationTime": "2024-03-29T23:26:40.140628Z",
            "state": "active",
            "stateTransitionTime": "2024-03-29T23:26:40.140628Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2024-04-04T23:03:34.1091773Z",
            "vmSize": "standard_d2s_v3",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 0,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Pack"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "osDisk": {
                "ephemeralOSDiskSettings": {},
                "managedDisk": {
                  "storageAccountType": "premium_lrs"
                },
                "caching": "None"
              },
              "nodeAgentSKUId": "batch.node.ubuntu 22.04",
              "nodePlacementConfiguration": {
                "policy": "Regional"
              }
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "publicIPAddressConfiguration": {
                "provision": "BatchManaged"
              },
              "enableAcceleratedNetworking": false
            },
            "targetNodeCommunicationMode": "default"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "PoolGetPoolUsageMetrics",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/PoolGetPoolUsageMetrics",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC86635B2D811F",
        "Last-Modified": "Thu, 06 Jun 2024 20:00:46 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/PoolGetPoolUsageMetrics"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/PoolGetPoolUsageMetrics?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC86635B2D[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/PoolGetPoolUsageMetrics/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/poolusagemetrics?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#poolusagemetrics",
        "value": [
          {
            "poolId": "gettaskfile",
            "startTime": "2024-06-05T01:00:00Z",
            "endTime": "2024-06-05T01:30:00Z",
            "vmSize": "Standard_D1_v2",
            "totalCoreHours": 0.1074144451111111
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/PoolGetPoolUsageMetrics?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "768679757"
  }
}