{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "pool1",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/pool1",
            "eTag": "0x8DC54FB214AAA2A",
            "lastModified": "2024-04-04T23:01:15.1833642Z",
            "creationTime": "2024-03-29T23:26:40.140628Z",
            "state": "active",
            "stateTransitionTime": "2024-03-29T23:26:40.140628Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2024-04-04T23:03:34.1091773Z",
            "vmSize": "standard_d2s_v3",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 0,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Pack"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "osDisk": {
                "ephemeralOSDiskSettings": {},
                "managedDisk": {
                  "storageAccountType": "premium_lrs"
                },
                "caching": "None"
              },
              "nodeAgentSKUId": "batch.node.ubuntu 22.04",
              "nodePlacementConfiguration": {
                "policy": "Regional"
              }
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "publicIPAddressConfiguration": {
                "provision": "BatchManaged"
              },
              "enableAcceleratedNetworking": false
            },
            "targetNodeCommunicationMode": "default"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "wiboris-PoolExists",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-PoolExists",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC64C0E9934A5B",
        "Last-Modified": "Thu, 25 Apr 2024 00:44:49 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-PoolExists"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-PoolExists?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC64C0E9934A5B"[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-PoolExists/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/fakepool?api-version=2024-02-01.19.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/wiboris-PoolExists?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1196452829"
  }
}
