{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "PoolRemoveNodes",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 2
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883290F4F80F",
        "Last-Modified": "Wed, 30 Apr 2025 22:01:31 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD883290F4F80F",
        "Last-Modified": "Wed, 30 Apr 2025 22:01:31 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "PoolRemoveNodes",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes",
        "eTag": "0x8DD883290F4F80F",
        "lastModified": "2025-04-30T22:01:31.8194191Z",
        "creationTime": "2025-04-30T22:01:31.819418Z",
        "state": "active",
        "stateTransitionTime": "2025-04-30T22:01:31.819418Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-04-30T22:01:31.8194191Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 2,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2d562ef783e21b673c4b2e6a4eb86c456267c07815460113f88a60c800ed10ea_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/nodes/tvmps_2d562ef783e21b673c4b2e6a4eb86c456267c07815460113f88a60c800ed10ea_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-30T22:02:08.388145Z",
            "allocationTime": "2025-04-30T22:02:08.388151Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_2d562ef783e21b673c4b2e6a4eb86c456267c07815460113f88a60c800ed10ea_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_b7b34f0000cb9592cd2fb9cda8930ae7be35182cc8d7f88abad77b21b5263c77_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/nodes/tvmps_b7b34f0000cb9592cd2fb9cda8930ae7be35182cc8d7f88abad77b21b5263c77_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-30T22:02:08.3881716Z",
            "allocationTime": "2025-04-30T22:02:08.3881723Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_b7b34f0000cb9592cd2fb9cda8930ae7be35182cc8d7f88abad77b21b5263c77_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2d562ef783e21b673c4b2e6a4eb86c456267c07815460113f88a60c800ed10ea_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/nodes/tvmps_2d562ef783e21b673c4b2e6a4eb86c456267c07815460113f88a60c800ed10ea_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-30T22:08:29.69476Z",
            "lastBootTime": "2025-04-30T22:08:20.251123Z",
            "allocationTime": "2025-04-30T22:02:08.388151Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_2d562ef783e21b673c4b2e6a4eb86c456267c07815460113f88a60c800ed10ea_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-04-30T22:08:20.251123Z",
              "version": "1.12.15"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_b7b34f0000cb9592cd2fb9cda8930ae7be35182cc[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/removenodes?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_b7b34f0000cb9592cd2fb9cda8930ae7be35182cc8d7f88abad77b21b5263c77_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD88338EF697E5",
        "Last-Modified": "Wed, 30 Apr 2025 22:08:37 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "666284785"
  }
}