{
  "Entries": [
    {
      "RequestUri": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "SecurityProfilePool",
        "vmSize": "STANDARD_D2S_V5",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter-g2",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "dataDisks": [
            {
              "lun": 0,
              "diskSizeGB": 1024,
              "managedDisk": {
                "diskEncryptionSet": {
                  "id": "/subscriptions/25d5d4d6-d9c8-4053-9e3f-c47c2960a69b/resourceGroups/rg-wiborisbatch/providers/Microsoft.Compute/diskEncryptionSets/netsdkdesrcxxljm7dcuk"
                },
                "storageAccountType": "standard_lrs"
              }
            }
          ],
          "osDisk": {
            "caching": "readwrite",
            "managedDisk": {
              "diskEncryptionSet": {
                "id": "/subscriptions/25d5d4d6-d9c8-4053-9e3f-c47c2960a69b/resourceGroups/rg-wiborisbatch/providers/Microsoft.Compute/diskEncryptionSets/netsdkdesrcxxljm7dcuk"
              },
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            }
          },
          "securityProfile": {
            "encryptionAtHost": false,
            "proxyAgentSettings": {
              "enabled": false,
              "imds": {
                "mode": "Audit"
              }
            },
            "securityType": "confidentialVM",
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          }
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/SecurityProfilePool",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE262E8A740252",
        "Last-Modified": "Mon, 17 Nov 2025 23:10:46 GMT",
        "Location": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/SecurityProfilePool"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/SecurityProfilePool?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE262E8A740252",
        "Last-Modified": "Mon, 17 Nov 2025 23:10:46 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/$metadata#pools/@Element",
        "id": "SecurityProfilePool",
        "url": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/SecurityProfilePool",
        "eTag": "0x8DE262E8A740252",
        "lastModified": "2025-11-17T23:10:46.6398802Z",
        "creationTime": "2025-11-17T23:10:46.6398796Z",
        "state": "active",
        "stateTransitionTime": "2025-11-17T23:10:46.6398796Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-17T23:10:46.6398803Z",
        "vmSize": "standard_d2s_v5",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter-g2",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs",
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              },
              "diskEncryptionSet": {
                "id": "/subscriptions/25d5d4d6-d9c8-4053-9e3f-c47c2960a69b/resourceGroups/rg-wiborisbatch/providers/Microsoft.Compute/diskEncryptionSets/netsdkdesrcxxljm7dcuk"
              }
            },
            "caching": "ReadWrite"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "dataDisks": [
            {
              "lun": 0,
              "caching": "none",
              "diskSizeGB": 1024,
              "managedDisk": {
                "storageAccountType": "standard_lrs",
                "diskEncryptionSet": {
                  "id": "/subscriptions/25d5d4d6-d9c8-4053-9e3f-c47c2960a69b/resourceGroups/rg-wiborisbatch/providers/Microsoft.Compute/diskEncryptionSets/netsdkdesrcxxljm7dcuk"
                }
              }
            }
          ],
          "securityProfile": {
            "securityType": "confidentialvm",
            "encryptionAtHost": false,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "proxyAgentSettings": {
              "enabled": false,
              "imds": {
                "mode": "Audit"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/SecurityProfilePool?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_usersub_account_uri": "netsdkbaussrcxxljm7dcuk.bnvalidation.batch.azure.com",
    "diskencryptionset_id": "/subscriptions/25d5d4d6-d9c8-4053-9e3f-c47c2960a69b/resourceGroups/rg-wiborisbatch/providers/Microsoft.Compute/diskEncryptionSets/netsdkdesrcxxljm7dcuk",
    "RandomSeed": "1501009073"
  }
}
