{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "PoolRemoveNodes",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/PoolRemoveNodes",
            "eTag": "0x8DD843EEA89CCF6",
            "lastModified": "2025-04-25T21:19:51.4216694Z",
            "creationTime": "2025-04-25T21:16:48.545758Z",
            "state": "deleting",
            "stateTransitionTime": "2025-04-25T21:19:51.4216694Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-04-25T21:19:56.3632411Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "ReplacePool",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD843EEE88F4A2",
        "Last-Modified": "Fri, 25 Apr 2025 21:19:58 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD843EEE88F4A2",
    [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool/updateproperties?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "certificateReferences": [],
        "applicationPackageReferences": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "version": "1"
          }
        ],
        "metadata": [
          {
            "name": "name",
            "value": "value"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool/updateproperties",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD843EF4D02EA1",
        "Last-Modified": "Fri, 25 Apr 2025 21:20:08 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ReplacePool?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "248340762"
  }
}