{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.FileShares/locations/eastus/checkNameAvailability?api-version=2026-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "type": "Microsoft.FileShares/fileShares"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    }
  ],
  "Variables": {
    "share_name": "fs-gen-5d131deb10"
  }
}
