{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "AES",
        "key_size": 256,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "59"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777635667,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777635667
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878/encrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1HQ00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "19"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "iv": "Luy3QrVxBTF1ljAC",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878",
        "tag": "Gj23rCoBKG26Uz-kAubudQ",
        "value": "-yGLm-c_1NO-r9fHjXRG7EViXzUpT4LFdrqmvdfSKpVoKvw"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A256GCM",
        "value": "-yGLm-c_1NO-r9fHjXRG7EViXzUpT4LFdrqmvdfSKpVoKvw",
        "iv": "Luy3QrVxBTF1ljAC",
        "tag": "Gj23rCoBKG26Uz-kAubudQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "alg": "A256GCM",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878",
        "value": "ZW5jcnlwdHMgYW5kIGRlY3J5cHRzIHVzaW5nIEFFUy1HQ00"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/cryptography-client-test?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777635667,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777635667
        },
        "deletedDate": 1777635672,
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "verify",
            "sign"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1778240472
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777635667,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777635667
        },
        "deletedDate": 1777635672,
        "key": {
          "key_ops": [
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify",
            "wrapKey",
            "deriveKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/cryptography-client-test/b28827f1acc205d4098e2d8ae39f5878",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/cryptography-client-test",
        "scheduledPurgeDate": 1778240472
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/cryptography-client-test?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
