{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourcegroups/rg-nneka-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg",
        "name": "rg-nneka-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2025-09-21T01:16:34.9906401+00:00",
          "Owners": "nnekaokeke",
          "ServiceDirectory": "computeschedule"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.ComputeSchedule/scheduledActions/cat-aa-3554?api-version=2025-04-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "Eastus2euap",
        "properties": {
          "resourceType": "VirtualMachine",
          "actionType": "Deallocate",
          "startTime": "2025-08-11T01:24:16.2963910Z",
          "endTime": "2025-10-11T01:24:16.2963910Z",
          "schedule": {
            "scheduledTime": "19:00:00",
            "timeZone": "UTC",
            "requestedWeekDays": [
              "All"
            ],
            "requestedMonths": [
              "All"
            ],
            "requestedDaysOfTheMonth": [],
            "executionParameters": {
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            },
            "deadlineType": "InitiateAt"
          },
          "notificationSettings": [],
          "disabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"18003ca2-0000-3300-0000-68c224c10000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.ComputeSchedule/scheduledActions/cat-aa-3554",
        "name": "cat-aa-3554",
        "type": "microsoft.computeschedule/scheduledactions",
        "location": "Eastus2euap",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-09-11T01:24:17.811915Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-09-11T01:24:17.811915Z"
        },
        "properties": {
          "resourceType": "VirtualMachine",
          "actionType": "Deallocate",
          "startTime": "2025-08-11T01:24:16.296391+00:00",
          "endTime": "2025-10-11T01:24:16.296391+00:00",
          "schedule": {
            "scheduledTime": "19:00:00",
            "timeZone": "UTC",
            "requestedWeekDays": [
              "All"
            ],
            "requestedMonths": [
              "All"
            ],
            "requestedDaysOfTheMonth": [],
            "executionParameters": {
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            },
            "deadlineType": "InitiateAt"
          },
          "notificationSettings": [],
          "disabled": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.ComputeSchedule/scheduledActions/cat-aa-3554/attachResources?api-version=2025-04-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resources": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/crud-vm66690"
          },
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/crud-vm4060"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "totalResources": 2,
        "resourcesStatuses": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/crud-vm66690",
            "status": "Succeeded"
          },
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/crud-vm4060",
            "status": "Succeeded"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.ComputeSchedule/scheduledActions/cat-aa-3554/occurrences?api-version=2025-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.ComputeSchedule/scheduledActions/cat-aa-3554/occurrences/b6a03602-ec6b-4010-90c4-28dd1805f7b0",
            "name": "b6a03602-ec6b-4010-90c4-28dd1805f7b0",
            "type": "microsoft.computeschedule/scheduledActions/occurrences",
            "properties": {
              "scheduledTime": "2025-09-11T19:00:00+00:00",
              "resultSummary": {
                "total": 2,
                "statuses": []
              },
              "provisioningState": "Scheduled"
            }
          },
          {
            "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.ComputeSchedule/scheduledActions/cat-aa-3554/occurrences/f86ffd4d-6e61-426b-ab9a-eaa2788d5488",
            "name": "f86ffd4d-6e61-426b-ab9a-eaa2788d5488",
            "type": "microsoft.computeschedule/scheduledActions/occurrences",
            "pro[...]
