{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourcegroups/rg-nneka-computeschedule?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule",
        "name": "rg-nneka-computeschedule",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "ServiceDirectory": "computeschedule",
          "Owners": "nnekaokeke",
          "NoAutoDelete": ""
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule/providers/Microsoft.ComputeSchedule/scheduledActions/create52953613?api-version=2025-04-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "Eastus2euap",
        "properties": {
          "resourceType": "VirtualMachine",
          "actionType": "Deallocate",
          "startTime": "2025-07-28T01:25:03.4889030Z",
          "endTime": "2025-09-28T01:25:03.4889030Z",
          "schedule": {
            "scheduledTime": "19:00:00",
            "timeZone": "UTC",
            "requestedWeekDays": [
              "All"
            ],
            "requestedMonths": [
              "All"
            ],
            "requestedDaysOfTheMonth": [],
            "executionParameters": {
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            },
            "deadlineType": "InitiateAt"
          },
          "notificationSettings": [],
          "disabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"02001e75-0000-3300-0000-68afaff00000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-nneka-computeschedule/providers/Microsoft.ComputeSchedule/scheduledActions/create52953613",
        "name": "create52953613",
        "type": "microsoft.computeschedule/scheduledactions",
        "location": "Eastus2euap",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-08-28T01:25:04.5305787Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-08-28T01:25:04.5305787Z"
        },
        "properties": {
          "resourceType": "VirtualMachine",
          "actionType": "Deallocate",
          "startTime": "2025-07-28T01:25:03.488903+00:00",
          "endTime": "2025-09-28T01:25:03.488903+00:00",
          "schedule": {
            "scheduledTime": "19:00:00",
            "timeZone": "UTC",
            "requestedWeekDays": [
              "All"
            ],
            "requestedMonths": [
              "All"
 [...]
