{
  "Entries": [
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-filesystem-86a5a8f6-dc17-3448-c9fc-2f4a8f393039?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA7B24ED13A63\"",
        "Last-Modified": "Fri, 01 May 2026 18:49:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://ukwxscncdm09pr01ex.blob.core.windows.net/\"><Containers><Container><Name>$web</Name><Properties><Last-Modified>Fri, 24 Apr 2026 19:41:59 GMT</Last-Modified><Etag>\"0x8DEA2398D32C654\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container><Container><Name>container1</Name><Properties><Last-Modified>Thu, 02 Apr 2026 17:51:10 GMT</Last-Modified><Etag>\"0x8DE90E06CE41237\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold[...]
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-filesystem-86a5a8f6-dc17-3448-c9fc-2f4a8f393039?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "474082138",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nukwxscncdm09pr01ex\nU2FuaXRpemVk\nhttps://ukwxscncdm09pr01ex.blob.core.windows.net\nhttps://ukwxscncdm09pr01ex.file.core.windows.net\nhttps://ukwxscncdm09pr01ex.queue.core.windows.net\nhttps://ukwxscncdm09pr01ex.table.core.windows.net\n\n\n\n\nhttps://ukwxscncdm09pr01ex-secondary.blob.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.file.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.queue.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ukwxscncdm09pr01ex.blob.core.windows.net/;QueueEndpoint=https://ukwxscncdm09pr01ex.queue.core.windows.net/;FileEndpoint=https://ukwxscncdm09pr01ex.file.core.windows.net/;BlobSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.file.core.windows.net/;AccountName=ukwxscncdm09pr01ex;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
