{
  "Entries": [
    {
      "RequestUri": "https://etsxscncdm40ptf01ax.blob.core.windows.net/test-filesystem-1c38c5fb-e057-b021-1e30-c1c449a2156a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEAFA16287D208\"",
        "Last-Modified": "Mon, 11 May 2026 21:08:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://etsxscncdm40ptf01ax.blob.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://etsxscncdm40ptf01ax.blob.core.windows.net/\"><Containers><Container><Name>session-blobfuse</Name><Properties><Last-Modified>Mon, 11 May 2026 19:13:03 GMT</Last-Modified><Etag>\"0x8DEAF91531F17D1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container><Container><Name>test-container-4eb8043d-65c8-4d00-9387-0e855342345f</Name><Properties><Last-Modified>Mon, 11 May 2026 20:12:14 GMT</Last-Modified><Etag>\"0x8DEAF9997CCCF45\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilit[...]
    {
      "RequestUri": "https://etsxscncdm40ptf01ax.blob.core.windows.net/test-filesystem-1c38c5fb-e057-b021-1e30-c1c449a2156a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "787065543",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\netsxscncdm40ptf01ax\nU2FuaXRpemVk\nhttps://etsxscncdm40ptf01ax.blob.core.windows.net\nhttps://etsxscncdm40ptf01ax.file.core.windows.net\nhttps://etsxscncdm40ptf01ax.queue.core.windows.net\nhttps://etsxscncdm40ptf01ax.table.core.windows.net\n\n\n\n\nhttps://etsxscncdm40ptf01ax-secondary.blob.core.windows.net\nhttps://etsxscncdm40ptf01ax-secondary.file.core.windows.net\nhttps://etsxscncdm40ptf01ax-secondary.queue.core.windows.net\nhttps://etsxscncdm40ptf01ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://etsxscncdm40ptf01ax.blob.core.windows.net/;QueueEndpoint=https://etsxscncdm40ptf01ax.queue.core.windows.net/;FileEndpoint=https://etsxscncdm40ptf01ax.file.core.windows.net/;BlobSecondaryEndpoint=https://etsxscncdm40ptf01ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://etsxscncdm40ptf01ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://etsxscncdm40ptf01ax-secondary.file.core.windows.net/;AccountName=etsxscncdm40ptf01ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
