{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75762653-5ff5-56af-aa85-3772026a9e0a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:30:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D80F3DCD9\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75762653-5ff5-56af-aa85-3772026a9e0a/test-blob-f1228242-d104-4ab4-bf24-b02266394e13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:30:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D8101CCD6\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:13.0742486Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75762653-5ff5-56af-aa85-3772026a9e0a/test-blob-f1228242-d104-4ab4-bf24-b02266394e13?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:30:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "bHnpODebMq7RX+Oq1zWnELxHM4V0Jrm3FelDsrL4Rl/LHsYxyt56p090IKTuCXKJfaBlHgbIn0a/MiNOV4D72BiD37lvdUbezIw1/wYVyQx2uTQSkidZAn+AcZe6K0/PeUeLaim5GgdZh1J5k58/qmkX2J1L6EXxKd057wSuI6A9Zoa+iV7jvJ8suAvV4G7fQMYuo1Oxg5ABmkFLfysDqmSxPC0ZgSEKMxv+HjA6G0luWa4+gH9Ni+L1vO4dlzxzKQ2nJKNBxr6lI284smVgx3/33CZ8xSrkY7BKI8Qy7Zzei/Uik/alLJPwmF0QFNl9lfVvJbsW9mTjwsDz96P5cjXTWidvP[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75762653-5ff5-56af-aa85-3772026a9e0a/test-blob-f1228242-d104-4ab4-bf24-b02266394e13?sv=2024-08-04&se=2024-05-02T20%3A30%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D810F114E\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:13.0742486Z"
      },
      "ResponseBody": "bHnpODebMq7RX+Oq1zWnELxHM4V0Jrm3FelDsrL4Rl/LHsYxyt56p090IKTuCXKJfaBlHgbIn0a/MiNOV4D72BiD37lvdUbezIw1/wYVyQx2uTQSkidZAn+AcZe6K0/PeUeLaim5GgdZh1J5k58/qmkX2J1L6EXxKd057wSuI6A9Zoa+iV7jvJ8suAvV4G7fQMYuo1Oxg5ABmkFLfysDqmSxPC0ZgSEKMxv+HjA6G0luWa4+gH9Ni+L1vO4dlzxzKQ2nJKNBxr6lI284smVgx3/33CZ8xSrkY7BKI8Qy7Zzei/Uik/alLJPwmF0QFNl9lfVvJbsW9mTjwsDz96P5cjXTWidvPTSIUq+SjCzM1E7[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75762653-5ff5-56af-aa85-3772026a9e0a/test-blob-f1228242-d104-4ab4-bf24-b02266394e13?sv=2024-08-04&se=2024-05-02T20%3A30%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D810F114E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D810F114E\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75762653-5ff5-56af-aa85-3772026a9e0a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:30:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:30:12.9618357-07:00",
    "RandomSeed": "792816601",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
