{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c98c65ca-08d3-b15b-d0c4-545d0364a185?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF1E7E2DE6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c98c65ca-08d3-b15b-d0c4-545d0364a185/test-blob-6943d6f8-9546-e234-1e1c-4ee74fbee619",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF1E87EAD2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:01.8235090Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c98c65ca-08d3-b15b-d0c4-545d0364a185/test-blob-6943d6f8-9546-e234-1e1c-4ee74fbee619?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "qDYeAicPQQmbLafXRuKs5T9GpPRystapzFpzJrVmgctXh7yMdqpK6JQ6zRntXZs7b2mnCBnypvVfdDXNnBtUNavcf78lIG6V\u002B7tfOOW9vG\u002B\u002BN7dLv3ixZeHGLAJ0fUx55ZhtEN7cFk/6EQxekm0QorjGDmRjCHYyKxrdX/NsIH5u5lNMT6uR4SFnUa1sUtJztolKrm7oFdwiO\u002BXE/rdcjfGO76waxFMMNC1D\u002B7bIxthHaqhpInIPhtF2KRTFzeJqC8S73mMlWPI2PXlBpRklWXQNfJQO8mp\u002Bf2japJo/RmdK2PDyDeh1IhG2M\u002B[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c98c65ca-08d3-b15b-d0c4-545d0364a185/test-blob-6943d6f8-9546-e234-1e1c-4ee74fbee619?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF1E91FB74\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:01.8235090Z"
      },
      "ResponseBody": "qDYeAicPQQmbLafXRuKs5T9GpPRystapzFpzJrVmgctXh7yMdqpK6JQ6zRntXZs7b2mnCBnypvVfdDXNnBtUNavcf78lIG6V\u002B7tfOOW9vG\u002B\u002BN7dLv3ixZeHGLAJ0fUx55ZhtEN7cFk/6EQxekm0QorjGDmRjCHYyKxrdX/NsIH5u5lNMT6uR4SFnUa1sUtJztolKrm7oFdwiO\u002BXE/rdcjfGO76waxFMMNC1D\u002B7bIxthHaqhpInIPhtF2KRTFzeJqC8S73mMlWPI2PXlBpRklWXQNfJQO8mp\u002Bf2japJo/RmdK2PDyDeh1IhG2M\u002BX5zeG3UM\u002BfuFFOXBlZPV76SrRX9vYR9swpM0yMmFmCV7\u002BFhbGGIlPKoI0W/HzWmNCJetdcXzzu59cVjh2DEyD3ywRZ1LetcyhhjFZo\u002B/lQUpp8Ah2CJviCl57ZcZQ1R4xtHzF4fcQY2wav\u002B9LmhevdxTyDBhADdKUL1z0Y0wKTK0TJ\u002B9zI19XVYyYW0yolnBGy\u002B6xYskF8aqqLbKaH/wcEG8\u002BOHIkPFe1nraPp7KB65TorZthVO3gDTZExPGsuTmMeErhal3\u002BIo\u002Ba/8QSdkn0KEIdrXJkvruBXis/33tiBOF8/ytnoIE27osPylkpzZboTJyvkw/HJ72PYAw2vkMQNPbmlXsikIfA5r7nWPReV4yUV5LY="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c98c65ca-08d3-b15b-d0c4-545d0364a185/test-blob-6943d6f8-9546-e234-1e1c-4ee74fbee619?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF1E91FB74\u0022",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF1E91FB74\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
      [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c98c65ca-08d3-b15b-d0c4-545d0364a185?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:00.5646387-07:00",
    "RandomSeed": "2001210785",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
