{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f20c1acf-e31a-0b7d-7791-222bcf4e7831?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF283DC318\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f20c1acf-e31a-0b7d-7791-222bcf4e7831/test-blob-c56a7ce8-bd4b-85b2-044e-ef005ffc911b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF284838FF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:18.1832959Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f20c1acf-e31a-0b7d-7791-222bcf4e7831/test-blob-c56a7ce8-bd4b-85b2-044e-ef005ffc911b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "YYOU9VPt1bpufil2O/Ip\u002B7EPmP3xalLZKHWHDAIOymom88IQcnMg\u002B6avVsyTO0oRJfNOT2OUKfYxus3eZci3YLS\u002BUEgwGIk97p1WQhSFRewrdeYPwHoHkcnL37imQpXd9/YY1OsB4A1qEGDGPefiq3Thsu/iqJ86t75/ZTjQl6sHeEodbXEAKZXZpa8ZQFTh6TNDxZCm\u002B09W3h0tgnvUmXm0v8SdxD4D4IlaCALwIHZqnXsFjdIbYX36x49T06YZBAw2ZIGPRCT0P\u002BQGS/NMZr2mwuX/zwummF5Hov2vrw3iQAP2ubv121lXEE7uFRWKrWHR[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f20c1acf-e31a-0b7d-7791-222bcf4e7831/test-blob-c56a7ce8-bd4b-85b2-044e-ef005ffc911b?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A16Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF2851D49D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:18.1832959Z"
      },
      "ResponseBody": "YYOU9VPt1bpufil2O/Ip\u002B7EPmP3xalLZKHWHDAIOymom88IQcnMg\u002B6avVsyTO0oRJfNOT2OUKfYxus3eZci3YLS\u002BUEgwGIk97p1WQhSFRewrdeYPwHoHkcnL37imQpXd9/YY1A=="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f20c1acf-e31a-0b7d-7791-222bcf4e7831/test-blob-c56a7ce8-bd4b-85b2-044e-ef005ffc911b?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A16Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF2851D49D\u0022",
        "x-ms-range": "bytes=700-899",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 700-899/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF2851D49D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:18.1832959Z"
      },
      "ResponseBody": "bsuMJgjMofKloyCk1cur9VYcPLiLnfd/4kpggqx9XSe/YvfjLqo3CkzLjU8GNqfpSZiB05LQxdDTDUS\u002BbB5FKEX55XPUyMar5DJrvxCneaujdjkU/IqV7pwmDyFleZ0uhmQKDVEzFYHR1e5gZAa/LJSZGvblMCy6Y/bWrbikRmuUPTmrnGxab2C4QyacNYqWZuKNzF6nSFU4T6laXGfILI\u002BCyyfMFI8nPquVLO0FHS5sQEbWF3kM7PTjc03C/xL58BaXGmliyVI="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f20c1acf-e31a-0b7d-7791-222bcf4e7831?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:16.8702782-07:00",
    "RandomSeed": "1985418724",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
