{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-348a89ef-f1aa-35f6-90c7-fa93f342d362?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2D3C43C6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-348a89ef-f1aa-35f6-90c7-fa93f342d362/test-blob-d84f4268-9550-7838-64ff-e1d5638784a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2D45E27D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:26.5565821Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-348a89ef-f1aa-35f6-90c7-fa93f342d362/test-blob-d84f4268-9550-7838-64ff-e1d5638784a9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "DYAGbpfKW5nv/DHf5KfzhAuAESbJ\u002B0AqvhMKavP2KnXqvMfigRURWfLK3NEMpFYl8x02zdzuXBJA26\u002BEv/Gm\u002BdG79CjgEAP1brgz/h9uHRq85HbVv12Z/F\u002B1oqVljZkBI\u002BIAUa8uReIaQV4kul3z0b6Vx9t60Dp0IvjJK25dj\u002BEeMto8bstrjp6Uu33\u002BdUEBwdHn0Ma\u002BhlOnjC\u002B3ZBpzvbJ8BYiDtmLyKTg85hW9day3yGmddb4bYKuHlOKcsyqDIP7Lgm\u002B4fgtu9KaNgqA96haCAJyx1kfzYaXd\u002By[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-348a89ef-f1aa-35f6-90c7-fa93f342d362/test-blob-d84f4268-9550-7838-64ff-e1d5638784a9?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF2D50B65A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:26.5565821Z"
      },
      "ResponseBody": "DYAGbpfKW5nv/DHf5KfzhAuAESbJ\u002B0AqvhMKavP2KnXqvMfigRURWfLK3NEMpFYl8x02zdzuXBJA26\u002BEv/Gm\u002BdG79CjgEAP1brgz/h9uHRq85HbVv12Z/F\u002B1oqVljZkBI\u002BIAUa8uReIaQV4kul3z0b6Vx9t60Dp0IvjJK25dj\u002BEeMto8bstrjp6Uu33\u002BdUEBwdHn0Ma\u002BhlOnjC\u002B3ZBpzvbJ8BYiDtmLyKTg85hW9day3yGmddb4bYKuHlOKcsyqDIP7Lgm\u002B4fgtu9KaNgqA96haCAJyx1kfzYaXd\u002ByF/VnYOuMUW8fM8[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-348a89ef-f1aa-35f6-90c7-fa93f342d362/test-blob-d84f4268-9550-7838-64ff-e1d5638784a9?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF2D50B65A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF2D50B65A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
       [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-348a89ef-f1aa-35f6-90c7-fa93f342d362?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:25.2815188-07:00",
    "RandomSeed": "1680063083",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
