{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a830f9e4-6c33-24ab-178b-688685e73583?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FBEA3CE1B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a830f9e4-6c33-24ab-178b-688685e73583/test-blob-1a186d96-fe19-9b3e-c100-810a29962663",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FBEB0CD56\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:31.7471062Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a830f9e4-6c33-24ab-178b-688685e73583/test-blob-1a186d96-fe19-9b3e-c100-810a29962663?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "bi7JPFfHoViwOIIVbtFzo8jdfd0HgJvmwR9OSk6KNgQVF+JljBL9kyD6AZ2MqkoxyEN9sqhpU+6T4no4eFcKJgJ9/1fvDRe14Om8DX/+WRfUHIEKDYNcrMPz0qmYxBrJ79ubD6rzQrssx9K+rUZulYljY1vWABh+IVOT+zttHRvO8h2jYkpt4drG3kWxnf99hD0gNGC/8+/CHe1XYEaAvqq28LooyzI+9oGBDyHSzYRUFXb9TOi6D/8t4UVdFYGURh+b+qxEVLkL4j7ePuPN709pA0rPgnHB++C6+uns4eAA7MkBNtLXD8C98mqq3NEbYPH18xI3xMOu2v7MiVrPHgBd3lEay[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a830f9e4-6c33-24ab-178b-688685e73583/test-blob-6676f956-9051-9e7d-0d91-56d43d233566?sv=Sanitized&se=2024-06-08T01%3A18%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FBEE371C5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:32.0070200Z"
      },
      "ResponseBody": "GiJ0JkoX381fc8Ot4e+ehRbSRznoiaZhskGBW1I0M+uoBLek72kBPxqpB93M0Lwd8tC+atv8fZF7EnQIloR6KkDYBNw4+pas0QgfP4LJleGFY2iCdsgQrIYlKNz1+aiWLtyc9Mvf5Pc6EZnS3T0Psn2SgzIb+LR4yFhWEtK5t9hfiRGlLaEVpX5wR2QvPc9JFXVfY3V2ejYnJCtzidIlgFnBc1MsaYXcfN6zqrBPSYuIDf1cWlRi6Q7afQh1oRusS8YLbcl7HKvwg+aXwtCF2Nug63zUyCYFXopFUet8Z9rDBl/pRNvBDfBRbNduyyY+VaUt1Lae14OgBQ4/Ncq/cxsL1LxwnJP/392Mg1tPl5N[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a830f9e4-6c33-24ab-178b-688685e73583/test-blob-6676f956-9051-9e7d-0d91-56d43d233566?sv=Sanitized&se=2024-06-08T01%3A18%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FBEE371C5\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FBEE371C5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a830f9e4-6c33-24ab-178b-688685e73583?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:30.4325742-05:00",
    "RandomSeed": "256203115",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
