{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0cee3be1-8939-37b9-872b-35850914c722?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FBF3AD217\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0cee3be1-8939-37b9-872b-35850914c722/test-blob-3c8cd562-aaa9-1e54-4250-b2bcef40336f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FBF46E60D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:32.7307789Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0cee3be1-8939-37b9-872b-35850914c722/test-blob-3c8cd562-aaa9-1e54-4250-b2bcef40336f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5rQg/9nKugwP/Vuodg5hOR/OFi+KCNe6tRy6F5qnc1Y42wOI/13xmBqALaxPq6c073mdISoD5d3cZUm8EKJxZ4kEcJsK2DnB3H4UCdsrawl0hSghClIsNPYmq5kTNYd3D8UiSjsMKRY/20Sr79sCsfpASIp5T1031zuk5C2grqf2nPoVCSDOaFsS4i8NgEQbI/qf0+39/r9o63L/aEXonyydtVLg7KjZct8uZ20uKVb2iMAyAdq6+Z47rR2tzv8WKUMCb8vyOzZSxWENzpZSOcEcCN+Etp5R47yzpD+KLKTgGD0pLLqLBEyK4Dt5rCoH6XRckcUfkXOlsIwPPpb3yJm9LbZZK[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0cee3be1-8939-37b9-872b-35850914c722/test-blob-3c8cd562-aaa9-1e54-4250-b2bcef40336f?sv=Sanitized&se=2024-06-08T01%3A18%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FBF5256C4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:32.7307789Z"
      },
      "ResponseBody": "5rQg/9nKugwP/Vuodg5hOR/OFi+KCNe6tRy6F5qnc1Y42wOI/13xmBqALaxPq6c073mdISoD5d3cZUm8EKJxZ4kEcJsK2DnB3H4UCdsrawl0hSghClIsNPYmq5kTNYd3D8UiSjsMKRY/20Sr79sCsfpASIp5T1031zuk5C2grqf2nPoVCSDOaFsS4i8NgEQbI/qf0+39/r9o63L/aEXonyydtVLg7KjZct8uZ20uKVb2iMAyAdq6+Z47rR2tzv8WKUMCb8vyOzZSxWENzpZSOcEcCN+Etp5R47yzpD+KLKTgGD0pLLqLBEyK4Dt5rCoH6XRckcUfkXOlsIwPPpb3yJm9LbZZKA0HkAST+tVi2Da[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0cee3be1-8939-37b9-872b-35850914c722/test-blob-3c8cd562-aaa9-1e54-4250-b2bcef40336f?sv=Sanitized&se=2024-06-08T01%3A18%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FBF5256C4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FBF5256C4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0cee3be1-8939-37b9-872b-35850914c722?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:31.3064996-05:00",
    "RandomSeed": "214046876",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
