{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e554a3a-8eb7-8cbf-f428-e5c0f41e7cdb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D102E5C33E5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e554a3a-8eb7-8cbf-f428-e5c0f41e7cdb/test-blob-840dda5d-f6d1-e44a-85e5-111548f121f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D102E642DB3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e554a3a-8eb7-8cbf-f428-e5c0f41e7cdb/test-blob-840dda5d-f6d1-e44a-85e5-111548f121f5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "xbsZZa9oI35/l/PC5P9jUHBqcJDx31ixRYqP0lj6HPUAfABR88st9LeOBDkChwCFgsGl3oGQA+VjZx8k2VAlhXr+wmf/EV2lPXvZY9serr6JCVCXVT5zb3ga7ourCBtmaH6/BMSZhnBk/6EFt6AKRLhhmtD/ji88ilLu5CLR+TRgcvpcX6r58ILfMlWdbrfYD6nSSW5KZtpPgnpxqqJNkwZspUSmruQOaKlNIFvanxyaFtR4/q/GFQwfDdwwh0bgkp9PMMhzMWHFxOHE/UZ/deNe1pPN1JRWppA4hqAI3uBibY27im9TJ+RyszrOARjGn5j50bCzEr0K+Ik4O6vBvOUAYo+4x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e554a3a-8eb7-8cbf-f428-e5c0f41e7cdb/test-blob-840dda5d-f6d1-e44a-85e5-111548f121f5?sv=Sanitized&se=2025-03-08T00%3A37%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D102E6CFD78\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "xbsZZa9oI35/l/PC5P9jUHBqcJDx31ixRYqP0lj6HPUAfABR88st9LeOBDkChwCFgsGl3oGQA+VjZx8k2VAlhXr+wmf/EV2lPXvZY9serr6JCVCXVT5zb3ga7ourCBtmaH6/BA=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e554a3a-8eb7-8cbf-f428-e5c0f41e7cdb/test-blob-840dda5d-f6d1-e44a-85e5-111548f121f5?sv=Sanitized&se=2025-03-08T00%3A37%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D102E6CFD78\"",
        "x-ms-range": "bytes=100-299",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 100-299/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D102E6CFD78\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "xJmGcGT/oQW3oApEuGGa0P+OLzyKUu7kItH5NGBy+lxfqvnwgt8yVZ1ut9gPqdJJbkpm2k+CenGqok2TBmylRKau5A5oqU0gW9qfHJoW1Hj+r8YVDB8N3DCHRuCSn08wyHMxYcXE4cT9Rn91417Wk83UlFamkDiGoAje4GJtjbuKb1Mn5HKzOs4BGMafmPnRsLMSvQr4iTg7q8G85QBij7jE6nQKr65aIVqIpXhx5ggODDCvWtCwkuUb7Dmx9lTNnogO266FxwE="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e554a3a-8eb7-8cbf-f428-e5c0f41e7cdb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:37:03.6795370-08:00",
    "RandomSeed": "62717235",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
