{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a295211e-074e-9bf9-618e-8b39ea0272c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FB814335C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a295211e-074e-9bf9-618e-8b39ea0272c0/test-blob-69f21848-e45d-bfe2-18ad-718bc05dcd97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FB822E4B2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:20.7507634Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a295211e-074e-9bf9-618e-8b39ea0272c0/test-blob-69f21848-e45d-bfe2-18ad-718bc05dcd97?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Tqq8mdlnfl1zojt29SmqXyDLQu1WypCuZ0Q0/zTWGqC2/gL1uDOXE7ku7YAnv6hfXoLJuRiDwIQaDTKVMn4onIebv/YmtafsNC80J90Phqeb1aGyDWCIMz5+26oBAuA6BlD4jP+xOKnb3IXpTpimCoeK+V3ddY8nE4y4qNn86zJO+iGMFvmn6pz31zDbnuSl19AjdgiDXJDA0Xlz+JDP3vFTmlR3GfSN4g/B5p5eTHSnE9AI2XQpy52QzER/M/ELKPg/iASQLb3clZP5wXbxYYUFzOS/xwV8Kc62502vDa8dtb2mH8RwFuYSK0TgMAknnmq/emcMS2Dyw1412UZwLIfk3Ay4S[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a295211e-074e-9bf9-618e-8b39ea0272c0/test-blob-69f21848-e45d-bfe2-18ad-718bc05dcd97?sv=Sanitized&se=2024-06-08T01%3A18%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FB82E5569\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:20.7507634Z"
      },
      "ResponseBody": "Tqq8mdlnfl1zojt29SmqXyDLQu1WypCuZ0Q0/zTWGqC2/gL1uDOXE7ku7YAnv6hfXoLJuRiDwIQaDTKVMn4onIebv/YmtafsNC80J90Phqeb1aGyDWCIMz5+26oBAuA6BlD4jP+xOKnb3IXpTpimCoeK+V3ddY8nE4y4qNn86zJO+iGMFvmn6pz31zDbnuSl19AjdgiDXJDA0Xlz+JDP3vFTmlR3GfSN4g/B5p5eTHSnE9AI2XQpy52QzER/M/ELKPg/iASQLb3clZP5wXbxYYUFzOS/xwV8Kc62502vDa8dtb2mH8RwFuYSK0TgMAknnmq/emcMS2Dyw1412UZwLIfk3Ay4S0LBlbX+rZvBm/n[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a295211e-074e-9bf9-618e-8b39ea0272c0/test-blob-69f21848-e45d-bfe2-18ad-718bc05dcd97?sv=Sanitized&se=2024-06-08T01%3A18%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FB82E5569\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FB82E5569\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a295211e-074e-9bf9-618e-8b39ea0272c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:19.3259677-05:00",
    "RandomSeed": "1854414203",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
