{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a75e8c-3c31-da6c-bbf0-164aadcffc88?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FA8D8F13C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a75e8c-3c31-da6c-bbf0-164aadcffc88/test-blob-af13226c-2c67-e99d-32e5-6a0cd12eb4f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FA8E6368A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:17:55.1872650Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a75e8c-3c31-da6c-bbf0-164aadcffc88/test-blob-af13226c-2c67-e99d-32e5-6a0cd12eb4f8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "okigIv2dwrC2RCW+hYRy7MAgh5H1kQI0quQGDTKGD4k+YYPG9wro+Ply9U0KbVqM3pEBlhzZiBBFbHgYl7V9MDWbgCQAq/W2N46Xg5y0KjyJeS+hhHltZNhygYuS0GFE9MUYbu02izKcS16NQQV0kEE7jh2G3Ku8LRtLjippJGctU47XnLtPU+38BDka4CLT/fBKV0FDvhgZW0HR6/0IMif2X+53nfSF6zswiddyoU35eJE6H80l6pR1vUB6fmjw89ESJIE0W1/7xGsGEjRBp7nz2HJrzhNZ0XRZAd+zC2zTP5YFX33MxBwxPlphH9dgNBaGhqb1hCW+uFIM2lp/SLn/MtOeO[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a75e8c-3c31-da6c-bbf0-164aadcffc88/test-blob-af13226c-2c67-e99d-32e5-6a0cd12eb4f8?sv=Sanitized&se=2024-06-08T01%3A17%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FA8F306B6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:17:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:17:55.1872650Z"
      },
      "ResponseBody": "okigIv2dwrC2RCW+hYRy7MAgh5H1kQI0quQGDTKGD4k+YYPG9wro+Ply9U0KbVqM3pEBlhzZiBBFbHgYl7V9MDWbgCQAq/W2N46Xg5y0KjyJeS+hhHltZNhygYuS0GFE9MUYbu02izKcS16NQQV0kEE7jh2G3Ku8LRtLjippJGctU47XnLtPU+38BDka4CLT/fBKV0FDvhgZW0HR6/0IMif2X+53nfSF6zswiddyoU35eJE6H80l6pR1vUB6fmjw89ESJIE0W1/7xGsGEjRBp7nz2HJrzhNZ0XRZAd+zC2zTP5YFX33MxBwxPlphH9dgNBaGhqb1hCW+uFIM2lp/SLn/MtOeO0c8JxNVOo+4+LG[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a75e8c-3c31-da6c-bbf0-164aadcffc88/test-blob-af13226c-2c67-e99d-32e5-6a0cd12eb4f8?sv=Sanitized&se=2024-06-08T01%3A17%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FA8F306B6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FA8F306B6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c9a75e8c-3c31-da6c-bbf0-164aadcffc88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:17:53.7795299-05:00",
    "RandomSeed": "1685268273",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
