{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f5969e7-984c-4496-388a-c229bbd7bb19?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF1FBBABE3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f5969e7-984c-4496-388a-c229bbd7bb19/test-blob-e4f46505-1477-5c39-654f-c7dc80ea447b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF1FC56D2C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:03.9043372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f5969e7-984c-4496-388a-c229bbd7bb19/test-blob-e4f46505-1477-5c39-654f-c7dc80ea447b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "rvmmm8iFkCXViJGv3omDlkgUGoPoEyxBSl8eqWfSYJuC1y6HQ6myminK12oxa7c9SxUe565JB5vMZFBoZ\u002Be9Ayf2LQdb/FKfYYBZHTzBEN\u002Bo4F5Ss3jtOM\u002BSut9YSTJCDNNDOz6v4U/Df4Yt8OpeC1RwwIaIa0\u002BuCPQ3yEFzRhdNFhBoftSh\u002BP8PjjPyv0jkM6\u002BL6ImsuaGDlDNJdxkNUDlu4NnZ9YyAz8eHedwbvEmrU5SS512OoV1v5eqhV4DmAT76g99vCz4iCxnBJD/EZ9jpniSEe2jb4D58ahCi3ndHoXieIThqPEdWb9xEzH0[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f5969e7-984c-4496-388a-c229bbd7bb19/test-blob-e4f46505-1477-5c39-654f-c7dc80ea447b?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A02Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF1FCEE1AF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:03.9043372Z"
      },
      "ResponseBody": "rvmmm8iFkCXViJGv3omDlkgUGoPoEyxBSl8eqWfSYJuC1y6HQ6myminK12oxa7c9SxUe565JB5vMZFBoZ\u002Be9Ayf2LQdb/FKfYYBZHTzBEN\u002Bo4F5Ss3jtOM\u002BSut9YSTJCDNNDOz6v4U/Df4Yt8OpeC1RwwIaIa0\u002BuCPQ3yEFzRhdNFhBoftSh\u002BP8PjjPyv0jkM6\u002BL6ImsuaGDlDNJdxkNUDlu4NnZ9YyAz8eHedwbvEmrU5SS512OoV1v5eqhV4DmAT76g99vCz4iCxnBJD/EZ9jpniSEe2jb4D58ahCi3ndHoXieIThqPEdWb9xEzH0dqn0St7lbYYbVH[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f5969e7-984c-4496-388a-c229bbd7bb19/test-blob-e4f46505-1477-5c39-654f-c7dc80ea447b?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A02Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF1FCEE1AF\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF1FCEE1AF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
       [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8f5969e7-984c-4496-388a-c229bbd7bb19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:02.5747939-07:00",
    "RandomSeed": "2054777224",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
