{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-272f23a0-a67d-2f54-6f1f-eace75076b40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:30:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D86E7C18B\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-272f23a0-a67d-2f54-6f1f-eace75076b40/test-blob-7bdd368a-78e2-4a3f-9017-4bc053030685",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:30:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D86F6CE58\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:23.0685272Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-272f23a0-a67d-2f54-6f1f-eace75076b40/test-blob-7bdd368a-78e2-4a3f-9017-4bc053030685?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:30:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1STG8gsEmkthm1SEpRiOIsa5UlPrEw0EkhIG5HMFMu/AZeouPBN6mdG+cYYxHiZcb+J0Xk4C+sIXwmD5/rbYXGhlwz8tYOWyPrmCLKGG03PsqXSQkNSgvmsnF3qzgJsa5hQey1vmLg/9wR+VgM0gkO7tDFRCR8uTxQXUBUhq/r0dZ0aMZwcYBnpkk8+1Cz2eB4aLxnRG2J9IigZVESnHksJhdxmHlCnm1Aba3rP83rrINv7B3jhJ146nQ9wBw/RRnQEMU5MjFnJdpfFtbPrrTKxMjNsqBbOKF6CL4FBM5RESiEGy74ompR+LZDlG3GqUu/cwtTYYJ5dNgjzylzYiEb/gWuS5O[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-272f23a0-a67d-2f54-6f1f-eace75076b40/test-blob-7bdd368a-78e2-4a3f-9017-4bc053030685?sv=2024-08-04&se=2024-05-02T20%3A30%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D8705C04A\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:23.0685272Z"
      },
      "ResponseBody": "1STG8gsEmkthm1SEpRiOIsa5UlPrEw0EkhIG5HMFMu/AZeouPBN6mdG+cYYxHiZcb+J0Xk4C+sIXwmD5/rbYXGhlwz8tYOWyPrmCLKGG03PsqXSQkNSgvmsnF3qzgJsa5hQey1vmLg/9wR+VgM0gkO7tDFRCR8uTxQXUBUhq/r0dZ0aMZwcYBnpkk8+1Cz2eB4aLxnRG2J9IigZVESnHksJhdxmHlCnm1Aba3rP83rrINv7B3jhJ146nQ9wBw/RRnQEMU5MjFnJdpfFtbPrrTKxMjNsqBbOKF6CL4FBM5RESiEGy74ompR+LZDlG3GqUu/cwtTYYJ5dNgjzylzYiEb/gWuS5OVwiJea8nqF6Qzo[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-272f23a0-a67d-2f54-6f1f-eace75076b40/test-blob-7bdd368a-78e2-4a3f-9017-4bc053030685?sv=2024-08-04&se=2024-05-02T20%3A30%3A23Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D8705C04A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D8705C04A\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-272f23a0-a67d-2f54-6f1f-eace75076b40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:30:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:30:23.0065098-07:00",
    "RandomSeed": "1421935531",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
