{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd627b6-01c1-a459-6377-02a3d080cfb5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF26770645\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd627b6-01c1-a459-6377-02a3d080cfb5/test-blob-8ff49953-e0d5-db0d-7ba2-7c8a0768fe1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2683BFD6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:15.2179670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd627b6-01c1-a459-6377-02a3d080cfb5/test-blob-8ff49953-e0d5-db0d-7ba2-7c8a0768fe1d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "zd1jXjjv0y3hMhsNp8v3tJs8ngxRGk5gZWxjPqM2c/QrFRJeJTyEY8XHraPF/zOvq8juysnxzLKPA/jMi5WJqr8m4ZK5mI9fuDtHimyrm2Y5tJPbSKgqOkhfzyJEt9cwPQPjnh2g9RI5jxKOqUJG5GiSk9cBrmIW/KdJWslsGgBjF01px/xImL6AobiVnJAGGeq5siT/Lo6hzKJ2VptJzHUSKpL13B1rSfoYgAypgV8WQ0Hes2jbY\u002Bi\u002Bx/pa0kEjN9VDg3H9ETzNTWgp5q2B90tCXxNaahgMNsapNhUiEXa59Ug3Zv3uGTEEEWX/snw6PdCvGHMuyc28NkyqU9o[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd627b6-01c1-a459-6377-02a3d080cfb5/test-blob-8ff49953-e0d5-db0d-7ba2-7c8a0768fe1d?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A13Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF268D8266\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:15.2179670Z"
      },
      "ResponseBody": "zd1jXjjv0y3hMhsNp8v3tJs8ngxRGk5gZWxjPqM2c/QrFRJeJTyEY8XHraPF/zOvq8juysnxzLKPA/jMi5WJqr8m4ZK5mI9fuDtHimyrm2Y5tJPbSKgqOkhfzyJEt9cwPQPjnh2g9RI5jxKOqUJG5GiSk9cBrmIW/KdJWslsGgBjF01px/xImL6AobiVnJAGGeq5siT/Lo6hzKJ2VptJzHUSKpL13B1rSfoYgAypgV8WQ0Hes2jbY\u002Bi\u002Bx/pa0kEjN9VDg3H9ETzNTWgp5q2B90tCXxNaahgMNsapNhUiEXa59Ug3Zv3uGTEEEWX/snw6PdCvGHMuyc28NkyqU9onqjzxcPFlSpBNU[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd627b6-01c1-a459-6377-02a3d080cfb5/test-blob-8ff49953-e0d5-db0d-7ba2-7c8a0768fe1d?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A13Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF268D8266\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF268D8266\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
       [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bbd627b6-01c1-a459-6377-02a3d080cfb5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:13.9092248-07:00",
    "RandomSeed": "1576835605",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
