{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7268f5f-9ed6-c931-d4e7-e5fb1dc93f0c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF297F9BF1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7268f5f-9ed6-c931-d4e7-e5fb1dc93f0c/test-blob-498d86da-27ce-9f3a-e26f-20c82e75276f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2988EF48\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:20.2851144Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7268f5f-9ed6-c931-d4e7-e5fb1dc93f0c/test-blob-498d86da-27ce-9f3a-e26f-20c82e75276f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "hpYOhRFf8ro23JgqtdhyE/iTg/Q07jt/bD0s6NgcgN1xsjREIclIDOF0b3r\u002BcX\u002BteeRO5o09\u002BJhbjxjUMwrhGly7uAKkLfEuS3YSv37AgPu9fm70zZlPM7qc6ZKxdNjXk1UeQ7h8CUvyH5sWKzgZmg4cFrSb7EzCa4RICERffdadOywpojxDQXUiAq7\u002BOAiBgk\u002BDlF0kO6YIW9czNAEHk6HEefAM7/fS2dU/eeqdwzN8xoX12\u002Bl4ef\u002BGIEZkDw10G28NOr8YdZJXsbqI5MK7a5ekt217Ere3S//whs\u002BxbcrHy156kIl0Z[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7268f5f-9ed6-c931-d4e7-e5fb1dc93f0c/test-blob-498d86da-27ce-9f3a-e26f-20c82e75276f?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A18Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF2995708A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:20.2851144Z"
      },
      "ResponseBody": "hpYOhRFf8ro23JgqtdhyE/iTg/Q07jt/bD0s6NgcgN1xsjREIclIDOF0b3r\u002BcX\u002BteeRO5o09\u002BJhbjxjUMwrhGly7uAKkLfEuS3YSv37AgPu9fm70zZlPM7qc6ZKxdNjXk1UeQ7h8CUvyH5sWKzgZmg4cFrSb7EzCa4RICERffdadOywpojxDQXUiAq7\u002BOAiBgk\u002BDlF0kO6YIW9czNAEHk6HEefAM7/fS2dU/eeqdwzN8xoX12\u002Bl4ef\u002BGIEZkDw10G28NOr8YdZJXsbqI5MK7a5ekt217Ere3S//whs\u002BxbcrHy156kIl0ZFHznSou8JQ8yrW[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a7268f5f-9ed6-c931-d4e7-e5fb1dc93f0c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:18.9751541-07:00",
    "RandomSeed": "1198871290",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
