{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08416bdd-5ce7-deb6-2717-5ceec45e510e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF372D75DB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08416bdd-5ce7-deb6-2717-5ceec45e510e/test-blob-32bfbc42-2cb0-d8bf-2804-e33583695994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF373BDF09\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:43.2681737Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08416bdd-5ce7-deb6-2717-5ceec45e510e/test-blob-32bfbc42-2cb0-d8bf-2804-e33583695994?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Vf1cb79k5S9TjhiNB9TeY3wqGc68sTg0nkgRcO4krSiIC8DMFGh/sbBN86LmXIzTyX7FLvPhZ6TEJ9B3UnVALuHvBPwUEU4Uqmcdb72WTkK8PqZwX341p6MbB\u002ByXCF47DMXA91iQv7cvsIOLw/jnLtmOuxTO0M5iuVxY\u002BAphfaIJ4mL31VbpK3/uQK/7quSrNNkTCE1JbDz2Xj77N8atzTPhgeGV71iDpI\u002BU348fZw54rcMwTnRUwHYmAXcY7vS4QXJ8GSkDFUWBj2S\u002BtYys1/Ywg4oDfX6\u002BjMFqbu7garab254cok3kdZd\u002Br78Qlgr[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08416bdd-5ce7-deb6-2717-5ceec45e510e/test-blob-32bfbc42-2cb0-d8bf-2804-e33583695994?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF37463DBA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:43.2681737Z"
      },
      "ResponseBody": "Vf1cb79k5S9TjhiNB9TeY3wqGc68sTg0nkgRcO4krSiIC8DMFGh/sbBN86LmXIzTyX7FLvPhZ6TEJ9B3UnVALuHvBPwUEU4Uqmcdb72WTkK8PqZwX341p6MbB\u002ByXCF47DMXA91iQv7cvsIOLw/jnLtmOuxTO0M5iuVxY\u002BAphfaIJ4mL31VbpK3/uQK/7quSrNNkTCE1JbDz2Xj77N8atzTPhgeGV71iDpI\u002BU348fZw54rcMwTnRUwHYmAXcY7vS4QXJ8GSkDFUWBj2S\u002BtYys1/Ywg4oDfX6\u002BjMFqbu7garab254cok3kdZd\u002Br78QlgrpeimB6GpptcPzv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08416bdd-5ce7-deb6-2717-5ceec45e510e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:41.9795984-07:00",
    "RandomSeed": "623049818",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
