{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f6601dfa-41a3-b10b-025e-f467104541e2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D90D2318A\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f6601dfa-41a3-b10b-025e-f467104541e2/test-blob-8b9345ea-8592-ba27-dd5c-08f4a6184d02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D90E1A2C7\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:39.7070023Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f6601dfa-41a3-b10b-025e-f467104541e2/test-blob-8b9345ea-8592-ba27-dd5c-08f4a6184d02?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1PlDEwkXYTncBSywgy2lWaqKMDKYSlJC8jmPAJ8qrPWosMrajYASZQdPDIEpNnhSYUYupoj2SImnASDPiGCasVk2CNJiy8wpeMsrSD7RGbzAPJ9Z+wVtsWhBMoxfQt2mtVoo8i2m8JZ5BC69yv9L1uhkD0vBQLVUyFZpIZg/yTXthJPjqCaOGkwI3/fWsOdo9Vyk+zOR5XSl1CnWPM7+Ojr5z0ZrZy3B1fX/uWG+fRhvACs7m84CW58fPtT8uN1+CaW83eCg/I4v4iU9kisS5lYRZzuiw55s9nOnTClYxR0Yga+7AqA3zgSdC7mpxMlzDFd961Ch20YHT+Zt+bBl1h0HJRF8V[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f6601dfa-41a3-b10b-025e-f467104541e2/test-blob-8b9345ea-8592-ba27-dd5c-08f4a6184d02?sv=2024-08-04&se=2024-05-02T20%3A30%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D90F0469C\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:39.7070023Z"
      },
      "ResponseBody": "1PlDEwkXYTncBSywgy2lWaqKMDKYSlJC8jmPAJ8qrPWosMrajYASZQdPDIEpNnhSYUYupoj2SImnASDPiGCasVk2CNJiy8wpeMsrSD7RGbzAPJ9Z+wVtsWhBMoxfQt2mtVoo8i2m8JZ5BC69yv9L1uhkD0vBQLVUyFZpIZg/yTXthJPjqCaOGkwI3/fWsOdo9Vyk+zOR5XSl1CnWPM7+Ojr5z0ZrZy3B1fX/uWG+fRhvACs7m84CW58fPtT8uN1+CaW83eCg/I4v4iU9kisS5lYRZzuiw55s9nOnTClYxR0Yga+7AqA3zgSdC7mpxMlzDFd961Ch20YHT+Zt+bBl1h0HJRF8V+S12Zg3BbjlwjG[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f6601dfa-41a3-b10b-025e-f467104541e2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:30:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:30:39.6401929-07:00",
    "RandomSeed": "1208278934",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
