{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ed8f4fc-c1e8-1612-b5f8-5410bca6e437?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FB3E9DCC6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ed8f4fc-c1e8-1612-b5f8-5410bca6e437/test-blob-2233b0bf-ea91-ee5d-3501-f9d873d44a48",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FB3F6FB12\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:13.7520914Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ed8f4fc-c1e8-1612-b5f8-5410bca6e437/test-blob-2233b0bf-ea91-ee5d-3501-f9d873d44a48?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eLLlNL/TwjVrY3/MpMJZLSKaI52acJzWZjVtBg1nb5GdJ8bMBLGSGjtKON49vO60cWj4qwrh+AgVDs6KZrwoBPPtL338jClxCAlhTze+mKlGuJSkb8OHuy69tvbiCLN/IjTqUI1xuOQ/hqMAgKjRV3UkQ64ng5UvZXROPtYzjgBV4i0D00gb1f+vZegghzuF7F+AvcQFV5+euusZInoODPeiq517zoMtCW6udx2sD904yFJ3stA7T4uNZBhdArKFoVnxfdydCR3bU7RWV9+B8asN4Fool1kmZlsS7mlr0Aa7KdbEu5EBm740m18c5firDHNsTyFYXQr/yhaAixu0cIKtmi4Jv[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ed8f4fc-c1e8-1612-b5f8-5410bca6e437/test-blob-2233b0bf-ea91-ee5d-3501-f9d873d44a48?sv=Sanitized&se=2024-06-08T01%3A18%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FB403CB35\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:13.7520914Z"
      },
      "ResponseBody": "eLLlNL/TwjVrY3/MpMJZLSKaI52acJzWZjVtBg1nb5GdJ8bMBLGSGjtKON49vO60cWj4qwrh+AgVDs6KZrwoBPPtL338jClxCAlhTze+mKlGuJSkb8OHuy69tvbiCLN/IjTqUI1xuOQ/hqMAgKjRV3UkQ64ng5UvZXROPtYzjgBV4i0D00gb1f+vZegghzuF7F+AvcQFV5+euusZInoODPeiq517zoMtCW6udx2sD904yFJ3stA7T4uNZBhdArKFoVnxfdydCR3bU7RWV9+B8asN4Fool1kmZlsS7mlr0Aa7KdbEu5EBm740m18c5firDHNsTyFYXQr/yhaAixu0cIKtmi4JvTUaC0Wb8/v5CoF[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ed8f4fc-c1e8-1612-b5f8-5410bca6e437?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:12.3397789-05:00",
    "RandomSeed": "1602663779",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
