{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7c95fa2c-0c4b-c665-2d09-e91ac34c5cfc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FC175CA5E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7c95fa2c-0c4b-c665-2d09-e91ac34c5cfc/test-blob-ba7be299-597a-bcdb-7f89-ddc6c4ccc375",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FC181D861\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:36.4735339Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7c95fa2c-0c4b-c665-2d09-e91ac34c5cfc/test-blob-ba7be299-597a-bcdb-7f89-ddc6c4ccc375?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "MwBePGv05Ig6dz1QpKqAzJannTg/hK/C61/oBFVTF6S+2GY0OESP1PI9/dBAinxV/fytppcF769QnFELC98z52CYksxDS5NRF8hFAobegmDjkwdZpXANuei345zzhMkTChVwp/iwEbFoXI7OwO0ocRnwKHfY2kHvi9jjjGf3XZP/MvdxbtpoMoJW8UniPvn7jnGCA1xROzDUgRwfzIRJcP77z471twM+iPX1gen4DEzf6P72dFo3rffHne2+SGb9DIBK529rBdZuRHtmW7lH23TQP+OGU/ykwyKXLRoWgD+P+HVoriXcdOMniDDe0FE9gMF47giCdrmEpSNN09i8V8M812JE3[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7c95fa2c-0c4b-c665-2d09-e91ac34c5cfc/test-blob-ba7be299-597a-bcdb-7f89-ddc6c4ccc375?sv=Sanitized&se=2024-06-08T01%3A18%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FC18EF6A2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:36.4735339Z"
      },
      "ResponseBody": "MwBePGv05Ig6dz1QpKqAzJannTg/hK/C61/oBFVTF6S+2GY0OESP1PI9/dBAinxV/fytppcF769QnFELC98z52CYksxDS5NRF8hFAobegmDjkwdZpXANuei345zzhMkTChVwp/iwEbFoXI7OwO0ocRnwKHfY2kHvi9jjjGf3XZP/MvdxbtpoMoJW8UniPvn7jnGCA1xROzDUgRwfzIRJcP77z471twM+iPX1gen4DEzf6P72dFo3rffHne2+SGb9DIBK529rBdZuRHtmW7lH23TQP+OGU/ykwyKXLRoWgD+P+HVoriXcdOMniDDe0FE9gMF47giCdrmEpSNN09i8V8M812JE3i1P88sAX8vLxvL[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7c95fa2c-0c4b-c665-2d09-e91ac34c5cfc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:35.0613095-05:00",
    "RandomSeed": "1715916304",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
