{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-88068c3d-9446-d409-f5aa-deef3e4683f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2A8AA87B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-88068c3d-9446-d409-f5aa-deef3e4683f1/test-blob-9b7839d4-352f-66ba-b4ff-cf5c488e9a51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2A941E3F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:22.0361279Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-88068c3d-9446-d409-f5aa-deef3e4683f1/test-blob-9b7839d4-352f-66ba-b4ff-cf5c488e9a51?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Q8AP9XRI1/Aj9ihJjhdRa0IDPd\u002BZ8bXGLml0S8h21RK7BVZV/SeeRKKBvqsxSIBakSi2ZOcIvFILSccK04worCAVjYnB/G4aZPk8GDMKlOXpGrmfwHArs0kESrNgk3AVWRGKHLv2mZW6mwDuzKMeALXhIbnSiOuv6do/vLG6utGIJ78hf3cq84Ak5CVwPeam5Un\u002BfnK3QtAm2jLgt9zj/\u002BAvZaTk/IE9ty04rqPFP6vzmdZovDxe0OTu\u002B6RESTukQeVFQdhCwenIwcZEfpQsYJuH7R0Fe0Oj0JS/9QDc\u002BG3ylG2\u002BgP3Tsdftn/p1GVJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-88068c3d-9446-d409-f5aa-deef3e4683f1/test-blob-9b7839d4-352f-66ba-b4ff-cf5c488e9a51?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A20Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF2AA00361\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:22.0361279Z"
      },
      "ResponseBody": "Q8AP9XRI1/Aj9ihJjhdRa0IDPd\u002BZ8bXGLml0S8h21RK7BVZV/SeeRKKBvqsxSIBakSi2ZOcIvFILSccK04worCAVjYnB/G4aZPk8GDMKlOXpGrmfwHArs0kESrNgk3AVWRGKHLv2mZW6mwDuzKMeALXhIbnSiOuv6do/vLG6utGIJ78hf3cq84Ak5CVwPeam5Un\u002BfnK3QtAm2jLgt9zj/\u002BAvZaTk/IE9ty04rqPFP6vzmdZovDxe0OTu\u002B6RESTukQeVFQdhCwenIwcZEfpQsYJuH7R0Fe0Oj0JS/9QDc\u002BG3ylG2\u002BgP3Tsdftn/p1GVJQwpsJvVsensWho[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-88068c3d-9446-d409-f5aa-deef3e4683f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:20.7223217-07:00",
    "RandomSeed": "1772555795",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
