{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24200c03-1c74-a2a5-38bf-0315128493c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FC1251911\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24200c03-1c74-a2a5-38bf-0315128493c3/test-blob-c8782ba3-8a3d-e7bd-911e-8485f2747e5c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FC13C97E6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:36.0186854Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24200c03-1c74-a2a5-38bf-0315128493c3/test-blob-c8782ba3-8a3d-e7bd-911e-8485f2747e5c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "CR+qVCiGRPW+r0pZNVvOHbuXLGhICpPalwWMMzdO29SP0nVpYNWRkE+nOoGvBfdB0KDNRE6JGP+M0Lwj+hG+b9N2ymLmZbzlBpsYoc8SK5INS2KXgZeFBrl13ZAYbpY96MutODuUW2vj5z6ycHYveaUqFa6vJ+088MOpcIgszJcE2rgEZPJWePD3s5pZ05ZCRmPr7ljojsHdcUh46+ritxumrpW9KxWy1J2+t3NT4h0sZiokQd4/HEv3JvKp3Y0FFPx+syQAhBpNOBm7KddOiY4rS4XAvXU8ZpFJxgQiCPYPuaJ21C/4K+EP1gjEg/N0qZ1jfpIIRFaGQkyTt74VKy8jq2801[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24200c03-1c74-a2a5-38bf-0315128493c3/test-blob-c8782ba3-8a3d-e7bd-911e-8485f2747e5c?sv=Sanitized&se=2024-06-08T01%3A18%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FC146A92E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:36.0186854Z"
      },
      "ResponseBody": "CR+qVCiGRPW+r0pZNVvOHbuXLGhICpPalwWMMzdO29SP0nVpYNWRkE+nOoGvBfdB0KDNRE6JGP+M0Lwj+hG+b9N2ymLmZbzlBpsYoc8SK5INS2KXgZeFBrl13ZAYbpY96MutODuUW2vj5z6ycHYveaUqFa6vJ+088MOpcIgszJcE2rgEZPJWePD3s5pZ05ZCRmPr7ljojsHdcUh46+ritxumrpW9KxWy1J2+t3NT4h0sZiokQd4/HEv3JvKp3Y0FFPx+syQAhBpNOBm7KddOiY4rS4XAvXU8ZpFJxgQiCPYPuaJ21C/4K+EP1gjEg/N0qZ1jfpIIRFaGQkyTt74VKy8jq28017RfMh+jsOdteOO[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24200c03-1c74-a2a5-38bf-0315128493c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:34.5873125-05:00",
    "RandomSeed": "1094103450",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
