{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0b8b07e6-70d2-648a-330e-7fb6452686a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF292C26EF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0b8b07e6-70d2-648a-330e-7fb6452686a0/test-blob-7ffcbfae-e9a2-a530-98a7-fff9167f5348",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF2935F931\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:19.7414193Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0b8b07e6-70d2-648a-330e-7fb6452686a0/test-blob-7ffcbfae-e9a2-a530-98a7-fff9167f5348?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "vhE3cBUPTkL7oE8x8WpHfX8pFr0FUZBHtiStrpBujCVLgpXlsEQJvjyGj4d6JjzoVmOaJNYfOmyB8LrxYqCyjRQq5W7VYsw6IFiAfsIIzI/oxFct02dPLEgoZMCKF1yc1AFzUEHNE/SWXwR9nruqeCMrCZ1Ihbms2rgmrP4MsAj746rBlXxNGrBilnRj0Y6MfuycXw6/VE9HxnWJpmf2iq/7grsR6OKn3e7s5e5FSQkqmi0Rb1D5PI9bec8Gw3NJbAvEaE7Te5UK9YEg0m5gAX1rXww55BpeAUYrtW8SoBl6onjjgeG7Vx\u002BXB3rP2Wkg\u002B3dSmmRnEIjxZmYIp8U[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0b8b07e6-70d2-648a-330e-7fb6452686a0/test-blob-7ffcbfae-e9a2-a530-98a7-fff9167f5348?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A18Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF294057F3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:19.7414193Z"
      },
      "ResponseBody": "vhE3cBUPTkL7oE8x8WpHfX8pFr0FUZBHtiStrpBujCVLgpXlsEQJvjyGj4d6JjzoVmOaJNYfOmyB8LrxYqCyjRQq5W7VYsw6IFiAfsIIzI/oxFct02dPLEgoZMCKF1yc1AFzUEHNE/SWXwR9nruqeCMrCZ1Ihbms2rgmrP4MsAj746rBlXxNGrBilnRj0Y6MfuycXw6/VE9HxnWJpmf2iq/7grsR6OKn3e7s5e5FSQkqmi0Rb1D5PI9bec8Gw3NJbAvEaE7Te5UK9YEg0m5gAX1rXww55BpeAUYrtW8SoBl6onjjgeG7Vx\u002BXB3rP2Wkg\u002B3dSmmRnEIjxZmYIp8Um91RnpS/1fICbs[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0b8b07e6-70d2-648a-330e-7fb6452686a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:18.4276000-07:00",
    "RandomSeed": "133452944",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
