{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-769202d8-e57b-6a48-b806-73f7e8c6edaa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF28DE7F7B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-769202d8-e57b-6a48-b806-73f7e8c6edaa/test-blob-df16f3b3-70b1-4978-997a-af5877670621",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF28E8CEB0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:19.2357040Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-769202d8-e57b-6a48-b806-73f7e8c6edaa/test-blob-df16f3b3-70b1-4978-997a-af5877670621?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "e\u002BPLeHtTpT2F3bq6cDbchKEquwbXkgrq2upOVj646qnZyRsmR6oxiHWSt88FAy5kekOH/FghE\u002BnZ4Z6QBU/\u002BzfMR4KcatTz2\u002BTORRdo75de86tz7Me5RuLUyTWYMoIMmlOrc9CKHScQHkQIlkM4OnvzH0xtyApsEvyjx52fV6VivarHvXvG0NaAX9KDrLCfnI69qRc1ns5FP1zT6lWFdMaeqdSYdHz8KEp17Ww37GZMACsS4a6SKSLcfoIe8uZ8\u002BusP5QLcByQRwXzIv7FiDVL6g\u002BoudpcUCICxu/n64TVn\u002BPKFKAdjc/0C/SA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-769202d8-e57b-6a48-b806-73f7e8c6edaa/test-blob-df16f3b3-70b1-4978-997a-af5877670621?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A17Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF28F835C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:42:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:19.2357040Z"
      },
      "ResponseBody": "e\u002BPLeHtTpT2F3bq6cDbchKEquwbXkgrq2upOVj646qnZyRsmR6oxiHWSt88FAy5kekOH/FghE\u002BnZ4Z6QBU/\u002BzfMR4KcatTz2\u002BTORRdo75de86tz7Me5RuLUyTWYMoIMmlOrc9CKHScQHkQIlkM4OnvzH0xtyApsEvyjx52fV6VivarHvXvG0NaAX9KDrLCfnI69qRc1ns5FP1zT6lWFdMaeqdSYdHz8KEp17Ww37GZMACsS4a6SKSLcfoIe8uZ8\u002BusP5QLcByQRwXzIv7FiDVL6g\u002BoudpcUCICxu/n64TVn\u002BPKFKAdjc/0C/SAxyW1xfm0zIHL8U[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-769202d8-e57b-6a48-b806-73f7e8c6edaa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:17.9906531-07:00",
    "RandomSeed": "1953397444",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
