{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba55d4c1-55cb-719a-e9a7-209b9464b372?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FB28D299B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba55d4c1-55cb-719a-e9a7-209b9464b372/test-blob-d6f8026d-d85d-8268-5a5d-38ca45d388ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FB299D2BC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:11.4648519Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba55d4c1-55cb-719a-e9a7-209b9464b372/test-blob-d6f8026d-d85d-8268-5a5d-38ca45d388ff?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BPTwCkIRjjyJ4Y6r4LGHoNLlBhgdckqw1z/Kx8CgjQTqG/q5LT8uP70NgYk3gBKb7ECQIlCJ+JGqQDIDRsd76VSKwcS3znKTtsZbEPHAeFYsL9p/EGqzYCNpDu0MK/n2kZc1rb9N5B7O/GyJLuif6sfb1hbs/Njp1mChTcCFh4vNZH9ZisqX30u8sRP+KjI6ySMlMVTiCpW/S9Zeq5ZeSHXgvMppRWD9Q/fLL0rE66wuZ4ScYFY361rqmj7zOTS1XmmeHm1n0IPDKO1dF9pK+mAqL0QSwegfqdFvf6shCQnDFdHgJs0+xpYA2Dho2dOAn5/eyQrwo5yBf3Sc91HYoh7jmgEIa[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba55d4c1-55cb-719a-e9a7-209b9464b372/test-blob-d6f8026d-d85d-8268-5a5d-38ca45d388ff?sv=Sanitized&se=2024-06-08T01%3A18%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FB2A654C8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:11.4648519Z"
      },
      "ResponseBody": "BPTwCkIRjjyJ4Y6r4LGHoNLlBhgdckqw1z/Kx8CgjQTqG/q5LT8uP70NgYk3gBKb7ECQIlCJ+JGqQDIDRsd76VSKwcS3znKTtsZbEPHAeFYsL9p/EGqzYCNpDu0MK/n2kZc1rb9N5B7O/GyJLuif6sfb1hbs/Njp1mChTcCFh4vNZH9ZisqX30u8sRP+KjI6ySMlMVTiCpW/S9Zeq5ZeSHXgvMppRWD9Q/fLL0rE66wuZ4ScYFY361rqmj7zOTS1XmmeHm1n0IPDKO1dF9pK+mAqL0QSwegfqdFvf6shCQnDFdHgJs0+xpYA2Dho2dOAn5/eyQrwo5yBf3Sc91HYoh7jmgEIatSS62itEeiwts/[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba55d4c1-55cb-719a-e9a7-209b9464b372?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:10.0486001-05:00",
    "RandomSeed": "404881605",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
