{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_350688109128?api-version=2023-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "UsernamePassword",
          "category": "Snowflake",
          "isSharedToAll": true,
          "metadata": {},
          "target": "dummy",
          "credentials": {
            "username": "dummy",
            "password": "dummy"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "0.329"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_350688109128",
        "name": "e2etest_wps_conn_test_350688109128",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "UsernamePassword",
          "credentials": null,
          "group": "Database",
          "category": "Snowflake",
          "expiryTime": null,
          "target": "dummy",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "isSharedToAll": true,
          "sharedUserList": [],
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2023-12-11T23:12:56.9308005Z",
          "createdBy": "milesholland@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-12-11T23:12:56.9308005Z",
          "lastModifiedBy": "milesholland@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_350688109128?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11990",
        "x-ms-response-type": "error",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_350688109128 can\u0027t be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "7894c06adef80e45f56b99893b5743e9",
          "request": "914a532353f0ab3b"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2023-12-11T23:12:58.856649\u002B00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "wps_connection_name": "test_350688109128"
  }
}
