{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_152409598696?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "PAT",
          "category": "Git",
          "metadata": {},
          "target": "https://test-git-feed.com",
          "credentials": {
            "pat": "dummy_pat"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.445"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_152409598696",
        "name": "e2etest_wps_conn_test_152409598696",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "PAT",
          "credentials": null,
          "group": "ServicesAndApps",
          "category": "Git",
          "expiryTime": null,
          "target": "https://test-git-feed.com",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "isSharedToAll": false,
          "sharedUserList": [],
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2023-11-03T15:03:48.2561103Z",
          "createdBy": "milesholland@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-11-03T15:03:48.2561103Z",
          "lastModifiedBy": "milesholland@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_152409598696?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11994",
        "x-ms-response-type": "error",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_152409598696 can\u0027t be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "b6010510290d501f548e4236656b10e2",
          "request": "1a7d61fd55518007"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2023-11-03T15:03:50.3433999\u002B00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?category=Git\u0026api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "wps_connection_name": "test_152409598696"
  }
}
