{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_663834344163?api-version=2023-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "ApiKey",
          "category": "AiServices",
          "isSharedToAll": true,
          "metadata": {
            "ResourceId": "00000000-0000-0000-0000-000000000"
          },
          "target": "my_endpoint",
          "credentials": {
            "key": "dGhpcyBpcyBmYWtlIGtleQ=="
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.061"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "severity": null,
          "message": "This API does not support AI Services connections without an associated resourceId",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": null,
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "a46a5ef53c42e82efef46ae39f4523b1",
          "request": "adacaf20ae0254ba"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2024-04-22T06:40:49.8364294+00:00",
        "componentName": "account-rp",
        "statusCode": 400
      }
    }
  ],
  "Variables": {
    "wps_conn_name1": "test_663834344163"
  }
}
