{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_115306838855?api-version=2023-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "AccessKey",
          "category": "S3",
          "isSharedToAll": true,
          "metadata": {},
          "target": "dummy",
          "credentials": {
            "accessKeyId": "dummy",
            "secretAccessKey": "dummy"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1189",
        "x-ms-response-type": "standard",
        "x-request-time": "0.275"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_115306838855",
        "name": "e2etest_wps_conn_test_115306838855",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "AccessKey",
          "credentials": null,
          "group": "File",
          "category": "S3",
          "expiryTime": null,
          "target": "dummy",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "isSharedToAll": true,
          "sharedUserList": [],
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2023-12-11T22:09:59.3943971Z",
          "createdBy": "milesholland@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-12-11T22:09:59.3943971Z",
          "lastModifiedBy": "milesholland@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_115306838855?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11988",
        "x-ms-response-type": "error",
        "x-request-time": "0.043"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_115306838855 can\u0027t be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "1aed69e9000cdecf97e8f531ae888de4",
          "request": "4177f1633dbcb6c3"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2023-12-11T22:10:00.9592346\u002B00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "wps_connection_name": "test_115306838855"
  }
}
