{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Security/securityContacts/default?api-version=2023-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "749"
      },
      "ResponseBody": {
        "properties": {
          "notificationsSources": [
            {
              "minimalSeverity": "Low",
              "sourceType": "Alert"
            }
          ],
          "isEnabled": true,
          "notificationsByRole": {
            "state": "On",
            "roles": [
              "Owner"
            ]
          },
          "emails": "john@contoso.com;jane@contoso.com",
          "phone": "+214-2754038"
        },
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Security/securityContacts/default",
        "name": "default",
        "type": "Microsoft.Security/securityContacts",
        "etag": "\"7d003e53-0000-0d00-0000-663c67460000\"",
        "location": "West Europe"
      }
    }
  ],
  "Variables": {}
}
