{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.AzureTerraform/operations?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.AzureTerraform",
              "resource": "Operations",
              "operation": "read_Operations",
              "description": "read Operations"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.AzureTerraform",
              "resource": "OperationStatuses",
              "operation": "read_OperationStatuses",
              "description": "read OperationStatuses"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
         [...]
