{
  "Entries": [
    {
      "RequestUri": "https://bidishac-scus.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "id": "1",
              "language": "en",
              "modality": "text",
              "conversationItems": [
                {
                  "id": "1",
                  "participantId": "Agent",
                  "text": "Hello, how can I help you?"
                },
                {
                  "id": "2",
                  "participantId": "Customer",
                  "text": "How to upgrade Office? I am getting error messages the whole day."
                },
                {
                  "id": "3",
                  "participantId": "Agent",
                  "text": "Press the upgrade button please. Then sign in and follow the instructions."
                }
              ]
            }
          ]
        },
        "tasks": [
          {
            "taskName": "Issue task",
            "kind": "ConversationalSummarizationTask",
            "parameters": {
              "summaryAspects": [
                "issue"
              ]
            }
          },
          {
            "taskName": "Resolution task",
            "kind": "ConversationalSummarizationTask",
            "parameters": {
              "summaryAspects": [
                "resolution"
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://bidishac-scus.cognitiveservices.azure.com/language/analyze-conversations/jobs/e7bcd542-182f-449a-a347-1a1d1a1344ac?api-version=2024-11-15-preview",
        "x-ms-region": "South Central US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bidishac-scus.cognitiveservices.azure.com/language/analyze-conversations/jobs/e7bcd542-182f-449a-a347-1a1d1a1344ac?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "South Central US"
      },
      "ResponseBody": {
        "jobId": "e7bcd542-182f-449a-a347-1a1d1a1344ac",
        "lastUpdatedDateTime": "2025-01-31T01:49:52Z",
        "createdDateTime": "2025-01-31T01:49:52Z",
        "expirationDateTime": "2025-02-01T01:49:52Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://bidishac-scus.cognitiveservices.azure.com/language/analyze-conversations/jobs/e7bcd542-182f-449a-a347-1a1d1a1344ac?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "South Central US"
      },
      "ResponseBody": {
        "jobId": "e7bcd542-182f-449a-a347-1a1d1a1344ac",
        "lastUpdatedDateTime": "2025-01-31T01:49:54Z",
        "createdDateTime": "2025-01-31T01:49:52Z",
        "expirationDateTime": "2025-02-01T01:49:52Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "items": [
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "Issue task",
              "lastUpdateDateTime": "2025-01-31T01:49:54.6470672Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "issue",
                        "text": "Customer is experiencing error messages while upgrading Office."
                      }
                    ],
                    "id": "1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            },
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "Resolution task",
              "lastUpdateDateTime": "2025-01-31T01:49:54.8600714Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "resolution",
                        "text": "Agent instructed customer to press the upgrade button, sign in, and follow the instructions."
                      }
                    ],
                    "id": "1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://bidishac-scus.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "282500473"
  }
}
