{
  "Entries": [
    {
      "RequestUri": "https://bidishac-scus.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "id": "1",
              "language": "en",
              "modality": "text",
              "conversationItems": [
                {
                  "id": "1",
                  "participantId": "Agent_1",
                  "text": "Can you provide your name?"
                },
                {
                  "id": "2",
                  "participantId": "Customer_1",
                  "text": "Hi, my name is John Doe."
                },
                {
                  "id": "3",
                  "participantId": "Agent_1",
                  "text": "Thank you John, that has been updated in our system."
                }
              ]
            }
          ]
        },
        "tasks": [
          {
            "taskName": "Conversation PII with Entity Mask Policy",
            "kind": "ConversationalPIITask",
            "parameters": {
              "redactionPolicy": {
                "policyKind": "entityMask"
              }
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://ambertestcanary.cognitiveservices.azure.com/language/analyze-conversations/jobs/21dfe1f7-d9bc-487a-9963-684d063406f2?api-version=2025-05-15-preview",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ambertestcanary.cognitiveservices.azure.com/language/analyze-conversations/jobs/21dfe1f7-d9bc-487a-9963-684d063406f2?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "jobId": "21dfe1f7-d9bc-487a-9963-684d063406f2",
        "lastUpdatedDateTime": "2025-05-15T18:18:37Z",
        "createdDateTime": "2025-05-15T18:18:37Z",
        "expirationDateTime": "2025-05-16T18:18:37Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://ambertestcanary.cognitiveservices.azure.com/language/analyze-conversations/jobs/21dfe1f7-d9bc-487a-9963-684d063406f2?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "jobId": "21dfe1f7-d9bc-487a-9963-684d063406f2",
        "lastUpdatedDateTime": "2025-05-15T18:18:39Z",
        "createdDateTime": "2025-05-15T18:18:37Z",
        "expirationDateTime": "2025-05-16T18:18:37Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "conversationalPIIResults",
              "taskName": "Conversation PII with Entity Mask Policy",
              "lastUpdateDateTime": "2025-05-15T18:18:39.4171934Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "id": "1",
                    "conversationItems": [
                      {
                        "id": "1",
                        "redactedContent": {
                          "text": "Can you provide your name?"
                        },
                        "entities": []
                      },
                      {
                        "id": "2",
                        "redactedContent": {
                          "text": "Hi, my name is [PERSON-1]."
                        },
                        "entities": [
                          {
                            "text": "John Doe",
                            "category": "Person",
                            "offset": 15,
                            "length": 8,
                            "mask": "[PERSON-1]",
                            "maskOffset": 15,
                            "maskLength": 10,
                            "confidenceScore": 0.89
                          }
                        ]
                      },
                      {
                        "id": "3",
                        "redactedContent": {
                          "text": "Thank you [PERSON-2], that has been updated in our system."
                        },
                        "entities": [
                          {
                            "text": "John",
                            "category": "Person",
                            "offset": 10,
                            "length": 4,
                            "mask": "[PERSON-2]",
                            "maskOffset": 10,
                            "maskLength": 10,
                            "confidenceScore": 0.95
                          }
                        ]
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2025-02-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://ambertestcanary.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "990241337"
  }
}
