{
  "Entries": [
    {
      "RequestUri": "https://bidishac-scus.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversationItem": {
            "text": "Send an email to Carol about the tomorrow's demo",
            "id": "1",
            "participantId": "1"
          }
        },
        "parameters": {
          "projectName": "TestSDK",
          "deploymentName": "Production"
        },
        "kind": "Conversation"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.ConversationalLanguageUnderstanding.Prediction=1",
        "x-ms-region": "South Central US"
      },
      "ResponseBody": {
        "kind": "ConversationResult",
        "result": {
          "query": "Send an email to Carol about the tomorrow's demo",
          "prediction": {
            "topIntent": "Send",
            "projectKind": "Conversation",
            "intents": [
              {
                "category": "Send",
                "confidenceScore": 0.9246326
              },
              {
                "category": "FindFLight",
                "confidenceScore": 0.14717834
              },
              {
                "category": "None",
                "confidenceScore": 0.13849531
              }
            ],
            "entities": [
              {
                "category": "Receiver",
                "text": "Carol",
                "offset": 17,
                "length": 5,
                "confidenceScore": 1,
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "person.name"
                  }
                ]
              },
              {
                "category": "Date",
                "text": "tomorrow",
                "offset": 33,
                "length": 8,
                "confidenceScore": 1,
                "resolutions": [
                  {
                    "resolutionKind": "DateTimeResolution",
                    "dateTimeSubKind": "Date",
                    "timex": "2024-07-19",
                    "value": "2024-07-19"
                  }
                ],
                "extraInformation": [
                  {
                    "extraInformationKind": "EntitySubtype",
                    "value": "datetime.date"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_DEPLOYMENT_NAME": "Production",
    "CONVERSATIONS_ENDPOINT": "https://bidishac-scus.cognitiveservices.azure.com/",
    "CONVERSATIONS_KEY": "Sanitized",
    "CONVERSATIONS_PROJECT_NAME": "TestSDK",
    "RandomSeed": "2040517825"
  }
}
