{
  "Entries": [
    {
      "RequestUri": "https://bidishac-ta-uksouth.cognitiveservices.azure.com/language/analyze-conversations/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "conversations": [
            {
              "conversationItems": [
                {
                  "id": "1",
                  "participantId": "Agent",
                  "text": "Hello, how can I help you?"
                },
                {
                  "id": "2",
                  "participantId": "Customer",
                  "text": "How to upgrade Office? I am getting error messages the whole day."
                },
                {
                  "id": "3",
                  "participantId": "Agent",
                  "text": "Press the upgrade button please. Then sign in and follow the instructions."
                }
              ],
              "id": "1",
              "language": "en",
              "modality": "text"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "summaryAspects": [
                "issue"
              ]
            },
            "taskName": "Issue task",
            "kind": "ConversationalSummarizationTask"
          },
          {
            "parameters": {
              "summaryAspects": [
                "resolution"
              ]
            },
            "taskName": "Resolution task",
            "kind": "ConversationalSummarizationTask"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://bidishac-ta-uksouth.cognitiveservices.azure.com/language/analyze-conversations/jobs/f8b3f1ba-b239-4e72-8d34-d6b96483b853?api-version=2023-04-01",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bidishac-ta-uksouth.cognitiveservices.azure.com/language/analyze-conversations/jobs/f8b3f1ba-b239-4e72-8d34-d6b96483b853?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "f8b3f1ba-b239-4e72-8d34-d6b96483b853",
        "lastUpdatedDateTime": "2024-07-18T00:43:13Z",
        "createdDateTime": "2024-07-18T00:43:13Z",
        "expirationDateTime": "2024-07-19T00:43:13Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://bidishac-ta-uksouth.cognitiveservices.azure.com/language/analyze-conversations/jobs/f8b3f1ba-b239-4e72-8d34-d6b96483b853?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "f8b3f1ba-b239-4e72-8d34-d6b96483b853",
        "lastUpdatedDateTime": "2024-07-18T00:43:15Z",
        "createdDateTime": "2024-07-18T00:43:13Z",
        "expirationDateTime": "2024-07-19T00:43:13Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "items": [
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "Issue task",
              "lastUpdateDateTime": "2024-07-18T00:43:15.2600498Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "issue",
                        "text": "Customer is experiencing error messages while upgrading Office."
                      }
                    ],
                    "id": "1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            },
            {
              "kind": "conversationalSummarizationResults",
              "taskName": "Resolution task",
              "lastUpdateDateTime": "2024-07-18T00:43:15.330333Z",
              "status": "succeeded",
              "results": {
                "conversations": [
                  {
                    "summaries": [
                      {
                        "aspect": "resolution",
                        "text": "Agent instructed customer to press the upgrade button, sign in, and follow the instructions."
                      }
                    ],
                    "id": "1",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "latest"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "CONVERSATIONS_ENDPOINT": "https://bidishac-ta-uksouth.cognitiveservices.azure.com",
    "CONVERSATIONS_KEY": "Sanitized",
    "RandomSeed": "2097016986"
  }
}
