{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/?sv=Sanitized&ss=btqf&srt=sco&se=sanitizedexpiry&sp=wdlcup&sig=sanitizedsig&restype=service&comp=properties&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:4ffa7079-0003-005d-3c7a-85f264000000\n",
        "Time:2026-01-14T17:20:51.7752288Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-01-14T17:20:51.437Z"
  }
}
