{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/?sv=Sanitized&ss=btqf&srt=sco&se=sanitizedexpiry&sp=wdlcup&sig=sanitizedsig&restype=service&comp=properties&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:a707de98-c003-006d-7dc2-b14cab000000\n",
        "Time:2026-03-12T01:53:10.7111436Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-03-12T01:53:10.747Z"
  }
}
