{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/?sv=Sanitized&ss=btqf&srt=co&spr=https%2Chttp&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=service&comp=properties&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationResourceTypeMismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationResourceTypeMismatch</Code><Message>This request is not authorized to perform this operation using this resource type.\n",
        "RequestId:4ffa709b-0003-005d-5b7a-85f264000000\n",
        "Time:2026-01-14T17:20:51.9835588Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-01-14T17:20:51.645Z"
  }
}
