{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/795e74ef8fb844538930436be356334d/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9478d933-607c-42eb-b3a5-944051363b72",
        "Retry-After": "10",
        "x-ms-server-latency": "493"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1777140049,
        "endTime": null,
        "jobId": "795e74ef8fb844538930436be356334d",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/795e74ef8fb844538930436be356334d/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c08e8e8e-ea78-4d79-b5bf-bbe560a275d3",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "795e74ef8fb844538930436be356334d",
        "startTime": 1777140049,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/795e74ef8fb844538930436be356334d/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7b8c300c-7ed8-4795-898f-bbea48f88915",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "79"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": "https://uri.blob.core.windows.net/uri/mhsm-t1b276dea41386279hsm-2026042518004951",
        "endTime": 1777140081,
        "error": null,
        "jobId": "795e74ef8fb844538930436be356334d",
        "startTime": 1777140049,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
