{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/503c855c65bd4947be6dca1f7ea004f5/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b5b6e628-5df3-497b-b9b1-4aa059469d12",
        "Retry-After": "10",
        "x-ms-server-latency": "465"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1776813110,
        "endTime": null,
        "jobId": "503c855c65bd4947be6dca1f7ea004f5",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/503c855c65bd4947be6dca1f7ea004f5/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6c251adf-ddc5-45e8-802e-da00f3c7aae0",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "133"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "503c855c65bd4947be6dca1f7ea004f5",
        "startTime": 1776813110,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net/uri",
          "useManagedIdentity": true
        },
        "folderToRestore": "mhsm-t1b276dea41386279hsm-2026042123115047"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/2eff352d089a41729645a4a593d85ced/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a0594200-aaff-4313-b004-d81664501613",
        "Retry-After": "10",
        "x-ms-server-latency": "492"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "2eff352d089a41729645a4a593d85ced",
        "startTime": 1776813125,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/2eff352d089a41729645a4a593d85ced/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "08d98ce0-4272-4cb4-b1ac-05b5fe1e52f6",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "96"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "2eff352d089a41729645a4a593d85ced",
        "startTime": 1776813125,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/2eff352d089a41729645a4a593d85ced/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "09fcc06d-9cc4-4e5f-b39e-40a8158d5446",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "endTime": 1776813136,
        "error": null,
        "jobId": "2eff352d089a41729645a4a593d85ced",
        "startTime": 1776813125,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
