{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/f7ae8c038bb54f1c951aaa15766a4b89/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8c81de1f-4500-4294-b4ed-b6da5808cafc",
        "Retry-After": "10",
        "x-ms-server-latency": "429"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1776812992,
        "endTime": null,
        "jobId": "f7ae8c038bb54f1c951aaa15766a4b89",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/f7ae8c038bb54f1c951aaa15766a4b89/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3a5043a0-d294-444e-88ef-38f3decfd4c6",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "f7ae8c038bb54f1c951aaa15766a4b89",
        "startTime": 1776812992,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/f7ae8c038bb54f1c951aaa15766a4b89/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "60cf6c48-501d-444b-b2d9-0163e8d08b03",
        "x-ms-build-version": "1.0.20260125-1-d9e41bf5-develop",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": "https://uri.blob.core.windows.net/uri/mhsm-t1b276dea41386279hsm-2026042123095239",
        "endTime": 1776813004,
        "error": null,
        "jobId": "f7ae8c038bb54f1c951aaa15766a4b89",
        "startTime": 1776812992,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
