{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-03-16T14:29:16.3530365Z",
          "Owners": "alzimmer"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "273b195f-eee4-4d17-b744-101e53f78f23",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "da2e0a3f-e774-48dc-9936-769be893a526"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/f989ef40-2c53-4b5e-aa1d-4c71850d9232",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-11T14:29:31.1615151Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-11T14:29:31.1615151Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4964935a-dcec-4641-a4d8-75cdf8d6afaa",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "735441a0-be82-4e8c-8f9e-cd007d2bb9c6"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "95c7efc8-066a-4dfe-a82a-6afe06b07da0"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-11T14:29:43.8469463Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-11T14:29:43.8469463Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized/serverEndpoints?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "debc47b2-e973-4319-84d2-d1efcb377d03",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "92616bff-e64c-4e37-a77d-6153de89f29a"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
