{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/fine_tuning/jobs/ftjob-aa1db764f1f84390bf3817a7ba7c4758?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.124"
      },
      "ResponseBody": {
        "hyperparameters": {
          "n_epochs": 1,
          "batch_size": 4,
          "learning_rate_multiplier": 0.0001
        },
        "seed": 874218295,
        "method": {
          "type": "supervised",
          "supervised": {
            "hyperparameters": {
              "n_epochs": 1,
              "batch_size": 4,
              "learning_rate_multiplier": 0.0001
            }
          }
        },
        "trainingType": "standard",
        "status": "succeeded",
        "model": "gpt-4.1-2025-04-14",
        "fine_tuned_model": "gpt-4.1-2025-04-14.ft-aa1db764f1f84390bf3817a7ba7c4758",
        "training_file": "file-5b80dd546e6640ab85fd6081d6cac5d9",
        "validation_file": "file-02de6ab1941c476193521a4ceda20f75",
        "result_files": [
          "file-b293e68c26c14ec6aa06a28e8d298fec"
        ],
        "finished_at": 1763418024,
        "trained_tokens": 672,
        "estimated_finish": 1763417125,
        "id": "ftjob-aa1db764f1f84390bf3817a7ba7c4758",
        "created_at": 1763412686,
        "object": "fine_tuning.job"
      }
    }
  ],
  "Variables": {
    "FINE_TUNING_AZURE_FOUNDRY_NAME": "rovins-sweden",
    "FINE_TUNING_AZURE_RESOURCE_GROUP": "nirovins-rg-eastus",
    "FINE_TUNING_AZURE_SUBSCRIPTION_ID": "b17253fa-f327-42d6-9686-f3e553e24763",
    "FINE_TUNING_COMPLETED_JOB": "ftjob-aa1db764f1f84390bf3817a7ba7c4758",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
