{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"VrhgkOomU_JanS025gROBS81cPFzbHfcSECpw3lCrdN59ZOf9FrVy3d3jf3L8p=Ctg8YE=\""
      },
      "RequestBody": [
        "--VrhgkOomU_JanS025gROBS81cPFzbHfcSECpw3lCrdN59ZOf9FrVy3d3jf3L8p=Ctg8YE=\r\n",
        "Content-Disposition: form-data; name=file; filename=sft_training_set.jsonl; filename*=utf-8''sft_training_set.jsonl\r\n",
        "Content-Type: application/octet-stream\r\n",
        "\r\n",
        "b64:eyJtZXNzYWdlcyI6IFt7InJvbGUiOiAic3lzdGVtIiwgImNvbnRlbnQiOiAiQ2xpcHB5IGlzIGEgZmFjdHVhbCBjaGF0Ym90IHRoYXQgaXMgYWxzbyBzYXJjYXN0aWMuIn0sIHsicm9sZSI6ICJ1c2VyIiwgImNvbnRlbnQiOiAiV2hvIGRpc2NvdmVyZWQgQW5[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files/file-d90ec08cac7a43429b92b8e13fbbda24?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.069"
      },
      "ResponseBody": {
        "status": "processed",
        "bytes": 2706,
        "purpose": "fine-tune",
        "filename": "sft_training_set.jsonl",
        "id": "file-d90ec08cac7a43429b92b8e13fbbda24",
        "created_at": 1766110810,
        "object": "file"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/fine_tuning/jobs?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4.1",
        "training_file": "file-d90ec08cac7a43429b92b8e13fbbda24",
        "validation_file": "file-08abaccb6473401aa40b6b4874dd0b3a",
        "method": {
          "type": "supervised",
          "supervised": {
            "hyperparameters": {
              "batch_size": 4,
              "learning_rate_multiplier": 0.0001,
              "n_epochs": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://rovins-sweden.openai.azure.com/openai/fine_tuning/ftjob-3d6862a86ce14447ac4811cfbecfff76?api-version=1",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.070"
      },
      "ResponseBody": {
        "hyperparameters": {
          "n_epochs": 1,
          "batch_size": 4,
          "learning_rate_multiplier": 0.0001
        },
        "seed": 2131765855,
        "method": {
          "type": "supervised",
          "supervised": {
            "hyperparameters": {
              "n_epochs": 1,
              "batch_size": 4,
              "learning_rate_multiplier": 0.0001
            }
          }
        },
        "trainingType": "standard",
        "status": "pending",
        "model": "gpt-4.1-2025-04-14",
        "training_file": "file-d90ec08cac7a43429b92b8e13fbbda24",
        "validation_file": "file-08abaccb6473401aa40b6b4874dd0b3a",
        "estimated_finish": 1766111723,
        "id": "ftjob-3d6862a86ce14447ac4811cfbecfff76",
        "created_at": 1766110823,
        "object": "fine_tuning.job"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/fine_tuning/jobs?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.106"
      },
      "ResponseBody": {
        "has_more": true,
        "data": [
          {
            "hyperparameters": {
              "n_epochs": 1,
              "batch_size": 4,
              "learning_rate_multiplier": 0.0001
            },
            "seed": 2131765855,
            "method": {
              "type": "supervised",
              "supervised": {
                "hyperparameters": {
                  "n_epochs": 1,
                  "batch_size": 4,
                  "learning_rate_multiplier": 0.0001
                }
              }
            },[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/fine_tuning/jobs?after=ftjob-9ed7a875dd1d465ab7a4c67ea5d1d8e4&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.105"
      },
      "ResponseBody": {
        "has_more": true,
        "data": [
          {
            "seed": 800247722,
            "method": {
              "type": "dpo",
              "dpo": {
                "hyperparameters": {
                  "beta": 0.1,
                  "l2_multiplier": 0,
                  "n_epochs": 1,
                  "batch_size": 4,
                  "learning_rate_multiplier": 0.0001
                }
              }
            },
            "trainingType": "developerTier",
            "status": "cancelled",
            "model": "gpt-4o-mini-2024-07-18",
            "training_file": "file-91b28cd17c9a4989a589a3eece137173",
            "validation_file": "file-996e59a5ce91455aa6f40f6ecf7f4d81",
            "finished_at": 1766110244,
            "estimated_finish": 1766111135,
            "id": "ftjob-9ca7f390051a46148346c6f21f3ee7a1",
            "created_at": 1766110234,
            "object": "fine_tuning.job"
          },
          {
            "seed": 602030989,
            "method": {
              "type": "dpo",
              "dpo": {
                "hyperparameters": {
                  "beta": 0.1,
                  "l2_multiplier": 0,
                  "n_epochs": 1,
                  "batch_size": 4,[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/fine_tuning/jobs/ftjob-3d6862a86ce14447ac4811cfbecfff76/cancel?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-previe[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files/file-d90ec08cac7a43429b92b8e13fbbda24?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.073"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "file-d90ec08cac7a43429b92b8e13fbbda24"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/files/file-08abaccb6473401aa40b6b4874dd0b3a?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.096"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "file-08abaccb6473401aa40b6b4874dd0b3a"
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
