{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-5311?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5311",
        "name": "DataFactory-RG-5311",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5311/providers/Microsoft.DataFactory/factories/dataFactory-893?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1102"
      },
      "ResponseBody": {
        "name": "dataFactory-893",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5311/providers/Microsoft.DataFactory/factories/datafactory-893",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-10-25T03:16:09.3001903Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00225d00ada8-0000-0800-0000-653888790000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5311/providers/Microsoft.DataFactory/factories?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11910"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "dataFactory-5618",
            "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5311/providers/Microsoft.DataFactory/factories/datafactory-5618",
            "type": "Microsoft.DataFactory/factories",
            "properties": {
              "provisioningState": "Succeeded",
              "createTime": "2023-10-25T03:15:56.1198373Z",
              "version": "2018-06-01"
            },
            "eTag": "\u00225d00cca[...]
