{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/providers/Microsoft.FileShares/operations?api-version=2026-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft.FileShares",
              "resource": "File Shares Provider",
              "operation": "Registers the File Shares Provider",
              "description": "Registers the subscription for the File Shares Provider"
            },
            "origin": "user"
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft.FileShares",
              "resource": "File Shares Provider",
              "operation": "Unregisters the File Shares Provider",
              "description": "Unregisters the subscription for the File Shares Provider"
            },
            "origin": "user"
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": [...]
