{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B44FADF86D\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-89285cc9-ca1a-b2f8-daa4-97d06aee622f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B44FB7199E\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460/test-file-1df1a7fe-fe4e-c6ed-e877-8997d8cc4f88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B44FBEDE24\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460/test-file-1df1a7fe-fe4e-c6ed-e877-8997d8cc4f88?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "z9HwM0KBFamd3U8fPS0CpfFwLbthuHfhSeX4okangFw4PXfcaV49fJJHf3GvzYi7deSmZ56TJxZZDuldiHNi9lzy5wC1JjuSM7AoGTkGMnxcPSxiABi+pBVgglt14PQf5YgUveaIBU+pFDTtag7dU9xtAEpGAPVDM0LqVKPfHFK8CTOw8XSV1DjduOzj0ToHgy9+COCp2eWS0IqknbCsyffiMGHaLWFo1ywSaEcJX2II49F0YRRyEzBOHSHq8TeHMe70AaDYLFXNFjCzlnCdiHAnnLnfN2jjbxwxjA9AfuX0izdYFV7BL7d7pkvjvny/sZWwwlR9qPmGEZGDp59GjZdLvws4R[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460/test-file-1df1a7fe-fe4e-c6ed-e877-8997d8cc4f88?sv=Sanitized&se=2025-05-17T20%3A00%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B44FC7601F\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-89285cc9-ca1a-b2f8-daa4-97d06aee622f/test-file-a031cb10-8d0b-d8e5-c894-9f183e42c91f?sv=Sanitized&se=2025-05-17T20%3A00%3A30Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-89285cc9-ca1a-b2f8-daa4-97d06aee622f/test-file-a031cb10-8d0b-d8e5-c894-9f183e42c91f?sv=Sanitized&se=2025-05-17T20%3A00%3A30Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B44FEB6989\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:00:31.2330633Z",
        "x-ms-file-creation-time": "2025-05-16T20:00:31.2330633Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:00:31.2330633Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-89285cc9-ca1a-b2f8-daa4-97d06aee622f/test-file-a031cb10-8d0b-d8e5-c894-9f183e42c91f?sv=Sanitized&se=2025-05-17T20%3A00%3A30Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460/test-file-1df1a7fe-fe4e-c6ed-e877-8997d8cc4f88?sv=sanitized-value&se=2025-05-17T20%3A00%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B44FF60BFF\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:31 GMT",
        "x-ms-content-crc64": "8hB2mZMfaK8=",
        "x-ms-file-last-write-time": "2025-05-16T20:00:31.3027583Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460/test-file-1df1a7fe-fe4e-c6ed-e877-8997d8cc4f88?sv=Sanitized&se=2025-05-17T20%3A00%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD94B44FC7601F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B44FC7601F\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:00:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-89285cc9-ca1a-b2f8-daa4-97d06aee622f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e27498ec-3628-a063-72d4-375999e1a460?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T13:00:30.9434859-07:00",
    "RandomSeed": "1635443346",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
