{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a33b03fc-f038-f48e-5813-8c888bb06736?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1450A34C83\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5dff9ff6-c819-5a18-7fa8-47fabb205b55?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1450B41FE1\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5dff9ff6-c819-5a18-7fa8-47fabb205b55/test-file-db23d106-9e22-948c-4223-e21f6a16dfa6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1450C4A06B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:06:39.2270955Z",
        "x-ms-file-creation-time": "2025-03-07T01:06:39.2270955Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:06:39.2270955Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5dff9ff6-c819-5a18-7fa8-47fabb205b55/test-file-db23d106-9e22-948c-4223-e21f6a16dfa6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "f8osxSJv0eP/HJ+ZabL+Y3SEAAXZi7Cx4tpXDOJw1/q18L+/AV4dctC43O/QrjZsonElt+igffQZeuJIGMUAjkWk5HnzP2EVZ441IK7B4TOk62pxSh8SFHLKpod81FoLuE2pK8q8eWMPEFBaa11FWJmuoyxbj0QlktAHKZjamZI0KmhhF7Vp53EGYjrPuKgUhE7tzTEtsCkJhJj6tVDKNHa+JUH15EDkRby7VCwJVton8qRK7cthBno/WJMcbzEhOy3DEZJnH6ANCYh0clv8/y2+0sKrgEarXB/Htoutx9aKmRj/RURIwNMEPeRC7JQeQlllXpxudrvmGLRzoGgUX0Gy6dhD/brpdRLvpkJiaW+KqHMySGk5GyJcGC2P1SBq796ikAO720Wfe+iKf895hK9E6Pf14hbYec225uSMWaDyhbdkwNlszs0tk82ArpxS45R+SuwodAzHyhY1BfRhEiFHmPoYFMPV2BoqyE9JV8sxYwNQDg+0yRCqnPbCN8jYzICrOBWhOs7QqHLR/ay8fnJLA6LxEAQSk87qbXfNE6BRUvzPnR61jyg0gGWc4stj7R6DdzQm5rt8mKVHt81WA5XSgKuw7eBTlnN5vZCedrEChn9ZSZxsK2tAUgV5bdhb3X3QyWEgs/8+L+DArSkr3SLzRDFN/bn4ZlVAb5vb2iibHd8TzqxP4tJ/Gxm7q31BFXXjhimmDuDD12MM30NkYlW4JI9KFw91o2FezeKfPbrX/lol91T+9A//T/ZJQwKPG7jEA4bu9/1lbuLHR0H9JJqpNeHpPmoBuTCASscYK2Bfz7Iq2jkz6AdcwIlxN6zOAStcnw0hptxNw0pWbqw1TUKCaHiO00lgdkzajH7gj4KDskmcvIxSPSnV3Bfv3HpaJnJH7s40Py3h+ynBRxldbDPH07tjmZC1MCtPufcxcJnRf2ULmaGzTnIbusFikfYPd3DkJwi+9o3ikb2j5YU2sIqQ78e0UdOSFIVIR97PU580P0GGTUmQEonXKQfjEGns5Qo20aEuWiWcUhODda+vEj4ebqVEr2JB/9w+3SjMrgQcXGLTmYH9BuQb6fs1DZzZJxfIxKHDqDWn9dLF8H390KMPZxlM23m8IWjBKcVnDPE/ZLUQA+liWLMtLKSvNxZmHRlXJaWCjUueDKM5AX9vP+jghYvI7M25rQ5mH6/VDelSWgusEOZMvNdpcvZGKVc0vuy7zrGKnjBLnXiXHG6cyf+556dzwi8ClMm0XnrWc4S3MWDDGT43x7zaYXJutJ9pzan3jEGwwfu8uTno1j+2dCrz3+sN2K/AgR/qmGG9k98pSpHQ3+ZCB3BlB2AFT/B8JOxHetW0W/X6NgoixSia/w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SRRTHXfN0Ci09M6r4CsXPQ==",
        "ETag": "\"0x8DD5D1450CE328B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:06:39.2898187Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a33b03fc-f038-f48e-5813-8c888bb06736/test-file-022d2a78-eb2c-a694-7d2e-5b46c8bb306a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1450D71895\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a33b03fc-f038-f48e-5813-8c888bb06736/test-file-022d2a78-eb2c-a694-7d2e-5b46c8bb306a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "mjdnBtdZmGo2KbZ+Bhe9Qg1hmuO/ZmWqnjVL5bRbAOQ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a33b03fc-f038-f48e-5813-8c888bb06736/test-file-022d2a78-eb2c-a694-7d2e-5b46c8bb306a?sv=Sanitized&se=2025-03-08T01%3A06%3A39Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1450E25695\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5dff9ff6-c819-5a18-7fa8-47fabb205b55/test-file-db23d106-9e22-948c-4223-e21f6a16dfa6?sv=Sanitized&se=2025-03-08T01%3A06%3A39Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1450CE328B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:06:39.2898187Z",
        "x-ms-file-creation-time": "2025-03-07T01:06:39.2270955Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:06:39.2898187Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5dff9ff6-c819-5a18-7fa8-47fabb205b55/test-file-db23d106-9e22-948c-4223-e21f6a16dfa6?sv=Sanitized&se=2025-03-08T01%3A06%3A39Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1450CE328B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:06:39.2898187Z",
        "x-ms-file-creation-time": "2025-03-07T01:06:39.2270955Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:06:39.2898187Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5dff9ff6-c819-5a18-7fa8-47fabb205b55?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a33b03fc-f038-f48e-5813-8c888bb06736?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:06:39.3375766-08:00",
    "RandomSeed": "1150234010",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
