{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789ED522B8D\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a6762f5e-e932-431a-f27a-17661426d1a0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789ED621AEC\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60/test-file-7514f202-041a-11ce-bbe8-d6fcfe251341",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789ED719A10\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60/test-file-7514f202-041a-11ce-bbe8-d6fcfe251341?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Af2jJt57dNSILqdaXwJIK6fq8j6bA/++HzaaQps1FzL+q3BHAWcgh31A7Otdc7K4oKpVFDLUpv3+5Qeo4TI5Uxd0W7SSACo/ymvBWxcTYauE4aLw3wP/KgRySBxgd6VKBpjU6Bj9Jp+AFUrHE0vl64NbJP+PSHQUdTGvH7gO3lLFdlR/PniThroCcMq5Nxa5jV2YBVOmur4kv3PmTQfncjb3Ap32ZqwLx55EjdepWz0b9pFaddn+HruVW38FrTizGv6TwTV4wiawjT21YS3nemQ2y1d1jPxd+ePiYQstBRplkXLZFpoHojRrqeicSb2NruAaz+LgPY0CNsdRlmEbg4cjT9C6D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60/test-file-7514f202-041a-11ce-bbe8-d6fcfe251341?sv=Sanitized&se=2025-02-28T23%3A53%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5789ED7C15A0\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a6762f5e-e932-431a-f27a-17661426d1a0/test-file-e879b7e7-b162-e3f9-dbd5-ca62aab3cd2e?sv=Sanitized&se=2025-02-28T23%3A53%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a6762f5e-e932-431a-f27a-17661426d1a0/test-file-e879b7e7-b162-e3f9-dbd5-ca62aab3cd2e?sv=Sanitized&se=2025-02-28T23%3A53%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-27T23:53:26.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EDB091B6\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-27T23:53:26.6386358Z",
        "x-ms-file-creation-time": "2025-02-27T23:53:26.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-27T23:53:26.6386358Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a6762f5e-e932-431a-f27a-17661426d1a0/test-file-e879b7e7-b162-e3f9-dbd5-ca62aab3cd2e?sv=Sanitized&se=2025-02-28T23%3A53%3A25Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60/test-file-7514f202-041a-11ce-bbe8-d6fcfe251341?sv=sanitized-value&se=2025-02-28T23%3A53%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EDBCB90F\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-content-crc64": "3gR5iNsw7wQ=",
        "x-ms-file-last-write-time": "2025-02-27T23:53:26.6386358Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a6762f5e-e932-431a-f27a-17661426d1a0/test-file-e879b7e7-b162-e3f9-dbd5-ca62aab3cd2e?sv=Sanitized&se=2025-02-28T23%3A53%3A25Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-27T23:53:26.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EDC64B3E\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-27T23:53:26.7810110Z",
        "x-ms-file-creation-time": "2025-02-27T23:53:26.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-27T23:53:26.6386358Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60/test-file-7514f202-041a-11ce-bbe8-d6fcfe251341?sv=Sanitized&se=2025-02-28T23%3A53%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5789ED7C15A0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5789ED7C15A0\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 27 Feb 2025 23:53:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-a6762f5e-e932-431a-f27a-17661426d1a0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9022fd06-3e2d-57cc-425e-1d4370c22b60?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-27T15:53:25.8939955-08:00",
    "RandomSeed": "587233462",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
