{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB83CC8B77B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5aa0419c-e6ac-e10b-3f1c-a870fe8ced9d?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB83CFB384A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb/test-file-b7aa48d3-15b5-e88b-aa29-01c168a92472?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB83D1756D3\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb/test-file-b7aa48d3-15b5-e88b-aa29-01c168a92472?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "H9ci4zWnE8Qxiroik1+9sQ4/jXMiRBw4j26cYVbJfvG6rxjihfkJLDXmhipbaFRLa1CyKRyxT9q76VPGCrJuaAvIaONG2ysUNmE+PL3x3SYZUfUFFlXVCV89J5umQiGCeB4fkgBxBJAknvO6chIcygwsrbm8aFG1816ECLOPbvM/u8Sf0UomqExl4XhiGpZMIV2PeZVoxg/Nap+h7fzclC//e7dOffjBBgRtV4bZUtjIN+dWAPRe1/W00merhLtQiExIYp/f/qNkzXOQ+2+I8xfG2bUVhpQ7oaPBmauQFoFJHc46kO856DhD8TKAztuFLN5Q5KsFOwG4DMH7HWT407fxRt6gTmInjfB80ZVhutPHO23MQDHWQ+HMgYMuPcvUSx16j4f95d17KVa6iGl[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb/test-file-b7aa48d3-15b5-e88b-aa29-01c168a92472?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB83D226DF4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:37:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5aa0419c-e6ac-e10b-3f1c-a870fe8ced9d/test-file-bf7d516d-b571-64fa-f567-0f01086c6e9c?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5aa0419c-e6ac-e10b-3f1c-a870fe8ced9d/test-file-bf7d516d-b571-64fa-f567-0f01086c6e9c?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:37:51.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB83DABA9AE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:37:52.0887214Z",
        "x-ms-file-creation-time": "2026-02-18T06:37:51.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:37:52.0887214Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5aa0419c-e6ac-e10b-3f1c-a870fe8ced9d/test-file-bf7d516d-b571-64fa-f567-0f01086c6e9c?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb/test-file-b7aa48d3-15b5-e88b-aa29-01c168a92472?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB83DBBC439\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:52 GMT",
        "x-ms-content-crc64": "qJYbj+AHCWk=",
        "x-ms-file-last-write-time": "2026-02-18T06:37:52.0887214Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5aa0419c-e6ac-e10b-3f1c-a870fe8ced9d/test-file-bf7d516d-b571-64fa-f567-0f01086c6e9c?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:37:51.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB83DC5A42F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:37:52.2589743Z",
        "x-ms-file-creation-time": "2026-02-18T06:37:51.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:37:52.0887214Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb/test-file-b7aa48d3-15b5-e88b-aa29-01c168a92472?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB83D226DF4\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB83D226DF4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:37:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:37:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5aa0419c-e6ac-e10b-3f1c-a870fe8ced9d?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a08cd384-a729-767f-c8cd-f23ffcc215eb?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A37%3A50Z&se=2026-02-18T07%3A37%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:37:50.1590308-08:00",
    "RandomSeed": "1152817028",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
