{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D2012FF9C4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-bfa57308-da7a-22a0-9461-6612bf76473a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D2013546EF\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3/test-file-58c3b628-39a7-62dd-198d-0bad02c96064",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D20138E2B6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:33:59.9169943Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3/test-file-58c3b628-39a7-62dd-198d-0bad02c96064?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ZFgDoz1mKEejv7YFalRKa/e243/tcPr6LxoSRZzNjIJ/Vx/5ZE0TDLfts76CGMbphzLj9KUDxfRdCXMjVOOq1jI0hhI1UAepotbIAL07dxdTKL1q6pjce5Erm1ra77jTQtyMTpGzszYqOVLOO8U2IZFczyslQOyaVwuACbSsz7Id9L3gryiFoHSHP7BFDkDM9HnIfSCNrgLw8feGMqqBfWmfsEYHVXJo1i+2ngA7VEjLtBQ641GSkEa78L0x/23KBcFGpl35xZ8HX6fw1hABtZ2uu36VRpkYDCAAS2W0N9bC7Jg/9K7r0u51M4Sqork1uTogg0TuNL4nLpk9+Hk5UijQLup3wsDvw+iQHxMVbWpmypIqlLOS07faF8YUrdl1POBb2XTPvvd6McBbXhWrEcAu1y3nDr51Ploznav62hUPGuMzupT2lwybsGPzNnWiLwUF5tWsjS0h5psZmyFLgFaqTEMxd1csOEAgTF1bggflkW6l9PRAYoy1EdT53fvqTzAMSOoxcLeu2a6Ui0HPxmSTNAqzpYtiauq2e2aCM1tFNvwtTjkdsyC29xpFq9ZL5kpwZajwN6mkqd4AevRQK6ZTT1VEoncqdoDp/K5wHL4Ta5UbEs2yVP5TiKRbHTksZst08luBBkPTRu8oBzr7M40f7A5fNRnYoPtW8RnTzlg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D2013BEC84\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "FY0XWxhtLX8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3/test-file-58c3b628-39a7-62dd-198d-0bad02c96064?sv=Sanitized&se=2025-07-18T01%3A34%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC4D2013BEC84\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:33:59.9169943Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-bfa57308-da7a-22a0-9461-6612bf76473a/test-file-9407a4c0-efb0-1092-3aa8-d2846961210c?sv=Sanitized&se=2025-07-18T01%3A34%3A00Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-bfa57308-da7a-22a0-9461-6612bf76473a/test-file-9407a4c0-efb0-1092-3aa8-d2846961210c?sv=Sanitized&se=2025-07-18T01%3A34%3A00Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-07-17T01:33:59.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D2014B591D\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:34:00.0369949Z",
        "x-ms-file-creation-time": "2025-07-17T01:33:59.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:34:00.0369949Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-bfa57308-da7a-22a0-9461-6612bf76473a/test-file-9407a4c0-efb0-1092-3aa8-d2846961210c?sv=Sanitized&se=2025-07-18T01%3A34%3A00Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3/test-file-58c3b628-39a7-62dd-198d-0bad02c96064?sv=sanitized-value&se=2025-07-18T01%3A34%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D20151BA99\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-content-crc64": "FY0XWxhtLX8=",
        "x-ms-file-last-write-time": "2025-07-17T01:34:00.0369949Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-bfa57308-da7a-22a0-9461-6612bf76473a/test-file-9407a4c0-efb0-1092-3aa8-d2846961210c?sv=Sanitized&se=2025-07-18T01%3A34%3A00Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-07-17T01:33:59.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D201555FF9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:34:00.1027065Z",
        "x-ms-file-creation-time": "2025-07-17T01:33:59.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:34:00.0369949Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3/test-file-58c3b628-39a7-62dd-198d-0bad02c96064?sv=Sanitized&se=2025-07-18T01%3A34%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC4D2013BEC84\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC4D2013BEC84\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:33:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:33:59.9169943Z"
      },
      "ResponseBody": "ZFgDoz1mKEejv7YFalRKa/e243/tcPr6LxoSRZzNjIJ/Vx/5ZE0TDLfts76CGMbphzLj9KUDxfRdCXMjVOOq1jI0hhI1UAepotbIAL07dxdTKL1q6pjce5Erm1ra77jTQtyMTpGzszYqOVLOO8U2IZFczyslQOyaVwuACbSsz7Id9L3gryiFoHSHP7BFDkDM9HnIfSCNrgLw8feGMqqBfWmfsEYHVXJo1i+2ngA7VEjLtBQ641GSkEa78L0x/23KBcFGpl35xZ8HX6fw1hABtZ2uu36VRpkYDCAAS2W0N9bC7Jg/9K7r0u51M4Sqork1uTogg0TuNL4nLpk9+Hk5UijQLup3wsDvw+iQHxMVbWpmypIqlLOS07faF8YUrdl1POBb2XTPvvd6McBbXhWrEcAu1y3nDr51Ploznav62hUPGuMzupT2lwybsGPzNnWiLwUF5tWsjS0h5psZmyFLgFaqTEMxd1csOEAgTF1bggflkW6l9PRAYoy1EdT53fvqTzAMSOoxcLeu2a6Ui0HPxmSTNAqzpYtiauq2e2aCM1tFNvwtTjkdsyC29xpFq9ZL5kpwZajwN6mkqd4AevRQK6ZTT1VEoncqdoDp/K5wHL4Ta5UbEs2yVP5TiKRbHTksZst08luBBkPTRu8oBzr7M40f7A5fNRnYoPtW8RnTzlg="
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-bfa57308-da7a-22a0-9461-6612bf76473a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-fdd492d5-7917-1344-88c4-31914c0076b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:34:00.1957271-04:00",
    "RandomSeed": "826450859",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
