{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B446116E98\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e8cac970-5981-0d63-fe2d-cc3486497e85?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B4461B22FE\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5/test-file-514688ad-8262-6c11-96b4-266064479beb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B44622E9B0\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5/test-file-514688ad-8262-6c11-96b4-266064479beb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "HvzF9tNyPTxrSfgvIt08179VbujLvWzsfgl1kpT5xxHX9jfcJWzLOksK5RmK4kq4d06hDtmzIGCP2HfK/aqocoHmVyumYLJSijOdwddTYZy/vBtFV7g4I9bWTUz0AT2gYnOXpIoeEhecToSlFV+IPHbaCkCPYhrJrTRVzxJlXon2/V9ku70SoKkDqQkzkw52ThDVGfb8EP9YzvZWyUIENu/6rxgAJIG5x2qWi7kRlRol3oECkEST+e1fC+zHvNdn/3IZOeP1dimPHFKMZYRGRzjbMOrBAqarZ7UroBiU8guSL4xG91w2MGdXcnPyBpRoGcO064zspf3LbtEuytYR+ypH+TX4/[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5/test-file-514688ad-8262-6c11-96b4-266064479beb?sv=Sanitized&se=2025-05-17T20%3A00%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B4462CA2CD\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e8cac970-5981-0d63-fe2d-cc3486497e85/test-file-bbad1f4d-ffeb-6cc9-cb60-70c20b329195?sv=Sanitized&se=2025-05-17T20%3A00%3A14Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e8cac970-5981-0d63-fe2d-cc3486497e85/test-file-bbad1f4d-ffeb-6cc9-cb60-70c20b329195?sv=Sanitized&se=2025-05-17T20%3A00%3A14Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B4464DF819\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:00:15.1017497Z",
        "x-ms-file-creation-time": "2025-05-16T20:00:15.1017497Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:00:15.1017497Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e8cac970-5981-0d63-fe2d-cc3486497e85/test-file-bbad1f4d-ffeb-6cc9-cb60-70c20b329195?sv=Sanitized&se=2025-05-17T20%3A00%3A14Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5/test-file-514688ad-8262-6c11-96b4-266064479beb?sv=sanitized-value&se=2025-05-17T20%3A00%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B446584CB8\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:15 GMT",
        "x-ms-content-crc64": "/7IRBCMgAJ0=",
        "x-ms-file-last-write-time": "2025-05-16T20:00:15.1694520Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5/test-file-514688ad-8262-6c11-96b4-266064479beb?sv=Sanitized&se=2025-05-17T20%3A00%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD94B4462CA2CD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B4462CA2CD\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:00:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e8cac970-5981-0d63-fe2d-cc3486497e85?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-74524e8c-c978-522f-969a-a0fa0e21e4b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T13:00:14.8301334-07:00",
    "RandomSeed": "502710746",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
