{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D206BA40F3\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-214f2efd-83b3-5983-d1cf-de5aeff878c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D206BF28E6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077/test-file-b6517a1d-2f25-3d45-d6ed-97bc9f534566",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D206C337C5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:34:09.2111813Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077/test-file-b6517a1d-2f25-3d45-d6ed-97bc9f534566?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "WEQZYJPnC95IEblNIQbAeTcEEpkZwHQQSie5z7Vd4N7VOPhd919MNW5zbhN2+BzPLB2Fm0CsTJfPCRVrLTwo6zHad+gOY4LYt9wrplJhmlIL6qKY2ESdKetgje1J4QcxSoLim4AzwciareRkgKVFbm/DX0OakBPsPU39rdWUjtXU+VzPfv7R2Cja/StgOahFGx9+hoLEl7lv9l0yNhTyBh4Oj4dJde9w8YYbwJPniwSlt5K2FgdTEGKiYIignqIU5/YMUqkh+6UvDZT7qNcmh2pZjX6BPO8Wu38lpxVn0FLkB9ic2zlag7vshglyV2eKe9gdRxAjkqoH9ZYq+1SQxz1CF6H+i[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077/test-file-b6517a1d-2f25-3d45-d6ed-97bc9f534566?sv=Sanitized&se=2025-07-18T01%3A34%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC4D206C61AAD\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:34:09.2111813Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-214f2efd-83b3-5983-d1cf-de5aeff878c8/test-file-58d3df66-b3f5-b000-f7be-a531d5e08a31?sv=Sanitized&se=2025-07-18T01%3A34%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-214f2efd-83b3-5983-d1cf-de5aeff878c8/test-file-58d3df66-b3f5-b000-f7be-a531d5e08a31?sv=Sanitized&se=2025-07-18T01%3A34%3A09Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-07-17T01:34:09.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D206D75C6E\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:34:09.3431918Z",
        "x-ms-file-creation-time": "2025-07-17T01:34:09.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:34:09.3431918Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-214f2efd-83b3-5983-d1cf-de5aeff878c8/test-file-58d3df66-b3f5-b000-f7be-a531d5e08a31?sv=Sanitized&se=2025-07-18T01%3A34%3A09Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077/test-file-b6517a1d-2f25-3d45-d6ed-97bc9f534566?sv=sanitized-value&se=2025-07-18T01%3A34%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D206DC86D5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-content-crc64": "RjLuxgJDQwU=",
        "x-ms-file-last-write-time": "2025-07-17T01:34:09.3431918Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-214f2efd-83b3-5983-d1cf-de5aeff878c8/test-file-58d3df66-b3f5-b000-f7be-a531d5e08a31?sv=Sanitized&se=2025-07-18T01%3A34%3A09Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-07-17T01:34:09.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D206DFB770\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:34:09.3979504Z",
        "x-ms-file-creation-time": "2025-07-17T01:34:09.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:34:09.3431918Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077/test-file-b6517a1d-2f25-3d45-d6ed-97bc9f534566?sv=Sanitized&se=2025-07-18T01%3A34%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC4D206C61AAD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC4D206C61AAD\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-214f2efd-83b3-5983-d1cf-de5aeff878c8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2e60b8b0-2cb4-375a-d398-2f93a0dd3077?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:34:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-16T21:34:09.4927535-04:00",
    "RandomSeed": "1473220091",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
