{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bd287b0-cde3-a22b-5e3d-d9164ef0a8a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B448DC0CFA\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fcc4741c-6d73-f076-3fda-07ec60e9aae0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B448E4DDE9\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fcc4741c-6d73-f076-3fda-07ec60e9aae0/test-file-093fc737-c762-a826-37b6-394cdb9bd97b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B448EDC4E9\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:00:19.5044585Z",
        "x-ms-file-creation-time": "2025-05-16T20:00:19.5044585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:00:19.5044585Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fcc4741c-6d73-f076-3fda-07ec60e9aae0/test-file-093fc737-c762-a826-37b6-394cdb9bd97b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "JsPCrQrI/0sEiMU4jzrSyIlxWQhclCYhv7dcBw3j6ujYZ9T/OuzSGg2R6JO5X9SxRXRtT2d8ApGcoe5TbPg+IJ3dYChm0o6dnz/6y6ySaF/iqsGYdpuAXGRCY5n9fq4VUsf22/6sS3Pmz68ogTflCjiPcME2paoCXATEJG/0nyCQ5XjknIxgNl9OsabrV9ssXFlgbg7t3qwd83/66CcD8S+PmJu+AG2sLjlh5/MDFgQpl8cWlDERowfLx6gNZk44S8B2W78/blzrs0DVi/a4Gtx60FBf7F3+fvST8znEn8frKZwzjLtF6SlrK+DxPBgQEqzLkpb92F5jeN3Lq3oiJhR46mJZhY0hNeYn9MF8DULcg+CM+Qwx7VA+zxPdeT2uSATMeVG2t40eql2v1uSc5mub7iialS0HRv0RG7V5RLuoeau8sJTwJstTbU6vghdroeioQYsVFLPXxDJUpJzXpWaiBlw54DbXq8hcRijeWMTlpnnM0QIvk2X35ethm4EvfMjoDHu6McGy0ZbDuM2K+Gxubv4jCtNjcnP3QfpKdQ9GLcpf9ktIK3S3Gv9rbNuYbex/8yyDDHH0hJoIw/DHZ1uHfYsCKwIhJkOKa/DT+AWXX9QOy4LiwiBZanGwP2eE8LOk5O9QlUHpXczo+aCBIYyUcWMbuJvZpLpqqMGRcObbBXs9LxMWR8mTJG21+cl/2EnlHM4EaDcXyz815eyAWO3mDfMlQ/F4fiqZiJMtI6vx69B3q1MY15xEJWTU4GHdEsyAz+zVWpRXbJ6kauCj6qeUQ/ocCKyazTVW4R6MpJ3IvHXHrVS+G5A7Hz+1dGy7oDu9QJ1mwAof5gG2fnh2ysgA265r3DxT1Shq4Oht5FnImkHjz2QAYvtrp8dSB50XxVV2tJm+UMP+aWp1/OAhsgGo7uM3k/pkAHmyADR1AM2KUhqT9jDACkp95Gb5i2UbSfXFqhm54DJaErMgC0+OiGmd6qrGjbvR6OOYuq6Ua3UTl7Y+r1az0HLnOeR8oP777lv9W6C7Vbs69MI2ISWExac+DHOYUNkS6hk33lTXVUfknctSlw/UV0L6BLuUfK9MY3M8PZOLYp6C6nGGg3ZnYp96UYNaMS6XabUxnUsdfm1q63vhmhe0WTst0KydTdPLk6EcGios8jFEpNTdWcRTZGwEHJj7hsiHxfhHLWGB+hvhZQqpAWRCPflJnPVD1/932mtAmDA70A3ZlFQy5cTQw6q4+/S5qWMHwt+esunTRO74z1P2QWHqppX80GwPD1g0eNlKitsLvTAHONZRnB0jBVBmORVx2oJIzVVfvdj2+LKHaTkQiLkS7RIi7giLmQl32MocqdZDw55WAb2FrABYEA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "6OoB4ZSQ+304k2wWC4ACng==",
        "ETag": "\"0x8DD94B448F6E270\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-file-last-write-time": "2025-05-16T20:00:19.5641968Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bd287b0-cde3-a22b-5e3d-d9164ef0a8a1/test-file-7342dce7-7c52-80f6-a7d7-204849496c55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94B448FF091A\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bd287b0-cde3-a22b-5e3d-d9164ef0a8a1/test-file-7342dce7-7c52-80f6-a7d7-204849496c55?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "7I9+T+6lK+0jxG/9ieL39INaYn21JXOO+gRm2jUdLAu[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bd287b0-cde3-a22b-5e3d-d9164ef0a8a1/test-file-7342dce7-7c52-80f6-a7d7-204849496c55?sv=Sanitized&se=2025-05-17T20%3A00%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94B4490826A2\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fcc4741c-6d73-f076-3fda-07ec60e9aae0/test-file-093fc737-c762-a826-37b6-394cdb9bd97b?sv=Sanitized&se=2025-05-17T20%3A00%3A19Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD94B448F6E270\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:00:19.5641968Z",
        "x-ms-file-creation-time": "2025-05-16T20:00:19.5044585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:00:19.5641968Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fcc4741c-6d73-f076-3fda-07ec60e9aae0/test-file-093fc737-c762-a826-37b6-394cdb9bd97b?sv=Sanitized&se=2025-05-17T20%3A00%3A19Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD94B448F6E270\"",
        "Last-Modified": "Fri, 16 May 2025 20:00:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T20:00:19.5641968Z",
        "x-ms-file-creation-time": "2025-05-16T20:00:19.5044585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T20:00:19.5641968Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fcc4741c-6d73-f076-3fda-07ec60e9aae0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bd287b0-cde3-a22b-5e3d-d9164ef0a8a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 20:00:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-16T13:00:19.5082581-07:00",
    "RandomSeed": "64204496",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
