{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:24:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FEE24B832F\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d0464366-6837-2a9c-cb81-fcec4b9f3d8a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:24:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FEE254AFA3\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1/test-file-b5fb442c-a4c0-7abe-c409-94f0557ab561",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 30 Apr 2026 21:24:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FEE25BC917\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1/test-file-b5fb442c-a4c0-7abe-c409-94f0557ab561?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Apr 2026 21:24:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "S8JK3MkUTyf6mtZmfbyNJC+O9TBugHn8sVtkMssgEOFiDHbtyzu6GPXUuybOV/wIe2/Ax4SF88tJTSttrx1c2on0BHFFoFnz0907msVSLlleW7ZbX0lc3Bmro30QTWjXd+Gc2VOLwtsWzfOnSlgG9h/RDlNmAHpAmCdYmvzb4oZ1YyLjtVQG05nbRZJVtZLApaxePz4UcXdmW0ErMyjfOupsMec2IkDKyzu6i7vo6+KVl/RPfaNIYPKqfVoT2p9w/Aqn6YSqiYNsk3MCWeW7fnBelps0j71HI9D1i6XmtvCcSo+xQAFe6g5x4+kvRgcM7/7ptEQDPGxMYMWztf7dhdyDZQ9WC[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1/test-file-b5fb442c-a4c0-7abe-c409-94f0557ab561?sv=Sanitized&se=2026-05-01T21%3A24%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FEE262081A\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d0464366-6837-2a9c-cb81-fcec4b9f3d8a/test-file-f0e22740-7ec1-3101-23ea-26e1f10fbac4?sv=Sanitized&se=2026-05-01T21%3A24%3A37Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d0464366-6837-2a9c-cb81-fcec4b9f3d8a/test-file-f0e22740-7ec1-3101-23ea-26e1f10fbac4?sv=Sanitized&se=2026-05-01T21%3A24%3A37Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FEE276F9C8\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:24:38.4541128Z",
        "x-ms-file-creation-time": "2026-04-30T21:24:38.4541128Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:24:38.4541128Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d0464366-6837-2a9c-cb81-fcec4b9f3d8a/test-file-f0e22740-7ec1-3101-23ea-26e1f10fbac4?sv=Sanitized&se=2026-05-01T21%3A24%3A37Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1/test-file-b5fb442c-a4c0-7abe-c409-94f0557ab561?sv=sanitized-value&se=2026-05-01T21%3A24%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FEE27F0CC2\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-content-crc64": "OnA5EV512F8=",
        "x-ms-file-last-write-time": "2026-04-30T21:24:38.5070274Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d0464366-6837-2a9c-cb81-fcec4b9f3d8a/test-file-f0e22740-7ec1-3101-23ea-26e1f10fbac4?sv=Sanitized&se=2026-05-01T21%3A24%3A37Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FEE28572CC\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:24:38.5489612Z",
        "x-ms-file-creation-time": "2026-04-30T21:24:38.4541128Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:24:38.5070274Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1/test-file-b5fb442c-a4c0-7abe-c409-94f0557ab561?sv=Sanitized&se=2026-05-01T21%3A24%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FEE262081A\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FEE262081A\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d0464366-6837-2a9c-cb81-fcec4b9f3d8a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-f876b76e-f765-a9dc-0cb6-52cf2ac125c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 21:24:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:24:37.4356184-07:00",
    "RandomSeed": "1187564544",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
