{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EAC2FC43\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0a71dbef-2710-227c-dac8-3383dbe3c2a0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EB109B62\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61/test-file-e03f28f4-b38e-78b2-861f-b4a1a6d7298a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EB3797F3\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61/test-file-e03f28f4-b38e-78b2-861f-b4a1a6d7298a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "GhbteQbxm7jfJPlZJ4OIJ9/tJfT/DD1YK/K1mgVu/gDnaiFtMABsyPRuYup2CwfEB/E8HPzILw7YlU0UOwGzcSX4crxiG/fegVwAkKlT4h/q8JIUMeEEHzsTlJqzV4zyu/HEfZlKYuz5XZugx55khbMuKUtunz9D9FOBToZdKynPDdW3jmSFn46mGtNGY1edrg/mhC5BhBuygYhGyRNlnDJy0LrIrfZOqIm8x4Vr/JD746B3dqb6jom6BQ3cPtZ6QX2h1JOd1AAYl9ykhLyVRoT3SuVz7SaLd0IwDqjocmmzQoUHyij9Xg+fXt7KVgnNJL6J5PTwB1NXFlxQbMZYLyVy8UI2j[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61/test-file-e03f28f4-b38e-78b2-861f-b4a1a6d7298a?sv=Sanitized&se=2025-02-28T23%3A53%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5789EB467B5C\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0a71dbef-2710-227c-dac8-3383dbe3c2a0/test-file-9c5d2529-3f06-82c4-2150-765f9e117850?sv=Sanitized&se=2025-02-28T23%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0a71dbef-2710-227c-dac8-3383dbe3c2a0/test-file-9c5d2529-3f06-82c4-2150-765f9e117850?sv=Sanitized&se=2025-02-28T23%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-27T23:53:22.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EBD4C091\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-27T23:53:23.5203217Z",
        "x-ms-file-creation-time": "2025-02-27T23:53:22.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-27T23:53:23.5203217Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0a71dbef-2710-227c-dac8-3383dbe3c2a0/test-file-9c5d2529-3f06-82c4-2150-765f9e117850?sv=Sanitized&se=2025-02-28T23%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61/test-file-e03f28f4-b38e-78b2-861f-b4a1a6d7298a?sv=sanitized-value&se=2025-02-28T23%3A53%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EBEEBB12\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:23 GMT",
        "x-ms-content-crc64": "vpn6TeBzdbs=",
        "x-ms-file-last-write-time": "2025-02-27T23:53:23.5203217Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0a71dbef-2710-227c-dac8-3383dbe3c2a0/test-file-9c5d2529-3f06-82c4-2150-765f9e117850?sv=Sanitized&se=2025-02-28T23%3A53%3A22Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-27T23:53:22.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5789EBFDEC3F\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-27T23:53:23.7901375Z",
        "x-ms-file-creation-time": "2025-02-27T23:53:22.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-27T23:53:23.5203217Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61/test-file-e03f28f4-b38e-78b2-861f-b4a1a6d7298a?sv=Sanitized&se=2025-02-28T23%3A53%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5789EB467B5C\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5789EB467B5C\"",
        "Last-Modified": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 27 Feb 2025 23:53:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0a71dbef-2710-227c-dac8-3383dbe3c2a0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c284c6e4-32ba-21af-ee3f-6abfbf8c2a61?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 27 Feb 2025 23:53:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-27T15:53:22.1815575-08:00",
    "RandomSeed": "301331453",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
