{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1448BD287B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dafc346-dd9c-8321-f46c-19d362c108d1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1448C6AF1A\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09/test-file-25a1ba4b-91cf-4771-3745-e65251258c09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1448D366EC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09/test-file-25a1ba4b-91cf-4771-3745-e65251258c09?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "M5wTpod2j9W0ZeLkJ3t6eFwUsT1JFK0uSvJa+1jeZWqczd1Tykbw1CrLcGmujR+8y271PXNOvx7u5VyUG5N91v93R1qdJq0WJNwTfaRDf7zTnTDp6Cj2TQ2+ZOXpXLiWTplpNkXEHqXB3xmXO0J6qmafwH5jlO7XgfpM38HILccjfC8K2kh3Dn+LKAkPXhLLQ7l+SZw6MrqrkrVLeD7j+LFRdL8Tb9AdKLH+2GvkxyLngZwISeQr6El1X0eSLJZAqC9XvupTt9PpYCHqPFpOxsqTY/ei267NJYx1nhCIivsbvjA7jQk3lMnIHujCQKzuJph8/8menc2Biphe3RnCYNYmz30qE[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09/test-file-25a1ba4b-91cf-4771-3745-e65251258c09?sv=Sanitized&se=2025-03-08T01%3A06%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1448DC5D81\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dafc346-dd9c-8321-f46c-19d362c108d1/test-file-54aaeaa4-f985-e2a9-1a08-08be0a2f5082?sv=Sanitized&se=2025-03-08T01%3A06%3A26Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dafc346-dd9c-8321-f46c-19d362c108d1/test-file-54aaeaa4-f985-e2a9-1a08-08be0a2f5082?sv=Sanitized&se=2025-03-08T01%3A06%3A26Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:06:25.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1448FD6B7E\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:06:26.1775230Z",
        "x-ms-file-creation-time": "2025-03-07T01:06:25.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:06:26.1775230Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dafc346-dd9c-8321-f46c-19d362c108d1/test-file-54aaeaa4-f985-e2a9-1a08-08be0a2f5082?sv=Sanitized&se=2025-03-08T01%3A06%3A26Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09/test-file-25a1ba4b-91cf-4771-3745-e65251258c09?sv=sanitized-value&se=2025-03-08T01%3A06%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D144907E6FB\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:26 GMT",
        "x-ms-content-crc64": "HMbt3of6G/4=",
        "x-ms-file-last-write-time": "2025-03-07T01:06:26.1775230Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dafc346-dd9c-8321-f46c-19d362c108d1/test-file-54aaeaa4-f985-e2a9-1a08-08be0a2f5082?sv=Sanitized&se=2025-03-08T01%3A06%3A26Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:06:25.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1449108FCC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:06:26.3029708Z",
        "x-ms-file-creation-time": "2025-03-07T01:06:25.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:06:26.1775230Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09/test-file-25a1ba4b-91cf-4771-3745-e65251258c09?sv=Sanitized&se=2025-03-08T01%3A06%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1448DC5D81\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1448DC5D81\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:06:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3dafc346-dd9c-8321-f46c-19d362c108d1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-82b19507-9b96-5d41-c391-b3b223b8ca09?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:06:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:06:26.0111190-08:00",
    "RandomSeed": "137728530",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
