{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests348?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "noLabelTests348",
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9EcODehkegieftd9sJVFUdW4YlqNOPHQJ3Zzuf_VqVw\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:36:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODg2MA==;sn=103578860",
        "x-ms-date": "Fri, 23 Jan 2026 08:36:52 GMT"
      },
      "ResponseBody": {
        "etag": "9EcODehkegieftd9sJVFUdW4YlqNOPHQJ3Zzuf_VqVw",
        "key": "noLabelTests348",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:36:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests348?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODg2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9EcODehkegieftd9sJVFUdW4YlqNOPHQJ3Zzuf_VqVw\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:36:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODg2MQ==;sn=103578861",
        "x-ms-date": "Fri, 23 Jan 2026 08:36:52 GMT"
      },
      "ResponseBody": {
        "etag": "9EcODehkegieftd9sJVFUdW4YlqNOPHQJ3Zzuf_VqVw",
        "key": "noLabelTests348",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:36:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests348?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODg3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tgpzUu6kkARgiznrHpKsQGlKSvMx2o9H7SM_G88i6k0\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:36:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODg3OQ==;sn=103578879",
        "x-ms-date": "Fri, 23 Jan 2026 08:36:53 GMT"
      },
      "ResponseBody": {
        "etag": "tgpzUu6kkARgiznrHpKsQGlKSvMx2o9H7SM_G88i6k0",
        "key": "noLabelTests348",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:36:53+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests348"
  }
}
