{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests183?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "noLabelTests183",
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SMB1oaXzeV6pD9fnwLar-pZsq-PNTQ-6vo34h6yGoms\"",
        "Last-Modified": "Tue, 28 May 2024 18:42:06 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTAyNDM=;sn=2610243"
      },
      "ResponseBody": {
        "etag": "SMB1oaXzeV6pD9fnwLar-pZsq-PNTQ-6vo34h6yGoms",
        "key": "noLabelTests183",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:42:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests183?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTAyNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SMB1oaXzeV6pD9fnwLar-pZsq-PNTQ-6vo34h6yGoms\"",
        "Last-Modified": "Tue, 28 May 2024 18:42:06 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTAyNDM=;sn=2610243"
      },
      "ResponseBody": {
        "etag": "SMB1oaXzeV6pD9fnwLar-pZsq-PNTQ-6vo34h6yGoms",
        "key": "noLabelTests183",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:42:06+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests183?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTAyNDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GrAGG4-7S9kI8FX8xv0oJuRlccCT3J9l-ZRZgFVa5eU\"",
        "Last-Modified": "Tue, 28 May 2024 18:42:07 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTAyNDk=;sn=2610249"
      },
      "ResponseBody": {
        "etag": "GrAGG4-7S9kI8FX8xv0oJuRlccCT3J9l-ZRZgFVa5eU",
        "key": "noLabelTests183",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:42:07+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests183"
  }
}
