{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests215?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "noLabelTests215",
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pSN1y1J1lnvK0OTcvheoactkrGZEZzwzVqLReL4-cnE\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4MzQ=;sn=74772834",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:47 GMT"
      },
      "ResponseBody": {
        "etag": "pSN1y1J1lnvK0OTcvheoactkrGZEZzwzVqLReL4-cnE",
        "key": "noLabelTests215",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests215?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI4MzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pSN1y1J1lnvK0OTcvheoactkrGZEZzwzVqLReL4-cnE\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4Mzc=;sn=74772837",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:47 GMT"
      },
      "ResponseBody": {
        "etag": "pSN1y1J1lnvK0OTcvheoactkrGZEZzwzVqLReL4-cnE",
        "key": "noLabelTests215",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests215?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI4NTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0FhR0b3CP3Z2h05UyjxZactkdVx4GNs4WaAR45OM1a8\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4NTQ=;sn=74772854",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:48 GMT"
      },
      "ResponseBody": {
        "etag": "0FhR0b3CP3Z2h05UyjxZactkdVx4GNs4WaAR45OM1a8",
        "key": "noLabelTests215",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:48+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests215"
  }
}
