{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests366?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "noLabelTests366",
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i1mR3dBwxFVyqRblObMcJsMDC_1ULwdYqZFiysyynVI\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1Nzc=;sn=75080577",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:11 GMT"
      },
      "ResponseBody": {
        "etag": "i1mR3dBwxFVyqRblObMcJsMDC_1ULwdYqZFiysyynVI",
        "key": "noLabelTests366",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests366?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA1Nzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i1mR3dBwxFVyqRblObMcJsMDC_1ULwdYqZFiysyynVI\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1ODI=;sn=75080582",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:11 GMT"
      },
      "ResponseBody": {
        "etag": "i1mR3dBwxFVyqRblObMcJsMDC_1ULwdYqZFiysyynVI",
        "key": "noLabelTests366",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests366?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA1OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zBOkRTOfEQ83PfTFUPS8REmZgkQ926JTwgCl_5wJIJE\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MDA=;sn=75080600",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:12 GMT"
      },
      "ResponseBody": {
        "etag": "zBOkRTOfEQ83PfTFUPS8REmZgkQ926JTwgCl_5wJIJE",
        "key": "noLabelTests366",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:12+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests366"
  }
}
