{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests543?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4C6ETfoOFYE5j70szGrK8e7iOH-cz2Cf5jlOhK9wy8I\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc0MQ==;sn=115287741",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "4C6ETfoOFYE5j70szGrK8e7iOH-cz2Cf5jlOhK9wy8I",
        "key": "noLabelTests543",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests543?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4C6ETfoOFYE5j70szGrK8e7iOH-cz2Cf5jlOhK9wy8I\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc0Mg==;sn=115287742",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "4C6ETfoOFYE5j70szGrK8e7iOH-cz2Cf5jlOhK9wy8I",
        "key": "noLabelTests543",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests543?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GgLnGUIlyz1K6yDqzXVzjjy9nGxiWmBxH5bsE8n2nW0\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc2Mw==;sn=115287763",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "GgLnGUIlyz1K6yDqzXVzjjy9nGxiWmBxH5bsE8n2nW0",
        "key": "noLabelTests543",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests543"
  }
}
