{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests104?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "added"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ik49cA1NmC3QyqXa9p1LVBL5QU9TePy_dQywSnlzzRk\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTg3;sn=65174587",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "Ik49cA1NmC3QyqXa9p1LVBL5QU9TePy_dQywSnlzzRk",
        "key": "noLabelTests104",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests104?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTg3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ik49cA1NmC3QyqXa9p1LVBL5QU9TePy_dQywSnlzzRk\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTg5;sn=65174589",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "Ik49cA1NmC3QyqXa9p1LVBL5QU9TePy_dQywSnlzzRk",
        "key": "noLabelTests104",
        "label": null,
        "content_type": null,
        "value": "added",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/noLabelTests104?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O6BGTwv5-cLgBcb-FbA-L-fJdYAoZ-mbediDl7Su9HQ\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjA3;sn=65174607",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "O6BGTwv5-cLgBcb-FbA-L-fJdYAoZ-mbediDl7Su9HQ",
        "key": "noLabelTests104",
        "label": null,
        "content_type": null,
        "value": "set a second time",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    }
  ],
  "Variables": {
    "noLabelTests": "noLabelTests104"
  }
}
