{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a9dc01ca-1b7a-756d-5706-88787db06c06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC10B7F91F315\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 16:45:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a9dc01ca-1b7a-756d-5706-88787db06c06/test-file-66869a25-de8a-76b1-4167-ab4f75e535d3?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC10B7FA05331\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 16:45:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a9dc01ca-1b7a-756d-5706-88787db06c06/test-file-66869a25-de8a-76b1-4167-ab4f75e535d3?action=concurrentAppend",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "KR4ImqhgiIVJPe\u002BKCY2hTw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "6zwfArlTnjkbhid6eKoydz3T1RqCj9UMkD3uIKxfF435/hsHqiceJrwoinehPLXEWcjiFdz75lxnE3J8ZX2Nu2\u002BZgXqPK80Vta5dWQVealSHKcbkfQGx/Re/oJe1osA/ms4HB7s7NS76zV8tnYxXCKgd9Du2qT5t6INi0Io2YBPtHr42VmKZTPSX6bCihF\u002BLZ5ful66FiPGQmh832WWkxGxMP3/NILJFhKhGH8CNy2Mk1mjyR8hlaJbNpbxDYXKP8yRDVUXgvUblqRIFPmkwAs68EwL8sX2j59bpAHv1AiM1tiucSnUeQxghDZ62XyotnaPthk1vk0Gnn25u973[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a9dc01ca-1b7a-756d-5706-88787db06c06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "257230116",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
