{
  "Entries": [
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-f13660bd-f925-1c97-eb24-d2bc59aab400?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A640EFD55\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-f13660bd-f925-1c97-eb24-d2bc59aab400/test-directory-1fd51ce0-4bf9-c495-7354-5099ab4c116c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A641AF580\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-f13660bd-f925-1c97-eb24-d2bc59aab400/test-directory-1fd51ce0-4bf9-c495-7354-5099ab4c116c/test-file-3671595f-27c8-92bf-e320-d956b4b09106?resource=file&blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-group": "c93ea2ad-24e2-15c3-30e3-50725cc67cf0",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A64263790\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-f13660bd-f925-1c97-eb24-d2bc59aab400/test-directory-1fd51ce0-4bf9-c495-7354-5099ab4c116c/test-file-3671595f-27c8-92bf-e320-d956b4b09106?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A64263790\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-group": "c93ea2ad-24e2-15c3-30e3-50725cc67cf0",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-f13660bd-f925-1c97-eb24-d2bc59aab400?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1443263049",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsandboxc08\nU2FuaXRpemVk\nhttps://sandboxc08.blob.core.windows.net\nhttps://sandboxc08.file.core.windows.net\nhttps://sandboxc08.queue.core.windows.net\nhttps://sandboxc08.table.core.windows.net\n\n\n\n\nhttps://sandboxc08-secondary.blob.core.windows.net\nhttps://sandboxc08-secondary.file.core.windows.net\nhttps://sandboxc08-secondary.queue.core.windows.net\nhttps://sandboxc08-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://sandboxc08.blob.core.windows.net/;QueueEndpoint=https://sandboxc08.queue.core.windows.net/;FileEndpoint=https://sandboxc08.file.core.windows.net/;BlobSecondaryEndpoint=https://sandboxc08-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sandboxc08-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sandboxc08-secondary.file.core.windows.net/;AccountName=sandboxc08;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
