{
  "Entries": [
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-489eea6c-0456-f377-d9f6-f7864e8271fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6C24B9BB\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-489eea6c-0456-f377-d9f6-f7864e8271fd/test-directory-2aee98fa-9e2e-1403-454e-a7d28c45d37d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6C30944C\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-489eea6c-0456-f377-d9f6-f7864e8271fd/test-directory-2aee98fa-9e2e-1403-454e-a7d28c45d37d/test-file-96a807e4-79e6-3fef-5d0d-ddb35713419c?resource=file&blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6C3AF2D4\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-489eea6c-0456-f377-d9f6-f7864e8271fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "152122489",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsandboxc08\nU2FuaXRpemVk\nhttps://sandboxc08.blob.core.windows.net\nhttps://sandboxc08.file.core.windows.net\nhttps://sandboxc08.queue.core.windows.net\nhttps://sandboxc08.table.core.windows.net\n\n\n\n\nhttps://sandboxc08-secondary.blob.core.windows.net\nhttps://sandboxc08-secondary.file.core.windows.net\nhttps://sandboxc08-secondary.queue.core.windows.net\nhttps://sandboxc08-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://sandboxc08.blob.core.windows.net/;QueueEndpoint=https://sandboxc08.queue.core.windows.net/;FileEndpoint=https://sandboxc08.file.core.windows.net/;BlobSecondaryEndpoint=https://sandboxc08-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sandboxc08-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sandboxc08-secondary.file.core.windows.net/;AccountName=sandboxc08;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
