{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-bfa310a6-8ac4-e3f6-5441-582b62413887?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC10B87A407E9\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-bfa310a6-8ac4-e3f6-5441-582b62413887/test-directory-23a3f2c0-5634-aa17-59af-7ad7f72a5150?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC10B87B2C4D8\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-bfa310a6-8ac4-e3f6-5441-582b62413887/test-directory-23a3f2c0-5634-aa17-59af-7ad7f72a5150/test-file-5d7c6919-6925-41e4-903f-fd00f270685e?resource=file\u0026blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-owner": "ff1acb90-b21d-5ff0-ca0f-43d41decdee5",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC10B87C1A63A\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-bfa310a6-8ac4-e3f6-5441-582b62413887/test-directory-23a3f2c0-5634-aa17-59af-7ad7f72a5150/test-file-5d7c6919-6925-41e4-903f-fd00f270685e?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC10B87C1A63A\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 16:45:46 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "ff1acb90-b21d-5ff0-ca0f-43d41decdee5",
        "x-ms-permissions": "rw-r-----",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-bfa310a6-8ac4-e3f6-5441-582b62413887?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 16:45:47 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1391102620",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
