{
  "Entries": [
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-ad0a00b3-575e-11aa-ab9b-51f775fe59eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6D6EA405\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-ad0a00b3-575e-11aa-ab9b-51f775fe59eb/test-directory-007f7bd9-6448-85fc-5c97-a3da015f94e6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6D79EE7C\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-ad0a00b3-575e-11aa-ab9b-51f775fe59eb/test-directory-007f7bd9-6448-85fc-5c97-a3da015f94e6/test-file-f54eed20-414a-edfb-5b5a-ccf41e3d2c43?resource=file&blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6D8626D8\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-ad0a00b3-575e-11aa-ab9b-51f775fe59eb/test-directory-007f7bd9-6448-85fc-5c97-a3da015f94e6/test-file-f54eed20-414a-edfb-5b5a-ccf41e3d2c43",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA23A6D8626D8\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-ad0a00b3-575e-11aa-ab9b-51f775fe59eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:48:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "811966636",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsandboxc08\nU2FuaXRpemVk\nhttps://sandboxc08.blob.core.windows.net\nhttps://sandboxc08.file.core.windows.net\nhttps://sandboxc08.queue.core.windows.net\nhttps://sandboxc08.table.core.windows.net\n\n\n\n\nhttps://sandboxc08-secondary.blob.core.windows.net\nhttps://sandboxc08-secondary.file.core.windows.net\nhttps://sandboxc08-secondary.queue.core.windows.net\nhttps://sandboxc08-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://sandboxc08.blob.core.windows.net/;QueueEndpoint=https://sandboxc08.queue.core.windows.net/;FileEndpoint=https://sandboxc08.file.core.windows.net/;BlobSecondaryEndpoint=https://sandboxc08-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sandboxc08-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sandboxc08-secondary.file.core.windows.net/;AccountName=sandboxc08;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
