{
  "Entries": [
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-99fb0541-925b-8c75-45cd-56de2c52ecb6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A6392372F\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-99fb0541-925b-8c75-45cd-56de2c52ecb6/test-directory-bca2bc59-2f1c-4e9a-47fa-dd4c37844ca8?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A639ED998\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-99fb0541-925b-8c75-45cd-56de2c52ecb6/test-directory-bca2bc59-2f1c-4e9a-47fa-dd4c37844ca8/test-file-e72cb45a-3390-4679-24cc-65dd11cc7c72?resource=file&blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A63AA8A6C\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-99fb0541-925b-8c75-45cd-56de2c52ecb6/test-directory-bca2bc59-2f1c-4e9a-47fa-dd4c37844ca8/test-file-e72cb45a-3390-4679-24cc-65dd11cc7c72",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA23A63AA8A6C\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-99fb0541-925b-8c75-45cd-56de2c52ecb6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "788255543",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsandboxc08\nU2FuaXRpemVk\nhttps://sandboxc08.blob.core.windows.net\nhttps://sandboxc08.file.core.windows.net\nhttps://sandboxc08.queue.core.windows.net\nhttps://sandboxc08.table.core.windows.net\n\n\n\n\nhttps://sandboxc08-secondary.blob.core.windows.net\nhttps://sandboxc08-secondary.file.core.windows.net\nhttps://sandboxc08-secondary.queue.core.windows.net\nhttps://sandboxc08-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://sandboxc08.blob.core.windows.net/;QueueEndpoint=https://sandboxc08.queue.core.windows.net/;FileEndpoint=https://sandboxc08.file.core.windows.net/;BlobSecondaryEndpoint=https://sandboxc08-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sandboxc08-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sandboxc08-secondary.file.core.windows.net/;AccountName=sandboxc08;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
