{
  "Entries": [
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-172425b0-956a-b082-28a7-431b64f5ba75?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A62979C60\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-172425b0-956a-b082-28a7-431b64f5ba75/test-directory-29bd2e0d-c6e6-3100-76b9-00bd92676c93?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A62A3AE9C\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.dfs.core.windows.net/test-filesystem-172425b0-956a-b082-28a7-431b64f5ba75/test-directory-29bd2e0d-c6e6-3100-76b9-00bd92676c93/test-file-cad317eb-b718-aadb-d256-2b2ca9a65c05?resource=file&blobtype=appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:58 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA23A62B02218\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-172425b0-956a-b082-28a7-431b64f5ba75/test-directory-29bd2e0d-c6e6-3100-76b9-00bd92676c93/test-file-cad317eb-b718-aadb-d256-2b2ca9a65c05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA23A62B02218\"",
        "Last-Modified": "Fri, 24 Apr 2026 19:47:58 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 24 Apr 2026 19:47:58 GMT",
        "x-ms-expiry-time": "Fri, 01 Jan 2100 00:00:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sandboxc08.blob.core.windows.net/test-filesystem-172425b0-956a-b082-28a7-431b64f5ba75?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Apr 2026 19:47:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "545921527",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nsandboxc08\nU2FuaXRpemVk\nhttps://sandboxc08.blob.core.windows.net\nhttps://sandboxc08.file.core.windows.net\nhttps://sandboxc08.queue.core.windows.net\nhttps://sandboxc08.table.core.windows.net\n\n\n\n\nhttps://sandboxc08-secondary.blob.core.windows.net\nhttps://sandboxc08-secondary.file.core.windows.net\nhttps://sandboxc08-secondary.queue.core.windows.net\nhttps://sandboxc08-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://sandboxc08.blob.core.windows.net/;QueueEndpoint=https://sandboxc08.queue.core.windows.net/;FileEndpoint=https://sandboxc08.file.core.windows.net/;BlobSecondaryEndpoint=https://sandboxc08-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://sandboxc08-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://sandboxc08-secondary.file.core.windows.net/;AccountName=sandboxc08;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
