{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Skill 'test-skill' not found.",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "c6cda2967395455627d0c078ce421340"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": {
        "name": "test-skill",
        "description": "Test skill created by skill.spec.ts.",
        "instructions": "You are a helpful assistant that answers questions concisely.",
        "metadata": {
          "owner": "test"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://agents.westus2.hyena.infra.ai.azure.com/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000@proj-jep6bl5hlacma@AML/skills/test-skill",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill",
        "skill_id": "skill_f5becca49f7d0a2c00jxuFg0tmuYl0sxQARve9SlTgoQi2rgxi",
        "has_blob": false,
        "name": "test-skill",
        "description": "Test skill created by skill.spec.ts.",
        "metadata": {
          "owner": "test"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills?limit=10&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": "[{\"object\":\"skill\",\"skill_id\":\"skill_f5becca49f7d0a2c00jxuFg0tmuYl0sxQARve9SlTgoQi2rgxi\",\"has_blob\":false,\"name\":\"test-skill\",\"description\":\"Test skill created by skill.spec.ts.\",\"metadata\":{\"owner\":\"test\"}},{\"object\":\"skill\",\"skill_id\":\"skill_4ce15bd9828e299300W2IWPi9HbgaqrJJVp5LrVJd9FlE5ZUQc\",\"has_blob\":false,\"name\":\"product_support_skill\",\"description\":\"Example skill created by the azure-ai-projects sample.\",\"metadata\":{\"status\":\"created\",\"domain\":\"support\"}},{\"object\":\"skill\",\"skill_id\":\"skill_932ccc2629464d3400Uvhynvn490iv4JPulmG18g4KGZrt4SGc\",\"has_blob\":true,\"name\":\"canvas-design\",\"description\":\"Create beautiful visual art in .png and .pdf documents using design philosophy. You should use this skill when the user asks to create a poster, piece of art, design, or other static piece. Create original visual designs, never copying existing artists' work to avoid copyright violations.\",\"metadata\":{}},{\"object\":\"skill\",\"skill_id\":\"skill_6536381782bf7b9200HFWgs9Csx0JjStZuMwXHhQnx7hNkRptk\",\"has_blob\":false,\"name\":\"fallback-skill-45a6f187\",\"description\":\"Fallback skill created when package import is not accepted by service.\",\"metadata\":{\"source\":\"Sanitized\",\"sample\":\"sample_skills_import_export\"}},{\"object\":\"skill\",\"skill_id\":\"skill_6adeb0891b2fddfe00LDdCWKygOScGZmju9PeHSynklAe7AWpV\",\"has_blob\":false,\"name\":\"fallback-skill-25c420e3\",\"description\":\"Fallback skill created when package import is not accepted by service.\",\"metadata\":{\"source\":\"Sanitized\",\"sample\":\"sample_skills_import_export\"}},{\"object\":\"skill\",\"skill_id\":\"skill_ef4f2f38a46fff1800zZnYMoEsCy119Yrvne7GlKn50A9ZxV8U\",\"has_blob\":false,\"name\":\"fallback-skil[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "name": "test-skill",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
