{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
        "name": "test-skill",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": {
        "inline_content": {
          "description": "Test skill created by skill.spec.ts.",
          "instructions": "You are a helpful assistant that answers questions concisely.",
          "metadata": {
            "owner": "test"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "skill_9d215ecf028780ef865248baca2718e60a63b76f:1",
        "skill_id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
        "name": "test-skill",
        "version": "1",
        "description": "Test skill created by skill.spec.ts.",
        "created_at": 1780001660,
        "object": "skill.version"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
        "name": "test-skill",
        "description": "Test skill created by skill.spec.ts.",
        "created_at": 1780001658,
        "default_version": "1",
        "latest_version": "1",
        "object": "skill"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills?limit=10&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
            "name": "test-skill",
            "description": "Test skill created by skill.spec.ts.",
            "created_at": 1780001658,
            "default_version": "1",
            "latest_version": "1",
            "object": "skill"
          }
        ],
        "first_id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
        "last_id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "id": "skill_9d215ecf028780ef865248baca2718e60a63b76f",
        "name": "test-skill",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
