{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/:query-knowledgebases?projectName=QnAProjectSDKTest&deploymentName=production&api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": " "
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid input. See details.",
          "details": [
            {
              "code": "ValidationFailure",
              "message": "Provide a valid Question or QnAId field.",
              "target": "Question"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "QUESTIONANSWERING_PROJECT": "QnAProjectSDKTest",
    "RandomSeed": "1315323702"
  }
}
