{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CEB30BD7D\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf/be31cc0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "vZvXP91LmuJ0S/Q/QUogrQ4tx47tyVx0hMMQQJL4o9KxA4R8CelgwzFOSWPLFORUwpUFnfZA5vQ+YroaO1pQe6cijT3FpKMkzQNdnn/5qXDfu3798wXbcByPPacvRYjX/s67qYamjh7x4NDy40d0RblKO3/cUoeiRh0hNmb89Yd7haCxPQDpOCxfCxM06YzUG/ft5AoI+6tGGWNphVi39OtId12nwwi5YAJTfEZ0bV2QTBpuDhB9c4r0aySdf7PTqBcn7HEvLVfvNIMItX5k0asF2Tg9SObaywTTsljjHOFOf9QvTYHrYB7Df9mMdL0Lj5l5l6Z6lV8wTCBtW3r/CxiiuTWqNYQpGngaeskMTlZG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf\"><Blobs><Blob><Name>be31cc0e</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:12:59 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:12:59 GMT</Last-Modified><Etag>0x8DCF78CEB420DEC</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>zVfZGmUDuazQSGTm964jhw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf/be31cc0e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zVfZGmUDuazQSGTm964jhw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CEB420DEC\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:12:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf/be31cc0e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF78CEB420DEC\"",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:03 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CEB420DEC\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:59 GMT",
        "x-ms-blob-content-md5": "zVfZGmUDuazQSGTm964jhw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:12:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "vZvXP91LmuJ0S/Q/QUogrQ4tx47tyVx0hMMQQJL4o9KxA4R8CelgwzFOSWPLFORUwpUFnfZA5vQ+YroaO1pQe6cijT3FpKMkzQNdnn/5qXDfu3798wXbcByPPacvRYjX/s67qYamjh7x4NDy40d0RblKO3/cUoeiRh0hNmb89Yd7haCxP[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d11b2b3d-3649-2a93-f245-a60c17c5fabf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:13:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1826361420",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
