{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005F066E5813\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8/20565e2d/5029b637/5cffda41/135f7b30/d0b33ce8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "KLNyG+Y7R2gwjk54j2y4ZCWDaFMu/JBV1gzpt6ojig1lbvh5S3FtrfVLoO+MLMK9ispgYpbduSsjHETZUY+9DARAEiF0Pxi0Fbte4lugyapJLC3gwyd2iLTMVi4sk1xljpTrSxqhSEuxq0zbftbQglOajyRi3UjcyolsqOnqh4Jf+VTHtX6QqOPiLxfbmwne+9PbkgM3ArFLDoGQNaBhxyPKfIWBCM3UCudAgK4wAS6AjqwWDvV+J/ajfKb9/3NDgGf0ER+EXPMFB4gc9oEDGg1SEKb0S7guS1SO3own1wp0/f9GPPAP/DG4EAdsYjB0n2GYqu/MTzWvxcXL9X1n3S9+p/mBvd4dQxR1Ozqxwekj[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8\"><Blobs><Blob><Name>20565e2d/5029b637/5cffda41/135f7b30/d0b33ce8</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:22:06 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:22:06 GMT</Last-Modified><Etag>0x8DE005F068A1D17</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>d+pmNk6eKcdlXTRWiaAR3w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8/20565e2d/5029b637/5cffda41/135f7b30/d0b33ce8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "d+pmNk6eKcdlXTRWiaAR3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F068A1D17\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8/20565e2d/5029b637/5cffda41/135f7b30/d0b33ce8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE005F068A1D17\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F068A1D17\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-blob-content-md5": "d+pmNk6eKcdlXTRWiaAR3w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "KLNyG+Y7R2gwjk54j2y4ZCWDaFMu/JBV1gzpt6ojig1lbvh5S3FtrfVLoO+MLMK9ispgYpbduSsjHETZUY+9DARAEiF0Pxi0Fbte4lugyapJLC3gwyd2iLTMVi4sk1xljpTrSxqhSEuxq0zbftbQglOajyRi3UjcyolsqOnqh4Jf+VTHt[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e64f76e7-6760-f1aa-163d-58ffd30e2dd8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1202120565",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
