{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005F08014C5A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8/2a1a8e45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "6Tsa0w0JprzhOBRNA1z+cHvcjAqP70Q6nmiz+OsVqFlRQHuj6CT8yS2mW1/2oa8a6SWt1MkQrfn33zSkVq7QzJC6/MLhW4dX38Pc6JTlRPy5mA7GZ9OPQJOBqwnvWHJ/1o/OPKXsOY2eVvUGM8RlEps46r6gCmS8KrsuX699aIdQXRIFFghXzF6AKBHeiQzPHJlut2203ssqEhHqvdrdIO5tttaxYPuT4B5fH+FT3aGuX0IWD7Aam35G2gT2bA+DoggicNI2Hbyd29ZPVL/p1jRwPF2XxxA9UxtYa4X3nHQO3HzZMG3PeEKGeDTay0e+XAPPhjCx7Nv35R233bE2pT5iQHhCEKbHocMbEU7cY4fU[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8\"><Blobs><Blob><Name>2a1a8e45</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:22:09 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:22:09 GMT</Last-Modified><Etag>0x8DE005F081CDB21</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>fNHGon1Pt7PlK3etY3tWtw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>3c63d4d3</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:22:09 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:22:09 GMT</Last-Modified><Etag>0x8DE005F0820A763</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>LpeRFITfQ2F0yQP8eK6TQw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8/2a1a8e45",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "fNHGon1Pt7PlK3etY3tWtw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F081CDB21\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8/2a1a8e45",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE005F081CDB21\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F081CDB21\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-blob-content-md5": "fNHGon1Pt7PlK3etY3tWtw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "6Tsa0w0JprzhOBRNA1z+cHvcjAqP70Q6nmiz+OsVqFlRQHuj6CT8yS2mW1/2oa8a6SWt1MkQrfn33zSkVq7QzJC6/MLhW4dX38Pc6JTlRPy5mA7GZ9OPQJOBqwnvWHJ/1o/OPKXsOY2eVvUGM8RlEps46r6gCmS8KrsuX699aIdQXRIFF[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ab6466f0-f57c-5963-3107-5ba15d2acfa8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1571317108",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
