{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7787EB440B\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "UwtDF7yWkZNwnOlNRP90G1Th2ZyM9B0mj0qN3tvcxqrsRHHEdqUWC4qQH+s1fY/uaeLPGQ6eMV/uHYhxCLK3lNU+YACOr6Wvy80S/NQx8RG7nnX5DK2cTRIS1VgcpALX2IsV9h2PYLk8IE5AjDWKvSx3tmo9vocooRLtfNpNkibKOiNJG/r0Kz68vOteXMHdhxgrpe2YmhoD7VUKoeTf7o4ndlESQaEygoosgAGbykVRD/TBIew5Mp8IRS6l6olZ3c5dNuVvy0Z2+SJibBkYaCIPuJLvHc2h7kSyCftzjZgA0qMzPpNf4USuSyfK1sWF79wLlTH3ar8AvEehvcFKAmyJYZp25SqPsNdNQdGl1xh+[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "bdv5Xes4b[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tk6GpH/jArjMJ/439[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mJeU[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "x[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "hp3bPnGh[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2f9184ba-7078-85ad-b615-de9762b9d376\"><Blobs><Blob><Name>file%3Dtest%26</Name><VersionId>2025-07-03T21:21:10.1565907Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:21:10 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:21:10 GMT</Last-Modified><Etag>0x8DDBA7787F88BD3</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>mo+5VC5xSkufE7fEPaHL/g==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 03 Jul 2025 21:21:10 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>file=test!@#$%</Name><VersionId>2025-07-03T21:21:10.1555917Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:21:10 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:21:10 GMT</Last-Modified><Etag>0x8DDBA7787F864CD</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>XBNcHd+3JFHQS9Pd8FI42Q==</Content-MD5><Cache[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mo+5VC5xSkufE7fEPaHL/g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7787F88BD3\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:10.1565907Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDBA7787F88BD3\"",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7787F88BD3\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-blob-content-md5": "mo+5VC5xSkufE7fEPaHL/g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jul 2025 21:21:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:21:10.1565907Z"
      },
      "ResponseBody": "tk6GpH/jA[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f9184ba-7078-85ad-b615-de9762b9d376?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:21:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1646970426",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
