{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFD5DDEAA2D3\"",
        "Last-Modified": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2/b8ca9775",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "XBaCrcnpJvPLgXJkKsB19aT0220JMFtj/mUVI4OoA/ze4cCiA5iBcHnYBqufNDricIDHg/RYHyu6Hq9k1ANwIn11hUj/0/ILcmr0MCmww8orMrID4H8HhsKV5+TpHZx2aOQtKa7x4pyOuxGKZO4BClvkOKJQbEL9bv+GauwNIlTOfchFgpkcOU8VdCRufSHUk9yJBeX6JfuiL7uva3iwgJm8vOYlvIfByP5SO/cdj/DdstcPgx1v1FjMo1LebM7XZfSKssE7rtZUyDzmp+kDhKDK0bmgofx8TOeNWRk04lsve9YDktwvoQMAurvgiCxuyB6yE5sVNsT3DmXZrVW9H+XgtysT//LDmy+1oOZBm8S7[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 19:19:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2\"><Blobs><Blob><Name>b8ca9775</Name><VersionId>2025-09-09T19:19:58.8570634Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 09 Sep 2025 19:19:58 GMT</Creation-Time><Last-Modified>Tue, 09 Sep 2025 19:19:58 GMT</Last-Modified><Etag>0x8DDEFD5DE074A0A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>aJy2QrfkzDl4jQQslAOi1w==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 09 Sep 2025 19:19:58 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>d1cca05a</Name><VersionId>2025-09-09T19:19:58.8540654Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 09 Sep 2025 19:19:58 GMT</Creation-Time><Last-Modified>Tue, 09 Sep 2025 19:19:58 GMT</Last-Modified><Etag>0x8DDEFD5DE06ADE3</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>mceT+Edjnkh6LZhWfM2ymA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 09 Sep 2025 19:19:58 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2/b8ca9775",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 19:19:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aJy2QrfkzDl4jQQslAOi1w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDEFD5DE074A0A\"",
        "Last-Modified": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-09T19:19:58.8570634Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2/b8ca9775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDEFD5DE074A0A\"",
        "x-ms-date": "Tue, 09 Sep 2025 19:19:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDEFD5DE074A0A\"",
        "Last-Modified": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-blob-content-md5": "aJy2QrfkzDl4jQQslAOi1w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 09 Sep 2025 19:19:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-09T19:19:58.8570634Z"
      },
      "ResponseBody": "XBaCrcnpJ[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-087ad234-567b-8c7d-e0fd-d0b8b12950a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 19:19:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1796210653",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
