{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8b7f1bb1-b609-d07e-c0fa-305810417185?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CE6BDAD35\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8b7f1bb1-b609-d07e-c0fa-305810417185/d765ec17/3c76f930/c01d1d0d/27246d17/9e1bfb4c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "WduunbHiTHZDmB6cPDvpLJjVl3uTJqOzBudYw3g84DrMRJVKQi9oaq+kW5REygGTffEEzs8V3jI4+pfKioj+Brfk0Pimn+ppbS3M7ssObzvlxEWGNxJrtmViEUeYneAmpVTdX/oJ7d4Hm2GhSPBmKYtc5MVCeM+keBmSQ42j0M9Npkh3MQ9A3Ndnf5uxym51++i8PLka4y2FOOfgdqpQY8uRVKKn7/h7Gwju2/kz866rHUel55QWMsIb8vgoX2UtFhvQH3XLzgzwQCCxLAczUUU4NVliq3w2eyHfi/3/UruiwcTeY9M44E86tKZ0ZAa656Gz7yoMymuemqNU60IO8e1kD2tDVe1xAFUJJ/bVwhYa[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8b7f1bb1-b609-d07e-c0fa-305810417185?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8b7f1bb1-b609-d07e-c0fa-305810417185\"><Blobs><Blob><Name>d765ec17/3c76f930/c01d1d0d/27246d17/9e1bfb4c</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:12:51 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:12:51 GMT</Last-Modified><Etag>0x8DCF78CE6CEA61A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>O2gPk84a7GwzhOXB9T2ubA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8b7f1bb1-b609-d07e-c0fa-305810417185/d765ec17/3c76f930/c01d1d0d/27246d17/9e1bfb4c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "O2gPk84a7GwzhOXB9T2ubA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CE6CEA61A\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:12:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8b7f1bb1-b609-d07e-c0fa-305810417185/d765ec17/3c76f930/c01d1d0d/27246d17/9e1bfb4c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF78CE6CEA61A\"",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:55 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CE6CEA61A\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:51 GMT",
        "x-ms-blob-content-md5": "O2gPk84a7GwzhOXB9T2ubA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:12:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "WduunbHiTHZDmB6cPDvpLJjVl3uTJqOzBudYw3g84DrMRJVKQi9oaq+kW5REygGTffEEzs8V3jI4+pfKioj+Brfk0Pimn+ppbS3M7ssObzvlxEWGNxJrtmViEUeYneAmpVTdX/oJ7d4Hm2GhSPBmKYtc5MVCeM+keBmSQ42j0M9Npkh3M[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8b7f1bb1-b609-d07e-c0fa-305810417185?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1529855176",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
