{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6567023-3e55-3625-8385-97d8a4a6fe09?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:36:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF787E0AAE601\"",
        "Last-Modified": "Mon, 28 Oct 2024 19:36:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6567023-3e55-3625-8385-97d8a4a6fe09/7d1c9c5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 28 Oct 2024 19:36:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "1Y8IZ2opO7rHWRtsRRJOff1DiokEaLc77VcbK1j0dX+6GiBIuMuQtnCMWsYEQoBPNgDIc7mpsm3YzHkTDRBi0uScsiryBsQxstQZeA3xN6vXzPVYLALFEGiyb+xSfahgKojiZ49VXTA8lsDlkDpg55XOPEAbCaXh16HCP5bY3jUruU2FDs8bgW7FG5ZC4IAtUohWg0FnRCDiAJDtkh6ZZLeKudbs2tjGsrrRVu4Pn/YglOwNgVv0w3Qtow4/Lu9QK7betyaqQXewkNGGle4x0mGZzP0xjOJclvZivzfJh4TLgSs3MefPdlN1XPGJbS2G+9CspWHxH57UgSEwR4E/5ghMuxTC+qF6yVaquzDw0ijI[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6567023-3e55-3625-8385-97d8a4a6fe09?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:36:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d6567023-3e55-3625-8385-97d8a4a6fe09\"><Blobs><Blob><Name>2247acdf</Name><Properties><Creation-Time>Mon, 28 Oct 2024 19:36:54 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 19:36:54 GMT</Last-Modified><Etag>0x8DCF787E0BEF229</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>jXLmofPMEdYeYH2CgHYk2w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>7d1c9c5b</Name><Properties><Creation-Time>Mon, 28 Oct 2024 19:36:54 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 19:36:54 GMT</Last-Modified><Etag>0x8DCF787E0BF1913</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>TBrdplT6G/vwK8zqWLeNWA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6567023-3e55-3625-8385-97d8a4a6fe09/2247acdf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:36:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jXLmofPMEdYeYH2CgHYk2w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF787E0BEF229\"",
        "Last-Modified": "Mon, 28 Oct 2024 19:36:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 19:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6567023-3e55-3625-8385-97d8a4a6fe09/2247acdf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF787E0BEF229\"",
        "x-ms-date": "Mon, 28 Oct 2024 19:36:58 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF787E0BEF229\"",
        "Last-Modified": "Mon, 28 Oct 2024 19:36:54 GMT",
        "x-ms-blob-content-md5": "jXLmofPMEdYeYH2CgHYk2w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 19:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "4Hxdg8TCh/HqTAetUWxBO0aYu0/SAB8j5f4HNR71xk/ReoIXls7kM8eqxCAmJZJYKKgiHg9QRt9dOp7Fu1LT9YW33NfpKqV3tIiIKDv+/L9srwx206dAgDOjulwwHnd118+ab0i6bv4DqmqHxx6jXj3eWQxGXCLed1ujRnBIR5UQE1FsY[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6567023-3e55-3625-8385-97d8a4a6fe09?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 19:36:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "923989978",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
