{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F23818BA66\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b/d481e4c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NB9CG2233I+M0A4toEdtREz8MW37zijW/Gy/mVw0TuR6a98/ceTyDwfxR+iFgeE1txdeodzY8mb3bB8A90MyV4IqsjVnLtNoCiJlCYZAUHqKiuJF1qwIoXh5SAXF8RfEv+9lW8+szolE9Za5c+nfthukdWxg7YDWIhG87eXNoxkKoUqW2/Wr3rxZAOEVTi6PmZLpIHuqZNFvjjm98OCjdlJ9rtKeSdsm+ZewBuyfwNPiLFRT5IKdYD14J0y77e3ctYqOl59c8VC2wybj+l3lz85l2sOLUJLP4E6VJSGOagup1FFhECg0hjsDnCBcuWXfk1d+VhIqUGX4v7dRx8suJ1kbOiYLg76lMVSIh7Nxcybo[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b\"><Blobs><Blob><Name>d481e4c6</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:50:38 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:50:38 GMT</Last-Modified><Etag>0x8DCF8F238242F88</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>ULY7/NvI+IaOWJegbmf+Vw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b/d481e4c6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ULY7/NvI+IaOWJegbmf+Vw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F238242F88\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 30 Oct 2024 14:50:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b/d481e4c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF8F238242F88\"",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F238242F88\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:38 GMT",
        "x-ms-blob-content-md5": "ULY7/NvI+IaOWJegbmf+Vw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 30 Oct 2024 14:50:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "NB9CG2233I+M0A4toEdtREz8MW37zijW/Gy/mVw0TuR6a98/ceTyDwfxR+iFgeE1txdeodzY8mb3bB8A90MyV4IqsjVnLtNoCiJlCYZAUHqKiuJF1qwIoXh5SAXF8RfEv+9lW8+szolE9Za5c+nfthukdWxg7YDWIhG87eXNoxkKoUqW2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-55f2d77d-faf6-9706-6bd6-01adc75cf39b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "641848127",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
