{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005F0601D532\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a/55755b95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Qn/M6aAFoKOUl4Y0ruKJUZRAwYtpM36wej376AS6qE0MdGDrmHtNj7vRwQ03oxe6GN3c0M+Qww8AHG5iCree2e45KDmCnbkY8jHQl3FxeNcmQdAm3dh9e7FQ6nsN6oUDMuce/nvdN3okxN6ewCudj6SXPMnmd/wWu6yIMbM9CwerzGSKUnpcSAlWAhn537qFs1vXdq68HbvrCELOVAXH5rjW8vTHEjwpOvS/kHXiHNzxAn5XZZVZ766pn0k3jfQEjxtgI+3GvqAfrju5/Y1FCOxm3VKHb4AjfQJFHXPy8q0AuwBZgvjvKkTdOLdZn/IhY5Zc0K+hfB+bPKXqgKAtLLuNuUGM7IX0d7INqjfJyt4Q[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a\"><Blobs><Blob><Name>55755b95</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:22:05 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:22:05 GMT</Last-Modified><Etag>0x8DE005F0618EEBA</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>8iPtEYcyoBGbM04i+QMToQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a/55755b95",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8iPtEYcyoBGbM04i+QMToQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F0618EEBA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a/55755b95",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE005F0618EEBA\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F0618EEBA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-blob-content-md5": "8iPtEYcyoBGbM04i+QMToQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Qn/M6aAFoKOUl4Y0ruKJUZRAwYtpM36wej376AS6qE0MdGDrmHtNj7vRwQ03oxe6GN3c0M+Qww8AHG5iCree2e45KDmCnbkY8jHQl3FxeNcmQdAm3dh9e7FQ6nsN6oUDMuce/nvdN3okxN6ewCudj6SXPMnmd/wWu6yIMbM9CwerzGSKU[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6942116-3f6b-03e7-0aca-a23a3ca39d2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1739522435",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
