{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F23C7F4FB1\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c/9e21946d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "QSLxc3WLA4mmBtMm05gXCUmk9AxiaDH0PziYzOo3FGJxiUQ8XGD44ZCX+G/rQFo/NFOV9K1cxdjw/DQ98zafbvFxtUlU2qzorBN7ynDBCf/eWJiWoiC1FcNrS2Asu+5a94p+eosQ61qmrUea4ftoL/I1XpqeCMzQu6CF6I5MvPEkIdLmQ49zzmw+8PTYGzPIAxxt91xUu++9rb7rigPLWfBWdb8ogetjwZAtYBjX+KBsveRy38WU0GXjKJXRiENpcpYEgqVzoIExCjXMJlvX5rUdfs0eWXorwaVaRVlVkThMw+2B03b7+B1jQdWPyKkKDELgswp2Sxkb2MD/GVoo23j9f2JtVRM+IYawuhelnPj8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c\"><Blobs><Blob><Name>9e21946d</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:50:46 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:50:46 GMT</Last-Modified><Etag>0x8DCF8F23C8DDE37</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1JofTciKh1fxUH3yyFg2Jg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c/9e21946d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1JofTciKh1fxUH3yyFg2Jg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F23C8DDE37\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 30 Oct 2024 14:50:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c/9e21946d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF8F23C8DDE37\"",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:50 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F23C8DDE37\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:46 GMT",
        "x-ms-blob-content-md5": "1JofTciKh1fxUH3yyFg2Jg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 30 Oct 2024 14:50:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "QSLxc3WLA4mmBtMm05gXCUmk9AxiaDH0PziYzOo3FGJxiUQ8XGD44ZCX+G/rQFo/NFOV9K1cxdjw/DQ98zafbvFxtUlU2qzorBN7ynDBCf/eWJiWoiC1FcNrS2Asu+5a94p+eosQ61qmrUea4ftoL/I1XpqeCMzQu6CF6I5MvPEkIdLmQ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b3c2f5b1-acfd-0804-ab48-c9a41bdbfc1c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1294681329",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
