{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6d9e167-ba2e-622e-0432-649c606d16ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F23E57CAB0\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6d9e167-ba2e-622e-0432-649c606d16ad/f49394e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "RkMtkD6OaDCkGgH1YMJGROxYn6ebEBTQfN54gXWiHW3z87vI7qz0IHzjMTwTIlS4T59WhvMEhjUuXRNfFue7AvyUAWwHfVVAY34rt9/XvFmJwDLVTJd672yFmpGYlQqUKC9AfiHnsNJJFiJ02M9WVqC51lW15bZkGhH/guLEp850l46vlz44oQ9fizZ1BhedLkPw3r6030N522QQ6C7vhW5TAEFApr9igTRGVVl/7xT6YlOf08gPv7hLNrvZJ7ngcAbHIQbVXYeEjl2Kbonp+exQFYXaT7GmRECJ9G8DiFl6ZeRSuM0OJATMGkVrhVAuYj3PiRIzBiBVINzFTGgXgQUDDwiklkAeQvCBDjVsO7/v[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6d9e167-ba2e-622e-0432-649c606d16ad?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-e6d9e167-ba2e-622e-0432-649c606d16ad\"><Blobs><Blob><Name>d613e4af</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:50:49 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:50:49 GMT</Last-Modified><Etag>0x8DCF8F23E71E332</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>U/w7twsu/d83kuH9YIGePw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>f49394e5</Name><Properties><Creation-Time>Wed, 30 Oct 2024 14:50:49 GMT</Creation-Time><Last-Modified>Wed, 30 Oct 2024 14:50:49 GMT</Last-Modified><Etag>0x8DCF8F23E71BC47</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>9gH/RA2WHUDJvbfGGWsLrg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6d9e167-ba2e-622e-0432-649c606d16ad/d613e4af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "U/w7twsu/d83kuH9YIGePw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F23E71E332\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6d9e167-ba2e-622e-0432-649c606d16ad/d613e4af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF8F23E71E332\"",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:53 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F23E71E332\"",
        "Last-Modified": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-blob-content-md5": "U/w7twsu/d83kuH9YIGePw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 30 Oct 2024 14:50:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "8Pb+Pi0opsEW2w+NSaaVFNJ8qNW4KBZSq5M54qoQUG4e9vlPrKDC3prJhwGarNwpSox3kFOyw8ffrJOZ7sQWBoqhblKsRWgxuso77qAVuP62EJgemMAaazIxbwANKPDVsoF3+D6KfAQjRdWId9UnyvSU490s+G3JhgIfe9VoJJLaZjsen[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e6d9e167-ba2e-622e-0432-649c606d16ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 14:50:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2099728116",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
