{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1877862b-3f78-a54c-a0c3-81b4a574912e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005F0A5C7830\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1877862b-3f78-a54c-a0c3-81b4a574912e/58888cc1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "x3JjXDoHm4xyKHxkVS4dZF4xi2lpirlFJk2EeREu1ZqdyGvNxF6jXUm/f6kAAeSla2aycXJc4z24HjbsgiF6RFPhx43CT6D/ji4gqQoQRCRo3g2qfGMoQeQuFKYottonRTtWHjpX4xzGsuNDOzoyqNkSg6QU0MfwuYaolDr619dU+GTPuSbpEfrx5Ml/5AWp+2zNFTM1E3RzZWSzrk/hzNsM70PWYu6yKHKqI+z+cNWB/pjOLcGkHuXvXFTBNWKrDxjuc/TC05h9Gu3Ai/CIdPWPMrC3Ep4ZZ9Fd5gaa8PIQ/xPTEP3hvyv/URLU45P1ZudeMgOy8/151AsiZOyS4in6sIzctGT4rnOEt8GMRYQ+[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1877862b-3f78-a54c-a0c3-81b4a574912e?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-1877862b-3f78-a54c-a0c3-81b4a574912e\"><Blobs><Blob><Name>58888cc1</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:22:13 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:22:13 GMT</Last-Modified><Etag>0x8DE005F0A7896FD</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>FtQ1YxicqqHorcTJHOIYlA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>f24ce464</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:22:13 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:22:13 GMT</Last-Modified><Etag>0x8DE005F0A7CFEEC</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>DPGFfq2vlsqvwmapZGfHFw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1877862b-3f78-a54c-a0c3-81b4a574912e/58888cc1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FtQ1YxicqqHorcTJHOIYlA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F0A7896FD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1877862b-3f78-a54c-a0c3-81b4a574912e/58888cc1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE005F0A7896FD\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005F0A7896FD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-blob-content-md5": "FtQ1YxicqqHorcTJHOIYlA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "x3JjXDoHm4xyKHxkVS4dZF4xi2lpirlFJk2EeREu1ZqdyGvNxF6jXUm/f6kAAeSla2aycXJc4z24HjbsgiF6RFPhx43CT6D/ji4gqQoQRCRo3g2qfGMoQeQuFKYottonRTtWHjpX4xzGsuNDOzoyqNkSg6QU0MfwuYaolDr619dU+GTPu[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1877862b-3f78-a54c-a0c3-81b4a574912e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:22:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1459677625",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
