{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF78CE714A759\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2/a2d5e223",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "FmH0Xl3E9WKSs9BJlUJg77bk4YJ0ZZkGaYx+37b2Xv0Pa0+ZSYpUTPFZk9gjAGuYDiU0HlBZUrHH7vTRRRWsnFTSOSnzx6Yrj5WQG9HA4mkg5tCQwj+sthid0VuWgwbbrfeEUMZCpEd/CY67yDffBguLsV9FG9oUJYMRVfZLlQyOtG3aPJKi3UKJEbix8e3gvstPCtGnlpEdbypDME5RM3SCLBTKBMl56NMcuwohYzSVMJcq+4o65x7bvc1nXq3zON1EL8XZFrkB1iH+ituG+wv2rgC3JjjpR0X17kb7EoomKIMt3DRuvBndKSVoPFxCVMLCcLCsPBKlWueA4yhzBcSX2GFYWR7WiPHm2fwSgAvp[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2\"><Blobs><Blob><Name>a2d5e223</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:12:52 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:12:52 GMT</Last-Modified><Etag>0x8DCF78CE7269C6A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>aCkQwRTndiCMnUCZabkQIQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>aa53d4b6</Name><Properties><Creation-Time>Mon, 28 Oct 2024 20:12:52 GMT</Creation-Time><Last-Modified>Mon, 28 Oct 2024 20:12:52 GMT</Last-Modified><Etag>0x8DCF78CE7258C2A</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>JuAqtHkAWJoKM9VLCGPPTQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2/a2d5e223",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aCkQwRTndiCMnUCZabkQIQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CE7269C6A\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:12:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2/a2d5e223",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCF78CE7269C6A\"",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF78CE7269C6A\"",
        "Last-Modified": "Mon, 28 Oct 2024 20:12:52 GMT",
        "x-ms-blob-content-md5": "aCkQwRTndiCMnUCZabkQIQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 28 Oct 2024 20:12:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "FmH0Xl3E9WKSs9BJlUJg77bk4YJ0ZZkGaYx+37b2Xv0Pa0+ZSYpUTPFZk9gjAGuYDiU0HlBZUrHH7vTRRRWsnFTSOSnzx6Yrj5WQG9HA4mkg5tCQwj+sthid0VuWgwbbrfeEUMZCpEd/CY67yDffBguLsV9FG9oUJYMRVfZLlQyOtG3aP[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d324f9d8-2b4a-1f46-05c6-34ad988fc2e2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 20:12:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "264635933",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
