{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3c87eb4-e712-32a9-17c1-53610450e101?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1083F28976\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3c87eb4-e712-32a9-17c1-53610450e101/f366a6f3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ang/iSbDCpv5jVtoyYY7XIP8nu11YdrsogqeSgXI3Sh+LjVdNnljRiTzrDCqm5LNldYZKrcpWwmeU+YcJMCVMa8z6ZtR3SUKmVjJgrWqQQZ30LQur7NwVdIrvuOSRyFjXXqAd7L3fLexDpFfX9hT9BHgpFMLZoL8wpTIJR9BeFI2ZSQ6KcpUgFT9faAhEPX52MrSsqLNWPf4hLQdLlaYb5Y/Kfq0GcpHiyT/Denh2rGezk1Ub8avaA0tQaUVNlL+ZQ0K4uf7Rb7/iiZ+zkoNF6kCf18IQwDQj8DshtclMlTSAajc1/jKo4mOVOSfMZrDHyr7Erfy9SIMOlInDr7n2ljSrM2iMT+xONzWeu4cMF4l[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3c87eb4-e712-32a9-17c1-53610450e101?restype=container&comp=list&prefix=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d3c87eb4-e712-32a9-17c1-53610450e101\"><Blobs><Blob><Name>a58e2e0a</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:39:27 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:39:27 GMT</Last-Modified><Etag>0x8DD5D1084007591</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>4jya1+tSEbk9Y4gdSh5vQA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>f366a6f3</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:39:27 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:39:27 GMT</Last-Modified><Etag>0x8DD5D1083FFDA01</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>U57Krel7grZIOAtFWo0+BQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3c87eb4-e712-32a9-17c1-53610450e101/a58e2e0a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4jya1+tSEbk9Y4gdSh5vQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1084007591\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3c87eb4-e712-32a9-17c1-53610450e101/a58e2e0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D1084007591\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1084007591\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-blob-content-md5": "4jya1+tSEbk9Y4gdSh5vQA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "2MGNkO5pGU9Ij/GRpDQB11tYLiPPtflcxKJwKAodbhd4GYG6owYZIRvNtEm+fnaOolSD+UmovSPHMcxL+PBEKiHaGIqyRjNVPg0HAQCwnUUr4oa2mnXO0Fte83I5zSkriYoo5GXs21sgLro7oLsiF5OGIBVpjZCsC0cvVFPAG3Hk3Hh2i[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3c87eb4-e712-32a9-17c1-53610450e101?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:39:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1989928325",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
