{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DECCBBCBB\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DECD70F21\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DECE005BB\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DECE8AEA9\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DECE005BB\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DED0A68AF\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-creation-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/bar/item3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/pik/item4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "ETag": "\"0x8DE605DED135F55\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/item1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DED1C0831\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-31T00:16:05.9451441Z",
        "x-ms-file-creation-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": [...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": [...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/bar/item3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DED243C53\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-31T00:16:05.9989075Z",
        "x-ms-file-creation-time": "2026-01-31T00:16:05.8893890Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.8893890Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/pik/item4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:06 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DED2BFBD3\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-31T00:16:06.0496851Z",
        "x-ms-file-creation-time": "2026-01-31T00:16:05.9381734Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.9381734Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:06 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE605DED1C0831\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-31T00:16:05.9451441Z",
        "x-ms-file-creation-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058/destFolder/item1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DE605DED1C0831\"",
        "Last-Modified": "Sat, 31 Jan 2026 00:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-31T00:16:05.9451441Z",
        "x-ms-file-creation-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-01-31T00:16:05.8296495Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9f4f79ee-5675-1e5a-92cc-5e8c563b9058?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 31 Jan 2026 00:16:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1438422314",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
