{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2E72D0D4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f/6f3e13b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:37 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2E77AC40\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:37.8380352Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:37.8380352Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:06:37.8380352Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f/6f3e13b5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "6dnsokYfTEEybqbCmDLSjbDs5GrGJO42IUHofoDozZBfGW036CxGTUPylsTMzwTggxuwSjSI58XqtoAEN83BSaEWYn/EmqSDppYm1I4qaVE8B/pkOIJb1zKoTTKsQRV1MEwjtm2FG+l2LKSdYRI3wEwvyC/TXBAeuopMHE1y12SAsKNBBrPkt+wR7gzevnYfcI3lfXnlotQ7BPviOP6bBFQ/HLBv9bmZShBDwW4EP/wULavAjFrqmg3OBQG3AX/tdem3nqHFr3vTTDJpouBmN8T/zQpS23j6VYKioO+34kiRVUyETaFaT30w7EAogfgsaM49uDR0m5lxvUkfIg+LG2rp10yU4ekjpH2MIu430tSJdTggeikUHLqyE49XOy1upNHWPqmrmIfkGRO253mrOet1lazWaqFA1LqR4c1ay2hQHn0dYZMq3d2wO2AVXjVBB9qk4qWBlzkwlWnuGbe5ik2rZcn7jddXSrfOJi9AKnaFUNnztenCz4ZD7cspO8Mm9rESavhsRXoCTJfusnEK72vzacndxtVk6JZCuKALLg7zqC99Lb9+GQpf8GhR1BwVOP1gNtL6STDbroJhKYza9h6I+glBjMKrdFC+fdVsExN5LYCiqvg8+V//on89HO9+hflKyNoS06s7tcGBO8tabppu5/sMN0smTACqQepDbVhgQPjbIko5ZlrUZ/U2u72UpTPkzzX0cU2tI3zZaJHA+EdpIfvTfkxPNIChONBW75FDFpy3Xp4ibM6qLv/OX/7IE26uzZnBwCfnlJq0Ujl9VzTrllL1CZmoRrQsKFBNgdWC2SRhpyL3gVV00MoEbhqVLdbK48ms0grVBobllZjXmhPEMnkUG68R8xX8gDjPo9eal/p5gp4L1gYajKGbEey8nTa3QDyhgBImue+0r1HRBWKuS/2dXRh0uVty+o8OduIpP+MCGGOb+RboU8iuVya0SIY+7MbuHz8eQobgLoWCF0MMi29uzu3/E1LntApPxmE1vbIIz4kcOiCj5NbcusqQZTuFocy2RnmZP9lzBmo1znwkqnHTeki68FBPyukXIliIVk/OySSVf3Y4b5CvqDO2bhVatw9Yvevzy7F7Z3yQgRyA67AbZgVXjiv6mwq3CkgcmFzUvWpIL5lj2/5zGhf6qO10LryDmwcQAinjXiLhO8FoX88fu8SxOLwXt4oH5HQU//IcQ9uLmPxUw7tBZNB2gqA8CrtI2uwpwvYAbON8CR20z14vxPfl3cbSy/gJb9ProDXpytm4yyUG84HkiywZ17qdjJVyR72pVy31dg/zH1MiFMytkj9E+wM5KNB2AFGZufM+bOI+eVh4QHOsw1UVEtMtwXdga0R6WJCROR/sMw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2ptjDY+6g6bHYGkIoV+/XA==",
        "ETag": "\"0x8DDC4CE2E7CFD7C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:37 GMT",
        "x-ms-file-last-write-time": "2025-07-17T01:06:37.8728828Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f/50737b6b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f/6f3e13b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE2E7CFD7C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:37.8728828Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:37.8380352Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:06:37.8728828Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f/50737b6b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2E9AEB24\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:38.0690212Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:38.0122707Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5195991a-eda4-0f39-ae92-58d5b136d26f\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>0b399dfc</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>2ba4cef0</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>50737b6b</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>6f3e13b5</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5195991a-eda4-0f39-ae92-58d5b136d26f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1212625269",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
