{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D232CBB22\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D23378225\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:52:34.8447269Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:34.8447269Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D233ECCFC\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:52:34.8925180Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:34.8925180Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D234382A9\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:52:34.9233833Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:34.9233833Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D23483844\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:52:34.9542468Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:34.9542468Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af/301f1b5c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af/301f1b5c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D23545FA5\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:35.0338981Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:35.0338981Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af/301f1b5c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "42hS72ssxFbAjfLeDDNamZjJ5bk3eJHH9ZLukG7K+AVy1SN09HAAL1fIb8D1UjBLg+VKUIqE8GrWi/nYPjPo9pTsazcP5qUnybVhbgnQ0aNiogyJf6d67uS4nmh3J/Ej33gsCeb5O50/IofUIoJgBbpVdpsmX3bscXxSVkg8sKHEPo+QpMi8aGdvSV0fpcxiWJiuIbFV/H8CP5dppuRVAnHmEOTy0GHymA00txYZzMyw8P6vjo/wbkEPjmQwU8KCGkbrOZXnb4c2vIijIUVp6HLLubblpXTi9aGi40H8wUVLsZzPLpM2yIB2edEGTU38pabyZZoLnHXSCEPzRItGOftCV3ComrrflPA1biyi26hUpj6bClurQBQn/CVPQoP0MD/WxPXcUwrsEtGp1S5JLy2bn55Nqi6flxdbgZ6UkFFsQT3szBeyd1M0r/iJAWrm3c34s6Plp4YQNyzegNFsV4KAPZTwXGMV6ChKGfo2FZWsdaPRnNyuhpm33JXq1PaByFh1CcTV9oFp4st6m46L2iGXMQstm7qm0bb7OIDOKxQxyFCiwAzR1n8iZ7oQM+sLKwFzU6LrVC2dzzcN2r0Am7a2SdI96RkVxlqLCjMAlZ7L8A1+WthxRnQjBfHUw/zCIswDWuoZzULoXo1IX0n5nTmZQuqwgUDeRQJeGeQnQQJeyehn/DuzsSLKlvtKKeYqKme4OoAREaCLJBTnurNewB2K6ZZhkaD95ZDI5etElBsbM+98bwaBTbdH3NcmzPZvbNXev0BQyZjHulXwSSy0RpD5y4fE4VEXCZzeGbXI1xmZWXgWZtTby2pXtbSxkQSLkpZHLABvq4uDx7ajca/i/uM7VvCznt+8HgAcbCycZniYU4cfgaoZKq7tk58dN1m7dLbRdToU1/S2ig7/Uj5e5mA+Cx4ow3w5IixBxgtAnuenYfh1y/A9hHuSaPebGddvjqw+3ys6krA6mFIO0hHpdesmWPFF6RtwAIejlVqFnQhU0TdeAr68bM5HOjKeLrFpqfMLdMHlKqSQzt+jl/1WtftKuQDainMtausi/a7p0dLVOetneShHb6eSzTPfGNXR8YU3U3Sxjx9/3grVwyz1p/wMzV0R7jvTA0pYR7w/TVEWUQwpsn5dJKnM6Jsecat7nCY30kt3vwJKZFApWEdiP5C4v3IgzPV+r6mzRAaftJKe3aqWCHsGnpEJ300tM8tiaqkLZbE5W9AwuSOhw3v8qq++inuczDYVsSHgFuynUHvdUdpdk0/hZYLaZU9YZNoWDDSeb6hPxZ1y9rSPWETjiWmnw3GgnxZg3SX5wmfnvExGygq4CODTjow86p2aUQw999vmsKBpdWwePpKDVgI2ig==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tfLi31XAErxP+tikSKb4kA==",
        "ETag": "\"0x8DD7B7D2359FEA3\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:35 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af/301f1b5c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D235E3F93\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:35.0986131Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:35.0338981Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>7cc32863</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea\" DirectoryPath=\"7cc32863\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>6015b846</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea\" DirectoryPath=\"7cc32863/6015b846\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>67a06e44</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea\" DirectoryPath=\"7cc32863/6015b846/67a06e44\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>6ccf26af</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea\" DirectoryPath=\"7cc32863/6015b846/67a06e44/6ccf26af\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>301f1b5c</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af/301f1b5c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D235E3F93\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:35.0986131Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:35.0338981Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea/7cc32863/6015b846/67a06e44/6ccf26af/301f1b5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD7B7D235E3F93\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:35.0986131Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:35.0338981Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-06b3f773-95f5-e0f2-12cc-84718a4b2bea?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "957797137",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
