{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC484A3F28B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac/a9ced972",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac/a9ced972",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC484DA4C85\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:41.2934277Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:41.2934277Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac/a9ced972?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:42 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "inE9aD1fIpMKPF+IBztVpjT360Z5+7m3rKYoEXmSphV976kQnRmC7HBK44xcpR9FrDxm3XYyRI+3hryWNhEZeJZJCxiSRQkadf/WLxgtWgaH42U9K8mfSqoZWRZc67VeMGr2EpoHs2YzS2h2WxV3iiu1DlOr3EzNqsBteOvyvolJd/+tNkdsgDD+CuBgKO6Vos/qp9xhslMdKWjZmTp6QI3fLeMVyVPjSY4jrdJsbIHS2NYcBxas6MWrkA3ek+b1g8lSgfsKf9h7Bl5OPgWBsL3nBsFkXjh2MkUeajlGBbWoLioIGeqGyFj9oQC4Xqm/Kd9P94wkkCWQ3E+26xWfNAGopRDbeJbTYT5pZ7w4vdSbX0BZ9g0phJ0EeD2bz9xCXmz+ELiZ5LBJfJZNuiloWB56GozURT70fyFy1gBZN5FiJglQOa0bAnqQEHp328l0nB8fILRPbhguCpCXJg6v8EQE65QgGB5wXhgSRDXEfaRX/jrgORfcErjwIi8chNtr4CA1cu80VIMBrsKcPSniao3sPyfUzrYtKNncL/XvVNk9pmQVjgq0I6q234tVQNWODbihMEWzlhFqCEkWWCSOEVroXpbFzduCNxx9Hu8q2OgETSE9TSSUiQ9SqobBnsqFKM4xbOE+yEDcH/goNngiPzBhEQsDUMM1U9WGcyJVwZlS+PYh+WsGxYXhYS4rbFOXMGtWX4y+gdcK+xkMt1Qdhl1f1j2BAUXEWkyFIu6VCueB70O3/2IMk3YeFv5S+g4ww9rRzJUVFS4mkQVAOV/pdfEyisgRZof7U0LHY+pHcl89VV4Uwz1RbNkUkG1cy1oXNaENH3BFHl1S1XlTTrJE3x6lAuQA1LGz4B7u/dUZnofosC1IOVLv+DYBwe3D/h4mz7FOt8h2F2HwWT9SViGIODfyap6F/KXMtQqt/hLD8OIAyC0jyua+cpjMV+ATnaEUeYi20ZOAodMMggG+yBhOLGlcUo70ZG1QM/gFuKTEuBhpmYWKDR5PgCZaFkjkAKqAfit3tksSIBQbZZ6beugvSMrpVC6Swx9KDdJnmk0lazJNhTp5TQHNVnlxb6eAswU9Ks5++6x77boLLKl5qobG9flrTfWutvrIG/61IVR3ylnMKW9/p2+G0peAbSBYVKvyqnmuFGYPj3TTtuCtxsxllGJPrIAWR06J5XteLkjab8dSwnbbybXzvZr6q/GP2AvKGtm9CKcq3GMrJC7rsWEr+UYYWwNWisqsXO/mG5tc+g1vkxNvHGYfJ+YSr6WGBws4zrKqd30HdJAOEKy4RMDIziohex1OvNzf+TMdQ9olJlTjrk3osYOQZx6CYAy6Z+MmSeB7ZIzt6RLWyn5J6jG26Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "o4BrQGjCJa3q1u0iLq5Smw==",
        "ETag": "\"0x8DC9AC484E8063B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>a9ced972</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>eedd924b</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac/a9ced972",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC484E8063B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:41.3833787Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:41.2934277Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac/a9ced972",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC484E8063B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:41.3833787Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:41.2934277Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c4490e06-76a7-c48b-ca54-c8cd258191ac?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1879807852",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
