{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6BB53806\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90/513faf38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:17 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6BBB352F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:15.5352367Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:15.5352367Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:48:15.5352367Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90/513faf38?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "NlnxnHN5kkfraMVJ4h4j392M3bGoxK2/13s2OBdxXB+hDVuyWXsenjv+tki3GVDOqvehUW/dgnKrMcX4Q1kweQumqNXDcYVhbT92qg1lCL0rZ44fzwqvw4voBii2JlvizTw9EHF6CzlxQOQwZ9dlRikHzNvKEKoA9+RK2mpdqkbjk9zQKPdMsVxVrY8mflyzg7//r1qAF72SPBmNMDDOFJWdTdP7lB4xuxt/dWIb2XiHllaqXvvsY3wfPuvev4Arhpn5iTGJuO+hzfQ/AKJadmOgBZraI7aZsOpX21UzU/uaVO/JIU9H/t5nCZAHrGLZxMiIPbnmUGLiYNhGMdyabnr4pKyykFQTWQa7cxolkQSHfReMqhZBtAOM5sF3AMwBzZsWDwe1JzNzdeSzKt1Ivc7Uv7TFDcNjtvCpJamTm1g5uqV+DoL80VbjGTUyjoklRCnyokEYPMDYslkXDAGJ4NmLeXA3ya5M2O1d4vONMSdmhOGAoPkXIH3lplwo5MVVWThcphUZ7Xp7pslTu1nMSoAxsIggCUDfdFjyUiNRI/QoCIm7MYsSTZZmBPkvw2UkGVzb9zQ8NU/4fDK8JptXKYLVK7LQERj1H2LxuQRGr7HyzjjHdiy/69M5wrVZVSb6D9t3WpeyUwhD5dfRS3tKssyAylhjkLNVFUDfl05inMk89qopzlUZP3svg5BU7qBX7g/p2IvOl34nIURX07u54UkOlVTRION2Z4rdMw0iASefh6g/ecQ+bV8rAa0RwWy/daFHRllLhs4rcnAB8WRxBSAct0wTemeEzyf1pR82ZaYeHb1r2rrOVADaEwdUPXz6uvyN9AkfrPs5w3YxVuGu9QzK49OmBSplTmNMOGdgMJKr+uoiqXGc/nDCMRdDnP0eKx36iVmoU7XRJ6Wm03ST2ZLjhlz3jEybLuRj5NMTIbFmLQxKZqY4AqY0UYHL9ir8LliEYBahJ5/RX1t1RW7hvgbzP6ZnSXLsq4S1wjrKzzi5ZrV7jsGbxQZteAdLw703U5N72LaEleXlmLWS62RkBo8ju965Zi9EWHqf+tBroefGfW+nT/eBNdHQlfYMCdmhCHJ3JwjffuxjNn875JsUefbNy271vbaYoYUM6dA4N06h/vFe9Hnf5/6CQxh3RlA2uxv/Pz5qrEq734aC0pUcKv4xmuaptoV97eNwcnmdIFs11i60OfgQNlGmohTyXRVpZhkaRqtqjQSVgVFa+jnRHb4rTfxnZ/EFIWSUAhRwi5DOBwxgg9qvykgpH7entTsX1YRWxxAYAf8nFCRG1YrwJPbAjPMtcZnje4KzPUg5XmwofS2PGsSAtQUNOG+2aPW+OfrA5yhI6mPrckuNZcS27g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "wd4WCvmkytcTTMgHjgXgQQ==",
        "ETag": "\"0x8DD87FE6BC0D431\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-file-last-write-time": "2025-04-30T15:48:15.5720753Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6BB53806\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90/31a3db35",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90/00fc9e4d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87FE6BC92F4E\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:15.6268366Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:15.5979618Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:48:15.6268366Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90/31a3db35?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:18 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6BE8540B\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:15.8309387Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:15.7423280Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-af7ae0a1-41b6-92ef-c10a-9c33d3ae2b90?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "951059290",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
