{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0198208CAF\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01982D4423\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:14.4121891Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:14.4121891Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:14.4121891Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF019845F8A5\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:14.5740965Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:14.5740965Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T19:50:14.5740965Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF019875181A\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:14.8829210Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:14.8829210Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2023-11-06T19:50:14.8829210Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f/6395c5c3-9715-1786-e2cc-ae1b40107436",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f/6395c5c3-9715-1786-e2cc-ae1b40107436",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF019887B2FC\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:15.0048508Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:15.0048508Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T19:50:15.0048508Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f/6395c5c3-9715-1786-e2cc-ae1b40107436?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "Tepmog1FCfFrOkOu6ff24Gcfbp6hhnUt/PZ7IA/bIVI1X9IjUAbgSR2pLwSG/pNZUsxol1Vencd0OKYWyenijxjweYkk05BhPiSA91dxp/5iIs1Cc4r918ELrhdgyX80x6DrlYQJNH87B1gx3aVwA5GntKcbnxuO86LHGSR4AHWkTDC2hRF5WO5OB2wxzPkcm6uFuRXYGCiEXKLiQRpawgbjjJF1uX1/LVu4zZevXSepq31580dfyzMHMihvlxbT80RlTT9opuItBou6IEuQ1P97OZad4c\u002B/hMFdbYZVEJZE5NlTSg/oQAWbTOy8parodl0p812ANhF1psl9Cjhb2PX0dTxxPYrvk/iQApXiAt4WdPYoLB05xK7I3aNGajbMP3T3yDBudjnTOWBk8DR8kqPqZpVBM6zYurGNqV/mqCjCw8Ih6zqup/69VfK81NN5S0sAXA[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-295f963d-6f74-cc30-cac1-152543ccadf4\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E1e4ec57d-5e34-54d8-db90-a49d240084f4\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Ea35135d8-fbe0-fa53-de07-2482680dd75e\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-295f963d-6f74-cc30-cac1-152543ccadf4\u0022 DirectoryPath=\u00221e4ec57d-5e34-54d8-db90-a49d240084f4\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Eaa0801ab-b8e7-d98d-a158-ac852c38add5\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Edc7e007f-7607-5077-6435-016c09e2ae0b\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-295f963d-6f74-cc30-cac1-152543ccadf4\u0022 DirectoryPath=\u00221e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f\u0022\u003E\u003CDirectoryId\u003E17293892937846882304\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E6395c5c3-9715-1786-e2cc-ae1b40107436\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f/6395c5c3-9715-1786-e2cc-ae1b40107436",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01989A4DE8\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:15.1267816Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:15.0048508Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T19:50:15.1267816Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4/1e4ec57d-5e34-54d8-db90-a49d240084f4/aa0801ab-b8e7-d98d-a158-ac852c38add5/1f5bcfe2-9e6f-ee65-14e2-2040162b2e3f/6395c5c3-9715-1786-e2cc-ae1b40107436",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:16 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01989A4DE8\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:15.1267816Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:15.0048508Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T19:50:15.1267816Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-295f963d-6f74-cc30-cac1-152543ccadf4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1224203054",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
