{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5E7FCF83\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5E7FCF83\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c/1fa3f70e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c/528f0507",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:55 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5E953EA6\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:53.4760614Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:53.4760614Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c/528f0507?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:55 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "8QGLXEX+HDTBOK1ZqGqGjpas0HRArdZ1kU4C/he7/3byYrtSiSrQrGE9jdGlCC9A7N1aMA2hMkQqFcr3/B0dBTg2Z0WuMwRs2yQTAiAE0IkfwRI6YM9pUTB3J3Ng2bBDIIeZbqHpkbjY7lTojTAjJkVA1zoL46VozBYVNwyRCwF0z+KZamHoNS9aYnF6gcP/UwEtHwF1OD3hMaGK1FqrRuNTc75OirvkWKILsYA07UtTFeMLZOwA/5aktzm/XWHUrhuOJw0EsclGScZfaoe8rURWNr93oOL3UnQnqdOBJPtBNgNkpsU9TmQaxBoloJUP6Ar1aSahXA05l9WZ3Af1xCXLHTOEVwZ+GOhbXdvH0bHfGMHIjLrUn9r1Kw/wpHFcJAD1WYNhipADdlA+Rv8xcsUjucRGLThr935Zjiz3jnR2/jnb0ngufY0wxBZplVjbw7hJzeqtFvbHimIECPxkDOfcyEjFVqBN9Dw2FWgiAWEmfstzrcGJyOhCE0gVKnSRzLgujM0QFW0Y/NiudwGNpYgA3oow8F4mU/9ggkJYN8nHpEiw83WUFmhdW7Ho2lHmtW2/FUzpYdtaBznNr5IqwMUP59K43bETa8gi0pWtPnmuec3UmCF93UNsVuw7xmbVMpvs2fJ+Lti7rKqEx45GrcnAHzbFViejkQqPS4bF16RhTKD6wGWGL0v1GOx3+RW1Jqkie6cwENxzSEfo7+JR9tQFInrtTOxjOfDrzz07K5f02SXdolv9MTzDhncdnT9opCIXcteax9m9v0K2RUCeOB2v8xa9dFN5CPE+KsZ0RpuwgisbJLjAWRJLIOMZRuz8JU5abaopqy/OnmrmXJ0TSHimBsIUgxRk75kDcVNvX8EFQQV4Gtjxh9f7TIVO2v10ONdrc0Ap56I59X4QJTncXj6o4RqXmy6ftH7rGDaOFhScjzl8BOyB21ljPiRa4WGdH+1Hpfni3Jyoy77BPc9rq99pc5YAX1pRJwXANF0KRdIdTfhIRnAbubKc0zktv52K95JF8G7KnMCT9X30Iqg/noXspPDWI2RuTrnkZIwgJGhnNj3KxFRkUrE4tFDzJpcKXDSzQRuts9Qu16K05jgzc9EVjOxqddoxh1E+nm4Teyci2gdXbOJNuYJpm+2xsGt5BEF/3Zqrn+dagrrJbhVlGlt7kQww2wbvyNNpAdnsf9flxZkslJ2Ndzog/eoog0psA4GRNh5fSCk7kBXHQZ0NbQPj46l8OIa+7hnREN4cxkSI/f5YW0i4hnxw8QOIxTadEpDmRaCh8Mr600gEjThKHsnQPkSftRK7Kl0sC0eCNSjjNP1NNYGk5gwzXYcAs/hEJdI6t4by/Vx+KxpDdeSDeA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UjxGFToPa1EsRAyEGxcUAQ==",
        "ETag": "\"0x8DD87FE5E9B7934\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c/528f0507?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:55 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5E9F457D\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:53.5417725Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:53.4760614Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>1fa3f70e</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>528f0507</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c/1fa3f70e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5EA0CA6F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:53.5517295Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:53.4959739Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c/1fa3f70e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD87FE5EA0CA6F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:53.5517295Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:53.4959739Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e2b06ed7-bd69-a440-9b14-c67ce5f7d95c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "51010291",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
