{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643464A149B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:4b16fc1e-001a-0062-3c2c-d8ad85000000\n",
        "Time:2026-04-29T23:01:40.6475429Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64346600287\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:01:40.6905991Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:40.6905991Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434661D688\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:40.7025800Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:40.7025800Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-29T23:01:40.7025800Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/file2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "6r2vUc3VXuqHN9dL9BOUdebOc2G0dnSf9NsXooU1HASJqadQw8axoUJ7DNTbo3QlbbcelNdC2XRID1zyvrxlURrSwUtsRLIfHNIfOWmgxFFm8TTOF4gtR88yB7Npv+KGFru6COIouSgE/ncEIp8LqEsLi82HlzmRpHl7OTz/tV3vmSOt5btuPTcMyRkRKSUwJ19oXTMV/n6BKGNprYDrBUkZFIl8XcKPnU6Ve80ggHtUSxHdl1cq2ZqkLLxXBZC2IMTQ9xSbs8mc2MDlgIOxYKjnFGFuDm7x7zvv2DAFN5i93loIUIlnuJdHQL6XRVkW8swUb/AuSBFW3gjYrNuZl6AoJ6EoqA8egFvKJs6vWanh2OVk8Minj5ZJsnGAjgy8rqkdbx237Um89e+UZCFDpoRe99P1NabYgJcL3/aenvFPDXglkeqLKeqbp/vYEyt1BQvsIpc4xnkCRe+GrA1SHVf+RVaoHhWa0s3pWo2rAGxsldrrsXtaFkb+Ikz7BXzcSImj2s3UzOf2Uk/JT2zsV0WCGRYzZ2zbpC4PqfvIns1QDBEDByWfl8nz9V8skMfaEsoHeetlqeEdxzaexSLrLbOBeEJa6VAf4oJNQHENrxNnNJcxwCXh6mMw5UDvANKmB8irqheEgCl66JZpGGhvEBgiNpCLumyOoI3fKgMPL+KvpjipYgT747RuttiOd9L6wNUozMlCG01bHAqJpFUlarizunIvxq0TJlPbHAOUACi75Wku52MZbIrrTkX6cj5eSEwg2r1gyvknFKZ1Z/9Jxxzhzr/s94JVmk3nRHhnGLQUfNS3cyVrWhpwBtK8owWLoYYpGaN/clHJyj9veYaBv/zxYeorklP2dXSle/CvmPdIXKLxPv4RlQqC7ajl/OGT7kfWy0EbYA8zMqQv2vZhGjJIJxzkj4H+4MzgqKWqEXmSEY2p2cy1LPuSvgta4rsTIdN2nNTEr1/F2Ot1OrdpiCErnMhpt0BlkvohUdF1o/0RzIfSNHSkzWEu4wHhQPFEKTbqL0XyqWmSEAnZo16OTzTtZG0vl1Sshs9nO9Q/g1II3Cibi3S4HyMePyNryioDoJTM9NyEFJHhPqh1i26VUo220cY188S/NEVKEVgxQbulY5tAc492hMiWuU3LQpO0ieyWtPljzazPDL+WOQI5sP3t0CfSVd/9QEz9njl38/GxlYhrm43BQZXucGbQ30vFXQlP3nFs4jMMmHOtZS9zWBjN5aN6zRRwK4+S5OR5LGABOEAwJxWARbNUXwIZFNtmexhNAvqnS5D037Pi2f1Ok2wTqy3uQzADTaDwJW4SVhazK2nMKypmWeywO0dhnWu1BcuWBWmueDfnSrVZtyYi4Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Vx/isj6E9+m3YoYTQXUu9A==",
        "ETag": "\"0x8DEA64346699B8D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:01:40.7035790Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/file2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64346702889\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:40.7964297Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:40.7035790Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
     [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643467BD9BA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:40.8730554Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:40.7844490Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>13835128424026341376</FileId><Properties /></Directory><File><Name>file1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643467BD9BA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:40.8730554Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:40.7844490Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3/dir1/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA643467BD9BA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:40.8730554Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:40.7844490Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b10c3b50-8a0e-946b-a2a6-2f21d093dbc3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1900972286",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
