{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B62B29353\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c/03a95dfd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c/03a95dfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B62C87E88\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:23.3713288Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:23.3713288Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c/03a95dfd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Wi6fCx3tRi21+pyy9sNqdu1tXbUcKhjJJGeUFZlfHh4832XrRJ8HRrLKB9se/eT2xQGFWF0Uoy8W1ee1WTCUVtx9dRddfjJOZRYDUSM8qyeDnk+Y2cXBKDw21W+3Ue2BNrH/oIfNmEfPN/NGEVEM2SnAMrrh+3wWu0zaJ6jDlhQogRtxPQuftQYIyaLSehfrKvxF9x4zoDo06OQ68nGeDKDeHo81mpseIHy02TLaREE17/2sfZ/29eHhPVUmZMOVab0B81yItY9gJ9ahf8cIWaOjBQNz8Y4B6CmuVF1G97y5Hm912FHlrTltS1bIVHUa2eOxgl7AIXcuAAsy2WEyGi8a52BXk4BSvljJBaY4OJOzk3p6lHRd+f33RthFstPYOzEmrmwVwkZiX8QG9hvR9sh3f0XmuIW6vO5iYEyoDAyE8cp0EokmndE0FzWwVgLhJVAPzjKN8YOsa/J+smH5uVK4gQVRXeM+UOJ0sqBPCmXrgTv8mT7Z9wBGyKaXqOpvOl7j+NX9j8hs0H1QGT7jXGGMkjEm/SAU3ooEC5Q9p6j3BHdCbBKQ7vFzj8jAid7BY2tECxW5SD0+zxlK+IQzLinUWRTHoPBP/KQ/s21XU1SrQ6co+JySPbs6A534RfVtP2Cf7DDK+sJ79Q9xepXP53vEn7XcCjaMQRtYjJxTVrau0XMNt2ck4UnlrQKNIcMmahwhM6ZAkTUqEqoUcW0lKJ9Ywqghwi8UoL1r910z/yBYMiJ/MSMQbkA+4qS8EHDbv4RjNF4aBKftDZPo1JrY9xOJuz5LpfZ8SFRn4uCKV5BNjzfYz8rBPi16kiSPKJmmZuuQM1QxkBqN5+wKsiLHYrUCmkRi/ydIx30R0BPS7CC6wHz0+SM7HP4cSufdt4sLsjBujI1UQ2bDR2vWH8AHu/vMUPGl02iRx35GRrU/axDxBh7jY1+SZX0VMLG4Zfw+FY/sEWeZZd/H3cUPDv2xhNxb5BmiJFebOup0kKK22WKBBzAlU1qoWKA+G4aZg1d/Y6zVXIDjnPE3UNd8JdQ9EANjjQfNizGCs4x4YwjRAraT9S314X3hnmo/7gKCKzPMAQqDNfVPstd7UqnzajjoZU4g6TCnRy+Fge+cjZ0u/4dZrGL+TczBQ0JVeY7U7jMyV4izYkIDJLna/bMFsyU6TVIimb7W6hiCX6btUc6gsZO8aTYUep1EVoepI1AYu48dGyw8slV0XG1wMQObFdPqOkwgSUnuJtK13UI3LMbHaaQWzzWhZP4+SA3Jo0iZqEG0vukD93FFLvVZhtUSPC+mqchfhEWdSdZN4gE7JYKJGzQBg27dw3Iy0aBAR90pLAveI/qAOiP7FnUSthVwCQly0A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Kfwb/Tz46MyVODDFYavvBg==",
        "ETag": "\"0x8DD161B62D19C14\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>03a95dfd</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>c815225f</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c/03a95dfd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B62D19C14\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:23.4310676Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:23.3713288Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c/03a95dfd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B62D19C14\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:23.4310676Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:23.3713288Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ef8071b5-9f09-ad16-bf04-682879f94c6c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "765419283",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
