{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289BB8F3B\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289C560D5\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:20:09.7054933Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.7054933Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289CAD8F3\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:20:09.7413363Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.7413363Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289D333FC\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:20:09.7960956Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.7960956Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289D83779\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:20:09.8289529Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.8289529Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484/76c0d816",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484/76c0d816",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289E5E3BA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:09.9185594Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.9185594Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484/76c0d816?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "1OnUnhLWupyIMo9/ojdUya+yTX2O8SBYuCCNHc9+tg5GzP2aSO4lPx4j7nKcDF7g8/xu7u9hKOPIfOXySZ3MCXyBONY6uoDAjQ5fagKtu6zBrCnTD8ce5aMa0csJM/WAV+X2G9SIpjl7rmHhAb3gGsE5MJ1z+fm0YlIyH+m1t1kY3hMdt6DXOQXwV2FlPePlObYKzwJYDV7rQbmBVoZPxvYHySOqw2MhYfeXgqGYTyVvTOYyqudXwNG0MXXmVuN/oJBqXXPAO3ZS6W0LwIq8U/KUEgmgHBwPsAlS9ZHuOgsUGOEQLvGxrhFv4MB6S/9G+N6DUkPZ34R0W6xqbkXlZK9h96ioqyQA42P4MDxblGUJC/2yaujHOzldnNJERkDMiXsRGFRXnUy5gm/g4K5HGMZHYGJHM/nHmrtvSg9SvJwjLKfBSnwQsm6x+Oh451qKFoQL/OXdhFaBSX6Y51I8Z8bSvLQGhs1KN630lToRTrJh5DSLRr+2RadQPwD9d8obdJAipiqlg5C2wcU46e8bcPvLNgMesSEHHHcNtkbMTL/j2SCp7qiHvGCk1IX5fly4NM4FMkDH/cNvG4mzmM1J6XQGVA/OcoJSQ3qjet2bDZ0aVIF4xhp+G9xdOdMe1COSWuoQ8ylM6cJMsu7FI4Pm0w7smENL0SJahzkzcTivNG9XEB/yixl0zWu/KxQruPdZd2XEMjvfRonHtWzwGXiKnX5/bhNj80j0d8vYjKUOLs5B2vnS6gI0d8mVKtWthLTyNI2VrErk9YMd0LpwBrnkuYeerj5+t7N7S/ZJzslyRvMW5lcXeIGDXOV2tRlHw3AQsHFOD9V2c33aGWFTmya6qorGWSBizEAFGlJZCAKaNIeFOR1XJDYeoHLaPV4gL8G/uwqOgGlQreQxSPWDHWp6P+XazWIIYoVTqLmth4/h5OqQmU33C7MdNYs5JttBm4IIX/15RmFetliEOtiwoiZUUGML8oMdgzMyvZjXzjyqEg03pSiRZ56IMeP0ctHbbZNk5NZ3Nqn/69zJRojJh+gc2ijKef3+w+jFgsCgKBBiV08FculmMtxkN7pLyCEVvqr715ipEPSWZiHusrPpX8LLZu85xBX+tqdLZkFDsvrHr8QWpFF3uUdbbgvIeIAoetj3gGEx3PmU/CHxXamyUrQmJgPv07pwVK2o3VUKNj4nI+toSzKZldLKgagwhlueqRtWoVF8Oacehiy0if+kicbiyTq9SQeCjZExJVESQM1RCjM5s5XtqulESsQG5QzSJffhTbwh4F8U1BS/SxNWDEZeYn/LatYx9R9Qef9DfKeFXv9ZMPMQMCnUJd6ALV7W7T5+p4ONBrshsFid0Gdg0FdsOg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XMyKVD0VjZPVH3uQ4tuSqg==",
        "ETag": "\"0x8DD7C5289ED07B1\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:09 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484/76c0d816?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289F27FD2\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:10.0011986Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.9185594Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>8a5aeee3</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399\" DirectoryPath=\"8a5aeee3\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>ac212227</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399\" DirectoryPath=\"8a5aeee3/ac212227\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>db892431</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399\" DirectoryPath=\"8a5aeee3/ac212227/db892431\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>a5214484</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399\" DirectoryPath=\"8a5aeee3/ac212227/db892431/a5214484\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>76c0d816</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484/76c0d816",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C5289F27FD2\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:10.0011986Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.9185594Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399/8a5aeee3/ac212227/db892431/a5214484/76c0d816",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD7C5289F27FD2\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:10.0011986Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:09.9185594Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a1d7e8c8-b866-d19b-2fd8-3b2d0a08e399?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2039628991",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
