{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643565DAEE8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4/22ba2d7a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4/22ba2d7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643566F9412\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4/22ba2d7a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "iE5r1bsvEFO8DTSa4Ef89mg4WdF0417YqKHxozJ0oKAbld6HSicFSqcl/B9t6jfpsWZ0OwjYBqXwkiwZPWwgR22UfktpdKxBMw8pT+Y+ar1qCPHMAGSXQ484l7f66ww6BLWy2Gzsfz26Mgj5rre/sSdvrzV6VEYI/Tq7MNz0R0cC7kowjJFRfYi0Ec1cnZXYeeWPizvWwLBuqdsxMU5gxevA9r9sjiSWHjKsxkJ5q2Cl47b2ZbwLLC6ZweK2H0s5U0vinKbVa+rB+W0JKvlt9f57jE2XaWAvtMqR0sxC3/7mcnP2lg+50HfMNWtOAgI1K8zkO5P+oenqs+fcRJkdfhluI7eFd1/uwbvWyzT14LLIW6YAXaRr6NCKDOMo3YverrZR4N9Kr7Rs9nnXJ9a19dI0E+jyHSF1Azrm+2p7xeQv+B19o//Tfazxk2crk8D61BYQ88mj65CV3N2kZLNJ8TCUpy+4N1HTYZY8AYm5Sm966yZTa9IbjAyM58ciLhn4p6I3luyQQp3FPZEzZ+oH3JFtKniM9YVdeRojK1CJsDN8Q1nmgbOC6amJji5A6CUihQo2tASha7Ed2R3RbRdMPIxetiOQIVve60DOAmdXHZH1AKVFU/su29enyaeVsXySPVKh4jECkWSvV8nE0mhKxbyM3GxxB+mRL9tL6VezSDnEPMUVtTpf829BlfsyaglvXQPqCdUPITZpELJWt6gM/A+P/5WjNBCBLej9L3HtX8XR3ItUyD9ktBuPrKWICDzGNZnrompzyynzaNzsEfHFe7HthNodtzPQK0t6E4hq+SSsN/rXAbxaXhBiYV9jeKIqyjHzm4RhqX1lG3cf+bigiG+3P9r37Xn0kibKu1bUbLOoUEhXdl2fS458ceVFOmVXwdnvqzjIMt23/wlelu0nka7EdqhvSRESGPNMe3uTr1fAcvl85MF63x1rn3dUQbSgVOA3gcS86HfI3ZNEfLdhI1CxnST0qq3tSZaLA6qZvtY/qyabXC2TBIqCtAYuNWNmCnwnoqSQrKkySTctMeTNLh+9BdCQxcYiHZiZcfamvhQzJPktcRsxrv98aBL1ZtOmtIXncS+S1US1BYUM9jqzjIoj+Qzqn70Ei1fRE12zLLfF87xwv03koE+0eGyWJbfFydyH0mzHuxXI4+XYwcHnAdjORwN9Qsw9Plm8NSdQbmafDEqAK1pK/TinqNtnDN6NzXaTx960R4YPSpMTCoXtd3V/OLV2ZtV+g0nL1prw1TJ6L2iwvKaH68TEcOHGNvKyuTBm59MpFmahFUSU6XHrHnRhmdsdPLrP903wsvb0t01WGBxpiu1eUBgBD6di8wJT2FJsZZwXlX11l/CGOWRwrA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "A8MBxKtRwlwCY/gfSDZGBA==",
        "ETag": "\"0x8DEA64356770B11\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4/22ba2d7a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643567DE613\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:07.7300243Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>22ba2d7a</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b978b779</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4/22ba2d7a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643567DE613\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:07.7300243Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4/22ba2d7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA643567DE613\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:07.7300243Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:07.6361746Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "64987685815124[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-78f73881-b18b-ff9a-36cb-195bc74fd8e4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "372604667",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
