{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC48643D0D5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4865238BF\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:43.7570751Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:43.7570751Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:26:43.7570751Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4866548E4\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:43.8820068Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:43.8820068Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:26:43.8820068Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd/31f5bd8c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC48688D174\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:44.1148788Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:44.1148788Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-07-02T18:26:44.1148788Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd/31f5bd8c/c45f3fae?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC486CF6D77\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:44.5776247Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:44.5776247Z",
        "x-ms-file-id": "17870353690150305792",
        "x-ms-file-last-write-time": "2024-07-02T18:26:44.5776247Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd/31f5bd8c/c45f3fae/02175622?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4875F3D37\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:45.5201079Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:45.5201079Z",
        "x-ms-file-id": "18158584066302017536",
        "x-ms-file-last-write-time": "2024-07-02T18:26:45.5201079Z",
        "x-ms-file-parent-id": "17870353690150305792",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>1e0dabdd</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>d1d86894</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4\" DirectoryPath=\"1e0dabdd\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>9c8173fd</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>cc721ef5</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4\" DirectoryPath=\"1e0dabdd/9c8173fd\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>31f5bd8c</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>cc3c75cb</Name><FileId>9799903157902376960</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd/31f5bd8c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4\" DirectoryPath=\"1e0dabdd/9c8173fd/31f5bd8c\"><DirectoryId>17293892937846882304</DirectoryId><Entries><Directory><Name>c45f3fae</Name><FileId>17870353690150305792</FileId><Properties /></Directory><Directory><Name>e8a27fbc</Name><FileId>9511672781750665216</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd/31f5bd8c/c45f3fae?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4\" DirectoryPath=\"1e0dabdd/9c8173fd/31f5bd8c/c45f3fae\"><DirectoryId>17870353690150305792</DirectoryId><Entries><Directory><Name>02175622</Name><FileId>18158584066302017536</FileId><Properties /></Directory><Directory><Name>35c81eb6</Name><FileId>9367557593674809344</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4/1e0dabdd/9c8173fd/31f5bd8c/c45f3fae/02175622?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4\" DirectoryPath=\"1e0dabdd/9c8173fd/31f5bd8c/c45f3fae/02175622\"><DirectoryId>18158584066302017536</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba1e0228-4f2d-25db-bdc4-fb21bf1bb5f4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1014859967",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
