{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7D762E1F8D\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:27:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc/62623c7e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc/62623c7e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7D779D8AD2\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:27:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:27:50.8637394Z",
        "x-ms-file-creation-time": "2024-06-17T03:27:50.8637394Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc/7b772463?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:50 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "90Db+ggDZs+4qyf8PEEBKz+kxrY8MwF8DUGITDMl+jHQX34obIlcmwlforEZG3Ae03qu27kzoMQ+X+3HexmckrH1K93D2L+1Ryqt3JBPYvHQaXi4dx53nL666Q2blSDvwxAAJO+TW/q7+JOOhsMz7/z79hGh5BqSfY4eCO+yGrIKvhl/Tj0BPQ19/H+K6Bb6hvkQn54OTd72bqZhdFILCd3hhMeqs6C++bkDI+eaB5R3JIL1oXoU+3A6ieCXoMi7cvOhqWRPUNJZUaXkCin3W2YS6VDPFWdjzIhWbym/J1nwSLHz+V4wKNOwnFDUL/FGQy56hLd4612MPtzb+OGomSlM88J4A2EH4sB8H3kXjpyXDyv7RaKheF1UZ7qBVDDxBwImiDwuzkDMcqL3+8vjdK8/ROi2rVSHq3tkJJunhY2Pihh38QZgaEHrLtIAqnyRcPMLQhBIO1mtn93AyqmkJe0UZ3CybIOp3tumyn+ChgD+0rSom0N9R0++yVEpn56YRwjk60IM3wNvYWM0oXHaKhjcwvf0+4mplx8h9KMxgD88DoN2nZu+8fOxODnfSKbd4585TN2no0t+OlMj6utgPeEk+JPtZIx8HtADQ8JPyk95QxAD+DNhlWo492NHmgcIUftYu1AT738SvC4Mo2CILnAEqqbbXEWuwmIotWwpNYPJ+/HH9w7+ZVSQ8TsEVfIKsMjyQ/BgLfS1qfnu6joT6YerQqduwDZiBkRSSmsJqmxvHgWjN/KTac78EU4VEHsZfQe0WBNLm++RjzysDeKJrP6Mfss1b7GVGNjZca7oTPXIOM1jVVFZJIIVEae15lvrc2VPiZGv5A1WHkA6cSpBqUNH49QUJletM1pJIF0K4DF97f1JmMNkGVTADTYRHrJY02hkbQOG1k0OolU3ZsSvSz4PvYQs+BB/48mAVBggnBSn8Uz1pnIt9hawOvZtLLKQEMH3AmEuK9tX5Io5BoI07QZBj3R4uaXM4cZtfL0aErYX8ENXKJqyecVwncHn8++Ue0zwLJ09GFYbKyCawK8dPdLUIhY+3MRsjhWvBxvk5O3X2QBwKuUZ2djsPP15GLkWU2DvE9DZVZ+Ig52HjhA6N0cyw+evrRPsukk+UaDH8nZcmLS79NAc/YNh6KZIkkrHsQS1RlTRZ6VMA1mHmgP+wJAnKvZcf0J3FcVjTsRsoyj/d5+bEashizEObvB3lWN/YicVIGdUajLBPjCObRnh318whyNjYq7kBZ/EThBS/4Bi5OucV4PAqwxt2dN7kx0XLI6RRg1AG/95MBrIjxwhbz6wLIktRIjccNwW9onbaXKBrCGBwLlyIsjrIyZo9xvwS2mVymaT6ugGtdYxKSV2nQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "aOHmdOYa3xsS6LaAdt24Mw==",
        "ETag": "\"0x8DC8E7D77CDE288\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:27:51 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>62623c7e</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>7b772463</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc/62623c7e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7D77DD97BA\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:27:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:27:51.2835002Z",
        "x-ms-file-creation-time": "2024-06-17T03:27:50.8637394Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc/62623c7e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:51 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7D77DD97BA\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:27:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:27:51.2835002Z",
        "x-ms-file-creation-time": "2024-06-17T03:27:50.8637394Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-862efe26-77f3-0fdf-dadc-f6827be7b7bc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:27:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "693521910",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
