{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168DA5233D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1/08c35640",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168DB1FF06\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:40.4394758Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:40.4394758Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:22:40.4394758Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1/08c35640?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "jNVmp7EE0v++KiFHNK/ADV9v5951sph2rgrU1DjMeW8iDv2kjFhC2n9AIHK6ImJtyPqJ8my78do98PmmL/7H8rGxJCaxHIEGLAxfNZElvIyoZgs+Q4YCZh0iZ5xfnKqBeS7BCP08vKt4gsVgXLxIFzNs/sjyia4qr74IjrXlp5Bh3rtjZLOPbKpfxcDAogph2U9o8p7ijvB/llk+My32k9o1/n4A5bKA3ZIeksPtaQy0p7RlfLTyf0/L5M5aUDh9aTLmi6OLYfSc6BULxPwskSxMiot4kRYlQn8uNADkJYxZoCmRB91pKEbAyJSf5rtTnlOhDsasBNgbwEkkXSz0t8OJsiPSm4lO42FFuMiChlvD25WtQxbFrJtRdUeURMsZyxHRFjSXgALJUytkZ0wPmTruYYGWRnSswwaHgCZCup6WK+y2sXAnK1uT5PDrYURPQdwNpuJKg4WcJFMtD//chpiMzjxfWefJxjUmA2KEwWHBOD5JNRO7TKdnGo0c+Rtbt11XXpII7+j1Q9+tI4AiGGLxa9fBklGF0IGU+D5arcwZy0wELGLOuUlWVPI0DignRAEqK41EmiQM0o4Rc/apmpYSlFg0HewAIrKNaj1eUcJZbLM9MIE+1DEn+FrUvUVSrLpcIXrQ8ycVKgnbty/mrYHLuAZDbGoU1L8nDCWSK2RsOr6DAi9HiHmMKAZ4Yx0BQErYCQU+D0BPR026qecBgv+kbnxwY6tRgy+Nt0NknHChJcvauSJeLSt+M7rijN+SiqUG0/ShkN2eh4XWsVj866vcGYMbJ8ncRkFR8i/wbvZP+i2eXcl7AJTtOzKdiHvTgUgPBnNcdmPcKo2zT56trhiOhrYqXY7hYBjvLeuXP73FfXHn4WiD84TKwjM8yLD2P40ZDgHFqCO5LaVabEl4ROrP7tItxsywCpMyYJtapZho+e1dfTG7/9VNLbPCKIY6Un1IbNreyXnBaQNukkeIX4cN8nNbGse5E+7835gY7eIM9w4eETm+iS90mxMtTW2Nxc4rtTUS3ze1j1jr4engqHwhYpo5aU1OTmlE53+zjMaAbxrK7Tet+RjXaILg0qdGk/OXDOvSVFuB3WfLzvi3AQOSanLOFrtEc2iCYQDKbXzB/VOLG4Darhu+SA/Q4SofH2Z+Tmc1d304U5iCT/Jatm/qCtGkLOaDt7xXD82rc5I9YkKZTB8Ui4bVU8jnWF8oZJKg5dZZe/OA+par3mewjN8GReywwGpP1n5Kztgdm19dLqs6C4275OdOGVGIaa0fJcbo4RJyd6MoUA9YD6waYl43Tq+7dYFRSmEEYqcYx2zRKqkRNbpM6rYIErp+Y9Q7M7byUBv9Y69ElpaxbRX8Dw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "a3MHDdfQEqK95IjZUSQ10w==",
        "ETag": "\"0x8DD5D168DBACEBA\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:22:40.4972218Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1/08c35640?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168DD86E8B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:40.6913675Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:40.5798574Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>08c35640</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>e4067340</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1/08c35640",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168DD86E8B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:40.6913675Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:40.5798574Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1/08c35640",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D168DD86E8B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:40.6913675Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:40.5798574Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e501537d-44c9-3e35-5089-71a7c28c3ce1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "441281122",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
