{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF66FAAB1CF\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF66FB4C536\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:30:22.0496182Z",
        "x-ms-file-creation-time": "2023-11-06T18:30:22.0496182Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T18:30:22.0496182Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF66FC209B9\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:30:22.1365689Z",
        "x-ms-file-creation-time": "2023-11-06T18:30:22.1365689Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T18:30:22.1365689Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF66FE5B92E\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:30:22.3704366Z",
        "x-ms-file-creation-time": "2023-11-06T18:30:22.3704366Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2023-11-06T18:30:22.3704366Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367/282b6b02-c263-cef7-e0e2-d7985e3d7553",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367/282b6b02-c263-cef7-e0e2-d7985e3d7553",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF66FFB87EF\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:30:22.5133551Z",
        "x-ms-file-creation-time": "2023-11-06T18:30:22.5133551Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T18:30:22.5133551Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367/282b6b02-c263-cef7-e0e2-d7985e3d7553?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "iq/VntjTMKwMMoKh\u002Bh2DYCaGSdwgQl8rEk2CWTeGlY2jCELcaeM0xcAPF93BCUlmhGwXslkhhkhPqYyKUdZ1hZz1/vHap/dCUoMcECqBaQgDG9XKbuMzgoH6jL9XqXTqmZFBzAtYjNx11V/VBHYdzkCDhjUAqxe5wXtv4Bs36qkPMnaYQJ39q4/5VZiDXn0L3b1/0yI\u002B6u56hwqP6KvAPeq2xtL/hI2ihtulBlV\u002BNWP\u002BZANduBeG0EiHHriTbcPjOBiuzJirC1gv3UxHmOOZ\u002B1KnkYOoY4TTMPWKeGbVDhkYwc480GnKUlmrLdvKPjdk7iJm69w/O9WT2puiIJPxWs4zL9YUXCrp3D4q/TWpCPG9JYpEbyI92Ib4qfXNJzLGudMNlw9hT5H3fA\u002BdFD6g6tKq5fsJreur9lZQHLM1G7QMZ[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Eab187efd-3217-e7bd-ca77-458fba138972\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Ee4e1bf39-d786-016c-ebf3-0bebe8780dca\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9\u0022 DirectoryPath=\u0022ab187efd-3217-e7bd-ca77-458fba138972\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E11cd265b-df0d-57c0-d4c9-67ea83f0dc39\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003E27067a50-9ed9-cae9-4166-7fb44358939d\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9\u0022 DirectoryPath=\u0022ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367\u0022\u003E\u003CDirectoryId\u003E17293892937846882304\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E282b6b02-c263-cef7-e0e2-d7985e3d7553\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367/282b6b02-c263-cef7-e0e2-d7985e3d7553",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDEF670080940\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:30:22.5953088Z",
        "x-ms-file-creation-time": "2023-11-06T18:30:22.5133551Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T18:30:22.5953088Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9/ab187efd-3217-e7bd-ca77-458fba138972/11cd265b-df0d-57c0-d4c9-67ea83f0dc39/28920c9a-f413-2519-9a8d-eb588a1f2367/282b6b02-c263-cef7-e0e2-d7985e3d7553",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:23 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDEF670080940\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:30:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:30:22.5953088Z",
        "x-ms-file-creation-time": "2023-11-06T18:30:22.5133551Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T18:30:22.5953088Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8f94a238-0acc-9d12-e53c-ca40f3aaffd9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:30:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2025114126",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
