{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A082FA76\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A090F182\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:27.7888898Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:27.7888898Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:27:27.7888898Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A099A2DD\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:27.8458589Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:27.8458589Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T18:27:27.8458589Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A0A22D24\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:27.9018276Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:27.9018276Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:27:27.9018276Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A0AB0587\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:27.9597959Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:27.9597959Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-07-02T18:27:27.9597959Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141/756feda6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141/756feda6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A0BD2B64\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:28.0787300Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:28.0787300Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141/756feda6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "dybYG6W3pTFx/eDWlMz0zmPZF0AjnlT11t5tmcWwx2c7XN7sGEI470g+BAxsg4hIZKSPFkhwWtjS40TGSQtswDZ4mjfuCLYhoSj45ZlIiFJWJTUhILEfygEFGjT9caY80UTV9OhQWlvtbnQgeHU/ilvxbyPVS5+FWNA16O6BIy+CuxNUcpNqBcvZM7I8/lKMxZDYCwGCZoalUJsYG3Fta0pEnbxh6hfHh2pY/BftSFl9qCNdqBgtAFSNryH3UepZbMdn92GVKtt4EYOXKWpuuAdBmnJOD8MyFp1o1Dr1zzZ//pBQhVH46H5H5ZeUltbpH/catbZ3C1wENODDLVaggkFNGCvaHTK2SbL0BiornYDGfrVD2xp/B/IzTFFwNLonp2NWR36qDwHFZGwEgwUx2ZZf/K+hXaYnzRA4ptHhRhT3zF7H1FYCHG60fXete4TtAnO6EDgLhkq8L3ptcmgv5B1YDLamagRAXeBA7d8velGLS6ReJjXc7EYUC6XblKkGhJlZVG7NRphuebNXyplqjLUo4ibE0b3nfCBwkl5fZMg2OmhG1SXivQQM76yChCGtqX7vs7KDQrPbcddOXbQ5DxXqIJAwJLaPRSQht+EQZff/w+jfb7EVs/i1amRNlGBQ0+CXl2SRfIXIYG2NYYrRywzgT5rLWaBj1WyYerpSQrHE0eQBec2TbkZjFw9Eh1Jt455XbUXGhHk/M8L3+AHKdR67yZCm0FI+TOFTaEGRH00aKpYb+tRs/kxqwUULm3VEmKHxiL7BxxNMGCBjchw4rhR13c5qrntJT8tEOw8MM7FrD8+gn5ePWGODz+GzCIswMhIwlb6m2eompznyfYsEP+Rv92NMmA595YRr59+ZlkY/FAn8257yxTXlefhdnNvXf4/8QxAo45oDs7A5O/IKjBHysmmCB2NGfDIuZx4WH0iplGhQnFI2FzBu+SjtuYlC2uzna+pxVHcrtcbd+nt77JRnkKeKuvC+vJo4Ew47WMOp64wxL7ReNz/wJOaLWB218wyThinhuCD8KK9POEBp71wDNA7uSr3fCFhnmZUJMmN9gyABp9GaxzNsNAcFDv//hzWJiCQPxqhPs37Reh6L8/VL0rUfZ0iKaWzaghW22vlYZxJgf6o/br13svNTyE0U4UERuTxK4CDs/h+3NEOTmNmEeBIMKnRKDGT3p7RUN6AfxaHUpCC9Dofxc4CLhzp55Boaz1A6CLbMxq3YUjhrmMd/mG6iv/S4x2mKGrf0v4QpfcOaOWhP5L3qB91z5bxOhtq4DO7M1yQmYgjmr+7/2AcortR10V5fL7Swt7cWReGtPJTcO7OWXaWedNdfaDTP6i/WSjbn2LV8Wdw6Gx9tEA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2Ozqh81mn4xKscQ5X8Y4kw==",
        "ETag": "\"0x8DC9AC4A0C73C22\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>eccce75f</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd\" DirectoryPath=\"eccce75f\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>3160368b</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd\" DirectoryPath=\"eccce75f/3160368b\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>a8b51569</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd\" DirectoryPath=\"eccce75f/3160368b/a8b51569\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>82fb3141</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd\" DirectoryPath=\"eccce75f/3160368b/a8b51569/82fb3141\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>756feda6</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141/756feda6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC4A0C73C22\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:28.1446946Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:28.0787300Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd/eccce75f/3160368b/a8b51569/82fb3141/756feda6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC4A0C73C22\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:28.1446946Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:28.0787300Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-6ed1a645-f8aa-86d4-ace7-3800fb1fdebd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "302159762",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
