{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75264CC99E51\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163/c73aed9d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163/d3818a31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75264CEE7EA8\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:53.9673256Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:53.9673256Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163/d3818a31?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "9iVQ8I8fmGlako67TZFco61uPB0/RgUpelOtI00KpYxBbAXdTfyZfVTRbBd4VeCUsqkcBMI4N68gJ3Y8cnUcUO0CeuGLf1Wx1L7IbtntsCRyGHCj7aHJCTVWvSaFXQvetBwqdtr/CDNTay8Db8nWMnZRylkEeGJMOXCrNcIvLHez6bm9wzpKcg89T4FxxZpsf4qvM5Kx2ju53j1qVNNwJD+3UIUPGG47B1dKxijh2nPWP7U3f/jkAg99A+X93x48zCtCuXUUXWcbcys6ZxMT2APJkxQeOaRG0k11kRSJPig5Dfr9niH+wuJOGwvNqpv8aiviM0wJHpOH/OYnnstSkjUDAVkZFjnhytEy0B2YeCiyeSbppwvbMO9mdqI71yMW+4nWyqlB4lTxAGh710527oO9dCWlaeoqJ9Bps6CXpvOtG9STwq5/cJbR96eiYFmh74cefWL+cZKerKLY1y+0WVl0zbt54ivUPQOO03FDh8d3yMMYeCmRr6pC9RUMp5lnHZ1NLZKeJwxcSj9ecJ4gWyTaYA9rnOEw4x4QN+0Vx5ZqJrbT9lo12aC3uy7pMj8MIZnxMkaJ+4C8HEl0jfAeRoKp80nnTGTKpIdvtOCyR7DfBBVUJJVP4Cs1F9kQwUywmHSrQD/1JNQ0Jo2/GkafCtWZlInayiLtWRIdsjWLuuM7vhxrBgdx6d9BH/4Hj8bllQwDdyzD1c1SvuYs2HKeqWyqhFsqMwPOJ6upmKsk5clMOBwoh0K2d+lOGUggRRFtonWRXQtqu2EJNVCAGTwiLtgc36BVdSEp8wxy2xq6reGaPPY2koi+4X27H1HyNV6sLOtvBGVxFy1TaGn++N9HTohu5t1G7JtQXv0jmlbPNr2uxa8vS6h8KSTJ4ikev+mdc9DJhE+AZj9PH6ZnTn3WgzKsUDIvFwPf8b25fQlxMZ4UhSaFBrFuLV9v3ywCFNqn8l73cm+3bVzN6ZKRx+g13e0HU8hWUX2APiLSvzfW3N3iEoqrer8uXBfKuBwe3GZ2OgI++sASUKHhdjNN5a0k9gy1r7ReimMu2fewjJhgYWK7W4U1l+Ec0MHpygOL4XdppcEPaS2xGK+eECHJYcQIgBTRkYkn714rmN/ydcBgovd/RubXUPg1CUPWlofAUm794EnuuVDuQrZi5NBNvqPvPm4qShrdMTAcnIdGUVjXakVw9ZR2ceinkQQwdGsn50qf5lcYlQhUH68Z0hzIp/Bdi3mL3ckOecyFg7kVrbzE9LU8pmsAvtU8G9XlXZ/L3+kU0unynAmBkG2KkxJPPnLyVd1niwGFXcykTsL0KRwtuaPPAdvS0lesuxX9dSvC7dxi8gfBZFPoj3UdTU5HjGdRXQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "wFhreD2TcS6CQjMSBI2SBw==",
        "ETag": "\"0x8DC75264CFC384A\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:54 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-d5f66521-d900-6920-3a90-b83ef6552163\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>c73aed9d</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>d3818a31</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163/c73aed9d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75264CFC5F59\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:54.0582745Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:53.9613295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163/c73aed9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:54 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75264CFC5F59\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:54.0582745Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:53.9613295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d5f66521-d900-6920-3a90-b83ef6552163?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "334202799",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
