{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F5939B8122\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7/9514892e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7/9514892e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F593B3459C\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:40.8443292Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:40.8443292Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7/9514892e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:44 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "bC/1k29YPm5SqKZzSr4Y6WmoZ/Wj25lF/lVZ4xkEWeCtQFc/4YfoYtYfPGgGnQajU9bNEz0RmZGVsJUa/ltUTk7Gxgpn2QfivwUehJ4wP2BPto9DN0ajm6bFqTHyzmN7y+0aP9f7O3rP6lM48hXyZHA0ykjLERcHIypkoi/V8PGho7ixFv+JVHsUc0zzaqiQ00TAvgMbr7rVEhysl5hL+fphl09cQE5xqnbMt53LFLiB08/rFDHthfP+2wPj3bziyXlRkdNZNJL1TxONTvgcCf1jK8PJYOXJdBFbXWRKjs256e0jeoLlKJ889cQdYDb74tIGf7L5GGmUiB3C/dYtq8FG02UK+Y96fgIkjGogqxPaX3uSRA4bwNCEj/FlIirID0kD143R8ehCiwCv1Iv+c90J6J1ammayKxKUhWqeFVzXW30gHdOGCG6SULkOa+xEhRsUWzqMbnTiUKt6PWt+pHWk13gO3VYJg98vx0mtpL8mT/9OibkhSu0IPcwoDMoCE6xDaZNzNqjEC9haXaYrNavrVO5rMBq7goyKBZ+K4XcULbOdaTorshhXin7hxu1H3QghPLfcluOSiOcG6DAIOilhRi/yjstwwKHVFKWb2rufQyiXaKS/OJbQCuFTJMnoT1BUgIC9VU89sHwWB4I+9q0rZ6UIcdGFoQ2ZIoPpHZvX7cRVRlk64e7ZWbgoqDETkRMzJ70k391+z95yJDLLU5PhPhm96LBU8IW3LxcZXPnchZBvtfXdsw3m1nd7yL27DQYkR2kXVqlj3zc3bLDGZXPllZ6iW52eA4sL1hE52SjI+yER9BSPxS/nDNa9pkZdIHEDlTIeGbFohkTeC3+XKgYOb3GPtHBeVtBvu0/H4F1ErrafNUP2qeJvqG7QsLqwT+HPrjfVzWwBpT9hr11ioabmmlzI9/XDGMWOHwsCjaUWv2tt9zEmbuFKno8DlPqEDQfH6RVd51jsDJZyR65g/hiZS+/y9Kl0wCt7flhlv4TKCRIEOqOPuNcTgOqbtCcy6Z93akgKkhhdUynq4mj/h00Rpz2bXMN0CZIY33S/2QwESJW57VU7v3f6pud6pdZvFPmdiQzql43bA2C18rKknnkc5ZnTRpn41ujFobXc+mS8qct6IlAAGrEH3er1hczFVghtXcA8m81fpLMjJPXX/wn7+UnnKXwpG8voy2ivA1AcAEqtbpykfw39G32d3PW7L93h+YyC3SyMQ0H0VM9lr6FiBySrKpBsV3k76Q7+jD/WLJyLzgnEmSIeIStarys+mGvbOtTQEAVNdKESR/QejbcCHicz2eGXnm4CjAllEqhN/VGjIlJqBRyXPVlosVIu/5N0V5AEC76JRJxmzoP76A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "OTxEEk2HMkXlE8Zd6dIfXg==",
        "ETag": "\"0x8DCF8F593BCB0EC\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:40 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>9514892e</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>de22db4d</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7/9514892e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F593BCB0EC\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:40.9060588Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:40.8443292Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7/9514892e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:45 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F593BCB0EC\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:40.9060588Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:40.8443292Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-26bfcca0-bd2b-248b-eb08-ef7e3b146dd7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1016934760",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
