{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D20C30DEB\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53/e2c92cef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53/e2c92cef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D20E509F6\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:30.9488118Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:30.9488118Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53/e2c92cef?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "yDQCoEP2LfN1/VWpdcJOe49LxCrtCIO8+SeaVE6hwL+c6XkOb/6p+P/VbMKhr1MIgr0BpTjwbcCxRqccXNil0z2VDYxIQAuQossrF5vBGknTkdKQoBqHrHu5XClWjZsmMJiFDKLHv0GxcQNsxFUk8CteSMoGFDMjDmAQj+PiORQvBOcCOw6nC9KQ3y4WGucllGz9+ETQIBtlYf1BtjBdzzfvPMBuIrQdtj34djUFDPR46vp35UDPXuTLndoQZVSiMhD2Jt0nt3K430IH2KnmYFUJycw15un3IN3cooXaDFDoVUMkDuYWUTOIvgX+x4Y65TyEB5yIbEsm/wYASxTs3tPxH4JlwVFv8niYrSjk+VhXob1IVQS0X+n4/g/fFgYem+AxDKcD1CPrFRQj778jQQatqKlXo4nOPMCZbcJCj9xyehFIsuywU8yaXT/wkG8p1L0JMW1cxvhWY8/namdgqIU4sXWu244Z/FXdvUZJ3qxQb5kFOV5vFrMZ8U8cyellObS5t976e/ku7zQYfgmxDYUjl/rOWm8nyZvBlOk//DNreIORjybNVfSf10opVpeqZ+TK+DHul99Fke5DOeYP7vIArAaFIH1eVkEGLoMk/nIEFy0FdQQCfOCkS/04ihwNkOlXKKmQJEdna6Lw6GhbIJN7PiK5CXju/i8l4dR/Jswl+J2azdbIc/LlngliEpN3SCpqvEv6VIZwaSl6akJy6EXVy/DKwVO9ssov02tvjOybrZipFGmBKqQXKmOsTgmwc7bEjEejrIbXrQmAy4AaAN083rypyNPbVKBMs5fvEGTBf2C1qv+l+AES0mdgAF8j/CmGb3BMBqri6DimV/nu55ylv0wgZVbdluW7l/Vre1NBKLZuaKHzdHm10sLG/6EHI+vLukESA5fTqdiKkG60d2zlZS5CgH77sUrTapOTFpdEtHQKoMERLiUfm7/IaOMKAFtV4ZpyxKNs0Aj3P5gEP5JBRtz5qder0zYJIuS/MklmyGo4PTX90e/Rns+4Gu6MG1wthiIHEFaDqg1jaaG+rZ2/kXcuzAFdQ3TtKAsH87lHfAeIkawmX7cTtJMnmWhNEvEy+Il3Xk9az0OtGehLfLZUG+yaNhvxmTHAGhdtNqkMoBUa1Psw0B23LcFoeUXOyDfd0n18stzWQV9XtkQ37JmZoHnSMai7JEvO4ghZiB/s8VLgkGMskO05RJOc2BnZgEEoz9nM/JaPIa0yrc/UfLg/a8XxVlw2bRCLme0UH0sx9GLGMbhGH/S7UW+1+eIdZMfaXG1U5ynl8WLIQWOpegJiAbltDUsA+UvQNgXsgXMubTQlOsLd3Qw54T9Vfd2REdZsU/cpsFZ72WIig7Ej+A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rW+Ip6quEM4igo+WctwK6g==",
        "ETag": "\"0x8DD7B7D20F0E38B\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53/e2c92cef?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D20F5C014\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:31.0583316Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:30.9488118Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>e2c92cef</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53/e2c92cef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D20F5C014\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:31.0583316Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:30.9488118Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53/e2c92cef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD7B7D20F5C014\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:52:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:52:31.0583316Z",
        "x-ms-file-creation-time": "2025-04-14T17:52:30.9488118Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2562cf81-2bbf-72b1-10b2-78b6f3335b53?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:52:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "326679444",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
