{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F57BD4E7D0\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F57BE20907\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:00.8854791Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:00.8854791Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-30T15:14:00.8854791Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F57BEB4D6F\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:00.9462127Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:00.9462127Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-30T15:14:00.9462127Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F57BF491D8\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:01.0069464Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:01.0069464Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-30T15:14:01.0069464Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F57BFE71D6\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:01.0716630Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:01.0716630Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-30T15:14:01.0716630Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40/20a570d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40/20a570d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F57C127F98\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:01.2030872Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:01.2030872Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40/20a570d6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "CtS80ptyyKyZtzWiGcAkOj9ra7YDwZ+nDphqt2W7jpWWEt+XJJg3ZKj4hkxiP2drYMOQNkgT+kk1FcQCBxBH3SigCwbhjBWmMwYOCjpTRM8x/1eiKlhNgheWYg/UNV2XsakjwjNgitOt6gJBBe8O4tD10Ai5pbLQUojuSioG0f6odlmRL4Gb0XWD9EBVC30nh4A+32RV3gz2U2+qcT+ppxgDmI+WfbJOWf+SNbByekYLx8Oqx/KaU5hNmtwS8GA12k0oUnLukQnN74ZkwqhbhNgonqp7/98laUX2SePWPGifXVtjSSjUHTW53NhsNZDv8hYD6VK1utpuAukt90cm9rMdxWVN9zqwVIB0wSIHuTO0B1fN01MW6aOA9Uc+pibuk+YlTnArovrbUpTRQfi4Z0i2eO/wWSNfBtzCzQLzcq5ahi484mrDiWVc8YG+Raiqx47+iC02/TrCxUiTadX45+DmdrrJfIXd8u+Kk2eioME0FwVz9emAI4j0eRwiLx+QZAqh2M7t4EsJIJU+q2rSICSHX1HPhPL2ZVMx1QJousPP+i5dAMjyRja5atRTQnceIVj4m8/OwOAYqnN7uwtIoGXSbrE7dB9clBkbFhkdoiLbE7Opbx/zATpNRVZVdooqcMlvgNTG4q04nAe2sqrH+gdQn6hXnzBG32x37S/JBh2O8KVPrSJOFTAGcdMXPE6PhkpOBdfi09GYKKFnT/R9bpXpKMIEd03lAYp3US5dLqMe52flewFGqx3TtoSB58U7iQI+LhSMig/9aANMaoGjO/r+SWeNmPKTonykMcDIZBnFPMgrHgCPkVxX5xP9+kGbMHuKgp5drvAPqouX6FlONQPqhy65dxz6b7cLNbDflag6CABFPeF7Z47XHHR096kCCLIPE3MT4rhekBPmUnhALxTjXN9YCfchbyCf4VuohXcOCC39z4I0JyZI5qzNlBQWl+xfkJvJqv677aRTcwBctQuc2EpKQl+SrjW5ECNLVNoLiUpvSfXcRF4uQuLe4bMl6zChMbzKy1SMzeJmEJnbcJnJR+m27WwVwJPsHAB9tMyBkyTyqSIeQb714nwSdjTEUtJIFJrJbv3Ei3Ep3a5UDhgV5Hx06cZ3qwYrwQvvAklfJ8otNaAytyQnLR2x9WMQoNNj/ZG3T2kL0WiTnq3y1IgnybbkJtl44i1YTbuoxbaiGyA3jAW4p9hhImM3nxh3NFiViSutK3n66htjXwKtYgux8IOMu0iDbyLdgwR1QUMU4BhjEzyL9e+nPaHpVEjWs79Yhq6V6nkQERoJz6h0hKnYT37pSk7PJfuU5X6nmRrZB89FHbuVf/afUgIhgiZGMrj3EQXK7GlwiWCzAQX7aQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9g/JWBQBjzBpTGPa0WEoUg==",
        "ETag": "\"0x8DCF8F57C1C11C9\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:01 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-ce58ffc4-7343-d5e1-3789-598c1254a618\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>b6513e10</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-ce58ffc4-7343-d5e1-3789-598c1254a618\" DirectoryPath=\"b6513e10\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>1916d7a9</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-ce58ffc4-7343-d5e1-3789-598c1254a618\" DirectoryPath=\"b6513e10/1916d7a9\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>7ee72510</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-ce58ffc4-7343-d5e1-3789-598c1254a618\" DirectoryPath=\"b6513e10/1916d7a9/7ee72510\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>9719ef40</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-ce58ffc4-7343-d5e1-3789-598c1254a618\" DirectoryPath=\"b6513e10/1916d7a9/7ee72510/9719ef40\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>20a570d6</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40/20a570d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F57C1C11C9\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:01.2658121Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:01.2030872Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618/b6513e10/1916d7a9/7ee72510/9719ef40/20a570d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F57C1C11C9\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:01.2658121Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:01.2030872Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-ce58ffc4-7343-d5e1-3789-598c1254a618?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1270549986",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
