{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87012BC84834\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69/37a1f717",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69/37a1f717",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87012BF6B6FF\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:50:28.2073855Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:28.2073855Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69/37a1f717?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "j8RJWCiO2NmTtOIb9CunCRwCkp3Sv6Mq//+iWEYwiTlwN1E2f7NwuMxG6ZsK26xpO0RiTJFIUc8gHlgo7ICSYiuoqr3ZcIlpkdnQjNUIICNTOBwCzTyoKOaCFmFaR8xMs4dwYjHvkMq6+bq3d8X5GP401bNjkJTu/4LWVlooD0kNg9hOl73yY6hRR9SC8LAhiP5jJXIY6SLygmKvGDlwkulxqvTsq4BAQnILEkm/bA/Rtc5cxenX9Zq1XBRbQ0pu4bXqEUa8NN19IuMADNfZMhZT3WNqE8wAmbVZN09r5f4nnTGU1VvIFIDx36IG1+jD3Cn+B2XmA83o6neRY/2NET3k2G+mRV27isnjeTQp+cLMllslbd2ZQJljq+rjN7GCY81kIf54HZbMQn2bA4qYvvC1xM2iaKNgS5jVQppy11IYYBVnxdfDU3jEWSpg/TwPy+z6LnPk4PspBNZmotv8WWsqg6N0MPkY8XBU3g95AE5bxnateKnfNIAaPcABXbCdx/+/NXmZm5vy4TwCjwHssASICtxlTuHBSk8jWfI5F5S/txYQucrUwivbu5Zt3aR+Lo28eFLUOHkd/usqdkGoucqoQtjr2/Y5tEixiZNLVG2qpCtlfJ5C636d8rvfqUvpMgLMxZrLklKWgsQJI67l0ql9gNEWQjwrZVdaTuk7Wgr8x1eQf4/S3hHYzvnaOMfQtyARYSl60/DFoF9DcURpWyi5DFxXVFIaqqG/PXNCUC2PiZbIKfnhgvNmy94wj23Nb3PRIStreWLN97aIupZ8g1Axs+iuoTEv2Ipo8Il06hs08s4AcC8BIxAz+jJCWMhd6keO/tuEHs5BokihA4nZWQ2aU8jHexIgL4/Yeqb/7H/CCgVC5us/r9MAvs3mYCCHWqElpwT/lm40bc5LrKQnQbbJ3/mDl3MhWqT0x71FOc9vUCAE2kV6wnSWDXgc9AIv2HwXHYAnA8MuA0xgC86x7zP/3FuDImdxTh2E7In6BGahxe9ALRxOSE1d1tf4Gral5B5EHRimq7UVps9johY5M/7lvkbfccEXsZMOJkyQeDNm3wdrtudO+hk5KodN6qY2I6LYEltwxnNcLGyEmIVohS2b/MIPzn0Xl8MtpUc5ysbt2AOpuGbX9hiUDol7ymKU0KRase3jJ1QlwHuYQiEsI2Kll7+Cv83HwwaqesD0m81hmdSi3hnYCbGuhPfqP7P3aOom1TKiEhHXk+3nOayUMCWuNqlMikRJzI0O0zrW3IRSsxLVzcWavofDyksr8dAEGVTSPAgKqt6m3QillD7XAbdplYWav2NfFHgiib/5Hdu9CbrmBKB7SAgzL/C99CpI68mUwlxKalnxcyeQ5yEfrA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ll+SyFKlxvhyOzwp6B+2FA==",
        "ETag": "\"0x8DC87012C05D00A\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>37a1f717</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>7d1fa546</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69/37a1f717",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC87012C05D00A\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:50:28.3063306Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:28.2073855Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69/37a1f717",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC87012C05D00A\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:50:28.3063306Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:28.2073855Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-707e59c4-b3ad-5a29-640c-b98dc1dd2c69?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "597807830",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
