{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68073F985F98\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:45:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c/9815f34e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c/9815f34e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68073FB9DF29\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:45:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:45:52.2973481Z",
        "x-ms-file-creation-time": "2024-04-29T04:45:52.2973481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c/9815f34e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:51 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": "0FmCrvioKtB6E5FuQ+ZOZQfUVpC6Qm3UQaeEy86lYns6zVsMFpL5pslFHcwtMzC7+B/LIbEc1I7srmxQJF4C1bEVM3WKQU5127DGdCShpg12yNKu2UDKHfnNIGglqIFqQ0gaF/+7MLfRVkUBVV9pSwdf2VuLU/twSxZ8vSHlTzIuWzHcho4Ou5cb3YP6yMeaY9Vgxs4m3+9MqszpPnOW6wYT0votjMV4UR7EcHV3dYJO4lpLhYlkCHxCj9vCJHwkhfJ85/XNbNYQ6HWwYm951DVKm1wZSmV9rsp96/3ptiyhn+qD+42MgHWDO5wUs6YNyLqmd4ggCzuM/zgrT4HZJjFID8KE9tmnvhrnlQ7JaPokcCJCQz6jgZSu9vxUYDDzqRVrzKTjiNLh/7ltOHUsw5Y9B99fl+PypI0u1v/cUl3q8+v5XpxWQOdQYESFNUgegTNlFllRlBIyeCgXtbLSBKxcg0SKM2X658f3DjaebW5FD1TMdjsDmV/ZxuV0P4o1fluXKLIDlE7Nay6SWYXbkwq50aVeBY1xWerlsWx/hag8wpDaB0S8QXsF/wsMcUDZ/TPbum3k1njOJs/HHuPhTuWGVZb0AIzF/ZAqWAaCZOiqC7M5pMs7V+sXDOB19COYJLAlhhup5fymFb3cun5yS8LnHRIvqKoaSv2q3PSrUAhtkTNVXd3MASa3ko4NXp1tpMAejdcQaXwGCjwd/ggH+sS0byhKHe7kGxzsdxYbDOtgPTczjcMxXCi3TlKhrgIer5fKWe90IofSOnK7JPFl6v1QvcHQ1G0BghMAks+cQmwZzcd+UbL86xqwYVNQdjc3UWNUUfFATtspyNfbdI+4NvcGoVYp55lKU9GmH3MZsAzbyUBrR/B72H/sVIjbIHeK+CpbStThDWrKCf0fmi5nEBjK/6pPTO4HisjXPZIRbzJZGyZIvmY3+rzVoT3zWz5QhERwESHMO6s8VL8MCc/YuJrKxX4IH1GxkgXueauwEy+JhrlNoV0RjN97DGmnK/Ds/OijKJa/SGTzvn4b3sIAi0CQgoMVixc8uDmfjBLoCmYUAnzDDeuZyj1UWuLe9q4de4EoFqlt13HRZm9cILtSCrMXB9xFPH5V97dFwDE0XcKKgRGRv/S9pyoL8qZ7PKmCAk8vxu7S1z4C0x/xKBY/nAit0p+pwEu/WmCxOkrX2rsOw73iBZbUt6nTjuvUy34Uy1WezmkK2EIDb2uOIZ3zK/lk42RYXJdx2Rr11TFf6o/hnW71OAxRA+p735UqRZYM4GLycOcau26+LPVPFQIQo4TcrIQu/fLsE+B63X0BRpOD6PXObHqox+H/NwwXAu7oajsQTpgS3uNvBl0Hn97xvA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2hH/aXqKbqAZWmTsEudNtg==",
        "ETag": "\"0x8DC68073FC61263\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:45:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>9815f34e</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c/9815f34e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68073FC61263\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:45:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:45:52.3773027Z",
        "x-ms-file-creation-time": "2024-04-29T04:45:52.2973481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c/9815f34e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:51 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68073FC61263\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:45:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:45:52.3773027Z",
        "x-ms-file-creation-time": "2024-04-29T04:45:52.2973481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-82fab413-bc1b-30ac-5eaa-a6149213ce3c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:45:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1753592392",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
