{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B13C27E5\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5/5bb25a00-9691-d345-e272-25e333ea2f23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5/5bb25a00-9691-d345-e272-25e333ea2f23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B14A6764\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:56.5461860Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:56.5461860Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:56.5461860Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5/5bb25a00-9691-d345-e272-25e333ea2f23?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "QC6yRbtSvRU19mygboUP3qgbA1jQ44w11gSJxtKwD1YYv1L98UM4rZ2dJpoqpGRcYkc6F\u002BfXU12ifW\u002B2yPdDhecViK8zEexl4lW7M73xCzGgLGOLdfdvQWv1W3TUguWlWqCzFBy1KVBa1TSSGyCgsHE9FpyTtw/vpkdDPbZ4kWBwFdkcPvYV6wITMZ/C3CVLVasClmtIEaKRw27Uceya4kTUIgVHg3F7KCuZgIZvLckh\u002BOcLdfr1JwQ2inuIQXkWeU9b7rkgA9E5h25ArpEcIZaksngEj2xJ3/oBEfj28uaxgwc2FD4PAfQW0e6MtHhyGWnk444BEuriEg\u002B/H/LYQpSHjiuJ5Q1XlLGD7r1\u002BvCqCjvePEQ5YsHAdUwIvUOIBPY9ZBSVM6DNcjE/dfSQsZFXkPJD7STCGLt66bJILKEPPgrAuJL[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E5bb25a00-9691-d345-e272-25e333ea2f23\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5/5bb25a00-9691-d345-e272-25e333ea2f23",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B1538DD0\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:56.6061520Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:56.5461860Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:56.6061520Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5/5bb25a00-9691-d345-e272-25e333ea2f23",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B1538DD0\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:56.6061520Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:56.5461860Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:56.6061520Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a7aefb24-4216-e3ee-a77e-4c7e6192bdf5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "960636624",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
