{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2257AE87\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6/d561f71f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6/d561f71f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE226378C9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:17.5729865Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:17.5729865Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6/d561f71f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "PRWguNUabAbTvfVjWgZ6inWCUHeqqOJeMV2rAwhm1oY4cmgqNWeiKmNPgww/Ihq+gGJdDb6XB5UzQod3bmj+bOduKuieUFQO4CUTWyTVHw5C7YOlCMjIoWrT9/PgK7z6UBYl0PcyIC8OTy2Zg6twXSJ4NIHkWGMepYh9y1lgLrVpGQoOr04XEM1Ul7mbLx6/YpnRZ/Y6FfiyByputVTWrSB3MGmhYa3TYSS0kMCqgnZqvmi/j8a+LgQSW6gjqFp4feqYI/60HQDs/QbRhoQ3CIS0BPbrFx5auAFljgYFr7nJPBLWEV53taBo05HA7ah/21Mjb6NjjGbLPmr9T4/6501NCEpxYPYlPE9Wg0SMmctZ5rOy4UAVZa+sC9P0emYRbexDc+ReDXpc/jJUDQgiPqSeo2jbSAUNN6KaxVQjMcLpRRZXSSbn+9k4VeINwVinicwuVdb9NSXmNTxBw0clOcxwasfxyvV+t6iPovIjAHZK8juI9dzr6w/xcRPqpTeRExwWnFaQtb/Xr50tbZMywzXG9tEMnUPwhH64AFnhlBJx/Y/WDWMfuj18sEU+vn58vq7dJK5mhXXYJRfX17Vm9RuLvHADXLbRpjyTj+z+scYAO0GqA3BjC3gZ/edLR+KIFrsqswINeGH4DH1y0vWI2nNR1ptzu/GqJ7D46V7Ohl5ZC3kx0/7E88Pfsvfy8DmCkSN0+nFHFFrJgItRFY4DKYYfGcZ8VgZ1jOPYkwn5tzd2dlg7WovtEvcfaFNzc9003Ihx09dzBToc/m2NboFRz8hU2p81x8/6MQfPXe6yARkGo7aAh+NgA3AeHlsdX6N1zZiLH5g+/hW5d6LQpKhLaf1Uh8rL0Ufk9NYvF6lz3NFjWY9WJ+KAyKShxhBBj1/H0rReydjYqvxQpirBDudrRZrQbEoZ9UIa074lKQo3omR3Z0T0FRP5iq6SBYG3v7m9NYF1cSMUrt1yRPUZsoDyGQPGSaejdjCG1+GchvDAYhQFaPSIwTFAY7lmgtEe39cuoOx98XURGr5R75pCeCjtseLhE0qLaVfShubuPPReaPcJbeUDQnGe9E02N9KW/uuQedDvPMuNojeUq2qPI97K8oaiOApC6W5wQh/8VTGFO4j6XcIjbyssfMqubpcGD9Bva0RL9MXgTo9ifvqrkEwFD2/ilMUbpoJbdrw/lHrXajJOjensOkfCGQ8ywfEwget+qF8nI3sLVMXC734JobkVihPHXANjGNUoIHq26eWRKvXQwesbr0a3QzkkKkrJuXhVHTbdaCToGpCK/wMAVWrfMMWJON/O+drMEBnKPu2KX2YCYMuus8HQ6KZakLBDtu7ORPmFQICYhyNbEVgKHdyi/w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9IxoGnG2HRye3yP8ioCfmA==",
        "ETag": "\"0x8DDC4CE2268078A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6/d561f71f?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE226AC390\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:17.6207760Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:17.5729865Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-812026bc-377d-b6b5-9599-7dafe2763ee6\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>61b68af6</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>d561f71f</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6/61b68af6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE226DCD67\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:17.6406887Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:17.5938944Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6/61b68af6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDC4CE226DCD67\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:17.6406887Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:17.5938944Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-812026bc-377d-b6b5-9599-7dafe2763ee6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1991381903",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
