{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF0A09F449307\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF0A09F75B385\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-10T19:31:21.7203077Z",
        "x-ms-file-creation-time": "2025-09-10T19:31:21.7203077Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF0A09F945A93\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-10T19:31:21.9211923Z",
        "x-ms-file-creation-time": "2025-09-10T19:31:21.9211923Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "oMenX7tMsb4l95MIc8m93ztkMPoK4Xh2kZ4e+8foo2TTDMs94bfwB0HMyXcDo5YODLVzol3eOr5OMc0dLbb3PVQvNGb9gP6Dcym5PRcAcu4HD+8RdQAG9dIM7rDq0tmL1Ywj1G4vEYu27y40JP2nTr7eFR3G5cdTKD+U8ZJOmaBPLmeL3J6A2P5jWoXR0dDVZZ/xC7y7xPDE0Ksvmx/5aFaN5PaVHHEfXj0fY4pCgVduvozyXI3jlGl2xgzzUD3favIvQ+zZP0gt0a1/nGFmgk5TwNyTBgzIqVCMHlVlLA0AP/iYEz1qlX5DxYvfZPgIEEO+n5BgS2TmZpmcTSHzyKWff1xpzm8Q6StdUECA6UVXhA4Rpox9n/OUsqyjzkddUPzmP+Wcn0HUrbZkA/sjZX1URMgT4SEYIt9o1BzCbBrj/wBEmqlgu+XMPfnVGJz4cEwvT4l/Sm7bzR0FM8olEUGbgQP738vU9IjjRqQoQgpDcGTPkx2RZLWRaMyLWogapiu3OZaY/JGBWlsAmwPKsosTwsNmVX4kCh1NaXb/SJoAyZ94cAhzqnPSTjjBkMixx7ZBeJjEtFGtky95S5IaghLBANJjUUKCnxdQkwZFYnpUnKLAvs8BPBROy9zZ+l/gt8wmAJD2TXVzvtmAdCBKZzG0JK7wWsNCv8S9FYVlqKW4b9s6H2HqXk4sTP/2gcf0A2SqJdWw8F0I40HLODjwDRUzxwRFEEjQycVgww3ESz38yREguoPPB399MTsfHiYVPD/pwrnCrvMc2lsPTyxQRJgEz24mz1KSZMCFx98MsKufSofO2oiDORoeBOAov7dSLe2jG0+372zsV175PecUDymwbwWlgWkPgJVTB8pyaaQIMpnxaZVc6Fsa4oMqivwzCvS2eE+yrayDk5q5Y+iieu258AtNIqaUVIeqi5/l5PaZIPzWu/FUVoXtbtX7ooRyeGeVcJnx5ehOIiTICCIMna+jH0Pry778ZZqFYLTQmLECNxI3UHNdqDoTh5jMjE1i4dAmV4JBh6ypmQv+a4U0fYpzxdEP1E07RncJ10MmL9hMI3/jqkEuwa9mjrZoXjy03woOWcZ8UwyC6xEKOK9ogmozsUgGUNNIRAQhqEWX0+c6VPg5F9USz89yYb4wJIgA/gtLNK30rY42xRXCW6rG6xgpz+S2LmqUIOF4k+8UGCB7IKo6S546RqZqA1K/T3QkrHamBlSkSc+htxPLfBqeIa31RjoAjJ9574k9TCsY1dFtU+d5bhLM19fbmZSKb8qMzOGkygk5JB/WLBbKZ/2jiOFCXSgyJLObKW9jJPML74C/sX9JdAvHMy/Io0H7AXDZNxCyRxGhWqcuCKCZ1v8syw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ZdLie/lhnqjKWn4d9kLT1g==",
        "ETag": "\"0x8DDF0A09F9FA38B\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:21 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF0A09FAA7763\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-10T19:31:22.0661091Z",
        "x-ms-file-creation-time": "2025-09-10T19:31:21.9052019Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF0A09FA91809\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-10T19:31:22.0571145Z",
        "x-ms-file-creation-time": "2025-09-10T19:31:21.9211923Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>13835128424026341376</FileId><Properties /></Directory><File><Name>file1</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF0A09FAA7763\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-10T19:31:22.0661091Z",
        "x-ms-file-creation-time": "2025-09-10T19:31:21.9052019Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7/dir1/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDF0A09FAA7763\"",
        "Last-Modified": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-10T19:31:22.0661091Z",
        "x-ms-file-creation-time": "2025-09-10T19:31:21.9052019Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-86a1bd1a-c5b5-c234-6952-1083ed94d0e7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Sep 2025 19:31:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2117056725",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
