{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B4A8EE384\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70/89c4ce6a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70/89c4ce6a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B4AA6FD78\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:42.8864376Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:42.8864376Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70/89c4ce6a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "/8pncUv0WbcPUj1Utf3G0jpBqC9ztI+wll8hSqgQCk2VVMBXsre4R04a2D5MUyT9ykqAFtOWe0o7ttvr0g4O/0jwv2E9byCCiGHhWdtRZEI7JH9dkPN5/9h1G/vczHQ/C9n1XJTCwFsq/Y5ytCJv6lKZsK6OsG9Udr+Ix1Mkprzsok0CWweteGMkM5JlB0q2BTGpQhzGsFpqoObUOfgIBlfRhRLUbY5K6zdKan3c72510cEhemOfJvHzmLoh2D5rGyw6k4I34piiXlbke0bcjbF4X2c254v0Ml4h4NTTKBP4309RolvrPe8ofhwMuqurFgoJqXnWNDShRWEkFgHDzjVD7Jv3i+pVjCF4Dmhv6HeydsrJyn+ZIasasF36xifuZK/myM4Ps4sgtBxXXibLMV3pcZ83+QS2qsrv3NuNWsb5iqm4iR+oo8I+qRZjQcKFT37/EFWItmqrLx4DH9evk1lWXtR8Eqg9Qc7c+FDuU2gHao1cjUlwcdM+DVkBpYPrjha8DOPuCDzWws+Gq74avNy1+7VKUwUP5ewAPgRPO5xK8Wk6MUaEGWFQhst66sUVI1B8S6nOoDsQrCb27sk3h4YzO7lU4IqVMeJT+c06lfsm6xu00vDyfFEtKYUfjiqXGf9ER64MwEPF5hrGeqdu1RcrzwKug7SWQL9oJrYFdqO3vODN9k5NGirX7uzVLAKpv1Nt9L4n6JZKrQbvpJmNwHB3Dr3HoN/I3bXY15TIwBS8vmdil4HkkNNJg0hHXnWRSi57Xh1F4h50pBYJTxEBgu3yMuYyKyjukn7pfR2XgX8/Ro1mTGL2d9tI7fJq20DCSAFbVSuPXx4FjMyfW2QB3COXyQiDmjWK+7sK6T01hLY9JzQcPCtTr+duYL+VVxx2RxHO0xI3Pq7L0FpwhXXh0AgVYTMw5aD4QxogFTl19aSfk6IsZrCkBuiGUGzQ4ypyjZC3f/XoRmFw1ZD3Fil0Vdq20PHTtWlXcVtLqZQ0KF/vroiovnWut0xAu5EgrO+/EfqRGhM4ntcnXw6anJzMPK0wCGigy5dlBxmkkvrYNsRri5eaog1Ltw+wgV5mFBqwdH7j8KSHHkZjKxL6kwzdTyhJLhEEMpmf5FBY70o4//P+9B589EYg5G1RN3f6USQD0zE2HOUJq0HkQwtTLy77Kiwf+57uYFrhKEqjs/sipJMsVBwYAuIN9Uncl7E7zLU+VgxL21WFFHLXVPSbZfdGwZ54J9oS4yhJEgZUEsmpplyUZVzu18k9pkCpQa3ucY9RldUSwqXaLHPkAchPMQKpLa2XBgCaWOrVO4GZaaF6W6F2Anzzl+O2ujnpCdYB7XQ9/xP/VmqPtz3rPIcjQMLRag==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SirCGovFbxKD7EUFL+2Y5A==",
        "ETag": "\"0x8DD161B4AB0B697\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-79f17874-1a19-790a-ef12-b3f69d3ded70\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>77533921</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>89c4ce6a</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70/77533921",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B4AB1045F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:42.9521503Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:42.8914159Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70/77533921",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:43 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B4AB1045F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:42.9521503Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:42.8914159Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-79f17874-1a19-790a-ef12-b3f69d3ded70?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "409789965",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
