{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A552B672\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad/409dfa2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad/409dfa2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 20:59:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A575ACA1\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:52.2185377Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:52.2185377Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:52.2185377Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad/409dfa2e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "rvChUjGBUzBkDxtjyRgCDAaR6KIdf9zxYV1YrxKdxHS/1ZoeuzkiEmAJ0DK3lwbLktkU6BF9ky4UsPHUKaQex0umo/R+41HNb9ZBFK6pOclXjRw4idxiQkJrCgtITum86gnnEfMRTK+IRng7O36AanYnfZuH5j1uQ2GyEtlGhSHshSqlwijVRUBtsEJjJwbD65+UINFNNAPLeM2SXjnVQcFXTrZU2qhNUTdbGjb7Cxxa7yc6sWRQn1Em2klbQ+cGl26BDNhQbxD2R86Z8hrN0G2xN28Smo9cBq9kLQBe8g5PVILHef5ECn8WQ2qVtq02WQncqQx39P3fJQUo60EPmFTASp2XBVZubC3v+1ckxlACLtT3gkgC2GCF6FP4Gx49B6sW1WwPn1Sybj3eh/ilul+1Jr1tGBYLvnE9EhwDdVEOsvSsDvHj8o5/RBMLI1Bo3y30Q/Vhz+6UChb60ow3r/jr0NUD+axu0TMu7tQCAJsh1DLuDjJbreIGFwPa6SACSJQbH1J6ZOaBhnHCMuEZkgl72P1aSKDGkCPz/eKok+gSLKU/5uBIp3BMbYjBmXoA7IT5XxAip//0VY8vh2cE2PKIrwU72qspMjGNDdsYBPao8hFdrjTY74SmS5FRGB8JSJSVOOp1xRLY0CzelZok21CYh5RVpiq+r7+AlY4a1xoRhMVGgswMMy3/hN0H+lrqgW9AuJGKs6Fq1okq9C+DvvkSzBHU3VmEjFRnViFMtrVllhMe2R6JhtAj26tD4T/9e8bk9S1IFqQWvCw8I1yAHiDTxV0cZOTaiEVAsAGtQKsVatpaZ8CHHIBvCBzyTGNzo72Lbxvh4RfiCWzoCGWiaHuAJ7iBJbdfS6ndrFzH6DzhzAxEItGQM4nDeF1TnxMazJ+gciSq8X4GLCNxAzS6GiEwBjtYXUaq8PMvvqxZC6uVwuC9J3UXNtqOPfWtHzBUCV47I5nYwm5Y9oIxezPSrCB320BU/fOsGM9gyh9R/dHD27ROHecSvQBxZDHz5runu5HUNUPvAAxrjwvKePdOB/ixbZ9/hI85ZR5A45jCuDETuQ6OfMeN1Nqo4o7cSEQIIl04QnkcJzcBm88krh1zqdfZt77pwIswI5nF1qEBXB3ZN8E7iXW495HWjeD4aCW9NDm2A5CFH2LSBx/gVlGWAD+yS3dcOB9hIL8tEjKqOLpzCKFnSliMVBheaIJW2KBAP4yhRR2uYPwZVeLQWAwvJ85kbE6vLrbmJfZf/c+dCkgf7dKmCfOcxaelTfR2u/sLL0Gz8mxSkRHVuiAmT2MsfEqasWs6iB7bx6amCeHBcGn7U82O6RjczVvB0U7SdnZEedCq2wqQ0acj2CvFq4cvEw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Dx47icRJXp52TfC1mV76KA==",
        "ETag": "\"0x8DC6A21A584294E\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-file-last-write-time": "2024-05-01T20:59:52.3134798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>409dfa2e</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>894f340d</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad/409dfa2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A21A584294E\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:52.3134798Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:52.2185377Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:52.3134798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad/409dfa2e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A21A584294E\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:52.3134798Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:52.2185377Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:52.3134798Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b4118e3a-d555-75fa-96e2-bd7e400710ad?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1404756886",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
