{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2192931544\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9/59ac7657",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9/59ac7657",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A2192B82E4D\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:20.7776845Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:20.7776845Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:20.7776845Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9/6d2ad785?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "SdAQ/qrKtArAJ51zlm6685f2SnVRx0Lbl7+rwuHGToH74DzTmVc/jMGhmcIMzNRTNxPa58aVHYGNNGbqH/Io+tgceLYx5llAtr2zry5/z8rrWIvN62a7ZcO7RWXwVW3OeJ7q8FQeIVC6mjEI4W1TDmSc/8ZnWg5yYBLydqHzT2FP5DePlN91zTY6E1E1soRVaDYBVFamZx2QeI9BK6qvxkvQufw2w3mFJjGQLUe8PK2OnQ5q8vsLqH0Z/xxPNKKMi00GZPmHH6S8fC0kFjrW0zvhs42bRNNQxRB/HMRdNfKPBKH5tti0Bn1prnbN5pFCQivhboAU8EZ6tZ/pBwLgX0Y6lBKY3R1jLawQMpVcgt5+PdqYe8ZxexNafwA4y/97iU8vklJ/qWUOfkDUBL6xHTPAasooSOOAyRj+PV0cKmKtlKhGLPCM/5N0if2GnXdVqWLNeGA0UkFrr8k5gGsH8lTeJ28VavBDNGs3s77m+SuhqJT7TrECeEJn23wmUn8nbZeop3YHQD9xikP1/Z+ChbWdl9fXDKOi3K4trY90HOLsD0YmPVK1mWhVisRuDXqj5FbGibqnT2D0BsvH2pOv/W1hCO1YXEdj5/5vgoHeM88zisg5rZInRMDlMjeH7r/VpY1WDQSMSogOY6G8OMzeFdL7k1DKdk/aOcQtcyoQ3Pk+mt30hybLpj9AKkrxawzzBhxki1puCi89e9RAX9dd/oaofZ7v6Y2sMOwQiUsF6c23OmwNq1Gfz4+utwxSikdo4izDSe1uBByOuFptXoHjN5IGiCVrUFM1CK0OQTKBWqWlqKcfQaDgSTZPf/L2MnEOyoB6SwIi/ZLYjkA/X8LqDV60yLbZxPXxJT/uG9BgPtY8AHaxBw6jgqoURrNfoOlzZHKUQWq7NAaKiCbDM+HBeE9qA15MOAVQEUULxX1BkYVVe7dezP1sgcxvJ37n4E7JUs5k9Z2KJitsQzAkr26JSPagbbgqY6tS/oGS3RGGaDH2QnKu3ZznylWL8YjMR9Jd5d6IRnKWnu8iEvYb+Eka5tv/Lmz82mtauaNin3EjhbavNPcy/iG+X6SDjMqlzNELcAutzRllYQtyLY3PNP99/40/a8RS5+e5QM7IeE6htOzRVy5mdbedStLrwNCT7yukBow8ZWANuYgj9I1KnOm90Xmh/t3QFonWoiHxZicXJVGiI3LBZE+Lw52lQ4EpUq3pLu5X8vFO0+8DZsM/G1NgC848qHh2/GwpFTo/K9MIrE9zBzc5wDJfVFCDvv6LTKdJRDey7ao0czKCLd22Dqgb+rpzzBQbJ0uc3FQo8z5uncmS9eabVr+kPpQFtpJUqUWnZ8NDGH+TLh3sFhBWDID0Ew==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SuLOdgPVtR0eVmyQPb3j9g==",
        "ETag": "\"0x8DC6A2192C7BC41\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:20 GMT",
        "x-ms-file-last-write-time": "2024-05-01T20:59:20.8796225Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>59ac7657</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>6d2ad785</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9/59ac7657",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A2192F07398\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:21.1464600Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:20.7776845Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:21.1464600Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9/59ac7657",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:21 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A2192F07398\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:21.1464600Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:20.7776845Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:21.1464600Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bafb44eb-9ff0-2b40-bd8f-df9f533ed9b9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1557871616",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
