{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96DCA1364\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:9313b977-201a-007e-22d2-214a85000000\n",
        "Time:2025-09-09T21:40:00.5589267Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96DDE0EAC\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-09T21:40:00.6166188Z",
        "x-ms-file-creation-time": "2025-09-09T21:40:00.6166188Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/file2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96DDEAAD4\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:40:00.6206164Z",
        "x-ms-file-creation-time": "2025-09-09T21:40:00.6206164Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/file2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "FRc03ytcHoFO8onOjga7Ct29iCuA2it3Q2V8Fv0mpX+mZVTeM0SZJdyI1kCADhP3kNEm8xb+0TrsvJvF3weEJ00KKCix3daYI2NO+APr9zVRhYYrALFoqJMZ8nep00XVBK7ydebqRbL6jc+zr9k2AcVmdFmAWCeboX+VmOtf71AdefNV+IFOZkDTMHLitfm54vCxQ1/sVKuHVtNnVazHm55/ljXl4QhDFw0ZrSe0ueyF27b6ravwMCVIzqKt5xGTC5XUYx7E1ADobSxR0qeD0p3n4Xr2ze3yjmUQnRNlli/8hqGS4FbNwQe1EUB/nl59xPsFxgaWnT6o4dS5szbtgtf8VUwG8fJGGR9zQLutc+8GktkYYNAoZehi6v6BFA3QyI5og0kSd9IIvqznIlyC+m7lsiFd1CIH0+9jpAfzxQURo3ctRO+l9BoGD6IjQUOL3++QnGHrcvNsYa9Zr9PLFfim1X/lVbZ+P74HV8V/45Ks18QYYymjJTCEwONATERGOvqpfGvDpok4EVyj5Bsu7H0crdgOsrHPAq9PYZXTPfN5wBzL1Wcm6TA731LMAEEVVdRlI59sOIhI2nm8dEX0ZdNpKSP+YhcW9sOn09NfAgJuOQvAbRpTDYiUgvvtanXqRnp+Y9cdFvO8Ty3bxGS06dd3TTo6M/e5FRybat8bKYtOvIxY4J8qUSMXAx7seEgj35kjdRw6sBODxU27gawToSWhjQjXWwg4TPwXIi/YzJ3Td4pG+LNuEwx51RtSb892BGL5S+tAS4OQ6ykgI43jqvmw5wkhzahyMnn7Xobt5twtoB7M34CxkywGtQ2KTvB+lSsioYjFVDe6hhhxRO39ogVM84NvF8p4/lPdGxeb5+SJfMhby0RTZ0vmElhnP04/CRMIPltsD35gqaI15zkfH5806MgkotfA+Is4iARyEL4EnhIEk6mJHG1K+iKhHoARx/O5M1eGGmY8R0XPNIZ57ZnjMEknG4z1q8ta2qe0HtoLJsERuN1nfYOrx0tjuejn0AyIve026qtmw4eLLEC+hyhrxA7EZzS7fLPFe1NAkfLjcgqaLGHs1DsWq/VW3FFD7EAi+PTZImjYzUE6cG5XJjGUp7k2JFvHfu/Srrw/ZZ9hgo4THZn9ClChwl4fsmPNv4TEwTWXDcjlW3oFB3SrmGei2O7fRAiYl51plGH8qMyLBO84e6RpynTGLcIf+ALb9in2fNl17Xp8KymYLXhm6LKteQKFcx3DOA15GRZFeZ+ajp43BSzyFhd0u0960Zz8X0QQcX8AVYIMMkPL+9RkN7KK/Z/aL+OGumLrEbjNSWdxfbnSNAcfmjgbKtPoJhtCEIOc79P8ITBhirYcFETKPw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f2IkWUtyPkM92SOjS3KSvg==",
        "ETag": "\"0x8DDEFE96DED4EAB\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/file2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96DF5D8E9\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:40:00.7725289Z",
        "x-ms-file-creation-time": "2025-09-09T21:40:00.6206164Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96DFC67A6\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:40:00.8155046Z",
        "x-ms-file-creation-time": "2025-09-09T21:40:00.7075664Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-43695a23-b24b-ab63-3958-324d0a33e70c\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>13835128424026341376</FileId><Properties /></Directory><File><Name>file1</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-43695a23-b24b-ab63-3958-324d0a33e70c\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96DFC67A6\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:40:00.8155046Z",
        "x-ms-file-creation-time": "2025-09-09T21:40:00.7075664Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c/dir1/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDEFE96DFC67A6\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:40:00.8155046Z",
        "x-ms-file-creation-time": "2025-09-09T21:40:00.7075664Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-43695a23-b24b-ab63-3958-324d0a33e70c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1891222893",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
