{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B5A5D3467\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5/cb4ca6cd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B5A68B508\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:09.3218056Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:09.3218056Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:28:09.3218056Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>cb4ca6cd</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>e7406523</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5/cb4ca6cd?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5\" DirectoryPath=\"cb4ca6cd\"><DirectoryId>13835128424026341376</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-59df2b86-55d4-c26c-eb1e-6cbf2b6b0eb5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1177329262",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
