{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2A9F95C9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2/b8323239",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2/b8323239",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2AAA29B2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:31.4580402Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:31.4580402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2/b8323239?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "E1KZfb/7dZOlZcFkngkvH0bl2lGHwR8O60/behzEz/q7xkqr/0/1RscKOblo4kTTIvP7vbkqS1EyipJvIPt24ZbGqNi/hB/275SKfIdlpQgLCFcoyBJBkXv4eHW9hibLk1gjoTprE57TBc0kn87KzOSJYxejThmEhRZdxwuqOWluvukvQgTOoPW5VMNEHPGsLqyRMyIOKEU+nxwjDkuTKctktuDlmorgu8Mi6vpVP2glsJlfGQVHX5aj8KLnq5GpJiv332YRx5MhsHhe7D1L6GCz/l6yMw/GHVdJQaro+A8yeMPPXl8CE+kGPWiM6HJYWAdCM6wz9/IbMcIPx4XoObhoLHR6e4oAsep0q/anOjTk8eiipsVj/oDRtC2d80xjHQSwI7z+3tx9QoLCvkv7c/aOKtacRpPzBS3zqMddYr2eEY7y9xZ45RILJWNDoUA11UA2D8h1xtdwvR2OCzYUIN/EI629CXzgFkXEkSEvsGTtvdKHJ1P1KEq3gTr56dnc9wSEfn2Sd8zEVfmDsTW1QQ24oU1jjfiMzvpiBodC5y1r55kcqzHnWkUGw9FacXcVAUAtQEeMeWkL+K+CL3FEgm7MF8mbmZXb0UYHXMknMVyDTQRGFKbl324vELKBZCrUwUFijlqteWiqUW8AhByg5MZS/+Js/m3I5jhba4jiWmwcM5uIxaMC1dOcm8M35VpSjyzsLmVIZ8PUmqchUg3fx/YC5FCBFx4jUCkO0GKpkAHdCNtc9iwH08zXtCv74IPGvNTMNAAK0XgNyN48OZZhKgmmREkxg9HK+xCEqWPzJ2+lSBON3VsA0zdjTi1Oypo1dokhVJw5lDkDATnwhSgUGaFulvGC002tpXASzTSjfDB2TjLa0tLSbLTaitsiEE0PTzWM3zSosqM7dK4sJ8YEX4UIeTb1OkfOnCk9qEhyi5UiA37/Fp38zZyOnl4kpkXt1ipWGZYXGRXtvkMKawpbyegZCSNIBUnnDKyaZpvpqvXkT9EdHHH+C+lpEVha8WGRM9R1Cp0hpdDhbg3qfLJ5BBRNJRw5Pa13G/063/PxjRpKCTPHdJ9Yw6oAO61jE4827w1DDctFWPUn/e+f58bd8OHzn3N/spB09GJxOAH/FAduA+/mrYBOBbE9n3awudvkI0vMcHMctz19zhhp0yDzJ+nnMePW9kJgpJrBQRIZxDuGjRS2M6OTUUyxad5n5TGRSXiNyIf4DSwJa8vZWnUrYwrd4kYLPfRFVN+XJYxj+b9pMPiZjPuzjoDnrcfYuvfWhgbTigLrhQyER3SnYOifpXIMbyl9kdcPKlTFI5AsbZrowJ6GkG68fqvrFUSGCy2YRwhUy0rNWfQuxF+uJWJ7Vw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1SWKqfe47CXyzr6V+3p/eA==",
        "ETag": "\"0x8DDC4CE2AAFC8AF\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2/b8323239?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2AB2ABA9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:31.5137961Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:31.4580402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>b8323239</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>df9d3c42</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2/b8323239",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE2AB2ABA9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:31.5137961Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:31.4580402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2/b8323239",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDC4CE2AB2ABA9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:31.5137961Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:31.4580402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-904140b0-9012-7d6b-a7f7-7e608bf77ce2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "537935125",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
