{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434CE8762D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:51 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b/171382cd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b/171382cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434CF8B3DF\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b/171382cd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "QW5uX28OlJCLM7jk3tXHu9qZ8rLfnETC/2pmT9zp4388lYMLjDIY1CCTGyhSncrbY1mtWn30pKUqrF8EqES0oU84p0hRuy+ogR6SS4EccGKgiuyCPIkCSPDe4ODTEyzb33nYGvWBiacqBNhfYlkjDjz8ZB1YMWTGNV9Yc9tP1W7xtmsHQ1VsHgFEWDewo+WXutKk1q4Og64VEuSWKRbM2i9qbavuHMrmkEYcE9gsFZJ5wbgIq/6/4zO88jFx1fXreH4HRjU6qJ4IvUVo8m/W6PxSHGhdwy8wqop4MimYdbpRMJtaJM9cPxgaAO25V/HD5Qo0H7iMjrRO15urwXZ0b0iLF8HUfMMt9d1PQsNCd1OYtEwfZFYBxKLmC00zsX2ippClLUAv72lHBynbPUzxDF9HEgwpVAvyiVIf7nB1+URfrJsynEkTacXi2FwsJoZW9P/u7J5xeFKFs6TtDwH50Q7le5Cwvm8VNKlHR3uuxWPLyflwhw2l7jRJremlJVnE6AZORqr2pTaP2Lf1KTHW1u1BIUYHiUoAQI1cZxGGcA9Pg151YH641STD4K5WsMUCctb7YwMTvF+8TQYdmj0lCWinpqbSYXZuiUwiRKicqo/IWfQ6igwLO8b/uBJ4mjrmntZGrgofLxFfjdq28Xi2IKJ2VUBI6n9bm2rf06hk9u4SO6bRVfyFqCnj2/0yVUpOSZhvAUT5nbRX6hKfP1xo+5brpLXS5Mqm8awXZQ6CKUYgkIoP9PWpGJ7yemvp5WnNeuBmRrCUfGTOyQ+Y4jel1cHMf67SWAahQYwW4GpfvAtDSusuG+OWixQlQSvlETVmTKSpHWa6+iHaxQQjfZz5bwwEVJhMd7reNfOarBfauzBWsJPFtZ+kiU/JVFXecg14LNEf4b2dGdXqy+dzIE4J/wnUzM0IM7psX8tIgyNk/8LlIYBFu9pzuJa+2+m3MWgBv1RMCqZAcPgXsoHxVZayhcwljf7OxEMvYBQ2SlfQtC5iRsPOGPQcpbGHLghYgWP/DFYdkqNqM/sQHamRCSWgR/5Tjg7T423XCOhNRpY71t+xNz4BsiKK+BPHvftKipuL5uYKBPNULCjoRoq7HOxl1UbK4NLnnpTbyZb6CyZxjH1MwV+vMdHsXAoVGGyYz9snYei0gKrJo0dSLjtcWSABd7kMblqMtqN13oTH0YYoQ/q606k+vQzTgx4YXAOVjwLqFKGyi2CBmqtEP6ElAdHBKupBooV2w7mtOOs8dFqg30+B3b3kdbeZOTn++X5rrYFMVjIYVOx9c1DoBFN0RCVRo19RpCQU3bQyp2lMeMo6Qopp8B4niIpjBGpt/HBkJfQTrVYeGQldOHl95a2DMPuGrQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "08FQqsHB4XpnY4FxZGuhNA==",
        "ETag": "\"0x8DEA6434D0003DF\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:51 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b/171382cd?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D0690DC\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:51.8484700Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>171382cd</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>a624b4e3</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b/171382cd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D0690DC\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:51.8484700Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b/171382cd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA6434D0690DC\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:51.8484700Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:51.7576159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "64987685815124[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-a0f236ec-8849-7236-0a09-c2a5a367b24b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1442346260",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
