{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B20F35B5\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f/5c131931-d650-b0b3-2687-8e81516e7a9f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f/5c131931-d650-b0b3-2687-8e81516e7a9f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B21DC53E\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:57.9313982Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.9313982Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.9313982Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f/5c131931-d650-b0b3-2687-8e81516e7a9f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "XTcco0fjCb113ClHnOIiFdv\u002BK8qPbPbhWCgwzwEYXA0mICMaUddXy3sxY\u002BkmeE5JXb6\u002BVe2W3vFAOkofsjq8XX8bIXu/CMMDpmBOXggNu9/a53FCWQcgj0Iy2heNOBhBdAZqC1fSilT6u6\u002BMSH/oMn9qRcvIeQN4\u002BpI5jC6sdm5HDekCorCIB10cR55XlEfDSqeXIvJNefsC8hDEmf0mTkRARTqW5pDO4T1uqzFkIGZLdUKHFFN7\u002BpPu/7CgxG5f9vlaF04MLGQXyUG13s3JntGqeSO7njnwxUqnqObfLh3PDrU4CgkXPkjecEsSxhvGJGHf9UpKpFfAaVEDZYR9N5sj5dAYkZPIkjra3C7t3v8v4IOFADjShGpdd6G3E9nDYTiw7uBLrZPNFmMPb8gp0opS1IQB\u002BDdjUGBluxny[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-7a3919a2-4424-37bc-fbee-df8302529e8f\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E5c131931-d650-b0b3-2687-8e81516e7a9f\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003Ed9ef85ae-4fc5-ebc0-2c80-d49a5418616d\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f/5c131931-d650-b0b3-2687-8e81516e7a9f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B22ABBAB\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:58.0163499Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.9313982Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:58.0163499Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f/5c131931-d650-b0b3-2687-8e81516e7a9f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B22ABBAB\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:58.0163499Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.9313982Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:58.0163499Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7a3919a2-4424-37bc-fbee-df8302529e8f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1287917635",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
