{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A715CE9C\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A7275EC6\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:55.0608070Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:55.0608070Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:55.0608070Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A7417263\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:55.2317027Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:55.2317027Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-05-01T20:59:55.2317027Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a/3235f967?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A7760EBF\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:55.5764927Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:55.5764927Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-05-01T20:59:55.5764927Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a/3235f967/1ffdf8e3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A7E00AA9\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:56.2710697Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:56.2710697Z",
        "x-ms-file-id": "17870353690150305792",
        "x-ms-file-last-write-time": "2024-05-01T20:59:56.2710697Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a/3235f967/1ffdf8e3/459edd11?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A8B08099\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:57.6372377Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:57.6372377Z",
        "x-ms-file-id": "18158584066302017536",
        "x-ms-file-last-write-time": "2024-05-01T20:59:57.6372377Z",
        "x-ms-file-parent-id": "17870353690150305792",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>07139449</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>52802b7e</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257\" DirectoryPath=\"07139449\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>10df383a</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>e597debc</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257\" DirectoryPath=\"07139449/10df383a\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>3235f967</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>86c9f0ee</Name><FileId>9799903157902376960</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a/3235f967?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257\" DirectoryPath=\"07139449/10df383a/3235f967\"><DirectoryId>17293892937846882304</DirectoryId><Entries><Directory><Name>1ffdf8e3</Name><FileId>17870353690150305792</FileId><Properties /></Directory><Directory><Name>6d794406</Name><FileId>9511672781750665216</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a/3235f967/1ffdf8e3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257\" DirectoryPath=\"07139449/10df383a/3235f967/1ffdf8e3\"><DirectoryId>17870353690150305792</DirectoryId><Entries><Directory><Name>459edd11</Name><FileId>18158584066302017536</FileId><Properties /></Directory><Directory><Name>ff959c56</Name><FileId>9367557593674809344</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257/07139449/10df383a/3235f967/1ffdf8e3/459edd11?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257\" DirectoryPath=\"07139449/10df383a/3235f967/1ffdf8e3/459edd11\"><DirectoryId>18158584066302017536</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5d9f99f7-3b5c-ee69-9595-459857d7f257?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 21:00:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "18414173",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
