{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B2DB647E\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78/73cc5af4-9a11-dce5-7f60-95ed855e569a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78/73cc5af4-9a11-dce5-7f60-95ed855e569a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B2F5DD65\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:59.3475941Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:59.3475941Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:59.3475941Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78/73cc5af4-9a11-dce5-7f60-95ed855e569a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "yCyor9Gn6beUB/cV9hpGaAG89464cELgWd3jA/gVvpK/MSRZtqfJJWo7/Q8c6/h1xjnNYPUSq1jpx1Xzw\u002Ba\u002BfklkVcT17bFa8tEjfXIyw23lbjy/SF2crYXLb\u002B5R1mGEfH7Gt5Yzf9iHcm0k7y7mtwPoDlWp/zbryKg/Kn7DCRxvngDzbAzXse9jONXveL1W5LfraMcM23xI2\u002B/t9FRaxGlRtFAt80r3EVxlRcdh\u002B0/r6EXG16BUY8ODqpEc6b2aCXNrnsRtKfFt81dqppW159\u002BfAgsPk\u002BzJ/FCMqUi52iefyjtT9VyLfb9TWeNJ6rwtzcOxfOexi3aHoqJz4X\u002BpsxgvytxaYvKCFIRMuzkIfxKUXtuFCF4/7j/Ey1K6GJw/qqXKGR/g02vRLmhiZM88fiKQ34KjJKu679y[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E73cc5af4-9a11-dce5-7f60-95ed855e569a\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003E92f354cd-1317-ee01-8f0d-a1cf1deda164\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78/73cc5af4-9a11-dce5-7f60-95ed855e569a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B3003C22\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:59.4155554Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:59.3475941Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:59.4155554Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78/73cc5af4-9a11-dce5-7f60-95ed855e569a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B3003C22\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:59.4155554Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:59.3475941Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:59.4155554Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a5e53150-0cb9-60fa-38e8-4f450cfb8a78?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1727144085",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
