{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF019C816F49\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a/7c9bc5aa-03e6-814e-7cf3-bf24c3417b32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF019C8992B6\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:21.7280182Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:21.7280182Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:21.7280182Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a/7c9bc5aa-03e6-814e-7cf3-bf24c3417b32?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "K9AkkKGf6SEI\u002BJfpuIRAzIMFFJRKKCDSEUGUnEBcppNU6xX3bz6sZQKYSVErKJM2DD2IU3hP/AOwUn9fC03gq1EElc1vSF1EWK\u002BRst7PpumtXZAD1FMbBe4SRxy/TFq1t57/J5LGx8TfQ/rIvUol4auWsq283df\u002B6Y/eXQFAhAxV3PpAz39W5pXLI5BYUkej7GVxKZms\u002BNnGAT0D6GrDn7/uc\u002BFQ5BEsQMsX8bpHpZdHO3Cbz1tyqeQges5BUv4rCITRat5mUwdUROnOlAcfflumu6z6KNBje8r9L2pD6\u002B3M7Og1dju44edoRopypBTcAftzmpdRMeC0be8UaSSdEFn7Aage6Qcg7trFkeFF8da2IC5v0FBVeroIgQlLpHfDyzYwdqNrvRfzUqy9jJ//bnsYXUn2LUAJpYbtFmj\u002B[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a/6a558137-ab5e-63a5-4aa5-3abab22eeed3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF019CA63E48\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:21.9159112Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:21.8169671Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-06T19:50:21.9159112Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a/b8f7706b-ea21-08c5-6052-521880037a6a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-430b9037-fe62-cda0-f924-773eefcaea1a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "458823831",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
