{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9B35CDE60\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:51:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da6611bd-f01a-006f-6ec2-0bb029000000\n",
        "Time:2025-08-12T19:51:59.7359328Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9B36A6D3C\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:51:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:51:59.7705532Z",
        "x-ms-file-creation-time": "2025-08-12T19:51:59.7705532Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da6611c0-f01a-006f-71c2-0bb029000000\n",
        "Time:2025-08-12T19:51:59.8814219Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da6611c2-f01a-006f-73c2-0bb029000000\n",
        "Time:2025-08-12T19:51:59.9400125Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da6611c5-f01a-006f-75c2-0bb029000000\n",
        "Time:2025-08-12T19:51:59.9906244Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf/2c7e32b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf/2c7e32b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9B3A621AB\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:00.1618347Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:00.1618347Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf/2c7e32b5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "EPez/taiDU8GSdd4/FIFNmZStBBW+1kNEa7W60ppFFmjiFvWmR1CEiUvJT/rlGaDkkJP/AVuYRSdpe0ozCIFnTV91HT2LpxJEKHrJ9YaIXxIUlgHGhdUNSdHOPMwGkYDKogKbcDyjGOlButjgzo+g4Rw33nJ/YIdKZ9Nr/aoGPZb6PxND7S8VsX1YRMs8LLsCbRvvzrMOSwF7UQgpN1t/e31CJs98HPQtImz1Jtv8DjsYKZBOFm8jq7PSCJvm7Hoh2QmNucXrxlAnwqwGWWRlvwLNEQ3LMSUOXrtbadRYBnYykw2SblQ1bCNAJlOC3RIPrImZGdssVugkf1tKkFx7z/x104ZWkxCul6TqSwqRS0FpC71KvuybBnxlbe846tvGxBZXTQmL+Nl46kI2AcudUzQaIUTe8RDPms1J8SVhtezJI4b0Oj43nVLkEdRqZMRwiBr63olXJ9LFh7I8Qgfz13SVLR5E6Vj14kQyOt98ZXYI2SkKptcjcjuz7rKMO1tK8Dpf1TemK96BxPxFZO0zSSJ8M2jeqXCdsfri0PqmaecopwrlHJA+Yu1KSKHa3c0OgKVQD8fybEaJwmN8gxrkG1rVXL3iDmySfZC7lCDOgpPt1FBVFhnfNnqEWxosgZ+SZm0GxYFPLHI4/dJ3dtgl+z+Pju7KjsVBNiZDHfMSZbvw6W2zh/0SnqfeHFgHp/9inmAanTLwh5enxc9ay85/JlhWRk2qcjNCfPAHLLKtOU4m4L9TN8iJACGWC8Htt5KZXzX/8SGx+CwsmCACqZslOsxBc+sPK+6PzQYr1GZxlIVdrY28rQgsdSiTJl/oRpaGsRE1rEOnSnMHcCQbRiPF+wNa5TvNaE2EFP7Cu8VOp0avZSMVe+hBtiNadT0kES7EzWtcTWFauQiDcVdE5M6tuIjda+DAsH8a2W8YszMQn8PP/a5aMhnlFKvakcqRPNEUrPy0RuUOBB0sAbQyQgYVctFTdOcgE4Zu+Bd05h50idydxAY2nFkewfmRbfCl8pKlxR85PYfp9Fl2BU6N2R4+t7fXlL4/3pa4dLMtjuWVyQVEjyE/O0wUtA+swJbKUSibUrY4zh4UpeZIgMkU/CWzoHxJCQo9P3xrguBuUx4/reOKUnwvXPrnMCl6trpDP/fp+SBagQfenlN5zQs9phLICRMlSqnphENBYdkgwkjB6IMohJn95Sybq7Po9U+vqYnWcq2nXbVNwHTc2R8uvdwKt+SIFSG5CmPmSZ72AM7z0bhPCk+bGorN2oQlIQvNbS3Xnj2q55RoXWgJgNPWV/+l6Qdm33OMb11Z+jpdVClYGNyxHmKRSOoj5uznkZm3N0LEvzfEZo26C27gES1aCwl+w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "MvzuVkcIV6nwYy9ldNQz3A==",
        "ETag": "\"0x8DDD9D9B3AC8326\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf/2c7e32b5?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:04 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9B3B0C427\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:00.2315303Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:00.1618347Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>cee5351e</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f\" DirectoryPath=\"cee5351e\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>fc6a93a1</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f\" DirectoryPath=\"cee5351e/fc6a93a1\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>eaad2711</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f\" DirectoryPath=\"cee5351e/fc6a93a1/eaad2711\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>ab111ecf</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f\" DirectoryPath=\"cee5351e/fc6a93a1/eaad2711/ab111ecf\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>2c7e32b5</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf/2c7e32b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9B3B0C427\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:00.2315303Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:00.1618347Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f/cee5351e/fc6a93a1/eaad2711/ab111ecf/2c7e32b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDD9D9B3B0C427\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:00.2315303Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:00.1618347Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-40919a1d-d461-cc01-29ae-f5e44ff5278f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1794819430",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
