{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434A846171\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5/55d69733",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434A8C11CA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:47.6902346Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:47.6902346Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:01:47.6902346Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5/55d69733?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "VMVrRLJRqeTCLuB5+s0W0hB3C9C6A6C984xii85nHtGjjzTX7WUVExP/c/E/ddpjEGt58x8C2VEkrlEl7h4VWw8P1mqZP+SqYfi9uo+ufn2x/3pi7SuxoLbjsj4U7yT16RjhL55wydGHz5EnRR7BdTDTdO+jsm7kXTWztYyllnLUx9B3zU7fQDWp2x6ailuXITwOQHo0Ujaq/dFovRRE4jgfUn1NSqji8zS5+ddQStPZG5RPl1X3n3WazM99doMhZPnlezfeStaULE1Ge1hfWrP9jqF/9ErjJ7MHs33ZZH2xl5Teas6b+9G9u2oIsCMdOnIbf+fhonCuAlOD1pZZusfPlePDgO/kYpPPwjjf2naP6XgKveWVz/UkL2h7GCQ7ZAGjOBtAWrmDNx1UEd83zifc9O0dTv3hOcXun1GHaUlulF03PKFbT4++h4XIQb4V7GFAniM3HRYDwf9WUbto/M7T5XyCAJKFgaRdXsZ3GfgG2LLvRsomN3ZHNHqiBP7UVYu39VxBk+zOuh1/2r5PjKgGT3gIebUEra0FOssX43ymiAk6vySbxUXFIIuspl2496jSm7WFzNzWs0iuO1ggtteh2FG1FcyEa4oyQlgpVwZQTUIjRUfHIbwsZAzc7YnspWq0C84LAuLbTTArUomErFtBXu0W/HGP2reVibDAp30ARp3udUw4RUpfSPcXnM4yp7iwmo+c1qj4JDEWdXkyG6ayKgzrljYPCRijtrR5eD7pY+H4Dw3uZHD19VAbIc/QLSxRZHHCRxGBoZB2+R/zf6zyLRKYOQuYw8ac9qHl8+hJ0omIJxPMJhvPdm58eGtQAXakKPS9OPQguaCqJlFwm62oLCaWa1eYJQb2ycKdG0pbS/QqQcvzjJmVZ25yIgDKX9vA1ExEupYeCwLtxm8xg51WT9pdRVritKCMAQToJgMFK2nn3Ef+F5FdDDXIBsUqY+TQHNMmbRmB3h+rt7iSNeX/55oFSqZVVzhI/zkkGq7aYp0gGAkw375QZf0oUl/Zy9ZQyR4qJRk9esSb3m7gXcRw0FUacR3bzgjcteSoLQTYbzNi01CQsDyE451ElQFPbwg5uIIKvlm5dPoVTnA1lE3Awm47folz4CAYlo6AlzkHjEXbb3WCzbHZqV9WemHMTk5PhNKSFPB/xthh8ifLON3ADsEqWSTYPfW9YdQpHWW/TEc/MRJndXhUW6mdINuJDnCClWygofUqd0fd1bMcValyoqbfiwfLWZlJ1f57Ox0ZM1Njp4f5HqpSFbrLip/FOAb/Kn01qYNptjvTV8z3rjspw6FguK0heYP7jXVN/8/5g5z3exCf5InQ+vFLJsfdW2Z+ocf+ZYBY3rH6ORwNHA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9RZn3m3/X3Ww1mkTWFmjgQ==",
        "ETag": "\"0x8DEA6434A933ACA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:47 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:01:47.7371594Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5/1a8acdd6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5/55d69733",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6434A933ACA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:47.7371594Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:47.6902346Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:01:47.7371594Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5/1a8acdd6?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434ABE30CE\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:48.0187086Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:47.9318477Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>1a8acdd6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>55d69733</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>69da88f2</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>ddb8b3f1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-654c60f5-11b9-ad3e-02f8-eddefac744c5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2083892490",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
