{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795CC587F82\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0/cb8cbf06",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0/cb8cbf06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795CC6B74CE\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:33.1549902Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:33.1549902Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0/cb8cbf06?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:37 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "PDVEq5+CgLZ061KsydQ+jnf3X9LLGF/rPKvKGXGo/OVE8sgnBjgUPL0D3l2HmOzxiYN6MBLX6CPVWG/0t2dEy+5saNcMFoc+4yMUyDkCY6O+2I/uLsvTbQmlUa3JIIVWvxNuGjAV5XL7O03vwiDp0/XMNt7XVp0imfvNZsXZdcKevggmlEhyqPIc8vJ+46rou364/Oqmfml2S4E1R3+tIcaLUQMYwz+sWY3sumOqpLZQ5atGIHjX+ECfsEjHPWFzb9Ar8pKm0Pg/DKNducMFy6fL5WLTZgBOs1nDeBL25BwseEuSfrEjqRSyBxTVej59muWg/Fj+oAjP3T8541jlSCiGMEF3ckz1pztNIF/seDgbRd4tVefELdhDw6By6sW8zL7sTkn8BSeYqlUcsX+o42UGHp16uPJAwgNpNK+rg711kVOhACnuHkC2lKuSp3tZmt87a8soQhTLrIxGk9B37CeXpyArB+I7GP9dwyNHrRuHEJrPbxjxTU4/1VSdqItvP6eD+/9bLpP9AFPMy37wg/9wvoM2p30OplrR6zGOnW907YR7w7IbLOIG0m/FJILQT1JVLOoIOZcqdVSlikJibmLjWN36dL9MVJKgMNQNSYHXAJzfOXCFa7TsUU5ddaKfpGQM4cyk1tqSCNdYZwnCHSzSzommgzTxXuwpDSNx79/vAYtwAGe0MyrBTDGYLASqKTMiiqcZ+SEvGoPgesm3IRj4aGZ9UhzEHpte5DYDWTHofuPvTmQ31ghqQeXj1LhhCisYn8SeLdcXXWwMuhTrLMFR9/vlx9KzwZFdExA24Uni/doK6rltSlEM2PH4Khz0fxUjkty8fEJZZd4yQBnG4HwiKb054EEI5K2q2e/gu5Z1aZT7Ek5tJoGYsIXaOgk3Rfh11gFfu57TG60uEaNTeKlIvdaFys0ttAI8oDC8LqqjcpP2a+SVFq72KPehPhTdRDfbkn0zsnsqRyH+IxpuF+wDi58PXA3Fsqcoj6LVi3XuXlv44ZstcMAYzCTDlvOUiBEKnrN1zugqFt/WCiLYVLurEMW+dTVQ1hrf95DpARyzlAeRyu3BeJBzzcu8VmWdP3hoF4Yu1RLbusiZltZYQRTDInYbRonO6Zc1SqdqlH+0QbcYgOqVhb70thAlKOK5G4y2+TTvgvjumi3v+ItqcCVI5FQeQMAqLZy3JpB4qMG0ey8bs5tKxb+/Kea8powzikXr3EOOm9rLjMuYN1tndfFsOn1bT72K/h+UXxbZbYcPhJxLjcx9JuBUTybQso1kV7P1T2wP1zuIYN4k+TvE8R9EiLK/HOgk7xOdBv+WukuSMAhi5B0aAKxgwyzuWS2kkF0HjCnapDvL0GBYcdE88Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "t8w2YEWrWPUzQEduAg0zrw==",
        "ETag": "\"0x8DCF795CC741DA3\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:33 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>3eca68b0</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>cb8cbf06</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0/3eca68b0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795CC752DE1\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:33.2187105Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:33.1599685Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0/3eca68b0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:37 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795CC752DE1\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:33.2187105Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:33.1599685Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa27b1c0-69eb-5603-6aea-ddf20fa99da0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "503649589",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
