{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF5255FD965E1\u0022",
        "Last-Modified": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967/58e39fac",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967/58e39fac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF5255FF28C55\u0022",
        "Last-Modified": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-05T00:01:47.5383381Z",
        "x-ms-file-creation-time": "2023-12-05T00:01:47.5383381Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-05T00:01:47.5383381Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967/ffe65b7b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "DLd99R\u002B5Ea5APyGL6eg3rTTFCQS25TTd0e2mxJcLGsOrx68ZlihXKf8hMSJHdwdhIM/7HnR\u002BxyaDnyMyE0wXNCVd3yI4HhYLbeAElbMRlVrmRKTHEPtOLf\u002BIlvcFJRazCf396pflKAK577GUeTJzcQnITM6oUCQpDrIisIcfBkjJUYu2E6vCAByhDiBKurPNFSTtPNlHC7nY1Nvlw3h7mehoyiimvF1eBkuyBkED3lT\u002BVZpiMcpugUbS3j/P3T2jJnQ44e\u002BLJlnHjzWNlQR31faH5m3dGGge\u002Bkji1N4ejikODuDNy/xkcy9Bm6GU4OxCWglJR/bPxQ0MGuenqVF6qAEMf4Yjqgn5I3I\u002BnHzGiRlcn3nV1UcyPkjTwLEUvcrdxvKgiGFlHrD/TySDkCmQRZDOSgnYpdO52UA\u002[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E58e39fac\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003Effe65b7b\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967/58e39fac",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF5255FFE2367\u0022",
        "Last-Modified": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-05T00:01:47.6142951Z",
        "x-ms-file-creation-time": "2023-12-05T00:01:47.5383381Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-05T00:01:47.6142951Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967/58e39fac",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF5255FFE2367\u0022",
        "Last-Modified": "Tue, 05 Dec 2023 00:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-05T00:01:47.6142951Z",
        "x-ms-file-creation-time": "2023-12-05T00:01:47.5383381Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-05T00:01:47.6142951Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-57f34120-c9f2-ce77-3503-0b5d2f0ac967?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 05 Dec 2023 00:01:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1082281",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
