{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435574188A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e/c015cdaa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643557B9FC3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:06.0373955Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:06.0373955Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:02:06.0373955Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e/c015cdaa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "yyGAjOBgWgWo1EO4/ftsjtR3qR4BiyHLwSaQwsMhKzCHz7aV1rNleon/cIlT0ZRUhEznajG8ST8Atcu6z5dBhqgSMC5F17cgES+UAhuXeO+RPD52OcD+yoV2lSDoqqrxvergQKBlD62Vx1gCJ0ckaDzbKJNZy0znFGapzkGWOGeFo0QxtjhOLC2R4XJo/KI9UizjDIEWmPKd+Cs6vEBr/o7wfIQC8rEEjPxmx+nafxjDbHwUsizlbgtSlL4MFG/sJePjd38eOl9633+EsNAIw3kTd1DDVktiCw55r17z93iNeaIF9geZpDEcmdOsYL47StFE+ZwfKc+YgWxwpYoBh+cH9zYtA8xyedIep7x3tqpQPmWNr/7bbVDTbXWaKP+nGhLspWiHDUcE0n/KAYESIMrCIGckc9jpK4rmWpVX11HTd4yqixFByDAeidx+EWzOwEyq2AiXgqc6A3neobKxrPou9on1aJS5gFc2Ber7ahoeF5pJrf5IO/XlcIiYYyd+bdzhUBri2Vi38ViwYXy8Pphfv4oYaP/75buUD/gMIR0wt5gOGRr/PD1BkbummNp4KDHvOKOcZgXc5WpfTclgq9A7f6nkriR+YINM1tdDVU3gHObGHOh5k1GSMTOwn+504eXraxgwlHoNcdgfUJAumJAcfzHimY/nwexYUX3wzsGU2PTxWOk1sIdsuaoPWkPBZJijkx+9kUdWBKos2EL9HKMXi3ebPECm586pduDk12eol+3lTTuh10esm1Q/CddEb50H+M7LJSdX/KtQExtncSxDg0FVGM5odrMw7qDsZ973ZAZC3d+Y3XHFjVGPUMQrRSon/IWW71fOn4IbmjeHapTNWa4UJJRNq6bPkIp92CbvBKl2xGtYYHWvcz5dfEI6PiK8wvYVFyCV2lDfxl/MUcZbLJWNEKYpdPg4ZLFW7y5jlVFowBYv2e2J4OoaeZoW4yJ3AVCtrC18kk793bNvP+oifDANZJCvLFKoBC+7D/peIoGO3u7dtugk6y7IMvw6GaH/9/1pCH+RyNT9BKj9wINTn7ox4GH8RcVI6Xhi5/pWbuqOvBf99BkC/RYZ37FAJiuqdJNBCDlAA7I3IR8GLuDappa9bgNrVaqhL+JK4mUTB8JMt3JnFWWwTrlkxdP5+841PjkbgrcnPh/on9hX9SBNJBldunduc5EwDCBKB4/WpzQTFaMs+IQLJHhTfnWNWVmYF6G6nEBXxsun6naX3TePEvijQ999ISuUUZX+G/Ubo7PGse/uHAvzu07YhA0Oc0dBxGt96RV5G/V2JUqrWavVjEfC0CtHofbtsIeRpJ0dhd5OvVeJnrmdTZb6d/bASGKiA/fGTKIb+SN1kDiN6A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "02Pr7LzEjfztJLUUhsyKuA==",
        "ETag": "\"0x8DEA6435582EFC3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:02:06.0853187Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e/4ee086a4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435599C9C1\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:06.2350785Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:06.1462207Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>4ee086a4</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>c015cdaa</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e/4ee086a4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435599C9C1\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:06.2350785Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:06.1462207Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e/4ee086a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA6435599C9C1\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:06.2350785Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:06.1462207Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "64987685815124[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5eb4ffd1-ca29-f0fc-d703-338bba5c836e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "730899378",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
