{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795E15A5AFC\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3/8622552e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3/8622552e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795E170A74F\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:08.4212047Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:08.4212047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3/8622552e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AYDiEexpNQrfSC9BVXqXRxpObxfsWZ41xXM+sXysnXmiKojE4F8Wl5WrGwp9J1q+Z3iUVOXt0KjirUt4K4ONMqu1nyvx0me7ONeBQT6Tt50Zf0oEGEiTtFrg4jITnWwSHehfx4gvzZUR2BwObI9pT/WuX6s5iRljIurQEe80p5prbyNVNO8V6rK08j8shUjLd5M9ZT7A2JTP+6WeXryl3DCBov1rExsGmHT4hJbZN5yhBZlc90JbqpaPhjhJd4v2DxYOquNLX2N3N8zJx1T99cQJ/FkiSeTuJfhm3I3jvCHpAnWAyoy5VqU25MB2kuJCkZBzQHoy1MYxIITq5YPWlHur4MXefSs3UKaz62Qkd5MWJEr8b3unti6vTqkIznEiYE9Fy7EcYxRlO/DTf+hhDajw1MA42ST/AyqXLy+BL4E1kIsU3qzi+cA2ljSL0zdGTUAAGPmw6YYrRseGhTTk5Axunu5cTS/8DdsAAkLwczDzUOHvgBaHhaYF6ZjlW3OLUbIoHDRI6QARBAsesOdDO9KWkzVT9WP15hlHVmOWFrFodLGPx1f7qmfg3nsLadW/wq7GT8c+OFtPMzYbAJOdeu5Ztjs1s3N7munNchfn6X1DiJS10MfpKTtVQJQg4KrUQ2ONsrKZiQ86S7TecMVDZ0m513j+56knb4wA4HLfWro++S+zWjfKqv6Ee4USCrl1EdhLZwgy1Vy5ZkImmamcW/D6oHaWkA0R7i15emwkFGTSis6ak/KyDCTT+vP0oxFU6B+UGGpD34HLOXjauFrwlVLeUw/aAsf9R5NRwpUZHUscJJJMj/v5j6pNzlp611TJ42ShFk8BeuVYl9DX8RzrsRwtvpPIowVW5MRkjTNsg3A/iN8xdwb7Gqqs8/gqIp6NYR0+TBjAAD9eSzGLneyy6xNgl2k9ujkVMqTpHLANK8Em1isWLjdXfoeg0izVb329+gflyoo1UKfjKRl01+SOUR9wZcbBm73bCBjhnecNQMInKyKpJ2E28IaEMwQd46ejEYEMZAq2/F5JCcJyU7PA1elWTavB5Sm+OXRAPGi5vSVxPoxmANu3cC/DXx6fxJ3TxF0bx5b84StXTiuWdr/1kEudABUmWdQNntx8/YYLHnTXbHgLnfaOdFxgDrKvIflvzs/SAsOHrGqIDSi5f+OlSy+2vwlG6vJUDoy5xksiXn3jDC+2ORywT8AOgpDO1fV4u8KD+WLvKOPcffQ3zuYfZq+q1XO07hISBm9JOGhihjiWQAuInmUb8+NM2rsoeIHa7xvgJP+BxMywcPLypvB6efe8oI3blshKj+KPZxNX6o3tb0lNgmI4FXw+2C5yKEzz0mHEbNj0/1hTlpQd8ly5WQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0P0xsHCpeqSU4VgraUS2Jw==",
        "ETag": "\"0x8DCF795E179293D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:08 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>8622552e</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>de44d737</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3/8622552e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795E179293D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:08.4769597Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:08.4212047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3/8622552e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795E179293D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:08.4769597Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:08.4212047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1db47dc8-37f0-bfb9-e019-3d8865cf85a3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1818443088",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
