{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B18D6F9C\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B1952121\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:57.0359073Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.0359073Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.0359073Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B19B3AC1\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:57.0758849Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.0758849Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.0758849Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B1A1C978\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:57.1188600Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.1188600Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.1188600Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B1A8583A\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:57.1618362Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.1618362Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.1618362Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60/9cb7d717-5227-4489-5eb5-02fb83ef45bb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60/9cb7d717-5227-4489-5eb5-02fb83ef45bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01B1B6FC18\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:57.2577816Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.2577816Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.2577816Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60/9cb7d717-5227-4489-5eb5-02fb83ef45bb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "PAr2RMiJq13kM2EdA9dNUuDopXaJwohGUldKiown53fT2f/tyVmYjStZt/Pwa0GGZ7AamkrPMXqCr/FxPyDRvUzpSinYX4mHUBdKMAuUVuYWwyPcDE0tA6eEaxlnJk4LiPmnBiEXrQcmk0kyhAFv7VkKW3v99bD/vEaBVPRwHynIP6cR7U/F/hYbtXkD\u002Bn\u002BmFX2/XcvTDZNIp0rblVkStnQfakVaXQAKRVxl4kA3\u002B8HH2z53sMJe9TIUyEUE6mm8CP4F45A5TLd9tRdvbitTEauJE7kamwaxwXQTRZW6BVvyqNlBMhgwjY\u002BH\u002Bfuq7ocGwLeZe9avoWz3UyEbJQYiwq\u002B8fMVREd6TWIUqk6ILBtLtDITdIYqFQgZtSd73FWeJZDZL7nLBta/YBiNQhQ7K7ExOLhmBRaElNzm/5Mf/nEIeo[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e794a07e-4935-f59c-a407-5df375b9dab1\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e794a07e-4935-f59c-a407-5df375b9dab1\u0022 DirectoryPath=\u002292ac1237-b2d7-bf4e-c449-c2a4a3c61ac0\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E14fa72dc-cc7a-93ab-fd9b-ba8f216331eb\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e794a07e-4935-f59c-a407-5df375b9dab1\u0022 DirectoryPath=\u002292ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Ec89e07ed-9836-4514-117f-49bc4d415eaf\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e794a07e-4935-f59c-a407-5df375b9dab1\u0022 DirectoryPath=\u002292ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf\u0022\u003E\u003CDirectoryId\u003E16140971433240035328\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Ea89bdc98-8f3f-6a22-6619-953cf8bf9e60\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
    [...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60/9cb7d717-5227-4489-5eb5-02fb83ef45bb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B1BFAD60\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:57.3147488Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.2577816Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.3147488Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1/92ac1237-b2d7-bf4e-c449-c2a4a3c61ac0/14fa72dc-cc7a-93ab-fd9b-ba8f216331eb/c89e07ed-9836-4514-117f-49bc4d415eaf/a89bdc98-8f3f-6a22-6619-953cf8bf9e60/9cb7d717-5227-4489-5eb5-02fb83ef45bb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01B1BFAD60\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:57.3147488Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:57.2577816Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-11-06T19:50:57.3147488Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e794a07e-4935-f59c-a407-5df375b9dab1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1936481467",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
