{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795DB2340DD\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795DB2F40F6\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:57.9262710Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:57.9262710Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-28T21:16:57.9262710Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795DB3FA946\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:58.0337990Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:58.0337990Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-28T21:16:58.0337990Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b/5eee40ed?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795DB613C5D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:58.2538333Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:58.2538333Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-10-28T21:16:58.2538333Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b/5eee40ed/3e499411?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795DBA1CD5E\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:58.6769758Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:58.6769758Z",
        "x-ms-file-id": "17870353690150305792",
        "x-ms-file-last-write-time": "2024-10-28T21:16:58.6769758Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b/5eee40ed/3e499411/8b7da8b1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795DC2977C0\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:59.5660736Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:59.5660736Z",
        "x-ms-file-id": "18158584066302017536",
        "x-ms-file-last-write-time": "2024-10-28T21:16:59.5660736Z",
        "x-ms-file-parent-id": "17870353690150305792",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>603a50b2</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>77d19ac6</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b\" DirectoryPath=\"603a50b2\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>ab16432b</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>c60da3ea</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b\" DirectoryPath=\"603a50b2/ab16432b\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>5eee40ed</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>8c84af33</Name><FileId>9799903157902376960</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b/5eee40ed?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b\" DirectoryPath=\"603a50b2/ab16432b/5eee40ed\"><DirectoryId>17293892937846882304</DirectoryId><Entries><Directory><Name>3e499411</Name><FileId>17870353690150305792</FileId><Properties /></Directory><Directory><Name>843a770c</Name><FileId>9511672781750665216</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b/5eee40ed/3e499411?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b\" DirectoryPath=\"603a50b2/ab16432b/5eee40ed/3e499411\"><DirectoryId>17870353690150305792</DirectoryId><Entries><Directory><Name>8b7da8b1</Name><FileId>18158584066302017536</FileId><Properties /></Directory><Directory><Name>d5e77adb</Name><FileId>9367557593674809344</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b/603a50b2/ab16432b/5eee40ed/3e499411/8b7da8b1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b\" DirectoryPath=\"603a50b2/ab16432b/5eee40ed/3e499411/8b7da8b1\"><DirectoryId>18158584066302017536</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-5cb63ec4-e27f-7c60-459b-237fa31f311b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1420256496",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
