{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF688A07267\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF688AB2FF9\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:31:03.9298553Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:03.9298553Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T18:31:03.9298553Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF688BE6711\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:31:04.0557841Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:04.0557841Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T18:31:04.0557841Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF688E327C0\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:31:04.2966464Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:04.2966464Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2023-11-06T18:31:04.2966464Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00/c69dfcd5-c0aa-1579-fc4d-07e163f412ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00/c69dfcd5-c0aa-1579-fc4d-07e163f412ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF688FC7879\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:31:04.4625529Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:04.4625529Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T18:31:04.4625529Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00/c69dfcd5-c0aa-1579-fc4d-07e163f412ec?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "bmJC2nFYzRyR4Um\u002BcTV6EgmRfOMdhQ4t3NCSrTN3XuorstrsDudoSR9dfftGiMuUnrwCOns84OlTFf2gxSDoGYJek75bjQQhKTPEvwcS5lMF/Q53dCRv7tLwmfjqyIP/dWN45/UMOBC44RFHeCDhQC\u002Bpm8gRcaVe76Xsa/QLNmCvxEqkmv9e\u002BMX\u002Bv5ITJ3WxDljJQC277QO\u002BGfhQIM0crKqwmLTWPaYvS6ICE7ISS8cvO1ycQfYz9NZG5YAHDtj34hLnYo/B2tCxmvSKuNpRq80wIORwf2q0fKPdkFglKD3KCzGfKug4bmCL6qcCqTv89Dmz1\u002B3zhmKoM\u002Bbr5Ep4jHG3wK2psYHk97KE5ZXCstJo4JseclBP1oTO9/YCTYkWEl41SumOU0O4zt86b6HN5YETggOuWhkhZ\u002Bk[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E9a0901d4-ecbe-dba8-5ad7-8be233494249\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Eec7b2241-21ed-b3ee-0e2e-86a330582c48\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a\u0022 DirectoryPath=\u00229a0901d4-ecbe-dba8-5ad7-8be233494249\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E6a6d54be-fc88-05b3-bfb6-e958b5b15fbd\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Ecf464417-81ab-6992-7839-5705b4206407\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:05 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a\u0022 DirectoryPath=\u00229a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00\u0022\u003E\u003CDirectoryId\u003E17293892937846882304\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Ec69dfcd5-c0aa-1579-fc4d-07e163f412ec\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00/c69dfcd5-c0aa-1579-fc4d-07e163f412ec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:05 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDEF6890C0695\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:31:04.5644949Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:04.4625529Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T18:31:04.5644949Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a/9a0901d4-ecbe-dba8-5ad7-8be233494249/6a6d54be-fc88-05b3-bfb6-e958b5b15fbd/bfd07994-07fe-d9e0-18a0-de7571a49f00/c69dfcd5-c0aa-1579-fc4d-07e163f412ec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDEF6890C0695\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:31:04.5644949Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:04.4625529Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-11-06T18:31:04.5644949Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-e740b54d-e6be-e964-e95d-72c23a6c6a4a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1827309544",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
