{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168AF3C78C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab/bf908da9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab/bf908da9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:35 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168B0AEAA7\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:35.9890599Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:35.9890599Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab/bf908da9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "EMfK2jQRXDl1DjBRzvZ3YmoQl4lL+2+ynjQj0D1A6K0xuKV6AA+alzFXSUr4Q7FIBinSfV7aJhRYFzv/7Yv7NSaCIBVR/WJadQBY9LEkuVqD2soUbWtOVpKQIejTm6mlWxQjdiOb9wnHdwdegjFiM17hfBPB58e7NMmDwdt5htpWspmdAUM35+PBTPZj79RgLu2J8h6W5HNMaEFZGDUtTfEtCM+XxTIaqZQvAJvRV0T1IpLt75O7v84mUJgB3c+tk/4FNecFyGm7bkiKZuPYexD9ZPWjP15dckgAcXSZGcvEgmyczCJd71opMoBLMFnqTtSIBHnaClSgp8OeBFf0IVV8xeR3O6/un3SbeQzdEUHvFiKfERRS6ncY+yRfvusCNBArzmt0cxIlmWUFPpBHw5WBr+40VA9BKtptXz+Lj+CImET7skPWeqIQenevTazm0DiO3Q/9zt8A6qOQBxPTmQqEfKZMSxFSqjRLJNqYkd0uho4H/bHQi8pk+8efRnOOPeBsK9EGmoQnOzPbsaoFaFjGYoGFy5xZs/Db51BJs2TAvOf5K2YMKOsJ4MF+9dogX5Jv2OPyCXFEE3fgKrM03YjOGvXCDD3yujmVe+vb274Wu4e+2tqAzrJ2tBjuK/031QI4r9rkXVNUfB2qXI6FaTe5ym8sdQOuTUxCTFclBI88XaXpoivjMV00aV281nEk8EvgNGGOC1//imGNohD7L3iObv/onMcL1ZgR9wyl8XfaHVsMRM8urVFG6RfKVo5MOTnlLmhyPFSE1F7IfRRSWZjqsoW17+qoX8CtobKvQX8JxL7SwMMOaOAHiHBxZTA9849/36MJl0pOPM6nxZqi1JPevrhWf5nU20qkrWZ6NvmQcK4iMGHcACxzhIP1ZqNFZbPdkqd35nP2qgNZZOnj1AXUF1Xsf6QxAr6M4vsV33SnXkiznaNSGIk6LIVeg5tCkK99IU9OWeUOq5Dp6wR34MqPsQahLzZhgf7LslMf038iSVFLmL4lWQVipPETaS2Ewku6z9GVoWB5G59QgqaS79gRxqGyLEgMaVgBPotEThjRR/AIZAOtjajx0nwe1dde0LQYAaKL0ZYCrmV4lGLVNM2Gfzq2iovUYzn5wVnM7ZSBom3WK012RXVZBbWeNflFG52vmFacp0YpQ51pkg88NsDR9vH1/giAEDnEXITVNi4/tKa7HVU+5fonrOivDLNlHc71zD4HUByVLocc10rCUw1uKd5pgBlrkxH3zVEg0ASGXz+14GnwOGOJJu7OIQ2vZVnaQOPV/Jy1iTktEILKdF6DlngLDHOjfvF64FoqnXEDR2j4RZAgsWKj/1YwwifhvrGQS4qVpFjlN8HyWhtCiw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "q0WpvjtHoD1O57A/0HwAhA==",
        "ETag": "\"0x8DD5D168B14082E\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab/bf908da9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168B1CB0F4\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:36.1055476Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:35.9890599Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>bf908da9</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab/bf908da9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168B1CB0F4\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:36.1055476Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:35.9890599Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab/bf908da9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D168B1CB0F4\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:36.1055476Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:35.9890599Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-b837ec78-6c8f-7c37-4ecb-8fa50de875ab?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2141009557",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
