{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC752636EDE96F\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526370051E8\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:30:17.1742696Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.1742696Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-15T21:30:17.1742696Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526370D6F5E\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:30:17.2602206Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.2602206Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-15T21:30:17.2602206Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526371E0EC4\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:30:17.3691588Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.3691588Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-05-15T21:30:17.3691588Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526372C3D86\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:30:17.4621062Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.4621062Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-05-15T21:30:17.4621062Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db/97bafe2f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db/97bafe2f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526374873FA\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:17.6470010Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.6470010Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db/97bafe2f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "4DNeH0/huXtwc0h9FsBIdY9GF2w9lX1dJynef8hH8Zv6w9+KnXGLTkQ/Ju81ILZk/p8+zHg/dUu2APgmAzmyKIKsg1Phvtgduskn/m6NJwZyeoEpCCQjuk6U05x5ZUsLjP5siJxjgj/HIRGuGHbcKdnxtIm3iR9eickETOo7pFV+G3FwIJ5pDvdCYucSdKLXuKrDh7DCVAPeDv/TXzZUi3y7MPwFbAg6iKWRdSc4SxUmLJRAeBykvMdukRKfla/B7ddqV0Om0kuiiP8LMN7cpsPprTOhFBJgFnQ0l9r1m/L20IhPzfPSgFlInfAcmYvpketOtuh8H9jECkDOcTtxrO0NFV9WjNjPFizZWHYiQ33oSwXupuUKerCvi8OzAw4d1vACD4QskgUTf5+7osdhocbC5SY2gwYHA5uupgAUGxIdu4GGHzP5vLgA2idFTtfpTen88B7o51Pq+gzofewE/mOMneZF24GSySltNajewbTDxFgWGCv0NdQumyQnED7M/NzDubDxpHJnaSf0e7KqCzhXJbiT7eY4l2gSF0Bda7jqoDnMGwgE0SDmr64D/7khg4/rz+uFOQ71iyFI34wyCv5uCtt43vAwU1OYrD44NJiv8JOwcZzNZWYq1o/mu/KTtKSwlfXeqaWfu3uX7YzQvVaJmO/4gplhoaR0TgdhSpdgBPiah5+i0EfuEbYhNXfaWhk4XCMDmjILTvNQalqePXHjNuiTNjW358inCnDjQGstmfTuKO10XWnGjzmrUmbsUNNFPf6ORiPjgXVaW5DBJw6II9BmsBWDbtl/zaf8C5Vhu7mdnQJsnlPQCqZ4GQHYBWcrIi6VhqC9wc8lD3l853bg+aDWI4kLHIV8laVuC1TYpsdA0ehmzDUZ39wzRo7aVCMwlyBhAuHdHwapGPD6T7V6TWixOxWNeSxqvUSt2NX2okGCPnMzd6TmY7HivbNFHpAmuPklKRgNoh7z9kWdL0YwsnaveBFCR9bEy9hkq7x5JZ60hyDc0XkodJtVP4BfSTNqsQo8lqV/5HEjYV5AqfdhetCm6agmVOH9hgR17AdVZYGk+fmxPY/4NKKvuHAb6Muk88WwuF+LRF0pPw+hCfdpzvvcm6/9sD1ArrQFd5xx4Z440fhBpKwiGbWch/2AViurRel0P0wbpkKIcAqrhszBuF1waDf+KCpPuoL5YSg/wFeIWjGy/aJSHSu2uDShdpPo2s+fD+3zrB2/JIXKIUQaSbCzIiyaDru6HksMSG/1rkPvEYZZn7Bpla0U89gdh/vmm2+E7VNnTswU5PCi52StyXZB2xC9wKn/So1+hRvinZdQJaz/ccDwiMK6RLq/x61JZylh3KzqKdvGhKPF6A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NNcw+8TzqjQVzNsgxZpLvw==",
        "ETag": "\"0x8DC75263756C9C1\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>21bc043a</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33\" DirectoryPath=\"21bc043a\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>864da65b</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33\" DirectoryPath=\"21bc043a/864da65b\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>74778559</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33\" DirectoryPath=\"21bc043a/864da65b/74778559\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>02f6c5db</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33\" DirectoryPath=\"21bc043a/864da65b/74778559/02f6c5db\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>97bafe2f</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db/97bafe2f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75263756C9C1\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:17.7409473Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.6470010Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33/21bc043a/864da65b/74778559/02f6c5db/97bafe2f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75263756C9C1\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:17.7409473Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:17.6470010Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-11a1bae2-a6d1-6a8c-a10a-f5252e837a33?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1026352072",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
