{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5DA859B1\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5DA859B1\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:51 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:47:51 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96/49a9d18f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96/49a9d18f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5DBB3CEC\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:52.0473324Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:52.0473324Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96/49a9d18f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "bNKrxa2ZWADTTx8W99CX6UzVgUxoRmZy/bkPpj0u1ftLK226Ce0P9niodWTGzVPi/hsnjIoDaSZrOcj0ibHCpXkkystj3N9fxYrTv9ECrDBlLaciBkhwR8FGT9AlG23G5s/qoQOHfiE7yMYAMKpVaY2YjlsKoJ4xtIIJHI0OOaocDdkBGAos3a6G5j2CcBcX8eVDjYwRvEYxue2BfWGTLY4c4yPQVFGDa7Csg7lhr0Rq8iuoy6wdC1CT0F8cq2BN8rmvZYz0R52UwCHbZDiNzwqpFos262Hi/tjSPYTxZr9QX5H/sUm3dauOEwqKQqYXBgBVcpXUFgZXzWa0IQkZolliigWnjR7A8qDgqNdXV7wxuzeDnPQqfEiLp+TiAlOhdHGwKLehcHjilID0824vAHWpgmbRlQVlNw68G+Y53e9MPjNmpi8FkEq/oQd0NojaXKZvOH/tz99rS/Cp5FSRqLeQp7Q7yFpGpPIbEvP98QGF4r9AyqRwX29T+ls+XKv2LvlQ447TnpNMKJSN0b3sbVruIwKUUd4SIEdF587+B0hHJeT6rQ1ysUMs86EQ446xZowBTzioYdwaPsNHjrbFTSBLRazZ8sBMe3K/Z149Aj25lIBB/bcPnsMH325JKyOMZ6WAxJ3i13TMtNTG6fl+3TyGjfk2g1BpPKfo0hJSA09OMgC4vD2g1rwMdUnjSbTJiAIyw54pVuNVF4j1+QVierGEd7f5xiH+5rY8KQ4GhfPyH0kQHz+xJdwcYqS1qt23qvuYX9H90MLhM9zn7CzVT5KUAtq8UVpx0lLa3GN8SDvZhX8TbiYh9U6GL+tjyjivRxMSIKcC+1igJox+IvNfZOugDWesweBrcg2LNiJuDQgaK5VPaSeU14onckeZo9JbJsoAwr3QAoUzpq2adsU2MhiEZPddD/rDDDbdhU6Y0s87MA9XbUtLSSgPHMN6+WDF8EAuFT7a/RfPPbaG83w2mtTeX0a13sTNORrOTvM3SRLVF5UOar2RYDL3hzCUxFWr2ILum5oaDxJ8YNsjC68jl/SjsdvnKDAXTf4UvleTOHXEI3ZxSa13ugiDkQnhbVSC1O878RJ6w69S106cBlG66ChmXug5sk5HK/bTZJYmNt+qkelnV0diSl/GH3Je27S3yKngeg5rSSGh9MUbp18ZK6Bu8nRnU5DgAxSJc5Pc6FBBG5ztRbvRPkfIxmOCR6P/rPPR7+lAT3QYAHb64daOxAx02YvCK+XlnbMtn40tXrxwicafC/hmAcwo1UVE11xwOgFXDW0YPYEO61I1E7Dn6qG6iVgQ7rkTDte+mlafoMZXvGSL1lFPWExEkR+mMe4bQOqkik0EYEtHQ/+VWaMqbg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "nLM3O9LRkoZytAFd82OuEA==",
        "ETag": "\"0x8DD87FE5DC129B3\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96/49a9d18f?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5DC543CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:52.1130442Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:52.0473324Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>49a9d18f</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96/49a9d18f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE5DC543CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:52.1130442Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:52.0473324Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96/49a9d18f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD87FE5DC543CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:47:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:47:52.1130442Z",
        "x-ms-file-creation-time": "2025-04-30T15:47:52.0473324Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a3bb5d40-f574-6e1d-e4fc-ec04a7b15b96?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:47:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "684707443",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
