{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC752637EDA7FD\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb/1c3a984f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb/1c3a984f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75263812AB5A\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:18.9722458Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:18.9722458Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb/1c3a984f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "EPBsymFsFf1FUOu4ZyQvi2FoOz/WXkzK1FyKCH7dE4HDkEkgJH/xIAUxnF+YC3dtkh2mEGRrO7GjofUF4Q1+aD1q9NbbD2fhdxs6pcLtMsnkHXZhNgMcV1WXfIKJ6z74sjMiLhagkoO1xJhJMZbutm8rIcSWHTE5TZyBQ5LlWIzcQfKPygOzQ4ryq3Jq0ya/qcUSXsl6YZQB6OB5H07wz2wLbO+jX+treN05o3K/z3p2wprN0vnCYuBejeIjOiM8AtsFXmY2G0nZpuXsQL0iQhhlAl2zIvxySQoPRdIJSD65/aGWuXAUQKZR9CsU1iIiPErJvjfGiN/ekxVbJtZ3z16nMkMcjIioUcK3Yi7RXnLo7AmHP4kG83TBtyZbuBnQ2iTMbKTeBrDCIW11DyWxDTSjczrN75DVoT/OWtRiTJio5ogKBPLOCeVYxB0ckeRPEKnxt0XfAuqT98tkEKzbYNTUzCicpwlC1GlUdCpyuA9af0orcJRTyeSedgwmafk5fWRJR8S7smifr+Pbio6/IT+7CZFhsPA/gQNE/jH9G2twGvbGKXBLn8zhi8Cxdz5V3lTNa19n2M10CcbBd7M3opN3a3CX+fjOcGrEfyUvjQnE7h/cL7ALCEIpUSCqiScYqugtOgzOvuVc/vr0olioRXu8/IiUWnLia2IubajYJOZDrNU8AVP99jA6gDG2F2XpgQuk7Y2fhE91Ss6qoFA9hNoUsfaCa0MnvwZYWdpBLFT8ROucMzdZoyeGx7aFU1bf/PxXomVuZhbIfS2GRip1NB55rVtloVCjug3P/KSMomyveF3d6orvjt3V07UJ0l39EJKYC6X6elurs+dXn2lyO9vB183Nl0mUih9+j82ameiw0usR9JbGtf4BMjajl+5zY5jaR/uPL3lJBIGGfOqOEBn+p819YEZF+iHPzGUT8PMwCiw0wFLsIaJyyPAUPzgTciEcpPAh9QJRlUzZv2MUNROOVnK+WVDHEoYqC5hWMLvpvFlD9kwDDhQq4isFE2E/XZLchunGVRjRVJJp9+pp+2SR8AMJ0D7GikdelHckwv8k6q0FeqnRI2ZAcqK6mRcpwOfGcyJeNYxTFfuhZ8GhrJGSRQw8Y4G7v82cyV6cC/EvNNOPXk/cxbUgsmStL7ulnsYQJ1ML7VxmCrNVwWwutwoKcjPtEU1Ctn9XG7EcDo8R9yqXi+SeJEd3KVOchgRJ8vpao72Ht4x4znDTtNGqSfwjRMpBlisla03sduj5pjB7DSm3wmrSij+dH71zynB1zN9XeEI5B1zPNDdwmkGkfyhAWKao84aRUbmLpHdtsqHdd6kJoi3uQQbN544zYu/++Z+VMnHKzdlYxSeIrmPkYQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XkskjB3S17wVde7+YSQnTA==",
        "ETag": "\"0x8DC752638214F3D\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:19 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>1c3a984f</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>e12e1a8c</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb/1c3a984f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC752638214F3D\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:19.0681917Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:18.9722458Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb/1c3a984f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:19 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC752638214F3D\"",
        "Last-Modified": "Wed, 15 May 2024 21:30:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:30:19.0681917Z",
        "x-ms-file-creation-time": "2024-05-15T21:30:18.9722458Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b87489c2-feaa-ac4c-ef15-fb520c8e91eb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:30:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "871165002",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
