{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C18EB0C08\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc/f7b1bb42",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C18F240F5\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:04.5711605Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:04.5711605Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-31T02:08:04.5711605Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc/f7b1bb42?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "nUHGRZr3UzWvPRkqLe8CM8Fg3qOxyLTLJF7n6HUgPzrZYhCpdr6wL0PO7NZ2Z8DKWe3YSl4rvtSM+iA7EGrAjv3eUMvfWbwCsK9g49zeVb2eHI+HSPXcrqM8HXyedB7ZDV7Zlxb06wAx1Zquytv4rqRinfPaOEYIAqEoozxAZDyRh9V9BL6mqjGOVnJaLuPHQ27XO9cr/tQY0ZV0zEjE8HFeHUMGeqnmu/PCTOLTrdS+YF/NaChkZYkAZTMpMd3oymUA/BCfwMnE8X/jabHyRCPAtmvo94dJ+be6BRR2vIoV2YJ807DDHp+VCHeogPzXDSEQaHtx/9LdtwNZ5bu0TjT1zo8vdXFy/ZjLU+4QoHi74/jzZlQOo9mvnxutajjk4LlDs7Jsp5ewnWvipqzkzReLnQLCwejf5iq2gNZVxZJf5nI0zOzFTjtgQ8jpK/0sytEEIsw2IR/RY8yItifBWtjYg786rwAqxU7GYn4g9rstibUEUKLGKMRTY2kgPZgTnujwEag+8RvR2l19cL+gsWwRWixyvAo1EVv650yWCoe2ssOWL+UT7piaM3ZFSLgFsrL8D+JsoeHduv9MQwrOOs/Vx737CYGH/muU14mT8Mmi9DWamvqlShDhuHTmxqqNy/imb4H6CqgwdRF218pYSso1qk/VNKDVMHysGVEMoTfBBguR7IBIp+qMaSTpLnJGiW6qsBxbuJdY0T8ETvBXI9TZtdG+x11J7QJlSMp76wIKZo/iYvAbZU10OBtAQ1n5NEVQEHigh8IRYMIZ9nDN3OY9+uhhdMHjvVCESo5CCamoaxOEKtqJad7N0QEuAW7dplw0A0lxmMCDbVMoHD00zlcYcYpcSLILtJAJk6LAtLvhpqMxDQVgN9NTAL2HYEyhmAKpFZDkgV6qKE+5ZwQdw7iXR3aZAsFRuDm3CEf0hFNEaPufFp8q/SVEh+S2ps/ONT0E8BnWB5ZBWF1XLHgXtaT7dP8JfawZbEpQVHrcmxFp6NMJ8JQ5bWBlXr5C09CtLdI/ujHQxbeQ64PPhbMbZL1L7USlDcUQwgefox/u15l5oyaoneDfmSIbeQQQauisSfkB9uaMByAMLvgqMCKYoRPqVeKMc8fca1MhipTAAFgf8lkl7eCy7ZsGm27ntWgAgtfxJhQFINYyJIuSan2LTC6gCz7IcrQyN2hGhddY9bbqIQe8z9pDGdKD8shVH4Mde05ARqkqOBAivu6sv5r/2i7Up0h2zn1UXfJsRX/r3RfkKAqJGK8NwOn2mRDrl1o3hBiagHg7p6zR6+m3vvKQN+DWx5aPdsF/x+dffzVsaMWXNMFnUV2fqYFetyzFVQL2ZmIwFc/Epw1XGriR2yd3ZA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XCNEvL7Qs3lZJ2cZj5HLcA==",
        "ETag": "\"0x8DD419C18FA2F0F\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-file-last-write-time": "2025-01-31T02:08:04.6231311Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc/912869cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc/914a58ed",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD419C1907C1A9\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:04.7120809Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:04.6661067Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-31T02:08:04.7120809Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc/912869cc?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C1924E25E\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:04.9029726Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:04.8120240Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>912869cc</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>914a58ed</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>dcc4cee2</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>f7b1bb42</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-06eaaaf2-a11d-87bc-3c75-c423a11c02fc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "995321784",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
