{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1693158FF2\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d/a3106f1f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d/a3106f1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16932EF239\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:49.6469561Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:49.6469561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d/dcd93691?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "GtZz+6I7xdRx2k5giHFOl5ONl46YuiMfUtQJSf/mpjMbMp76hhKpE0OktN54JyNts6sYgqjuH1+zU6jOMnzUizMaRVXTVBGA5IRK8wVEpyqwm5VUzSSKLRM+RzJp2uDG0CirXeLNmV+amJ4koytZbqx+HpfngL0PkBdClQ3eFgqjgyPdmElH4gE1ujWGZYnn5NiG67xJ31BrnM3LiwRRu4GUgB8IfNViNjuVscaHiCqOWrE1WCtNWqTScfx8fFf95P608uVp32cCI7SAtC2K4xOiPDBSHGJVRiV7NQvZ5rrkl83H05ZFJHpKMjR2zaZ3SI3o2T8mq8icXqu/7qlbKD36nBxgwxB8XRi2B+ku33l/A+198Q16vuwFKnTrhTbR7gn2fDCJFoR8a3sncKPebX8yP+q73Tcwf94wW5ickdji5BnfN2NI9expAYWSU01IJrz1uEVLFRDSxvxSWbvs4NqjRYuK/zYb6kn9UtyynSyQ5zTbptmSls8IDXBn9pwxfCCr7g3CvieG2c78TcI0HyjPwXGHEDkAEa67gvHFtPStzNW7Bq8fzSkNVc0KlkkM0+1HlzQrqWvnqt1fBjs1wCXaToDseBl5sPRHebts9ntlrq4EfhzAgiJp1FzRv8fu15SoMEfIIFrUzudA4y+we7Ri+ViMMEIIGcxdgqS8qPAsWaEnw8UznY5UMLA1gJ7zuViob8ZuYadSnxZ6ap22FyX3E4qNibfuLlzJOACS0pkuaslLFDkpvvj61COuuTPxnRiKPmwTZTChuUBqpSinv819TP/UagPszVWSk7STQHUp2JvnCJQsGgWYqVv4vxjPUxVWMWwzHDMVnXEXgNF8DnjKQcyNwLc4UDH5O8Co9A08wkCePA8I9btn0WsjFZozHJviLX5MQpNdHuA7OeFzbalj272R3dFpwksQJe5MFTuXxh8kxcaP8ICsQB4uzbza9GTCvzncoT/JeWszOxykEQmlpHPCTqfi1Os95ZyzOvSPNjGKilUBuyTfWkxaXLRjCC8UiChIGKa83+tOnryiFj53owXrGoezo+lP4vNbiHg22txtnrHLRh2KzqpqsxxnPUQO47ivd+6nYOQ/+TayYVdyF8TgNXeMq1znYEvdSfDM56SuTKTAhmLuxT7NjE3n12xT95tYhwfNgTdbxxaiyhf0chGRBBSyspFh8W85vx8PAIneiVFUdGCd4cpsZL5LTPsm2Bk7VdNYoUUK95WYlMIYS8eNw0DFn/6w9CNJRU3SFaR0EuYG06q1hugMSn3KBEwIVBj3vom7YTgaimGwDlv3OOHxJILbEncc2DxXuFWB5u/WQfE021cbuLCu60hJBHiMFBGb2eDKLEGg2uVMYw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "a66XJb2WVK6+WTylI3HoDA==",
        "ETag": "\"0x8DD5D16933946DF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d/dcd93691?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169341A1DD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:49.7694173Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:49.6479517Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>a3106f1f</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>dcd93691</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d/a3106f1f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169341A1DD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:49.7694173Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:49.6469561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d/a3106f1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D169341A1DD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:49.7694173Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:49.6469561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-e5bf52b4-4734-8286-53cf-2f8cd69f0f2d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1142274946",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
