{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4198637144F0\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907/66bd80a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907/66bd80a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4198638229E2\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:31.6787682Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:31.6787682Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907/e7b8df59?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "q7mqT0ew84KEiGtDqDNyJZ//awCEmvn1PA6R89r0TNDErv+3u6t68Iw74iL3XwEiFGsT6D1dfBG/tBM4HwCnjzybf/o0umrzhXtzSbjW/twNbt5v4WOSZjHu9weYQdCMk1LmW+AG7VkBH2LC6jNY6bY2K7EiN67YCRjJRsJiW0Sq57Vl8KL7BoCFbsEAz3z9lQ5QYRYfalukDlHIPaeWnsQeGAN98/gTOiQwnMnt1zqcy7G0Evktin1ZweFQM8jZ7s/94rZ4f6EVPCbx7s2StzYXK3L14ozK8I6GJDIXwwdbV6768PWDI0sPntXSO5uwxwqrOQhW4wtDMvEo8ltv/nkflpcemMdBlAcm5UO297Xy1lwoa4n+BXOitr0DWjHwoKBbsqUDkS9CaaQAMP7IjDo8NRz+R5LvIZAke+EJPjnWNkWjW0QP70Qt5QLl/tV12iqCxyUV8VgNa5EU3xZNOStrKvm4JDH1LEbX0WKPCiK7r6C3hnYUwETsle+z+g8u36vXedPbvLX4jJrePR/2fWBuWS91lrK0Vmm1zI5CQjI2qfG2uJBP4PLqvvrbNYMk9hiORKHfuEn5IyJqJfAmtkpoqJQuQMXQH3k9ite42CHmkNV2s/6RVvCovZRt5LoCwwivc43u9rVSviQnoi5yQEoBhJUarwNM11GkhoIwYju/OsbOCGWT95ogJPXZabPBNXxJbGAl6BMFY5s8SnAzIVzpaGhnozjlboz6+osNc26d4lAG5/XbmVKyyaXJVqwp7AOY7wBLWpJEY/3TKu2I9/Atn2ggLDpmDs4VtdqSHBfg0A2IdINtUYi+wYP3B29kKtK0m7dECcDJMuExNaW3sUfm8lngAIJsv03gYWu3bgZesYoI3oBfm8dNv0KiOxviBhA7ERUWhClPR9xqZKhVEcPa0oQar9PHh1eSkkE/yoQx/Vtae13xSC1huJak9Tce+K1+x2iXyFY8dIq9hPHoD31YOGZM+pZm6YpXufc9IpIfc5qUwQIbmjQFHgbSM8Q8eagYTLzR0v4WGN7eQA9e/1H4nhBWU056PJ4xR9yPk7XGGj9OJNbVTqGcfakjPFolph612pSz5SVanQ8dn4oih4QpFyXPENp7IlBvutalVwBEDKG92rkgEzUa9IbHt64XevUl+iQ0VZVEOrhEQytOtUYP2ZPoZK3LCATwtBxUs2qhWD/ggFzbD7YLeZ8A3M8JzD4/uN4bLhVIWfEgRKB574ZNouvrbjXpNMnc3esNyiw15ujdFPuMhioqlyZrussWkYkZsznkHV4JVYQUP1EpO4/E6l24nNuLwBzBwdYPfnn+xkti9BbyUcmK1L52d0bYAFyWptBuXfWujfMdIlyI+Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Th4JI1Rxn3eQ0Be5mQjFZA==",
        "ETag": "\"0x8DD41986389F0F0\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907/e7b8df59?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD41986390A6B7\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:31.7737143Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:31.6807670Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-f10030dd-ce57-2a69-c03a-eeab93684907\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>66bd80a1</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>e7b8df59</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907/66bd80a1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD41986390A6B7\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:31.7737143Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:31.6787682Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907/66bd80a1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:32 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD41986390A6B7\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:31.7737143Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:31.6787682Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f10030dd-ce57-2a69-c03a-eeab93684907?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "278746535",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
