{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435A9BFECD\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:14 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a/02e2db22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a/c4ba8e1a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435AACE79A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:14.7489690Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:14.7489690Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-29T23:02:14.7489690Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a/02e2db22?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "20L8xpkuM8DkdOtqEoQbFTf35/Tha4ngYyWPILCjDVPnslNPBIcYXzaJ4XIXCSGTfJoYvXvItm+5HGNznhMPQGeYgmAxzBCv34i9WIoXyFkE/KMVi0/XHvvjlugjpMAjeaAKf4fBYbCKaN7zC17lolQKb6Jv+rUYwGNkTTUojDvHmt/pDUjSQprziyNw4xOd/vSUGTQetH7r8r4jXRN7YdujLHB//JQLNywHfG6Rp9xQx09Bk3IGqOZg/RqJr+WHeClHzbeiHgFfieEHFzcPWUvi0pbDOc5onIOKHv56gYhHgARFStkkrahO4QqR/5GuUKPPp9xPwz5b3jA0F/8C5QdZwJYzyg9xvSTtdVjD153x3M5bqtqs973F6muo8JapS/wDOD76eoaTXum3Yk3mlweSQzswpzotrcjZbeCkyM2OQypbwJ9e9mJIx0zw9JVv31JkFaxaeKPC1Yt2IQyl75UcKB4jitdnNE3Y6ODtPbgyao2NP7IgM8qGmOoU6NVVote308t2TFV6/OFfgpDD1JjSQ7Z+GLDi/PRUnPHsU0t3g0UINmntux44EkPQwLE6wsRRQaQe14on1NfWIq9jjqiW6P5Kup4v5YeYRQVsETtDGdotmhKnWKy74WGSFphv1YSbOtiy7wgmIlschpGEusObkwnUNvOV7o9Sjtk8nc/vKHCA0dZjkCnRBne2itIaNiae9oKPmp+RBUtJYGEv6oWMLV0hBOnsOAPfAy9732S8OFeynaZMX47Q78yKGS/IohzyKV10+TI9sr5/sJdwFSXnjCgJfEzfQM7PUBQdYR7TFmASibUHRz4ldOvozK73YNmmo4wHvybPEumOpakeIFCfrJo2XYxw4ETp4wdh9nQf1+86dr2Sy1Y6QnbMeKKVBlSaSR8UwANNNsNHHtsebhx1b82546mTDeFD/BoWo2eiVN2zx61UCxfr7UD6Sq17G9RaVwnU2yOqBzw+0cPpN5Jbpcn+a6duIGS2zfZpmMIzyOFFvExezXi6CL9xFTpTArWunqTjfLAs6zalHg4sQW55Cwjio3pF/ddRRGLn/QsqYspAu/keUEwwGNAVuK9qjcdR+AoxcV87aKDNkjdNRe4re7xD64V1W7q8sYqqMEUo57ablgQA+PBrBVNYUL4U4tPh6j3zJ6JB25xPdL/VkDdbpaqBsq7pKoLL1+UyHAr8qM+2yEYHNL8UWbpnsIMxlnUb/KsTky8k+L+6J0+8Dr+SU8zwHsjxVHDrbFn0gXn+mkFwFx9f6RSfktCGTA1wV0v71V22QHisKag6KCbWMHZFvI0OTPefMmq4UYz4awdjexUO+KwcR1nIw+12JMHuyGFZQJB/YQpTW6Lz/u/stA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "QQNywz3clyIVW/Zrl+bsYA==",
        "ETag": "\"0x8DEA6435AB3B382\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:14 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:02:14.7479708Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a/02e2db22?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435ABA4084\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:14.8364420Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:14.7479708Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>02e2db22</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>c4ba8e1a</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a/02e2db22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435ABA4084\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:14.8364420Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:14.7479708Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a/02e2db22",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA6435ABA4084\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:14.8364420Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:14.7479708Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "64987685815124[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-700a857a-b3c3-dd0d-b3b9-cd1df97bad8a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "974680908",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
