{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB060BFB\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%2540bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:39f1a8d9-101a-0048-58c2-0ba7ed000000\n",
        "Time:2025-08-12T19:52:12.6077256Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%2540bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB164F14\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:52:12.6410516Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.6410516Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB175F4B\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.6480203Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.6480203Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "MHltAYojt1HoU3kVcuZa3fUTDfhvykV9OkdU+b4AL2ytIK5DnQH/lzvMpVYvRO4VtEK9LfTJuGU08MZDzr2S6CMNaFE3FkDzFHa9oiXvTfVYPkR8QgF35GdID606u8h9ObwyItyc3Z4CyRl9DBVARaPQ6pB5FqUilYTp7weSuViuP2hovCsZu2Cmennn+ddSB8oJadE3BCMXEIxYs+6WbxDBz8ys2Ih3ty4v0pssOpusl+c9iU+HdjtFUauewQhyDwtpJioLpS9BkbKiCDGI69bxrBwHWebAOVmQZ4fd2fUmvMKQwhNxoPG3+/ed5W0JvGXUrBXsa7YkqezQej2oZLi8fEtu9yjCgAsqT13vI1TrhqohCCzgOVEMaxknoCW0D5c+4Gghm8U9EiwJwhtYNYWX5PSThluL3EL6YowPm9/mdj/FsELryuvl5PYA1nc2szWTj7sxIYk7swQmJzg5LXZMI0zckoVDqxoIraFliwXLxK5WewsktFW2iv0+xaKyrLZ/s7MqWSCwUOSgKHPn1if/WmOJ47JrJ273JgiHBOV4VQHr5tdRoGqOpSsng4zhzrPVP2s+KMkEFIxFMzMXKEv+KNJx/PBQrbr5+z2GQ6PiFVdVssV6OS045tFLDG02dnzgKVu5b9LDhJGxRS2LfdDoYx3cwnaFg+6lORUeBaBMw4TApRpIKKWFkS0zyfT/rGkAYqlPWrQGWqVtFDW9pH/wZIKpy9e2nzp3VjFIUbn6pY2sHaL3/WjPuUt02xRwx+yuQmVyVuGRSsJu1wODvgnrc26oEYfc+WYZ2RGMQsQmB45EmQ9Uh0+rGtPfiSVkTPtBiGemx7Zl0kn+WH3QBAf9SM90PiT5l+se/Paz/G9AtIwVSrldf0DY38fFVS/S2xbL4UBW8A3XSPB8h8rAstbZvqPwurlOoMiPnF9dNEK7TCDf5xov6sR+PgLI4Ph1GC3w7JeL4iFdfUF4xlSueRSuwTup4Mq7qtPfcXy2hcDQGYQybEerMGn/gmnZtiNw0MTuGh+8zDdiNUHDq3Ckp/eAqK3PfAzMApDRqV5h4vOvb6G3x2uhE01MzzcF54T5W9txWA52oFO3IheO6iLYAFJOEzzO7N+M3pRggqzVxhoM2E6D74nlOc5OAKVTEygqc8/kt9NHKm775Xp5FR2m4lz8ghLUVRHJaNptgOw6OctrNg/d8A5HxK3fhwoPbCOxpx1IVpEWVR69G0/52amCwayuDd8OyfFNtb1k9M0Huvy3vNnO8eI6VeDwH9W+TeoEXcZeYF5Dot4s+qDTsWFQtmBTQhzQs8/Jc7j/HakcjmfSYJcHqVmdcxr7ovZBZqN/oGh0awvNM6r2lOylRIQ0Dw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gurBnZHO2AjDkx4Ge3EPdQ==",
        "ETag": "\"0x8DDD9D9BB1BA057\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:39f1a8db-101a-0048-5ac2-0ba7ed000000\n",
        "Time:2025-08-12T19:52:12.6761025Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-wri[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%2540bar/different%21file",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%3Dtest%21%40%23%24%25?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB20081C\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.7047708Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.6480203Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%253Dtest%2526?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB20CAA7\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.7097511Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.6530016Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/space%20folder?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:39f1a8dd-101a-0048-5cc2-0ba7ed000000\n",
        "Time:2025-08-12T19:52:12.7340456Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%2540bar/different%21file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
    [...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%2540bar/different%21file?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB2A83A6\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.7734694Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.7266747Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-1[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar/subfile%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
 [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/space%20folder/space%20file",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar/subfile%253Dtest%2526?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB321C40\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.8232512Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.7744656Z",
        "x-ms-file-id": "11529232638254514176",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB321C40\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.8232512Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.7744656Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/space%20folder/space%20file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/space%20folder/space%20file?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB3D0C73\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.8949363Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.8342027Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder%40bar</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>folder=bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>space folder</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%2540bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef\" DirectoryPath=\"folder%40bar\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>different!file</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef\" DirectoryPath=\"folder=bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>11529232638254514176</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>11529320599184736256</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/space%20folder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef\" DirectoryPath=\"space folder\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>space file</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9BB20CAA7\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.7097511Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.6530016Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDD9D9BB20CAA7\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T19:52:12.7097511Z",
        "x-ms-file-creation-time": "2025-08-12T19:52:12.6530016Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e7c49b30-bb85-17c5-e9f7-9cc8eb8e58ef?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:52:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "85196982",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
