{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0034709A0\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3/729aedc4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3/729aedc4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0035DA7C1\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:26.0635585Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:26.0635585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3/729aedc4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "kJ4/73gFj0fAgpHt3SxURPRBcW3gegPeMsSa77HDKfMXgA2Jqq6416WSeUXelC7oZRo697QlqRaaYL20a5+W/Fmd1l0fyplFiJnITQG9/52WsYqWiDE/8db37knxA2wF+3zsQb7RyZqA9W8aXVsU3WEfHrkVAHQnXuSGJ9tPVIQtwlKE0L7fxOjvFpPCJJN74hHo0uWy7/sIxOLZSqG/MKDq7JsJkAyjP1nRJengZTlRC0XJZ4Kfe9JWfAzbBnpHMOXz2Dj4cVIFRZKL4coSKF+phz9b9ckdSnHIsxMAxznfifUD7I0BWZnzxCHvFJoIRFSsMn466zoc1Y3GL74+BX5Zq1fUDjvSqC6maDGnLjbXv26/U5W6pZ675hf/OinbtL+jlmhCNDYY2olQlIIJdadX729Pf7Honga4GSck0m4Ey7RxBJfNlIs4pngLahEcsXFvp0q5izUNu/hiiRsO9AgbS8nNl3AQilrkF9g43DP0nGe1tCojSz9/Y0meagpwKrFw7x9IThkBXx3v1XRc1d7Fbe2zWUDd+ACJTjQncR9Qc+wnyOwTrE5NtFQNM3XLI45q2f0dvNBxk/cfvv/l2e7+n2GHNAzxscGeZaTrz8SKviulvJciMrcctjT19O1OaNpmD5QTQ+6BeSg8flcshcQzlADUQBxW3G2qa37Y/LzTUP3Jhb8wdno8I0Nv5rNf8DBwwWDseSe+DzMnadhvqXxraC5ZYv8EAx2Glx3Z5/W5SntOaDpc5tbWC3aMCQ2hzXrGA32EBo0wa75CZuEK5Sc9bR5dIUBCD4FYg1aJd/oQ5cqiEuR4NEPtHfx7GoD0yyZOT5vuQ6s5hPP7LIM3pvTEMYAXZ9JCxTjbcANExvUBY7cwOiheIqEeaY7xfAjAtXYIt+j/3WRTDIpjE9Oo9b3++sjMB2zLZg/f+P5EUUgwGrqNOw8MAYZT3C6e+g7NdnTQ84I/864KPFDZIOVlD7tBM/gZGrmu8fhCeSs9LGsAEYGJc17F8CcMgv6+M+Gg7c1zXMcWtFy7IQGK/XqDzBDl2A5k3JtcfELRDJe68L0WoYxdys+j6lwlzlFcOvOsibbu2FrSPBEyFt+ERKjEADFEdFvuJQJAQe6yPg1JAEJPJYPhyxdiQ2R6K7PvH6W0YM4gGMaXvWO0rpdsIP0D6RadNB8l4zQZ4TD2c/lOUCJJ/t4/KOd8uGcfLR2A9iNndkKdUuqFj32ZBjeWoEppZV50IyEfxMAuIXy4BbUXmeoMj/y3sf04w29gpSKw5hcctce/DNMBR7GCbjBuzInHgW1MiRFNsrRgPF+yvh+efTtknFDuWI0XCkdKNULNyvblmCS1ZFwGzgMTX89zT4iS5A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xhGj/G8JJl56QkLmj/dSkg==",
        "ETag": "\"0x8DC9AC003671C47\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-95ab4a12-5889-0755-40b8-7081afcb01c3\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><File><Name>729aedc4</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>cdefb03d</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3/729aedc4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC003671C47\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:26.1255239Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:26.0635585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3/729aedc4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC003671C47\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:26.1255239Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:26.0635585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-95ab4a12-5889-0755-40b8-7081afcb01c3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "237421051",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
