{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c9c2d9c9-fa5b-d939-d7f6-0e624f0db1e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C057D56F\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c9c2d9c9-fa5b-d939-d7f6-0e624f0db1e3/test-blob-6e6b3c0e-194f-cf6c-2824-8b51d2f78841",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C05E5D5E\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:52.9020254Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c9c2d9c9-fa5b-d939-d7f6-0e624f0db1e3/test-blob-6e6b3c0e-194f-cf6c-2824-8b51d2f78841",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22C05E5D5E\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:52.9020254Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c9c2d9c9-fa5b-d939-d7f6-0e624f0db1e3/test-blob-6e6b3c0e-194f-cf6c-2824-8b51d2f78841?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22C05E5D5E\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "O5ppsOvAVFI7BMfT6sKqJ0Tf0TNopVDMPv+7tyZqsmg6wTuURwFD0cdS0I7MshyHtCjuLMga5pVJnHLrBJ0s0FFfmSiHFeBCmwBrFdTCAIvjNAL9e4WfH9ulS6qOV8wqJQA8bRnzAJ9HrJDIrtDBhpvnCNCbL1TLv3lN4co1tEQzQPDUhZNy8DNjtc/11nAK5MQPpk/7j/arcK2fpR7UEvdMlG7g7QEIdRecOHmE1ugIQ/0GJg30OLH5KBTm0koVjqPXqEICKffCBjE3Xld9JprEl2IhzuzqV1y85sTsIqPNh6nVrS2mBRkGQx/bvdlafAJ6ITro88C37VHlRkMy1uSOatatp3ls[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c9c2d9c9-fa5b-d939-d7f6-0e624f0db1e3/test-blob-6e6b3c0e-194f-cf6c-2824-8b51d2f78841",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22C0681677\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:52.9020254Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA7mmmw68BUUjsEx9PqwqonRN/RM2ilUMw+/7u3JmqyaDrBO5RHAUPRx1LQjsyyHIe0KO4syBrmlUmccusEnSzQUV+ZKIcV4EKbAGsV1MIAi+M0Av17hZ8f26VLqo5XzColADxtGfMAn0eskMiu0MGGm+cI0JsvVMu/eU3hyjW0RDNA8NSFk3LwM2O1z/XWcArkxA+mT/uP9qtwrZ+lHtQS90yUbuDtAQh1F5w4eYTW6AhD/QYmDfQ4sfkoFObSShWOo9eoQgIp98IGMTdeV30mmsSXYiHO7OpXXLzmxOwio82HqdWtLaYFGQZDH9u92Vp8AnohOujzwLf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c9c2d9c9-fa5b-d939-d7f6-0e624f0db1e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "415428488",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
