{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c84ba76e-b5e4-a708-9f69-c0b675e79f24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB036F4D801A\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c84ba76e-b5e4-a708-9f69-c0b675e79f24/test-blob-9eb1e66e-1063-7e02-5bbf-0a6e3284e879",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB036F5D0F98\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c84ba76e-b5e4-a708-9f69-c0b675e79f24/test-blob-9eb1e66e-1063-7e02-5bbf-0a6e3284e879",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB036F5D0F98\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:17:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c84ba76e-b5e4-a708-9f69-c0b675e79f24/test-blob-9eb1e66e-1063-7e02-5bbf-0a6e3284e879?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB036F5D0F98\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "6m4A5LefagEcT2oiDj4iZY04sr4TlwEgfIYWd72ohzmflt8VOPfPZE3T7NTEYFXFkklVO3Fl/FNt4GcxifNDc8gxg3dfDC2WaE5wQKosXBwwUeVzU0vHOZmLqFiQnttaj3gLkt3dZYUcvtMj9LypQIRLADcNzyB9aUnd1GTVBspzFrAxIMk+U+tfV5R4pEXd4WfTRJ6jTMBYjiiT/5EgR7gIsN0Ldx+6DK1MrniLBMUEAPL8AcEr0Mrw2JKgq1NZPxDcb/Rn0mpIGTjxVp5IzYljj/+fI0X23d8TG56NGWFZ8m5orpXRnC2ItOiJOnkspwsIPRtTuhvK5pIUVLbLuv/Xl2Qv4B70[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c84ba76e-b5e4-a708-9f69-c0b675e79f24/test-blob-9eb1e66e-1063-7e02-5bbf-0a6e3284e879",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB036F7D1A95\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:17:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADqbgDkt59qARxPaiIOPiJljTiyvhOXASB8hhZ3vaiHOZ+W3xU4989kTdPs1MRgVcWSSVU7cWX8U23gZzGJ80NzyDGDd18MLZZoTnBAqixcHDBR5XNTS8c5mYuoWJCe21qPeAuS3d1lhRy+0yP0vKlAhEsANw3PIH1pSd3UZNUGynMWsDEgyT5T619XlHikRd3hZ9NEnqNMwFiOKJP/kSBHuAiw3Qt3H7oMrUyueIsExQQA8vwBwSvQyvDYkqCrU1k/ENxv9GfSakgZOPFWnkjNiWOP/58jRfbd3xMbno0ZYVnybmiuldGcLYi06Ik6eSynCwg9G1O6G8rmkhRUtsu6/9eXZC/gHvSS89EWbl1tombmc5OF3EUFN1OdyAO8SHa9+uixoh[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c84ba76e-b5e4-a708-9f69-c0b675e79f24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "59112790",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
