{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c1b5ef28-48b0-a195-06ba-8d13f4fab633?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694A82E2D49\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c1b5ef28-48b0-a195-06ba-8d13f4fab633/test-blob-9c5c8fe1-94ad-5b4d-9688-55bce7ed6ab7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694A84E36D8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c1b5ef28-48b0-a195-06ba-8d13f4fab633/test-blob-9c5c8fe1-94ad-5b4d-9688-55bce7ed6ab7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694A84E36D8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c1b5ef28-48b0-a195-06ba-8d13f4fab633/test-blob-9c5c8fe1-94ad-5b4d-9688-55bce7ed6ab7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694A84E36D8\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "5S5Q7LWFpRfud0rzckm8puTJh/8e5ldx2GvpRSO2T05C/2a3D+kOBk/E4WQQCohsxkdlJaJ7t//W3xRJnGDzNyf7sHPjBZb7uoCvWQTyYM7jfH/cUSqsx0dn4DDVxGru0ao9FFkVicCwamohy1765H9GZh/hF+b8T+kreyVmJfYVwIhatEt0zfO+K+bAivzpbPuxj15LDbrEQMRv6g2bSkVzCwrVny8z0ZgrI+v/PMXtQQ4ptZaYyrPOlnOGBOPmIuGhTH7xFM3Lfb7FH+rPxAT/gqj+cZWu20FWBwm7rcy1RQAJXe9H+y1BXjfX0qvI/9Fvh4I757FM8nE9mgzDD9DxENrqxWcU[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c1b5ef28-48b0-a195-06ba-8d13f4fab633/test-blob-9c5c8fe1-94ad-5b4d-9688-55bce7ed6ab7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694A86D3B79\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADlLlDstYWlF+53SvNySbym5MmH/x7mV3HYa+lFI7ZPTkL/ZrcP6Q4GT8ThZBAKiGzGR2Ulonu3/9bfFEmcYPM3J/uwc+MFlvu6gK9ZBPJgzuN8f9xRKqzHR2fgMNXEau7Rqj0UWRWJwLBqaiHLXvrkf0ZmH+EX5vxP6St7JWYl9hXAiFq0S3TN874r5sCK/Ols+7GPXksNusRAxG/qDZtKRXMLCtWfLzPRmCsj6/88xe1BDim1lpjKs86Wc4YE4+Yi4aFMfvEUzct9vsUf6s/EBP+CqP5xla7bQVYHCbutzLVFAAld70f7LUFeN9fSq8j/0W+HgjvnsUzycT2aDMMP0PEQ2urFZxS4h3u8E13WCJWNCDdMJUp5XU69a34JYCB9Tmbmwt[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c1b5ef28-48b0-a195-06ba-8d13f4fab633?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1015634665",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
