{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5b6b9f6a-9cf8-372d-0295-bcdf8cf06b46?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694E34ECA19\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5b6b9f6a-9cf8-372d-0295-bcdf8cf06b46/test-blob-f4ff7f02-adf1-260f-ae7a-0fd82ca95d4c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694E3605794\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5b6b9f6a-9cf8-372d-0295-bcdf8cf06b46/test-blob-f4ff7f02-adf1-260f-ae7a-0fd82ca95d4c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694E3605794\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5b6b9f6a-9cf8-372d-0295-bcdf8cf06b46/test-blob-f4ff7f02-adf1-260f-ae7a-0fd82ca95d4c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694E3605794\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "j0DjLKUpJUqmbBcTJz4QGd0joJTCPlNBs+ukak/ZuET8LGDmBIvzFdPjhoYY/ITI87dBIl5ThVDtoni5hbr6zLTSFvreKhVSL4vB37jNKLdn23aYmJXlqacP+GETOY8Y6LrRRuaK6smh7vLTkaaYIHrAUqlEYjQe7GxSzjGzPvb7qfb9++HR3PGt9qmiEhcBdtfnUubm1IaGsll5NxuX7rD81+ivmiWY73a4lmyKfNpUUVday+sPFdRwd0iIWKTVFgf5pTovUdyyT2NwLT0Z+zZ+JObDPSLE7cITPyPcD5fR4n9kkNagJf97p3yInueWVnsSCTO+EdnlNbd3GxK51j/Mn0u+tGtf[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5b6b9f6a-9cf8-372d-0295-bcdf8cf06b46/test-blob-f4ff7f02-adf1-260f-ae7a-0fd82ca95d4c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694E37A12D5\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACPQOMspSklSqZsFxMnPhAZ3SOglMI+U0Gz66RqT9m4RPwsYOYEi/MV0+OGhhj8hMjzt0EiXlOFUO2ieLmFuvrMtNIW+t4qFVIvi8HfuM0ot2fbdpiYleWppw/4YRM5jxjoutFG5orqyaHu8tORppggesBSqURiNB7sbFLOMbM+9vup9v374dHc8a32qaISFwF21+dS5ubUhoayWXk3G5fusPzX6K+aJZjvdriWbIp82lRRV1rL6w8V1HB3SIhYpNUWB/mlOi9R3LJPY3AtPRn7Nn4k5sM9IsTtwhM/I9wPl9Hif2SQ1qAl/3unfIie55ZWexIJM74R2eU1t3cbErnWP8yfS760a1/e/uZIlaY7T9p86KfJBmMS0KZ/Wx4oCu3C0Dy7/5[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5b6b9f6a-9cf8-372d-0295-bcdf8cf06b46?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "90656832",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
