{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7361c6b1-8e5e-89ad-9c97-bcb013b5207f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7C8BDBC53B\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7361c6b1-8e5e-89ad-9c97-bcb013b5207f/test-blob-6e6927eb-4e19-8c1a-2326-3a2e55cb12db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7C8BE5C0EA\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7361c6b1-8e5e-89ad-9c97-bcb013b5207f/test-blob-6e6927eb-4e19-8c1a-2326-3a2e55cb12db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7C8BE5C0EA\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7361c6b1-8e5e-89ad-9c97-bcb013b5207f/test-blob-6e6927eb-4e19-8c1a-2326-3a2e55cb12db?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7C8BE5C0EA\"",
        "x-ms-date": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Rwk6R+vcnuRscp92yhvD8sep2Us5eT1qsTyBbNDDNGVY+km8cIgn+imXO8+Oty52+ArPEZVDj87M0JauWjIUqD06HdDRBoE+gt4ioj1u3PkOC3PG8yPQFWt78KDyeKD2gpKRVJpepPGIkI+3IeyQXfOcoE++TbUaaQhkVhbhTAk9Kx+r3YdfsGaCPWOUGfN+6pKsVdhRODTdduqS+U3apkSGefXN5X9rPfDoOw9RhVAU5myENfcw7PPqzmadzbYYqJcfDqD+sQQSQBfoaPwki/CafhPhVnBMVYwC4hcZznA5z5N4MnewFjVncfXfR4T2xUN1A0+jN1Im0rgT+87t+XGnr5hprFh5[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7361c6b1-8e5e-89ad-9c97-bcb013b5207f/test-blob-6e6927eb-4e19-8c1a-2326-3a2e55cb12db",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7C8BF76052\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABHCTpH69ye5Gxyn3bKG8Pyx6nZSzl5PWqxPIFs0MM0ZVj6SbxwiCf6KZc7z463Lnb4Cs8RlUOPzszQlq5aMhSoPTod0NEGgT6C3iKiPW7c+Q4Lc8bzI9AVa3vwoPJ4oPaCkpFUml6k8YiQj7ch7JBd85ygT75NtRppCGRWFuFMCT0rH6vdh1+wZoI9Y5QZ837qkqxV2FE4NN126pL5TdqmRIZ59c3lf2s98Og7D1GFUBTmbIQ19zDs8+rOZp3Nthiolx8OoP6xBBJAF+ho/CSL8Jp+E+FWcExVjALiFxnOcDnPk3gyd7AWNWdx9d9HhPbFQ3UDT6M3UibSuBP7zu35caevmGmsWHnqZ9155HtsDQgMHdSjyyGVmEBSYL6cGmd5d4M4mO[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7361c6b1-8e5e-89ad-9c97-bcb013b5207f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "281831715",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
