{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fa45381d-5ec8-26c7-7e82-319856a62da6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681F37AA76A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fa45381d-5ec8-26c7-7e82-319856a62da6/test-blob-f9212831-eef1-4e13-2100-919ac89bac90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681F387CE6D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fa45381d-5ec8-26c7-7e82-319856a62da6/test-blob-f9212831-eef1-4e13-2100-919ac89bac90",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681F387CE6D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fa45381d-5ec8-26c7-7e82-319856a62da6/test-blob-f9212831-eef1-4e13-2100-919ac89bac90?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681F387CE6D\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "i1OWBrgzlSrhseC3BtM9E64vNCHMPlF0xHVpiXmAiL3h9GiV1M1JL5+vDaN9BFF8Xmcn3CYOlk0BIUJDygyxYCgj1hJrqD7h5gSCHTCt98Ak7SoRWayW0l4ak7OKBWWS/q16Wi0+ELUoRfUhjHkdUyqBHtzhnwZ8jAO0UBSLVuCf7x6CM5yS5dx06RO2dUbk/UCICOaIsV6m/s4pir+hne4VgpxamiCN7zkAbLbzxhe9z1LUAk35Fj7A2zXOaFsc00skofKpiWMf+xmtiESosze3bLpszJuhG2xemr7rv4bd45hqziUkE0XvtQc0S435Fyj9F/ugrwewg4WFS++kNDuSz6WrPeUS[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fa45381d-5ec8-26c7-7e82-319856a62da6/test-blob-f9212831-eef1-4e13-2100-919ac89bac90",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681F39A9177\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "HlgCSs2OIuc=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "i1OWBrgzlSrhseC3BtM9E64vNCHMPlF0xHVpiXmAiL3h9GiV1M1JL5+vDaN9BFF8Xmcn3CYOlk0BIUJDygyxYCgj1hJrqD7h5gSCHTCt98Ak7SoRWayW0l4ak7OKBWWS/q16Wi0+ELUoRfUhjHkdUyqBHtzhnwZ8jAO0UBSLVuCf7x6CM5yS5dx06RO2dUbk/UCICOaIsV6m/s4pir+hne4VgpxamiCN7zkA[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-fa45381d-5ec8-26c7-7e82-319856a62da6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "95274767",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
