{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-91e3bd36-f0fd-6ecb-40f6-d87c10a879dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5BE755F8\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-91e3bd36-f0fd-6ecb-40f6-d87c10a879dd/test-blob-65ec870c-c73f-7589-0e89-88223074963b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5BF74DBB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-91e3bd36-f0fd-6ecb-40f6-d87c10a879dd/test-blob-65ec870c-c73f-7589-0e89-88223074963b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5BF74DBB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-91e3bd36-f0fd-6ecb-40f6-d87c10a879dd/test-blob-65ec870c-c73f-7589-0e89-88223074963b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D5BF74DBB\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "SA5WzvIUp2wEsun2jSwjD0tY5rP/Xrt6tlH6PoA0Ta41Mlc7292NgbQ8Fm5y7L0anzo5ihQeMelT2xegGWjs0GQ6wFvV5zRty2T/w0hNB8qU4J9F\u002B8KZFwBt6P/F7GdLUEUJNytiRbgGy7\u002BvH26hBdRMDDnJptSioalbZ/40qN79s3ICQ8\u002BfMprmPzAD6viRzOIreeAugalxZ5aBB9650SLgsmv8nsIErdme4meknrexyZobCS/\u002BzjHJkds5Hiu8LW0NIziMlS0gJssGj59CzMjfzz1Dnsjz4eM6Mg3nyo\u002Bu4bX5l3t\u002BJTRs\u[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-91e3bd36-f0fd-6ecb-40f6-d87c10a879dd/test-blob-65ec870c-c73f-7589-0e89-88223074963b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5C1499BE\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "oIOkqFevtZ4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "SA5WzvIUp2wEsun2jSwjD0tY5rP/Xrt6tlH6PoA0Ta41Mlc7292NgbQ8Fm5y7L0anzo5ihQeMelT2xegGWjs0GQ6wFvV5zRty2T/w0hNB8qU4J9F\u002B8KZFwBt6P/F7GdLUEUJNytiRbgGy7\u002BvH26hBdRMDDnJptSioalbZ/40qN79s3ICQ8\u002BfMprmPzAD6viRzOIreeAugalxZ5aBB9650[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-91e3bd36-f0fd-6ecb-40f6-d87c10a879dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "379998265",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
