{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4028185-5b65-bbb1-8f82-cbf24c6dd607?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86824A1D4769\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4028185-5b65-bbb1-8f82-cbf24c6dd607/test-blob-19cf853c-5c17-cbe8-fd06-bdd247ce582b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86824A2C89C1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4028185-5b65-bbb1-8f82-cbf24c6dd607/test-blob-19cf853c-5c17-cbe8-fd06-bdd247ce582b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86824A2C89C1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4028185-5b65-bbb1-8f82-cbf24c6dd607/test-blob-19cf853c-5c17-cbe8-fd06-bdd247ce582b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86824A2C89C1\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3/l4U+s5mJdmWUC1ROZOp84TJhOWrZjFmrcGXTZsGN4nxepzb1/Mkp8/whWcxLZdfg/ffaB0uzFhsrgzMjth+UFhjX782zhvR5NzVuuCKdUAqd4mjZo+sgm4Er2mmGBk3snUOjY3YaPXcDYMAWRG3onjM4lcOmymI9t1Q8h7yK4zDngiru6eyEc7ThxkMbGkcjQzw2XWCKNcLRdbwh3bXKeI2fLsJC+aRGpBIOxPQvEp0dGURwVIXAbUxYHWQgYqYPJ03Fe/t00EmH76lOe3DOolMvFLRhSiP33sGF6uxAFjF8D522aaahmDj66GTcgeHLiWsBAV3hnd0pza0p/vVtR9lnwnvjGE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4028185-5b65-bbb1-8f82-cbf24c6dd607/test-blob-19cf853c-5c17-cbe8-fd06-bdd247ce582b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86824A41216E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "n4l011SnRKs=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "3/l4U+s5mJdmWUC1ROZOp84TJhOWrZjFmrcGXTZsGN4nxepzb1/Mkp8/whWcxLZdfg/ffaB0uzFhsrgzMjth+UFhjX782zhvR5NzVuuCKdUAqd4mjZo+sgm4Er2mmGBk3snUOjY3YaPXcDYMAWRG3onjM4lcOmymI9t1Q8h7yK4zDngiru6eyEc7ThxkMbGkcjQzw2XWCKNcLRdbwh3bXKeI2fLsJC+aRGpB[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4028185-5b65-bbb1-8f82-cbf24c6dd607?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "642315807",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
