{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-11776547-c1a8-e0e2-129a-c2194396bd39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694AB349CE5\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-11776547-c1a8-e0e2-129a-c2194396bd39/test-blob-5f0da143-7cc8-c65c-dfdd-7d5d879c537e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694AB47946C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-11776547-c1a8-e0e2-129a-c2194396bd39/test-blob-5f0da143-7cc8-c65c-dfdd-7d5d879c537e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694AB47946C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-11776547-c1a8-e0e2-129a-c2194396bd39/test-blob-5f0da143-7cc8-c65c-dfdd-7d5d879c537e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694AB47946C\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "btJY+hA2Dmb1jDDjBMamu9oZclRKAuS8Z19z2wJ3sxrBQ61n/sWXcODlxcieI+rDVyIdHVOtL2vunJKwwzJjfdkVIcEZPr0UgQF0ZD0bHUN1r4PfWZXHExNBeWEz562tgUfviAIpqhhlCZtROcou0n5OOxOvhCNDTg2t2MVb4JpUxuL1LJVBSwVrelD6ddpJEqbi5auZ/v0jrDn0e9FSCigA/XPoOKbpDO8OQwnTSNkzZMUfePvuu8fk0YBbTdAzGHAn+XhmYNoA+dm8i7rzUGNgwBYMM5EtEUGrA2Yljb4f2iuZq09hzQPqHn8iMjAM8IEc+425J+Te+uc2ul102msanLCPWqUU[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-11776547-c1a8-e0e2-129a-c2194396bd39/test-blob-5f0da143-7cc8-c65c-dfdd-7d5d879c537e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694AB69D8DC\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABu0lj6EDYOZvWMMOMExqa72hlyVEoC5LxnX3PbAnezGsFDrWf+xZdw4OXFyJ4j6sNXIh0dU60va+6ckrDDMmN92RUhwRk+vRSBAXRkPRsdQ3Wvg99ZlccTE0F5YTPnra2BR++IAimqGGUJm1E5yi7Sfk47E6+EI0NODa3YxVvgmlTG4vUslUFLBWt6UPp12kkSpuLlq5n+/SOsOfR70VIKKAD9c+g4pukM7w5DCdNI2TNkxR94++67x+TRgFtN0DMYcCf5eGZg2gD52byLuvNQY2DAFgwzkS0RQasDZiWNvh/aK5mrT2HNA+oefyIyMAzwgRz7jbkn5N765za6XXTaaxqcsI9apRT/8hIhFBEL3xGeEuUIkjFls0a6sWcqEqZ2RBMHlX[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-11776547-c1a8-e0e2-129a-c2194396bd39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1572678640",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
