{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0be0bcb-278e-6292-8561-85d6fda188f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D183C2620\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0be0bcb-278e-6292-8561-85d6fda188f7/test-blob-8eec915b-149d-e290-1c0d-6ecf184d743b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D18507BC0\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0be0bcb-278e-6292-8561-85d6fda188f7/test-blob-8eec915b-149d-e290-1c0d-6ecf184d743b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D18507BC0\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0be0bcb-278e-6292-8561-85d6fda188f7/test-blob-8eec915b-149d-e290-1c0d-6ecf184d743b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D18507BC0\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002Btk7aWySQXhRUlQZoEQFOiK9j5zrYTikqMGbrhdci7w3bVSDD9ZbtB891WtJE7ezOwA7I0\u002BgLpigl8Gr9pJh9MeX4TLvgipMYdt9rYvNWpQJ6HIWIWhtlz\u002B84ngVr72M3OGksjGEw7nW7sFzI4EM0zwsog4fStNfKkrzM5\u002BxN7Ie8NCqKKhihCS5QDKm\u002BXO\u002Brw876A2vbJINRYfnkY8ZJLcPVTOwYaqTyh3pZgmguDDXNYSPdU6kboM9neMge/OVoBt6l6RADU5lpx3vxgaJbIxXD1sLia5oauavcsTGck4pU8XuJiCMlig2Ks[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0be0bcb-278e-6292-8561-85d6fda188f7/test-blob-8eec915b-149d-e290-1c0d-6ecf184d743b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D186D526C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "kLEVa8f54Bk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\u002Btk7aWySQXhRUlQZoEQFOiK9j5zrYTikqMGbrhdci7w3bVSDD9ZbtB891WtJE7ezOwA7I0\u002BgLpigl8Gr9pJh9MeX4TLvgipMYdt9rYvNWpQJ6HIWIWhtlz\u002B84ngVr72M3OGksjGEw7nW7sFzI4EM0zwsog4fStNfKkrzM5\u002BxN7Ie8NCqKKhihCS5QDKm\u002BXO\u002Brw876A[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0be0bcb-278e-6292-8561-85d6fda188f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1887854114",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
