{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4808f492-77a8-045f-3200-6210caa41180?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D11817147\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4808f492-77a8-045f-3200-6210caa41180/test-blob-554a33df-b7c3-b79a-f788-226514cb193d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D11CED702\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4808f492-77a8-045f-3200-6210caa41180/test-blob-554a33df-b7c3-b79a-f788-226514cb193d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D11CED702\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4808f492-77a8-045f-3200-6210caa41180/test-blob-554a33df-b7c3-b79a-f788-226514cb193d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D11CED702\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "UACWNQM9ZQyPZx4s62DgEghQjS360akxfPrxV0VKfN9iha4jisIORTeesG/DCUdM\u002Bi4R073tC39WZbkITA7GROs/ymWxvIhGQkj1XCA6bXKzpV0XOKghdHkvzCQJBfkp12uEgz/hmj2ly5F0969eHPdGVaawrwxCHVXsgu9jPDxPzIS0teky0gofcWwWrXzJ0LAswrBSeCdfQWbp9RhNQY9VJSsrqWYOE4OckD2fK3DZIrE/NnmM/FRcVXSDSd3y0jDdwYdRnidJHq8ttefqwBb1ENJnDgoVyCjXzlTyisqlqr4NwmnpiIOK9hjKX0dscpRdjjgKisQlx/leec/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4808f492-77a8-045f-3200-6210caa41180/test-blob-554a33df-b7c3-b79a-f788-226514cb193d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D11EBFBD3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "f064EOuAS/4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "UACWNQM9ZQyPZx4s62DgEghQjS360akxfPrxV0VKfN9iha4jisIORTeesG/DCUdM\u002Bi4R073tC39WZbkITA7GROs/ymWxvIhGQkj1XCA6bXKzpV0XOKghdHkvzCQJBfkp12uEgz/hmj2ly5F0969eHPdGVaawrwxCHVXsgu9jPDxPzIS0teky0gofcWwWrXzJ0LAswrBSeCdfQWbp9RhNQY9VJSsrqWY[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4808f492-77a8-045f-3200-6210caa41180?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "845403713",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
