{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-52d88e23-4e70-c6fe-fc65-79bb13e9e592?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB636A45FCC\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-52d88e23-4e70-c6fe-fc65-79bb13e9e592/test-blob-71a670dc-51f0-acd7-2638-5ce8badc6554",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB63707B1AD\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-52d88e23-4e70-c6fe-fc65-79bb13e9e592/test-blob-71a670dc-51f0-acd7-2638-5ce8badc6554",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB63707B1AD\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-52d88e23-4e70-c6fe-fc65-79bb13e9e592/test-blob-71a670dc-51f0-acd7-2638-5ce8badc6554?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB63707B1AD\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "BsFg/6WFC/G9WVVhQrHEQTeHXanPEnlYMeUDQjzTpUrRZUZAWS5M2F4oFMDRRDXktrPFUlWU1vNICM7Agcm06rMLj9xqhOgJO4VKpv64huywH4uJDlP0PY5S91Bfi1eVdCkNxbVYejLLuxfQSTD1j4LhD2I9K9tfFlFOF4yXqa8ttTHUq8A3WKVZvVM8JPRdXWfOfnv1V0lOra9kCmKlMxFnopT+IOTBqre85G2II/Jd8LklySszOF3ohv4R005Cs4pB1YJfXz2DDNTEOHPcxYq9BxqpgGnmM2k3FpnmsNZpejDiR05v/ZB8ob1WbwDqDMF0VMwzmTMgW6EYKEmjnVv9Wr5C+X48[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-52d88e23-4e70-c6fe-fc65-79bb13e9e592/test-blob-71a670dc-51f0-acd7-2638-5ce8badc6554",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB637151027\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAGwWD/pYUL8b1ZVWFCscRBN4ddqc8SeVgx5QNCPNOlStFlRkBZLkzYXigUwNFENeS2s8VSVZTW80gIzsCBybTqswuP3GqE6Ak7hUqm/riG7LAfi4kOU/Q9jlL3UF+LV5V0KQ3FtVh6Msu7F9BJMPWPguEPYj0r218WUU4XjJepry21MdSrwDdYpVm9Uzwk9F1dZ85+e/VXSU6tr2QKYqUzEWeilP4g5MGqt7zkbYgj8l3wuSXJKzM4XeiG/hHTTkKzikHVgl9fPYMM1MQ4c9zFir0HGqmAaeYzaTcWmeaw1ml6MOJHTm/9kHyhvVZvAOoMwXRUzDOZMyBboRgoSaOdW/1avkL5fjxNCYks3quPxGlNCdhyXAo14P3B661X1UfZBGJYFE[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-52d88e23-4e70-c6fe-fc65-79bb13e9e592?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "78789727",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
