{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e440cc1-a537-b755-c43a-688a93a89b12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB036DE8719F\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e440cc1-a537-b755-c43a-688a93a89b12/test-blob-b78a54bf-32e6-a6da-33ae-b1683753448a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB036DF7B2C7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e440cc1-a537-b755-c43a-688a93a89b12/test-blob-b78a54bf-32e6-a6da-33ae-b1683753448a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB036DF7B2C7\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e440cc1-a537-b755-c43a-688a93a89b12/test-blob-b78a54bf-32e6-a6da-33ae-b1683753448a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB036DF7B2C7\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "3mCcW6nhpXIcZg5rpshz20DCVfQqf32aUhQFQMGlCVHRHq3jS5/8U/gM/i5eFaZLXLEKEXgFt1/iAQiV3GWwd129mYcbkJChxQH7HoBPPDxtuuQPm/jYy2dOAEqWZ3eTW4fQoHseMMshaUt2CZnek8XMKCGBodxl5c0gzI9FCl6KaML5fpvATooY7TKsYcHNcG2Eyj5VErmra7uu/mM7217s7KHW5BQpC9qXabOquIMLU1wiwUAfNFYIThPgElAm3BHTwHUg94tZW75kvagGAbI4oqoHGRodzbdKzZYASPmJcYyh1vgO61vQyWWCunetAk1hqG+lHsL3tvK91Sr0WBLF20sbZCu5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e440cc1-a537-b755-c43a-688a93a89b12/test-blob-b78a54bf-32e6-a6da-33ae-b1683753448a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB036E14FEDD\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:17:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADeYJxbqeGlchxmDmumyHPbQMJV9Cp/fZpSFAVAwaUJUdEereNLn/xT+Az+Ll4VpktcsQoReAW3X+IBCJXcZbB3Xb2ZhxuQkKHFAfsegE88PG265A+b+NjLZ04ASpZnd5Nbh9Cgex4wyyFpS3YJmd6TxcwoIYGh3GXlzSDMj0UKXopowvl+m8BOihjtMqxhwc1wbYTKPlUSuatru67+YzvbXuzsodbkFCkL2pdps6q4gwtTXCLBQB80VghOE+ASUCbcEdPAdSD3i1lbvmS9qAYBsjiiqgcZGh3Nt0rNlgBI+YlxjKHW+A7rW9DJZYK6d60CTWGob6Uewve28r3VKvRYEsXbSxtkK7kqt083ULWbEkCdykmfoInkU8qqHwVQFTHbcFO83y[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e440cc1-a537-b755-c43a-688a93a89b12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1993333812",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
