{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-69fa789e-cb43-35a6-27e5-3ab20e8d7a00?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681ED4FBD75\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-69fa789e-cb43-35a6-27e5-3ab20e8d7a00/test-blob-7e6f00f5-1d49-82ed-f0bd-16421024ff85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681ED5B8571\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-69fa789e-cb43-35a6-27e5-3ab20e8d7a00/test-blob-7e6f00f5-1d49-82ed-f0bd-16421024ff85",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681ED5B8571\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-69fa789e-cb43-35a6-27e5-3ab20e8d7a00/test-blob-7e6f00f5-1d49-82ed-f0bd-16421024ff85?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681ED5B8571\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xM1RzhTcmMYWVqR3orn2gbgXXL6w5IwGfaImh1pwHJodbSdxVV4PebcVfx3iV2ibXfs4cM3vC+BBSlBxtRFspjoJWTSShSxaCOIGm2RuJCU6iyleN6vNLmJHLwsNncSmqdjj2f4zCdjP3Wjr6HB70yUrNyrnDW6POyvSSlUhTWoeYPGMiksnB4FRjllC4kXyzFzl4maZvptpVJ3SYb+CrpD9zId+70jaAzCplX8VTFnm3374O2oEhKJWIjWuVaXBzt/IRBW9c90TCt818CgcVAhD64FBinIm+UjlKMwTLK2K58afTAdEKGug5TGLzpN5Os4tamkjgERtokvN2EsQAN4xqwlhfAcA[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-69fa789e-cb43-35a6-27e5-3ab20e8d7a00/test-blob-7e6f00f5-1d49-82ed-f0bd-16421024ff85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681ED6DFA75\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "hqhSArpECeg=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "xM1RzhTcmMYWVqR3orn2gbgXXL6w5IwGfaImh1pwHJodbSdxVV4PebcVfx3iV2ibXfs4cM3vC+BBSlBxtRFspjoJWTSShSxaCOIGm2RuJCU6iyleN6vNLmJHLwsNncSmqdjj2f4zCdjP3Wjr6HB70yUrNyrnDW6POyvSSlUhTWoeYPGMiksnB4FRjllC4kXyzFzl4maZvptpVJ3SYb+CrpD9zId+70jaAzCp[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-69fa789e-cb43-35a6-27e5-3ab20e8d7a00?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2003490304",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
