{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e40f71c4-9598-c742-ff7d-59628ccd2758?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CAB527C06\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e40f71c4-9598-c742-ff7d-59628ccd2758/test-blob-ab6c1b03-5e17-78b4-a026-4a3cfafcd069",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CAB5DC63E\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e40f71c4-9598-c742-ff7d-59628ccd2758/test-blob-ab6c1b03-5e17-78b4-a026-4a3cfafcd069",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CAB5DC63E\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e40f71c4-9598-c742-ff7d-59628ccd2758/test-blob-ab6c1b03-5e17-78b4-a026-4a3cfafcd069?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CAB5DC63E\"",
        "x-ms-date": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "oGEvPuRtxjtYumhXEqJn53Jg9ZZuNPMNsLjVLRBvbNsj7//96MwU/zAjmqq2Z7gFgZE3h6uGJWtuIo4rl5kr6E6NMyKiav6mS/VmSppIV0j/0Kt/N+QvncmTjsY96GeX+LFcKDSWYheSkTy2INvRJspFLMftrLFpXpZYDts4aGKNzlLo6y8UaW2U7KaoeXzuwmj8+LygqksA88qePlQ7WSnaKFGI6TqbMMJZWL8LwOQZaUxyPG+l7CQG6PhkdisZWJN9zlArZdkuYMf5RlGM9TPlhNQIyR25NDssggBBNrqXP/8sjfGU7gNyRNuoq6XSevLFfvFWEY91w5oU/uPY7CoNYQdSX2dB[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e40f71c4-9598-c742-ff7d-59628ccd2758/test-blob-ab6c1b03-5e17-78b4-a026-4a3cfafcd069",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CAB6AD6EF\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACgYS8+5G3GO1i6aFcSomfncmD1lm408w2wuNUtEG9s2yPv//3ozBT/MCOaqrZnuAWBkTeHq4Yla24ijiuXmSvoTo0zIqJq/qZL9WZKmkhXSP/Qq3835C+dyZOOxj3oZ5f4sVwoNJZiF5KRPLYg29EmykUsx+2ssWlellgO2zhoYo3OUujrLxRpbZTspqh5fO7CaPz4vKCqSwDzyp4+VDtZKdooUYjpOpswwllYvwvA5BlpTHI8b6XsJAbo+GR2KxlYk33OUCtl2S5gx/lGUYz1M+WE1AjJHbk0OyyCAEE2upc//yyN8ZTuA3JE26irpdJ68sV+8VYRj3XDmhT+49jsKg1hB1JfZ0FRltCVhUEQiJVaCA18t8hBLm+2yleA7yCaV7GaSZ[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e40f71c4-9598-c742-ff7d-59628ccd2758?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1142408186",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
