{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d606388c-21a9-2966-25cd-9c089659c6c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCC9FFC8A4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d606388c-21a9-2966-25cd-9c089659c6c8/test-blob-76581b26-c324-4f77-3bc4-ed97ed7b16f3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCCA0DAB5D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d606388c-21a9-2966-25cd-9c089659c6c8/test-blob-76581b26-c324-4f77-3bc4-ed97ed7b16f3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCCA0DAB5D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d606388c-21a9-2966-25cd-9c089659c6c8/test-blob-76581b26-c324-4f77-3bc4-ed97ed7b16f3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCCA0DAB5D\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "GfLkxhQUeTl2xPFGW1J3tG7zQ2OeChAImB4kr3mM3u9MqvrAjJiUr7mARPIpjCg5+STHb7GzfA7h3C318MnA6uUB+rFXtijVX5OpHsYe3gz26rZVxG8+mS7r37Bqnr/wwFkMKJF24UL78Q8dCV5Iwv0g/wUTayV2wmCDbNZ3asDUuV1sEbZ6fwlzWdJfII/PoxyySp+53FUzlmUx83RrhIdOSE8A3LFGpn/7nxFSFqLQs8m6xCAhG9wIOHtRSYuUCNVLEddAz8Zra6MfvT1D4YDCYECrsb9nLS1z+KM19Vz0Z5Y8BwXKkOMCTll8Al6exFf6julL6VYV5OOqzdcjNXZHK1amB9l7[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d606388c-21a9-2966-25cd-9c089659c6c8/test-blob-76581b26-c324-4f77-3bc4-ed97ed7b16f3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCCA266375\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAZ8uTGFBR5OXbE8UZbUne0bvNDY54KEAiYHiSveYze70yq+sCMmJSvuYBE8imMKDn5JMdvsbN8DuHcLfXwycDq5QH6sVe2KNVfk6kexh7eDPbqtlXEbz6ZLuvfsGqev/DAWQwokXbhQvvxDx0JXkjC/SD/BRNrJXbCYINs1ndqwNS5XWwRtnp/CXNZ0l8gj8+jHLJKn7ncVTOWZTHzdGuEh05ITwDcsUamf/ufEVIWotCzybrEICEb3Ag4e1FJi5QI1UsR10DPxmtrox+9PUPhgMJgQKuxv2ctLXP4ozX1XPRnljwHBcqQ4wJOWXwCXp7EV/qO6UvpVhXk46rN1yM1dkcrVqYH2Xv3z1ypY2bqK8/UM0w7Z3KofUAmIyEgwwzfGOI01g[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d606388c-21a9-2966-25cd-9c089659c6c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "205548530",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
