{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-646ed766-aa8a-5172-9ddc-76020468774b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D55BFA71D2\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-646ed766-aa8a-5172-9ddc-76020468774b/test-blob-a1dfcc81-eef6-6193-c378-1271b8cf5dd2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D55C07A381\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-646ed766-aa8a-5172-9ddc-76020468774b/test-blob-a1dfcc81-eef6-6193-c378-1271b8cf5dd2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D55C07A381\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-646ed766-aa8a-5172-9ddc-76020468774b/test-blob-a1dfcc81-eef6-6193-c378-1271b8cf5dd2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D55C07A381\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "pj+snnAzaMb2n0Uv5VEDVtjrI94hvAp9ayEWyUHEq37dE3kOmmUbq72BxKEigD614ghEOHyekOk1LjJOHJ+EMvTGUtLX9Ltyz3ggn/doW+vjYeY5gHMBPoKQ2WwzzI4e/ZKtWy1r3e1N0WgEffHyzNNGaru4SrKAxBNQRxpPPwPpAqJlu/+9d4T57K4L/MCRnQ2Z7WHSZrLfLJYZG5XT/pJlG3tOjRHTiPM3v14DdchSvqoNtlKhFpzvhY5oo1zuJe0cpuFFQhD8xWRum6dT27bOx1zrxkhAwwTfXgeCauSXSJlx58/nDXyZEPDtMnv1nKnXmtz/A1+l2+LcZeMIelt/11IN4vTn[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-646ed766-aa8a-5172-9ddc-76020468774b/test-blob-a1dfcc81-eef6-6193-c378-1271b8cf5dd2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D55C154FC8\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACmP6yecDNoxvafRS/lUQNW2Osj3iG8Cn1rIRbJQcSrft0TeQ6aZRurvYHEoSKAPrXiCEQ4fJ6Q6TUuMk4cn4Qy9MZS0tf0u3LPeCCf92hb6+Nh5jmAcwE+gpDZbDPMjh79kq1bLWvd7U3RaAR98fLM00Zqu7hKsoDEE1BHGk8/A+kComW7/713hPnsrgv8wJGdDZntYdJmst8slhkbldP+kmUbe06NEdOI8ze/XgN1yFK+qg22UqEWnO+FjmijXO4l7Rym4UVCEPzFZG6bp1Pbts7HXOvGSEDDBN9eB4Jq5JdImXHnz+cNfJkQ8O0ye/Wcqdea3P8DX6Xb4txl4wh6W3/XUg3i9OfnueBRtVdSkYnqwl6qzweXRTrLDO0Kp5iRlpRtWy[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-646ed766-aa8a-5172-9ddc-76020468774b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1314242096",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
