{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9079ece1-7bc2-ce90-8704-ebcea8feb1e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D58C092814\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9079ece1-7bc2-ce90-8704-ebcea8feb1e4/test-blob-ee23afa7-b2ea-874b-664f-8b7572089359",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D58C173AD4\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9079ece1-7bc2-ce90-8704-ebcea8feb1e4/test-blob-ee23afa7-b2ea-874b-664f-8b7572089359",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D58C173AD4\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9079ece1-7bc2-ce90-8704-ebcea8feb1e4/test-blob-ee23afa7-b2ea-874b-664f-8b7572089359?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D58C173AD4\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "9dh4kcWygu+x+5ThOaAnpim+vP4PB6HH6cvV9TrKHVxTK/rOaEhnYCj++EhVm9hAcBBGouOPBu03sKj53Iy15t03jQ6mWT7hV1vVEA9Zck3ylYUphHt5xCQMlrigbYSbSBFqHg7KmhbSZUuHufbd3j1aBkcHjGJivcnqmcKFQOnXOcf971M/KPpuVh4v8gouLrh6RWY8lLyvB2BE3wFUTCRhr4Au3+/qG95MmTVDMsu+u2oJC/qCm6ULTufz+kj5Ggr6zkKKAE7JkCqI7/uHbNSVhiOWSkEp3xTaIpEH9yCVU34rSGSJM7sbQHrQ+auqg+ITXXQkYs/I0O8tsN29wpkK85x8XCNv[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9079ece1-7bc2-ce90-8704-ebcea8feb1e4/test-blob-ee23afa7-b2ea-874b-664f-8b7572089359",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D58C2FD748\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD12HiRxbKC77H7lOE5oCemKb68/g8Hocfpy9X1OsodXFMr+s5oSGdgKP74SFWb2EBwEEai448G7TewqPncjLXm3TeNDqZZPuFXW9UQD1lyTfKVhSmEe3nEJAyWuKBthJtIEWoeDsqaFtJlS4e59t3ePVoGRweMYmK9yeqZwoVA6dc5x/3vUz8o+m5WHi/yCi4uuHpFZjyUvK8HYETfAVRMJGGvgC7f7+ob3kyZNUMyy767agkL+oKbpQtO5/P6SPkaCvrOQooATsmQKojv+4ds1JWGI5ZKQSnfFNoikQf3IJVTfitIZIkzuxtAetD5q6qD4hNddCRiz8jQ7y2w3b3CmQrznHxcI28MUmh7CsZZ5Wkwnq/zmatw8a9ieHVbg95dfeHFBQ[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9079ece1-7bc2-ce90-8704-ebcea8feb1e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "859703065",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
