{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ecdfde1-d06b-1152-f943-c4c9a7899f26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681E9AB95A2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ecdfde1-d06b-1152-f943-c4c9a7899f26/test-blob-c384d601-4e37-1551-4b10-b684e47439e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681E9BC3F80\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ecdfde1-d06b-1152-f943-c4c9a7899f26/test-blob-c384d601-4e37-1551-4b10-b684e47439e0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681E9BC3F80\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ecdfde1-d06b-1152-f943-c4c9a7899f26/test-blob-c384d601-4e37-1551-4b10-b684e47439e0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681E9BC3F80\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xjgPdZRXDlmmqVpr29S4QYGcpA/JMs4w9bSkhO5x9ztotbYgqEyTzohmxq79rcfM7FhjkBSIdZRp33/fsopqNbEfAyYdmJg1CNWHYmsgM0jt2JiWDWcn30AitsnMtBv+/JD93qqgrlO/Loc+ABIoSaw38dry1ChJ+CPl++LPaFS6iWbbIlSeTCpE1t7g6N4t+mwdlcNACyhns+aGu7Jx8MUzhHesTCdXmaSwrf1JaQ9EtwB1sdOReX09c29uGJF30uUYrGRnga1FxfwekF0qHUnXQQOy+z7yogr6bti36YESOdoXML2q3TZSMOzXcugfE1Ull9aOxdamJgpabBLVjdx7C1eCEu2M[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ecdfde1-d06b-1152-f943-c4c9a7899f26/test-blob-c384d601-4e37-1551-4b10-b684e47439e0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681E9D2F9DD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ecdfde1-d06b-1152-f943-c4c9a7899f26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1582432947",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
