{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0c695938-dc12-001b-a05b-b69de61cbb63?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B20EC345\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0c695938-dc12-001b-a05b-b69de61cbb63/test-blob-cc154c62-7c88-018f-a4ce-2d068d39c595",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B21524FF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:28.9340671Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0c695938-dc12-001b-a05b-b69de61cbb63/test-blob-cc154c62-7c88-018f-a4ce-2d068d39c595",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B21524FF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:28.9340671Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0c695938-dc12-001b-a05b-b69de61cbb63/test-blob-cc154c62-7c88-018f-a4ce-2d068d39c595?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22B21524FF\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Af+7j4F12VQXKuZiLjUWneDzciMsEau3uV53NvYKLjhjXeTqR+xCtOmbk40CeT/RXk9YHXsoI/BTBNYi/qJeDPyu/tFRLFbzsL05kX0etT8epdemshC8Ojn0lkIVH7ZGPIaQVHtugDL4ZGy+75JyNU+XA1nLt1rr8cSXXZUT3pEH8lT3jWDEsCWlrU6k/UumgWDzfhxde4QspWK21iOc5YXbt/w+eqju0lMzJQoMR/N48Ns0IF91qXbQy+f+DdkBCMjIyEZOaAe4BavIKVV6H11uPeZIZ8UmZg2Fba/A78V5Mh1BQ36tKYjUfBq0rIAhVauJkM/zuaEDomI5yfpX9xXmT/c4ONvf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0c695938-dc12-001b-a05b-b69de61cbb63/test-blob-cc154c62-7c88-018f-a4ce-2d068d39c595",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B21EB734\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:28.9340671Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAB/7uPgXXZVBcq5mIuNRad4PNyIywRq7e5Xnc29gouOGNd5OpH7EK06ZuTjQJ5P9FeT1gdeygj8FME1iL+ol4M/K7+0VEsVvOwvTmRfR61Px6l16ayELw6OfSWQhUftkY8hpBUe26AMvhkbL7vknI1T5cDWcu3WuvxxJddlRPekQfyVPeNYMSwJaWtTqT9S6aBYPN+HF17hCylYrbWI5zlhdu3/D56qO7SUzMlCgxH83jw2zQgX3WpdtDL5/4N2QEIyMjIRk5oB7gFq8gpVXofXW495khnxSZmDYVtr8DvxXkyHUFDfq0piNR8GrSsgCFVq4mQz/O5oQO[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0c695938-dc12-001b-a05b-b69de61cbb63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1564355827",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
