{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087ced9-1ecf-ba3d-da74-d130277a524e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E4A3D8B47\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:49:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087ced9-1ecf-ba3d-da74-d130277a524e/test-blob-856120bc-946e-2131-21a9-6c13854497b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E4A5BC265\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:49:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:49:52.0135781Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087ced9-1ecf-ba3d-da74-d130277a524e/test-blob-856120bc-946e-2131-21a9-6c13854497b0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E4A5BC265\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:49:52 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:49:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:49:52.0135781Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087ced9-1ecf-ba3d-da74-d130277a524e/test-blob-856120bc-946e-2131-21a9-6c13854497b0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E4A5BC265\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "QDZVmyc6zDPoot/vTmogWT6NYIZ3RTEGnkkDX6MkruWuTpFjK5kcldTPJHpzjRK7f6mDqXurCvsFTv3eNmyPxPT5QQDZvS2kcMqypyC2kxE3SOD6oAVqA0OWXdycPl9nQGCGeksS4sF73jiw+WLaT7vsp+6MlSPujj68QmBRCDJrSme/LxnFJWUefsHNuQrhuw4hr5Zw26o9l+sNVZ9hKtYFRa77Gx+iJoGIbRZhIdU02oZSL1ib+m68gZguuM/GvVTrx3Nb5aDvfokV522U3HUV2HsYD/p+akpAPpmGdG6ywrDBdVph2fXmYrHPhhIBKKUiGN9Ura5abVwpG6YGaAoaYiW90mYa[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087ced9-1ecf-ba3d-da74-d130277a524e/test-blob-856120bc-946e-2131-21a9-6c13854497b0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E4A6A9BC9\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:49:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:49:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:49:52.0135781Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABANlWbJzrMM+ii3+9OaiBZPo1ghndFMQaeSQNfoySu5a5OkWMrmRyV1M8kenONErt/qYOpe6sK+wVO/d42bI/E9PlBANm9LaRwyrKnILaTETdI4PqgBWoDQ5Zd3Jw+X2dAYIZ6SxLiwXveOLD5YtpPu+yn7oyVI+6OPrxCYFEIMmtKZ78vGcUlZR5+wc25CuG7DiGvlnDbqj2X6w1Vn2Eq1gVFrvsbH6ImgYhtFmEh1TTahlIvWJv6bryBmC64z8a9VOvHc1vloO9+iRXnbZTcdRXYexgP+n5qSkA+mYZ0brLCsMF1WmHZ9eZisc+GEgEopSIY31Strlp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a087ced9-1ecf-ba3d-da74-d130277a524e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1226834258",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
