{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2054452-8ac5-00d4-d611-44d7c5682a58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E663147F4\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2054452-8ac5-00d4-d611-44d7c5682a58/test-blob-33e5d3e8-d5c6-c060-e22f-a9c6f43c0189",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E663F163B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:38.8018747Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2054452-8ac5-00d4-d611-44d7c5682a58/test-blob-33e5d3e8-d5c6-c060-e22f-a9c6f43c0189",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E663F163B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:38 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:38.8018747Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2054452-8ac5-00d4-d611-44d7c5682a58/test-blob-33e5d3e8-d5c6-c060-e22f-a9c6f43c0189?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E663F163B\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "YhOSuyFdcdLIadwPjSw5u202yQMImrmXxx8urRrm2bWek0Wzh+jssFCNxzQLs5aKOaknjFYTYcdZ+/QCLsS34pAmcPrmhTSEShiye9OFixOIpHNwvk1fijF+Woz06YKM1eSk5EOco7N1o0E+YeX01G/heYlQRiRDx+XIaCuoj2CVJqXu4KfP7AG/+xsLIClLiYYcE3D4O4/AYR1d0zuIzRPhqDtABvPIEYyIkEsIN6a8fd6li3zvnOoWLn+JchnGNy0IKXfuC4OSUwLjcKpDtyl2oVZc40KW8QxQKddzPp5zwlkeAA0uzXFbEjh5DCw/0nZWEtHCaVTrcThrneGrHhRjcK1RJbcb[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2054452-8ac5-00d4-d611-44d7c5682a58/test-blob-33e5d3e8-d5c6-c060-e22f-a9c6f43c0189",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E664DC452\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:38.8018747Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABiE5K7IV1x0shp3A+NLDm7bTbJAwiauZfHHy6tGubZtZ6TRbOH6OywUI3HNAuzloo5qSeMVhNhx1n79AIuxLfikCZw+uaFNIRKGLJ704WLE4ikc3C+TV+KMX5ajPTpgozV5KTkQ5yjs3WjQT5h5fTUb+F5iVBGJEPH5choK6iPYJUmpe7gp8/sAb/7GwsgKUuJhhwTcPg7j8BhHV3TO4jNE+GoO0AG88gRjIiQSwg3prx93qWLfO+c6hYuf4lyGcY3LQgpd+4Lg5JTAuNwqkO3KXahVlzjQpbxDFAp13M+nnPCWR4ADS7NcVsSOHkMLD/SdlYS0cJpVOt[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2054452-8ac5-00d4-d611-44d7c5682a58?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1079664780",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
