{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b2c38ff-1300-e138-e876-da59c5d0edba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D125821C2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b2c38ff-1300-e138-e876-da59c5d0edba/test-blob-153085ca-245c-1db7-49e5-34bae79f6936",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D1267945E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b2c38ff-1300-e138-e876-da59c5d0edba/test-blob-153085ca-245c-1db7-49e5-34bae79f6936",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D1267945E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b2c38ff-1300-e138-e876-da59c5d0edba/test-blob-153085ca-245c-1db7-49e5-34bae79f6936?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D1267945E\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "9Gg8nrb2akcMA/mLFGsknZ0Eh9ZFuwiJDoAStWz5D\u002BaDCddUDTsf24RDJa7UManX6a2UFPQarzlgspA147XaE/QSBwqT0JBi5atSAZZatdzXOsu/ZfvxaVqe81qq6vfPaRK5wiqeRBkdMi9Jx62jBv20XqnpG675IJ6w9Nw1t/qzg5iEoPKyOPayoTLLqKKs\u002B\u002B1d9oxO5U1kwKGL7k8853o0lUMVHmYKAiWyN3l7LXj7A/nu2MBuZZ5KIN9RJkmndbq3lxJeltyHUvRmm67U6JMpj\u002BpVTg\u002B6xTCly/6GudzcC8K/w5VlnW0cZ4bMCMn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b2c38ff-1300-e138-e876-da59c5d0edba/test-blob-153085ca-245c-1db7-49e5-34bae79f6936",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D129470A5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "hc3K61V65t8=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "9Gg8nrb2akcMA/mLFGsknZ0Eh9ZFuwiJDoAStWz5D\u002BaDCddUDTsf24RDJa7UManX6a2UFPQarzlgspA147XaE/QSBwqT0JBi5atSAZZatdzXOsu/ZfvxaVqe81qq6vfPaRK5wiqeRBkdMi9Jx62jBv20XqnpG675IJ6w9Nw1t/qzg5iEoPKyOPayoTLLqKKs\u002B\u002B1d9oxO5U1kwKGL7k885[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b2c38ff-1300-e138-e876-da59c5d0edba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:34:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1463179470",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
