{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b1efbb8a-42b5-586a-99b7-ffdfcc7d7e0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF0CEEC1D8\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b1efbb8a-42b5-586a-99b7-ffdfcc7d7e0d/test-blob-629f8490-664d-befa-6876-6401026860e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF0CFD3D79\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b1efbb8a-42b5-586a-99b7-ffdfcc7d7e0d/test-blob-629f8490-664d-befa-6876-6401026860e6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF0CFD3D79\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b1efbb8a-42b5-586a-99b7-ffdfcc7d7e0d/test-blob-629f8490-664d-befa-6876-6401026860e6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBAEF0CFD3D79\"",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "T7qByMvq8LRHm2uFsZqX8aBju7fdkyhLcb47UbO/y9xKrYAGJU7QOSTrokrB1WonTjAUJK0uBrySNlcNr54BiM+OOwMZkctRkoKS8fDeiZtUFAOCq6cuG6bEc+/3w4qF6hp6M5pmDbxkwpIrnBXLtKy7uJqbf9woXx9dVR3cWs/4DAfWY1YB7gZGHekUA3+R+L9DPArv6Ws+UdN6CbifiGjCMo8N9VBWucqUVWHzE1ygy1xdmB7ECSOclxGDhuVNppSBUdHwgwNu7YJAWpMJSz522T1cQe9J/ShscV0+0zPlR6/MccGLsEhY7quchK6PkkzTDKyn8GWkN1SohBGmMBlPWxPkPNl8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b1efbb8a-42b5-586a-99b7-ffdfcc7d7e0d/test-blob-629f8490-664d-befa-6876-6401026860e6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:46 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF0D15CDFC\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABPuoHIy+rwtEeba4WxmpfxoGO7t92TKEtxvjtRs7/L3EqtgAYlTtA5JOuiSsHVaidOMBQkrS4GvJI2Vw2vngGIz447AxmRy1GSgpLx8N6Jm1QUA4Krpy4bpsRz7/fDioXqGnozmmYNvGTCkiucFcu0rLu4mpt/3ChfH11VHdxaz/gMB9ZjVgHuBkYd6RQDf5H4v0M8Cu/paz5R03oJuJ+IaMIyjw31UFa5ypRVYfMTXKDLXF2YHsQJI5yXEYOG5U2mlIFR0fCDA27tgkBakwlLPnbZPVxB70n9KGxxXT7TM+VHr8xxwYuwSFjuq5yEro+STNMMrKfwZaQ3VKiEEaYwGU9bE+Q82XzrKfUEUkSteXrc3xBrx4Y9VkkoOm3iLDaxvpJNKZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b1efbb8a-42b5-586a-99b7-ffdfcc7d7e0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1194159283",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
