{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a3c73bc-9580-84ee-bcab-0693ebdb6e95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B42C1027\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a3c73bc-9580-84ee-bcab-0693ebdb6e95/test-blob-516b4a4c-5bc2-a3e2-d1c8-3c4064b81d1c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B43B8EDE\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:32.5412574Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a3c73bc-9580-84ee-bcab-0693ebdb6e95/test-blob-516b4a4c-5bc2-a3e2-d1c8-3c4064b81d1c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B43B8EDE\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:32.5412574Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a3c73bc-9580-84ee-bcab-0693ebdb6e95/test-blob-516b4a4c-5bc2-a3e2-d1c8-3c4064b81d1c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22B43B8EDE\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "3Bfpg5DT2D5SsXEdyBeJXC9TdF85HO65FLtsJzAYx6qOxvrjdvghS7Ni//UpxvSRPvHZb3l1zL8oMG7VZ7EOOunHjwEcpeU3MSmr1h35j03H2ug+PlcxGfk6u0aJTOMCVMULYjfydJkLoT1PyfaiLqAgDozI0PuRlXYH4umfruVFqIJY7i0W1GZPMpwa4U8DmIylaD5XOoTJeczB6pGvbPNYCiFzSUBzCjkleJ1ed7MnBEpd+Uam7m7+jnVgVerVoMapwdcuj05MMl0EMcHmagEZmuZHUnKtsRuydbvKE7VPUNjWtbbb+XT7EMfoobysFyN0RrsEjU1T+w+7exqTgR+oteHpELVK[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a3c73bc-9580-84ee-bcab-0693ebdb6e95/test-blob-516b4a4c-5bc2-a3e2-d1c8-3c4064b81d1c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B4454801\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:32.5412574Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADcF+mDkNPYPlKxcR3IF4lcL1N0Xzkc7rkUu2wnMBjHqo7G+uN2+CFLs2L/9SnG9JE+8dlveXXMvygwbtVnsQ466cePARyl5TcxKavWHfmPTcfa6D4+VzEZ+Tq7RolM4wJUxQtiN/J0mQuhPU/J9qIuoCAOjMjQ+5GVdgfi6Z+u5UWogljuLRbUZk8ynBrhTwOYjKVoPlc6hMl5zMHqka9s81gKIXNJQHMKOSV4nV53sycESl35Rqbubv6OdWBV6tWgxqnB1y6PTkwyXQQxweZqARma5kdScq2xG7J1u8oTtU9Q2Na1ttv5dPsQx+ihvKwXI3RGuwSNTVP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0a3c73bc-9580-84ee-bcab-0693ebdb6e95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1091435450",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
