{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cfcdfdc-0226-3a90-2bb4-1662bfa987cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681EBB56A2A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cfcdfdc-0226-3a90-2bb4-1662bfa987cd/test-blob-f312d79b-013a-7d26-866d-267a81c0354c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681EBC2B8BE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cfcdfdc-0226-3a90-2bb4-1662bfa987cd/test-blob-f312d79b-013a-7d26-866d-267a81c0354c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681EBC2B8BE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:34 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cfcdfdc-0226-3a90-2bb4-1662bfa987cd/test-blob-f312d79b-013a-7d26-866d-267a81c0354c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681EBC2B8BE\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3a+EiCizc46ooVNCIyHSqAILCnzUco9RXMKg1RczYibQ/ZG5/ijhpM9GbJwJwhm+tI4A7fiXDWsfMitmEp52dD4tcSWPGKnZKWasjQXzR5qo4iGIMnUtOfAlmcz9e5Ex0Pdd3FHzLpvlJ8OS6n9mLOuRvjB97kHJ/zc1an7d3K7Ue70OlmtItLOFowuymk9wv23ga71gtOK1lNwZvsMcCEoUvm/CWJZ/SAl890o1FmTnxKsR/HHxc8fbWAGOL/bvaJrBndzgrmfXYCKz47yXf313MfkYCwzZI0qo5gCU8RkSjY+vdHmIBxVEOZtOPZAKQ9iDFv3911yO6HqSOMhmQm8IoVYt5wsE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cfcdfdc-0226-3a90-2bb4-1662bfa987cd/test-blob-f312d79b-013a-7d26-866d-267a81c0354c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "SGKbN09js1B5DpJl4kap/g==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681EBD79E8B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:34 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7cfcdfdc-0226-3a90-2bb4-1662bfa987cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "180369288",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
