{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b73675f4-24d0-c90e-6780-15c763a2386a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694ACF61079\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b73675f4-24d0-c90e-6780-15c763a2386a/test-blob-b2234643-9781-73c2-a400-c39767977059",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694AD07A8E8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b73675f4-24d0-c90e-6780-15c763a2386a/test-blob-b2234643-9781-73c2-a400-c39767977059",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694AD07A8E8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b73675f4-24d0-c90e-6780-15c763a2386a/test-blob-b2234643-9781-73c2-a400-c39767977059?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694AD07A8E8\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "mZB0P33LyDrCteB4thTgpQtf+iK6JAT8FEV13NVCWcI7tWBYTTU4AHitULHqJDDoTD9kxxn5/XSLeCo4VutlgFsdPAGzh1jWJvqqDdRTEfAUjJCW3ZKpQbfszdQKAKmMR89VzecuNcTmjqAeT/CfOGY6I8pbzqPJc/tJxrqDyyVQHsUE/UQI5VfLr07yivLHTJRuz93fMXgsjFns5W4KYsJ6zTEqmzohMj1zjx9U1+kIgXomFftIcexM2HHrGwDowE2Md7zBnbFZTJ2gbKFZ2LVv5GP05E3GMlxE3cPJNhY8is7Rx18sR+TIzMhepwVL8v+8ezec9Nz/xURgfb/ujxaHY+HSiBBV[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b73675f4-24d0-c90e-6780-15c763a2386a/test-blob-b2234643-9781-73c2-a400-c39767977059",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694AD221CF7\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACZkHQ/fcvIOsK14Hi2FOClC1/6IrokBPwURXXc1UJZwju1YFhNNTgAeK1QseokMOhMP2THGfn9dIt4KjhW62WAWx08AbOHWNYm+qoN1FMR8BSMkJbdkqlBt+zN1AoAqYxHz1XN5y41xOaOoB5P8J84ZjojylvOo8lz+0nGuoPLJVAexQT9RAjlV8uvTvKK8sdMlG7P3d8xeCyMWezlbgpiwnrNMSqbOiEyPXOPH1TX6QiBeiYV+0hx7EzYcesbAOjATYx3vMGdsVlMnaBsoVnYtW/kY/TkTcYyXETdw8k2FjyKztHHXyxH5MjMyF6nBUvy/7x7N5z03P/FRGB9v+6PFodj4dKIEFVDnH8rF4Roilb468MNut6glfLRARrLyiXaPbHWRC[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b73675f4-24d0-c90e-6780-15c763a2386a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2077170494",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
