{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67a772e8-26eb-a4c3-2159-02cb5d0c6f40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D092660F7FA\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67a772e8-26eb-a4c3-2159-02cb5d0c6f40/test-blob-dc604009-2a63-4430-0bf8-316053b51582",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0926706E19\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67a772e8-26eb-a4c3-2159-02cb5d0c6f40/test-blob-dc604009-2a63-4430-0bf8-316053b51582",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D0926706E19\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67a772e8-26eb-a4c3-2159-02cb5d0c6f40/test-blob-dc604009-2a63-4430-0bf8-316053b51582?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC4D0926706E19\u0022",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "pHCSDBWLx3I6Td/53O1N9Zsz4RXSE9TwmXv3KIATxXDfXDHlmbG6Xn/HIR7rtxnGGwGIYTX8G5CconKZlJ/yJohvGX\u002B8Z1zqeYOWCvK1BOJhMA1\u002Bi2Q640GgSfY\u002BIMng1fqWfJ2aCrOlneeyZRCd5p6QOGSSc5sjNTU\u002BGx5lrFi5tTX4HodExyVa2e58h30xAmJYrehlTmFfckdnXO6UP/CO\u002BbDapcgWTHE\u002BOJmtp624DBi7DP9wVGfUmKtA3Go3xZn97Y7NVlyaQmF3JxXIssuar0/V2DPxHqVIBg0c1W8GB3L/r7oe6ra7Ic[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67a772e8-26eb-a4c3-2159-02cb5d0c6f40/test-blob-dc604009-2a63-4430-0bf8-316053b51582",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:574de6c5-801e-0007-72f2-7eb681000000\n",
        "Time:2024-03-25T20:21:27.7411356Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-range-get-content-md5\u003C/HeaderName\u003E\u003CHeaderValue\u003Etrue\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67a772e8-26eb-a4c3-2159-02cb5d0c6f40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2025574375",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
