{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-97f424f5-3f86-61f0-9f59-c2d3b3a28111?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB64A3C433D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-97f424f5-3f86-61f0-9f59-c2d3b3a28111/test-blob-c4604329-0ac4-457f-dc64-dffdb2e96155",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB64A9FCC68\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-97f424f5-3f86-61f0-9f59-c2d3b3a28111/test-blob-c4604329-0ac4-457f-dc64-dffdb2e96155",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB64A9FCC68\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-97f424f5-3f86-61f0-9f59-c2d3b3a28111/test-blob-c4604329-0ac4-457f-dc64-dffdb2e96155?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB64A9FCC68\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "PLeoSRKQ/TFGm0Y0oR7B7G4YIAC+Hap/DqfFypqJZKc7ZJXoCaKXIrWyHsp4hGal8j3n24kVeh8NKDpqyzKXvDee+T2I2OLLgf1KC//fBolBINhdoogdJel22+FnLFeDG2GT2ospHBlaG1qLy28gLiKwKapaORqvgNRTEv0BZFSmx++eTCz+FwO/AoYukll6Vqy+twKsKeFG41m21QobWLcF5AN/geH1sRGmmjeUgO562btQQqxR+p0OV2jSR0L5o6nPKK1V+9TLyAXxBY6qsmJrPPxOyhUKtOpmcSp5I2rPrfeNxFhBJN3nhXqnYPQPY6UFZwtGqtmTxXTC74qqUqWbIVeXHO0K[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-97f424f5-3f86-61f0-9f59-c2d3b3a28111/test-blob-c4604329-0ac4-457f-dc64-dffdb2e96155",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB64AACDD16\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA8t6hJEpD9MUabRjShHsHsbhggAL4dqn8Op8XKmolkpztklegJopcitbIeyniEZqXyPefbiRV6Hw0oOmrLMpe8N575PYjY4suB/UoL/98GiUEg2F2iiB0l6Xbb4WcsV4MbYZPaiykcGVobWovLbyAuIrApqlo5Gq+A1FMS/QFkVKbH755MLP4XA78Chi6SWXpWrL63Aqwp4UbjWbbVChtYtwXkA3+B4fWxEaaaN5SA7nrZu1BCrFH6nQ5XaNJHQvmjqc8orVX71MvIBfEFjqqyYms8/E7KFQq06mZxKnkjas+t943EWEEk3eeFeqdg9A9jpQVnC0aq2ZPFdMLviqpSpZshV5cc7QopGB5nRJtjU/VWDYRzu16JAx35/uN+NFM9M9QLP5[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-97f424f5-3f86-61f0-9f59-c2d3b3a28111?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "18042876",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
