{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6049e57-80e0-a9a3-bc90-458dc8b93b4d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C07AD894\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6049e57-80e0-a9a3-bc90-458dc8b93b4d/test-blob-7bb84036-7a05-ff4d-2393-8f7c4b37c1b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C081279C\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:53.1300252Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6049e57-80e0-a9a3-bc90-458dc8b93b4d/test-blob-7bb84036-7a05-ff4d-2393-8f7c4b37c1b8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22C081279C\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:53.1300252Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6049e57-80e0-a9a3-bc90-458dc8b93b4d/test-blob-7bb84036-7a05-ff4d-2393-8f7c4b37c1b8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22C081279C\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "/SjzOpiy09ukrnNGgNx/px7QfPMZm0yKKIQ26tTPAFdBmcoBITfcXwLF/FJEoooN6AALhn5lTGLcaREUfOgG1K4bBOcRfobm9BzwVJ75RYb6KALTxHrZ3E1nJLcmx+MZviekKJ6j+2l5JJFhdffD4yOKGlPmMw8zQieZqVnPwCw51pZ3VB3nVyyYWaDod2dVpEGUm6yPMosXcOV2CVIQqmNlJ55hS48Fo8MmTtlvS8rARAUYOyR/qqMLYOM3cU3aiK88g0/J81iyjvjpaOSxqCUatcRM+G8/5X36VuurzTJ1TMYqMsh791CtZawslkG/Wbe+HbuJjpA//Z3SzpxsBsDGcxweh3Zc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6049e57-80e0-a9a3-bc90-458dc8b93b4d/test-blob-7bb84036-7a05-ff4d-2393-8f7c4b37c1b8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22C08B0796\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:53.1300252Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD9KPM6mLLT26Suc0aA3H+nHtB88xmbTIoohDbq1M8AV0GZygEhN9xfAsX8UkSiig3oAAuGfmVMYtxpERR86AbUrhsE5xF+hub0HPBUnvlFhvooAtPEetncTWcktybH4xm+J6QonqP7aXkkkWF198PjI4oaU+YzDzNCJ5mpWc/ALDnWlndUHedXLJhZoOh3Z1WkQZSbrI8yixdw5XYJUhCqY2UnnmFLjwWjwyZO2W9LysBEBRg7JH+qowtg4zdxTdqIrzyDT8nzWLKO+Olo5LGoJRq1xEz4bz/lffpW66vNMnVMxioyyHv3UK1lrCyWQb9Zt74du4mOkD/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c6049e57-80e0-a9a3-bc90-458dc8b93b4d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1584842786",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
