{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7708e1b3-f285-ec0b-dbdf-dca7d4d28f97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681EB2989BE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7708e1b3-f285-ec0b-dbdf-dca7d4d28f97/test-blob-df7e48d2-3bf5-688f-e4f1-7cea9ab7c8b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681EB36FF6A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7708e1b3-f285-ec0b-dbdf-dca7d4d28f97/test-blob-df7e48d2-3bf5-688f-e4f1-7cea9ab7c8b2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681EB36FF6A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7708e1b3-f285-ec0b-dbdf-dca7d4d28f97/test-blob-df7e48d2-3bf5-688f-e4f1-7cea9ab7c8b2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681EB36FF6A\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "bO/klUdrK3elXYzaOu+jNSV5tPy9s9mdpbM+2w5KR7w4ba9ZwSQbiKyeNmAv3SHpwPjM6np2jbgWRu+ULE9pWxbPosxASnMAXSxPH314bciRVBsWfl1BweD2Qns1hltcNNtKXztVqXWEy4xOJm46ntknA9c0Ut24juDsSQj4y9bQ8uqiLg2MO6ulkbLR8ptxu6ShDoOEKOL+kdFbaV9tjAC1fTOEmHDLmscsj8Eq55tFeo1kVr1TTMoHpJw8MdJLNwSyG3Rn7CM01nS7V5kg06o1Fe7RCTZCYjFpfPTTjmj14Fe8d8sn3Y5qMIBJl/Qx59DxBxvjeS7OcLlD/W8uYEcLxndBZFze[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7708e1b3-f285-ec0b-dbdf-dca7d4d28f97/test-blob-df7e48d2-3bf5-688f-e4f1-7cea9ab7c8b2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "KXYUv4RRw0pjDRfnCFXSew==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681EB7A9258\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7708e1b3-f285-ec0b-dbdf-dca7d4d28f97?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1530261224",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
