{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd5b81cb-241e-d401-638b-da0228eeb231?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868249D5BD21\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd5b81cb-241e-d401-638b-da0228eeb231/test-blob-09f98415-09ad-7231-4f8a-90c84786f65c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868249E2DCD5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd5b81cb-241e-d401-638b-da0228eeb231/test-blob-09f98415-09ad-7231-4f8a-90c84786f65c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868249E2DCD5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd5b81cb-241e-d401-638b-da0228eeb231/test-blob-09f98415-09ad-7231-4f8a-90c84786f65c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868249E2DCD5\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Lsrcae9sU4HDbTi3sTJu3dwJJhxDIyk6wjm28DNUB0U1uaGbqUXicLcpy5qurHelqjiM3SkVdgqhoae1tWNNbmbygviQ0zOXJrZkGViPixbBEUb7yCkcH0KW+QedLbpU2100vCp/FNcE9LdysF2yERWR86QdUqU81mK2+tkr+fn7ED37W8/rQv1u9tNyqW7l5OjyDDkWN4m3+ObHyRn92fu9d6Aft7ZGpbCnrlvSySzz0BXxOe2/5dizQ2PpJHnjcB3YtTLOxS0yq2eJbogt5C651PgEDJ8N/pHHa3NTXIE3xD0++hT6JQvovo2GNXZPhl40L1CB3mR9yragB1m630/lUqpL7uoa[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd5b81cb-241e-d401-638b-da0228eeb231/test-blob-09f98415-09ad-7231-4f8a-90c84786f65c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "0jHEAutHbKoDeVb+ILKYfA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868249F59FF2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd5b81cb-241e-d401-638b-da0228eeb231?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1736821125",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
