{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a3e78e0-0ac6-7f03-df87-47700f195bcc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D14B9DE88\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a3e78e0-0ac6-7f03-df87-47700f195bcc/test-blob-a548569d-5702-14a7-6e5c-d36c0e109712",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D14C9C6A5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a3e78e0-0ac6-7f03-df87-47700f195bcc/test-blob-a548569d-5702-14a7-6e5c-d36c0e109712",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D14C9C6A5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a3e78e0-0ac6-7f03-df87-47700f195bcc/test-blob-a548569d-5702-14a7-6e5c-d36c0e109712?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D14C9C6A5\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "tasWP\u002B4yHzaTfsvgxjoCP8Yp2NswodEE9mClisNt3gOO2xPSioIwZRSxJnykuPFsMqaxuON7OBTZEkiNjZVzJp/HUesnMLVD\u002BHPGfntUXz1vOFgduyUgE6L/\u002BHg5o9d/Pv/c3WYFRQHxbb9vtbqYhbIKHVU8VWp6pz5JKDg8CVWcRj97d4LXavJWK01msF3oZnPFL4WCQ\u002BmVYjUnvB3JtGNq0296HQ0wM7Ni5iocFPbhYcHFd9rQGgNW5hVMr63VjHbp\u002B93ubUlllPzRH12\u002BeE4\u002BRltbBD2JmrhrJDb35IMFjFmzMxgZ8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a3e78e0-0ac6-7f03-df87-47700f195bcc/test-blob-a548569d-5702-14a7-6e5c-d36c0e109712",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D14E6012B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "ZVWpmDtXhrQ=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "tasWP\u002B4yHzaTfsvgxjoCP8Yp2NswodEE9mClisNt3gOO2xPSioIwZRSxJnykuPFsMqaxuON7OBTZEkiNjZVzJp/HUesnMLVD\u002BHPGfntUXz1vOFgduyUgE6L/\u002BHg5o9d/Pv/c3WYFRQHxbb9vtbqYhbIKHVU8VWp6pz5JKDg8CVWcRj97d4LXavJWK01msF3oZnPFL4WCQ\u002BmVYjUn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a3e78e0-0ac6-7f03-df87-47700f195bcc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1238580033",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
