{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee0edc61-ddb8-d412-c660-211d8f34b1aa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB038D48FE68\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee0edc61-ddb8-d412-c660-211d8f34b1aa/test-blob-909a44ca-a67e-a22e-4b3e-658fd2c0817a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB038D59C821\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee0edc61-ddb8-d412-c660-211d8f34b1aa/test-blob-909a44ca-a67e-a22e-4b3e-658fd2c0817a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB038D59C821\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee0edc61-ddb8-d412-c660-211d8f34b1aa/test-blob-909a44ca-a67e-a22e-4b3e-658fd2c0817a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB038D59C821\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "h0BY604mXgGUdOjcwWGCjaYSLnELraLi3GkNWA/QkkuWvygR4M3AyL8mbpOXPJzaQcLP9YzUUNmddQ/kGQXyw+KdRQI5cKzYUWWx5D8OSp/NMhdMAZy/wm5Oc2q+3K+6NKqx+veZodEV9qMmImyajytvFubupcJF3oOT6vxCGnW196+VXVCoM5FGNwr4mKACtOQ/TsXJy47naxtzBbfU09wucSq8BTHax+JUqG64TUbjkTUXAsuv6ywhrfE0NC7ZcWMtySd1Ra+yZIfidCMgLh7VkHSCvNAQf4X9m1dApZK0ezYKi4MebUuFZZ1EzHYIAX7SX6S5V7SSHEqhd6pYcr/0LvntFaOb[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee0edc61-ddb8-d412-c660-211d8f34b1aa/test-blob-909a44ca-a67e-a22e-4b3e-658fd2c0817a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB038D75B492\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACHQFjrTiZeAZR06NzBYYKNphIucQutouLcaQ1YD9CSS5a/KBHgzcDIvyZuk5c8nNpBws/1jNRQ2Z11D+QZBfLD4p1FAjlwrNhRZbHkPw5Kn80yF0wBnL/Cbk5zar7cr7o0qrH695mh0RX2oyYibJqPK28W5u6lwkXeg5Pq/EIadbX3r5VdUKgzkUY3CviYoAK05D9OxcnLjudrG3MFt9TT3C5xKrwFMdrH4lSobrhNRuORNRcCy6/rLCGt8TQ0LtlxYy3JJ3VFr7Jkh+J0IyAuHtWQdIK80BB/hf2bV0ClkrR7NgqLgx5tS4VlnUTMdggBftJfpLlXtJIcSqF3qlhyv/Qu+e0Vo5u2Iij8VzPMsg71mdhtRu37JIJ4bjh89aEt8t5Qnn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee0edc61-ddb8-d412-c660-211d8f34b1aa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1354565484",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
