{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ed1b6e43-48bb-d419-43bb-1d8baffbf6b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:37:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3CD445B81B\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ed1b6e43-48bb-d419-43bb-1d8baffbf6b1/test-blob-084a6a81-6530-3132-7833-0b8ee94a723a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 28 May 2024 17:37:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3CD4539657\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ed1b6e43-48bb-d419-43bb-1d8baffbf6b1/test-blob-084a6a81-6530-3132-7833-0b8ee94a723a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:37:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3CD4539657\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ed1b6e43-48bb-d419-43bb-1d8baffbf6b1/test-blob-084a6a81-6530-3132-7833-0b8ee94a723a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7F3CD4539657\u0022",
        "x-ms-date": "Tue, 28 May 2024 17:37:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "aaP6Pw2pVIWGS5sfdtD/K8ewcKRDnE/YktrQ5ZyF52VgFt4wHbNgcbYz0xY9U/kYFfaaOHuWec1UIawz2G/oAGQ1vmDxzg0TUP7tEMk4mz/huNCm66/qyp0R3PwGLZhHStKxB5SYJ0foh\u002Bd9qWgDG4ZtUiCeQhW1S/TD3/ERDCNlpcX2h5SrSJGIvWPHbSE0DcB1mdt4qAi9/Lug1UdV13rEGAOjDZTywgmOFoSx7d7SjtEwm3JH7Py8OYrYCnJJM\u002BXpAlUdkQAsg9fR6ZKECw7dzUZ1JDsHfCsH5tMJGbeXReOeyOuJtP3RBBebdgNqOC57\u002Bj0r1[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ed1b6e43-48bb-d419-43bb-1d8baffbf6b1/test-blob-084a6a81-6530-3132-7833-0b8ee94a723a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3CD47FFD85\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABpo/o/DalUhYZLmx920P8rx7BwpEOcT9iS2tDlnIXnZWAW3jAds2BxtjPTFj1T\u002BRgV9po4e5Z5zVQhrDPYb\u002BgAZDW\u002BYPHODRNQ/u0QyTibP\u002BG40Kbrr\u002BrKnRHc/AYtmEdK0rEHlJgnR\u002BiH532paAMbhm1SIJ5CFbVL9MPf8REMI2WlxfaHlKtIkYi9Y8dtITQNwHWZ23ioCL38u6DVR1XXesQYA6MNlPLCCY4WhLHt3tKO0TCbckfs/Lw5itgKckkz5ekCVR2RACyD19HpkoQLDt3NRnUkOwd8Kwfm0wkZt5dF457I64m0/dEEF5t2A2o4Lnv6PSvUDqnhhSkWqiwiaiA6pK/lQiNTGUmkICRs[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ed1b6e43-48bb-d419-43bb-1d8baffbf6b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:37:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "124151788",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
