{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3afa9d39-c24b-8a9b-b09a-2d68ec380cae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D5803EBE64\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3afa9d39-c24b-8a9b-b09a-2d68ec380cae/test-blob-d347ae4a-0dfa-4748-8461-65e70db17f2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D58049FC63\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3afa9d39-c24b-8a9b-b09a-2d68ec380cae/test-blob-d347ae4a-0dfa-4748-8461-65e70db17f2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D58049FC63\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3afa9d39-c24b-8a9b-b09a-2d68ec380cae/test-blob-d347ae4a-0dfa-4748-8461-65e70db17f2e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D58049FC63\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "ydOebCncraZX87ZXinWzLGd74izcB0MhiBGyTi8+TCc8c1wD5ceJqBK1rHfJfD1J5TegP3mK5sGPfeMYKl52GaeOGhcYsEef8jkZJ1vMVwzUaGj4nQytso2ac2jkcX60PpLPOmIlMTTwAE0/cL5mwiXWRMH2fXyb4WeKfTzeu4G7ZejI/B2qrjc0CJ2+bUHONLFDDS29vsEWNFn6m7P3EUTMhAvWncUHK5WJwXXe3XMlu0mLm65T/acnssjEsBKEPPZY8ek2+JbrO+GXNPxMN1fl1N9pbHaWeIdjruv9Q3uDBYV+huuK7sOyoF/MvMmr23pw3tsyGs9/wnhh00mr7fhmEy52zbFs[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3afa9d39-c24b-8a9b-b09a-2d68ec380cae/test-blob-d347ae4a-0dfa-4748-8461-65e70db17f2e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D580575ADD\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADJ055sKdytplfztleKdbMsZ3viLNwHQyGIEbJOLz5MJzxzXAPlx4moErWsd8l8PUnlN6A/eYrmwY994xgqXnYZp44aFxiwR5/yORknW8xXDNRoaPidDK2yjZpzaORxfrQ+ks86YiUxNPAATT9wvmbCJdZEwfZ9fJvhZ4p9PN67gbtl6Mj8HaquNzQInb5tQc40sUMNLb2+wRY0Wfqbs/cRRMyEC9adxQcrlYnBdd7dcyW7SYubrlP9pyeyyMSwEoQ89ljx6Tb4lus74Zc0/Ew3V+XU32lsdpZ4h2Ou6/1De4MFhX6G64ruw7KgX8y8yavbenDe2zIaz3/CeGHTSavt+GYTLnbNsWxb5Ru3yxfJvL2403CMZZ9R6rb/xHIoG3oGs2dmqZ[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3afa9d39-c24b-8a9b-b09a-2d68ec380cae?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2142005653",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
