{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d3c40c-9ab7-525d-d778-a2c4c1522588?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681F217B311\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d3c40c-9ab7-525d-d778-a2c4c1522588/test-blob-f27f0821-eed6-aef6-979d-6021dec00bf4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681F25582F8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d3c40c-9ab7-525d-d778-a2c4c1522588/test-blob-f27f0821-eed6-aef6-979d-6021dec00bf4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681F25582F8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d3c40c-9ab7-525d-d778-a2c4c1522588/test-blob-f27f0821-eed6-aef6-979d-6021dec00bf4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681F25582F8\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "M3yMCXJwigSIbaKlXt53gbyOa21ZVInftWBEKp2eeAuJskxeybGh6Mn0SZGg/EOioenhX+obMN/yrVQRLGBn6vWXG6ySGLgK7IOkZQr4PrkdoYi0vBggbYJtbBtdkLxojV6cCOCXEIkw1nNmd8rU+m6a9IrXsy3cd64qJKycrVzHO9isXDXYhZD/g+alufW3mXGtw5sxkNkxv5ExbezckykWnzvyKJ05wW762C9HN724cos67+rAlqr+epykpxikIu+8jhq5xXDUcwEsN7iq6YjTePtgoaM/VgmR860AlBpWVbU/iqmj/60aZnvolF7yVJEU0C4dQ4FLfTgRKNHD097n1uECal7e[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d3c40c-9ab7-525d-d778-a2c4c1522588/test-blob-f27f0821-eed6-aef6-979d-6021dec00bf4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "0bhXSD02/enL2upO4frPaw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681F2DD1E05\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d3c40c-9ab7-525d-d778-a2c4c1522588?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2029097703",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
