{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6762b25f-4354-f000-7bc5-0e62d3d69d4c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCA4D48DC6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6762b25f-4354-f000-7bc5-0e62d3d69d4c/test-blob-26b728f2-ec06-cdb6-56e2-5778cfe92826",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCA4EA866A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6762b25f-4354-f000-7bc5-0e62d3d69d4c/test-blob-26b728f2-ec06-cdb6-56e2-5778cfe92826",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCA4EA866A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6762b25f-4354-f000-7bc5-0e62d3d69d4c/test-blob-26b728f2-ec06-cdb6-56e2-5778cfe92826?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCA4EA866A\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "QLozBYeN66mox7tOO1jnYLilEQLNG82yPhA+cnvRaSrULGdO5gbhw+Rf2bd+LGhiydl/i28vDSXsgcd2Tnku116Reg7wmHmyw04dbkEWNBKo3KihUd27pB5BYmU/anRrMAFY7LJZcTFfzcggEZ/k1k20znLRjIaB1tXvrjYUc1jasj0/vUdgTmp2QoQUmpJ/XYsYipwBmqN71xbcasL6S1pvRl5hpBgFVIAHWkoCbDtCcFGq/Oi82RiaxOYwg+Sne/YppVQzHbhyEjYc+UBYeWrbmvpxUE5xsmxGx+Ay1dCbX95T2MfnDlKYN+qxoN/YQUt7VenqNiuouPLn7VbYQDxmgJlhBKCj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6762b25f-4354-f000-7bc5-0e62d3d69d4c/test-blob-26b728f2-ec06-cdb6-56e2-5778cfe92826",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCA502C942\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABAujMFh43rqajHu047WOdguKURAs0bzbI+ED5ye9FpKtQsZ07mBuHD5F/Zt34saGLJ2X+Lby8NJeyBx3ZOeS7XXpF6DvCYebLDTh1uQRY0EqjcqKFR3bukHkFiZT9qdGswAVjssllxMV/NyCARn+TWTbTOctGMhoHW1e+uNhRzWNqyPT+9R2BOanZChBSakn9dixiKnAGao3vXFtxqwvpLWm9GXmGkGAVUgAdaSgJsO0JwUar86LzZGJrE5jCD5Kd79imlVDMduHISNhz5QFh5atua+nFQTnGybEbH4DLV0Jtf3lPYx+cOUpg36rGg39hBS3tV6eo2K6i48uftVthAPGaAmWEEoKP0i6fZGGTAEoxuhpW3gOaxKbKrINT/Ify/961LIE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6762b25f-4354-f000-7bc5-0e62d3d69d4c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "259673695",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
