{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f997f5f3-8028-9130-4995-02390d7d68dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7C8D678134\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f997f5f3-8028-9130-4995-02390d7d68dd/test-blob-40dde962-b294-f061-ed0d-ebbfb633a440",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7C8D710CBD\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f997f5f3-8028-9130-4995-02390d7d68dd/test-blob-40dde962-b294-f061-ed0d-ebbfb633a440",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7C8D710CBD\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f997f5f3-8028-9130-4995-02390d7d68dd/test-blob-40dde962-b294-f061-ed0d-ebbfb633a440?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7C8D710CBD\"",
        "x-ms-date": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "VnzUo4UsLENZ7PEqNfzF9pbcnjAUHkMoAXKESEVBpbqWtd1PflugbbAl8K7gOgJSfHTFKa83gTc4q6ITqOP9GEY3k38edXc6PDCA7i2VSMZvMczRfHwKXzSlF9O5jMXMKNhnqaaDMwf9iux+t5IJo2Pbo3YXK5vJLDRLeF6kga9rs8ZVLZ8g7P3F0/GPi6ehm3Nw3ehOtfw8nXxyN7uoWQg9EwPMtHXDu7d4UliqOaCMqtzqNKTHHf3KGJAirbVCHHrpUnij1ef9rCIx1WOkkmPc5Y3evSVkdvYGApvloQ0BNjbdwOcn6NT17YeBlUeaJYYsRsgnZF5VhdyCndNLGAoVL58tx9J8[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f997f5f3-8028-9130-4995-02390d7d68dd/test-blob-40dde962-b294-f061-ed0d-ebbfb633a440",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7C8D7E4449\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABWfNSjhSwsQ1ns8So1/MX2ltyeMBQeQygBcoRIRUGlupa13U9+W6BtsCXwruA6AlJ8dMUprzeBNzirohOo4/0YRjeTfx51dzo8MIDuLZVIxm8xzNF8fApfNKUX07mMxcwo2GeppoMzB/2K7H63kgmjY9ujdhcrm8ksNEt4XqSBr2uzxlUtnyDs/cXT8Y+Lp6Gbc3Dd6E61/DydfHI3u6hZCD0TA8y0dcO7t3hSWKo5oIyq3Oo0pMcd/coYkCKttUIceulSeKPV5/2sIjHVY6SSY9zljd69JWR29gYCm+WhDQE2Nt3A5yfo1PXth4GVR5olhixGyCdkXlWF3IKd00sYChUvny3H0ny0/Ljo0J3i4K5r3BW5W0Ta0deHOgqlSwGq1HxsZq[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f997f5f3-8028-9130-4995-02390d7d68dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "964506119",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
