{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-962cad8b-3e3f-6cad-7c39-672e0efe4ff4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CAE2A3502\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-962cad8b-3e3f-6cad-7c39-672e0efe4ff4/test-blob-99c916fd-f42d-0b51-748c-e6d3fbbb8665",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CAE341ABC\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-962cad8b-3e3f-6cad-7c39-672e0efe4ff4/test-blob-99c916fd-f42d-0b51-748c-e6d3fbbb8665",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CAE341ABC\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-962cad8b-3e3f-6cad-7c39-672e0efe4ff4/test-blob-99c916fd-f42d-0b51-748c-e6d3fbbb8665?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CAE341ABC\"",
        "x-ms-date": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "My/yvaSvXetu+mxBRaOusx2NDBBpFOU6VretqWxYbHD61deP1l40cqCpzBSTBhrhDoDKN63yuR5Jt2ftAbR/FY78R2/LH92+WZlwwEfQp1CczJrsjTXDBxy5RR73RnHrKraGl76qFe+iC94TgvjWeBAWUDQZkodYOUBSEtq/xxIohZaQShCR8rerSYJXr4Uj4swO4PU90pcuLV1+VwMV40TL6/1iRS7/hV59bUkFAIm7LzANseYc67L+YhyyEpqzlmY+i8SHwJyeDluXv2ROKSzUwyjTBzJdrwBKZOMRTXLDydfixnXEM26Tb6KLhStOsDjv3U9y4I404NzEPVy4jMDo0/aMbGK3[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-962cad8b-3e3f-6cad-7c39-672e0efe4ff4/test-blob-99c916fd-f42d-0b51-748c-e6d3fbbb8665",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CAE410487\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAzL/K9pK9d6276bEFFo66zHY0MEGkU5TpWt62pbFhscPrV14/WXjRyoKnMFJMGGuEOgMo3rfK5Hkm3Z+0BtH8VjvxHb8sf3b5ZmXDAR9CnUJzMmuyNNcMHHLlFHvdGcesqtoaXvqoV76IL3hOC+NZ4EBZQNBmSh1g5QFIS2r/HEiiFlpBKEJHyt6tJglevhSPizA7g9T3Sly4tXX5XAxXjRMvr/WJFLv+FXn1tSQUAibsvMA2x5hzrsv5iHLISmrOWZj6LxIfAnJ4OW5e/ZE4pLNTDKNMHMl2vAEpk4xFNcsPJ1+LGdcQzbpNvoouFK06wOO/dT3LgjjTg3MQ9XLiMwOjT9oxsYrcPkLk/mI/SKdT7s6shbyNQ6Uit5ZgA9RHb4uKisT[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-962cad8b-3e3f-6cad-7c39-672e0efe4ff4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1780204747",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
