{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-978e3075-df65-ae2f-0dda-36d41ac7b391?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681EE332C54\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-978e3075-df65-ae2f-0dda-36d41ac7b391/test-blob-29f0a15f-cb8a-ef36-d84c-1e626b77c93e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681EE41B328\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-978e3075-df65-ae2f-0dda-36d41ac7b391/test-blob-29f0a15f-cb8a-ef36-d84c-1e626b77c93e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681EE41B328\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:38 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-978e3075-df65-ae2f-0dda-36d41ac7b391/test-blob-29f0a15f-cb8a-ef36-d84c-1e626b77c93e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681EE41B328\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Ce+ZnWO8/A1aGl3Lqyd3KMknolCzy2ussb4JTYqT/Dt2af1HS3Srdc0HjgpN0gmJeLR5T1zSFz6D7euksq+Cxh4hVUEpMN1UfCyDrD1gXt61gNTWGqzfpFK/w16JBsMdhMfsK33HX0jXJNIvT2sBIo4M7zHarKxyQrHvam1+y3ZpZSd1dDJh7SGM/vXZr1TmvaDPfBaRQ9gaeunM1/TaWFlcxulDi65bqwEQTq23mJNcCK3Mr05f1yJOW/pJlBYssaacfOhrozHyc9EVgfQqY+FVcM5HDqkK/O7H9TC0Ehbr45wHGxuq8WV72jt9SlYtI/cY9CRH5aP8kX/5o60APWG6Kp1YI0jF[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-978e3075-df65-ae2f-0dda-36d41ac7b391/test-blob-29f0a15f-cb8a-ef36-d84c-1e626b77c93e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681EEC249E5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "GkH0xC0GjCQ=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "Ce+ZnWO8/A1aGl3Lqyd3KMknolCzy2ussb4JTYqT/Dt2af1HS3Srdc0HjgpN0gmJeLR5T1zSFz6D7euksq+Cxh4hVUEpMN1UfCyDrD1gXt61gNTWGqzfpFK/w16JBsMdhMfsK33HX0jXJNIvT2sBIo4M7zHarKxyQrHvam1+y3ZpZSd1dDJh7SGM/vXZr1TmvaDPfBaRQ9gaeunM1/TaWFlcxulDi65bqwEQ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-978e3075-df65-ae2f-0dda-36d41ac7b391?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "565199716",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
