{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-087d7d8f-65c9-581a-9b96-5e9277e9ecde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D56E17C58\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-087d7d8f-65c9-581a-9b96-5e9277e9ecde/test-blob-9aacebc4-dbcf-5b15-ce45-e8763a0f17ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D56F1730E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-087d7d8f-65c9-581a-9b96-5e9277e9ecde/test-blob-9aacebc4-dbcf-5b15-ce45-e8763a0f17ab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D56F1730E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-087d7d8f-65c9-581a-9b96-5e9277e9ecde/test-blob-9aacebc4-dbcf-5b15-ce45-e8763a0f17ab?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D56F1730E\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OT6ZUAxliFYVWT8YAvnkAFkx1jtyDv\u002BWicn2RU/rT2b5cuc1AesgV7MhyYYkVBIv3\u002Bgioox8fys\u002BA8ZCbkMHKQnYHpASrv9tEH\u002BHUEV4cTW3x2Zmya3afPK79v0l3ehwGaB8SzWCHDDptJIN9S7mxZGRi6bcoV9b/qKdVrcBSDOWFjek\u002Byb/Nao2fBQbzYfD1TFrk1JBlHdAIEyT5MZ46Gxfdt72QclrkVb8piVLQDEb2YGGlbThVILAZNrabFDkvZOnvFaozZRnAAL7Re5R9eAaeApF8VO4fiFbNtzvkSUFF\u002BiRo4TbcgzsH5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-087d7d8f-65c9-581a-9b96-5e9277e9ecde/test-blob-9aacebc4-dbcf-5b15-ce45-e8763a0f17ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D570D116B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "rjF49PVdqFM=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "OT6ZUAxliFYVWT8YAvnkAFkx1jtyDv\u002BWicn2RU/rT2b5cuc1AesgV7MhyYYkVBIv3\u002Bgioox8fys\u002BA8ZCbkMHKQnYHpASrv9tEH\u002BHUEV4cTW3x2Zmya3afPK79v0l3ehwGaB8SzWCHDDptJIN9S7mxZGRi6bcoV9b/qKdVrcBSDOWFjek\u002Byb/Nao2fBQbzYfD1TFrk1JBlHd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-087d7d8f-65c9-581a-9b96-5e9277e9ecde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1948743137",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
