{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-831ae8f3-0da3-0f91-e297-237632710d10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC952750A39A01\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 14:58:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-831ae8f3-0da3-0f91-e297-237632710d10/test-blob-f41208ce-614f-d753-7160-a65dab7501e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC952750B36A7F\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 14:58:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-831ae8f3-0da3-0f91-e297-237632710d10/test-blob-f41208ce-614f-d753-7160-a65dab7501e1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC952750B36A7F\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 14:58:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 25 Jun 2024 14:58:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-831ae8f3-0da3-0f91-e297-237632710d10/test-blob-f41208ce-614f-d753-7160-a65dab7501e1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC952750B36A7F\u0022",
        "x-ms-date": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "V\u002B8Su2i\u002BHExQzXJqYHDI4LFifUD0kdo6WiDvSR9rvXkw38hY7ypYOtUwK2grqQnL2Kd7LRrI2cYV2GFHz9Mt5Q/4OYCnb/GGCUNqxGZxD7AXJHB375BeaAUCQxbJEGsCA0ZYMnCIJGi29SPXXRVgo8mwMKtitfV/mdB7pCzavfnXZ8AfGdw/jv8IwflthwrvoqBMGODAoE1Q2ZigDX882zgq//VUQIrtcaGrWvT7EhLFiwKMjaQYF8dzzz9Dn4CAy\u002BXBQocVmmEVX6c\u002BFUZZVMaF2oF8sE6TEecu4XFKqdEgKo4OOs\u002BLsPCgdi392QK[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-831ae8f3-0da3-0f91-e297-237632710d10/test-blob-f41208ce-614f-d753-7160-a65dab7501e1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC952750DAEFC9\u0022",
        "Last-Modified": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 25 Jun 2024 14:58:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABX7xK7aL4cTFDNcmpgcMjgsWJ9QPSR2jpaIO9JH2u9eTDfyFjvKlg61TAraCupCcvYp3stGsjZxhXYYUfP0y3lD/g5gKdv8YYJQ2rEZnEPsBckcHfvkF5oBQJDFskQawIDRlgycIgkaLb1I9ddFWCjybAwq2K19X\u002BZ0HukLNq9\u002BddnwB8Z3D\u002BO/wjB\u002BW2HCu\u002BioEwY4MCgTVDZmKANfzzbOCr/9VRAiu1xoata9PsSEsWLAoyNpBgXx3PPP0OfgIDL5cFChxWaYRVfpz4VRllUxoXagXywTpMR5y7hcUqp0SAqjg46z4uw8KB2Lf3ZAoEaenm\u002Bxf4EG5cuMZ/mufDLttUd6rdKGvf6KpDcOSCW[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-831ae8f3-0da3-0f91-e297-237632710d10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 14:58:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1962083190",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
