{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-378080b2-3612-906b-3d79-60436aac3ee2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694A92FE424\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-378080b2-3612-906b-3d79-60436aac3ee2/test-blob-a1a62bf3-3e71-d0df-f884-48efd4ddf035",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694A941EFF8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-378080b2-3612-906b-3d79-60436aac3ee2/test-blob-a1a62bf3-3e71-d0df-f884-48efd4ddf035",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694A941EFF8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-378080b2-3612-906b-3d79-60436aac3ee2/test-blob-a1a62bf3-3e71-d0df-f884-48efd4ddf035?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694A941EFF8\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "p4vjUk8Vhd0+HrzTMImLoQw0BXJMgfk7x2YeNIfTQ1ydvjt5txrcKHKCf8nRhr1UKqth6hkv+yWRqIro91BVattfNnFNEeryV93/yQIwaUGoygrccVhDbcMV6A+Q9DAiLRTuck9LBhjAb5M7LzEjYT5IQCxGePiCG8iuOCjaYmOs3ZztQfbxXMTxGwLECD6R8ofQR7ME3LQca1aHnc3w5g0wj1GVNR9HVuRoVFz1vhOKHEahCRqvqAHn0dWgar/2ATX1lHjs/LxnifHPm4dXJq1D/YCHT93ygOZPrWNKp+wkcVMnACmanSCJOYAp3wx6kKonXGw+b7JYAhOSnE5ZHeEEqik0LyaE[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-378080b2-3612-906b-3d79-60436aac3ee2/test-blob-a1a62bf3-3e71-d0df-f884-48efd4ddf035",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:08 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694A95CA8A0\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:17:08 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:17:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:17:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACni+NSTxWF3T4evNMwiYuhDDQFckyB+TvHZh40h9NDXJ2+O3m3GtwocoJ/ydGGvVQqq2HqGS/7JZGoiuj3UFVq2182cU0R6vJX3f/JAjBpQajKCtxxWENtwxXoD5D0MCItFO5yT0sGGMBvkzsvMSNhPkhALEZ4+IIbyK44KNpiY6zdnO1B9vFcxPEbAsQIPpHyh9BHswTctBxrVoedzfDmDTCPUZU1H0dW5GhUXPW+E4ocRqEJGq+oAefR1aBqv/YBNfWUeOz8vGeJ8c+bh1cmrUP9gIdP3fKA5k+tY0qn7CRxUycAKZqdIIk5gCnfDHqQqidcbD5vslgCE5KcTlkd4QSqKTQvJoSoYF/9FVzJodrVHbkiSoDmAqDP/RYIANIwHJ8kNe[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-378080b2-3612-906b-3d79-60436aac3ee2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:17:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1250663635",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
