{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9bf889fc-7642-51cc-e566-a9d09b2e2fe5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D55A4155BD\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9bf889fc-7642-51cc-e566-a9d09b2e2fe5/test-blob-598da86d-be0c-b389-a505-84ebb41c6a13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D55A4CA36A\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9bf889fc-7642-51cc-e566-a9d09b2e2fe5/test-blob-598da86d-be0c-b389-a505-84ebb41c6a13",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D55A4CA36A\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9bf889fc-7642-51cc-e566-a9d09b2e2fe5/test-blob-598da86d-be0c-b389-a505-84ebb41c6a13?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D55A4CA36A\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "IcBOKV26rbKoo7SQzVPYNszkmGEnDk7a4MKfaG2hk3/i51e3YG9nfYtVd/JZfSzofKVy285tmhJxdEmbG0VFBxA0ruX8IdZcfRrW0pZbgGKVtuzHL7exdE1EResmzGJGD3DiJc9G61rOFl60l8h8FfPmBWRZfdhYgzmYuNvrNbC3j8IleVuTT8uR+BlZ/d2Exy/4P8b+7ZKYiqGVrTN/4+Ct/AcGVpyYU7aZyIS+/4VcE/Cr8/bpuaIvjO65/qGXERU4qwDVfnCSX+wQZSUN2YscOZpC0/DqxENl1squ3lUVAbZvhlSEhpR/GJMJ2VR9IbNjncQGVD4kTue9cKim5IGX+2NvnlM2[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9bf889fc-7642-51cc-e566-a9d09b2e2fe5/test-blob-598da86d-be0c-b389-a505-84ebb41c6a13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D55A5A7690\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAhwE4pXbqtsqijtJDNU9g2zOSYYScOTtrgwp9obaGTf+LnV7dgb2d9i1V38ll9LOh8pXLbzm2aEnF0SZsbRUUHEDSu5fwh1lx9GtbSlluAYpW27Mcvt7F0TURF6ybMYkYPcOIlz0brWs4WXrSXyHwV8+YFZFl92FiDOZi42+s1sLePwiV5W5NPy5H4GVn93YTHL/g/xv7tkpiKoZWtM3/j4K38BwZWnJhTtpnIhL7/hVwT8Kvz9um5oi+M7rn+oZcRFTirANV+cJJf7BBlJQ3Zixw5mkLT8OrEQ2XWyq7eVRUBtm+GVISGlH8YkwnZVH0hs2OdxAZUPiRO571wqKbkgZf7Y2+eUzaXswXDul3g6u7ntBZKQZAOrHdKN23GFezZNBFy3v[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9bf889fc-7642-51cc-e566-a9d09b2e2fe5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1262128986",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
