{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7e6852f3-f3ce-a4cc-4fa2-5144961f93fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCA5DB2726\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7e6852f3-f3ce-a4cc-4fa2-5144961f93fa/test-blob-5b7b9d39-d5e0-8b5b-378c-dc634e7b4558",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCA5F342F0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7e6852f3-f3ce-a4cc-4fa2-5144961f93fa/test-blob-5b7b9d39-d5e0-8b5b-378c-dc634e7b4558",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCA5F342F0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7e6852f3-f3ce-a4cc-4fa2-5144961f93fa/test-blob-5b7b9d39-d5e0-8b5b-378c-dc634e7b4558?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCA5F342F0\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NMicPL+J07wdLe1KdGsFerHXnwIPopPA7hASChK8Y4jamizXOLS6GsBS0zjc0b4eIKnHAGmm1JE0206ud8mqYMplcNo+LUH8HYRCvc9b5B1S9Olo9WIeM8Wbol1mDKP3qHJudmDk4PNoyuPlZBfC2fcwXILfQWtnRz0UoovjlRDgSxRc7W28bRT2ACp/OM+u2clmNrAhF2YHBi8jzz1nhDTSBRgCZeyJc+5u6UFA6A9uZsnCfV9gvzOuVeY+mZ3Xjnv1rDO2rHTc3MLBsi4lxh0ftWlzpQfVckbkUw8FStlQl1rFSjvbt7pV5aCcngwFiY/IHuQ0Y+l0IDrt0Vhk15HocRvTX3vi[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7e6852f3-f3ce-a4cc-4fa2-5144961f93fa/test-blob-5b7b9d39-d5e0-8b5b-378c-dc634e7b4558",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCA60E1DE3\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA0yJw8v4nTvB0t7Up0awV6sdefAg+ik8DuEBIKErxjiNqaLNc4tLoawFLTONzRvh4gqccAaabUkTTbTq53yapgymVw2j4tQfwdhEK9z1vkHVL06Wj1Yh4zxZuiXWYMo/eocm52YOTg82jK4+VkF8LZ9zBcgt9Ba2dHPRSii+OVEOBLFFztbbxtFPYAKn84z67ZyWY2sCEXZgcGLyPPPWeENNIFGAJl7Ilz7m7pQUDoD25mycJ9X2C/M65V5j6ZndeOe/WsM7asdNzcwsGyLiXGHR+1aXOlB9VyRuRTDwVK2VCXWsVKO9u3ulXloJyeDAWJj8ge5DRj6XQgOu3RWGTXkehxG9Nfe+JE/a8ev2Y40znfyoA8LPUcM3FRKgDu5mHxDg6zLP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7e6852f3-f3ce-a4cc-4fa2-5144961f93fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:41 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1613508845",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
