{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e0eb5b53-a970-ba7f-448b-4163926c28b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF0BE45664\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e0eb5b53-a970-ba7f-448b-4163926c28b7/test-blob-12d44cea-4788-2327-38ba-600887d30f9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF0C08A3A8\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e0eb5b53-a970-ba7f-448b-4163926c28b7/test-blob-12d44cea-4788-2327-38ba-600887d30f9e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF0C08A3A8\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e0eb5b53-a970-ba7f-448b-4163926c28b7/test-blob-12d44cea-4788-2327-38ba-600887d30f9e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBAEF0C08A3A8\"",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "M3Vk3SQVC9JGa1P9vWTI9s0jeNCSje3gbgthmX1eZ5agduZ86d/51bYHVF4vWCZlgAzo9X4B46aHg28Ys3FU5wO8XEd9SwztKaIZijmOsRXl/BlwdnIYnpJA9WVw4CJFs21acvve5zT/+svb6Fhs+dJZM7dY43GRo720PFanfUmA1NfLMz4aBhTkcHumPbY50/uSF61q7M/8yM49KareWH2CWxSBocWUPiyic3L162YHemlaFGabFecHz2pv3d1qBhj+JOGhuDI1/tiAx3hcBt1nNa9Bg0QX5kUsetFaJGFPOG1a98aEZcI2JBWNG05uqsiNB6cuKILT5j2cdD1g29l3MY8LAg8W[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e0eb5b53-a970-ba7f-448b-4163926c28b7/test-blob-12d44cea-4788-2327-38ba-600887d30f9e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF0C3B4C79\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "Wt1E0JmW3/4=",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "M3Vk3SQVC9JGa1P9vWTI9s0jeNCSje3gbgthmX1eZ5agduZ86d/51bYHVF4vWCZlgAzo9X4B46aHg28Ys3FU5wO8XEd9SwztKaIZijmOsRXl/BlwdnIYnpJA9WVw4CJFs21acvve5zT/+svb6Fhs+dJZM7dY43GRo720PFanfUmA1NfLMz4aBhTkcHumPbY50/uSF61q7M/8yM49KareWH2CWxSBocWUPiyi[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e0eb5b53-a970-ba7f-448b-4163926c28b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1579265932",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
