{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f80abffd-78ad-615d-b29d-cb0ca5660635?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB036BCB0F54\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f80abffd-78ad-615d-b29d-cb0ca5660635/test-blob-e615487d-d1b3-b122-cd7d-8f24583c61f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB036BDDFA02\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f80abffd-78ad-615d-b29d-cb0ca5660635/test-blob-e615487d-d1b3-b122-cd7d-8f24583c61f2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB036BDDFA02\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:17:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f80abffd-78ad-615d-b29d-cb0ca5660635/test-blob-e615487d-d1b3-b122-cd7d-8f24583c61f2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB036BDDFA02\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Bv8YrJ9ORiX8/9JrhdH4Wc64Mr80GvjzfSEJ12k25yC4dIZpQCJzi58N7z36nW6FthW+a9PJSesHJC99RW+7xRiysxFLjxmrRKYgJiu6+d+zgyFUeHxN7yqaYRvy9UYvUikkSOpdOib8EiYsqSPATCpQysFOZk2cZMPmsC39uE9g8NQBlbH0Vkn6WGVVIUYH2hTwoiqF4evciOMnd4n5/lnWy7lPvrd5W3R4VA7nRkN93tYYDBYk2w7oJQ3Ozd6/AFkLflWNuBxdd0a2DI3c9EGfqZiz4fJDsvCqZpipq42VuVO128fu7yW6upXPbc6BCzDLLiNFCx9myMxl4lKDs8y4IVM5Jxl5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f80abffd-78ad-615d-b29d-cb0ca5660635/test-blob-e615487d-d1b3-b122-cd7d-8f24583c61f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB036BFA34B1\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:17:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAG/xisn05GJfz/0muF0fhZzrgyvzQa+PN9IQnXaTbnILh0hmlAInOLnw3vPfqdboW2Fb5r08lJ6wckL31Fb7vFGLKzEUuPGatEpiAmK7r537ODIVR4fE3vKpphG/L1Ri9SKSRI6l06JvwSJiypI8BMKlDKwU5mTZxkw+awLf24T2Dw1AGVsfRWSfpYZVUhRgfaFPCiKoXh69yI4yd3ifn+WdbLuU++t3lbdHhUDudGQ33e1hgMFiTbDuglDc7N3r8AWQt+VY24HF13RrYMjdz0QZ+pmLPh8kOy8KpmmKmrjZW5U7Xbx+7vJbq6lc9tzoELMMsuI0ULH2bIzGXiUoOzzLghUzknGXmxunL5Jl1zRCEpWmjefWpPrTROEvuJDNM3BsgXTH[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f80abffd-78ad-615d-b29d-cb0ca5660635?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1129627229",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
