{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-461899d2-c5c8-68c5-c1ea-65d852bb8ffa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB64A6C146D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-461899d2-c5c8-68c5-c1ea-65d852bb8ffa/test-blob-4c4bbafa-7e2d-9ead-cdc1-7e42fb0bf984",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB64ACF329D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-461899d2-c5c8-68c5-c1ea-65d852bb8ffa/test-blob-4c4bbafa-7e2d-9ead-cdc1-7e42fb0bf984",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB64ACF329D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-461899d2-c5c8-68c5-c1ea-65d852bb8ffa/test-blob-4c4bbafa-7e2d-9ead-cdc1-7e42fb0bf984?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB64ACF329D\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "ERUZNq/hexhpjvhWvXacKMMyHz+YuW8jKWywXbjko3WBaD22f/GD15YKbfwkBoxxJNiIs7iwB1im9QxDMR5fhOuC1VU45anRr0iojkxy/iLgPzngW++90GDlD4nlQKZ4qugRoTE2OD4vtgRwB3gMNPfpYvHlfyj7xQX0U9Uf7G+iMORjYV3xqgb6sKXrTcjo2NuS+920kirAFdwrQeRoD8qUzteTqNKZ97jr686DEHg8DHr6jPCR7Z66o0uAxWkhkaDbVn7xVDAJ+AQlyadbPARk7zRqboPZA+A42QWGGTFPyVktqLr5SrdK8ZPsbCT2XmZHG9Y0tyMdAVKeuXsqgt/S1v9NLZRJ[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-461899d2-c5c8-68c5-c1ea-65d852bb8ffa/test-blob-4c4bbafa-7e2d-9ead-cdc1-7e42fb0bf984",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB64ADC6A32\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAARFRk2r+F7GGmO+Fa9dpwowzIfP5i5byMpbLBduOSjdYFoPbZ/8YPXlgpt/CQGjHEk2IizuLAHWKb1DEMxHl+E64LVVTjlqdGvSKiOTHL+IuA/OeBb773QYOUPieVApniq6BGhMTY4Pi+2BHAHeAw09+li8eV/KPvFBfRT1R/sb6Iw5GNhXfGqBvqwpetNyOjY25L73bSSKsAV3CtB5GgPypTO15Oo0pn3uOvrzoMQeDwMevqM8JHtnrqjS4DFaSGRoNtWfvFUMAn4BCXJp1s8BGTvNGpug9kD4DjZBYYZMU/JWS2ouvlKt0rxk+xsJPZeZkcb1jS3Ix0BUp65eyqC39LW/00tlElrpX0ffe/sl7tBep4//VsaETYQpmdakTwgbrQalS[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-461899d2-c5c8-68c5-c1ea-65d852bb8ffa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "961848184",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
