{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-135dc7fe-dd59-02d8-8f90-e762c4800804?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0926BD6FCE\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-135dc7fe-dd59-02d8-8f90-e762c4800804/test-blob-98f8406b-a570-4225-479d-6db7025ab81b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0926CCBE52\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-135dc7fe-dd59-02d8-8f90-e762c4800804/test-blob-98f8406b-a570-4225-479d-6db7025ab81b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D0926CCBE52\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-135dc7fe-dd59-02d8-8f90-e762c4800804/test-blob-98f8406b-a570-4225-479d-6db7025ab81b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC4D0926CCBE52\u0022",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JqOJII2WIBiAxYbpWouCUtuyKbGlR9JLVGYjrZpI/s4ImSbctJSnovHCQG0exyO7XPkj6JW2Q97RPcsncnN\u002BN8a34cFlpZ1HCofA4gZkLYxCZ1ChJBU4UVVHCnbIgC99RAimZuZiVrZb3N0O9WHXbQ8/5Asj3ROxfo9rHZomfopYQ57\u002Bvsem4BGZRUc4Klz0cJ1niZskWWb19edW9jkcNV1TtbHC2a9ImAP5iZjMeVQyd638v/XuNOk4CcjfUOrXfQ/p5HSrMZbuHvCYKtDNKXyTI3\u002BMH3VoZYHHitDmaUgZIguI4pTfh0UWDaAFVgkZauBMTCxqS[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-135dc7fe-dd59-02d8-8f90-e762c4800804/test-blob-98f8406b-a570-4225-479d-6db7025ab81b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D0926E7722B\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "3LOcaEi9HWA=",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "JqOJII2WIBiAxYbpWouCUtuyKbGlR9JLVGYjrZpI/s4ImSbctJSnovHCQG0exyO7XPkj6JW2Q97RPcsncnN\u002BN8a34cFlpZ1HCofA4gZkLYxCZ1ChJBU4UVVHCnbIgC99RAimZuZiVrZb3N0O9WHXbQ8/5Asj3ROxfo9rHZomfopYQ57\u002Bvsem4BGZRUc4Klz0cJ1niZskWWb19edW9jkcNV1Ttb[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-135dc7fe-dd59-02d8-8f90-e762c4800804?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1203700701",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
