{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1899639c-5425-7216-8a4f-9618b577f049?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0391B755AC\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1899639c-5425-7216-8a4f-9618b577f049/test-blob-85bbb847-3a6b-0c5f-2f48-0f2a82714cf6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0391C64AF6\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1899639c-5425-7216-8a4f-9618b577f049/test-blob-85bbb847-3a6b-0c5f-2f48-0f2a82714cf6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0391C64AF6\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1899639c-5425-7216-8a4f-9618b577f049/test-blob-85bbb847-3a6b-0c5f-2f48-0f2a82714cf6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB0391C64AF6\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NDNu7uRDE7MO9zOjIIo5Y5RPx4ECLI1l5sk7kzW+VvSpalYEuMxiDSDBtcTSm/2u3E4C/ChXxwilCAcbCH9+UKA++bUzNavH7bpgQHbJk0rLjLfmu1rMUaJOXrDERwSgQ2UjlKFHeqejOg9u94aR3HW9T3vIl5RGcqgT5db6A6W1v/0Qpf6ogxEPQoFLXVocvYE6B/eJ2KzR3SH5NJXRqTdpuDeJgDd2FcxpuVQT+hRN9ihUwPuuLOdQP8fcrk58PplJ4qUjkjxKw/ErHx5XveMNqz1tfOg7u4xPOUFwmWZ97Xq6yRhvKmTsCvwJggzI+ILkzwMQDsGwDicY01n62imLrjKjnfTK[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1899639c-5425-7216-8a4f-9618b577f049/test-blob-85bbb847-3a6b-0c5f-2f48-0f2a82714cf6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0391E21053\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA0M27u5EMTsw73M6MgijljlE/HgQIsjWXmyTuTNb5W9KlqVgS4zGINIMG1xNKb/a7cTgL8KFfHCKUIBxsIf35QoD75tTM1q8ftumBAdsmTSsuMt+a7WsxRok5esMRHBKBDZSOUoUd6p6M6D273hpHcdb1Pe8iXlEZyqBPl1voDpbW//RCl/qiDEQ9CgUtdWhy9gToH94nYrNHdIfk0ldGpN2m4N4mAN3YVzGm5VBP6FE32KFTA+64s51A/x9yuTnw+mUnipSOSPErD8SsfHle94w2rPW186Du7jE85QXCZZn3terrJGG8qZOwK/AmCDMj4guTPAxAOwbAOJxjTWfraKYuuMqOd9MqegdmBcuwxOICGQL+LymNs3rkJu/FWVgvxMNJ+1N[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1899639c-5425-7216-8a4f-9618b577f049?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "416306091",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
