{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ac4803a3-d1a8-4c57-b0b0-54980a82b372?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD619CCCC81A42\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ac4803a3-d1a8-4c57-b0b0-54980a82b372/test-blob-1e09f444-5398-977c-d398-03001bb70bb2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD619CCCCFB52C\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ac4803a3-d1a8-4c57-b0b0-54980a82b372/test-blob-1e09f444-5398-977c-d398-03001bb70bb2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD619CCCCFB52C\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ac4803a3-d1a8-4c57-b0b0-54980a82b372/test-blob-1e09f444-5398-977c-d398-03001bb70bb2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD619CCCCFB52C\"",
        "x-ms-date": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "WpuJ2AnhwFy6ejEaoJEWk+sb0iSV5NM/Aw46kDB9ENgqiGuak+ww4yWQFSQo+DIswIPhoc8+E3XIStX6pi8rPWlY7xgmfAD/6+7/Bc+uFwrcDtCtm28J63X10UgWNT32Zde6zwkaBUOC4rbgPw2mGjPKHpdefqH6TwSiMaq36LWxCZ/380cBwQmMKrm5KKxnTrcVTBeml+Y2v38Fd9OZy/oALzVurybryVyN0lPnQSdXO+PzopueC3K4wTPH/Eo181+/uPh2+Z+RKYK7GMWTTn5YrTzwpSheYiTDte7yJMwSV970KIku4UFEYXkZ4vKtJXK1b04NRU02YVbUs0SwngW1qcDmnib1[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ac4803a3-d1a8-4c57-b0b0-54980a82b372/test-blob-1e09f444-5398-977c-d398-03001bb70bb2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD619CCCDC9EF3\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABam4nYCeHAXLp6MRqgkRaT6xvSJJXk0z8DDjqQMH0Q2CqIa5qT7DDjJZAVJCj4MizAg+Ghzz4TdchK1fqmLys9aVjvGCZ8AP/r7v8Fz64XCtwO0K2bbwnrdfXRSBY1PfZl17rPCRoFQ4LituA/DaYaM8oel15+ofpPBKIxqrfotbEJn/fzRwHBCYwqubkorGdOtxVMF6aX5ja/fwV305nL+gAvNW6vJuvJXI3SU+dBJ1c74/Oim54LcrjBM8f8SjXzX7+4+Hb5n5EpgrsYxZNOflitPPClKF5iJMO17vIkzBJX3vQoiS7hQURheRni8q0lcrVvTg1FTTZhVtSzRLCeBbWpwOaeJvUqzPqsQ69FfzEWj3s9tH4EEpC+xjJZLv2Tw3RjOT[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ac4803a3-d1a8-4c57-b0b0-54980a82b372?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:33:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1107707772",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
