{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c4a3c009-b5c1-b4a0-493d-f589634cd0e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF0E88EA8A\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c4a3c009-b5c1-b4a0-493d-f589634cd0e7/test-blob-fc99dc1d-ca6a-9e78-2cde-878853dedbec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAEF0E978C44\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c4a3c009-b5c1-b4a0-493d-f589634cd0e7/test-blob-fc99dc1d-ca6a-9e78-2cde-878853dedbec",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF0E978C44\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c4a3c009-b5c1-b4a0-493d-f589634cd0e7/test-blob-fc99dc1d-ca6a-9e78-2cde-878853dedbec?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBAEF0E978C44\"",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "IIgwEhFeKKp/vnYfcBCW//NOYKsM8+82C/Ui0RFPZrBcOW+VGTeVy4+VXDmLcR6HIk39MD2Z/yyZ+QccO1eZL1jFwzagAOW7uZUcdpe1qprWm6/DUjVywzpC/CAweJA4/Czhxa3n5yFnQXeofIiV405sRqCn1d0iUv/8XQTFikAF5Hlr1OXs7rONWxC+ykaxrRjRwzHvkCdOvnKt64kdobY2o5gPKg5pgFfsGnnMZIi5SrDr9MYOFVNRHBZyPgIpcLpahyatooMKaEPaA3auglnq9KHZMa3vJ45EvQ3490JUwqm/ct1hC6gt4YuDNBHdo5m8h0lhUD8Mal+YaeR1EXAAhUDN7hB8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c4a3c009-b5c1-b4a0-493d-f589634cd0e7/test-blob-fc99dc1d-ca6a-9e78-2cde-878853dedbec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:49 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBAEF0EB28E4C\"",
        "Last-Modified": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 16:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAgiDASEV4oqn++dh9wEJb/805gqwzz7zYL9SLREU9msFw5b5UZN5XLj5VcOYtxHociTf0wPZn/LJn5Bxw7V5kvWMXDNqAA5bu5lRx2l7Wqmtabr8NSNXLDOkL8IDB4kDj8LOHFrefnIWdBd6h8iJXjTmxGoKfV3SJS//xdBMWKQAXkeWvU5ezus41bEL7KRrGtGNHDMe+QJ06+cq3riR2htjajmA8qDmmAV+waecxkiLlKsOv0xg4VU1EcFnI+AilwulqHJq2igwpoQ9oDdq6CWer0odkxre8njkS9Dfj3QlTCqb9y3WELqC3hi4M0Ed2jmbyHSWFQPwxqX5hp5HURcACFQM3uEHyI6PmsTyFs83xnGXM7b/jzcWqzCH3JosO3zxuCr9[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c4a3c009-b5c1-b4a0-493d-f589634cd0e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 16:51:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1156438441",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
