{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7a18f257-4f47-f728-3ba8-9835b45130de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6497DFA47\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7a18f257-4f47-f728-3ba8-9835b45130de/test-blob-4356e91f-6841-9a39-69ce-361255941838",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB649E17116\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7a18f257-4f47-f728-3ba8-9835b45130de/test-blob-4356e91f-6841-9a39-69ce-361255941838",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB649E17116\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7a18f257-4f47-f728-3ba8-9835b45130de/test-blob-4356e91f-6841-9a39-69ce-361255941838?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB649E17116\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "JCPVsJzyXafF+yGU3bo5SaagSLPHWB8VgZx6l0wwA2xjvkqaHVFb+aPiEcNfUdvxuRpWeaOc7MsDvy8AeMValfe1MR9wnitURE8P5Edcti/AiN0y2onJx9J+ll0iW4HdiHvLqSC8gRruATVTjAeDpgn/P+/nKLtt62pM8QjOMejNMlzMkQwPBAfDQ9hUdTrK+vBTIxyR9V+/Xb62b48SIM9MhlqrtxX97zvnJOTjGHUvgvYYeg7MPDz8DDNNWZR4sSMICO/gH0PaVTTgqdF73ERIhu2Y+qbBf0oerqrhr5Wmb3LB2g+GTmKzPSTa7JJqgS/vBdKn37d8R4mlwnGY+aaeOTpeuQI0[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7a18f257-4f47-f728-3ba8-9835b45130de/test-blob-4356e91f-6841-9a39-69ce-361255941838",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB649EEA8AB\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAkI9WwnPJdp8X7IZTdujlJpqBIs8dYHxWBnHqXTDADbGO+SpodUVv5o+IRw19R2/G5GlZ5o5zsywO/LwB4xVqV97UxH3CeK1RETw/kR1y2L8CI3TLaicnH0n6WXSJbgd2Ie8upILyBGu4BNVOMB4OmCf8/7+cou23rakzxCM4x6M0yXMyRDA8EB8ND2FR1Osr68FMjHJH1X79dvrZvjxIgz0yGWqu3Ff3vO+ck5OMYdS+C9hh6Dsw8PPwMM01ZlHixIwgI7+AfQ9pVNOCp0XvcREiG7Zj6psF/Sh6uquGvlaZvcsHaD4ZOYrM9JNrskmqBL+8F0qfft3xHiaXCcZj5pp45Ol65AjTCOIrlvIHmkrezLXvyqsP/j7tEkobgi/EaQ348sl[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-7a18f257-4f47-f728-3ba8-9835b45130de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2022039451",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
