{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dee19e36-ee87-a4c5-6d51-359eb123682d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CA89BEAA5\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dee19e36-ee87-a4c5-6d51-359eb123682d/test-blob-aed2d0e9-54d1-b0c6-4dd3-5e8a8c2b0c52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CA8A55F64\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dee19e36-ee87-a4c5-6d51-359eb123682d/test-blob-aed2d0e9-54d1-b0c6-4dd3-5e8a8c2b0c52",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CA8A55F64\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dee19e36-ee87-a4c5-6d51-359eb123682d/test-blob-aed2d0e9-54d1-b0c6-4dd3-5e8a8c2b0c52?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CA8A55F64\"",
        "x-ms-date": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "wtL0h+1E34t4fs6aqHKOXXzHjYP51c4vzAS4WeKxfDBH05BDG02BzE2dGuCK0USSz2v2H1IheOwExbrojIWpxgGeUtXiSkEvRcA1XLvtpfvAJYl3u13eJVqjP1aSmEDI9FPf635vsIQpxtmR7BwxFh++KGb7Mgujvyx6PgvrnK2AbWdoDbl9UXUFTfSETTk+cig21HDZzMFHOytR9HF5PiorEH60yAhmQdbx9uQXHnLzO8zjtMg8p6GmINKNK1wDiw7KWDy7iakf0JKZ59XcMBy5XrillYph72ncDqg22BV67mrVTMY2N7EixOM2o7/Lye+11M2jXfaEaWnT3nsB6Pd9H/lqBuRW[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dee19e36-ee87-a4c5-6d51-359eb123682d/test-blob-aed2d0e9-54d1-b0c6-4dd3-5e8a8c2b0c52",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CA8B27014\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADC0vSH7UTfi3h+zpqoco5dfMeNg/nVzi/MBLhZ4rF8MEfTkEMbTYHMTZ0a4IrRRJLPa/YfUiF47ATFuuiMhanGAZ5S1eJKQS9FwDVcu+2l+8AliXe7Xd4lWqM/VpKYQMj0U9/rfm+whCnG2ZHsHDEWH74oZvsyC6O/LHo+C+ucrYBtZ2gNuX1RdQVN9IRNOT5yKDbUcNnMwUc7K1H0cXk+KisQfrTICGZB1vH25BcecvM7zOO0yDynoaYg0o0rXAOLDspYPLuJqR/Qkpnn1dwwHLleuKWVimHvadwOqDbYFXruatVMxjY3sSLE4zajv8vJ77XUzaNd9oRpadPeewHo930f+WoG5FaCJgeD0aYrS6kRRbiBBEfWkHRR41xiWTYh2+y4hM[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dee19e36-ee87-a4c5-6d51-359eb123682d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1945376452",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
