{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-106c8819-c731-eba5-20a7-fa09b2908f94?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681F3301024\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-106c8819-c731-eba5-20a7-fa09b2908f94/test-blob-465c1356-cf09-61ee-a5d0-409a42073635",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681F33CE915\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-106c8819-c731-eba5-20a7-fa09b2908f94/test-blob-465c1356-cf09-61ee-a5d0-409a42073635",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681F33CE915\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-106c8819-c731-eba5-20a7-fa09b2908f94/test-blob-465c1356-cf09-61ee-a5d0-409a42073635?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681F33CE915\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4PGUG9t8YLKkuGDJysi3pxf/E0kpA//LRirLe6L9xnCx9/tC5XQfegi059wlaNp4PB3P7Sxs293yydSxsOQPpvLvF9PNdcGi4JhBdRsipd5QUz+ELthERRsdTxufbskjpEHqNVEGqsZbLQ2TKmbB0CP2YV2li3cZq9G3sCWmAnLPHtDaN3CMSah4KAHLsRq1XH/3qA1sfhnJ0Yp/T/qgtSqbwwyV5pmzahi0LGJ2Tfm2AlOmrllkY6C2EGXlDfmu13PXL+0OH3XmRD71t1G2U4OQyEym+gfQNmBs39YzzV0eBVXvnx0LqOLewGobb6tO/73iVUStB91sBvmNoUCfsnbh17H8x7Rm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-106c8819-c731-eba5-20a7-fa09b2908f94/test-blob-465c1356-cf09-61ee-a5d0-409a42073635",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681F3557810\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:39:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "C7j6bFfR7F8=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:39:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "4PGUG9t8YLKkuGDJysi3pxf/E0kpA//LRirLe6L9xnCx9/tC5XQfegi059wlaNp4PB3P7Sxs293yydSxsOQPpvLvF9PNdcGi4JhBdRsipd5QUz+ELthERRsdTxufbskjpEHqNVEGqsZbLQ2TKmbB0CP2YV2li3cZq9G3sCWmAnLPHtDaN3CMSah4KAHLsRq1XH/3qA1sfhnJ0Yp/T/qgtSqbwwyV5pmzahi0[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-106c8819-c731-eba5-20a7-fa09b2908f94?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:39:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "116483732",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
