{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f0b1fff-402a-3d03-c201-edaee7d50a60?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B0E0C858\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f0b1fff-402a-3d03-c201-edaee7d50a60/test-blob-e125702e-b8ea-412a-ab39-6ebb90205f8c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B0E7E200\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:26.9597184Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f0b1fff-402a-3d03-c201-edaee7d50a60/test-blob-e125702e-b8ea-412a-ab39-6ebb90205f8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B0E7E200\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:26.9597184Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f0b1fff-402a-3d03-c201-edaee7d50a60/test-blob-e125702e-b8ea-412a-ab39-6ebb90205f8c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22B0E7E200\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ywuQ6Lh4jBarqljQDWjQcDoir9HrQuRM+DEiPOBB3Olw/9Bgwd4ShYjSHNERC9NuAZf4YmwYR4knQ++GVlA2as1vXw6YcK9bDypIGSUSOu1dsztJSHl8WLhHOX3ujC84m7IDoqvF1pHnnFNCzy1jFAgCKaMV7SFT8gdWUDYxbYP7EH1yD5hCmNypYasmOoiK4yV07GOLI66Rr7Cjb4Vati/PR7+w8QVwwJDGa4x1Lbd+y20RvIAgb+zP4F/onihWT6p7VvLJ2vEgBCzSxbghG4L4JaQYSfmvr9jS4RCliCJocBzh+dbFtPF78LhUTqozrcXc73iEPgWxzKca9/jgenwJaVWcPyGs[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f0b1fff-402a-3d03-c201-edaee7d50a60/test-blob-e125702e-b8ea-412a-ab39-6ebb90205f8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B0F236AB\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:26.9597184Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADLC5DouHiMFquqWNANaNBwOiKv0etC5Ez4MSI84EHc6XD/0GDB3hKFiNIc0REL024Bl/hibBhHiSdD74ZWUDZqzW9fDphwr1sPKkgZJRI67V2zO0lIeXxYuEc5fe6MLzibsgOiq8XWkeecU0LPLWMUCAIpoxXtIVPyB1ZQNjFtg/sQfXIPmEKY3KlhqyY6iIrjJXTsY4sjrpGvsKNvhVq2L89Hv7DxBXDAkMZrjHUtt37LbRG8gCBv7M/gX+ieKFZPqntW8sna8SAELNLFuCEbgvglpBhJ+a+v2NLhEKWIImhwHOH51sW08XvwuFROqjOtxdzveIQ+BbH[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5f0b1fff-402a-3d03-c201-edaee7d50a60?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1820500904",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
