{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94c449bb-650b-3698-74b1-ce5bbdb2c3eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEEF9745810\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94c449bb-650b-3698-74b1-ce5bbdb2c3eb/test-blob-02097dfd-9e2b-a2a4-6c3e-01827280371b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEEF9840CC4\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94c449bb-650b-3698-74b1-ce5bbdb2c3eb/test-blob-02097dfd-9e2b-a2a4-6c3e-01827280371b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEEF9840CC4\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94c449bb-650b-3698-74b1-ce5bbdb2c3eb/test-blob-02097dfd-9e2b-a2a4-6c3e-01827280371b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FEEF9840CC4\u0022",
        "x-ms-date": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "cb64O0EHgA2nUd89az3\u002BZrpjiaj6C/DbyYNJxPKa0aA3/\u002Bp5VbopypSpEKnv1VC6T1RNPIrtAGXO3XG\u002BvrwbDX8\u002BBmtShRD/Or8UUPtH7PQzjnSdTJUVSf\u002BEqndJawvYjgIpsM7kZ8pDTQHL2a9qh/F8ii9HfcDqKbxsztuYts\u002BzO8L4HTsmTieqWf6TSnBPGSOGzODckRBBP4YRd5jvq5YyF53tcmm1VjwHnCPCV99MHbS3Eurv16qxtt61FNaOu65oYTLSYae50HWj1PTtf\u002BinxVrkN5isQj/zPLuLAEFmeeF0WvWte[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94c449bb-650b-3698-74b1-ce5bbdb2c3eb/test-blob-02097dfd-9e2b-a2a4-6c3e-01827280371b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEEF9A1CDED\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABxvrg7QQeADadR3z1rPf5mumOJqPoL8NvJg0nE8prRoDf/6nlVuinKlKkQqe/VULpPVE08iu0AZc7dcb6\u002BvBsNfz4Ga1KFEP86vxRQ\u002B0fs9DOOdJ1MlRVJ/4Sqd0lrC9iOAimwzuRnykNNAcvZr2qH8XyKL0d9wOopvGzO25i2z7M7wvgdOyZOJ6pZ/pNKcE8ZI4bM4NyREEE/hhF3mO\u002BrljIXne1yabVWPAecI8JX30wdtLcS6u/XqrG23rUU1o67rmhhMtJhp7nQdaPU9O1/6KfFWuQ3mKxCP/M8u4sAQWZ54XRa9a15uwz\u002BQXRMA7bENvUNTnyqhBa7HvLfJest0DQ9WhN4JfL6TJ7XOVc39jw8d4WW8v[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94c449bb-650b-3698-74b1-ce5bbdb2c3eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:52:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "84370543",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
