{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-44cb3ba6-96f9-c3d8-52ec-ac6b59906b67?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868242CCE1FA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-44cb3ba6-96f9-c3d8-52ec-ac6b59906b67/test-blob-a6cb9778-eda1-2902-5126-be25a02eb70b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868242DB61C9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-44cb3ba6-96f9-c3d8-52ec-ac6b59906b67/test-blob-a6cb9778-eda1-2902-5126-be25a02eb70b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868242DB61C9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:00 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-44cb3ba6-96f9-c3d8-52ec-ac6b59906b67/test-blob-a6cb9778-eda1-2902-5126-be25a02eb70b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868242DB61C9\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lcAKEqoIZlzNA52gylCNez4rHiiz6TFKEaC0titB0U5jSPF2zJvXQ8qAtDO9FTdqiKPszDnNz6yOvwAJVLAwizFPPYFfFq+jU9pdMzX+jfxoSS6IVQUUlnlF5w2aze8aTygBbte2C3L0SXheb5x2kDEEoAuCqDYsOqcIGS6iCIbrQuMM/B8ksj67kwuNtSbczlfblizkmKfx1TMwrvJDUUHxcy24aZMS3+7MxhQrnoSAK0rWxnJZB6k8Gyfr8wRLeEHKm0L5I2XEyLY9F9KSxTavsIKnbIvPmGuDfE5rJuzqgE3SYQNBhwflEv27G/DXqVXwPEOBpAu2+wLWdaYWWKLKU5aEwGQy[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-44cb3ba6-96f9-c3d8-52ec-ac6b59906b67/test-blob-a6cb9778-eda1-2902-5126-be25a02eb70b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868242EEE822\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "5U8QoiOgvTk=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "lcAKEqoIZlzNA52gylCNez4rHiiz6TFKEaC0titB0U5jSPF2zJvXQ8qAtDO9FTdqiKPszDnNz6yOvwAJVLAwizFPPYFfFq+jU9pdMzX+jfxoSS6IVQUUlnlF5w2aze8aTygBbte2C3L0SXheb5x2kDEEoAuCqDYsOqcIGS6iCIbrQuMM/B8ksj67kwuNtSbczlfblizkmKfx1TMwrvJDUUHxcy24aZMS3+7M[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-44cb3ba6-96f9-c3d8-52ec-ac6b59906b67?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "537510072",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
