{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ad2333-29b3-9577-29e1-1ff591f6f256?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682456A3776\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ad2333-29b3-9577-29e1-1ff591f6f256/test-blob-e46486ec-3fe3-a4de-6257-f125cfc287c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86824579C864\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ad2333-29b3-9577-29e1-1ff591f6f256/test-blob-e46486ec-3fe3-a4de-6257-f125cfc287c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86824579C864\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ad2333-29b3-9577-29e1-1ff591f6f256/test-blob-e46486ec-3fe3-a4de-6257-f125cfc287c3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86824579C864\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "nEPeZawxptfRkofEqy1tOK3ny2mRBcIG6XgG6qaDQb6Jfq3lEs6L+IGMGgGlDKKJSHwg8cX8bZaA2Hs0KrsxTlDIOiyAhyXfXNPnBOvBYd3VfaIqY0/4jRAWZDpSVs7FW8yw3NF1CcBWQJXyFGmrvneeXqwZBuoB0KwbaiPrjQUEIqgeEYQLYHTh1CO5BnmnaqXCs/chrFXhrwwlWZ6da7OP7fHAjK3ykv44NzLHR8kzdP99KNkO4nZTPWJ45gbVRGlvKhiH59340CH46XQjGmdC8eWeIELZgQp7bE9Leqz3YvPJVx2xq4wihFi4FfkBMCL6NvQhNiQmlagNC3qOrFV0AYaBWsJK[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ad2333-29b3-9577-29e1-1ff591f6f256/test-blob-e46486ec-3fe3-a4de-6257-f125cfc287c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868245CB63E4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "degdo3MLiA0=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "nEPeZawxptfRkofEqy1tOK3ny2mRBcIG6XgG6qaDQb6Jfq3lEs6L+IGMGgGlDKKJSHwg8cX8bZaA2Hs0KrsxTlDIOiyAhyXfXNPnBOvBYd3VfaIqY0/4jRAWZDpSVs7FW8yw3NF1CcBWQJXyFGmrvneeXqwZBuoB0KwbaiPrjQUEIqgeEYQLYHTh1CO5BnmnaqXCs/chrFXhrwwlWZ6da7OP7fHAjK3ykv44[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8ad2333-29b3-9577-29e1-1ff591f6f256?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "504134994",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
