{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4a72ef1d-5b7d-b7e1-aefd-60826255a88a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCAC2BCBDA\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4a72ef1d-5b7d-b7e1-aefd-60826255a88a/test-blob-3d8764f4-007d-e1b4-40f1-2528298f0102",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCAC39FC9A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4a72ef1d-5b7d-b7e1-aefd-60826255a88a/test-blob-3d8764f4-007d-e1b4-40f1-2528298f0102",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCAC39FC9A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4a72ef1d-5b7d-b7e1-aefd-60826255a88a/test-blob-3d8764f4-007d-e1b4-40f1-2528298f0102?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCAC39FC9A\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "1Jr+f3iFq8bPOCJQdf0x8FFzOx3QX7dmSaCwmfqvn/HIeg/rvyxzwpm+eZpCBnsg6mwfJvtGm3TjmDbY1BLMH5gxiPvuRTAlAHiEEeYdI0MlkK+NkHn1gd6bCCf1m+6G8loCEH1/MqQ7+SaCwomOxnTyskNjPo4fPAYcUj0JL2SK/R+LGhLFpV4KUpZScr9VDUKyAuiqI7PM49R3Yt9nMcrC+MRqAqthLA3kWOv3zMlHx0X6Vyx839prvzc+TkN/oyDMkHn66gqWUNXbxsvH1BYKL5qabNqeRRnq/0J0I97JZLTLKzxQTN06ZAZWoBgOo+ogNB6o5TdGLkpgD+vIIi33EWEW/KnZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4a72ef1d-5b7d-b7e1-aefd-60826255a88a/test-blob-3d8764f4-007d-e1b4-40f1-2528298f0102",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCAC52DB88\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADUmv5/eIWrxs84IlB1/THwUXM7HdBft2ZJoLCZ+q+f8ch6D+u/LHPCmb55mkIGeyDqbB8m+0abdOOYNtjUEswfmDGI++5FMCUAeIQR5h0jQyWQr42QefWB3psIJ/Wb7obyWgIQfX8ypDv5JoLCiY7GdPKyQ2M+jh88BhxSPQkvZIr9H4saEsWlXgpSllJyv1UNQrIC6Kojs8zj1Hdi32cxysL4xGoCq2EsDeRY6/fMyUfHRfpXLHzf2mu/Nz5OQ3+jIMyQefrqCpZQ1dvGy8fUFgovmpps2p5FGer/QnQj3slktMsrPFBM3TpkBlagGA6j6iA0HqjlN0YuSmAP68giLfcRYRb8qdm6471fCNRHpQDbW1dT7r8hf32E/fLvPPFyQdhejr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4a72ef1d-5b7d-b7e1-aefd-60826255a88a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1978037843",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
