{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939c23c-72ae-9240-0d8f-0c32e99ad6ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB038CEE82B2\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939c23c-72ae-9240-0d8f-0c32e99ad6ca/test-blob-9aa3f547-2efa-b78b-42e6-47eaf631d1bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB038D023231\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939c23c-72ae-9240-0d8f-0c32e99ad6ca/test-blob-9aa3f547-2efa-b78b-42e6-47eaf631d1bf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB038D023231\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939c23c-72ae-9240-0d8f-0c32e99ad6ca/test-blob-9aa3f547-2efa-b78b-42e6-47eaf631d1bf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB038D023231\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "sAIrz68SqlF6kArID2DUScfXWqkAYRVpeZ4+UdCfd/+/7C68mPmFxZVI+iQz122LDNDhWRN9d0/twVUQ01mB2hgKCCMyF7HOUpUTt2fwNaIwskUAvh3sQXXfz9ajdfI8xyAMKc9KWPQeEwd+ar/o/Iuz3yATgRz6HsauU0jaKtyj1vBG4wzS5lpQ4asVbde199JL8JXRKEYEEQoImwWsROgq25PPoRh+4PnGwqBw5LHv+Vx2jzpH0a2pQtICykpUpJ3C65FD5VW5zA+bCmWmkyxZGKKpNbSu4wnlJV5GfBavch4CrfkfrBMGvMIrq8ZHA6+lqbGnqm7oFAeIXcD3ck/47JhHo+Uz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939c23c-72ae-9240-0d8f-0c32e99ad6ca/test-blob-9aa3f547-2efa-b78b-42e6-47eaf631d1bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB038D1C97F5\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACwAivPrxKqUXqQCsgPYNRJx9daqQBhFWl5nj5R0J93/7/sLryY+YXFlUj6JDPXbYsM0OFZE313T+3BVRDTWYHaGAoIIzIXsc5SlRO3Z/A1ojCyRQC+HexBdd/P1qN18jzHIAwpz0pY9B4TB35qv+j8i7PfIBOBHPoexq5TSNoq3KPW8EbjDNLmWlDhqxVt17X30kvwldEoRgQRCgibBaxE6Crbk8+hGH7g+cbCoHDkse/5XHaPOkfRralC0gLKSlSkncLrkUPlVbnMD5sKZaaTLFkYoqk1tK7jCeUlXkZ8Fq9yHgKt+R+sEwa8wiurxkcDr6WpsaeqbugUB4hdwPdyT/jsmEej5TM5bI+jefGCN0KdIa+h02QIx68amfGXTlIPSXMyvy[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939c23c-72ae-9240-0d8f-0c32e99ad6ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1994941437",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
