{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b536220-a757-c3e4-8aef-a5e3a3d4b05a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B1E93919\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b536220-a757-c3e4-8aef-a5e3a3d4b05a/test-blob-e59ac2b8-33b0-e64a-672f-6b81a0047fd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B1F1BF2D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:28.7020845Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b536220-a757-c3e4-8aef-a5e3a3d4b05a/test-blob-e59ac2b8-33b0-e64a-672f-6b81a0047fd1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B1F1BF2D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:28.7020845Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b536220-a757-c3e4-8aef-a5e3a3d4b05a/test-blob-e59ac2b8-33b0-e64a-672f-6b81a0047fd1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22B1F1BF2D\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "a1mKS3IEpvUMA+ybtL2XEgM/w/XVSSa05MbZMQ/kKDtHV7vR7aD0GgcJWjDGU75NTglu6B9+xiEz1marK3XlJ9uwVF0BxiRjSqnuzO727ZEIjOIGdT8cyJGZnhY5Se+SJDNUFf9hS4fkC552kPozPejVop6S3rKclIvMaCgNKQC5XKe7odeRpkBaImqgpTeXZmEuZKZQ/0WBuIFzleNf1uGdvDNSeJsQQ/tdN7xH++5UNAHH38VZaFxiOehWHhFd+0uIAukDRO3FHSCq88eIOb2SH2DhmPccQ1TX7z6zuiXqADxxv/gFUPAUAcGkr3WU2QArxP6xfGJUbL+ULFSvEWP7wPKLF3rE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b536220-a757-c3e4-8aef-a5e3a3d4b05a/test-blob-e59ac2b8-33b0-e64a-672f-6b81a0047fd1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B1FB5162\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:28.7020845Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABrWYpLcgSm9QwD7Ju0vZcSAz/D9dVJJrTkxtkxD+QoO0dXu9HtoPQaBwlaMMZTvk1OCW7oH37GITPWZqsrdeUn27BUXQHGJGNKqe7M7vbtkQiM4gZ1PxzIkZmeFjlJ75IkM1QV/2FLh+QLnnaQ+jM96NWinpLespyUi8xoKA0pALlcp7uh15GmQFoiaqClN5dmYS5kplD/RYG4gXOV41/W4Z28M1J4mxBD+103vEf77lQ0AcffxVloXGI56FYeEV37S4gC6QNE7cUdIKrzx4g5vZIfYOGY9xxDVNfvPrO6JeoAPHG/+AVQ8BQBwaSvdZTZACvE/rF8YlR[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0b536220-a757-c3e4-8aef-a5e3a3d4b05a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1777604960",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
