{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2cc5fc8a-0a9f-9c5a-a47e-10b80ff7d748?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0925ABFF7A\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2cc5fc8a-0a9f-9c5a-a47e-10b80ff7d748/test-blob-d507c884-3a45-f648-38cd-33c7c0c81af5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0925BC12F7\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2cc5fc8a-0a9f-9c5a-a47e-10b80ff7d748/test-blob-d507c884-3a45-f648-38cd-33c7c0c81af5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D0925BC12F7\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2cc5fc8a-0a9f-9c5a-a47e-10b80ff7d748/test-blob-d507c884-3a45-f648-38cd-33c7c0c81af5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC4D0925BC12F7\u0022",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "D\u002B/SWR\u002BFu6VQNSAh97ZxhOu2rsrCigawzi/uyPObcPR1ApQ6TDo6hImP/Awq\u002Bp9/NG0laWk9TYTpIovwl/KxtMQrq/UiNjexeypBMo35hdOPbpOGdgeLN7QPUSquSuyW3UdI/06qXf01c\u002B0\u002B/Br275y3YShfKz68n3RAEuUNAjE9q1RGsYaF5BGWUAIZTTuZGGGN9ujEN7IJi1/aaUoYKHG8AVHGsD4WMnwXyNs7olI4p/qDfwtIeHOiPCUmqnvGfSiRXUvq02cid8RsrW7XzugNocFQlKhmc4jdI3MZ8IcAUUqyqkUHTtOSYQhG3Ms[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2cc5fc8a-0a9f-9c5a-a47e-10b80ff7d748/test-blob-d507c884-3a45-f648-38cd-33c7c0c81af5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D0925D69FA2\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "DRPMnXBA/6g=",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "D\u002B/SWR\u002BFu6VQNSAh97ZxhOu2rsrCigawzi/uyPObcPR1ApQ6TDo6hImP/Awq\u002Bp9/NG0laWk9TYTpIovwl/KxtMQrq/UiNjexeypBMo35hdOPbpOGdgeLN7QPUSquSuyW3UdI/06qXf01c\u002B0\u002B/Br275y3YShfKz68n3RAEuUNAjE9q1RGsYaF5BGWUAIZTTuZGGGN9ujEN7I[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2cc5fc8a-0a9f-9c5a-a47e-10b80ff7d748?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "273705814",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
