{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ea992ad5-007c-cad9-e034-6cf14296941d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868244E9529B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ea992ad5-007c-cad9-e034-6cf14296941d/test-blob-94b2d594-c6ae-9e07-a542-6142a2dc0358",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868244F7AB28\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ea992ad5-007c-cad9-e034-6cf14296941d/test-blob-94b2d594-c6ae-9e07-a542-6142a2dc0358",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868244F7AB28\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ea992ad5-007c-cad9-e034-6cf14296941d/test-blob-94b2d594-c6ae-9e07-a542-6142a2dc0358?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868244F7AB28\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "PWwplCCoJt4mtaWT52oabi4xm9AYDVbE0056+u6EGRm8ITFDSHIarUugYRGgEMn3JppRmZBb4DAVZMDSLSzwopuM18U41ya8Fu2Fd6tFJMKEg9RTM4CIYUABLeOxSIAfsL52EzkDvk90lIKj1miE0ED9TapYnG8aBHWFN6lCCs1tZcftzhGJgcWF3p7+5YvYfV2is/rWxxNPXA7DfoalMYq1NnChlwEvdMzk0r7RHB/qrbpLn1bSlp60nXICxQI+360USK4aNuZbcz8u8fRVfj/v2dHMWZEz4p/S7PmPLK/JpvMRvNNwz3bU8CwXpKWpXx8yEusxcYUb4GYPSEnszEaPZEoBQ8Fs[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ea992ad5-007c-cad9-e034-6cf14296941d/test-blob-94b2d594-c6ae-9e07-a542-6142a2dc0358",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86824542B783\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "S0kuVQWsS3M=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:42:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "PWwplCCoJt4mtaWT52oabi4xm9AYDVbE0056+u6EGRm8ITFDSHIarUugYRGgEMn3JppRmZBb4DAVZMDSLSzwopuM18U41ya8Fu2Fd6tFJMKEg9RTM4CIYUABLeOxSIAfsL52EzkDvk90lIKj1miE0ED9TapYnG8aBHWFN6lCCs1tZcftzhGJgcWF3p7+5YvYfV2is/rWxxNPXA7DfoalMYq1NnChlwEvdMzk[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ea992ad5-007c-cad9-e034-6cf14296941d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1609875288",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
