{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6571841-beab-48a1-ee6c-712ce2842965?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B156076B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6571841-beab-48a1-ee6c-712ce2842965/test-blob-80f0f80f-ad02-0089-8c61-c69ec538e0b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B15CDCEF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:27.7263599Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6571841-beab-48a1-ee6c-712ce2842965/test-blob-80f0f80f-ad02-0089-8c61-c69ec538e0b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B15CDCEF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:27.7263599Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6571841-beab-48a1-ee6c-712ce2842965/test-blob-80f0f80f-ad02-0089-8c61-c69ec538e0b6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22B15CDCEF\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "XSg+uvMfFmyVd8/Tu29WeB+XA0FmUn4TDO5vKkYCYmmvV9TJN5HmCYqyQW/N71QY+RVf5qrmRQqqKq4FsOwmkxVmJGObjUCNsfm3tBEPRhyZVjEwonu+yBLKHw3j4Vmei61aZsrwfWzV0jSwLpH5m+SRa1m69vGZp1tR0G0zqtCgGShktN9RqdnEWtBGDpqB0IMoUXX/45W8wL9vn6z+oShkDxVplOYEQMJ/9pshU5nB0ADqClhaoDWSp/Qg4gktxrmo4v6EGDydJBGzgO36m20mrc+sFJfPCW/f1uzx5F64Ui/ieXCaPLjDTOZHpiBIlwyH+jQ6gLIi2NiPpEFPrD+z+y29GCL8[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6571841-beab-48a1-ee6c-712ce2842965/test-blob-80f0f80f-ad02-0089-8c61-c69ec538e0b6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22B166E3C7\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:27.7263599Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABdKD668x8WbJV3z9O7b1Z4H5cDQWZSfhMM7m8qRgJiaa9X1Mk3keYJirJBb83vVBj5FV/mquZFCqoqrgWw7CaTFWYkY5uNQI2x+be0EQ9GHJlWMTCie77IEsofDePhWZ6LrVpmyvB9bNXSNLAukfmb5JFrWbr28ZmnW1HQbTOq0KAZKGS031Gp2cRa0EYOmoHQgyhRdf/jlbzAv2+frP6hKGQPFWmU5gRAwn/2myFTmcHQAOoKWFqgNZKn9CDiCS3Guaji/oQYPJ0kEbOA7fqbbSatz6wUl88Jb9/W7PHkXrhSL+J5cJo8uMNM5kemIEiXDIf6NDqAsiL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e6571841-beab-48a1-ee6c-712ce2842965?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1199349745",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
