{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67826961-cef3-3ff0-00b0-82581713c1f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCAB250B2F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67826961-cef3-3ff0-00b0-82581713c1f5/test-blob-08a2a282-37c4-0670-6223-dffe88c8f1c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCAB32EDD4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67826961-cef3-3ff0-00b0-82581713c1f5/test-blob-08a2a282-37c4-0670-6223-dffe88c8f1c1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCAB32EDD4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67826961-cef3-3ff0-00b0-82581713c1f5/test-blob-08a2a282-37c4-0670-6223-dffe88c8f1c1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCAB32EDD4\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Jrq0i9LnEM/sXU6kzjGyK2FePU2YV60jRD02r/N3ITZBrZfSIMNQM7mqfelh47fLMXOjpKTBus8MkEaVsGHcdDsYYiCZ4AqdDgqT7drDwmCFa31/1H2Rf/PIxpB8u4JYzQiuSYGWMVFoBZaaLsz0SM7mD0XkXaC+huIt0Bp6IFKHOh/RFXnf7zkrFs7m9lEm033Clqs8dHBo78KeaGA37uVDE/OsIzNUBiAMuEbR14+RB/ycuImnSsavaSa2QYfY9Cjpo+NeebBKbZCLMLsplhczDWFkmjVbnMgs/bkNnsWZM8Qe5zSsMo1MUkv5GxkKhdIOgzQldFnyjgYaMXz2Pc7K8v33C67i[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67826961-cef3-3ff0-00b0-82581713c1f5/test-blob-08a2a282-37c4-0670-6223-dffe88c8f1c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCAB4BA5E4\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAmurSL0ucQz+xdTqTOMbIrYV49TZhXrSNEPTav83chNkGtl9Igw1Azuap96WHjt8sxc6OkpMG6zwyQRpWwYdx0OxhiIJngCp0OCpPt2sPCYIVrfX/UfZF/88jGkHy7gljNCK5JgZYxUWgFlpouzPRIzuYPReRdoL6G4i3QGnogUoc6H9EVed/vOSsWzub2USbTfcKWqzx0cGjvwp5oYDfu5UMT86wjM1QGIAy4RtHXj5EH/Jy4iadKxq9pJrZBh9j0KOmj4155sEptkIswuymWFzMNYWSaNVucyCz9uQ2exZkzxB7nNKwyjUxSS/kbGQqF0g6DNCV0WfKOBhoxfPY9zsry/fcLruKG2tMYSOphga4ieOf+G5BzvmorWS2RARFVFXwvKB[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-67826961-cef3-3ff0-00b0-82581713c1f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1219479671",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
