{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-568edebb-5bae-699f-7d51-77102ecbf9fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E644A83CF\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-568edebb-5bae-699f-7d51-77102ecbf9fe/test-blob-2e4d1ad0-a9c3-446a-988d-c8fe95e52973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E6456CF43\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:35.6019011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-568edebb-5bae-699f-7d51-77102ecbf9fe/test-blob-2e4d1ad0-a9c3-446a-988d-c8fe95e52973",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E6456CF43\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:35 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:35.6019011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-568edebb-5bae-699f-7d51-77102ecbf9fe/test-blob-2e4d1ad0-a9c3-446a-988d-c8fe95e52973?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E6456CF43\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Q4ZZY4Liy15tASOonAHuJ/nW/IbQW7SnOjm0CyQsdxpwPVv0/PQeMd2cMUl5WjI1+hFLQBsPsOjSsihILr86QIoIN16m+SoFt8upMypqLuAGfhES4Df+YYxyIUrL1gIdYvC/cCLTjwDnRohQZXy+aINIQa+uKF9TCtXRM9jgOuHJi9E5q729M+8QK5qurvsPtLjGgpRSbzmQbGVNAVwoBwynh9qqhL3Gig7AnfzFpFvZwX4fGbdMdhyXqD9XbzGS6CSOBichZDD7APiFktE9y8cKdD/eCO1UWhG9E9t+bhrdLrXYN540t1xOJBm/x+NLWt13TfvxtOA2OasVZFFUfZLdqGQbZJMp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-568edebb-5bae-699f-7d51-77102ecbf9fe/test-blob-2e4d1ad0-a9c3-446a-988d-c8fe95e52973",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E646406DE\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:35.6019011Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABDhlljguLLXm0BI6icAe4n+db8htBbtKc6ObQLJCx3GnA9W/T89B4x3ZwxSXlaMjX6EUtAGw+w6NKyKEguvzpAigg3Xqb5KgW3y6kzKmou4AZ+ERLgN/5hjHIhSsvWAh1i8L9wItOPAOdGiFBlfL5og0hBr64oX1MK1dEz2OA64cmL0Tmrvb0z7xArmq6u+w+0uMaClFJvOZBsZU0BXCgHDKeH2qqEvcaKDsCd/MWkW9nBfh8Zt0x2HJeoP1dvMZLoJI4GJyFkMPsA+IWS0T3Lxwp0P94I7VRaEb0T235uGt0utdg3njS3XE4kGb/H40ta3XdN+/G04DY[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-568edebb-5bae-699f-7d51-77102ecbf9fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2052255440",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
