{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d742f2b-49d6-a391-f520-c07c6bbd4f5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E4F920C33\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d742f2b-49d6-a391-f520-c07c6bbd4f5c/test-blob-944ff7cf-ae26-7548-23cd-72c7636e3691",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E4F9CD6E0\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:00.8286944Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d742f2b-49d6-a391-f520-c07c6bbd4f5c/test-blob-944ff7cf-ae26-7548-23cd-72c7636e3691",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E4F9CD6E0\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:00 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:00.8286944Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d742f2b-49d6-a391-f520-c07c6bbd4f5c/test-blob-944ff7cf-ae26-7548-23cd-72c7636e3691?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E4F9CD6E0\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "b4ZnOoX820PujeXFlH1HGpOedOM8xy+ZSARogFIlLlIeH6TVdFKdC609mZ9VN5Sfb3uHGqEPV6hXzfGAlFrwyF+TpnXYcaVBAWk1/y2QRBFwyRDWnhOwD8f7fqZgHHdSTNFAwZEfxv3VRRk32Vh7xongEMpJGilL4pat3PP/4eXy47NbT4J/UAITAFn6eTZvgLccfwusCDKo9d/6cukJ1mQ0RfWlH3cHYcDHNhnQUWlgPlw74mHZRduAs1qjhd4ZCSr0xjNAyWBAFR5L5NEY16N1mTOMzfQDWv8aJGwcZNvhrizv24o1IHT7+8xDjmAJaNu2LeuqjDs18Ws0JqX0I7FCaTakKPsZ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d742f2b-49d6-a391-f520-c07c6bbd4f5c/test-blob-944ff7cf-ae26-7548-23cd-72c7636e3691",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E4FA862AE\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:00.8286944Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABvhmc6hfzbQ+6N5cWUfUcak5504zzHL5lIBGiAUiUuUh4fpNV0Up0LrT2Zn1U3lJ9ve4caoQ9XqFfN8YCUWvDIX5OmddhxpUEBaTX/LZBEEXDJENaeE7APx/t+pmAcd1JM0UDBkR/G/dVFGTfZWHvGieAQykkaKUvilq3c8//h5fLjs1tPgn9QAhMAWfp5Nm+Atxx/C6wIMqj13/py6QnWZDRF9aUfdwdhwMc2GdBRaWA+XDviYdlF24CzWqOF3hkJKvTGM0DJYEAVHkvk0RjXo3WZM4zN9ANa/xokbBxk2+GuLO/bijUgdPv7zEOOYAlo27Yt66qMOzX[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d742f2b-49d6-a391-f520-c07c6bbd4f5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:49:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "898759596",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
