{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-619990b4-f6c6-eb2e-32c7-475e259ef1f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D55A897A46\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-619990b4-f6c6-eb2e-32c7-475e259ef1f1/test-blob-7017bd42-df92-0eb1-122f-7c51d32b7ac1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D55A94CCF4\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-619990b4-f6c6-eb2e-32c7-475e259ef1f1/test-blob-7017bd42-df92-0eb1-122f-7c51d32b7ac1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D55A94CCF4\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-619990b4-f6c6-eb2e-32c7-475e259ef1f1/test-blob-7017bd42-df92-0eb1-122f-7c51d32b7ac1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D55A94CCF4\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "l8z4Aa4/1gH1bH0wL2JJtjYQ65VWf859RbMR5w0eMEmcODTVg46IM7hHfLebgy74Qe9F7LBkOBf9e7z6Lu/z1zs0k/ctdDOoiLfcDgMX4cGEGaUe2UOZNwAd1wfSjQXJU6R7Z+82ys27nWT4hykT5pn6dhVJ1f33mlz3EJwr1fqyE7tfm3nSTU7YYjzfoK/WCfFu2Bfvf36ng8yTP7oxkMdpRXNttEofJyjGcXLBGPqsIAarvf3jw5Q9txisPw6Up9F0dls7aVWmTrDuKA4L5WvS5x60hdPKhYLfMPwyc+gaMsqgTKGecLewBW5N9JqFMtKt2ljv3yH+qvDYXDlZc9vH1PZDapjJ[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-619990b4-f6c6-eb2e-32c7-475e259ef1f1/test-blob-7017bd42-df92-0eb1-122f-7c51d32b7ac1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D55AA4C097\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACXzPgBrj/WAfVsfTAvYkm2NhDrlVZ/zn1FsxHnDR4wSZw4NNWDjogzuEd8t5uDLvhB70XssGQ4F/17vPou7/PXOzST9y10M6iIt9wOAxfhwYQZpR7ZQ5k3AB3XB9KNBclTpHtn7zbKzbudZPiHKRPmmfp2FUnV/feaXPcQnCvV+rITu1+bedJNTthiPN+gr9YJ8W7YF+9/fqeDzJM/ujGQx2lFc220Sh8nKMZxcsEY+qwgBqu9/ePDlD23GKw/DpSn0XR2WztpVaZOsO4oDgvla9LnHrSF08qFgt8w/DJz6BoyyqBMoZ5wt7AFbk30moUy0q3aWO/fIf6q8NhcOVlz28fU9kNqmMk0dmcDgGR9kehZ/SqEmJArUqmiorHGFH5XkZOFH6[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-619990b4-f6c6-eb2e-32c7-475e259ef1f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1206155986",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
