{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-26132319-5de6-a721-2f56-da90909a3d66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C3C88F1B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-26132319-5de6-a721-2f56-da90909a3d66/test-blob-594386a0-000d-19f5-8c80-5e5fae317619",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C3CEE7A6\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:58.6727334Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-26132319-5de6-a721-2f56-da90909a3d66/test-blob-594386a0-000d-19f5-8c80-5e5fae317619",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22C3CEE7A6\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:58.6727334Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-26132319-5de6-a721-2f56-da90909a3d66/test-blob-594386a0-000d-19f5-8c80-5e5fae317619?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22C3CEE7A6\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "B4RYz64PeTPGcwSi43pVJQ36qREqXXyjWmaYsEoSj6q13Z/NsXox2AU8GXYFuPQgqHU+Fs58caoHtXRHd8jos+RZ7AXbh3SSydAM7UQFnaFyeAjU03jcOWz1xvsF6mA8U2WSq8vuRSABrE39cINmARjS1P/AFOBrfbOZ5cF5jN5wz5rec/HVhDPo0ycr38jpj8XiMhVhfD+FJy4YVF9fhx9ujaHoh44m/FDM2EC5P53qsFb7llrIDlNbWEvDvS/TiEsIvVInAAc3uzXFlaP+zOiQLaQIY/HFpX5OjS5CYz8g+E/1sIFLw69PxNskA3ivXIxiM4+LyyVaQhfT2HLY9Fj2pJ1UCRtm[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-26132319-5de6-a721-2f56-da90909a3d66/test-blob-594386a0-000d-19f5-8c80-5e5fae317619",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22C3D9156A\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:58.6727334Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAHhFjPrg95M8ZzBKLjelUlDfqpESpdfKNaZpiwShKPqrXdn82xejHYBTwZdgW49CCodT4Wznxxqge1dEd3yOiz5FnsBduHdJLJ0AztRAWdoXJ4CNTTeNw5bPXG+wXqYDxTZZKry+5FIAGsTf1wg2YBGNLU/8AU4Gt9s5nlwXmM3nDPmt5z8dWEM+jTJyvfyOmPxeIyFWF8P4UnLhhUX1+HH26NoeiHjib8UMzYQLk/neqwVvuWWsgOU1tYS8O9L9OISwi9UicABze7NcWVo/7M6JAtpAhj8cWlfk6NLkJjPyD4T/WwgUvDr0/E2yQDeK9cjGIzj4vLJVp[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-26132319-5de6-a721-2f56-da90909a3d66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "250979872",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
