{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea9ce17c-f31b-a5ff-3ae2-20a2229cad33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CAEAC1760\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea9ce17c-f31b-a5ff-3ae2-20a2229cad33/test-blob-2d0c977f-5a63-5693-1604-e50965f9e29d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CAEB58A59\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea9ce17c-f31b-a5ff-3ae2-20a2229cad33/test-blob-2d0c977f-5a63-5693-1604-e50965f9e29d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CAEB58A59\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea9ce17c-f31b-a5ff-3ae2-20a2229cad33/test-blob-2d0c977f-5a63-5693-1604-e50965f9e29d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CAEB58A59\"",
        "x-ms-date": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "s3Tcz2bI/yac2ywJEQNQ5J5ZcRy/JnCx3fh6dozIffDFgEjfeXRgZwa36ejKXagb/OXd6VswoowEKvJuTYma0108Q5G7cGsp+QkWBz2H5n9PXnmm65SVld27206B8Rl9HRWKjhkXYIt6tO9RGZpPfERyHu8P8+jJpq6z/5UcpwfvmOon/VhmOP7uLDakRHtDa18KD9MqbSktwehqY2D2XQzoYYGvKH/sC+XwIMaxJGIzb5M1EZgzxCvB+jtv/NWd+M8qvOL6lEPgHgPuOU1je52FNvPNwEtztJxW7i5DfA8PUyf3h2iAOdtQVPOURYvdXX6d6sXh0DiDtgdFpKUUnKLz3+YmbPM0[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea9ce17c-f31b-a5ff-3ae2-20a2229cad33/test-blob-2d0c977f-5a63-5693-1604-e50965f9e29d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CAEC29B07\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACzdNzPZsj/JpzbLAkRA1DknllxHL8mcLHd+Hp2jMh98MWASN95dGBnBrfp6MpdqBv85d3pWzCijAQq8m5NiZrTXTxDkbtwayn5CRYHPYfmf09eeabrlJWV3bvbToHxGX0dFYqOGRdgi3q071EZmk98RHIe7w/z6MmmrrP/lRynB++Y6if9WGY4/u4sNqREe0NrXwoP0yptKS3B6GpjYPZdDOhhga8of+wL5fAgxrEkYjNvkzURmDPEK8H6O2/81Z34zyq84vqUQ+AeA+45TWN7nYU2883AS3O0nFbuLkN8Dw9TJ/eHaIA521BU85RFi91dfp3qxeHQOIO2B0WkpRScovPf5iZs8zQF/Rh8bFjebxF4kK+mkUotg+9z0GA6lTU7t1ChZq[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea9ce17c-f31b-a5ff-3ae2-20a2229cad33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1275759047",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
