{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-cbebfb8f-35e7-5f28-64e1-5c1e707c4dff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D58C585FEF\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-cbebfb8f-35e7-5f28-64e1-5c1e707c4dff/test-blob-f150e779-7ca7-f797-3d2c-bde50d6860ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D58C66884A\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-cbebfb8f-35e7-5f28-64e1-5c1e707c4dff/test-blob-f150e779-7ca7-f797-3d2c-bde50d6860ae",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D58C66884A\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-cbebfb8f-35e7-5f28-64e1-5c1e707c4dff/test-blob-f150e779-7ca7-f797-3d2c-bde50d6860ae?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D58C66884A\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "wV7f0GbJqvb3JDPyT3EXyd40Nl7gJIj3KpCJYA+2fyTtlvXpuzLCHWelMVE/TEgcLsBvEzyob53V6KbWQEnmQaQPBLh7Lg2rcRj2OvI2uN1IbDJORmzoRCdYE9OM7N0dv/CtMEePoP+zw6EjsTWqnjDIjtMXmPo4J7+RIxo6HoU72XoBiYeWuMsymoLKxJLxrXSjxF4JBib2dAiH/n3keaUc6Ni6qBWoMdUI5P13bmIsn3WmllonMtJTCxV+DrlNTiHdrty6NwRf+pKIACIpfgamWl4IPuJK9LYGZp3/KSIcupbbmcCGcmhwRpzHnjGwKowP2LRaRQ8/krkms9FnX9FwbEaMTeVG[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-cbebfb8f-35e7-5f28-64e1-5c1e707c4dff/test-blob-f150e779-7ca7-f797-3d2c-bde50d6860ae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D58C743484\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADBXt/QZsmq9vckM/JPcRfJ3jQ2XuAkiPcqkIlgD7Z/JO2W9em7MsIdZ6UxUT9MSBwuwG8TPKhvndXoptZASeZBpA8EuHsuDatxGPY68ja43UhsMk5GbOhEJ1gT04zs3R2/8K0wR4+g/7PDoSOxNaqeMMiO0xeY+jgnv5EjGjoehTvZegGJh5a4yzKagsrEkvGtdKPEXgkGJvZ0CIf+feR5pRzo2LqoFagx1Qjk/XduYiyfdaaWWicy0lMLFX4OuU1OId2u3Lo3BF/6kogAIil+BqZaXgg+4kr0tgZmnf8pIhy6ltuZwIZyaHBGnMeeMbAqjA/YtFpFDz+SuSaz0Wdf0XBsRoxN5UYf6PaY90aDVYRWPBHwUG7BdYacBgZgvpYJ5stXMu[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-cbebfb8f-35e7-5f28-64e1-5c1e707c4dff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1120364925",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
