{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5dcc43cf-ee60-3b3d-5db5-6dcb70f78bb1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7C8B91E554\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5dcc43cf-ee60-3b3d-5db5-6dcb70f78bb1/test-blob-22d8484f-171a-d60c-f14f-04364b6777dd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7C8B9B76E3\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5dcc43cf-ee60-3b3d-5db5-6dcb70f78bb1/test-blob-22d8484f-171a-d60c-f14f-04364b6777dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7C8B9B76E3\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5dcc43cf-ee60-3b3d-5db5-6dcb70f78bb1/test-blob-22d8484f-171a-d60c-f14f-04364b6777dd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7C8B9B76E3\"",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "L+3AUhx5PtyzwrbbaMQ8pE7ubHwvtLU6OwiaCeEQFBdiLEgR9xRi5bXsIzn+qgWvEG0xByGmKno3hhYT3jT6oq6eeTx8Kq05i4fGQpF7PJED6/h03gz2uwLN2XH9TweB8YCLXzDIMuXA93ya3+fpvEqFEPI8hsOhqL06r1E8PDt/RVEQ79xgOrgStOeQW9wa4x0meD8URGu86rZzjoOUg7tAG5qW2c1tJNU5KdLcEE3hH8szFcP8agDlUwUm7aw1fTArUEBBhApPuFNp2xqY4NlpkW63YG73Q7CasIXHRzYpBKyisMAMoJvB411vko/lTXMrvVw9fRzBNA2Qp9OEiHEdQNZu9i8Z[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5dcc43cf-ee60-3b3d-5db5-6dcb70f78bb1/test-blob-22d8484f-171a-d60c-f14f-04364b6777dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7C8BB02027\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAv7cBSHHk+3LPCtttoxDykTu5sfC+0tTo7CJoJ4RAUF2IsSBH3FGLltewjOf6qBa8QbTEHIaYqejeGFhPeNPqirp55PHwqrTmLh8ZCkXs8kQPr+HTeDPa7As3Zcf1PB4HxgItfMMgy5cD3fJrf5+m8SoUQ8jyGw6GovTqvUTw8O39FURDv3GA6uBK055Bb3BrjHSZ4PxREa7zqtnOOg5SDu0AbmpbZzW0k1Tkp0twQTeEfyzMVw/xqAOVTBSbtrDV9MCtQQEGECk+4U2nbGpjg2WmRbrdgbvdDsJqwhcdHNikErKKwwAygm8HjXW+Sj+VNcyu9XD19HME0DZCn04SIcR1A1m72Lxlc8dL2fBCHsCG0YxKcitrrho/gfLJ8+Mc8W+xSUr[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-5dcc43cf-ee60-3b3d-5db5-6dcb70f78bb1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1721998857",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
