{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-90a0da40-4bec-682d-c4ed-7a60847e906d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCA52D5B76\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-90a0da40-4bec-682d-c4ed-7a60847e906d/test-blob-76006e77-eb40-f9c8-98d2-c6a1af13dac9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCA53BDA79\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-90a0da40-4bec-682d-c4ed-7a60847e906d/test-blob-76006e77-eb40-f9c8-98d2-c6a1af13dac9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCA53BDA79\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-90a0da40-4bec-682d-c4ed-7a60847e906d/test-blob-76006e77-eb40-f9c8-98d2-c6a1af13dac9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCA53BDA79\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "x/3utkAm2jBFfshzCYZv/ULp9sgXA17iH3YTvdD6E0HRM9/62PRQQ+A2SJBcMD5IpEFYJpDf98SfDJfKEh1gSmuHotWndCVOmLPn4bvNhe43yxiOouyx8TwbW8xdhjDD1v0l1I5ooS8cCo7c9xUI0Yaok0cE0qh+1rCZixlY8BGDJAq9p7FgzirocZhe1PkmEolGtPLpvgRUp/7dzxUWwxl8WdMLSirVSMUcHGAQHwK2c3mQEjsemWYGaQCzgv8V0q1+4nomG8dfcWwtzaKjRIf8J1ubhrHdXb9sBOEpIcbGBkmykTyHj1iyMKHP8czEYyR4t1qjekz8oIW6uRblNU+mZ8ZY8LJK[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-90a0da40-4bec-682d-c4ed-7a60847e906d/test-blob-76006e77-eb40-f9c8-98d2-c6a1af13dac9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCA555CAE5\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADH/e62QCbaMEV+yHMJhm/9Qun2yBcDXuIfdhO90PoTQdEz3/rY9FBD4DZIkFwwPkikQVgmkN/3xJ8Ml8oSHWBKa4ei1ad0JU6Ys+fhu82F7jfLGI6i7LHxPBtbzF2GMMPW/SXUjmihLxwKjtz3FQjRhqiTRwTSqH7WsJmLGVjwEYMkCr2nsWDOKuhxmF7U+SYSiUa08um+BFSn/t3PFRbDGXxZ0wtKKtVIxRwcYBAfArZzeZASOx6ZZgZpALOC/xXSrX7ieiYbx19xbC3NoqNEh/wnW5uGsd1dv2wE4SkhxsYGSbKRPIePWLIwoc/xzMRjJHi3WqN6TPyghbq5FuU1T6Znxljwskp0lwPpVQ8ObPOoob2xamsijP228bfM1kHM+1IoiQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-90a0da40-4bec-682d-c4ed-7a60847e906d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:05:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1543109323",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
