{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d66335dc-e992-92a7-e890-d9b114658bce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5ED721AC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d66335dc-e992-92a7-e890-d9b114658bce/test-blob-62afe72e-eb87-6499-8fb0-80058dacd98e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "rSuH5sMco8vkgKh9W8U5o7NU9pVRr29bY6MOFyWC9bYnIjQtvvbBnttH993DXTUpGkccmYFXGf27K4IfDYylYYvyVTmRC\u002BW8k1e6CreSlwZu5PzeZls00Ak2cpJ0oZFPoZZR0Qf8mA9iXwYpnQ9FKZN7sSiPx/svvYUwWplSSPHGa2ghQMb\u002BckztfAZVCjL58Uj\u002B\u002BPBov9mbIROBzD11DxcUYzKmJOnNfD7boUv02rJSNmlQU08AXauPhh6zfKUOeGzvQKcAU8xfMXuxjR6OpkdgL5XUJLzHFAaHF57KGgCZzCnfBZkLUuKc8SLUTs\u002BMAN/WUk0QOlOvJyygeTw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d66335dc-e992-92a7-e890-d9b114658bce/test-blob-62afe72e-eb87-6499-8fb0-80058dacd98e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5EE62FB7\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-blob-content-md5": "saX8HJpFXaqL4RJMUQQiWQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "1YOy3rSHMEE=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "rSuH5sMco8vkgKh9W8U5o7NU9pVRr29bY6MOFyWC9bYnIjQtvvbBnttH993DXTUpGkccmYFXGf27K4IfDYylYYvyVTmRC\u002BW8k1e6CreSlwZu5PzeZls00Ak2cpJ0oZFPoZZR0Qf8mA9iXwYpnQ9FKZN7sSiPx/svvYUwWplSSPHGa2ghQMb\u002BckztfAZVCjL58Uj\u002B\u002BPBov9mbIROBzD11DxcUYzKmJOnNfD7boUv02rJSNmlQU08AXauPhh6zfKUOeGzvQKcAU8xfMXuxjR6OpkdgL5XUJLzHFAaHF57KGgCZzCnfBZkLUuKc8SLUTs\u002BMAN/WUk0QOlOvJyygeTwulBZ7GMD1r6GuVNyzNzOZ88U2\u002Bha/88eyiJLVL95sa9mmbVwLWTUP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d66335dc-e992-92a7-e890-d9b114658bce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1929385994",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
