{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ba4a750-373e-b88e-b1e7-7567f260363b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D18F2F292\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ba4a750-373e-b88e-b1e7-7567f260363b/test-blob-e8b67dbf-86e3-f4bb-1f19-c2702d5ba769",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "2mvLaakakvid8IfruvD5CBwgYKwU63td9Ry17Wjt/1dr3MRT3WGr7LNTrs96uPR5KeYBk9s7i\u002B7wbnSNZaWPr/AvgN4spiu6dHT4wT2r4jwnO8OB7Gx8L1DVYm/tHoYOw/7eSzgWTYO7Rh9nQ8mxRYs3ZSnhDcOEs1CNVkO8zFXt6v4/zJcDEe5AxqVMFOyGJB3jtbhdLLU6WpfniPY//3rJeVjLcnj0M1Q6oUceN55kBjIm2BadkL5IBHL/G4j4AMYrg5qTu7Kl7oJkIoptHCL5g4HEGSZjLOmagm0F9RfLQqCB8rQE0Et/gOqUOG4z2udQBpgHM\u002BefyFax\u002BThEoPlqmd/q7[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ba4a750-373e-b88e-b1e7-7567f260363b/test-blob-e8b67dbf-86e3-f4bb-1f19-c2702d5ba769",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "g6nAo5KNlk1H4b4z7WrhEA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D190EE998\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-blob-content-md5": "g6nAo5KNlk1H4b4z7WrhEA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "2mvLaakakvid8IfruvD5CBwgYKwU63td9Ry17Wjt/1dr3MRT3WGr7LNTrs96uPR5KeYBk9s7i\u002B7wbnSNZaWPr/AvgN4spiu6dHT4wT2r4jwnO8OB7Gx8L1DVYm/tHoYOw/7eSzgWTYO7Rh9nQ8mxRYs3ZSnhDcOEs1CNVkO8zFXt6v4/zJcDEe5AxqVMFOyGJB3jtbhdLLU6WpfniPY//3rJeVjLcnj0M1Q6oUceN55kBjIm2BadkL5IBHL/G4j4AMYrg5qTu7Kl7oJkIoptHCL5g4HEGSZjLOmagm0F9RfLQqCB8rQE0Et/gOqUOG4z2udQBpgHM\u002BefyFax\u002BThEoPlqmd/q7Clu9LM2RJg8zvR6ZqiGtO5/xA\u002B54SpdU9cTO\u002BDwKp\u002BP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1ba4a750-373e-b88e-b1e7-7567f260363b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "526617030",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
