{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb7b924-a8f1-312d-fd7e-196580bb5134?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D193E0570\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb7b924-a8f1-312d-fd7e-196580bb5134/test-blob-02ebcbaa-78d1-e3d2-e8ac-720515b93598",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "8WHkHsfEqWWoyPRs9vmrxcA9E\u002Br33uN4gTI0V9hcSwPmBEIlU54TjuxeyYhddhWAKSH0ZWG1tRJ\u002BbJ2Vj1GNTH3xhfK3hnIiKYT9mBRaGgsdsy62Z\u002BaiME4vpucBfv6b0X0LbPAiyKOv0jvctx3\u002BI1GSd9sj1\u002BSWT1SkiN\u002BKIauGYsaXT64a\u002BuqKBpWrxXkwMYOVbwYid/qZdR2bfkDEJLCQVVVXZtSid33xmNBO6onbc1dc9bGkY\u002BrM/dqRfnuqxuHkG28k2cqu8veJMd8pS4qTwAvpaC//7PJqi2n6EfgBRtLvac8Zt5qNrQK6GjILorJP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb7b924-a8f1-312d-fd7e-196580bb5134/test-blob-02ebcbaa-78d1-e3d2-e8ac-720515b93598",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D194DC77A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-blob-content-md5": "CFKKVOeUB2Al7xXTwq\u002BaLw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "T82Igo6t3qQ=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "8WHkHsfEqWWoyPRs9vmrxcA9E\u002Br33uN4gTI0V9hcSwPmBEIlU54TjuxeyYhddhWAKSH0ZWG1tRJ\u002BbJ2Vj1GNTH3xhfK3hnIiKYT9mBRaGgsdsy62Z\u002BaiME4vpucBfv6b0X0LbPAiyKOv0jvctx3\u002BI1GSd9sj1\u002BSWT1SkiN\u002BKIauGYsaXT64a\u002BuqKBpWrxXkwMYOVbwYid/qZdR2bfkDEJLCQVVVXZtSid33xmNBO6onbc1dc9bGkY\u002BrM/dqRfnuqxuHkG28k2cqu8veJMd8pS4qTwAvpaC//7PJqi2n6EfgBRtLvac8Zt5qNrQK6GjILorJP/b5wwF6x5S59uU5gtOH/h\u002BoMOeG6eglwXLstRdHAX\u002Bi2qhM5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb7b924-a8f1-312d-fd7e-196580bb5134?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "963264954",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
