{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8da3ffb-019d-7edf-56fd-9d6e93fb4b66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5559A4DC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8da3ffb-019d-7edf-56fd-9d6e93fb4b66/test-blob-7f340f04-8d5b-0607-7667-d49880b60d0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ux42lz3lyp8D/fW5vzOMMhezsr2EzZEXbUPsOd8f6Oora1jT7U6s1grXe9daHV7bkUkFQFb6UYaMHyr5\u002BJC/4xUKjVTauEXJB9uzrFK6vE/lEaiVGqiUMBrSRs4jst55GJfBUI8JANgEOzh6R6Q00mLaFOfoKslsdVw6CHJ3plX9OpS6\u002BGy/2xDPkN5wGul1nnNrSJ33ke3NVdozz/hmjZTjfAwPedr2GzjWGJnq/FpyxGr\u002BC123Bqmm7aKRjAwYaQJKjZ3dZSSZdS1kIHhU4liAwAqOZ4I2K3ZjaIs3ZI4svq6WoG\u002B8lV5FZZYwU\u002BYwUgtKEcwBigGAE2Enefy[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8da3ffb-019d-7edf-56fd-9d6e93fb4b66/test-blob-7f340f04-8d5b-0607-7667-d49880b60d0c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5568FED9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-blob-content-md5": "bT30tnkKSGGhbUsBD3WCTw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Ux42lz3lyp8D/fW5vzOMMhezsr2EzZEXbUPsOd8f6Oora1jT7U6s1grXe9daHV7bkUkFQFb6UYaMHyr5\u002BJC/4xUKjVTauEXJB9uzrFK6vE/lEaiVGqiUMBrSRs4jst55GJfBUI8JANgEOzh6R6Q00mLaFOfoKslsdVw6CHJ3plX9OpS6\u002BGy/2xDPkN5wGul1nnNrSJ33ke3NVdozz/hmjZTjfAwPedr2GzjWGJnq/FpyxGr\u002BC123Bqmm7aKRjAwYaQJKjZ3dZSSZdS1kIHhU4liAwAqOZ4I2K3ZjaIs3ZI4svq6WoG\u002B8lV5FZZYwU\u002BYwUgtKEcwBigGAE2EnefyYYRCeN2HKvUHpwyqrSALrBteQMxaA7VLCKzSsFY0NlRxhrASFkhuEZpXJY[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e8da3ffb-019d-7edf-56fd-9d6e93fb4b66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "645198802",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
