{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b3a26326-16db-1ccd-677f-0aad7fe2d515?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D189B35C4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b3a26326-16db-1ccd-677f-0aad7fe2d515/test-blob-d8ac5fa7-ba5e-edba-04b8-c601a32ef702",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "j75NfrrmzeMdbjfo1UJHIOsNiY\u002B8r6lIUrmvgkuNmw5kx/wV\u002BRVCPSJCCP5tyOJZmtbMi\u002BT\u002BvOAUBSsAN0uYj9Mogw1FMSbVyktteaer2orXVeh0wQ8pZQscAfTpQgbXqngqREXUE2iw9sGZkUM4aSqhKeJiI87D/h0CKTAy7IhElc8ugJZEA0F/xMtNkNTH45fJRxgkdIepZkUn0eo3fQo4VPtzCuiUXSWg4l4DdW5JOkaZaaRvICFIhRlQHDFXSEbAFTvYVNmuNOryg5EopvHW3paknhRmyTTaK4TOREDzSZoXQmAyceZs6jS5fJyPH94oeT6bsqkxWksH/ShU3/Cp[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b3a26326-16db-1ccd-677f-0aad7fe2d515/test-blob-d8ac5fa7-ba5e-edba-04b8-c601a32ef702",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D18B6906C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-blob-content-md5": "2z0QgZt\u002BvIsjOsFpYgIjpw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "asH4aLkMcmE=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "j75NfrrmzeMdbjfo1UJHIOsNiY\u002B8r6lIUrmvgkuNmw5kx/wV\u002BRVCPSJCCP5tyOJZmtbMi\u002BT\u002BvOAUBSsAN0uYj9Mogw1FMSbVyktteaer2orXVeh0wQ8pZQscAfTpQgbXqngqREXUE2iw9sGZkUM4aSqhKeJiI87D/h0CKTAy7IhElc8ugJZEA0F/xMtNkNTH45fJRxgkdIepZkUn0eo3fQo4VPtzCuiUXSWg4l4DdW5JOkaZaaRvICFIhRlQHDFXSEbAFTvYVNmuNOryg5EopvHW3paknhRmyTTaK4TOREDzSZoXQmAyceZs6jS5fJyPH94oeT6bsqkxWksH/ShU3/Cp/jr2EGSQo22vN7TgrEyXSwumpsoCWJbx5ecUK3O\u002BGApDEH1imA55m[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b3a26326-16db-1ccd-677f-0aad7fe2d515?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "176450861",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
