{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73672cf1-b72f-1191-5cf2-57a1bfc45cb4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C000D817\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73672cf1-b72f-1191-5cf2-57a1bfc45cb4/test-blob-8badbe61-7639-c5ba-9224-33faea9e1f9f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "vVJuWzQRdXiaxVskz1LXkSTl5vDn7wtK3nUmdwJh7kFcreRtVQB/nBsB+zJLKSL73yQLPTSkws5GI3y/6v12ONYaxyFtajsjZUrV5fPZ/7VTK5feVrENuOsVJjKEwLIdisNbMGIAjXXp6Njqz9zbbSTHa79lmOElDQ42WEMJn6SXt1ovfc5SUp4i9W7YI+kPObkNvVTzt/LhNSNTyjQx30kzUheBrO9VdBggQ6NzTeklJh6K++FPpABoTUer/4hp8BUkpNHRjY3Jt0k80nNPbeg5LaMWp+Rn5K0WGV6nqnSQt1KNT6gYVJmQwUSYE9KMGN9fcdLkU0kwvcAju3QvIQzUqxshwR4/INkKheWgztDa[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73672cf1-b72f-1191-5cf2-57a1bfc45cb4/test-blob-8badbe61-7639-c5ba-9224-33faea9e1f9f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:328132da-501e-0068-640b-3ec624000000\n",
        "Time:2025-10-15T19:40:52.4430540Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73672cf1-b72f-1191-5cf2-57a1bfc45cb4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "591278042",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
