{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54c338c1-048d-1ae4-da7e-0c28789d69d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CEA0DF61\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54c338c1-048d-1ae4-da7e-0c28789d69d0/test-blob-7aef8d0a-0342-7536-34cd-d2a68325722a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "FknPZ0KR2ER5lRo0J0AuPgiSjrP7guMKswAAypSoEVeQlBIuzQGO1zkjN7ebUJsSlDEzdvM6e5NlxLRCkA2w0YPCo5IuAHAHBLd510osb2Jk7TZidJtjVhl+yQlNS0Yrc2Yz2awI5JTBLHI8wKRIOFVR3qPXTV3nXkx5sDZmubhwTWTk+Za2WwmioUcpJ5Z1NZCz/G2jVCUJS3pgjzRdWnK5zHM/ZD+/moKZNKwVvTe2BHqmsr1Kzfg+2q0bVczVRUbUcFsiNdBQ9GHqCR95841CqYq5tqe1bv96AYmSo0W2xO9lQE3ck8+pVb5bX8PZxecf2KxBG46fHgFcqDNGvlEcNEUvE7JAZha6D2DpWg47[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54c338c1-048d-1ae4-da7e-0c28789d69d0/test-blob-7aef8d0a-0342-7536-34cd-d2a68325722a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:c62123a1-801e-0054-5c0b-3eefe3000000\n",
        "Time:2025-10-15T19:41:16.8862696Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-54c338c1-048d-1ae4-da7e-0c28789d69d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "301314659",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
