{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-103ad9ca-c130-b51e-8508-0e5514548d8b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4DC56C1FE461\u0022",
        "Last-Modified": "Tue, 26 Mar 2024 18:49:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-103ad9ca-c130-b51e-8508-0e5514548d8b/test-blob-6879ffda-4187-1538-5378-056093d8b313",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "yPKvWWI40LAZr4dTHzl1ynOjCvx1LacgwyZNkguzfaNvDY0hpTMoPhQkZ6EhwvSJKOr3lNecippLj5U76j6kZjLk5BKrUyU/e8voUcUF/gAyxGkgvOjL04Lz1Rae7FPVfwFvPN7h3dXFtxkLtDnURpCVCSbVg6lJGRCPuH4PoY53EtHElsIiUOeUWwTPvx9JH4\u002BFCOMtAPtXJSLNUiVXtRaKlKFoEK/Ocrg\u002BQSileVrxRpjuiZirShLVbHCfVf7BPaXuRSt\u002B4A/ft5Yr77/TsqzI2wuMaCx930qOkqM/Lx25fAOCtjQvc2WJDtEBf1pTArnE1nnyNdR5cGXh705roIh4cXK7U[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-103ad9ca-c130-b51e-8508-0e5514548d8b/test-blob-6879ffda-4187-1538-5378-056093d8b313",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:09 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EUnsupportedHeader\u003C/Code\u003E\u003CMessage\u003EOne of the HTTP headers specified in the request is not supported.\n",
        "RequestId:040b538c-701e-0001-52ae-7ff7b0000000\n",
        "Time:2024-03-26T18:49:10.0873255Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-structured-body\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-103ad9ca-c130-b51e-8508-0e5514548d8b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1371851876",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
