{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da9c67ff-9b18-0560-7109-93a4363fb49e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682656559E1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da9c67ff-9b18-0560-7109-93a4363fb49e/test-blob-989cce56-c181-d6a7-532c-3ab818eb664e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868265731401\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da9c67ff-9b18-0560-7109-93a4363fb49e/test-blob-989cce56-c181-d6a7-532c-3ab818eb664e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8682657F47F4\"",
        "x-ms-content-crc64": "Y2ZLBWZn0Is=",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1FM+ABPUQPSQl6xSxNJyviGzBRRXWuPuAx9LR5JsMSyFn7pAdObMyuLzySTz+QNJhrpIIPsr4HhvUP30iPhiI2WAzSUYMUk75joyY5G++wocAcHXJBExWb9B0CTp2EHpkaW/cizeMVVxDDnA+HznsFXy2Ic3i/9TT3Nl1mAkUQ34SdLr/4jePdBsZRfXcGFCWh/P9gC6sgamayO4eFr0TLosx6+q+7HMFJq3yyXne94RI3tBVVsMPpbLRZRlJcV1dxlcq6mxmF9uAuJmA+bhvvBEplXesvdfH4gY3rUcZ+7VQVMMitA1YIoc0lJ4pjuw6oejIH5vl8Uh/YsgmLqpUZvzkcKT1DMgD0bLweCk5[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da9c67ff-9b18-0560-7109-93a4363fb49e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2113415692",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
