{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb045c5-83b0-5038-b96d-04f53a42138e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D2CABBDCA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb045c5-83b0-5038-b96d-04f53a42138e/test-blob-f60ad71b-23c5-53c8-c02b-c1c7da96fd56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D2CBB5D12\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb045c5-83b0-5038-b96d-04f53a42138e/test-blob-f60ad71b-23c5-53c8-c02b-c1c7da96fd56?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Cq3VbVeCjusiD2kJmSOrAA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D2CC9B4F8\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "0wxcIRAb4SRwzUz6VFDuuuMn1bix5yoVLWumimKNmZ8qkxRVoWjMBKBsupW4TdAYFIRjIKvT6uvhRvOldFfB4jSt0ME8mBl7W9AXRSyUXeCajnXdKnjzVqgodFp0JpBIqthhC3wO3Htr58Tau6S\u002BTOkTCubi47i7uXkYEyS\u002BBjVAzptUM1Fji7H5ckK0GJsEaSdwYRypZsYfplIC9slXrOGPmuwJahmYr3406HF1B6DeFKn9TaUYlmfUNYz/YJXoosZhJH6v\u002B/8N2LGddX5VqZ\u002BxJOIfWV47dwOENTWMmU7pTEWqFOIhLhmq73X0eiHpfovt[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cb045c5-83b0-5038-b96d-04f53a42138e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "832006002",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
