{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41f8bbd9-589b-6827-0941-4e8a38a99c62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0377401C82\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41f8bbd9-589b-6827-0941-4e8a38a99c62/test-blob-537d1e87-73e9-984d-6d56-1fb7d323d2f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB03774FFAD5\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41f8bbd9-589b-6827-0941-4e8a38a99c62/test-blob-537d1e87-73e9-984d-6d56-1fb7d323d2f5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB03775EA0C3\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:54 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB9WC6hiSAfChQe9C1klGIfSzHnC/HBC7K+LM9z0LGMUNFeFa27VJOCDK7HOENX6fgu36oaFpCku0174lxQrDlikaRcBn60Y/aeZP9D+dJvZ0PXRfEGcTlAuVlgQHE2MWB0Zaae+uN5eXyzfLGRYcJ7C3oZeWZIWx9qG0wkVCOEZzKezpQr0GxfXct1UvWIr1eX5TT3Hbf5LAmHNN+WVCVZLhR+8pIuTzoOuRyb0wkq4mz1jW/ujUp7paKLpJyNyAimGyPgCb3EaJX56WObXlj/XFJzoce1aqHKA03wo6qegPET9bflSdivMCTZ9KTm30ZJi0dJGidB8LGCFgVw1MXqWmhyh2mhGhN6xHGi3HX84yMGphdjVWbJ0gUGYjLTPlte75o8dFj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41f8bbd9-589b-6827-0941-4e8a38a99c62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "862683734",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
