{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6882a00e-f631-14ed-d687-d8ee63dea992?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB037868BE23\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6882a00e-f631-14ed-d687-d8ee63dea992/test-blob-e53b7302-db00-8bf5-679f-609c8210b728",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0378787565\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:17:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6882a00e-f631-14ed-d687-d8ee63dea992/test-blob-e53b7302-db00-8bf5-679f-609c8210b728?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ApXvOBitrpNYm8tOk3tY7w==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB03788630F3\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "RBH7NaEKH27GgBZCkSpbAM4iDweo7NNauqZQ8K7YhuTbmX6n2oMU1DzH9T/+gYdi9/EzWF0MI1c+oXv7uS/A7vkyZvissyVKDTvL4PaTXDge7vm9pC2Gz3UmaTkIGRoNBwZGzByPtUPL6UsiQENhqkRC3cs1AkrLq5eChkrsQfQgvtnvTZAdjji28bviZI4yxL70xTxP1wS8eiCDDC743qdWAYJpcl20JU6SfxGO6UYJUMKL93y30ebUM9NvmYEJvRIUi2MLyFJhQKDtvVfzLZDaerxsbOcrnjCblD6KRIvNiML+el3j/YdvKrfbyhOP4QVClR/FnVAr6ewycDMT1vsUIDSV9bMz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6882a00e-f631-14ed-d687-d8ee63dea992?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "725060893",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
