{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dbe69a4b-ac4d-2984-79d5-de807f5f89bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D6CE2892D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dbe69a4b-ac4d-2984-79d5-de807f5f89bc/test-blob-177b3cc6-006a-e3e7-2c27-fe64293a5793",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D6CF25DB4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dbe69a4b-ac4d-2984-79d5-de807f5f89bc/test-blob-177b3cc6-006a-e3e7-2c27-fe64293a5793?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D6D019FBF\u0022",
        "x-ms-content-crc64": "rwNuthZHSrs=",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "5qLwNIAYzuCklDfgW7zgI\u002BpMW/n\u002BmM4Gpig7Dv5YZo4KjOClZbYSDLeATFhOK/VX0Eizn7poxk3T6o1X3L/iSy6p1c7bOr4zOU9BfUx1t3oz4z61pMbTosaT0noouy/3ngAqpFUme5WKgGVqJkgAXTITJPmBLKdn1TIHSGhECn4gSt9LSxMkDGeoKyRhaHx\u002BknRHFZY1dXFZw88iHjMsRXXnStxotRIf7heS2QCDBmy2ibX0/PTn6tRt8YdDAu0ze\u002BWueR2gFd0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D6D101EAB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:31 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "rwNuthZHSrs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dbe69a4b-ac4d-2984-79d5-de807f5f89bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2005762599",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
