{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-790ee42a-28af-738f-e80b-a38509a8a992?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D71886878\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-790ee42a-28af-738f-e80b-a38509a8a992/test-blob-b18bd792-210f-54f9-5139-4882fb2335f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7197EFFA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-790ee42a-28af-738f-e80b-a38509a8a992/test-blob-b18bd792-210f-54f9-5139-4882fb2335f9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "G\u002BXMz0E5B86YhDJl8vpEHw==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D71A647AD\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "1czLIisDgfv1Y8T0NOmB9D5ceoB\u002BFXOCfufuBdv\u002BAvc7GM8lKKobBwcvnrtXI41\u002Bwl\u002BzTEP\u002BXMBZSaREFHsg92HNuRwaW8yTQXJ5Tna3KltZcEN7SrazPbsPy94G1vOLD6daimlxZGaTIArRhQ1Joh9J6qQ3pKyrGXxgC5DujGp/7T/PXJ/x6Avd5yqr4bitxSi\u002BvetOU2r6r3DtEFnVpZOgUpfOeUZ/VwKZWryBADjEskVnL89\u002BMJnU1awuA9eyB0KXCo4g30ziPmXotfmueK84KV4TbnXEISH9\u002BqSZUVQr5lJ5[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-790ee42a-28af-738f-e80b-a38509a8a992?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1150368980",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
