{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a0e63d0-a7e7-183b-e698-d5c0cae9ebbe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5F97B244\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a0e63d0-a7e7-183b-e698-d5c0cae9ebbe/test-blob-d135bbf7-979f-3a84-ccbb-ac171792747c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5FA7AABB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a0e63d0-a7e7-183b-e698-d5c0cae9ebbe/test-blob-d135bbf7-979f-3a84-ccbb-ac171792747c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5FA7AABB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a0e63d0-a7e7-183b-e698-d5c0cae9ebbe/test-blob-d135bbf7-979f-3a84-ccbb-ac171792747c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D5FA7AABB\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OAnwpokDm7q2Zgm982IyA9z9bHQhKxw7VJjpFcpZxfD1BKDb8RROULsNCTr55XAbL0d25bTAjgzstFLwGYXwXKEZx\u002B/BVxLIrhu4EyLhQm4nzuaC4uA7NHaU7j3CXTc1HayZ4B2BWdc1rjaZB3rqCnLjyEuebXnA3ZN5LGjUBVHjgvZ1SGFQpnQPTDSqoSz7quPL3pTsl68y2AKKCCxuYKjltYWEdMIQkyLWjyFFFjxmfYKFCSe89\u002BtGQm9fxZ1HoOyLxOyndjUguktyFQeO7MHGJIqq6VaBKb2ZPTFTsc2Eju80ulFPvgdMZE7cSeLkuFWtmKATnbaVCZ[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a0e63d0-a7e7-183b-e698-d5c0cae9ebbe/test-blob-d135bbf7-979f-3a84-ccbb-ac171792747c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444D5FC321FD\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5FC321FD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "OAnwpokDm7q2Zgm982IyA9z9bHQhKxw7VJjpFcpZxfD1BKDb8RROULsNCTr55XAbL0d25bTAjgzstFLwGYXwXKEZx\u002B/BVxLIrhu4EyLhQm4nzuaC4uA7NHaU7j3CXTc1HayZ4B2BWdc1rjaZB3rqCnLjyEuebXnA3ZN5LGjUBVHjgvZ1SGFQpnQPTDSqoSz7quPL3pTsl68y2AKKCCxuYKjltYWEdMIQkyLWjyFFFjxmfYKFCSe89\u002BtGQm9fxZ1HoOyLxOyndjUguktyFQeO7MHGJIqq6VaBKb2ZPTFTsc2Eju80ulFPvgdMZE7cSeLkuFWtmKATnbaVCZsuDjgDzQl97YYXWTJvd2aDXYUIpN/btIXcpRgscfE4n7G2ILDOSZZFXlxbzF8jPSE6kD8xjWS8U1mzJyfwUHuV3rmBuVa2tBTuwkWCgOgmuGj38uGxBxJM\u002Bc1WGyFuVA7gxu2looPLhNsrQ8oeOdNxjW\u002B/\u002BV6a49enNMCIX5nzf243orn6gBbkLG4GhsNILb/65Y6yr1uvRuIW/m3DQiRCOMNc55cZdwxY283wlF0TXwcAjnoLQNASh1zX44KoIelJw04A60Yo4W2BWdSOv7GFAp9lwrSqN/fzSV87QZOKr7njptAOE3PB2K0Miuf7hMiqUuHiQ140n4xXDKLn7J/a9qkaqhg="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a0e63d0-a7e7-183b-e698-d5c0cae9ebbe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1114707730",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
