{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2061e6b-19da-8218-ede8-1e3404d835f8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E721B7A07\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:58 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2061e6b-19da-8218-ede8-1e3404d835f8/test-blob-becb16ed-696f-0d06-3b30-59bb86e72127",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7227B905\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:58.7814149Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2061e6b-19da-8218-ede8-1e3404d835f8/test-blob-becb16ed-696f-0d06-3b30-59bb86e72127?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E722F2ABD\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:56 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAACemk/jx2RWPW1a3pXaKuTTH4XUCkcXGmz8JeXFYa/jnVinTwTK5tL8pFOwg5hCA/Fh+uJCYeJPh4Di5qF/kNu9d0E8M9vfCDmz2GXzZpbUuiH0ZGfMoDt1V8iE5wAwfBN38gxWBs8VgfGpj4l9XCDpDit/iyx08dYFxtwSWyA5gltSe3OKfbRR3uN1IxGy+PunmtnUsPHnAwE2UT/zAyXQcA0uK+CtX5B3La1I/87FU83ha8FHZNFqanhyVCx0Xtu9pLMEhM0a+u5I2HwUFryB7kjYfBQWvIE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E72369C7C\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:58 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "7kjYfBQWvIE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b2061e6b-19da-8218-ede8-1e3404d835f8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1688327290",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
