{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-721dff44-75de-a03f-7c79-5ad40bf204b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694EE12891B\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-721dff44-75de-a03f-7c79-5ad40bf204b0/test-blob-b793a366-ff84-952c-2e51-0d320ca16348",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694EE22E0DC\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-721dff44-75de-a03f-7c79-5ad40bf204b0/test-blob-b793a366-ff84-952c-2e51-0d320ca16348",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694EE22E0DC\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-721dff44-75de-a03f-7c79-5ad40bf204b0/test-blob-b793a366-ff84-952c-2e51-0d320ca16348?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694EE22E0DC\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "3Gmv3qyyhH5Yiv16hyCJIXhgt6sK48A2pgQrHhc8Svix/EKtrCJOatppyWRTvF8j2Y3y6MQG5/moeDenhmZnG0AEyYve23RWEk3RoRpb4uqlB0SJSmEzqhVJBDPqpuNzAq0kT/LTRf4Ym9Z3NEbfTZZNAn4h3dHe0B92lddBa2tpXZ5sN5P30cJGcK6LvHXPabecnKNlUiTcRX7TXbAm1jBqDtanchYDVjC822wiUxSppysfpc7HAwt6kPEUI3QSH5p+Ia2eJ/ehmUZzqHe4ufJpKraEBzFhogrLLOIk7jO8qrvSpDJmCn80fguIVFuUwtf/qvi+jRhoHH6j0/sVfaoStv675RTA[...]
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-721dff44-75de-a03f-7c79-5ad40bf204b0/test-blob-b793a366-ff84-952c-2e51-0d320ca16348",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD3694EE5DA97F\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694EE5DA97F\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADcaa/erLKEfliK/XqHIIkheGC3qwrjwDamBCseFzxK+LH8Qq2sIk5q2mnJZFO8XyPZjfLoxAbn+ah4N6eGZmcbQATJi97bdFYSTdGhGlvi6qUHRIlKYTOqFUkEM+qm43MCrSRP8tNF/hib1nc0Rt9Nlk0CfiHd0d7QH3aV10Fra2ldnmw3k/fRwkZwrou8dc9pt5yco2VSJNxFftNdsCbWMGoO1qdyFgNWMLzbbCJTFKmnKx+lzscDC3qQ8RQjdBIfmn4hrZ4n96GZRnOod7i58mkqtoQHMWGiCsss4iTuM7yqu9KkMmYKfzR+C4hUW5TC1/+q+L6NGGgcfqPT+xV9qhK2/rvlFMACHzZQiSXYTa82agskQzr+HKJph7PDN4QfAWB1nl3Y3MI/qNmHPY9CRDD0nJAJWGfYt+EYe4wMP+iyMIjEYq9SXo1I5Zthd98TJ0ODz5vzFaj5neZ7v2A1Mmjw1Q0GfeGAoT4CwXLLd0ACBFRJiW9Nvhvfy8XI1p4sE7IycKHSDKliAi1d8FQ2LiWmebsM7Kn5oxbxJ7IbuMuf1a7AmAeeMPir54ZB8M7GqZ2fIl3jICcIOcyL4OX2RkpivRqmdpUeB0jCYAQit7NIK34VfJVtvLWGt186E1AStaA83zKzIDIHgRsVIMAi5YIYQ7Rm4Mq09ABlH78245APOX7YiSx9kA85ftiJLH0="
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-721dff44-75de-a03f-7c79-5ad40bf204b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1533494853",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
