{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d805a2a-30cd-b23e-974d-6dc5b31b8306?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E54E9471F\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d805a2a-30cd-b23e-974d-6dc5b31b8306/test-blob-ee02c754-6967-2795-f4a1-287b837dbc7a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E54F55F68\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:09.7975144Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d805a2a-30cd-b23e-974d-6dc5b31b8306/test-blob-ee02c754-6967-2795-f4a1-287b837dbc7a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "QVfP2gXS+xWRPd+5Ji8weg==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E54FB7331\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "mSVDDQ2YxLjyXDYOdmRJ6ydCuxssVWKxB4c/qTaMpn0bhUFDaBkecdM2O0cB9DWETU+0O96HB0PDkgWFWRuCZrW58vAiBoIOJEpI9RobrxJRulvn2GuelH3+gNUTmBi3tNWRSANEYkfMpheUPxIpqOPzNJ6/mo1JGl5zJIWs+osxkEFFiWYQDFgUGjJUClRr1NjyIGN6+BlHSC6j0T3BIKuLYq/Q5B584idFq4Bb9Q8KB0+tutkot5gn/UE4bToaU/qGyKilmvC5dT08NEyZ61IemcruE2XRY6oWqebdRHXsKliG1C1mZGxf9EWc64NLjhHuGdNwLD+UtGX+jvEJ2zDHTwr0EhYk[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4d805a2a-30cd-b23e-974d-6dc5b31b8306?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "733318057",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
