{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-96e0a00a-75ee-837f-0075-4d1c6c05bfa7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5F1F9C3B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-96e0a00a-75ee-837f-0075-4d1c6c05bfa7/test-blob-79862781-75fb-68ab-bdff-b8e8bb608735",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5F305803\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-96e0a00a-75ee-837f-0075-4d1c6c05bfa7/test-blob-79862781-75fb-68ab-bdff-b8e8bb608735",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5F305803\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-96e0a00a-75ee-837f-0075-4d1c6c05bfa7/test-blob-79862781-75fb-68ab-bdff-b8e8bb608735?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D5F305803\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "N6DuN5gK2LrqR/uNjSzAdJ\u002BOZfqx5/Wmsnqf6wDLzOUZHhsjnZ4lrJmZ7WqMQYOGjtpJPlBMGFCqR4Qea\u002B25HnsVc28RnNYBaLlgGPmLGXH3GVwmgY2VzQXKeFYaB0Cs38/uds0UdPIESNWX6wBXHi0SJ1KQk53tgKZpRiSA52F4tDgqnKOj4qRqITm3/uEFc1koB\u002BDuHEwyAfYnqi3NhGB0HjbHLIKKb0StJXFjNoHEZNLKWOCBiZjs\u002BJusfDh3nZ3YQ9\u002BqPUfXnZebQfbazsp0YkZaAyyA85We2zTm3fMMNYjUivOiGiaL8rpI5Ue[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-96e0a00a-75ee-837f-0075-4d1c6c05bfa7/test-blob-79862781-75fb-68ab-bdff-b8e8bb608735",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444D5F4C4464\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D5F4C4464\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "N6DuN5gK2LrqR/uNjSzAdJ\u002BOZfqx5/Wmsnqf6wDLzOUZHhsjnZ4lrJmZ7WqMQYOGjtpJPlBMGFCqR4Qea\u002B25HnsVc28RnNYBaLlgGPmLGXH3GVwmgY2VzQXKeFYaB0Cs38/uds0UdPIESNWX6wBXHi0SJ1KQk53tgKZpRiSA52F4tDgqnKOj4qRqITm3/uEFc1koB\u002BDuHEwyAfYnqi3NhGB0HjbHLIKKb0StJXFjNoHEZNLKWOCBiZjs\u002BJusfDh3nZ3YQ9\u002BqPUfXnZebQfbazsp0YkZaAyyA85We2zTm3fMMNYjUivOiGiaL8rpI5UehESnQOBnxHJlxWE9KDGIS8b\u002BkjwtuBkPX0kgfzhBxNw1N/MoLFaXZGhnuYjKjVw3EeQH6pFU7Mgvl\u002BWbR0U2J/yBB/BCYB9say3XygKMRM3o6W1UOdpO4Ecm\u002BJRw\u002BCEjLZGIRYVv9LHIm39jgSbJn1MXslnb4eomNietG2eG/3MMsJxtA/9IfPS/i6Ja618gXV1BWUnHS0urZhNdvtlOQZwMVsyGWJtXzzFhGFZLy0rIiLoGRaIlRWlUxZ3v6r4fcUoGSpCOngTB7Y4UYi7xY57ElTYfR//56xFnMZL9Z\u002BB3RasMQXy6Oe61RFQQDOM6Y2YDK1GL/ClKCGODK2hxxIWpnRyD4R4eCl9Haf\u002Bn5dos="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-96e0a00a-75ee-837f-0075-4d1c6c05bfa7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1362686700",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
