{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e3097640-13ce-b558-8a79-18a807613a1c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D600BF7AA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e3097640-13ce-b558-8a79-18a807613a1c/test-blob-53dfa075-5578-ee1b-6d61-5a2ba5de8815",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D601B7B26\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e3097640-13ce-b558-8a79-18a807613a1c/test-blob-53dfa075-5578-ee1b-6d61-5a2ba5de8815",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D601B7B26\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e3097640-13ce-b558-8a79-18a807613a1c/test-blob-53dfa075-5578-ee1b-6d61-5a2ba5de8815?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D601B7B26\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "boJLuG7FuLvcehKDXCkxFram2FVSCFmnb8U4SUEioeT/HMABKAoCCvlTVUcKtdMDsizARhP1SWUopEmpjG56utkthEBpMO2ro85b/rMSnLnyNZYUYVrRCdJa2YTAWX2L2Jtu3TCTmYI/FKNEmUqyFgePt1fXZlh/XHttDldo60lR0CYXo76JX5sU1Ey3jG\u002BIqMJ8MaIms3JC74G1JYsr1ylZ88kkmnJJBle7w5ELyNAL5GaU67mnKxyz1LQ90zkQ6f0iXZimZA1QMypKau/gNyexqkEllutvssiscMW9CzMeq9qU6Go3ZX9YQ7ePXMAs0p2Niyn36lISsqrQ\u0[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e3097640-13ce-b558-8a79-18a807613a1c/test-blob-53dfa075-5578-ee1b-6d61-5a2ba5de8815",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444D60378E8D\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D60378E8D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "boJLuG7FuLvcehKDXCkxFram2FVSCFmnb8U4SUEioeT/HMABKAoCCvlTVUcKtdMDsizARhP1SWUopEmpjG56utkthEBpMO2ro85b/rMSnLnyNZYUYVrRCdJa2YTAWX2L2Jtu3TCTmYI/FKNEmUqyFgePt1fXZlh/XHttDldo60lR0CYXo76JX5sU1Ey3jG\u002BIqMJ8MaIms3JC74G1JYsr1ylZ88kkmnJJBle7w5ELyNAL5GaU67mnKxyz1LQ90zkQ6f0iXZimZA1QMypKau/gNyexqkEllutvssiscMW9CzMeq9qU6Go3ZX9YQ7ePXMAs0p2Niyn36lISsqrQ\u002BfRIkyj3LL8VTE68ekTCzVMz4FUHf50nL38KJsCIgjbAZmuLD7CPmDABF4ZP0RHkNR3\u002B3tJUyHlWIGOo7AX\u002BjckY\u002BxPZNr2io0glBmgW2F1uJvCiiaNja57xNO9M56sqAoq8N9X\u002BC/5gXDqKL8IRQEgFOcYUXAMmtJB15wLNVbyc\u002BgPdWaCIbxvxQi1o2Tvb3/SnRq3lFqaGloNFiSP8kgZ\u002B7TW/NOanfcqrIhrWvdpVmQcOJg4Ot\u002BNcV8MdQub39a8m6usFG6sNAMjjOfOMsNmo7\u002B8c7Wz3bzZRYt0iiTrjsy1qr9LuT31bACZFK33wz6fqdVP22ghDL3q1s7nO6naN/4Y="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e3097640-13ce-b558-8a79-18a807613a1c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1853936301",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
