{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f08ee7cb-c6ff-6d98-ea37-6ea47295cdda?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB63D95F825\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f08ee7cb-c6ff-6d98-ea37-6ea47295cdda/test-blob-35ffbe78-d0d4-e00d-2d9c-62fbd250e117",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB63DF9C4E9\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f08ee7cb-c6ff-6d98-ea37-6ea47295cdda/test-blob-35ffbe78-d0d4-e00d-2d9c-62fbd250e117?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "eXaUHMTVYxiKC+9o1HaTYQ==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB63E010FB4\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "KjLLnAMEsy8U/VrNJD7b5GV9IDvT1RcUwNiJnoiwEZQBiC9gOjbtf4KT48RCE3atNC+8AuL0RlQattsrehWmY+vFzJwOe6kvj6C5P/JS0q1h3GlZ8w+yDELbRYNawgVt7H/YfEfanrmFjXJBOwZiyOQtyZ2rTG/cE79aMzUl1MyaTFNyeVVnhz6w1GaccNA7eH2fLflnwZ8P/GiGgGuDX7impu+z8E6OxkFf+3gJQKPuHrq4hqfTM4qzYn3s4AfSLXSu9snhiIguEWa3CMUnBrvFmGGxytkQ0nNk/43RoeY6jM4DW0raDZYxinVAGyrFjFzBJ0ilIWKbnSNVfIj7XW+AfXv3I6tx[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-f08ee7cb-c6ff-6d98-ea37-6ea47295cdda?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1027180890",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
