{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0104bd24-e9ae-e226-3373-131c7c7497b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCDDB63E6B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0104bd24-e9ae-e226-3373-131c7c7497b9/test-blob-0f54fe12-0eea-962d-3336-95eef6b0718f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCDDC5A7BE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0104bd24-e9ae-e226-3373-131c7c7497b9/test-blob-0f54fe12-0eea-962d-3336-95eef6b0718f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCDDD3635F\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:15 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAglLlZ5TfbfCflFwFMMt2BBRuUNHIxMaj0cQe7//0DG+GI02/4FBJQbIY9oi91mQM8J5IAOpei72MRZHQwH3wq4fwgw15uifAJQ8jr8455f9cEf9hqA+FK5eMM57CdIEwKE8EzVNakzZ2i9/bOt/vUl+WcLKCkv90a1t16YqJAayN74eDNRioBX7E6yAzqey7oN0/KAfSsZVTjGH74KWv7YovTU9UbB1G7mszuafbRL1uukipSdWkuznuL6S2rCTZFP2aAFydZzDD+D2cnvvxdEugjSpZBqOwipIRZjx4jD5GWqCmQUBgzVcX5VGUCBhB/LtZFiL+fBJd5XnKj/z0S2gDVkRbSzcLP7/TQR1OHH5102mFH3YfS9qOSFvKmj1aI53plLHX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0104bd24-e9ae-e226-3373-131c7c7497b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1247781610",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
