{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-65679d72-94a1-23d0-0fbd-ed0aaa0fbfcd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:35:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F52D1DE707D\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:35:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-65679d72-94a1-23d0-0fbd-ed0aaa0fbfcd/test-blob-5af23750-f352-d3d5-e817-987901ef88e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 13:35:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F52D1EB79A2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:35:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-65679d72-94a1-23d0-0fbd-ed0aaa0fbfcd/test-blob-5af23750-f352-d3d5-e817-987901ef88e4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Rw3TPOnlEJ4XbaXwbpntLw==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F52D1F89901\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 13:35:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "nTFOn4j5WamNqK9ZrGQZLovuZ764ZXqzT19/gE1Amhr\u002B6s7XkpN2qZKuzKosK6Vq8U1ENTOLRTi3m08pethbTA6UW8GVQZv3d74sCpjQhiO6FI8A/GXncqWWIPdDTS65Un\u002Bcl9Dj1a\u002BxTL11Xjuf5xUrb2VJWk\u002Boregb/yGktCqQc7cYNO5T1j/gT7CochRq9jnhF97Ib/gw8\u002Brnx9WODJeS5OqEh7Mm2JgmaQqeADvUsQjowpxMxwO\u002B6EAEbA5pUkIZFY0p5m\u002BFuz9FogbtkfKvEhbMpUn6Rh3nxZ5yImyJvBfHheutq[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-65679d72-94a1-23d0-0fbd-ed0aaa0fbfcd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:35:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "260076373",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
