{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-21acca08-b90b-2a83-c50e-f878783dcef2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB651C4AEA5\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-21acca08-b90b-2a83-c50e-f878783dcef2/test-blob-04e5aea1-c16c-15dd-b882-f88f88e40413",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB652284634\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-21acca08-b90b-2a83-c50e-f878783dcef2/test-blob-04e5aea1-c16c-15dd-b882-f88f88e40413?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6522F4339\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD1E1hg0k74A0Q8Rg4MbSjZUHeObkF/50iSdmQI/nbbtnqaIO6TXa6cEPgKzo2pu1DXLL4clhPQdSsPzVzq8ATOYY+Uck06RvLJ8V1JdRq76LoUMNK3vyBmyqvCg5BRsSDzO2z+FUkDnObMUqS1hv8RVOWh1sAyF6JvLaeheMJieD89VjmtvNNxEJPr62x7sUSrsC+rsNtgwCTKj+ehYSQkadpkeC/GZJcRL8UsRiw183xj9seSt8dk3ZUU4i3r0K9ux4GSFzgU5EuYmYAWM3n4lJtrPWpdkbISAJuasYFpJl8VvX+qo9xDTxF7+h1HTakcHE6Sf5JEETXOfxadejPKLnMgAXb6TfG/KO5Y4ZeUy7PyfZQz16bN0KtJ2yPFpdXescyqJks[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-21acca08-b90b-2a83-c50e-f878783dcef2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "425270988",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
