{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-94f6ad93-9458-5a76-85ad-478c7f91802b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CB4313CA5\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-94f6ad93-9458-5a76-85ad-478c7f91802b/test-blob-bf72b29b-e513-a978-57eb-fd515e4ee31d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:07:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CB43A8CB0\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-94f6ad93-9458-5a76-85ad-478c7f91802b/test-blob-bf72b29b-e513-a978-57eb-fd515e4ee31d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "HrgHhW5W2+WlS7ZgBsjopQ==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CB44162D0\"",
        "x-ms-date": "Thu, 08 May 2025 22:07:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "W3/pqsJ6SuKItkB39VBUaM6fRRoz7pfQwjvulDpse0a1WsqGMjTlzBp7Cd1Al7gpVAzqJcgQEGzoGOeHi7WoHDv5wpuGzjaZuXgAuOS6kCuCxD8tgVV9pEpdnRpNXkBk0+2hRtUdo4bWUGxPEFiHLoi8BMd2eprmex5QKTAcTFo3m+T3GElXZCG4VjDoLZTx1W+RkFl57llSu8q2zHpWugQRGHRzkBY/ZKClvSNp/k2JX1PAirsBvqyLpVx+oJinYpws1hUffkVZUSy50zA16L19LG0mlTBIEFnI6Oq5wcMI/lqHPSc3aeEOZziPR+p7Vb2fAXQqgc1s5MW8V5Van5BosdXWrquV[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-94f6ad93-9458-5a76-85ad-478c7f91802b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1265986698",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
