{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-270e1411-277e-0366-16a1-41ed9a0f6055?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D206536F1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-270e1411-277e-0366-16a1-41ed9a0f6055/test-blob-5ee573ab-5ab7-c9cb-839b-0fbf5896e610",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D207521E2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-270e1411-277e-0366-16a1-41ed9a0f6055/test-blob-5ee573ab-5ab7-c9cb-839b-0fbf5896e610",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D207521E2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-270e1411-277e-0366-16a1-41ed9a0f6055/test-blob-5ee573ab-5ab7-c9cb-839b-0fbf5896e610?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D207521E2\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "w0tEp89TTZpF576J7gVeiMm7s74OLpR/XrhGmZBc7cKYcZxYSTG25o5m7NmICTiyuF2ofvKeuJW3xUgWDLQJ6Pr88HxoBT\u002BYBMwwqEG69lWAk\u002BEztG/P\u002BrkHoYTon9naXQTfjBi8SrIeEHkmbRBU/c7zlnnT1jSKLfbDYWS6r2TzVks922o8xEkuFKP1qYyps6S19QlgBobPVF8i\u002BelOY2AVMhfEFiFjt9IwpMKRlYNpGa3ABbpbk0/EbYcLGspg4LBC4HZ05JyCUj42L2LEPr7buN87jV6muZ/I/6mZWJwHz8QRTrUN9TURPbJ8JGPtAC/J[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-270e1411-277e-0366-16a1-41ed9a0f6055/test-blob-5ee573ab-5ab7-c9cb-839b-0fbf5896e610",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444D209B4767\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D209B4767\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "IIE3ok3WN3c=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "w0tEp89TTZpF576J7gVeiMm7s74OLpR/XrhGmZBc7cKYcZxYSTG25o5m7NmICTiyuF2ofvKeuJW3xUgWDLQJ6Pr88HxoBT\u002BYBMwwqEG69lWAk\u002BEztG/P\u002BrkHoYTon9naXQTfjBi8SrIeEHkmbRBU/c7zlnnT1jSKLfbDYWS6r2TzVks922o8xEkuFKP1qYyps6S19QlgBobPVF8i\u002[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-270e1411-277e-0366-16a1-41ed9a0f6055?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "221731990",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
