{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6662cbb1-6b27-a60c-0dc9-c16e5cdefb37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868264581F93\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6662cbb1-6b27-a60c-0dc9-c16e5cdefb37/test-blob-1424e539-3ad4-f42c-5899-f455a15f26b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868264653D6E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:42:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6662cbb1-6b27-a60c-0dc9-c16e5cdefb37/test-blob-1424e539-3ad4-f42c-5899-f455a15f26b3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868264712352\"",
        "x-ms-content-crc64": "V8l78u2l1Mw=",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "16WWa8qukZMTlubN4oopDTzPkK+u5HO2yoyo0OMa9M2QZavXaSEnLxycBC2I9vInmCxhByIadPIx4KA+BcCw+KIYPH3eUaQbqGCTEuBGLdSZgTi2uO2rdvC5pomA6Clb7AuKcLl1SEaIRl7BhmIS67PMpYSH+UC1bMaNJasamsA3NybUu7waJDjxLXKO6u+OprvWtEOk0/LL1QTy5yObbqueiU47PS/2sYFMlczNJoHW/n7wROZ9kmQzCea4JzwVVr/G72GhUmmL3wLCWD0l/a6CHOmkqinFIfbqCDNJPolENz8NBzcgNasVZGXjujomDQw3NQtScKyVAM5qtko1QqB4fSD+GPZ3Yuc9jkbE4[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6662cbb1-6b27-a60c-0dc9-c16e5cdefb37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:42:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "287080546",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
