{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e1fa9071-fce1-9c48-563a-12971ce18a52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6258F4F9E3\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e1fa9071-fce1-9c48-563a-12971ce18a52/test-blob-afe81d47-3cc4-1da4-1858-eff6c183a718",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F625905985E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e1fa9071-fce1-9c48-563a-12971ce18a52/test-blob-afe81d47-3cc4-1da4-1858-eff6c183a718?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F625911CD5E\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:32 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAAA6N33X2vCOTYbacmY8WaPGYR4eHlm07if2bXa\u002B/t5LASBgs8ITARmIbzpOie8NvnV1X8m2Tj0GhklW4W15z06oj3FF26bhs2AElq8fZWQ46K4ASJ8UlLLiWS14vR\u002BsDp/rpvl9x\u002BLPlKxpsriO5yDkHfi\u002BeYavlPq/Y4J4aPZAV4gPM79ruiHLMLTyquL5VHINlJ8m7ZQYPBH\u002BvmRgVyy2KVovfrNgeWPX80jSvOoYxQ4Pa9RWGWrz9/aubPu9a9mHPIGIyta\u002BrGZuqUDX70\u002BpZm6pQNfvT6k=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F62591DB46B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:33 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Zm6pQNfvT6k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e1fa9071-fce1-9c48-563a-12971ce18a52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "454751224",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
