{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8dac7881-f9f5-4b8c-44a0-e0271c7dccd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F62565B8BB9\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8dac7881-f9f5-4b8c-44a0-e0271c7dccd7/test-blob-98e3eb53-4aab-adc1-63b1-2aeb0eb713c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F62566CECB5\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8dac7881-f9f5-4b8c-44a0-e0271c7dccd7/test-blob-98e3eb53-4aab-adc1-63b1-2aeb0eb713c3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F6256794948\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:28 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAptJkblQt68xoOqkmgOBtEzG9lKju1n62TLgYfeRAPj8QGKntnudq1eE77KkjYlalu0IAf7r0WdBXriGcFWnkK/huEmg6g3BKVr7HsuXVluphdsaiP76AG77VmezFzsB7U8SstU/uazfNuij8MKbqfhs3OqKjReg56fapYOmHgIf6TGMdKN2adwuO0IWVh\u002BsX6xvVkpAh1A3ccstZQQZOSjWhAeRHzVU5mMeXFHFmpGYPlXXRsfH32HhVQLYWQTIBPIZP8IYG0B3Cm/nIir\u002BYdcphTa\u002BQfJhHrSlv8oifJ1uVldfrFrPgBMVYDxX0K024uMrvsPOGcMPuBEdYmt2RI3SeNvTrrWMagUTqOG2GT4HfszW9s3JkEyEX/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8dac7881-f9f5-4b8c-44a0-e0271c7dccd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "200694165",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
