{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3dcb0194-fd2f-3181-b196-c0307bdc9b63?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B79F9883\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3dcb0194-fd2f-3181-b196-c0307bdc9b63/test-blob-4b5ad03b-4dd2-907d-6418-09b5cfc82204",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22B7A5DEAB\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:38.2721432Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3dcb0194-fd2f-3181-b196-c0307bdc9b63/test-blob-4b5ad03b-4dd2-907d-6418-09b5cfc82204?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "uI4A4kUfXJbu6QyhW2sPeA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22B7AB08FF\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "RCzi+shi/CUHfelnW5EJIvNOm3r9CGiefW5mW7upcreAkKv8q6moMgS6i30+gHniNpFejAHMFDvDRH1Z/KBqXgoy58rlDHdJpmh2Q33rYPz1hCUpS+a1s3xvOWYsTjVjTyxyC5qu/CkaFOaYVtC+1+SAZHh7QBMkfDNNdtMQHVczEvNQeFRjRof7DzYAHF2ssWGCq+q96A8ZTo9lYIZWCfeOZUTdbV6QHB3xgDDcJGDVocVxjXFsdSrjNyrF/eYBpQY/cbYZzkMC8o7NzGjfPCkvj77B5HuFIfAZ+TYzyx8279oqnbKpvNKBb5vin6nCBPoBlm0nP8CKuU/G/9UMziZvltyNtZ92[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3dcb0194-fd2f-3181-b196-c0307bdc9b63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1426620452",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
