{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-35360e18-3a1e-a0f9-fc53-17ccac6ba0fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB651ED22BF\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-35360e18-3a1e-a0f9-fc53-17ccac6ba0fc/test-blob-92d0192d-fdc1-b044-9a4a-6d3c0e840c4d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB652508873\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-35360e18-3a1e-a0f9-fc53-17ccac6ba0fc/test-blob-92d0192d-fdc1-b044-9a4a-6d3c0e840c4d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "G84iBekBqNxi9ie4tnl3+Q==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB652578575\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "LDfhq2lcN4KpRj3BwL8XEq14AiGzpW/yFkIequwYPGJMGw5RB/o1blM1UUV5ngHn1JafO5LtrIbH75QmPYyWkArbdKWxxQqyQ5TOfVQqeHdBN9ZVeQDPX2+HihhmDjDGnsA6nSpcNg6M7Pj+Hy4ynHYc5Qa2QBcKDBU1KTvyTDRjCN+T8NpN5AHHyYwI0EBAVe2hSSgqD16pMJEUJgzTmaDEmxZOnqybzgEF7naLAjzV9dRNUAILOfiA6sBJOb709C/sRDUp8rZBBnsnJCHoHi5VPjE3hUmduGIezrTsUpRCEPlGnr4HrAIeDEqH4xTXmMyR9PuMvG7mTovSCyMCVbPm5RQnoX9w[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-35360e18-3a1e-a0f9-fc53-17ccac6ba0fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "415057087",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
