{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc75aefe-8337-c6b5-e824-e2f3fdc182f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF904CE806F\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc75aefe-8337-c6b5-e824-e2f3fdc182f7/test-blob-95331304-ee74-af74-7eca-07c49e10087c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF904DCD671\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc75aefe-8337-c6b5-e824-e2f3fdc182f7/test-blob-95331304-ee74-af74-7eca-07c49e10087c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF904DCD671\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc75aefe-8337-c6b5-e824-e2f3fdc182f7/test-blob-95331304-ee74-af74-7eca-07c49e10087c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF904DCD671\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ag7s58wDmheLN\u002BO\u002B3IJYqjlpjeUtcL7bcgB8Pdz/MVf46zBfUQKsYn18hQF\u002BfaEgPGDpoxKbjJFPEXXLhlw7jAWMxfFR\u002BFg3vCpnseu8XfReWwF7FY5EXF\u002BfD0CN4NwhQPj88riwz0MHsuboNNulk7SBbSpawHd3R2iRsugYqdxORnDywGo7rYy\u002Bc2KnXCiE\u002BnyMDHOxxoCBhatPHhxa7wgKme5qstJJRb\u002BdnEwUz\u002BpADbhrjJ1onH/wcTu/7I5vY4NZncI5GUeqQse0EyozbLXBDxFk7mNrof1ueUGWilg[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc75aefe-8337-c6b5-e824-e2f3fdc182f7/test-blob-95331304-ee74-af74-7eca-07c49e10087c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF904F73C2D\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF904F73C2D\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAACDuznzAOaF4s3477cgliqOWmN5S1wvttyAHw93P8xV/jrMF9RAqxifXyFAX59oSA8YOmjEpuMkU8RdcuGXDuMBYzF8VH4WDe8Kmex67xd9F5bAXsVjkRcX58PQI3g3CFA\u002BPzyuLDPQwey5ug026WTtIFtKlrAd3dHaJGy6Bip3E5GcPLAajutjL5zYqdcKIT6fIwMc7HGgIGFq08eHFrvCAqZ7mqy0klFv52cTBTP6kANuGuMnWicf/BxO7/sjm9jg1mdwjkZR6pCx7QTKjNstcEPEWTuY2uh/W55QZaKWDAtOMm7MScG83DBSda0iFS9BYX\u002B3X0LdCDu/MXKoAYUuG6E5fFqsYSZCB30LRmV7XQZvDwQi3uyIsSozTRhO1NqrJFnMKJjUlMBZNRgF0YHWQ9RsOPJAyzy0cMtwuNPN8zJiYCILb3RtmnoDyemUQt9oHQlEItwoKlkdV7fNZBvsSwIlo3FfytSf/p54fQFS3\u002B3sCFvKidBWejXI7he8YDZeF76nrp9tyFI05CQ9r\u002B1XyneKIVuAIcFxj2l7ltz8455oGmWCq3FOfgAJ1aXsGMoIsSPgMj7anjX9dh92MnF1N8CF1ZWHlR8Ge\u002BMbtgwbhXafMuX5HPFfTXwvxTUR2AvO1N3lZkN0gNvE2bZbvyfp4fCo1v9LfBsPJkgZV8/pzBTZyvP85/\u002BMFNnK8/zn/4="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dc75aefe-8337-c6b5-e824-e2f3fdc182f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2001763026",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
