{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dfed519c-5fcf-589c-dfbc-9a775960832b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCD8CC2D42\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dfed519c-5fcf-589c-dfbc-9a775960832b/test-blob-ac9f1b35-b67c-58dc-fffe-eb9aac358808",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCD8DBBDA6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dfed519c-5fcf-589c-dfbc-9a775960832b/test-blob-ac9f1b35-b67c-58dc-fffe-eb9aac358808?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2UCqsZK07lqLx4grBGnpiA==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCD8E88EEC\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "doQd+j5gGGEOySliAXQH7bq3FOjSxwuUHHwKP8liuB3zd7HN0wekAlgsrFboyBctZ4QntIORFK54id3CVdiYrBAMbonDORmyExGQpRq1q1Nl3dhFOgOZYmICVUoq4q1/lABF3FuNaS1qdKFyAG+Twt2JXXgAUnENcgsnweTPiDBkEREacM/513Oq28VhJ2LzbpJsoIU1fkGPOGlOZahJmuxwDu9eeVIOkIUEVnerq0upNFJSY+erL5LPizdlqnHLYUDZ8BlylPU/XRAAMCjJ44wepTFV9jcExd5dju4aqOUTOPU30rsyN59dEgXXq/5qBqerRgVAdWoJ1Cs6FQYGJLQq7PczkRHR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-dfed519c-5fcf-589c-dfbc-9a775960832b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "135895365",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
