{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-8650da30-8534-340f-c7c7-6dc0e266eda4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D56D4FC5D0\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-8650da30-8534-340f-c7c7-6dc0e266eda4/test-blob-69cd59ca-26b7-16c7-6833-6a9155f4c260",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D56D5AA7FA\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:51:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-8650da30-8534-340f-c7c7-6dc0e266eda4/test-blob-69cd59ca-26b7-16c7-6833-6a9155f4c260?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "MBKtSwsUDYXdz6SISsvKTg==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D56D624090\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "rYCJAws0PMJDpdK5nZVr6IpHELy1uAK2H7ozidMj9+w/AcxIVTkae+nv8PwEECpZ3rLpa7Z/MfR+0uRQAbPuIK7leZvIIpJQLZXTxccFsQ6P2ashOYs2wNDYyoNUyXo2ANBOHpeOkbsfmD4grGsseCHVwCcIzOYir7jL71gP/GQbnMT3t5J3AUjvAaFNFRRkq1FhfghSLjTpLG/ew6FjEJzaBQ+mNcGOXb/fGMpF1JqkZkMGrX1byG6QDYsjmT2mjPAEcw8EvnaQ0yBIcxVppFfUOV1dXGMffj2gFSc1a8SCOIvZQWCKn6fNdtpcE1RYJ2gzTmDgSDCN5fXSY6hOW2dcxTqJj2P2[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-8650da30-8534-340f-c7c7-6dc0e266eda4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:51:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "265325726",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
