{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8eba8-3abb-d85e-146d-ea89e22361ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682716CEAF6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8eba8-3abb-d85e-146d-ea89e22361ff/test-blob-877bb079-4764-640e-c370-aac86d74305a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682717B42B1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8eba8-3abb-d85e-146d-ea89e22361ff/test-blob-877bb079-4764-640e-c370-aac86d74305a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868271B7D159\"",
        "x-ms-content-crc64": "J3I4d4rJxfw=",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KS9t+AnegN0OJC8jto4jVu0sdF2ybP0KKcXocuiVyU1y0KaEUIe1NgSS5t3y4YN6A4pZrg3I/7wyYs9D9g71eVrisOXnnwZmdz5ZIIYgGEhBbW5eOxs/qtHpUe23cT/2nW2CDzCek2OE8zbPb982EkqHAYmflz0/ogYU/k0Zrgb+YoIYnQgXo9kL2Ujkbzvxsj+jMG+2VgYvQmwpiZUWa0Qw0QxcHnRBb12vlL31WzLLI0sOdn6WSAx86Vqb7hpE9W4EtJ4ulJQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868271C31B08\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:19 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "J3I4d4rJxfw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ffc8eba8-3abb-d85e-146d-ea89e22361ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1309054816",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
