{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e933bec7-44fa-799c-b72e-e51ee5bb7b12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF901FCEA22\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e933bec7-44fa-799c-b72e-e51ee5bb7b12/test-blob-8c2ab54b-274d-c537-df92-654e4dde4ad5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF9020CEEE9\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e933bec7-44fa-799c-b72e-e51ee5bb7b12/test-blob-8c2ab54b-274d-c537-df92-654e4dde4ad5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF9020CEEE9\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e933bec7-44fa-799c-b72e-e51ee5bb7b12/test-blob-8c2ab54b-274d-c537-df92-654e4dde4ad5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF9020CEEE9\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JaEdb7wEJ8xKbU\u002B8i//MDG5kyM7n2O/bteLzOOy03NkUzncLjU/FUO8HWLV2rz7gIAFRhfhbAkyyQbrZEe7glpF2p72IwH8ennfe34A6ZQajExjqYlfgucsrWUyV6z8AJ8Ik/weBWF\u002BCMuaBfCPMd9uzNv3W9TM5le7xXWcziLI43ri9FmX\u002BIru4aDBwXz2oXuFw4bVBKTGO6moZj/v4T6o0SZ1qDmF1tRNCHo0DyTawSP6Fwqb89rWGLiz75ZK/vxiGPBafPk\u002BA\u002Byyh/gukiyAzaEf8c4wDN1Lo4981ec\u002BBgl50fY0gEQqvBc[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e933bec7-44fa-799c-b72e-e51ee5bb7b12/test-blob-8c2ab54b-274d-c537-df92-654e4dde4ad5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF90228DB58\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF90228DB58\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "2048",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScIAAAAAAAAAQABAAEAAAgAAAAAAAAloR1vvAQnzEptT7yL/8wMbmTIzufY79u14vM47LTc2RTOdwuNT8VQ7wdYtXavPuAgAVGF\u002BFsCTLJButkR7uCWkXanvYjAfx6ed97fgDplBqMTGOpiV\u002BC5yytZTJXrPwAnwiT/B4FYX4Iy5oF8I8x327M2/db1MzmV7vFdZzOIsjjeuL0WZf4iu7hoMHBfPahe4XDhtUEpMY7qahmP\u002B/hPqjRJnWoOYXW1E0IejQPJNrBI/oXCpvz2tYYuLPvlkr\u002B/GIY8Fp8\u002BT4D7LKH\u002BC6SLIDNoR/xzjAM3Uujj3zV5z4GCXnR9jSARCq8Fx3la96niowvIfEvDS4yCBMO2Wm9KgV0ffKwvDpMTVzxNbsSJ[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e933bec7-44fa-799c-b72e-e51ee5bb7b12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1904120578",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
