{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0d3d7744-de05-c2d0-2008-2bd1386ea07d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D1E78AA43\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0d3d7744-de05-c2d0-2008-2bd1386ea07d/test-blob-f9047be2-ca00-6c07-cb7c-7034298cb6cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D1E8BC8DA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0d3d7744-de05-c2d0-2008-2bd1386ea07d/test-blob-f9047be2-ca00-6c07-cb7c-7034298cb6cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D1E8BC8DA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0d3d7744-de05-c2d0-2008-2bd1386ea07d/test-blob-f9047be2-ca00-6c07-cb7c-7034298cb6cc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D1E8BC8DA\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "VqMbTtJcdFLzk4V\u002B5vx0\u002BFeE/1hiBMKOUps/nM5y3Kcg\u002BH2qC2LUdmy5qSg5Mo7E9Sq6SeEOnFLgjfs3HNeDgbbeXe5\u002Bye30r4nsqVqaVB8Ne6ekt5PFElsryn1nnVmUNShxWtSgRSs9xplYIfP3RTjbKqAv3skjGUuSUv5vjRIvV3MyKfpKbDZ8Z/H5bfBoNIRFi3O5ZVZfTkGJDfIszTmHKMp/xBw\u002BkL1ps3fXKataKR16KgGedfIc09q4wV5DT5m4ckQm6HBnBvq1ULLfhyWVLuPVsqM36LLXYvBChs9eJmPdH7dnNEGtEiMG6CV[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0d3d7744-de05-c2d0-2008-2bd1386ea07d/test-blob-f9047be2-ca00-6c07-cb7c-7034298cb6cc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444D1EA7B51C\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D1EA7B51C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "lHDO9ZEbQUg=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:35:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "VqMbTtJcdFLzk4V\u002B5vx0\u002BFeE/1hiBMKOUps/nM5y3Kcg\u002BH2qC2LUdmy5qSg5Mo7E9Sq6SeEOnFLgjfs3HNeDgbbeXe5\u002Bye30r4nsqVqaVB8Ne6ekt5PFElsryn1nnVmUNShxWtSgRSs9xplYIfP3RTjbKqAv3skjGUuSUv5vjRIvV3MyKfpKbDZ8Z/H5bfBoNIRFi3O5ZVZfTkGJDfIszTmHKMp/xBw\u002BkL1ps3fXKataKR16KgGedfIc09q4wV5DT5m4ckQm6HBnBvq1ULLfhyWVLuPVsqM36LLXYvBChs9eJmPdH7dnNEGtEiMG6CVAPUy1IpN7bp32gImRToV/JYArVylOAWhtLvmiJ59/MP\u002BNlyWkjWM747fG554t1eW7Lu2j25H78jzjR/OZ2Ef9dlCJBLdg2pgc73RyhxrJQFkU5/my3FVukaXpwEVvogpwyXBOo9AuWlNVhusdiWohGQaahfBNS5r7G3MRdxpSrU1pAb6pe5yI5Y2mXFZpUAc6x6Y\u002B1R0ZIn3WU4hdHOI4AtmetIiseJ5qEZ9jp\u002B5Ekcpr17BzE9cwT95A0igUKsmqbVp8y5x/jU4I1MN9tnuPksG98kUyxe4BbWSqbKZ1VebWuTqUx8Yt7Elhaj8UsplisT9nVziDd6dse1031SGok37cp/xB\u002Bsv7jwX70Fqu7Ls="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0d3d7744-de05-c2d0-2008-2bd1386ea07d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:35:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "512795200",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
