{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7bfac86c-3c3b-2d7e-c959-266f919f91fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF90EF3D9A5\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7bfac86c-3c3b-2d7e-c959-266f919f91fe/test-blob-c7d20f04-7d3c-8e19-25e0-b399feffbc55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF90F02C6D3\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7bfac86c-3c3b-2d7e-c959-266f919f91fe/test-blob-c7d20f04-7d3c-8e19-25e0-b399feffbc55",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF90F02C6D3\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7bfac86c-3c3b-2d7e-c959-266f919f91fe/test-blob-c7d20f04-7d3c-8e19-25e0-b399feffbc55?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF90F02C6D3\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "2In6pVns0g8kJTQ\u002B1CxH92bpwgyyUiDE/Tn/yv6QvOmZ5nlc1k3iwLPcGri1/8N1RmetLptWzoVoNqgg7QcRk2lKpO6z6iEZBwFZ1jhoD/51iYOW445NQxfz85\u002BkwtOry4ZPalrVwltGkyeZ/PhNACepqmOEerDa/WDWv/eBdEQurQqyGaSjoMYnUE9ns0YfpvJ4\u002BxdvJlDVdG35/gNkxB/ia07tmueDBQqcXSphc0kZtxgECXksvoe53KQ3qqHDw4svhEj3MQsL9fUN08kmdAEk30bqX7umtqzHNL5CS1to2JqeMe4AIoYN\u002BRSEHuu9k2ej[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7bfac86c-3c3b-2d7e-c959-266f919f91fe/test-blob-c7d20f04-7d3c-8e19-25e0-b399feffbc55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF90F1F9D84\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF90F1F9D84\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADYifqlWezSDyQlND7ULEf3ZunCDLJSIMT9Of/K/pC86ZnmeVzWTeLAs9wauLX/w3VGZ60um1bOhWg2qCDtBxGTaUqk7rPqIRkHAVnWOGgP/nWJg5bjjk1DF/Pzn6TC06vLhk9qWtXCW0aTJ5n8\u002BE0AJ6mqY4R6sNr9YNa/94F0RC6tCrIZpKOgxidQT2ezRh\u002Bm8nj7F28mUNV0bfn\u002BA2TEH\u002BJrTu2a54MFCpxdKmFzSRm3GAQJeSy\u002Bh7ncpDeqocPDiy\u002BESPcxCwv19Q3TySZ0ASTfRupfu6a2rMc0vkJLW2jYmp4x7gAihg35FIQe672TZ6MSylvZY8\u002BJzZww/U3IqZml\u002Bi\u002BIQxIjvcDdZacil8AKoFafOJEN/zbOpyBk8om/MWrqefGNCySR7gya/P0oZzbbJVz3KHAImPr5uZzxv8s3HTQ8Nx7PfZUyDUmEcgM5pkDqiMwsyAj64uH3lFGIoC9BY97J6y8XDKjGxBsmgyX3wBNbBjb\u002BClQrQlU92OhDqm0aQw4kb7oQ0nwkZQPt1F67/9Q\u002BLJn4QliKnana2jS/gxqtC0AX01BYSzO62qRQPW32gdgUBX3UIgG1mtIRNvhHZeLpQMgepCyE5uBlPWi0OV8741hbqn2c2Ok/YTl9RhU7cnTCZ/2l192skB6cbuSYAWBy1lKf7LtkTGff3zMJjERUfCpSMwmMRFR8KlI="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7bfac86c-3c3b-2d7e-c959-266f919f91fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1205340918",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
