{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c06bc58-91d8-ebca-9fa1-ff8c810001d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C7062DD9\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c06bc58-91d8-ebca-9fa1-ff8c810001d6/test-blob-11dc591e-3ea0-02e4-fb3a-1912e60d9976",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22C70CB405\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:04.1108997Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c06bc58-91d8-ebca-9fa1-ff8c810001d6/test-blob-11dc591e-3ea0-02e4-fb3a-1912e60d9976?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22C711DE4E\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:04 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABqQO0TuVX8eD9/lBcWAzXs6Fi6qu+A5sbryt90D1JUUXbRXHTFpO182phBcMkeBoUz5EDarKC76VknKO52h2ntK0KgRKbBJkRqPc9WP3f8zMRZQCsReqTWFXMbnnz+BlIvU0SGfsHfcr38b27QZKrjKlwqHUc927Gdyi8zpYjHazd8J+sxdk4Dec5tFQo1BbHIN3Mg1OgL8XeT6LSSq8w1NQM3VDy+srQNJ6N50MamaMR9am4Up5dOcDZznY2acM4BOOAG/rF1CoS/Eq1FkiCx7IDvFUBeII1s6eMFShQmc7bUd5fmn2kTB2DpVZXpCN4VwrAMqluNohhSmhTNb79vmJ72cBqJyk0W3A3gdcv4guAF74dkGslaR9R/lAVURZegebz28pf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4c06bc58-91d8-ebca-9fa1-ff8c810001d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1011750112",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
