{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3d09253c-fdfa-713e-38ea-a7a9037db69e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694ECECECD4\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3d09253c-fdfa-713e-38ea-a7a9037db69e/test-blob-dd7768da-72f7-7899-e73a-a1ae4c8504dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694ED0719D0\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3d09253c-fdfa-713e-38ea-a7a9037db69e/test-blob-dd7768da-72f7-7899-e73a-a1ae4c8504dc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694ED0719D0\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3d09253c-fdfa-713e-38ea-a7a9037db69e/test-blob-dd7768da-72f7-7899-e73a-a1ae4c8504dc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694ED0719D0\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "mVYRzMPD2IYnqOuk8UNjGGX6eH696tuVY6IssgRK4nJhtmK3Drjpbqw5pRpEEsXWeJlPhGZ1mK97fGggliaC3cZ4QzrhrAqsEArShETAUFHdVjlq+10M7B6zO5JPydeGt8hUzM+L9cyPonNcohRquywXQz/sF+FobFcbLnF4XEcyTMx8a4OCUWBt21jpsEkKSIBmOIWXmZ/m62B4b8dbF0YsKVVH7k+olPHefjuJfrsNEeXwEiTBmrItlX8jCuKZEsQSvYbzwloxvaOTuRtjXW2kal7hagUhao+jGlnPhIoPRWt3dsE1GU6Lv1SALuGXyTcSf5+DuKe/8FL3UKgAYTkYg3Ov7Oer[...]
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3d09253c-fdfa-713e-38ea-a7a9037db69e/test-blob-dd7768da-72f7-7899-e73a-a1ae4c8504dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD3694ED2AA156\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694ED2AA156\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACZVhHMw8PYhieo66TxQ2MYZfp4fr3q25VjoiyyBEricmG2YrcOuOlurDmlGkQSxdZ4mU+EZnWYr3t8aCCWJoLdxnhDOuGsCqwQCtKERMBQUd1WOWr7XQzsHrM7kk/J14a3yFTMz4v1zI+ic1yiFGq7LBdDP+wX4WhsVxsucXhcRzJMzHxrg4JRYG3bWOmwSQpIgGY4hZeZn+brYHhvx1sXRiwpVUfuT6iU8d5+O4l+uw0R5fASJMGasi2VfyMK4pkSxBK9hvPCWjG9o5O5G2NdbaRqXuFqBSFqj6MaWc+Eig9Fa3d2wTUZTou/VIAu4ZfJNxJ/n4O4p7/wUvdQqABhORiDc6/s56tvUA9Wq7ChPK4MUCG9BeuLjcS3hW49yaaKXhpnqm3n3VBmD050YfwOTxZJRFfeozQt9+brNGE9MYdoy02WOZJAJHPRVvWcFyvHqTZY9IVOq7rmOrKG/KjuKd3HDJaueBWDCCDkDU0+keC7I4sr5T0CGh+Sr//guSfK4ywY1QuVGTEg1OxkaZ5tqKjRy9kdw0SgxPF2HMgWo074GiogJbvVJgpZChBQnbCBJQdWDu1OrCDodxEZHv1oCTCdbE90TILt/KXPw7gzTyZB9fbBwJRhqm0KN66qvAcN8AHgszFgDNiEaRJIfulntCfq1ykGp0mcPMHiahTUQuWGmdoQ++OI5YaZ2hD744g="
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3d09253c-fdfa-713e-38ea-a7a9037db69e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1126449684",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
