{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e44c3bb6-8e38-eb73-24d2-3ab381a10fdd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D79AC49A2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e44c3bb6-8e38-eb73-24d2-3ab381a10fdd/test-blob-21e96359-91a1-2e5f-d06d-5bccde1b56de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D79BCBD0D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e44c3bb6-8e38-eb73-24d2-3ab381a10fdd/test-blob-21e96359-91a1-2e5f-d06d-5bccde1b56de?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2TXpqx77wvY9eqcSb9Rm8w==",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D79CB62F7\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "7igt3TdkNrrlUDdX3ExG38XKwGzdV3drKBZax\u002BaT0wPxnDh7Fy84jt4I0xa9AQIOQDb\u002BXuiCN5exwbQgCm7UUnw0ZkATy8eVkjKN1YRgricTTIevlXUabmShylV7F4RvM4CZiJrC\u002BnVuaMu29WISUBOMDb3nJLwHGvjbcgBxGXquHqEDxiaMUFERQSypY3gCjnpC7wrGhw/Dkm6h54h1/E9QCNbBD4ntALxr1uOQXbZ/2eOGLypw55eSPzS46mnJm0TcWFqiQH/wVe5NWrArMzW3IQ6k780k3yA/L89VNRVToTqfswRc3Zhkldo7Io3mZgz\u002B[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e44c3bb6-8e38-eb73-24d2-3ab381a10fdd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "356271002",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
