{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-70cb6f5f-64dc-c914-cdb6-7fdcb6183fa1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB654D2FC8A\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-70cb6f5f-64dc-c914-cdb6-7fdcb6183fa1/test-blob-f885d746-9e84-e5b7-468d-8a795426c52b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB65536354D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-70cb6f5f-64dc-c914-cdb6-7fdcb6183fa1/test-blob-f885d746-9e84-e5b7-468d-8a795426c52b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6553D3254\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:51 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAAB5z62Jm2LwW2sr0rNvu51mfrXlqU22goYjReztxvPlOzIl3ly5ri+UHW4d8wCacLcX1pEEfE2Bw0wmZVZ1ApV4RZeBSdxArc+GUYvfmI6GidQ11fBh4L7koxsPkkjYHhvZpa1pGSfa1ijCfivBoiu+oNyBPyylFmTYnKXBMRuGrTJwBfPgHG+tW/7Hn2KSIgHwUfFrV9/uNI9IkH2CGKUNO9H4UZ033YRt1OQu3XYCRXmk0d8pGlVTgdBkl4vyK0JZuWSQmtFjuJoZ7feZGlBUmhnt95kaUFQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB65544563A\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "mhnt95kaUFQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-70cb6f5f-64dc-c914-cdb6-7fdcb6183fa1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1725581443",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
