{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74859d78-4e4e-403f-14ae-922da9f10b72?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF90FE2A5CF\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74859d78-4e4e-403f-14ae-922da9f10b72/test-blob-970dec81-9bf8-925a-2b57-0983a15ab27f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF90FF27D45\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74859d78-4e4e-403f-14ae-922da9f10b72/test-blob-970dec81-9bf8-925a-2b57-0983a15ab27f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF90FF27D45\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74859d78-4e4e-403f-14ae-922da9f10b72/test-blob-970dec81-9bf8-925a-2b57-0983a15ab27f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF90FF27D45\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "apqm8S6GLjwGiTBVnoMhsiH8oE4Q80Vrt1abW1mZEwfq7VKEu5tnBiukEqOBpQBdbi/d652/sndVOzrY6tPibHUparAxnfaFlJkibOGh6RJWPuwquyhpKzrbL4BhjxxXwaUtWDpPLNE5V1cEnEaVs1EngqvnuLBNvz91Vm51JAR9y6o8dJHXBxIa8WTQZY70RXsvOQ1wbwj035j72dViwzJShtGbWT/AUHqZzcdMfVqwgRDyRuv3DFuiSJT43C08uC0xfd69Wew8buiS16JBp2I\u002BSlfFb31HW3l1\u002BRGqx3NNXBWaGv978yckttcCZDW4YKAxupHWd0iv6i[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74859d78-4e4e-403f-14ae-922da9f10b72/test-blob-970dec81-9bf8-925a-2b57-0983a15ab27f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF9100DA668\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF9100DA668\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABqmqbxLoYuPAaJMFWegyGyIfygThDzRWu3VptbWZkTB\u002BrtUoS7m2cGK6QSo4GlAF1uL93rnb\u002Byd1U7Otjq0\u002BJsdSlqsDGd9oWUmSJs4aHpElY\u002B7Cq7KGkrOtsvgGGPHFfBpS1YOk8s0TlXVwScRpWzUSeCq\u002Be4sE2/P3VWbnUkBH3Lqjx0kdcHEhrxZNBljvRFey85DXBvCPTfmPvZ1WLDMlKG0ZtZP8BQepnNx0x9WrCBEPJG6/cMW6JIlPjcLTy4LTF93r1Z7Dxu6JLXokGnYj5KV8VvfUdbeXX5EarHc01cFZoa/3vzJyS21wJkNbhgoDG6kdZ3SK/qImRHYNqRp3RFeo2njWPCVjChuaZE9kS9mHF5DeJ25czqL90WrMdJJC\u002BNH7squRLO9zum1o4JpSsgicdpGJmSzpXAvF2GrKloV5V2t9eJkt5eqxam0A8\u002B4Yqx9iL/3wyW\u002BlAlafy0SEqRPX75ku5Ul/fpC22D7P2GgtvT1LaGaHiI4LyGYyjiqWPLFJOQRU6bXV4rFtSfEg5Tn\u002Bch4XOUCtQGcLIxzjPOB2EKt9dq9TyMN3dXWlKk6c2uMsNAwMjvNwq\u002BitWcao4rXQ9ylFo26aqrlKn8Pa\u002BCYobkgptwjUaYGoDNq2tn8M3oLP1CMVRyeEkZlSwf8/paOyhOt\u002BfzutDJ2XraaVSYJtfpgGBDVJgm1\u002BmAYEM="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-74859d78-4e4e-403f-14ae-922da9f10b72?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1604909492",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
