{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7a32e76-8195-e8d0-243f-9ef88a0f3d55?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F62573326A1\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7a32e76-8195-e8d0-243f-9ef88a0f3d55/test-blob-cf624790-cd40-7a31-b8c7-159461f77c00",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F62574C5043\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 15:26:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7a32e76-8195-e8d0-243f-9ef88a0f3d55/test-blob-cf624790-cd40-7a31-b8c7-159461f77c00?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F6257594867\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:29 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABHacba6FoW7hh597UR0rR9ez8nUU/VdviVPOjIoKneGUsztsrh6nd2IdBPZR5hdsnbavELb0LscvLNRKtyTU1umt1p3Rzpm5HHsC9/hhHaM8Ue7Ta406kIRkPYE6XLBNSC4cpA95it8c5gQ74Tbevg8xDmU2AXtcc0YZfYEYjr/Kxb/aRHmTwscftoWI/r9dlX9x\u002BU5bBzaysCDJYB1OBFdEcSt3BHmVnUueFlrl04SWu9gBpoVxb755F5RI2lKp0bI\u002BNH2D1pEF3GwCzODrzNysMrRFPF3B0xFtDezVTMLo5ESYt68HAtVHC8opfqLdjVq3rKeuZKVUbGFsJti0MJ\u002BpGdisQwU9pS/fDjCTqGR\u002Bn3CCHaAbS[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a7a32e76-8195-e8d0-243f-9ef88a0f3d55?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 15:26:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "160180199",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
