{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1051e5ed-19aa-52da-f308-9f43d608f5cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF90F6B2C3B\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1051e5ed-19aa-52da-f308-9f43d608f5cc/test-blob-b5a9664f-a6fb-097e-da3f-c649d1a63cf4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF90F7A8E93\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1051e5ed-19aa-52da-f308-9f43d608f5cc/test-blob-b5a9664f-a6fb-097e-da3f-c649d1a63cf4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF90F7A8E93\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1051e5ed-19aa-52da-f308-9f43d608f5cc/test-blob-b5a9664f-a6fb-097e-da3f-c649d1a63cf4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC7FF90F7A8E93\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "BY/8R6Kb7KQNda8KQaylxEKs6xZTMD35qMYapK\u002BKBpZTACcdMX1QvNMPthntxaw\u002BLtUKKN82hNVSA5/bgEf1g24Zt0GEiJPFWy9CQ3ojDOMZ3Hbaf922HXtSyi3edDuMGjKq0w5ruaZBRcyv80BaLve7wqTQGwSRYpnGMr1l5ufztSlHeTjVriLQmDkQBik6\u002BJw1I7KXu/8uGXB0pYfo21/lvD0XErW/5ROBAIPKgFtvizkgMMI0XPoqGV/HYQib57zZK0rsI\u002BXndj2eFbp7Y5gVBBlNyKucsV9D7PlV94QL5RnG8VUQg2hUObmFlUY/rrXH[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1051e5ed-19aa-52da-f308-9f43d608f5cc/test-blob-b5a9664f-a6fb-097e-da3f-c649d1a63cf4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF90F96A1F0\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF90F96A1F0\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAFj/xHopvspA11rwpBrKXEQqzrFlMwPfmoxhqkr4oGllMAJx0xfVC80w\u002B2Ge3FrD4u1Qoo3zaE1VIDn9uAR/WDbhm3QYSIk8VbL0JDeiMM4xncdtp/3bYde1LKLd50O4waMqrTDmu5pkFFzK/zQFou97vCpNAbBJFimcYyvWXm5/O1KUd5ONWuItCYORAGKTr4nDUjspe7/y4ZcHSlh\u002BjbX\u002BW8PRcStb/lE4EAg8qAW2\u002BLOSAwwjRc\u002BioZX8dhCJvnvNkrSuwj5ed2PZ4VuntjmBUEGU3Iq5yxX0Ps\u002BVX3hAvlGcbxVRCDaFQ5uYWVRj\u002ButceyXO9OHxA9eeupNuuSfrmTMKG1ckMEgbH4jvIXGxgDPkONRScbl/q2s9sl2jJopjvMAhae\u002BUOErts\u002BVZAeJV7SpfeoBDmRd5im/r5n3qZ\u002BkOe3SxkCZEQACZdM3UJpl418UjQ6wKICOop99/qEHM80v8WoZ9pF0ECzqPqhRJpWPWYw6otxRM9FtBCPhGxJe\u002BzHFx58wTCzN4LzhxenYPbvJrqTVDFDwnv1Y7LKtkvTaS0N2Sx72Xw2fbMJfry4nlQan12ytSe6hFWih15\u002B6IA2Hx3qmYbJc00\u002BXdZ\u002BOkS\u002BPcRdsBfuIbMFU1XX2VIeuJQz016fzQTNUSsQdFhQPEoQ5EqZIDhoSP5p5UYx8SsHEinfA5j/KwcSKd8DmP8="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1051e5ed-19aa-52da-f308-9f43d608f5cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:04:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1083843286",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
