{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3dbfd6d2-d986-bba7-e9e6-0a1dfffc6b6f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB037E236BD1\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3dbfd6d2-d986-bba7-e9e6-0a1dfffc6b6f/test-blob-4923b790-5aca-26f3-1c33-df5091209c9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB037E334A5D\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3dbfd6d2-d986-bba7-e9e6-0a1dfffc6b6f/test-blob-4923b790-5aca-26f3-1c33-df5091209c9e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB037E41C94A\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:06 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAABKFJPP6YnrD03oL+csEHJ/icw7ycI4bED7qNrZdnVpaX2qTTTWjFVYSirmGUmlmzw3zImhaVdAEadS1ECuEZjXfsVqgsM9qf13436YUlP3VQ2doqrryAAlaTuNhLgUqTmRDpqDOxl5+SOMKYXZqL9UW38zEG/t67bFRBmHsCRFYjlFBkO4dBnzJKiHX556TMF7OSk44ZnJpCLkvvcA8Un+R8dLlKF8nOdmP+zGZYwYSvdXDHf7DIGge2Ig07Yi8zJfiRfXL7gf/27iq6oBfucdbuKrqgF+5x0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB037E4F36E5\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:05 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "buKrqgF+5x0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3dbfd6d2-d986-bba7-e9e6-0a1dfffc6b6f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2141959712",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
