{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6031ad96-a659-5864-d9d0-45b74226daec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694EB89AF48\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6031ad96-a659-5864-d9d0-45b74226daec/test-blob-edd60f20-9733-52f3-2cb0-e4187addde3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694EBCA191C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6031ad96-a659-5864-d9d0-45b74226daec/test-blob-edd60f20-9733-52f3-2cb0-e4187addde3b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694EBCA191C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6031ad96-a659-5864-d9d0-45b74226daec/test-blob-edd60f20-9733-52f3-2cb0-e4187addde3b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694EBCA191C\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "26N/hWUQrniD2kE5TamCRF6A4jPjfMaXsuyzsgrAAd8w2+AyFuxfxGHL2kpsQSg7A9AK01y8ml7c59N4XfttwthiCHLITy5yIR3SF6J8KnDEd686ti6Dc0CBVi4Y52dmXRdxCji2crOil7I/6oK8YL1is+VLMwyq35UxRvn/WTm2a7qKCiA4DgT7mB57Q4i9xfZxtjOBGikKxiuihCu6oj15iH7IMVWdKaXgT5vtLpsMdIEDjqMFNFCQf0P0lYrZQfXhArsJ9ZOg04yOoMqOHZeQlhCqtxOac1MtOLIRqJQbBw6lDCzfAn7uYroWd5OGAWKrZP95LoriR49n273gjiv4c5m86BFr[...]
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6031ad96-a659-5864-d9d0-45b74226daec/test-blob-edd60f20-9733-52f3-2cb0-e4187addde3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD3694EBE6E358\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694EBE6E358\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADbo3+FZRCueIPaQTlNqYJEXoDiM+N8xpey7LOyCsAB3zDb4DIW7F/EYcvaSmxBKDsD0ArTXLyaXtzn03hd+23C2GIIcshPLnIhHdIXonwqcMR3rzq2LoNzQIFWLhjnZ2ZdF3EKOLZys6KXsj/qgrxgvWKz5UszDKrflTFG+f9ZObZruooKIDgOBPuYHntDiL3F9nG2M4EaKQrGK6KEK7qiPXmIfsgxVZ0ppeBPm+0umwx0gQOOowU0UJB/Q/SVitlB9eECuwn1k6DTjI6gyo4dl5CWEKq3E5pzUy04shGolBsHDqUMLN8Cfu5iuhZ3k4YBYqtk/3kuiuJHj2fbveCOK/hzmbzoEWuwk5G7VFiD/L+nNk9lRJSh2ITDxZx4JsEN048dA/rJGFE/s2voczWJw5OnNIaQKOdk0cA4JUzPOGzPrYHJZfjF3h3+JpAouWVOOQEJ0PI6fKqouTE5kPMEcHv/GMW0wF2a4lVpkQJWOxhb6uxKxWd6lTDWIavGi00q+rUUKaGfmnijb+2d0eunUX4Y3qYGuqsUhYKV3Z+x01cHP5dNQRJ3vE9zplZ53MRFL88traymIz8JAKQeCbzZ8ZuWlZJTWQ9soSFWkxNUmqi+T67QhCWqYBtYQ0FtWbKTmrS64kcx8tW/wQyKT5AstGX7X7kOCW117DR2+hXO/oOvozQXv3/Yg6+jNBe/f9g="
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6031ad96-a659-5864-d9d0-45b74226daec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "424879119",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
