{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-641c996d-d145-2449-ca83-7b6be51f37cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CA8ACA6F\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-641c996d-d145-2449-ca83-7b6be51f37cf/test-blob-2a695a48-b9ff-daff-7b7a-952ce8c3f37a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CA9172E6\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:10.0140262Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-641c996d-d145-2449-ca83-7b6be51f37cf/test-blob-2a695a48-b9ff-daff-7b7a-952ce8c3f37a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22CA9172E6\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:10.0140262Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-641c996d-d145-2449-ca83-7b6be51f37cf/test-blob-2a695a48-b9ff-daff-7b7a-952ce8c3f37a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22CA9172E6\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "gFvRyI0abiKwJ3f5NBJukV2YpHGbMbDYlP6PR36LBnke5bVZZ1xVrAVhVPdoz9P+dTr/Vc+8G0+r+TOPiyajJSH+209cFSkAQ/hrOdy5b8UqkNFEjLCpYcpmrm4oxSDfvi/VavSEoWAQ/hHXUeFz8YluZPpUX5lxVHmF9me72H3XjHus5AXQpu5xM46f0RDo8rzkuWElil+WZBV6/qv5VSaT/8Rmxg2Dnr0M4iwL0YJpnQOq1h4csQEcFoDwVqdDeN1oC9FMgSyuYRujGacyi5KSEWGnTn4Hd07DSq+Nk0gWyGpOosaxHRvX/HUCeZdZ6YvtXURGnClfYJODiDd8IM3TjVE95OjL[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-641c996d-d145-2449-ca83-7b6be51f37cf/test-blob-2a695a48-b9ff-daff-7b7a-952ce8c3f37a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22CA9ADE46\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:10.0140262Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACAW9HIjRpuIrAnd/k0Em6RXZikcZsxsNiU/o9HfosGeR7ltVlnXFWsBWFU92jP0/51Ov9Vz7wbT6v5M4+LJqMlIf7bT1wVKQBD+Gs53LlvxSqQ0USMsKlhymaubijFIN++L9Vq9IShYBD+EddR4XPxiW5k+lRfmXFUeYX2Z7vYfdeMe6zkBdCm7nEzjp/REOjyvOS5YSWKX5ZkFXr+q/lVJpP/xGbGDYOevQziLAvRgmmdA6rWHhyxARwWgPBWp0N43WgL0UyBLK5hG6MZpzKLkpIRYadOfgd3TsNKr42TSBbIak6ixrEdG9f8dQJ5l1npi+1dREacKV9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-641c996d-d145-2449-ca83-7b6be51f37cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1505099107",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
