{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c7ab74a-894a-ddb5-2c29-4d60c93c563f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7245B30FF5\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c7ab74a-894a-ddb5-2c29-4d60c93c563f/test-blob-ac286aaf-fba8-8baa-692f-50b2c9f933f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7245C161AE\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c7ab74a-894a-ddb5-2c29-4d60c93c563f/test-blob-ac286aaf-fba8-8baa-692f-50b2c9f933f5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7245C161AE\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c7ab74a-894a-ddb5-2c29-4d60c93c563f/test-blob-ac286aaf-fba8-8baa-692f-50b2c9f933f5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F7245C161AE\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "wfCvotgtoE/GedM7cD6Y8AkDIfdhZ\u002BzMox1FXYyAPyGkBbVUjXxxETGMKdmt2d\u002BQ8H1mvIVzslkD4v\u002B76EPCRTqylmqIRGONkhDG1D4TH8k9tWwPGoKbMVNcUKp8tinuyeSe\u002B0N1B6sa2Sp1rd0b8MM2fTLWsyq3FmQXLPS4ENvm1wpZdCSFyK3B9EBXJYN1QF/nRjj2GBa55\u002BTeXdq3YshPjtXSwXyesLWFFb/pX/DgouuU0cmi8L/0oIw/p2rSCpJ3CJeuon/jSJaDcQNXz4fz/bvvIpD\u002BrJ4V3iHvXwhLsgsscVZZMv9ssY[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c7ab74a-894a-ddb5-2c29-4d60c93c563f/test-blob-ac286aaf-fba8-8baa-692f-50b2c9f933f5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7245DBA03E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "2048",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScIAAAAAAAAAQABAAEAAAgAAAAAAADB8K\u002Bi2C2gT8Z50ztwPpjwCQMh92Fn7MyjHUVdjIA/IaQFtVSNfHERMYwp2a3Z35DwfWa8hXOyWQPi/7voQ8JFOrKWaohEY42SEMbUPhMfyT21bA8agpsxU1xQqny2Ke7J5J77Q3UHqxrZKnWt3RvwwzZ9MtazKrcWZBcs9LgQ2\u002BbXCll0JIXIrcH0QFclg3VAX\u002BdGOPYYFrnn5N5d2rdiyE\u002BO1dLBfJ6wtYUVv\u002Blf8OCi65TRyaLwv/SgjD\u002BnatIKkncIl66if\u002BNIloNxA1fPh/P9u\u002B8ikP6snhXeIe9fCEuyCyxxVlky/2yxiTMffryc0AVMqa7j5wF5XPiZw1306Y03v/gqXT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9c7ab74a-894a-ddb5-2c29-4d60c93c563f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1536877247",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
