{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-752de53c-0a9d-27d0-8b69-d8fe2ca70119?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682201439C8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-752de53c-0a9d-27d0-8b69-d8fe2ca70119/test-blob-8d46aa9a-c4ca-1830-ebbb-f9a5e60f40ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86822022BCE7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-752de53c-0a9d-27d0-8b69-d8fe2ca70119/test-blob-8d46aa9a-c4ca-1830-ebbb-f9a5e60f40ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86822022BCE7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:02 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-752de53c-0a9d-27d0-8b69-d8fe2ca70119/test-blob-8d46aa9a-c4ca-1830-ebbb-f9a5e60f40ee?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86822022BCE7\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "/sWTnrMN6gi5n9TR2fz4caasgoLKLAqLe8V+wSDrjPgpFNVphyR4br/VG29bSo1MIqKaVCUhUdK7CCLtjynnzhLcqMQmj+mBNBTD9RGaLzA3Mp5+UDjSB8MDrX4Bit6V7Uxdf6HIJZO4GSARXVzAIdjytVyKaX3aCaABI+Frf6k1LQfEPLCPbwwLxTcYwapmQoymD9SCC4POg3UBxwKxTZp22zBU++QoY0ZQfqNGwUj2m+BVxG/UsyGE9rk7jagKWXidoeZ5EUenfqyOMYzfiMEsCysiXIgqoScO0AUr7NWeRSQrqSBifImZrUbCRoGUpG33DoJ86P3wcgC+akBBfJHX7+totN+h[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-752de53c-0a9d-27d0-8b69-d8fe2ca70119/test-blob-8d46aa9a-c4ca-1830-ebbb-f9a5e60f40ee",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "SnjBPlGfTsicg0+rqo/AAQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8682203B99F6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-752de53c-0a9d-27d0-8b69-d8fe2ca70119?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1286348973",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
