{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-404e1840-7a38-1a39-2d2a-9f1485af9681?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D40559536\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-404e1840-7a38-1a39-2d2a-9f1485af9681/test-blob-6f1ef012-337b-fe4e-dd8e-747419ff422e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D406586C4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-404e1840-7a38-1a39-2d2a-9f1485af9681/test-blob-6f1ef012-337b-fe4e-dd8e-747419ff422e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D406586C4\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-404e1840-7a38-1a39-2d2a-9f1485af9681/test-blob-6f1ef012-337b-fe4e-dd8e-747419ff422e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D406586C4\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "cmuUcKpAC1XRVXahIbjQsvYqXLWO4nruwjb5NQRPGLfMpg7e5sPKd8TL47FVYXrQ4zMBtbYUI4/wpq50R9ZRgT2\u002B1Huq8sszYOTww/7JmGC7KVLRTmIBuIJ\u002B7UAUVS/uemFzloz/JfBnzVXRJGCRJw1OuR6EfzPavRz5LASLHgq1AUmdVQLTvANhaYAML5Qi7cYyxpwQafoumNlwBvns3K9LHCIW89ELevwbIxazzY6H1z89WFdtpJhPb7wpYrYKdIzQwRJxC/n1J0yg9Ubje8pK6C\u002B6roNX3XiKx4QU4hdGEa6J4gx7FstFSDELza5RbPTx3nmHT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-404e1840-7a38-1a39-2d2a-9f1485af9681/test-blob-6f1ef012-337b-fe4e-dd8e-747419ff422e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D40819A61\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "gxcGzdTL7mo=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "cmuUcKpAC1XRVXahIbjQsvYqXLWO4nruwjb5NQRPGLfMpg7e5sPKd8TL47FVYXrQ4zMBtbYUI4/wpq50R9ZRgT2\u002B1Huq8sszYOTww/7JmGC7KVLRTmIBuIJ\u002B7UAUVS/uemFzloz/JfBnzVXRJGCRJw1OuR6EfzPavRz5LASLHgq1AUmdVQLTvANhaYAML5Qi7cYyxpwQafoumNlwBvns3K9LHCIW89ELevwbIxazzY6H1z89WFdtpJhPb7wpYrYKdIzQwRJxC/n1J0yg9Ubje8pK6C\u002B6roNX3XiKx4QU4hdGEa6J4gx7FstFSDELza5RbPTx3nmHT8YJeeSa50R14EU0WeSYWZi\u002Bz9JjdWZSSxDKOFuQIgOdv8HogGgn4S6Gz2fr13PKuRJbMw\u002BnI9pfty3T0K/p5b1Blpoir9kwlu2j3KX\u002BZnSc/35INO/09pvmiMk6UxF/neqqqUDYpwk4KpwhA0c1YVC5N9AwoLDOTaD/OycP9ULcJD\u002B6VLw0xFh0DwlT0vNUsSd4gRxBT/w621yg2WviKTRZRN8Iew2ThXN3u5Cme3qsq4oAl3Qmm9RCgHhgk\u002BrskubV\u002BY0TTDYZ5PupyZNrk2Dh8y3h4pK/M6kKxfqUM/GIiimq0YHsmV9U5rJ4fNFA1u0Xf6C8C69UFcbkCYY7hbEKIT5qwcHe9Fo="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-404e1840-7a38-1a39-2d2a-9f1485af9681?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1480621723",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
