{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-343a127b-163a-42b3-bda5-e66c0e9ce114?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86822C65053C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-343a127b-163a-42b3-bda5-e66c0e9ce114/test-blob-64e67bfb-006e-5239-3231-dc80b8ce31e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86822C749883\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-343a127b-163a-42b3-bda5-e66c0e9ce114/test-blob-64e67bfb-006e-5239-3231-dc80b8ce31e8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86822C749883\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:22 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-343a127b-163a-42b3-bda5-e66c0e9ce114/test-blob-64e67bfb-006e-5239-3231-dc80b8ce31e8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86822C749883\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "uoDY2Uf/ZRJWLAbuUIvAUIM+US1sv+/Kyk0MSFNDf/Jo724BlEhfG3wdy/htKGkLv8X1T+q2avqRDQ/68x2+E6wThmAdvrs73jWwT/T2XaHkAYmOTjAIsoRzb4c4ZSheXrdMWaII7gAJuXG0BRsFmrBuFfGUMMV8C9PcqU80AngMUvA8qgP/3BOJhZS/U61pbtXXylA2yi3yz07OLESw1Lf4qLMryO+sbjjeC6sxvbcmcjp6XTgo1YfCStq1MLDO2LDcxqv5PqXlKlsXWL+CwBKWqLkJNnZ/0NIraH4U9z6IEDL6VPYLLDSVlDLcEH3IQInIHof3xKE5XfbZztUn0DMdj0iMh2wc[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-343a127b-163a-42b3-bda5-e66c0e9ce114/test-blob-64e67bfb-006e-5239-3231-dc80b8ce31e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "i+7VJGrRFzJDIq62YedTFA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86822C8B52E5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-343a127b-163a-42b3-bda5-e66c0e9ce114?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1387251216",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
