{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc528d2e-7147-33f8-7ea7-597c519f58b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E5F5A0471\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc528d2e-7147-33f8-7ea7-597c519f58b1/test-blob-9d71fe5a-1275-45f9-708d-b79224067b83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E5F693854\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:27.3339476Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc528d2e-7147-33f8-7ea7-597c519f58b1/test-blob-9d71fe5a-1275-45f9-708d-b79224067b83",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E5F693854\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:27.3339476Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc528d2e-7147-33f8-7ea7-597c519f58b1/test-blob-9d71fe5a-1275-45f9-708d-b79224067b83?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E5F693854\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:25 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "UD5J8BsvaOfZ6RwVbXWWVnqsXgf1uicfGSmavYRZkhmNdjNd3jyS7eHBxKCsxRqvyWvfKmacl5YXKdfxlKtjgFYCiPZCOXg9GnElM/aGc1QO6vMYeWiz8N+dRrVkoFg2XkNKqjwkbZDzoRD1dmOfkLaD4qq3SwbuT5cWpfLD2HkY79WyPMkX6n1iJddYvXl8/bb+4b2ufhM8XFqkDcieL8mW3YeN7VPta/ctVSUvlZIemqg8xPe8aXHCdeBuct20xPUOweDy7g9iEXXFgSntDcbIhnIgYWvR2nMWy3dzfvkaeJAwINSyK6yY2rKB9uhH1GcapuxqlGKKPOds2yKY75J8qwmYvezy[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc528d2e-7147-33f8-7ea7-597c519f58b1/test-blob-9d71fe5a-1275-45f9-708d-b79224067b83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E5F781BB4\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:27.3339476Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABQPknwGy9o59npHBVtdZZWeqxeB/W6Jx8ZKZq9hFmSGY12M13ePJLt4cHEoKzFGq/Ja98qZpyXlhcp1/GUq2OAVgKI9kI5eD0acSUz9oZzVA7q8xh5aLPw351GtWSgWDZeQ0qqPCRtkPOhEPV2Y5+QtoPiqrdLBu5Plxal8sPYeRjv1bI8yRfqfWIl11i9eXz9tv7hva5+EzxcWqQNyJ4vyZbdh43tU+1r9y1VJS+Vkh6aqDzE97xpccJ14G5y3bTE9Q7B4PLuD2IRdcWBKe0NxsiGciBha9HacxbLd3N++Rp4kDAg1LIrrJjasoH26EfUZxqm7GqUYoo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-fc528d2e-7147-33f8-7ea7-597c519f58b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:25 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1117369225",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
