{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30d6f30c-6bea-011d-d07c-0d48572710b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7241F2D316\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30d6f30c-6bea-011d-d07c-0d48572710b3/test-blob-e6b1bdc4-e7a4-b17b-9d9a-0e274c4f0084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72420239BF\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30d6f30c-6bea-011d-d07c-0d48572710b3/test-blob-e6b1bdc4-e7a4-b17b-9d9a-0e274c4f0084",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72420239BF\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30d6f30c-6bea-011d-d07c-0d48572710b3/test-blob-e6b1bdc4-e7a4-b17b-9d9a-0e274c4f0084?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F72420239BF\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eZdkKB04X5s5dZbbcTg\u002B3vgdlzsmeW0echStr2p8D6aQIWwrjlvSeLxlXdDavL0LuShFNVxCsv8pRbYIi68xvWXwSk/ME1CcSh5\u002BwBydQ7ZXofVCNtlJTm9sAUikyu0MNKBq6nFtP6bXqOo9w/HjjAEAsOm674aMpvzgXxEI\u002BIAxcYx7MllE6mFOao7vDIp9iXRGoxkDUkUZ3kN0jOCVz7BqDFFlZ1qou8aHa4T4nJpyY9adwVRmLR9HYlQW0F2BuZvehP84FyEanudSfOfAIUGoAigJ9w1bA98yHgUFketoBrHpGhiaOUy0giNsFLE3hkASbc01d[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30d6f30c-6bea-011d-d07c-0d48572710b3/test-blob-e6b1bdc4-e7a4-b17b-9d9a-0e274c4f0084",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72421BB4FC\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB5l2QoHThfmzl1lttxOD7e\u002BB2XOyZ5bR5yFK2vanwPppAhbCuOW9J4vGVd0Nq8vQu5KEU1XEKy/ylFtgiLrzG9ZfBKT8wTUJxKHn7AHJ1Dtleh9UI22UlOb2wBSKTK7Qw0oGrqcW0/pteo6j3D8eOMAQCw6brvhoym/OBfEQj4gDFxjHsyWUTqYU5qju8Min2JdEajGQNSRRneQ3SM4JXPsGoMUWVnWqi7xodrhPicmnJj1p3BVGYtH0diVBbQXYG5m96E/zgXIRqe51J858AhQagCKAn3DVsD3zIeBQWR62gGsekaGJo5TLSCI2wUsTeGQBJtzTV3wY2CgSAF\u002BBwUDPzqdTXXBykOydxUdOru7y77mMTzJB4zju9bl5d6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30d6f30c-6bea-011d-d07c-0d48572710b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1930564800",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
