{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c10502a4-8c67-1395-2312-2d5438e1258c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7F241E75\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c10502a4-8c67-1395-2312-2d5438e1258c/test-blob-12dcc0e7-b271-66b4-e1b4-7bb94a8954ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7F33A8D6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c10502a4-8c67-1395-2312-2d5438e1258c/test-blob-12dcc0e7-b271-66b4-e1b4-7bb94a8954ea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D7F33A8D6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c10502a4-8c67-1395-2312-2d5438e1258c/test-blob-12dcc0e7-b271-66b4-e1b4-7bb94a8954ea?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D7F33A8D6\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "i9o\u002BPnnWX0JtfUlgMJdP1QUzyW4Hz00Sh7KpqPot45cfg3LqDs2AtWqX6MHmfQNTbpFhbxZ40LuNLLfGLLdHP5qyQK0lZMY4sxMEb\u002BaLLAmvVTppy3SAprK2XOIVuYizT6knNDxVLgnKKbwDdGHVAv\u002BuF9d83nQlMZr7bwfkIvmKUR89Y/fMWScwn6G3fTJQ4FriZ6KxNnE0AgOiWr4B5gfDeCJBl54H4r2wTD/SbbNnqo6tAbtW2RuuCGH0Kf9oLrma9AUPD0i82oTlAekyYpRPOq8wVORMbJ4Gk489Eri9SB6GN3mtWJtF8SY2cdgye6bNpe9PN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c10502a4-8c67-1395-2312-2d5438e1258c/test-blob-12dcc0e7-b271-66b4-e1b4-7bb94a8954ea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D7F4FE346\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "mRJUAI3RUrU=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "i9o\u002BPnnWX0JtfUlgMJdP1QUzyW4Hz00Sh7KpqPot45cfg3LqDs2AtWqX6MHmfQNTbpFhbxZ40LuNLLfGLLdHP5qyQK0lZMY4sxMEb\u002BaLLAmvVTppy3SAprK2XOIVuYizT6knNDxVLgnKKbwDdGHVAv\u002BuF9d83nQlMZr7bwfkIvmKUR89Y/fMWScwn6G3fTJQ4FriZ6KxNnE0AgOiWr4B5gfDeCJBl54H4r2wTD/SbbNnqo6tAbtW2RuuCGH0Kf9oLrma9AUPD0i82oTlAekyYpRPOq8wVORMbJ4Gk489Eri9SB6GN3mtWJtF8SY2cdgye6bNpe9PN9nUTohmCXu5fsfMJ7nKrCoaouIU6mO9FfvG1BjpcG3JbhBEsenxRk8fjHJeakkeZ897sgMMO011FjmMoDRj0A5aArmohfpBKVuT9F7xX6qxp21Ibb5qvDPDz5qwZKYavLtjBGeQdeHUOYineUbuhLeO2vjGGmNQ70aF5bZfkcS0eDijjVpDITGMczM1w0Ps1ErjIYquVKFYExUhCpAqdKjD8gANS/ZdS7jGOqYvGiwDmRFrfG86BiSXSnlFIRehYf\u002BLcdBC34lThdbR5xr6KfjpHnF\u002Bvvg4iezcdgB9GCmhJNino6hcwbmIF/aYaB8JnCGAXAOlI6MGUujkZWiI1m2tL8JCUoVQjVw="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c10502a4-8c67-1395-2312-2d5438e1258c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "652134837",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
