{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b041e2e6-e3d0-f5c7-3eff-42d66d2a0714?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0385DCA8E2\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b041e2e6-e3d0-f5c7-3eff-42d66d2a0714/test-blob-d4f202bd-c50c-0e1d-275a-47f8bf5fe0c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB0385EBC492\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b041e2e6-e3d0-f5c7-3eff-42d66d2a0714/test-blob-d4f202bd-c50c-0e1d-275a-47f8bf5fe0c4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0385EBC492\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b041e2e6-e3d0-f5c7-3eff-42d66d2a0714/test-blob-d4f202bd-c50c-0e1d-275a-47f8bf5fe0c4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB0385EBC492\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "K9Zy47xTJ1FR5H8/C6Occ2Vd55GZpzUVTJqOSUbKSr7xHviCWLYonLQ+D/rMM0q7ANphtYwPH4OgXZchxN0LhpnATu2qGRuuNUrcW5c6SRlQ0klsaZUy4f504vofBtjXM4hhC+RdEOa/sn9BMsTsZhR90fGUnx0DjmzuNjcgji5yBSgP2D0088FirLYW8K86iHvmojXmQ5RrXnx4btqvnyRRzy2b3I3WSd0vMfJm7Z69tK27Oez5i8KTo3rBu4Xnsw2SxCGBnqvuEFlXthGhBXHeu7ks9GU4V0NrCDkTFY1YSH7k0yh8OxYCzCmSodWw8p4I4gDLur6nWm3eFpZy2/rL/m6TvDFJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b041e2e6-e3d0-f5c7-3eff-42d66d2a0714/test-blob-d4f202bd-c50c-0e1d-275a-47f8bf5fe0c4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB038606034E\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAr1nLjvFMnUVHkfz8Lo5xzZV3nkZmnNRVMmo5JRspKvvEe+IJYtiictD4P+swzSrsA2mG1jA8fg6BdlyHE3QuGmcBO7aoZG641StxblzpJGVDSSWxplTLh/nTi+h8G2NcziGEL5F0Q5r+yf0EyxOxmFH3R8ZSfHQOObO42NyCOLnIFKA/YPTTzwWKsthbwrzqIe+aiNeZDlGtefHhu2q+fJFHPLZvcjdZJ3S8x8mbtnr20rbs57PmLwpOjesG7heezDZLEIYGeq+4QWVe2EaEFcd67uSz0ZThXQ2sIORMVjVhIfuTTKHw7FgLMKZKh1bDyngjiAMu6vqdabd4WlnLb+sv+bpO8MUlhf6MqJzyltW67FpoKMoyMjb89ebqdJX+P8S7Hom[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b041e2e6-e3d0-f5c7-3eff-42d66d2a0714?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "798370289",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
