{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a9db9de3-044e-2370-a122-13187ddbb4b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682226C75CA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a9db9de3-044e-2370-a122-13187ddbb4b1/test-blob-ee33786c-ce47-4159-8427-b9aa01a0efa7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682227A0E6C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a9db9de3-044e-2370-a122-13187ddbb4b1/test-blob-ee33786c-ce47-4159-8427-b9aa01a0efa7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8682227A0E6C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a9db9de3-044e-2370-a122-13187ddbb4b1/test-blob-ee33786c-ce47-4159-8427-b9aa01a0efa7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8682227A0E6C\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4JCSfO0UYkfx/B/fw+XlVok8K24n2rqMQ3VP8rDjBSVQ0qusuBvq16tt6Po4VWokEJU+nDivRwXWBjl3xXCXDvf5j/A5OJ1uUVPCuvK/U+0KKuEbpGjsoIql1bLichI71dkDPsZ66tf30Evl7I0SF7JLbJuPfGmODe5mlGPrjN5Bh+QZuxQnkEAJI9QdB7P8kr7/lgZ3rFlvdTHXFFZ0C0Rso2Wp+VueJNtahViVcAU6aQGk7PXYytuLqUbiT3zplBiQsGROU5liYXIqHCYA2gQsnKpU0B9OlNmKHVAVu9RecfA/Bb+h7BVnQYqCra20is9BtrPRlMT5QRyKxDVJTaaey6s2wNRE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a9db9de3-044e-2370-a122-13187ddbb4b1/test-blob-ee33786c-ce47-4159-8427-b9aa01a0efa7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "7zHKzxy5/pvakzoLJmygRg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86822295D171\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a9db9de3-044e-2370-a122-13187ddbb4b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2147184233",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
