{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2a514d2-e847-349a-efb2-2d212ba588ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7C0F65D3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2a514d2-e847-349a-efb2-2d212ba588ce/test-blob-f575bc36-1161-8cf7-867f-49b81202bb82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7C1EC855\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2a514d2-e847-349a-efb2-2d212ba588ce/test-blob-f575bc36-1161-8cf7-867f-49b81202bb82",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D7C1EC855\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2a514d2-e847-349a-efb2-2d212ba588ce/test-blob-f575bc36-1161-8cf7-867f-49b81202bb82?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D7C1EC855\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "TlIhN8ooPF533h1tkWz6oebfbJW8HMiIaRp6hOXZu2uSst/nLJSDjFmK9CcIiHxFbu3dLN2x5zKKmM6vrrd4niKy296MEnRSXN88MieggOGdNRb3\u002B4\u002BO4MutXZTF096iEVYFVqyeuFt5is/9dbUK6RjtEniggaKSI/oS37TgjIgBmSDRmyk0/3y7fnG/kGsWonR82MFlAZCzcjKyi9mmmP1H/NuVOU3uuBL85QIx05KP/DxAZLTHm5iPHSn3gnOjFOVzeJSPgWkmjSCuaRyOgp\u002BfI4\u002BdZjRJf2BDBhwk9zWfWNEdvVr\u002B/3rSGtaUGDJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2a514d2-e847-349a-efb2-2d212ba588ce/test-blob-f575bc36-1161-8cf7-867f-49b81202bb82",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D7C3AB4C5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "TlIhN8ooPF533h1tkWz6oebfbJW8HMiIaRp6hOXZu2uSst/nLJSDjFmK9CcIiHxFbu3dLN2x5zKKmM6vrrd4niKy296MEnRSXN88MieggOGdNRb3\u002B4\u002BO4MutXZTF096iEVYFVqyeuFt5is/9dbUK6RjtEniggaKSI/oS37TgjIgBmSDRmyk0/3y7fnG/kGsWonR82MFlAZCzcjKyi9mmmP1H/NuVOU3uuBL85QIx05KP/DxAZLTHm5iPHSn3gnOjFOVzeJSPgWkmjSCuaRyOgp\u002BfI4\u002BdZjRJf2BDBhwk9zWfWNEdvVr\u002B/3rSGtaUGDJ7AZqJV1/jBq6wKvgzTHtNAZbqDxBLcMVEoSQVyktetWcuxwSBmp/Wu1IjbJJiyrL/hRhAqQkhMJDURbY7zjtiUnWQBIV2y2b2FFO\u002BKAQy4dZxFUUzHQteDZZ0rFXom\u002B0WwBod0cYsibmxSZW1YwiMomPgybn2LzRpMvfvAR4RDXllp2fpFRAQRYyMgdN2qKqN6AryCNE0H5Hls5/OPYeaoDscT7uhooxT0IQsaq1h84lNYRgUHwWnMYfVBGFwQQcE8eCXWVnu7EZ9njdNB7XjhL8VgdxuhoE2dB4zy50r4o59KHjNyZkwXnXSloDNWinS8YChWsArlWteYeU6uiCoUrupz948Frsl5SJmnO8BaBk="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d2a514d2-e847-349a-efb2-2d212ba588ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:37:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "116353420",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
