{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b7b756e-220d-a28f-9794-5280fa19cb49?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB03838C7713\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b7b756e-220d-a28f-9794-5280fa19cb49/test-blob-d622b286-d026-aea7-20fe-ba9bf5598dd5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB03839AF657\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b7b756e-220d-a28f-9794-5280fa19cb49/test-blob-d622b286-d026-aea7-20fe-ba9bf5598dd5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB03839AF657\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b7b756e-220d-a28f-9794-5280fa19cb49/test-blob-d622b286-d026-aea7-20fe-ba9bf5598dd5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB03839AF657\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "hQHn9vFk7cMCXnoLXIRzccTL1YRf5/QqOe5fpuWzutD4RoUtPtqVRon24fdLk4ntQlT8lzuGIZ0NvL0CBEbdTqOqEhb+RTLpNY/7aAX83qZlcWSRtiKUciToH4Idk0FCGJJToYBz7vwhEmKsiriXEd4WnZPiS5eBFaDxFiawzKJNuU9yqT0l8YJob6TA6OdsUA6jBvWuX8z70ovfgtjWcUW/XtFoJWeh8asRedzzwCy5hMYXDMasn1mCd9axRm+qkv5eAIkVBCumAhRKnOXwBxFeJv0RvmV+E7945a2R8Ks7Z+fdlMCipICbcAqxYQJzknDFUh9ymdOZ3+zKnB59FRJpDjX+EnNQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b7b756e-220d-a28f-9794-5280fa19cb49/test-blob-d622b286-d026-aea7-20fe-ba9bf5598dd5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB0383CEFE85\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACFAef28WTtwwJeegtchHNxxMvVhF/n9Co57l+m5bO60PhGhS0+2pVGifbh90uTie1CVPyXO4YhnQ28vQIERt1Oo6oSFv5FMuk1j/toBfzepmVxZJG2IpRyJOgfgh2TQUIYklOhgHPu/CESYqyKuJcR3hadk+JLl4EVoPEWJrDMok25T3KpPSXxgmhvpMDo52xQDqMG9a5fzPvSi9+C2NZxRb9e0WglZ6HxqxF53PPALLmExhcMxqyfWYJ31rFGb6qS/l4AiRUEK6YCFEqc5fAHEV4m/RG+ZX4Tv3jlrZHwqztn592UwKKkgJtwCrFhAnOScMVSH3KZ05nf7MqcHn0VEmkONf4Sc1C8gX11TlrNsbwEUz3MnYvJzhREtNPYB2EeWvhIUs[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5b7b756e-220d-a28f-9794-5280fa19cb49?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1360150526",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
