{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d7eddaf4-f422-0b95-3005-186ee5ec0d4a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB658F891D6\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d7eddaf4-f422-0b95-3005-186ee5ec0d4a/test-blob-72bca965-239d-4d41-4990-451859042d7b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6595BFA8C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d7eddaf4-f422-0b95-3005-186ee5ec0d4a/test-blob-72bca965-239d-4d41-4990-451859042d7b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6595BFA8C\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d7eddaf4-f422-0b95-3005-186ee5ec0d4a/test-blob-72bca965-239d-4d41-4990-451859042d7b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6595BFA8C\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "mPt9R0nm7HubpgJboTZwiFyo4wQynQJtmTXxWZRHkOAHZ8aeKmElpPU+1KEQRf0DZFyaDRC6uPv5EK0U9ZPnUxUhVDlv0V77gz4O9MhgXFM37fQ3rYPQTK7LpRmzEK9iVoGM7vHEk5L+norRq8MymbNZ3Qeer6aSUQeLpCxER3KPrJ1H025ic1lhOQ75/6HqmQtmWTOnw6fb+p3pOO9luVcXQv8m68VF92muPHaXmVFmoAsh3u0/5+n2bNnQeDpp+3+34b2hxK1FIGLK+IYwQ2BLg5jkRNtp11oVL37sdX4vREH34LeUxNtd272Kde9ixSh5hPWhhLejTQpii5UvWavkmrNFOWOp[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d7eddaf4-f422-0b95-3005-186ee5ec0d4a/test-blob-72bca965-239d-4d41-4990-451859042d7b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB659690B3D\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACY+31HSebse5umAluhNnCIXKjjBDKdAm2ZNfFZlEeQ4Adnxp4qYSWk9T7UoRBF/QNkXJoNELq4+/kQrRT1k+dTFSFUOW/RXvuDPg70yGBcUzft9Detg9BMrsulGbMQr2JWgYzu8cSTkv6eitGrwzKZs1ndB56vppJRB4ukLERHco+snUfTbmJzWWE5Dvn/oeqZC2ZZM6fDp9v6nek472W5VxdC/ybrxUX3aa48dpeZUWagCyHe7T/n6fZs2dB4Omn7f7fhvaHErUUgYsr4hjBDYEuDmORE22nXWhUvfux1fi9EQffgt5TE213bvYp172LFKHmE9aGEt6NNCmKLlS9Zq+Sas0U5Y6m3vryHaR7fYmuyaVVz8IiNwIpTk60xOEYtgRGm2j[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-d7eddaf4-f422-0b95-3005-186ee5ec0d4a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "344932500",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
