{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c028302b-d87e-cedc-7b6e-aae9e2c1e51d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72436EC4D6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c028302b-d87e-cedc-7b6e-aae9e2c1e51d/test-blob-d81be924-c3e5-931c-a86d-37c83b2b8ea0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72437DB4E9\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c028302b-d87e-cedc-7b6e-aae9e2c1e51d/test-blob-d81be924-c3e5-931c-a86d-37c83b2b8ea0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72437DB4E9\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c028302b-d87e-cedc-7b6e-aae9e2c1e51d/test-blob-d81be924-c3e5-931c-a86d-37c83b2b8ea0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F72437DB4E9\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ZKgxyaC0ueGZwVi3EPVtCLyeLT5LY0DYiLVBmxSmtLmJBoK4QOlrBuqU5xuDkm763i0yE4H\u002BdQBoWUDqcx3N8w2eLglztMfTMidTtnwlVPVHRr3mc6E4i5GBUOeogZPMx/QN5GRkhillX\u002BFZqr6EQwRKoixg5n9sZqJ48mPgK7CUh\u002B\u002BHF2\u002BR4sCTgRS/3uHS/Q3iXd5mbOB1oX7B7JTFhDQwxSLP/CuVub9szGVrrIfBpfRW/s3SLRsOEnXxz/Yrzfzfjxm\u002BAgHhTaQe\u002Bp97CvX2AEagb4ZmXpcHwem2o\u002BnJQf5o[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c028302b-d87e-cedc-7b6e-aae9e2c1e51d/test-blob-d81be924-c3e5-931c-a86d-37c83b2b8ea0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72439D71DE\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABkqDHJoLS54ZnBWLcQ9W0IvJ4tPktjQNiItUGbFKa0uYkGgrhA6WsG6pTnG4OSbvreLTITgf51AGhZQOpzHc3zDZ4uCXO0x9MyJ1O2fCVU9UdGveZzoTiLkYFQ56iBk8zH9A3kZGSGKWVf4VmqvoRDBEqiLGDmf2xmonjyY\u002BArsJSH74cXb5HiwJOBFL/e4dL9DeJd3mZs4HWhfsHslMWENDDFIs/8K5W5v2zMZWush8Gl9Fb\u002BzdItGw4SdfHP9ivN/N\u002BPGb4CAeFNpB76n3sK9fYARqBvhmZelwfB6baj6clB/miLHG4DovJ0sCmzM3ySCID6z7CKXnV4MYG2QRcrqbpVuaATftiI/aOt\u002BtY9qmSLL\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c028302b-d87e-cedc-7b6e-aae9e2c1e51d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1322612387",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
