{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-75303da2-da08-7f09-eb36-d9febf44687a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D59D8E672D\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-75303da2-da08-7f09-eb36-d9febf44687a/test-blob-d4894ad2-4ca1-32fa-4d2b-6b20e8cb5d8c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D59D9957B7\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-75303da2-da08-7f09-eb36-d9febf44687a/test-blob-d4894ad2-4ca1-32fa-4d2b-6b20e8cb5d8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D59D9957B7\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-75303da2-da08-7f09-eb36-d9febf44687a/test-blob-d4894ad2-4ca1-32fa-4d2b-6b20e8cb5d8c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DDE5D59D9957B7\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "sekeAioHy2J/eLQmL4jY4CuE2UbYI/kewSoT+ktGUZjKLM+97QcqHK4JxAcPEuU0QBRL4k7RpY3v/0EA89AXOCcbXAK4GvIjWryXzl/xD65E37k2+25J+IZCze7GKSnd8ozg87XifCUhJ4eSOdcu/u+TvBQX4D240mR8dU0EXTGTutvTERz4YWOTFdPnt76vFM/+Mm0UxhJOKCBRZgbYHMpW/n78W+3Tmlqxg8pp0RulzGF9BivDf/TJhOj7pvtcu/kJkLg/srjiK5cTYkNH5FcFq5mkWhWekn+KM9YE1/NfVMfRYEBiZRqom9uTsByxgaCR9fthuGDjav04tX/i3VOjtA57dYQW[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-75303da2-da08-7f09-eb36-d9febf44687a/test-blob-d4894ad2-4ca1-32fa-4d2b-6b20e8cb5d8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE5D59DA6B634\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACx6R4CKgfLYn94tCYviNjgK4TZRtgj+R7BKhP6S0ZRmMosz73tByocrgnEBw8S5TRAFEviTtGlje//QQDz0Bc4JxtcArga8iNavJfOX/EPrkTfuTb7bkn4hkLN7sYpKd3yjODzteJ8JSEnh5I51y7+75O8FBfgPbjSZHx1TQRdMZO629MRHPhhY5MV0+e3vq8Uz/4ybRTGEk4oIFFmBtgcylb+fvxb7dOaWrGDymnRG6XMYX0GK8N/9MmE6Pum+1y7+QmQuD+yuOIrlxNiQ0fkVwWrmaRaFZ6Sf4oz1gTX819Ux9FgQGJlGqib25OwHLGBoJH1+2G4YONq/Ti1f+LdU6O0Dnt1hBaiRn/7vzoL4mPYsTZz4fj9nGfu9UIqsJrGvYfv/A[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-75303da2-da08-7f09-eb36-d9febf44687a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:52:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1308443197",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
