{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f79b197e-36b2-da8e-b8b6-d05d19e6f50b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CBB651E7\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f79b197e-36b2-da8e-b8b6-d05d19e6f50b/test-blob-adaa6672-7ea2-0c88-5c2c-fa190bcf4897",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CBBD0A0D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:11.9774221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f79b197e-36b2-da8e-b8b6-d05d19e6f50b/test-blob-adaa6672-7ea2-0c88-5c2c-fa190bcf4897",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22CBBD0A0D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:11.9774221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f79b197e-36b2-da8e-b8b6-d05d19e6f50b/test-blob-adaa6672-7ea2-0c88-5c2c-fa190bcf4897?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22CBBD0A0D\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "aTl3pnROeEYXf8ZDvls89c0gBGw43JzUHIFMb5zCe/1+PMlkS0I7CzVoAe86TePD0KZzgC+DA42do4ryAgipVQPIxIKR2KmK5Pk3z9qsms6eiJ/1TvvN+jg8xqi4SAgsvqzrcYlhMvf86Zw2TDOy8Am8VHpptAYI+8lJVREB0pvwCxEtwChFPFan+WVflq4Eidaf/POOwgqm43a/F93m+xYARkEihC/gdhgjwrqhqWQbRMs7YdWnYkgHh92yhiV5wP5OXlBt4gSmv4Xbav9PBToSo9IRq5lAWOT4Gv1RLfDyqgG8UkoTrmLGlKJQy/dJuIKjoOJSZxVkDQZsdMcHVJGU6b/9krLv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f79b197e-36b2-da8e-b8b6-d05d19e6f50b/test-blob-adaa6672-7ea2-0c88-5c2c-fa190bcf4897",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22CBC67553\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:41:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:11.9774221Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABpOXemdE54Rhd/xkO+Wzz1zSAEbDjcnNQcgUxvnMJ7/X48yWRLQjsLNWgB7zpN48PQpnOAL4MDjZ2jivICCKlVA8jEgpHYqYrk+TfP2qyazp6In/VO+836ODzGqLhICCy+rOtxiWEy9/zpnDZMM7LwCbxUemm0Bgj7yUlVEQHSm/ALES3AKEU8Vqf5ZV+WrgSJ1p/8847CCqbjdr8X3eb7FgBGQSKEL+B2GCPCuqGpZBtEyzth1adiSAeH3bKGJXnA/k5eUG3iBKa/hdtq/08FOhKj0hGrmUBY5Pga/VEt8PKqAbxSShOuYsaUolDL90m4gqOg4lJnFWQ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f79b197e-36b2-da8e-b8b6-d05d19e6f50b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1270726851",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
