{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-07c32a2e-1f77-dd52-d560-31551dbf5b33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694CEBE7738\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-07c32a2e-1f77-dd52-d560-31551dbf5b33/test-blob-a5d84523-b2a9-9391-eed9-b971abe38353",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694CED7BB68\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-07c32a2e-1f77-dd52-d560-31551dbf5b33/test-blob-a5d84523-b2a9-9391-eed9-b971abe38353",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694CED7BB68\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-07c32a2e-1f77-dd52-d560-31551dbf5b33/test-blob-a5d84523-b2a9-9391-eed9-b971abe38353?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694CED7BB68\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "0QjZHOUqDum0/C6lC0g+6PXB+B3XbPffJRjzNX/JFcirUTiWE0+KMvH9OkC7Q2GU29238BgI6mQQ+vbNNthq6udm+roPqNSlNsUs2TK3JOG3X1miEiSvomfThRlYvfsYk09YVEmnhDMIEblS3BEyWdUVFtd/x9jCtldTPCK6TXjJE0biXtCYD9ommQBrXcZVoStEQ6ckmct2lp3xVEgQTsRAiMjKT/sFfQb8WC7YV1mR/Zv3dQrRpXp6a8cypruSFUo7KtT9ilEwP8WhJ0Cdnj9EX1atGdm6b+NOUOMz0tZKakPjnCyElHJJxjZEL3063M2H7kdk5ftxgbrxrzpt/GzvV738uQIS[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-07c32a2e-1f77-dd52-d560-31551dbf5b33/test-blob-a5d84523-b2a9-9391-eed9-b971abe38353",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:11 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694CEF26306\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:11 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADRCNkc5SoO6bT8LqULSD7o9cH4Hdds998lGPM1f8kVyKtROJYTT4oy8f06QLtDYZTb3bfwGAjqZBD69s022Grq52b6ug+o1KU2xSzZMrck4bdfWaISJK+iZ9OFGVi9+xiTT1hUSaeEMwgRuVLcETJZ1RUW13/H2MK2V1M8IrpNeMkTRuJe0JgP2iaZAGtdxlWhK0RDpySZy3aWnfFUSBBOxECIyMpP+wV9BvxYLthXWZH9m/d1CtGlenprxzKmu5IVSjsq1P2KUTA/xaEnQJ2eP0RfVq0Z2bpv405Q4zPS1kpqQ+OcLISUcknGNkQvfTrczYfuR2Tl+3GBuvGvOm38bO9Xvfy5AhK/y+RjU6J1QGUUcxar5I/lhEhxGnKT5TfbyclU2MA9I8p0LnyAgqjODHmLmsZXUYhgcji0SOigLOath4nZIWik11BLNrUSZQKgog74B0pwhHhB9GWHiNri1AKV0voe9esR5sN2CxrSTQw2FKXZpySbPAMQmC0CHU51aWKzfZIHga0j5yCG+nlebqZZUHQ1CSzd+pb3DV2+D8l1AKK3HtB6LpP4tsAEFUGJsimGqczaQGA11oL7EHNPZddXEPrXpk/V3iLgPVJs2eRVbVs0N2X8m8BCgkhNfh4fqFHorARHsgvasMqq+QINyf2epaIYGy1xWnU5lSQGiFRPEDVnlretVE8QNWeWt60="
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-07c32a2e-1f77-dd52-d560-31551dbf5b33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "297276016",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
