{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b019b0dc-3229-d1e6-10fd-9d7b9d064ad0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6575DE3A8\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b019b0dc-3229-d1e6-10fd-9d7b9d064ad0/test-blob-873972be-fca5-5011-978a-0a296756a1de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB657C12FBD\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b019b0dc-3229-d1e6-10fd-9d7b9d064ad0/test-blob-873972be-fca5-5011-978a-0a296756a1de",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB657C12FBD\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b019b0dc-3229-d1e6-10fd-9d7b9d064ad0/test-blob-873972be-fca5-5011-978a-0a296756a1de?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB657C12FBD\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "9lt2IuGmP5CPhE9u1bE/HhNOyL0lYV5juqvu8CagpWSdIz43e8dtC59QWe1RhyzgCgdsoDJfE5T8E2c1uE5p7t7r0bFzB6JM4b0d1AdxEjN/DeYfNAQxPQ+pOmhfN1NQ52sOZbV6bQJkH791Qj+NiwEztqpoSrrZuZSiyc067apqzO2cYqx+BaDjuhRFvPvQHK9nK4Go6JywNawh2KM1KjIVC3VR8ShUtbAKhJCmlPyY0a0e0sEpweRR6y0AXS39ro/hMLGGfyqGEnbQnWQMCqGviAb1F1hx7EmR/wX7VFiDDdUBxWNLElKDl79LWCR/ReGMUNQmB5c2b0Ro9H8lir4dTJCOCkU9[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b019b0dc-3229-d1e6-10fd-9d7b9d064ad0/test-blob-873972be-fca5-5011-978a-0a296756a1de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB657CE8E32\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD2W3Yi4aY/kI+ET27VsT8eE07IvSVhXmO6q+7wJqClZJ0jPjd7x20Ln1BZ7VGHLOAKB2ygMl8TlPwTZzW4Tmnu3uvRsXMHokzhvR3UB3ESM38N5h80BDE9D6k6aF83U1Dnaw5ltXptAmQfv3VCP42LATO2qmhKutm5lKLJzTrtqmrM7ZxirH4FoOO6FEW8+9Acr2crgajonLA1rCHYozUqMhULdVHxKFS1sAqEkKaU/JjRrR7SwSnB5FHrLQBdLf2uj+EwsYZ/KoYSdtCdZAwKoa+IBvUXWHHsSZH/BftUWIMN1QHFY0sSUoOXv0tYJH9F4YxQ1CYHlzZvRGj0fyWKvh1MkI4KRT1kdbRyf5gmkyURuiRvBINcBT7KVR/jHdJdDQEtDJ[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b019b0dc-3229-d1e6-10fd-9d7b9d064ad0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "853201139",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
