{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-50ee26e1-ba1c-3f4a-0fed-11082169f40a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369504053CEB\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-50ee26e1-ba1c-3f4a-0fed-11082169f40a/test-blob-fb42e3dc-001f-75b9-e5b2-0d5990fd1020",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369504161A44\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-50ee26e1-ba1c-3f4a-0fed-11082169f40a/test-blob-fb42e3dc-001f-75b9-e5b2-0d5990fd1020",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD369504161A44\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-50ee26e1-ba1c-3f4a-0fed-11082169f40a/test-blob-fb42e3dc-001f-75b9-e5b2-0d5990fd1020?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD369504161A44\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "d7BIXu44qN2ciBaCcRuGx4p5DXq2etDObYKs7D6ZK2oHTbcI/wSqwv7V3LADLr2ojv5mwcEYRf3fefBri7yfA12seiRkfciFz0t84J4gyz7EBF5AMmqp7gi6KYYUPjZCNtlTVrSZRBE14PJ1nGRfvq2xp4deX9HyAowcqlNBcZAUOqrEzXSKKr9MClF4M1KjWmrYYpau49cIYFQnfZq99G9hYGG6mvE4JnzHEVR/es45eE/paA76ZVbSvGwgYq0ljxbhF9Lw6MB5oDsZ5tKCiOaF7QRL1IthZvsL592EGMTPooE+nWL8SY+OcMjS4H6DUDSGm3So2ruLgLDX5QHj9Ih3SURRQ+uD[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-50ee26e1-ba1c-3f4a-0fed-11082169f40a/test-blob-fb42e3dc-001f-75b9-e5b2-0d5990fd1020",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3695042F78C2\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB3sEhe7jio3ZyIFoJxG4bHinkNerZ60M5tgqzsPpkragdNtwj/BKrC/tXcsAMuvaiO/mbBwRhF/d958GuLvJ8DXax6JGR9yIXPS3zgniDLPsQEXkAyaqnuCLophhQ+NkI22VNWtJlEETXg8nWcZF++rbGnh15f0fICjByqU0FxkBQ6qsTNdIoqv0wKUXgzUqNaathilq7j1whgVCd9mr30b2FgYbqa8TgmfMcRVH96zjl4T+loDvplVtK8bCBirSWPFuEX0vDowHmgOxnm0oKI5oXtBEvUi2Fm+wvn3YQYxM+igT6dYvxJj45wyNLgfoNQNIabdKjau4uAsNflAeP0iHdJRFFD64OJpHS8ZMKOhXyHl6n+fU8nyMazHLIkZI6re0Bblj[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-50ee26e1-ba1c-3f4a-0fed-11082169f40a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1889928893",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
