{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0b090f0-8672-eb63-3d8c-a3428cc45c67?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86821CF4EE13\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:40:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0b090f0-8672-eb63-3d8c-a3428cc45c67/test-blob-a47a4b03-2863-4d53-76ca-3a5156a43dfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86821D05BB37\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:40:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0b090f0-8672-eb63-3d8c-a3428cc45c67/test-blob-a47a4b03-2863-4d53-76ca-3a5156a43dfc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86821D05BB37\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:40:57 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:40:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0b090f0-8672-eb63-3d8c-a3428cc45c67/test-blob-a47a4b03-2863-4d53-76ca-3a5156a43dfc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86821D05BB37\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9lI/MCCgVtKP/KLn8lHpzdYFe8QE19yiaXPxQ8R0dYtQJRuvMIV8JnHt9o6GHvL3R4u2OAd1aR91ncetrhMOGoYWlsw2OZ1RiVVTF+BNG0qA+fs4vjyE27z7OpK+znhe3twIb4gmwQ7uZa+xIlI+J4F8LbQX1VtKkrsQOv4Kk7rd9DgERazCWTjtSlmM0rhqvRIQQaHDRwmAvdzNFoYP49L01C0ZOeHVutN8KYsCvcACpn3s+VEZGa0vhIjP9UOy3meHmP2KUIMwO4fNRx19fQAcynAJI+mA2rt/6bVZBsSPyUokeyXCeFX5u77KS9KQsQaIsivTqLt9Br1CCmbO1zXCPn3SWQLa[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0b090f0-8672-eb63-3d8c-a3428cc45c67/test-blob-a47a4b03-2863-4d53-76ca-3a5156a43dfc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86821D206CDE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:40:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:40:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0b090f0-8672-eb63-3d8c-a3428cc45c67?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1788900500",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
