{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e30df6c7-7021-b914-c587-646439e8bc7f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CBBAA0FA6\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e30df6c7-7021-b914-c587-646439e8bc7f/test-blob-b812dfc2-7b51-6817-3f45-c65d19d3ae01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CBBB44987\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e30df6c7-7021-b914-c587-646439e8bc7f/test-blob-b812dfc2-7b51-6817-3f45-c65d19d3ae01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CBBB44987\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e30df6c7-7021-b914-c587-646439e8bc7f/test-blob-b812dfc2-7b51-6817-3f45-c65d19d3ae01?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CBBB44987\"",
        "x-ms-date": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "wOcWhinqOft0liTOxPA6S0OgOI66qt5TBNPafkwBkiyeFmOWYr2ZQHAynQpzPSckzzM9Q1kl2hUIwoJWELuucgT4MK2No+mFB/geiA3U4Merta8Yw0/SeDxOjaA7QzC1gyoGegx6lytKtztgB1EHNOG6qloLlq+0JbdxPhVISsTIaAXjzma6MR6EzQsUcnHqRlm+gJjVqe17UVVVCVgVAW13mJ5MJGV7AHg8h8ijn7NGhvi7isor874XaHwQZCjFbsyenNnSnSL0QoAfmCIl17GhD4JfWXejS6XfNLzoa5tQdhj8BQPZc+nWx0hKDFqc8pDLb1WmZhRU+1E08mhmDNfkzyIJKdKu[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e30df6c7-7021-b914-c587-646439e8bc7f/test-blob-b812dfc2-7b51-6817-3f45-c65d19d3ae01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CBBC29157\"",
        "Last-Modified": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADA5xaGKeo5+3SWJM7E8DpLQ6A4jrqq3lME09p+TAGSLJ4WY5ZivZlAcDKdCnM9JyTPMz1DWSXaFQjCglYQu65yBPgwrY2j6YUH+B6IDdTgx6u1rxjDT9J4PE6NoDtDMLWDKgZ6DHqXK0q3O2AHUQc04bqqWguWr7Qlt3E+FUhKxMhoBePOZroxHoTNCxRycepGWb6AmNWp7XtRVVUJWBUBbXeYnkwkZXsAeDyHyKOfs0aG+LuKyivzvhdofBBkKMVuzJ6c2dKdIvRCgB+YIiXXsaEPgl9Zd6NLpd80vOhrm1B2GPwFA9lz6dbHSEoMWpzykMtvVaZmFFT7UTTyaGYM1+TPIgkp0q7Hm5iJki5ZP0pCQisd+0WpEAOnCrGlgIBwu3FlPD[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-e30df6c7-7021-b914-c587-646439e8bc7f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:07:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "95045966",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
