{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-12faf2f5-f073-3f28-2f1c-2bd1c03f1cda?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682800A307F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-12faf2f5-f073-3f28-2f1c-2bd1c03f1cda/test-blob-3188b33f-f7e1-0e6b-7b1e-2d3e4860edda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8682801CF66B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-12faf2f5-f073-3f28-2f1c-2bd1c03f1cda/test-blob-3188b33f-f7e1-0e6b-7b1e-2d3e4860edda",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8682801CF66B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:43 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:43:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-12faf2f5-f073-3f28-2f1c-2bd1c03f1cda/test-blob-3188b33f-f7e1-0e6b-7b1e-2d3e4860edda?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8682801CF66B\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "wK5auI2GGlqqXNapqbYZOsiIePenKFrfTK57PqxioveSDrF3mpwU0a49SCQbDrx5z7Mdc8w/kZdUe2vfC9ytSLnfF5oFoZ8rdKdJad81xD3xAm75RS4rU30aIx4wNMXRkABqO/chcy0T8f8k9ie4Hrct7QlttAOKtMMd6n2B+z/hd9ney4hG0I5A5VQvBl1WYQVnAke8ZNz94Ic0BImvkvXAQ35N2VMv5x17LM6uW65mxol4Gfj4JBL94eoAEcwFkVNeb8LeCIiyOBspQTgOToTZzj3/N3n9xx5sUPdoLtVRdpt7UOvrh74AxuHdzuPa75NmJ0OOBVnZYKekcriQSQlF2Mqckv6Y[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-12faf2f5-f073-3f28-2f1c-2bd1c03f1cda/test-blob-3188b33f-f7e1-0e6b-7b1e-2d3e4860edda",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86828031B52E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "xU+nX0gfSB0=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:43:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "wK5auI2GGlqqXNapqbYZOsiIePenKFrfTK57PqxioveSDrF3mpwU0a49SCQbDrx5z7Mdc8w/kZdUe2vfC9ytSLnfF5oFoZ8rdKdJad81xD3xAm75RS4rU30aIx4wNMXRkABqO/chcy0T8f8k9ie4Hrct7QlttAOKtMMd6n2B+z/hd9ney4hG0I5A5VQvBl1WYQVnAke8ZNz94Ic0BImvkvXAQ35N2VMv5x17[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-12faf2f5-f073-3f28-2f1c-2bd1c03f1cda?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1194177955",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
