{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3f31dbe-c673-aa82-4ec5-2916c2d190b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8425A37F4A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3f31dbe-c673-aa82-4ec5-2916c2d190b2/test-blob-a849cee5-4362-fb3b-097f-2c6030515ec7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8425B13C34\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3f31dbe-c673-aa82-4ec5-2916c2d190b2/test-blob-a849cee5-4362-fb3b-097f-2c6030515ec7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8425B13C34\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3f31dbe-c673-aa82-4ec5-2916c2d190b2/test-blob-a849cee5-4362-fb3b-097f-2c6030515ec7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F8425B13C34\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yPNjQ1hOR8ush1OivuPdyEuG5\u002Bf1Alqr6UEie6hKBmH809bZITZJ4JMR4c97Fkee1YLa3ibsPsaYuFoWLMwjYoHypeoMA6YVPAdU4yCLL9L6g6UlcCc7EJUQQWncMrPG7n9NiXBckdHbxaIfmFqlDYmHHKgn/fFat5VV/MI9OQpTjfWhPaZinfLTSquFG3g6ajPgVBYLn/CN8tLbB5UPnYuYzAplBNDiJX\u002B2U7NG1ZsdG5GPXeTzSO0FE0rTh5ZcxKwf7E9t1WZj/S\u002BXVEw9Rh02vewEgD\u002BmpIQdX/GFD57pWo8GJ\u002BhMr0YrLGC1XPO[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3f31dbe-c673-aa82-4ec5-2916c2d190b2/test-blob-a849cee5-4362-fb3b-097f-2c6030515ec7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8425C957E7\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADI82NDWE5Hy6yHU6K\u002B493IS4bn5/UCWqvpQSJ7qEoGYfzT1tkhNkngkxHhz3sWR57VgtreJuw\u002Bxpi4WhYszCNigfKl6gwDphU8B1TjIIsv0vqDpSVwJzsQlRBBadwys8buf02JcFyR0dvFoh\u002BYWqUNiYccqCf98Vq3lVX8wj05ClON9aE9pmKd8tNKq4UbeDpqM\u002BBUFguf8I3y0tsHlQ\u002Bdi5jMCmUE0OIlf7ZTs0bVmx0bkY9d5PNI7QUTStOHllzErB/sT23VZmP9L5dUTD1GHTa97ASAP6akhB1f8YUPnulajwYn6EyvRissYLVc86DIzC2dyalYQ2x4SMtPdXTd7pCu\u002Brw2HzTqDaXYVN/wR5B8lyRYcdQ/AkuZrqCAYNG2TnIkrvnkkaz4srsEf\u002B\u002BNhwE7091QhHy8b/dxnHCUaq3UIgVtzJiWmAZ3X78ZO4JbDCaeRY30Zsr2aD8BcvQ7ZEgNL1zqILtopDrW2CW8ojR1FZBK9SQg4Lw7dmNZlCUSPPt2DAsmcexrNqBSHY2lOcYLjF1j8W8j7U6gr6lYDxAUxJwpRZYoTqSk3r6EzcMulTycTQfIrkqMUx68hsFCEieQPlnxe/Qw4z24vxOwnx\u002BLcRlsu8EISxZSnfJ3a8jiYcuX9I9qPRpIbGrJD\u002B4227P/MRSo1Vdmh/JCn90BuDIfo6HcwYdbMh\u002BjodzBh1s="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3f31dbe-c673-aa82-4ec5-2916c2d190b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "953242669",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
