{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4599ad6d-4a19-7f17-6997-0f4db0997465?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D3C879F0B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4599ad6d-4a19-7f17-6997-0f4db0997465/test-blob-56a62ce1-4610-763a-6d06-6329e5bcb5b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D3C976890\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4599ad6d-4a19-7f17-6997-0f4db0997465/test-blob-56a62ce1-4610-763a-6d06-6329e5bcb5b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D3C976890\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4599ad6d-4a19-7f17-6997-0f4db0997465/test-blob-56a62ce1-4610-763a-6d06-6329e5bcb5b5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D3C976890\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "yY5psYMeTlczpenORzyJLaxaN8uTzHYkmQUjhNXKuiV1oxBn0jky95WudEmKtD9IIRIC3/0JzP0YRBh\u002B\u002BsqBaerEWKMsIVtyKEA15FgtmuTF2mLDx9snbNYTT44hs/zLLQtfxlubHP\u002B3kLe91Oel6qkzuCBnvaEOnOzMGdLMUHRDardMztSJKr5jDDckapfvbmTk7vrcY29pUCluzgIt6j9CemovWBzUqo5hBLFq6jJV3att52J6ZwdI436qGlu7NSL34fAtvxVHEERsel6\u002B/2X3GfFXwALcyBJi53WeKpAzps\u002BOcglBJx2VJdceDey[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4599ad6d-4a19-7f17-6997-0f4db0997465/test-blob-56a62ce1-4610-763a-6d06-6329e5bcb5b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D3CB35501\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "EXQH2fdD0V4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "yY5psYMeTlczpenORzyJLaxaN8uTzHYkmQUjhNXKuiV1oxBn0jky95WudEmKtD9IIRIC3/0JzP0YRBh\u002B\u002BsqBaerEWKMsIVtyKEA15FgtmuTF2mLDx9snbNYTT44hs/zLLQtfxlubHP\u002B3kLe91Oel6qkzuCBnvaEOnOzMGdLMUHRDardMztSJKr5jDDckapfvbmTk7vrcY29pUCluzgIt6j9CemovWBzUqo5hBLFq6jJV3att52J6ZwdI436qGlu7NSL34fAtvxVHEERsel6\u002B/2X3GfFXwALcyBJi53WeKpAzps\u002BOcglBJx2VJdceDeyoiuQYswBpY3UfGxndytigqea0ONSPL4xbtfHTwporvromuV2QhXaPyUJZb1fwZFxF9HzxatUYGVpXvP0OlqHa81xetxF7DyNvJG\u002BRNb80a1GVjs0eOVPlDaACOch5gDOgf3v6ka1LyuVYgkVlh\u002BObIlGreQfUu7oIealweNZa9aQ88LZDOtmkScPnxrcOgIa8ZxZ3zQYry8PB8RgD21EO/oyhKJYsV\u002Bh3BzBD7PUC\u002BvkjsxHA4iedESTzgUjBoG5y2cgqbVfwkA8tAMXW59/Nv/cf4CdATRtkAxdxOdWgtWfC0RMt14yhMyMBkuJixylFJcJQocBGMYusxWo/flY5jUpeFBXLoOdqfa0DPrs5Ajs="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4599ad6d-4a19-7f17-6997-0f4db0997465?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "367540037",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
