{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-905db57c-bfe4-e282-0a86-c95b4758e54f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCE33F0029\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-905db57c-bfe4-e282-0a86-c95b4758e54f/test-blob-49fecce7-973c-c230-785d-a19db8ffd126",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCE34D09DE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-905db57c-bfe4-e282-0a86-c95b4758e54f/test-blob-49fecce7-973c-c230-785d-a19db8ffd126",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCE34D09DE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-905db57c-bfe4-e282-0a86-c95b4758e54f/test-blob-49fecce7-973c-c230-785d-a19db8ffd126?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCE34D09DE\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "S619YWbJ3VmwW9br8SH2MdbrQ90+vYr9TNP0LBPrrHc2fhU+XE54Toy/d2n4sxOee91Dav7lEo4jfxSS1LBGxK9ftXIMuNSHcvVRfkUgBZm/VbA1p0J4UGuGGtw55XnbebO5mP2gksMIu/cJlJNIA3p7034AEBxs5mQHhZ34TYx7dQSSZmybHsPsLexKb7zYPRdhvhL622mWTbGZmQwmEG1rjR6PtpwO4LS7E+MwInenLkiGlo96gJma+xm6AoW3xhx+3+GdSIZ7U91dP8iGZio68WrEoHnd8AyE9LuCU90vA0zGsUKVCubBCkKxHEHRFJXufxEa8yajoO7VGFTL+AAALjt7wLTo[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-905db57c-bfe4-e282-0a86-c95b4758e54f/test-blob-49fecce7-973c-c230-785d-a19db8ffd126",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCE36796AE\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABLrX1hZsndWbBb1uvxIfYx1utD3T69iv1M0/QsE+usdzZ+FT5cTnhOjL93afizE5573UNq/uUSjiN/FJLUsEbEr1+1cgy41Idy9VF+RSAFmb9VsDWnQnhQa4Ya3Dnledt5s7mY/aCSwwi79wmUk0gDenvTfgAQHGzmZAeFnfhNjHt1BJJmbJsew+wt7EpvvNg9F2G+EvrbaZZNsZmZDCYQbWuNHo+2nA7gtLsT4zAid6cuSIaWj3qAmZr7GboChbfGHH7f4Z1IhntT3V0/yIZmKjrxasSged3wDIT0u4JT3S8DTMaxQpUK5sEKQrEcQdEUle5/ERrzJqOg7tUYVMv4AAAuO3vAtOik5oQClTYs1Muz4CWT08wUECYjEVPA8ZH1EUKx7g[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-905db57c-bfe4-e282-0a86-c95b4758e54f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "25737315",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
