{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9ad4022f-1581-f364-09ba-d6b4d69f7e6b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694D077CD01\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9ad4022f-1581-f364-09ba-d6b4d69f7e6b/test-blob-1b1b22b1-5dc2-e49d-b2e8-59f4f2604908",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694D0893220\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9ad4022f-1581-f364-09ba-d6b4d69f7e6b/test-blob-1b1b22b1-5dc2-e49d-b2e8-59f4f2604908",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694D0893220\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9ad4022f-1581-f364-09ba-d6b4d69f7e6b/test-blob-1b1b22b1-5dc2-e49d-b2e8-59f4f2604908?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694D0893220\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "iw1dyqRwnJ3nBKPDITK1iNguXy6hJqeBYSF6W1DkLYig06UwJBgD5Apfb7/iYOfyCrlecw/uf2Rl22iC9UFMAtcbIk6MhWPAK3okQrfonwA6iFGXhbl4slRBykivge7JEmzoxz6ZZYRVnkiUyj2tfTxoR23vtXwdonD5S7sbEKmMWi9K/9fCoCLMQudx5OgXk0wMRjmB2l3wyiTNnxrJOo2eCG8NY35kpaZLInOVrL6I4rhuDslwCoDSWjWy9AEIAwha0tt4CTDOp6GSNrfpWh5mRbxhWivDLv3vOwlIsbGlQh9rO9niD9mIoGYo3dTI6P8WTK5EpqjclqTdiM0mhfbv7fOXfh9F[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9ad4022f-1581-f364-09ba-d6b4d69f7e6b/test-blob-1b1b22b1-5dc2-e49d-b2e8-59f4f2604908",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:14 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694D0A382FC\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACLDV3KpHCcnecEo8MhMrWI2C5fLqEmp4FhIXpbUOQtiKDTpTAkGAPkCl9vv+Jg5/IKuV5zD+5/ZGXbaIL1QUwC1xsiToyFY8AreiRCt+ifADqIUZeFuXiyVEHKSK+B7skSbOjHPpllhFWeSJTKPa19PGhHbe+1fB2icPlLuxsQqYxaL0r/18KgIsxC53Hk6BeTTAxGOYHaXfDKJM2fGsk6jZ4Ibw1jfmSlpksic5WsvojiuG4OyXAKgNJaNbL0AQgDCFrS23gJMM6noZI2t+laHmZFvGFaK8Mu/e87CUixsaVCH2s72eIP2YigZijd1Mjo/xZMrkSmqNyWpN2IzSaF9u/t85d+H0WDNePZusSaUCknUwoyZQJgm3eOpDQFhwthGnA48OAxad/QyXlgzO0X+1S0YXocUpHtjFcf8HoQfq7YeKBUYV9I9ekqYZyJAM+KdqngUCWQRMffS2SJEXlkwErKiFRNw5n0bGuQ8fD0ZIuIlXnRMC2IRzPYdRb7v+RwxqFRvnd6PbIQ7OS6AFPX6ubYAHz/k5AdQUAgdU6C+K2HHytPo6UUDVjGwUNJzkfgAYovI75ocTIRM3w2WcdkjfQ3MuAnh0ZBxPIkONJM1HP5QHTDU9XuH634PW8o3bSQYjRPEZtmuHlD7l7LQzlgxV8JPRlToDoeSRMzLkrXGGkHz8OYI8tbaQfPw5gjy1s="
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-9ad4022f-1581-f364-09ba-d6b4d69f7e6b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "133574533",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
