{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8707fd81-1cec-699f-49f6-b87bfd6f3b56?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CCE5025D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8707fd81-1cec-699f-49f6-b87bfd6f3b56/test-blob-c88d8526-c4f8-75ad-eeb6-8cd1f689bdb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CCEA73CF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:13.9527631Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8707fd81-1cec-699f-49f6-b87bfd6f3b56/test-blob-c88d8526-c4f8-75ad-eeb6-8cd1f689bdb5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22CCEA73CF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:13.9527631Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8707fd81-1cec-699f-49f6-b87bfd6f3b56/test-blob-c88d8526-c4f8-75ad-eeb6-8cd1f689bdb5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22CCEA73CF\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:14 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "8FyCaYpng1OgiZIFr7onfKgCsWKgUU8sXWKCBCxuw/tGtPTlSeQrYhd7SX1TdzNWZYRFt0g9F58NVgso5H8mMsWXvvvGQTLD1k5KJQjR2eYuLJ6oKAyzCJxV1/PZA36YVBa3vLg4jyRRguH58vKWO3wl+bfgfgq547VecWo+6tLQstDyGh0u9p16V6Yruhaqvpt3tArHuNYM/tgC2R25EpcOKUAhpCFe9gIZZSZkjimfs7POxzbICfr65RxFKx2AwUQOHJDViRp5GL0HrVKvp2+uYiVq60thRSBGJ74FGcvlmaThVXGYyiqYVK54wFunSj6slsj3Fdb5rNZwj2JbdP7yIhSuzVL9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8707fd81-1cec-699f-49f6-b87bfd6f3b56/test-blob-c88d8526-c4f8-75ad-eeb6-8cd1f689bdb5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22CCF28121\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:41:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:13.9527631Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADwXIJpimeDU6CJkgWvuid8qAKxYqBRTyxdYoIELG7D+0a09OVJ5CtiF3tJfVN3M1ZlhEW3SD0Xnw1WCyjkfyYyxZe++8ZBMsPWTkolCNHZ5i4snqgoDLMInFXX89kDfphUFre8uDiPJFGC4fny8pY7fCX5t+B+CrnjtV5xaj7q0tCy0PIaHS72nXpXpiu6Fqq+m3e0Cse41gz+2ALZHbkSlw4pQCGkIV72AhllJmSOKZ+zs87HNsgJ+vrlHEUrHYDBRA4ckNWJGnkYvQetUq+nb65iJWrrS2FFIEYnvgUZy+WZpOFVcZjKKphUrnjAW6dKPqyWyPcV1vm[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-8707fd81-1cec-699f-49f6-b87bfd6f3b56?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:14 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "148269963",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
