{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f97facb2-2ac9-0b64-93ff-9ff9d5ddf5cb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D3F36DF61\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f97facb2-2ac9-0b64-93ff-9ff9d5ddf5cb/test-blob-74e2bf31-1faa-39cb-e9c5-a4e00b06c167",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D3F4BD9AA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f97facb2-2ac9-0b64-93ff-9ff9d5ddf5cb/test-blob-74e2bf31-1faa-39cb-e9c5-a4e00b06c167",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D3F4BD9AA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f97facb2-2ac9-0b64-93ff-9ff9d5ddf5cb/test-blob-74e2bf31-1faa-39cb-e9c5-a4e00b06c167?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D3F4BD9AA\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "8/8BG22pkvvu8u23RdvmWjSJBjqvPYR/oSnFl14yFUNJTZUlOK\u002BoSQgyyVQkZcBAqf5W7sGO6LV6gXlD4/qdu9ypbvdFwCKF4L0xfXMwWztphe1g3CeBu2Tgq7Y1ZGUNlA53evfI\u002Bunb0A0EXGtCSiY92l4NPd\u002B1KLOTZRRsUHtXI\u002BlluOBEoIoDhAsZfV75nWCQ94oHAFYuwlJENZXVb4CSrDiC3ZJF\u002BTnTCbnTm6tUmsez3FjxUCOSNvWO/2v0LhSLh9AldsDOSv1QM/acWyen75vOIZMooFwV76edtvrO39ukSBPaLyMH5ZFaoR0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f97facb2-2ac9-0b64-93ff-9ff9d5ddf5cb/test-blob-74e2bf31-1faa-39cb-e9c5-a4e00b06c167",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D3F67ED2F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "OaLjkFf4VLQ=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "8/8BG22pkvvu8u23RdvmWjSJBjqvPYR/oSnFl14yFUNJTZUlOK\u002BoSQgyyVQkZcBAqf5W7sGO6LV6gXlD4/qdu9ypbvdFwCKF4L0xfXMwWztphe1g3CeBu2Tgq7Y1ZGUNlA53evfI\u002Bunb0A0EXGtCSiY92l4NPd\u002B1KLOTZRRsUHtXI\u002BlluOBEoIoDhAsZfV75nWCQ94oHAFYuwlJE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f97facb2-2ac9-0b64-93ff-9ff9d5ddf5cb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1857364342",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
