{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-21311ec8-e66a-92c6-0a1a-5a6885fe5de7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E765E322A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-21311ec8-e66a-92c6-0a1a-5a6885fe5de7/test-blob-8f8c1d73-4f66-d1f4-b762-7f62af753fe6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E769482A3\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:06.2052515Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-21311ec8-e66a-92c6-0a1a-5a6885fe5de7/test-blob-8f8c1d73-4f66-d1f4-b762-7f62af753fe6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E769482A3\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:06 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:51:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:06.2052515Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-21311ec8-e66a-92c6-0a1a-5a6885fe5de7/test-blob-8f8c1d73-4f66-d1f4-b762-7f62af753fe6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E769482A3\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:03 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "xeAtAiN/IShrT+FcJXL+i0tgShv40l0CeMRGNT8HhLzcl46zUc3WnkncHzpwMS3cetRf/TkWMfOCKolfOevpZMokgI7kSjl9iqvSG7IjkUaWabtrp4eCxWWaMCdDd2Rd87twTLGf+DCa4XOORBVAX5hDyNAwfrxCorsoSRkSOhJGdCj3skWU9nGK0MYU9IBQWtGOAK6ULXX+Lan2dq4WiKdgR9DsSaxTrtFepa32Lq061+9IgzlksUay+IWbnoDCdEges6yvYxAkO1LcNojHCP78u56/zgRu/JaJOlEntw9RmzFl13oAi3TfI0jmh3u+6vCGn+PhAqVDsLcWJSm+/YNCi5pWYjCE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-21311ec8-e66a-92c6-0a1a-5a6885fe5de7/test-blob-8f8c1d73-4f66-d1f4-b762-7f62af753fe6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E76A1AD92\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:51:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:06.2052515Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADF4C0CI38hKGtP4Vwlcv6LS2BKG/jSXQJ4xEY1PweEvNyXjrNRzdaeSdwfOnAxLdx61F/9ORYx84IqiV856+lkyiSAjuRKOX2Kq9IbsiORRpZpu2unh4LFZZowJ0N3ZF3zu3BMsZ/4MJrhc45EFUBfmEPI0DB+vEKiuyhJGRI6EkZ0KPeyRZT2cYrQxhT0gFBa0Y4ArpQtdf4tqfZ2rhaIp2BH0OxJrFOu0V6lrfYurTrX70iDOWSxRrL4hZuegMJ0SB6zrK9jECQ7Utw2iMcI/vy7nr/OBG78lok6USe3D1GbMWXXegCLdN8jSOaHe77q8Iaf4+ECpUO[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-21311ec8-e66a-92c6-0a1a-5a6885fe5de7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:04 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1397759391",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
