{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-33a0f9b0-5b14-3c91-502e-01f2339e4a23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB644A633AE\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-33a0f9b0-5b14-3c91-502e-01f2339e4a23/test-blob-4c4c325e-b8f5-a593-fa83-dec23530a894",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB645095110\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-33a0f9b0-5b14-3c91-502e-01f2339e4a23/test-blob-4c4c325e-b8f5-a593-fa83-dec23530a894",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB645095110\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-33a0f9b0-5b14-3c91-502e-01f2339e4a23/test-blob-4c4c325e-b8f5-a593-fa83-dec23530a894?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB645095110\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "T7V7T/wFWYHwOuScTi9NSP0rw2l8tN1ZkVSGiWG+7O/qKxE5jOHZKXCgpAt22JC17IZMTZskZZvYIb2nftAgMk70sSIdE7sbUpr53A/R47jE0Z3acZ5TxsZ2YGsjMquff3K8gSdtl9jKMfsBKoiLBz4E4qwzRcGwoepbp7JQ9x/vWVydFGKRVjnEEECiUpw96lktHk/+bDqwDOA8Ee8lejnbEdAr7vLcc4tybjWADU5OHbxZI9jQ8Owi7AeBVUVJnpUHx0DLEvxnUavDi/4EMP+R7fMzzFdgCyHkCAHqWh5GKc+feUYOgwvA8dItDGXuHbwI8GdRFtI+prsf5wn6fPaNfGIuZba5[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-33a0f9b0-5b14-3c91-502e-01f2339e4a23/test-blob-4c4c325e-b8f5-a593-fa83-dec23530a894",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6451688A4\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABPtXtP/AVZgfA65JxOL01I/SvDaXy03VmRVIaJYb7s7+orETmM4dkpcKCkC3bYkLXshkxNmyRlm9ghvad+0CAyTvSxIh0TuxtSmvncD9HjuMTRndpxnlPGxnZgayMyq59/cryBJ22X2Mox+wEqiIsHPgTirDNFwbCh6lunslD3H+9ZXJ0UYpFWOcQQQKJSnD3qWS0eT/5sOrAM4DwR7yV6OdsR0Cvu8txzi3JuNYANTk4dvFkj2NDw7CLsB4FVRUmelQfHQMsS/GdRq8OL/gQw/5Ht8zPMV2ALIeQIAepaHkYpz595Rg6DC8Dx0i0MZe4dvAjwZ1EW0j6mux/nCfp89o18Yi5ltrmCaehy2oUz/rv16kXiarb1Ev1g0orvnALGddufjw[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-33a0f9b0-5b14-3c91-502e-01f2339e4a23?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2116815836",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
