{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73834787-4170-e408-fa39-46dbe9ca77e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCE561B6C7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73834787-4170-e408-fa39-46dbe9ca77e5/test-blob-f1aed350-09ab-4890-bcb4-0228c4f6879a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCE56F995F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73834787-4170-e408-fa39-46dbe9ca77e5/test-blob-f1aed350-09ab-4890-bcb4-0228c4f6879a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCE56F995F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73834787-4170-e408-fa39-46dbe9ca77e5/test-blob-f1aed350-09ab-4890-bcb4-0228c4f6879a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCE56F995F\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ny8RjmWJQ78Bk96VzAObQk2iW0VCUjMshBPigIYA87BIyMwYpl0/9mDJJB9shqMM8P/4WolNauX85QpSpsM4AZ8uTQM2gpvwYmTkeC4TwP5w1o+GB5km+17mG8BS7FCdkCJ/Pjig1W1jCPckaPG36SUL4s8zsfkGB1KkUGfbnXYTR+gLk4HFzwAiI/+hApJsLjKbRwqAad4peTbm+4UGiGuBECAJrFWjRhLPEY75ZAW/OCE0P1Zrk94J4RpL3tR7G5qUIPFyY4Ld+AD4sVhQLxQxJ8Nj0UkVFX1C/8s6WGc9U/XzZUQTTdSfV0dVc+GGubEFGbcRF0pRfwpzMGS2op+Yul5iXMrQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73834787-4170-e408-fa39-46dbe9ca77e5/test-blob-f1aed350-09ab-4890-bcb4-0228c4f6879a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCE588518E\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:07:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA3LxGOZYlDvwGT3pXMA5tCTaJbRUJSMyyEE+KAhgDzsEjIzBimXT/2YMkkH2yGowzw//haiU1q5fzlClKmwzgBny5NAzaCm/BiZOR4LhPA/nDWj4YHmSb7XuYbwFLsUJ2QIn8+OKDVbWMI9yRo8bfpJQvizzOx+QYHUqRQZ9uddhNH6AuTgcXPACIj/6ECkmwuMptHCoBp3il5Nub7hQaIa4EQIAmsVaNGEs8RjvlkBb84ITQ/VmuT3gnhGkve1HsbmpQg8XJjgt34APixWFAvFDEnw2PRSRUVfUL/yzpYZz1T9fNlRBNN1J9XR1Vz4Ya5sQUZtxEXSlF/CnMwZLain5i6XmJcytAd2u7EegG/opy8RRk1Pq8sPKui5jqfHHDotKe8uI[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73834787-4170-e408-fa39-46dbe9ca77e5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "269732453",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
