{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6404ba12-9455-c74e-8709-74b375ce8f56?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F723FCFF291\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6404ba12-9455-c74e-8709-74b375ce8f56/test-blob-bf83b617-2ebe-28cd-d9fd-1a0a6be14836",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F723FDF8241\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6404ba12-9455-c74e-8709-74b375ce8f56/test-blob-bf83b617-2ebe-28cd-d9fd-1a0a6be14836",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F723FDF8241\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6404ba12-9455-c74e-8709-74b375ce8f56/test-blob-bf83b617-2ebe-28cd-d9fd-1a0a6be14836?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F723FDF8241\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OuR7nJ3nj\u002B10FLCw\u002Bwv4p1Jcg7q\u002BajsDmkPshCpohUyKJAjrYxp7RywjsAbVKbNfuVOLDuRgtdCodwJZ\u002BwvCDI9jJdcCDEM34DuOm7k0LXCQjMrW3XZoKm44QuwXIUwgYKR3cgPbXKwPUy2o0hoWc0mRyW5A6y4Y\u002B/toycpXIL/vbToVvbtstC8ex4pJwFhUIc6ihljd33R1XnYIc5PiuDNuuGTfAbWNJBQ/IiSkzzujFKj7tJlnEo3Fn19FZEGcPA9X2wfzdCAYFWFDnr1Q0Y87ZV7q5gOZBqbXGmFWSMDTouUVTfMzsJ\u002BH4p[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6404ba12-9455-c74e-8709-74b375ce8f56/test-blob-bf83b617-2ebe-28cd-d9fd-1a0a6be14836",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F723FFAF975\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA65HucneeP7XQUsLD7C/inUlyDur5qOwOaQ\u002ByEKmiFTIokCOtjGntHLCOwBtUps1\u002B5U4sO5GC10Kh3Aln7C8IMj2Ml1wIMQzfgO46buTQtcJCMytbddmgqbjhC7BchTCBgpHdyA9tcrA9TLajSGhZzSZHJbkDrLhj7\u002B2jJylcgv\u002B9tOhW9u2y0Lx7HiknAWFQhzqKGWN3fdHVedghzk\u002BK4M264ZN8BtY0kFD8iJKTPO6MUqPu0mWcSjcWfX0VkQZw8D1fbB/N0IBgVYUOevVDRjztlXurmA5kGptcaYVZIwNOi5RVN8zOwn4finzgjc891ztAJ/\u002BKxVQu\u002B1GAbWr/CzKFv/Ng7hJsHtb9[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6404ba12-9455-c74e-8709-74b375ce8f56?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2068363909",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
