{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6e18fd68-b2c8-39f4-8c92-ea0cc371c7f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369501489A34\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6e18fd68-b2c8-39f4-8c92-ea0cc371c7f7/test-blob-cf1b1b85-bc78-322c-2640-e07b50659098",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3695015AE6D0\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6e18fd68-b2c8-39f4-8c92-ea0cc371c7f7/test-blob-cf1b1b85-bc78-322c-2640-e07b50659098",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3695015AE6D0\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6e18fd68-b2c8-39f4-8c92-ea0cc371c7f7/test-blob-cf1b1b85-bc78-322c-2640-e07b50659098?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3695015AE6D0\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "6jJQHKSJ+kLgr5AhXWW0aPa2w6rQAjpdtGnMsY62TqpnTKVR036Pvx5f5A1svLmmUy9wY3GVOOf48mg7vEm0KmDmuRC/Y5R4JwOLcR4t8fevJV5fRuo40hO9WeEVUwPVqrqthQOo5++a+DxuCcfJygBwi5bqVON1reb9AgqyYtP/tsZkgGv0Bj5uxE6uyslM847hpchs6lbWN9gcq+Tl6JZoblIBZUqUe4VYfJCVx+IdsA570bwLk8xwjUiT2Fpaidy4RVx2So5DTClDE27FQXD1//rWaRbZXNqGkdcBAaMq/vK03YGGp2aAN4STyH9dqkzYndhfgx/F3uiB77m2QUuFGBV7EWPu[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6e18fd68-b2c8-39f4-8c92-ea0cc371c7f7/test-blob-cf1b1b85-bc78-322c-2640-e07b50659098",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD369501747C7E\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:19:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADqMlAcpIn6QuCvkCFdZbRo9rbDqtACOl20acyxjrZOqmdMpVHTfo+/Hl/kDWy8uaZTL3BjcZU45/jyaDu8SbQqYOa5EL9jlHgnA4txHi3x968lXl9G6jjSE71Z4RVTA9Wquq2FA6jn75r4PG4Jx8nKAHCLlupU43Wt5v0CCrJi0/+2xmSAa/QGPm7ETq7KyUzzjuGlyGzqVtY32Byr5OXolmhuUgFlSpR7hVh8kJXH4h2wDnvRvAuTzHCNSJPYWlqJ3LhFXHZKjkNMKUMTbsVBcPX/+tZpFtlc2oaR1wEBoyr+8rTdgYanZoA3hJPIf12qTNid2F+DH8Xe6IHvubZBS4UYFXsRY+5vV5RWMZFFlFsp54spY8rKetLu/pgEuKzJ9TkNr2[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-6e18fd68-b2c8-39f4-8c92-ea0cc371c7f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:19:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1850168906",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
