{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76114b00-1884-193b-ddec-dbd81d46e565?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D84231A33\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76114b00-1884-193b-ddec-dbd81d46e565/test-blob-8df2ca10-9625-de2d-aafd-9785efae70b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D8432A5A2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76114b00-1884-193b-ddec-dbd81d46e565/test-blob-8df2ca10-9625-de2d-aafd-9785efae70b4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D8432A5A2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76114b00-1884-193b-ddec-dbd81d46e565/test-blob-8df2ca10-9625-de2d-aafd-9785efae70b4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D8432A5A2\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Yp2ummcpm9q18KLFZGXyqEm1wiBNPo\u002BF\u002BbEI3eUTXWaDNXOJhQe\u002B7GId8ebMgutGJpc4DaobMSMOKaG2IL30oZI8QS7yaCJB9ta9ME2puXbGwrZO2lC7aARQe1xmCMukKE9Tj0G8VL509hfUXQDWZXAq8F4GpcZCgNgqou3G2\u002B4KGQf9VSk1CW742uQ55woDeRbsOxhtnYKIEQ9okbHQrhsoyUT52A9G9ObvDcviCZjOJyjW2Z/WnXuEdEMZzXi8KCzIEB3GCaAGpkcxfY\u002B3pQh2mWmJ\u002BdR7UivIdGPMLCduM\u002BWeGvh7C[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76114b00-1884-193b-ddec-dbd81d46e565/test-blob-8df2ca10-9625-de2d-aafd-9785efae70b4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D844E43D8\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "N5\u002BAQJ\u002BzYvk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Yp2ummcpm9q18KLFZGXyqEm1wiBNPo\u002BF\u002BbEI3eUTXWaDNXOJhQe\u002B7GId8ebMgutGJpc4DaobMSMOKaG2IL30oZI8QS7yaCJB9ta9ME2puXbGwrZO2lC7aARQe1xmCMukKE9Tj0G8VL509hfUXQDWZXAq8F4GpcZCgNgqou3G2\u002B4KGQf9VSk1CW742uQ55woDeRbsOx[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76114b00-1884-193b-ddec-dbd81d46e565?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2032953929",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
