{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-32e4ec03-5ca2-43c0-6254-e4fb5117a6ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB03845F7E6E\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-32e4ec03-5ca2-43c0-6254-e4fb5117a6ba/test-blob-197fdda5-ffb1-fff1-2f97-3dd5105458ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB03846E256C\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-32e4ec03-5ca2-43c0-6254-e4fb5117a6ba/test-blob-197fdda5-ffb1-fff1-2f97-3dd5105458ef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB03846E256C\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-32e4ec03-5ca2-43c0-6254-e4fb5117a6ba/test-blob-197fdda5-ffb1-fff1-2f97-3dd5105458ef?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCBB03846E256C\"",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LUTFO4vIEVYYZbstM+VmEulzPo5KfWTiR73kZcXlXR4wuq2Yii7l87B2EfAcV6eXwNQFrhi1I6/f4vTN5KyQMgec/Hk4zYe7jUvd02tzxe8VTKTw4K4Gepb9uKc5GA8E5t/ogFotX/NNSSHN2E9EbB0FuJgHn1FYloHiOxTfgnU72e2LikSU6O2xo5aNOKJHuEyKM2B3/EaNkOrZSyTebceskv9huOHYcM+qVvu7y13fmoLIVU4VxNyn/vpau5zJ0zbP4Kaj5gBqssOQzKZK0sWM+bChFRh4l84iurrnfbUz4YPF6+q3PLSBXqOLhPc1XCs1zsLsJ70eVknXgCtFgzQOXOsjhefa[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-32e4ec03-5ca2-43c0-6254-e4fb5117a6ba/test-blob-197fdda5-ffb1-fff1-2f97-3dd5105458ef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB038489EA67\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 12 Aug 2024 19:18:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAtRMU7i8gRVhhluy0z5WYS6XM+jkp9ZOJHveRlxeVdHjC6rZiKLuXzsHYR8BxXp5fA1AWuGLUjr9/i9M3krJAyB5z8eTjNh7uNS93Ta3PF7xVMpPDgrgZ6lv24pzkYDwTm3+iAWi1f801JIc3YT0RsHQW4mAefUViWgeI7FN+CdTvZ7YuKRJTo7bGjlo04oke4TIozYHf8Ro2Q6tlLJN5tx6yS/2G44dhwz6pW+7vLXd+agshVThXE3Kf++lq7nMnTNs/gpqPmAGqyw5DMpkrSxYz5sKEVGHiXziK6uud9tTPhg8Xr6rc8tIFeo4uE9zVcKzXOwuwnvR5WSdeAK0WDNA5c6yOF59rUvfsgt3TtEtbsXY6yr/JGusWnlKHfu4k72m99KA[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-32e4ec03-5ca2-43c0-6254-e4fb5117a6ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:18:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "534666462",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
