{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3bbb5781-ada0-0b9f-13ea-a833a55a22e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86822573A7AE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3bbb5781-ada0-0b9f-13ea-a833a55a22e4/test-blob-c7baa6e4-37e7-df64-81a1-041705d4a7f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86822580A3D0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3bbb5781-ada0-0b9f-13ea-a833a55a22e4/test-blob-c7baa6e4-37e7-df64-81a1-041705d4a7f9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86822580A3D0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:11 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3bbb5781-ada0-0b9f-13ea-a833a55a22e4/test-blob-c7baa6e4-37e7-df64-81a1-041705d4a7f9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86822580A3D0\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "VevXgLZdk+nv3ch7EtfPcxXiutUnhKeUngDRS6ejeKgHHnNRyFMPGzxJrl+IlefWJ32uhBBIU9BDQ+K2i0dCS2Qfc/RkfarB0p+Y3tZICwgY+yQp9PSXv8ujDYRxWY/0B2L6aCLzcanS7bFxr3X5+jjZnZAjGFdwiLMowXAmUHkPpNZ0TqLmJIl7VgdCJhBVqRNMmLv+0e4LieBuyrA5rJ04YguehauW8ngHqMJPLmKj0xdc2be9ENLoacTBeFnYQalqCsQEtiRntaZD9ykru1t+yveZ3NLlelE4thvn1HkeL2YY5SOenh3y9SMRehmpvK1pQ61iP2TWhI9yzAAIgOEsJMjCE9Y3[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3bbb5781-ada0-0b9f-13ea-a833a55a22e4/test-blob-c7baa6e4-37e7-df64-81a1-041705d4a7f9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868225933FD6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "oJJ5El+onjI=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "VevXgLZdk+nv3ch7EtfPcxXiutUnhKeUngDRS6ejeKgHHnNRyFMPGzxJrl+IlefWJ32uhBBIU9BDQ+K2i0dCS2Qfc/RkfarB0p+Y3tZICwgY+yQp9PSXv8ujDYRxWY/0B2L6aCLzcanS7bFxr3X5+jjZnZAjGFdwiLMowXAmUHkPpNZ0TqLmJIl7VgdCJhBVqRNMmLv+0e4LieBuyrA5rJ04YguehauW8ngH[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3bbb5781-ada0-0b9f-13ea-a833a55a22e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "80841356",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
