{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-927aba57-5a42-3345-c69d-9faf487fd83f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6430A25CA\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-927aba57-5a42-3345-c69d-9faf487fd83f/test-blob-ae3c1043-6f9c-8363-adb9-e0732d637c79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6436D9CE7\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-927aba57-5a42-3345-c69d-9faf487fd83f/test-blob-ae3c1043-6f9c-8363-adb9-e0732d637c79",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6436D9CE7\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-927aba57-5a42-3345-c69d-9faf487fd83f/test-blob-ae3c1043-6f9c-8363-adb9-e0732d637c79?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB6436D9CE7\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "3R0TX/aI7PogqU1WxsSfpc/BhU1AVylrN0Bt4Qdyhs/CCqR2DW/noQ5EX2zwzO8e6bBXiO/cSIX0qCe1GwvyriJ+k7wfKJdg2eQ++/e8empQTvdWGv7f5sEfgmVHMoUDUbBKcTky/sAZ964LnkyNOC28ZMwTnJQkn6z6AKYxGKdeOqlGcgkxHk83PSJP00h0kUo4i8248LUcJdKMOP4a594HrGOiRsUkikZ8215x1MtkhW5c+Y3Zpkn0Kkw3peVRHFVESCbk0UqEFACGOxRWqlEGJ7KPve5RLQYarhx57OVgK74JLYykgLMj2OSNUmo0nX/6MX0zwV5m8xsgyiMuCicbJg9VTX3E[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-927aba57-5a42-3345-c69d-9faf487fd83f/test-blob-ae3c1043-6f9c-8363-adb9-e0732d637c79",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB6437B223F\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADdHRNf9ojs+iCpTVbGxJ+lz8GFTUBXKWs3QG3hB3KGz8IKpHYNb+ehDkRfbPDM7x7psFeI79xIhfSoJ7UbC/KuIn6TvB8ol2DZ5D7797x6alBO91Ya/t/mwR+CZUcyhQNRsEpxOTL+wBn3rgueTI04LbxkzBOclCSfrPoApjEYp146qUZyCTEeTzc9Ik/TSHSRSjiLzbjwtRwl0ow4/hrn3gesY6JGxSSKRnzbXnHUy2SFblz5jdmmSfQqTDel5VEcVURIJuTRSoQUAIY7FFaqUQYnso+97lEtBhquHHns5WArvgktjKSAsyPY5I1SajSdf/oxfTPBXmbzGyDKIy4KJxsmD1VNfcRhp/5s5QnD2pvlEJx+u2ctamCiOnGEtZD1zb1yLF[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-927aba57-5a42-3345-c69d-9faf487fd83f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "362226015",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
