{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-82bf4258-3dc6-71f7-bdb1-60555296e33f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7244E6E624\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-82bf4258-3dc6-71f7-bdb1-60555296e33f/test-blob-ab54c8f0-3dea-0952-ec65-caca095f6071",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7244F6712A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-82bf4258-3dc6-71f7-bdb1-60555296e33f/test-blob-ab54c8f0-3dea-0952-ec65-caca095f6071",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7244F6712A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-82bf4258-3dc6-71f7-bdb1-60555296e33f/test-blob-ab54c8f0-3dea-0952-ec65-caca095f6071?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F7244F6712A\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "1P9pkv\u002BWO43ZvKQfqGepsCkgzehgSsJcSpMJUubTpA6WW7vHo/VA8S6pv8B5Xr0Y9zRrPgEm2Io9DUhrjOinBheWiE2s4Qw04Ny5tooC4uzV8FqxZ2YNcIIwipas1WRGArmo49VwbBYnN10kbSEAOipclZyO9Z6xiBjKe1Z2hwt3c7TRWf8WZINEiTAI6QJhME9rUD/Itwwa91u8pvG/sa9SrPlsLuEqRTAYSWtuqZ8VaEoGCzfLr7uot2KkWb6RhdiAtTwJ9AJuQAoOr22gq067pj2nuKZ4hv09xHd/hutyhsST7fNjDHRImMosvABOBwsU6LOA6s0xCC8/yy\[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-82bf4258-3dc6-71f7-bdb1-60555296e33f/test-blob-ab54c8f0-3dea-0952-ec65-caca095f6071",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72450FEC90\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADU/2mS/5Y7jdm8pB\u002BoZ6mwKSDN6GBKwlxKkwlS5tOkDpZbu8ej9UDxLqm/wHlevRj3NGs\u002BASbYij0NSGuM6KcGF5aITazhDDTg3Lm2igLi7NXwWrFnZg1wgjCKlqzVZEYCuajj1XBsFic3XSRtIQA6KlyVnI71nrGIGMp7VnaHC3dztNFZ/xZkg0SJMAjpAmEwT2tQP8i3DBr3W7ym8b\u002Bxr1Ks\u002BWwu4SpFMBhJa26pnxVoSgYLN8uvu6i3YqRZvpGF2IC1PAn0Am5ACg6vbaCrTrumPae4pniG/T3Ed3\u002BG63KGxJPt82MMdEiYyiy8AE4HCxTos4DqzTEILz/LL4rvuR6cKKkMvVpYmslfH9tLyfzvv[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-82bf4258-3dc6-71f7-bdb1-60555296e33f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1538419779",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
