{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3490a180-12f6-450d-337c-97e3556e3491?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCE869D2B0\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3490a180-12f6-450d-337c-97e3556e3491/test-blob-5b7b3fdc-77e9-c73e-5f98-b301d48a87f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCE877582C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3490a180-12f6-450d-337c-97e3556e3491/test-blob-5b7b3fdc-77e9-c73e-5f98-b301d48a87f2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCE877582C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3490a180-12f6-450d-337c-97e3556e3491/test-blob-5b7b3fdc-77e9-c73e-5f98-b301d48a87f2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCE877582C\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Km3GmD2FNXrrG8rMDhB3vYB/GfSg/UHffUYDmrayWXSd/NJfr2PaRSpSSzU/bQ8oiJKDnNuXZiws5xv3gZvEOcFVLhI+GA4cpdTJTbIMnw822hEjLr2YBZWlM8dI4sOPjhJz6T796nCDZvcHzhh6IEcLwaaJoAoEvSl8meRG1MIQOb+gmLXQOPChn8fGkTd9KhKAPCAdBu0HbywVgVCMPZI095RZ2oeRO4i15wFDPSvx/27Rxpii8zLSmSmJurefFWI1kpmjJFCK7wGYZx/swzEAJILiunf6kgRhhkBeCIDQFdKeDquSTtsdRtaXCYsT5dX3iJY1vVrrOv+VQp0PLOaAx1FMTbWF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3490a180-12f6-450d-337c-97e3556e3491/test-blob-5b7b3fdc-77e9-c73e-5f98-b301d48a87f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCE8905E56\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAqbcaYPYU1eusbyswOEHe9gH8Z9KD9Qd99RgOatrJZdJ380l+vY9pFKlJLNT9tDyiIkoOc25dmLCznG/eBm8Q5wVUuEj4YDhyl1MlNsgyfDzbaESMuvZgFlaUzx0jiw4+OEnPpPv3qcINm9wfOGHogRwvBpomgCgS9KXyZ5EbUwhA5v6CYtdA48KGfx8aRN30qEoA8IB0G7QdvLBWBUIw9kjT3lFnah5E7iLXnAUM9K/H/btHGmKLzMtKZKYm6t58VYjWSmaMkUIrvAZhnH+zDMQAkguK6d/qSBGGGQF4IgNAV0p4Oq5JO2x1G1pcJixPl1feIljW9Wus6/5VCnQ8s5oDHUUxNtYVu1qfEc6BiiHhNoWtngOqbWHiz06v8DD4NGvAWQj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3490a180-12f6-450d-337c-97e3556e3491?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:07:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1775742666",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
