{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-64522500-9da9-e9e2-4df7-aee379e42439?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7F8C55DE\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-64522500-9da9-e9e2-4df7-aee379e42439/test-blob-71d8f93e-b2fb-a0a9-6405-3e0588802af6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D7F9BB967\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-64522500-9da9-e9e2-4df7-aee379e42439/test-blob-71d8f93e-b2fb-a0a9-6405-3e0588802af6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D7F9BB967\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-64522500-9da9-e9e2-4df7-aee379e42439/test-blob-71d8f93e-b2fb-a0a9-6405-3e0588802af6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D7F9BB967\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "UqBLWgYhpuJmW2CKSA0oUHoSB50iiHzpvJ2xkYrXGzEnoIEgsSKVujXfNGL1JtJxB0NtyMpakskkYp5ocBVYjj8vYqeLCJ5YfExnQ1Ma85XKQIlHalNmzA63\u002B0\u002BDLUogh6YixsMq5f\u002BkFEx\u002B8051Cm4InTCLESTsyZaZ0wxP1U8CRryt9y3Sn1uKolUH6Ni/QfHheo8alHWBNv0tkRHyVT/8e6ySyBJANv7UAW7P5eC92pEabVrA6LJGLMEwpA5Kl00VCmwsLHnfoUORRZMHslAcb7Z/2OflPJL6TJxQD5Hvimkhudpzka4YOswWL6MePnlw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-64522500-9da9-e9e2-4df7-aee379e42439/test-blob-71d8f93e-b2fb-a0a9-6405-3e0588802af6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D7FB7A5C5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "05QZ3BfnsFw=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "UqBLWgYhpuJmW2CKSA0oUHoSB50iiHzpvJ2xkYrXGzEnoIEgsSKVujXfNGL1JtJxB0NtyMpakskkYp5ocBVYjj8vYqeLCJ5YfExnQ1Ma85XKQIlHalNmzA63\u002B0\u002BDLUogh6YixsMq5f\u002BkFEx\u002B8051Cm4InTCLESTsyZaZ0wxP1U8CRryt9y3Sn1uKolUH6Ni/QfHheo8alHWBNv0t[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-64522500-9da9-e9e2-4df7-aee379e42439?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1379087974",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
