{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab98b42f-4e41-d8d6-3936-95e7bb29e1f8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D84FE3799\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab98b42f-4e41-d8d6-3936-95e7bb29e1f8/test-blob-3616387a-98ea-b992-29a4-077bf02accfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D850E384A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab98b42f-4e41-d8d6-3936-95e7bb29e1f8/test-blob-3616387a-98ea-b992-29a4-077bf02accfc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D850E384A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab98b42f-4e41-d8d6-3936-95e7bb29e1f8/test-blob-3616387a-98ea-b992-29a4-077bf02accfc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D850E384A\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HzFpAjsIJavFcp\u002BaO8Tx0gM3CgdBIGgAt5jU/hzQgayJBPK1/TAh1I48\u002Bh2xmIL8Z5QabFQWzP7JaUqjNCeP9fDyEDbSO9TSFjZ5BSZKTx4V2JaHthVYczj065Tlfp9mrQUsv4hLKivAR1UencbYfxorjVyQBz7bmp393VBA7ZiWElghHY\u002BWya5rx26/OdVyG2x6ufBD1aXGUSXrTkzbgFq9iIptt2GKlcOuJT/PG2DHi8HjxjOnUzyzWsxqq3thj0cUAbFLBWQL7yQslK9l9jXEJMKK\u002BLomFTVNulyUH\u002BpHTJX4uxmve4Zd19YPe76[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab98b42f-4e41-d8d6-3936-95e7bb29e1f8/test-blob-3616387a-98ea-b992-29a4-077bf02accfc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D852A4BC1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "j1tYSxReu9c=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "HzFpAjsIJavFcp\u002BaO8Tx0gM3CgdBIGgAt5jU/hzQgayJBPK1/TAh1I48\u002Bh2xmIL8Z5QabFQWzP7JaUqjNCeP9fDyEDbSO9TSFjZ5BSZKTx4V2JaHthVYczj065Tlfp9mrQUsv4hLKivAR1UencbYfxorjVyQBz7bmp393VBA7ZiWElghHY\u002BWya5rx26/OdVyG2x6ufBD1aXGUSXrTkzbg[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab98b42f-4e41-d8d6-3936-95e7bb29e1f8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "267834145",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
