{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-61e0f78c-75b3-ed7a-0dc2-cd32153e2c84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB656F54545\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-61e0f78c-75b3-ed7a-0dc2-cd32153e2c84/test-blob-0c5e3874-73cd-598c-2f11-473288eed8c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB65758837A\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-61e0f78c-75b3-ed7a-0dc2-cd32153e2c84/test-blob-0c5e3874-73cd-598c-2f11-473288eed8c6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB65758837A\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-61e0f78c-75b3-ed7a-0dc2-cd32153e2c84/test-blob-0c5e3874-73cd-598c-2f11-473288eed8c6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5AB65758837A\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "W3CQ6HYyZugtN42TnTIbBXkgVBzHRvdvhtipj07KqUyzSexheGE2q5KOuVXOkOzy+1CG4DNQxxV4IGKeidaZY45A31RGuo0X6aiJOY2ioPXrtpT+Q8kZYoHW6Ff/lyK79FXHjbCYrEDDbvaKx46I1n9ss9JCmx/FJ33Sb9E1GFGGzUQ32hJEUgpTO9TSj5rzThHXkuRQeVg2AmYzxjxvjVakBPpJUPtsJ2HH72BL8pji3iC/XYZtNVPrAdisEYvN5K1+LYqgqv0Va2uDiIn46g/OUeccry/QN86mXU8jwBbV+QuyzcQNQjQiqfIa6qzJ8xbJ3sCksTR9rfa8+U2u8qpUrY9+RR1K[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-61e0f78c-75b3-ed7a-0dc2-cd32153e2c84/test-blob-0c5e3874-73cd-598c-2f11-473288eed8c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5AB65765942B\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABbcJDodjJm6C03jZOdMhsFeSBUHMdG92+G2KmPTsqpTLNJ7GF4YTarko65Vc6Q7PL7UIbgM1DHFXggYp6J1pljjkDfVEa6jRfpqIk5jaKg9eu2lP5DyRligdboV/+XIrv0VceNsJisQMNu9orHjojWf2yz0kKbH8UnfdJv0TUYUYbNRDfaEkRSClM71NKPmvNOEdeS5FB5WDYCZjPGPG+NVqQE+klQ+2wnYcfvYEvymOLeIL9dhm01U+sB2KwRi83krX4tiqCq/RVra4OIifjqD85R5xyvL9A3zqZdTyPAFtX5C7LNxA1CNCKp8hrqrMnzFsnewKSxNH2t9rz5Ta7yqlStj35FHUrADrL5BT21TCHcaTla4lUwR9Y0H85RSOd0tkfGPB[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-61e0f78c-75b3-ed7a-0dc2-cd32153e2c84?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:48:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1599110298",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
