{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-377d3a45-9590-38d5-0282-b75101db7590?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CA0D51EFF\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-377d3a45-9590-38d5-0282-b75101db7590/test-blob-8352b02a-3a06-4a97-e526-7bd7788a0529",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7CA0DE7591\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-377d3a45-9590-38d5-0282-b75101db7590/test-blob-8352b02a-3a06-4a97-e526-7bd7788a0529",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CA0DE7591\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-377d3a45-9590-38d5-0282-b75101db7590/test-blob-8352b02a-3a06-4a97-e526-7bd7788a0529?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD8E7CA0DE7591\"",
        "x-ms-date": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "KFDcJl4xit7e/JW26nbSJ1XS+XrKh+0tB8TiYDY+QIli3zYV/waGJv0zD6YdFMPZPQrHbR/8AqFjrx+aTimon7sMVAtAvCdPS9J8lnhGEPIACSIrdtJpZdyVslDm7NjTi3DrEcC4mIDieCFMgGspHJ8smUUGfCjoou4uqwrXaF/6qAsHW/4yR3CiSf6wHOVxbJWxulOSzA5HAm7Riu12Cg/CUtdfIcGg+lHVZDIpN4YIvD90Jq4MaNz8v1mQYL2CKz7v7soOEkrUEMABvWfbHcroyM2tAeRgtur6YmFoEJmUUjj0Okm7+ar0oBXuC6p0IKGOp5fv1CpajzfgFK/pbAAmbGou5+OA[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-377d3a45-9590-38d5-0282-b75101db7590/test-blob-8352b02a-3a06-4a97-e526-7bd7788a0529",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8E7CA0EBD407\"",
        "Last-Modified": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAoUNwmXjGK3t78lbbqdtInVdL5esqH7S0HxOJgNj5AiWLfNhX/BoYm/TMPph0Uw9k9CsdtH/wCoWOvH5pOKaifuwxUC0C8J09L0nyWeEYQ8gAJIit20mll3JWyUObs2NOLcOsRwLiYgOJ4IUyAaykcnyyZRQZ8KOii7i6rCtdoX/qoCwdb/jJHcKJJ/rAc5XFslbG6U5LMDkcCbtGK7XYKD8JS118hwaD6UdVkMik3hgi8P3Qmrgxo3Py/WZBgvYIrPu/uyg4SStQQwAG9Z9sdyujIza0B5GC26vpiYWgQmZRSOPQ6Sbv5qvSgFe4LqnQgoY6nl+/UKlqPN+AUr+lsACZsai7n44AsziO5YM5xqz+GQb/ZaAGkfQ6ZqhHb5fsLNBXHnk[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-377d3a45-9590-38d5-0282-b75101db7590?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:06:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1046249636",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
