{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-048c8e7a-cbcf-2b93-077a-f78f77e5b604?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7469EE7D\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-048c8e7a-cbcf-2b93-077a-f78f77e5b604/test-blob-6d7328c5-3f16-ce04-4075-832e80280630",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E74788A6C\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:02.6665068Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-048c8e7a-cbcf-2b93-077a-f78f77e5b604/test-blob-6d7328c5-3f16-ce04-4075-832e80280630",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E74788A6C\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:02 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:51:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:02.6665068Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-048c8e7a-cbcf-2b93-077a-f78f77e5b604/test-blob-6d7328c5-3f16-ce04-4075-832e80280630?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E74788A6C\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "EstnrtefhRpLJEy3xErsK7Yn5+YBlH6WEarYXVutFsZCVTZzdBX4CAvJ12CNav5a3trfKgnusH5M0J0sxii+nQ2FdW4UebahLt/bN70eCaasfX6Bzey8U6S4JqR4zEHjCzlTB/WPRmUjPvsqE3nALsb2gEipPM8gyCHKXFISKGKd9yyDygGxHDcZXY/xkj8q9/fdgUz4Os5pMj/TxOoSERWZjBxNPGPFRWMRkN9ALzbhoGRaNaYVpL1dGpjC3VhNBkx6VwUj3bqUFzzo56rvKAIJ8iSFt9xug+he7yLLA2gKw4mSxtgwvsKqxh1qLb0TbvGVuOszyE5vC9MdxO6YyBTU3SMgXGIq[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-048c8e7a-cbcf-2b93-077a-f78f77e5b604/test-blob-6d7328c5-3f16-ce04-4075-832e80280630",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E7484FF8C\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:51:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:02.6665068Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAASy2eu15+FGkskTLfESuwrtifn5gGUfpYRqthdW60WxkJVNnN0FfgIC8nXYI1q/lre2t8qCe6wfkzQnSzGKL6dDYV1bhR5tqEu39s3vR4Jpqx9foHN7LxTpLgmpHjMQeMLOVMH9Y9GZSM++yoTecAuxvaASKk8zyDIIcpcUhIoYp33LIPKAbEcNxldj/GSPyr3992BTPg6zmkyP9PE6hIRFZmMHE08Y8VFYxGQ30AvNuGgZFo1phWkvV0amMLdWE0GTHpXBSPdupQXPOjnqu8oAgnyJIW33G6D6F7vIssDaArDiZLG2DC+wqrGHWotvRNu8ZW46zPITm8[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-048c8e7a-cbcf-2b93-077a-f78f77e5b604?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1108697910",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
