{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0a970022-2ef4-0937-2fb4-2958e8969a94?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8422A29C99\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0a970022-2ef4-0937-2fb4-2958e8969a94/test-blob-fee2524b-2c10-a3ee-64a2-7a3e4486bcaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8422B478E2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0a970022-2ef4-0937-2fb4-2958e8969a94/test-blob-fee2524b-2c10-a3ee-64a2-7a3e4486bcaf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8422B478E2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0a970022-2ef4-0937-2fb4-2958e8969a94/test-blob-fee2524b-2c10-a3ee-64a2-7a3e4486bcaf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F8422B478E2\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "at4Qn8t2KyOuzL2XHFaNHxlsjsGN08LTtHvIL6lpEM6izHadAPrxU/vmGAUzsCF2ETTPTvD6uJYcPOtQrvt5RLzu9VDg7x8eezvFp7q8oARaUR10msLdpxPfgcMPoKT/bNNJRLvQliIVsNO1NBHcX5vn9l3eBKr5EE08AG1bDtqWxTrmclxIibv7X\u002BnvKHIBAyIoKKpHIWcoTzNtlJa0uqH5Hm/W9ew\u002Bnm2h46XACujaOvxLMuYvT6TTviMp2/QlRqVI9QoDKw416Yo9pT3CZ0RLklmZaIe7yc7LAzfJFcN4fJz/eBTd1w/tFUhb8qlmEVbe3Uibi90ejS[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0a970022-2ef4-0937-2fb4-2958e8969a94/test-blob-fee2524b-2c10-a3ee-64a2-7a3e4486bcaf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8422D32454\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABq3hCfy3YrI67MvZccVo0fGWyOwY3TwtO0e8gvqWkQzqLMdp0A\u002BvFT\u002B\u002BYYBTOwIXYRNM9O8Pq4lhw861Cu\u002B3lEvO71UODvHx57O8WnurygBFpRHXSawt2nE9\u002BBww\u002BgpP9s00lEu9CWIhWw07U0Edxfm\u002Bf2Xd4EqvkQTTwAbVsO2pbFOuZyXEiJu/tf6e8ocgEDIigoqkchZyhPM22UlrS6ofkeb9b17D6ebaHjpcAK6No6/Esy5i9PpNO\u002BIynb9CVGpUj1CgMrDjXpij2lPcJnREuSWZloh7vJzssDN8kVw3h8nP94FN3XD\u002B0VSFvyqWYRVt7dSJuL3R6NLDs3KNds1MfEKKDC7y9tu0mrUj5f1yRl8uHqN3rc8b/h6\u002Bihn\u002BcWqXSTLYHFTmaucIxS34vfLVUW0jX2gZxM6Dfh4QRHyxxhlanJy6mjn6N6PMfuihI0Ab2TisyxICjYR0VJ5G1iZ6Rw8EnhFmGrczOSe0TUXl4lrd9Gs0FPsHWA8YRkWbo2F9UjfZrIUutc6BeZH6TjA\u002BjnJDaNHLNjIT/UYCXdRhl4XGNvseDDXFv06csptZHQne2bfTSDqPshv1xa8/HGf6H9IMNAdFEII8fbmTLoOWuuBMM3Qcnk9LNoTfGDaWlqLmopK5XNjymck1psqA7IOYbxq\u002B4tjj3YGCwP2CdghCNYENvS0ej6I1gQ29LR6Po="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0a970022-2ef4-0937-2fb4-2958e8969a94?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1259252206",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
