{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d7656f16-120f-0dea-e6b5-f4aebd792a0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72413C2D20\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d7656f16-120f-0dea-e6b5-f4aebd792a0d/test-blob-e6f367ad-e186-e630-ee71-2c076acc8aa7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72414C0968\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d7656f16-120f-0dea-e6b5-f4aebd792a0d/test-blob-e6f367ad-e186-e630-ee71-2c076acc8aa7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72414C0968\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d7656f16-120f-0dea-e6b5-f4aebd792a0d/test-blob-e6f367ad-e186-e630-ee71-2c076acc8aa7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F72414C0968\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Mu4o4GzXg6kwmsVDezo\u002Brth/RtHrldPTvu8e1D5wEAgbA33gDvwJkGflZJ9XxAeLCH/1O8Lep5wbVSJ8ua9qwIm9J3e8XZ/bdbVpBjEze/roksy/etRFPVzhxbnZjNe4eqMVmpyQzqrfGsUMdKFr59knlCbjq0W1d\u002Bob25jmAejesYuNHeFeWMMh32AOOMi6dd3fsvix1M9eYCKydPMS\u002BRjdLsMW3cr4yTxiwsvkpj8hYGW6Bk/wLNy7L7y\u002BrOPQDuZIMQkFpJgT5\u002Bi8ThIEebrjkBSOWPLI7QHmWq4NOR1ZkrTlnHQ1HLvMph9nM97[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d7656f16-120f-0dea-e6b5-f4aebd792a0d/test-blob-e6f367ad-e186-e630-ee71-2c076acc8aa7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F724165D2FB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAy7ijgbNeDqTCaxUN7Oj6u2H9G0euV09O\u002B7x7UPnAQCBsDfeAO/AmQZ\u002BVkn1fEB4sIf/U7wt6nnBtVIny5r2rAib0nd7xdn9t1tWkGMTN7\u002BuiSzL961EU9XOHFudmM17h6oxWanJDOqt8axQx0oWvn2SeUJuOrRbV36hvbmOYB6N6xi40d4V5YwyHfYA44yLp13d\u002By\u002BLHUz15gIrJ08xL5GN0uwxbdyvjJPGLCy\u002BSmPyFgZboGT/As3LsvvL6s49AO5kgxCQWkmBPn6LxOEgR5uuOQFI5Y8sjtAeZarg05HVmStOWcdDUcu8ymH2cz3sm3tQLbG85BtfN/RAceSukGrcpjvF4e3UWtdFnCsdNh[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d7656f16-120f-0dea-e6b5-f4aebd792a0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "950551421",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
