{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-19a518bf-d4a8-b55a-c8d0-e9101f21e11c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D889A2892\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-19a518bf-d4a8-b55a-c8d0-e9101f21e11c/test-blob-3741b0e8-3185-f92c-851d-7904dd4a1874",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D88A9389E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-19a518bf-d4a8-b55a-c8d0-e9101f21e11c/test-blob-3741b0e8-3185-f92c-851d-7904dd4a1874",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D88A9389E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-19a518bf-d4a8-b55a-c8d0-e9101f21e11c/test-blob-3741b0e8-3185-f92c-851d-7904dd4a1874?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D88A9389E\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "geUzb2kjzLdhnT429hqqqYPCgdsbenEIWuXbgc/AD3ThM70l7N29a3dNBQ2h8OahuI9zNOS1jgd0KhWDSEvooI7KVcJchLylBRVjznVkZ2r/OslATdqPK6W2scLIOSMsZWV\u002B15ojRDPSzi/PUcCSD8OrhA2CqFKzOikdptL53czyN2gP5ZDP2/WVbX\u002BrwNrlJKH/HLUVqbwSypxxBp5h2fBi3BlXgioy3KgY7TvTCHlPOIEw\u002BsAX3I2r/RrzXdVWNJSOSOPAjaJ3zEAM/byBPsIiIs0dMN4wSwCMq4QPPn7TwbimRL\u002BWj6rfuS1/Ct/RKr5Y[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-19a518bf-d4a8-b55a-c8d0-e9101f21e11c/test-blob-3741b0e8-3185-f92c-851d-7904dd4a1874",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D88C4D6F3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "PPy1N8DP0Bk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "geUzb2kjzLdhnT429hqqqYPCgdsbenEIWuXbgc/AD3ThM70l7N29a3dNBQ2h8OahuI9zNOS1jgd0KhWDSEvooI7KVcJchLylBRVjznVkZ2r/OslATdqPK6W2scLIOSMsZWV\u002B15ojRDPSzi/PUcCSD8OrhA2CqFKzOikdptL53czyN2gP5ZDP2/WVbX\u002BrwNrlJKH/HLUVqbwSypxxBp5h2fBi3BlXgioy3KgY7TvTCHlPOIEw\u002BsAX3I2r/RrzXdVWNJSOSOPAjaJ3zEAM/byBPsIiIs0dMN4wSwCMq4QPPn7TwbimRL\u002BWj6rfuS1/Ct/RKr5Y0TsHOQS1Xf3jNOEdaI3COTsE2vkCjJMjPXewsUAguoHFt21DzIe08efCslvIwVCgvdGjzE/FVUSo5PyMBay8wnlgWLEffmy0T\u002BkSQNk3WnwmEPNufe4yAGEomuiLJ\u002Bw6Be/haGmfgD5k731lshRrcImAZvS4TUWLLldP9uSEKCf92DrpVfESh4\u002B1Co5wzE5MvSpeC8H3griqVjkRT4la4MZVaNragRqYbd9lA0O3GmIJAjm5Jh1mBVWCP/\u002B4ADcGWinHGmN0cjwPxp3ikn908jzXCExQoLmo72OEV0Eb32ynX6gZ7//\u002BlJD8qmB/hHPWDUzC4PjqtblwHisA8Br69OYxOjPWWwM82HO8U/Y="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-19a518bf-d4a8-b55a-c8d0-e9101f21e11c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1028349354",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
