{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dea4d55b-dc99-102b-5623-b3f6038412d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86821F0D8E74\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dea4d55b-dc99-102b-5623-b3f6038412d1/test-blob-fe34e09c-005c-6e75-0b0e-ce19b71bc1d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86821F1EA980\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dea4d55b-dc99-102b-5623-b3f6038412d1/test-blob-fe34e09c-005c-6e75-0b0e-ce19b71bc1d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86821F1EA980\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dea4d55b-dc99-102b-5623-b3f6038412d1/test-blob-fe34e09c-005c-6e75-0b0e-ce19b71bc1d6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86821F1EA980\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Z+xgLm4FSH1B2SyMzbcgn08Wr6EvldmYfwumO3cEyvcmTQsDVqUuQRnYOx9mZXv+Wsc/6gpFktETx65jXw0FPQ41Zn+rHEiq6G2IVlq5MRmPqOCwxeDs4bs68I72y+IM0/4QMf/8Uj1+lAGdvTx3WZWV07YsVHgtSIXDcSu6sxyKe4NbqQAZk1WiMTDeTyN+wpb4Yfcr336G4+l6OOERxODlEkG4HLCVe0BhiSNHTvhhRa+VwVIkXpwF1cUWn1p0kW1P+TzixaXmYuW3ylZaPpTxGfMxfAKNwLSks0bqf9zl7Pi291W7fn8Jrl5tbZNFqpcxJYZnQxRqwTiIPRJf++MJ0d5dpEY+[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dea4d55b-dc99-102b-5623-b3f6038412d1/test-blob-fe34e09c-005c-6e75-0b0e-ce19b71bc1d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86821F34046D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "F9tJ49XG8yc=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:41:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "Z+xgLm4FSH1B2SyMzbcgn08Wr6EvldmYfwumO3cEyvcmTQsDVqUuQRnYOx9mZXv+Wsc/6gpFktETx65jXw0FPQ41Zn+rHEiq6G2IVlq5MRmPqOCwxeDs4bs68I72y+IM0/4QMf/8Uj1+lAGdvTx3WZWV07YsVHgtSIXDcSu6sxyKe4NbqQAZk1WiMTDeTyN+wpb4Yfcr336G4+l6OOERxODlEkG4HLCVe0Bh[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dea4d55b-dc99-102b-5623-b3f6038412d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:40:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1870187096",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
