{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1a13f1c-9501-2e0d-ecda-a5fdc60fe2c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:23 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E5ED47191\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1a13f1c-9501-2e0d-ecda-a5fdc60fe2c1/test-blob-0b54753c-4e28-b579-7482-0153e064b892",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E5EE2146F\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:26.4482927Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1a13f1c-9501-2e0d-ecda-a5fdc60fe2c1/test-blob-0b54753c-4e28-b579-7482-0153e064b892",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E5EE2146F\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:26.4482927Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1a13f1c-9501-2e0d-ecda-a5fdc60fe2c1/test-blob-0b54753c-4e28-b579-7482-0153e064b892?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE336E5EE2146F\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "VwPJclGD6xksT9CU5sVS2MGWdhhAiCVP0zTG8SGlzlxkkvDYSqa9A8K2LUy+iudXxQms7P3v3M/dep8cvfr4h4FzL1PUeY4a2XJWilrYkUhMbywX+OJedLUh+s8HoEbIvqbLSlqTg0t6khKLmVJ0BehWz07O4I+eFbuesn6/Ejgsjcy0DEfuuevgnGXP09tjrfXnsdD4+t0WLDWf9dHMu3/ZXgyGwPihaBZi7UMpz0HfOgSJ2GFoM5Pund8STsMaE+Hl9XXP3Oz8RUm6lQyZ7V3zv7rMQ+MecSt4lyMZjxlSR9piQ9nLEF4YjZIYrp2GVK+CHo4JTtD9x4RKVkTJ47YvZ04yN6mE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1a13f1c-9501-2e0d-ecda-a5fdc60fe2c1/test-blob-0b54753c-4e28-b579-7482-0153e064b892",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE336E5EEF4C10\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:26.4482927Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABXA8lyUYPrGSxP0JTmxVLYwZZ2GECIJU/TNMbxIaXOXGSS8NhKpr0DwrYtTL6K51fFCazs/e/cz916nxy9+viHgXMvU9R5jhrZclaKWtiRSExvLBf44l50tSH6zwegRsi+pstKWpODS3qSEouZUnQF6FbPTs7gj54Vu56yfr8SOCyNzLQMR+656+CcZc/T22Ot9eex0Pj63RYsNZ/10cy7f9leDIbA+KFoFmLtQynPQd86BInYYWgzk+6d3xJOwxoT4eX1dc/c7PxFSbqVDJntXfO/usxD4x5xK3iXIxmPGVJH2mJD2csQXhiNkhiunYZUr4IejglO0P3[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1a13f1c-9501-2e0d-ecda-a5fdc60fe2c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:24 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1999979032",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
