{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-767847db-2c40-f5e3-80c1-064aed4b4833?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCBD96581C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-767847db-2c40-f5e3-80c1-064aed4b4833/test-blob-85385b86-418f-73ad-d682-222f5414ae8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCBDA5E8B6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-767847db-2c40-f5e3-80c1-064aed4b4833/test-blob-85385b86-418f-73ad-d682-222f5414ae8b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCBDA5E8B6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-767847db-2c40-f5e3-80c1-064aed4b4833/test-blob-85385b86-418f-73ad-d682-222f5414ae8b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCDCDCBDA5E8B6\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JDJSNQ/sintPBVNA9QsBgei6rZpJzphxZEek5MHUqIe7lrPBrKM8sMiGKpWGs/LH/Bw7EO2qVlWa4NHHR6a5e1zMhV5YP9VFff3RwqQC67BV3eelmJiZED9dJ8vSdGghzK44uS6TbrxG9pLw2JOxl/Ugcmq+FOLEM3Qe+hgJcgiVr/b2yjGCwW4qXqIFqTerrI/WsgL9YrjMdIW5dHSkPYOJWiidu83DnbD8lLZAvoo9c06IM8AGmE09KlWryU35hiEfe04ODfHCExVRAM4Bi7b7fAElGwnCg8LbX5F3F9NjAg6VIEI7LmVcxiCrtJd+PJ6fsE1L1GoXXPiMMq5gSvtB7f7AbGtz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-767847db-2c40-f5e3-80c1-064aed4b4833/test-blob-85385b86-418f-73ad-d682-222f5414ae8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDCBDBF15A5\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAkMlI1D+yKe08FU0D1CwGB6LqtmknOmHFkR6TkwdSoh7uWs8GsozywyIYqlYaz8sf8HDsQ7apWVZrg0cdHprl7XMyFXlg/1UV9/dHCpALrsFXd56WYmJkQP10ny9J0aCHMrji5LpNuvEb2kvDYk7GX9SByar4U4sQzdB76GAlyCJWv9vbKMYLBbipeogWpN6usj9ayAv1iuMx0hbl0dKQ9g4laKJ27zcOdsPyUtkC+ij1zTogzwAaYTT0qVavJTfmGIR97Tg4N8cITFVEAzgGLtvt8ASUbCcKDwttfkXcX02MCDpUgQjsuZVzGIKu0l348np+wTUvUahdc+IwyrmBK+0Ht/sBsa3O/TZzJVekXzypdI/LXZ4YYLqN9xEqv+7f8eyRqxp[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-767847db-2c40-f5e3-80c1-064aed4b4833?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1208261846",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
