{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-35e06db8-c97d-9e2d-6c26-e1f1c13aa986?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D847CF9D3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-35e06db8-c97d-9e2d-6c26-e1f1c13aa986/test-blob-94539810-a372-2a00-0512-086ae3452b6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D848C5E25\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-35e06db8-c97d-9e2d-6c26-e1f1c13aa986/test-blob-94539810-a372-2a00-0512-086ae3452b6c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D848C5E25\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-35e06db8-c97d-9e2d-6c26-e1f1c13aa986/test-blob-94539810-a372-2a00-0512-086ae3452b6c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC444D848C5E25\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "sN\u002BTD4kQ5joQhs5BJm2hJA5ZyXFoKEMlIaGcpE0lWUC3jQ8dtQj\u002BF2iXcLws444Zegsop10TrYibbe3nc0Lt6yyNiZldhG8FWrEI0LiG\u002BT4TgypB/LLipOCHgUcbF6MmqYSQnln1vPacI0yrCtzPFHSv1PAYrO56q\u002BW51QIo6UMO4Scz9lrkHcY0pNllNpkDuGzTbEKyDv2WFvN0PObzdDkJnSi1mx4Zy7cp4wcUFHRLtR2VVH0AW9MqneBnb\u002BDgQDCgXJhwThxOuaGLiCr1gQF\u002BKYfJXh\u002B7CEJVi/09slvWSaPWdLfb2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-35e06db8-c97d-9e2d-6c26-e1f1c13aa986/test-blob-94539810-a372-2a00-0512-086ae3452b6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D84A7D5BE\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "Z15y\u002BjL2hfQ=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "sN\u002BTD4kQ5joQhs5BJm2hJA5ZyXFoKEMlIaGcpE0lWUC3jQ8dtQj\u002BF2iXcLws444Zegsop10TrYibbe3nc0Lt6yyNiZldhG8FWrEI0LiG\u002BT4TgypB/LLipOCHgUcbF6MmqYSQnln1vPacI0yrCtzPFHSv1PAYrO56q\u002BW51QIo6UMO4Scz9lrkHcY0pNllNpkDuGzTbEKyDv2WFvN0PObzdDkJnSi1mx4Zy7cp4wcUFHRLtR2VVH0AW9MqneBnb\u002BDgQDCgXJhwThxOuaGLiCr1gQF\u002BKYfJXh\u002B7CEJVi/09slvWSaPWdLfb2mcARpvcddKpNBze6UVZFuER5FRWG8IeEQdFtD\u002BGHgxKok8fyBeD35JwrFbhXsgVfTPBxZBihb6k4jWUl8CTIhYPlEb2OU7JjQTB5W9sPLI\u002BLzYMxVl85xyQe\u002BXi70fS3YpA0sqBH0Tk9zeLoaBPOKWDVWeJhly8k6wqZb5o55697wflLGrnvA/yJ80h8EZ7QUJAXpngSFYtgz8eV7qGexCZzrGYagw6m5lYl1\u002BPm6JlriR7KIgF3Kewt6gryWVVbKy9iCKV4tc2BcMAh7D3neecuKiVClOHlPEK6LJjD9IzAiqy0hKA0MtNRCLFBFX2uRrAjhC8v2FYNfQwi/ok0/bwzIWFRMvUHOjdSMUwwY\u002BcEy6XooDBd0I="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-35e06db8-c97d-9e2d-6c26-e1f1c13aa986?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1892022146",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
