{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4113e117-4d3f-b72c-f83c-5f485a2b9016?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:53:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D5A03ED193\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:53:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4113e117-4d3f-b72c-f83c-5f485a2b9016/test-blob-62ad15e0-13ec-c799-804b-2ceb6046e544",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:53:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D5A04B0FD9\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:53:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-4113e117-4d3f-b72c-f83c-5f485a2b9016?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:53:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "664433566",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
