{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a8759fc-5b13-d486-a776-1000703f9503?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86828393A601\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a8759fc-5b13-d486-a776-1000703f9503/test-blob-85930924-a542-200c-e8a0-4db722f85703",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868283A756A1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a8759fc-5b13-d486-a776-1000703f9503/test-blob-85930924-a542-200c-e8a0-4db722f85703",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868283A756A1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:49 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:43:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a8759fc-5b13-d486-a776-1000703f9503/test-blob-85930924-a542-200c-e8a0-4db722f85703?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC868283A756A1\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NFpn6o1Uk7lnnfzSim1AjZD6wPYFYISiDGuhSrdSY4Jk5+M5svuI6+aBzuFY+xSvlf4PjMrl5NTWxN0hs0kBFDp6bqKKBtuUcdUQhJGiShBW8bS5Q9a4fgIOYu0dZjidf7mn3o1xJY4jehr11WBCNHrNysGUSNBjwvCge6TtdgudcgTX+muD5cwmlci8w6iiyy5yUJt2CTfpQxyd0anqNQMPV2JbazkPSuX1bbIHp/9H/a91eyZvJmnN7rdO5RMiO2DErGtGR2D0Ywa2gZuE4ZwdVtT6dLndnzH5jXyCwGTR0zFSQvqTALVOgRgguaXOSA0aMY8/KMem5w05TbrkcqKh5K5pMp6i[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a8759fc-5b13-d486-a776-1000703f9503/test-blob-85930924-a542-200c-e8a0-4db722f85703",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868283BF9786\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:43:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-content-crc64": "9p+Fow/EXEI=",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:43:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "NFpn6o1Uk7lnnfzSim1AjZD6wPYFYISiDGuhSrdSY4Jk5+M5svuI6+aBzuFY+xSvlf4PjMrl5NTWxN0hs0kBFDp6bqKKBtuUcdUQhJGiShBW8bS5Q9a4fgIOYu0dZjidf7mn3o1xJY4jehr11WBCNHrNysGUSNBjwvCge6TtdgudcgTX+muD5cwmlci8w6iiyy5yUJt2CTfpQxyd0anqNQMPV2JbazkPSuX1[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a8759fc-5b13-d486-a776-1000703f9503?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:43:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "431023226",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
