{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9eae5f29-eb72-1951-bf4d-151bd331b5f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F842960881C\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9eae5f29-eb72-1951-bf4d-151bd331b5f9/test-blob-4bd6dd7c-b3d6-b16b-7476-e4efd2b99085",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84296EDD93\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9eae5f29-eb72-1951-bf4d-151bd331b5f9/test-blob-4bd6dd7c-b3d6-b16b-7476-e4efd2b99085",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84296EDD93\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9eae5f29-eb72-1951-bf4d-151bd331b5f9/test-blob-4bd6dd7c-b3d6-b16b-7476-e4efd2b99085?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC9F84296EDD93\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "A/F2CNICkWIdEabxW1oB6PwkwxrxmCgJznA6vqq65a4YpPMnYUkeVSfe/78caiVXkzSLkoZO\u002BmvJbDlhyNK3Yiz32bdm2oezBW7zE5ho7WRK4it2LlIoyqmIXfQPvI1UJpySJJBu8bms2IwYWufTYX/UF\u002BWnQTTazw8O3nySo0jgnuz71cjU3PFyyVXFEG/BtPx1OqWnrORouFWBXxI8GjVEN7z614u2ADv0NXfeFL6gTCmAHWijOPEIkhxzUnzeNq8ggdmzxtxwvjpqs3dsiqOW4RLovPzNoP7K8kVuQ62\u002BFf7IvZPl7IVMD14uOIV6mwh53HFp9[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9eae5f29-eb72-1951-bf4d-151bd331b5f9/test-blob-4bd6dd7c-b3d6-b16b-7476-e4efd2b99085",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F8429885920\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAD8XYI0gKRYh0RpvFbWgHo/CTDGvGYKAnOcDq\u002Bqrrlrhik8ydhSR5VJ97/vxxqJVeTNIuShk76a8lsOWHI0rdiLPfZt2bah7MFbvMTmGjtZEriK3YuUijKqYhd9A\u002B8jVQmnJIkkG7xuazYjBha59Nhf9QX5adBNNrPDw7efJKjSOCe7PvVyNTc8XLJVcUQb8G0/HU6paes5Gi4VYFfEjwaNUQ3vPrXi7YAO/Q1d94UvqBMKYAdaKM48QiSHHNSfN42ryCB2bPG3HC\u002BOmqzd2yKo5bhEui8/M2g/sryRW5Drb4V/si9k\u002BXshUwPXi44hXqbCHnccWn2erJT4Nrp1JcBeoysnXikzBCx9I2brJ2eZ3lPVz31ZzxUH4QWarILA7G1DeShjOcB9ztoK33cWs0UtHhgmX1aCxNQV37zjWJepfHb5p\u002B5/NuRTmABjTy\u002Bd8W3AbU5qmo0WgHRUTRpDWnZCoWMAXMtWredz0ocWX7XkeC4PIysJPuHp4ye6KqmKEH3J4O2MnZSiaf9m9sfFwGD\u002BcBUsdHdLeWKBVrnj3IM96cJJTH6IF5qZrLlroggaI\u002BKG\u002B7qUXdvGfqdLC0cavo08aQzFfHPiNhi6koe935cap3KXHSDIqUwmgs3XfQxTfu4sL3k7FKdupIViGcsUCF7QMKQUQ6Fsc7\u002BA3rlmCrkMeCWUVEqEZUN4JZRUSoRlQ0="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9eae5f29-eb72-1951-bf4d-151bd331b5f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1801171241",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
