{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfbdff4c-ede8-1871-0c94-539ba55beae8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BC54ED89\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfbdff4c-ede8-1871-0c94-539ba55beae8/test-blob-575341b2-85da-f797-d913-1312451bc2a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BC5B3831\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:46.1705265Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfbdff4c-ede8-1871-0c94-539ba55beae8/test-blob-575341b2-85da-f797-d913-1312451bc2a3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22BC5B3831\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:46.1705265Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfbdff4c-ede8-1871-0c94-539ba55beae8/test-blob-575341b2-85da-f797-d913-1312451bc2a3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DE0C22BC5B3831\"",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "bs10ErgtYmAVyywWmhguw7039gkZfIewPlpOiKxQH8G5C+oc1MRkdznhWJUk3fAJq3vbmtsOLvFGxNRe3tm0xKtrXI4uEe750n7QNyTyjGBpRdwwdYXmq9341hDvBZlfLZTquIBi2pqM4sdcPfbNVDdz9Zj9hE8mhbGwNjreCc3lcQmQB9PfBmtCo5K9iW3mK4LYfBAAYqlFxDPPsqNfrtj6d8vsPExkk+4tuuC8aftDyQq4BY295A9gS0OfEFTH4vS5whGi+u42c+gh06fIiFo4i+mZp6hLPZO8jPEIxYOaZtfsA6bpoc8cgZGkmxFnmMLoZoRqLjtLbYV+5W38La5lhm3P24W0[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfbdff4c-ede8-1871-0c94-539ba55beae8/test-blob-575341b2-85da-f797-d913-1312451bc2a3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0C22BC64F152\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:46.1705265Z"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABuzXQSuC1iYBXLLBaaGC7DvTf2CRl8h7A+Wk6IrFAfwbkL6hzUxGR3OeFYlSTd8Amre9ua2w4u8UbE1F7e2bTEq2tcji4R7vnSftA3JPKMYGlF3DB1hear3fjWEO8FmV8tlOq4gGLamozix1w99s1UN3P1mP2ETyaFsbA2Ot4JzeVxCZAH098Ga0Kjkr2JbeYrgth8EABiqUXEM8+yo1+u2Pp3y+w8TGST7i264Lxp+0PJCrgFjb3kD2BLQ58QVMfi9LnCEaL67jZz6CHTp8iIWjiL6ZmnqEs9k7yM8QjFg5pm1+wDpumhzxyBkaSbEWeYwuhmhGouO0t[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-bfbdff4c-ede8-1871-0c94-539ba55beae8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:46 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1010028590",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
