{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c74ce1ce-fcfa-57d2-0b90-b8861c24668d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694D253B2E4\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c74ce1ce-fcfa-57d2-0b90-b8861c24668d/test-blob-8e6399c2-790d-1bc9-b8b4-8f55fceb7004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694D26479B8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c74ce1ce-fcfa-57d2-0b90-b8861c24668d/test-blob-8e6399c2-790d-1bc9-b8b4-8f55fceb7004",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694D26479B8\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c74ce1ce-fcfa-57d2-0b90-b8861c24668d/test-blob-8e6399c2-790d-1bc9-b8b4-8f55fceb7004?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD3694D26479B8\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "IT13ufmopJa0Zrfsoh6cxKE9yhdjGYRloDedsipwYxTJ65J9zzWBE2AqmKJsWcdP4kgbRTAsDAi5EhjCC/FsRAOiIreLHvRsvLa2OIDh+EdvTdDhVB3knd6KxL0cvghuvlSfyjYQxMNUr4l5ddOH1xnRUr4hiu/lvYTYAVk2T/2tSHosQi4RX4gMjaWUaigKAuykS2xKTTRkuQyxOMJqHV+MyyxZW5Xqv/M1FPxKUVNczf9tkgSQY/tGx4giXybFom9FB5/7saZWuYt4FTg3GWi5VWrD/Ita+2gxE5MNyGDMb3GMBEmzYBtYFth4F03CDq0faAq8Aqbk6gw2yp4TSfErrKbGqhUf[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c74ce1ce-fcfa-57d2-0b90-b8861c24668d/test-blob-8e6399c2-790d-1bc9-b8b4-8f55fceb7004",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3694D27F53B4\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:17 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Jan 2025 01:18:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Fri, 17 Jan 2025 01:18:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAhPXe5+aiklrRmt+yiHpzEoT3KF2MZhGWgN52yKnBjFMnrkn3PNYETYCqYomxZx0/iSBtFMCwMCLkSGMIL8WxEA6Iit4se9Gy8trY4gOH4R29N0OFUHeSd3orEvRy+CG6+VJ/KNhDEw1SviXl104fXGdFSviGK7+W9hNgBWTZP/a1IeixCLhFfiAyNpZRqKAoC7KRLbEpNNGS5DLE4wmodX4zLLFlbleq/8zUU/EpRU1zN/22SBJBj+0bHiCJfJsWib0UHn/uxpla5i3gVODcZaLlVasP8i1r7aDETkw3IYMxvcYwESbNgG1gW2HgXTcIOrR9oCrwCpuTqDDbKnhNJ8SuspsaqFR8F9E5r5rLi4xpuBOXtX1YQbMuoGT18ln1EzOZNa6f8ZJgAYxVtl78xCCgbW5ktW5HVmzn6AvviiF7QJhnLlXhzcp9M7fxBo9UMdhEVYDvkF3BVeNBtAWKdHtq3nHGmZXOwqOj54G6UlPhk7ovqzCci7A+odhynBnE9r88iiQdkZRCdZLhT6jYCwOTYCRLWslGylK9i/e9WCKJ2vDGecgrx/4h7TWhvzwLYpbU4z/xeZ/x+b/VXAmghRlwW3C4EZE3Z5wmJWmXpQ8StiVc5HTilF1Q0IAMUmf0gWQYLWPPU00FoX+jz1QyXlCswqngQ6CgjcMTa0ENKxUuwbOkFxGTDS7Bs6QXEZMM="
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-c74ce1ce-fcfa-57d2-0b90-b8861c24668d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1844740005",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
