{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76eb840b-cffa-f123-bbcb-f2b3192234a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCB8A5BE30883C\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:01:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76eb840b-cffa-f123-bbcb-f2b3192234a2/test-blob-96c65d8f-7a33-e6d5-6ffa-96fd47624bb0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "IiJ/C4iElOR6Lc0iqj2mucBZcLS00iA56Va3KEnHMtTokMIogv8Qv9CJ51OMsmoSBiKBMWM64FABRSExzWuasvv5ORl7fTfASLHjKurNrTfspSImRQFwrq9yJz3e3/Fk7zRYknhQlojrweiyVrZlNJfqRCdJc235iItqCVb64mm/fzu2dBq\u002BnA6aO4QYvVf5DPKl9JrKG3vHXgnt5o0x8d5/89d7r799K6gZrjjo4cszcPxjVO7O9WO/7xYQ0LWAaEmmmcp/fl0zJ8jxsGxD3n0\u002BuXWQzpzwsP50u7\u002BobFrzmEbvQkcAtPKfMCwl3UT3fBCZ0hc/8JqstenLC8Kdirtt/hglU[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76eb840b-cffa-f123-bbcb-f2b3192234a2/test-blob-96c65d8f-7a33-e6d5-6ffa-96fd47624bb0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "S0CvqQ8dwTO2ds60GvsP2w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCB8A5BE4194E4\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAiIn8LiISU5HotzSKqPaa5wFlwtLTSIDnpVrcoSccy1OiQwiiC/xC/0InnU4yyahIGIoExYzrgUAFFITHNa5qy\u002B/k5GXt9N8BIseMq6s2tN\u002BylIiZFAXCur3InPd7f8WTvNFiSeFCWiOvB6LJWtmU0l\u002BpEJ0lzbfmIi2oJVvriab9/O7Z0Gr6cDpo7hBi9V/kM8qX0msobe8deCe3mjTHx3n/z13uvv30rqBmuOOjhyzNw/GNU7s71Y7/vFhDQtYBoSaaZyn9\u002BXTMnyPGwbEPefT65dZDOnPCw/nS7v6hsWvOYRu9CRwC08p8wLCXdRPd8EJnSFz/wmqy16csLwp2Ku23\u002BGCVTmzU9BYPxnW/K0rp8P[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76eb840b-cffa-f123-bbcb-f2b3192234a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "884058691",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
