{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f625dba-3b71-1c17-cf37-3fd8401b12bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCB8A5BE6D433F\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f625dba-3b71-1c17-cf37-3fd8401b12bc/test-blob-b355fd7b-72e3-e646-2540-9f188cb2ac9e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "VcKYt/krW/YYimoBf51fCozczU0L9y0kMr4\u002B3ssQKrMtkiT6LfNp35gaAwTl63Jcd\u002B6o0KT2HV2VdIU67XwrB2C31Ox5ZdyZcu208fQoPkdM4WbcaFkON3TGZbluL/Eb7/yjLhaF4xERDl62QSxpbDU97QsWTp4HqJ13sv8jKkP7mQL3hBAwx/5Uyln7WPVIXfiDMEHlBaBdnIV5DTER7uQauqgqceglDSYNwYNFDFCnL1QHn/oCFpNhmueKtrnMQtx14J1NHesPXSMa2EQcGJA10d7cCk7pGKQUyNcAm1ZtQH6nzyuyWhFp90LX5z1PRIJXVOXb8DiOi8j5OVQUD8LMrZfGdUhkg3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f625dba-3b71-1c17-cf37-3fd8401b12bc/test-blob-b355fd7b-72e3-e646-2540-9f188cb2ac9e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:59 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "nIH9mgUQrA7WGLhwfijOpA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCB8A5BE7B4272\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Aug 2024 19:01:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABVwpi3\u002BStb9hiKagF/nV8KjNzNTQv3LSQyvj7eyxAqsy2SJPot82nfmBoDBOXrclx37qjQpPYdXZV0hTrtfCsHYLfU7Hll3Jly7bTx9Cg\u002BR0zhZtxoWQ43dMZluW4v8Rvv/KMuFoXjEREOXrZBLGlsNT3tCxZOngeonXey/yMqQ/uZAveEEDDH/lTKWftY9Uhd\u002BIMwQeUFoF2chXkNMRHu5Bq6qCpx6CUNJg3Bg0UMUKcvVAef\u002BgIWk2Ga54q2ucxC3HXgnU0d6w9dIxrYRBwYkDXR3twKTukYpBTI1wCbVm1AfqfPK7JaEWn3QtfnPU9EgldU5dvwOI6LyPk5VBQPwsytl8Z1SGSDd8xyEgwSMGbEhFWoR3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f625dba-3b71-1c17-cf37-3fd8401b12bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:01:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1675953152",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
