{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-311370f5-a462-b8b6-9650-3ae073be8ba0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7A8E895E\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-311370f5-a462-b8b6-9650-3ae073be8ba0/test-blob-064f4f02-4d91-a470-c3a7-b62db44e9d93",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7A997722\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:12.9486114Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-311370f5-a462-b8b6-9650-3ae073be8ba0/test-blob-064f4f02-4d91-a470-c3a7-b62db44e9d93?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB41U0iOOrsR9N1DsnazrHUI/x+jF9XQ+EFXGWCcOaZ91MubzJ0CwV2+hdg6KIJR+bPaJMIq7k7IJFrHNuEadbs2xZ1rF9/Xxf2CJFI91s//BR/swhSkUya8k+gCe8p8pFAcwyLk5uGUAh8EaMn8yg1LB/HBbbNmUnK27oQ3lYnzRUACIRPs2l5+GMA1oCpcv8matzPYu3actnCwbfhdnGyVEONJ+uk5nm2TQxTzcPJIWm66XN5WGsoJZWqjPKymIHxTYE8G0sUgoRjGRTgh6UW+KBNJo3+OPzYZAFV+lmGA7WKYX9BjQUepmfvFT5WSJ3wk5NSZHH08hSFY7dJvogq3BVeVSUl1GuaL38mDiO9gRtkZWbGNJ9Elm9rvClN1OjexTgp+PN[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-311370f5-a462-b8b6-9650-3ae073be8ba0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "979149003",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
