{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-45e70550-f7f8-b66c-7e7e-4b8f04563a16?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE77E3F681E\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-45e70550-f7f8-b66c-7e7e-4b8f04563a16/test-blob-73eedd58-8341-5b06-882f-c1c6adeba526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE77E4FE2E8\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-45e70550-f7f8-b66c-7e7e-4b8f04563a16/test-blob-73eedd58-8341-5b06-882f-c1c6adeba526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:40 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB0e9ap3YrOXMCNHncRDnzbS1qqQg0rbRShomSAH4teGyB46b/MiRNa8+1OG81fR8gt+W2gYR1gSA3CBzolTjw0LgJXmSS8DsJHT08f3VJGQlucUyYevrkCF6GxCYLYNaSwGezKB62kcOqqWBLOQWu7fMXfifoWFXBJVIKDCwVAbxmqb8Nlezqt9+M7c2WnNNU19o28+KypmQN8gbIrIWTlaun4I9KnVQCKMpEX26EKoSCsTRV3g3ZtANXA6PqHgdV+Vgl8rxEDjaCNMsUakr5hct+Sf9RPbudyiyL852wFA7G7mYSYjfIOqL906VCwUm4WXnYa9AEBL+chCSTvB6Yzhy8UX/k5yeTthNcU2oSWwTiz5Yn26w6vuWmddoTOH6EZQWEhm/N[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-45e70550-f7f8-b66c-7e7e-4b8f04563a16?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1766780182",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
