{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c450f90f-a512-3661-b7c8-e9ca54066388?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7B5976DA\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:14 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c450f90f-a512-3661-b7c8-e9ca54066388/test-blob-d58ab395-1072-90e4-aaaf-db2e63539667",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7B65C68B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:14.2875787Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c450f90f-a512-3661-b7c8-e9ca54066388/test-blob-d58ab395-1072-90e4-aaaf-db2e63539667?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:11 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADZm3krCrYkIJvCeAiQGy2IWTqehbdoWHnPwc8nYVJU/WHVbG21QqR0qS5fbQ6VeV+2BLH+ryKHcUMAXEnn/b5Jbnunu67A0heWKtuICexqOkdwcFygVk0/TfspteZajKxwFf6T7b6w9TKaZ4VG/2hYlSICd4xhqBguZ26zlh0wPJ4vGPPs10yJv3oqBu7I+E6S0R/EVxUfDm3lZIVQ/F8UaSrnFud0a77VebcRNqEpZm4gIcT+bOWIDwmFB3LGOMIbFpzE4eJmHWZh7t1dDdfLu/4WL9uaFvxFXgbd72NLD0D19SAEZYWMuQNenX4HKwIxuUtzrwnmgf+ffoLbiS4CFd6dZxe3x1V5inbYPHh+PjMErDUY12A3D3QhZOYCsTDUW4ifacP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c450f90f-a512-3661-b7c8-e9ca54066388?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "442899294",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
