{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-858bb6cb-1e51-c9f6-5472-7c3e689b78e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CE5D15F8\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-858bb6cb-1e51-c9f6-5472-7c3e689b78e5/test-blob-87b03391-9fd3-73fa-8fa1-8c6f347f16a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CE6275A8\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:16.4179583Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-858bb6cb-1e51-c9f6-5472-7c3e689b78e5/test-blob-87b03391-9fd3-73fa-8fa1-8c6f347f16a5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABp913Dy9YP+xXlYWI67AzWIMu/2YVhL6XEBLE1Fc+Qc/4JoMYhjuSofxoA0KxsMp5S5bBJ8BdUB8i3/scl2eVGVe5jMUtFtJLnFllqYV75WNES4zAeRoLntZj+aY8cg6Y0unu9CABSDDAeYtq+6aZpvqb1Eva1KA5sfHuyR0sDypKyNafjO0/QwNb//+SoKcvxlKroJnGwf5FsUYuFn8TkG5dHC7P/hYNWJFIftSgqxFOvwbKhGqMgArYVd+rDSyASG+RMYB0Y8Q8nkgEfkMloQow41d4RQwD0Jgj96g6YktkyDJpE3WM1l8+jeoihAXHtrDRdi3ZBANjjWDoUGgcAjv8o7YMuJGQpAj0Pbcl4UiWXDz3ZOgdi8AzCYIUpIHzHouuJeBP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-858bb6cb-1e51-c9f6-5472-7c3e689b78e5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "731943902",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
