{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9d11fed3-37bb-1261-16d9-a64b3ff2079b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D52D82B1B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9d11fed3-37bb-1261-16d9-a64b3ff2079b/test-blob-5b5b64e3-9750-6071-e8cc-ff4f1b1be8b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D52E7D2A7\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9d11fed3-37bb-1261-16d9-a64b3ff2079b/test-blob-5b5b64e3-9750-6071-e8cc-ff4f1b1be8b6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ZXJFwnaEeiHpM7QDv04weQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Bb\u002BDJ5/WCV2ExH3\u002B/ZOuuNORStOghPb4sxy4LuO75mRkJsik2911KmL0/uD8Z4LkONnr1HCEcYHJinSDHtt6yd4YmtbKCd31GyBxrIUV\u002B0uZ0/UJ0BH04LVH21Bp8guHeTUC5MyrGS/79bhQEsT7s44o6UrlcfjMJLkhgy2NjCgU6jNQEhd\u002B7rrGDdpYo83wSyjCQAnBoQg8NsATipYBbmiPOyiRq6B2qvuQH2Mdc4DsMTcFykwfUkgrE9xXa2MjxJ5yyGilXqCHS5YOMYKkHsI/Jllf\u002B6QccOjfZZfDHz6XbFrFq6oYRtKXfn\u002B2ECH[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9d11fed3-37bb-1261-16d9-a64b3ff2079b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "43932403",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
