{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07b5ba4b-b2a4-c047-3a68-a7b6673d8135?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868299E0D4CF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07b5ba4b-b2a4-c047-3a68-a7b6673d8135/test-blob-9edebcff-f0eb-15e7-6e3e-f9793d74a75f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829A1FD1D8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07b5ba4b-b2a4-c047-3a68-a7b6673d8135/test-blob-9edebcff-f0eb-15e7-6e3e-f9793d74a75f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "SxrJDmBNIYU=",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "h8iwFTkQk72RmvV6zxz1bhIJqwBoMcY6/I9hhFUZhUBoDaUCG0Bk+tMXvtQvyhKIp8n9jCbCbVQCdRiprw9neBS1EcJ281LSpbAsUXPxCjJ92NyMHPgZpqBQ/6UnukvDr0XAerhPEbN3K+d1lRzhEWvmK9Yy21wcnGshJvSsq+plaKEtMJB6LccpFfARoxCEb+06QI91kdPppN5MLuu/yoD8ECx6s+Daa/0OCcZrCvhbnbYGcWpb8NfORIyxLf/bakpwFJPjCrwNX9SRZocNfZnl8ZE0uFgVoR9VrG5TKT7+M597+vZld5P6+BGVyYpPwMfzyzxup7HxW3Jzjl1NuTaWkzPokYKigHn9Ob9Hg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07b5ba4b-b2a4-c047-3a68-a7b6673d8135?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1991013368",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
