{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a4720989-478a-3318-ed3d-a21aa8d4a43b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E60295C52\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a4720989-478a-3318-ed3d-a21aa8d4a43b/test-blob-bd4383a2-adf0-78e0-be60-84b6cf433c10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E60358735\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:28.6729013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a4720989-478a-3318-ed3d-a21aa8d4a43b/test-blob-bd4383a2-adf0-78e0-be60-84b6cf433c10?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACv2FUYVtohOAuPbRo2FWB7Q7IBRNbsA65RQuM9ybm3ldK/U/oc4Zk9QsSsqbzwwLXnCwB5n1l6wtWnxxP2425R19hId8JmXmIYxAESQFnyYIEuVb64PvV4RJEkdRmGR15VWtHjqEnzgKyeYNtYaIF7tWeRyI2wmZnizzIwQelIkn2ivOaIDrc4O9URGt0aINwPqb+x9H7RpcE3ANgXwj/DVc5etaub8qawWYy4nn67yK9VIZgpl53+0RYlUA7fIXmVTsQPvGowdLYZAZvyGAZCezgowaCmmr4wX+SVdaGY0DgTIlC6rAtFJa3hEJUBC7gQ49TVtl/Y7rQF3lyFm/4UgDBj3/W2h88s45zzxYkpLlQrhJLMwhrYOjOctc2vv4mvzY9kniz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a4720989-478a-3318-ed3d-a21aa8d4a43b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2036228532",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
