{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68b1413c-d167-2200-679f-a6b15e299a0f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7A181535\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68b1413c-d167-2200-679f-a6b15e299a0f/test-blob-21f6ff8e-1b9c-4ece-3935-c6d49ac6d1a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7A243B34\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:12.1813010Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68b1413c-d167-2200-679f-a6b15e299a0f/test-blob-21f6ff8e-1b9c-4ece-3935-c6d49ac6d1a9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACEoaBLluHJCrNKM6U18V3zoBkV7CO5owK1+uMHbxGGlj+UiiPTsva7qfosIS9AkjR7ztvFiZbjyv2dlpv9wZqiw51moGc6IO4jWkIojILSdWivjKE1wA2osL8lNRxavedfil2S2fHNQa3toi9Tuj17yyAyTjX5bAKQve+nFOvRyJxbyAIlQJt24Uv0SB7eVfaBqmr8J2+yZh5aARwBJSzCHNmS+PE7VYqFu2zpBSTksmf5JWqA1aEsqGLkyz9+dbwfMStES10ERlTgdmsCyGH5dU+0CP/BQUc4ZU+PV4pLBkawytP4n2YK9d8VoF41KuAA6lXwym28XfDkDOUNdO/KlHAlUv2NANboqRIgrKDoAztvjmw0WjzZ9G3iE5OB/YDwSgvtENf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-68b1413c-d167-2200-679f-a6b15e299a0f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "751170439",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
