{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-164d17ab-18fc-70f5-6770-28ef9b007b28?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829C899B33\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-164d17ab-18fc-70f5-6770-28ef9b007b28/test-blob-23980273-a08d-102d-9a17-12f8cb705e1e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829CC9A930\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-164d17ab-18fc-70f5-6770-28ef9b007b28/test-blob-23980273-a08d-102d-9a17-12f8cb705e1e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "8gp479vekG0=",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "FUqYJgqUGHz8nVMaKxFzK/bCYIpT+2Gsdj9HKkFBwcBxCM6yo1Nc+vgwgyn11XZ3U8HjLKHmkBno7LDLTe06u9uSqCJCwIijZWaRI3g4tqDIz9d/XpUei3i1yrajkKwL9chOYy1TNZM5P8Y7VGyhsDUPAn0Wul1GcxyqjPbR/9S5hS2w6VNzdZpERh7O4zYLFBqAlI4v9DtqCO8QqaidaEDxgs8+8Mbim43i0nQ/d5Dln3jbUGtGipDyReFjY8zypt7e3GBnzCNUnvgBTCLGK5BfKgkwwRfUq/g+TKvkfjfB8CuWYJsvftNUh7JzRT1uKxlRAznCweXGCTBoKYB3bx/AP1v3MMr0MKw22zplY[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-164d17ab-18fc-70f5-6770-28ef9b007b28?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "969341042",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
