{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98d99048-c393-5a04-ea2f-9c19632311f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829F3DD24A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98d99048-c393-5a04-ea2f-9c19632311f7/test-blob-8c9c66e7-94f5-8c3b-cd78-54b53c84cf87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829F4BFEAB\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98d99048-c393-5a04-ea2f-9c19632311f7/test-blob-8c9c66e7-94f5-8c3b-cd78-54b53c84cf87?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "iK+pBI9o5ts=",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BE1ITCsYQ8pk3FPnGSuzMWJjYdNl4CFZEbt8DAdsorQ53dVYb4ANn0zzzPm+pZxeckRc9y+fZSMr7ztvnDfD9zqerjxWW8HiVsKHchQom2seHZnDD6qFmXexLH9EnQMVL9S/H/dgBxeCeqFtGPMPA1TQUH6dAOiPGBTEpS5Cnri+cUNAaXt0vhWBQJUJGIGEoikrdE2Edy/sLwbim2LpQNzorqawzprZW5FoHL9ShgCTQAIFFilqOvoTUzl0kSOylwC5IGrb1NOOURi7G1tvmakGT1tg5CmyfXOrnHtgZMputYS/mWWVuGsvdsURrx+fo7qQbkLHUrPWBqL2LzhYLu1OTWXWsP9DcJbvMW5ko[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98d99048-c393-5a04-ea2f-9c19632311f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "957529945",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
