{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfe59cb7-1e21-b88f-6caf-89936d86cbaa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694DC58D2AE\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfe59cb7-1e21-b88f-6caf-89936d86cbaa/test-blob-75858fc4-b4f8-b5ce-8e46-71569073f69f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3694DC694A48\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:18:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfe59cb7-1e21-b88f-6caf-89936d86cbaa/test-blob-75858fc4-b4f8-b5ce-8e46-71569073f69f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:33 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA7UBVlN07ZtuzPMKynBEF6zciC6ois5aEPyyiurDAWGTRqUCXcfYnCqkcy9W1nNSyl2rI38lWDj2t0VmwmKgq8uBd4PLMbnk8/wEBAee80p5X7CNF93ibf5sC6aCccm389dT1V7/h4iTxi+DIVQxZ8P67XKiE4P9rwmFbzYTUoIiTAAwOy3redg3+VG+X0yaOqPih4RXFdBDZiZVahhSgGOtUNVD8TymD2OaeioyP0+8+ySCMNr92zY/7MT3lh+/1Wj+EP5nVjl3PHgQvJu2ETbmmH7zwE+Ir4WvFARnvnlT6pSxNC5BRZT7GvRS3S6aedueAQ2QzBUpZWF4yEI1D44OzNIG9N0IlULZ+KVbNcJnFJo42a17wy6Pl97M2I1StgtmVBBMk[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-bfe59cb7-1e21-b88f-6caf-89936d86cbaa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:18:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1917574969",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
