{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c14f73cf-0d92-6ec9-159e-017c1d222a26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5019F6A6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c14f73cf-0d92-6ec9-159e-017c1d222a26/test-blob-5e643ccd-cecd-800b-3884-09085bbd5c3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D5029015C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c14f73cf-0d92-6ec9-159e-017c1d222a26/test-blob-5e643ccd-cecd-800b-3884-09085bbd5c3d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "N9IYNxOEdelVlVpcWzZVKS9vQ6d\u002BVfdAAA7vBIbpwvNwL1xG0jd\u002BtQC6f5kgeyP13zUGhzAeBOHb1zcElHBja9Jm6yvZD1f38Y2nxNZeH4Xr\u002BSVQ4zrDUit6a/oAeiCPVhPGuY/4G9DeDpaidj8KfLixGZtLEoiYo5j/X6Rc93ZtGG3Dl2b1895VctSjIdvrb\u002B5CTmGFQ0SKLhb3\u002BLwrgRcfNF7RR\u002BVRvCa89p\u002B09IG8E\u002B\u002B1GagV6NQpOGlP/voiKfC9hOx9GigJ8JI7yE2k1jqUOuTMdWhuCUyJqA57Ar0rms2v[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c14f73cf-0d92-6ec9-159e-017c1d222a26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1721669293",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
