{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc896cd7-02e6-a53c-a824-3da698e4693b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BFE8AB90\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc896cd7-02e6-a53c-a824-3da698e4693b/test-blob-d905ce81-d069-8240-15a9-25eebc6f1838",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BFEF2861\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:52.1732193Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc896cd7-02e6-a53c-a824-3da698e4693b/test-blob-d905ce81-d069-8240-15a9-25eebc6f1838?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB/M72SF+dAxL5MBEwJOFaenBznoymV/ePl1ZkGkyxu3EgzgxtM9QrXtPYV8OlU+8ua3+WxA66c6jXZrEFOOjCS3SgE1bQ6UqYSEO8zgA36kdnOa7RGvNmZl5nmcknIiHnFghPAUCUWYI0+n/K/aGko3xtof858SyFPaj0bVOBdSod1bf36OUG0twsmBx3m2S4vvZIuXwiqSDbxceXn+wut4VVqSvtsLqXatMjDVkQEaJEP65ZNL+p+yiXGCMhczLz/eSbHfI8zw47sU6tA5/Hy7QhT2A90YLFr63/VpSbdfucLw90dPOwB2ygIYNs+PuMz1Bq/CPOtihh1XJAQXh5oDtXENSMU1bEcUv3nbP/WLK2codELHnX0XjnEp+Bb8X0Kn1EFegi[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cc896cd7-02e6-a53c-a824-3da698e4693b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "399045119",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
