{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c02d4a15-ed98-6592-c4dd-6b9655595124?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7A68DD7A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:12 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c02d4a15-ed98-6592-c4dd-6b9655595124/test-blob-93b6bfb4-66c8-34f7-2151-e2619f535f53",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E7A73EEC0\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:12.7026368Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c02d4a15-ed98-6592-c4dd-6b9655595124/test-blob-93b6bfb4-66c8-34f7-2151-e2619f535f53?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADOe+Qm/enfRZuVJgNypnD+sv6/DEa6rAtOv9mjk+6Dzj8OHXrhBW/sac774dhlOY7vPQ8VC0clE87Y1z0QO7GtElfEY4n2HayP06N3v8oz6YZLs1bebsP36QmrCC0x3C0cTs+BodUE+R9ihjikrVQDpe63xIhbzqSTzHp/ShR/XfZ2WnH7skexR7k2fOeKUzu1qGM+ehilwYAr7dVahK8K4ylCLVLiB/KnBn3OJFG8CXg/yqKxQOLe0Jnx0MVyVsIKK5m+SCXo0qBwl3Sa15wubuNcG7oNWaNGY1y58TctNa+7w/m4/cBSVvgBQahuQ/n8wmHhFTsH/dL2eOTJLuFoQ2LE3xOjdnEjCcTBCxf61x9jvC7WTB90s8YmwoTbiScXmf5GqmT[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c02d4a15-ed98-6592-c4dd-6b9655595124?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "790771690",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
