{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cffcd2bc-39b7-2b8a-d0d8-36a5c856f904?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CDDB2572\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cffcd2bc-39b7-2b8a-d0d8-36a5c856f904/test-blob-dca603ba-6fba-d5de-fac5-cea35ec75e7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22CDE090E9\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:41:15.5656937Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cffcd2bc-39b7-2b8a-d0d8-36a5c856f904/test-blob-dca603ba-6fba-d5de-fac5-cea35ec75e7d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:15 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADf38/tSTvLcXogRr2oIC65P5gF1skcXqPn4ICRMONF/Ad9ih1Iq1VkJhpjhc4veZ32YTb+hhtKwoErBmi6OUGW2km1KpUQcJNCoLCvudnUt2bjms6sRnbsM8ecHKXsqu3YzKuFek4H5fGju+ZqmgmnVk4B1p5z6pPTyPfNdFPtVvXD1u0tTzwY3LXcCYuPgpi+9MVW6tROZeEYsbJXOnGdtWXxp8QcegcR6frpluEIQ0ZeD3+Nl2shdXELFZ2KwKJEP1MlntrUoXq+RQHZZM4AD21r+SrxDx75zzJTEWRqhilXpVeN4qVrim0Fz1FqRxCiCwUvH8Z3Ui81K86ogZAWVL7Ygb93ci3I/2+97D/Mj4cisAZeOmdi4FInWLbWwwjc7nuTksV[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cffcd2bc-39b7-2b8a-d0d8-36a5c856f904?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "714431807",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
