{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-83ccf380-44f8-9802-f9c4-1a8db077a55d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8631CED2E6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-83ccf380-44f8-9802-f9c4-1a8db077a55d/test-blob-3791b216-aa41-bf53-cb89-3ddd285e3142",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F8631E79732\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-83ccf380-44f8-9802-f9c4-1a8db077a55d/test-blob-3791b216-aa41-bf53-cb89-3ddd285e3142?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "O\u002BAqkYuRb4nIKhwNKbUgmw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dMP6LDAOla3\u002BmllCcK8bN5rmo8jLrEY2W04/1X0GSU8SpN65x/wC3FP\u002B\u002BX2LxIBjiR1SAjfbY8d8xNHhzsAw\u002BFAJMMzRYW\u002Be48Z1zLLJqpfN3Etfs0cYNkAWPAMrIA6TzgEsgpW0kSeutB5xZpYUsxo5FPF00EQJ8fqLuiRsc8K34v6xnCcDGEoksf8pp8\u002BqAono8QwcH/28I5GZKdcCQUBbuYSXYxbzNvumTx9F4Ekq4bibg4K2m8MB9XmVae9zIW\u002B\u002Bze1LEp5y9boRds/ed0NHb0gfZr6\u002BpR7Blm6dXc0LMi2v[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-83ccf380-44f8-9802-f9c4-1a8db077a55d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1194260583",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
