{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b6af45f4-14e5-e253-1b3c-4e968622b197?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F68283A0FDA\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b6af45f4-14e5-e253-1b3c-4e968622b197/test-blob-442cc343-46c5-8d74-d2cd-4c70ae203119",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F682847FE20\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b6af45f4-14e5-e253-1b3c-4e968622b197/test-blob-442cc343-46c5-8d74-d2cd-4c70ae203119?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:07 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABUkGfzQipDqzH8MO34BK9jNZcyCdbJ5/pmprEiHv0FcJYg\u002BqNQE3Q5OKC1s8yJhIF4x\u002BAW41gliqhsjZt5IYwz9sBW1wkMEiEj\u002BNA1FDUu3SIvqVYd7ow\u002B\u002B3D65IbYvxcUgbwLMqx4bLW/8\u002BqH73ZzPbB5Snc1Fgc0F9yZES2bSji5IZJ3Iqp1tj2hXvuhtwz5hqbWXnWf3mq11xvQ31qHJKmyzc7j/BsFBJM5lLgMkl/Pn4qHxOvDGUInwkuPpNfjGTpS7\u002Bk\u002BFYqL0FrhZUqyqUW7AT/PAF\u002B97rOLuzrPdl\u002B8Vnp\u002BuqJ1kYkA\u002B/OR4bT4dRkG06OXExn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b6af45f4-14e5-e253-1b3c-4e968622b197?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "657892765",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
