{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ff71a28f-003f-aec0-c6ce-09be05bc34ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:49:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB65BFD60D4\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:49:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ff71a28f-003f-aec0-c6ce-09be05bc34ec/test-blob-f8738312-ac27-34ca-19c9-c0bf1e1c7be3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:49:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB65C0619E2\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:49:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ff71a28f-003f-aec0-c6ce-09be05bc34ec/test-blob-f8738312-ac27-34ca-19c9-c0bf1e1c7be3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 00:49:03 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABG2u0ZKTsy5dgl+1pAeb3EFq+lS6Xwh//qmD6n1ZJVhsNt/xYUnjDdhzBrPyBKw8Z9DyBH19WrVlLtLpH8ihBGz3SX0nqmr3d+x8R1hUffn9V4KsZyDq7uwqnEJ3Cf4fwfJW+rs/BL12CpyBAQNtELDo67g2BK1MDFqBDQ4ogH3+bHVV/XM+zkLFNmyEae3YvXuBnh412c1VCu5Qrge/XXoekpSOBxNNqi11cN5At6JsuE+CluJvuIK4APKE3iBLFdjidddZWrZoQ+PgwGj/FFNL8/W4LLaXvtoB1gYguMwNKlr1bjHbE12JKlMOfvgpyOyfSOoqgvkiWrb9R4SwR4sn45YN+bYRYNCYPvJjiU/R6A0ZgX/h0qdh0wOK3dvY2NLH5otiK[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ff71a28f-003f-aec0-c6ce-09be05bc34ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:49:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1559740098",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
