{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b90e7b30-7188-c9ad-e681-a6a551fbe000?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D9228BEAB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b90e7b30-7188-c9ad-e681-a6a551fbe000/test-blob-40c8ec24-4a6e-0177-0b5e-c3c323e94205",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D923891E1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b90e7b30-7188-c9ad-e681-a6a551fbe000/test-blob-40c8ec24-4a6e-0177-0b5e-c3c323e94205?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "EKm8ilH9\u002Br0hfC0tFkZ\u002B7A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "9CDSxyNmnC3LjnwRwN4qWteuvDU3vH4jCsmG0QpO3nPq5tp9uOLTgYCXWPLslDngtJ2K8gxYkzihr7xa4MojfbAIJ9oDrKL12zq1n2OLNnaQphxsw\u002BtnklOi3AgmeaG1dNtC5G1f3Aj7lRbSovPVFXlGyjqutrnEoJWHYdCZz2KZ/yuISVEIMMoUcS7Vle9fzcaP4K5nBr0hfUPY2Hs3YcW0OKLHTMwnPZlwmkWK7wulJ5MKCe\u002BzMvluZswOMFhO3A9oIFxMl4D5aKIV92t4lo04MrDnLFfWAQapWeb/GQ1AIb01Is6vWY8SEKFMnTuN9tA\u002B1f2oZ7C4kR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b90e7b30-7188-c9ad-e681-a6a551fbe000?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "564483819",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
