{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c5c7aa2-917d-2fc9-e7c4-0aaba5eb839f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE7805AF3AD\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c5c7aa2-917d-2fc9-e7c4-0aaba5eb839f/test-blob-8a7cc249-9f0d-7f73-c743-a985df770a82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE78068FD6D\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c5c7aa2-917d-2fc9-e7c4-0aaba5eb839f/test-blob-8a7cc249-9f0d-7f73-c743-a985df770a82?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAfzn+eX3PWE4AyaU2Ts1Gy4X0MkL+LZkoo5zBgt9jSU/n79g+1RC0rPxh2B+6e/7OlJD/agqVDlGg1dnhDdVuoYBVUmLxB/JxQ4FGnFF5bied8u5KY99FTt2KngM606Mm8zqfZSmf3ZCeiiqJUm38K2eyQxrnIEGhEAOBZmnzOm/iH6ka2gj+AhFdr9W0u/xvjnKfhJCEQ874+lEmGncqr1O+pzLE5U1asD0JiXRv7FgDEdv3V7HbWd/aIeO71+uaNvyB9hDJqqklQNRXfrpajQ35IwSfM1ud401W6sNtothRb1J36fZHNWsy0hLdh98hg5TRwrTi/wOk5BbHdsPlt6H4Ag9n4qMXtemdaGFEwFtuMWcum+AnbnBO0wHjf8KnTRpw5YXP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4c5c7aa2-917d-2fc9-e7c4-0aaba5eb839f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "791256278",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
