{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-48b36c93-75a1-f9e7-5e59-03544edb4399?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE77FAD4F12\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-48b36c93-75a1-f9e7-5e59-03544edb4399/test-blob-b1e9b227-c7a2-2cb5-b330-b1a39c7989d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE77FBB0A9C\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-48b36c93-75a1-f9e7-5e59-03544edb4399/test-blob-b1e9b227-c7a2-2cb5-b330-b1a39c7989d4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA45TthcySkNbfoeF7OLk5jzQ5le4W7QQzGsZ9LMgVp3A3GgMW+KoHKLiDPb9Lo16AEx+JSjrpbfaMvm8GFWQOyfptRCK2IpKOMmk1k7NE53tr+R2ojF01SawMhj47ARNUcHfE2l8/yeyM+xfNt9pHR9b3nhxGZj2dO/pyqZxUUzFZ4R87gA0cKDMtH5FFZ5HRyT5nR2b3Dg46J6JgySBQNKvmd9K7C8fJ23HtGUqoV9BooOBd7Q/KZtcRAVxqv18O2OblYvPDFsF6nW/xBfTDjdPR9Cg/8kecGBD/qgZnXxgS3jxnxvTgqYoi51Of1VzeUXeImMcy0uqfSUrew2y7Ez5T4iu4X8re7U6iHQ73/EK0HViS3sJU4A9VxHmqAeYZZ9ART/cx[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-48b36c93-75a1-f9e7-5e59-03544edb4399?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "114179375",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
