{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73d30421-261c-563b-3df6-5a80f4776d04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BFCFDCF7\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73d30421-261c-563b-3df6-5a80f4776d04/test-blob-df6b6aad-ce56-9136-1167-a80ba74705f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BFD66500\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:52.0109312Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73d30421-261c-563b-3df6-5a80f4776d04/test-blob-df6b6aad-ce56-9136-1167-a80ba74705f8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACY2syxsH5yUvMLcm8OXSoQzdQBGKmaaJAXYbmn1qPh+Ij2RFFfdtUAaXvekENYLOyB6J8RBwt3/XI8mk/FynxQKXrmGBnYsFb/Aa8uu9dMvjXNJu0D0PB8fkffI9yFO57+jmfJcRTSqDdJEgVcSUGa79sa96SOTViJapnS+Yx6ecYQLy1vgkwh+n21ur7qIDUFRDQAa0P5b0EOPwd6AK+qzpg/SxkUKmyO+f0n2ZOan0lkzLRYeQ6DFr/sYUJFpvnOCusmq9Qb8RnHcXJF0pauc6C9FjT6UlWKvDVaJ8kpSVIEWc6odPR1SNubkQibPUQoPu2ih5DF1LiWnO6fwclQnScfQXnIBv+sSM1YX8FM7n7xMenbh8LCPoQVEdgF1ocRSvPgfPz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-73d30421-261c-563b-3df6-5a80f4776d04?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1927978974",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
