{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dcbab4d8-84b0-91eb-94f5-f493276745ef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829DDA68B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dcbab4d8-84b0-91eb-94f5-f493276745ef/test-blob-aef25bc1-b024-695c-96e5-ef46478dc8a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829DE97F9B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dcbab4d8-84b0-91eb-94f5-f493276745ef/test-blob-aef25bc1-b024-695c-96e5-ef46478dc8a6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "qSJVRhNa3qSo02/PBydB2w==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "HobCFD1Jm684N9XwetEbH/nb92VtAa9TQPWz7BMLmKd5Xvvvs+fbUiZJCgiqkF4UffZ3DmfhPBzXb9RHla+cLZ4udhzVLGsRAKU/JPamqK+Xn28dk4pAmCHfF0QSk7x2rN1pfBlCPlGKZQ3BoRglMcYlsPVAf5oU7d769hQn/23oyHgZPCuVVWAeki18fvYJueZ97ePGNixDVY47R0g8Y2ag2NmfC/Saj1uVIu1smG7n8DwuqRKKIpJL1uecWQ0Y4S/G26Udaa3x4l2HMRM/1rwgU1YLDblUFrZGUzUN/TVNfEC+przIyoePPca0AvB+DAAqfAa2DNR1csXu1hV44+QnObTTg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dcbab4d8-84b0-91eb-94f5-f493276745ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "360586127",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
