{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8b210964-20af-d45e-ae0c-89bc84e4f233?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86823ED28B11\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8b210964-20af-d45e-ae0c-89bc84e4f233/test-blob-5b94478e-c403-e8bb-7878-ba8637b8389a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86823F131387\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8b210964-20af-d45e-ae0c-89bc84e4f233/test-blob-5b94478e-c403-e8bb-7878-ba8637b8389a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "mKAonmTlMh4r2hctlVltTQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "V0QV7uFl6sgPd/u/zaZZRXgnRzFTms4d0peBOwUrse1G4WA2U6V/DmnISO1o1a+oYFBV0Vt4Hbx1+BxK5K7C48UNeetFIvHTpznHi1HhtPzo2dq01t+SzcOjwVuJNSq6BWQnW1zDYj5fgiohsJJrk0MfYgrTDg3le6sooWCVSnIPDYbsuVmgJHacVVO1cR0xOC0YadMf5/dXQt+xm8Ddyji3EaMLftrpfz2UN7i6LwqN9mkzfOCf8CWPlXd57om1vosb/l95JblTLuqViq8+nBLVI6RXqk1YGCF9fOhib5C033gtnjGqFNGv3031CWV1UPllpMrkXhQ9wuU+/KjR8b5a4Ks3E[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8b210964-20af-d45e-ae0c-89bc84e4f233?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2100464569",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
