{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86c6923b-d698-caaa-b37d-05223251a04b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BF3774DD\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86c6923b-d698-caaa-b37d-05223251a04b/test-blob-1f5d1df7-d445-48f5-ed5a-f59c6fd196e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:50 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22BF3DDD5F\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-10-15T19:40:51.0113119Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86c6923b-d698-caaa-b37d-05223251a04b/test-blob-1f5d1df7-d445-48f5-ed5a-f59c6fd196e8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:51 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADsJ7UwZB7pI4Avc/H+jDH/a3LG8+enPEd+qCciLNnuUzhpMnH94i0+VUd34IBwLq2Z68w0+nuHROtusbz2x/enQB+4lVq/AYlFh52fMFzHDnl6iEAMuVm94e2GjzBxR45Q0J9guJlT2elD73Le5xSOp6NCfD62mobG+7NsOXJY0z8OT1+8Z1bgJq5WyMrm3vnZ9+eML8tQmTUYmbzl5qB36xwyz5e00kBNYVWPX9K84By6k0GLy6R0vrYqpM2Z+0AO392tsw5hJSWnP811wDljW7mfK1Ne6x93vhHhii1ys2YVgYD0DiwNWG0b44zX/v18xkgU+c/sr/O9NvX9gJr4NItmYD+5bkyMktPlQgiToL8UZcPlXrqWKdGMN9g3ENfTI68AcJ6[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-86c6923b-d698-caaa-b37d-05223251a04b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:40:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "162920492",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
