{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a2dad-041f-a86a-be50-fd3448e075f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829BB6577E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a2dad-041f-a86a-be50-fd3448e075f6/test-blob-8a7325e8-6ccb-2ae1-16a4-ed570e8452b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829BC7434A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a2dad-041f-a86a-be50-fd3448e075f6/test-blob-8a7325e8-6ccb-2ae1-16a4-ed570e8452b0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "UXQDoJMjY3sV+rVDgynN2Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "e8VSjm++7fqD8yOgAAgeTJlw7Fd2PQ9mSddn+GQeM1picObEHygciQJvtfPxEcjHbgLxw43EHD627EWYV/WVZL/IPpAhWixxVGJUB4gbdTgOoIpiLXDNnVOoDjPigzIN2lA0KNM4pRPVgG8rcBW1mncNirdrMzdP+qA9eEz4jtAvRyw350xl1fp2jK0Boi098nO81fl6oaYZ5S4y+y3G3PGe+yjofrMqp7S89KaJTVhz/4bZPLjWtKWGHQEdMtrNr7C7YqcEVHTAkS1FvqwAj5fWv/um7aA4x0aCYmCxDXXa70T2zuuwbqoRGaqKkfb4hY5qR3PeJsIPgpphgfETDoS4a85nC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f75a2dad-041f-a86a-be50-fd3448e075f6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1214962348",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
