{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd3e8621-f8b0-071f-e898-92201b2c8d46?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868240EF70D3\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd3e8621-f8b0-071f-e898-92201b2c8d46/test-blob-657c5433-bb09-8aa1-a002-b5f162a34682",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868240FFC56E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd3e8621-f8b0-071f-e898-92201b2c8d46/test-blob-657c5433-bb09-8aa1-a002-b5f162a34682?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "nk6PKsehLKY=",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "dprNutXp9lyPpINrSYLoVP+dEOaoM3c4XHn7Yz2L+YbBuCaDxd4fJz4nyyqeZpPEqjJrA7OdTUMilV5b7ZIeA6r9qZFcZY8hfeingWdNmfXmN7kLIPbSI2riYDCAxDmsCMd/obwCZ0WiSoXK9cvb1ftodbbYE+OzKoYmeQRfoLmv+3mgzfg55M90adVxCC6eB4s0F06C0/XkzHY22+5AQ6nMG/pSOwgCL5HnZKkNQiJYiHJ5KohqLCeEuwGCAgjhMyUrpe0zTMyDMui9m29L1olU3lN7xxkgYe7Szn8GgCyIBjCE4Z00JDum9fegrJG3OOV4LSS1ZWsMCkP+YX5MfLG8NZU+x/TrH7oX1dEhg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cd3e8621-f8b0-071f-e898-92201b2c8d46?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2013368433",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
