{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ccd7b242-2044-5503-fb88-7571cc64ac64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E79C3931D\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ccd7b242-2044-5503-fb88-7571cc64ac64/test-blob-7704f3df-25a7-1605-823b-9a9fffa95324",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E79D03804\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:11.6297220Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ccd7b242-2044-5503-fb88-7571cc64ac64/test-blob-7704f3df-25a7-1605-823b-9a9fffa95324?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADvBIwmXcAOAFDt1PAdbyPW/B8rX/l6tEv/SmJ9xzOpYT/rpS2XZfiFX2rhwwXQW4kNpDEga7UddVBBJhJekDgcQ3KxMsr1P5YnpQCOmfFFL+/ZcCMCifaJzTDcVT/lJ84xxH+THym/F2Sb+MW1jttf+/cjhSAVGrl8J2SZGelWQn0xXdRxsg/FGVi+Z5Aw0z5UfVpIwqKuG6rGFvfEJf56RLZIhDEG7knnXmvHV7IoS1QmRZuPDn/agkEqq5sYAPRZQyPa508NTY4QYGQ35sT3ncqjnt9i6zU2bQHw20Otzl12bhOPTmQEGPcMfq4bopx8Mw3QdWEU9lfuo3pOHHFLY5IGwXixZ09mnoXnVm2HGsplc6g13Fj7YXe7oarptvuGwRsbFeE[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ccd7b242-2044-5503-fb88-7571cc64ac64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1303986402",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
