{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-488b1ac0-f869-3a0d-3664-5ad2f61c11c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCC4269D9F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-488b1ac0-f869-3a0d-3664-5ad2f61c11c9/test-blob-c3f15467-abea-a628-45f2-33bce4b72b6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDCC434F581\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:06:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-488b1ac0-f869-3a0d-3664-5ad2f61c11c9/test-blob-c3f15467-abea-a628-45f2-33bce4b72b6d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:32 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC1FhfddYhp8ZtoQn+Fk/ZaroZOb6F84G3FpaNdyg7LysH8xCzE1138HIr5gAHGl6tfqsHQ7LfUOTaqGNDkDCaMnHe+iM7JltYpUlMXgl9s/w33/R9N+90KKIv2Gb+NFw9jbeSJCA7dlRTqp5pkvbfWPhjC7Q4HP6GZs2BD0nwXmztEtBV74vf+GmgLYlNDpmrTINunyioAWy1D71SumcKX0wteHwmiW1sgxNKm+91NVg31b7KgcNEQQ1jnOPOjUICldI9H5IZhMcWAhgZXWV9Q9ZlGuSkQ9mM6TtywuiJofXNSAYdOBXGHkz7tIOrKuen4lkJZXZZWlX0rDZapsXaiFwiSBVjYAu8ovibrItZ4b5TytyPgDiDd+2sKIvja3eLHSwjhOLO[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-488b1ac0-f869-3a0d-3664-5ad2f61c11c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:06:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "174640936",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
