{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2c0cc44d-58f9-035d-fafd-e86331efaa72?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE780953D83\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2c0cc44d-58f9-035d-fafd-e86331efaa72/test-blob-4028b4da-1899-ecc5-6ff5-2f3bd005cbf9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE780A3473A\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2c0cc44d-58f9-035d-fafd-e86331efaa72/test-blob-4028b4da-1899-ecc5-6ff5-2f3bd005cbf9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AicEAAAAAAAAAQABAAEAAAQAAAAAAABH8lhMHcSxhQNLTDjXyjWjtA8foWxj43Bwn+r5nxqTrUTfS9v+/bt/3v1DQyOLMKOShPIdEts04w/o3H7at+bpt570935ZpLdUoMJuH59N5W5GZxsndptoqmfLFiA8pSYXWouElzglOeA7yHIYxsRwm/cPk1DLwUEDi00WjY2WGPucVsUTyU01IS06660pT+SjW3spLBHVTJhKgAvrDqtSpbB3fG/+XNKp2nEjkNaT2TtoczISbOvpxgosyUhCSROC6EX9stN0pf6pgFKgsrzCtqbQgpt4PznFjbZl0ZOJZpBeoKeQlido8800aeuYSRRNahOhccZ4CqgMOCQdD9NrHxnCQRIVMh9/Z47NRNZOLESiF2eA6PXJ5Zb+g14CS+T6yUnR1gc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2c0cc44d-58f9-035d-fafd-e86331efaa72?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "801736392",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
