{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bf1daf2e-2caf-e16e-9234-e5ebdb0dafa0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6828A4B893\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bf1daf2e-2caf-e16e-9234-e5ebdb0dafa0/test-blob-5cf4704a-a8f9-d5ee-c9d6-5801f2d04c9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F6828B4542A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bf1daf2e-2caf-e16e-9234-e5ebdb0dafa0/test-blob-5cf4704a-a8f9-d5ee-c9d6-5801f2d04c9d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABMqJgKojvEEnVpqbA4W9AjnUTE0RLdwA3WdyonGInODoG4xWjXi/7qRehcdu9XA7ip3xGgQ6spb\u002BeKMyoRnPrrmpovf5ZnSxFF2owpgEkdf3Rxfjl3LcvVj1aBTFfT2anucNxVJ4MiQZQAW2gf/\u002B6ebbS1nx3Bc2zPWfA/5v\u002B5cQDiOg9tyFfxTj2kd9Jito9n4t\u002BjHTmLLfxvhc6T4lqURuloPMTeMaVdxFHgHPyZbKJg2AQfFlPGVw0T/UKIXmviEDHp\u002BnrKiLE5RlnoqxEA1RgrMgpWdS\u002BVoeW3yzNi1Gbl/gzKsHIollBS5tD63qv8EigpXSthi5oBU1iUE7x\u002B1nHyA60FNiWmA5y6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bf1daf2e-2caf-e16e-9234-e5ebdb0dafa0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1614215407",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
