{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6c1377d5-e996-c4a5-cf29-d513a0191495?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E6131DC21\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6c1377d5-e996-c4a5-cf29-d513a0191495/test-blob-5a1d9be5-df6e-97f5-3410-2aa1a3c920e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E613E0BF1\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:30.4064497Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6c1377d5-e996-c4a5-cf29-d513a0191495/test-blob-5a1d9be5-df6e-97f5-3410-2aa1a3c920e2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:28 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD7Zvoj/P6cX4uIvfh6CKWlRbRp2AnYG2lCU1S5JVkesdWQobcvwCSqK7Cw8V67yeX2qk22k+/WI0uQ4Kiq4zoyagsj6mbtdYWQv61YJyoLh4pvwnoLZx3luX5sn997AEd2foZSl99+CDTIJtRBfvwghFkeOiHAJgLtPjDngdalFL5m4aijuO+q8LlFQkBJpDuCTBqFXMUmtleDZVmulodeIxIV25xTfMtqc0pneuTBpJn0ZTS7ILf5QCtQIFOW+1ky5h8uM8ifLs9OG+h7vjtzwcC/ujFSogNaHJpwAlx403jxNZPEknDQVDZlbQTPfoHw3V6S1kEo30Qc1BYtLyxz1kdwiomnry5Q7mX67TX+i54ZfyX+5f02yFZPqL5ZoiUK8Za9XvP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6c1377d5-e996-c4a5-cf29-d513a0191495?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2112676244",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
