{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-49230cd1-a332-0fc5-afa2-3ba538b93f79?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86823CB90061\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-49230cd1-a332-0fc5-afa2-3ba538b93f79/test-blob-67e52d8d-3b59-6637-cc9b-aece3a95c262",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86823CC69686\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:41:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-49230cd1-a332-0fc5-afa2-3ba538b93f79/test-blob-67e52d8d-3b59-6637-cc9b-aece3a95c262?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "6cP5WCsOiq4=",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "geQ/qLVgIKCTStS8wUEL0VLQcWU9RGb3zErV5Gc8uUS5CAEgnqa207LbZ8h2PRrts/npT79WnDx+R9xqizs4VpCPArlA6zKsGp6zYd2dgI4w5zFuUmqFY2vEoVfKTEd2ohA35jtgrcjGPTQgozpf4MZNOaMKygQmCp5Ne0nb4c5WPL7MZplTzzlopxU1ZMAxZcGQfRKkbNgMEdycEzF/61tmymZ7k3ot+WlqoSPv8KbeHBaHS2S7ss/mv1S9trwI6by5zplZtdFHY4OpOcq1HSA1vfcb95/3qxiXlNMlb0OsYbdmNSEMhWZEQOfhEXgEMaE0h/jE7PIcwiOBwSH9IfM//NcTTuf/KDiR1ra3F[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-49230cd1-a332-0fc5-afa2-3ba538b93f79?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:41:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "400212295",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
