{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7e185eb7-0113-e14c-3899-8720d9f203d7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E60DC27FD\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7e185eb7-0113-e14c-3899-8720d9f203d7/test-blob-7fabb8a7-b73b-918a-728c-0e672543536e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E60E9BAF3\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:50:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:50:29.8548696Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7e185eb7-0113-e14c-3899-8720d9f203d7/test-blob-7fabb8a7-b73b-918a-728c-0e672543536e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADsK29PN/XGARVXqXtCcCqPcniUWlsOMuHHFJptBW3xh4Ed74s519eVt5bfTXeneYJ7IWlWubtG3viOiCNbWPuoZSH5JICfVpuh/qPELuVpH5oX8uMEms7F1hGSqk60Ol6aNudWrVUC28vNtboYga8SJWmJRGYXpMtTNE1uDKtN7MRFKvj+EnJEFBYYNuQTrVVigIXkK/X4gpIbAnkHlM4gf8n201e3FBL3RC9P/23mQIb4C4wlaMHOTKhl4hD4PYBI+LYbHNr+q2xz7efFqYMkNcLyD4hC+hcHJ4avUTEC/gauBwe3yiOr+mAgsnraCaMkQa1NBS74Bf2fE/VUT1o7cO/gFqJ8bGqeRxUnIkicLR7iig+DtPjYtgEJGLcuV6oG5UGL+vI[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7e185eb7-0113-e14c-3899-8720d9f203d7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:50:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "889376728",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
