{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-15177831-1b78-df48-6ef9-7c7d402df8e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D545D43EF\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-15177831-1b78-df48-6ef9-7c7d402df8e0/test-blob-72498aec-ff28-514b-337c-2157e34af659",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D546D12D3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:36:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-15177831-1b78-df48-6ef9-7c7d402df8e0/test-blob-72498aec-ff28-514b-337c-2157e34af659?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "YtndaFmOScQ=",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "SWMKYURFAWn2lYEyaTJZw4oCV5qS9K2Q0SgSLEAWzt1N1MwhoA014KMyDZ1wiTJD08PgsV5dS1W2eY8bM9Uo4Mek5ZRlOCJ8zHb2YOYQIEj2zlh9NRx\u002B8Il3ayd\u002BGq3OCS3VzKSd3puhZOToZutupllGJGR9q6qqJfQL7cz7/bLJKFa5OlOkWfC83NE4loqdCMXNN/VIUV6DKqavkfDOpmYyHz6UtWsFostzwM/Yco5qbeQHLcW8gNb4NQ\u002Bs9MgA7jVqBXdLCVNZyJUq1JCOqrgYRSMLxnihdp9nnH9bWK0Cc9KZbmwXHmSRrmUwkatFaYtXlK\u002Bk9Ce9yY/Y42zT/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-15177831-1b78-df48-6ef9-7c7d402df8e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:36:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "155544144",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
