{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b8814b5-03c7-dbf5-fb9c-cecb50297d38?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829E108F53\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b8814b5-03c7-dbf5-fb9c-cecb50297d38/test-blob-f4af742d-20ea-cf97-4864-f6d72b0116ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86829E206973\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:44:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b8814b5-03c7-dbf5-fb9c-cecb50297d38/test-blob-f4af742d-20ea-cf97-4864-f6d72b0116ca?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "LqS0xoREFWk=",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4XbONfi2ddX58vIuq1h3f3bHeJapd0sz2Ih2va6txCbik7vtrfAOnESqDfqL1tivfrH2CYkeGmorm11wQLcmSy7MTBecitKGudxS/2pRqAGwxz/9t7ucw3hRwRKTnVuMg8HMvorAE/PfcE+tzBsA2fJbwHl3KZRyL4ieSsi/8xuAxXyphel377NLHkZr7/ddUecfON3iFFosWY8BIcgrH3wzLAaeV1QI49DFLApNBj+RQfngoLs9nbAifCtadc7rH//KOMLxvvqTF1QNHehP3lJPcODPS3/B9o9VfNoorm0C2gwLg858oIL/TIlmMH/I0p7ZCwXtG9R/CEEzm0IgamjmCkPcRFqE0tBdz/72W[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b8814b5-03c7-dbf5-fb9c-cecb50297d38?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:44:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1514849130",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
