{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_new_metric?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "New Test Metric",
        "description": "A metric created for testing purposes",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5JFo/zmDvSA=\"",
        "Last-Modified": "Fri, 09 May 2025 16:11:07 GMT",
        "mise-correlation-id": "24dede03-262d-4f42-9e41-bb4c8bb258f2"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_create_new_metric",
        "displayName": "New Test Metric",
        "description": "A metric created for testing purposes",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"5JFo/zmDvSA=\"",
        "lastModifiedAt": "2025-05-09T16:11:07.9100098+00:00"
      }
    }
  ],
  "Variables": {}
}
