{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538217313006382?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F31992791\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538217313006382/dir169538217317107824?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F31A0821A\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-22T11:29:33.1947034Z",
        "x-ms-file-creation-time": "2023-09-22T11:29:33.1947034Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-22T11:29:33.1947034Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2805801806637501937*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538217313006382/dir169538217317107824/file169538217321007005",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-date": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F31A5B17B\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:29:33.2286843Z",
        "x-ms-file-creation-time": "2023-09-22T11:29:33.2286843Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:29:33.2286843Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538217313006382/dir169538217317107824/file169538217321007005?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F31AAE0D6\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538217313006382/dir169538217317107824/file169538217321007005",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBBB5F31AAE0D6\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:29:33.2626646Z",
        "x-ms-file-creation-time": "2023-09-22T11:29:33.2286843Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:29:33.2286843Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538217313006382?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:29:33 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169538217317107824",
    "file": "file169538217321007005",
    "share": "share169538217313006382"
  }
}
