{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942848405105?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806392BBE0D9\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942848405105/dir177333942857204859?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806392CB3904\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:08.6098692Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:08.6098692Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:08.6098692Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942848405105/dir177333942857204859/file177333942864601200",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "30",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806392D5DB73\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:08.6795635Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:08.6795635Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:08.6795635Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942848405105/dir177333942857204859/file177333942864601200?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-range": "bytes=0-29",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTc3MzMzOTQyODY0NzAxODEy",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "E1cpht7uTxGFBcgYNlzTGw==",
        "ETag": "\"0x8DE806392E2508B\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:08 GMT",
        "x-ms-file-last-write-time": "2026-03-12T18:17:08.7612043Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942848405105/dir177333942857204859/file177333942864601200",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE806392E2508B\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:08.7612043Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:08.6795635Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:08.7612043Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTc3MzMzOTQyODY0NzAxODEy"
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333942848405105?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177333942857204859",
    "file": "file177333942864601200",
    "randomstring": "randomstring177333942864701812",
    "share": "share177333942848405105"
  }
}
