{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828338603001326?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:03:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7747EBBDA2D\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:03:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828338603001326/dir175828338632900634?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:03:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7747EEADBEF\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:03:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T12:03:07.4066415Z",
        "x-ms-file-creation-time": "2025-09-19T12:03:07.4066415Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T12:03:07.4066415Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828338603001326/dir175828338632900634/file175828338662908120",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "36",
        "x-ms-date": "Fri, 19 Sep 2025 12:03:06 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7747F18219E\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:03:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T12:03:07.7033374Z",
        "x-ms-file-creation-time": "2025-09-19T12:03:07.7033374Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T12:03:07.7033374Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828338603001326/dir175828338632900634/file175828338662908120?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Sep 2025 12:03:06 GMT",
        "x-ms-range": "bytes=0-35",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "cmFuZG9tc3RyaW5n5L2g5aW9MTc1ODI4MzM4NjYyOTA2MTIx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zbVUKzpxdlOCFsd2J6k46w==",
        "ETag": "\"0x8DDF7747F469E70\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:03:08 GMT",
        "x-ms-file-last-write-time": "2025-09-19T12:03:08.0079984Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828338603001326/dir175828338632900634/file175828338662908120",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:03:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDF7747F469E70\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:03:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T12:03:08.0079984Z",
        "x-ms-file-creation-time": "2025-09-19T12:03:07.7033374Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T12:03:08.0079984Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "randomstring你好175828338662906121"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828338603001326?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:03:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828338632900634",
    "file": "file175828338662908120",
    "randomstring你好": "randomstring你好175828338662906121",
    "share": "share175828338603001326"
  }
}
