{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBF99E61546\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:21:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBF9A145274\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:21:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:21:15.4688628Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "S7ZSdasLyRMsY3JOH4/lfFuUaIhut+zOzN+6K05kN9xKXgxpNsZ+Q3+YCgLjtBHZb5zZZIpbG2Ee2Su6mS7b6tunETUWFIxGwIwArxvfy4rnop3ioUVXd6fanN+yOspl5tOmrFnn/sZkh22SlcF0[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZQdxlGSqs4dCBGvuJEIOH+1U2+e8fGB/zvTDbHVy3WViesbnKSEwEKQsgm0yK5KivV50Xk5Ilj5u3m4YI9FoNggwd6YoFzsLMnL9ZoZqVrN5JZsHztG0cnZJGMR0dn66XYI48EZKBZlMBDDF0XBtIR316uzvrtW0lptu00Ykvbm4ha780jMMLWaPCkXLx/L/7rIwVIvwnxV/7x959Ikkktrw90aAA7NNm82tXNceEndMSndwkJQA5spzDcivk6As1QCAyfHK2cYYesGqvQMbATfMpc2tFfvPAYGT0B8BwvyXPhm6DyNvpqge9ynGW9FB9j2UZGAEsYkQZZyVffWo9RWxynnzyXrm10xD0R9a+ASKpMe6zQojf6H65PGHG5a3269RWbdmNrR6EayhceLcbTKxD22LX/4Mp2kOw6tgNfA85Wn4jOzboGofpPkkHrUxAWtKXazh4Xoy6Czi01mdkl0e6ds0cmp3DaHHJyhyPFn5Vdn0V3GkKMfHaQSONh/TMBOdfQSoqWD3TLOxZL44jwAQf2EHrF6s3uMkYmAh6RvYJ3MgTVl7j9UOtjrZQ17/HvGL1CINqYBvvjn1dN5I+inInOCyYvbRKhw18YOL18wt7EN/zsTyg/1eSzkvo1mY+mfDTxfnR63XC8blFDpBQG5N+HSTyCZbdsPahiX2ejE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBF9A71800C\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-blob-append-offset": "1024",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-content-crc64": "cnF9Fm8R1nA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identify",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-meta-metadebab": "jDrTPN7GCK",
        "x-ms-meta-metagdhof": "xN2GaJUOXV",
        "x-ms-meta-metahvxkj": "CARyopOSWU",
        "x-ms-meta-metan2szq": "RYTwgAnnzH",
        "x-ms-meta-metazm6nv": "EYAMiAUwcU",
        "x-ms-tags": "key1=value1&key2=value2&key3%20%2B-./:%3D_=v1%20%2B-./:%3D_",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBF9AA0C685\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:21:16.3913377Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EBF9AA0C685\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-metadebab": "jDrTPN7GCK",
        "x-ms-meta-metagdhof": "xN2GaJUOXV",
        "x-ms-meta-metahvxkj": "CARyopOSWU",
        "x-ms-meta-metan2szq": "RYTwgAnnzH",
        "x-ms-meta-metazm6nv": "EYAMiAUwcU",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "3",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:21:16.3913377Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>key1</Key><Value>value1</Value></Tag><Tag><Key>key2</Key><Value>value2</Value></Tag><Tag><Key>key3 +-./:=_</Key><Value>v1 +-./:=_</Value></Tag></TagSet></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "1048576",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "S7ZSdasLyRMsY3JOH4/lfFuUaIhut+zOzN+6K05kN9xKXgxpNsZ+Q3+YCgLjtBHZb5zZZIpbG2Ee2Su6mS7b6tunETUWFIxGwIwArxvfy4rnop3ioUVXd6fanN+yOspl5tOmrFnn/sZkh22SlcF00EX9IPW/lrHr5+PiIT+QdRMwLqnmfC7j+Fugjm4LlIQTavyP2F9cnhR/ZthH3xStHbsEpAi1hEda4jlqFUTW465Uh90ZMZM+uhlsRTBk92cphXqGGr6oqL6vinqu/i2qUFOdU4r6gnzrdPOXfZhNrdkFBTy0k+w5wEtVnvjaVNOjFI6SaBJemW3BTaKsZPl7nfWb5GyvrZXAGzqSiWnvHq4pR/[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "4607",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "S7ZSdasLyRMsY3JOH4/lfFuUaIhut+zOzN+6K05kN9xKXgxpNsZ+Q3+YCgLjtBHZb5zZZIpbG2Ee2Su6mS7b6tunETUWFIxGwIwArxvfy4rnop3ioUVXd6fanN+yOspl5tOmrFnn/sZkh22SlcF00EX9IPW/lrHr5+PiIT+QdRMwLqnmfC7j+Fugjm4LlIQTavyP2F9cnhR/ZthH3xStHbsEpAi1hEda4jlqFUTW465Uh90ZMZM+uhlsRTBk92cphXqGGr6oqL6vinqu/i2qUFOdU4r6gnzrdPOXfZhNrdkFBTy0k+w5wEtVnvjaVNOjFI6SaBJemW3BTaKsZPl7nfWb5GyvrZXAGzqSiWnvHq4pR/jPu[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?comp=userdelegationkey&restype=service",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><KeyInfo><Start>2024-06-17T11:21:19Z</Start><Expiry>2024-06-17T12:21:19Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>bef27580-2fe4-4782-b432-99a2cd303ddf</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-17T11:21:19Z</SignedStart><SignedExpiry>2024-06-17T12:21:19Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBF9D12A3B4\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:21:20 GMT",
        "x-ms-blob-append-offset": "4608",
        "x-ms-blob-committed-block-count": "4",
        "x-ms-content-crc64": "GzoZRUXPR1Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete/e8FQIIpT05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:fad93985-601e-007f-0ba8-c01559000000\n",
        "Time:2024-06-17T11:21:21.4128272Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/appendblobclienttestcreateappenddelete?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:21:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
