{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestobjectreplicationplaybackonly?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jun 2024 06:47:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8F6286B49161\"",
        "Last-Modified": "Tue, 18 Jun 2024 06:47:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/src/1.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jun 2024 06:47:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8D9CB9BC9E4CF95\"",
        "Last-Modified": "Thu, 30 Dec 2021 13:53:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Dec 2021 13:53:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-or-12887fe9-4748-4332-b48e-ba0263e4e588_bca345b2-9812-434c-a16e-c1f546ba416e": "complete",
        "x-ms-or-62052afe-9782-4be3-bcf4-266fd1281b6d_0d23e513-e492-4701-aae8-f04aaf407afd": "complete",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2021-12-30T13:53:41.7221013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/src?comp=list&prefix=1.txt&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jun 2024 06:47:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://testorsrc.blob.core.windows.net/\" ContainerName=\"src\"><Prefix>1.txt</Prefix><Blobs><Blob><Name>1.txt</Name><VersionId>2021-12-30T13:53:41.7221013Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 30 Dec 2021 13:53:41 GMT</Creation-Time><Last-Modified>Thu, 30 Dec 2021 13:53:41 GMT</Last-Modified><Etag>0x8D9CB9BC9E4CF95</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata><or-12887fe9-4748-4332-b48e-ba0263e4e588_bca345b2-9812-434c-a16e-c1f546ba416e>complete</or-12887fe9-4748-4332-b48e-ba0263e4e588_bca345b2-9812-434c-a16e-c1f546ba416e><or-62052afe-9782-4be3-bcf4-266fd1281b6d_0d23e513-e492-4701-aae8-f04aaf407afd>complete</or-62052afe-9782-4be3-bcf4-266fd1281b6d_0d23e513-e492-4701-aae8-f04aaf407afd></OrMetadata></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/dest/1.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jun 2024 06:47:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8D9CB9C04A7DA4A\"",
        "Last-Modified": "Thu, 30 Dec 2021 13:55:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Dec 2021 13:55:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-or-policy-id": "62052afe-9782-4be3-bcf4-266fd1281b6d",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2021-12-30T13:55:20.3081802Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestobjectreplicationplaybackonly?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jun 2024 06:47:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
