{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC1B9EE0D61\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat/prefix1-blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BA1B0A5A\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:28 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:28.1934426Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat/9SAJ0vU8HN-appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC1BAFF7C9A\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:29.6905882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat/IRTne8Onf9-pageblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC1BB2D63B7\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:29.9914167Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?comp=list&maxresults=3&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blobcontainerclienttestlistblobsflat\"><MaxResults>3</MaxResults><Blobs><Blob><Name>9SAJ0vU8HN-appendblob</Name><VersionId>2024-06-17T11:36:29.6905882Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:29 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:29 GMT</Last-Modified><Etag>0x8DC8EC1BAFF7C9A</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>IRTne8Onf9-pageblob</Name><VersionId>2024-06-17T11:36:29.9914167Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:29 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:29 GMT</Last-Modified><Etag>0x8DC8EC1BB2D63B7</Etag><Content-Length>4096</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>prefix1-blob0</Name><VersionId>2024-06-17T11:36:28.1934426Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:28 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:28 GMT</Last-Modified><Etag>0x8DC8EC1BA1B0A5A</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Mon, 17 Jun 2024 11:36:28 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker>2!76!MDAwMDEzIXByZWZpeDEtYmxvYjEhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?comp=list&marker=2!76!MDAwMDEzIXByZWZpeDEtYmxvYjEhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=3&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blobcontainerclienttestlistblobsflat\"><Marker>2!76!MDAwMDEzIXByZWZpeDEtYmxvYjEhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</Marker><MaxResults>3</MaxResults><Blobs><Blob><Name>prefix1-blob1</Name><VersionId>2024-06-17T11:36:28.4962696Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:28 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:28 GMT</Last-Modified><Etag>0x8DC8EC1BA493F88</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Con[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?comp=list&marker=2!76!MDAwMDEzIXByZWZpeDEtYmxvYjQhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=3&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?comp=list&marker=2!76!MDAwMDEzIXByZWZpeDItYmxvYjIhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=3&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?comp=list&maxresults=3&prefix=prefix1-&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blobcontainerclienttestlistblobsflat\"><Prefix>prefix1-</Prefix><MaxResults>3</MaxResults><Blobs><Blob><Name>prefix1-blob0</Name><VersionId>2024-06-17T11:36:28.1934426Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:28 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:28 GMT</Last-Modified><Etag>0x8DC8EC1BA1B0A5A</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?comp=list&marker=2!76!MDAwMDEzIXByZWZpeDEtYmxvYjMhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=3&prefix=prefix1-&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
  [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsflat?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
