{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC1BEB50AF8\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy/EPgNifdYq6-kNJEf9enQm/riRL7a1HJn0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BEE2B519\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:36.2128665Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy/EPgNifdYq6-kNJEf9enQm/83f75tToFX1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BF115F6A\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:36.5186922Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy/EPgNifdYq6-kNJEf9enQm/kecKkS66cC2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BF3E353C\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:36.8125244Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy/EPgNifdYq6-bBzV8aHX4v/SmVucbkfVE0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BF6A95F6\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:37 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:37.1033590Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy/EPgNifdYq6-bBzV8aHX4v/fTuxdCBNbH1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BF99DC68\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:37 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:37.4131816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy/EPgNifdYq6-bBzV8aHX4v/wc0GI6zUlJ2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC1BFCAA94A\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:36:37 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:36:37.7329994Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&prefix=EPgNifdYq6&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blobcontainerclienttestlistblobsbyhierarchy\"><Prefix>EPgNifdYq6</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>EPgNifdYq6-bBzV8aHX4v/</Name></BlobPrefix><BlobPrefix><Name>EPgNifdYq6-kNJEf9enQm/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&maxresults=1&prefix=EPgNifdYq6-kNJEf9enQm/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blobcontainerclienttestlistblobsbyhierarchy\"><Prefix>EPgNifdYq6-kNJEf9enQm/</Prefix><MaxResults>1</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>EPgNifdYq6-kNJEf9enQm/83f75tToFX1</Name><VersionId>2024-06-17T11:36:36.5186922Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:36 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:36 GMT</Last-Modified><Etag>0x8DC8EC1BF115F6A</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Mon, 17 Jun 2024 11:36:36 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker>2!104!MDAwMDMzIUVQZ05pZmRZcTYta05KRWY5ZW5RbS9rZWNLa1M2NmNDMiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&marker=2!104!MDAwMDMzIUVQZ05pZmRZcTYta05KRWY5ZW5RbS9rZWNLa1M2NmNDMiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=1&prefix=EPgNifdYq6-kNJEf9enQm/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blobcontainerclienttestlistblobsbyhierarchy\"><Prefix>EPgNifdYq6-kNJEf9enQm/</Prefix><Marker>2!104!MDAwMDMzIUVQZ05pZmRZcTYta05KRWY5ZW5RbS9rZWNLa1M2NmNDMiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>1</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>EPgNifdYq6-kNJEf9enQm/kecKkS66cC2</Name><VersionId>2024-06-17T11:36:36.8125244Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:36:36 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:36:36 GMT</Last-Modified><Etag>0x8DC8EC1BF3E353C</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Mon, 17 Jun 2024 11:36:36 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker>2!104!MDAwMDMzIUVQZ05pZmRZcTYta05KRWY5ZW5RbS9yaVJMN2ExSEpuMCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&marker=2!104!MDAwMDMzIUVQZ05pZmRZcTYta05KRWY5ZW5RbS9yaVJMN2ExSEpuMCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=1&prefix=EPgNifdYq6-kNJEf9enQm/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:38 GMT",
        "x-ms-version": "2024-08-04"
 [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&maxresults=1&prefix=EPgNifdYq6-bBzV8aHX4v/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applic[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&marker=2!104!MDAwMDMzIUVQZ05pZmRZcTYtYkJ6VjhhSFg0di9mVHV4ZENCTmJIMSEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=1&prefix=EPgNifdYq6-bBzV8aHX4v/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:39 GMT",
        "x-ms-version": "2024-08-04"
 [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?comp=list&delimiter=/&marker=2!104!MDAwMDMzIUVQZ05pZmRZcTYtYkJ6VjhhSFg0di93YzBHSTZ6VWxKMiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=1&prefix=EPgNifdYq6-bBzV8aHX4v/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:39 GMT",
        "x-ms-version": "2024-08-04"
 [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestlistblobsbyhierarchy?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:36:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
