{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestaclandaccountinfooauth?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:23:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A5D978F92A\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:23:55 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestaclandaccountinfooauth?comp=acl&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Wed, 04 Mar 2026 04:23:55 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers/>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A5D9983E90\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:23:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestaclandaccountinfooauth?comp=acl&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:23:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DE79A5D9983E90\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:23:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers />"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestaclandaccountinfooauth?comp=properties&restype=account",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:23:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blobcontainerclienttestaclandaccountinfooauth?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:23:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
