{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestlastaccesstime?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBFFB5A37B2\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:23:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestlastaccesstime/yAidZgKDYx",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:58 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NUQW5K2fqUIPSn1XD6PZ2fozTDzw0uBzHiE9uyC9VA2i0U2N4B5aDpKghEhVDXhlbyqH61v8BgMoqq2bG6RY+sFqbq0z7te6VPUGQAVPz5cJ5A9b3If1R+8cXKL4UH4Az5qF1o9apoe8sehWI/GY/g9pAvhUm1pIeIu05yiJbvsUD6IuaWl0btQEFrfI40+qdXNTbfH1acvF1X9RzA+B8mbkFZ54g/GaRn/CokXO1G8eU8t/akICdiDsyjZURQc/c3IenmNSKnxPab7oYYf2jQtX5u8tkyFCyOKpiba/Bec5tQTDtXyiI559x4uarIBllKj+jWPUEIftV/deCJuN47eyHzdAAsgKgPnP4FqOC2Nkwz+1wy83qyXkpng0vVAcHLr/hJCUFjiPAXi8oWJyXASf1RjwHmr/niVLE[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestlastaccesstime/yAidZgKDYx",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "bn13fKX6xJN+OSVxl0Nw7g==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EBFFB8892EE\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:23:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:23:58 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:23:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:23:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:23:58.9697262Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestlastaccesstime?comp=list&prefix=yAidZgKDYx&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blockblobclienttestlastaccesstime\"><Prefix>yAidZgKDYx</Prefix><Blobs><Blob><Name>yAidZgKDYx</Name><VersionId>2024-06-17T11:23:58.9697262Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:23:58 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:23:58 GMT</Last-Modified><Etag>0x8DC8EBFFB8892EE</Etag><Content-Length>1024</Content-Length><Content-Type>application/x-binary</Content-Type><Content-Encoding>identity</Content-Encoding><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>bn13fKX6xJN+OSVxl0Nw7g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>attachment</Content-Disposition><LastAccessTime>Mon, 17 Jun 2024 11:23:59 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Mon, 17 Jun 2024 11:23:58 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestlastaccesstime?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
