{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:20:44 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A5752E7071\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/y5HR2DWB6p",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "T1/fFblv554NtzSZsNzTniA3WJCow8RS/SvYzL5aVZ46vYZ63MgTJgSEBsskCRy94WWH6DjZkRgWJl3ZnbSHTpN3r+7jPLG4dVJjLRbfpiVzGg1vmD41ov1fgZrXqUnzt/86O47ja5WePOsguKOn5SilC70DeNb8IfGXe3YwSx+ht9l4SKRzl8A5luWWz6Tsp+5tmICg0DMB0wWfQ5VKjhF/ehVELZ93Mq/NKFvdJ7jVl9LEmWOk+rY1Mr2Wmy63E49mat4i7yYTYuqVwfiJbkcqrryTH21iwHj9Ch9tDRBzyWlb7OaCRR8F6zJid8rx8BnkA2gLFi3+K6L1ARCYyLw2/WQQTZpKIXn7dhH1L63ul2NqQKw+T+h5e8v236NisEtfSUzKKW7fyQncXY/WghazG1hnR4A8fcmYB[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/y5HR2DWB6p",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "jnVWe+0kQhc7r+GbpVmAKA==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DE79A5754DE65B\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-04T04:21:07.7793371Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/ecn75g5m0c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:07 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A575E0FC2A\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/ecn75g5m0c/2PjngAGRAufile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:08 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A576032523\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T04:21:08.9671459Z",
        "x-ms-file-creation-time": "2026-03-04T04:21:08.9671459Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-04T04:21:08.9671459Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/ecn75g5m0c/2PjngAGRAufile?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:08 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "EcoorzcQlYoOYOfCjnrqnDubbdEPnKq6bBrALj1NnqpuE5wPGi4L48ZomKKwqBjVJZ4ihNtAwaXenFH+vFaL9Q56JJcfFXiGu7ut8Zc33oNjrr8ZuqBYMFGazozD+f9x0SxDmB+1q4T/CNCZHZP2/nejNJFecCFzLmvlCkvoD6z+Lmf+fsmB5r9RHDXp12OjkK2Q4qVynF5rpWVzhiw0TTgfnC9yO6G4ExG5GZmUwoKQLK20YekYrKOdtN0EAT/A6ZRSHzMEic6YsbA776Ipb0ea7txXt5OmnQKiuobV2PsuysvKlY7K3/IPUmfKgtPOhMfewpuTcT8rbNB9eD8u7gW+mgNgy01UV9GLUxWoJJLdqrtnNJVE19suOK91qEmUxocDzhmgAQcdbAIOqA47PdJSt4CVmv3TLFPsL+3UicHLgZXMUk00qwrZxAwmm/qaQrVouHv3afE[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/dest9Sii58V983",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A576541043\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-content-crc64": "mMyIMwcuCaI=",
        "x-ms-copy-id": "abc518d6-0d05-46f9-8ba4-2ad35f40f6c0",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-04T04:21:09.5094195Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/dest9Sii58V983",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "+ds7/q9SUyCSnrYqSPUEZw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE79A576541043\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-copy-id": "abc518d6-0d05-46f9-8ba4-2ad35f40f6c0",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-04T04:21:09.5094195Z"
      },
      [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare?comp=list&include=copy&prefix=dest9Sii58V983&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blockblobclienttestoauthcopyfromurisourcefileshare\"><Prefix>dest9Sii58V983</Prefix><Blobs><Blob><Name>dest9Sii58V983</Name><VersionId>2026-03-04T04:21:09.5094195Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 04 Mar 2026 04:21:09 GMT</Creation-Time><Last-Modified>Wed, 04 Mar 2026 04:21:09 GMT</Last-Modified><Etag>0x8DE79A576541043</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>mMyIMwcuCaI=</Content-CRC64><Content-MD5>+ds7/q9SUyCSnrYqSPUEZw==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 04 Mar 2026 04:21:09 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>abc518d6-0d05-46f9-8ba4-2ad35f40f6c0</CopyId><CopySource>https://euap.file.core.windows.net:443/ecn75g5m0c/2PjngAGRAufile</CopySource><CopyStatus>success</CopyStatus><CopyProgress>1024/1024</CopyProgress><CopyCompletionTime>Wed, 04 Mar 2026 04:21:09 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/dest9Sii58V983",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:09 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A576B5EE80\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:10 GMT",
        "x-ms-content-crc64": "mMyIMwcuCaI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-04T04:21:10.1408358Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/dest271OcNOxLNR?blockid=MA%3D%3D&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:10 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "mMyIMwcuCaI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare/dest271OcNOxLNR?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><Latest>MA==</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79A576F485F4\"",
        "Last-Modified": "Wed, 04 Mar 2026 04:21:10 GMT",
        "x-ms-content-crc64": "dWg40M8cvAE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-04T04:21:10.5490420Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestoauthcopyfromurisourcefileshare?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 04:21:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
