{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE83ADCE6FC11\"",
        "Last-Modified": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb/PZHWYoiMpT",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WM/hESrhrlHYmoD+MjE/4tPR432SoumLznAJwnzMM49PDejL1FpwqYHRqbhRGxJWn9i2YCcPFOVGCJKp0d51GfKy4fWVilF6br6tuFFmgJd6zZO1AuReR5sRQItFY5ONqmR2kLr8u5Q5Mi8btnpfmjNC126WhrkqQTaB1eAAdg7wDNGa1qDiEQl3EJYDXBOdQoLhtao8NOJzpY6S730IjCEOwHZIaTW7rnw1clf5bjxTWyoUn+TNcYrcpqkAc+N7jct9YlsxToOK342E2fZm4IG+pa+DjY9n+GUn0wcBAb8ykZS7mdBthaw6CQa2RIUEyQwaJhENqG1EPzxQzZNhQ6WlsyPdGfTctR5tJYuQ2FWwRZPpZkz0kBDoiF8flAirzCX8XIDl92g54ReJt6xtfQ0wYVXbsWRKLlJTW[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb/PZHWYoiMpT",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "A7YsAMljuTWGVaO6h4WH4Q==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DCE83ADD4191F9\"",
        "Last-Modified": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-10-09T08:17:49.7576953Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb/PZHWYoiMpT?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE83ADD4191F9\"",
        "Last-Modified": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-10-09T08:17:50.3461172Z",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-10-09T08:17:50.3471172Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb/PZHWYoiMpT?comp=immutabilityPolicies&snapshot=2024-10-09T08:17:50.3461172Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:50 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Wed, 09 Oct 2024 08:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Wed, 09 Oct 2024 08:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb/PZHWYoiMpT?snapshot=2024-10-09T08:17:50.3461172Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "A7YsAMljuTWGVaO6h4WH4Q==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DCE83ADD4191F9\"",
        "Last-Modified": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 08:17:49 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Wed, 09 Oct 2024 08:18:20 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb/PZHWYoiMpT?comp=legalhold&snapshot=2024-10-09T08:17:50.3461172Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:51 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestimmutabilitypolicylegalholdwithsnapshotplayb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 08:17:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerImmutableStorageWithVersioningEnabled",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerImmutableStorageWithVersioningEnabled</Code><Message>The requested operation is not allowed as the container has a immutable storage with versioning enabled.\n",
        "RequestId:68dd3aa9-501e-0081-0723-1ac19f000000\n",
        "Time:2024-10-09T08:17:51.7934854Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
