{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC030612032\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions/AwWim5zksT",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:27 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "o7I/gJhVXMNFnkZDW+Rf7+MWaFb4iEQd5mh0PftUPD9E6EIsed+NLPdg+JdTfXHNTe32c3Aw/jCH+xxU5FDGv1/H5qH3wCqR+jTGvOM+OF++0uF405hrq87JHV+P8WkeefwwOgU54j0aS4rc/0gC4n2fuDWYc3xR9ugaYDW8eXwSrPi5Tu25zymdsXSXHyO2uVvw1T1A4xf1uqZr//oS1ZK3rKABSkE6x3TLC3lV7Ce+SsjjEd2myW0bEIjp6LwW1P91L2pqgXZmt9FbQHBElg7L1YfIHA2ZKikoecsTyldjMtKdxoL4AoIZa/HoPPabjKchWeiEOd5zDmzJuh1YnefIst7MC3bvhPyqaWEgrQl6EznMhcA+pS0+BCu25md4YDP3PowCRy7QSJeXQKoHdOEMhG59ngyszhQNP[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions/AwWim5zksT",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "hm/PfXVeDmOu4VX+vNhA8g==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC0308FEA62\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:25:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:25:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:25:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:25:27.9370850Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions/AwWim5zksT?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><Tags><TagSet><Tag><Key>key1</Key><Value>value1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions/destAR8wZLL5RN",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:28 GMT",
        "x-ms-source-if-tags": "key1 = 'value1'",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC031279BA2\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:25:28 GMT",
        "x-ms-copy-id": "71bbeb7b-b504-4822-b991-8a92835d1cfe",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:25:28.9335180Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions/destAR8wZLL5RN",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:29 GMT",
        "x-ms-source-if-tags": "key1 != 'value1'",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4ceba6a6-c01e-0082-5ca9-c09b7c000000\n",
        "Time:2024-06-17T11:25:29.2397164Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?comp=userdelegationkey&restype=service",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><KeyInfo><Start>2024-06-17T11:25:29Z</Start><Expiry>2024-06-17T12:25:29Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>bef27580-2fe4-4782-b432-99a2cd303ddf</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-17T11:25:29Z</SignedStart><SignedExpiry>2024-06-17T12:25:29Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions/destAR8wZLL5RN",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:29 GMT",
        "x-ms-source-if-tags": "key1 = 'value1'",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC031B099A5\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:25:29 GMT",
        "x-ms-content-crc64": "fw/5zJgo15U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:25:29.8310081Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsourcetagsconditions?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:25:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
