{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC0134F4891\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion/WuY3RZb1tK",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:38 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8uKeLGie4uy44UJl8XS/Sqb9yFcFUoyJATt3Ge9cL9LQT0afJUX+rFXSQmuIm5aNAzNCkTXgUIc+36ClAmFppgnFJpga/0wOMkRYZJk8pnCxTjgiT6Y7BOBF+ZW7Z+Psu2lioFk5//6fujRg5RS22apTy7G5/J0fQNLyHU2v8om0+XdXwPNhQHxYiDgx2kjG9O0ksxMrRqhT452gHoq9IunD9oQO+tMp0Icvqr3jwG3xAd++lwlxgSpOC9Tl2jU0Fxo33vGLrSGcjtxR5c0KBmFDJdHerX9OxOTwEaM/jW7T05FUCEzLTqU3yjOrWUBKXm9T496WNarMmDZYIZG4DaC2ZAaK2Q0iejtLRmK4ozokLVqueZl643Mk6jn26ai5rRkcqG4Azx5wQJGx7qBC4hKdnH5iB8Alh43Qb[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion/WuY3RZb1tK",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "uphlX86shwIBAHmCSTBvMQ==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC0137E2ACC\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:39.1668428Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion/WuY3RZb1tK",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DC8EC013D60204\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:39.7435156Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion/WuY3RZb1tK?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC013D60204\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-17T11:24:40.6110224Z",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:40.6120224Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion/WuY3RZb1tK?versionid=2024-06-17T11:24:39.7435156Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8EC013D60204\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:24:39 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:39.7435156Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion?comp=list&include=versions&prefix=WuY3RZb1tK&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blockblobclienttestiscurrentversion\"><Prefix>WuY3RZb1tK</Prefix><Blobs><Blob><Name>WuY3RZb1tK</Name><VersionId>2024-06-17T11:24:39.1668428Z</VersionId><Properties><Creation-Time>Mon, 17 Jun 2024 11:24:39 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:24:39 GMT</Last-Modified><Etag>0x8DC8EC0137E2ACC</Etag><Content-Length>1024</Content-Length><Content-Type>application/x-binary</Content-Type><Content-Encoding>identity</Content-Encoding><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>uphlX86shwIBAHmCSTBvMQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>attachment</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Mon, 17 Jun 2024 11:24:39 GMT</AccessTierChangeTime><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>WuY3RZb1tK</Name><VersionId>2024-06-17T11:24:39.7435156Z</VersionId><Properties><Creation-Time>Mon, 17 Jun 2024 11:24:39 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:24:39 GMT</Last-Modified><Etag>0x8DC8EC013D60204</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Mon, 17 Jun 2024 11:24:39 GMT</AccessTierChangeTime><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>WuY3RZb1tK</Name><VersionId>2024-06-17T11:24:40.6120224Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:24:39 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:24:39 GMT</Last-Modified><Etag>0x8DC8EC013D60204</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Mon, 17 Jun 2024 11:24:40 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Mon, 17 Jun 2024 11:24:39 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestiscurrentversion?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
