{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC017D92D74\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/CprlhWs1fT",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kgD+uMHlTr0mg9bdrXQie1IL4vHgvM2OgKf85HaSJYdDV+1G7qub5HHkoqKdjLrHBVsQDeMjHefEDPM55qNTLPwQmtiYwK9N1FTLl77UvWRvUsl03/6WoedbCoCvDY1mtf+Wj5kV3w3dGZzzGAbAAf5EBfrVkiyQwYyf1N1VifyKeDZDQasZ1kPAtQuHAreBBcHvmHMM/fbAFGnfiRp5nRQL5m2x41HqwJzCvdfVdvUmaoWOqIjTVNQA6OO+L0yuVcbnNHNNwcIsWF9sh6doVgcrshF72UPDo8ZxRuiDAAIb1Hwx2XErBEASXVW8OcjUpGSN5dH5AHdeqM/xMmo944Bm+xQ4hsFfZDnyTDNm5jMA+yevlqwZP+OICrKcuiZSdyQqXUODkhZMrlyEah5zJ3YvWClrC/5zSCKqa[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/CprlhWs1fT",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "MI6zhhwO0GAFLYiYhEq6cQ==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC01806B353\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:24:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:46.7735134Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/tLQ5uRL9zX?blockid=MA%3D%3D&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GDUwRCifWyQoEHh6qBhxmO917/qIgHA7UgSwJ5sUYoLSk/1PyKhR1y0aKUXUwJ22bPjzUmuqaIaIxOAFcfCjjyKXYveI3XEd9o71u80+T3gfEGk22Zp3fa8xNrpLjvRMYnJpOA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "1f3JA00OFuE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/tLQ5uRL9zX?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-md5": "MI6zhhwO0GAFLYiYhEq6cQ==",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:47 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><Latest>MA==</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC0188EE250\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:47 GMT",
        "x-ms-content-crc64": "dWg40M8cvAE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:47.6650064Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/tLQ5uRL9zX?blocklisttype=committed&comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8EC0188EE250\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:47 GMT",
        "x-ms-blob-content-length": "100",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MA==</Name><Size>100</Size></Block></CommittedBlocks></BlockList>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?comp=userdelegationkey&restype=service",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><KeyInfo><Start>2024-06-17T11:24:48Z</Start><Expiry>2024-06-17T12:24:48Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>bef27580-2fe4-4782-b432-99a2cd303ddf</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-17T11:24:48Z</SignedStart><SignedExpiry>2024-06-17T12:24:48Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/tLQ5uRL9zX?blockid=MQ%3D%3D&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "2R3PrnnFScg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock/tLQ5uRL9zX?blocklisttype=all&comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8EC0188EE250\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:47 GMT",
        "x-ms-blob-content-length": "100",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MA==</Name><Size>100</Size></Block></CommittedBlocks><UncommittedBlocks><Block><Name>MQ==</Name><Size>1024</Size></Block></UncommittedBlocks></BlockList>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclientteststageblock?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
