{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE78DFFF3CA301\"",
        "Last-Modified": "Tue, 03 Mar 2026 04:47:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart/Q3AhYmspLv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:38 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "baFnycKZ05U8GOa1hOFgDXIIHq5fG8r7/IVSvj1EWfIRpYhEOr4G5IwPfBKvKD7x8Bht/G+tl9NDjy3IsEQyUBr4rSEH0teTGZhJVFbh1ppcLmmK3dGmqG0pUQhfaXHtfwmqxh091eKMvvkDC8D5yriqVTw7DKqKAhoqfcxuqqqtKt3PyKx+EuKdHeeeO8HiWZ1Gctf7uY/GM3hF4T4CtNz6tCjIgYdZbFQr/HfIbwWXP0dBiNU4j5J03E9H4vk4HIc7Mzx3V5ty3QdpKV6bAE5wopXOKqAMyN7YA6cwRSgpayPZnhiGzfOryADFy3K7h1wNtdNjpgMwFLOhqOYFxEEwI1VVz14YmIYiC1alY5gmdIMVnmGo2BlZSuIcqlS5UNY24M+PBHqpENv6WSRv8ygbAS21L32rFCHiI[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart/Q3AhYmspLv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "B3TrqWj4nmcLHPNaGt09sQ==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DE78DFFF5C9DCE\"",
        "Last-Modified": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-03T04:47:39.0499000Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart/Q3AhYmspLv?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart/Q3AhYmspLv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "B3TrqWj4nmcLHPNaGt09sQ==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DE78DFFF5C9DCE\"",
        "Last-Modified": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-smart",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-03T04:47:39.0499000Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart?comp=list&prefix=Q3AhYmspLv&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.blob.core.windows.net/\" ContainerName=\"blockblobclienttestrehydratetiertosmart\"><Prefix>Q3AhYmspLv</Prefix><Blobs><Blob><Name>Q3AhYmspLv</Name><VersionId>2026-03-03T04:47:39.0499000Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 03 Mar 2026 04:47:39 GMT</Creation-Time><Last-Modified>Tue, 03 Mar 2026 04:47:39 GMT</Last-Modified><Etag>0x8DE78DFFF5C9DCE</Etag><Content-Length>1024</Content-Length><Content-Type>application/x-binary</Content-Type><Content-Encoding>identity</Content-Encoding><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>B3TrqWj4nmcLHPNaGt09sQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>attachment</Content-Disposition><LastAccessTime>Tue, 03 Mar 2026 04:47:39 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-smart</ArchiveStatus><RehydratePriority>Standard</RehydratePriority><AccessTierChangeTime>Tue, 03 Mar 2026 04:47:39 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestrehydratetiertosmart?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 04:47:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
