{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestdownloadnonexistingtofile?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:26:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC067604F46\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:26:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestdownloadnonexistingtofile/0eauJo678d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:26:59 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "z17Yv2gQcn6XuELMyd1HMf6IyPzCnSpnSum7qzlUhQtjKvsLeuzW3ms0iAJZG9jSFZWomnVgaggdlc5WED8lEu3yXUatT8yh+prs8DWgcku9nPM4RG4mwM73wG+4etW3EV+oitnXzRHj8hKc0W9q9UZC9aNPm8dIJGklZQKWvQ5ht1CNsEOiz4oNKmfoTtVWjreyazaJUo4IFiYx7r4VwghRCVaZtDw6Y09ymJhCWK036hmrNYAzQY+Ig16AXInl53ov3lT8k27weJboR2MXU6fUfwl6h+IP42CbhBHnCMF8zgmiOgoRVx8c91Te2iwWR+xnZCUC4qph9EHMK8z5RzIS2t3llZtTrbGNl778Gv+7c5h/EpoeBmM5gdDw4YSWrfxSlBc1iJ+8vOSrfGAoKMZ0yEd4lbHYEpRES[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestdownloadnonexistingtofile/0eauJo678d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:27:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "9v9dWd9GNnUufImRsKIvjQ==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC0678D9937\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:27:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:27:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:27:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:27:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:27:00.1975882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestdownloadnonexistingtofile/fRIuu1Eod9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:27:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:4cebd0d5-c01e-0082-49a9-c09b7c000000\n",
        "Time:2024-06-17T11:27:00.7902767Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestdownloadnonexistingtofile?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:27:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
