{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmalluploaddownload?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EBFF09CB016\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmalluploaddownload/V0FGC6m20I",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AKrGesK00U4MU2UkL0FCr7BOvjlvEId3mMmnbtJodAo2+9FDnN0YmIIKwsxhTzqHa4r8GD3wHm6g1pDucVFJA/WwqzMQt9VAdBY8fDHu0z4auTggSKuv9tHE8AhQOEQ62yY4A3+etVjBqyu9LkLxB8mqz4mZIlCCPBY2fuhVFHf+Yrv22y+Rkj+KwFMtu2Y1sF72ztXZ0tUJz3gwpUnZsqNM/iqRtodW/91mjCAky87h5PkXJLWzRsNk5a2RzykZk8GwWdJpviHd/ITbQLr+Nv44iBYEzJ/jKJpfGbw11ZP9TN74JSZOjzqud9Tavd1PCCrAWmfVWXikBhVGX7qZ+NxAM5x3Zm8jsiLvoX76pDuKNXlX0lpT1e7k7u7NhCHsXiKVp8y3St2tcSkDqRYaMjTbgfc1pxxSpc2e8[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmalluploaddownload/V0FGC6m20I",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "ggVhQVn753LABDAO3t3JIg==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EBFF0CAACC5\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:23:40.9479877Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmalluploaddownload/V0FGC6m20I",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:41 GMT",
        "x-ms-range": "bytes=100-299",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-Range": "bytes 100-299/1024",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EBFF0CAACC5\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-blob-content-md5": "ggVhQVn753LABDAO3t3JIg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:23:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:23:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:23:40.9479877Z"
      },
      "ResponseBody": "f561WMGrK70uQvEHyarPiZkiUII8FjZ+6FUUd/5iu/bbL5GSP4rAUy27ZjWwXvbO1dnS1QnPeDClSdmyo0z+KpG2h1b/3WaMICTLzuHk+RcktbNGw2TlrZHPKRmTwbBZ0mm+Id38hNtAuv42/jiIFgTMn+Moml8ZvDXVk/1M3vglJk6POq531Nq93U8IKsBaZ9VZeKQGFUZfupn43EAznHdmbyOyIu+hfvqkO4o1eVfSWlPV7uTu7s2EIexeIpWnzLdK3a1xKQM="
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmalluploaddownload?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:23:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
