{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestaudience?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:34:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC18360FAED\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestaudience/zDzqZAJcGq",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "nMoyGJd24j6bBSc3TqcAg5JMErNThvJWYgAjK2AGiMFY3L5QF4MK8dJCCcAYm8EIKOR135IBgaqrP+AC51nnUa26Q74beRBuM7LVAgKuWjgY4tvdlJ2w3I5kOafi4KqpVzc4J3PTblboEr+Zz/KXZShulVIFOXHBYiQpr4IwitXw+aEWLe+6+qmvA9iF81xhzkxyKc2pthHj7nX9tTdKABQKkPMrUq0Pspxcj1VKg43qNB8TAqkcRgtJoTjMpDqAVq41tXyTn5fZ6N6hn13VsFHgNhtLpd1u4+uA+1cikRGAXwZsGztcowO+/9Fqzm/mWWp6EITeKWe48U8eblLM+A7OeYzcLLVqi+AlP5GflWgsJdYLTqlybriArD+IhewSquRrCld37Fj5Bae8gwW7z+dILF3RI3R+MC3iB[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestaudience/zDzqZAJcGq",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "3xQt0O65pkC2VCDUT2zvgA==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC183916C39\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:34:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:34:56.6945849Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestaudience/zDzqZAJcGq",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:34:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestaudience?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:35:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
