{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC00860818B\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri/ev46vm34dr",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "sz2RNembspPMRVo4xx4B7QEJAbO9uNpsIIbKtZF5GydB/3Knqq5xd3QFrCu2u93OCTFFhZEuvIi1jA9CfcngZ06cf/gHDQ/WywYYISxue2yij2laX6bYbu58P8Ai32uBue1fi9rPIzFPMiSIRHijeMKTU4rZQkVQBYC2h1KcrYV9LZkvnbWEoczVpwfmt3pJwtQjRsAsmiUba1D+jk62SG8ESf2+/ocHn0xmuzLxdWT0xmdZAB92TpQMF7z3QplKIkqE6ND1S8xY2vMLnaGK6n6ujUwWDcksPl1fvzrevOzleUWO4cMDgPzMJVfGBu0BCpnHjKq71BFZiv8kTK/pSVFW1gwtZtWDVr5ib64AdMgVBdT3j0QDJ9FT+PaGFqWQjuj+DaumpGlwtzdQVMgxhR3oUq1whwr9KhGcM[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri/ev46vm34dr",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "2xlnydiC4u3AR1lOmOPI4w==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC0088E3F57\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:24:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:20.8172887Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri/bxSRrwZhJg",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EC008EC099F\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-copy-id": "b8d51978-1fd8-4220-b5a2-e0394106f789",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:21.4349374Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri/bxSRrwZhJg",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "2xlnydiC4u3AR1lOmOPI4w==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DC8EC008EC099F\"",
        "Last-Modified": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-copy-id": "b8d51978-1fd8-4220-b5a2-e0394106f789",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 11:24:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-17T11:24:21.4349374Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri?comp=list&include=copy&prefix=bxSRrwZhJg&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.blob.core.windows.net/\" ContainerName=\"blockblobclienttestasynccopyfromuri\"><Prefix>bxSRrwZhJg</Prefix><Blobs><Blob><Name>bxSRrwZhJg</Name><VersionId>2024-06-17T11:24:21.4349374Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 17 Jun 2024 11:24:21 GMT</Creation-Time><Last-Modified>Mon, 17 Jun 2024 11:24:21 GMT</Last-Modified><Etag>0x8DC8EC008EC099F</Etag><Content-Length>1024</Content-Length><Content-Type>application/x-binary</Content-Type><Content-Encoding>identity</Content-Encoding><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>2xlnydiC4u3AR1lOmOPI4w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>attachment</Content-Disposition><LastAccessTime>Mon, 17 Jun 2024 11:24:22 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>b8d51978-1fd8-4220-b5a2-e0394106f789</CopyId><CopySource>https://euap.blob.core.windows.net/blockblobclienttestasynccopyfromuri/ev46vm34dr</CopySource><CopyStatus>success</CopyStatus><CopyProgress>1024/1024</CopyProgress><CopyCompletionTime>Mon, 17 Jun 2024 11:24:21 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestasynccopyfromuri?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 11:24:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
