{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC1E97F997D7B\"",
        "Last-Modified": "Thu, 04 Jun 2026 03:29:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly/demhqshbYv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "attachment",
        "x-ms-blob-content-encoding": "identity",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/x-binary",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:35 GMT",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "zz889IsN99Rwsxo9kK7yZAN1CmM5HKxmpfBAt28T25NMciRQVNgj1OcNX4AffEkFSXVx3oBB5RucoLdWQIcevKkfdYfS6DiQuFUT1/EsdpEliVfDCVeiNLZ6wc0IoDna2Szw5G44CvIEDHGOn+gsdVaQlJh3OiCmEVsoxC2QR07WZV52igVov8QhD2Ygn5x8pbXxi5VxpK8ZDbQpq2mNxrK70WDTLMvszqHa8wzQccpGmGdQS0DpWYKgL7Gr3dWRwvEIPe67OFicnfkkNEreNFl9vM4dTt3eJS8XtiD6i6gaXdUNNmW7vPm3xTDDh3KGej89S1lXTErWW5QYNvdWPHTcLP9PKlaimNu8dYiJRButyYPbTOyqINP6VoK6sqtOaRu/KsoIFbD620PIOFmBlUfIrJjC9Wf4z1o1O[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly/demhqshbYv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en-US",
        "Content-MD5": "OdhKFe4Dk38ywc1F9FBP2g==",
        "Content-Type": "application/x-binary",
        "ETag": "\"0x8DEC1E97FB89E13\"",
        "Last-Modified": "Thu, 04 Jun 2026 03:29:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 04 Jun 2026 03:29:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Jun 2026 03:29:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 04 Jun 2026 03:29:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "V1",
        "x-ms-meta-key2": "Value2",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-06-04T03:29:34.7535379Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly/y7DM08a0dP",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEC1E97FF66BE6\"",
        "Last-Modified": "Thu, 04 Jun 2026 03:29:35 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-06-04T03:29:35.1595174Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly/y7DM08a0dP",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEC1E97FF66BE6\"",
        "Last-Modified": "Thu, 04 Jun 2026 03:29:35 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Thu, 04 Jun 2026 03:29:35 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Jun 2026 03:29:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 04 Jun 2026 03:29:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-06-04T03:29:35.1595174Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly?comp=list&prefix=y7DM08a0dP&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.blob.core.windows.net/\" ContainerName=\"blockblobclienttestsmarttierplaybackonly\"><Prefix>y7DM08a0dP</Prefix><Blobs><Blob><Name>y7DM08a0dP</Name><VersionId>2026-06-04T03:29:35.1595174Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 04 Jun 2026 03:29:35 GMT</Creation-Time><Last-Modified>Thu, 04 Jun 2026 03:29:35 GMT</Last-Modified><Etag>0x8DEC1E97FF66BE6</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 04 Jun 2026 03:29:35 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Smart</AccessTier><AccessTierChangeTime>Thu, 04 Jun 2026 03:29:35 GMT</AccessTierChangeTime><SmartAccessTier>Hot</SmartAccessTier><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/blockblobclienttestsmarttierplaybackonly?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Jun 2026 03:29:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
