{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.StandbyPool/operations?api-version=2023-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.StandbyPool/register/action",
            "isDataAction": false,
            "origin": "System",
            "display": {
              "provider": "Microsoft.StandbyPool",
              "resource": "Microsoft.StandbyPool",
              "operation": "Register the Microsoft.StandbyPool",
              "description": "Register the subscription for Microsoft.StandbyPool"
            },
            "properties": null
          },
          {
            "name": "Microsoft.StandbyPool/unregister/action",
            "isDataAction": false,
            "origin": "System",
            "display": {
              "provider": "Microsoft.StandbyPool",
              "resource": "Microsoft.StandbyPool",
              "operation": "Unregister the Microsoft.StandbyPool",
              "description": "Unregister the subscription for Microsoft.StandbyPool"
            },
            "properties": null
          },
 [...]
