{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.StandbyPool/operations?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'Operations' could not be found in the namespace 'Microsoft.StandbyPool' for api version '2025-03-01'. The supported api-versions are '2023-06-01-preview,2023-12-01-preview,2024-03-01,2024-03-01-preview,2024-08-01-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
