{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.AppConfiguration/operations?api-version=2024-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.AppConfiguration/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Operation",
              "operation": "List Operations",
              "description": "Lists all of the operations supported by Microsoft App Configuration."
            },
            "properties": null
          },
          {
            "name": "Microsoft.AppConfiguration/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft App Configuration",
              "resource": "Microsoft App Configuration",
              "operation": "Register for Microsoft App Configuration",
              "description": "Registers a subscription to use Microsoft App Configuration."
            },
            "properties": null
          },
       [...]
