{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service/czwserviceyyy1/backends?api-version=2024-05-01&$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service/czwserviceyyy1/backends/sfbackend1",
            "type": "Microsoft.ApiManagement/service/backends",
            "name": "sfbackend1",
            "properties": {
              "title": null,
              "description": "Service Fabric Test App 1",
              "url": "https://backendname26441",
              "protocol": "http"
            }
          }
        ],
        "count": 2,
        "nextLink": "https://management.azure.com:443/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service/czwserviceyyy1/backends?api-version=2024-05-01&%24top=1&%24skip=1"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service/czwserviceyyy1/backends?api-version=2024-05-01&%24top=1&%24skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service/czwserviceyyy1/backends/sfbackend2",
            "type": "Microsoft.ApiManagement/service/backends",
            "name": "sfbackend2",
            "properties": {
              "title": null,
              "description": "Service Fabric Test App 1",
              "url": "https://backendname26442",
              "protocol": "http"
            }
          }
        ],
        "count": 2
      }
    }
  ],
  "Variables": {}
}
