{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361816405405657?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82EC9299C067\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361816405405657/blob177361817148400137",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82EC92A64114\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:42:51.7460984Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361816405405657/blob177361817148400137?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82EC92B1A5F4\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361816405405657/copiedblob1177361817164204800",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177361816405405657/blob177361817148400137",
        "x-ms-seal-blob": "false",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82EC92BE68CB\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-copy-id": "f0e5e260-ae8f-454a-a538-455af02e31d2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:42:51.9034059Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361816405405657/copiedblob1177361817164204800",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE82EC92BE68CB\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-copy-id": "f0e5e260-ae8f-454a-a538-455af02e31d2",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177361816405405657/blob177361817148400137",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sun, 15 Mar 2026 23:42:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:42:51.9034059Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361816405405657?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177361817148400137",
    "container": "container177361816405405657",
    "copiedblob1": "copiedblob1177361817164204800",
    "copiedblob2": "copiedblob2177361817180002948",
    "copiedblob3": "copiedblob3177361817196204898"
  }
}
