{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9DAB3E6665\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:01:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870/blob176764691996003933",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9DAB4BBFF4\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:02:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:02:00.0633844Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870/blockblob176764692008604943",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\"0x8DE4C9DAB5E48C7\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:02:00 GMT",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:02:00.1858474Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870/blob176764691996003933?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9DAB6BF51F\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:02:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870/blob176764691996003933?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176764689111202870/blockblob176764692008604943",
        "x-ms-source-range": "bytes=0-11",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9DABC39DD8\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:02:00 GMT",
        "x-ms-blob-append-offset": "12",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870/blob176764691996003933",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE4C9DABC39DD8\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:02:00 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 05 Jan 2026 21:02:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:02:00.0633844Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQhSGVsbG8gV29ybGQh"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764689111202870?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176764691996003933",
    "blockblob": "blockblob176764692008604943",
    "container": "container176764689111202870"
  }
}
