{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Event Grid - SDK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdktest-2837302?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2025-07-24T16:31:51.5906035"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdktest-2837302",
        "name": "sdktest-2837302",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2025-07-24T16:31:51.5906035"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdktest-2837302/providers/Microsoft.EventGrid/namespaces/sdk-Namespace-71?api-version=2025-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "location": "eastus2",
        "sku": {
          "name": "Standard",
          "capacity": 1
        },
        "properties": {
          "topicSpacesConfiguration": {
            "state": "Enabled"
          },
          "isZoneRedundant": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/eastus2/operationsStatus/A0107A6E-C6AB-436A-853C-A882643F777A?api-version=2025-04-01-preview&t=638889427253129247&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE4MTE0ODEyWhcNMjYwMTE0MTE0ODEyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS[...]
