{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/deployments?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt-4o",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-08-06",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true",
              "completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "Cohere-embed-v3-english",
            "type": "ModelDeployment",
            "modelName": "Cohere-embed-v3-english",
            "modelVersion": "1",
            "modelPublisher": "Cohere",
            "capabilities": {},
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "text-embedding-3-small",
            "type": "ModelDeployment",
            "modelName": "text-embedding-3-small",
            "modelVersion": "1",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "embeddings": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 250
            }
          },
          {
            "name": "gpt-5",
            "type": "ModelDeployment",
            "modelName": "gpt-5",
            "modelVersion": "2025-08-07",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 250
            }
          },
          {
            "name": "gpt-5-mini",
            "type": "ModelDeployment",
            "modelName": "gpt-5-mini",
            "modelVersion": "2025-08-07",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 250
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/deployments?api-version=v1&modelPublisher=openai",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "gpt[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/deployments/gpt-4o?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "name": "gpt-4o",
        "type": "ModelDeployment",
        "modelName": "gpt-4o",
        "modelVersion": "2024-08-06",
        "modelPublisher": "OpenAI",
        "capabilities": {
          "chat_completion": "true",
          "completion": "true"
        },
        "sku": {
          "name": "GlobalStandard",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "gpt-4o",
    "MODEL_PUBLISHER": "openai",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
