{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag899?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ibUjwb5fwV1Q9W9JAxiiEyuhJOpxbEc8xvRuzafx8XE\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM4MQ==;sn=113151381",
        "x-ms-date": "Thu, 07 May 2026 20:23:34 GMT"
      },
      "ResponseBody": {
        "etag": "ibUjwb5fwV1Q9W9JAxiiEyuhJOpxbEc8xvRuzafx8XE",
        "key": "deleteConfigTestEtag899",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag899?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTM4MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ibUjwb5fwV1Q9W9JAxiiEyuhJOpxbEc8xvRuzafx8XE\"",
        "Last-Modified": "Thu, 07 May 2026 20:23:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM4Mg==;sn=113151382",
        "x-ms-date": "Thu, 07 May 2026 20:23:34 GMT"
      },
      "ResponseBody": {
        "etag": "ibUjwb5fwV1Q9W9JAxiiEyuhJOpxbEc8xvRuzafx8XE",
        "key": "deleteConfigTestEtag899",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:23:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag899?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTM4Mg=="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTM4Mg==;sn=113151382",
        "x-ms-date": "Thu, 07 May 2026 20:23:34 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag899"
  }
}
