{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag616?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag616",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9iSgpXO8nYhAUfm6TDmnoawEaFmtKncBbAHpxNXdlr0\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:23:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ0OTY=;sn=74774496",
        "x-ms-date": "Thu, 23 Oct 2025 05:23:35 GMT"
      },
      "ResponseBody": {
        "etag": "9iSgpXO8nYhAUfm6TDmnoawEaFmtKncBbAHpxNXdlr0",
        "key": "deleteConfigTestBadEtag616",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:23:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag616?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ0OTY="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ0OTY=;sn=74774496",
        "x-ms-date": "Thu, 23 Oct 2025 05:23:36 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag616?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ0OTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9iSgpXO8nYhAUfm6TDmnoawEaFmtKncBbAHpxNXdlr0\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:23:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ0OTc=;sn=74774497",
        "x-ms-date": "Thu, 23 Oct 2025 05:23:36 GMT"
      },
      "ResponseBody": {
        "etag": "9iSgpXO8nYhAUfm6TDmnoawEaFmtKncBbAHpxNXdlr0",
        "key": "deleteConfigTestBadEtag616",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:23:35+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag616"
  }
}
