{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag552?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestEtag552",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uwbGzpqgaB3ka1GKrxdtMz8KMoUkBZGYUun-0F_JiIE\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:49:10 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjUw;sn=2804650"
      },
      "ResponseBody": {
        "etag": "uwbGzpqgaB3ka1GKrxdtMz8KMoUkBZGYUun-0F_JiIE",
        "key": "deleteConfigTestEtag552",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:49:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag552?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjUw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uwbGzpqgaB3ka1GKrxdtMz8KMoUkBZGYUun-0F_JiIE\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:49:10 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjUx;sn=2804651"
      },
      "ResponseBody": {
        "etag": "uwbGzpqgaB3ka1GKrxdtMz8KMoUkBZGYUun-0F_JiIE",
        "key": "deleteConfigTestEtag552",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:49:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag552?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjUx"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjUx;sn=2804651"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag552"
  }
}
