{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag514?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag514",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AF6c_7X_j4qxBq55zOW11GCC5kyqdeMo6QfSVQa_wTg\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:00:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1NTM=;sn=74856553",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:12 GMT"
      },
      "ResponseBody": {
        "etag": "AF6c_7X_j4qxBq55zOW11GCC5kyqdeMo6QfSVQa_wTg",
        "key": "deleteConfigTestBadEtag514",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:00:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag514?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1NTM="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1NTM=;sn=74856553",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:12 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag514?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1NTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AF6c_7X_j4qxBq55zOW11GCC5kyqdeMo6QfSVQa_wTg\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:00:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1NTQ=;sn=74856554",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:13 GMT"
      },
      "ResponseBody": {
        "etag": "AF6c_7X_j4qxBq55zOW11GCC5kyqdeMo6QfSVQa_wTg",
        "key": "deleteConfigTestBadEtag514",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:00:12+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag514"
  }
}
