{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag648?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag648",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kh8b3K-8pMlwzWF5I160I66yufwOFF_l8UaXnOYjSc4\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNTg0;sn=59783584"
      },
      "ResponseBody": {
        "etag": "Kh8b3K-8pMlwzWF5I160I66yufwOFF_l8UaXnOYjSc4",
        "key": "deleteConfigTestBadEtag648",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:14:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag648?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNTg0"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNTg0;sn=59783584"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag648?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNTg0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kh8b3K-8pMlwzWF5I160I66yufwOFF_l8UaXnOYjSc4\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNTg1;sn=59783585"
      },
      "ResponseBody": {
        "etag": "Kh8b3K-8pMlwzWF5I160I66yufwOFF_l8UaXnOYjSc4",
        "key": "deleteConfigTestBadEtag648",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:14:15+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag648"
  }
}
