{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag634?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestBadEtag634",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ydv4ctHq1WfTUqIuiymkHxCTuSX7wWZFG3HQrJGN4oQ\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:28:43 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIxNTM=;sn=75082153",
        "x-ms-date": "Wed, 05 Nov 2025 07:28:43 GMT"
      },
      "ResponseBody": {
        "etag": "Ydv4ctHq1WfTUqIuiymkHxCTuSX7wWZFG3HQrJGN4oQ",
        "key": "deleteConfigTestBadEtag634",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:28:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag634?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIxNTM="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIxNTM=;sn=75082153",
        "x-ms-date": "Wed, 05 Nov 2025 07:28:43 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag634?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIxNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ydv4ctHq1WfTUqIuiymkHxCTuSX7wWZFG3HQrJGN4oQ\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:28:43 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIxNTQ=;sn=75082154",
        "x-ms-date": "Wed, 05 Nov 2025 07:28:43 GMT"
      },
      "ResponseBody": {
        "etag": "Ydv4ctHq1WfTUqIuiymkHxCTuSX7wWZFG3HQrJGN4oQ",
        "key": "deleteConfigTestBadEtag634",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:28:43+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag634"
  }
}
