{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag533?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "deleteConfigTestEtag533",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nw8GP9Z6FJucvGyGthRqlHmLDfXEP-vChYXp52EktF4\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:34:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2NTI=;sn=74230652"
      },
      "ResponseBody": {
        "etag": "nw8GP9Z6FJucvGyGthRqlHmLDfXEP-vChYXp52EktF4",
        "key": "deleteConfigTestEtag533",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:34:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag533?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2NTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nw8GP9Z6FJucvGyGthRqlHmLDfXEP-vChYXp52EktF4\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:34:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2NTM=;sn=74230653"
      },
      "ResponseBody": {
        "etag": "nw8GP9Z6FJucvGyGthRqlHmLDfXEP-vChYXp52EktF4",
        "key": "deleteConfigTestEtag533",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:34:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag533?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2NTM="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2NTM=;sn=74230653"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag533"
  }
}
