{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag801?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QPv6R6DlXlhSCDxeB4CxJokqgchAdPIvQUF7EUXJZrE\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3NA==;sn=53371074",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:59 GMT"
      },
      "ResponseBody": {
        "etag": "QPv6R6DlXlhSCDxeB4CxJokqgchAdPIvQUF7EUXJZrE",
        "key": "deleteConfigTestBadEtag801",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag801?api-version=2026-04-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"invalid\"",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTA3NA=="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3NA==;sn=53371074",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:59 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestBadEtag801?api-version=2026-04-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTA3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QPv6R6DlXlhSCDxeB4CxJokqgchAdPIvQUF7EUXJZrE\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3NQ==;sn=53371075",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:59 GMT"
      },
      "ResponseBody": {
        "etag": "QPv6R6DlXlhSCDxeB4CxJokqgchAdPIvQUF7EUXJZrE",
        "key": "deleteConfigTestBadEtag801",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:59+00:00"
      }
    }
  ],
  "Variables": {
    "deleteConfigTestBadEtag": "deleteConfigTestBadEtag801"
  }
}
