{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestNA643?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzE5MQ==;sn=103583191",
        "x-ms-date": "Fri, 23 Jan 2026 08:52:37 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestNA": "deleteConfigTestNA643"
  }
}
