{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag515?api-version=2026-04-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bP8f7LogFgaQDhQdArpg4ijOLNjLkNpQKgECm_WliFk\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3MA==;sn=53371070",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:45 GMT"
      },
      "ResponseBody": {
        "etag": "bP8f7LogFgaQDhQdArpg4ijOLNjLkNpQKgECm_WliFk",
        "key": "deleteConfigTestEtag515",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag515?api-version=2026-04-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTA3MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bP8f7LogFgaQDhQdArpg4ijOLNjLkNpQKgECm_WliFk\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:34:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3MQ==;sn=53371071",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:46 GMT"
      },
      "ResponseBody": {
        "etag": "bP8f7LogFgaQDhQdArpg4ijOLNjLkNpQKgECm_WliFk",
        "key": "deleteConfigTestEtag515",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:34:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/deleteConfigTestEtag515?api-version=2026-04-01&label=MyLabel",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTA3MQ=="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3MQ==;sn=53371071",
        "x-ms-date": "Mon, 15 Jun 2026 18:34:46 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deleteConfigTestEtag": "deleteConfigTestEtag515"
  }
}
