{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting0A85147?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "checkConfigSetting0A85147",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I_5NNAEJ_84YBOs_TlmPqznhxwHCQj4Xqi4p-9JnYFw\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:11:23 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4NQ==;sn=102478385",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:23 GMT"
      },
      "ResponseBody": {
        "etag": "I_5NNAEJ_84YBOs_TlmPqznhxwHCQj4Xqi4p-9JnYFw",
        "key": "checkConfigSetting0A85147",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:11:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting0A85147",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODM4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MqhUOaHjCsc66fsAdrPL89asXrm5bjbKy8h7Ys0nGnA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4NQ==;sn=102478385",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:23 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting0A85147",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODM4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MqhUOaHjCsc66fsAdrPL89asXrm5bjbKy8h7Ys0nGnA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4NQ==;sn=102478385",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:23 GMT"
      },
      "ResponseBody": {
        "etag": "MqhUOaHjCsc66fsAdrPL89asXrm5bjbKy8h7Ys0nGnA",
        "items": [
          {
            "etag": "I_5NNAEJ_84YBOs_TlmPqznhxwHCQj4Xqi4p-9JnYFw",
            "key": "checkConfigSetting0A85147",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:11:23+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting0A85147?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODM4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I_5NNAEJ_84YBOs_TlmPqznhxwHCQj4Xqi4p-9JnYFw\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:11:23 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4Ng==;sn=102478386",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:23 GMT"
      },
      "ResponseBody": {
        "etag": "I_5NNAEJ_84YBOs_TlmPqznhxwHCQj4Xqi4p-9JnYFw",
        "key": "checkConfigSetting0A85147",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:11:23+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting0A": "checkConfigSetting0A85147"
  }
}
