{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting2A57183?api-version=2023-11-01&label=checkConfigSettingsLabel80212",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "checkConfigSetting2A57183",
        "label": "checkConfigSettingsLabel80212",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mDyTptprigz1DG4al2I3Deqt3wtaeWiIzqj1lp2LVcA\"",
        "Last-Modified": "Wed, 07 Jan 2026 07:30:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTgwNzIwOQ==;sn=101807209",
        "x-ms-date": "Wed, 07 Jan 2026 07:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "mDyTptprigz1DG4al2I3Deqt3wtaeWiIzqj1lp2LVcA",
        "key": "checkConfigSetting2A57183",
        "label": "checkConfigSettingsLabel80212",
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-07T07:30:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting2A57183?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMTgwNzIwOQ=="
      },
      "RequestBody": {
        "key": "checkConfigSetting2A57183",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mEkDAfkBDv5C9VDzrZSJaYjp343kXJUUrznwoZRlwTk\"",
        "Last-Modified": "Wed, 07 Jan 2026 07:30:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTgwNzIxMQ==;sn=101807211",
        "x-ms-date": "Wed, 07 Jan 2026 07:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "mEkDAfkBDv5C9VDzrZSJaYjp343kXJUUrznwoZRlwTk",
        "key": "checkConfigSetting2A57183",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-07T07:30:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting2A57183",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMTgwNzIxMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ozehbj_Hly1DdNTOEeWuGG9zAWIpPC9k0z2xzxOyrGw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTgwNzIxMw==;sn=101807213",
        "x-ms-date": "Wed, 07 Jan 2026 07:30:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting2A57183%2CcheckConfigSetting2B49474",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMTgwNzIxMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6MsbOBhpSf5c7cV6zFfp2lZzBEc8riAoqpKenC7BLSo\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTgwNzIxMw==;sn=101807213",
        "x-ms-date": "Wed, 07 Jan 2026 07:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "6MsbOBhpSf5c7cV6zFfp2lZzBEc8riAoqpKenC7BLSo",
        "items": [
          {
            "etag": "mEkDAfkBDv5C9VDzrZSJaYjp343kXJUUrznwoZRlwTk",
            "key": "checkConfigSetting2A57183",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-07T07:30:32+00:00"
          },
          {
            "etag": "mDyTptprigz1DG4al2I3Deqt3wtaeWiIzqj1lp2LVcA",
            "key": "checkConfigSetting2A57183",
            "label": "checkConfigSettingsLabel80212",
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-07T07:30:32+00:00"
          },
          {
            "etag": "4Aij1iRQ-8IIQZetdMXERLjJXPXUfwh1XhdiyCVCb8w",
            "key": "checkConfigSetting2B49474",
            "label": null,
            "content_type": null,
            "value": "[B] value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-07T07:30:32+00:00"
          },
          {
            "etag": "u5pa2spWGwEJacAXY7IsOvaPtzEwwnQ5Y470JIWT6O0",
            "key": "checkConfigSetting2B49474",
            "label": "checkConfigSettingsLabel80212",
            "content_type": null,
            "value": "[B] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-07T07:30:32+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting2B49474?api-version=2023-11-01&label=checkConfigSettingsLabel80212",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMTgwNzIxNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"u5pa2spWGwEJacAXY7IsOvaPtzEwwnQ5Y470JIWT6O0\"",
        "Last-Modified": "Wed, 07 Jan 2026 07:30:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTgwNzIxNw==;sn=101807217",
        "x-ms-date": "Wed, 07 Jan 2026 07:30:33 GMT"
      },
      "ResponseBody": {
        "etag": "u5pa2spWGwEJacAXY7IsOvaPtzEwwnQ5Y470JIWT6O0",
        "key": "checkConfigSetting2B49474",
        "label": "checkConfigSettingsLabel80212",
        "content_type": null,
        "value": "[B] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-07T07:30:32+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting2A": "checkConfigSetting2A57183",
    "checkConfigSetting2B": "checkConfigSetting2B49474",
    "checkConfigSettingsLabel": "checkConfigSettingsLabel80212"
  }
}
