{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting1A54977?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "checkConfigSetting1A54977",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2ieMv03I7KhAWpUzb_xwRdWq1-CCgdeVIHYJuKkQNqQ\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:11:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4Nw==;sn=102478387",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:25 GMT"
      },
      "ResponseBody": {
        "etag": "2ieMv03I7KhAWpUzb_xwRdWq1-CCgdeVIHYJuKkQNqQ",
        "key": "checkConfigSetting1A54977",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:11:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting1A54977",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODM4Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mRtAVCRuemVhTUnobk4Ts6y8zWspW5rNTXhs0meZ2AE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4Nw==;sn=102478387",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:25 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting1A54977",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODM4Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mRtAVCRuemVhTUnobk4Ts6y8zWspW5rNTXhs0meZ2AE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4Nw==;sn=102478387",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "mRtAVCRuemVhTUnobk4Ts6y8zWspW5rNTXhs0meZ2AE",
        "items": [
          {
            "etag": "2ieMv03I7KhAWpUzb_xwRdWq1-CCgdeVIHYJuKkQNqQ",
            "key": "checkConfigSetting1A54977",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:11:25+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting1A54977?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3ODM4Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2ieMv03I7KhAWpUzb_xwRdWq1-CCgdeVIHYJuKkQNqQ\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:11:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODM4OA==;sn=102478388",
        "x-ms-date": "Tue, 13 Jan 2026 06:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "2ieMv03I7KhAWpUzb_xwRdWq1-CCgdeVIHYJuKkQNqQ",
        "key": "checkConfigSetting1A54977",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:11:25+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting1A": "checkConfigSetting1A54977"
  }
}
