{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-multiPage17654?api-version=2023-11-01&label=1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "1",
        "value": "value for 1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bLn2f0WHQmC_dVVuG5P5kPU7nFkF-4JRqzWa228xk1A\"",
        "Last-Modified": "Thu, 07 May 2026 20:27:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1NDcxNA==;sn=113154714",
        "x-ms-date": "Thu, 07 May 2026 20:27:57 GMT"
      },
      "ResponseBody": {
        "etag": "bLn2f0WHQmC_dVVuG5P5kPU7nFkF-4JRqzWa228xk1A",
        "key": "checkConfigSetting-multiPage17654",
        "label": "1",
        "content_type": null,
        "value": "value for 1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:27:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-multiPage17654?api-version=2023-11-01&label=11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExMzE1NDcyNA=="
      },
      "RequestBody": {
        "label": "11",
        "value": "value for 11"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DNB2HtbVgeqeyR-GqbdvG58Dolmif3lOgWyQT4mHBaA\"",
        "Last-Modified": "Thu, 07 May 2026 20:27:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1NDcyNQ==;sn=113154725",
        "x-ms-date": "Thu, 07 May 2026 20:27:57 GMT"
      },
      "ResponseBody": {
        "etag": "DNB2HtbVgeqeyR-GqbdvG58Dolmif3lOgWyQT4mHBaA",
        "key": "checkConfigSetting-multiPage17654",
        "label": "11",
        "content_type": null,
        "value": "value for 11",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:27:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-multiPage17654?api-version=2023-11-01&label=65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExMzE1NDc3NA=="
      },
      "RequestBody": {
        "label": "65",
        "value": "value for 65"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1NDc3NA==;sn=113154774",
        "x-ms-date": "Thu, 07 May 2026 20:27:58 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-multiPage17654",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1NDgxNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"E-mxU0Mx8L3oCOLi919eYSu1FexwfbR2fMUEkx5-Amk\"",
        "Link": "</kv?api-version=2023-11-01&key=checkConfigSetting-multiPage17654&after=Y2hlY2tDb25maWdTZXR0aW5nLW11bHRpUGFnZTE3NjU0Cjk4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1NDgxNA==;sn=113154814",
        "x-ms-date": "Thu, 07 May 2026 20:27:58 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=Y2hlY2tDb25maWdTZXR0aW5nLW11bHRpUGFnZTE3NjU0Cjk4&api-version=2023-11-01&key=checkConfigSetting-multiPage17654",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1NDgxNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"YcqBAary48Vxrd6RNWYgfz1onc-4NQTfWq67DWGvRC8\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1NDgxNA==;sn=113154814",
        "x-ms-date": "Thu, 07 May 2026 20:27:58 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-multiPage17654?api-version=2023-11-01&label=100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1NDkyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2nPqmNMlCoytzSBnVqltO_jsRGF9vB_wmpSo9vMyF98\"",
        "Last-Modified": "Thu, 07 May 2026 20:27:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1NDkyMQ==;sn=113154921",
        "x-ms-date": "Thu, 07 May 2026 20:28:02 GMT"
      },
      "ResponseBody": {
        "etag": "2nPqmNMlCoytzSBnVqltO_jsRGF9vB_wmpSo9vMyF98",
        "key": "checkConfigSetting-multiPage17654",
        "label": "100",
        "content_type": null,
        "value": "value for 100",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:27:58+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting-multiPage": "checkConfigSetting-multiPage17654"
  }
}
