{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-20037902?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BqXY8-SIQeaDnHpYBwwDuEK9vHcsjVnsy5rjtNY-8YQ\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTE0Ng==;sn=115289146",
        "x-ms-date": "Thu, 28 May 2026 21:23:10 GMT"
      },
      "ResponseBody": {
        "etag": "BqXY8-SIQeaDnHpYBwwDuEK9vHcsjVnsy5rjtNY-8YQ",
        "key": "checkConfigSetting-20037902",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:23:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-20037902",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTE0Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZyGNWv87FbxrJ0rR8juQ8JkSG6jbCfo986JflMlUIdE\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTE0Ng==;sn=115289146",
        "x-ms-date": "Thu, 28 May 2026 21:23:10 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=checkConfigSetting-20037902",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTE0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-Vf8LE2C3dVZcEs1O43oBbkbBaMcBE8P66106XyKIZU\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTE0OA==;sn=115289148",
        "x-ms-date": "Thu, 28 May 2026 21:23:10 GMT"
      },
      "ResponseBody": {
        "etag": "-Vf8LE2C3dVZcEs1O43oBbkbBaMcBE8P66106XyKIZU",
        "items": [
          {
            "etag": "nQk8VhoJfhRCZHGpuInifoHc5wCHdNuDyXrAfhudh0Y",
            "key": "checkConfigSetting-20037902",
            "label": null,
            "content_type": null,
            "value": "[A] modified value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:23:10+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/checkConfigSetting-20037902?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTE0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nQk8VhoJfhRCZHGpuInifoHc5wCHdNuDyXrAfhudh0Y\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTE0OQ==;sn=115289149",
        "x-ms-date": "Thu, 28 May 2026 21:23:10 GMT"
      },
      "ResponseBody": {
        "etag": "nQk8VhoJfhRCZHGpuInifoHc5wCHdNuDyXrAfhudh0Y",
        "key": "checkConfigSetting-20037902",
        "label": null,
        "content_type": null,
        "value": "[A] modified value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:23:10+00:00"
      }
    }
  ],
  "Variables": {
    "checkConfigSetting-200": "checkConfigSetting-20037902"
  }
}
