{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fake-subscription/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics?timespan=PT86400.0S\u0026metricnames=requests/count\u0026aggregation=Count\u0026api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "cost": 1439,
        "timespan": "2023-02-12T23:24:39Z/2023-02-13T23:24:39Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/fake-subscription/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics/requests/count",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "requests/count",
              "localizedValue": "Server requests"
            },
            "displayDescription": "Count of HTTP requests completed.",
            "unit": "Count",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2023-02-12T23:24:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2023-02-12T23:25:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2023-02-12T23:26:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2023-02-12T23:27:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2023-02-12T23:28:00Z",
            [...]
