{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fmetrics.monitor.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://westus2.metrics.monitor.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/metrics:getBatch?metricnamespace=Microsoft.Insights/components\u0026metricnames=requests/count\u0026aggregation=Count\u0026api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "30s",
        "X-Rate-Limit-Remaining": "2019",
        "X-Rate-Limit-Reset": "2023-08-15T01:52:18.7380599Z"
      },
      "ResponseBody": {
        "values": [
          {
            "cost": 59,
            "starttime": "2023-08-15T00:52:05Z",
            "endtime": "2023-08-15T01:52:05Z",
            "interval": "PT1M",
            "value": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics/requests/count",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "requests/count",
                  "localizedValue": "Server requests"
                },
                "displayDescription": "Count of HTTP requests completed.",
                "unit": "Count",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2023-08-15T00:52:00Z",
                        "count": 0
                      },
                      {
                        "timeStamp": "2023-08-15T00:53:00Z",
                        "count": 0
                      },
                      {
                        "timeStamp": "2023-08-15T00:54:00Z",
                        "count": 0
                      },
                      {
                        "timeStamp": "2023-08-15T00:55:00Z",
                        "count": 0
                      },
                      {
             [...]
