{
  "Entries": [
    {
      "RequestUri": "https://westus2.metrics.monitor.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/metrics:getBatch?interval=PT5M&metricnamespace=Microsoft.Insights/components&metricnames=requests/count&aggregation=Count&api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "values": [
          {
            "starttime": "2024-04-17T00:07:01Z",
            "endtime": "2024-04-17T01:07:01Z",
            "interval": "PT5M",
            "value": [
              {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics/requests/count",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "requests/count",
                  "localizedValue": "Server requests"
                },
                "displayDescription": "Count of HTTP requests completed.",
                "unit": "Count",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2024-04-17T00:07:00Z",
                        "count": 0
                      },
                      {
                        "timeStamp": "2024-04-17T00:12:00Z",
                        "count": 0
                      },
                      {
                        "timeStamp": "2024-04-17T00:17:00Z",
                        "count": 0
                      },
                      {
                        "timeStamp": "2024-04-17T00:22:00Z",
                        "count": 0
                      },
                      {
             [...]
