{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics?timespan=PT86400.0S\u0026metricnames=requests/count\u0026aggregation=Count\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "cost": 1439,
        "timespan": "2024-01-08T22:38:57Z/2024-01-09T22:38:57Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics/requests/count",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "requests/count",
              "localizedValue": "Server requests"
            },
            "displayDescription": "Count of HTTP requests completed.",
            "unit": "Count",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2024-01-08T22:38:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2024-01-08T22:39:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2024-01-08T22:40:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2024-01-08T22:41:00Z",
                    "count": 0
                  },
                  {
                    "timeStamp": "2024-01-08T22:42:00Z",
            [...]
