{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "include-statistics=true,include-render=true"
      },
      "RequestBody": {
        "query": "requests | summarize count()",
        "timespan": null,
        "workspaces": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "long"
              }
            ],
            "rows": [
              [
                0
              ]
            ]
          }
        ],
        "render": {
          "visualization": null,
          "title": null,
          "accumulate": false,
          "isQuerySorted": false,
          "kind": null,
          "legend": null,
          "series": null,
          "yMin": "NaN",
          "yMax": "NaN",
          "xAxis": null,
          "xColumn": null,
          "xTitle": null,
          "yAxis": null,
          "yColumns": null,
          "ySplit": null,
          "yTitle": null,
          "anomalyColumns": null
        },
        "statistics": {
          "query": {
            "queryHash": "5a9acdb26badc54e",
            "executionTime": 0.0008388,
            "resourceUsage": {
                  "cold": {
                    "hitbytes": 0,
                    "missbytes": 0,
                    "retrievebytes": 0
                  },
                  "bypassbytes": 0
                }
              },
              "cpu": {
                "user": "00:00:00",
                "kernel": "00:00:00",
                "totalCpu": "00:00:00",
                "breakdown": {
                  "queryExecution": "00:00:00",
                  "queryPlanning": "00:00:00"
                }
              },
              "memory": {
                "peakPerNode": 1049312
              },
              "network": {
                "interClusterTotalBytes": 527,
                "crossClusterTotalBytes": 0
              }
            },
            "inputDatasetStatistics": {
              "extents": {
                "total": 0,
                "scanned": 0,
                "scannedMinDatetime": "0001-01-01T00:00:00.0000000Z",
                "scannedMaxDatetime": "0001-01-01T00:00:00.0000000Z"
              },
              "rows": {
                "total": 0,
                "scanned": 0
              },
              "rowstores": {
                "scannedRows": 0,
                "scannedValuesSize": 0
              },
              "shards": {
                "queriesGeneric": 0,
                "queriesSpecialized": 0
              }
            },
            "datasetStatistics": [
              {
                "tableRowCount": 1,
                "tableSize": 8
              }
            ],
            "crossClusterResourceUsage": {}
          },
          "enhancedStats": {
            "executionTimeBreakdown": {
              "queue": 0,
              "engine": 304.794525,
              "service": 104.396522
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
