{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fake-subscription/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics?timespan=PT86400.0S\u0026interval=PT5M\u0026metricnames=Event\u0026aggregation=Count\u0026api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "cost": 1439,
        "timespan": "2022-12-05T01:47:19Z/2022-12-06T01:47:19Z",
        "interval": "PT5M",
        "value": [
          {
            "id": "/subscriptions/fake-subscription/resourceGroups/fake-resource/providers/Microsoft.Insights/metrics/Event",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Event",
              "localizedValue": "Event"
            },
            "displayDescription": "Event. Supported for: Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "westus2"
      }
    }
  ],
  "Variables": {}
}
