{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fapi.loganalytics.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/00000000-0000-0000-0000-000000000000/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 1000000000000000 step 1 | count",
        "timespan": null,
        "workspaces": null
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "e61d832d-2592-4c69-8461-e9fb11e4d1ab",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/00000000-0000-0000-0000-000000000000/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 1000000000000000 step 1 | count",
        "timespan": null,
        "workspaces": null
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "d560e460-21bd-40c9-9726-e356b7f6c3aa",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    }
  ],
  "Variables": {}
}
