{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake-resource/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": ""
      },
      "RequestBody": {
        "query": "requests | summarize count()",
        "timespan": null,
        "additional_workspaces": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "long"
              }
            ],
            "rows": [
              [
                0
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
