{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/workspaces/00000000-0000-0000-0000-000000000000/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": ""
      },
      "RequestBody": {
        "query": "print \"hello\", true, make_datetime(\"2000-01-02 03:04:05Z\"), toint(100), long(101), 102.1\n            | project\n                stringcolumn=print_0,\n                boolcolumn=print_1,\n                datecolumn=print_2,\n                intcolumn=print_3,\n                longcolumn=print_4,\n                realcolumn=print_5\n            ",
        "timespan": null,
        "workspaces": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "bool"
              },
              {
                "name": "Sanitized",
                "type": "datetime"
              },
              {
                "name": "Sanitized",
                "type": "int"
              },
              {
                "name": "Sanitized",
                "type": "long"
              },
              {
                "name": "Sanitized",
                "type": "real"
              }
            ],
            "rows": [
              [
                "hello",
                true,
                "2000-01-02T03:04:05Z",
                100,
                101,
                102.1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
