{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=bad_secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fapi.loganalytics.io%2F.default\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_client",
        "error_description": "AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app \u002700000000-0000-0000-0000-000000000000\u0027.\r\nTrace ID: b8ad7572-5e6e-4982-a144-caf7e9110600\r\nCorrelation ID: 1d432f16-8a54-4030-99c9-2f64ca56c631\r\nTimestamp: 2023-03-27 22:11:25Z",
        "error_codes": [
          7000215
        ],
        "timestamp": "2023-03-27 22:11:25Z",
        "trace_id": "b8ad7572-5e6e-4982-a144-caf7e9110600",
        "correlation_id": "1d432f16-8a54-4030-99c9-2f64ca56c631",
        "error_uri": "https://login.microsoftonline.com/error?code=7000215"
      }
    }
  ],
  "Variables": {}
}
