{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=bad_secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fapi.loganalytics.io%2F.default",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_client",
        "error_description": "AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app \u002700000000-0000-0000-0000-000000000000\u0027.\r\nTrace ID: 6f830934-48c3-4da4-8aa3-479f925e6f01\r\nCorrelation ID: 94044a82-e792-4d86-9b1a-a84f1d9cc1c1\r\nTimestamp: 2022-12-06 01:46:22Z",
        "error_codes": [
          7000215
        ],
        "timestamp": "2022-12-06 01:46:22Z",
        "trace_id": "6f830934-48c3-4da4-8aa3-479f925e6f01",
        "correlation_id": "94044a82-e792-4d86-9b1a-a84f1d9cc1c1",
        "error_uri": "https://login.microsoftonline.com/error?code=7000215"
      }
    }
  ],
  "Variables": {}
}
