{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/workspaces/00000000-0000-0000-0000-000000000000/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "include-render=true"
      },
      "RequestBody": {
        "query": "AppRequests | take 10",
        "timespan": null,
        "workspaces": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "datetime"
              },
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
      [...]
