{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-c098f82e-91ed-278c-01e8-9c1559f430a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:38:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD274A01AD\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:38:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-c098f82e-91ed-278c-01e8-9c1559f430a4/test-directory-e7a3a5a2-b474-dee9-a7d2-7d89261ad724/test-file-0137d8a2-1616-29a0-1ed3-a441aa2decf9?sv=Sanitized&st=2026-01-27T22%3A38%3A16Z&se=2026-01-28T00%3A38%3A16Z&sr=c&sp=racwdltmeop&sig=Sanitized&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DFD276F3908\"",
        "Last-Modified": "Tue, 27 Jan 2026 23:38:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-c098f82e-91ed-278c-01e8-9c1559f430a4?sv=Sanitized&st=2026-01-27T22%3A38%3A16Z&se=2026-01-28T00%3A38%3A16Z&sr=c&sp=racwdltmeop&sig=Sanitized&resource=filesystem&directory=test-directory-e7a3a5a2-b474-dee9-a7d2-7d89261ad724&recursive=false&upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134140307002898696",
            "etag": "0x8DE5DFD276F3908",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 27 Jan 2026 23:38:20 GMT",
            "name": "test-directory-e7a3a5a2-b474-dee9-a7d2-7d89261ad724/test-file-0137d8a2-1616-29a0-1ed3-a441aa2decf9",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-c098f82e-91ed-278c-01e8-9c1559f430a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 23:38:17 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T18:38:16.9668629-05:00",
    "RandomSeed": "2031832107",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
