{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-5e28f22c-9b9e-a5b9-b904-bd89bbc6caf5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:15:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CDF16B6071\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-5e28f22c-9b9e-a5b9-b904-bd89bbc6caf5?sv=Sanitized&st=2025-08-21T15%3A15%3A27Z&se=2025-08-21T17%3A15%3A27Z&sr=c&sp=racwdlmeop&sig=Sanitized&resource=filesystem&recursive=false&upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": []
      }
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-5e28f22c-9b9e-a5b9-b904-bd89bbc6caf5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 16:15:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:15:27.9537261-05:00",
    "RandomSeed": "764646270",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
