{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "Sanitized",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-int.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://int.api.azureml-test.ms"
          },
          "int": {
            "uri": "https://int.api.azureml-test.ms"
          }
        },
        "intellectualPropertyPublisher": null
      }
    },
    {
      "RequestUri": "https://Sanitized.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/Microsoft.MachineLearningServices/registries/testFeed/tempdatarefs/env-test-2404609/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/testFeed/environments/env-test-2404609/versions/1",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.625"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://feedmaster1.blob.core.windows.net:443/testfeed-d95d3b2b-66e0-5555-ba04-41d4a417b5ad",
          "storageAccountArmId": "/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/shared_static_test_resources/providers/Microsoft.Storage/storageAccounts/feedmaster1",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://feedmaster1.blob.core.windows.net/testfeed-d95d3b2b-66e0-5555-ba04-41d4a417b5ad?skoid=e3f42e2c-d581-4b65-a966-631cfa961328&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-05-17T10%3A39%3A53Z&ske=2024-05-18T18%3A49%3A53Z&sks=b&skv=2021-10-04&sv=2021-10-04&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "85e4e2a0-270c-4624-be44-9b961caf5063",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://Sanitized.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/Microsoft.MachineLearningServices/registries/testFeed/environments/env-test-2404609/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is description",
          "isAnonymous": false,
          "isArchived": false,
          "condaFile": "channels:\n- conda-forge\ndependencies:\n- python=3.10\n- pip\n- pip:\n  - nbgitpuller\n  - sphinx-gallery\n  - pandas\n  - matplotlib\nname: example-environment\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://int.api.azureml-test.ms/environment/v1.0/operations/testfeed_env-test-2404609_1_1",
        "x-aml-cluster": "int-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "0.656"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/environment/v1.0/operations/testfeed_env-test-2404609_1_1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "int-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/Microsoft.MachineLearningServices/registries/testFeed/environments/env-test-2404609/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.955"
      },
      "ResponseBody": {
        "id": "azureml://registries/testfeed/environments/env-test-2404609/versions/1",
        "name": "1",
        "type": "environments",
        "properties": {
          "description": "This is description",
          "tags": {},
          "properties": {
            "azureml.labels": "latest"
          },
          "isArchived": false,
          "isAnonymous": false,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04",
          "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\": [\n    \"python=3.10\",\n    \"pip\",\n    {\n      \"pip\": [\n        \"nbgitpuller\",\n        \"sphinx-gallery\",\n        \"pandas\",\n        \"matplotlib\"\n      ]\n    }\n  ],\n  \"name\": \"example-environment\"\n}",
          "osType": "Linux",
          "stage": "Development",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2024-05-17T18:25:17.0228439+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-05-17T18:25:17.0228439+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
