{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-int.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://int.api.azureml-test.ms"
          },
          "int": {
            "uri": "https://int.api.azureml-test.ms"
          }
        },
        "intellectualPropertyPublisher": null
      }
    },
    {
      "RequestUri": "https://cert-int.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/tempdatarefs/env-test-4603858/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/testFeed/environments/env-test-4603858/versions/1",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.953"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://feedmaster.blob.core.windows.net:443/testfeed-d8e0b0ba-4f5f-5268-9c8b-6b7618bf30cb",
          "storageAccountArmId": "/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/shared_static_test_resources/providers/Microsoft.Storage/storageAccounts/feedmaster",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://feedmaster.blob.core.windows.net/testfeed-d8e0b0ba-4f5f-5268-9c8b-6b7618bf30cb?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-11-04T21%3A17%3A46Z\u0026ske=2023-11-06T05%3A27%3A46Z\u0026sks=b\u0026skv=2021-10-04\u0026sv=2021-10-04\u0026st=2023-11-05T05%3A20%3A46Z\u0026se=2023-11-05T13%3A30%3A46Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "2ca4be49-284f-403f-beb5-b2079d02b8f3",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://cert-int.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/environments/env-test-4603858/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is description",
          "isAnonymous": false,
          "isArchived": false,
          "condaFile": "channels:\n- conda-forge\ndependencies:\n- python=3.8\n- pip\n- pip:\n  - nbgitpuller\n  - sphinx-gallery\n  - pandas\n  - matplotlib\nname: example-environment\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://int.api.azureml-test.ms/environment/v1.0/operations/testfeed_env-test-4603858_1_1",
        "x-aml-cluster": "int-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "1.011"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://int.api.azureml-test.ms/environment/v1.0/operations/testfeed_env-test-4603858_1_1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "int-01",
        "x-ms-response-type": "standard",
        "x-req[...]
