{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/mlholland-testing/providers/Microsoft.MachineLearningServices/workspaces/milestesting/environments/env-test-6130371/versions/1?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is description",
          "isAnonymous": false,
          "isArchived": false,
          "condaFile": "channels:\n- conda-forge\ndependencies:\n- python=3.8\n- pip\n- pip:\n  - nbgitpuller\n  - sphinx-gallery\n  - pandas\n  - matplotlib\nname: example-environment\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/mlholland-testing/providers/Microsoft.MachineLearningServices/workspaces/milestesting/environments/env-test-6130371/versions/1?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "1.175"
      },
      "ResponseBody": {
        "id": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/mlholland-testing/providers/Microsoft.MachineLearningServices/workspaces/milestesting/environments/env-test-6130371/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": "This is description",
          "tags": {},
          "properties": {
            "azureml.labels": "latest"
          },
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04",
          "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\": [\n    \"python=3.8\",\n    \"pip\",\n    {\n      \"pip\": [\n        \"nbgitpuller\",\n        \"sphinx-gallery\",\n        \"pandas\",\n        \"matplotlib\"\n      ]\n    }\n  ],\n  \"name\": \"example-environment\"\n}",
          "osType": "Linux",
          "autoRebuild": "Disabled",
          "provisioningState": "Succeeded",
          "stage": "Development",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2024-05-17T16:41:05.0164026+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-05-17T16:41:05.0164026+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "name": "env-test-6130371"
  }
}
