{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/catalogs/sdk-default-catalog/environmentDefinitions/Sandbox?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-01-16T17:31:08.2609358Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-dbsu5fc7xi3oi/catalogs/sdk-default-catalog/environmentDefinitions/sandbox",
        "name": "Sandbox",
        "catalogName": "sdk-default-catalog",
        "description": "Deploys an empty sandbox environment",
        "parameters": [],
        "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
        "templatePath": "Environments/Sandbox/azuredeploy.json"
      }
    }
  ],
  "Variables": {
    "DEFAULT_CATALOG_NAME": "sdk-default-catalog",
    "DEFAULT_PROJECT_NAME": "sdk-project-dbsu5fc7xi3oi",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/",
    "RandomSeed": "1300227778"
  }
}
