{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/users/me/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "278",
        "X-Rate-Limit-Reset": "2024-01-11T13:44:26.3793520Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "devtestenv",
            "environmentType": "sdk-environment-type-j3acmb6l5z6to",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-project-dbsu5fc7xi3oi-devtestenv",
            "catalogName": "sdk-default-catalog",
            "environmentDefinitionName": "Sandbox"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEFAULT_PROJECT_NAME": "sdk-project-dbsu5fc7xi3oi",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/",
    "RandomSeed": "748763810"
  }
}
