{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/environmentTypes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "284",
        "X-Rate-Limit-Reset": "2024-01-08T14:58:46.4526895Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdk-environment-type-j3acmb6l5z6to",
            "deploymentTargetId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
            "status": "Enabled"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DEFAULT_ENVIRONMENT_TYPE_NAME": "sdk-environment-type-j3acmb6l5z6to",
    "DEFAULT_PROJECT_NAME": "sdk-project-dbsu5fc7xi3oi",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/",
    "RandomSeed": "45923174"
  }
}
