{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-css2vm5mcsrwk.eastus.devcenter.azure.com/projects/sdk-project-yonmtejkddbfy/environmentDefinitions?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-02T20:35:35.5530366Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/projects/sdk-project-yonmtejkddbfy/catalogs/sdk-default-catalog/environmentDefinitions/appconfig",
            "name": "AppConfig",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an App Config.",
            "parameters": [
              {
                "id": "name",
                "name": "name",
                "description": "Name of the App Config",
                "type": "string",
                "readOnly": false,
                "required": true
              },
              {
                "id": "location",
                "name": "location",
                "description": "Location to deploy the environment resources",
                "default": "westus3",
                "type": "string",
                "readOnly": false,
                "required": false
              }
            ],
            "parametersSchema": "{\"type\":\"object\",\"properties\":{\"name\":{\"title\":\"name\",\"description\":\"Name of the App Config\"},\"location\":{\"title\":\"location\",\"description\":\"Location to deploy the environment resources\",\"default\":\"westus3\"}},\"required\":[\"name\"]}",
            "templatePath": "Environments/AppConfig/appconfig.bicep"
          },
          {
            "id": "/projects/sdk-project-yonmtejkddbfy/catalogs/sdk-default-catalog/environmentDefinitions/functionapp",
            "name": "FunctionApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Function App, Storage Account, and Application Insights",
            "parameters": [
              {
                "id": "name",
                "name": "Name",
                "description": "Name of the Function App.",
                "type": "string",
                "readOnly": false,
                "required": true
              },
              {
                "id": "supportsHttpsTrafficOnly",
                "name": "Supports Https Traffic Only",
                "description": "Allows https traffic only to Storage Account and Functions App if set to true.",
                "type": "boolean",
                "readOnly": false,
                "required": false
              },
              {
                "id": "runtime",
                "name": "Runtime",
                "description": "The language worker runtime to load in the function app.",
                "default": "dotnet-isolated",
                "type": "string",
                "readOnly": false,
                "required": false,
                "allowed": [
                  "dotnet",
                  "dotnet-isolated",
                  "java",
                  "node",
                  "powershell",
                  "python"
                ]
              }
            ],
            "parametersSchema": "{\"type\":\"object\",\"properties\":{\"name\":{\"title\":\"Name\",\"description\":\"Name of the Function App.\"},\"supportsHttpsTrafficOnly\":{\"title\":\"Supports Https Traffic Only\",\"description\":\"Allows https traffic only to Storage Account and Functions App if set to true.\"},\"runtime\":{\"title\":\"Runtime\",\"description\":\"The language worker runtime to load in the function app.\",\"default\":\"dotnet-isolated\",\"enum\":[\"dotnet\",\"dotnet-isolated\",\"java\",\"node\",\"powershell\",\"python\"]}},\"required\":[\"name\"]}",
            "templatePath": "Environments/FunctionApp/azuredeploy.json"
          },
          {
            "id": "/projects/sdk-project-yonmtejkddbfy/catalogs/sdk-default-catalog/environmentDefinitions/webapp",
            "name": "WebApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Web App without a data store",
            "para[...]
