{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('cfgkbb064c8e')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No Knowledge Base with the name 'cfgkbb064c8e' was found in a service named 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('cfgksb064c8e')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "15"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No Knowledge Source with the name 'cfgksb064c8e' was found in a service named 'fakesearchendpoint'."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('cfgidxb064c8e')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "23"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "No index with the name 'cfgidxb064c8e' was found in a service named 'fakesearchendpoint'.",
          "details": [
            {
              "code": "IndexNotFoundInService",
              "message": "No index with the name 'cfgidxb064c8e' was found in a service named 'fakesearchendpoint'."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "cfgidxb064c8e",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true
          }
        ],
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "prioritizedFields": {
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "478",
        "ETag": "\"0x8DE654851B6A988\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE654851B6A988\"",
        "name": "cfgidxb064c8e",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          },
          {
            "name": "content",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": {
          "defaultConfiguration": "default",
          "configurations": [
            {
              "name": "default",
              "flightingOptIn": false,
              "rankingOrder": "BoostedRerankerScore",
              "prioritizedFields": {
                "titleField": null,
                "prioritizedContentFields": [
                  {
                    "fieldName": "content"
                  }
                ],
                "prioritizedKeywordsFields": []
              }
            }
          ]
        },
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "cfgksb064c8e",
        "description": "configuration source",
        "searchIndexParameters": {
          "searchIndexName": "cfgidxb064c8e"
        },
        "kind": "searchIndex"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "65",
        "ETag": "\"0x8DE654851C711DA\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE654851C711DA\"",
        "name": "cfgksb064c8e",
        "kind": "searchIndex",
        "description": "configuration source",
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "cfgidxb064c8e",
          "semanticConfigurationName": null,
          "sourceDataFields": [],
          "searchFields": []
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "cfgkbb064c8e",
        "description": "configurable knowledge base",
        "knowledgeSources": [
          {
            "name": "cfgksb064c8e"
          }
        ],
        "retrievalReasoningEffort": {
          "kind": "minimal"
        },
        "outputMode": "extractiveData"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "35",
        "ETag": "\"0x8DE654851D5A76A\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DE654851D5A76A\"",
        "name": "cfgkbb064c8e",
        "description": "configurable knowledge base",
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": "extractiveData",
        "knowledgeSources": [
          {
            "name": "cfgksb064c8e"
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": {
          "kind": "minimal"
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgebases('cfgkbb064c8e')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE654851D5A76A\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "cfgkbb064c8e",
        "description": "config updated",
        "knowledgeSources": [
          {
            "name": "cfgksb064c8e"
          }
        ],
        "retrievalReasoningEffort": {
          "kind": "medium"
        },
        "outputMode": "answerSynthesis",
        "retrievalInstructions": "summarize with details",
        "answerInstructions": "include citations and summaries",
        "@odata.etag": "\"0x8DE654851D5A76A\""
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "19"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "Retrieval instructions cannot be specified if no model is provided for use.",
          "details": [
            {
              "code": "InvalidAgentRequest",
              "message": "Retrieval instructions cannot be specified if no model is provided for use."
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('cfgidxb064c8e')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "143",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
