{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/servicestats?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "87",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_11_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 10,
            "quota": null
          },
          "indexesCount": {
            "usage": 0,
            "quota": 15
          },
          "indexersCount": {
            "usage": 0,
            "quota": 15
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 15
          },
          "storageSize": {
            "usage": 76896,
            "quota": 16106127360
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 15
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 30
          },
          "vectorIndexSize": {
            "usage": 0,
            "quota": 5368709120
          }
        },
        "indexersRuntime": {
          "usedSeconds": 0,
          "remainingSeconds": null,
          "beginningTime": "2026-02-06T00:00:00Z",
          "endingTime": "2026-02-07T00:00:00Z"
        },
        "limits": {
          "maxStoragePerIndex": 16106127360,
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000,
          "maxCumulativeIndexerRuntimeSeconds": null
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "26",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotels",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": false,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          },
          {
            "name": "baseRate",
            "type": "Edm.Double",
            "key": false,
            "searchable": false,
            "filterable": false,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          }
        ],
        "scoringProfiles": [
          {
            "name": "MyProfile"
          }
        ],
        "corsOptions": {
          "allowedOrigins": [
            "*"
          ],
          "maxAgeInSeconds": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "520",
        "ETag": "\"0x8DE654912772E69\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE654912772E69\"",
        "name": "hotels",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          },
          {
            "name": "baseRate",
            "type": "Edm.Double",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "MyProfile",
            "functionAggregation": null,
            "text": null,
            "functions": []
          }
        ],
        "corsOptions": {
          "allowedOrigins": [
            "*"
          ],
          "maxAgeInSeconds": 60
        },
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels')?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "ETag": "\"0x8DE654912772E69\"",
        "OData-Version": "4.0",
        "Preference-Appl[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels')/search.stats?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "12",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_11_01_Preview.IndexStatistics",
        "documentCount": 0,
        "storageSize": 0,
        "vectorIndexSize": 0
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels-del-unchanged')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hotels-del-unchanged",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false
          },
          {
            "name": "baseRate",
            "type": "Edm.Double"
          }
        ],
        "scoringProfiles": [],
        "corsOptions": {
          "allowedOrigins": [
            "*"
          ],
          "maxAgeInSe[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels-del-unchanged')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DE654912F263CC\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "41"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels-cou')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hotels-cou",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels-coa-unchanged')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hotels-coa-unchanged",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": [...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels')/search.analyze?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "One's <two/>",
        "analyzer": "standard.lucene"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_11_01_Preview.AnalyzeResult",
        "tokens": [
          {
            "token": "Sanitized",
            "startOffset": 0,
            "endOffset": 5,
            "position": 0
          },
          {
            "token": "Sanitized",
            "startOffset": 7,
            "endOffset": 10,
            "position": 1
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('hotels')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "183",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
