{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "spsource41e5520f",
        "description": "initial sharepoint source",
        "remoteSharePointParameters": {
          "filterExpression": "Title:Test",
          "resourceMetadata": [
            "Title",
            "Path"
          ]
        },
        "kind": "remoteSharePoint"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "63",
        "ETag": "\"0x8DE6537B3186173\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE6537B3186173\"",
        "name": "spsource41e5520f",
        "kind": "remoteSharePoint",
        "description": "initial sharepoint source",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": {
          "filterExpression": "Title:Test",
          "containerTypeId": null,
          "resourceMetadata": [
            "Title",
            "Path"
          ]
        },
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/knowledgesources('spsource41e5520f')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6537B3186173\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "53",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
