{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "agg-producta40541c8",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": false,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          },
          {
            "name": "lastUpdated",
            "type": "Edm.DateTimeOffset",
            "key": false,
            "searchable": false,
            "filterable": true,
            "facetable": false,
            "sortable": false,
            "retrievable": true
          }
        ],
        "scoringProfiles": [
          {
            "name": "product-score",
            "functionAggregation": "product",
            "functions": [
              {
                "fieldName": "lastUpdated",
                "boost": 2.5,
                "freshness": {
                  "boostingDuration": "P7D"
                },
                "type": "freshness"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "490",
        "ETag": "\"0x8DE654917C7F190\"",
        "Location": "https://example.com",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE654917C7F190\"",
        "name": "agg-producta40541c8",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          },
          {
            "name": "lastUpdated",
            "type": "Edm.DateTimeOffset",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "product-score",
            "functionAggregation": "product",
            "text": null,
            "functions": [
              {
                "fieldName": "lastUpdated",
                "interpolation": "linear",
                "type": "freshness",
                "boost": 2.5,
                "freshness": {
                  "boostingDuration": "P7D"
                },
                "magnitude": null,
                "distance": null,
                "tag": null
              }
            ]
          }
        ],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('agg-producta40541c8')?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "ETag": "\"0x8DE654917C7F190\"",
        "OData-Version": "4.0",
        "Pr[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('agg-producta40541c8')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE654917C7F190\"",
        "name": "agg-producta40541c8",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "sear[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes('agg-producta40541c8')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "158",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
