{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969723406803?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969723406803?comp=metadata&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-approximate-messages-count": "0",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969723406803171445969745502705?comp=metadata&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "QueueNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\n",
        "RequestId:74d2c7a4-b003-0008-59ca-9a892e000000\n",
        "Time:2024-04-30T06:48:18.4733307Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969723406803?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue171445969723406803",
    "queue171445969723406803": "queue171445969723406803171445969745502705"
  }
}
