{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue177328055363800966?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "3025-01-01"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:b22bde6e-7003-0035-7dc3-b194f4000000\n",
        "Time:2026-03-12T01:55:54.3892027Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>3025-01-01</HeaderValue></Error>"
      ]
    }
  ],
  "Variables": {
    "queue": "queue177328055363800966"
  }
}
