{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "Document Analysis.",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "source": {
                "kind": "AzureBlob",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/input/git_operation.docx",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/input/git_operation.docx"
              },
              "target": {
                "kind": "AzureContainerFolder",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/output",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/output"
              },
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "kind": "PiiEntityRecognition",
            "parameters": {
              "piiCategories": [],
              "excludePiiCategories": [],
              "entitySynonyms": [],
              "redactionPolicies": [
                {
                  "policyKind": "entityMask",
                  "policyName": "defaultPolicy",
                  "isDefault": true
                }
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs/60c4df67-f89f-4a45-b726-e44b2e835959?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs/60c4df67-f89f-4a45-b726-e44b2e835959:cancel?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs/60c4df67-f89f-4a45-b726-e44b2e835959?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DOCUMENTS_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "DOCUMENTS_SOURCE_LOCATION": "https://ambertextdevwestus2.blob.core.windows.net/input/git_operation.docx",
    "DOCUMENTS_TARGET_LOCATION": "https://ambertextdevwestus2.blob.core.windows.net/output",
    "RandomSeed": "1394201959"
  }
}
