{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "Document Analysis.",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "source": {
                "kind": "AzureBlob",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/input/git_operation.docx",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/input/git_operation.docx"
              },
              "target": {
                "kind": "AzureContainerFolder",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/output",
                "location": "https://ambertextdevwestus2.blob.core.windows.net/output"
              },
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "kind": "PiiEntityRecognition",
            "parameters": {
              "piiCategories": [],
              "excludePiiCategories": [],
              "entitySynonyms": [],
              "redactionPolicies": [
                {
                  "policyKind": "entityMask",
                  "policyName": "defaultPolicy",
                  "isDefault": true
                }
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs/a22fe091-21c3-48ea-a918-a4d6ec025ff7?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-documents/jobs/a22fe091-21c3-48ea-a918-a4d6ec025ff7?api-version=2026-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "a22fe091-21c3-48ea-a918-a4d6ec025ff7",
        "lastUpdatedDateTime": "2026-06-15T20:48:10Z",
        "createdDateTime": "2026-06-15T20:48:10Z",
        "expirationDateTime": "2026-06-16T20:48:10Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "Document Analysis.",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    }
  ],
  "Variables": {
    "DOCUMENTS_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "DOCUMENTS_SOURCE_LOCATION": "https://ambertextdevwestus2.blob.core.windows.net/input/git_operation.docx",
    "DOCUMENTS_TARGET_LOCATION": "https://ambertextdevwestus2.blob.core.windows.net/output",
    "RandomSeed": "1781891613"
  }
}
