{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-73b564fd-8953-15b0-ca68-4dd1250632ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86FD9A2D4DE6\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-73b564fd-8953-15b0-ca68-4dd1250632ad/test-blob-7b6b3155-5b91-68ee-ac86-bff00bf24651",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86FD9A3A2A9B\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T14:24:55.2118939Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-73b564fd-8953-15b0-ca68-4dd1250632ad/test-blob-7b6b3155-5b91-68ee-ac86-bff00bf24651?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vyJGlPgBRg82tfHQb8DzLXaYKOecARBtsCbNajmZMqGFnTD/Vl28p/da+udD/rEc6YceNLcV4L0R2OTSNNzWnYNQStGP89YY24HwQgcoKbJ0sYCxev3qb71z7X156nMag1xj87PfjPWxBlg1JZ216a4yXYJbJCOGZdsUHAVYnvEO1r6rxTb/lSSK/3OktEofvgTPR4zwvl843Y3YynDvWWdnJ0/fCSR4Mshe0CSv4rCQ9V0BiVdkHhdfc+ioJ8q0m6YLPY37QLTgVhTEku06iPrcR9US7s8QAgg3f5Y8zwv9qTV+pKUjlbWpITJCoIspJertzN/1oqzW+jqFw8AepIcIx+i3u+RVubIgac2dzmJ9DVqsTwMsCAaJp6lqntH0inyrOtmicWkFlxIs1Tn[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-73b564fd-8953-15b0-ca68-4dd1250632ad/test-blob-e9b3f3b2-75f8-95b2-4f74-3cdefff8cc76?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-73b564fd-8953-15b0-ca68-4dd1250632ad/test-blob-7b6b3155-5b91-68ee-ac86-bff00bf24651",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "InvalidAuthenticationInfo",
        "x-ms-copy-source-status-code": "400",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:7472fb78-601e-004a-69e6-b8320d000000\n",
        "Time:2024-06-07T14:24:55.4319054Z</Message><CopySourceStatusCode>400</CopySourceStatusCode><CopySourceErrorCode>InvalidAuthenticationInfo</CopySourceErrorCode><CopySourceErrorMessage>Authentication information is not given in the correct format. Check the value of Authorization header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-73b564fd-8953-15b0-ca68-4dd1250632ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "81726286",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
