{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1cdf05d9-0303-bff5-b994-326e5c60dc04?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867DF28299E7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1cdf05d9-0303-bff5-b994-326e5c60dc04/test-blob-86b3e1ef-b8d8-83f2-1f9c-08df9072c97d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867DF29070B7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1cdf05d9-0303-bff5-b994-326e5c60dc04/test-blob-86b3e1ef-b8d8-83f2-1f9c-08df9072c97d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "sQbehmQDlZzUi5rg5BjD7g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "C1CfD53WUJX/+8/Aq8P8YyXoHMLetPUJG/eszPZaB50TmSM3HGiD7H3+FYyz3rMbjP9hyPxAlFdalfOlKoSepfMxrBKfxEe8ZDBF4J9oVT1EkED2+T+g0gXM3YZ03cL5X3CYgTGhe8e4pGPM+7O38UC2YZlDqKu0kdoM0+fASIduTIEv0NQLoxV4PVTb1NdRFOtGvXwotbfE4/BXlKfg+FzcXa4yiCFrq72EympW2LwCu7/8eYoKRZfJauzksw5tmEX4/3coHozJ2hK+pOpNbQszVdno437R0RcXaB01h/evFzIkXtlF2ZwzMp93TKGsfP3hsF41hLTHJi5fEbVulFMaD423K[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1cdf05d9-0303-bff5-b994-326e5c60dc04?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2097475003",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
