{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2d2fcb60-fbd3-6446-b7e1-cd421fd59bd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8708812B822D\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:42:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2d2fcb60-fbd3-6446-b7e1-cd421fd59bd8/test-blob-ad3c064b-4719-c306-44cb-a7b8377b1361",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870881345BEF\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:42:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:42:57.6948207Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2d2fcb60-fbd3-6446-b7e1-cd421fd59bd8/test-blob-ad3c064b-4719-c306-44cb-a7b8377b1361?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+iUK1umFiQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8708813D0D36\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:42:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "zJWG8lR5gCc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2d2fcb60-fbd3-6446-b7e1-cd421fd59bd8/test-blob-b85f0127-68bb-986a-1990-6c30c55a6135?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Sat, 08 Jun 2024 15:42:56 GMT",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-2d2fcb60-fbd3-6446-b7e1-cd421fd59bd8/test-blob-ad3c064b-4719-c306-44cb-a7b8377b1361?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:57 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:43970b16-801e-006d-30f1-b825c9000000\n",
        "Time:2024-06-07T15:42:57.8711400Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-834972dc-fa85-d4a8-90b2-d573e07ef681/test-blob-702f0993-8a23-40da-2359-e45a3f3af2f2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Thu, 06 Jun 2024 15:42:56 GMT",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-834972dc-fa85-d4a8-90b2-d573e07ef681/test-blob-de7d838e-be5a-6a18-f7df-30ee8b05f546?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:57 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:43970c9b-801e-006d-11f1-b825c9000000\n",
        "Time:2024-06-07T15:42:58.2679138Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-90e1fe43-4dc3-24c7-3da7-f05456da5bed/test-blob-a1999903-a03e-0e31-0b70-1f283c4a677a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-90e1fe43-4dc3-24c7-3da7-f05456da5bed/test-blob-b2487d1e-a566-aae5-a7df-a7afa40ac8ea?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:57 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:43970e85-801e-006d-54f1-b825c9000000\n",
        "Time:2024-06-07T15:42:58.7056648Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ea6c1713-e4ff-b046-ddb5-40ca74226980/test-blob-313aafef-4137-4be3-ff8d-6e4995439322",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870882023C91\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:42:59 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:42:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:42:59.0440593Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-23cdec6f-09f8-5f27-efe5-a695c661aece/test-blob-0a780f70-365f-6955-47c3-b2c2af893121?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-23cdec6f-09f8-5f27-efe5-a695c661aece/test-blob-7efff6ae-4172-0e2d-95b1-16d0a538093c?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:58 GMT",
        "x-ms-lease-id": "fe67414e-8fb3-041d-ec95-fde290539cd2",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:43971215-801e-006d-22f1-b825c9000000\n",
        "Time:2024-06-07T15:42:59.5551821Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ad473f61-ab2d-e88d-db5f-753e77bb3784/test-blob-615c06f3-a975-80a3-a5cd-0802a445ab16?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-appendpos": "1",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-ad473f61-ab2d-e88d-db5f-753e77bb3784/test-blob-19c81967-46fd-6a99-1cc5-0d8f24b532b0?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:59 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AppendPositionConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>AppendPositionConditionNotMet</Code><Message>The append position condition specified was not met.\n",
        "RequestId:439713eb-801e-006d-48f1-b825c9000000\n",
        "Time:2024-06-07T15:42:59.9569539Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-184edfc7-dbdb-66e5-4001-7e102aabf27f/test-blob-c88ce5c9-4658-4e05-6085-5c10133d38f5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-condition-maxsize": "1",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-184edfc7-dbdb-66e5-4001-7e102aabf27f/test-blob-31528da5-7fe7-6914-34ed-8401e73731a5?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:59 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MaxBlobSizeConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>MaxBlobSizeConditionNotMet</Code><Message>The max blob size condition specified was not met.\n",
        "RequestId:439715f2-801e-006d-2af1-b825c9000000\n",
        "Time:2024-06-07T15:43:00.3497306Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-48b38317-757d-4f2e-d1fe-e9853b944d93/test-blob-d5738082-485c-37d6-b3ea-5fc9ad7c1c76?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-48b38317-757d-4f2e-d1fe-e9853b944d93/test-blob-f0e81ec1-9bdc-a6eb-a05c-25352c3cde1a?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:42:59 GMT",
        "x-ms-source-if-modified-since": "Sat, 08 Jun 2024 15:42:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-copy-source-error-code": "ConditionNotMet",
        "x-ms-copy-source-status-code": "304",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3361eecf-dd4d-25cf-1ab4-ef4898663990/test-blob-b4c191b8-11fc-cfa5-b7a5-3fca773bf0bf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-3361eecf-dd4d-25cf-1ab4-ef4898663990/test-blob-1434fa03-ecbf-009c-4efd-31cf8e328b3c?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:43:00 GMT",
        "x-ms-source-if-unmodified-since": "Thu, 06 Jun 2024 15:42:56 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "ConditionNotMet",
        "x-ms-copy-source-status-code": "412",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:43971901-801e-006d-12f1-b825c9000000\n",
        "Time:2024-06-07T15:43:01.1362833Z</Message><CopySourceStatusCode>412</CopySourceStatusCode><CopySourceErrorCode>ConditionNotMet</CopySourceErrorCode><CopySourceErrorMessage>The condition specified using HTTP conditional header(s) is not met.</CopySourceErrorMessage></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-59800f22-5789-ca7a-4b84-98c7089a6c6e/test-blob-553e2897-accd-f26f-96a2-2f88a44aa2dc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-59800f22-5789-ca7a-4b84-98c7089a6c6e/test-blob-a66900d1-ee9a-2fe4-2b47-ce1b983db62e?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:43:00 GMT",
        "x-ms-source-if-match": "\"garbage\"",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "ConditionNotMet",
        "x-ms-copy-source-status-code": "412",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:43971b0e-801e-006d-80f1-b825c9000000\n",
        "Time:2024-06-07T15:43:01.5330575Z</Message><CopySourceStatusCode>412</CopySourceStatusCode><CopySourceErrorCode>ConditionNotMet</CopySourceErrorCode><CopySourceErrorMessage>The condition specified using HTTP conditional header(s) is not met.</CopySourceErrorMessage></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-20f5bd6e-c054-393b-959c-d672451bb476/test-blob-648707ba-89cc-903d-438b-cf013824752e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-20f5bd6e-c054-393b-959c-d672451bb476/test-blob-7125ff68-bbda-50c8-db73-01fd1f619a16?sv=Sanitized&se=2024-06-07T16%3A42%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:43:01 GMT",
        "x-ms-source-if-none-match": "0x8DC870883A3543D",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-copy-source-error-code": "ConditionNotMet",
        "x-ms-copy-source-status-code": "304",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-20f5bd6e-c054-393b-959c-d672451bb476?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:43:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:42:56.7744881-05:00",
    "RandomSeed": "1616690011",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
