{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ecb38bea-520f-a10d-af9a-bda92e0171a7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFB68D312\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-abf0d144-54b0-e5c1-d037-c06ece82c1ee?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFB702062\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-abf0d144-54b0-e5c1-d037-c06ece82c1ee/test-blob-4da01634-f50d-c466-8b62-7718c9f2f3c6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFB770EE0\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T17:17:29.7992416Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:29.7992416Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T17:17:29.7992416Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-abf0d144-54b0-e5c1-d037-c06ece82c1ee/test-blob-4da01634-f50d-c466-8b62-7718c9f2f3c6/test-blob-32aae4a1-6231-e858-e5ec-f9644ff3efc9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFB7D2877\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T17:17:29.8392183Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:29.8392183Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T17:17:29.8392183Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-abf0d144-54b0-e5c1-d037-c06ece82c1ee/test-blob-4da01634-f50d-c466-8b62-7718c9f2f3c6/test-blob-32aae4a1-6231-e858-e5ec-f9644ff3efc9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "TqSfZVZJO2a9R0Ck02WtyuWwg03kpmXeJdYAOFcOoAsNa1lORU+23aS2DfoNNDoiSmLZGh0QLqc/wEB/SAMOrqc1l2cMXoWV+qWoLZlq0fGc3e30NYXu/D2xD4QPNpShp15T15zTFuvdQyB3ZwEN1O5P42oWGXkhR5opW08AhsMQB4U7F/pUyccBF/FldpU8ozqVwFMpio3kMpABqbqc3L1cZl970r30+hqjFAKIu9AF7bcVasVw53z3V+VpUh8MZTo0CRA1wNF8ocY4hnaLXHbA/LsDhnL37H/ig3vYiqf6lq/IU7LAzyzmmMn/N2AGbPpuqVZkCd7IPByRUz1WpBYePu/GwwjEAC2OHO2p+LQe3BeAaeFQlY3Q/xeVLnzvkPSy4PlwP6jyqakp1uzxHkRocncm1To0zahi9sPxL9Gwn4v49he7rZxujr83J7+g3uDTLbwEybq6fRJQDknlAHrYeDdh+CgsrMTbuEd6/abpwRfiHQEUq9XRPngFa55SiI1FX6+IP+a4p4D4KRFyP4BsZk0yAuN5w8xhj7qwJ0EliC+6NZ33YIExKnaBHILEXv/3mARRIIWpzJviJ68rCIA/0qHhtwrjdQbLANhs96dKnDC7uI481GipEGkCFDnSBSL2QUrh46b0FCP+hR+sPdTzmIt+cE/xAv04N6ag4WDN+fu2dbVdabiJxqRqPk5J/NOVDnytU5TSBD9MqKsAVDPDMYwj9sgeli/S9Kqrh8Sv7zvTC9LkH6Zn43B2EcANiXFxpw3BJQYKdndN2l7pJ316nLlwLEhg3hHmvBJXp4VuxWs4Od+37ck0yJVbl0RIfbvy+3QHnF0pEMj722jzs87y3hXzsO2dw67vO2OzBUfNnj9WZKsQZygNDykXuxJgQRXGaLguVMzOVTjFF2H6dgqBLT0pnE4i4Xfs5aHEhgecj/pO7JyPnklyiA9zSk/HE5gelo7VNqTGo4dAQm8rCc4wKYhnrIlu8Y7ztxM/r5YnJdIIpfB5xlhVh0kVTlzaR39AQyDHYGYPsKT/4X+Qh/TwGBycImPdt2MvESRAWKMyGXCU/mt1YMVr+fVMeeTYxf9UJDU/PSQbYoy9l09BzlcBzcgP+4mIe7hXMChukT1+V0wl6zNt8txLeZvft8l2KSqdS6wcycl2y6l96Az7rNFOPkACHOIkk9rrw4LtqcPv4Qb+0UaQYo2DriCJ7wrPT83KkHmIcwxHeLfSMAVGiSHmjgYF/duKvtyyf27CmqPPHHS1IxlKZm76tliPvTGIPCT+omEEyVHxP9Gc1vOehd0TAxORkWYInCiYC0eC+wCrKkNJxPhCy1Miw+NHrZB6WzF6e7od96q+9QU4a70Kbw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IOzCjvPOhpLv9bYEaeBIMg==",
        "ETag": "\"0x8DD3C9AFB858BA7\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-file-last-write-time": "2025-01-24T17:17:29.8941863Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ecb38bea-520f-a10d-af9a-bda92e0171a7/test-blob-401f9361-a5ad-a74e-0246-68346f7c83a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFB8BA6D1\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-01-24T17:17:29.9342033Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ecb38bea-520f-a10d-af9a-bda92e0171a7/test-blob-401f9361-a5ad-a74e-0246-68346f7c83a6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-abf0d144-54b0-e5c1-d037-c06ece82c1ee/test-blob-4da01634-f50d-c466-8b62-7718c9f2f3c6/test-blob-32aae4a1-6231-e858-e5ec-f9644ff3efc9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFC67B5DD\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:31 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "y5+7qa3PqNU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-abf0d144-54b0-e5c1-d037-c06ece82c1ee?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ecb38bea-520f-a10d-af9a-bda92e0171a7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "429063823",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
