{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-51873bca-dbf3-1d69-48b7-e699dccb3eaa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6180B6763670\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-2566667a-4fad-f4e6-d160-96e7ed7f4cfb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6180B6A9064B\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-2566667a-4fad-f4e6-d160-96e7ed7f4cfb/test-blob-53e61c87-d6c3-c53c-e86c-01235292ac43?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6180B6B1197B\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-12T16:12:40.5246331Z",
        "x-ms-file-creation-time": "2025-03-12T16:12:40.5246331Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-12T16:12:40.5246331Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-2566667a-4fad-f4e6-d160-96e7ed7f4cfb/test-blob-53e61c87-d6c3-c53c-e86c-01235292ac43/test-blob-c01bf5e8-e9dc-d898-539b-a14042d44952",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6180B6BE84FD\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-12T16:12:40.6125821Z",
        "x-ms-file-creation-time": "2025-03-12T16:12:40.6125821Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-12T16:12:40.6125821Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-2566667a-4fad-f4e6-d160-96e7ed7f4cfb/test-blob-53e61c87-d6c3-c53c-e86c-01235292ac43/test-blob-c01bf5e8-e9dc-d898-539b-a14042d44952?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 16:12:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Mz61t7sA9xpHMU/m3L3JNdrZPbBa/4wYCBxr7yX2NLHdPngUXSVRWzRX9uwIOB6xH1UiSBR/ZjOynK6elAj0Uf2eCJ5FtNe1h+F7AwifEND+uc/P0+udXddFYsF2ssYsYqXvaS+AbGt9bMAyA2MqEovdoNs4JH0RAKvGAFIWP9QbTqBjsKahfk1kUmYrallzGlA2mBLr8z0n3WmDuWwZZy3rF7XDx2HkPCKN1NIW5pZRU+UC36bCL1tiO9M9HcTgS+o5P1OksFLuUlzvXR9rEffSMmWGF4eHKedZYIuOph5drYnn3aZCraOTE41K09E89yrca+tfWjRjshZrSlDHX6s9krCVhDNQj4TC8wP5PFYVHWlhsjsy/lJVgyuQ12JTzLPiDEAhpnL2i9tmnGYwaXXAVSzmZa1wC5NdQAAIv7gibydPFzAV9Hf2ayZgy2HrJBq10II1bGYGcgCtw2Zy7cwiRC0/4VJEq2G18PmHDz8ycRvmUu817QPASKUvaDAQhH1aPYc0rEPHcSUhf3xsf2LBelJKjJvd7Fcpf5isFUIwpGx8LNK4/cXYHuHJFG2HU8lDbu3exffifVAwCi2qGlzi8NsP8FKPCX2Mcm65E9jqoivOaaZVUt50ma+BiPOYLQOE5ySSd2J3s2RvUlOJKGl4RWgB27G1jJ78m1eiDYGK80RqNCu0VyvIV7ZC5gCL6nBFCUKKl1FSz1uFldsL1KXj5V4OHvQ+xO48OYP6c6aecLDmXAQ//1zyGGXQLsFPvYMQXgChfMx8B0VTTl3NV1y05yUqJHehpOYBGwWObZUs7XsA6hSm/PPkalW/67H+JcEJHEecJJgLb7oan2HG7ZmvJ2DizW1HDuoxRroi4bg0A/ZEhVFOj8nj9Hpai1ySHny7EMNQHFdUwQ1ca97e6Y4B5ZxqgWdIYJiX/tjy7YKOnic9ZtH14+ae78RD8SPqBQvsWKbAJ5wVcq8quR1+YtSKzsy2oIK8DAG1zJKjBG50rPnNBZXczXeKKPQhyirIH43wuCNXNGSIL0ulClsKcW5Atg0ksVw+rgBVLHiOmkLX7awEsktLHXiURdZKNsMcf7aF4RMcpG4xsQojAgjs+ZUIzh2uBr8i9ZiVj2uG9Hg8OKzBCLkuukg90gFBKBtwqEtAQWimbXn3Y+x7hxQCq72R5slbKvHb2RTUcTO94cx9JeYgRbMPlssyyqXMszIzOidDr0FSFH5aZWdU0vxGOYEf/WIu4mYKglD9KV9LDibhoDYMejGKKxFoxt9Lu8TP7JAjrbXPBVjAOS3xVOoeDlZBcjHFOb9QlNJRxRyGvsaLLj3PJ2FwEZreS0ADmNYmSbeJCUiSCbLR0xjifj88OQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jNmrIwZM+MKct8ahmwZytg==",
        "ETag": "\"0x8DD6180B6FB84F8\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:41 GMT",
        "x-ms-file-last-write-time": "2025-03-12T16:12:41.0123512Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-51873bca-dbf3-1d69-48b7-e699dccb3eaa/test-blob-980405f1-ebad-d965-df17-2dec1fc2f733",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6180B70C9D2E\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-03-12T16:12:41.1243822Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-51873bca-dbf3-1d69-48b7-e699dccb3eaa/test-blob-980405f1-ebad-d965-df17-2dec1fc2f733?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-2566667a-4fad-f4e6-d160-96e7ed7f4cfb/test-blob-53e61c87-d6c3-c53c-e86c-01235292ac43/test-blob-c01bf5e8-e9dc-d898-539b-a14042d44952",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6180B82DC1B2\"",
        "Last-Modified": "Wed, 12 Mar 2025 16:12:43 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "DLR44fEL2no=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-2566667a-4fad-f4e6-d160-96e7ed7f4cfb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 16:12:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-51873bca-dbf3-1d69-48b7-e699dccb3eaa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "111535853",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
