{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-a2ea9795-dd54-a894-defa-7e0485604a37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 May 2025 18:44:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD924E26DAFC0C\"",
        "Last-Modified": "Tue, 13 May 2025 18:44:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-a2ea9795-dd54-a894-defa-7e0485604a37/test-blob-e6fcff2b-99fd-fd00-f131-78b9f881e2ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 13 May 2025 18:44:25 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD924E26EB6D2C\"",
        "Last-Modified": "Tue, 13 May 2025 18:44:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-a2ea9795-dd54-a894-defa-7e0485604a37/test-blob-e6fcff2b-99fd-fd00-f131-78b9f881e2ed?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-a2ea9795-dd54-a894-defa-7e0485604a37/test-blob-96347ee3-c9cc-b1c1-6c9f-2ec08f23e981",
        "x-ms-date": "Tue, 13 May 2025 18:44:25 GMT",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:23b2b88c-701e-0012-1837-c4f4fa000000\n",
        "Time:2025-05-13T18:44:11.5738612Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-a2ea9795-dd54-a894-defa-7e0485604a37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 May 2025 18:44:25 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1828004254",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
