{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jun 2024 00:21:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC90BEFECD8489\"",
        "Last-Modified": "Thu, 20 Jun 2024 00:21:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-62568818-8104-c4b8-49c0-25fb3ee3340a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jun 2024 00:21:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC90BEFED70BEA\"",
        "Last-Modified": "Thu, 20 Jun 2024 00:21:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-20T00:21:57.3469939Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-62568818-8104-c4b8-49c0-25fb3ee3340a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Jun 2024 00:21:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "RiGZ3dxkk/zy+qHC/e60hyQ/ksaUY7854BY46ZjYQT314C6gVbQmhmlvWCF464EPzv5bPXcOReJhYP3FK6pjGrlkzRy/EzFwGQtcJAuewfSUKBqafQPF5ppMPvW3YFq/Cz5nEx1kULrM6yRssSHXw58IMQOPyZy2nuaCc9U8uLmwnRjNNq3WMNhfzZHfWTV5dHtWri9XL0KhsXU34t3lkDJruxQICYzyMQAqL/sK10WxCP5Z5gmJWG7VLIU3n076ej1fc50hcGvvY30uLP9HltovhdnfjKko4WOlM90HupKyMLW9q2OnkJiTaoKMWytujpWrCBl0G+2TNpI6ez2N6KnqfPxJi[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc/test-blob-e23b12d6-6eae-eb46-eaaf-19de19472255",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Jun 2024 00:21:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC90BEFEED5125\"",
        "Last-Modified": "Thu, 20 Jun 2024 00:21:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-20T00:21:57.4919461Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc/test-blob-e23b12d6-6eae-eb46-eaaf-19de19472255?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc/test-%CE%B2%C2%A3%C2%A9%C3%BE%E2%80%BD%253A-62568818-8104-c4b8-49c0-25fb3ee3340a?sv=Sanitized&se=2024-06-20T01%3A21%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Thu, 20 Jun 2024 00:21:56 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC90BEFEFAE496\"",
        "Last-Modified": "Thu, 20 Jun 2024 00:21:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Kk1lPbJY/8c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8b94b1a-b68d-7563-76b6-427dc300aedc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Jun 2024 00:21:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-19T19:21:56.5697952-05:00",
    "RandomSeed": "1056450543",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
