{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efdd97ac-8abe-9b96-2d01-35ca5c865479?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E14EDCDFC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efdd97ac-8abe-9b96-2d01-35ca5c865479/test-blob-90b4da01-6266-48f0-1568-c1261dfba99a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E15002C42\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efdd97ac-8abe-9b96-2d01-35ca5c865479/test-blob-90b4da01-6266-48f0-1568-c1261dfba99a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "qc+Hlk6WYq/xV11ZFkQMjBGs9GED8nkx2+81sQx8gf8ugai/Glk5P5fUb6g6nYr0ymMYV53U77dWVbtfYbGiddVdKpScTXK3c7XKLoPQ9z1lQOeoZCliWpLxacSe2t3mMvrS3HP1WHzxYOToCcA0hV59+SHJ+RCs+9ACq+StGZjX5PyI/hrKcOdqtgNEelDRveNlIOG8HDjpJuGi8q2YREdMESXDq4dEs4k5XkMMaIB/MO4ASPi3GsfEntg5J3060XK8+GgrDhFcIW1Xg7303L5gI8K/mPxOlfZd/gyuCosM/ozQUG8XVCLcoyaLX5YJz8Ia2QS6ezl2bWJyzQ8FrRbhS4QwJIxOSM+f4vTVwjVgUy9KlDGGUYNTWuINpYYS1/UPqhMS2Ks2y5A1Gph[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efdd97ac-8abe-9b96-2d01-35ca5c865479/test-blob-a8cb74cb-a942-c1d5-78ad-fc7cfcaf364a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-efdd97ac-8abe-9b96-2d01-35ca5c865479/test-blob-90b4da01-6266-48f0-1568-c1261dfba99a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E15C95E91\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:06 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "a+QKfMVmU8A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-efdd97ac-8abe-9b96-2d01-35ca5c865479?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "338638055",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
