{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-441b0692-6e8d-cbf6-d3b7-e9d96ad80177?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86FD9828A691\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-441b0692-6e8d-cbf6-d3b7-e9d96ad80177/test-blob-5f42e28e-63df-645e-9173-7ae83cc5a88e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86FD9834E14C\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T14:24:51.8218060Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-441b0692-6e8d-cbf6-d3b7-e9d96ad80177/test-blob-5f42e28e-63df-645e-9173-7ae83cc5a88e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KRapC6pEFVg3o9905a48I8IyjLRZXuJUCQzoDDN9E1fxXh53BukMB58mbPFfOpERcOKPMoBy0co0VAGeXAkluZCHgoeQxB3ZJYUVMvLw9c971pxQ7eDWf4xTQ7HnbquWAbJg17cJgavFtgz7XJ7YQ18yI4Vt1MuwsAL6PYFs8bfZfzFAjx0YcVXwizfT2iPuewBRtUolKSzmsCa0DkQqWMVVIt1tmLNCGrEwfEmU3NXfDMKAGztttFYFWd72Y2MRxTJyfrhFgOJMDpuZ9azjUtRQ1QGBqT2J522HaD/UTLdOHrcWIV0cmYvfNAyg1L+pIQYKpY1hjxv06ZZLvhijd8LkStb1zDF3Mzt2onUx6BOu3UY4yqYp7Y+bITjG0dtyO7xKvInotFXVk3FR6uy[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-441b0692-6e8d-cbf6-d3b7-e9d96ad80177/test-blob-469bd1d6-0de6-4306-38b8-1b9952fcca79?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-441b0692-6e8d-cbf6-d3b7-e9d96ad80177/test-blob-5f42e28e-63df-645e-9173-7ae83cc5a88e",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86FD9963E6B7\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:53 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ThhSdqIys+o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-441b0692-6e8d-cbf6-d3b7-e9d96ad80177?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "279548218",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
