{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-beb79c10-ca6d-68fd-84d6-cb05f320c2e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E09C560DA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-beb79c10-ca6d-68fd-84d6-cb05f320c2e5/test-blob-2d8933d1-6929-bc8b-f494-8de848646752",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E09D1820A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-beb79c10-ca6d-68fd-84d6-cb05f320c2e5/test-blob-2d8933d1-6929-bc8b-f494-8de848646752?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "FzBnjLl5cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E09DD19D3\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:46 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "DIsvn8Imfg0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e1f55117-9198-1db6-60d2-908b94b3a407/test-blob-5f3206dc-3237-2a5f-ea70-f703c8445828?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:11:45 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AYKse4WPlA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E0A0F220A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "GRTjSlKzBhc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e11cb431-598d-7d8e-e1bb-1bbbcdfce08b/test-blob-4ca35bc7-ca9c-4c0c-3221-67cb1fa09ed0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:11:45 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "S8snUTU0WQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E0A3E1D4B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "IUnVRyfULmY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-18a191a2-a76c-cde9-a611-c0b87c446f23/test-blob-33bb8e24-722e-56fd-6cdf-e7cc1c03c851",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E0A66896A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-18a191a2-a76c-cde9-a611-c0b87c446f23/test-blob-33bb8e24-722e-56fd-6cdf-e7cc1c03c851?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8DC867E0A66896A",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "C1IkXacNog==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E0A7F8D8F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "t2wEVvS3jkE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d7f85bb1-0f1c-aef3-3e12-72c447838fc4/test-blob-65a4ffaa-6d2e-0459-2618-d46fafbf0800?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "959f0335-4e16-e68a-0383-137485366265",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E0AE1C968\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:48 GMT",
        "x-ms-lease-id": "959f0335-4e16-e68a-0383-137485366265",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3c9e0139-edb2-086f-fe8f-bf43d345a146/test-blob-f759fb0f-35fb-55b0-ffaa-3187424264b0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-condition-appendpos": "0",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "0AhrR0+dHA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E0B34EB75\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:49 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "wcHIWyeM9Qo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f9ff9ae1-52f7-825a-fab8-2f5b73276497/test-blob-a7e52036-325a-6307-c154-382143926f2e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-condition-maxsize": "100",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "K5h66gB05Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E0B66F3AC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:11:49 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "dK0tFtAQSAE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f9ff9ae1-52f7-825a-fab8-2f5b73276497?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:11:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:11:45.2286016-05:00",
    "RandomSeed": "520085029",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
