{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-centraluseuap-brefmanyqpzrq/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "int-01",
        "x-ms-middleware-request-id": "d0414837-2e72-4f12-90f0-12c32d310c18",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.185"
      },
      "ResponseBody": {
        "id": "asst_XE0jzZSDObtZbYwaSlr5V3FR",
        "object": "assistant",
        "created_at": 1728581482,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-centraluseuap-brefmanyqpzrq/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "int-01",
        "x-ms-middleware-request-id": "f97165fd-ebf8-4a65-bde2-e5a6981009c9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.196"
      },
      "ResponseBody": {
        "id": "thread_hK2s1DjwpxjaUIKz6T34ZD9P",
        "object": "thread",
        "created_at": 1728581482,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-centraluseuap-brefmanyqpzrq/threads/thread_hK2s1DjwpxjaUIKz6T34ZD9P/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "int-01",
        "x-ms-middleware-request-id": "10d6d712-e622-41f3-ab8d-d67fb9ae19e6",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.312"
      },
      "ResponseBody": {
        "id": "msg_IbVi8cNN2rhGAVi1zzrXbkce",
        "object": "thread.message",
        "created_at": 1728581484,
        "assistant_id": null,
        "thread_id": "thread_hK2s1DjwpxjaUIKz6T34ZD9P",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-centraluseuap-brefmanyqpzrq/assistants/asst_XE0jzZSDObtZbYwaSlr5V3FR?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "int-01",
        "x-ms-middleware-request-id": "c9061429-c841-484b-b46e-ae85cee534c8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.197"
      },
      "ResponseBody": {
        "id": "asst_XE0jzZSDObtZbYwaSlr5V3FR",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
