{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-centraluseuap-brefmanyqpzrq/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "int-01",
        "x-ms-middleware-request-id": "7ab16141-8ab9-4e39-9cad-3d725b967a1a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.244"
      },
      "ResponseBody": {
        "id": "asst_FCXxXE0oUhKvidavwuBzvUKx",
        "object": "assistant",
        "created_at": 1728581454,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/agents/v1.0/subscriptions/47f1c914-e299-4953-a99d-3e34644cfe1c/resourceGroups/rg-agent-test-westus2/providers/Microsoft.MachineLearningServices/workspaces/proj-centraluseuap-brefmanyqpzrq/assistants/asst_FCXxXE0oUhKvidavwuBzvUKx?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "int-01",
        "x-ms-middleware-request-id": "2c8bcb08-1e27-4df0-914e-99faa0c474f4",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.430"
      },
      "ResponseBody": {
        "id": "asst_FCXxXE0oUhKvidavwuBzvUKx",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
