{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/49d64d54-e966-4c46-a868-1999802b762c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "tags": {
          "SkipCleanup": "true"
        },
        "subscriptionId": "49d64d54-e966-4c46-a868-1999802b762c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Az WaaS Test 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/centraluseuap/sapVirtualInstanceMetadata/default/getAvailabilityZoneDetails?api-version=2024-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "centraluseuap",
        "sapProduct": "S4HANA",
        "databaseType": "HANA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview, 2024-02-01-preview, 2024-09-01, 2024-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "06ba52d4-5b09-4b92-b1f9-32ebfa34036c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "availabilityZonePairs": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/centraluseuap/sapVirtualInstanceMetadata/default/getDiskConfigurations?api-version=2024-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "centraluseuap",
        "environment": "NonProd",
        "sapProduct": "S4HANA",
        "databaseType": "HANA",
        "deploymentType": "ThreeTier",
        "dbVmSku": "Standard_M32ts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview, 2024-02-01-preview, 2024-09-01, 2024-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ecb21b3f-c3f5-4c6f-9793-8cd46e9dad6c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "volumeConfigurations": {
          "hana/data": {
            "recommendedConfiguration": {
              "count": 4,
              "sizeGB": 128,
              "sku": {
                "name": "Premium_LRS"
              }
            },
            "supportedConfigurations": [
              {
                "sku": {
                  "name": "Premium_LRS"
                },
                "sizeGB": 128,
                "minimumSupportedDiskCount": 4,
                "maximumSupportedDiskCount": 5,
                "iopsReadWrite": 500,
                "mbpsReadWrite": 100,
                "diskTier": "P10"
              }
            ]
          },
          "hana/log": {
            "recommendedConfiguration": {
              "count": 3,
              "sizeGB": 128,
              "sku": {
                "name": "Premium_LRS"
              }
            },
            "supportedConfigurations": [
              {
                "sku": {
                  "name": "Premium_LRS"
                },
                "sizeGB": 128,
                "minimumSupportedDiskCount": 3,
                "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/centraluseuap/sapVirtualInstanceMetadata/default/getSapSupportedSku?api-version=2024-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "eastus2",
        "environment": "Prod",
        "sapProduct": "S4HANA",
        "deploymentType": "ThreeTier",
        "databaseType": "HANA",
        "highAvailabilityType": "AvailabilitySet"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview, 2024-02-01-preview, 2024-09-01, 2024-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "84e6c627-53f9-4ac4-ad8e-1abf9525528a",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "supportedSkus": [
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D16ds_v4"
          },
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D16ds_v5"
          },
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D32ds_v4"
          },
          {
            "isAppServerCertified": true,
            "isDatabaseCertified": false,
            "vmSku": "Standard_D32ds_v5"
          },
          {
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/centraluseuap/sapVirtualInstanceMetadata/default/getSizingRecommendations?api-version=2024-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "appLocation": "eastus2",
        "environment": "Prod",
        "sapProduct": "S4HANA",
        "deploymentType": "ThreeTier",
        "saps": 23622,
        "dbMemory": 1024,
        "databaseType": "HANA",
        "dbScaleMethod": "ScaleUp",
        "highAvailabilityType": "AvailabilitySet"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview, 2024-02-01-preview, 2024-09-01, 2024-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0a38f40c-d032-40ff-9513-b80d635aa1e3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "applicationServerVmSku": "Standard_E8ds_v4",
        "applicationServerInstanceCount": 2,
        "centralServerVmSku": "Standard_E4ds_v4",
        "centralServerInstanceCount": 2,
        "dbVmSku": "Standard_M64s_v2",
        "databaseInstanceCount": 2,
        "deploymentType": "ThreeTier"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "531041140",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "49d64d54-e966-4c46-a868-1999802b762c"
  }
}
