{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ea747fd7-4547-4100-b45a-c0580d18d538?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/ea747fd7-4547-4100-b45a-c0580d18d538",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "ea747fd7-4547-4100-b45a-c0580d18d538",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "DevDiv China Flexible Friday Projects",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ea747fd7-4547-4100-b45a-c0580d18d538/resourcegroups/dotnet-testrecordings-9034?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/ea747fd7-4547-4100-b45a-c0580d18d538/resourceGroups/dotnet-testrecordings-9034",
        "name": "dotnet-testrecordings-9034",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1476730805",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ea747fd7-4547-4100-b45a-c0580d18d538"
  }
}
