{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('jusexjlo')/docs/search.index?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "mergeOrUpload",
            "hotelId": "1",
            "hotelName": "Secret Point Motel",
            "description": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time's Square and the historic centre of the city, as well as other places of interest that make New York one of America's most attractive and cosmopolitan cities.",
            "descriptionFr": "L'hôtel est idéalement situé sur la principale artère commerciale de la ville en plein cœur de New York. A quelques minutes se trouve la place du temps et le centre historique de la ville, ainsi que d'autres lieux d'intérêt qui font de New York l'une des villes les plus attractives et cosmopolites de l'Amérique.",
            "category": "Boutique",
            "tags": [
              "pool",
              "air conditioning",
              "concierge"
            ],
            "parkingIncluded": false,
            "smokingAllowed": true,
            "lastRenovationDate": "1970-01-18T00:00:00.0000000-05:00",
            "rating": 4,
            "location": {
              "type": "Point",
              "coordinates": [
                -73.975403,
                40.760586
              ]
            },
            "geoLocation": {
              "type": "Point",
              "coordinates": [
                -73.975403,
                40.760586
              ]
            },
            "address": {
              "streetAddress": "677 5th Ave",
              "city": "New York",
              "stateProvince": "NY",
              "country": "USA",
              "postalCode": "10022"
            },
            "rooms": [
              {
                "description": "Budget Room, 1 Queen Bed (Cityside)",
                "descriptionFr": "Chambre Économique, 1 grand lit (côté ville)",
                "type": "Budget Room",
                "baseRate": 9.69,
                "bedOptions": "1 Queen Bed",
                "sleepsCount": 2,
                "smokingAllowed": true,
                "tags": [
                  "vcr/dvd"
                ]
              },
              {
                "description": "Budget Room, 1 King Bed (Mountain View)",
                "descriptionFr": "Chambre Économique, 1 très grand lit (Mountain View)",
                "type": "Budget Room",
                "baseRate": 8.09,
                "bedOptions": "1 King Bed",
                "sleepsCount": 2,
                "smokingAllowed": true,
                "tags": [
                  "vcr/dvd",
                  "jacuzzi tub"
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "76",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('jusexjlo')/docs('1')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": "Secret Point Motel",
        "description": null,
        "descriptionFr": "L'hôtel est idéalement situé sur la principale artère commerciale de la ville en plein cœur de New York. A quelques minutes se trouve la place du temps et le centre historique de la ville, ainsi que d'autres lieux d'intérêt qui font de New York l'une des villes les plus attractives et cosmopolites de l'Amérique.",
        "descriptionVector": [],
        "category": "Economy",
        "tags": [
          "pool",
          "air conditioning"
        ],
        "parkingIncluded": true,
        "smokingAllowed": true,
        "lastRenovationDate": null,
        "rating": 3,
        "location": null,
        "geoLocation": null,
        "address": {
          "streetAddress": "677 5th Ave",
          "city": "New York",
          "stateProvince": "NY",
          "country": "USA",
          "postalCode": "10022"
        },
        "rooms": [
          {
            "description": null,
            "descriptionFr": null,
            "type": "Budget Room",
            "baseRate": 10.5,
            "bedOptions": "1 Queen Bed",
            "sleepsCount": 2,
            "smokingAllowed": true,
            "tags": [
              "vcr/dvd",
              "balcony"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('jusexjlo')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "165",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "280127650",
    "SearchIndexName": "jusexjlo",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
