{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('lrvcgewk')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "39"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "The request is invalid. Details: actions : 0: Document key cannot be missing or empty.",
          "details": [
            {
              "code": "MissingKeyField",
              "message": "0: Document key cannot be missing or empty. Parameters: actions"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('lrvcgewk')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "133",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "278831546",
    "SearchIndexName": "lrvcgewk",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
