{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/newshare176409309786301552?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Premium",
        "x-ms-date": "Tue, 25 Nov 2025 17:51:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4B4952734A\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:51:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&prefix=newshare176409309786301552",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:51:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Prefix>newshare176409309786301552</Prefix><Shares><Share><Name>newshare176409309786301552</Name><Properties><Last-Modified>Tue, 25 Nov 2025 17:51:39 GMT</Last-Modified><Etag>\"0x8DE2C4B4952734A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>100</Quota><EnabledProtocols>SMB</EnabledProtocols><AccessTier>Premium</AccessTier><ProvisionedIops>3100</ProvisionedIops><ProvisionedBandwidthMiBps>110</ProvisionedBandwidthMiBps><ProvisionedIngressMBps>110</ProvisionedIngressMBps><ProvisionedEgressMBps>110</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Tue, 25 Nov 2025 17:51:39 GMT</NextAllowedQuotaDowngradeTime><PaidBurstingEnabled>false</PaidBurstingEnabled><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/newshare176409309786301552?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:51:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "newshare": "newshare176409309786301552"
  }
}
