{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpointa970/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_29a0893a8ba9a9fa62d8b9de415ebb3a311a62a498fb7da3923814761a2f7834_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpointa970/nodes/tvmps_29a0893a8ba9a9fa62d8b9de415ebb3a311a62a498fb7da3923814761a2f7834_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-03T22:22:14.244172Z",
            "lastBootTime": "2026-02-03T22:22:13.943051Z",
            "allocationTime": "2026-02-03T22:20:49.5582104Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_29a0893a8ba9a9fa62d8b9de415ebb3a311a62a498fb7da3923814761a2f7834_d",
            "vmSize": "standard_a1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "52.175.50.14",
                  "publicFQDN": "dns4a856bd8-084d-4cbc-97d7-b75d20b0a297-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                },
                {
                  "name": "ssh.0",
                  "protocol": "tcp",
                  "publicIPAddress": "52.175.50.14",
                  "publicFQDN": "dns4a856bd8-084d-4cbc-97d7-b75d20b0a297-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-02-03T22:22:13.943051Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpointa970/nodes/tvmps_29a0893a8ba9a9fa62d8b9de415ebb3a311a62a498fb7da3923814761a2f7834_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpointa970/nodes/tvmps_29a0893a8ba9a9fa62d8b9de415ebb3a311a62a498fb7da3923814761a2f7834_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "52.175.50.14",
        "remoteLoginPort": 15000
      }
    }
  ],
  "Variables": {
    "ENDPOINT_POOL": "jssdkPool-Endpointa970"
  }
}
