{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?maxresults=1&api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "jssdkPool-Basic2f40",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2f40",
            "eTag": "0x8DE6372524A8B14",
            "lastModified": "2026-02-03T22:19:39.1227668Z",
            "creationTime": "2026-02-03T22:18:54.9754875Z",
            "state": "active",
            "stateTransitionTime": "2026-02-03T22:18:54.9754875Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2026-02-03T22:19:32.4778253Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 4,
            "targetDedicatedNodes": 4,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "startTask": {
              "commandLine": "cmd /c echo hello > hello.txt",
              "userIdentity": {
                "autoUser": {
                  "scope": "pool",
                  "elevationLevel": "nonadmin"
                }
              },
              "maxTaskRetryCount": 0,
              "waitForSuccess": true
            },
            "userAccounts": [
              {
                "name": "nonAdminUser",
                "elevationLevel": "nonadmin",
                "windowsUserConfiguration": {
                  "loginMode": "batch"
                }
              }
            ],
            "metadata": [
              {
                "name": "foo",
                "value": "bar"
              }
            ],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread",
              "jobDefaultOrder": "none"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "microsoftwindowsserver",
                "offer": "windowsserver",
                "sku": "2022-datacenter",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64",
              "extensions": [
                {
                  "name": "batchextension1",
                  "publisher": "Microsoft.Azure.Geneva",
                  "type": "GenevaMonitoring",
                  "typeHandlerVersion": "2.0",
                  "autoUpgradeMinorVersion": true,
                  "enableAutomaticUpgrade": true
                }
              ]
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "enableAcceleratedNetworking": true
            }
          }
        ],
        "odata.nextLink": "https://dummyaccount.eastus.batch.azure.com/pools?maxresults=1&api-version=2025-06-01&$skiptoken=Sanitized"
      }
    }
  ],
  "Variables": {}
}
