{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "jssdkPool-Confidential568d",
        "vmSize": "Standard_D2s_v3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-confidential-vm-jammy",
            "sku": "22_04-lts-cvm"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "securityProfile": {
            "securityType": "confidentialVM",
            "encryptionAtHost": true,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "proxyAgentSettings": {
              "enabled": true,
              "wireServer": {
                "mode": "Audit"
              },
              "imds": {
                "mode": "Audit"
              }
            }
          },
          "osDisk": {
            "managedDisk": {
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            }
          }
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential568d",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6372DA661570",
        "Last-Modified": "Tue, 03 Feb 2026 22:23:27 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential568d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential568d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6372DA661570",
        "Last-Modified": "Tue, 03 Feb 2026 22:23:27 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Confidential568d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential568d",
        "eTag": "0x8DE6372DA661570",
        "lastModified": "2026-02-03T22:23:27.4733936Z",
        "creationTime": "2026-02-03T22:23:27.4733929Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T22:23:27.4733929Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-02-03T22:23:27.4733936Z",
        "vmSize": "standard_d2s_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-confidential-vm-jammy",
            "sku": "22_04-lts-cvm",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs",
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            },
            "caching": "None"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "securityProfile": {
            "securityType": "confidentialvm",
            "encryptionAtHost": true,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "proxyAgentSettings": {
              "enabled": true,
              "imds": {
                "mode": "Audit"
              },
              "wireServer": {
                "mode": "Audit"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential568d?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CVM_POOL": "jssdkPool-Confidential568d"
  }
}
