{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-36c08?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE1809C7A58C86",
        "Last-Modified": "Thu, 30 Oct 2025 23:12:21 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-36c08",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-36c08",
        "eTag": "0x8DE1809C7A58C86",
        "lastModified": "2025-10-30T23:12:21.6476806Z",
        "creationTime": "2025-10-30T23:12:21.6476792Z",
        "state": "active",
        "stateTransitionTime": "2025-10-30T23:12:21.6476792Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2025-10-30T23:12:22.8398987Z",
        "vmSize": "standard_a1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-36c08/resize?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "targetDedicatedNodes": 3,
        "targetLowPriorityNodes": 2
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-36c08/resize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE1809C92BD110",
        "Last-Modified": "Thu, 30 Oct 2025 23:12:24 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_POOL3": "jssdkPool-36c08"
  }
}
