{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2025-03-02-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 15:32:26 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-31-preview, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "AAD application is not the expected one.",
          "target": "appId"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1842180825"
  }
}
