{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 18 Oct 2023 14:52:53 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": "Sanitized"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "OXs8lwSZpkmckUFBoE3EUQ.0",
        "X-Processing-Time": "7ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidAccessToken",
          "message": "Provided access token is not valid."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "856538318"
  }
}
