{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2025-03-02-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 15:32:26 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "Sanitized",
        "userId": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-31-preview, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "168ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2025-04-14T16:33:40.5006871+00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "462399211"
  }
}
