{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/teamsUser/:exchangeAccessToken?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 18 Oct 2023 08:41:04 GMT"
      },
      "RequestBody": {
        "token": "Sanitized",
        "appId": "",
        "userId": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "cpDb2i63HUm1F0cf0w7QOw.0",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "AppId: The AppId field is required.",
          "target": "AppId"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2024772043"
  }
}
