{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics?timespan=2024-01-29T19%3A00%3A00.0000000Z%2F2024-01-29T19%3A15%3A00.0000000Z\u0026metricnames=CowsHappiness\u0026aggregation=Count\u0026$filter=Name%20eq%20%27Guinness%27\u0026api-version=2023-10-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2024-01-29T19:00:00Z/2024-01-29T19:15:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [
                  {
                    "name": {
                      "value": "name",
                      "localizedValue": "name"
                    },
                    "value": "Guinness"
                  }
                ],
                "data": [
                  {
                    "timeStamp": "2024-01-29T19:00:00Z",
                    "count": 1
                  },
                  {
                    "timeStamp": "2024-01-29T19:01:00Z",
                    "count": 2
                  },
                  {
                    "timeStamp": "2024-01-29T19:02:00Z",
                    "count": 3
                  },
                  {
                    "timeStamp": "2024-01-29T19:03:00Z",
                    "count": 4
                  },
                  {
                    "timeStamp": "2024-01-29T19:04:00Z",
            [...]
