{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs-1/providers/microsoft.insights/metricNamespaces?api-version=2017-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs-1/providers/microsoft.insights/metricNamespaces/microsoft.operationalinsights-workspaces",
            "name": "microsoft.operationalinsights-workspaces",
            "type": "Microsoft.Insights/metricNamespaces",
            "classification": "Platform",
            "properties": {
              "metricNamespaceName": "microsoft.operationalinsights/workspaces"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-01T20:44:15.1037396-07:00",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs-1",
    "RandomSeed": "432382899"
  }
}
