{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/providers/microsoft.insights/metricNamespaces?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/providers/microsoft.insights/metricNamespaces/Microsoft.OperationalInsights-workspaces",
            "name": "Microsoft.OperationalInsights-workspaces",
            "type": "Microsoft.Insights/metricNamespaces",
            "classification": "Platform",
            "properties": {
              "metricNamespaceName": "Microsoft.OperationalInsights/workspaces"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T12:04:15.0019228-07:00",
    "METRICS_RESOURCE_ID": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1",
    "RandomSeed": "221550325"
  }
}
