{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/providers/Microsoft.Insights/metricDefinitions?api-version=2023-10-01&metricnamespace=Microsoft.OperationalInsights%2Fworkspaces",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/providers/microsoft.insights/metricdefinitions/BytesExported",
            "resourceId": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1",
            "namespace": "Microsoft.OperationalInsights/workspaces",
            "category": "DataExport",
            "name": {
              "value": "BytesExported",
              "localizedValue": "Bytes Exported (preview)"
            },
            "displayDescription": "Total number of bytes exported per the specified data export rule to the specified destination from this workspace.",
            "isDimensionRequired": false,
            "unit": "Bytes",
            "primaryAggregationType": "Total",
            "supportedAggregationTypes": [
              "None",
              "Average",
              "Minimum",
              "Maximum",
              "Total",
              "Count"
            ],
            "metricAvailabilities": [
              {
                "timeGrain": "PT1M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT5M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT15M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT30M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT1H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT6H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT12H",
                "retention": "P93D"
              },
              {
                "timeGrain": "P1D",
                "retention": "P93D"
              }
            ],
            "dimensions": [
              {
                "value": "LogAnalyticsDataExportDestinationType",
                "localizedValue": "LogAnalyticsDataExportDestinationType"
              },
              {
                "value": "LogAnalyticsDataExportRuleName",
                "localizedValue": "LogAnalyticsDataExportRuleName"
              }
            ]
          },
          {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Micro[...]
