{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics?timespan=2024-03-06T19%3A45%3A00.0000000Z%2F2024-03-06T20%3A00%3A00.0000000Z\u0026metricnames=CowsHappiness\u0026aggregation=Average%2CCount%2CMaximum%2CMinimum%2CTotal\u0026api-version=2023-10-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 70,
        "timespan": "2024-03-06T19:45:00Z/2024-03-06T20:00:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Cows",
        "resourceregion": "westus"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T12:09:03.4696967-08:00",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs",
    "RandomSeed": "1120689096"
  }
}
