{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics?timespan=2024-01-24T02%3A00%3A00.0000000Z%2F2024-01-24T02%3A15%3A00.0000000Z\u0026metricnames=CowsHappiness\u0026api-version=2023-10-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2024-01-24T02:00:00Z/2024-01-24T02:15:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2024-01-24T02:00:00Z",
                    "average": 0
                  },
                  {
                    "timeStamp": "2024-01-24T02:01:00Z",
                    "average": 15
                  },
                  {
                    "timeStamp": "2024-01-24T02:02:00Z",
                    "average": 20
                  },
                  {
                    "timeStamp": "2024-01-24T02:03:00Z",
                    "average": 22.5
                  },
                  {
                    "timeStamp": "2024-01-24T02:04:00Z",
 [...]
