{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics?timespan=2024-01-29T19%3A00%3A00.0000000Z%2F2024-01-29T19%3A15%3A00.0000000Z\u0026interval=PT5M\u0026metricnames=CowsHappiness\u0026api-version=2023-10-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "cost": 14,
        "timespan": "2024-01-29T19:00:00Z/2024-01-29T19:15:00Z",
        "interval": "PT5M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2024-01-29T19:00:00Z",
                    "average": 20
                  },
                  {
                    "timeStamp": "2024-01-29T19:05:00Z",
                    "average": 26.25
                  },
                  {
                    "timeStamp": "2024-01-29T19:10:00Z",
                    "average": 27.692307692307693
                  }
                ]
              }
            ],
            "errorCode": "Success"
          }
        ],
        "namespace": "Cows",
        "resourceregion": "westus"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-01-29T11:24:34.3734425-08:00",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs",
    "RandomSeed": "470860006",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/"
  }
}
