{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics?metricnames=CowsHappiness\u0026api-version=2023-10-01\u0026metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-01-29T18:24:33Z/2024-01-29T19:24:33Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2024-01-29T18:24:00Z"
                  },
                  {
                    "timeStamp": "2024-01-29T18:25:00Z"
                  },
                  {
                    "timeStamp": "2024-01-29T18:26:00Z"
                  },
                  {
                    "timeStamp": "2024-01-29T18:27:00Z"
                  },
                  {
                    "timeStamp": "2024-01-29T18:28:00Z"
                  },
                  {
                    "timeStamp": "2024-01-29T18[...]
