{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/providers/Microsoft.Insights/metrics?timespan=2025-08-06T18%3A45%3A00.0000000Z%2F2025-08-06T19%3A00%3A00.0000000Z&metricnames=CowsHappiness&aggregation=Average%2CCount%2CMaximum%2CMinimum%2CTotal&api-version=2023-10-01&metricnamespace=Cows",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "cost": 70,
        "timespan": "2025-08-06T18:45:00Z/2025-08-06T19:00:00Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/providers/Microsoft.Insights/metrics/CowsHappiness",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "CowsHappiness",
              "localizedValue": "CowsHappiness"
            },
            "unit": "Unspecified",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Cows",
        "resourceregion": "westus2"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T12:02:50.6199067-07:00",
    "METRICS_RESOURCE_ID": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1",
    "RandomSeed": "681184252"
  }
}
