{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/metrics:getBatch?interval=PT5M\u0026metricnamespace=Microsoft.Storage%2FstorageAccounts\u0026metricnames=Ingress\u0026aggregation=Average%2CCount\u0026top=10\u0026api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/nibhatistorage"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "values": [
          {
            "cost": 118,
            "starttime": "2024-01-29T19:34:18Z",
            "endtime": "2024-01-29T20:34:18Z",
            "interval": "PT5M",
            "value": [
              {
                "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/nibhatistorage/providers/Microsoft.Insights/metrics/Ingress",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "Ingress",
                  "localizedValue": "Ingress"
                },
                "displayDescription": "The amount of ingress data, in bytes. This number includes ingress from an external client into Azure Storage as well as ingress within Azure.",
                "unit": "Bytes",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2024-01-29T19:34:00Z",
                        "count": 0,
                        "average": 0
                      },
                      {
                        "timeStamp": "2024-01-29T19:39:00Z",
                        "count": 0,
                        "average": 0
                      },
                      {
                        "timeStamp": "2024-01-29T19:44:00Z",
                        "count": 0,
                        "average": 0
                      },
                      {
                        "timeStamp": "2024-01-29T19:49:00Z",
                     [...]
