{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/metrics:getBatch?metricnamespace=microsoft.insights%2Fcomponents\u0026metricnames=HttpIncomingRequestCount\u0026api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor"
        ]
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "30s",
        "X-Rate-Limit-Remaining": "2999",
        "X-Rate-Limit-Reset": "2023-10-11T18:46:33.7095760Z"
      },
      "ResponseBody": "Index was outside the bounds of the array."
    },
[...]
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/metrics:getBatch?metricnamespace=microsoft.insights%2Fcomponents\u0026metricnames=HttpIncomingRequestCount\u0026api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor"
        ]
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "30s",
        "X-Rate-Limit-Remaining": "2999",
        "X-Rate-Limit-Reset": "2023-10-11T18:46:40.0112352Z"
      },
      "ResponseBody": "Index was outside the bounds of the array."
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DATAPLANE_ENDPOINT": "https://westus.metrics.monitor.azure.com",
    "DateTimeOffsetNow": "2023-10-11T11:45:47.9406777-07:00",
    "LOCATION": "westus",
    "METRICS_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs",
    "RandomSeed": "956372335",
    "RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/"
  }
}
