{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/metrics:getBatch?metricnamespace=Microsoft.Storage%2FstorageAccounts\u0026metricnames=Ingress\u0026api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/nibhatistorage"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "30s",
        "X-Rate-Limit-Remaining": "2999",
        "X-Rate-Limit-Reset": "2024-01-24T00:09:25.6469179Z"
      },
      "ResponseBody": {
        "values": [
          {
            "cost": 59,
            "starttime": "2024-01-23T23:08:55Z",
            "endtime": "2024-01-24T00:08:55Z",
            "interval": "PT1M",
            "value": [
              {
                "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/nibhatistorage/providers/Microsoft.Insights/metrics/Ingress",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "Ingress",
                  "localizedValue": "Ingress"
                },
                "displayDescription": "The amount of ingress data, in bytes. This number includes ingress from an external client into Azure Storage as well as ingress within Azure.",
                "unit": "Bytes",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2024-01-23T23:08:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2024-01-23T23:09:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2024-01-23T23:10:00Z",
                        "total": 442
                      },
                      {
                        "timeStamp": "2024-01-23T23:11:00Z",
                        "total": 0
                      },
                      {
           [...]
