{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/StorageAccount_Create?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "storageAccountName": {
              "value": "monitorsanaa144hei"
            }
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "storageAccountId": {
                "type": "string",
                "value": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
              }
            },
            "parameters": {
              "storageAccountName": {
                "defaultValue": "$(storageAccountName)",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2022-05-01",
                "kind": "StorageV2",
                "location": "eastus",
                "name": "Sanitized",
                "properties": {
                  "accessTier": "Hot",
                  "allowBlobPublicAccess": true,
                  "allowCrossTenantReplication": true,
                  "allowSharedKeyAccess": true,
                  "defaultToOAuthAuthentication": false,
                  "dnsEndpointType": "Standard",
                  "encryption": {
                    "keySource": "Microsoft.Storage",
                    "requireInfrastructureEncryption": false,
                    "services": {
                      "blob": {
                        "enabled": true,
                        "keyType": "Account"
                      },
                      "file": {
                        "enabled": true,
                        "keyType": "Account"
                      }
                    }
                  },
                  "minimumTlsVersion": "TLS1_2",
                  "networkAcls": {
                    "bypass": "AzureServices",
                    "defaultAction": "Allow",
                    "ipRules": [],
                    "virtualNetworkRules": []
                  },
                  "publicNetworkAccess": "Enabled",
                  "supportsHttpsTrafficOnly": true
                },
                "sku": {
                  "name": "Sanitized",
                  "tier": "Standard"
                },
                "type": "Microsoft.Storage/storageAccounts"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/StorageAccount_Create/operationStatuses/08584218305615694501?api-version=2025-04-01&t=639153731246041971&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxMDA4MTUzOVoXDTI2MTAwNTE0MTUzOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFu[...]
