{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Insights/actionGroups/actiongroupnaRJ2W26?api-version=2024-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {
          "emailReceivers": [
            {
              "emailAddress": "johndoe@eamil.com",
              "name": "Sanitized",
              "useCommonAlertSchema": false
            }
          ],
          "enabled": true,
          "groupShortName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01, 2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview, 2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview, 2024-10-01-preview, 2025-09-01-preview, 2026-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-ActivityId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799",
        "X-ServedBy": "GBL4AZNS000008"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "type": "Microsoft.Insights/ActionGroups",
        "name": "Sanitized",
        "location": "Global",
        "kind": null,
        "tags": null,
        "properties": {
          "groupShortName": "sample",
          "enabled": true,
          "emailReceivers": [
            {
              "name": "Sanitized",
              "emailAddress": "johndoe@eamil.com",
              "useCommonAlertSchema": false,
              "status": "Enabled"
            }
          ],
          "smsReceivers": [],
          "webhookReceivers": [],
          "eventHubReceivers": [],
          "itsmReceivers": [],
          "azureAppPushReceivers": [],
          "automationRunbookReceivers": [],
          "voiceReceivers": [],
          "logicAppReceivers": [],
          "azureFunctionReceivers": [],
          "armRoleReceivers": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Insights/actionGroups/actiongroupnaRJ2W26?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2016-09-01-previe[...]
