{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "1c835c29-68e9-40a7-8455-842925d04908",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-E2E-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourcegroups/Default-Nginx-8421?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421",
        "name": "Default-Nginx-8421",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/publicIPAddresses/testPublicIP-851?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/c2d31ab4-0a88-48bb-b9da-937d5c29286a?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "name": "testPublicIP-851",
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/publicIPAddresses/testPublicIP-851",
        "etag": "W/\u00222c1ba13f-11dc-4110-a7d5-103509694783\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "9e2f0b24-a6df-43ad-9e86-3d44d7c2ad1b",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/c2d31ab4-0a88-48bb-b9da-937d5c29286a?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/publicIPAddresses/testPublicIP-851?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a4d485db-5780-4692-bfce-8e82f2ded8e7\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "name": "testPublicIP-851",
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/publicIPAddresses/testPublicIP-851",
        "etag": "W/\u0022a4d485db-5780-4692-bfce-8e82f2ded8e7\u0022",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "9e2f0b24-a6df-43ad-9e86-3d44d7c2ad1b",
          "ipAddress": "4.255.166.194",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/networkSecurityGroups/testNSG-9958?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/virtualNetworks/testVNet-3685?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-644",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/networkSecurityGroups/testNSG-9958",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/networkSecurityGroups/testNSG-9958/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/networkSecurityGroups/t[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-2959?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/publicIPAddresses/testPublicIP-851"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/virtualNetworks/testVNet-3685/subnets/testSubnet-644"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standard_Monthly"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/5782485d-0724-4740-8c3b-ab3ac4c80adf*2C70D56A974CE9A7E44F01D060D583C2D00B0797440567DF7DCCF5994CB02656?api-version=2023-04-01\u0026t=638363384865801161\u0026c=MIIHADCCBeigAwIBAgITHgOPMCVriuS4-lWO9AAAA48wJTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZ[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/5782485d-0724-4740-8c3b-ab3ac4c80adf*2C70D56A974CE9A7E44F01D060D583C2D00B0797440567DF7DCCF5994CB02656?api-version=2023-04-01\u0026t=638363384865801161\u0026c=MIIHADCCBeigAwIBAgITHgOPMCVriuS4-lWO9AAAA48wJTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMTk0NDE0WhcNMjQxMDI2MTk0NDE0WjBAMT4wPAYDVQQDEz[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-2959?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d05ff2b-0000-0600-0000-655f429c0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-2959",
        "name": "testDeployment-2959",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standard_Monthly"
        },
        "location": "westcentralus",
        "tags": {},
        "systemData": {
          "createdBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "createdByType": "Application",
          "createdAt": "2023-11-23T12:14:45.5645059Z",
          "lastModifiedBy": "83e1fee6-9cf1-487c-afb2-b5822019b861",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-11-23T12:14:45.5645059Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "9c8c1eab-1b64-4d95-bbba-04843012d190",
              "clientId": "cfcab166-335a-4af7-a61d-c7c07236688e"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.1 (nginx-plus-r30-p1)",
          "managedResourceGroup": "NGX_Default-Nginx-8421_testDeployment-2959_westcentralus",
          "ipAddress": "4.255.166.194",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/publicIPAddresses/testPublicIP-851"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-8421/providers/Microsoft.Network/virtualNetworks/testVNet-3685/subnets/testSubnet-644"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ManagedIdentityResourceID": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi",
    "RandomSeed": "2134922424",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "1c835c29-68e9-40a7-8455-842925d04908"
  }
}
