{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "1c835c29-68e9-40a7-8455-842925d04908",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Liftr-Nginx-E2E-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourcegroups/Default-Nginx-301?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301",
        "name": "Default-Nginx-301",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/publicIPAddresses/testPublicIP-155?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/8443f7a0-14a0-4978-9663-14364729af9b?api-version=2023-05-01&t=638748589571468971&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/8443f7a0-14a0-4978-9663-14364729af9b?api-version=**&t=638748589571468971&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/publicIPAddresses/testPublicIP-155?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"085215d5-65ef-4a1d-9a4d-e1cfa2ed44c7\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testPublicIP-155",
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/publicIPAddresses/testPublicIP-155",
        "etag": "W/\"085215d5-65ef-4a1d-9a4d-e1cfa2ed44c7\"",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "1833c053-4c22-4f17-a842-12022bb84537",
          "ipAddress": "52.161.141.240",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/networkSecurityGroups/testNSG-4519?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/cc3eec6b-d8a6-499c-ad6e-f6566ebba0ed?api-version=**&t=638748589620372235&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/virtualNetworks/testVNet-1065?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-6889",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/networkSecurityGroups/testNSG-4519",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/networkSecurityGroups/testNSG-4519/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/networkSecurityGroups/te[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/d4adb843-47f4-4d80-812c-f4b3a017b420?api-version=**&t=638748589660943846&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-9469?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/publicIPAddresses/testPublicIP-155"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/virtualNetworks/testVNet-1065/subnets/testSubnet-6889"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standardv2-test_Monthly"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/c5148081-660d-4cb3-97dc-7be5a1326179*947E93AC1374BA29A20180D425897BA51DD9ACF5235C5D400B8F21DB02D2AC24?api-version=2024-11-01-preview&t=638748589852695595&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBN[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/c5148081-660d-4cb3-97dc-7be5a1326179*947E93AC1374BA29A20180D425897BA51DD9ACF5235C5D400B8F21DB02D2AC24?api-version=2024-11-01-preview&t=638748589852695595&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-9469?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"9c02d850-0000-0200-0000-67ab095e0000\"",
        "mise-correlation-id": "7d89a1ca-d2c9-4951-a9d4-4ec93391d448",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-9469",
        "name": "testDeployment-9469",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standardv2-test_Monthly"
        },
        "location": "westcentralus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-02-11T08:23:00.4879325Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-02-11T08:23:00.4879325Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.5 (nginx-plus-r32-p2)",
          "ipAddress": "52.161.141.240",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/publicIPAddresses/testPublicIP-155"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-301/providers/Microsoft.Network/virtualNetworks/testVNet-1065/subnets/testSubnet-6889"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": null
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "nginxAppProtect": null,
          "dataplaneApiEndpoint": "https://testdeployment-9469-620d387ff3fd.westcentralus.nginxaas.net/"
        }
      }
    },
[...]
