{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "1c835c29-68e9-40a7-8455-842925d04908",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Liftr-Nginx-E2E-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourcegroups/Default-Nginx-9947?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947",
        "name": "Default-Nginx-9947",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9273?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/efc63b50-5e90-4007-8cd1-8438ac4d9c58?api-version=2023-05-01&t=638743452385851229&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/efc63b50-5e90-4007-8cd1-8438ac4d9c58?api-version=**&t=638743452385851229&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9273?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"7f07ce4c-6192-4ee6-a950-e2ad74765987\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testPublicIP-9273",
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9273",
        "etag": "W/\"7f07ce4c-6192-4ee6-a950-e2ad74765987\"",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "11a0d41f-f218-440e-a906-9069fad50d2b",
          "ipAddress": "52.148.11.249",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/networkSecurityGroups/testNSG-2489?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/586c94ee-16c5-48ff-a7a5-9d84831879d8?api-version=**&t=638743452440501857&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/virtualNetworks/testVNet-1334?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-8794",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/networkSecurityGroups/testNSG-2489",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/networkSecurityGroups/testNSG-2489/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/networkSecurityGroups/t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/67a0cf64-c648-49ff-b0c7-7885fddea56a?api-version=**&t=638743452479531638&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9273"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/virtualNetworks/testVNet-1334/subnets/testSubnet-8794"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standardv2-test_Monthly"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/23eba616-3cd0-4a7c-8c1f-33a09575b150*87E24292D33BC9504F3918558A8BA0EE743D485319C366CA7EDADD96D85BCAD6?api-version=2024-11-01-preview&t=638743452720216589&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBN[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/23eba616-3cd0-4a7c-8c1f-33a09575b150*87E24292D33BC9504F3918558A8BA0EE743D485319C366CA7EDADD96D85BCAD6?api-version=2024-11-01-preview&t=638743452720216589&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"a2000fc8-0000-0200-0000-67a332a80000\"",
        "mise-correlation-id": "05df4bb8-1546-4b64-8a3a-f9ed4ba9ab8b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284",
        "name": "testDeployment-8284",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standardv2-test_Monthly"
        },
        "location": "westcentralus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-02-05T09:41:04.5372795Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-02-05T09:41:04.5372795Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.5 (nginx-plus-r32-p1)",
          "ipAddress": "52.148.11.249",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9273"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Microsoft.Network/virtualNetworks/testVNet-1334/subnets/testSubnet-8794"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": null
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "nginxAppProtect": null,
          "dataplaneApiEndpoint": "https://testdeployment-8284-6b041b1f08c6.westcentralus.nginxaas.net/"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284/apiKeys/testApiKey-6334?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "secretText": "+@2TestApiKeySecret#1!-",
          "endDateTime": "2025-08-04T09:43:28.3466192Z"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5fd78d49-46bd-47eb-bbbe-d90e632f8ab6",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284/apiKeys/testApiKey-6334",
        "name": "testApiKey-6334",
        "type": "nginx.nginxplus/nginxdeployments/apikeys",
        "properties": {
          "hint": "+@2",
          "endDateTime": "2025-08-04T09:43:28.3466192+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284/apiKeys/testApiKey-63341?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "mise-correlation-id": "99794dbb-d021-4b3a-9f0a-d0b5a14769ef",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceReadFailed",
          "message": "Failed to read resource '/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-9947/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-8284/apiKeys/testApiKey-63341' with error: Not Found"
        }
      }
    }
  ],
  "Variables": {
    "ManagedIdentityResourceID": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi",
    "RandomSeed": "41763574",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "1c835c29-68e9-40a7-8455-842925d04908"
  }
}
