{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-8291?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291",
        "name": "Default-Nginx-8291",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3531?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/3c63014a-9bc8-475e-b482-3b6e364d0088?api-version=2023-05-01&t=638514883404214765&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/3c63014a-9bc8-475e-b482-3b6e364d0088?api-version=**&t=638514883404214765&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3531?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"82a1ec17-74e8-4cbf-af2c-8dd7a430ebee\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "name": "testPublicIP-3531",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3531",
        "etag": "W/\"82a1ec17-74e8-4cbf-af2c-8dd7a430ebee\"",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "bdcb87dd-92f6-4c17-9846-9aa83be5e439",
          "ipAddress": "4.255.153.78",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/networkSecurityGroups/testNSG-6445?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/be04484f-ae93-4e77-beb3-11715652bb1d?api-version=**&t=638514883411558598&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/virtualNetworks/testVNet-2019?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-3618",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/networkSecurityGroups/testNSG-6445",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/networkSecurityGroups/testNSG-6445/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/networkSecurityGroups/t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/60c5072a-a6bb-4e04-9902-61c3cdd5293e?api-version=**&t=638514883422579062&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6443?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3531"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/virtualNetworks/testVNet-2019/subnets/testSubnet-3618"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standard_Monthly"
        },
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/2c62fab8-3b8e-4fce-9395-6f1bfb40d87b*D074D1D4CBBE643EAE48CB203490163620A76CFC5DC12ECFE45EF55C9BA51D4B?api-version=2024-01-01-preview&t=638514883552600826&c=MIIHpTCCBo2g[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/2c62fab8-3b8e-4fce-9395-6f1bfb40d87b*D074D1D4CBBE643EAE48CB203490163620A76CFC5DC12ECFE45EF55C9BA51D4B?api-version=2024-01-01-preview&t=638514883552600826&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6443?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"540085b0-0000-0200-0000-66466dc80000\"",
        "mise-correlation-id": "7157e1f5-12c8-4490-b9ae-711281667242",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6443",
        "name": "testDeployment-6443",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standard_Monthly"
        },
        "location": "westcentralus",
        "systemData": {
          "createdBy": "jamesfan@microsoft.com",
          "createdByType": "User",
          "createdAt": "2024-05-16T20:32:33.4319581Z",
          "lastModifiedBy": "jamesfan@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-05-16T20:32:33.4319581Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "Sanitized",
              "clientId": "Sanitized"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.3 (nginx-plus-r31-p1)",
          "managedResourceGroup": "NGX_Default-Nginx-8291_testDeployment-6443_westcentralus",
          "ipAddress": "4.255.153.78",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/publicIPAddresses/testPublicIP-3531"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Microsoft.Network/virtualNetworks/testVNet-2019/subnets/testSubnet-3618"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-8291/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-6443?api-version=2024-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scalingProperties": {
            "autoScaleSettings": {
              "profiles": [
                {
                  "name": "default",
                  "capacity": {
                    "min": 20,
                    "max": 30
                  }
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/8bb83a3e-986e-40c0-b971-e8164f6b5fe9*D074D1D4CBBE643EAE48CB203490163620A76CFC5DC12ECFE45EF55C9BA51D4B?api-version=2024-01-01-preview&t=638514884864606483&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/8bb83a3e-986e-40c0-b971-e8164f6b5fe9*D074D1D4CBBE643EAE48CB203490163620A76CFC5DC12ECFE45EF55C9BA51D4B?api-version=2024-01-01-preview&t=638514884864606483&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVh[...]
[...]
