{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/connections?api-version=2024-07-01-preview&category=AzureOpenAI",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/connections/nirovinswestus0042291768_aoai",
            "name": "nirovinswestus0042291768_aoai",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "AzureOpenAI",
              "expiryTime": null,
              "target": "https://nirovinswestus0042291768.openai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus-proj",
              "useWorkspaceManagedIdentity": true,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.CognitiveServices/accounts/nirovinswestus0042291768",
                "ApiVersion": "2023-07-01-preview",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": {
              "createdAt": "2025-03-10T18:36:44.2470192Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-03-10T18:36:44.2470192Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/connections/nirovinskeysvc_aoai",
            "name": "nirovinskeysvc_aoai",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "AzureOpenAI",
              "expiryTime": null,
              "target": "https://nirovins-key-svc.openai.azure.com/",
              "createdByWorkspaceArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus-proj",
              "useWorkspaceManagedIdentity": true,
              "isSharedToAll": true,
              "sharedUserList": [],
              "peRequirement": "NotRequired",
              "peStatus": "NotApplicable",
              "error": null,
              "metadata": {
                "ApiType": "Azure",
                "ResourceId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.CognitiveServices/accounts/nirovins-key-svc",
                "Location": "eastus",
                "ApiVersion": "2023-07-01-preview",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": {
              "createdAt": "2025-03-26T23:06:22.5451248Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-03-26T23:06:22.5451248Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/connections/nirovinswestus0042291768_aoai/listsecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ignored": "ignored"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.275"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/connections/nirovinswestus0042291768_aoai",
        "name": "nirovinswestus0042291768_aoai",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "ApiKey",
          "credentials": {
            "key": "C80ylbRLPnWTe2y8Xzx4vmuSpBMRJSokTUJJRMgy0vy6DT2XBabVJQQJ99BBAC4f1cMXJ3w3AAAAACOGGCbd"
          },
          "group": "AzureAI",
          "category": "AzureOpenAI",
          "expiryTime": null,
          "target": "https://nirovinswestus0042291768.openai.azure.com/",
          "createdByWorkspaceArmId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus-proj",
          "useWorkspaceManagedIdentity": true,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "metadata": {
            "ApiType": "Azure",
            "ResourceId": "/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.CognitiveServices/accounts/nirovinswestus0042291768",
            "ApiVersion": "2023-07-01-preview",
            "DeploymentApiVersion": "2023-10-01-preview"
          }
        },
        "systemData": {
          "createdAt": "2025-03-10T18:36:44.2470192Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-10T18:36:44.2470192Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "RandomSeed": "80991875"
  }
}
