{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/test-workflow-agent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "HostedAgents=V1Preview,WorkflowAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "workflow": "\nkind: workflow\ntrigger:\n  kind: OnConversationStart\n  id: test_workflow\n  actions:\n    - kind: SetVariable\n      id: set_variable\n      variable: Local.TestVar\n      value: \"test\"\n",
          "kind": "workflow"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "33",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "test-workflow-agent:1",
        "name": "test-workflow-agent",
        "version": "1",
        "description": "",
        "created_at": 1772590541,
        "definition": {
          "kind": "workflow",
          "workflow": "\nkind: workflow\ntrigger:\n  kind: OnConversationStart\n  id: test_workflow\n  actions:\n    - kind: SetVariable\n      id: set_variable\n      variable: Local.TestVar\n      value: \"test\"\n"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/test-workflow-agent/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "45",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "test-workflow-agent",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
