{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_b2178b3e3c0a1a54008Rqo4TXU5uJUvkoY8EsmfIkIMG3wURHQ",
        "object": "conversation",
        "created_at": 1770132756,
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
