{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/no-instructions-agent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "model": "sanitized-model-deployment-name",
          "text": {
            "format": {
              "name": "Result",
              "schema": {
                "type": "object",
                "properties": {
                  "result": {
                    "type": "string"
                  }
                },
                "required": [
                  "result"
                ]
              },
              "type": "json_schema"
            }
          },
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "no-instructions-agent:1",
        "name": "no-instructions-agent",
        "version": "1",
        "description": "",
        "created_at": 1773251552,
        "definition": {
          "kind": "prompt",
          "model": "sanitized-model-deployment-name",
          "text": {
            "format": {
              "type": "json_schema",
              "name": "Result",
              "schema": {
                "type": "object",
                "properties": {
                  "result": {
                    "type": "string"
                  }
                },
                "required": [
                  "result"
                ]
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/no-instructions-agent/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "no-instructions-agent",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
