{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/structured-agent-async/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "HostedAgents=V1Preview,WorkflowAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "model": "sanitized-model-deployment-name",
          "instructions": "You are a helpful assistant that extracts person information.",
          "text": {
            "format": {
              "name": "PersonInfo",
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "age": {
                    "type": "number"
                  }
                },
                "required": [
                  "name",
                  "age"
                ]
              },
              "type": "json_schema"
            }
          },
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "53",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "structured-agent-async:1",
        "name": "structured-agent-async",
        "version": "1",
        "description": "",
        "created_at": 1772599604,
        "definition": {
          "kind": "prompt",
          "model": "sanitized-model-deployment-name",
          "instructions": "You are a helpful assistant that extracts person information.",
          "text": {
            "format": {
              "type": "json_schema",
              "name": "PersonInfo",
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "age": {
                    "type": "number"
                  }
                },
                "required": [
                  "name",
                  "age"
                ]
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/structured-agent-async/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "47",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "structured-agent-async",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
