{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/c2d2391ef91f4bfca92de58132693391",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "EQbiINyKnNJl3SPD1G1Ua9d7cmX1LdTkkDqNd0KWFpI",
          "y": "w-9iKDp5U9y2W07k_8O87tE9xOo5_HoKflUxRQvQIBc"
        },
        "attributes": {
          "enabled": true,
          "created": 1759961169,
          "updated": 1759961169,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/rotationpolicy?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "expiryTime": "P90D"
        },
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P30D"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "expiryTime": "P90D",
          "created": 1759961169,
          "updated": 1759961169
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/rotate?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/868ce299a85d4a8d97ae297cc1beb352",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qMrdu9O8BY3RQhcfnbFkWt6Kp_HEpIJeUIZjJlGzjyg",
          "y": "cfNibSLwXJgezi6cNYOkJS5Zl6pYbXTTKFtSA70SnI8"
        },
        "attributes": {
          "enabled": true,
          "exp": 1767737169,
          "created": 1759961169,
          "updated": 1759961169,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keynonexistent/rotate?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) keynonexistent was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/testrotatekey2561576831",
        "deletedDate": 1759961170,
        "scheduledPurgeDate": 1760565970,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/testrotatekey2561576831/868ce299a85d4a8d97ae297cc1beb352",
          "kty": "EC-HSM",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "qMrdu9O8BY3RQhcfnbFkWt6Kp_HEpIJeUIZjJlGzjyg",
          "y": "cfNibSLwXJgezi6cNYOkJS5Zl6pYbXTTKFtSA70SnI8"
        },
        "attributes": {
          "enabled": true,
          "exp": 1767737169,
          "created": 1759961169,
          "updated": 1759961169,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "2"
        }
      }
    }
  ],
  "Variables": {}
}
