{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "109"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553319,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780553319
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/ad95124248d546da11131a909250fbb4",
          "kty": "EC-HSM",
          "x": "190Ts8ekyznIpGfbct17C_u0SXR8TsRHzLbhH7r2paA",
          "y": "IPpF5LdY318cGFjE82He9mfohLl7f900RdR2iRIvaQU"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/rotationpolicy?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "expiryTime": "P90D"
        },
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "29"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553319,
          "expiryTime": "P90D",
          "updated": 1780553319
        },
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/rotationpolicy?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553319,
          "expiryTime": "P90D",
          "updated": 1780553319
        },
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/rotate?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553319,
          "enabled": true,
          "exp": 1788329319,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780553319
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/da427fbc727109c4b6706d5db67f308f",
          "kty": "EC-HSM",
          "x": "YWhaHx9zxGbH0b8tj22v29Ne0zoDZP_9jCJPY8aNSLg",
          "y": "ZI0y0am5k5a3GkClzJpUTFDSiA866VFk7a7IBz8Jevk"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/keynonexistent/rotate?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: Key not found: https://Sanitized.managedhsm.azure.net/keys/keynonexistent (Activity ID: d4e4dcfe-5fdb-11f1-bddc-0022489401d3)"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "70"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780553319,
          "enabled": true,
          "exp": 1788329319,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780553319
        },
        "deletedDate": 1780553320,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/da427fbc727109c4b6706d5db67f308f",
          "kty": "EC-HSM",
          "x": "YWhaHx9zxGbH0b8tj22v29Ne0zoDZP_9jCJPY8aNSLg",
          "y": "ZI0y0am5k5a3GkClzJpUTFDSiA866VFk7a7IBz8Jevk"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/testrotatekey4115012563",
        "scheduledPurgeDate": 1781158120
      }
    }
  ],
  "Variables": {}
}
