{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC-HSM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "106"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741640329,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741640329
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/cdb4cdd8f8530da038df575fe8dded01",
          "kty": "EC-HSM",
          "x": "2LI8KC4crNCSEEVU3_e6F_6lVR0d8bgRmBDKsH53dpo",
          "y": "45I3xCTuNreQHlJpUlrVwuMia1GXoaKEyqw-_-n2jNs"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/rotationpolicy?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "expiryTime": "P90D"
        },
        "lifetimeActions": [
          {
            "action": {
              "type": "Rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "36"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741640329,
          "expiryTime": "P90D",
          "updated": 1741640329
        },
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/rotationpolicy?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741640329,
          "expiryTime": "P90D",
          "updated": 1741640329
        },
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "action": {
              "type": "rotate"
            },
            "trigger": {
              "timeAfterCreate": "P30D"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/rotate?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "135"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741640329,
          "enabled": true,
          "exp": 1749416329,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741640329
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/967884e72db344a19540602c5916105e",
          "kty": "EC-HSM",
          "x": "yW_dNqDgnEtXy4cJyPR1HnxNk-T6B1pOXyMWOIMJejU",
          "y": "Z-sJYL9Ozk8PbByBvz9Tzt09IdJaB7WtXb25TxZUqJc"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/keynonexistent/rotate?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Key not found: Key not found: https://Sanitized.managedhsm.azure.net/keys/keynonexistent (Activity ID: 7786b358-fdf2-11ef-9cbf-6045bd122dfd)"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "65"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1741640329,
          "enabled": true,
          "exp": 1749416329,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1741640329
        },
        "deletedDate": 1741640330,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/testrotatekey4115012563/967884e72db344a19540602c5916105e",
          "kty": "EC-HSM",
          "x": "yW_dNqDgnEtXy4cJyPR1HnxNk-T6B1pOXyMWOIMJejU",
          "y": "Z-sJYL9Ozk8PbByBvz9Tzt09IdJaB7WtXb25TxZUqJc"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/testrotatekey4115012563",
        "scheduledPurgeDate": 1742245130
      }
    }
  ],
  "Variables": {}
}
