{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2024-06-12T09:56:43Z</Start><Expiry>2024-06-13T08:56:43Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>3d0dde36-a773-4f66-8790-9179e20f18ba</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-12T09:56:43Z</SignedStart><SignedExpiry>2024-06-13T08:56:43Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    }
  ],
  "Variables": {
    "now": "2024-06-12T08:56:43.791Z",
    "tmr": "2024-06-12T08:56:43.791Z"
  }
}
