{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions"
        },
        "subscriptionId": "6820e35f-0fe6-4af3-aad2-27414fa82621",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "GenevaMetrics_Test_MdmTestStamps",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681?api-version=2025-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Live test SLI - measures latency of test API",
          "category": "Latency",
          "evaluationType": "WindowBased",
          "destinationAmwAccounts": [
            {
              "resourceId": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
              "identity": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg"
            }
          ],
          "baselineProperties": {
            "baseline": {
              "value": 99,
              "evaluationPeriodDays": 30,
              "evaluationCalculationType": "CalendarDays"
            }
          },
          "enableAlert": true,
          "sliProperties": {
            "signals": {
              "signalSources": [
                {
                  "signalSourceId": "A",
                  "sourceAmwAccountManagedIdentity": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg",
                  "sourceAmwAccountResourceId": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
                  "metricNamespace": "customdefault",
                  "metricName": "container_cpu_usage_seconds_total",
                  "filters": [
                    {
                      "dimensionName": "container",
                      "operator": "ne",
                      "value": "POD"
                    }
                  ],
                  "spatialAggregation": {
                    "type": "Sum",
                    "dimensions": [
                      "instance"
                    ]
                  },
                  "temporalAggregation": {
                    "type": "Rate",
                    "windowSizeMinutes": 1
                  }
                }
              ],
              "signalFormula": "A"
            },
            "windowUptimeCriteria": {
              "target": 95,
              "comparator": "gte"
            }
          }
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg": {}
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d022128-0000-0a00-0000-6a116b980000\"",
        "mise-correlation-id": "273d194a-8eb8-4968-87af-b909b85aeb0e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-writes": "800"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681",
        "name": "netsli8681",
        "type": "microsoft.monitor/slis",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-23T08:55:44.9480502Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-23T08:55:44.9480502Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "description": "Live test SLI - measures latency of test API",
          "category": "Latency",
          "evaluationType": "WindowBased",
          "provisioningState": "Succeeded",
          "executionState": {
            "message": null,
            "state": "Pending"
          },
          "destinationAmwAccounts": [
            {
              "resourceId": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
              "identity": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg"
            }
          ],
          "destinationMetrics": [
            {
              "metricName": "netsli8681:Value",
              "metricNamespace": "arm-sdk-tests-sg"
            },
            {
              "metricName": "netsli8681:Uptime",
              "metricNamespace": "arm-sdk-tests-sg"
            },
            {
              "metricName": "netsli8681:Downtime",
              "metricNamespace": "arm-sdk-tests-sg"
            }
          ],
          "baselineProperties": {
            "baseline": {
              "value": 99.0,
              "evaluationCalculationType": "CalendarDays",
              "evaluationPeriodDays": 30
            }
          },
          "streamingRuleId": "72f988bf-86f1-41af-91ab-2d7cd011db47_global_1826aa2f-d1e5-432f-b408-d72491854dda",
          "streamingRuleLastUpdatedTimestamp": "2026-05-23T08:55:52.7209716Z",
          "enableAlert": true,
          "sliProperties": {
            "signals": {
              "signalFormula": "A",
              "signalSources": [
                {
                  "signalSourceId": "A",
                  "sourceAmwAccountManagedIdentity": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg",
                  "sourceAmwAccou[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d022128-0000-0a00-0000-6a116b980000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681",
        "name": "netsli8681",
        "type": "microsoft.monitor/slis",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-23T08:55:44.9480502Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "202[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681?api-version=2025-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"3d02112c-0000-0a00-0000-6a116ba10000\"",
        "mise-correlation-id": "1e279b23-ae9d-4cb3-9b1a-5dc12b2bf624",
        "x-ms-failure-cause": "service",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-deletes": "799"
      },
      "ResponseBody": {
        "error": {
          "code": "UnspecifiedError",
          "message": "An unspecified error occurred.  (RequestId: e4eeb49cdbf4dd2ebbfd4e70815fa83e, CorrelationId: 2350ad4a-0034-45bf-91eb-3a186280272d)"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource 'Microsoft.Management/serviceGroups/arm-sdk-tests-sg/providers/Microsoft.Monitor/slis/netsli8681' could not be found."
        }
      }
    }
  ],
  "Variables": {
    "AMW_RESOURCE_ID": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/microsoft.monitor/accounts/amw-arm-sdk-tests-rg",
    "MANAGED_IDENTITY_RESOURCE_ID": "/subscriptions/6820e35f-0fe6-4af3-aad2-27414fa82621/resourceGroups/arm-sdk-tests-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-arm-sdk-tests-rg",
    "RandomSeed": "509877943",
    "RESOURCE_MANAGER_URL": null,
    "SERVICE_GROUP_NAME": "arm-sdk-tests-sg",
    "SOURCE_AMW_RESOURCE_ID": null,
    "SOURCE_MANAGED_IDENTITY_RESOURCE_ID": null,
    "SUBSCRIPTION_ID": "6820e35f-0fe6-4af3-aad2-27414fa82621"
  }
}
