{
  "Entries": [
    {
      "RequestUri": "https://foundry-sdk-dev-scus.services.ai.azure.com/api/projects/sdkTestProject/openai/files?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"gYazPcbkZKoFwXE3oGa6VVd2Xyeot0_HvXaX7aN0L9a4Tm2R6WKMV=H4X7NuI4JMyhjUQo\""
      },
      "RequestBody": [
        "--gYazPcbkZKoFwXE3oGa6VVd2Xyeot0_HvXaX7aN0L9a4Tm2R6WKMV=H4X7NuI4JMyhjUQo\r\n",
        "Content-Disposition: form-data; name=file; filename=test_data_delete_me.jsonl; filename*=utf-8''test_data_delete_me.jsonl\r\n",
        "Content-Type: application/octet-stream\r\n",
        "\r\n",
        "b64:eyJtZXNzYWdlcyI6IFt7InJvbGUiOiAic3lzdGVtIiwgImNvbnRlbnQiOiAiIn1dfQ==",
        "\r\n",
        "--gYazPcbkZKoFwXE3oGa6VVd2Xyeot0_HvXaX7aN0L9a4Tm2R6WKMV=H4X7NuI4JMyhjUQo\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=purpose\r\n",
        "\r\n",
        "fine-tune",
        "\r\n",
        "--gYazPcbkZKoFwXE3oGa6VVd2Xyeot0_HvXaX7aN0L9a4Tm2R6WKMV=H4X7NuI4JMyhjUQo--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-southcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://foundry-sdk-dev-scus.openai.azure.com/openai/files/file-ffcaec73f02c4899b6e16f7aad5ef3fa?api-version=2025-03-01-preview",
        "x-ms-middleware-request-id": "7f625de9-f3cf-4c17-ba02-5b1dc4279fe0",
        "x-ms-region": "South Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.310"
      },
      "ResponseBody": {
        "status": "pending",
        "bytes": 49,
        "purpose": "fine-tune",
        "filename": "test_data_delete_me.jsonl",
        "id": "file-ffcaec73f02c4899b6e16f7aad5ef3fa",
        "created_at": 1761946177,
        "object": "file"
      }
    },
    {
      "RequestUri": "https://foundry-sdk-dev-scus.services.ai.azure.com/api/projects/sdkTestProject/openai/files/file-ffcaec73f02c4899b6e16f7aad5ef3fa?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-southcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "South Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.152"
      },
      "ResponseBody": {
        "status": "pending",
        "bytes": 49,
        "purpose": "fine-tune",
        "filename": "test_data_delete_me.jsonl",
        "id": "file-ffcaec73f02c4899b6e16f7aad5ef3fa",
        "created_at": 1761946177,
        "object": "file"
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://foundry-sdk-dev-scus.services.ai.azure.com/api/projects/sdkTestProject"
  }
}
