{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-03-03T16:21:27.2238622Z",
          "Owners": "vigera"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"a300bed4-0000-0700-0000-69a6673a0000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "Sanitized",
        "location": "westus",
        "sku": {
          "name": "Sanitized"
        },
        "kind": "AIServices",
        "properties": {
          "endpoint": "https://Sanitized.cognitiveservices.azure.com/",
          "internalId": "05268f0a0e534d2a9769fbd2d41de943",
          "dateCreated": "2026-03-03T04:21:59.5353254Z",
          "apiProperties": {
            "qnaAzureSearchEndpointKey": null
          },
          "callRateLimit": {
            "rules": [
              {
                "key": "documentTranslation.post",
                "renewalPeriod": 1,
                "count": 20,
                "matchPatterns": [
                  {
                    "path": "translator/text/batch/*",
                    "method": "POST"
                  }
                ]
              },
              {
                "key": "documentTranslation.get",
                "renewalPeriod": 1,
                "count": 20,
                "matchPatterns": [
                  {
                    "path": "translator/text/batch/*",
                    "method": "GET"
                  }
                ]
              },
              {
                "key": "documentTranslation.default",
                "renewalPeriod": 1,[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/openai/deployments/embedding-model/embeddings?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "input": "Test embeddings with optional parameters.",
        "model": "embedding-model",
        "encoding_format": "base64"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-model-session": "d20251211232030-fd55775b2e1f4f46",
        "Content-Type": "application/json",
        "x-ms-deployment-name": "embedding-model",
        "x-ms-region": "West US",
        "x-ratelimit-limit-tokens": "30000",
        "x-ratelimit-remaining-tokens": "29989"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "embedding",
            "index": 0,
            "embedding": "Ld9Xu1izobx8fS09AGRGveQuFL2Gv0O8kWAHOtdjDj159D27X2xIu1S1zbxBpoW9+h+EPH97ATzv8yS9PZobvd0y7LzoxRk96ssOvLzxTz0VOYq8xiXQvAd2pbzIoKm8Gt6lvNx9jrxKczc7j1oSPTFSkD1xLQG9KSQFPNFfxbwgiTa8dcQGvTqGkLyaHyM9pgBgPWSU3jwbbza9mkPwPLzxzzz71OG7i06ovNP+az3MrJO8HuqPPcaatLsz/8y82wgqvTmcxzwPwNy81u4pveCXDr3jRMs85TwqPBhxYrtJe1i9hjSovMWiVTyHt6I5J6krvEZZN70vWrE8CXwaPfCabDy1KhO6OY4xvfpRZzyzmQK9foMiPcGW6zyeT9q8WkQyu2gHlzzJIyQ9P0dYPU5xC7ywEJM9shYIvKhtI711a867aJKyPFbReTvr5zq9CAc2vb3NArwb1oS8hTxJvcFyHr3gMMC8PBchPGPfgL0b1gS9Nu[...]
