{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2025-05-18T16:25:49.6639758+00:00",
          "modifiedOn": "2025-05-18T16:25:59.6292018+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 2,
            "targetNodeCount": 3,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 2,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2025-05-19T06:04:55.977+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/779f9d31-d7a0-598a-0776-cdeb24ebc6ec?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World & echo $[[${{inputs.component_in_number}}]] & echo ${{inputs.component_in_path}} & echo ${{outputs.component_out_path}} > ${{outputs.component_out_path}}/component_in_number",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_471682831007",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "0.0.1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasic",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "number",
                "optional": true,
                "default": "10.99",
                "description": "A number"
              },
              "component_in_path": {
                "type": "uri_folder",
                "description": "A path"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/779f9d31-d7a0-598a-0776-cdeb24ebc6ec?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.495"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5bd3eb0c-ee72-4781-a00b-51373ee6213b",
        "name": "5bd3eb0c-ee72-4781-a00b-51373ee6213b",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "test_471682831007",
            "version": "0.0.1",
            "display_name": "CommandComponentBasic",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "inputs": {
              "component_in_path": {
                "type": "uri_folder",
                "optional": "False",
                "description": "A path"
              },
              "component_in_number": {
                "type": "number",
                "optional": "True",
                "default": "10.99",
                "description": "A number"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo Hello World & echo $[[${{inputs.component_in_number}}]] & echo ${{inputs.component_in_path}} & echo ${{outputs.component_out_path}} > ${{outputs.component_out_path}}/component_in_number"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2025-05-19T06:05:25.5640907+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-19T06:05:25.5640907+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job",
          "properties": {},
          "tags": {
            "owner": "sdkteam",
            "tag": "tagvalue"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_25386855557",
          "experimentName": "dsl_pipeline_e2e",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "10"
            },
            "job_in_other_number": {
              "jobInputType": "literal",
              "value": "15"
            },
            "job_in_path": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            }
          },
          "jobs": {
            "test_471682831007": {
              "name": "test_471682831007",
              "type": "command",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5bd3eb0c-ee72-4781-a00b-51373ee6213b"
            },
            "test_471682831007_1": {
              "name": "test_471682831007_1",
              "type": "command",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_other_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5bd3eb0c-ee72-4781-a00b-51373ee6213b"
            }
          },
          "outputs": {},
          "settings": {
            "continue_on_step_failure": true,
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.360"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job",
          "tags": {
            "owner": "sdkteam",
            "tag": "tagvalue"
          },
          "properties": {},
          "displayName": "test_25386855557",
          "status": "NotStarted",
          "experimentName": "dsl_pipeline_e2e",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "continue_on_step_failure": true,
            "_source": "DSL"
          },
          "jobs": {
            "test_471682831007": {
              "name": "test_471682831007",
              "type": "command",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "compo[...]
