{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2023-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "submit a pipeline with data transfer import database job",
          "properties": {},
          "tags": {},
          "displayName": "data_transfer_import_database_pipeline_from_builder",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "query_source_snowflake": {
              "jobInputType": "literal",
              "value": "select top(10) Name from SalesLT.ProductCategory"
            },
            "connection_target_azuresql": {
              "jobInputType": "literal",
              "value": "azureml:my_azuresqldb_connection"
            }
          },
          "jobs": {
            "sql_blob_node_input": {
              "type": "data_transfer",
              "task": "import_data",
              "source": {
                "type": "database",
                "query": "select top(10) Name from SalesLT.ProductCategory",
                "connection": "azureml:my_azuresqldb_connection"
              },
              "name": "sql_blob_node_input",
              "outputs": {
                "sink": {
                  "job_output_type": "mltable"
                }
              },
              "_source": "BUILTIN",
              "componentId": "azureml://registries/azureml/components/import_data_database/versions/0.0.1"
            },
            "sql_blob": {
              "type": "data_transfer",
              "task": "import_data",
              "source": {
                "type": "database",
                "query": "${{parent.inputs.query_source_snowflake}}",
                "connection": "${{parent.inputs.connection_target_azuresql}}"
              },
              "name": "sql_blob",
              "outputs": {
                "sink": {
                  "job_output_type": "mltable"
                }
              },
              "_source": "BUILTIN",
              "componentId": "azureml://registries/azureml/components/import_data_database/versions/0.0.1"
            }
          },
          "outputs": {},
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/serverless",
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2023-08-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "standard",
        "x-request-time": "1.914"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "submit a pipeline with data transfer import database job",
          "tags": {},
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.DatasetAccessMode": "Asset",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022query_source_snowflake\u0022:\u0022select top(10) Name from SalesLT.ProductCategory\u0022,\u0022connection_target_azuresql\u0022:\u0022my_azuresqldb_connection\u0022}",
            "azureml.continue_on_step_failure": "True",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.enforceRerun": "False",
            "azureml.defaultComputeName": "serverless",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "data_transfer_import_database_pipeline_from_builder",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/serverless",
            "_source": "DSL"
          },
          "jobs": {
            "sql_blob_node_input": {
              "type": "data_transfer",
              "task": "import_data",
              "source": {
                "type": "database",
  [...]
