{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "datatransfer_merge_mixtype_files",
            "$schema": "http://azureml/sdk-2-0/DataTransferComponent.json",
            "display_name": "Data Transfer Component merge mix type files",
            "is_deterministic": true,
            "inputs": {
              "input1": {
                "type": "uri_file"
              },
              "input2": {
                "type": "uri_file"
              },
              "input3": {
                "type": "mltable"
              }
            },
            "outputs": {
              "output_folder": {
                "type": "uri_folder"
              }
            },
            "type": "data_transfer",
            "task": "copy_data",
            "data_copy_mode": "merge_with_overwrite",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798",
        "x-ms-response-type": "standard",
        "x-request-time": "0.954"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/68fde5a4-dc95-421e-819c-007abd85bffb",
        "name": "68fde5a4-dc95-421e-819c-007abd85bffb",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "http://azureml/sdk-2-0/DataTransferComponent.json",
            "name": "datatransfer_merge_mixtype_files",
            "version": "0",
            "display_name": "Data Transfer Component merge mix type files",
            "is_deterministic": "True",
            "type": "data_transfer",
            "inputs": {
              "input1": {
                "type": "uri_file",
                "optional": "False"
              },
              "input2": {
                "type": "uri_file",
                "optional": "False"
              },
              "input3": {
                "type": "mltable",
                "optional": "False"
              }
            },
            "outputs": {
              "output_folder": {
                "type": "uri_folder"
              }
            },
            "task": "copy_data",
            "data_copy_mode": "merge_with_overwrite"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2026-02-26T16:04:04.5090866+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-26T16:04:04.5545386+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.103"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2026-02-25T23:13:42.5764464+00:00",
          "lastModifiedAt": "2026-02-25T23:13:44.1036497+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.159"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7/LocalUpload/00000000000000000000000000000000/sample.csv?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Feb 2026 19:06:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "x-ms-error-code": "KeyBasedAuthenticationNotPermitted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
