{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_optional_input_component_test_37131788704?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11990",
        "x-ms-response-type": "error",
        "x-request-time": "0.070"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Not found component test_optional_input_component_test_37131788704.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "64b3ae5ce4c02b4bca6597ce23916610",
                  "request": "ef7d6138a0dbc80f"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-10-27T10:48:42.4474764\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "NotFound",
                  "innerError": {
                    "code": "ComponentNotFound",
                    "innerError": null
                  }
                }
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_optional_input_component_test_37131788704/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "client_component_hash": "72b42276-a0cd-96ad-66d2-d6b291ba9a66"
          },
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo \u0022hello world\u0022 \u0026 echo $[[${{inputs.float}}]] \u0026 echo $[[${{inputs.integer}}]] \u0026 echo $[[${{inputs.string}}]] \u0026 echo $[[${{inputs.boolean}}]] \u0026 echo ${{inputs.uri_folder}} \u0026 echo $[[${{inputs.optional_0}}]] \u0026 echo $[[${{inputs.optional_1}}]]\u0026 echo $[[${{inputs.optional_2}}]]",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "resources": {
              "instance_count": 2
            },
            "distribution": {
              "type": "pytorch",
              "process_count_per_instance": 2
            },
            "name": "test_optional_input_component_test_37131788704",
            "display_name": "command_with_optional_inputs",
            "is_deterministic": true,
            "inputs": {
              "float": {
                "type": "number",
                "optional": true,
                "default": "1.1",
                "max": "5.0",
                "min": "0.0"
              },
              "integer": {
                "type": "integer",
                "optional": true,
                "default": "2",
                "max": "4",
                "min": "-1"
              },
              "string": {
                "type": "string",
                "optional": true,
                "default": "default_str"
              },
              "boolean": {
                "type": "boolean",
                "optional": true,
                "default": "False"
              },
              "uri_folder": {
                "type": "uri_folder"
              },
              "optional_0": {
                "type": "uri_file",
                "optional": true
              },
              "optional_1": {
                "type": "number",
                "optional": true
              },
              "optional_2": {
                "type": "number",
                "optional": true,
                "default": "1.2"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "BUILDER"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_optional_input_component_test_37131788704/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "1.567"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_optional_input_component_test_37131788704/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "client_component_hash": "72b42276-a0cd-96ad-66d2-d6b291ba9a66"
          },
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "name": "test_optional_input_component_test_37131788704",
            "version": "1",
            "display_name": "command_with_optional_inputs",
            "is_deterministic": "True",
            "type": "command",
            "inputs": {
              "uri_folder": {
                "type": "uri_folder",
                "optional": "False"
              },
              "optional_0": {
                "type": "uri_file",
                "optional": "True"
              },
              "float": {
                "type": "number",
                "optional"[...]
