{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/12ea9c3b-3f40-224e-9578-a6057dc6aebb?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component with several input types",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World & echo ${{inputs.component_in_string}} & echo ${{inputs.component_in_ranged_integer}} & echo ${{inputs.component_in_enum}} & echo ${{inputs.component_in_boolean}} & echo ${{inputs.component_in_ranged_number}} &",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "microsoft_samples_command_component_basic_inputs",
            "description": "This is the basic command component with several input types",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasicInputs",
            "is_deterministic": true,
            "inputs": {
              "component_in_string": {
                "type": "string",
                "description": "A string"
              },
              "component_in_ranged_integer": {
                "type": "integer",
                "optional": false,
                "default": "10",
                "description": "A ranged integer",
                "max": "100",
                "min": "1"
              },
              "component_in_enum": {
                "type": "string",
                "default": "hello",
                "description": "An enum",
                "enum": [
                  "hello",
                  "world"
                ]
              },
              "component_in_boolean": {
                "type": "boolean",
                "default": "False",
                "description": "A boolean"
              },
              "component_in_ranged_number": {
                "type": "number",
                "default": "10.0",
                "description": "A ranged number",
                "max": "8.0",
                "min": "2.0"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/12ea9c3b-3f40-224e-9578-a6057dc6aebb?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.879"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/e121e7ac-4825-4fdd-b6da-17c231a13e32",
        "name": "e121e7ac-4825-4fdd-b6da-17c231a13e32",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "microsoft_samples_command_component_basic_inputs",
            "version": "1",
            "display_name": "CommandComponentBasicInputs",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the basic command component with several input types",
            "tags": {
              "ta[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "pipeline_with_group",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "group.int_param": {
              "jobInputType": "literal",
              "value": "2"
            },
            "group.enum_param": {
              "jobInputType": "literal",
              "value": "hello"
            },
            "group.str_param": {
              "jobInputType": "literal",
              "value": "test"
            },
            "group.bool_param": {
              "jobInputType": "literal",
              "value": "False"
            },
            "group.number_param": {
              "jobInputType": "literal",
              "value": "4.0"
            }
          },
          "jobs": {
            "microsoft_samples_command_component_basic_inputs": {
              "name": "microsoft_samples_command_component_basic_inputs",
              "type": "command",
              "inputs": {
                "component_in_string": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.group.str_param}}"
                },
                "component_in_ranged_integer": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.group.int_param}}"
                },
                "component_in_enum": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.group.enum_param}}"
                },
                "component_in_boolean": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.group.bool_param}}"
                },
                "component_in_ranged_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.group.number_param}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/e121e7ac-4825-4fdd-b6da-17c231a13e32"
            }
          },
          "outputs": {},
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798",
        "x-ms-response-type": "standard",
        "x-request-time": "0.922"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "pipeline_with_group",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          },
          "jobs": {
            "microsoft_samples_command_component_basic_inputs": {
              "name": "microsoft_samples_command_component_basic_inputs",
              "type": "command",
            [...]
