{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.049"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2025-05-18T16:25:49.6639758+00:00",
          "modifiedOn": "2025-05-18T16:25:59.6292018+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 1,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 1,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2025-05-19T06:14:38.111+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01&hash=7e0dca3621c1d04208ad4de38b21740238ac6ddd31843b7cd62357bcb05737ad&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.168"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.153"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saw5gakqr75l2j2",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://saw5gakqr75l2j2.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "61a5283a-b53a-49db-b821-8bbc486ec3e6",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/.promptflow/flow.tools.json?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 May 2025 06:15:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/classify_with_llm.jinja2?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "kMIQtmW5aCYHwRA388O1aw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 May 2025 06:15:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "WW91ciB0YXNrIGlzIHRvIGNsYXNzaWZ5IGEgZ2l2ZW4gdXJsIGludG8gb25lIG9mIHRoZSBmb2xsb3dpbmcgdHlwZXM6Ck1vdmllLCBBcHAsIEFjYWRlbWljLCBDaGFubmVsLCBQcm9maWxlLCBQREYgb3IgTm9uZSBiYXNlZCBvbiB0aGUgdGV4dCBjb250ZW50IGluZm9ybWF0aW9uLgpUaGUgY2xhc3NpZmljYXRpb24gd2lsbCBiZSBiYXNlZCBvbiB0aGUgdXJsLCB0aGUgd2VicGFnZSB0ZXh0IGNvbnRlbnQgc3VtbWFyeSwgb3IgYm90aC4KCkhlcmUgYXJlIGEgZmV3IGV4YW1wbGVzOgp7JSBmb3IgZXggaW4gZXhhbXBsZXMgJX0KVVJMOiB7e2V4LnVybH19ClRleHQgY29udGVudDoge3tleC50ZXh0X2NvbnRlbnR9fQpPVVRQVVQ6CnsiY2F0ZWdvcnkiOiAie3tleC5jYXRlZ29yeX19IiwgImV2aWRlbmNlIjogInt7ZXguZXZpZGVuY2V9fSJ9Cgp7JSBlbmRmb3IgJX0KCkZvciBhIGdpdmVuIFVSTCA6IHt7dXJsfX0sIGFuZCB0ZXh0IGNvbnRlbnQ6IHt7dGV4dF9jb250ZW50fX0uCkNsYXNzaWZ5IGFib3ZlIHVybCB0byBjb21wbGV0ZSB0aGUgY2F0ZWdvcnkgYW5kIGluZGljYXRlIGV2aWRlbmNlLgpPVVRQVVQ6Cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kMIQtmW5aCYHwRA388O1aw==",
        "ETag": "\"0x8DD969C80DA8A5A\"",
        "Last-Modified": "Mon, 19 May 2025 06:15:07 GMT",
        "x-ms-content-crc64": "UEnCiaylgd4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/fetch_text_content_from_url.py?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHead[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/summarize_text_content__variant_1.jinja2?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "UnMPsgjsBO1/zuX75jhM+w==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 May 2025 06:15:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "UGxlYXNlIHN1bW1hcml6ZSBzb21lIGtleXdvcmRzIG9mIHRoaXMgcGFyYWdyYXBoIGFuZCBoYXZlIHNvbWUgZGV0YWlscyBvZiBlYWNoIGtleXdvcmRzLgpEbyBub3QgYWRkIGFueSBpbmZvcm1hdGlvbiB0aGF0IGlzIG5vdCBpbiB0aGUgdGV4dC4KClRleHQ6IHt7dGV4dH19ClN1bW1hcnk6Cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UnMPsgjsBO1/zuX75jhM+w==",
        "ETag": "\"0x8DD969C813405A0\"",
        "Last-Modified": "Mon, 19 May 2025 06:15:08 GMT",
        "x-ms-content-crc64": "tqtlxTg+gAM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/convert_to_dict.py?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
    [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/samples.json?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "YDfAFmXPlkVzu0yhO0T57g==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 May 2025 06:15:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "WwogICAgewogICAgICAibGluZV9udW1iZXIiOiAwLAogICAgICAidmFyaWFudF9pZCI6ICJ2YXJpYW50XzAiLAogICAgICAiZ3JvdW5kdHJ1dGgiOiAiQXBwIiwKICAgICAgInByZWRpY3Rpb24iOiAiQXBwIgogICAgfQogIF0K",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "YDfAFmXPlkVzu0yhO0T57g==",
        "ETag": "\"0x8DD969C8133B7D8\"",
        "Last-Modified": "Mon, 19 May 2025 06:15:08 GMT",
        "x-ms-content-crc64": "cHUENDgOlFw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/prepare_examples.py?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
   [...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/flow.dag.yaml?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/summarize_text_content.jinja2?skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "xIUcsC8Ljz2ab7pa5WmtQQ==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 May 2025 06:15:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "UGxlYXNlIHN1bW1hcml6ZSB0aGUgZm9sbG93aW5nIHRleHQgaW4gb25lIHBhcmFncmFwaC4gMTAwIHdvcmRzLgpEbyBub3QgYWRkIGFueSBpbmZvcm1hdGlvbiB0aGF0IGlzIG5vdCBpbiB0aGUgdGV4dC4KVGV4dDoge3t0ZXh0fX0KU3VtbWFyeToK",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xIUcsC8Ljz2ab7pa5WmtQQ==",
        "ETag": "\"0x8DD969C8134EEFF\"",
        "Last-Modified": "Mon, 19 May 2025 06:15:08 GMT",
        "x-ms-content-crc64": "OUySM/NPRAs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/.promptflow/flow.tools.json?comp=metadata&skoid=742ad5da-4f01-4ed1-bab9-eecee0f8a7fb&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-19T05%3A59%3A50Z&ske=2025-05-19T22%3A09%3A50Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 May 2025 06:15:08 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD969C815A753C\"",
        "Last-Modified": "Mon, 19 May 2025 06:15:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.161"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2025-05-19T06:15:09.7396648+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-19T06:15:09.7396648+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/ed73af09-d06d-6bf4-6cd8-4e0eacbde72e?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "is_deterministic": true,
            "name": "web_classification_with_additional_includes",
            "version": "1",
            "type": "promptflow_parallel",
            "_source": "YAML.COMPONENT",
            "code": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "flow_definition_uri": "https://saw5gakqr75l2j2.blob.core.windows.net/5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0-k4vxgj0vj8mcfxjnz8lg2b2icr/code_with_additional_includes/flow.dag.yaml"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/ed73af09-d06d-6bf4-6cd8-4e0eacbde72e?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "1.742"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/898b372b-3254-42ce-824a-d852dc5aca84",
        "name": "898b372b-3254-42ce-824a-d852dc5aca84",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "name": "web_classification_with_additional_includes",
            "version": "1",
            "display_name": "web_classification_with_additional_includes",
            "is_deterministic": "True",
            "type": "parallel",
            "inputs": {
              "data": {
                "type": "uri_folder",
                "optional": "False"
              },
              "run_outputs": {
                "type": "uri_folder",
                "optional": "True"
              },
              "connections.classify_with_llm.connection": {
                "type": "string",
                "optional": "True",
                "default": "azure_open_ai_connection"
              },
              "connections.summarize_text_content.connection": {
                "type": "string",
                "optional": "True",
                "default": "azure_open_ai_connection"
              },
              "connections.classify_with_llm.deployment_name": {
                "type": "string",
                "optional": "True",
                "default": "text-davinci-003"
              },
              "connections.summarize_text_content.deployment_name": {
                "type": "string",
                "optional": "True",
                "default": "text-davinci-003"
              },
              "connections.classify_with_llm.model": {
                "type": "string",
                "optional": "True",
                "enum": [
                  "gpt-3.5-turbo-instruct"
                ]
              },
              "connections.summarize_text_content.model": {
                "type": "string",
                "optional": "True",
                "enum": [
                  "gpt-3.5-turbo-instruct"
                ]
              },
              "url": {
                "type": "string",
                "optional": "False",
                "default": "https://www.microsoft.com/d/xbox-wireless-controller-stellar-shift-special-edition/94fbjc7h0h6h"
              }
            },
            "outputs": {
              "flow_outputs": {
                "type": "uri_folder"
              },
              "debug_info": {
                "type": "uri_folder"
              }
            },
            "task": {
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/32569914-e809-4c70-aa2c-c23890e836ad/versions/1",
              "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/promptflow-runtime/versions/20250424.v1",
              "program_arguments": "--amlbi_pf_enabled True --amlbi_pf_run_mode component --amlbi_mini_batch_rows 1 --amlbi_file_format jsonl $[[--amlbi_pf_run_outputs ${{inputs.run_outputs}}]] --amlbi_pf_debug_info ${{outputs.debug_info}} --amlbi_pf_connections \"$[[classify_with_llm.connection=${{inputs.connections.classify_with_llm.connection}},]]$[[summarize_text_content.connection=${{inputs.connections.summarize_text_content.connection}},]]\" --amlbi_pf_deployment_names \"$[[classify_with_llm.deployment_name=${{inputs.connections.classify_with_llm.deployment_name}},]]$[[summarize_text_content.deployment_name=${{inputs.connections.summarize_text_content.deployment_name}},]]\" --amlbi_pf_model_names \"$[[classify_with_llm.model=${{inputs.connections.classify_with_llm.model}},]]$[[summarize_text_content.model=${{inputs.connections.summarize_text_content.model}},]]\" --amlbi_pf_input_url ${{inputs.url}}",
              "entry_script": "driver/azureml_user/parallel_run/prompt_flow_entry.py",
              "type": "run_function",
              "append_row_to": "${{outputs.flow_outputs}}"
            },
            "input_data": "${{inputs.data}}",
            "error_threshold": "-1",
            "logging_level": "INFO",
            "max_concurrency_per_instance": "1",
            "mini_batch_error_threshold": "0",
            "mini_batch_size": "1",
            "retry_settings": {
              "max_retries": "2",
              "timeout": "600"
            }
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2025-05-19T06:15:19.7056812+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-19T06:15:19.7056812+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.090"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2025-05-18T16:25:38.5415356+00:00",
          "lastModifiedAt": "2025-05-18T16:25:39.9021079+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.130"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0/LocalUpload/000000000000000000000000000000000000ccf56910315a5928c1dced995c17/web_classification.jsonl?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 May 2025 06:15:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0/LocalUpload/000000000000000000000000000000000000ccf56910315a5928c1dced995c17/web_classification.jsonl?comp=metadata&sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 May 2025 06:15:27 GMT",
        "x-ms-meta-name": "01e38e66-07e4-4187-bf41-2d8d2570777b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1d76ee04-d996-4abd-b7eb-51f60129d408",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD969C8CA0CDA1\"",
        "Last-Modified": "Mon, 19 May 2025 06:15:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
[...]
