{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/657ce20520ae1a2d4b84086441d13fcbdd848df1006fdbdb1c800c117bd00308?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "condaFile": "channels:\n- defaults\ndependencies:\n- python=3.8.12\n- pip=21.2.2\n- pip:\n  - --extra-index-url=https://azuremlsdktestpypi.azureedge.net/sdk-cli-v2\n  - mldesigner==0.1.0b6\n  - mlflow==1.29.0\n  - azureml-mlflow==1.45.0\n  - azure-ai-ml==1.0.0\n  - azure-core==1.26.0\n  - azure-common==1.1.28\n  - azureml-core==1.45.0.post2\n  - azure-ml-component==0.9.13.post1\n  - azure-identity==1.11.0\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/657ce20520ae1a2d4b84086441d13fcbdd848df1006fdbdb1c800c117bd00308?api-version=2023-04-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.228"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/657ce20520ae1a2d4b84086441d13fcbdd848df1006fdbdb1c800c117bd00308",
        "name": "657ce20520ae1a2d4b84086441d13fcbdd848df1006fdbdb1c800c117bd00308",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.labels": ""
          },
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04",
          "condaFile": "{\n  \"channels\": [\n    \"defaults\"\n  ],\n  \"dependencies\": [\n    \"python=3.8.12\",\n    \"pip=21.2.2\",\n    {\n      \"pip\": [\n        \"--extra-index-url=https://azuremlsdktestpypi.azureedge.net/sdk-cli-v2\",\n        \"mldesigner==0.1.0b6\",\n        \"mlflow==1.29.0\",\n        \"azureml-mlflow==1.45.0\",\n        \"azure-ai-ml==1.0.0\",\n        \"azure-core==1.26.0\",\n        \"azure-common==1.1.28\",\n        \"azureml-core==1.45.0.post2\",\n        \"azure-ml-component==0.9.13.post1\",\n        \"azure-identity==1.11.0\"\n      ]\n    }\n  ]\n}",
          "osType": "Linux",
          "autoRebuild": "Disabled",
          "provisioningState": "Succeeded",
          "stage": "Logged",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2025-05-18T18:27:46.1444409+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-18T18:27:46.1444409+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {
            "codegenBy": "mldesigner"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "mldesigner execute --source entry.py --name primitive_component_with_normal_input_output_v2 --inputs input_data=\"${{inputs.input_data}}\" parambool=\"${{inputs.parambool}}\" paramint=\"${{inputs.paramint}}\" paramfloat=\"${{inputs.paramfloat}}\" paramstr=\"${{inputs.paramstr}}\" --outputs output_data=\"${{outputs.output_data}}\" bool_param_output=\"${{outputs.bool_param_output}}\" int_param_output=\"${{outputs.int_param_output}}\" float_param_output=\"${{outputs.float_param_output}}\" str_param_output=\"${{outputs.str_param_output}}\"",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/657ce20520ae1a2d4b84086441d13fcbdd848df1006fdbdb1c800c117bd00308",
            "name": "primitive_component_with_normal_input_output_v2",
            "tags": {
              "codegenBy": "mldesigner"
            },
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "primitive_component_with_normal_input_output_v2",
            "is_deterministic": true,
            "inputs": {
              "input_data": {
                "type": "uri_folder"
              },
              "parambool": {
                "type": "boolean"
              },
              "paramint": {
                "type": "integer"
              },
              "paramfloat": {
                "type": "number"
              },
              "paramstr": {
                "type": "string"
              }
            },
            "outputs": {
              "output_data": {
                "type": "uri_folder"
              },
              "bool_param_output": {
                "type": "boolean"
              },
              "int_param_output": {
                "type": "integer"
              },
              "float_param_output": {
                "type": "number"
              },
              "str_param_output": {
                "type": "string"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
        "x[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "test_pipeline",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "input_data": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            },
            "int_param": {
              "jobInputType": "literal",
              "value": "4"
            },
            "bool_param": {
              "jobInputType": "literal",
              "value": "True"
            },
            "float_param": {
              "jobInputType": "literal",
              "value": "22.0"
            },
            "str_param": {
              "jobInputType": "literal",
              "value": "string_param_no_space"
            }
          },
          "jobs": {
            "do_while_body_func": {
              "name": "do_while_body_func",
              "type": "command",
              "inputs": {
                "input_1": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.input_data}}"
                },
                "input_2": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.input_data}}"
                },
                "bool_param": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.bool_param}}"
                },
                "int_param": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.int_param}}"
                },
                "float_param": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.float_param}}"
                },
                "str_param": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.str_param}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/d5530324-dd93-42f4-bff8-73a0af6b5419"
            },
            "dowhile": {
              "body": "${{parent.jobs.do_while_body_func}}",
              "type": "do_while",
              "condition": "condition",
              "mapping": {
                "${{parent.jobs.do_while_body_func.outputs.output_1}}": [
                  "input_1"
                ],
                "${{parent.jobs.do_while_body_func.outputs.output_2}}": [
                  "input_2"
                ],
                "${{parent.jobs.do_while_body_func.outputs.int_param_output}}": [
                  "int_param"
                ],
                "${{parent.jobs.do_while_body_func.outputs.bool_param_output}}": [
                  "bool_param"
                ],
                "${{parent.jobs.do_while_body_func.outputs.float_param_output}}": [
                  "float_param"
                ],
                "${{parent.jobs.do_while_body_func.outputs.str_param_output}}": [
                  "str_param"
                ]
              },
              "limits": {
                "max_iteration_count": 3
              },
              "_source": "DSL"
            },
            "primitive_output_component_true": {
              "name": "primitive_output_component_true",
              "type": "command",
              "inputs": {
                "input_data": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.do_while_body_func.outputs.output_1}}"
                },
                "parambool": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.do_while_body_func.outputs.bool_param_output}}"
                },
                "paramint": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.do_while_body_func.outputs.int_param_output}}"
                },
                "paramfloat": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.do_while_body_func.outputs.float_param_output}}"
                },
                "paramstr": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.do_while_body_func.outputs.str_param_output}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/dfcc63a8-2fc4-4bf0-b5d7-58eda1b30d84"
            },
            "conditionnode": {
              "type": "if_else",
              "condition": "${{parent.jobs.do_while_body_func.outputs.condition}}",
              "true_block": "${{parent.jobs.primitive_output_component_true}}",
              "_source": "DSL"
            }
          },
          "outputs": {},
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "continue_on_step_failure": true,
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.350"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "test_pipeline",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "continue_on_step_failure": true,
            "_source": "DSL"
          },
          "jobs": {
            "do_while_body_func": {
              "name": "do_while_body_func",
              "type": "command",
              "inputs": {
   [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; cha[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0:000000000000000000000?api-version=2023-04-01-preview&t=638831925019342910&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIxMTk0NzU4WhcNMjUxMDE4MTk0NzU4[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:5d1b7bea-bf23-4d5c-a95e-a68e0c9a03d0:000000000000000000000?api-version=2023-04-01-preview&t=638831925029273498&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDIxMTk0NzU4WhcNMjUxMDE4MTk0NzU4[...]
