{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.063"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2024-08-30T06:10:25.0897599+00:00",
          "modifiedOn": "2024-08-30T06:10:34.9519886+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2024-09-01T16:17:03.703+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01&hash=b85a3047f448a0ae473fa9cedf9b99c0184bbeb5dc933c62c8846eaf0f08b7c2&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.169"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.310"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://saffvflk7q7qq34.blob.core.windows.net:443/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-xsmvnchsuw7e5rruwqc2awh6r7",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saffvflk7q7qq34",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://saffvflk7q7qq34.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-xsmvnchsuw7e5rruwqc2awh6r7?skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "eb99bf41-81d2-4e2c-8571-b0571042f2b9",
        "pendingUploadType": "None"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-xsmvnchsuw7e5rruwqc2awh6r7/componentA_src/hello.py?skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 09 Sep 2024 08:41:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-3h616boo1o63y54u4ct661ilhh/componentB_src/hello.py?skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 09 Sep 2024 08:41:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-je1zwnrcnn70cx8anxhku6cd6u/componentC_src/hello.py?skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 09 Sep 2024 08:41:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-xsmvnchsuw7e5rruwqc2awh6r7/componentA_src/hello.py?skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "SusK+5Z7D8zbYkqtW2Jylw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 09 Sep 2024 08:41:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlCmltcG9ydCBvcwpmcm9tIGRhdGV0aW1lIGltcG9ydCBkYXRldGltZQoKcGFyc2VyID0gYXJncGFyc2UuQXJndW1lbnRQYXJzZXIoKQpwYXJzZXIuYWRkX2FyZ3VtZW50KCItLWNvbXBvbmVudEFfaW5wdXQiLCB0eXBlPXN0cikKcGFyc2VyLmFkZF9hcmd1bWVudCgiLS1jb21wb25lbnRBX291dHB1dCIsIHR5cGU9c3RyKQoKcHJpbnQoIkhlbGxvIFB5dGhvbiBXb3JsZC4uLlxuSSdtIGNvbXBvbmVudEEgOi0pIikKCmFyZ3MgPSBwYXJzZXIucGFyc2VfYXJn[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-xsmvnchsuw7e5rruwqc2awh6r7/componentA_src/hello.py?comp=metadata&skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 09 Sep 2024 08:41:49 GMT",
        "x-ms-meta-name": "3489cb68-b57f-4ed9-a1e0-a2afc3fdd0e3",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD0AB3F57AE59\"",
        "Last-Modified": "Mon, 09 Sep 2024 08:41:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-3h616boo1o63y54u4ct661ilhh/componentB_src/hello.py?comp=metadata&skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 09 Sep 2024 08:41:49 GMT",
        "x-ms-meta-name": "2c2213f1-6e82-4b60-8926-5c102187ff8c",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD0AB3F57FC1F\"",
        "Last-Modified": "Mon, 09 Sep 2024 08:41:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-je1zwnrcnn70cx8anxhku6cd6u/componentC_src/hello.py?comp=metadata&skoid=b3aef39c-5a98-4a85-8024-90132d2815ec&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2024-09-09T05%3A15%3A47Z&ske=2024-09-09T21%3A25%3A47Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 09 Sep 2024 08:41:49 GMT",
        "x-ms-meta-name": "2132c33f-d63d-4842-9eba-863cba789cbc",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD0AB3F81EA21\"",
        "Last-Modified": "Mon, 09 Sep 2024 08:41:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://saffvflk7q7qq34.blob.core.windows.net:443/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-je1zwnrcnn70cx8anxhku6cd6u/componentC_src"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/2132c33f-d63d-4842-9eba-863cba789cbc/versions/1?api-version=2023-04-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.431"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/2132c33f-d63d-4842-9eba-863cba789cbc/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saffvflk7q7qq34.blob.core.windows.net:443/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-je1zwnrcnn70cx8anxhku6cd6u/componentC_src",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2024-09-09T08:41:53.6510315+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-09-09T08:41:53.6510315+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python hello.py --componentC_input ${{inputs.componentC_input}} --componentC_output ${{outputs.componentC_output}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/2132c33f-d63d-4842-9eba-863cba789cbc/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "component_c",
            "version": "1",
            "display_name": "componentC",
            "is_deterministic": true,
            "inputs": {
              "componentC_input": {
                "type": "uri_folder"
              }
            },
            "outputs": {
              "componentC_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/fcd01d40-ed15-4bd5-802a-2cb86fd27da4?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "1.240"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/8182c6d3-f0be-49fc-98fd-d5d98a032645",
        "name": "8182c6d3-f0be-49fc-98fd-d5d98a032645",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "name": "component_c",
            "version": "1",
            "display_name": "componentC",
            "is_deterministic": "True",
            "type": "command",
            "inputs": {
              "componentC_input": {
                "type": "uri_folder",
                "optional": "False"
              }
            },
            "outputs": {
              "componentc_output": {
                "type": "uri_folder"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/2132c33f-d63d-4842-9eba-863cba789cbc/versions/1",
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "python hello.py --componentC_input ${{inputs.componentC_input}} --componentC_output ${{outputs.componentC_output}}"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2024-09-09T08:41:59.6650257+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-09-09T08:41:59.6650257+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python hello.py --componentA_input ${{inputs.componentA_input}} --componentA_output ${{outputs.componentA_output}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/3489cb68-b57f-4ed9-a1e0-a2afc3fdd0e3/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "component_a",
            "version": "1",
            "display_name": "componentA",
            "is_deterministic": true,
            "inputs": {
              "componentA_input": {
                "type": "uri_folder"
              }
            },
            "outputs": {
              "componentA_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/version[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python hello.py --componentB_input ${{inputs.componentB_input}} --componentB_output ${{outputs.componentB_output}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/2c2213f1-6e82-4b60-8926-5c102187ff8c/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "component_b",
            "version": "1",
            "display_name": "componentB",
            "is_deterministic": true,
            "inputs": {
              "componentB_input": {
                "type": "uri_folder"
              }
            },
            "outputs": {
              "componentB_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/version[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "000000000000000000000",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "pipeline_sample_input_data": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            }
          },
          "jobs": {
            "component_a_job": {
              "name": "component_a_job",
              "type": "command",
              "inputs": {
                "componentA_input": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.pipeline_sample_input_data}}"
                }
              },
              "outputs": {
                "componentA_output": {
                  "value": "${{parent.outputs.pipeline_sample_output_data_A}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/a493effa-31f8-4ab0-b35d-4471747ccde3"
            },
            "component_b_job": {
              "name": "component_b_job",
              "type": "command",
              "inputs": {
                "componentB_input": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.component_a_job.outputs.componentA_output}}"
                }
              },
              "outputs": {
                "componentB_output": {
                  "value": "${{parent.outputs.pipeline_sample_output_data_B}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/cb6307ee-f1ae-464f-8045-a0a095a19178"
            },
            "component_c_job": {
              "name": "component_c_job",
              "type": "command",
              "inputs": {
                "componentC_input": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.component_b_job.outputs.componentB_output}}"
                }
              },
              "outputs": {
                "componentC_output": {
                  "value": "${{parent.outputs.pipeline_sample_output_data_C}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/8182c6d3-f0be-49fc-98fd-d5d98a032645"
            }
          },
          "outputs": {
            "pipeline_sample_output_data_A": {
              "mode": "Upload",
              "jobOutputType": "uri_folder"
            },
            "pipeline_sample_output_data_B": {
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            },
            "pipeline_sample_output_data_C": {
              "mode": "Upload",
              "jobOutputType": "uri_folder"
            }
          },
          "settings": {
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/lucid_ice_rttxp0y4t7?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "1.246"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/lucid_ice_rttxp0y4t7",
        "name": "lucid_ice_rttxp0y4t7",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "000000000000000000000",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/lucid_ice_rttxp0y4t7?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "DSL"
          },
          "jobs": {
            "component_a_job": {
              "name": "component_a_job",
              "type": "command",
              "inputs": {
                "componentA_input": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.pipeline_sample_input_data}}"
                }
              },
              "outputs": {
                "co[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azur[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:f51a05ae-45d5-43d8-9d75-31f1e5eaba07:lucid_ice_rttxp0y4t7?api-version=2023-04-01-preview&t=638614681315455986&c=MIIHpTCCBo2gAwIBAgITfwN74ij0VW9DByDvWQAEA3viKDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI2MDEzMTExWhcNMjUwNjIxMDEzMTExW[...]
    {
[...]
