{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.046"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2025-03-18T09:25:18.8342367+00:00",
          "modifiedOn": "2025-03-18T09:25:29.2522476+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 4,
            "targetNodeCount": 3,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 3,
              "unusableNodeCount": 0,
              "leavingNodeCount": 1,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2025-03-18T11:55:19.852+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/f0b1a02a46432c6d5ce4e3a080b42fe35c661fed113fe092481089c4aa9388c1?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "condaFile": "channels:\n- conda-forge\ndependencies:\n- python=3.8\n- pip\n- pip:\n  - pyjokes\nname: demo_env\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.8-cudnn8-ubuntu22.04:20230227.v1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Build-ID": "imgbldrun_7f9a63d",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/f0b1a02a46432c6d5ce4e3a080b42fe35c661fed113fe092481089c4aa9388c1?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800",
        "x-ms-response-type": "standard",
        "x-request-time": "5.846"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/f0b1a02a46432c6d5ce4e3a080b42fe35c661fed113fe092481089c4aa9388c1",
        "name": "f0b1a02a46432c6d5ce4e3a080b42fe35c661fed113fe092481089c4aa9388c1",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.labels": ""
          },
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.8-cudnn8-ubuntu22.04:20230227.v1",
          "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\": [\n    \"python=3.8\",\n    \"pip\",\n    {\n      \"pip\": [\n        \"pyjokes\"\n      ]\n    }\n  ],\n  \"name\": \"demo_env\"\n}",
          "osType": "Linux",
          "autoRebuild": "Disabled",
          "provisioningState": "Succeeded",
          "stage": "Logged",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2025-03-18T11:57:00.6756864+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T11:57:00.6756864+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b94e459d-80d0-4684-9c15-62bbd35083b7/versions?api-version=2023-04-01&hash=5b710757809bf7fe8a94b7c20b24c40d56a215392c19c7d7b51ada5fed2feee6&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.090"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b94e459d-80d0-4684-9c15-62bbd35083b7/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.351"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-33dy7ca2lnxujdhuvvdgpaetb9",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saw5gakqr75l2j2",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://saw5gakqr75l2j2.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-33dy7ca2lnxujdhuvvdgpaetb9?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "3e1e6413-24a6-4b33-9301-c3bed6203624",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-33dy7ca2lnxujdhuvvdgpaetb9/src/hello.py?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 11:57:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-33dy7ca2lnxujdhuvvdgpaetb9/src/hello.py?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "HnsVMIZTPoAQQtYh0ASU2Q==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 Mar 2025 11:57:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "cHJpbnQoIkhlbGxvIFB5dGhvbiBXb3JsZFxuSSB0ZWxsIGEgbmV3IGpva2UgZWFjaCB0aW1lIHlvdSBydW4gbWUuIFRvZGF5J3Mgam9rZTpcbiIpCgppbXBvcnQgcHlqb2tlcwoKcHJpbnQocHlqb2tlcy5nZXRfam9rZSgpKQoKcHJpbnQoIlxuSG93IHdhcyBpdD8/XG5cbiIpCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HnsVMIZTPoAQQtYh0ASU2Q==",
        "ETag": "\"0x8DD661405C8B2D9\"",
        "Last-Modified": "Tue, 18 Mar 2025 11:57:13 GMT",
        "x-ms-content-crc64": "FyeDlHCNq+Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-33dy7ca2lnxujdhuvvdgpaetb9/src/hello.py?comp=metadata&skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 11:57:13 GMT",
        "x-ms-meta-name": "b94e459d-80d0-4684-9c15-62bbd35083b7",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD661405EF971D\"",
        "Last-Modified": "Tue, 18 Mar 2025 11:57:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b94e459d-80d0-4684-9c15-62bbd35083b7/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-33dy7ca2lnxujdhuvvdgpaetb9/src"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b94e459d-80d0-4684-9c15-62bbd35083b7/versions/1?api-version=202[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/0662f13d-9bbc-47c5-a6b2-5bd411fada4a?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python hello.py",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b94e459d-80d0-4684-9c15-62bbd35083b7/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/f0b1a02a46432c6d5ce4e3a080b42fe35c661fed113fe092481089c4aa9388c1",
            "name": "hello__python__world",
            "version": "1",
            "display_name": "Hello_Python_World",
            "is_deterministic": true,
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/0662f13d-9bbc-47c5-a6b2-5bd411fada4a?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-01",
       [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/clever_kite_2w9x1s4t7q?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "env_conda_file",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "hello_python_world_job": {
              "name": "hello_python_world_job",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/bb21525d-9d38-448d-a0e9-ebc5ffeb1c03"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/clever_kite_2w9x1s4t7q?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.374"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/clever_kite_2w9x1s4t7q",
        "name": "clever_kite_2w9x1s4t7q",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "env_conda_file",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/clever_kite_2w9x1s4t7q?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "DSL"
          },
          "jobs": {
            "hello_python_world_job": {
              "name": "hello_python_world_job",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/bb21525d-9d38-448d-a0e9-ebc5ffeb1c03"
            }
          },
          "inputs": null,
          "outputs": {},
          "sourceJobId": null
        },
        "systemData": {
          "createdAt": "2025-03-18T11:57:22.6147813+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/clever_kite_2w9x1s4t7q/cancel?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azu[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:4830284c-8448-41aa-bcdd-55399c88f511:clever_kite_2w9x1s4t7q?api-version=2023-04-01-preview&t=638778958474823409&c=MIIHhzCCBm-gAwIBAgITfAahW1AM79KhMijZVgAABqFbUDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI3MDc1NTUwWhcNMjUwNzI2MDc1NTU[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationResults/jc:4830284c-8448-41aa-bcdd-55399c88f511:clever_kite_2w9x1s4t7q?api-version=2023-04-01-preview&t=638778958484777574&c=MIIHhzCCBm-gAwIBAgITfAahW1AM79KhMijZVgAABqFbUDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI3MDc1NTUwWhcNMjUwNzI2MDc1NTU[...]
