{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyUpdateKeyName/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyUpdateKeyName/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/MyUpdateKeyName/78d37429763f4e96b8c14ca86e02d9ed",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "x8w3Cr7fkGeniKzf7CWzIq-xrllBAx3rHtOvSLTzWwkihokTU9LZ4Iq0W74Y6_d2w8h12T6UIL5JkLp47v3LzUV20BDAScirF8FmppDV9uDRxRgZhKOawauex61EviCW1jFXqQszxJ3QKkCjnSC8542WBifgN48ZnmfXOEASeaDlAs2i51skurRrpN-aMbt6olKSA6rvpejeGGmWTWE7lweIjPJgreed5Uvr2dwnhv4Rm2BOCXlJPaqXYjQQqTwDmxoNJs4IZqmL9N2GIvj4mQryMnzkC0vKPUAW8hmnSL-RaVFbFLPu0G1rJcTmL57MUb_ZfpniURkzPSMBbnOA_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776961986,
          "updated": 1776961986,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyUpdateKeyName/78d37429763f4e96b8c14ca86e02d9ed?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "[...]
