{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delindiv-key-1776794860434/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delindiv-key-1776794860434/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-delindiv-key-1776794860434/bdbb340c94eb4003b38afe213a72f164",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rDYp8zc85S5oZYnpnvqv8DrrNfqtVfIS_WFOlXKEMnquE55H-RkV-RjITYY1SBuH8lWgzJWE_iLxL6sdYjAWyoL6853JeKVb3ywsldQsBaAH9-awNK6KxEgWuTmcP2pU0WkoIb-4tR4EBPHgmN6sdbpHvEb-DZZz62D3qnupaSKQBbMAX7XZuy5tngUUmoU56P7-tR7ldlRULGj8P_s8C2jaRrOtMPCf8_1s5-jq-X4T-Jl29cpOnTN9afm_ODFFr5lMoZt9AgxykDm6I8xVtjbNaE1fj3J_yQhk4bkyb2_ezrI-pU7l47IsFvXRHxjTmRn2C0LMH81XqXkbeGQQvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794863,
          "updated": 1776794863,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delindiv-key-1776794860434?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-delindiv-key-1776794860434",
        "deletedDate": 1776794863,
        "scheduledPurgeDate": 1777399663,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-delindiv-key-1776794860434/bdbb340c94eb4003b38afe213a72f164",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rDYp8zc85S5oZYnpnvqv8DrrNfqtVfIS_WFOlXKEMnquE55H-RkV-RjITYY1SBuH8lWgzJWE_iLxL6sdYjAWyoL6853JeKVb3ywsldQsBaAH9-awNK6KxEgWuTmcP2pU0WkoIb-4tR4EBPHgmN6sdbpHvEb-DZZz62D3qnupaSKQBbMAX7XZuy5tngUUmoU56P7-tR7ldlRULGj8P_s8C2jaRrOtMPCf8_1s5-jq-X4T-Jl29cpOnTN9afm_ODFFr5lMoZt9AgxykDm6I8xVtjbNaE1fj3J_yQhk4bkyb2_ezrI-pU7l47IsFvXRHxjTmRn2C0LMH81XqXkbeGQQvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794863,
          "updated": 1776794863,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-delindiv-key-1776794860434?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-delindiv-key-1776794860434"
        }
      }
    },
[...]
