{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776793952311/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776793952311/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776793952311/21e93ae39dfc46e3b19df145dc383f1b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r3b614V2WgdDfZMZ88MeopZFwHVdxkndlAfpUPBNCMmr6PRGmS60EwB1pM6D8ySIciYpM-Vye3FDimOLTKTi9DGHBDtDJK4goeF7qBoSP9m98t-5uW3IX_pBEAyH3rt4dI-PEBdbRBneJ5gjQB1GtqWtb3AFv3iLzVChg08YBwGgDS78ilXbqF-1LUhRRTE3hd8DaqPp1Q2krsFPTlxC0Vv8SmMrCCTkVfxGBw4p26ZhRex2OhLxm1yIwOZGS8HAWJl2mVuMmPpAOFfERWef9gISklqN_jhPTTVnD3le0A64QPZW2ceaMDTwb_rLP7gjbEdjVJdIWK8hf5ZfkpCLcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793955,
          "updated": 1776793955,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776793952311?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-softdel-key-1776793952311",
        "deletedDate": 1776793955,
        "scheduledPurgeDate": 1777398755,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776793952311/21e93ae39dfc46e3b19df145dc383f1b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r3b614V2WgdDfZMZ88MeopZFwHVdxkndlAfpUPBNCMmr6PRGmS60EwB1pM6D8ySIciYpM-Vye3FDimOLTKTi9DGHBDtDJK4goeF7qBoSP9m98t-5uW3IX_pBEAyH3rt4dI-PEBdbRBneJ5gjQB1GtqWtb3AFv3iLzVChg08YBwGgDS78ilXbqF-1LUhRRTE3hd8DaqPp1Q2krsFPTlxC0Vv8SmMrCCTkVfxGBw4p26ZhRex2OhLxm1yIwOZGS8HAWJl2mVuMmPpAOFfERWef9gISklqN_jhPTTVnD3le0A64QPZW2ceaMDTwb_rLP7gjbEdjVJdIWK8hf5ZfkpCLcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793955,
          "updated": 1776793955,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776793952311?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-softdel-key-1776793952311"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776793952311/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) sample-softdel-key-1776793952311 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776793952311/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776793952311/21e93ae39dfc46e3b19df145dc383f1b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r3b614V2WgdDfZMZ88MeopZFwHVdxkndlAfpUPBNCMmr6PRGmS60EwB1pM6D8ySIciYpM-Vye3FDimOLTKTi9DGHBDtDJK4goeF7qBoSP9m98t-5uW3IX_pBEAyH3rt4dI-PEBdbRBneJ5gjQB1GtqWtb3AFv3iLzVChg08YBwGgDS78ilXbqF-1LUhRRTE3hd8DaqPp1Q2krsFPTlxC0Vv8SmMrCCTkVfxGBw4p26ZhRex2OhLxm1yIwOZGS8HAWJl2mVuMmPpAOFfERWef9gISklqN_jhPTTVnD3le0A64QPZW2ceaMDTwb_rLP7gjbEdjVJdIWK8hf5ZfkpCLcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793955,
          "updated": 1776793955,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776793952311?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "MethodNotAllowed",
          "message": "Key must be deleted prior to being purged.",
          "innererror": {
            "code": "ObjectMustBeDeletedPriorToBeingPurged"
          }
        }
      }
    }
  ],
  "Variables": {
    "softDeleteKeyName": "sample-softdel-key-1776793952311"
  }
}
