{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-purge-key-1776794822246/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-purge-key-1776794822246/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-purge-key-1776794822246/51ab88bb604a4013aa7e15a4073db6d7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0GTSWPPWY8cCzaL8IrcZashC1CJJgHNZhxb2nVpfBdXXxff8p0cgg8bTw_4ex2HVOSmW4aTB05pxbVjd7I_LNo39ll8wrSrZDlQpHaQFbxzW-PDnvq2N1v0DkQk74pEytQkdd0FOU0oPKH46kbKQrJxhDRu55m5If5zXOKtCbkGwXrxh5LZxxSbXerOoIxFfFazZep2GCkDiBVXzaLYjVGVCzv38e4D81hkaEl6PzU1Y1dGabvN3GhyyArI00Jrjk5wXRFKeC6nlBj_sKPJx4jSF5V-RrMel9mh89lgb8hwnC21rvCzsFhugjHmDUFtrJram_AjAl7KaWPMp6xK2JQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794825,
          "updated": 1776794825,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-purge-key-1776794822246?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-purge-key-1776794822246",
        "deletedDate": 1776794825,
        "scheduledPurgeDate": 1777399625,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-purge-key-1776794822246/51ab88bb604a4013aa7e15a4073db6d7",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0GTSWPPWY8cCzaL8IrcZashC1CJJgHNZhxb2nVpfBdXXxff8p0cgg8bTw_4ex2HVOSmW4aTB05pxbVjd7I_LNo39ll8wrSrZDlQpHaQFbxzW-PDnvq2N1v0DkQk74pEytQkdd0FOU0oPKH46kbKQrJxhDRu55m5If5zXOKtCbkGwXrxh5LZxxSbXerOoIxFfFazZep2GCkDiBVXzaLYjVGVCzv38e4D81hkaEl6PzU1Y1dGabvN3GhyyArI00Jrjk5wXRFKeC6nlBj_sKPJx4jSF5V-RrMel9mh89lgb8hwnC21rvCzsFhugjHmDUFtrJram_AjAl7KaWPMp6xK2JQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794825,
          "updated": 1776794825,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-purge-key-1776794822246?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-purge-key-1776794822246"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-purge-key-1776794822246?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "purgeKeyName": "sample-purge-key-1776794822246"
  }
}
