{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794846858/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794846858/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776794846858/ca888260f07b4306aea478f67e48a62d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-T9tnOM1bRtwXMMSz_4jjrHZiOdIMOKscXVWPBe6rkB9BAO4y7fO7pbTRlkg4XCYid22ixurG6VQSAaf57O7qF3JZnxdt_xJi2fu_9xuDjOQ-E-lM1tyqg11YUWzPGFbd4lPRNYKpd_4kWHeCy-6o7cYhGLHNqVC5v8CroxDQk9fMIeugmnnqIhICoCSkA5KlgtcbmGmRbjcOOmpgBde_OKXwm566-iQJkDrFK0fPsRja6qiq5tcZiZc6GIjYXC6PqV8XYBhYVLDgdzG3DpYG-O76Z7OCEObfW0_mNHM6gQJX8M14R0CC0rPCgxBkR6mpTjMXHtEy4AKrbgfStFUuQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794849,
          "updated": 1776794849,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794846858?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-softdel-key-1776794846858",
        "deletedDate": 1776794849,
        "scheduledPurgeDate": 1777399649,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776794846858/ca888260f07b4306aea478f67e48a62d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-T9tnOM1bRtwXMMSz_4jjrHZiOdIMOKscXVWPBe6rkB9BAO4y7fO7pbTRlkg4XCYid22ixurG6VQSAaf57O7qF3JZnxdt_xJi2fu_9xuDjOQ-E-lM1tyqg11YUWzPGFbd4lPRNYKpd_4kWHeCy-6o7cYhGLHNqVC5v8CroxDQk9fMIeugmnnqIhICoCSkA5KlgtcbmGmRbjcOOmpgBde_OKXwm566-iQJkDrFK0fPsRja6qiq5tcZiZc6GIjYXC6PqV8XYBhYVLDgdzG3DpYG-O76Z7OCEObfW0_mNHM6gQJX8M14R0CC0rPCgxBkR6mpTjMXHtEy4AKrbgfStFUuQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794849,
          "updated": 1776794849,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776794846858?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-softdel-key-1776794846858"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794846858/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) sample-softdel-key-1776794846858 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776794846858/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776794846858/ca888260f07b4306aea478f67e48a62d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-T9tnOM1bRtwXMMSz_4jjrHZiOdIMOKscXVWPBe6rkB9BAO4y7fO7pbTRlkg4XCYid22ixurG6VQSAaf57O7qF3JZnxdt_xJi2fu_9xuDjOQ-E-lM1tyqg11YUWzPGFbd4lPRNYKpd_4kWHeCy-6o7cYhGLHNqVC5v8CroxDQk9fMIeugmnnqIhICoCSkA5KlgtcbmGmRbjcOOmpgBde_OKXwm566-iQJkDrFK0fPsRja6qiq5tcZiZc6GIjYXC6PqV8XYBhYVLDgdzG3DpYG-O76Z7OCEObfW0_mNHM6gQJX8M14R0CC0rPCgxBkR6mpTjMXHtEy4AKrbgfStFUuQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794849,
          "updated": 1776794849,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776794846858?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "MethodNotAllowed",
          "message": "Key must be deleted prior to being purged.",
          "innererror": {
            "code": "ObjectMustBeDeletedPriorToBeingPurged"
          }
        }
      }
    }
  ],
  "Variables": {
    "softDeleteKeyName": "sample-softdel-key-1776794846858"
  }
}
