{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1776798424388/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1776798424388/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1776798424388/5d8b4d3458044c9c85ca041c08cdf73f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Hw-7BzakYaG-V5pDC9gAXjpdznaNiONykYlPK8Sgifc",
          "y": "BZ6dW5ua_-Z68IBqpv_8WmRykwNbrfC8JooG4_kEO2Q"
        },
        "attributes": {
          "enabled": true,
          "created": 1776798427,
          "updated": 1776798427,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-ec-key-1776798424388/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-ec-key-1776798424388/9d177655ab3c4bda843705a85504b853",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "XpPTFpIthiD81_GUNEuNeI4zjOmMjC4LqukqmeWBJGQ",
          "y": "XwX_zdtuTzKla6t-FowBk7DVg-2oArZzOZZm1doe7Rs"
        },
        "attributes": {
          "enabled": true,
          "created": 1776798427,
          "updated": 1776798427,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-rsa-key-1776798424388/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-rsa-key-1776798424388/4c5cb7003f8f4d52abfa650be23404ac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y_kvA7kiERslbdquNrITAFIVvoKdWgoMBXvqPEj6e98WjDhXuYTVlVxpUedos_nzDlkBbqG2sSiXEHDSXtIG7DkiBiCudrKYaP4iCRjRbmkX3mikkQQC7H8kfCoP49Kp4STHK2UnPAAQi0WmMnhDpu0TxDCpHzEXXypS4M1uKjcg5qd4wIG2PpQQvfz4pp8sVQy0hevvFRmIPP5bl_oJFNLtkabno3bEhdqrc-xpxGzJX1_zL0znrC-EJbhVr3I99yawjIEc1U95AjdstqF5EQLzHnvZfFfaxNRvWDEk4LXZuNcTLPCyrVgJUsjzdjCbP5D8di1hf0xZcQzYkuw1BQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798427,
          "updated": 1776798427,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1776798424388/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1776798424388/5d8b4d3458044c9c85ca041c08cdf73f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Hw-7BzakYaG-V5pDC9gAXjpdznaNiONykYlPK8Sgifc",
          "y": "BZ6dW5ua_-Z68IBqpv_8WmRykwNbrfC8JooG4_kEO2Q"
        },
        "attributes": {
          "enabled": true,
          "created": 1776798427,
          "updated": 1776798427,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "uniqueString": "1776798424388"
  }
}
