{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1776798459804/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1776798459804/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1776798459804/b7928b71177b4c6e9f49dc9b663720be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rhC7JHx7HrhiD2Vonkbqs55k_ZSUJ3LxsjatC5rar5SzlrpjI6G32XIwIO1sCOXl0Z777O2qJUwEhy_01jmKkMX0jl2QrtDDNM6SE3xQE6ZbrLqqctJd8alhQKrM3v1LWwGqpoJ0fGv4au-5AttYsMlMavQd6kGWeEUNuc7RPwuTdIDNAOEPGvf_0nUwdcXcGPTTgVyKsmWaZL0GaCFESPBWhSky-Gzdtrr7_sRH9zI_-F4pz0mJNw94Z1kyjtb8WWyr34ECeHUJY01wkGaYEIhIk6zU0DGlRu7nmB0lp-FOzYT8DI_29tvKsHODnXiAC2BIxKvfXBFZRXdyDhwq_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798462,
          "updated": 1776798462,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1776798459804/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1776798459804/b7928b71177b4c6e9f49dc9b663720be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rhC7JHx7HrhiD2Vonkbqs55k_ZSUJ3LxsjatC5rar5SzlrpjI6G32XIwIO1sCOXl0Z777O2qJUwEhy_01jmKkMX0jl2QrtDDNM6SE3xQE6ZbrLqqctJd8alhQKrM3v1LWwGqpoJ0fGv4au-5AttYsMlMavQd6kGWeEUNuc7RPwuTdIDNAOEPGvf_0nUwdcXcGPTTgVyKsmWaZL0GaCFESPBWhSky-Gzdtrr7_sRH9zI_-F4pz0mJNw94Z1kyjtb8WWyr34ECeHUJY01wkGaYEIhIk6zU0DGlRu7nmB0lp-FOzYT8DI_29tvKsHODnXiAC2BIxKvfXBFZRXdyDhwq_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798462,
          "updated": 1776798462,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1776798459804/b7928b71177b4c6e9f49dc9b663720be?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1776798459804/b7928b71177b4c6e9f49dc9b663720be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rhC7JHx7HrhiD2Vonkbqs55k_ZSUJ3LxsjatC5rar5SzlrpjI6G32XIwIO1sCOXl0Z777O2qJUwEhy_01jmKkMX0jl2QrtDDNM6SE3xQE6ZbrLqqctJd8alhQKrM3v1LWwGqpoJ0fGv4au-5AttYsMlMavQd6kGWeEUNuc7RPwuTdIDNAOEPGvf_0nUwdcXcGPTTgVyKsmWaZL0GaCFESPBWhSky-Gzdtrr7_sRH9zI_-F4pz0mJNw94Z1kyjtb8WWyr34ECeHUJY01wkGaYEIhIk6zU0DGlRu7nmB0lp-FOzYT8DI_29tvKsHODnXiAC2BIxKvfXBFZRXdyDhwq_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776798462,
          "updated": 1776798462,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "getKeyName": "sample-get-key-1776798459804"
  }
}
