{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKeyName/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKeyName/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/MyKeyName/b141ea93ce9a46998ea1faed2046c152",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yaaX_zvkjZFv_XcjzTAsGAjhw86vyw84SpWddrR4PHhsUbbljjITcHPm-xuNPXJlfJc0KacTNGW_luhlf4C0Oqbf2iH2uYKLyi0puquSDPJFuf0RBC3wbAvAn7WTCKjcfWINTHlzofMc5FlcuQA9fS8z1KnCuXl30jAlHTfHqJYafxMuIXA7RVPj7ywq8ajtSS94Nw3u82vA-PyCP2g4bw_pwypKNsgScnZGqRKgeT6hr5Vnyeyy3--dsObO_UL1TJWJnLlSBv98iWTvobL8aKeV3qS5VaHrOn24EhgSO0YCCWAyQj4PqVCt7B9QrKDE6pkoZiJafSniMaHWfcX9AQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793915,
          "updated": 1776793915,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKeyName/b141ea93ce9a46998ea1faed2046c152?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respon[...]
