{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKey/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKey/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/MyKey/a5e87664f6a441a582a508e35e02c8bd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tnEwrfkLVS9Hd1BEx9EX7k4-X8XxbsbsHJgGhiYUEVPb3O_Uoten2tV-W0v-hmSsDz1-SDIJ2lP0mvQRMDF39fRoAoJox83hIq9gBREJxMctvjVZdsFj5A0FSZesqhkZN3iAaiAZwIs419pWN-UormwwzXOkVRRtjGmpz5Vqix6ZUSfjEGTWYYwpEyL_fb_VWnQzXOWQ_mpyLzO8xkxczRWLwyPpcpW2XvrbMF78rjHMjRaH5RpU7eYgBKHQelkt5b6CnTnZr_Aug8v-w1cU86qRdopGyk_QblZQmvI9t4zTq3Q_iDUfDtUKJ6oTl1Y1jGnLw9ecedzJCY2mtubfEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776793894,
          "updated": 1776793894,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
