{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/backup-restore-1776811140059",
            "attributes": {
              "enabled": false,
              "key_size": 2048,
              "nbf": 1776810543,
              "exp": 1808347143,
              "created": 1776811143,
              "updated": 1776811143,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/backup-restore-1776811151347",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "nbf": 1776810554,
              "exp": 1808347154,
              "created": 1776811155,
              "updated": 1776811155,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
         [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/crypto-encrypt-key1777051128974",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1777051135,
              "updated": 1777051135,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/crypto-sample-key1776793870598",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1776793874,
              "updated": 1776793874,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlat[...]
[...]
