{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delindiv-key-1776962040824/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delindiv-key-1776962040824/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-delindiv-key-1776962040824/baa982d8cecf490b8674fcc0862d2ac9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vRsMiinQeFHJSEbNPWxGE5eAtRGpVq9ke8vnjXNaeJLVJG1Sz1SKCjKSoyUt-n-cn0wqJDUTJVTZZlYozM2J9oVgD05kp4Nd3WBItHmqvSgn9vXJAJzJREEA8ajPprm1Y6tL3v1y663LSbigso21JYzrtQJZt_5ZXLCmuFH7Z_r-73aZG5__9dPpTH2KIaivWhqVA59Nbk6HySYw0l2J6O19mYFh1I1kS-AAAxt8migiSyp3uqXhtIECPTrwvudedh4nQ84uEa4V_QnNCzX270YtsLx8sYfjbP6nQ1mqentAKZzL53TzGh3cqxqZ6zjKM7PJSw5L8d-xja7XgDgtZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962044,
          "updated": 1776962044,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delindiv-key-1776962040824?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-delindiv-key-1776962040824",
        "deletedDate": 1776962044,
        "scheduledPurgeDate": 1777566844,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-delindiv-key-1776962040824/baa982d8cecf490b8674fcc0862d2ac9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vRsMiinQeFHJSEbNPWxGE5eAtRGpVq9ke8vnjXNaeJLVJG1Sz1SKCjKSoyUt-n-cn0wqJDUTJVTZZlYozM2J9oVgD05kp4Nd3WBItHmqvSgn9vXJAJzJREEA8ajPprm1Y6tL3v1y663LSbigso21JYzrtQJZt_5ZXLCmuFH7Z_r-73aZG5__9dPpTH2KIaivWhqVA59Nbk6HySYw0l2J6O19mYFh1I1kS-AAAxt8migiSyp3uqXhtIECPTrwvudedh4nQ84uEa4V_QnNCzX270YtsLx8sYfjbP6nQ1mqentAKZzL53TzGh3cqxqZ6zjKM7PJSw5L8d-xja7XgDgtZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962044,
          "updated": 1776962044,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-delindiv-key-1776962040824?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-delindiv-key-1776962040824"
        }
      }
    },
[...]
