{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKeyName/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKeyName/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/MyKeyName/7ecd16872100497dbc15007e80392f79",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wPbnlheQ-oUYWj2gHxRynbfP0c8shKCaM4cRRCknakwT1YcQMVxmSOl0dN8Ti6NdhmZWT1Hu99GTjSggMZTZaV07JlCk8ZeIi7GA2pQGRQKjmj0ZfJduB3pG6QbVsX7REMbuhfFzN6CZ8Qg5_z-vFpVk7BsIb-QIMlKMiXDOUskayGe1Dn3aa7LPW3Fx3F3ObsheRiFvUJv4vL69BDUTfd4JqXWlnZqhxVCKmNtKpg-7uwSHnJOHz9OqxNUFrgkEbtzpCI_MHDrNCEkeEFISANEa5f9amCvDdj5k-45MEGiEDYPLe_snTTOM7ylj5jTTnl9Jeg0z0EqBuo3CF7ZwbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794428,
          "updated": 1776794428,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/MyKeyName/7ecd16872100497dbc15007e80392f79?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respon[...]
