{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-getdel-key-1776794437482/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-getdel-key-1776794437482/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-getdel-key-1776794437482/00e7e7c994f2442c91bd77691a6317da",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "03uUoor_-2mB75U5lbMuEx1bv2w6TijqX-bWYPcC2919ODTi6j2ofrfrzQuFVcDg5oATh1yQwr0kP5SGci4uOGa5_n-279VAZo7t8aZVNt8RPt_YnM-G1A-mgnhG83IPqNmPdIjommkYEHck5iM-jXnkPu_Ut2fqdHPd_KDi0EaF21WF6K2__55_vCx62WMp_6YBI7lzIsL30LwgxblGXGaSdtxEQKK35YogsQCHV4y4XEgAamb6fpEe99kZmaxhzXQFKmKyh87YYsEtNAx8C78Lz8C8Rr6uJxML8gEiit4s2bmVKG0jZxHQ8Q9Y6TP4kfuhCx3KEIfng8dTOhyGeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794440,
          "updated": 1776794440,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-getdel-key-1776794437482?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-getdel-key-1776794437482",
        "deletedDate": 1776794440,
        "scheduledPurgeDate": 1777399240,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-getdel-key-1776794437482/00e7e7c994f2442c91bd77691a6317da",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "03uUoor_-2mB75U5lbMuEx1bv2w6TijqX-bWYPcC2919ODTi6j2ofrfrzQuFVcDg5oATh1yQwr0kP5SGci4uOGa5_n-279VAZo7t8aZVNt8RPt_YnM-G1A-mgnhG83IPqNmPdIjommkYEHck5iM-jXnkPu_Ut2fqdHPd_KDi0EaF21WF6K2__55_vCx62WMp_6YBI7lzIsL30LwgxblGXGaSdtxEQKK35YogsQCHV4y4XEgAamb6fpEe99kZmaxhzXQFKmKyh87YYsEtNAx8C78Lz8C8Rr6uJxML8gEiit4s2bmVKG0jZxHQ8Q9Y6TP4kfuhCx3KEIfng8dTOhyGeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794440,
          "updated": 1776794440,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-getdel-key-1776794437482?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-getdel-key-1776794437482"
        }
      }
    },
[...]
