{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1777051128973/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1777051128973/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1777051128973/7f31fbd926324bb0965e2a17be6515dc",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "lGh5wBLztY4_WNA2ETcnPR2qdOEJEsZyXniUMioWExg",
          "y": "SkvzaeVimIAdeKU6zwlGrpG3GucJnDeNMBAuPJ_8MGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-ec-key-1777051128973/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-ec-key-1777051128973/6dd5443254674a4daedea23bae561848",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "IUXpaHkviswHJf6JQ66OXtEfrk5BoNXHV3YiO9LgveQ",
          "y": "pUKaUPu_UMw2ZOWBBMJX7CRWvXrQxJWv1TT65j5zCVY"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-rsa-key-1777051128973/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-rsa-key-1777051128973/d834ecea36ba4c9d9fdc4f2cbf8ec25a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "trBhGnxzIs5ZpsgZbkLLPhrGcqwhWKJGC0S1NCPIV897OF3GlPZT8blfG3FT1ddigezs4YHC7xWvRD8o71xmlSo8v2NM92MaH0pi26EI19YUhdtSVbUuLR5MsQCMOAivPOvKx5-hzkMA1IkB85lvOrUW0vrjam7-gKDUbJZv8NMntNE-I0_1PDOnPpysSUXU2HyZNKXKejck3e5b3yzfqCaA1Tk3ZnQx8kznXSGI_M-wlXDG6JgzzkV1dxuZsnUt6k6a78LhRRCGHNAw9qwoaoBC2e_0PA5C5T_bq0w07gOXRIW5z5nAvQFR0E_8uffMJlnZpc8LQfk80k8dwlq0rQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1777051128973/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1777051128973/7f31fbd926324bb0965e2a17be6515dc",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "lGh5wBLztY4_WNA2ETcnPR2qdOEJEsZyXniUMioWExg",
          "y": "SkvzaeVimIAdeKU6zwlGrpG3GucJnDeNMBAuPJ_8MGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1777051128973?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-key-1777051128973",
        "deletedDate": 1777051135,
        "scheduledPurgeDate": 1777655935,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1777051128973/7f31fbd926324bb0965e2a17be6515dc",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "lGh5wBLztY4_WNA2ETcnPR2qdOEJEsZyXniUMioWExg",
          "y": "SkvzaeVimIAdeKU6zwlGrpG3GucJnDeNMBAuPJ_8MGM"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-key-1777051128973?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-key-1777051128973"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-ec-key-1777051128973?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-ec-key-1777051128973",
        "deletedDate": 1777051138,
        "scheduledPurgeDate": 1777655938,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-ec-key-1777051128973/6dd5443254674a4daedea23bae561848",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "IUXpaHkviswHJf6JQ66OXtEfrk5BoNXHV3YiO9LgveQ",
          "y": "pUKaUPu_UMw2ZOWBBMJX7CRWvXrQxJWv1TT65j5zCVY"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-ec-key-1777051128973?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-ec-key-1777051128973"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-rsa-key-1777051128973?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-rsa-key-1777051128973",
        [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-rsa-key-1777051128973?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-rsa-key-1777051128973"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-rsa-key-1777051128973?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uniqueString": "1777051128973"
  }
}
