{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-to-update/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-to-update/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/key-to-update/faa10f2cbbbf4878a387b5dfc1515090",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r3lQKXOm0bSLds1VkFvTXnxhDYMFGK4aJD3vHKhQlwRAgwahOjWiZdjWAogpZoJ-2umvMC_86PWkTETrHJUFBQPPAIks2CqQJf2Kk_NcNIoPIoWtifUbJ1uHeG9xpPxcvi0OuOSiNoTnNLicccrfYNaMjTl6wsExGfNmRqpDcZahz_dbDYlaQ_3wcOpbF6K2wrIcABBWZja43jgXZQQVJkcsHSP66AUH4N1iI_lvcvsWy-VZ9TELYhp2jYZjdwiAsxcLVpJNU4pxVyC_oTDDJ-GEWwpQswaPO9meolhz8geu_FxCEQs1Tv5HX7mmBO87dKZxSqFr2n2WqQfM06aR3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051208,
          "updated": 1777051208,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-to-update/faa10f2cbbbf4878a387b5dfc1515090?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Re[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key-to-update?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/key-to-update",
        "deletedDate": 1777051209,
        "scheduledPurgeDate": 1777656009,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/key-to-update/faa10f2cbbbf4878a387b5dfc1515090",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r3lQKXOm0bSLds1VkFvTXnxhDYMFGK4aJD3vHKhQlwRAgwahOjWiZdjWAogpZoJ-2umvMC_86PWkTETrHJUFBQPPAIks2CqQJf2Kk_NcNIoPIoWtifUbJ1uHeG9xpPxcvi0OuOSiNoTnNLicccrfYNaMjTl6wsExGfNmRqpDcZahz_dbDYlaQ_3wcOpbF6K2wrIcABBWZja43jgXZQQVJkcsHSP66AUH4N1iI_lvcvsWy-VZ9TELYhp2jYZjdwiAsxcLVpJNU4pxVyC_oTDDJ-GEWwpQswaPO9meolhz8geu_FxCEQs1Tv5HX7mmBO87dKZxSqFr2n2WqQfM06aR3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "key_size": 2048,
          "created": 1777051208,
          "updated": 1777051209,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/key-to-update?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key-to-update"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/key-to-update?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
