{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-recover-key-1776962004687/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-recover-key-1776962004687/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-recover-key-1776962004687/f3f1f4821ad34bd2a9889a9081a7c105",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "n04V6U286CWbB-AcrRdh_1o9vOFbFMBhBQUJi9ktdJxq65FVKfLmYDJe5pQEbXRWHa64ZrfGQ755ATcfs8f_JiEVVdgBSpr2vFH2sy934rL-flnGqnutFembCaysCK4cVPZGi6VRhtwHIp2FRSepuFY9-DBnzE501GaNVf_pSqnDhkRpd3tEAEULB5YSJYCHVO7DKXTlUbpPvODes6E9uB9nu63cI5OVKbT1vF3Kpim2UQKH6fQg-tzb9TJsrn9AEfqetzlIaRQV1tnpfOEK37K9fA6QihOLepvTjGVgTH1-_B2EPQSedXfOyXald2WfvUrZ_hkHhTsURDO4fDK52Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962008,
          "updated": 1776962008,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-recover-key-1776962004687?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-recover-key-1776962004687",
        "deletedDate": 1776962008,
        "scheduledPurgeDate": 1777566808,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-recover-key-1776962004687/f3f1f4821ad34bd2a9889a9081a7c105",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "n04V6U286CWbB-AcrRdh_1o9vOFbFMBhBQUJi9ktdJxq65FVKfLmYDJe5pQEbXRWHa64ZrfGQ755ATcfs8f_JiEVVdgBSpr2vFH2sy934rL-flnGqnutFembCaysCK4cVPZGi6VRhtwHIp2FRSepuFY9-DBnzE501GaNVf_pSqnDhkRpd3tEAEULB5YSJYCHVO7DKXTlUbpPvODes6E9uB9nu63cI5OVKbT1vF3Kpim2UQKH6fQg-tzb9TJsrn9AEfqetzlIaRQV1tnpfOEK37K9fA6QihOLepvTjGVgTH1-_B2EPQSedXfOyXald2WfvUrZ_hkHhTsURDO4fDK52Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962008,
          "updated": 1776962008,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-recover-key-1776962004687?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-recover-key-1776962004687"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-recover-key-1776962004687/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) sample-recover-key-1776962004687 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-recover-key-1776962004687/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-recover-key-1776962004687/f3f1f4821ad34bd2a9889a9081a7c105",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "n04V6U286CWbB-AcrRdh_1o9vOFbFMBhBQUJi9ktdJxq65FVKfLmYDJe5pQEbXRWHa64ZrfGQ755ATcfs8f_JiEVVdgBSpr2vFH2sy934rL-flnGqnutFembCaysCK4cVPZGi6VRhtwHIp2FRSepuFY9-DBnzE501GaNVf_pSqnDhkRpd3tEAEULB5YSJYCHVO7DKXTlUbpPvODes6E9uB9nu63cI5OVKbT1vF3Kpim2UQKH6fQg-tzb9TJsrn9AEfqetzlIaRQV1tnpfOEK37K9fA6QihOLepvTjGVgTH1-_B2EPQSedXfOyXald2WfvUrZ_hkHhTsURDO4fDK52Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962008,
          "updated": 1776962008,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-recover-key-1776962004687/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-recover-key-1776962004687/f3f1f4821ad34bd2a9889a9081a7c105",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "n04V6U286CWbB-AcrRdh_1o9vOFbFMBhBQUJi9ktdJxq65FVKfLmYDJe5pQEbXRWHa64ZrfGQ755ATcfs8f_JiEVVdgBSpr2vFH2sy934rL-flnGqnutFembCaysCK4cVPZGi6VRhtwHIp2FRSepuFY9-DBnzE501GaNVf_pSqnDhkRpd3tEAEULB5YSJYCHVO7DKXTlUbpPvODes6E9uB9nu63cI5OVKbT1vF3Kpim2UQKH6fQg-tzb9TJsrn9AEfqetzlIaRQV1tnpfOEK37K9fA6QihOLepvTjGVgTH1-_B2EPQSedXfOyXald2WfvUrZ_hkHhTsURDO4fDK52Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962008,
          "updated": 1776962008,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "recoverKeyName": "sample-recover-key-1776962004687"
  }
}
