{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delwait-key-1777137500768/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delwait-key-1777137500768/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-delwait-key-1777137500768/f7019343b35c4d45a2d1aadb43ce85f6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1FgjKb0Hw9F-55pq-tWsefuXexOOxDpkEsb712XaRl1OLS09Pq9zC8ho0bOHHgSc0vV9mU1wDmgyb0TyB73WxuUjr13nuEBx0xJs3BDIEk2S6HKf3NQ8p3nK3bOqzQAt1Pvq-3u3rI7_nBdDvv5C-elmKmHhM6S8E518Qb1oNrrNQDGLNhaoNSIAjYayrfolHpkt3yCJnigk1rJVA-n-f-xWPZCgl_euMMD3KoIkTCfuXLNCU0e6MFWjc2vC_AtyXggGzGdvdhN7PA05QW3zE3wer6wZTTJse2AOZ7xeSCLcLLTPu8Md7wFo77xblbRhL6Y-B1_tSvn0hR3HZHZeeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137504,
          "updated": 1777137504,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-delwait-key-1777137500768?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-delwait-key-1777137500768",
        "deletedDate": 1777137504,
        "scheduledPurgeDate": 1777742304,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-delwait-key-1777137500768/f7019343b35c4d45a2d1aadb43ce85f6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1FgjKb0Hw9F-55pq-tWsefuXexOOxDpkEsb712XaRl1OLS09Pq9zC8ho0bOHHgSc0vV9mU1wDmgyb0TyB73WxuUjr13nuEBx0xJs3BDIEk2S6HKf3NQ8p3nK3bOqzQAt1Pvq-3u3rI7_nBdDvv5C-elmKmHhM6S8E518Qb1oNrrNQDGLNhaoNSIAjYayrfolHpkt3yCJnigk1rJVA-n-f-xWPZCgl_euMMD3KoIkTCfuXLNCU0e6MFWjc2vC_AtyXggGzGdvdhN7PA05QW3zE3wer6wZTTJse2AOZ7xeSCLcLLTPu8Md7wFo77xblbRhL6Y-B1_tSvn0hR3HZHZeeQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137504,
          "updated": 1777137504,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-delwait-key-1777137500768?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-delwait-key-1777137500768"
        }
      }
    },
[...]
