{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794523666/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794523666/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776794523666/a600bb4891094b90a94b324cc52c6f8f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1xCNntJ6V0OIp0zFVfAau-7N212AcSgpvK0CHYBe4n-0MiIrZQOrTFC23rhVyS6yTrymW2_WuI8TMMeOAHQqcDmugn0JCEcaIxv7O4M-HNfkYJ0UlSwbXzcuhlfsdeO7eHML5rX3eVzc-8-KeBav9JgRLRM8jLhwHtOjuMhW6Bc0bwLdV_V92Pw4qBaJkq22A2iggHvehc6skMn2bS25ABqi834WRykeb3SkDX7orCHZnX9mlZMQDqMtQd8OSYYaBnNR69AvfGVEUlb5CkaVvacnbgn7usY4o2GIzkpZpvic9IHpCv4jfIzvMwPzv6nnoKHienK_gkYT_dHb0A7CIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794526,
          "updated": 1776794526,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794523666?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-softdel-key-1776794523666",
        "deletedDate": 1776794526,
        "scheduledPurgeDate": 1777399326,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776794523666/a600bb4891094b90a94b324cc52c6f8f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1xCNntJ6V0OIp0zFVfAau-7N212AcSgpvK0CHYBe4n-0MiIrZQOrTFC23rhVyS6yTrymW2_WuI8TMMeOAHQqcDmugn0JCEcaIxv7O4M-HNfkYJ0UlSwbXzcuhlfsdeO7eHML5rX3eVzc-8-KeBav9JgRLRM8jLhwHtOjuMhW6Bc0bwLdV_V92Pw4qBaJkq22A2iggHvehc6skMn2bS25ABqi834WRykeb3SkDX7orCHZnX9mlZMQDqMtQd8OSYYaBnNR69AvfGVEUlb5CkaVvacnbgn7usY4o2GIzkpZpvic9IHpCv4jfIzvMwPzv6nnoKHienK_gkYT_dHb0A7CIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794526,
          "updated": 1776794526,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776794523666?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-softdel-key-1776794523666"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-softdel-key-1776794523666/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) sample-softdel-key-1776794523666 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776794523666/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-softdel-key-1776794523666/a600bb4891094b90a94b324cc52c6f8f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1xCNntJ6V0OIp0zFVfAau-7N212AcSgpvK0CHYBe4n-0MiIrZQOrTFC23rhVyS6yTrymW2_WuI8TMMeOAHQqcDmugn0JCEcaIxv7O4M-HNfkYJ0UlSwbXzcuhlfsdeO7eHML5rX3eVzc-8-KeBav9JgRLRM8jLhwHtOjuMhW6Bc0bwLdV_V92Pw4qBaJkq22A2iggHvehc6skMn2bS25ABqi834WRykeb3SkDX7orCHZnX9mlZMQDqMtQd8OSYYaBnNR69AvfGVEUlb5CkaVvacnbgn7usY4o2GIzkpZpvic9IHpCv4jfIzvMwPzv6nnoKHienK_gkYT_dHb0A7CIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794526,
          "updated": 1776794526,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-softdel-key-1776794523666?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "MethodNotAllowed",
          "message": "Key must be deleted prior to being purged.",
          "innererror": {
            "code": "ObjectMustBeDeletedPriorToBeingPurged"
          }
        }
      }
    }
  ],
  "Variables": {
    "softDeleteKeyName": "sample-softdel-key-1776794523666"
  }
}
