{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-purge-key-1776961998856/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-purge-key-1776961998856/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-purge-key-1776961998856/2a4648db87634e9e8baa1b5ad672ffd4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wVB4TF4DYwOtCNmZw99HCEGtAA3JxlI1gLg-bixfE4QZRUkQ8kEss32uI80lUres5CN8QAcfrm6pPUKNm2uA-W8oqydPMGzG745TqRy7ORvN7AVPdhwYIWpisBLXazsqxiDzIwxSVIxvWBERhbngpyDJsey-HJdHIVnogAyVwWlYpg4NyWd9qP2578o8OA8R9kNWeUP05ao0vQB6yM8dD78Z7G8o5n0vtRLrh9Wptgp7AkDhipxT1HbWu1mdDQXZMhfxRk7_qTk2Y-MjC6wZ9B58qR0XRMyD9gFePDMyMjeJBfJcHkTXTtcTNfLvFq58cxVSpr1lpb-nGxq4_6tBMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962002,
          "updated": 1776962002,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-purge-key-1776961998856?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-purge-key-1776961998856",
        "deletedDate": 1776962002,
        "scheduledPurgeDate": 1777566802,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-purge-key-1776961998856/2a4648db87634e9e8baa1b5ad672ffd4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wVB4TF4DYwOtCNmZw99HCEGtAA3JxlI1gLg-bixfE4QZRUkQ8kEss32uI80lUres5CN8QAcfrm6pPUKNm2uA-W8oqydPMGzG745TqRy7ORvN7AVPdhwYIWpisBLXazsqxiDzIwxSVIxvWBERhbngpyDJsey-HJdHIVnogAyVwWlYpg4NyWd9qP2578o8OA8R9kNWeUP05ao0vQB6yM8dD78Z7G8o5n0vtRLrh9Wptgp7AkDhipxT1HbWu1mdDQXZMhfxRk7_qTk2Y-MjC6wZ9B58qR0XRMyD9gFePDMyMjeJBfJcHkTXTtcTNfLvFq58cxVSpr1lpb-nGxq4_6tBMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776962002,
          "updated": 1776962002,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-purge-key-1776961998856?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-purge-key-1776961998856"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-purge-key-1776961998856?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "purgeKeyName": "sample-purge-key-1776961998856"
  }
}
