{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1777051193111/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1777051193111/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1777051193111/3641ae06796d4ec4a5204712eba2a655",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5FywvZ83W15gOldP6yN7oe6JxpR8HC-PctztDZeKUrBUdHJHAxy3QHlgG1yTzSgKXo-gDYYjbZeHFadfDhY9v_ce1ksGBAL_o3binobavAU-sa2y6Zc3omycRPsV-6tKg_g0QPLCu05ATc-zYP80uVc5Z0BamWLQq6Hgg5WO1guE9AoriMgPgI4ZOBVdUQQQlZDXo7nikvNtx_pPtiD7PED74qKmkcjMI9WbcGWBKpaOGILYN-wl700X2TnVD8xXRFYWqGb7xzyFJQw1tUL0cCUnB0WVSjC7tOXZxz2VaF24OqmhGf1G5tOg4ScCo2R_EMusBSR7P1-4HM8qFVSneQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051196,
          "updated": 1777051196,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1777051193111/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1777051193111/3641ae06796d4ec4a5204712eba2a655",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5FywvZ83W15gOldP6yN7oe6JxpR8HC-PctztDZeKUrBUdHJHAxy3QHlgG1yTzSgKXo-gDYYjbZeHFadfDhY9v_ce1ksGBAL_o3binobavAU-sa2y6Zc3omycRPsV-6tKg_g0QPLCu05ATc-zYP80uVc5Z0BamWLQq6Hgg5WO1guE9AoriMgPgI4ZOBVdUQQQlZDXo7nikvNtx_pPtiD7PED74qKmkcjMI9WbcGWBKpaOGILYN-wl700X2TnVD8xXRFYWqGb7xzyFJQw1tUL0cCUnB0WVSjC7tOXZxz2VaF24OqmhGf1G5tOg4ScCo2R_EMusBSR7P1-4HM8qFVSneQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051196,
          "updated": 1777051196,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1777051193111/3641ae06796d4ec4a5204712eba2a655?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1777051193111/3641ae06796d4ec4a5204712eba2a655",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5FywvZ83W15gOldP6yN7oe6JxpR8HC-PctztDZeKUrBUdHJHAxy3QHlgG1yTzSgKXo-gDYYjbZeHFadfDhY9v_ce1ksGBAL_o3binobavAU-sa2y6Zc3omycRPsV-6tKg_g0QPLCu05ATc-zYP80uVc5Z0BamWLQq6Hgg5WO1guE9AoriMgPgI4ZOBVdUQQQlZDXo7nikvNtx_pPtiD7PED74qKmkcjMI9WbcGWBKpaOGILYN-wl700X2TnVD8xXRFYWqGb7xzyFJQw1tUL0cCUnB0WVSjC7tOXZxz2VaF24OqmhGf1G5tOg4ScCo2R_EMusBSR7P1-4HM8qFVSneQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051196,
          "updated": 1777051196,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-get-key-1777051193111?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-get-key-1777051193111",
        "deletedDate": 1777051197,
        "scheduledPurgeDate": 1777655997,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-get-key-1777051193111/3641ae06796d4ec4a5204712eba2a655",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5FywvZ83W15gOldP6yN7oe6JxpR8HC-PctztDZeKUrBUdHJHAxy3QHlgG1yTzSgKXo-gDYYjbZeHFadfDhY9v_ce1ksGBAL_o3binobavAU-sa2y6Zc3omycRPsV-6tKg_g0QPLCu05ATc-zYP80uVc5Z0BamWLQq6Hgg5WO1guE9AoriMgPgI4ZOBVdUQQQlZDXo7nikvNtx_pPtiD7PED74qKmkcjMI9WbcGWBKpaOGILYN-wl700X2TnVD8xXRFYWqGb7xzyFJQw1tUL0cCUnB0WVSjC7tOXZxz2VaF24OqmhGf1G5tOg4ScCo2R_EMusBSR7P1-4HM8qFVSneQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051196,
          "updated": 1777051196,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-get-key-1777051193111?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-get-key-1777051193111"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-get-key-1777051193111?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getKeyName": "sample-get-key-1777051193111"
  }
}
