{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-attest-key-1776794797804/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-attest-key-1776794797804/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-attest-key-1776794797804/2938a7c5599e4b68b5a468c3067ef852",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rEvWDg0w-27dWr8AX4NBdWM5NgjTSD64Nl8PAfO8x19kJel9GWQud599hoK4bgoJGJTmFvWE2ya6OxvCjBQs7qZVYzSBAick46rOlEaIFWLOGLHm3jfCmo_Csngy5LolRDf7hA3A9EUXxC-l4BSRC6lEvrdWa7t1kcPdTwDOqMbY4OTZ49uTyxDfoynlFHDCbqwoScgrKPMKaF_y829UzNLle8rI5WqYSIlB4QnVm2dX6Iuy0ZjB8UUVU1k9GUf9hnjw5yKFZH801QX0mUZYSvFjkFljQDRgqdgJ14msv5-a28Mdh0jl-byQ3EnKglEhRzcYEy2iWF86DtJGRDkQyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794801,
          "updated": 1776794801,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-attest-key-1776794797804/attestation?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "Method GET does not allow operation 'attestation'"
        }
      }
    }
  ],
  "Variables": {
    "attestKeyName": "sample-attest-key-1776794797804"
  }
}
