{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-del-key-1776961986760/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-del-key-1776961986760/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-del-key-1776961986760/0f06f06296874b9ba60ad6a16f6de440",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4PnUgNP7FqBtjIEFuc84i0o5ZoxvYbA47IggcuOJHLRco0DILQgsnnBOShMeTRxn7xtj5BpaSCsnc-9fyhwYEzO6OzJnYwJuiPQdwuQ766vGE32ytSmf28rJO1ru7dq_3P4oH4ojr67JDiLj6sKsyjeCPokJv2GbtMv6bbLtSkl9ziB1Nm6GQ5_UbMzXnaljfOTA8TGoWiED_nCMmNPfJW2Ntk8Hlc1HqM_6EuRaqM_qVmqJsSPbaJ5WkmtAoEPKbZgf22f45--ooGtHnBcOo9s0Xgoi4G23rAPYwrz04E6hnXkyZ-aM5ZqwuE4gSmbgVpXdLuMHEhshtP7eLBrbYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776961990,
          "updated": 1776961990,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-del-key-1776961986760?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-del-key-1776961986760",
        "deletedDate": 1776961990,
        "scheduledPurgeDate": 1777566790,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-del-key-1776961986760/0f06f06296874b9ba60ad6a16f6de440",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4PnUgNP7FqBtjIEFuc84i0o5ZoxvYbA47IggcuOJHLRco0DILQgsnnBOShMeTRxn7xtj5BpaSCsnc-9fyhwYEzO6OzJnYwJuiPQdwuQ766vGE32ytSmf28rJO1ru7dq_3P4oH4ojr67JDiLj6sKsyjeCPokJv2GbtMv6bbLtSkl9ziB1Nm6GQ5_UbMzXnaljfOTA8TGoWiED_nCMmNPfJW2Ntk8Hlc1HqM_6EuRaqM_qVmqJsSPbaJ5WkmtAoEPKbZgf22f45--ooGtHnBcOo9s0Xgoi4G23rAPYwrz04E6hnXkyZ-aM5ZqwuE4gSmbgVpXdLuMHEhshtP7eLBrbYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776961990,
          "updated": 1776961990,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-del-key-1776961986760?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-del-key-1776961986760"
        }
      }
    },
[...]
