{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1776794760807/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1776794760807/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1776794760807/7afb5120c9c64e42a273a5115eb6947b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "a1Gi6OdW4pPJ3UamS4eC7V12D8k2dfKJ-bYY7cDh-64",
          "y": "QU9M9MSTTFXNU7F7UpIfPoKH3BG9d1Gf1a8oC4xjM8o"
        },
        "attributes": {
          "enabled": true,
          "created": 1776794764,
          "updated": 1776794764,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-ec-key-1776794760807/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-ec-key-1776794760807/d7e26e3fb0274e64af8bc2dd4a115c81",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "YbFBlTxqKEfRkyK5cD504nz7fAx5ksOaI32YnmO1q80",
          "y": "29YPWFTSxXowdrm8nPIKBHhVgtyCH4qHL_yCoPhgUJE"
        },
        "attributes": {
          "enabled": true,
          "created": 1776794764,
          "updated": 1776794764,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-rsa-key-1776794760807/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-rsa-key-1776794760807/7ba6e7cb7df64f3eac4b48353271590b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7OcGlVCn84Arx5vQod6G7tve50RF3jlLjNG0JSr6Y0IOIFiz7i4WG5fFQXXGe5J3GqcZHIxY7hDm1JejrHxGHA3UJViLUCT06BB0f_AgIMfFnASwW_MK90NBnb4RhgGXWdXqdEZOKZ_uWiZWzGmuawARoXcDUS8L7YFpqLqPacqwCJW9IrDuqvlLBlex-XNhLQTbf8UT4VvFFiKKcLGiMOlt5PxX1JT9miuuK0UCunadE7PMRuwzmVoIx2l4txFMMIdKsE5HTNx0NlzpoWuXWPe-8WfdkRLneyQfyhlsWXdsLlU982FB8PJem0bCYZcuUgdxj-sdF54KJMxSSUaqrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1776794764,
          "updated": 1776794764,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-key-1776794760807/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-key-1776794760807/7afb5120c9c64e42a273a5115eb6947b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "a1Gi6OdW4pPJ3UamS4eC7V12D8k2dfKJ-bYY7cDh-64",
          "y": "QU9M9MSTTFXNU7F7UpIfPoKH3BG9d1Gf1a8oC4xjM8o"
        },
        "attributes": {
          "enabled": true,
          "created": 1776794764,
          "updated": 1776794764,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "uniqueString": "1776794760807"
  }
}
