{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-import-key-1777051181121?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-import-key-1777051181121?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ufWECn7IWf_omgFi38AX7x-Vjp8p0uDv-4nBZl-opa0Wf-gi-FfeKrA9MB9RAM6eiG-JHZIrqbAnEb7qYgusS5_MMkjK-mwK_vjaTgqZM1QN4SU58vaCfveLHM8oMEM0cQ5A0m4qRsiDkgoU_93zdbkEqasMNhl3cn5N21-Px8fpADOU7diB7ySpf34JefND5I2PqzrXXc3v74SGsa2k-YBsDoCaKS6Wdj0od2rUViV_L5KYzBZmQWPxqG6ZbCu0z5ff1mMpTc3rUMkHZHDYJeLURWs-HVQQy1f3jByMouzR0_v5F_hcyOLVvywhrgPICLPbiTwzmzh2ytzXTOIgIQ",
          "e": "AQAB",
          "d": "HHsncYoQeoRQ5kF_GMDtiYC_Ybwr5jHwX4iuN9U_2bwkXYu6y2l9y_D5NiUdvW9n5YKbsA1CpbcmjLe-YyzhgyWi2zK979PbbUjE-r3xz-Q4SfrvILCztOmKA2wQ_i9U2VnzAKfBztyIFjZ4F-YxEx82wRvC_4gv_LeuigJdXZ4UTaiSAL599CQrUYi5G-FWA0qSHW1VRhfK3tJrrKs613loU4PHmWGaFu2JNTcrPXZp9_usP3-EZSoHhfLNhDvezVCivoJBiM7RBoDZEGZEdlT9wQSFlvuDk4JxTl5xUYrJzOmwJ3usm4f_sMyM_CD-p3L-7WwPofoyL_tqD-gUSQ",
          "dp": "J0G3jkvtwuDybr7riv0HPkzpi4uBz4LLo1cvQ_v7wqNcJlKNZzEESIldtULD53-ZfV0vyNLHWZcnncbLPL0DM1NHC3G__RH9BdZJHDvZtGjppLdZDB_lVjs32gwpWUEBRhn_ebW7Q6HXhzEu0qtT1wf0hmwp2cXD_2SJ6I_lcvk",
          "dq": "C_D2NTtqluP9btKP8geeJBi0DNyWVNNNkJVbwXtoPp8B4QdSzJOKwPHIir3CMU-bdjY7b4jQ7gSEoJkQ5c1Yd33OIF34XhewEC5iYOkQ6s1AnudQB-ve6mg3EAEH4VlIPa5h5OrQoxHq0fsQo8jCKfaR06wyLQFycBVH0Di4kSE",
          "qi": "J7_5myKi5Gbsnf6kUYnTZ6XLFMloIGTkV7_WYeFJzCI2XDwbzXvbDifHLoUFvdiyc6aDozUxRB_4di82G-981Y51CF5RgldC92v3rp4g5blNVr1Veoz5uE7XqmVxw5po7Euhw9Cn54-hkjybS_k-USX-QyYkECXbNyv_rSBK_0Q",
          "p": "316F-qd_PXLZXT8KIhAkK0zD9I4CpTKcsmehp29CEdmnwWHsCQh6i3BKpiw2GqkHcebG1bGt3FDuBH-wa5RspgoZTy_cxIXCNSY_-mueCIELuiSq84en8W6ZTJdkAR6Bg4SMBI-aJV1JUxjN_O-nJenDmRBorvSGtz5lMpUMYIU",
          "q": "1R_w0LSxhTMOI7HU0R6v8fngChVqoC8ELNKRfN_FlE4eHsJbvYOUHMLAu9aDj3aSiDSKuFlFE-aHVA6a-KCBu0c5Ubb879ReP3k074IUWRwgFKGrK8Z46IO6TGqE6Bk1eF_mkwMtB225_0t6EEWS37PaycMOlbmvyv7gl72vQe0"
        },
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-import-key-1777051181121/3a81ac4f27fc4b619621aea0d47a9f75",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ufWECn7IWf_omgFi38AX7x-Vjp8p0uDv-4nBZl-opa0Wf-gi-FfeKrA9MB9RAM6eiG-JHZIrqbAnEb7qYgusS5_MMkjK-mwK_vjaTgqZM1QN4SU58vaCfveLHM8oMEM0cQ5A0m4qRsiDkgoU_93zdbkEqasMNhl3cn5N21-Px8fpADOU7diB7ySpf34JefND5I2PqzrXXc3v74SGsa2k-YBsDoCaKS6Wdj0od2rUViV_L5KYzBZmQWPxqG6ZbCu0z5ff1mMpTc3rUMkHZHDYJeLURWs-HVQQy1f3jByMouzR0_v5F_hcyOLVvywhrgPICLPbiTwzmzh2ytzXTOIgIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051184,
          "updated": 1777051184,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/sample-import-key-1777051181121?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/sample-import-key-1777051181121",
        "deletedDate": 1777051184,
        "scheduledPurgeDate": 1777655984,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/sample-import-key-1777051181121/3a81ac4f27fc4b619621aea0d47a9f75",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ufWECn7IWf_omgFi38AX7x-Vjp8p0uDv-4nBZl-opa0Wf-gi-FfeKrA9MB9RAM6eiG-JHZIrqbAnEb7qYgusS5_MMkjK-mwK_vjaTgqZM1QN4SU58vaCfveLHM8oMEM0cQ5A0m4qRsiDkgoU_93zdbkEqasMNhl3cn5N21-Px8fpADOU7diB7ySpf34JefND5I2PqzrXXc3v74SGsa2k-YBsDoCaKS6Wdj0od2rUViV_L5KYzBZmQWPxqG6ZbCu0z5ff1mMpTc3rUMkHZHDYJeLURWs-HVQQy1f3jByMouzR0_v5F_hcyOLVvywhrgPICLPbiTwzmzh2ytzXTOIgIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051184,
          "updated": 1777051184,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-import-key-1777051181121?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: sample-import-key-1777051181121"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/sample-import-key-1777051181121?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "importKeyName": "sample-import-key-1777051181121"
  }
}
