{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3174?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3174",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TvA7FOB__AFaDMGYjqtgrKUZL6hp5VLUK-ijwOaoDIs\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyMzE=;sn=73738231"
      },
      "ResponseBody": {
        "etag": "TvA7FOB__AFaDMGYjqtgrKUZL6hp5VLUK-ijwOaoDIs",
        "key": "name-3174",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3174-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgyMzE="
      },
      "RequestBody": {
        "key": "name-3174-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9DAbp3GL9fRxWwVaSSwtwNumU7VnvLG1ZTmcRFwu0rI\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyMzY=;sn=73738236"
      },
      "ResponseBody": {
        "etag": "9DAbp3GL9fRxWwVaSSwtwNumU7VnvLG1ZTmcRFwu0rI",
        "key": "name-3174-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3174*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgyMzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VuzYPKe-OVVdMsxATadeLyF3w7Wv2Wb8CKjjQPESSN0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyMzc=;sn=73738237"
      },
      "ResponseBody": {
        "etag": "VuzYPKe-OVVdMsxATadeLyF3w7Wv2Wb8CKjjQPESSN0",
        "items": [
          {
            "etag": "TvA7FOB__AFaDMGYjqtgrKUZL6hp5VLUK-ijwOaoDIs",
            "key": "name-3174",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:23:20+00:00"
          },
          {
            "etag": "9DAbp3GL9fRxWwVaSSwtwNumU7VnvLG1ZTmcRFwu0rI",
            "key": "name-3174-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:23:20+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3174-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgyNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FbpN5Hpz4JLplOQ6xs5Ns3ysyYHVc8rQrqNp4Oci374\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyNDU=;sn=73738245"
      },
      "ResponseBody": {
        "etag": "FbpN5Hpz4JLplOQ6xs5Ns3ysyYHVc8rQrqNp4Oci374",
        "key": "name-3174-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2837\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-16T11:23:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3174?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgyNTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fJC9G9j6YWO7ef9d6gI0stCge8l1SE1USwnV5pkZop0\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyNTE=;sn=73738251"
      },
      "ResponseBody": {
        "etag": "fJC9G9j6YWO7ef9d6gI0stCge8l1SE1USwnV5pkZop0",
        "key": "name-3174",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5706\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:20+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2837",
    "name-3": "name-3174",
    "name-5": "name-5706"
  }
}
