{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3920?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h9bz59OXkwgP63yQedjVd_zcDPaiZNeNNn7UzLpdmsI\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1MDI=;sn=73799502"
      },
      "ResponseBody": {
        "etag": "h9bz59OXkwgP63yQedjVd_zcDPaiZNeNNn7UzLpdmsI",
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3920-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk1MDI="
      },
      "RequestBody": {
        "key": "name-3920-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gUlwmgMlsPCStdodNLUJV_jCrqeXMufHQZ5quPLr9gA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1MDc=;sn=73799507"
      },
      "ResponseBody": {
        "etag": "gUlwmgMlsPCStdodNLUJV_jCrqeXMufHQZ5quPLr9gA",
        "key": "name-3920-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3920*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk1MDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"06uMQiv_qIQQf4xg7sFEn2qyGAeji2HkXYLx1PSnjbU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1MTM=;sn=73799513"
      },
      "ResponseBody": {
        "etag": "06uMQiv_qIQQf4xg7sFEn2qyGAeji2HkXYLx1PSnjbU",
        "items": [
          {
            "etag": "h9bz59OXkwgP63yQedjVd_zcDPaiZNeNNn7UzLpdmsI",
            "key": "name-3920",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:37:54+00:00"
          },
          {
            "etag": "gUlwmgMlsPCStdodNLUJV_jCrqeXMufHQZ5quPLr9gA",
            "key": "name-3920-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:37:54+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3920-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk1MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KjFrM3Vvv-a27aOw96gG4zuHVgD-iBwMrsnP3a9QZ-o\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1MjA=;sn=73799520"
      },
      "ResponseBody": {
        "etag": "KjFrM3Vvv-a27aOw96gG4zuHVgD-iBwMrsnP3a9QZ-o",
        "key": "name-3920-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2342\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-18T02:37:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3920?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk1MzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G5zT4f63g5C8Ja794HKuXlMardXoo6RpjqrwJrf3k0U\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk1Mzc=;sn=73799537"
      },
      "ResponseBody": {
        "etag": "G5zT4f63g5C8Ja794HKuXlMardXoo6RpjqrwJrf3k0U",
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5355\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:55+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2342",
    "name-3": "name-3920",
    "name-5": "name-5355"
  }
}
