{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3687?api-version=2026-04-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z3ATbcEXiX7KYyu9-8-wh0lht6P2R8G6flUopTJQbrE\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY4Ng==;sn=53125686",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "z3ATbcEXiX7KYyu9-8-wh0lht6P2R8G6flUopTJQbrE",
        "key": "name-3687",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3687-2?api-version=2026-04-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY4Ng=="
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3tF11DVqM1r9OM7P4bngXgbyu5v_e_OPrg1jMo1Sowg\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY4Nw==;sn=53125687",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "3tF11DVqM1r9OM7P4bngXgbyu5v_e_OPrg1jMo1Sowg",
        "key": "name-3687-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=name-3687*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY4Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"dyZ-CSr8zpzMK4qPKOpzvVnRnWZqoDkw1tIbUkljrWI\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY4Nw==;sn=53125687",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "dyZ-CSr8zpzMK4qPKOpzvVnRnWZqoDkw1tIbUkljrWI",
        "items": [
          {
            "etag": "z3ATbcEXiX7KYyu9-8-wh0lht6P2R8G6flUopTJQbrE",
            "key": "name-3687",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:31:47+00:00"
          },
          {
            "etag": "3tF11DVqM1r9OM7P4bngXgbyu5v_e_OPrg1jMo1Sowg",
            "key": "name-3687-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:31:47+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3687-2?api-version=2026-04-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY4OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UFBCpIcw5iRgGeJ3oOVBW3oHIQn373IeiQt-FOVdgh8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY5MA==;sn=53125690",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "UFBCpIcw5iRgGeJ3oOVBW3oHIQn373IeiQt-FOVdgh8",
        "key": "name-3687-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2799\"}",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-09T23:31:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3687?api-version=2026-04-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY5NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0ErfYjKxZ2JTYXBuRdGROceL48mahviDtICCQkW9t1A\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY5NQ==;sn=53125695",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "0ErfYjKxZ2JTYXBuRdGROceL48mahviDtICCQkW9t1A",
        "key": "name-3687",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5610\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:47+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2799",
    "name-3": "name-3687",
    "name-5": "name-5610"
  }
}
