{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3167?api-version=2026-04-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6D_FRtTe7fDre7191unxB8LxlyGCOskmcX33cjxWT_g\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYwMw==;sn=53365603",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:34 GMT"
      },
      "ResponseBody": {
        "etag": "6D_FRtTe7fDre7191unxB8LxlyGCOskmcX33cjxWT_g",
        "key": "name-3167",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3167-2?api-version=2026-04-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYwMw=="
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"klABetO0rx5ma1Ld5DSsSNvY9UxdQDeIN_UP747vvjU\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYwNA==;sn=53365604",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:34 GMT"
      },
      "ResponseBody": {
        "etag": "klABetO0rx5ma1Ld5DSsSNvY9UxdQDeIN_UP747vvjU",
        "key": "name-3167-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=name-3167*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYwNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"PeYKqFvhiSu5I3Uq3b2s6Cfp35vC6ayIwR-Wp7vLySM\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYwNA==;sn=53365604",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:35 GMT"
      },
      "ResponseBody": {
        "etag": "PeYKqFvhiSu5I3Uq3b2s6Cfp35vC6ayIwR-Wp7vLySM",
        "items": [
          {
            "etag": "6D_FRtTe7fDre7191unxB8LxlyGCOskmcX33cjxWT_g",
            "key": "name-3167",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:34+00:00"
          },
          {
            "etag": "klABetO0rx5ma1Ld5DSsSNvY9UxdQDeIN_UP747vvjU",
            "key": "name-3167-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:34+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3167-2?api-version=2026-04-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYwNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0t7RCTizJYE0ByCPhdcsMsvWeJp7hkibXQxqN0rkXAo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYwNw==;sn=53365607",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:35 GMT"
      },
      "ResponseBody": {
        "etag": "0t7RCTizJYE0ByCPhdcsMsvWeJp7hkibXQxqN0rkXAo",
        "key": "name-3167-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2208\"}",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-15T18:27:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3167?api-version=2026-04-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTYxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QLTmjUIHZLzVCu-2gOO4BN2myWvgEW1_hTKnO2yIjtQ\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTYxNA==;sn=53365614",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:35 GMT"
      },
      "ResponseBody": {
        "etag": "QLTmjUIHZLzVCu-2gOO4BN2myWvgEW1_hTKnO2yIjtQ",
        "key": "name-3167",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5203\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:35+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2208",
    "name-3": "name-3167",
    "name-5": "name-5203"
  }
}
