{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3163?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2191\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WxGy7Erzeder0RljVtFaM9Q8Q0qVLwaF5IVOpQFS_dc\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjEy;sn=65174612",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "WxGy7Erzeder0RljVtFaM9Q8Q0qVLwaF5IVOpQFS_dc",
        "key": "name-3163",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2191\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3163?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjEy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WxGy7Erzeder0RljVtFaM9Q8Q0qVLwaF5IVOpQFS_dc\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjEy;sn=65174612",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "WxGy7Erzeder0RljVtFaM9Q8Q0qVLwaF5IVOpQFS_dc",
        "key": "name-3163",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2191\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3163?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjE1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AOFTBIBeqzhVjD-jQEYTpePxwmHnF3p9LrbhxFh9a58\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjE2;sn=65174616",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "AOFTBIBeqzhVjD-jQEYTpePxwmHnF3p9LrbhxFh9a58",
        "key": "name-3163",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4730\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3163?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NjE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AOFTBIBeqzhVjD-jQEYTpePxwmHnF3p9LrbhxFh9a58\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjE5;sn=65174619",
        "x-ms-date": "Wed, 06 May 2026 17:08:58 GMT"
      },
      "ResponseBody": {
        "etag": "AOFTBIBeqzhVjD-jQEYTpePxwmHnF3p9LrbhxFh9a58",
        "key": "name-3163",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4730\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:58+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2191",
    "name-3": "name-3163",
    "name-4": "name-4730"
  }
}
