{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3231?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3231",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2229\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xcHlu0mL0yD2o1Alk2bstBoF6gy2jVpxT9N9RHeCfaQ\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MTY=;sn=75061416",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "xcHlu0mL0yD2o1Alk2bstBoF6gy2jVpxT9N9RHeCfaQ",
        "key": "name-3231",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2229\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3231?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xcHlu0mL0yD2o1Alk2bstBoF6gy2jVpxT9N9RHeCfaQ\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MTc=;sn=75061417",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "xcHlu0mL0yD2o1Alk2bstBoF6gy2jVpxT9N9RHeCfaQ",
        "key": "name-3231",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2229\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3231?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-3ZMcHAeKduy6cevyi6v1aOeg1iqub5jgKW0u4kyKnM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MjI=;sn=75061422",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "-3ZMcHAeKduy6cevyi6v1aOeg1iqub5jgKW0u4kyKnM",
        "key": "name-3231",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4472\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3231?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-3ZMcHAeKduy6cevyi6v1aOeg1iqub5jgKW0u4kyKnM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MjY=;sn=75061426",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "-3ZMcHAeKduy6cevyi6v1aOeg1iqub5jgKW0u4kyKnM",
        "key": "name-3231",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4472\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2229",
    "name-3": "name-3231",
    "name-4": "name-4472"
  }
}
