{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3384?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2565\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UNNBkdKeC5PFvQbQO7Fa7vYKlNpn-pS6vLNYY4-4ZaY\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc3NA==;sn=115287774",
        "x-ms-date": "Thu, 28 May 2026 21:21:53 GMT"
      },
      "ResponseBody": {
        "etag": "UNNBkdKeC5PFvQbQO7Fa7vYKlNpn-pS6vLNYY4-4ZaY",
        "key": "name-3384",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2565\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3384?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UNNBkdKeC5PFvQbQO7Fa7vYKlNpn-pS6vLNYY4-4ZaY\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc3Ng==;sn=115287776",
        "x-ms-date": "Thu, 28 May 2026 21:21:53 GMT"
      },
      "ResponseBody": {
        "etag": "UNNBkdKeC5PFvQbQO7Fa7vYKlNpn-pS6vLNYY4-4ZaY",
        "key": "name-3384",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2565\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3384?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rpe2pXe4UFDPd7h_JQCTL6oR02CLiWtbTpJDeaCr84Q\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc4Ng==;sn=115287786",
        "x-ms-date": "Thu, 28 May 2026 21:21:53 GMT"
      },
      "ResponseBody": {
        "etag": "Rpe2pXe4UFDPd7h_JQCTL6oR02CLiWtbTpJDeaCr84Q",
        "key": "name-3384",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4664\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3384?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc4Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rpe2pXe4UFDPd7h_JQCTL6oR02CLiWtbTpJDeaCr84Q\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc5MQ==;sn=115287791",
        "x-ms-date": "Thu, 28 May 2026 21:21:53 GMT"
      },
      "ResponseBody": {
        "etag": "Rpe2pXe4UFDPd7h_JQCTL6oR02CLiWtbTpJDeaCr84Q",
        "key": "name-3384",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4664\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:53+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2565",
    "name-3": "name-3384",
    "name-4": "name-4664"
  }
}
