{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3108?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7pkSfvwV0cSK1EGPV1P7PU78upjMsiRhKlbMuxJ2u08\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzkyOA==;sn=115287928",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "7pkSfvwV0cSK1EGPV1P7PU78upjMsiRhKlbMuxJ2u08",
        "key": "name-3108",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3108-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4NzkyOA=="
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"57mC-HvOT43xASTkQQxukB5xkf118PFDyHdlT46EdYM\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzkzMA==;sn=115287930",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "57mC-HvOT43xASTkQQxukB5xkf118PFDyHdlT46EdYM",
        "key": "name-3108-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3108*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4NzkzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"EAGMTHXUrlK25erncGgpgK9SH-nEO19QOobF0E31Mvs\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzkzMQ==;sn=115287931",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "EAGMTHXUrlK25erncGgpgK9SH-nEO19QOobF0E31Mvs",
        "items": [
          {
            "etag": "7pkSfvwV0cSK1EGPV1P7PU78upjMsiRhKlbMuxJ2u08",
            "key": "name-3108",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:21:56+00:00"
          },
          {
            "etag": "57mC-HvOT43xASTkQQxukB5xkf118PFDyHdlT46EdYM",
            "key": "name-3108-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:21:56+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3108-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4NzkzMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RaO69muRH7HNNdVlxwYEllKuTWxDYog9K-_d0f-5pbY\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzkzNg==;sn=115287936",
        "x-ms-date": "Thu, 28 May 2026 21:21:56 GMT"
      },
      "ResponseBody": {
        "etag": "RaO69muRH7HNNdVlxwYEllKuTWxDYog9K-_d0f-5pbY",
        "key": "name-3108-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2562\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2026-05-28T21:21:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3108?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzk0NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YlsXWqAbbw7QNi8g1rDrhr3HlcTQW5nvfdks0XY6MEA\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzk0Ng==;sn=115287946",
        "x-ms-date": "Thu, 28 May 2026 21:21:57 GMT"
      },
      "ResponseBody": {
        "etag": "YlsXWqAbbw7QNi8g1rDrhr3HlcTQW5nvfdks0XY6MEA",
        "key": "name-3108",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5883\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:56+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2562",
    "name-3": "name-3108",
    "name-5": "name-5883"
  }
}
