{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3763?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3763",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2390\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyODc=;sn=74013287"
      },
      "ResponseBody": {
        "etag": "yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE",
        "key": "name-3763",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2390\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3763?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMyODc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyODk=;sn=74013289"
      },
      "ResponseBody": {
        "etag": "yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE",
        "key": "name-3763",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2390\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3763?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMyODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyOTY=;sn=74013296"
      },
      "ResponseBody": {
        "etag": "yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE",
        "key": "name-3763",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2390\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3763?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMyOTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMyOTk=;sn=74013299"
      },
      "ResponseBody": {
        "etag": "yyhXrf1DgIMI_vx21bl-lcYnJNkmZOqpZ0hQHVC_6gE",
        "key": "name-3763",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2390\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:19+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2390",
    "name-3": "name-3763"
  }
}
