{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3610?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3610",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2944\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MzIEnnHmqywGQK5BsK8GtHINJQ6Dg-zxR6k9LRBv8nA\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzMTA=;sn=74013310"
      },
      "ResponseBody": {
        "etag": "MzIEnnHmqywGQK5BsK8GtHINJQ6Dg-zxR6k9LRBv8nA",
        "key": "name-3610",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2944\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3610?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzMTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MzIEnnHmqywGQK5BsK8GtHINJQ6Dg-zxR6k9LRBv8nA\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzMTQ=;sn=74013314"
      },
      "ResponseBody": {
        "etag": "MzIEnnHmqywGQK5BsK8GtHINJQ6Dg-zxR6k9LRBv8nA",
        "key": "name-3610",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2944\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3610?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzMjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L4j_Y782C1JmwG23yHzD4oI5Y1AUKbV0SypTg0yN20A\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzMzA=;sn=74013330"
      },
      "ResponseBody": {
        "etag": "L4j_Y782C1JmwG23yHzD4oI5Y1AUKbV0SypTg0yN20A",
        "key": "name-3610",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4365\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3610?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L4j_Y782C1JmwG23yHzD4oI5Y1AUKbV0SypTg0yN20A\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzMzM=;sn=74013333"
      },
      "ResponseBody": {
        "etag": "L4j_Y782C1JmwG23yHzD4oI5Y1AUKbV0SypTg0yN20A",
        "key": "name-3610",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4365\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:24+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2944",
    "name-3": "name-3610",
    "name-4": "name-4365"
  }
}
