{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-322?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-322",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5zKtR6TnXM3lMNPa6va04rHUpBE8OAL53Emkdnna1rU\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NDA=;sn=74772940",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "5zKtR6TnXM3lMNPa6va04rHUpBE8OAL53Emkdnna1rU",
        "key": "name-322",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-322-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5NDA="
      },
      "RequestBody": {
        "key": "name-322-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IUKxHA9ly5SpAwFomaBXO-2PtKMeKcigGqlUFYl3wOw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NTA=;sn=74772950",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "IUKxHA9ly5SpAwFomaBXO-2PtKMeKcigGqlUFYl3wOw",
        "key": "name-322-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-322*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"X3XqIcE33fzuVdu2KGw6uX4mM9F0XC-Es9Jh_n35krc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NTU=;sn=74772955",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "X3XqIcE33fzuVdu2KGw6uX4mM9F0XC-Es9Jh_n35krc",
        "items": [
          {
            "etag": "5zKtR6TnXM3lMNPa6va04rHUpBE8OAL53Emkdnna1rU",
            "key": "name-322",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:17:56+00:00"
          },
          {
            "etag": "IUKxHA9ly5SpAwFomaBXO-2PtKMeKcigGqlUFYl3wOw",
            "key": "name-322-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:17:56+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-322-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5NTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wl7_uW9gbR5k5OuEA42cZvHQjrvKHhkayAvWAHzV5rI\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NjY=;sn=74772966",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:57 GMT"
      },
      "ResponseBody": {
        "etag": "wl7_uW9gbR5k5OuEA42cZvHQjrvKHhkayAvWAHzV5rI",
        "key": "name-322-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2466\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-23T05:17:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-322?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5NzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9pZuzvZ1gUeQvG16UU7bmVV0yhs00NSawHGVhDX3lNQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5Nzg=;sn=74772978",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:57 GMT"
      },
      "ResponseBody": {
        "etag": "9pZuzvZ1gUeQvG16UU7bmVV0yhs00NSawHGVhDX3lNQ",
        "key": "name-322",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-577\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-322?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9pZuzvZ1gUeQvG16UU7bmVV0yhs00NSawHGVhDX3lNQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5ODE=;sn=74772981",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:58 GMT"
      },
      "ResponseBody": {
        "etag": "9pZuzvZ1gUeQvG16UU7bmVV0yhs00NSawHGVhDX3lNQ",
        "key": "name-322",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-577\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:57+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2466",
    "name-3": "name-322",
    "name-5": "name-577"
  }
}
