{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3308?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3308",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2801\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:55:09 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5ODg1;sn=2799885"
      },
      "ResponseBody": {
        "etag": "EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ",
        "key": "name-3308",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2801\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:55:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3308?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5ODg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:55:09 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5ODg1;sn=2799885"
      },
      "ResponseBody": {
        "etag": "EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ",
        "key": "name-3308",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2801\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:55:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3308?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5ODg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:55:09 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5ODg1;sn=2799885"
      },
      "ResponseBody": {
        "etag": "EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ",
        "key": "name-3308",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2801\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:55:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3308?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5ODg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:55:09 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5ODg2;sn=2799886"
      },
      "ResponseBody": {
        "etag": "EveN4KgVko7GT2fk_4m1VhZf2T89KZ3DRmhnmxrK_PQ",
        "key": "name-3308",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2801\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:55:09+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2801",
    "name-3": "name-3308"
  }
}
