{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/metrics:getBatch?starttime=2024-10-03T17%3A15%3A58.4068003Z&endtime=2024-10-03T21%3A15%3A58.4068003Z&metricnamespace=Microsoft.Storage%2FstorageAccounts&metricnames=Ingress&api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/o7lpcfqsymkfe"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "values": [
          {
            "starttime": "2024-10-03T17:15:58Z",
            "endtime": "2024-10-03T21:15:58Z",
            "interval": "PT1M",
            "value": [
              {
                "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/o7lpcfqsymkfe/providers/Microsoft.Insights/metrics/Ingress",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "Ingress",
                  "localizedValue": "Ingress"
                },
                "displayDescription": "The amount of ingress data, in bytes. This number includes ingress from an external client into Azure Storage as well as ingress within Azure.",
                "unit": "Bytes",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2024-10-03T17:15:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2024-10-03T17:16:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2024-10-03T17:17:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2024-10-03T17:18:00Z",
                        "total": 0
                      },
                      {
             [...]
