{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/metrics:getBatch?endtime=2024-12-03T14%3A47%3A32.4432208Z&metricnamespace=Microsoft.Storage%2FstorageAccounts&metricnames=Ingress&api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/o7lpcfqsymkfe"
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "additionalInfo": [
            {
              "type": "string",
              "info": "TraceId=87e111647df4533a0df26520c25a5be3"
            },
            {
              "type": "string",
              "info": "DateTime=2024-12-03T18:47:35.1547278Z"
            },
            {
              "type": "string",
              "info": "ExceptionType=Microsoft.Online.Metrics.MetricsMP.Utilities.RPRequestFormatException"
            }
          ],
          "code": "BadRequest",
          "message": "Detected invalid query parameters. Please specify a starttime for your time range."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-12-03T10:47:32.4442417-08:00",
    "LOCATION": "westus",
    "RandomSeed": "1764779657",
    "STORAGE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.Storage/storageAccounts/o7lpcfqsymkfe"
  }
}
