{
  "Entries": [
    {
      "RequestUri": "https://westus2.metrics.monitor.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/metrics:getBatch?metricnamespace=Microsoft.Storage%2FstorageAccounts&metricnames=Ingress&api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.Storage/storageAccounts/y7h7ygcyl75ls"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-rate-limit-limit": "30s",
        "x-rate-limit-remaining": "2999",
        "x-rate-limit-reset": "2025-08-06T19:02:11.7132697Z"
      },
      "ResponseBody": {
        "values": [
          {
            "starttime": "2025-08-06T18:01:41Z",
            "endtime": "2025-08-06T19:01:41Z",
            "interval": "PT1M",
            "value": [
              {
                "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.Storage/storageAccounts/y7h7ygcyl75ls/providers/Microsoft.Insights/metrics/Ingress",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "Ingress",
                  "localizedValue": "Ingress"
                },
                "displayDescription": "The amount of ingress data, in bytes. This number includes ingress from an external client into Azure Storage as well as ingress within Azure.",
                "unit": "Bytes",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2025-08-06T18:01:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2025-08-06T18:02:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2025-08-06T18:03:00Z",
                        "total": 0
                      },
                      {
                        "timeStamp": "2025-08-06T18:04:00Z",
                        "total": 0
                      },
                      {
             [...]
