{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('vhqjsuwg')/docs/search.index?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2026-03-20T15:16:53-05:00"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2026-03-20T15:16:53-05:00"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "2026-03-20T15:16:53.7-05:00"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "2026-03-20T15:16:53.7-05:00"
          },
          {
            "@search.action"[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('vhqjsuwg')/docs/search.post.search?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:16"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "value": "2026-03-20T15:16:53-05:00",
              "count": 2
            },
            {
              "value": "2026-03-20T15:16:53.7-05:00",
              "count": 2
            },
            {
              "value": "2026-03-20T15:16:53.76-05:00",
              "count": 2
            },
            {
              "value": "2026-03-20T15:16:53.769-05:00",
              "count": 2
            },
            {
              "value": "2026-03-20T15:16:53.7699-05:00",
              "count": 2
            },
            {
              "value": "2026-0[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('vhqjsuwg')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "250",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-20T15:16:53.7699812-05:00",
    "RandomSeed": "169436585",
    "SearchIndexName": "vhqjsuwg",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
