{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027yxusxnaq\u0027)/docs/search.index?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2023-10-31T16:48:03-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2023-10-31T16:48:03-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "2023-10-31T16:48:03.2-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "2023-10-31T16:48:03.2-07:00"
          },
          {
            "@search.action"[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027yxusxnaq\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:16"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "23",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 2,
              "value": "2023-10-31T16:48:03-07:00"
            },
            {
              "count": 2,
              "value": "2023-10-31T16:48:03.2-07:00"
            },
            {
              "count": 2,
              "value": "2023-10-31T16:48:03.26-07:00"
            },
            {
              "count": 2,
              "value": "2023-10-31T16:48:03.264-07:00"
            },
            {
              "count": 2,
              "value": "2023-10-31T16:48:03.2648-07:00"
       [...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027yxusxnaq\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "127",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-10-31T16:48:03.2648988-07:00",
    "RandomSeed": "563912695",
    "SearchIndexName": "yxusxnaq",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
