{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('tdgfxacc')/docs/search.index?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2026-02-25T17:57"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2026-02-25"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "17:57"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "79",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('tdgfxacc')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:3"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "107",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "value": "17:57",
              "count": 1
            },
            {
              "value": "2026-02-25",
              "count": 1
            },
            {
              "value": "2026-02-25T17:57",
              "count": 1
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "Key": "3",
            "Value": "17:57"
          },
          {
            "@search.score": 1.0,
            "Key": "2",
            "Value": "2026-02-25"
          },
          {
            "@search.score": 1.0,
            "Key": "1",
            "Value": "2026-02-25T17:57"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('tdgfxacc')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "167",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-25T17:57:18.2333873-06:00",
    "RandomSeed": "110134759",
    "SearchIndexName": "tdgfxacc",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
