{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('lyjsskso')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2024-07-15T20:27:23-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2024-07-15T20:27:23-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "2024-07-15T20:27:23.3-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "2024-07-15T20:27:23.3-07:00"
          },
          {
            "@search.action"[...]
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('lyjsskso')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:16"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 2,
              "value": "2024-07-15T20:27:23-07:00"
            },
            {
              "count": 2,
              "value": "2024-07-15T20:27:23.3-07:00"
            },
            {
              "count": 2,
              "value": "2024-07-15T20:27:23.32-07:00"
            },
            {
              "count": 2,
              "value": "2024-07-15T20:27:23.328-07:00"
            },
            {
              "count": 2,
              "value": "2024-07-15T20:27:23.3287-07:00"
       [...]
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('lyjsskso')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "136",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-15T20:27:23.3287582-07:00",
    "RandomSeed": "1883100798",
    "SearchIndexName": "lyjsskso",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
