{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('nwnfviiv')/docs/search.index?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2026-02-25T17:57:43-06:00"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2026-02-25T17:57:43-06:00"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "2026-02-25T17:57:43.3-06:00"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "2026-02-25T17:57:43.3-06:00"
          },
          {
            "@search.action"[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('nwnfviiv')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:16"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "value": "2026-02-25T17:57:43-06:00",
              "count": 2
            },
            {
              "value": "2026-02-25T17:57:43.3-06:00",
              "count": 2
            },
            {
              "value": "2026-02-25T17:57:43.37-06:00",
              "count": 2
            },
            {
              "value": "2026-02-25T17:57:43.377-06:00",
              "count": 2
            },
            {
              "value": "2026-02-25T17:57:43.3771-06:00",
              "count": 2
            },
            {
              "value": "2026-0[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('nwnfviiv')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "195",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-25T17:57:43.3771295-06:00",
    "RandomSeed": "509235509",
    "SearchIndexName": "nwnfviiv",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
