{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('foqvrpsl')/docs/search.index?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "9-6"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "9.6"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "9'6\""
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "9/6"
          },
          {
            "@search.action": "upload",
            "Key": "5",
            "Value": "9\\6"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "135",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "4",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "5",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('foqvrpsl')/docs/search.post.search?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "24",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "value": "9'6\"",
              "count": 1
            },
            {
              "value": "9-6",
              "count": 1
            },
            {
              "value": "9.6",
              "count": 1
            },
            {
              "value": "9/6",
              "count": 1
            },
            {
              "value": "9\\6",
              "count": 1
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "Key": "5",
            "Value": "9\\6"
          },
          {
            "@search.score": 1.0,
            "Key": "2",
            "Value": "9.6"
          },
          {
            "@search.score": 1.0,
            "Key": "3",
            "Value": "9'6\""
          },
          {
            "@search.score": 1.0,
            "Key": "4",
            "Value": "9/6"
          },
          {
            "@search.score": 1.0,
            "Key": "1",
            "Value": "9-6"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('foqvrpsl')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "2401",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "995640706",
    "SearchIndexName": "foqvrpsl",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
