{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('udomudyo')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2024-07-15T20:26"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2024-07-15"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "20:26"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "73",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('udomudyo')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:3"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "125",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 1,
              "value": "2024-07-15"
            },
            {
              "count": 1,
              "value": "2024-07-15T20:26"
            },
            {
              "count": 1,
              "value": "20:26"
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "Key": "3",
            "Value": "20:26"
          },
          {
            "@search.score": 1.0,
            "Key": "2",
            "Value": "2024-07-15"
          },
          {
            "@search.score": 1.0,
            "Key": "1",
            "Value": "2024-07-15T20:26"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('udomudyo')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "159",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-15T20:26:58.1230799-07:00",
    "RandomSeed": "1979929372",
    "SearchIndexName": "udomudyo",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
