{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('xqqvbvqx')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2024-09-23T15:18:55-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2024-09-23T15:18:55-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "2024-09-23T15:18:55.8-07:00"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "2024-09-23T15:18:55.8-07:00"
          },
          {
            "@search.action"[...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('xqqvbvqx')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:16"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 2,
              "value": "2024-09-23T15:18:55-07:00"
            },
            {
              "count": 2,
              "value": "2024-09-23T15:18:55.8-07:00"
            },
            {
              "count": 2,
              "value": "2024-09-23T15:18:55.80-07:00"
            },
            {
              "count": 2,
              "value": "2024-09-23T15:18:55.808-07:00"
            },
            {
              "count": 2,
              "value": "2024-09-23T15:18:55.8081-07:00"
       [...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('xqqvbvqx')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "178",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-09-23T15:18:55.8081139-07:00",
    "RandomSeed": "47638261",
    "SearchIndexName": "xqqvbvqx",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
