{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027dmlutwiu\u0027)/docs/search.index?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "9-6"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "9.6"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "9\u00276\u0022"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "9/6"
          },
          {
            "@search.action": "upload",
            "Key": "5",
            "Value": "9\\6"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "80",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "4",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "5",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027dmlutwiu\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 1,
              "value": "9\u00276\u0022"
            },
            {
              "count": 1,
              "value": "9-6"
            },
            {
              "count": 1,
              "value": "9.6"
            },
            {
              "count": 1,
              "value": "9/6"
            },
            {
              "count": 1,
              "value": "9\\6"
            }
          ]
        },
        "value": [
          {
            "@search.score": 1.0,
            "Key": "3",
            "Value": "9\u00276\u0022"
          },
          {
            "@search.score": 1.0,
            "Key": "2",
            "Value": "9.6"
          },
          {
            "@search.score": 1.0,
            "Key": "4",
            "Value": "9/6"
          },
          {
            "@search.score": 1.0,
            "Key": "5",
            "Value": "9\\6"
          },
          {
            "@search.score": 1.0,
            "Key": "1",
            "Value": "9-6"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027dmlutwiu\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "178",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "109976888",
    "SearchIndexName": "dmlutwiu",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
