{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes('lisbawff')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Key": "1",
            "Value": "2024-11-25T12:59:46-08:00"
          },
          {
            "@search.action": "upload",
            "Key": "2",
            "Value": "2024-11-25T12:59:46-08:00"
          },
          {
            "@search.action": "upload",
            "Key": "3",
            "Value": "2024-11-25T12:59:46.1-08:00"
          },
          {
            "@search.action": "upload",
            "Key": "4",
            "Value": "2024-11-25T12:59:46.1-08:00"
          },
          {
            "@search.action"[...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes('lisbawff')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "facets": [
          "Value,count:16"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.facets": {
          "Value": [
            {
              "count": 2,
              "value": "2024-11-25T12:59:46-08:00"
            },
            {
              "count": 2,
              "value": "2024-11-25T12:59:46.1-08:00"
            },
            {
              "count": 2,
              "value": "2024-11-25T12:59:46.18-08:00"
            },
            {
              "count": 2,
              "value": "2024-11-25T12:59:46.180-08:00"
            },
            {
              "count": 2,
              "value": "2024-11-25T12:59:46.1804-08:00"
       [...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes('lisbawff')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "149",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-11-25T12:59:46.1804831-08:00",
    "RandomSeed": "1835402542",
    "SearchIndexName": "lisbawff",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
