{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027kcttgldf\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "rating lt 4",
        "search": "cheapest hotel in town"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 1.8862526,
            "hotelId": "2",
            "hotelName": "Roach Motel",
            "description": "Cheapest hotel in town. Infact, a motel.",
            "descriptionFr": "H\u00F4tel le moins cher en ville. Infact, un motel.",
            "descriptionVector": [
              -0.030168112,
              -0.0051525193,
              0.0054855207,
              0.0024885093,
              0.007146027,
              -0.011835044,
              0.016722063,
              0.03483013,
              -0.002125133,
              -0.013671051,
              -0.009477035,
              0.021996083,
              0.01067404,
              0.010953041,
              0.027396103,
              -0.0065565244,
              -0.0267481,
              -0.0025515095,
 [...]
