{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('gqymrasl')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "11",
            "rating": 5
          },
          {
            "@search.action": "upload",
            "hotelId": "12",
            "rating": 3
          },
          {
            "@search.action": "upload",
            "hotelId": "13",
            "rating": 3
          },
          {
            "@search.action": "upload",
            "hotelId": "14",
            "rating": 1
          },
          {
            "@search.action": "upload",
            "hotelId": "15",
            "rating": 5
          },
          {
[...]
[...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('gqymrasl')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "orderby": "hotelId asc",
        "search": "*",
        "select": "hotelId",
        "top": 3000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "94",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.nextPageParameters": {
          "orderby": "hotelId asc",
          "search": "*",
          "select": "hotelId",
          "top": 2000,
          "skip": 1000
        },
        "value": [
          {
            "@search.score": 1.0,
            "hotelId": "1"
          },
          {
            "@search.score": 1.0,
            "hotelId": "10"
          },
          {
            "@search.score": 1.0,
            "hotelId": "100"
          },
          {
            "@search.score": 1.0,
            "hotelId": "1000"
          },
          {
            "@search.score": 1.0,
            "hotelId": "1001"
          },
          {
            "[...]
[...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('gqymrasl')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "165",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1526913110",
    "SearchIndexName": "gqymrasl",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
