{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('pbvskleu')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "full",
        "search": "/.*/.*/"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "145"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "Failed to parse query string at line 1, column 8. See https://aka.ms/azure-search-full-query for supported syntax.",
          "details": [
            {
              "code": "InvalidSearchSyntax",
              "message": "Failed to parse query string at line 1, column 8. See https://aka.ms/azure-search-full-query for supported syntax."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1682493496",
    "SearchIndexName": "pbvskleu",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
