{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027faurkoaf\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "full",
        "search": "hotelName:/.*oach.*\\/?/",
        "select": "hotelName,rating"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "38",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 1.0,
            "hotelName": "Roach Motel",
            "rating": 1
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "529634741",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
