{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('pbvskleu')/docs/search.post.search?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "fancy luxury secret",
        "searchFields": "category,hotelName",
        "select": "hotelName,rating,address/city,rooms/type"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "8",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "@search.score": 1.3150573,
            "hotelName": "Fancy Stay",
            "rating": 5,
            "address": null,
            "rooms": []
          },
          {
            "@search.score": 0.49191087,
            "hotelName": "Secret Point Motel",
            "rating": 4,
            "address": {
              "city": "New York"
            },
            "rooms": [
              {
                "type": "Budget Room"
              },
              {
                "type": "Budget Room"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "778022030",
    "SearchIndexName": "pbvskleu",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
