{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('wprsfulr')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": "This is not a valid filter.",
        "search": "*"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "12"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Invalid expression: Syntax error at position 7 in 'This is not a valid filter.'.\r\nParameter name: $filter"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1889203161",
    "SearchIndexName": "wprsfulr",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
