{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-documentAnalyzer?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "analyzerId": "prebuilt-documentAnalyzer",
        "description": "Extract various content and layout elements such as words, paragraphs, and tables from documents.",
        "createdAt": "2025-05-01T00:00:00Z",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "disableContentFiltering": false,
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": false
        },
        "fieldSchema": {
          "name": "Sanitized",
          "fields": {
            "Summary": {
              "type": "string",
              "description": "A one-paragraph description of the document."
            }
          }
        },
        "warnings": [],
        "status": "ready",
        "processingLocation": "geography",
        "mode": "standard"
      }
    }
  ],
  "Variables": {}
}
