{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "value": "SECRET_VALUE",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE",
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-/b9de07530eb547ddbca8f8bbb5d39ebf",
        "attributes": {
          "enabled": true,
          "created": 1731602964,
          "updated": 1731602964,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-/?api-version=7.5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "attributes": {
          "exp": 32503680000000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-/b9de07530eb547ddbca8f8bbb5d39ebf",
        "attributes": {
          "enabled": true,
          "exp": 32503680000000,
          "created": 1731602964,
          "updated": 1731602964,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE",
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-canupdateasecret-/b9de07530eb547ddbca8f8bbb5d39ebf",
        "attributes": {
          "enabled": true,
          "exp": 32503680000000,
          "created": 1731602964,
          "updated": 1731602964,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
