{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cantgetadisabledsecret-?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cantgetadisabledsecret-?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "SECRET_VALUE",
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE",
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cantgetadisabledsecret-/d571491a633d45bf8663d1c103d7617f",
        "attributes": {
          "enabled": false,
          "created": 1780550912,
          "updated": 1780550912,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cantgetadisabledsecret-/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    }
  ],
  "Variables": {}
}
