{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cangetadeletedsecret-?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cangetadeletedsecret-?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cangetadeletedsecret-/e0c03b8302d344f4a40719b83a873824",
        "value": "RSA",
        "attributes": {
          "enabled": true,
          "created": 1739463523,
          "updated": 1739463523,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cangetadeletedsecret-?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-cangetadeletedsecret-",
        "deletedDate": 1739463523,
        "scheduledPurgeDate": 1740068323,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cangetadeletedsecret-/e0c03b8302d344f4a40719b83a873824",
        "attributes": {
          "enabled": true,
          "created": 1739463523,
          "updated": 1739463523,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-cangetadeletedsecret-?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-cangetadeletedsecret-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-cangetadeletedsecret-?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-cangetadeletedsecret-",
        "deletedDate": 1739463523,
        "scheduledPurgeDate": 1740068323,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cangetadeletedsecret-/e0c03b8302d344f4a40719b83a873824",
        "attributes": {
          "enabled": true,
          "created": 1739463523,
          "updated": 1739463523,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
