{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "Sanitized",
            "repeatabilityRequestId": "00000000-0000-0000-0000-000000000000",
            "repeatabilityFirstSent": "Fri, 30 Jan 2026 01:02:04 GMT"
          }
        ],
        "message": "Test SMS from Azure MCP Live Test",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "live-test"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2021-03-07, 2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview, 2025-05-29-preview, 2025-08-01-preview, 2025-08-30-preview, 2026-01-23",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "471ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "Sanitized",
            "messageId": "1cbf6f2e-364d-4568-ae6f-bf1c4d366835",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {}
}