{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/3b4cb143eeb445ebaa21f66fc9e59785",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q6ySYlcbmFrKcydJ6jHc0ErmEbjRBlSQZYxYmJpAaz4L0HDb8IPBM3a08h3pM0EH3R9kWPx70WjYEH-my_BVMniKdSH0-6Q9my2h-n1qKsaLJvMWpvZyoNP6fyXkxzc5kFdgzqb50YZypEheGihrpF50GnhAU8Zm0BaD2txbv7cvYsnhqRfb8TdFEyCTeXScyyZ4gXblDGJGJBwK6_5VXUaazdLydSSyht1UMJOUBM3CifffQrHwPKyFd-Q1QCLgopPVDnqU8QOEU25KdN4JOUdzUPvIFE3MpXK92i-1aRUrENQpfQMQRCwSds37UCWZ8VntL4_GHLv4aFS0hQKN1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137746,
          "updated": 1777137746,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--0",
        "deletedDate": 1777137747,
        "scheduledPurgeDate": 1777742547,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/3b4cb143eeb445ebaa21f66fc9e59785",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q6ySYlcbmFrKcydJ6jHc0ErmEbjRBlSQZYxYmJpAaz4L0HDb8IPBM3a08h3pM0EH3R9kWPx70WjYEH-my_BVMniKdSH0-6Q9my2h-n1qKsaLJvMWpvZyoNP6fyXkxzc5kFdgzqb50YZypEheGihrpF50GnhAU8Zm0BaD2txbv7cvYsnhqRfb8TdFEyCTeXScyyZ4gXblDGJGJBwK6_5VXUaazdLydSSyht1UMJOUBM3CifffQrHwPKyFd-Q1QCLgopPVDnqU8QOEU25KdN4JOUdzUPvIFE3MpXK92i-1aRUrENQpfQMQRCwSds37UCWZ8VntL4_GHLv4aFS0hQKN1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137746,
          "updated": 1777137746,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--0?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-listdeletedkeyspaged--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=7.6&$skiptoken=Sanitized&maxresults=1"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6&$skiptoken=Sanitized&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=7.6&$skiptoken=Sanitized&maxresults=1"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--1?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
