{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/190c0556442a47f19462e27652adab55",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "_iY7LpzBA2mxjJcQKHUTNMGyc2nPZoNwe6ethH7UOJwS763zuVirGSHNjy6qfb_sX-xjqioSsOuycDHhxjdCg_t1s0z3OPswAV9WJjHZLkyskwI0qwS0ITlo2le8dt_4E-rz2rjCH_F28f1tTp7WHQB0ZbvYD7hQW4tn7rTBlAuDPmIKkraEBj0zBf6ViP0iimhuMlUfTpMANPHh-tIp8xvwgHaKlzbh5j_uF7_8Urm56Ar6T_I08zuOqd3e63fkBa6vEhZbLK28gQ7MbRdwDhE88sCIx8233FXD0cqIJ-Q96GPUuWoAkwFiGy4jGySBkx2CrPu7USdAdFMASX0C0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132282,
          "updated": 1782132282,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/versions?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/190c0556442a47f19462e27652adab55",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1782132282,
              "updated": 1782132282,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/32f140c404f844eb980dc2771ffb3816",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1782132282,
              "updated": 1782132282,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-",
        "deletedDate": 1782132282,
        "scheduledPurgeDate": 1782737082,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/32f140c404f844eb980dc2771ffb3816",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wjtJQsRLI-buI5dV-N2zwnDkdToICUao9G-4HQyIFmSZpJ9rGlz2Y3axkw4l8yUA0HtnCPEfbTg1PgL9uTest0DH1gdHBBnhR0YUo2gopGXQ8lD-eX_udiNT4KwufizAJh72rgbGJOubk28iEfU69IrZdVSY5cat1MbxbMu1aovUW59owuQ-QufKdPodexoo9nMdxO-lEYzlraRvuXaSEgux7hJYdIx4-LXxjMVG42oqp3F5K8fzNv1CYAhGjzGB4dJTd9sFrnQQpk6cn-EquEayF9F8d_IdxONhTN0F8xe-xwt55cSwLtIw4gMQCTZEOIZsAYCz9cp7j_i0GjaM4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132282,
          "updated": 1782132282,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
