{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/3e4be57b15aa4c009dae3c3dabd95ef2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xPaPTDl7yL61S0UCEe2fbRtSousYVtDYh-_h25GnFMDgzeoFe5eFUqfDxu3SrfY-5--PZE51FbSPcg025l5w154CFINiRUyXPpwOxDkLbxfb0T0O0PzWLnyhlONN_qvvM6dLiiAXkjSKjEsnH8d6HYtlhn2iPQ1ac0f-xz4cX8eXdiY6t2V24cNiiYejMe7Gi1iGKQUMZhCV5_qroZDiNklKVnlaqiCsh8GkEEDdCFG02ZAUWx-tvu77CeMS4rE89cKxodqdq9K6VCQe2agfRc3VDcerh4xQNddSOKrdp3Wko9Am1Tkuiuxy9uFXp7sQAcPFZJ6m3df3uc6JYAoscQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604675,
          "updated": 1778604675,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-40166404116035515",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1778604669,
              "updated": 1778604669,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
           [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0",
        "deletedDate": 1778604676,
        "scheduledPurgeDate": 1779209476,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/3e4be57b15aa4c009dae3c3dabd95ef2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xPaPTDl7yL61S0UCEe2fbRtSousYVtDYh-_h25GnFMDgzeoFe5eFUqfDxu3SrfY-5--PZE51FbSPcg025l5w154CFINiRUyXPpwOxDkLbxfb0T0O0PzWLnyhlONN_qvvM6dLiiAXkjSKjEsnH8d6HYtlhn2iPQ1ac0f-xz4cX8eXdiY6t2V24cNiiYejMe7Gi1iGKQUMZhCV5_qroZDiNklKVnlaqiCsh8GkEEDdCFG02ZAUWx-tvu77CeMS4rE89cKxodqdq9K6VCQe2agfRc3VDcerh4xQNddSOKrdp3Wko9Am1Tkuiuxy9uFXp7sQAcPFZJ6m3df3uc6JYAoscQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604675,
          "updated": 1778604675,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangetseveralinsertedkeys--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--1?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
