{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/a7a69ffac3654730990701a3aa75b156",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Z6c-_oTXqmd4OQc71UPhMTBs9iLEAqp68P0jKPesfHtsfaJvNMVNgGOqHjz8V0Q-i61jgwunixU6_6RG16TU-I-l-RGJU-hzx542xeyZnkw_jAGxc_VSwI_NmL-piOAB5Rb73m5rJm3ve0sORc7moc8aMb7I2KbnrzrGnNG5OuzLIpDtmarivoDk31fkzU6kgnIvF6VCCdci6UvS4TzfRmnP6RKGsC5RsCnvKI7_3404kaWV7O7G584_P0A1GmEAOG0s9Mrh2o6YX8EcQHPI-ggxEEfXCt6cnzKL5-OGwvSv5kBnKOIrOk1dvVzCI0nNRgDKnvtngFbZYx8KCRLhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207774,
          "updated": 1782207774,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-007827123117666757",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1782207726,
              "updated": 1782207726,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
          [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0",
        "deletedDate": 1782207775,
        "scheduledPurgeDate": 1782812575,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/a7a69ffac3654730990701a3aa75b156",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Z6c-_oTXqmd4OQc71UPhMTBs9iLEAqp68P0jKPesfHtsfaJvNMVNgGOqHjz8V0Q-i61jgwunixU6_6RG16TU-I-l-RGJU-hzx542xeyZnkw_jAGxc_VSwI_NmL-piOAB5Rb73m5rJm3ve0sORc7moc8aMb7I2KbnrzrGnNG5OuzLIpDtmarivoDk31fkzU6kgnIvF6VCCdci6UvS4TzfRmnP6RKGsC5RsCnvKI7_3404kaWV7O7G584_P0A1GmEAOG0s9Mrh2o6YX8EcQHPI-ggxEEfXCt6cnzKL5-OGwvSv5kBnKOIrOk1dvVzCI0nNRgDKnvtngFbZYx8KCRLhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207774,
          "updated": 1782207774,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangetseveralinsertedkeys--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--1?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
