{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreCertificateName-canrecoveradeletedcertificate-010138110456401339",
            "attributes": {
              "enabled": true,
              "nbf": 1737127121,
              "exp": 1768663721,
              "created": 1737127721,
              "updated": 1737127721,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform": "0"
            },
            "managed": true
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/backupRestoreCertificateName-canrecoveradeletedcertificate-43236322344451916",
            "attributes": {
              "enabled": true,
              "nbf": 1737134971,
              "exp": 1768671571,
              "created": 1737135571,
              "updated": 1737135571,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "hsmPlatform[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/backupRestoreCertificateName-canrecoveradeletedcertificate-010138110456401339?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-canabortcreatingacertificate-002985429060518019?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-cancreateacertificate-48755509950232234?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-21727560803495183?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-candisableacertificate-48845464541627925?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-candisableacertificateversion-3231528993468311?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-cangetacertificate-04572066880595238?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-cangetacertificatessecretinPEMformat-3753025822213134?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-cangetacertificatessecretinPKCS12format-8766153730052682?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-29284298109235496?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-canupdateacertificatespolicy-8385259508312193?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-canupdatethetagsofacertificate-5692845156723363?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.5&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDCertificateName-canupdate[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDCertificateName-supportstracing-152840954025522?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/crudcertoperation-196?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listCertificateName-canlistcertificates-300990836564061450?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listCertificateName-canlistcertificatesbypage-472723622314210830?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listCertificateName-canretrieveallversionsofacertificate-35799379504464657?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroCreateCertificateName-canresumefromastoppedpoller-08852605754923393?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroCreateCertificateName-canwaituntilacertificateiscreated-34349468776610315?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroOperationCertificateName-canresumefromastoppedpoller-02508985152791343?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroOperationCertificateName-canwaituntilacertificateiscreatedbygettingthepollerfromgetCertificateOperation-5685880760384232?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/mergeCertificateName-canimportacertificatefromacertificatesbase64secretvalue-188442522168939420?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/mergeCertificateName-canimportacertificatefromacertificatesnonbase64secretvalue-112006003446091240?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/mergeCertificateName-canmergeaselfsignedcertificate-3259883609939054?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this Key, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "KeyManagedByKeyVault"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=7.5&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=7.5&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
