{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/d43a4c81226b4759837dbd7a550f82f8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "k9ows1oIQ1KVzu9PZkvRoYgofFB9a3Nx6kbBLYtLPpKqReDzxez7jScJdTuc63k-D9GAw4HDXyTrBuZJ98GzcDJMWMxSUEP6h_g83995_apXWT3VOCwqefNjeVC1woWjQHJ_qkVMaNL5Jwh0trofUu2JPsx8Zfx6OZvJRU4U_dPD7_sFeHX2Z5uzZ0r4fR23jHCTNxyWmFRO2tD71fURk-Hu9XE5hw2uxoxmeuvh0C85GKPjWHJZqjMNBCcrlYJGaiF4IkOYcIGpirhuc2E4URAn2hVo0iLFCFJvxvjARYdunfzCSZh7BK3-zzMrV4DQYP5ajioHCcx03yjkc0zPmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1737486407,
          "updated": 1737486407,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=7.5&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/d43a4c81226b4759837dbd7a550f82f8",
            "attributes": {
              "enabled": true,
              "created": 1737486407,
              "updated": 1737486407,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": "https://keyvault_name.vault.azure.net:443/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=7.5&$skiptoken=Sanitized&maxresults=1"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=7.5&$skiptoken=Sanitized&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/f87aab5c2aa642838441c7aafde3ad13",
            "attributes": {
              "enabled": true,
              "created": 1737486407,
              "updated": 1737486407,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-",
        "deletedDate": 1737486407,
        "scheduledPurgeDate": 1738091207,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/f87aab5c2aa642838441c7aafde3ad13",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vPgiHMdG38V9y6moW3Y_Q8PcJ-B7KTQuA-lSvbocQJ0LZedI-XCBj-tQx6Z-hvVFLm0hytraKOHxCFDB4AG6gzWYcVq5Ii6GspF8cUsZT1GmrRE-imOncTOxQMER6e9GfmiqYe-w1EfDOTPGoIX4nj8U5bcqQIS8ki_SnfShS1pDbZWObUCgXR29tJKKEjyU9su6Rm99_nmt_ctnEhzPnBmJksiXKgE4XW8h19RXH_X2kEIe73DYrCMGkX-wt8USfUj1lKyJrtfBTY3T5u5iP7u278-PZ1j26tookEpxpyg7Jw1eo5O305MVpeD8ZBf0pRsKJa4EoQTuEzz7WfEeNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1737486407,
          "updated": 1737486407,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangettheversionsofakeypaged-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
