{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/c49049e3053647c29c6a75a0f097e13a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3pooD-tYMAwYa-B0JPEM4l7d6SE0T1giNAowrP4drhOvSKpoUHAZQg1caVXonSsb_DZ_iPx1aLvc7fldWsu8CHw7pCtu7P88-4DLZelBRNjwPYFl93JhlgILbv7jLJCkaDY4Pvg6Vyzh9j1wooo2EiBzy7cOp40ICFE6jVa-gynee2rbt2Z8Xoa6Frm5rzQ6FthAEw0Eqphq-DTBDF_pfh0ynKnf-jxqY3u-1QgauOarF4gIi6nXP9XFvThR45CkICWqZ_hqXFHnC0l5vJjhE3TEys2I7wbpF2YelO4CTNph2qiEdPBK0pjUAc-f9LYAnxwrkRbSZkXN8Mg-KEQLHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587710,
          "updated": 1778587710,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=7.6&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/8b5bfd6d30494bdb8c22784db5d94f4a",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1778587711,
              "updated": 1778587711,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": "https://keyvault_name.vault.azure.net:443/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=7.6&$skiptoken=Sanitized&maxresults=1"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=7.6&$skiptoken=Sanitized&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/c49049e3053647c29c6a75a0f097e13a",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1778587710,
              "updated": 1778587710,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-",
        "deletedDate": 1778587712,
        "scheduledPurgeDate": 1779192512,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/8b5bfd6d30494bdb8c22784db5d94f4a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0CKhu_Qy1MrC0DDoxH4A3PMlMziPiEOddFXNMTDI0w_E8MB8sYijmbkRNPVdDWB7pqtUntACgFMQc6VVUM-wANVDrN_E4gJXH7Grix0bUSkrIPDJ8Xe5OBQkB4sAiHdvxPG4k6XOsQ0YFA6lqMTaT-XPZWitJPUHzchJp0Ce1pU1qrvlTnfo5Kwt1lxIqRfzVKTnUb53g77tDveizfbBHIROuNQaRr16ud3_YDCimEaXz4Gz6s_GAqms0J4ulB93lYU_sxEbGKtfxKHyyzW_TuHgnodVMWRa5GpmPvfCXeesK1DY37ND4J8qOnQ_D4kM81JHIbHzXSddPniozB8A3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587711,
          "updated": 1778587711,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangettheversionsofakeypaged-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
