{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeys--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeys--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeys--0/14689062a87449169f13817455f44819",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ugZ9y8FR2w3xO_px0MZhOuj9PiHQyRB0q1zIkWYqvUpUIEPTPfmRT8cxa7N6XEXMIC4YDP-Am1cglMVZ_NJjOYL8S8kZrMmr_GQf7-39KbzL1BwEUSU43Gs2KxmzOTh8-SO1jUqcegc07hWtFXYK-J6-0PKh11FRDMkp_kbXxd_-eJKfKt33Zr9yEhPapFKadMLVyijOrHOCuoDmmC2oYZxokKcBsDQNV0vslDBBtSAlmO9_29XVH5FulRfsaWNjgbR04lt3R1QBP0nGY5BKzwHy2mj70Kli1vsRrQAQX1IrCDeXnDVyAeq9PUN44AH3i111ghyd0Bamgb72yZIneQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137730,
          "updated": 1777137730,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeys--0?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-listdeletedkeys--0",
        "deletedDate": 1777137731,
        "scheduledPurgeDate": 1777742531,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeys--0/14689062a87449169f13817455f44819",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ugZ9y8FR2w3xO_px0MZhOuj9PiHQyRB0q1zIkWYqvUpUIEPTPfmRT8cxa7N6XEXMIC4YDP-Am1cglMVZ_NJjOYL8S8kZrMmr_GQf7-39KbzL1BwEUSU43Gs2KxmzOTh8-SO1jUqcegc07hWtFXYK-J6-0PKh11FRDMkp_kbXxd_-eJKfKt33Zr9yEhPapFKadMLVyijOrHOCuoDmmC2oYZxokKcBsDQNV0vslDBBtSAlmO9_29XVH5FulRfsaWNjgbR04lt3R1QBP0nGY5BKzwHy2mj70Kli1vsRrQAQX1IrCDeXnDVyAeq9PUN44AH3i111ghyd0Bamgb72yZIneQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137730,
          "updated": 1777137730,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-listdeletedkeys--0?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-listdeletedkeys--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=7.6&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=7.6&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-listdeletedkeys--1?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
