{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-10611662247977627",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1782133482,
              "updated": 1782133482,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertieswithoutspecifyingaversion-15980464588746846",
            "attributes": {
              "enabled": false,
              "key_size": 2048,
              "created": 1782133478,
              "updated": 1782133478,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
        [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-10611662247977627?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-10611662247977627",
        "deletedDate": 1782207637,
        "scheduledPurgeDate": 1782812437,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-10611662247977627/fd5d0eb30ebc4571b0c20a82e3813902",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3j0GNsSbIzIKXow_9ERxr5Jx9_pTsiJm4Vv1AdJsDvIT6VK2ZC4XsdGcVpYt7cgTReHrRFo8MU7nmyML3tfClLo7a7mTWrcRR20IIMOuhrpgnmDBPyRBrgpLXc-Q2Vxzy3O5gGV3-cCWFf5eJWoQ4syGYiAMX3vNn8FeA6UMlS_w8EE49GXF3ANvucUg5LezUtOvFbJyshuaNHM-Iju_wccFGlKEmaPImA13zO8hrqe4yONfqY6QKr0yHAxtvuvS832WOgfSM_F7CUUbNIz5myCUBRoBf2MPa-pupADAkj1w4gk35C784lpcvXJkLvqwWC0d-XtvrFCiFC6E6ddLmQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782133482,
          "updated": 1782133482,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-10611662247977627?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-canupdateakeyspropertiesforaspecificversion-10611662247977627"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertieswithoutspecifyingaversion-15980464588746846?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.v[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canupdateakeyspropertieswithoutspecifyingaversion-15980464588746846?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-canupdateakeyspropertieswithoutspecifyingaversion-15980464588746846"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdatekey-5472954880332273?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canupdatekey-5472954880332273?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-canupdatekey-5472954880332273"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/exportkey-614?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/exportkey-614",
        "deletedDate": [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/exportkey-614?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: exportkey-614"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/immutablerelease-546?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/immutablerelease-546",
        "[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/immutablerelease-546?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: immutablerelease-546"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/importKeyName-canimportakey-050090546218519494?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/import[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/importKeyName-canimportakey-050090546218519494?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: importKeyName-canimportakey-050090546218519494"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyclienttracing-582?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/keyclienttracing-582",
        "[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/keyclienttracing-582?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: keyclienttracing-582"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-560?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/keyrotate-560",
        "deletedDate": [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/keyrotate-560?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: keyrotate-560"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotationpolicy-634?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/keyrotationpolicy-634",
       [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/keyrotationpolicy-634?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: keyrotationpolicy-634"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotationtracing-242?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/keyrotationtracing-242",
     [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/keyrotationtracing-242?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: keyrotationtracing-242"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-040925058623327404?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/localCryptoKeyName-beforeeachhook-040925058623327404?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: localCryptoKeyName-beforeeachhook-040925058623327404"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/rotationpolicytracing-298?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/rotationpolicytracing-298",[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/rotationpolicytracing-298?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: rotationpolicytracing-298"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-43359409283722594",
            "deletedDate": 1782207740,
            "scheduledPurgeDate": 1782812540,
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-43359409283722594",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1782207739,
              "updated": 1782207739,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": "https://keyvault_name.vault.azure.net:443/deletedkeys?api-version=2026-01-01-preview&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-43359409283722594?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=2026-01-01-preview&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-HSM-34537",
            "deletedDate": 1782207738,
            "scheduledPurgeDate": 1782812538,
            "kid": "https://keyvault_name.vault.azure.net/keys/RSA-HSM-34537",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1782207734,
              "updated": 1782207734,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "2"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-HSM-34537?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
