{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/f8ef7b8a56584e6d97a0bc6873378b49",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qKpcQsXo8BOgmA0qC3Hdef8WOfxxDN1iRuoQnOhpIxLu7QRTXsvYwUsGO8Fmf_H7Xdd8n6je0GEX6yx4tfXfbVLJ2u6KXxivrX7jeME5Lift3yRglUBo_927nMWfrjCoXD-G5RONoIYSovYjiWedU9l4tNirPtJWTC5A_MFJwXgwYfpEjzlLBpA90rHSl5BRq-XHM2Nfe3K7Rj7amGXekrMU5P4s5pgemViGObsoU0-A45Cr7ZTP8A8mOP4prnaGV5N5g_bOSpqbsUVqV1jpJrk4dEeGiH4KhSS7YxOXapEKxT-ReJmTDmPxHdCe1N5OWV-FnFYuwpUdKC5GaRqfzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604659,
          "updated": 1778604659,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=2025-07-01&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/3445654a1e914d90a105180badc52d50",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1778604659,
              "updated": 1778604659,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": "https://keyvault_name.vault.azure.net:443/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=2025-07-01&$skiptoken=Sanitized&maxresults=1"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/versions?api-version=2025-07-01&$skiptoken=Sanitized&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/f8ef7b8a56584e6d97a0bc6873378b49",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1778604659,
              "updated": 1778604659,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-",
        "deletedDate": 1778604660,
        "scheduledPurgeDate": 1779209460,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakeypaged-/3445654a1e914d90a105180badc52d50",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tz9wWBHrkzaW7LvqGRqdRxPM3TZwMK2iq7SrLNwRcrvynwalwgbEmq-zJaRwrKRlRsWfd2DwBu1bL39jSP6Jgb4bysJEbNbJtorwa-gbIguQ3QsMi7BWLL0JWt_MrMAP0LVOZ9SFdHCOyGuuD2zEMwVj-bNMoyx3AYYVYvfNLTGK6ZeP-_YyEVouzw5ovOuPD6jbZRG-4q-rs1jxnfHiSWf96TSGrLSylBfuuUSfvbRGJIEYIqLahh_LAFWoDNfz1ew_Q_jMccDJyuNZWF-HY1UFjbqfv7A5fzKptHXM7XmGFKKbdvy8jFvLXaGz8NedL2MO7dr3G_SBbmiQdBOvpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604659,
          "updated": 1778604659,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangettheversionsofakeypaged-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakeypaged-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
