{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/6f7c4cfa01134e98988ea1c2db26a3f3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yX0VklJ9XPHEEaBKqNR1FMcHJfsh8iZUt2HoRuRHXAT3FK7Am2z-wyNHvxqOYXSSYBvfd5nThMCPch5IgXcWNDwj74vWrFS--fN2GfMo6Sm7Q1GXalROyF2CPwtspk_iA36quQ2UhFAWrZmxmrPMhO0fg6fqZLi3GjYZf9ZESCaRsb-ViFdomz7x_OA-f51qZLns7qsx05tCwbOc-Mu1a5PW9X-8cpBZXhqYXxgsoLKEOssQgnrDhEqZ_eM1wGexXlmKtge3pXBiEuCNkzR-iFlQfOHUVqZsOHmT5wpMp82sRCh0I_kI2JKJP-RS3K_iDDEU7tXadpf0DM3_VColhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732035851,
          "updated": 1732035851,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--0",
        "deletedDate": 1732035851,
        "scheduledPurgeDate": 1732640651,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0/6f7c4cfa01134e98988ea1c2db26a3f3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yX0VklJ9XPHEEaBKqNR1FMcHJfsh8iZUt2HoRuRHXAT3FK7Am2z-wyNHvxqOYXSSYBvfd5nThMCPch5IgXcWNDwj74vWrFS--fN2GfMo6Sm7Q1GXalROyF2CPwtspk_iA36quQ2UhFAWrZmxmrPMhO0fg6fqZLi3GjYZf9ZESCaRsb-ViFdomz7x_OA-f51qZLns7qsx05tCwbOc-Mu1a5PW9X-8cpBZXhqYXxgsoLKEOssQgnrDhEqZ_eM1wGexXlmKtge3pXBiEuCNkzR-iFlQfOHUVqZsOHmT5wpMp82sRCh0I_kI2JKJP-RS3K_iDDEU7tXadpf0DM3_VColhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732035851,
          "updated": 1732035851,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--0?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-listdeletedkeyspaged--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--0",
            "deletedDate": 1732035851,
            "scheduledPurgeDate": 1732640651,
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--0",
            "attributes": {
              "enabled": true,
              "created": 1732035851,
              "updated": 1732035851,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--1",
            "deletedDate": 1732035856,
            "scheduledPurgeDate": 1732640656,
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-listdeletedkeyspaged--1",
            "attributes": {
              "enabled": true,
              "created": 1732035851,
              "updated": 1732035851,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-listdeletedkeyspaged--1?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
