{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/ac1dd7e2601f4dbeb5e1375ec9834ddc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4vWYTI4wOQ7i3PcPnTdOVMPqB3q1aKDksRBE165oEeeBilIy2aSQsCNd_3qtL1tsSREsn8FYCeTLDpCKZ7RJfVtrogSphcFihB8eRtZUH6XNRe64WsCP5gFlzBc6oUEwHl4r4kywTmJhr44yRgjDsoRIeS0XaqmdAj2RWVJuWWt3nwUs8obOJnjXX9RB26Zz_AYCtLtkZiWFMsuPU1e5ZJxIZGr2MfLte6rwvJVU2SgrMabHkyLJWaNZ8YYkn-IauLa2SoJyooGPprNz52bDt-5_mt_MfydcA6zJvgESGRYkwlvzLPRmdFHwYUGEmPiJwOaB6zr0jaU1kWnVWpD7xQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478344,
          "updated": 1739478344,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateakeyspropertiesforaspecificversion-8085110214122349",
            "attributes": {
              "enabled": true,
              "created": 1739478308,
              "updated": 1739478308,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
     [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0",
        "deletedDate": 1739478345,
        "scheduledPurgeDate": 1740083145,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangetseveralinsertedkeys--0/ac1dd7e2601f4dbeb5e1375ec9834ddc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4vWYTI4wOQ7i3PcPnTdOVMPqB3q1aKDksRBE165oEeeBilIy2aSQsCNd_3qtL1tsSREsn8FYCeTLDpCKZ7RJfVtrogSphcFihB8eRtZUH6XNRe64WsCP5gFlzBc6oUEwHl4r4kywTmJhr44yRgjDsoRIeS0XaqmdAj2RWVJuWWt3nwUs8obOJnjXX9RB26Zz_AYCtLtkZiWFMsuPU1e5ZJxIZGr2MfLte6rwvJVU2SgrMabHkyLJWaNZ8YYkn-IauLa2SoJyooGPprNz52bDt-5_mt_MfydcA6zJvgESGRYkwlvzLPRmdFHwYUGEmPiJwOaB6zr0jaU1kWnVWpD7xQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478344,
          "updated": 1739478344,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--0?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangetseveralinsertedkeys--0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangetseveralinsertedkeys--1?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
