{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/25eae3bea870408d9414119dd23acb5f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yG7pBtPp9-z8jQ31H9LH0zfBOwakJKNa5ig7m5lIJ5F6p5vYFnHi_F0xKrGFC_inWlCEkbXNWAklFdFWXYos1xgarY9naUct4RqZEwna9dsl6tw9oMR7-D49qDm17N8LhLiJkHj-Zhrj3mvClkj-jqGKOtfiayYGjPcSA6a58AqlqHFvFeOwGKdb6-a1MImLDoAOqRNt3BTnT4pVev8D8-w3oSLuyC6YcbS3bnbhmGdgCD_59BOLXWWRHACUt8s1QeUzvNIWl1DT-wW79m9fp4sItZfPoCtVIMXY-WdNlWfMi2-w_j-O2csCDz4FX5Td5CJpF-AOB_0zYSVUe52SLQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1737486399,
          "updated": 1737486399,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/versions?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/25eae3bea870408d9414119dd23acb5f",
            "attributes": {
              "enabled": true,
              "created": 1737486399,
              "updated": 1737486399,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          },
          {
            "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/46623c1a90e34f5e9f2ba289162cec6f",
            "attributes": {
              "enabled": true,
              "created": 1737486399,
              "updated": 1737486399,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "0"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listKeyName-cangettheversionsofakey-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-",
        "deletedDate": 1737486399,
        "scheduledPurgeDate": 1738091199,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/listKeyName-cangettheversionsofakey-/46623c1a90e34f5e9f2ba289162cec6f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5Kub46RcI6-jQdlSkbjQ5e3jmE0Znpz0-Ovfio8maDtqX1Sx-ULnu3aOdCjWdGVdVZdgExYVltkup77tpWB1uUTHGK3NBR32qtnD4n8qi0R7wQ3nSsAFtsd1J6gvvMkFVzfZynFePyNPYIA7dm1tCSPmRcLy5LToWciVxVDOMRlPX6xiT7TvwkxlJjXObmFsmNuNtdabj-0TnXcG7E80ORuS0ZlsMHrlMnmIsaZ2-2eaJ8tfgrRtiiKmB8rxhf62fbXyCvFP4lLTbsoSGzf_xU8vRjRC-D5Fdz3S99BXswJ27YsZJLMovh-w_GM_oKNFYtj9lWoJHiZUWkBZS4AiFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1737486399,
          "updated": 1737486399,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listKeyName-cangettheversionsofakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listKeyName-cangettheversionsofakey-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
