{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/czwjstest/providers/Microsoft.StorageCache/caches/resourcetest?api-version=2023-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/e4986436-4309-4a8d-bc0f-77bfa071c1c5?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/e4986436-4309-4a8d-bc0f-77bfa071c1c5?monitor=true\u0026api-version=2023-05-01",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/DeleteCache5Min;29",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/e4986436-4309-4a8d-bc0f-77bfa071c1c5?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;213",
        "x-ms-ratelimit-remaining-subscription-reads": "11666"
      },
      "ResponseBody": {
        "startTime": "2023-06-09T09:59:27.510178\u002B00:00",
        "status": "InProgress",
        "name": "e4986436-4309-4a8d-bc0f-77bfa071c1c5"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/e4986436-4309-4a8d-bc0f-77bfa071c1c5?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;213",
        "x-ms-ratelimit-remaining-subscription-reads": "11583"
      },
      "ResponseBody": {
        "startTime": "2023-06-09T09:59:27.510178\u002B00:00",
        "endTime": "2023-06-09T10:02:40.473484\u002B00:00",
        "status": "Succeeded",
        "name": "e4986436-4309-4a8d-bc0f-77bfa071c1c5"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/czwjstest/providers/Microsoft.StorageCache/caches?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ListCaches1Min;119",
        "x-ms-ratelimit-remaining-subscription-reads": "11582"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
