{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_118711121149?api-version=2024-07-01-preview&skipValidation=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {},
          "credentials": {
            "credentialsType": "AccountKey",
            "secrets": {
              "secretsType": "AccountKey",
              "key": "dGhpcyBpcyBmYWtlIGtleQ=="
            }
          },
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "testblob",
          "endpoint": "core.windows.net",
          "protocol": "https"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_118711121149?api-version=2024-07-01-preview&skipValidation=true",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.472"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_118711121149",
        "name": "test_118711121149",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": {},
          "properties": null,
          "isDefault": false,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": null,
          "resourceGroup": null,
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "testblob",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "None"
        },
        "systemData": {
          "createdAt": "2026-03-03T18:46:11.4483878+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-03T18:46:11.6610833+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_118711121149?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=u[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_118711121149/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.151"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&count=30&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-ms-response-type": "standard",
        "x-request-time": "0.148"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_118711121149",
            "name": "test_118711121149",
            "type": "Microsoft.MachineLearningServices/workspaces/datastores",
            "properties": {
              "description": null,
              "tags": {},
              "properties": null,
              "isDefault": false,
              "credentials"[...]
