{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ServiceFabric/operations?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft ServiceFabric",
              "resource": "Clusters",
              "operation": "Read Cluster",
              "description": "Read any Cluster"
            }
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft ServiceFabric",
              "resource": "Clusters",
              "operation": "Create or Update Cluster",
              "description": "Create or Update any Cluster"
            }
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft ServiceFabric",
           [...]
