{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1088279",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "search-ks-hotel-live-test-1088279",
        "kind": "searchIndex",
        "searchIndexParameters": {
          "searchIndexName": "hotel-live-test-1088279",
          "searchFields": [
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ],
          "semanticConfigurationName": "semantic-configuration"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "61",
        "ETag": "\"0x8DEB2AD58ECA6FE\"",
        "Location": "https://subdomain.search.windows.net/knowledgesources('search-ks-hotel-live-test-1088279')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEB2AD58ECA6FE\"",
        "name": "search-ks-hotel-live-test-1088279",
        "kind": "searchIndex",
        "description": null,
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "hotel-live-test-1088279",
          "semanticConfigurationName": "semantic-configuration",
          "baseFilter": null,
          "sourceDataFields": [],
          "searchFields": [
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ]
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "mcpServerParameters": null,
        "fabricOntologyParameters": null,
        "fabricDataAgentParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null,
        "fileParameters": null,
        "indexedSqlParameters": null
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgebases?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-hotel-live-test-1088279",
        "knowledgeSources": [
          {
            "name": "search-ks-hotel-live-test-1088279"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "27",
        "ETag": "\"0x8DEB2AD58F72288\"",
        "Location": "https://subdomain.search.windows.net/knowledgebases('knowledge-base-hotel-live-test-1088279')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DEB2AD58F72288\"",
        "name": "knowledge-base-hotel-live-test-1088279",
        "description": null,
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": null,
        "knowledgeSources": [
          {
            "name": "search-ks-hotel-live-test-1088279",
            "enableImageServing": null,
            "enableFreshness": null
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": null,
        "corsOptions": null
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgebases('knowledge-base-hotel-live-test-1088279')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "28",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgebases('knowledge-base-hotel-live-test-1088279')?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "26"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No Knowledge Base with the name 'knowledge-base-hotel-live-test-1088279' was found in service 'subdomain'."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources('search-ks-hotel-live-test-1088279')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "64",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1088279')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "229",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_INDEX_NAME": "hotel-live-test-1088279"
  }
}
