{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "new-description",
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "000000000000000000000",
          "experimentName": "mfe-test1-dataset",
          "isArchived": false,
          "jobType": "Sweep",
          "earlyTermination": {
            "delayEvaluation": 200,
            "evaluationInterval": 100,
            "policyType": "TruncationSelection",
            "truncationPercentage": 40
          },
          "inputs": {
            "uri": {
              "uri": "azureml://datastores/workspaceblobstore/paths/python/data.csv",
              "jobInputType": "uri_file"
            }
          },
          "limits": {
            "jobLimitsType": "Sweep",
            "timeout": "PT5M",
            "maxConcurrentTrials": 2,
            "maxTotalTrials": 10
          },
          "objective": {
            "goal": "maximize",
            "primaryMetric": "accuracy"
          },
          "outputs": {},
          "samplingAlgorithm": {
            "samplingAlgorithmType": "Random"
          },
          "searchSpace": {
            "lr": [
              "loguniform",
              [
                0.001,
                0.1
              ]
            ]
          },
          "trial": {
            "command": "echo ${{inputs.uri}} ${{search_space.learning_rate}}",
            "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_677466208595?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "1.587"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_677466208595",
        "name": "test_677466208595",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "new-description",
          "tags": {
            "_aml_system_max_concurrent_jobs": "2",
            "_aml_system_max_total_jobs": "10",
            "_aml_system_max_duration_minutes": "5",
            "_aml_system_policy_config": "{\"name\":\"TruncationSelection\",\"properties\":{\"evaluation_interval\":100,\"delay_evaluation\":200,\"truncation_percentage\":40,\"exclude_finished_jobs\":false}}",
            "_aml_system_generator_config": "{\"name\":\"RANDOM\",\"parameter_space\":{\"lr\":[\"loguniform\",[0.001,0.1]]},\"properties\":{\"rule\":\"Random\",\"logbase\":null,\"seed\":null}}",
            "_aml_system_primary_metric_config": "{\"name\":\"accuracy\",\"goal\":\"maximize\"}",
            "_aml_system_platform_config": "{\"ServiceAddress\":\"https://westus.api.azureml.ms\",\"SubscriptionId\":\"00000000-0000-0000-0000-000000000\",\"ResourceGroupName\":\"00000\",\"WorkspaceName\":\"00000\",\"ExperimentName\":\"mfe-test1-dataset\",\"Definition\":{\"Configuration\":null,\"Attribution\":null,\"TelemetryValues\":null,\"Overrides\":{\"Script\":null,\"Command\":\"echo ${{inputs.uri}} ${{search_space.learning_rate}}\",\"UseAbsolutePath\":true,\"Arguments\":[],\"SourceDirectoryDataStore\":null,\"Framework\":0,\"Target\":\"testCompute\",\"DataReferences\":{},\"Data\":{\"uri\":{\"DataLocation\":{\"Dataset\":null,\"DataPath\":null,\"Uri\":{\"Path\":\"azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/python/data.csv\",\"IsFile\":true},\"Type\":\"UriFile\"},\"Mechanism\":\"Mount\",\"EnvironmentVariableName\":\"AZURE_ML_INPUT_uri\",\"PathOnCompute\":null,\"Overwrite\":false,\"Options\":{\"IsEvalMode\":\"False\",\"ReadWrite\":\"False\",\"ForceFolder\":\"False\"}}},\"InputAssets\":{\"uri\":{\"Asset\":{\"AssetId\":\"azureml://locations/westus/workspaces/f51a05ae-45d5-43d8-9d75-31f1e5eaba07/data/azureml_test_819602396856_input_data_uri/versions/1\",\"Type\":\"UriFile\"},\"Mechanism\":\"Mount\",\"EnvironmentVariableName\":\"AZURE_ML_INPUT_uri\",\"PathOnCompute\":null,\"Overwrite\":false,\"Options\":{\"IsEvalMode\":\"False\",\"ReadWrite\":\"False\",\"ForceFolder\":\"False\"}}},\"OutputData\":{},\"Datacaches\":[],\"JobName\":null,\"MaxRunDurationSeconds\":null,\"NodeCount\":1,\"InstanceTypes\":[],\"Priority\":null,\"CredentialPassthrough\":false,\"Identity\":null,\"Environment\":{\"Name\":\"AzureML-sklearn-1.0-ubuntu20.04-py38-cpu\",\"Version\":\"33\",\"AssetId\":\"azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33\",\"AutoRebuild\":true,\"Python\":{\"InterpreterPath\":\"python\",\"UserManagedDependencies\":true,\"CondaDependencies\":null,\"BaseCondaEnvironment\":null},\"EnvironmentVariables\":{\"EXAMPLE_ENV_VAR\":\"EXAMPLE_VALUE\"},\"Docker\":{\"BaseImage\":null,\"Platform\":{\"Os\":\"Linux\",\"Architecture\":\"amd64\"},\"BaseDockerfile\":\"FROM mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04:20230103.v1\\n\\nENV AZUREML_CONDA_ENVIRONMENT_PATH /azureml-envs/sklearn-1.0\\n# Create conda environment\\nRUN conda create -p $AZUREML_CONDA_ENVIRONMENT_PATH \\\\\\n    python=3.8 pip=21.3.1 -c anaconda -c conda-forge\\n\\n# Prepend path to AzureML conda environment\\nENV PATH $AZUREML_CONDA_ENVIRONMENT_PATH/bin:$PATH\\n\\n# Install pip dependencies\\nRUN pip install 'matplotlib~=3.5.0' \\\\\\n                'psutil~=5.8.0' \\\\\\n                'tqdm~=4.62.0' \\\\\\n                'pandas~=1.3.0' \\\\\\n                'scipy~=1.7.0' \\\\\\n                'numpy~=1.21.0' \\\\\\n                'ipykernel~=6.0' \\\\\\n                'azureml-core==1.48.0' \\\\\\n                'azureml-defaults==1.48.0' \\\\\\n                'azureml-mlflow==1.48.0' \\\\\\n                'azureml-telemetry==1.48.0' \\\\\\n                'scikit-learn~=1.0.0' \\\\\\n                'debugpy~=1.6.3'\\n\\n# This is needed for mpi to locate libpython\\nENV LD_LIBRARY_PATH $AZUREML_CONDA_ENVIRONMENT_PATH/lib:$LD_LIBRARY_PATH\\n\",\"BaseImageRegistry\":{\"Address\":null,\"Username\":null,\"Password\":null},\"Enabled\":false,\"Arguments\":[]},\"Spark\":{\"Repositories\":[],\"Packages\":[],\"PrecachePackages\":true},\"InferencingStackVersion\":null},\"History\":{\"OutputCollection\":true,\"DirectoriesToWatch\":[\"logs\"],\"EnableMLflowTracking\":true},\"Spark\":{\"Configuration\":{}},\"ParallelTask\":{\"MaxRetriesPerWorker\":0,\"WorkerCountPerNode\":1,\"TerminalExitCodes\":null,\"Configuration\":{}},\"BatchAi\":{\"NodeCount\":0},\"AmlCompute\":{\"Name\":null,\"VmSize\":null,\"RetainCluster\":false,\"ClusterMaxNodeCount\":null},\"AISuperComputer\":{\"InstanceType\":\"D2\",\"FrameworkImage\":null,\"ImageVersion\":null,\"Location\":null,\"AISuperComputerStorageData\":null,\"Interactive\":false,\"ScalePolicy\":null,\"VirtualClusterArmId\":null,\"TensorboardLogDirectory\":null,\"SSHPublicKey\":null,\"SSHPublicKeys\":null,\"EnableAzmlInt\":true,\"Priority\":\"Medium\",\"SLATier\":\"Standard\",\"UserAlias\":null},\"KubernetesCompute\":{\"InstanceType\":null},\"Tensorflow\":{\"WorkerCount\":0,\"ParameterServerCount\":0},\"Mpi\":{\"ProcessCountPerNode\":0},\"PyTorch\":{\"CommunicationBackend\":null,\"ProcessCount\":null},\"Hdi\":{\"YarnDeployMode\":0},\"ContainerInstance\":{\"Region\":null,\"CpuCores\":2.0,\"MemoryGb\":3.5},\"ExposedPorts\":null,\"Docker\":{\"UseDocker\":true,\"SharedVolumes\":null,\"ShmSize\":\"2g\",\"Arguments\":null},\"Cmk8sCompute\":{\"Configuration\":{}},\"CommandReturnCodeConfig\":{\"ReturnCode\":0,\"SuccessfulReturnCodes\":[]},\"EnvironmentVariables\":{},\"ApplicationEndpoints\":{},\"Parameters\":[]},\"SnapshotId\":null,\"Snapshots\":[],\"SourceCodeDataReference\":null,\"ParentRunId\":null,\"DataContainerId\":null,\"RunType\":null,\"DisplayName\":\"new_builder_command_job\",\"EnvironmentAssetId\":null,\"Properties\":{},\"Tags\":{},\"AggregatedArtifactPath\":null},\"ParentRunId\":\"test_677466208595\"}",
            "_aml_system_resume_child_runs": "null",
            "_aml_system_all_jobs_generated": "false",
            "_aml_system_cancellation_requested": "false",
            "_aml_system_samples_generated_count": "0"
          },
          "properties": {
            "primary_metric_config": "{\"name\":\"accuracy\",\"goal\":\"maximize\"}",
            "resume_from": "null",
            "runTemplate": "HyperDrive",
            "azureml.runsource": "hyperdrive",
            "platform": "AML",
            "ContentSnapshotId": "",
            "user_agent": "managementfrontend/d9cd8f13f69b23fda559f9a77a45f922b2b3707b+d9cd8f13f69b23fda559f9a77a45f922b2b3707b"
          },
          "displayName": "000000000000000000000",
          "status": "Running",
          "experimentName": "mfe-test1-dataset",
          "services": {
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_677466208595?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Sweep",
          "searchSpace": {
            "lr": [
              "loguniform",
              [
                0.001,
                0.1
              ]
            ]
          },
          "samplingAlgorithm": {
            "samplingAlgorithmType": "Random",
            "seed": null,
            "logbase": null,
            "rule": "Random"
          },
          "limits": {
            "timeout": "PT5M",
            "jobLimitsType": "Sweep",
            "maxTotalTrials": 10,
            "maxConcurrentTrials": 2,
            "trialTimeout": null
          },
          "earlyTermination": {
            "evaluationInterval": 100,
            "delayEvaluation": 200,
            "policyType": "TruncationSelection",
            "truncationPercentage": 40
          },
          "objective": {
            "primaryMetric": "accuracy",
            "goal": "Maximize"
          },
          "trial": {
            "codeId": null,
            "command": "echo ${{inputs.uri}} ${{search_space.learning_rate}}",
            "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "environmentVariables": {},
            "distribution": null,
            "resources": {
              "instanceCount": 1,
              "maxInstanceCount": null,
              "instanceType": null,
              "locations": null,
              "properties": null,
              "shmSize": "2g",
              "dockerArgs": null
            }
          },
          "inputs": {
            "uri": {
              "description": null,
              "uri": "azureml://locations/westus/workspaces/f51a05ae-45d5-43d8-9d75-31f1e5eaba07/data/azureml_test_819602396856_input_data_uri/versions/1",
              "mode": "ReadOnlyMount",
              "pathOnCompute": null,
              "jobInputType": "uri_file"
            }
          },
          "outputs": {
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.test_677466208595",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "pathOnCompute": null,
              "autoDeleteSetting": null,
              "jobOutputType": "uri_folder"
            }
          },
          "queueSettings": {
            "jobTier": "Null",
            "priority": null
          },
          "resources": {
            "instanceCount": 1,
            "maxInstanceCount": null,
            "instanceType": null,
            "locations": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "componentConfiguration": null
        },
        "systemData": {
          "createdAt": "2024-09-09T08:55:03.7978335+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "name": "test_677466208595"
  }
}
