{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_447187519543?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "new-description",
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "new_builder_command_job",
          "experimentName": "mfe-test1-dataset",
          "isArchived": false,
          "jobType": "Sweep",
          "earlyTermination": {
            "delayEvaluation": 200,
            "evaluationInterval": 100,
            "policyType": "TruncationSelection",
            "truncationPercentage": 40
          },
          "inputs": {
            "uri": {
              "uri": "azureml://datastores/workspaceblobstore/paths/python/data.csv",
              "jobInputType": "uri_file"
            }
          },
          "limits": {
            "jobLimitsType": "Sweep",
            "timeout": "PT5M",
            "maxConcurrentTrials": 2,
            "maxTotalTrials": 10
          },
          "objective": {
            "goal": "maximize",
            "primaryMetric": "accuracy"
          },
          "outputs": {},
          "samplingAlgorithm": {
            "samplingAlgorithmType": "Random"
          },
          "searchSpace": {
            "lr": [
              "loguniform",
              [
                0.001,
                0.1
              ]
            ]
          },
          "trial": {
            "command": "echo ${{inputs.uri}} ${{search_space.learning_rate}}",
            "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.975"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "mfe-test1-dataset: Compute Not Found for run ID : test_447187519543",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "418406a91f28398d189c35813a6a6da1",
                  "request": "a256f6dfe0d14c89"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-10-31T03:26:58.7261703\u002B00:00"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "name": "test_447187519543"
  }
}
