{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-5093?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1076"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093",
        "name": "adf-rg-5093",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1075"
      },
      "ResponseBody": {
        "name": "adf-2992",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-22T06:54:26.6124092Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00226c04b39f-0000-0800-0000-655da5a20000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992/pipelines/pipeline-6444?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1074"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992/pipelines/pipeline-6444",
        "name": "pipeline-6444",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "46007f15-0000-0800-0000-655da5a40000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992/linkedservices/linkedService_6838?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1071"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992/linkedservices/linkedService_6838",
        "name": "linkedService_6838",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEJDMDQwRkU2LTFFQjAtNERGNC1CRTUwLUY1MzdBNTIxRjcyNF8xYTc0MjcwMi04YTM5LTRmZDItOTgzYy1jZDc3ZWQwOGQ1YmIiDQp9"
          }
        },
        "etag": "46008815-0000-0800-0000-655da5a60000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992/triggers/trigger-379?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-6444"
            },
            "parameters": {
              "windowStart": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowStartTime}"
              },
              "windowEnd": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowEndTime}"
              }
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Month",
            "interval": 3,
            "startTime": "2017-04-14T13:00:00.0000000Z",
            "delay": "00:00:01",
            "maxConcurrency": 10,
            "retryPolicy": {
              "count": 3,
              "intervalInSeconds": 30
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1070"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-5093/providers/Microsoft.DataFactory/factories/adf-2992/triggers/trigger-379",
        "name": "trigger-379",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-6444"
            },
            "parameters": {
              "windowStart": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowStartTime}"
              },
              "windowEnd": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowEndTime}"
              }
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Month",
            "interval": 3,
            "startTime": "2017-04-14T13:00:00Z",
            "delay": "00:00:01",
            "maxConcurrency": 10,
            "retryPolicy": {
              "count": 3,
              "intervalInSeconds": 30
            }
          },
          "runtimeState": "Stopped"
        },
        "etag": "46008a15-0000-0800-0000-655da5a70000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1342271017",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
