{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Easm/workspaces/testresource?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e008283c-0000-0100-0000-64dc63770000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Easm/workspaces/testresource",
        "name": "testresource",
        "type": "microsoft.easm/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-08-16T05:49:42.3942435Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-16T05:49:42.3942435Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataPlaneEndpoint": "eastus.easm.defender.microsoft.com"
        }
      }
    }
  ],
  "Variables": {}
}
