{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Easm/workspaces/testresource1?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e10897be-0000-0100-0000-64dc659a0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-ui-version": "sdk",
        "X-RiskIQ-RequestID": "d5c7a270-38c2-40a9-b5b6-74996b241cae"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Easm/workspaces/testresource1",
        "name": "testresource1",
        "type": "microsoft.easm/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-08-16T05:58:50.1301944Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-16T05:58:50.1301944Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "dataPlaneEndpoint": "eastus.easm.defender.microsoft.com"
        }
      }
    }
  ],
  "Variables": {}
}
