{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Easm/workspaces/testresource?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999",
        "x-ms-ui-version": "sdk",
        "X-RiskIQ-RequestID": "7bc7c5ff-930a-4603-ac9e-e3e66fb8abb3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Easm/workspaces?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "e505b001-c1bc-4b01-9056-f265c3f26528",
          "c0dff1b4-1e61-4732-ad51-cf565ac0e9da",
          "eaf0d62e-76f1-43cb-b5a3-28dce6978a5d",
          "1b8742a1-97ec-46f4-ae4f-6fbba9d52ac7",
          "8bc65e9e-b9ed-469b-9ccd-c918459aa195",
          "fd710962-2ec6-425a-bd1e-4566f534fb32",
          "43313bdd-866a-44e1-8cb2-f2c946a00fa2",
          "987f3126-cd39-4fa3-b356-b89cef4f841a",
          "0978078e-eda6-4d1e-bbce-58fe88b5824f",
          "f0ba1700-493d-45a0-a43f-ec6bc80dab2b",
          "6d553390-3e36-4481-88b6-b16c348548b9",
          "de920d9d-1dc2-4678-9e2f-ffaa998b6a29",
          "bde404a5-932f-484a-be1a-1d34bde8f32e",
          "6ba81e0f-004f-4361-9fa4-0ba5e1ade055"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
