{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSV2OptIn": "11162022"
        },
        "subscriptionId": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Migrate Test2 (Canary Enabled)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/SdkTest-Net-9423?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "brazilsouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net-9423",
        "name": "SdkTest-Net-9423",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "brazilsouth",
        "tags": {
          "Created": "20241112"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net-9423/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-3642?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "brazilsouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"b804c089-0000-0b00-0000-67333f2a0000\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net-9423/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-3642",
        "name": "assessmentProj-3642",
        "type": "Microsoft.Migrate/assessmentProjects",
        "etag": "\"b804c089-0000-0b00-0000-67333f2a0000\"",
        "location": "brazilsouth",
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "customerStorageAccountArmId": null,
          "createdTimestamp": "2024-11-12T11:42:34.1855923Z",
          "updatedTimestamp": "2024-11-12T11:42:34.1855923Z",
          "serviceEndpoint": "https://asmsrv.brs.prod.migration.windowsazure.com/",
          "assessmentSolutionId": null,
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net-9423/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-3642?api-version=2023-03-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Key1": "TestPatchValue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"b8042a8d-0000-0b00-0000-67333f330000\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/SdkTest-Net-9423/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-3642",
        "name": "assessmentProj-3642",
        "type": "Microsoft.Migrate/assessmentProjects",
        "etag": "\"b8042a8d-0000-0b00-0000-67333f330000\"",
        "location": "brazilsouth",
        "tags": {
          "Key1": "TestPatchValue"
        },
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "customerStorageAccountArmId": null,
          "createdTimestamp": "2024-11-12T11:42:34.1855923Z",
          "updatedTimestamp": "2024-11-12T11:42:34.1855923Z",
          "serviceEndpoint": "https://asmsrv.brs.prod.migration.windowsazure.com/",
          "assessmentSolutionId": null,
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/SdkTest-Net-9423?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJETkVUOjJEOTQyMy1CUkFaSUxTT1VUSCIsImpvYkxvY2F0aW9uIjoiYnJhemlsc291dGgifQ?api-version=2022-09-01&t=638670085778667887&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA1WjBAMT4wPAYDVQQDEzVhc3lu[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJETkVUOjJEOTQyMy1CUkFaSUxTT1VUSCIsImpvYkxvY2F0aW9uIjoiYnJhemlsc291dGgifQ?api-version=2022-09-01&t=638670085778667887&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUOjJETkVUOjJEOTQyMy1CUkFaSUxTT1VUSCIsImpvYkxvY2F0aW9uIjoiYnJhemlsc291dGgifQ?api-version=2022-09-01&t=638670085788246974&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA[...]
