{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "DeleteTaskFile",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/DeleteTaskFile",
            "eTag": "0x8DD463CCD7FFF2E",
            "lastModified": "2025-02-05T23:28:31.6178222Z",
            "creationTime": "2025-02-05T23:25:08.0853746Z",
            "state": "deleting",
            "stateTransitionTime": "2025-02-05T23:28:31.6178222Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-02-05T23:28:31.6288136Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetNodeFile",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463CD065A93D",
        "Last-Modified": "Wed, 05 Feb 2025 23:28:36 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463CD065A93D",
    [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T23:29:12.6800605Z",
            "allocationTime": "2025-02-05T23:29:12.6800666Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T23:31:34.998228Z",
            "lastBootTime": "2025-02-05T23:31:29.371892Z",
            "allocationTime": "2025-02-05T23:29:12.6800666Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-02-05T23:31:29.371892Z",
              "version": "1.12.7"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "GetNodeFile"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463D3D1713F7",
        "Last-Modified": "Wed, 05 Feb 2025 23:31:38 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "task-0",
        "commandLine": "cmd /c echo Hello World task-0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463D3D25D00B",
        "Last-Modified": "Wed, 05 Feb 2025 23:31:38 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "state": "active"
          },
          {
            "id": "task-1",
            "state": "active"
          },
          {
            "id": "task-2",
            "state": "active"
          },
          {
            "id": "task-3",
            "state": "active"
          },
          {
            "id": "task-4",
            "state": "active"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T23:31:52.378279Z",
            "lastBootTime": "2025-02-05T23:31:29.371892Z",
            "allocationTime": "2025-02-05T23:29:12.6800666Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 5,
            "totalTasksSucceeded": 5,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "recentTasks": [
              {
                "taskUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
                "jobId": "batchJob1",
                "taskId": "task-0",
                "taskState": "completed",
                "executionInfo": {
                  "startTime": "2025-02-05T23:31:40.036387Z",
                  "endTime": "2025-02-05T23:31:40.302322Z",
                  "exitCode": 0,
                  "result": "success",
                  "retryCount": 0,
                  "requeueCount": 0
                }
              },
              {
                "taskUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-1",
                "jobId": "batchJob1",
                "taskId": "task-1",
                "taskState": "completed",
                "executionInfo": {
                  "startTime": "2025-02-05T23:31:43.079405Z",
                  "endTime": "2025-02-05T23:31:43.282531Z",
                  "exitCode": 0,
                  "result":[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d/files/workitems%5CbatchJob1%5Cjob-1%5Ctask-0%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 05 Feb 2025 23:31:40 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fdotnotsdkbatchaccount2.eastus2.batch.azure.com%2Fpools%2FGetNodeFile%2Fnodes%2Ftvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d%2Ffiles%2Fworkitems%2FbatchJob1%2Fjob-1%2Ftask-0%2Fstdout.txt",
        "ocp-creation-time": "Wed, 05 Feb 2025 23:31:40 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_a53560b0173d55df95eecbc90d212d027c8229f05fcaaceb78c3bb9c4359b830_d/files/workitems%5CbatchJob1%5Cjob-1%5Ctask-0%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "FileNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified file does not exist.\nRequestId:156f4711-0e5a-4d1a-844f-efd4f90fcf1a\nTime:2025-02-05T23:32:00.5281315Z"
        }
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1235649336"
  }
}
