{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "DeleteTaskFile",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/DeleteTaskFile",
            "eTag": "0x8DD848921F10061",
            "lastModified": "2025-04-26T06:11:07.1306849Z",
            "creationTime": "2025-04-26T06:08:03.6215576Z",
            "state": "deleting",
            "stateTransitionTime": "2025-04-26T06:11:07.1306849Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-04-26T06:11:07.1514249Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetNodeFile",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD8489247D35A5",
        "Last-Modified": "Sat, 26 Apr 2025 06:11:11 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD8489247D35A5",
    [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-26T06:11:38.3664952Z",
            "allocationTime": "2025-04-26T06:11:38.3664994Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-26T06:14:29.54452Z",
            "lastBootTime": "2025-04-26T06:14:23.847646Z",
            "allocationTime": "2025-04-26T06:11:38.3664994Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-04-26T06:14:23.847646Z",
              "version": "1.12.15"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "GetNodeFile"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD84899D30124D",
        "Last-Modified": "Sat, 26 Apr 2025 06:14:33 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "task-0",
        "commandLine": "cmd /c echo Hello World task-0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD84899D3F4599",
        "Last-Modified": "Sat, 26 Apr 2025 06:14:34 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "state": "active"
          },
          {
            "id": "task-1",
            "state": "active"
          },
          {
            "id": "task-2",
            "state": "active"
          },
          {
            "id": "task-3",
            "state": "active"
          },
          {
            "id": "task-4",
            "state": "active"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-26T06:14:47.992873Z",
            "lastBootTime": "2025-04-26T06:14:23.847646Z",
            "allocationTime": "2025-04-26T06:11:38.3664994Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 5,
            "totalTasksSucceeded": 5,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "recentTasks": [
              {
                "taskUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
                "jobId": "batchJob1",
                "taskId": "task-0",
                "taskState": "completed",
                "executionInfo": {
                  "startTime": "2025-04-26T06:14:35.645244Z",
                  "endTime": "2025-04-26T06:14:35.895246Z",
                  "exitCode": 0,
                  "result": "success",
                  "retryCount": 0,
                  "requeueCount": 0
                }
              },
              {
                "taskUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-1",
                "jobId": "batchJob1",
                "taskId": "task-1",
                "taskState": "completed",
                "executionInfo": {
                  "startTime": "2025-04-26T06:14:38.681152Z",
                  "endTime": "2025-04-26T06:14:38.88426Z",
                  "exitCode": 0,
                  "result": [...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d/files/workitems%5CbatchJob1%5Cjob-1%5Ctask-0%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Sat, 26 Apr 2025 06:14:35 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fdotnotsdkbatchaccount2.eastus2.batch.azure.com%2Fpools%2FGetNodeFile%2Fnodes%2Ftvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d%2Ffiles%2Fworkitems%2FbatchJob1%2Fjob-1%2Ftask-0%2Fstdout.txt",
        "ocp-creation-time": "Sat, 26 Apr 2025 06:14:35 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile/nodes/tvmps_6bf0ea7a62cd4bac30eaaaa5f2506d4ee0c2ed13ef71725c5901184a10b12dc9_d/files/workitems%5CbatchJob1%5Cjob-1%5Ctask-0%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "FileNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified file does not exist.\nRequestId:8987ba22-958e-4f31-998a-ca6e8ed463e1\nTime:2025-04-26T06:14:55.5315050Z"
        }
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD84899D30124D",
        "Last-Modified": "Sat, 26 Apr 2025 06:14:33 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batchJob1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
        "eTag": "0x8DD84899D30124D",
        "lastModified": "2025-04-26T06:14:33.9037773Z",
        "creationTime": "2025-04-26T06:14:33.8917821Z",
        "state": "active",
        "stateTransitionTime": "2025-04-26T06:14:33.9037773Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "GetNodeFile"
        },
        "executionInfo": {
          "startTime": "2025-04-26T06:14:33.9037773Z",
          "poolId": "GetNodeFile"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1480671616"
  }
}