{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "DeleteTaskFile",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteTaskFile",
            "eTag": "0x8DC866A112FBAD3",
            "lastModified": "2024-06-06T20:48:49.2763859Z",
            "creationTime": "2024-06-06T20:42:08.5884749Z",
            "state": "deleting",
            "stateTransitionTime": "2024-06-06T20:48:49.2763859Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-06-06T20:48:49.9275865Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          },
          {
            "id": "pool1",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/pool1",
            "eTag": "0x8DC54FB214AAA2A",
            "lastModified": "2024-04-04T23:01:15.1833642Z",
            "creationTime": "2024-03-29T23:26:40.140628Z",
            "state": "active",
            "stateTransitionTime": "2024-03-29T23:26:40.140628Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2024-04-04T23:03:34.1091773Z",
            "vmSize": "standard_d2s_v3",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 0,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Pack"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "osDisk": {
                "ephemeralOSDiskSettings": {},
                "managedDisk": {
                  "storageAccountType": "premium_lrs"
                },
                "caching": "None"
              },
              "nodeAgentSKUId": "batch.node.ubuntu 22.04",
              "nodePlacementConfiguration": {
                "policy": "Regional"
              }
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "publicIPAddressConfiguration": {
                "provision": "BatchManaged"
              },
              "enableAcceleratedNetworking": false
            },
            "targetNodeCommunicationMode": "default"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetNodeFile",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC866A14DB0CDD",
        "Last-Modified": "Thu, 06 Jun 2024 20:48:55 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC866A14DB0CDD",
     [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes/tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T20:49:27.1443392Z",
            "allocationTime": "2024-06-06T20:49:27.1443449Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "48.217.196.101",
                  "publicFQDN": "dns0d203493-3d43-4872-adc9-e0cd7bcc9bb1-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5820.240510"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes/tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T20:54:36.808197Z",
            "lastBootTime": "2024-06-06T20:54:30.422721Z",
            "allocationTime": "2024-06-06T20:49:27.1443449Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "48.217.196.101",
                  "publicFQDN": "dns0d203493-3d43-4872-adc9-e0cd7bcc9bb1-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-06-06T20:54:30.422721Z",
              "version": "1.11.10"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5820.240510"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "GetNodeFile"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC866AE231BB77",
        "Last-Modified": "Thu, 06 Jun 2024 20:54:39 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "task-0",
        "commandLine": "cmd /c echo Hello World task-0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1/tasks/task-0",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC866AE2401199",
        "Last-Modified": "Thu, 06 Jun 2024 20:54:40 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1/tasks/task-0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "state": "active"
          },
          {
            "id": "task-1",
            "state": "active"
          },
          {
            "id": "task-2",
            "state": "active"
          },
          {
            "id": "task-3",
            "state": "active"
          },
          {
            "id": "task-4",
            "state": "active"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes/tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T20:55:00.350077Z",
            "lastBootTime": "2024-06-06T20:54:30.422721Z",
            "allocationTime": "2024-06-06T20:49:27.1443449Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 5,
            "totalTasksSucceeded": 5,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "recentTasks": [
              {
                "taskUrl": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1/tasks/task-0",
                "jobId": "batchJob1",
                "taskId": "task-0",
                "taskState": "completed",
                "executionInfo": {
                  "startTime": "2024-06-06T20:54:41.99479Z",
                  "endTime": "2024-06-06T20:54:42.510415Z",
                  "exitCode": 0,
                  "result": "success",
                  "retryCount": 0,
                  "requeueCount": 0
                }
              },
              {
                "taskUrl": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1/tasks/task-1",
                "jobId": "batchJob1",
                "taskId": "task-1",
                "taskState": "completed",
                "executionInfo": {
                  "startTime": "2024-06-06T20:54:44.979159Z",
                  "endTime": "2024-06-06T20:54:50.557277Z",
                  "exitCode": 0,
                  "result": [...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes/tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d/files/workitems%5CbatchJob1%5Cjob-1%5Ctask-0%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Thu, 06 Jun 2024 20:54:42 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fdotnotsdkbatchaccount1.eastus.batch.azure.com%2Fpools%2FGetNodeFile%2Fnodes%2Ftvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d%2Ffiles%2Fworkitems%2FbatchJob1%2Fjob-1%2Ftask-0%2Fstdout.txt",
        "ocp-creation-time": "Thu, 06 Jun 2024 20:54:42 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile/nodes/tvmps_c3d0fb6af4561c0a85c976a45bcc62200bd5473680bb0e8582da12b234dad634_d/files/workitems%5CbatchJob1%5Cjob-1%5Ctask-0%5Cstdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "FileNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified file does not exist.\nRequestId:101c3bdf-1679-4ca6-9406-617a37209a63\nTime:2024-06-06T20:55:01.7074290Z"
        }
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetNodeFile?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1968798026"
  }
}