{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetNodeFile",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile",
            "eTag": "0x8DDEBFB0028BA86",
            "lastModified": "2025-09-04T21:35:42.846631Z",
            "creationTime": "2025-09-04T21:28:04.9850294Z",
            "state": "deleting",
            "stateTransitionTime": "2025-09-04T21:35:42.846631Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-09-04T21:35:42.8645602Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread",
              "jobDefaultOrder": "none"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetTaskFile",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBFB04479B93",
        "Last-Modified": "Thu, 04 Sep 2025 21:35:49 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBFB04479B93",
        "[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T21:36:21.7780992Z",
            "allocationTime": "2025-09-04T21:36:21.7781049Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T21:42:29.294736Z",
            "lastBootTime": "2025-09-04T21:42:24.427653Z",
            "allocationTime": "2025-09-04T21:36:21.7781049Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-04T21:42:24.427653Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "GetTaskFile"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBFBF60807B7",
        "Last-Modified": "Thu, 04 Sep 2025 21:42:35 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "task-0",
        "commandLine": "cmd /c echo Hello World task-0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBFBF61733AE",
        "Last-Modified": "Thu, 04 Sep 2025 21:42:35 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2025-06-01&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "state": "active"
          },
          {
            "id": "task-1",
            "state": "active"
          },
          {
            "id": "task-2",
            "state": "active"
          },
          {
            "id": "task-3",
            "state": "active"
          },
          {
            "id": "task-4",
            "state": "active"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2025-06-01&$filter=state%20eq%20%27completed%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
            "eTag": "0x8DDEBFBF61733AE",
            "creationTime": "2025-09-04T21:42:35.4512814Z",
            "lastModified": "2025-09-04T21:42:35.4512814Z",
            "state": "completed",
            "stateTransitionTime": "2025-09-04T21:42:36.695013Z",
            "previousState": "running",
            "previousStateTransitionTime": "2025-09-04T21:42:36.398139Z",
            "commandLine": "cmd /c echo Hello World task-0",
            "userIdentity": {
              "autoUser": {
                "scope": "pool",
                "elevationLevel": "nonadmin"
              }
            },
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "retentionTime": "P7D",
              "maxTaskRetryCount": 0
            },
            "requiredSlots": 1,
            "executionInfo": {
              "startTime": "2025-09-04T21:42:36.476262Z",
              "endTime": "2025-09-04T21:42:36.695013Z",
              "exitCode": 0,
              "result": "success",
              "retryCount": 0,
              "requeueCount": 0
            },
            "nodeInfo": {
              "affinityId": "TVM:tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
              "nodeUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
              "poolId": "GetTaskFile",
              "nodeId": "tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d",
              "taskRootDirectory": "workitems\\batchJob1\\job-1\\task-0",
              "taskRootDirectoryUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_22a58912b1b828cca887fffb8129f0df2e422a8eccd0be407d94466341e606ab_d/files/workitems/batchJob1/job-1/task-0"
            }
          },
          {
            "id": "task-1",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-1",
            "eTag": "0x8DDEBFBF62C9066",
            "creationTime": "2025-09-04T21:42:35.5912806Z",
            "lastModified": "2025[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0/files/stdout.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Thu, 04 Sep 2025 21:42:36 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fdotnotsdkbatchaccount2.eastus2.batch.azure.com%2Fjobs%2FbatchJob1%2Ftasks%2Ftask-0%2Ffiles%2Fstdout.txt",
        "ocp-creation-time": "Thu, 04 Sep 2025 21:42:36 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0/files?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stderr.txt",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2025-09-04T21:42:36.476262Z",
              "lastModified": "2025-09-04T21:42:36.476262Z",
              "contentLength": "0",
              "contentType": "text/plain"
            }
          },
          {
            "name": "stdout.txt",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0/files/stdout.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2025-09-04T21:42:36.476262Z",
              "lastModified": "2025-09-04T21:42:36.648146Z",
              "contentLength": "20",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "435963522"
  }
}
