{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetNodeFile",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetNodeFile",
            "eTag": "0x8DD463BCD7C6A3D",
            "lastModified": "2025-02-05T23:21:22.0976189Z",
            "creationTime": "2025-02-05T23:18:07.8752733Z",
            "state": "deleting",
            "stateTransitionTime": "2025-02-05T23:21:22.0976189Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-02-05T23:21:22.1083503Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetTaskFile",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463BD13A22D7",
        "Last-Modified": "Wed, 05 Feb 2025 23:21:28 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463BD13A22D7",
    [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T23:22:05.0364324Z",
            "allocationTime": "2025-02-05T23:22:05.0364376Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T23:24:36.216393Z",
            "lastBootTime": "2025-02-05T23:24:30.575736Z",
            "allocationTime": "2025-02-05T23:22:05.0364376Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-02-05T23:24:30.575736Z",
              "version": "1.12.7"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "GetTaskFile"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463C43EE2140",
        "Last-Modified": "Wed, 05 Feb 2025 23:24:40 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "task-0",
        "commandLine": "cmd /c echo Hello World task-0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD463C43FDB1A4",
        "Last-Modified": "Wed, 05 Feb 2025 23:24:40 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "state": "active"
          },
          {
            "id": "task-1",
            "state": "active"
          },
          {
            "id": "task-2",
            "state": "active"
          },
          {
            "id": "task-3",
            "state": "active"
          },
          {
            "id": "task-4",
            "state": "active"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0&$filter=state%20eq%20%27completed%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "task-0",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0",
            "eTag": "0x8DD463C43FDB1A4",
            "creationTime": "2025-02-05T23:24:40.91601Z",
            "lastModified": "2025-02-05T23:24:40.91601Z",
            "state": "completed",
            "stateTransitionTime": "2025-02-05T23:24:42.589983Z",
            "previousState": "running",
            "previousStateTransitionTime": "2025-02-05T23:24:42.230573Z",
            "commandLine": "cmd /c echo Hello World task-0",
            "userIdentity": {
              "autoUser": {
                "scope": "pool",
                "elevationLevel": "nonadmin"
              }
            },
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "retentionTime": "P7D",
              "maxTaskRetryCount": 0
            },
            "requiredSlots": 1,
            "executionInfo": {
              "startTime": "2025-02-05T23:24:42.324325Z",
              "endTime": "2025-02-05T23:24:42.589983Z",
              "exitCode": 0,
              "result": "success",
              "retryCount": 0,
              "requeueCount": 0
            },
            "nodeInfo": {
              "affinityId": "TVM:tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
              "nodeUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
              "poolId": "GetTaskFile",
              "nodeId": "tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d",
              "taskRootDirectory": "workitems\\batchJob1\\job-1\\task-0",
              "taskRootDirectoryUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile/nodes/tvmps_400b7920d502dce90c702311942c63929565896b3c2e77a418e9607f5c58bce1_d/files/workitems/batchJob1/job-1/task-0"
            }
          },
          {
            "id": "task-1",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-1",
            "eTag": "0x8DD463C440CA5B9",
            "creationTime": "2025-02-05T23:24:41.0140089Z",
            "lastModified": "2025[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/task-0/files/stdout.txt?api-version=2024-07-01.20.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 05 Feb 2025 23:24:42 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fdotnotsdkbatchaccount2.eastus2.batch.azure.com%2Fjobs%2FbatchJob1%2Ftasks%2Ftask-0%2Ffiles%2Fstdout.txt",
        "ocp-creation-time": "Wed, 05 Feb 2025 23:24:42 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetTaskFile?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "327573388"
  }
}
