{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for update person: pd-async-test_person_dir_update_person",
        "tags": {
          "test_type": "update_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-async-test_person_dir_update_person",
        "description": "Test person directory for update person: pd-async-test_person_dir_update_person",
        "tags": {
          "test_type": "update_person"
        },
        "createdAt": "2025-09-23T14:41:37.82933Z",
        "lastModifiedAt": "2025-09-23T14:41:37.82933Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_update_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6IjUxOWFiMDZmLWE4MDAtNDk0Yi05N2EyLWFjNjM3NDk0NTNmMSIsInRhZ3MiOnsibmFtZSI6IkphbmUgU21pdGgiLCJyb2xlIjoidGVzdF9zdWJqZWN0In0sImZhY2VJZHMiOltdfQ=="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_update_person/persons/519ab06f-a800-494b-97a2-ac63749453f1?api-version=2025-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject",
          "department": "research",
          "status": "active"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "519ab06f-a800-494b-97a2-ac63749453f1",
        "tags": {
          "department": "research",
          "name": "Sanitized",
          "role": "test_subject",
          "status": "active"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_update_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
