{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_create_json_sync?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analyzerId": "python_sdk_sync_create_json_sync",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "disableContentFiltering": false,
          "disableFaceBlurring": false,
          "enableFace": false,
          "enableFormula": true,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "description": "test analyzer: python_sdk_sync_create_json_sync",
        "processingLocation": "global",
        "models": {
          "completion": "gpt-4.1"
        },
        "tags": {
          "tag1_name": "tag1_value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_create_json_sync/operations/51bf0e1a-5dc6-4cdb-8f9e-6a318e2efb47?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "python_sdk_sync_create_json_sync",
        "description": "test analyzer: python_sdk_sync_create_json_sync",
        "tags": {
          "tag1_name": "tag1_value"
        },
        "createdAt": "2026-01-13T15:41:23Z",
        "lastModifiedAt": "2026-01-13T15:41:23Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "warnings": [],
        "status": "ready",
        "processingLocation": "global",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_create_json_sync/operations/51bf0e1a-5dc6-4cdb-8f9e-6a318e2efb47?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "analyzerId": "python_sdk_sync_create_json_sync",
          "description": "test analyzer: python_sdk_sync_create_json_sync",
          "tags": {
            "tag1_name": "tag1_value"
          },
          "createdAt": "2026-01-13T15:41:23Z",
          "lastModifiedAt": "2026-01-13T15:41:23Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableF[...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_create_json_sync?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
