{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for update person: python-sdk-pd-sync-test_person_directories_update_person",
        "tags": {
          "test_type": "update_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "python-sdk-pd-sync-test_person_directories_update_person",
        "description": "Test person directory for update person: python-sdk-pd-sync-test_person_directories_update_person",
        "tags": {
          "test_type": "update_person"
        },
        "createdAt": "2025-08-12T19:30:34.9113Z",
        "lastModifiedAt": "2025-08-12T19:30:34.9113Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_update_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6IjA5N2NhYjRkLTI2OTQtNGI3Yy1iMGRkLTcyMTU5ZWIxNjQ3ZiIsInRhZ3MiOnsibmFtZSI6IkphbmUgU21pdGgiLCJyb2xlIjoidGVzdF9zdWJqZWN0In0sImZhY2VJZHMiOltdfQ=="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_update_person/persons/097cab4d-2694-4b7c-b0dd-72159eb1647f?api-version=2025-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject",
          "department": "research",
          "status": "active"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "097cab4d-2694-4b7c-b0dd-72159eb1647f",
        "tags": {
          "department": "research",
          "name": "Sanitized",
          "role": "test_subject",
          "status": "active"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'python-sdk-pd-sync-test_person_directories_update_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
