{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
        "tags": {
          "test_type": "simple"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "operation-location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity/operations/c707a265-9511-4f95-ad41-917010c0b9d4?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "classifierId": "python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
        "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
        "tags": {
          "test_type": "simple"
        },
        "status": "creating",
        "createdAt": "2025-09-17T15:07:24.6212259Z",
        "lastModifiedAt": "2025-09-17T15:07:24.6212259Z",
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "processingLocation": "geography"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity/operations/c707a265-9511-4f95-ad41-917010c0b9d4?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "classifierId": "python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
          "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
          "tags": {
            "test_type": "simple"
          },
          "status": "creating",
          "createdAt": "2025-09-17T15:07:24.6212259Z",
          "lastModifiedAt": "2025-09-17T15:07:24.6212259Z",
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/8bdf24c0-568f-4011-b0c6-e97a06de6d5b?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Failed",
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        },
        "result": {
          "analyzerId": "python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity",
          "apiVersion": "2025-05-01-preview",
          "createdAt": "2025-09-17T15:07:15Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
            "description": "test classifier for URL classification: python-sdk-classifier-async-test_content_classifiers_begin_classify",
            "tags": {
              "test_type": "url_classification"
            },
            "status": "ready",
            "createdAt": "2025-09-17T15:07:47.9671077Z",
            "lastModifiedAt": "2025-09-17T15:07:48.1303958Z",
            "[...]
[...]
