{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "description": "test classifier for URL classification: python-sdk-classifier-async-test_content_classifiers_begin_classify",
        "tags": {
          "test_type": "url_classification"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "operation-location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify/operations/f11b9507-6f6f-47ea-8bd9-308c3d975a83?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
        "description": "test classifier for URL classification: python-sdk-classifier-async-test_content_classifiers_begin_classify",
        "tags": {
          "test_type": "url_classification"
        },
        "status": "creating",
        "createdAt": "2025-09-17T15:07:47.9671077Z",
        "lastModifiedAt": "2025-09-17T15:07:47.9671077Z",
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "processingLocation": "geography"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify/operations/f11b9507-6f6f-47ea-8bd9-308c3d975a83?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "description": "test classifier for URL classification: python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "tags": {
            "test_type": "url_classification"
          },
          "status": "creating",
          "createdAt": "2025-09-17T15:07:47.9671077Z",
          "lastModifiedAt": "2025-09-17T15:07:47.9671077Z",
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify/operations/f11b9507-6f6f-47ea-8bd9-308c3d975a83?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
       [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify/operations/f11b9507-6f6f-47ea-8bd9-308c3d975a83?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "description": "test classifier for URL classification: python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "tags": {
            "test_type": "url_classification"
          },
          "status": "ready",
          "createdAt": "2025-09-17T15:07:47.9671077Z",
          "lastModifiedAt": "2025-09-17T15:07:48.1303958Z",
          "warnings": [],
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/classifiers?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
            "description": "test classifier for URL classification: python-sdk-classifier-async-test_content_classifiers_begin_classify",
            "tags": {
              "test_type": "url_classification"
            },
            "status": "ready",
            "createdAt": "2025-09-17T15:07:47.9671077Z",
            "lastModifiedAt": "2025-09-17T15:07:48.1303958Z",
            "[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/classifiers/python-sdk-classifier-async-test_content_classifiers_begin_classify:classify?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "url": "https://github.com/Azure-Samples/azure-ai-content-understanding-python/raw/refs/heads/main/data/mixed_financial_docs.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "operation-location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/classifierResults/376409ff-d1f3-40c3-8c97-9f82f214f84c?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "apiVersion": "2025-05-01-preview",
          "createdAt": "2025-09-17T15:08:18.6135945Z",
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifierResults/376409ff-d1f3-40c3-8c97-9f82f214f84c?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "apiVersion": "2025-05-01-preview",
          "createdAt": "2025-09-17T15:08:18.6135945Z",
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifierResults/376409ff-d1f3-40c3-8c97-9f82f214f84c?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_classify",
          "apiVersion": "2025-05-01-preview",
          "createdAt": "2025-09-17T15:08:18.6135945Z",
          "contents": [
            {
              "category": "Invoice",
              "kind": "document",
              "startPageNumber": 1,
              "endPageNumber": 1
            },
            {
              "category": "Bank_Statement",
              "kind": "document",
              "startPageNumber": 2,
              "endPageNumber": 3
            },
            {
              "category": "Loan application",
              "kind": "document",
              "startPageNumber": 4,
              "endPageNumber": 4
            }
          ]
        },
        "usage": {
          "documentPages": 4,
          "tokens": {
            "contextualization": 4000,
            "input": 1559,
            "output": 67
          }
        }
      }
    },
[...]
