{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
        "tags": {
          "test_type": "simple"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "operation-location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity/operations/04736e16-ebfd-4495-93c1-ac289957f0fe?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "classifierId": "python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
        "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
        "tags": {
          "test_type": "simple"
        },
        "status": "creating",
        "createdAt": "2025-10-20T03:51:39.2378638Z",
        "lastModifiedAt": "2025-10-20T03:51:39.2378638Z",
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "processingLocation": "geography"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity/operations/04736e16-ebfd-4495-93c1-ac289957f0fe?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "classifierId": "python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
          "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
          "tags": {
            "test_type": "simple"
          },
          "status": "creating",
          "createdAt": "2025-10-20T03:51:39.2378638Z",
          "lastModifiedAt": "2025-10-20T03:51:39.2378638Z",
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity/operations/04736e16-ebfd-4495-93c1-ac289957f0fe?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "classifierId": "python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
          "description": "test classifier: python-sdk-classifier-sync-test_content_classifiers_begin_classify_url_data_mutual_exclusivity",
          "tags": {
            "test_type": "simple"
          },
          "status": "ready",
          "createdAt": "2025-10-20T03:51:39.2378638Z",
          "lastModifiedAt": "2025-10-20T03:51:39.9771909Z",
          "warnings": [],
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "python-sdk-classifier-async-test_content_classifiers_begin_create_or_replace",
            "description": "test classifier: python-sdk-classifier-async-test_content_classifiers_begin_create_or_replace",
            "tags": {
              "tag1_name": "tag1_value"
            },
            "status": "ready",
            "createdAt": "2025-10-20T03:51:39.2242785Z",
            "lastModifiedAt": "2025-10-20T03:51:39.9296182Z",
            "warnings": [],
            "categories": {
              "Loan application": {
                "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
      [...]
[...]
