{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_get' not found."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for get operation: pd-async-test_person_dir_get",
        "tags": {
          "test_type": "get_operation"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-async-test_person_dir_get",
        "description": "Test person directory for get operation: pd-async-test_person_dir_get",
        "tags": {
          "test_type": "get_operation"
        },
        "createdAt": "2025-10-20T03:52:58.000113Z",
        "lastModifiedAt": "2025-10-20T03:52:58.000113Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_get' not found."
        }
      }
    }
  ],
  "Variables": {}
}
