{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "baseAnalyzerId": "prebuilt-documentAnalyzer",
        "config": {
          "enableFormula": true,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "description": "Test analyzer for mutual exclusivity validation",
        "fieldSchema": {
          "fields": {
            "total_amount": {
              "description": "Total amount of this table",
              "method": "extract",
              "type": "number"
            }
          },
          "description": "schema description here",
          "name": "Sanitized"
        },
        "mode": "standard",
        "processingLocation": "global",
        "tags": {
          "test_type": "simple"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity/operations/0f359d87-861a-4f94-a83a-0646baf6f3fc?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "analyzerId": "python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity",
        "description": "Test analyzer for mutual exclusivity validation",
        "tags": {
          "test_type": "simple"
        },
        "createdAt": "2025-10-20T04:03:55Z",
        "lastModifiedAt": "2025-10-20T04:03:55Z",
        "baseAnalyzerId": "prebuilt-documentAnalyzer",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "disableContentFiltering": false,
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "schema description here",
          "fields": {
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount of this table"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "global",
        "mode": "standard"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity/operations/0f359d87-861a-4f94-a83a-0646baf6f3fc?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity",
          "description": "Test analyzer for mutual exclusivity validation",
          "tags": {
            "test_type": "simple"
          },
          "createdAt": "2025-10-20T04:03:55Z",
          "lastModifiedAt": "2025-10-20T04:03:55Z",
          "baseAnalyzerId": "prebuilt-documentAnalyzer",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "disableContentFiltering": false,
            "tableFormat": "html",
            "estimateFieldSourceAndConfidence": true
          },
          "fieldSchema": {
            "name": "Sanitized",
            "description": "schema description here",
            "fields": {
              "total_amount": {
                "type": "number",
                "method": "extract",
                "description": "Total amount of this table"
              }
            }
          },
          "warnings": [],
          "status": "creating",
          "processingLocation": "global",
          "mode": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "analyzerId": "prebuilt-audioAnalyzer",
            "description": "Transcribe conversations and extract summaries.",
            "createdAt": "2025-05-01T00:00:00Z",
            "config": {
              "returnDetails": true,
              "disableContentFiltering": false
            },
            "fieldSchema": {
              "name": "Sanitized",
              "fields": {
                "Summary": {
                  "type": "string",
                  "description": "A one-paragraph summary of the conversation."
                }
              }
            },
            "warnings": [],
            "status": "ready",
            "processingLocation": "geography",
            "mode": "standard"
          },
          {
            "analyzerId": "prebuilt-callCenter",
            "description": "Analyze call center conversations to extract transcripts, summaries, sentiment, and more.",
            "createdAt": "2025-05-01T00:00:00Z",
            "config": {
              "returnDetails": true,
              "disableContentFiltering": false
            },
            "fieldSchema": {
              "name": "Sanitized",
              "fields": {
                "Summary": {
                  "type": "string",
                  "description": "A one-paragraph summary"
                },
                "Topics": {
                  "type": "array",
                  "description": "Top 5 topics mentioned",
                  "items": {
                    "type": "string"
                  }
                },
                "Companies": {
                  "type": "array",
                  "description": "List of companies mentioned",
                  "items": {
                    "type": "string"
                  }
                },
                "People": {
                  "type": "array",
                  "description": "List of people mentioned",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Person's name"
                      },
                      "Role": {
                        "type": "string",
                        "description": "Person's title/role"
                      }
                    }
                  }
                },
                "Sentiment": {
                  "type": "string",
                  "method": "classify",
                  "description": "Overall sentiment",
                  "enum": [
                    "Positive",
                    "Neutral",
                    "Negative"
                  ]
                },
                "Categories": {
                  "type": "array",
                  "method": "classify",
                  "description": "List of relevant categories",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Agriculture",
                      "Business",
                      "Finance",
                      "Health",
                      "Insurance",
                      "Mining",
                      "Pharmaceutical",
                  [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity:analyze?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "url": "https://github.com/Azure-Samples/azure-ai-content-understanding-python/raw/refs/heads/main/data/invoice.pdf"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/analyzerResults/16da1e94-73c9-40da-9ad7-1de0b353c37e?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity",
          "apiVersion": "2025-05-01-preview",
          "createdAt": "2025-10-20T04:04:26Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/16da1e94-73c9-40da-9ad7-1de0b353c37e?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity",
          "apiVersion": "2025-05-01-preview",
          "createdAt": "2025-10-20T04:04:26Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-sync-test_content_analyzers_begin_analyze_mutual_exclusivity?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
