{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_async_test_classifier?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "baseAnalyzerId": "prebuilt-document",
        "description": "Custom classifier for financial document categorization",
        "config": {
          "returnDetails": true,
          "enableSegment": true,
          "contentCategories": {
            "Loan_Application": {
              "description": "Documents submitted by individuals or businesses to request funding"
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment"
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_async_test_classifier/operations/a6d64d32-5efb-4f40-a64f-eb23b57e90e0?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "python_sdk_async_test_classifier",
        "description": "Custom classifier for financial document categorization",
        "createdAt": "2026-01-16T01:18:38Z",
        "lastModifiedAt": "2026-01-16T01:18:38Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "contentCategories": {
            "Loan_Application": {
              "description": "Documents submitted by individuals or businesses to request funding"
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment"
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity"
            }
          },
          "enableSegment": true,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "warnings": [],
        "status": "ready",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_async_test_classifier/operations/a6d64d32-5efb-4f40-a64f-eb23b57e90e0?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "analyzerId": "python_sdk_async_test_classifier",
          "description": "Custom classifier for financial document categorization",
          "createdAt": "2026-01-16T01:18:38Z",
          "lastModifiedAt": "2026-01-16T01:18:38Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
  [...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_async_test_classifier?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
