{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_update_sync?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "enableFormula": true,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "description": "Initial analyzer for update test: python_sdk_sync_update_sync",
        "fieldSchema": {
          "fields": {
            "amount_due": {
              "description": "Total amount due of this table",
              "method": "extract",
              "type": "number"
            }
          },
          "description": "schema description here",
          "name": "Sanitized"
        },
        "processingLocation": "global",
        "models": {
          "completion": "gpt-4.1"
        },
        "tags": {
          "initial_tag": "initial_value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_update_sync/operations/eff7468f-aab8-4850-9d18-79550af6a91d?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "python_sdk_sync_update_sync",
        "description": "Initial analyzer for update test: python_sdk_sync_update_sync",
        "tags": {
          "initial_tag": "initial_value"
        },
        "createdAt": "2026-01-16T01:30:36Z",
        "lastModifiedAt": "2026-01-16T01:30:36Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "schema description here",
          "fields": {
            "amount_due": {
              "type": "number",
              "method": "extract",
              "description": "Total amount due of this table"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "global",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_update_sync/operations/eff7468f-aab8-4850-9d18-79550af6a91d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "python_sdk_sync_update_sync",
          "description": "Initial analyzer for update test: python_sdk_sync_update_sync",
          "tags": {
            "initial_tag": "initial_value"
          },
          "createdAt": "2026-01-16T01:30:36Z",
          "lastModifiedAt": "2026-01-16T01:30:36Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
      [...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_update_sync?api-version=2025-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "analyzerId": "python_sdk_sync_update_sync",
        "baseAnalyzerId": "prebuilt-document",
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        },
        "description": "Updated analyzer description: python_sdk_sync_update_sync",
        "tags": {
          "updated_tag": "updated_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "python_sdk_sync_update_sync",
        "description": "Updated analyzer description: python_sdk_sync_update_sync",
        "tags": {
          "updated_tag": "updated_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {},
        "warnings": [],
        "status": "undefined",
        "processingLocation": "geography",
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python_sdk_sync_update_sync?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
