{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_list_persons?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-sync-test_person_directories_list_persons' not found."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_list_persons?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for list persons: pd-sync-test_person_directories_list_persons",
        "tags": {
          "test_type": "list_persons"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-sync-test_person_directories_list_persons",
        "description": "Test person directory for list persons: pd-sync-test_person_directories_list_persons",
        "tags": {
          "test_type": "list_persons"
        },
        "createdAt": "2025-09-23T15:10:42.819179Z",
        "lastModifiedAt": "2025-09-23T15:10:42.819179Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_list_persons/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6IjIxNWU3NDczLWUyNjktNDVlNS05N2VhLTJiNGM4NjViOTMxNSIsInRhZ3MiOnsibmFtZSI6IkFsaWNlIiwicm9sZSI6InRlc3Rfc3ViamVjdCJ9LCJmYWNlSWRzIjpbXX0="
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_list_persons/persons?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": "[{\"personId\":\"215e7473-e269-45e5-97ea-2b4c865b9315\",\"tags\":{\"name\":\"Sanitized\",\"role\":\"test_subject\"}},{\"personId\":\"e048c948-3c18-467b-80a2-b52617be5af9\",\"tags\":{\"name\":\"Sanitized\",\"role\":\"test_subject\"}},{\"personId\":\"68744e0e-7905-4f4a-9ddc-b476ffad3bb5\",\"tags\":{\"name\":\"Sanitized\",\"role\":\"test_subject\"}}]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_list_persons?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-sync-test_person_directories_list_persons' not found."
        }
      }
    }
  ],
  "Variables": {}
}
