{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_delete_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for delete person: python-sdk-pd-sync-test_person_directories_delete_person",
        "tags": {
          "test_type": "delete_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "python-sdk-pd-sync-test_person_directories_delete_person",
        "description": "Test person directory for delete person: python-sdk-pd-sync-test_person_directories_delete_person",
        "tags": {
          "test_type": "delete_person"
        },
        "createdAt": "2025-08-12T19:30:51.266694Z",
        "lastModifiedAt": "2025-08-12T19:30:51.266694Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_delete_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6Ijk4MGM1MzQzLWIyNzEtNGVhOS05YTVjLTgwMzk3MmVmZTlkZSIsInRhZ3MiOnsibmFtZSI6IkJvYiBXaWxzb24iLCJyb2xlIjoidGVzdF9zdWJqZWN0In0sImZhY2VJZHMiOltdfQ=="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_delete_person/persons/980c5343-b271-4ea9-9a5c-803972efe9de?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "980c5343-b271-4ea9-9a5c-803972efe9de",
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_delete_person/persons/980c5343-b271-4ea9-9a5c-803972efe9de?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonNotFound",
          "message": "Person '980c5343-b271-4ea9-9a5c-803972efe9de' not found."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_delete_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'python-sdk-pd-sync-test_person_directories_delete_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
