{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_delete_person?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-sync-test_person_directories_delete_person' not found."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_delete_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for delete person: pd-sync-test_person_directories_delete_person",
        "tags": {
          "test_type": "delete_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-sync-test_person_directories_delete_person",
        "description": "Test person directory for delete person: pd-sync-test_person_directories_delete_person",
        "tags": {
          "test_type": "delete_person"
        },
        "createdAt": "2025-10-20T03:54:30.628061Z",
        "lastModifiedAt": "2025-10-20T03:54:30.628061Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_delete_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6IjhkNGY0ZTVjLTJlMDAtNDgyMS1iMjVlLWM1M2QzOGVkZDZjNSIsInRhZ3MiOnsibmFtZSI6IkJvYiBXaWxzb24iLCJyb2xlIjoidGVzdF9zdWJqZWN0In0sImZhY2VJZHMiOltdfQ=="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_delete_person/persons/8d4f4e5c-2e00-4821-b25e-c53d38edd6c5?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "8d4f4e5c-2e00-4821-b25e-c53d38edd6c5",
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        },
        "faceIds": []
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_delete_person/persons/8d4f4e5c-2e00-4821-b25e-c53d38edd6c5?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "Retry-After": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Rate limit is exceeded. Try again in 1 seconds."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_delete_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-sync-test_person_directories_delete_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
