{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_update?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-sync-test_person_directories_update' not found."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_update?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Initial person directory for update test: pd-sync-test_person_directories_update",
        "tags": {
          "initial_tag": "initial_value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-sync-test_person_directories_update",
        "description": "Initial person directory for update test: pd-sync-test_person_directories_update",
        "tags": {
          "initial_tag": "initial_value"
        },
        "createdAt": "2025-10-20T03:52:29.625956Z",
        "lastModifiedAt": "2025-10-20T03:52:29.625956Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_update?api-version=2025-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Updated person directory for update test: pd-sync-test_person_directories_update",
        "tags": {
          "initial_tag": "initial_value",
          "updated_tag": "updated_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-sync-test_person_directories_update",
        "description": "Updated person directory for update test: pd-sync-test_person_directories_update",
        "tags": {
          "initial_tag": "initial_value",
          "updated_tag": "updated_value"
        },
        "createdAt": "2025-10-20T03:52:29.625956Z",
        "lastModifiedAt": "2025-10-20T03:52:33.9716071Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/pd-sync-test_person_directories_update?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-sync-test_person_directories_update' not found."
        }
      }
    }
  ],
  "Variables": {}
}
