{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_delete?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_delete?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "description": "test classifier for deletion: python-sdk-classifier-sync-test_content_classifiers_delete",
        "tags": {
          "test_type": "deletion"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "Retry-After": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Rate limit is exceeded. Try again in 1 seconds."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_delete?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "description": "test classifier for deletion: python-sdk-classifier-sync-test_content_classifiers_delete",
        "tags": {
          "test_type": "deletion"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "operation-location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_delete/operations/c6c07038-919e-4144-99ba-cf94bfd41dd5?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "classifierId": "python-sdk-classifier-sync-test_content_classifiers_delete",
        "description": "test classifier for deletion: python-sdk-classifier-sync-test_content_classifiers_delete",
        "tags": {
          "test_type": "deletion"
        },
        "status": "creating",
        "createdAt": "2025-10-20T03:51:40.3430618Z",
        "lastModifiedAt": "2025-10-20T03:51:40.3430618Z",
        "categories": {
          "Loan application": {
            "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
          },
          "Invoice": {
            "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
          },
          "Bank_Statement": {
            "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
          }
        },
        "splitMode": "auto",
        "processingLocation": "geography"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_delete/operations/c6c07038-919e-4144-99ba-cf94bfd41dd5?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "classifierId": "python-sdk-classifier-sync-test_content_classifiers_delete",
          "description": "test classifier for deletion: python-sdk-classifier-sync-test_content_classifiers_delete",
          "tags": {
            "test_type": "deletion"
          },
          "status": "creating",
          "createdAt": "2025-10-20T03:51:40.3430618Z",
          "lastModifiedAt": "2025-10-20T03:51:40.3430618Z",
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers/python-sdk-classifier-sync-test_content_classifiers_delete/operations/c6c07038-919e-4144-99ba-cf94bfd41dd5?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Succeeded",
        "result": {
          "classifierId": "python-sdk-classifier-sync-test_content_classifiers_delete",
          "description": "test classifier for deletion: python-sdk-classifier-sync-test_content_classifiers_delete",
          "tags": {
            "test_type": "deletion"
          },
          "status": "ready",
          "createdAt": "2025-10-20T03:51:40.3430618Z",
          "lastModifiedAt": "2025-10-20T03:51:40.9333651Z",
          "warnings": [],
          "categories": {
            "Loan application": {
              "description": "Documents submitted by individuals or businesses to request funding, typically including personal or business details, financial history, loan amount, purpose, and supporting documentation."
            },
            "Invoice": {
              "description": "Billing documents issued by sellers or service providers to request payment for goods or services, detailing items, prices, taxes, totals, and payment terms."
            },
            "Bank_Statement": {
              "description": "Official statements issued by banks that summarize account activity over a period, including deposits, withdrawals, fees, and balances."
            }
          },
          "splitMode": "auto",
          "processingLocation": "geography"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/classifiers?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "python-sdk-classifier-async-test_content_classifiers_delete",
            "description": "test classifier for deletion: python-sdk-classifier-async-test_content_classifiers_delete",
            "tags": {
              "test_type": "deletion"
            },
            "status": "ready",
            "createdAt": "2025-10-20T03:51:41.5740113Z",
            "lastModifiedAt": "2025-10-20T03:51:43.3393152Z",
            "warnings": [],
            "categori[...]
[...]
