{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_list_persons?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for list persons: python-sdk-pd-sync-test_person_directories_list_persons",
        "tags": {
          "test_type": "list_persons"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "python-sdk-pd-sync-test_person_directories_list_persons",
        "description": "Test person directory for list persons: python-sdk-pd-sync-test_person_directories_list_persons",
        "tags": {
          "test_type": "list_persons"
        },
        "createdAt": "2025-08-12T19:30:59.298266Z",
        "lastModifiedAt": "2025-08-12T19:30:59.298266Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_list_persons/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6IjAzMTc3ZjY2LWQ0MzEtNDY0YS05NjNmLTkzZWI3ODJmNDcyNyIsInRhZ3MiOnsibmFtZSI6IkFsaWNlIiwicm9sZSI6InRlc3Rfc3ViamVjdCJ9LCJmYWNlSWRzIjpbXX0="
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_list_persons/persons?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": "[{\"personId\":\"03177f66-d431-464a-963f-93eb782f4727\",\"tags\":{\"name\":\"Sanitized\",\"role\":\"test_subject\"}},{\"personId\":\"f563d8cb-e98a-41b5-ac62-398604236ad9\",\"tags\":{\"name\":\"Sanitized\",\"role\":\"test_subject\"}},{\"personId\":\"c8fc8712-5136-4b8e-8999-49c5fdb0c81a\",\"tags\":{\"name\":\"Sanitized\",\"role\":\"test_subject\"}}]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_list_persons?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'python-sdk-pd-sync-test_person_directories_list_persons' not found."
        }
      }
    }
  ],
  "Variables": {}
}
