{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_add_person?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_add_person' not found."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_add_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for add person: pd-async-test_person_dir_add_person",
        "tags": {
          "test_type": "add_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-async-test_person_dir_add_person",
        "description": "Test person directory for add person: pd-async-test_person_dir_add_person",
        "tags": {
          "test_type": "add_person"
        },
        "createdAt": "2025-09-23T14:41:37.793488Z",
        "lastModifiedAt": "2025-09-23T14:41:37.793488Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_add_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject",
          "department": "engineering"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6ImI2NDI2ZDQxLTg3MjQtNDI4My1iOWVkLTYzYmZjNjI1ODQ4NyIsInRhZ3MiOnsiZGVwYXJ0bWVudCI6ImVuZ2luZWVyaW5nIiwibmFtZSI6IkpvaG4gRG9lIiwicm9sZSI6InRlc3Rfc3ViamVjdCJ9LCJmYWNlSWRzIjpbXX0="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_add_person/persons/b6426d41-8724-4283-b9ed-63bfc6258487?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "b6426d41-8724-4283-b9ed-63bfc6258487",
        "tags": {
          "department": "engineering",
          "name": "Sanitized",
          "role": "test_subject"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_add_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_add_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
