{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get_person?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_get_person' not found."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for get person: pd-async-test_person_dir_get_person",
        "tags": {
          "test_type": "get_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "pd-async-test_person_dir_get_person",
        "description": "Test person directory for get person: pd-async-test_person_dir_get_person",
        "tags": {
          "test_type": "get_person"
        },
        "createdAt": "2025-09-23T14:40:41.709222Z",
        "lastModifiedAt": "2025-09-23T14:40:41.709222Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject",
          "department": "marketing"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6IjkwMmQ5OTVlLTJlZDktNGEyOS05ODE2LWQ2Y2IxZGUyODcxYyIsInRhZ3MiOnsiZGVwYXJ0bWVudCI6Im1hcmtldGluZyIsIm5hbWUiOiJBbGljZSBKb2huc29uIiwicm9sZSI6InRlc3Rfc3ViamVjdCJ9LCJmYWNlSWRzIjpbXX0="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get_person/persons/902d995e-2ed9-4a29-9816-d6cb1de2871c?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "902d995e-2ed9-4a29-9816-d6cb1de2871c",
        "tags": {
          "department": "marketing",
          "name": "Sanitized",
          "role": "test_subject"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/pd-async-test_person_dir_get_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'pd-async-test_person_dir_get_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
