{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.queue.core.windows.net/queueclienttestclearmessages",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 12:49:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.queue.core.windows.net/queueclienttestclearmessages/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Mon, 17 Jun 2024 12:49:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessage><MessageText>message content.</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>caecbb43-15c9-47e8-b736-cc46323947be</MessageId><InsertionTime>Mon, 17 Jun 2024 12:49:13 GMT</InsertionTime><ExpirationTime>Mon, 24 Jun 2024 12:49:13 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAJQRZwbTA2gE=</PopReceipt><TimeNextVisible>Mon, 17 Jun 2024 12:49:13 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.queue.core.windows.net/queueclienttestclearmessages/messages?peekonly=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 12:49:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList />"
    },
    {
      "RequestUri": "https://Sanitized.queue.core.windows.net/queueclienttestclearmessages",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 12:49:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
