{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/chat/threads/19%3AHU4wRcycpQiXDfJFXtwlAMfqhjgATubRwiOXnoarEZA1%40thread.v2?api-version=2024-06-05-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "topic": "new topic"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview",
        "mise-correlation-id": "c03faf29-2ac4-45ac-b86e-037f53bc332a",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "243ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/chat/threads/19%3AHU4wRcycpQiXDfJFXtwlAMfqhjgATubRwiOXnoarEZA1%40thread.v2?api-version=2024-06-05-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5f98d842-3d6d-44aa-ab97-ffe27f57c918",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "182ms"
      },
      "ResponseBody": {
        "id": "19:HU4wRcycpQiXDfJFXtwlAMfqhjgATubRwiOXnoarEZA1@thread.v2",
        "topic": "new topic",
        "createdOn": "2024-06-05T22:25:50Z",
        "createdByCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69"
          }
        },
        "metadata": {
          "threadType": "primary",
          "secondaryThread": "test-id"
        },
        "retentionPolicy": {
          "kind": "threadCreationDate",
          "deleteThreadAfterDays": 60
        },
        "messagingPolicy": {
          "textOnlyChat": false
        }
      }
    }
  ],
  "Variables": {}
}
