{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 22:25:49 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "chat"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "87ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTc2Mjk5NDcuNTEzfQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2024-06-06T22:25:49.7921959+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2024-06-05-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "Sanitized"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69"
              }
            }
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-cd58-69ff-9c3a0d000357",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-cd58-69ff-9c3a0d000357"
              }
            }
          }
        ],
        "metadata": {
          "threadType": "primary",
          "secondaryThread": "test-id"
        },
        "retentionPolicy": {
          "kind": "threadCreationDate",
          "deleteThreadAfterDays": 60
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://endpoint/chat/threads/19%3AHU4wRcycpQiXDfJFXtwlAMfqhjgATubRwiOXnoarEZA1@thread.v2",
        "mise-correlation-id": "c2a4e029-34b8-4beb-979e-b1ba42cf23df",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "561ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:HU4wRcycpQiXDfJFXtwlAMfqhjgATubRwiOXnoarEZA1@thread.v2",
          "topic": "test topic",
          "createdOn": "2024-06-05T22:25:50Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69",
            "communicationUser": {
              "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a63-ccd8-3dfe-9c3a0d00bd69"
            }
          },
          "metadata": {
            "threadType": "primary",
            "secondaryThread": "test-id"
          },
          "retentionPolicy": {
            "kind": "threadCreationDate",
            "deleteThreadAfterDays": 60
          },
          "messagingPolicy": {
            "textOnlyChat": false
          }
        }
      }
    }
  ],
  "Variables": {}
}
