{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest591?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest591",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6UxDL5QAhnZ_7RhWPGJacNeJJNNoKwO5OLvJ9d7bUmc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NzU=;sn=74229475"
      },
      "ResponseBody": {
        "etag": "6UxDL5QAhnZ_7RhWPGJacNeJJNNoKwO5OLvJ9d7bUmc",
        "key": "getConfigTest591",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:30:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/getConfigTest591?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"82KGK2sW03vfPn1i6py7dH-H7YXZNfghdnJvdM9D-TM\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0Nzc=;sn=74229477"
      },
      "ResponseBody": {
        "etag": "82KGK2sW03vfPn1i6py7dH-H7YXZNfghdnJvdM9D-TM",
        "key": "getConfigTest591",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-02T15:30:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest591?api-version=2023-11-01&label=a%20label&$Select=locked,content_type,last_modified,label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0Nzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"82KGK2sW03vfPn1i6py7dH-H7YXZNfghdnJvdM9D-TM\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0Nzg=;sn=74229478"
      },
      "ResponseBody": {
        "label": "a label",
        "content_type": "a content type",
        "locked": true,
        "last_modified": "2025-10-02T15:30:10+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest591"
  }
}
