{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest488?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest488",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ofaywGub5qxiPssY2VT8d6B1Vl3KTfcn9frHzMyINMU\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIzNA==;sn=102477234",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:51 GMT"
      },
      "ResponseBody": {
        "etag": "ofaywGub5qxiPssY2VT8d6B1Vl3KTfcn9frHzMyINMU",
        "key": "getConfigTest488",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest488?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ofaywGub5qxiPssY2VT8d6B1Vl3KTfcn9frHzMyINMU\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIzNA==;sn=102477234",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:51 GMT"
      },
      "ResponseBody": {
        "etag": "ofaywGub5qxiPssY2VT8d6B1Vl3KTfcn9frHzMyINMU",
        "key": "getConfigTest488",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest488?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzIzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ofaywGub5qxiPssY2VT8d6B1Vl3KTfcn9frHzMyINMU\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzIzNQ==;sn=102477235",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:51 GMT"
      },
      "ResponseBody": {
        "etag": "ofaywGub5qxiPssY2VT8d6B1Vl3KTfcn9frHzMyINMU",
        "key": "getConfigTest488",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:08:51+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest488"
  }
}
