{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTestNA873?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNTQ=;sn=74855354",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:23 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getConfigTestNA": "getConfigTestNA873"
  }
}
