{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate220?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V6MA05W4fdqirrEqS5xT2seJ5M-NRLTTVA0vENfTIYc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:26 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcwNg==;sn=53365706",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:26 GMT"
      },
      "ResponseBody": {
        "etag": "V6MA05W4fdqirrEqS5xT2seJ5M-NRLTTVA0vENfTIYc",
        "key": "getConfigurationSettingByDate220",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:28:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate220?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTcwNg=="
      },
      "RequestBody": {
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lTS7rLAqjGiHRBsn3z97M8imGO6tAdLtVQndiCos9eA\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcxMA==;sn=53365710",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:27 GMT"
      },
      "ResponseBody": {
        "etag": "lTS7rLAqjGiHRBsn3z97M8imGO6tAdLtVQndiCos9eA",
        "key": "getConfigurationSettingByDate220",
        "label": null,
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:28:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate220?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-06-15T18:28:26.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTcxMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V6MA05W4fdqirrEqS5xT2seJ5M-NRLTTVA0vENfTIYc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:26 GMT",
        "Link": "</kv/getConfigurationSettingByDate220?api-version=2026-04-01>; rel=\"original\"",
        "Memento-Datetime": "Mon, 15 Jun 2026 18:28:26 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcxMQ==;sn=53365711",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:27 GMT"
      },
      "ResponseBody": {
        "etag": "V6MA05W4fdqirrEqS5xT2seJ5M-NRLTTVA0vENfTIYc",
        "key": "getConfigurationSettingByDate220",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:28:26+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigurationSettingByDate": "getConfigurationSettingByDate220"
  }
}
