{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest478?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest478",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p7_5PdILnRMKabO-YNphnZ1JckdkWqxg-ux8iDl2niw\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTU3;sn=2799957"
      },
      "ResponseBody": {
        "etag": "p7_5PdILnRMKabO-YNphnZ1JckdkWqxg-ux8iDl2niw",
        "key": "getConfigTest478",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T18:19:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest478?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p7_5PdILnRMKabO-YNphnZ1JckdkWqxg-ux8iDl2niw\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTU3;sn=2799957"
      },
      "ResponseBody": {
        "etag": "p7_5PdILnRMKabO-YNphnZ1JckdkWqxg-ux8iDl2niw",
        "key": "getConfigTest478",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T18:19:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest478?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p7_5PdILnRMKabO-YNphnZ1JckdkWqxg-ux8iDl2niw\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTU4;sn=2799958"
      },
      "ResponseBody": {
        "etag": "p7_5PdILnRMKabO-YNphnZ1JckdkWqxg-ux8iDl2niw",
        "key": "getConfigTest478",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T18:19:47+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest478"
  }
}
