{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest128?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest128",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R_v1QtCRjz_t1t-L9IGcIJ-hxSD-w6-sQdszeC3VBk0\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNTk=;sn=74855359",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:29 GMT"
      },
      "ResponseBody": {
        "etag": "R_v1QtCRjz_t1t-L9IGcIJ-hxSD-w6-sQdszeC3VBk0",
        "key": "getConfigTest128",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/getConfigTest128?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"egCicZKocytb5T1beIBJOTzD6d476xhpp-cCOvWxeR8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjA=;sn=74855360",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:29 GMT"
      },
      "ResponseBody": {
        "etag": "egCicZKocytb5T1beIBJOTzD6d476xhpp-cCOvWxeR8",
        "key": "getConfigTest128",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-26T07:55:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest128?$select=locked,content_type,last_modified,label&api-version=2023-11-01&label=a%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"egCicZKocytb5T1beIBJOTzD6d476xhpp-cCOvWxeR8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUzNjE=;sn=74855361",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:29 GMT"
      },
      "ResponseBody": {
        "label": "a label",
        "content_type": "a content type",
        "locked": true,
        "last_modified": "2025-10-26T07:55:29+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest128"
  }
}
