{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest695?api-version=2023-11-01&label=a+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest695",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AB_gLgcUiBTcy8Zqwlh5rCWFJIqjCV2sDlB3BzQ6pyI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2MTc=;sn=74013617"
      },
      "ResponseBody": {
        "etag": "AB_gLgcUiBTcy8Zqwlh5rCWFJIqjCV2sDlB3BzQ6pyI",
        "key": "getConfigTest695",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/getConfigTest695?api-version=2023-11-01&label=a+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2MTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9_9qXiBuuz3WqgxR9SuO3zazZHx-S467FKLqfYBXWDw\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2MTk=;sn=74013619"
      },
      "ResponseBody": {
        "etag": "9_9qXiBuuz3WqgxR9SuO3zazZHx-S467FKLqfYBXWDw",
        "key": "getConfigTest695",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-25T08:45:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest695?%24select=locked%2Ccontent_type%2Clast_modified%2Clabel&api-version=2023-11-01&label=a+label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM2MTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9_9qXiBuuz3WqgxR9SuO3zazZHx-S467FKLqfYBXWDw\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM2MjA=;sn=74013620"
      },
      "ResponseBody": {
        "label": "a label",
        "content_type": "a content type",
        "locked": true,
        "last_modified": "2025-09-25T08:45:56+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest695"
  }
}
