{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest793?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest793",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8msS0uR0dPNN3SVNMaPHeoVVmNH16aFq9E5Yr6xPxf4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MjI=;sn=75080922",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:47 GMT"
      },
      "ResponseBody": {
        "etag": "8msS0uR0dPNN3SVNMaPHeoVVmNH16aFq9E5Yr6xPxf4",
        "key": "getConfigTest793",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:23:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest793?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5MjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8msS0uR0dPNN3SVNMaPHeoVVmNH16aFq9E5Yr6xPxf4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MjI=;sn=75080922",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:47 GMT"
      },
      "ResponseBody": {
        "etag": "8msS0uR0dPNN3SVNMaPHeoVVmNH16aFq9E5Yr6xPxf4",
        "key": "getConfigTest793",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:23:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest793?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5MjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8msS0uR0dPNN3SVNMaPHeoVVmNH16aFq9E5Yr6xPxf4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MjM=;sn=75080923",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:47 GMT"
      },
      "ResponseBody": {
        "etag": "8msS0uR0dPNN3SVNMaPHeoVVmNH16aFq9E5Yr6xPxf4",
        "key": "getConfigTest793",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:23:47+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest793"
  }
}
