{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest840?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z8cZ7HF673_gM7jl_emT_Pe5D1vYjjj3VQZBlFOEwRI\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2OA==;sn=113153568",
        "x-ms-date": "Thu, 07 May 2026 20:26:53 GMT"
      },
      "ResponseBody": {
        "etag": "Z8cZ7HF673_gM7jl_emT_Pe5D1vYjjj3VQZBlFOEwRI",
        "key": "getConfigTest840",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:26:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest840?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU2OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z8cZ7HF673_gM7jl_emT_Pe5D1vYjjj3VQZBlFOEwRI\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2OA==;sn=113153568",
        "x-ms-date": "Thu, 07 May 2026 20:26:53 GMT"
      },
      "ResponseBody": {
        "etag": "Z8cZ7HF673_gM7jl_emT_Pe5D1vYjjj3VQZBlFOEwRI",
        "key": "getConfigTest840",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:26:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest840?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU2OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z8cZ7HF673_gM7jl_emT_Pe5D1vYjjj3VQZBlFOEwRI\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU2OQ==;sn=113153569",
        "x-ms-date": "Thu, 07 May 2026 20:26:53 GMT"
      },
      "ResponseBody": {
        "etag": "Z8cZ7HF673_gM7jl_emT_Pe5D1vYjjj3VQZBlFOEwRI",
        "key": "getConfigTest840",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:26:53+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest840"
  }
}
