{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate18?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate18",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S_efn7E3try_IKb9F2d-FE-2Zbcm3-3o6ti3YOa65a0\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1ODU=;sn=73738585"
      },
      "ResponseBody": {
        "etag": "S_efn7E3try_IKb9F2d-FE-2Zbcm3-3o6ti3YOa65a0",
        "key": "getConfigurationSettingByDate18",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate18?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg1ODU="
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate18",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5p34Kgb7cTjg6Xfta0gpA0QdlPo-H8BvwnGTeXB8YEI\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1ODk=;sn=73738589"
      },
      "ResponseBody": {
        "etag": "5p34Kgb7cTjg6Xfta0gpA0QdlPo-H8BvwnGTeXB8YEI",
        "key": "getConfigurationSettingByDate18",
        "label": null,
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate18?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "2025-09-16T11:23:46.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg1ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S_efn7E3try_IKb9F2d-FE-2Zbcm3-3o6ti3YOa65a0\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:46 GMT",
        "Link": "</kv/getConfigurationSettingByDate18?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Tue, 16 Sep 2025 11:23:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1OTA=;sn=73738590"
      },
      "ResponseBody": {
        "etag": "S_efn7E3try_IKb9F2d-FE-2Zbcm3-3o6ti3YOa65a0",
        "key": "getConfigurationSettingByDate18",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:46+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigurationSettingByDate": "getConfigurationSettingByDate18"
  }
}
