{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest795?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest795",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Pg2UM-rn4L28XIAr9k0WVwtWLlLDMKkDcxwAZnX0JjQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTIzMA==;sn=103579230",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:24 GMT"
      },
      "ResponseBody": {
        "etag": "Pg2UM-rn4L28XIAr9k0WVwtWLlLDMKkDcxwAZnX0JjQ",
        "key": "getConfigTest795",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:37:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest795?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTIzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Pg2UM-rn4L28XIAr9k0WVwtWLlLDMKkDcxwAZnX0JjQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTIzMA==;sn=103579230",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:24 GMT"
      },
      "ResponseBody": {
        "etag": "Pg2UM-rn4L28XIAr9k0WVwtWLlLDMKkDcxwAZnX0JjQ",
        "key": "getConfigTest795",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:37:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest795?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTIzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Pg2UM-rn4L28XIAr9k0WVwtWLlLDMKkDcxwAZnX0JjQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTIzMQ==;sn=103579231",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:24 GMT"
      },
      "ResponseBody": {
        "etag": "Pg2UM-rn4L28XIAr9k0WVwtWLlLDMKkDcxwAZnX0JjQ",
        "key": "getConfigTest795",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:37:24+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest795"
  }
}
