{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "eb56be3f-7a4b-49da-8df5-44e3dd5a1785",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31484509553_3fcabb0f-a953-4308-a2ec-bbce76b32792?api-version=2022-08-31",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31484509553_3fcabb0f-a953-4308-a2ec-bbce76b32792?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31484509553_3fcabb0f-a953-4308-a2ec-bbce76b32792",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-18T22:54:06Z",
        "lastUpdatedDateTime": "2023-04-18T22:54:06Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/eb56be3f-7a4b-49da-8df5-44e3dd5a1785?api-version=2022-08-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31484509553_3fcabb0f-a953-4308-a2ec-bbce76b32792?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Europe"
      },
      "ResponseBody": {
        "operationId": "31484509553_3fcabb0f-a953-4308-a2ec-bbce76b32792",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-18T22:54:06Z",
        "lastUpdatedDateTime": "2023-04-18T22:54:15Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/eb56be3f-7a4b-49da-8df5-44e3dd5a1785?api-version=2022-08-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "eb56be3f-7a4b-49da-8df5-44e3dd5a1785": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "eb56be3f-7a4b-49da-8df5-44e3dd5a1785",
          "createdDateTime": "2023-04-18T22:54:15Z",
          "expirationDateTime": "2025-04-17T22:54:15Z",
          "apiVersion": "2022-08-31"
        }
      }
    }
  ],
  "Variables": {}
}
