{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "07a53b02-41dc-4f1a-a982-d5033aedfd41"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "07a53b02-41dc-4f1a-a982-d5033aedfd41",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/07a53b02-41dc-4f1a-a982-d5033aedfd41?api-version=2023-07-31",
        "accessToken": "redacted",
        "expirationDateTime": "2023-07-18T01:25:32Z"
      }
    }
  ],
  "Variables": {}
}
