{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "7a2102fd-31a7-4ab3-a6f2-5a43cee7a0b8",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710018_1dd2037f-d58a-40fd-8b4c-1d5fcb372473?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710018_1dd2037f-d58a-40fd-8b4c-1d5fcb372473?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710018_1dd2037f-d58a-40fd-8b4c-1d5fcb372473",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T05:26:22Z",
        "lastUpdatedDateTime": "2023-07-18T05:26:24Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/7a2102fd-31a7-4ab3-a6f2-5a43cee7a0b8?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710018_1dd2037f-d58a-40fd-8b4c-1d5fcb372473?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710018_1dd2037f-d58a-40fd-8b4c-1d5fcb372473",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:26:22Z",
        "lastUpdatedDateTime": "2023-07-18T05:26:25Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/7a2102fd-31a7-4ab3-a6f2-5a43cee7a0b8?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "7a2102fd-31a7-4ab3-a6f2-5a43cee7a0b8": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "MerchantAddress": {
                  "type": "string"
                },
                "MerchantPhoneNumber": {
                  "type": "string"
                },
                "CustomerName": {
                  "type": "string"
                },
                "CustomerAddress": {
                  "type": "string"
                },
                "CustomerPhoneNumber": {
                  "type": "string"
                },
                "FirstItem": {
                  "type": "string"
                },
                "FirstQuantity": {
                  "type": "string"
                },
                "FirstPrice": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Tip": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Merchant2": {
                  "type": "string"
                },
                "Customer2": {
                  "type": "string"
                },
                "Total2": {
                  "type": "string"
                },
                "Signature2": {
                  "type": "string"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "Customer2": 0.995,
                "CustomerAddress": 0.995,
                "CustomerName": 0.995,
                "CustomerPhoneNumber": 0.995,
                "FirstItem": 0.995,
                "FirstPrice": 0.995,
                "FirstQuantity": 0.995,
                "Merchant": 0,
                "Merchant2": 0,
                "MerchantAddress": 0.995,
                "MerchantPhoneNumber": 0.995,
                "Signature": 0.995,
                "Signature2": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Tip": 0.995,
                "Total": 0.995,
                "Total2": 0.995
              }
            }
          },
          "modelId": "7a2102fd-31a7-4ab3-a6f2-5a43cee7a0b8",
          "createdDateTime": "2023-07-18T05:26:25Z",
          "expirationDateTime": "2025-07-17T05:26:25Z",
          "apiVersion": "2023-07-31"
        }
      }
    }
  ],
  "Variables": {}
}
