{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "aeeb248b-acc7-4f8c-9a97-6cb9f8e44f8e",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476727202_a90159dd-cd0e-408b-84bc-fc102900d7b0?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476727202_a90159dd-cd0e-408b-84bc-fc102900d7b0?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476727202_a90159dd-cd0e-408b-84bc-fc102900d7b0",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T00:39:58Z",
        "lastUpdatedDateTime": "2023-07-18T00:40:00Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/aeeb248b-acc7-4f8c-9a97-6cb9f8e44f8e?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476727202_a90159dd-cd0e-408b-84bc-fc102900d7b0?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476727202_a90159dd-cd0e-408b-84bc-fc102900d7b0",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T00:39:58Z",
        "lastUpdatedDateTime": "2023-07-18T00:40:00Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/aeeb248b-acc7-4f8c-9a97-6cb9f8e44f8e?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "aeeb248b-acc7-4f8c-9a97-6cb9f8e44f8e": {
              "fieldSchema": {
                "table": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "string"
                      },
                      "Price": {
                        "type": "string"
                      },
                      "Tax": {
                        "type": "string"
                      },
                      "Total": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995,
                "table: Item": 0.995,
                "table: Price": 0.995,
                "table: Tax": 0.995,
                "table: Total": 0.995
              }
            }
          },
          "modelId": "aeeb248b-acc7-4f8c-9a97-6cb9f8e44f8e",
          "createdDateTime": "2023-07-18T00:40:00Z",
          "expirationDateTime": "2025-07-17T00:40:00Z",
          "apiVersion": "2023-07-31"
        }
      }
    }
  ],
  "Variables": {}
}
