{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "operationId": "31486927146_fab58ce6-5cc0-4e37-8689-3e281b433475",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-03-21T23:20:54Z",
            "lastUpdatedDateTime": "2023-03-21T23:20:56Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/fad898c0-757f-4424-bce1-0d6bb6db75b4?api-version=2023-02-28-preview",
            "percentCompleted": 100
          },
          {
            "operationId": "31486927164_4b8435d2-eb46-44e0-8eeb-be01f1a09bda",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-03-21T23:20:36Z",
            "lastUpdatedDateTime": "2023-03-21T23:20:38Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/416d93ef-9a22-4d6d-a9b6-eba6048a5a53?api-version=2023-02-28-preview",
            "perce[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486930221_a4bca5da-25f8-4591-8d75-c635eb13f6fd?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486930221_a4bca5da-25f8-4591-8d75-c635eb13f6fd",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-21T22:29:38Z",
        "lastUpdatedDateTime": "2023-03-21T22:29:41Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/c3802173-aa22-46d5-a1f3-9d627b770259?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "c3802173-aa22-46d5-a1f3-9d627b770259": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "c3802173-aa22-46d5-a1f3-9d627b770259",
          "createdDateTime": "2023-03-21T22:29:41Z",
          "expirationDateTime": "2025-03-20T22:29:41Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    }
  ],
  "Variables": {}
}
