{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "482c3dc7-2e40-4111-bbb6-52626df59557",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927103_3dae0433-494d-4790-96a8-39bc5fb00df2?api-version=2023-02-28-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927103_3dae0433-494d-4790-96a8-39bc5fb00df2?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486927103_3dae0433-494d-4790-96a8-39bc5fb00df2",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-03-21T23:21:37Z",
        "lastUpdatedDateTime": "2023-03-21T23:21:38Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/482c3dc7-2e40-4111-bbb6-52626df59557?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927103_3dae0433-494d-4790-96a8-39bc5fb00df2?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486927103_3dae0433-494d-4790-96a8-39bc5fb00df2",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-21T23:21:37Z",
        "lastUpdatedDateTime": "2023-03-21T23:21:38Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/482c3dc7-2e40-4111-bbb6-52626df59557?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "482c3dc7-2e40-4111-bbb6-52626df59557": {
              "fieldSchema": {
                "table": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "string"
                      },
                      "Price": {
                        "type": "string"
                      },
                      "Tax": {
                        "type": "string"
                      },
                      "Total": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995,
                "table: Item": 0.995,
                "table: Price": 0.995,
                "table: Tax": 0.995,
                "table: Total": 0.995
              }
            }
          },
          "modelId": "482c3dc7-2e40-4111-bbb6-52626df59557",
          "createdDateTime": "2023-03-21T23:21:38Z",
          "expirationDateTime": "2025-03-20T23:21:38Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    }
  ],
  "Variables": {}
}
