{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "cbb817a7-6ce5-4d5e-ae9a-27f801865eeb",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-A.jsonl"
            }
          },
          "IRS-1040-B": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-B.jsonl"
            }
          },
          "IRS-1040-C": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-C.jsonl"
            }
          },
          "IRS-1040-D": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-D.jsonl"
            }
          },
          "IRS-1040-E": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-E.jsonl"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476711386_ee76e605-e851-4d36-a1c8-1c029e0fe461?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476711386_ee76e605-e851-4d36-a1c8-1c029e0fe461?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476711386_ee76e605-e851-4d36-a1c8-1c029e0fe461",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-07-18T05:03:34Z",
        "lastUpdatedDateTime": "2023-07-18T05:03:34Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/cbb817a7-6ce5-4d5e-ae9a-27f801865eeb?api-version=2023-07-31"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476711386_ee76e605-e851-4d36-a1c8-1c029e0fe461?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476711386_ee76e605-e851-4d36-a1c8-1c029e0fe461",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:03:34Z",
        "lastUpdatedDateTime": "2023-07-18T05:03:54Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/cbb817a7-6ce5-4d5e-ae9a-27f801865eeb?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "classifierId": "cbb817a7-6ce5-4d5e-ae9a-27f801865eeb",
          "createdDateTime": "2023-07-18T05:03:54Z",
          "expirationDateTime": "2025-07-17T05:03:54Z",
          "apiVersion": "2023-07-31",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobFileListSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "fileList": "IRS-1040-A.jsonl"
              }
            },
            "IRS-1040-B": {
              "azureBlobFileListSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "fileList": "IRS-1040-B.jsonl"
              }
            },
            "IRS-1040-C": {
              "azureBlobFileListSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "fileList": "IRS-1040-C.jsonl"
              }
            },
            "IRS-1040-D": {
              "azureBlobFileListSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "fileList": "IRS-1040-D.jsonl"
              }
            },
            "IRS-1040-E": {
              "azureBlobFileListSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "fileList": "IRS-1040-E.jsonl"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
