{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "bc6c14b9-2a2c-41d8-9cef-bbcfec95bbf7"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "bc6c14b9-2a2c-41d8-9cef-bbcfec95bbf7",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/bc6c14b9-2a2c-41d8-9cef-bbcfec95bbf7?api-version=2023-07-31",
        "accessToken": "Sanitized",
        "expirationDateTime": "2023-07-18T06:20:14Z"
      }
    }
  ],
  "Variables": {}
}
