{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "operationId": "31476710109_3bf77746-3d2a-4fdf-a703-8309348957dd",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-07-18T05:24:50Z",
            "lastUpdatedDateTime": "2023-07-18T05:24:54Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/1f1990f3-54d8-44d6-b4df-1d6e18470a34?api-version=2023-07-31",
            "percentCompleted": 100
          },
          {
            "operationId": "31476710228_2158a582-9d40-4e2d-98ba-ec6979b1b091",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-07-18T05:22:51Z",
            "lastUpdatedDateTime": "2023-07-18T05:22:55Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/73ebfc1a-3938-4795-a4ba-e4337a1bf4c9?api-version=2023-07-31",
            "percentComple[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-07-31\u0026nextLink=2!228!MDAwMTI1IXN1YnNjcmlwdGlvbnMvNzRhNzNiODNjNTkzNGUwOThlMjhkOTQ1NTMwN2RhYjgvb3BlcmF0aW9ucy8zMTQ3NjcyNzE3N19mY2Q5M2JiOS02MWUwLTRlMjktOTUxOS1hOTlkZWEwNDIxNmYvb3BlcmF0aW9uSW5mby5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-07-31\u0026nextLink=2!228!MDAwMTI1IXN1YnNjcmlwdGlvbnMvNzRhNzNiODNjNTkzNGUwOThlMjhkOTQ1NTMwN2RhYjgvb3BlcmF0aW9ucy8zMTQ3NjczMDA1NV81ZTJlYmYwZC1kMmZjLTRjMjYtOGRjNi00ZmM2ZTNkOTdiOWEvb3BlcmF0aW9uSW5mby5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-07-31\u0026nextLink=2!228!MDAwMTI1IXN1YnNjcmlwdGlvbnMvNzRhNzNiODNjNTkzNGUwOThlMjhkOTQ1NTMwN2RhYjgvb3BlcmF0aW9ucy8zMTQ3NzA3MjQ1Ml82ODZjYzM4NS05M2EyLTQyYTgtOGFkNi1hMmY3ZWY2NWEzMzkvb3BlcmF0aW9uSW5mby5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-07-31\u0026nextLink=2!228!MDAwMTI1IXN1YnNjcmlwdGlvbnMvNzRhNzNiODNjNTkzNGUwOThlMjhkOTQ1NTMwN2RhYjgvb3BlcmF0aW9ucy8zMTQ3NzA4NDU1MF85NGZjZDUxMy00NzVlLTRiOTUtYWY1My1hNDJkOGY2OGIwM2Qvb3BlcmF0aW9uSW5mby5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "operationId": "31477084550_94fcd513-475e-4b95-af53-a42d8f68b03d",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-07-13T21:24:09Z",
            "lastUpdatedDateTime": "2023-07-13T21:24:13Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/82566415?api-version=2023-07-31",
            "percentCompleted": 100,
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            }
          },
          {
            "operationId": "31477084555_a766a1bb-f504-4746-ba6c-082c95d4b6df",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-07-13T21:24:05Z",
            "lastUpdatedDateTime": "2023-07-13T21:24:08Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/402359481?api-version=2023-07-31",
            "percentCompleted": 10[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-07-31\u0026nextLink=2!228!MDAwMTI1IXN1YnNjcmlwdGlvbnMvNzRhNzNiODNjNTkzNGUwOThlMjhkOTQ1NTMwN2RhYjgvb3BlcmF0aW9ucy8zMTQ3NzA4ODQ0NF8wYjNlNzMzNC0yOGYyLTQ3YjEtODFkYy01MDY3NDI4MDVhM2Yvb3BlcmF0aW9uSW5mby5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31477180639_a73f233f-65b3-4f4c-a7c5-6592558ff271?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31477180639_a73f233f-65b3-4f4c-a7c5-6592558ff271",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-12T18:42:41Z",
        "lastUpdatedDateTime": "2023-07-12T19:12:55Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/2023-02-28-preview-Simple-Neural?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "2023-02-28-preview-Simple-Neural": {
              "fieldSchema": {
                "Address": {
                  "type": "string"
                },
                "Charges": {
                  "type": "string"
                },
                "Company_Name": {
                  "type": "string"
                },
                "Invoice_Date": {
                  "type": "string"
                },
                "Invoice_Due_Date": {
                  "type": "string"
                },
                "Invoice_For": {
                  "type": "string"
                },
                "Invoice_Number": {
                  "type": "string"
                },
                "VAT_ID": {
                  "type": "string"
                }
              },
              "buildMode": "neural"
            }
          },
          "modelId": "2023-02-28-preview-Simple-Neural",
          "createdDateTime": "2023-07-12T19:12:55Z",
          "expirationDateTime": "2025-07-11T19:12:55Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31477180842_db379f3c-ea1d-4406-9e86-e859513e3d7f?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31477180842_db379f3c-ea1d-4406-9e86-e859513e3d7f",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-12T18:39:17Z",
        "lastUpdatedDateTime": "2023-07-12T18:39:23Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/2023-02-28-preview-Classifier-1?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "2023-02-28-preview-Classifier-1",
          "createdDateTime": "2023-07-12T18:39:23Z",
          "expirationDateTime": "2025-07-11T18:39:23Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "Simple": {
              "azureBlobSource": {
                "containerUrl": "https://vdifrtest3storepub.blob.core.windows.net/test-data",
                "prefix": "2023-02-28-preview-Classifier-1/Simple/"
              }
            },
            "Signature": {
              "azureBlobSource": {
                "containerUrl": "https://vdifrtest3storepub.blob.core.windows.net/test-data",
                "prefix": "2023-02-28-preview-Classifier-1/Signature/"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31477086528_7e31f96c-d59b-4ba2-9909-e9947a64a10a?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31477086528_7e31f96c-d59b-4ba2-9909-e9947a64a10a",
        "kind": "documentModelBuild",
        "status": "failed",
        "createdDateTime": "2023-07-13T20:51:11Z",
        "lastUpdatedDateTime": "2023-07-13T20:51:12Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/1349381152?api-version=2023-07-31",
        "percentCompleted": 100,
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "details": [
            {
              "code": "TrainingContentMissing",
              "message": "Training data is missing: Could not find any training data at the given path."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
