{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/info?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "customDocumentModels": {
          "count": 0,
          "limit": 250
        },
        "customNeuralDocumentModelBuilds": {
          "used": 0,
          "quota": 20,
          "quotaResetDateTime": "2023-12-01T00:00:00Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models?api-version=2023-07-31\u0026op=summary",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "count": 0,
          "limit": 250,
          "lastUpdatedDateTime": "2023-11-03T23:36:33Z"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models?api-version=2023-07-31\u0026op=summary",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "count": 0,
          "limit": 250,
          "lastUpdatedDateTime": "2023-11-03T23:36:33Z"
        }
      }
    }
  ],
  "Variables": {}
}
