{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "416d93ef-9a22-4d6d-a9b6-eba6048a5a53",
        "description": "mgmt model",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927164_4b8435d2-eb46-44e0-8eeb-be01f1a09bda?api-version=2023-02-28-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927164_4b8435d2-eb46-44e0-8eeb-be01f1a09bda?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486927164_4b8435d2-eb46-44e0-8eeb-be01f1a09bda",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-03-21T23:20:36Z",
        "lastUpdatedDateTime": "2023-03-21T23:20:37Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/416d93ef-9a22-4d6d-a9b6-eba6048a5a53?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927164_4b8435d2-eb46-44e0-8eeb-be01f1a09bda?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486927164_4b8435d2-eb46-44e0-8eeb-be01f1a09bda",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-21T23:20:36Z",
        "lastUpdatedDateTime": "2023-03-21T23:20:38Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/416d93ef-9a22-4d6d-a9b6-eba6048a5a53?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "416d93ef-9a22-4d6d-a9b6-eba6048a5a53": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "416d93ef-9a22-4d6d-a9b6-eba6048a5a53",
          "createdDateTime": "2023-03-21T23:20:38Z",
          "expirationDateTime": "2025-03-20T23:20:38Z",
          "apiVersion": "2023-02-28-preview",
          "description": "mgmt model"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/416d93ef-9a22-4d6d-a9b6-eba6048a5a53?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "docTypes": {
          "416d93ef-9a22-4d6d-a[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "modelId": "prebuilt-businessCard",
            "createdDateTime": "2023-02-28T00:00:00Z",
            "apiVersion": "2023-02-28-preview",
            "description": "Extract key information from business cards."
          },
          {
            "modelId": "prebuilt-document",
            "createdDateTime": "2023-02-28T00:00:00Z",
            "apiVersion": "2023-02-28-preview",
            "description": "Extract text, layout, entities, and general key-value pairs [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2023-02-28-preview\u0026nextLink=2!232!MDAwMTMwIXN1YnNjcmlwdGlvbnMvODJkMjk1OGM4M2YyNGY5YjliZTU5ZjFhNWUxNjk2OTAvbW9kZWxzL2M5YTU1OWE0LTM4ZGMtNDNmMi04NTBlLTE5YWI2NTMyMTYxZC9jOWE1NTlhNC0zOGRjLTQzZjItODUwZS0xOWFiNjUzMjE2MWQuZ3ohMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCod[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/ff7e513f-dbac-4743-b7de-89d8be60718d?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {}
}
