{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "cd9f4da4-6dbc-4507-ac72-f3544cd8dde2",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476709892_0ecb3e5b-6afe-4a3a-801f-9e978c3e0227?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476709892_0ecb3e5b-6afe-4a3a-801f-9e978c3e0227?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476709892_0ecb3e5b-6afe-4a3a-801f-9e978c3e0227",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T05:28:27Z",
        "lastUpdatedDateTime": "2023-07-18T05:28:29Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/cd9f4da4-6dbc-4507-ac72-f3544cd8dde2?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476709892_0ecb3e5b-6afe-4a3a-801f-9e978c3e0227?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476709892_0ecb3e5b-6afe-4a3a-801f-9e978c3e0227",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:28:27Z",
        "lastUpdatedDateTime": "2023-07-18T05:28:30Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/cd9f4da4-6dbc-4507-ac72-f3544cd8dde2?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "cd9f4da4-6dbc-4507-ac72-f3544cd8dde2": {
              "fieldSchema": {
                "table": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "string"
                      },
                      "Price": {
                        "type": "string"
                      },
                      "Tax": {
                        "type": "string"
                      },
                      "Total": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995,
                "table: Item": 0.995,
                "table: Price": 0.995,
                "table: Tax": 0.995,
                "table: Total": 0.995
              }
            }
          },
          "modelId": "cd9f4da4-6dbc-4507-ac72-f3544cd8dde2",
          "createdDateTime": "2023-07-18T05:28:30Z",
          "expirationDateTime": "2025-07-17T05:28:30Z",
          "apiVersion": "2023-07-31"
        }
      }
    }
  ],
  "Variables": {}
}
