{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "043be699-c7d2-43f5-ad78-baf53d418729"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "043be699-c7d2-43f5-ad78-baf53d418729",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/043be699-c7d2-43f5-ad78-baf53d418729?api-version=2023-07-31",
        "accessToken": "redacted",
        "expirationDateTime": "2023-07-18T01:28:54Z"
      }
    }
  ],
  "Variables": {}
}
