{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "3407174b-70e2-43d2-920d-9c8f89c7464d",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712321_dd7f0fe3-8100-4eda-a348-6527431f82db?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712321_dd7f0fe3-8100-4eda-a348-6527431f82db?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476712321_dd7f0fe3-8100-4eda-a348-6527431f82db",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T04:47:59Z",
        "lastUpdatedDateTime": "2023-07-18T04:48:01Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3407174b-70e2-43d2-920d-9c8f89c7464d?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712321_dd7f0fe3-8100-4eda-a348-6527431f82db?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476712321_dd7f0fe3-8100-4eda-a348-6527431f82db",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T04:47:59Z",
        "lastUpdatedDateTime": "2023-07-18T04:48:02Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3407174b-70e2-43d2-920d-9c8f89c7464d?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "3407174b-70e2-43d2-920d-9c8f89c7464d": {
              "fieldSchema": {
                "VISA_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "AMEX_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "MASTERCARD_SELECTION_MARK": {
                  "type": "selectionMark"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "AMEX_SELECTION_MARK": 0.995,
                "MASTERCARD_SELECTION_MARK": 0.995,
                "VISA_SELECTION_MARK": 0.995
              }
            }
          },
          "modelId": "3407174b-70e2-43d2-920d-9c8f89c7464d",
          "createdDateTime": "2023-07-18T04:48:02Z",
          "expirationDateTime": "2025-07-17T04:48:02Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3407174b-70e2-43d2-920d-9c8f89c7464d:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "InvalidManagedIdentity",
            "message": "The managed identity configuration is invalid: Managed identity is not enabled for the current Form Recognizer account."
          }
        }
      }
    }
  ],
  "Variables": {}
}
