{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/info?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "customDocumentModels": {
          "count": 275,
          "limit": 20000
        },
        "customNeuralDocumentModelBuilds": {
          "used": 0,
          "quota": 20,
          "quotaResetDateTime": "2023-08-01T00:00:00Z"
        }
      }
    }
  ],
  "Variables": {}
}
