{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "2007bd07-ec8d-43de-8b67-993d191f8b08",
        "buildMode": "template",
        "azureBlobFileListSource": {
          "containerUrl": "https://blob_sas_url",
          "fileList": "filelist.jsonl"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476727335_71e0d9b0-09c3-4004-91ff-476c46d080f2?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476727335_71e0d9b0-09c3-4004-91ff-476c46d080f2?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476727335_71e0d9b0-09c3-4004-91ff-476c46d080f2",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T00:37:44Z",
        "lastUpdatedDateTime": "2023-07-18T00:37:47Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/2007bd07-ec8d-43de-8b67-993d191f8b08?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476727335_71e0d9b0-09c3-4004-91ff-476c46d080f2?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476727335_71e0d9b0-09c3-4004-91ff-476c46d080f2",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T00:37:44Z",
        "lastUpdatedDateTime": "2023-07-18T00:37:47Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/2007bd07-ec8d-43de-8b67-993d191f8b08?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "2007bd07-ec8d-43de-8b67-993d191f8b08": {
              "fieldSchema": {
                "VISA_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "AMEX_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "MASTERCARD_SELECTION_MARK": {
                  "type": "selectionMark"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "AMEX_SELECTION_MARK": 0.995,
                "MASTERCARD_SELECTION_MARK": 0.995,
                "VISA_SELECTION_MARK": 0.995
              }
            }
          },
          "modelId": "2007bd07-ec8d-43de-8b67-993d191f8b08",
          "createdDateTime": "2023-07-18T00:37:47Z",
          "expirationDateTime": "2025-07-17T00:37:47Z",
          "apiVersion": "2023-07-31"
        }
      }
    }
  ],
  "Variables": {}
}
