{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "23a9fd9f-5af1-4e57-bf31-77219fb718e1",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized",
          "prefix": "testfolder"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "TrainingContentMissing",
            "message": "Training data is missing: Could not find any training data at the given path."
          }
        }
      }
    }
  ],
  "Variables": {}
}
