{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "14bd58ca-bd2c-48d8-ae1c-eef1102d63a1",
        "buildMode": "template",
        "azureBlobFileListSource": {
          "containerUrl": "https://blob_sas_url",
          "fileList": "filelist.jsonl"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31485821635_e66b8823-1adb-4bb6-93af-deff3e0bd383?api-version=2023-02-28-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31485821635_e66b8823-1adb-4bb6-93af-deff3e0bd383?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31485821635_e66b8823-1adb-4bb6-93af-deff3e0bd383",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-03T18:26:05Z",
        "lastUpdatedDateTime": "2023-04-03T18:26:05Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/14bd58ca-bd2c-48d8-ae1c-eef1102d63a1?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31485821635_e66b8823-1adb-4bb6-93af-deff3e0bd383?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31485821635_e66b8823-1adb-4bb6-93af-deff3e0bd383",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-03T18:26:05Z",
        "lastUpdatedDateTime": "2023-04-03T18:26:08Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/14bd58ca-bd2c-48d8-ae1c-eef1102d63a1?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "14bd58ca-bd2c-48d8-ae1c-eef1102d63a1": {
              "fieldSchema": {
                "VISA_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "AMEX_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "MASTERCARD_SELECTION_MARK": {
                  "type": "selectionMark"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "AMEX_SELECTION_MARK": 0.995,
                "MASTERCARD_SELECTION_MARK": 0.995,
                "VISA_SELECTION_MARK": 0.995
              }
            }
          },
          "modelId": "14bd58ca-bd2c-48d8-ae1c-eef1102d63a1",
          "createdDateTime": "2023-04-03T18:26:08Z",
          "expirationDateTime": "2025-04-02T18:26:08Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    }
  ],
  "Variables": {}
}
