{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "c21ff941-b569-41b3-828c-bd8c0cef9e4f",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31483210974_85eca38d-520c-40dc-9c45-0a1aa686d4b3?api-version=2022-08-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31483210974_85eca38d-520c-40dc-9c45-0a1aa686d4b3?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483210974_85eca38d-520c-40dc-9c45-0a1aa686d4b3",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-05-03T23:37:06Z",
        "lastUpdatedDateTime": "2023-05-03T23:37:08Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/c21ff941-b569-41b3-828c-bd8c0cef9e4f?api-version=2022-08-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31483210974_85eca38d-520c-40dc-9c45-0a1aa686d4b3?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483210974_85eca38d-520c-40dc-9c45-0a1aa686d4b3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-05-03T23:37:06Z",
        "lastUpdatedDateTime": "2023-05-03T23:37:09Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/c21ff941-b569-41b3-828c-bd8c0cef9e4f?api-version=2022-08-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "c21ff941-b569-41b3-828c-bd8c0cef9e4f": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "c21ff941-b569-41b3-828c-bd8c0cef9e4f",
          "createdDateTime": "2023-05-03T23:37:09Z",
          "expirationDateTime": "2025-05-02T23:37:09Z",
          "apiVersion": "2022-08-31"
        }
      }
    }
  ],
  "Variables": {}
}
