{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "9c1a04ba-beb8-4969-bf1a-5de4401aaf81",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927090_17cd0f75-0f7d-4d79-addd-8b3920fbc995?api-version=2023-02-28-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927090_17cd0f75-0f7d-4d79-addd-8b3920fbc995?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486927090_17cd0f75-0f7d-4d79-addd-8b3920fbc995",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-03-21T23:21:50Z",
        "lastUpdatedDateTime": "2023-03-21T23:21:50Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/9c1a04ba-beb8-4969-bf1a-5de4401aaf81?api-version=2023-02-28-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486927090_17cd0f75-0f7d-4d79-addd-8b3920fbc995?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486927090_17cd0f75-0f7d-4d79-addd-8b3920fbc995",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-21T23:21:50Z",
        "lastUpdatedDateTime": "2023-03-21T23:21:52Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/9c1a04ba-beb8-4969-bf1a-5de4401aaf81?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "9c1a04ba-beb8-4969-bf1a-5de4401aaf81": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "MerchantAddress": {
                  "type": "string"
                },
                "MerchantPhoneNumber": {
                  "type": "string"
                },
                "CustomerName": {
                  "type": "string"
                },
                "CustomerAddress": {
                  "type": "string"
                },
                "CustomerPhoneNumber": {
                  "type": "string"
                },
                "FirstItem": {
                  "type": "string"
                },
                "FirstQuantity": {
                  "type": "string"
                },
                "FirstPrice": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Tip": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Merchant2": {
                  "type": "string"
                },
                "Customer2": {
                  "type": "string"
                },
                "Total2": {
                  "type": "string"
                },
                "Signature2": {
                  "type": "string"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "Customer2": 0.995,
                "CustomerAddress": 0.995,
                "CustomerName": 0.995,
                "CustomerPhoneNumber": 0.995,
                "FirstItem": 0.995,
                "FirstPrice": 0.995,
                "FirstQuantity": 0.995,
                "Merchant": 0,
                "Merchant2": 0,
                "MerchantAddress": 0.995,
                "MerchantPhoneNumber": 0.995,
                "Signature": 0.995,
                "Signature2": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Tip": 0.995,
                "Total": 0.995,
                "Total2": 0.995
              }
            }
          },
          "modelId": "9c1a04ba-beb8-4969-bf1a-5de4401aaf81",
          "createdDateTime": "2023-03-21T23:21:52Z",
          "expirationDateTime": "2025-03-20T23:21:52Z",
          "apiVersion": "2023-02-28-preview"
        }
      }
    }
  ],
  "Variables": {}
}
