{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "ce74691f-17a2-48c7-bd9c-4f62db512d5d",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url",
          "prefix": "testfolder"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "TrainingContentMissing",
            "message": "Training data is missing: Could not find any training data at the given path."
          }
        }
      }
    }
  ],
  "Variables": {}
}
