{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "operationId": "31485725223_6b20a9c6-b9e2-4954-8500-7249d8fc1caa",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-04-04T21:12:56Z",
            "lastUpdatedDateTime": "2023-04-04T21:12:59Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/fafa93b0-2718-4a12-9b4c-e01e46a8adc3?api-version=2023-02-28-preview",
            "percentCompleted": 100
          },
          {
            "operationId": "31485725277_7756022d-938f-4aa7-95ac-18a87015741a",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2023-04-04T21:12:03Z",
            "lastUpdatedDateTime": "2023-04-04T21:12:06Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/74f80299-b44a-4570-bebf-a069694ec6ef?api-version=2023-02-28-preview",
            "perce[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486073353_70db0d6d-f6f3-4ff4-b6db-207ee10b93a7?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486073353_70db0d6d-f6f3-4ff4-b6db-207ee10b93a7",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-31T20:30:47Z",
        "lastUpdatedDateTime": "2023-03-31T20:40:30Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/neural-test?api-version=2022-08-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "neural-test": {
              "fieldSchema": {
                "TailNumber": {
                  "type": "string"
                },
                "Airspeed": {
                  "type": "string"
                },
                "Destination": {
                  "type": "string"
                },
                "Name": {
                  "type": "string"
                },
                "Phone": {
                  "type": "string"
                },
                "Home": {
                  "type": "string"
                }
              },
              "buildMode": "neural"
            }
          },
          "modelId": "neural-test",
          "createdDateTime": "2023-03-31T20:40:29Z",
          "expirationDateTime": "2025-03-30T20:40:29Z",
          "apiVersion": "2022-08-31",
          "description": ""
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486241918_0997efac-7c89-41b5-928d-d1ddf35fb526?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486241918_0997efac-7c89-41b5-928d-d1ddf35fb526",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-29T21:41:22Z",
        "lastUpdatedDateTime": "2023-03-29T21:41:37Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/834cd757-cd51-416f-aca7-02cb09c3e6ec?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "834cd757-cd51-416f-aca7-02cb09c3e6ec",
          "createdDateTime": "2023-03-29T21:41:37Z",
          "expirationDateTime": "2025-03-28T21:41:37Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "IRS-1040-C": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "azureBlobFileListSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "fileList": "IRS-1040-D.jsonl"
              }
            }
          },
          "description": "IRS document classifier"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486160534_c7fefe42-8f4c-40ea-a303-5a24da76dc92?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486160534_c7fefe42-8f4c-40ea-a303-5a24da76dc92",
        "kind": "documentClassifierBuild",
        "status": "failed",
        "createdDateTime": "2023-03-30T20:17:46Z",
        "lastUpdatedDateTime": "2023-03-30T20:17:46Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/de082ec5-6b31-4c71-baa8-95f5dedce39e?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "details": [
            {
              "code": "ContentSourceNotAccessible",
              "message": "Content is not accessible: Invalid data URL"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
