{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "a99ce684-814f-4757-b588-5b3e5eb46439",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://fakeuri.com/blank%20space"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid argument.",
          "innererror": {
            "code": "InvalidContentSourceFormat",
            "message": "Invalid content source: Source Uri must include container path"
          }
        }
      }
    }
  ],
  "Variables": {}
}
