{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "6462f41d-a281-46d2-afe1-7e95dc49b1e9",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-C/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486228316_d886edcc-c360-4d96-898c-228e27bfe602?api-version=2023-02-28-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486228316_d886edcc-c360-4d96-898c-228e27bfe602?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486228316_d886edcc-c360-4d96-898c-228e27bfe602",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-03-30T01:28:04Z",
        "lastUpdatedDateTime": "2023-03-30T01:28:04Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6462f41d-a281-46d2-afe1-7e95dc49b1e9?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31486228316_d886edcc-c360-4d96-898c-228e27bfe602?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31486228316_d886edcc-c360-4d96-898c-228e27bfe602",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-03-30T01:28:04Z",
        "lastUpdatedDateTime": "2023-03-30T01:28:22Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6462f41d-a281-46d2-afe1-7e95dc49b1e9?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "6462f41d-a281-46d2-afe1-7e95dc49b1e9",
          "createdDateTime": "2023-03-30T01:28:22Z",
          "expirationDateTime": "2025-03-29T01:28:22Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-C/train"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6462f41d-a281-46d2-afe1-7e95dc49b1e9:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6462f41d-a281-46d2-afe1-7e95dc49b1e9/analyzeResults/b6bcfb4f-75b3-4764-be60-032fdea169d0?api-version=2023-02-28-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6462f41d-a281-46d2-afe1-7e95dc49b1e9/analyzeResults/b6bcfb4f-75b3-4764-be60-032fdea169d0?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-03-30T01:28:25Z",
        "lastUpdatedDateTime": "2023-03-30T01:28:25Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6462f41d-a281-46d2-afe1-7e95dc49b1e9/analyzeResults/b6bcfb4f-75b3-4764-be60-032fdea169d0?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-03-30T01:28:25Z",
        "lastUpdatedDateTime": "2023-03-30T01:28:38Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "stringIndexType": "unicodeCodePoint",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ],
              "kind": "document"
            },
            {
              "pageNumber": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ],
              "kind": "document"
            },
            {
              "pageNumber": 3,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ],
              "kind": "document"
            },
            {
              "pageNumber": 4,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ],
              "kind": "document"
            }
          ],
          "documents": [
            {
              "docType": "IRS-1040-A",
              "boundingRegions": [
                {
                  "pageNumber": 1,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 2,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                }
              ],
              "fields": {},
              "confidence": 0.001,
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            },
            {
              "docType": "IRS-1040-C",
              "boundingRegions": [
                {
                  "pageNumber": 3,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                },
                {
                  "pageNumber": 4,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                }
              ],
              "fields": {},
              "confidence": 0.001,
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
