{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "bd53b449-e67e-4938-b179-776ce1058f4b",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476709852_8b9dcd6d-c58b-47a4-84a4-9314f2c8a776?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476709852_8b9dcd6d-c58b-47a4-84a4-9314f2c8a776?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476709852_8b9dcd6d-c58b-47a4-84a4-9314f2c8a776",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T05:29:07Z",
        "lastUpdatedDateTime": "2023-07-18T05:29:09Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/bd53b449-e67e-4938-b179-776ce1058f4b?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476709852_8b9dcd6d-c58b-47a4-84a4-9314f2c8a776?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476709852_8b9dcd6d-c58b-47a4-84a4-9314f2c8a776",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:29:07Z",
        "lastUpdatedDateTime": "2023-07-18T05:29:11Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/bd53b449-e67e-4938-b179-776ce1058f4b?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "bd53b449-e67e-4938-b179-776ce1058f4b": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "bd53b449-e67e-4938-b179-776ce1058f4b",
          "createdDateTime": "2023-07-18T05:29:11Z",
          "expirationDateTime": "2025-07-17T05:29:11Z",
          "apiVersion": "2023-07-31"
        }
      }
    }
  ],
  "Variables": {}
}
