{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "56c13987-2430-4c5b-bd9d-bcdf33f1b7b4",
        "description": "IRS document classifier",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-B/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476711224_77ebb004-1946-4d1b-8d19-bef4f40de29c?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476711224_77ebb004-1946-4d1b-8d19-bef4f40de29c?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476711224_77ebb004-1946-4d1b-8d19-bef4f40de29c",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-07-18T05:06:15Z",
        "lastUpdatedDateTime": "2023-07-18T05:06:15Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/56c13987-2430-4c5b-bd9d-bcdf33f1b7b4?api-version=2023-07-31"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476711224_77ebb004-1946-4d1b-8d19-bef4f40de29c?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476711224_77ebb004-1946-4d1b-8d19-bef4f40de29c",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:06:15Z",
        "lastUpdatedDateTime": "2023-07-18T05:06:25Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/56c13987-2430-4c5b-bd9d-bcdf33f1b7b4?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "classifierId": "56c13987-2430-4c5b-bd9d-bcdf33f1b7b4",
          "createdDateTime": "2023-07-18T05:06:25Z",
          "expirationDateTime": "2025-07-17T05:06:25Z",
          "apiVersion": "2023-07-31",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-B/train"
              }
            }
          },
          "description": "IRS document classifier"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/56c13987-2430-4c5b-bd9d-bcdf33f1b7b4?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "classifierId": "56c13987-2430-4c5b-bd9d-bcdf33f1b7b4",
        "createdDateTime": "2023-07-18T05:06:25Z",
        "expirationDateTime": "2025-07-17T05:06:25Z",
        "apiVersion": "2023-07-31",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
              "prefix": "IRS-1040-B/train"
            }
          }
        },
        "description": "IRS document classifier"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "a9cb7f30-b944-45ab-950d-62efc26f1e97",
            "createdDateTime": "2023-07-18T05:04:15Z",
            "expirationDateTime": "2025-07-17T05:04:15Z",
            "apiVersion": "2023-07-31",
            "docTypes": {
              "IRS-1040-A": {
                "azureBlobSource": {
                  "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                  "prefix": "IRS-1040-A/train"
           [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/6ca9c66e-b3af-4fcf-9623-9c38f3eb0328?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {}
}
