{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "3193b256-b4ce-4b9b-a3bd-04eba26acd62",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728067_5cd62604-7a78-4687-9658-c47cd8ace306?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728067_5cd62604-7a78-4687-9658-c47cd8ace306?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476728067_5cd62604-7a78-4687-9658-c47cd8ace306",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T00:25:32Z",
        "lastUpdatedDateTime": "2023-07-18T00:25:34Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3193b256-b4ce-4b9b-a3bd-04eba26acd62?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728067_5cd62604-7a78-4687-9658-c47cd8ace306?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476728067_5cd62604-7a78-4687-9658-c47cd8ace306",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T00:25:32Z",
        "lastUpdatedDateTime": "2023-07-18T00:25:36Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3193b256-b4ce-4b9b-a3bd-04eba26acd62?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "3193b256-b4ce-4b9b-a3bd-04eba26acd62": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "3193b256-b4ce-4b9b-a3bd-04eba26acd62",
          "createdDateTime": "2023-07-18T00:25:36Z",
          "expirationDateTime": "2025-07-17T00:25:36Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "197c0e14-ec27-4388-a139-9b822545fa2d",
        "componentModels": [
          {
            "modelId": "3193b256-b4ce-4b9b-a3bd-04eba26acd62"
          },
          {
            "modelId": "72fc53d7-7dba-4412-919c-a9a0679469de"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728052_2159f2d8-206a-42fe-9380-b121b8b06d59?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "3b0df46d-3213-440d-91bd-a60f207df6a9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "3b0df46d-3213-440d-91bd-a60f207df6a9",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3b0df46d-3213-440d-91bd-a60f207df6a9?api-version=2023-07-31",
        "accessToken": "redacted",
        "expirationDateTime": "2023-07-18T01:25:53Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/197c0e14-ec27-4388-a139-9b822545fa2d:copyTo?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "3b0df46d-3213-440d-91bd-a60f207df6a9",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/3b0df46d-3213-440d-91bd-a60f207df6a9?api-version=2023-07-31",
        "accessToken": "redacted",
        "expirationDateTime": "2023-07-18T01:25:53.000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728046_f7dad8ec-1a54-4ebb-b5f3-9cfe9eab64b6?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
