{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "73ebfc1a-3938-4795-a4ba-e4337a1bf4c9",
        "description": "mgmt model",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710228_2158a582-9d40-4e2d-98ba-ec6979b1b091?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710228_2158a582-9d40-4e2d-98ba-ec6979b1b091?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710228_2158a582-9d40-4e2d-98ba-ec6979b1b091",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T05:22:51Z",
        "lastUpdatedDateTime": "2023-07-18T05:22:54Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/73ebfc1a-3938-4795-a4ba-e4337a1bf4c9?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710228_2158a582-9d40-4e2d-98ba-ec6979b1b091?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710228_2158a582-9d40-4e2d-98ba-ec6979b1b091",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:22:51Z",
        "lastUpdatedDateTime": "2023-07-18T05:22:55Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/73ebfc1a-3938-4795-a4ba-e4337a1bf4c9?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "73ebfc1a-3938-4795-a4ba-e4337a1bf4c9": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "73ebfc1a-3938-4795-a4ba-e4337a1bf4c9",
          "createdDateTime": "2023-07-18T05:22:55Z",
          "expirationDateTime": "2025-07-17T05:22:55Z",
          "apiVersion": "2023-07-31",
          "description": "mgmt model"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/73ebfc1a-3938-4795-a4ba-e4337a1bf4c9?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "docTypes": {
          "73ebfc1a-3938-4795-a4ba-e4337a[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "modelId": "prebuilt-businessCard",
            "createdDateTime": "2023-07-31T00:00:00Z",
            "apiVersion": "2023-07-31",
            "description": "Extract key information from business cards."
          },
          {
            "modelId": "prebuilt-contract",
            "createdDateTime": "2023-07-31T00:00:00Z",
            "apiVersion": "2023-07-31",
            "description": "Extract key information from legal contracts."
          },
          {
    [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels?api-version=2023-07-31\u0026nextLink=2!232!MDAwMTMwIXN1YnNjcmlwdGlvbnMvNzRhNzNiODNjNTkzNGUwOThlMjhkOTQ1NTMwN2RhYjgvbW9kZWxzLzgzNWRiYzU0LWU5YmItNDcwNC05NjczLTk2ZGE1ZDFkODMyZi84MzVkYmM1NC1lOWJiLTQ3MDQtOTY3My05NmRhNWQxZDgzMmYuZ3ohMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/7bfde460-89d1-41a3-9cfb-84b879d612fa?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {}
}
