{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "57efb155-360e-43dd-b436-b0e7729806c4",
        "description": "model1",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710851_9239df37-bb0c-48c8-a778-6ebffaa2858b?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710851_9239df37-bb0c-48c8-a778-6ebffaa2858b?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710851_9239df37-bb0c-48c8-a778-6ebffaa2858b",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T05:12:28Z",
        "lastUpdatedDateTime": "2023-07-18T05:12:31Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/57efb155-360e-43dd-b436-b0e7729806c4?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710851_9239df37-bb0c-48c8-a778-6ebffaa2858b?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710851_9239df37-bb0c-48c8-a778-6ebffaa2858b",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:12:28Z",
        "lastUpdatedDateTime": "2023-07-18T05:12:32Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/57efb155-360e-43dd-b436-b0e7729806c4?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "57efb155-360e-43dd-b436-b0e7729806c4": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "57efb155-360e-43dd-b436-b0e7729806c4",
          "createdDateTime": "2023-07-18T05:12:32Z",
          "expirationDateTime": "2025-07-17T05:12:32Z",
          "apiVersion": "2023-07-31",
          "description": "model1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710843_d5f834c2-436e-4a64-8234-a2f47bac51d3?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476710843_d5f834c2-436e-4a64-8234-a2f47bac51d3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T05:12:36Z",
        "lastUpdatedDateTime": "2023-07-18T05:12:40Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/aaf68d21-6069-4cb1-977a-d2c42870e9cd?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "aaf68d21-6069-4cb1-977a-d2c42870e9cd": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
       [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "71133bf2-b8cb-4873-8740-4e5065e7fd34",
        "description": "my composed model",
        "componentModels": [
          {
            "modelId": "57efb155-360e-43dd-b436-b0e7729806c4"
          },
          {
            "modelId": "aaf68d21-6069-4cb1-977a-d2c42870e9cd"
          }
        ],
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476710836_16ba98bf-053b-4fd1-bc58-d248cf641aae?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
