{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "e240ebde-5dd9-41b8-81e0-4a0ebe769f61",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712304_a051aaf3-3afc-4a55-9240-7c97d0b7b279?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712304_a051aaf3-3afc-4a55-9240-7c97d0b7b279?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476712304_a051aaf3-3afc-4a55-9240-7c97d0b7b279",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T04:48:16Z",
        "lastUpdatedDateTime": "2023-07-18T04:48:18Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/e240ebde-5dd9-41b8-81e0-4a0ebe769f61?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712304_a051aaf3-3afc-4a55-9240-7c97d0b7b279?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476712304_a051aaf3-3afc-4a55-9240-7c97d0b7b279",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T04:48:16Z",
        "lastUpdatedDateTime": "2023-07-18T04:48:18Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/e240ebde-5dd9-41b8-81e0-4a0ebe769f61?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "e240ebde-5dd9-41b8-81e0-4a0ebe769f61": {
              "fieldSchema": {
                "table": {
                  "type": "object",
                  "properties": {
                    "Apple": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    },
                    "Orange": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    },
                    "Grapefruit": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    },
                    "Pear": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995
              }
            }
          },
          "modelId": "e240ebde-5dd9-41b8-81e0-4a0ebe769f61",
          "createdDateTime": "2023-07-18T04:48:18Z",
          "expirationDateTime": "2025-07-17T04:48:18Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/e240ebde-5dd9-41b8-81e0-4a0ebe769f61:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "InvalidManagedIdentity",
            "message": "The managed identity configuration is invalid: Managed identity is not enabled for the current Form Recognizer account."
          }
        }
      }
    }
  ],
  "Variables": {}
}
