{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "5dedad66-9d79-425d-bcbb-5cc4ecc73e8a",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-B/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728622_146f76db-ec62-4aac-ad04-7ce44d5696ab?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728622_146f76db-ec62-4aac-ad04-7ce44d5696ab?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476728622_146f76db-ec62-4aac-ad04-7ce44d5696ab",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-07-18T00:16:18Z",
        "lastUpdatedDateTime": "2023-07-18T00:16:18Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/5dedad66-9d79-425d-bcbb-5cc4ecc73e8a?api-version=2023-07-31"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476728622_146f76db-ec62-4aac-ad04-7ce44d5696ab?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476728622_146f76db-ec62-4aac-ad04-7ce44d5696ab",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T00:16:18Z",
        "lastUpdatedDateTime": "2023-07-18T00:16:28Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentClassifiers/5dedad66-9d79-425d-bcbb-5cc4ecc73e8a?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "classifierId": "5dedad66-9d79-425d-bcbb-5cc4ecc73e8a",
          "createdDateTime": "2023-07-18T00:16:28Z",
          "expirationDateTime": "2025-07-17T00:16:28Z",
          "apiVersion": "2023-07-31",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-B/train"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
