{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "772a5e51-ea6a-4925-b5b3-2202be9a4693",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712186_cf6a30a0-fbfc-493c-8aa0-1525b41fc769?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712186_cf6a30a0-fbfc-493c-8aa0-1525b41fc769?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476712186_cf6a30a0-fbfc-493c-8aa0-1525b41fc769",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-18T04:50:14Z",
        "lastUpdatedDateTime": "2023-07-18T04:50:16Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/772a5e51-ea6a-4925-b5b3-2202be9a4693?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31476712186_cf6a30a0-fbfc-493c-8aa0-1525b41fc769?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476712186_cf6a30a0-fbfc-493c-8aa0-1525b41fc769",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-18T04:50:14Z",
        "lastUpdatedDateTime": "2023-07-18T04:50:16Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/772a5e51-ea6a-4925-b5b3-2202be9a4693?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "772a5e51-ea6a-4925-b5b3-2202be9a4693": {
              "fieldSchema": {
                "table": {
                  "type": "object",
                  "properties": {
                    "Apple": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    },
                    "Orange": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    },
                    "Grapefruit": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    },
                    "Pear": {
                      "type": "object",
                      "properties": {
                        "Price": {
                          "type": "string"
                        },
                        "Tax": {
                          "type": "string"
                        },
                        "Total": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995
              }
            }
          },
          "modelId": "772a5e51-ea6a-4925-b5b3-2202be9a4693",
          "createdDateTime": "2023-07-18T04:50:16Z",
          "expirationDateTime": "2025-07-17T04:50:16Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/772a5e51-ea6a-4925-b5b3-2202be9a4693:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "InvalidManagedIdentity",
            "message": "The managed identity configuration is invalid: Managed identity is not enabled for the current Form Recognizer account."
          }
        }
      }
    }
  ],
  "Variables": {}
}
