{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/info?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "customDocumentModels": {
          "count": 391,
          "limit": 20000
        },
        "customNeuralDocumentModelBuilds": {
          "used": 0,
          "quota": 20,
          "quotaResetDateTime": "2023-08-01T00:00:00Z"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "InvalidManagedIdentity",
            "message": "The managed identity configuration is invalid: Managed identity is not enabled for the current Form Recognizer account."
          }
        }
      }
    }
  ],
  "Variables": {}
}
