{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/indexes/sample_index_/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": {
        "connectionName": "nirovinssearchsweden",
        "indexName": "sample_index_",
        "type": "AzureSearch",
        "description": "Sample Index for testing",
        "displayName": "Sample Index"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "75ca939d-2be6-439a-b3ff-a3702eb0c176",
        "x-http2-stream-id": "27",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.687"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "nirovinssearchsweden",
        "indexName": "sample_index_",
        "name": "sample_index_",
        "version": "1"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/indexes/sample_index_/versions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e422ae01-ef69-43bf-8792-c35c7829f94d",
        "x-http2-stream-id": "31",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.232"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "nirovinssearchsweden",
            "indexName": "sample_index_",
            "name": "sample_index_",
            "version": "1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/indexes?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d2cc2f21-0032-46c0-8843-a9726ba86f44",
        "x-http2-stream-id": "31",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.382"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "nirovinssearchsweden",
            "indexName": "sample_index_",
            "name": "sample_index_",
            "version": "1"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/indexes/sample_index_/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "mise-correlation-id": "da48769d-2ed0-4b67-97e4-304e32882ebb",
        "x-http2-stream-id": "33",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.188"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AI_SEARCH_CONNECTION_NAME": "nirovinssearchsweden",
    "AI_SEARCH_INDEX_NAME": "sample_index_",
    "INDEX_NAME": "sample_index_",
    "INDEX_VERSION": "1",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
