{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Resources/deploymentStacks?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "bbe53c1d-2df1-4db1-a254-8ffadd8e1dce",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": {
              "tagkey": "tagVal"
            },
            "properties": {
              "actionOnUnmanage": {
                "resources": "delete",
                "resourceGroups": "detach",
                "managementGroups": "detach"
              },
              "deploymentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Resources/deployments/resourcetest-2023-08-24-02-22-19-bc3e0",
              "duration": "PT7.5526201S",
              "denySettings": {
                "mode": "denyDelete",
                "applyToChildScopes": false,
                "excludedPrincipals": [
                  "principal"
                ],
                "excludedActions": [
                  "action"
                ]
              },
              "outputs": {
                "foo": {
                  "type": "String",
                  "value": "foo"
                },
                "bar": {
                  "type": "String",
                  "value": "bar"
                }
              },
              "resources": [],
              "provisioningState": "succeeded",
              "detachedResources": [],
              "deletedResources": [],
              "failedResources": []
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-08-24T02:22:19.1006168Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-24T02:22:19.1006168Z"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Resources/deploymentStacks/resourcetest",
            "type": "Microsoft.Resources/deploymentStacks",
            "name": "resourcetest"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
