{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Resources/deploymentStacks/resourcetest?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tagkey": "tagVal"
        },
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "foo": {
                "type": "string",
                "defaultValue": "foo",
                "metadata": {
                  "description": "description"
                }
              },
              "bar": {
                "type": "string",
                "defaultValue": "bar",
                "metadata": {
                  "description": "description"
                }
              }
            },
            "functions": [],
            "variables": {},
            "resources": [],
            "outputs": {
              "foo": {
                "type": "string",
                "value": "[parameters('foo')]"
              },
              "bar": {
                "type": "string",
                "value": "[parameters('bar')]"
              }
            }
          },
          "actionOnUnmanage": {
            "resources": "delete"
          },
          "denySettings": {
            "mode": "denyDelete",
            "excludedPrincipals": [
              "principal"
            ],
            "excludedActions": [
              "action"
            ],
            "applyToChildScopes": false
          }
        }
      },
      "StatusCode": 502,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "error": {
          "code": "DeploymentStackActionForbidden",
          "message": "User 'eece94dc-07aa-4478-b347-5dabc7791d2a' is not authorized to perform action 'Microsoft.Resources/deploymentStacks/manageDenySetting/action' over resource '/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Resources/deploymentStacks/resourcetest'. Please refer to https://aka.ms/DeploymentStacksAuthFailures for more information."
        }
      }
    },
[...]
