{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830471342205238?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A629562609\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:58:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830471342205238/blob175830471962008076",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTc1ODMwNDcxOTYyMTA1MDk5",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jo6FKKAU/CdKM6UdXbeWOQ==",
        "ETag": "\"0x8DDF7A6296EA9E9\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:58:38 GMT",
        "x-ms-content-crc64": "jb478Z4hPuQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:58:38.8228585Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830471342205238/blob175830471962008076",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "jo6FKKAU/CdKM6UdXbeWOQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A6296EA9E9\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:58:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:58:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:58:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:58:38.8228585Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTc1ODMwNDcxOTYyMTA1MDk5"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830471342205238?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175830471962008076",
    "container": "container175830471342205238",
    "randomstring": "randomstring175830471962105099"
  }
}
