{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614951503597?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:09 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE24C3C893EB\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:49:10 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614951503597/blob169744614966100112",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:09 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY5NzQ0NjE0OTY2MjA3MTIx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "AuVnepI0sQKca4vxoy2V9Q==",
        "ETag": "\u00220x8DBCE24C3DD0A52\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:49:10 GMT",
        "x-ms-content-crc64": "72w8ldpXEVw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:49:10.3244882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614951503597/blob169744614966100112",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:09 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "AuVnepI0sQKca4vxoy2V9Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE24C3DD0A52\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:49:10 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 08:49:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:49:10.3244882Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY5NzQ0NjE0OTY2MjA3MTIx"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744614951503597?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:49:09 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169744614966100112",
    "container": "container169744614951503597",
    "randomstring": "randomstring169744614966207121"
  }
}
