{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-sdk-routePolicy081723?api-version=2023-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "keyID": "keyValue"
        },
        "location": "eastus2euap",
        "properties": {
          "annotation": "annotation",
          "defaultAction": "Permit",
          "statements": [
            {
              "sequenceNumber": 7,
              "condition": {
                "type": "Or",
                "ipPrefixId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/example-ipprefix"
              },
              "action": {
                "localPreference": 20,
                "actionType": "Deny"
              },
              "annotation": "annotation"
            }
          ],
          "networkFabricId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/example-fabric",
          "addressFamilyType": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a3626e61-8214-44ee-aa91-093566c0a9e6*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300735c-0000-3300-0000-64e8d54d0000\u0022",
        "mise-correlation-id": "0b70e865-b69c-4a6a-bb65-311f39cd5c73",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-sdk-routePolicy081723",
        "name": "nfa-tool-ts-GA-sdk-routePolicy081723",
        "type": "microsoft.managednetworkfabric/routepolicies",
        "location": "eastus2euap",
        "tags": {
          "keyID": "keyValue"
        },
        "systemData": {
          "createdBy": "smylsamy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-08-25T16:22:35.8004933Z",
          "lastModifiedBy": "smylsamy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-08-25T16:22:35.8004933Z"
        },
        "properties": {
          "networkFabricId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/example-fabric",
          "addressFamilyType": "IPv4",
          "defaultAction": "Permit",
          "statements": [
            {
              "sequenceNumber": 7,
              "condition": {
                "type": "Or",
                "ipPrefixId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/example-ipprefix"
              },
              "action": {
                "localPreference": 20,
                "actionType": "Deny"
              }
            }
          ],
          "provisioningState": "Accepted",
          "annotation": "annotation"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a3626e61-8214-44ee-aa91-093566c0a9e6*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220500d354-0000-3300-0000-64e8d54f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/a3626e61-8214-44ee-aa91-093566c0a9e6*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E",
        "name": "a3626e61-8214-44ee-aa91-093566c0a9e6*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E",
        "resourceId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-sdk-routePolicy081723",
        "status": "Succeeded",
        "startTime": "2023-08-25T16:22:37.1293885Z",
        "endTime": "2023-08-25T16:22:39.2311563Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "51b83437-dec2-4ecf-864d-3032b57b71d0",
          "4f59986c-e523-476f-81f9-dd8227f35756",
          "426d7e13-d397-4620-8065-dc094df98672",
          "f2cd5c69-ad29-4016-8979-0558f597e547"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-routePolicy081023",
            "name": "nfa-tool-ts-GA-routePolicy081023",
            "type": "microsoft.managednetworkfabric/routepolicies",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "v-rmarimuthu@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-08-18T14:24:05.1364211Z",
              "lastModifiedBy": "d1bd24c7-b27f-477e-86dd-939e107873d7",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-25T16:10:25.5220976Z"
            },
            "properties": {
              "networkFabricId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/networkFabrics/nfa-tool-ts-GA-nf081123",
              "addressFamilyType": "IPv4",
              "defaultAction": "Deny",
              "statements": [
                {
                  "sequenceNumber": 1234,
                  "condition": {
                    "type": "Or",
                    "ipCommunityIds": [
                      "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-GA-ipcommunity081423"
                    ],
                    "ipPrefixId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/nfa-tool-ts-GA-ipprefix081423"
                  },
                  "action": {
                    "localPreference": 123,
                    "actionType": "Permit",
                    "ipCommunityProperties": {
                      "add": {
                        "ipCommunityIds": [
                          "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/ipCommunities/nfa-tool-ts-GA-ipcommunity081423"
                        ]
                      }
                    }
                  }
                }
              ],
              "provisioningState": "Succeeded"
            }
          },
          {
            "id":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/routePolicies?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "8e826439-17af-4211-a858[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-sdk-routePolicy081723?api-version=2023-06-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/f934c53b-ba12-4336-84fe-3aa22b9704af*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300955c-0000-3300-0000-64e8d55a0000\u0022",
        "Location": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/f934c53b-ba12-4336-84fe-3aa22b9704af*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E?api-version=2023-06-15",
        "mise-correlation-id": "278e08f5-8fcf-45b4-8009-71eece65ec2f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/f934c53b-ba12-4336-84fe-3aa22b9704af*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205002d55-0000-3300-0000-64e8d55b0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/f934c53b-ba12-4336-84fe-3aa22b9704af*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E",
        "name": "f934c53b-ba12-4336-84fe-3aa22b9704af*FD1621E26DE96358925854385F641F1F4A3D3018B26C42F2470B8391066A928E",
        "resourceId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-GA3.2-clisdktest-nfrg081023/providers/Microsoft.ManagedNetworkFabric/routePolicies/nfa-tool-ts-GA-sdk-routePolicy081723",
        "status": "Succeeded",
        "startTime": "2023-08-25T16:22:50.4545678Z",
        "endTime": "2023-08-25T16:22:51.0888145Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus2euap",
    "RandomSeed": "1026445024",
    "RESOURCE_GROUP_NAME": "nfa-tool-ts-GA3.2-clisdktest-nfrg081023",
    "RESOURCE_MANAGER_URL": null,
    "ROUTE_POLICY_NAME": "nfa-tool-ts-GA-sdk-routePolicy081723",
    "SUBSCRIPTION_ID": "9531faa8-8c39-4165-b033-48697fe943db"
  }
}
