{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "medbpbpg",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "Category",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          }
        ],
        "semantic": {
          "configurations": [
            {
              "name": "my-semantic-config",
              "prioritizedFields": {
                "titleField": {
                  "fieldName": "HotelName"
                },
                "prioritizedContentFields": [
                  {
                    "fieldName": "Description"
                  }
                ],
                "prioritizedKeywordsFields": [
                  {
                    "fieldName": "Category"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1032",
        "ETag": "\"0x8DE0549DF02AD4D\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/indexes('medbpbpg')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE0549DF02AD4D\"",
        "name": "medbpbpg",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vect[...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('medbpbpg')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "HotelId": "1",
            "HotelName": "Fancy Stay",
            "Description": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "Category": "Luxury"
          },
          {
            "@search.action": "upload",
            "HotelId": "2",
            "HotelName": "Roach Motel",
            "Description": "Cheapest hotel in town. Infact, a motel.",
            "Category": "Budget"
          },
          {
            "@search.action": "upload",
            "HotelId": "3",
            "HotelName": "EconoStay",
            "Description": "Very popular hotel in town.",
            "Category": "Budget"
          },
          {
      [...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('medbpbpg')/docs/search.post.search?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "Luxury hotel",
        "semanticConfiguration": "my-semantic-config",
        "semanticQuery": "Is there any hotel located on the main commercial artery of the city in the heart of New York?",
        "answers": "extractive",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "69",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@search.answers": [
          {
            "key": "5",
            "text": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time's Square and the historic centre of the city, as well as other places of interest that make New York one of America's most attractive and cosmopolitan cities.",
            "highlights": "The<em> hotel </em>is<em> ideally </em>located on the<em> main commercial artery </em>of the<em> city </em>in the heart of New York. A few minutes away is Time's Square and the historic centre of the city, as well as other places of interest that make New York one of America's most attractive and cosmopolitan cities.",
            "score": 0.9670000076293945
          }
        ],
        "value": [
          {
            "@search.score": 0.27437666,
            "@search.rerankerScore": 3.533433437347412,
            "@search.captions": [
              {
                "text": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time's Square and the historic centre of the city, as well as other places of interest that make New York one of America's most attract[...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('medbpbpg')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "206",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2050782494",
    "SearchIndexName": null,
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
