{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "qgohcije",
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "Category",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          }
        ],
        "semantic": {
          "configurations": [
            {
              "name": "my-semantic-config",
              "prioritizedFields": {
                "titleField": {
                  "fieldName": "HotelName"
                },
                "prioritizedContentFields": [
                  {
                    "fieldName": "Description"
                  }
                ],
                "prioritizedKeywordsFields": [
                  {
                    "fieldName": "Category"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "398",
        "ETag": "\u00220x8DBDB121A964484\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qgohcije\u0027)?api-version=2023-11-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\u00220x8DBDB121A964484\u0022",
        "name": "qgohcije",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "HotelId",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": true,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          },
          {
            "name": "HotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          },
          {
            "name": "Category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "sortable": true,
            "facetable": true,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "vectorSearch": null,
        "semantic": {
          "defaultConfiguration": null,
          "configurations": [
            {
              "name": "my-semantic-config",
              "prioritizedFields": {
                "titleField": {
                  "fieldName": "HotelName"
                },
                "prioritizedContentFields": [
                  {
                    "fieldName": "Description"
                  }
                ],
                "prioritizedKeywordsFields": [
                  {
                    "fieldName": "Category"
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qgohcije\u0027)/docs/search.index?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "HotelId": "1",
            "HotelName": "Fancy Stay",
            "Description": "Best hotel in town if you like luxury hotels. They have an amazing infinity pool, a spa, and a really helpful concierge. The location is perfect -- right downtown, close to all the tourist attractions. We highly recommend this hotel.",
            "Category": "Luxury"
          },
          {
            "@search.action": "upload",
            "HotelId": "2",
            "HotelName": "Roach Motel",
            "Description": "Cheapest hotel in town. Infact, a motel.",
            "Category": "Budget"
          },
          {
            "@search.action": "upload",
            "HotelId": "3",
            "HotelName": "EconoStay",
            "Description": "Very popular hotel in town.",
            "Category": "Budget"
          },
          {
      [...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qgohcije\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "semantic",
        "search": "Is there any hotel located on the main commercial artery of the city in the heart of New York?",
        "semanticConfiguration": "my-semantic-config",
        "answers": "extractive",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "86",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.answers": [
          {
            "key": "5",
            "text": "Secret Point. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
            "highlights": "\u003Cem\u003ESecret Point. Boutique.\u003C/em\u003E The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
            "score": 0.92333984375
          }
        ],
        "value": [
          {
            "@search.score": 14.81152,
            "@search.captions": [
              {
                "text": "Secret Point. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qgohcije\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "171",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1299675009",
    "SearchIndexName": null,
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
