{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808",
          "NRMS24307845": "20240119"
        },
        "subscriptionId": "fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG527?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527",
        "name": "CSharpSDKRG527",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "tags": {
          "Owners": "tabebchuk",
          "DeleteAfter": "2023-10-10T15:08:05.7645542Z",
          "ServiceDirectory": "kusto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/clusters/sdkCluster527?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-10-10T17:40:43.1268241Z\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/Clusters/sdkCluster527",
        "name": "sdkCluster527",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\u00222023-10-10T17:40:43.1268241Z\u0022",
        "location": "UK South",
        "sku": {
          "name": "Dev(No SLA)_Standard_E2a_v4",
          "tier": "Basic",
          "capacity": 1
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": "",
          "uri": "https://sdkcluster527.uksouth.dev.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster527.uksouth.dev.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint527-6315e337-5e2b-43dc-a694-a743ac37aca8",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/Clusters/sdkCluster527/privateEndpointConnections/sdkPrivateEndpoint527-6315e337-5e2b-43dc-a694-a743ac37aca8",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint527"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "migrationCluster": null,
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "ae538ff4-61ce-46bf-aaed-baaea1200570",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG527/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity527": {
              "principalId": "69523a58-689c-4522-9294-6c385677c8c7",
              "clientId": "56f80eac-44cd-4950-a138-cbb2ebb06f0c"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/clusters/sdkFollowingCluster527?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222023-10-10T14:25:[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/clusters/sdkCluster527/databases/sdkDatabase527?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/Clusters/sdkCluster527/Databases/sdkDatabase527",
        "name": "sdkCluster527/sdkDatabase527",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "UK South",
        "kind": "ReadWrite",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/clusters/sdkCluster527/privateLinkResources/cluster?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/Clusters/sdkCluster527/PrivateLinkResources/cluster",
        "name": "sdkCluster527/cluster",
        "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
        "etag": "\u0022\u0022",
        "location": "DummyLocation",
        "properties": {
          "GroupId": "cluster",
          "RequiredMembers": [
            "Engine",
            "DataManagement",
            "blob-7p3kstrldsdkcluster52700",
            "queue-7p3kstrldsdkcluster52700",
            "table-7p3kstrldsdkcluster52700",
            "blob-ftqkstrldsdkcluster52701",
            "queue-ftqkstrldsdkcluster52701",
            "table-ftqkstrldsdkcluster52701"
          ],
          "RequiredZoneNames": [
            "privatelink.uksouth.dev.kusto.windows.net",
            "privatelink.blob.core.windows.net",
            "privatelink.queue.core.windows.net",
            "privatelink.table.core.windows.net"
          ],
          "provisioningState": "Succeeded"
        },
        "displayName": "cluster"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/clusters/sdkCluster527/privateLinkResources?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/Clusters/sdkCluster527/PrivateLinkResources/cluster",
            "name": "sdkCluster527/cluster",
            "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
            "location": "UK South",
            "properties": {
              "groupId": "cluster",
              "requiredMembers": [
                "Engine",
                "DataManagement",
                "blob-7p3kstrldsdkcluster52700",
                "queue-7p3kstrldsdkcluster52700",
                "table-7p3kstrldsdkcluster52700",
                "blob-ftqkstrldsdkcluster52701",
                "queue-ftqkstrldsdkcluster52701",
                "table-ftqkstrldsdkcluster52701"
              ],
              "requiredZoneNames": [
                "privatelink.uksouth.dev.kusto.windows.net",
                "privatelink.blob.core.windows.net",
                "privatelink.queue.core.windows.net",
                "privatelink.table.core.windows.net"
              ],
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/clusters/sdkCluster527/privateLinkResources/nonExistent?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG527/providers/Microsoft.Kusto/Clusters/sdkCluster527/PrivateLinkResources/nonExistent\u0027 is not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster527",
    "DATABASE_NAME": "sdkDatabase527",
    "FOLLOWING_CLUSTER_NAME": "sdkFollowingCluster527",
    "LOCATION": "uksouth",
    "RandomSeed": "2021522139",
    "RESOURCE_GROUP": "CSharpSDKRG527",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fbccad30-f0ed-4ac4-9497-93bf6141062f"
  }
}
