{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS9825974": "20220330",
          "NRMSBreakGlassAzureOnly": "286269898",
          "NRMS13179388": "20220808",
          "NRMS24307845": "20240119"
        },
        "subscriptionId": "fbccad30-f0ed-4ac4-9497-93bf6141062f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Kusto_Dev_Kusto_Ilay_00",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG552?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552",
        "name": "CSharpSDKRG552",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "ServiceDirectory": "kusto",
          "DeleteAfter": "2023-10-19T10:52:36.994636Z",
          "Owners": "tabebchuk"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/clusters/sdkCluster552?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2023-10-19T12:31:50.2167196Z\"",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "297"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/Clusters/sdkCluster552",
        "name": "sdkCluster552",
        "type": "Microsoft.Kusto/Clusters",
        "etag": "\"2023-10-19T12:31:50.2167196Z\"",
        "location": "Australia East",
        "sku": {
          "name": "Dev(No SLA)_Standard_E2a_v4",
          "tier": "Basic",
          "capacity": 1
        },
        "tags": {},
        "properties": {
          "state": "Running",
          "stateReason": "",
          "uri": "https://sdkcluster552.australiaeast.dev.kusto.windows.net",
          "dataIngestionUri": "https://ingest-sdkcluster552.australiaeast.dev.kusto.windows.net",
          "trustedExternalTenants": [],
          "virtualNetworkConfiguration": null,
          "optimizedAutoscale": null,
          "enableDiskEncryption": false,
          "enableStreamingIngest": false,
          "keyVaultProperties": null,
          "languageExtensions": {
            "value": []
          },
          "enablePurge": null,
          "enableDoubleEncryption": false,
          "engineType": "V3",
          "acceptedAudiences": [],
          "restrictOutboundNetworkAccess": "Disabled",
          "allowedFqdnList": [],
          "publicNetworkAccess": "Enabled",
          "allowedIpRangeList": [],
          "enableAutoStop": true,
          "publicIPType": "IPv4",
          "virtualClusterGraduationProperties": null,
          "privateEndpointConnections": [
            {
              "name": "sdkPrivateEndpoint552-41388618-03c1-4ca2-8bab-eb7506c79adf",
              "type": "Microsoft.Kusto/Clusters/privateEndpointConnections",
              "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/Clusters/sdkCluster552/privateEndpointConnections/sdkPrivateEndpoint552-41388618-03c1-4ca2-8bab-eb7506c79adf",
              "properties": {
                "provisioningState": "Succeeded",
                "groupId": "cluster",
                "privateEndpoint": {
                  "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Network/privateEndpoints/sdkPrivateEndpoint552"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "",
                  "actionsRequired": "None"
                }
              }
            }
          ],
          "migrationCluster": null,
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "Sanitized",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourcegroups/CSharpSDKRG552/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdkUserAssignedIdentity552": {
              "principalId": "Sanitized",
              "clientId": "e5d54248-0785-4778-80cb-629c4260702d"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/clusters/sdkFollowingCluster552?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2023-10-19T10:25:38.8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/clusters/sdkCluster552/databases/sdkDatabase552?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "298"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/Clusters/sdkCluster552/Databases/sdkDatabase552",
        "name": "sdkCluster552/sdkDatabase552",
        "type": "Microsoft.Kusto/Clusters/Databases",
        "location": "Australia East",
        "kind": "ReadWrite",
        "properties": {
          "statistics": {
            "size": 0.0
          },
          "isFollowed": false,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/clusters/sdkCluster552/privateLinkResources/cluster?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11959"
      },
      "ResponseBody": {
        "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/Clusters/sdkCluster552/PrivateLinkResources/cluster",
        "name": "sdkCluster552/cluster",
        "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
        "etag": "\"\"",
        "location": "DummyLocation",
        "properties": {
          "GroupId": "cluster",
          "RequiredMembers": [
            "Engine",
            "DataManagement",
            "blob-f4fkstrldsdkcluster55200",
            "queue-f4fkstrldsdkcluster55200",
            "table-f4fkstrldsdkcluster55200",
            "blob-vj5kstrldsdkcluster55201",
            "queue-vj5kstrldsdkcluster55201",
            "table-vj5kstrldsdkcluster55201"
          ],
          "RequiredZoneNames": [
            "privatelink.australiaeast.dev.kusto.windows.net",
            "privatelink.blob.core.windows.net",
            "privatelink.queue.core.windows.net",
            "privatelink.table.core.windows.net"
          ],
          "provisioningState": "Succeeded"
        },
        "displayName": "cluster"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/clusters/sdkCluster552/privateLinkResources?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/Clusters/sdkCluster552/PrivateLinkResources/cluster",
            "name": "sdkCluster552/cluster",
            "type": "Microsoft.Kusto/Clusters/PrivateLinkResources",
            "location": "Australia East",
            "properties": {
              "groupId": "cluster",
              "requiredMembers": [
                "Engine",
                "DataManagement",
                "blob-f4fkstrldsdkcluster55200",
                "queue-f4fkstrldsdkcluster55200",
                "table-f4fkstrldsdkcluster55200",
                "blob-vj5kstrldsdkcluster55201",
                "queue-vj5kstrldsdkcluster55201",
                "table-vj5kstrldsdkcluster55201"
              ],
              "requiredZoneNames": [
                "privatelink.australiaeast.dev.kusto.windows.net",
                "privatelink.blob.core.windows.net",
                "privatelink.queue.core.windows.net",
                "privatelink.table.core.windows.net"
              ],
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/clusters/sdkCluster552/privateLinkResources/nonExistent?api-version=2023-08-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier '/subscriptions/fbccad30-f0ed-4ac4-9497-93bf6141062f/resourceGroups/CSharpSDKRG552/providers/Microsoft.Kusto/Clusters/sdkCluster552/PrivateLinkResources/nonExistent' is not found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CLUSTER_NAME": "sdkCluster552",
    "DATABASE_NAME": "sdkDatabase552",
    "FOLLOWING_CLUSTER_NAME": "sdkFollowingCluster552",
    "LOCATION": "australiaeast",
    "RandomSeed": "1512493356",
    "RESOURCE_GROUP": "CSharpSDKRG552",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fbccad30-f0ed-4ac4-9497-93bf6141062f"
  }
}