{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/8ab7bff3-a4a0-4e38-bd16-0bed2c4bf6a4/versions?api-version=2023-04-01&hash=130742b0e91b2c36796e829acefbbce3d05e65f002768115bb2b30355200e4a7&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11990",
        "x-ms-response-type": "standard",
        "x-request-time": "0.171"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2011d73-3310-4ec7-99c8-af04941646c5/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "130742b0e91b2c36796e829acefbbce3d05e65f002768115bb2b30355200e4a7",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://saffvflk7q7qq34.blob.core.windows.net:443/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-qmj59u5piadp4xptdf9jyeap83/src",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2024-08-30T06:42:06.5089833+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-08-30T06:42:06.5089833+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2011d73-3310-4ec7-99c8-af04941646c5/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/80715aa8-dd09-4ba0-b6f5-0a3da966108b?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Aml Spark add greeting column test module",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2011d73-3310-4ec7-99c8-af04941646c5/versions/1",
            "entry": {
              "file": "add_greeting_column.py"
            },
            "py_files": [
              "utils.zip"
            ],
            "files": [
              "my_files.txt"
            ],
            "conf": {
              "spark.driver.cores": 2,
              "spark.driver.memory": "1g",
              "spark.executor.cores": 1,
              "spark.executor.memory": "1g",
              "spark.executor.instances": 1
            },
            "args": "--file_input ${{inputs.file_input}}",
            "name": "azureml_anonymous",
            "description": "Aml Spark add greeting column test module",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/sparkComponent.schema.json",
            "display_name": "Aml Spark add greeting column test module",
            "is_deterministic": true,
            "inputs": {
              "file_input": {
                "type": "uri_file",
                "mode": "direct"
              }
            },
            "type": "spark",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/80715aa8-dd09-4ba0-b6f5-0a3da966108b?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.418"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/0ae76752-f355-46e7-8d6b-a9ff69596896",
        "name": "0ae76752-f355-46e7-8d6b-a9ff69596896",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/latest/sparkComponent.schema.json",
            "name": "azureml_anonymous",
            "version": "1",
            "display_name": "Aml Spark add greeting column test module",
            "is_deterministic": "True",
            "type": "spark",
            "description": "Aml Spark add greeting column test module",
            "inputs": {
              "file_input": {
                "type": "uri_file",
                "optional": "False"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2011d73-3310-4ec7-99c8-af04941646c5/versions/1",
            "args": "--file_input ${{inputs.file_input}}",
            "entry": {
              "file": "add_greeting_column.py"
            },
            "files": [
              "my_files.txt"
            ],
            "py_files": [
              "utils.zip"
            ],
            "conf": {
              "spark.driver.cores": "2",
              "spark.driver.memory": "1g",
              "spark.executor.cores": "1",
              "spark.executor.memory": "1g",
              "spark.executor.instances": "1"
            }
          },
          "provisioningState": "Succeeded",
          "stage": "Logged"
        },
        "systemData": {
          "createdAt": "2024-08-30T06:45:35.2511715+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-08-30T06:45:35.3166971+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/75acff3b-20c5-495b-b70f-35e839f84240?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Aml Spark count by row test module",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b2011d73-3310-4ec7-99c8-af04941646c5/versions/1",
            "entry": {
              "file": "count_by_row.py"
            },
            "jars": [
              "scalaproj.jar"
            ],
            "files": [
              "my_files.txt"
            ],
            "conf": {
              "spark.driver.cores": 2,
              "spark.driver.memory": "1g",
              "spark.executor.cores": 1,
              "spark.executor.memory": "1g",
              "spark.executor.instances": 1
            },
            "args": "--file_input ${{inputs.file_input}} --output ${{outputs.output}}",
            "name": "azureml_anonymous",
            "description": "Aml Spark count by row test module",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/sparkComponent.schema.json",
            "display_name": "Aml Spark count by row test module",
            "is_deterministic": true,
            "inputs": {
              "file_input": {
                "type": "uri_file",
                "mode": "direct"
              }
            },
            "outputs": {
              "output": {
                "type": "uri_folder",
                "mode": "direct"
              }
            },
            "type": "spark",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/comp[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.080"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-f51a05ae-45d5-43d8-9d75-31f1e5eaba07",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2024-08-30T06:10:08.2917643+00:00",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-08-30T06:10:08.7937574+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.083"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-f51a05ae-45d5-43d8-9d75-31f1e5eaba07/LocalUpload/00000000000000000000000000000000/iris.csv?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 30 Aug 2024 07:27:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XRrMlLBQw8xkEE3P+ec4mg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC8BEE5C65671\"",
        "Last-Modified": "Fri, 30 Aug 2024 06:42:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 30 Aug 2024 06:42:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "e8fb2486-199e-438a-b1ed-d51c0023f815",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "8575c1d7-8d41-44ef-9ace-591fcdfae424",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-f51a05ae-45d5-43d8-9d75-31f1e5eaba07/az-ml-artifacts/00000000000000000000000000000000/iris.csv?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 30 Aug 2024 07:27:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_195792540304?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "submit a pipeline with spark job",
          "properties": {},
          "tags": {},
          "displayName": "test_195792540304",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "iris_data": {
              "mode": "Direct",
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/iris.csv",
              "jobInputType": "uri_file"
            }
          },
          "jobs": {
            "add_greeting_column": {
              "type": "spark",
              "resources": {
                "instance_type": "standard_e4s_v3",
                "runtime_version": "3.3.0"
              },
              "py_files": [
                "utils.zip"
              ],
              "files": [
                "my_files.txt"
              ],
              "identity": {
                "identity_type": "UserIdentity"
              },
              "conf": {
                "spark.driver.cores": 2,
                "spark.driver.memory": "1g",
                "spark.executor.cores": 1,
                "spark.executor.memory": "1g",
                "spark.executor.instances": 1
              },
              "args": "--file_input ${{inputs.file_input}}",
              "name": "add_greeting_column",
              "inputs": {
                "file_input": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.iris_data}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/0ae76752-f355-46e7-8d6b-a9ff69596896",
              "entry": {
                "spark_job_entry_type": "SparkJobPythonEntry",
                "file": "add_greeting_column.py"
              }
            },
            "count_by_row": {
              "type": "spark",
              "resources": {
                "instance_type": "standard_e4s_v3",
                "runtime_version": "3.3.0"
              },
              "jars": [
                "scalaproj.jar"
              ],
              "files": [
                "my_files.txt"
              ],
              "identity": {
                "identity_type": "UserIdentity"
              },
              "conf": {
                "spark.driver.cores": 2,
                "spar[...]
