{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/ce825887-86ce-0fef-171b-e438689b1bc1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "ce825887-86ce-0fef-171b-e438689b1bc1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "test"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons/2725b34c-20f9-48ac-a2be-5067a18a9c7b",
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/7e2e9844-eb59-41ed-8ee1-60a034c9d04f",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "personId": "2725b34c-20f9-48ac-a2be-5067a18a9c7b"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/ce825887-86ce-0fef-171b-e438689b1bc1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "addPersonIds": [
          "2725b34c-20f9-48ac-a2be-5067a18a9c7b"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/21789601-ec31-48f3-9838-fb3bea160ed8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/7e2e9844-eb59-41ed-8ee1-60a034c9d04f",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdTime": "2024-05-10T08:11:16.5830949Z",
        "lastActionTime": "2024-05-10T08:11:17.1041537Z",
        "finishedTime": "2024-05-10T08:11:17.104154Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons/2725b34c-20f9-48ac-a2be-5067a18a9c7b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "personId": "2725b34c-20f9-48ac-a2be-5067a18a9c7b",
        "name": "test"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/21789601-ec31-48f3-9838-fb3bea160ed8",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdTime": "2024-05-10T08:11:17.0457745Z",
        "lastActionTime": "2024-05-10T08:11:17.2575213Z",
        "finishedTime": "2024-05-10T08:11:17.2575217Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/ce825887-86ce-0fef-171b-e438689b1bc1"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/ce825887-86ce-0fef-171b-e438689b1bc1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "dynamicPersonGroupId": "ce825887-86ce-0fef-171b-e438689b1bc1",
        "name": "ce825887-86ce-0fef-171b-e438689b1bc1"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons/2725b34c-20f9-48ac-a2be-5067a18a9c7b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "operatio[...]
