{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "tags": {
          "Az.Sec.DisableLocalAuth.Storage::OptIn": "all_regions",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::Opt-In": "all_regions",
          "tagKey2": "tag-value-2",
          "DDFunMDCTag": "Public",
          "Az.Sec.DisableLocalAuth.CosmosDB::OptIn": "all_regions",
          "Owner": "azsdk",
          "Az.Sec.DenySubnetOutboundAccess::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.ServiceBus::OptIn": "all_regions",
          "SecurePaaS.NetworkSecurityPerimeter::Onboarding": "single_region",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.RedisCache::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions",
          "tagKey1": "tag-value-1",
          "Az.Sec.DisableLocalAuth.CognitiveServices::OptIn": "all_regions",
          "DDFunSupport_Onboarded": "01122026",
          "Az.Sec.DisableLocalAuth.CognitiveServices::Skip": "foundrytest"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2026-03-03T16:21:27.2238622Z",
          "Owners": "vigera"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"a300bed4-0000-0700-0000-69a6673a0000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "Sanitized",
        "location": "westus",
        "sku": {
          "name": "Sanitized"
        },
        "kind": "AIServices",
        "properties": {
          "endpoint": "https://Sanitized.cognitiveservices.azure.com/",
          "internalId": "05268f0a0e534d2a9769fbd2d41de943",
          "dateCreated": "2026-03-03T04:21:59.5353254Z",
          "apiProperties": {
            "qnaAzureSearchEndpointKey": null
          },
          "callRateLimit": {
            "rules": [
              {
                "key": "documentTranslation.post",
                "renewalPeriod": 1,
                "count": 20,
                "matchPatterns": [
                  {
                    "path": "translator/text/batch/*",
                    "method": "POST"
                  }
                ]
              },
              {
                "key": "documentTranslation.get",
                "renewalPeriod": 1,
                "count": 20,
                "matchPatterns": [
                  {
                    "path": "translator/text/batch/*",
                    "method": "GET"
                  }
                ]
              },
              {
                "key": "documentTranslation.default",
                "renewalPeriod": 1,[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized/deployments?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized/deployments/gpt-4o",
            "type": "Microsoft.CognitiveServices/accounts/deployments",
            "name": "Sanitized",
            "sku": {
              "name": "Sanitized",
              "capacity": 30
            },
            "properties": {
              "model": {
                "format": "OpenAI",
                "name": "Sanitized",
                "version": "2024-08-06"
              },
              "versionUpgradeOption": "OnceNewDefaultVersionAvailable",
              "currentCapacity": 30,
              "capabilities": {
                "area": "US",
                "chatCompletion": "true",
                "assistants": "true",
                "jsonSchemaResponse": "true",
                "maxContextToken": "128000",
                "maxOutputToken": "16384",
                "responses": "true",
                "agentsV2": "true",
                "_H_azureml-throttling-key": "oai-78ec49571e06484a88ad4ef4761b275a"
              },
              "raiPolicyName": "Microsoft.DefaultV2",
              "provisioningState": "Succeeded",
              "rateLimits": [
                {
                  "key": "request",
                  "renewalPeriod": 10,
                  "count": 30
                },
                {
                  "key": "token",
                  "renewalPeriod": 60,
                  "count": 30000
                }
              ]
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-03T04:22:18.3203766Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-03T04:22:18.3203766Z"
            },
            "etag": "Sanitized"
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized/deployments/gpt-4o-mini",
            "type": "Microsoft.CognitiveServices/accounts/deployments",
            "name": "Sanitized",
            "sku": {
              "name": "Sanitized",
              "capacity": 30
            },
            "properties": {
              "model": {
                "format": "OpenAI",
                "name": "Sanitized",
                "version": "2024-07-18"
              },
              "versionUpgradeOption": "OnceNewDefaultVersionAvailable",
              "currentCapacity": 30,
              "capabilities": {
                "area": "US",
                "chatCompletion": "true",
                "jsonObjectResponse": "true",
                "maxContextToken": "128000",
                "maxOutputToken": "16384",
                "assistants": "true",
                "responses": "true",
                "agentsV2": "true",
                "_H_azureml-throttling-key": "oai-880fc7ad135348c3be718b88f9e3737d"
              },
              "raiPolicyName": "Microsoft.DefaultV2",
              "provisioningState": "Succeeded",
              "rateLimits": [
                {
                  "key": "request",
     [...]
