{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "59",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6a8e06ad-4175-43ad-8aee-b0344abb950d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.195"
      },
      "ResponseBody": {
        "id": "asst_mGfctKrlpyV0LycxnWJy2MNS",
        "object": "assistant",
        "created_at": 1746647358,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants/asst_mGfctKrlpyV0LycxnWJy2MNS?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "92703f61-cab4-4fba-be8b-81204457ab5d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.226"
      },
      "ResponseBody": {
        "id": "asst_mGfctKrlpyV0LycxnWJy2MNS",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
