{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "61",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f240c146-fb57-454f-a93a-52de055adace",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.245"
      },
      "ResponseBody": {
        "id": "asst_LW9upim9lSGHU5gkU0LiUBcD",
        "object": "assistant",
        "created_at": 1746174815,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "234",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fdee283a-eafc-4b8e-8143-ca67854feceb",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.369"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_LW9upim9lSGHU5gkU0LiUBcD",
            "object": "assistant",
            "created_at": 1746174815,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_COrnreBKnfbGcP20KGWVSFj8",
            "object": "assistant",
            "created_at": 1746173843,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [
              {
                "type": "bing_grounding",
                "bing_grounding": {
                  "search_configurations": [
                    {
                      "connection_id": "zacharykingbinggrounding"
                    }
                  ]
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_liqgUcX3833v97oCp6EYdYMc",
            "object": "assistant",
            "created_at": 1746173708,
            "name": "My Friendly Test Assistant",
            "description[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_LW9upim9lSGHU5gkU0LiUBcD?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "188",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8381ab81-698e-4a04-9959-fb294793410a",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.326"
      },
      "ResponseBody": {
        "id": "asst_LW9upim9lSGHU5gkU0LiUBcD",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
