{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "db8fc39a-1c50-4641-9fcc-07acb60faed1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.237"
      },
      "ResponseBody": {
        "id": "asst_Pr2EOttxFgs5G2PxUiPOOxu3",
        "object": "assistant",
        "created_at": 1746746934,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_Pr2EOttxFgs5G2PxUiPOOxu3?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "31",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "26778e62-432b-4522-a153-bc7b38aff327",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.172"
      },
      "ResponseBody": {
        "id": "asst_Pr2EOttxFgs5G2PxUiPOOxu3",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
