{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "66",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c2f64696-12bc-472f-a156-f42b3fcc5faf",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.378"
      },
      "ResponseBody": {
        "id": "asst_gpXnf7OlhBNWhAksHpAHn7n7",
        "object": "assistant",
        "created_at": 1747727612,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_gpXnf7OlhBNWhAksHpAHn7n7?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-updated-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "22a0de45-a409-46d5-a07f-1dc09f3b1c97",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.663"
      },
      "ResponseBody": {
        "id": "asst_gpXnf7OlhBNWhAksHpAHn7n7",
        "object": "assistant",
        "created_at": 1747727612,
        "name": "my-updated-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_gpXnf7OlhBNWhAksHpAHn7n7?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "79cfb4ef-0c05-4cd2-ae33-f7efc34e763a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.389"
      },
      "ResponseBody": {
        "id": "asst_gpXnf7OlhBNWhAksHpAHn7n7",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
