{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "17",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "21b1e00b-b34b-4cee-b387-ceee6ce8da06",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.303"
      },
      "ResponseBody": {
        "id": "asst_FhBnzwDpPqHQ23VWiY9vO4AU",
        "object": "assistant",
        "created_at": 1747436072,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "310",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "232fc5b6-a5ba-4224-9eb3-6bbb213d0118",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.621"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_JLhj1mZTYVcBCjoAmFiqd9wi",
            "object": "assistant",
            "created_at": 1747436072,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [
              {
                "type": "function",
                "function": {
                  "name": "getCurrentDateTime",
                  "description": "Get current date time",
                  "parameters": {
                    "type": "object",
                    "properties": {}
                  },
                  "strict": false
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_FhBnzwDpPqHQ23VWiY9vO4AU",
            "object": "assistant",
            "created_at": 1747436072,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a he[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_FhBnzwDpPqHQ23VWiY9vO4AU?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "91",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7b2dbaaf-68d0-4afb-a2b3-283a21c538b3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.431"
      },
      "ResponseBody": {
        "id": "asst_FhBnzwDpPqHQ23VWiY9vO4AU",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
