{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6ca7f7f6-c322-4e67-84fd-f6c198194474",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.628"
      },
      "ResponseBody": {
        "id": "asst_1AqhglDlw9eDntiPWaP3rDFA",
        "object": "assistant",
        "created_at": 1747428390,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_1AqhglDlw9eDntiPWaP3rDFA?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "362",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1bc5b116-9c6c-45b8-b1a7-caf128d5bfda",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.609"
      },
      "ResponseBody": {
        "id": "asst_1AqhglDlw9eDntiPWaP3rDFA",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
