{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "18",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3fe14097-2312-4179-82fb-27613cbc70e3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.147"
      },
      "ResponseBody": {
        "id": "asst_b42ZFP5IlvsbbgCuBPhuHVZT",
        "object": "assistant",
        "created_at": 1746740385,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants/asst_b42ZFP5IlvsbbgCuBPhuHVZT?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "32",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "84f4d565-06d0-4e4e-89c8-7e7ef9cd3f2a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.146"
      },
      "ResponseBody": {
        "id": "asst_b42ZFP5IlvsbbgCuBPhuHVZT",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
