{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "23",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "94c55189-c2ce-4ea7-871b-508cdfd1a66f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.115"
      },
      "ResponseBody": {
        "id": "asst_5qCb5rFkXNaGnqNrd624cwbV",
        "object": "assistant",
        "created_at": 1746663469,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants/asst_5qCb5rFkXNaGnqNrd624cwbV?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0c624979-106c-496a-9102-233b024954c0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.181"
      },
      "ResponseBody": {
        "id": "asst_5qCb5rFkXNaGnqNrd624cwbV",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
