{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "63",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4ef54ab1-0059-400e-917b-342ca4984173",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.332"
      },
      "ResponseBody": {
        "id": "asst_A1epWh4tmYjhBKse7OxCFfCP",
        "object": "assistant",
        "created_at": 1747768387,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_A1epWh4tmYjhBKse7OxCFfCP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1be61514-72e4-4320-84ce-ff927b09125e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.336"
      },
      "ResponseBody": {
        "id": "asst_A1epWh4tmYjhBKse7OxCFfCP",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
