{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Orcas PM team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourcegroups/pgflexrg8871?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg8871",
        "name": "pgflexrg8871",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg8871/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2226?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_D4s_v3",
          "tier": "GeneralPurpose"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "version": "13",
          "storage": {
            "storageSizeGB": 128
          },
          "backup": {
            "backupRetentionDays": 7
          },
          "network": {},
          "highAvailability": {
            "mode": "Disabled"
          },
          "createMode": "Create"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/56ab2b55-455f-417b-8fc9-4106f831a0e4?api-version=2023-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/56ab2b55-455f-417b-8fc9-4106f831a0e4?api-version=2023-03-01-preview",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2023-07-12T16:18:59.8Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/56ab2b55-455f-417b-8fc9-4106f831a0e4?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "name": "56ab2b55-455f-417b-8fc9-4106f831a0e4",
        "status": "InProgress",
        "startTime": "2023-07-12T16:18:59.8Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg8871/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2226?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_D4s_v3",
          "tier": "GeneralPurpose"
        },
        "systemData": {
          "createdAt": "2023-07-12T16:19:04.8944810Z"
        },
        "properties": {
          "dataEncryption": {
            "type": "SystemManaged"
          },
          "storage": {
            "storageSizeGB": 128,
            "autoGrow": "Disabled"
          },
          "authConfig": {
            "activeDirectoryAuth": "Disabled",
            "passwordAuth": "Enabled"
          },
          "fullyQualifiedDomainName": "pgflexserver2226.postgres.database.azure.com",
          "version": "13",
          "minorVersion": "10",
          "administratorLogin": "testUser",
          "state": "Ready",
          "availabilityZone": "1",
          "backup": {
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Disabled",
            "earliestRestoreDate": "2023-07-12T16:19:04.894481\u002B00:00"
          },
          "network": {
            "publicNetworkAccess": "Enabled"
          },
          "highAvailability": {
            "mode": "Disabled",
            "state": "NotEnabled"
          },
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "replicationRole": "Primary",
          "replicaCapacity": 5
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg8871/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2226",
        "name": "pgflexserver2226",
        "type": "Microsoft.DBforPostgreSQL/flexibleServers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg8871/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver2226?api-version=2023-03-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key": "value"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/8b902dca-f166-410d-ba52-a6486d064d75?api-version=2023-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/8b902dca-f166-410d-ba52-a6486d064d75?api-version=2023-03-01-preview",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2023-07-12T16:24:07.95Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/East%20US/azureAsyncOperation/218d9e5f-1c31-4947-b50f-015d71926332?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "name": "218d9e5f-1c31-4947-b50f-015d71926332",
        "status": "InProgress",
        "startTime": "2023-07-12T16:25:11.36Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/East%20US/azureAsyncOperation/218d9e5f-1c31-4947-b50f-015d71926332?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "name": "218d9e5f-1c31-4947-b50f-015d71926332",
        "status": "Succeeded",
        "startTime": "2023-07-12T16:25:11.36Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1030865117",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30"
  }
}
