{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Orcas PM team",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourcegroups/pgflexrg9694?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694",
        "name": "pgflexrg9694",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver6582?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_D2s_v3",
          "tier": "GeneralPurpose"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "version": "14",
          "storage": {
            "storageSizeGB": 128
          },
          "backup": {
            "geoRedundantBackup": "Enabled"
          },
          "createMode": "Create"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/27550d47-fa08-406f-85da-1dc14f4ffe76?api-version=2023-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/27550d47-fa08-406f-85da-1dc14f4ffe76?api-version=2023-03-01-preview",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2023-07-11T04:57:34.543Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/27550d47-fa08-406f-85da-1dc14f4ffe76?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "27550d47-fa08-406f-85da-1dc14f4ffe76",
        "status": "InProgress",
        "startTime": "2023-07-11T04:57:34.543Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver6582?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_D2s_v3",
          "tier": "GeneralPurpose"
        },
        "systemData": {
          "createdAt": "2023-07-11T04:57:39.6826077Z"
        },
        "properties": {
          "dataEncryption": {
            "type": "SystemManaged"
          },
          "storage": {
            "storageSizeGB": 128,
            "autoGrow": "Disabled"
          },
          "authConfig": {
            "activeDirectoryAuth": "Disabled",
            "passwordAuth": "Enabled"
          },
          "fullyQualifiedDomainName": "pgflexserver6582.postgres.database.azure.com",
          "version": "14",
          "minorVersion": "7",
          "administratorLogin": "testUser",
          "state": "Ready",
          "availabilityZone": "2",
          "backup": {
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Enabled",
            "earliestRestoreDate": "2023-07-11T04:57:39.6826077\u002B00:00"
          },
          "network": {
            "publicNetworkAccess": "Enabled"
          },
          "highAvailability": {
            "mode": "Disabled",
            "state": "NotEnabled"
          },
          "maintenanceWindow": {
            "customWindow": "Disabled",
            "dayOfWeek": 0,
            "startHour": 0,
            "startMinute": 0
          },
          "replicationRole": "Primary",
          "replicaCapacity": 5
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver6582",
        "name": "pgflexserver6582",
        "type": "Microsoft.DBforPostgreSQL/flexibleServers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver5834?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sourceServerResourceId": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver6582",
          "pointInTimeUTC": "2023-07-11T05:00:38.2406519Z",
          "createMode": "GeoRestore"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "error": {
          "code": "GeoBackupsNotAvailable",
          "message": "Unable to geo-restore server pgflexserver6582 as its geo-backups are not available yet."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/westus/azureAsyncOperation/7e73eeae-fe68-49fc-861e-52fbbca5754c?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "7e73eeae-fe68-49fc-861e-52fbbca5754c",
        "status": "InProgress",
        "startTime": "2023-07-11T05:31:14.19Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet7093",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "delegations": [
                  {
                    "name": "Microsoft.DBforPostgreSQL/flexibleServers",
                    "properties": {
                      "serviceName": "Microsoft.DBforPostgreSQL/flexibleServers"
                    }
                  }
                ],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.Network/locations/eastus/operations/31d3df7b-95bd-43de-95f7-15fe21e25d5e?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "vnet2392",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392",
        "etag": "W/\u0022d908c94f-d932-4a4a-9079-2dd4ae81cc2b\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "6c901451-9ccf-4c0a-bf47-cbfcaccc7afb",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet7093",
              "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392/subnets/subnet7093",
              "etag": "W/\u0022d908c94f-d932-4a4a-9079-2dd4ae81cc2b\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [
                  {
                    "name": "Microsoft.DBforPostgreSQL/flexibleServers",
                    "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392/subnets/subnet7093/delegations/Microsoft.DBforPostgreSQL/flexibleServers",
                    "etag": "W/\u0022d908c94f-d932-4a4a-9079-2dd4ae81cc2b\u0022",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.DBforPostgreSQL/flexibleServers",
                      "actions": [
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.Network/locations/eastus/operations/31d3df7b-95bd-43de-95f7-15fe21e25d5e?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224e204f13-7163-44eb-b62f-592333c96274\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "name": "vnet2392",
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392",
        "etag": "W/\u00224e204f13-7163-44eb-b62f-592333c96274\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "propertie[...]
[...]
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DBforPostgreSQL/getPrivateDnsZoneSuffix?api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": "\u0022postgres.database.azure.com\u0022"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {}
      }[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs3MzhiNDg0My1jNGI0LTQ1ZTctOGFiOS04NTYxYzI2YTdmOTRfNWM1MDM3ZTUtZDNmMS00ZTdiLWIzYTktZjZiZjk0OTAyYjMw?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "001b6fd9-e7e6-40b0-8ca4-c0cd027979ac",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com",
        "name": "pgflexserver7421.private.postgres.database.azure.com",
        "type": "Microsoft.Network/privateDnsZones",
        "etag": "001b6fd9-e7e6-40b0-8ca4-c0cd027979ac",
        "location": "global",
        "tags": {},
        "properties": {
          "internalId": "SW1tdXRhYmxlWm9uZUlkZW50aXR5OzM2ODM0MzQ2LWIwZjUtNDEyZi04MGI5LTAwMWNhYjgwM2RhNjsw",
          "maxNumberOfRecordSets": 25000,
          "maxNumberOfVirtualNetworkLinks": 1000,
          "maxNumberOfVirtualNetworkLinksWithRegistration": 100,
          "numberOfRecordSets": 1,
          "numberOfVirtualNetworkLinks": 0,
          "numberOfVirtualNetworkLinksWithRegistration": 0,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com/virtualNetworkLinks/vnet2392-link?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "virtualNetwork": {
            "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392"
          },
          "registrationEnabled": false
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7MmFjNWIwZmUtYzNlMC00YjVhLWFlYWYtZDY2NzNhZjc5NjZmXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7MmFjNWIwZmUtYzNlMC00YjVhLWFlYWYtZDY2NzNhZjc5NjZmXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=2020-06-01",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7MmFjNWIwZmUtYzNlMC00YjVhLWFlYWYtZDY2NzNhZjc5NjZmXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com/virtualNetworkLinks/vnet2392-link?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dd013a97-0000-0100-0000-64acea6c0000\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com/virtualNetworkLinks/vnet2392-link",
        "name": "vnet2392-link",
        "type": "Microsoft.Network/privateDnsZones/virtualNetworkLinks",
        "etag": "\u0022dd013a97-0000-0100-0000-64acea6c0000\u0022",
        "location": "global",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded",
          "registrationEnabled": false,
          "virtualNetwork": {
            "id": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392"
          },
          "virtualNetworkLinkState": "Completed"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.DBforPostgreSQL/flexibleServers/pgflexserver7421?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_D2s_v3",
          "tier": "GeneralPurpose"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "administratorLogin": "testUser",
          "administratorLoginPassword": "testPassword1!",
          "version": "14",
          "storage": {
            "storageSizeGB": 128
          },
          "backup": {
            "geoRedundantBackup": "Enabled"
          },
          "network": {
            "delegatedSubnetResourceId": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/virtualNetworks/vnet2392/subnets/subnet7093",
            "privateDnsZoneArmResourceId": "/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsZones/pgflexserver7421.private.postgres.database.azure.com"
          },
          "createMode": "Create"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/abf8fdba-5fd2-4f16-832c-cb29396a5c92?api-version=2023-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/abf8fdba-5fd2-4f16-832c-cb29396a5c92?api-version=2023-03-01-preview",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "UpsertServerManagementOperationV2",
        "startTime": "2023-07-11T05:37:14.417Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/providers/Microsoft.Network/locations/westus/operations/d0a90d9b-514c-4470-9652-36e40ab1ec2e?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtjNWI1ZTcwMi1jOGQyLTQ0ZmItODI3MC03OGE1MjdkOWUxY2NfNWM1MDM3ZTUtZDNmMS00ZTdiLWIzYTktZjZiZjk0OTAyYjMw?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5c5037e5-d3f1-4e7b-b3a9-f6bf94902b30/resourceGroups/pgflexrg9694/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7MjNiMTE3MzctZmI1NC00OWNkLThiMWYtMDgzY2NkZDg2OWUxXzVjNTAzN2U1LWQzZjEtNGU3Yi1iM2E5LWY2YmY5NDkwMmIzMA==?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null[...]
[...]
