{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-assistant",
        "model": "gpt-4o",
        "instructions": "You are helpful assistant"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "c65bf222-976e-4c5c-9749-aae03a71273c",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.390"
      },
      "ResponseBody": {
        "id": "asst_ULPMZRMDITeSRSugOQTAEOLu",
        "object": "assistant",
        "created_at": 1744951100,
        "name": "my-assistant",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful assistant",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_ULPMZRMDITeSRSugOQTAEOLu?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "06b22829-2ce6-4b6e-84e1-6ecf0857702d",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.399"
      },
      "ResponseBody": {
        "id": "asst_ULPMZRMDITeSRSugOQTAEOLu",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
