{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AZURE-CDN-TEST",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test",
        "name": "azure_cli_test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile",
        "type": "Microsoft.Cdn/profiles",
        "name": "testProfile",
        "location": "Global",
        "kind": "cdn",
        "tags": {},
        "sku": {
          "name": "Standard_Microsoft"
        },
        "properties": {
          "extendedProperties": {},
          "resourceState": "Active",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile/endpoints/testEndpoint4dotnetsdk1?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile/endpoints/testEndpoint4dotnetsdk1",
        "type": "Microsoft.Cdn/profiles/endpoints",
        "name": "testEndpoint4dotnetsdk1",
        "location": "Global",
        "tags": {},
        "properties": {
          "hostName": "testEndpoint4dotnetsdk1.azureedge.net",
          "originHostHeader": "microsoft1.com",
          "originPath": null,
          "contentTypesToCompress": [
            "application/eot",
            "application/font",
            "application/font-sfnt",
            "application/javascript",
            "application/json",
            "application/opentype",
            "application/otf",
            "application/pkcs7-mime",
            "application/truetype",
            "application/ttf",
            "application/vnd.ms-fontobject",
            "application/xhtml+xml",
            "application/xml",
            "application/xml+rss",
            "application/x-font-opentype",
            "application/x-font-truetype",
            "application/x-font-ttf",
            "application/x-httpd-cgi",
            "application/x-javascript",
            "application/x-mpegurl",
            "application/x-opentype",
            "application/x-otf",
            "application/x-perl",
            "application/x-ttf",
            "font/eot",
            "font/ttf",
            "font/otf",
            "font/opentype",
            "image/svg+xml",
            "text/css",
            "text/csv",
            "text/html",
            "text/javascript",
            "text/js",
            "text/plain",
            "text/richtext",
            "text/tab-separated-values",
            "text/xml",
            "text/x-script",
            "text/x-component",
            "text/x-java-source"
          ],
          "isCompressionEnabled": true,
          "isHttpAllowed": true,
          "isHttpsAllowed": true,
          "queryStringCachingBehavior": "IgnoreQueryString",
          "optimizationType": "GeneralWebDelivery",
          "probePath": null,
          "origins": [
            {
              "name": "microsoft1-com",
              "properties": {
                "hostName": "microsoft1.com",
                "httpPort": null,
                "httpsPort": null,
                "originHostHeader": "microsoft1.com",
                "priority": 1,
                "weight": 1000,
                "enabled": true,
                "privateLinkAlias": null,
                "privateLinkResourceId": null,
                "privateLinkLocation": null,
                "privateEndpointStatus": null,
                "privateLinkApprovalMessage": null
              }
            }
          ],
          "originGroups": [],
          "defaultOriginGroup": null,
          "customDomains": [
            {
              "name": "customDomain-9242",
              "properties": {
                "hostName": "sdktest1.clitest.azfdtest.xyz",
                "validationData": null
              }
            },
            {
              "name": "customDomain-5506",
              "properties": {
                "hostName": "sdktest3.clitest.azfdtest.xyz",
                "validationData": null
              }
            },
            {
              "name": "customDomain-3756",
              "properties": {
                "hostName": "sdktest2.clitest.azfdtest.xyz",
                "validationData": null
              }
            },
            {
              "name": "sdktest5-clitest-azfdtest-xyz",
              "properties": {
                "hostName": "sdktest5.clitest.azfdtest.xyz",
                "validationData": null
              }
            },
            {
              "name": "sdktest4-clitest-azfdtest-xyz",
              "properties": {
                "hostName": "sdktest4.clitest.azfdtest.xyz",
                "validationData": null
              }
            }
          ],
          "geoFilters": [],
          "deliveryPolicy": null,
          "urlSigningKeys": null,
          "webApplicationFirewallPolicyLink": null,
          "resourceState": "Running",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile/endpoints/testEndpoint4dotnetsdk1/customDomains/sdktest4-clitest-azfdtest-xyz?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile/endpoints/testEndpoint4dotnetsdk1/customdomains/sdktest4-clitest-azfdtest-xyz",
        "type": "Microsoft.Cdn/profiles/endpoints/customdomains",
        "name": "sdktest4-clitest-azfdtest-xyz",
        "properties": {
          "hostName": "sdktest4.clitest.azfdtest.xyz",
          "validationData": null,
          "resourceState": "Active",
          "customHttpsProvisioningState": "Disabled",
          "customHttpsProvisioningSubstate": "None",
          "customHttpsParameters": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile/endpoints/testEndpoint4dotnetsdk1/customDomains/sdktest4-clitest-azfdtest-xyz?api-version=2024-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/operationresults/be3456e1-2a61-4fdc-a333-332ec4520534?api-version=2024-02-01&t=638485056439125679&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/operationresults/be3456e1-2a61-4fdc-a333-332ec4520534?api-version=2024-02-01&t=638485056439125679&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testProfile/endpoints/testEndpoint4dotnetsdk1/customDomains/sdktest4-clitest-azfdtest-xyz?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The requested resource was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1313959845",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "27cafca8-b9a4-4264-b399-45d0c9cca1ab"
  }
}