{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.SignalRService/signalR/mySignalRService1?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-rp-server-mvid": "57ce0947-e218-417e-a4d7-785d5b88496c"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Succeeded",
          "externalIP": "20.88.155.51",
          "hostName": "mysignalrservice1.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "mysignalrservice1",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "liveTraceConfiguration": null,
          "resourceLogConfiguration": null,
          "cors": {
            "allowedOrigins": [
              "*"
            ]
          },
          "serverless": {
            "connectionTimeoutInSeconds": 30,
            "keepAliveIntervalInSeconds": 15
          },
          "upstream": {
            "templates": []
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ServerConnection",
                "ClientConnection",
                "RESTAPI",
                "Trace"
              ],
              "deny": null
            },
            "privateEndpoints": [],
            "ipRules": [
              {
                "value": "0.0.0.0/0",
                "action": "Allow"
              },
              {
                "value": "::/0",
                "action": "Allow"
              }
            ]
          },
          "applicationFirewall": {
            "clientConnectionCountRules": [],
            "clientTrafficControlRules": [],
            "maxClientConnectionLifetimeInSeconds": null
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false,
          "regionEndpointEnabled": "Enabled",
          "resourceStopped": "false",
          "routeSettings": null
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1",
        "name": "mySignalRService1",
        "type": "Microsoft.SignalRService/SignalR",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-06-11T02:17:11.4705842Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-06-11T02:17:11.4705842Z"
        }
      }
    }
  ],
  "Variables": {}
}
