{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "SECRET_VALUE0",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE0",
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/bdd802ab7f744e7eaef3b7f35c68038d",
        "attributes": {
          "enabled": true,
          "created": 1733268299,
          "updated": 1733268299,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/versions?maxresults=1&api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/47ba08a99c074cfdbab70705e4ad8c06",
            "attributes": {
              "enabled": true,
              "created": 1733268299,
              "updated": 1733268299,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": "https://keyvault_name.vault.azure.net:443/secrets/listSecretName-canretrieveallversionsofasecretbypage-/versions?api-version=7.5&$skiptoken=Sanitized&maxresults=1"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/47ba08a99c074cfdbab70705e4ad8c06?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE1",
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/47ba08a99c074cfdbab70705e4ad8c06",
        "attributes": {
          "enabled": true,
          "created": 1733268299,
          "updated": 1733268299,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/versions?api-version=7.5&$skiptoken=Sanitized&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/58bfd65e70a349f89c2d4ff42b4fba74",
            "attributes": {
              "enabled": true,
              "created": 1733268299,
              "updated": 1733268299,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": "https://keyvault_name.vault.azure.net:443/secrets/listSecretName-canretrieveallversionsofasecretbypage-/versions?api-version=7.5&$skiptoken=Sanitized&maxresults=1"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/bdd802ab7f744e7eaef3b7f35c68038d?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE0",
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-/bdd802ab7f744e7eaef3b7f35c68038d",
        "attributes": {
          "enabled": true,
          "created": 1733268299,
          "updated": 1733268299,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
