{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canlistdeletedsecretsbypage-0?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canlistdeletedsecretsbypage-0?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "value": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "RSA",
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canlistdeletedsecretsbypage-0/2b8050bee4514e4ea820aa31c18bf7bf",
        "attributes": {
          "enabled": true,
          "created": 1731603178,
          "updated": 1731603178,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canlistdeletedsecretsbypage-0?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/listSecretName-canlistdeletedsecretsbypage-0",
        "deletedDate": 1731603179,
        "scheduledPurgeDate": 1732207979,
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canlistdeletedsecretsbypage-0/2b8050bee4514e4ea820aa31c18bf7bf",
        "attributes": {
          "enabled": true,
          "created": 1731603178,
          "updated": 1731603178,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canlistdeletedsecretsbypage-0?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: listSecretName-canlistdeletedsecretsbypage-0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/listSecretName-canlistd[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.5&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
