{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canlistsecretproperties-342912138566330740",
            "attributes": {
              "enabled": true,
              "created": 1732059209,
              "updated": 1732059209,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canlistsecretproperties-342912138566330741",
            "attributes": {
              "enabled": true,
              "created": 1732059209,
              "updated": 1732059209,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecret-4158244462689371",
            "attributes": {
              "enabled": true,
              "created": 1732059114,
              "updated": 1732059114,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-48976947221396694",
            "attributes": {
              "enabled": true,
              "created": 1732059136,
              "updated": 1732059136,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canlistsecretproperties-342912138566330740?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/listSecretName-canlistsecretproperties-342912138566330740",
        "deletedDate": 1732059269,
        "scheduledPurgeDate": 1732664069,
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canlistsecretproperties-342912138566330740/1ee3f4c5199c4bcead2baa403f6c6869",
        "attributes": {
          "enabled": true,
          "created": 1732059209,
          "updated": 1732059209,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canlistsecretproperties-342912138566330740?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: listSecretName-canlistsecretproperties-342912138566330740"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecret-4158244462689371?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/listSecretName-canretrieveallversionsofasecret-4158244462689371",
        "deletedDate": 1732059280,
        "scheduledPurgeDate": 1732664080,
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecret-4158244462689371/67a2519cffc04d35b94b12961e628a99",
        "attributes": {
          "enabled": true,
          "created": 1732059114,
          "updated": 1732059114,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canretrieveallversionsofasecret-4158244462689371?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: listSecretName-canretrieveallversionsofasecret-4158244462689371"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-48976947221396694?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/listSecretName-canretrieveallversionsofasecretbypage-48976947221396694",
        "deletedDate": 1732059285,
        "scheduledPurgeDate": 1732664085,
        "id": "https://keyvault_name.vault.azure.net/secrets/listSecretName-canretrieveallversionsofasecretbypage-48976947221396694/c4fe7d250d7948baa80c7e87f97896bb",
        "attributes": {
          "enabled": true,
          "created": 1732059136,
          "updated": 1732059136,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canretrieveallversionsofasecretbypage-48976947221396694?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: listSecretName-canretrieveallversionsofasecretbypage-48976947221396694"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/listSecretName-canlistd[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canlistdeletedsecrets-248286792227241150?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canlistdeletedsecretsbypage-51276723426609120?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canlistsecretsbypage-70855858519859720?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/listSecretName-canlistsecretsbypage-70855858519859721?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
