{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://keyvault_name.vault.azure.net/secrets/backupRestoreCertificateName-canrecoveradeletedcertificate-5268707497177064",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1774286778,
              "exp": 1805823378,
              "created": 1774287378,
              "updated": 1774287378,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            }
          },
          {
            "contentType": "application/x-pkcs12",
            "id": "https://keyvault_name.vault.azure.net/secrets/backupRestoreCertificateName-canrestoreacertificate-6062888813396867",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1774286820,
              "exp": 1805823420,
              "created": 1774287420,
              "updated": 1774287420,
              "recoveryLevel": "Recoverabl[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/backupRestoreCertificateName-canrecoveradeletedcertificate-5268707497177064?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/backupRestoreCertificateName-canrestoreacertificate-6062888813396867?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/backupRestoreSecretName-canbackupasecret-5138671693594039?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/backupRestoreSecretName-canbackupasecret-5138671693594039",
        "deletedDate": 1774459481,
        "scheduledPurgeDate": 1782235481,
        "id": "https://keyvault_name.vault.azure.net/secrets/backupRestoreSecretName-canbackupasecret-5138671693594039/23ece083e3fd43f886aac4b0f5b201fd",
        "attributes": {
          "enabled": true,
          "created": 1774459231,
          "updated": 1774459231,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/backupRestoreSecretName-canbackupasecret-5138671693594039?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: backupRestoreSecretName-canbackupasecret-5138671693594039"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/backupRestoreSecretName-canrecoveradeletedsecret-982660629212426?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/backupRestoreSecretName-canrecoveradeletedsecret-982660629212426",
        "deletedDate": 1774459487,
        "scheduledPurgeDate": 1782235487,
        "id": "https://keyvault_name.vault.azure.net/secrets/backupRestoreSecretName-canrecoveradeletedsecret-982660629212426/90c78297bdc84131a8d816986487488e",
        "attributes": {
          "enabled": true,
          "created": 1774459215,
          "updated": 1774459215,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/backupRestoreSecretName-canrecoveradeletedsecret-982660629212426?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: backupRestoreSecretName-canrecoveradeletedsecret-982660629212426"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-canabortcreatingacertificate-41532936635367723?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-cancreateacertificate-7864920762969954?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-cancreateacertificatewithpreserveCertificateOrder-961964821541709?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-6950046204913943?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-candisableacertificate-5915165528389763?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-candisableacertificateversion-7766951007191858?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-cangetacertificate-07897536907768488?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-cangetacertificatessecretinPEMformat-6259772918266693?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-cangetacertificatessecretinPKCS12format-5711542939572959?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-8323307367329542?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-canupdateacertificatespolicy-7814718704776467?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-canupdatethetagsofacertificate-47313216887388854?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDCertificateName-supportstracing-7883117531723204?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/crudcertoperation-241?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation \"delete\" is not allowed on this secret, since it is associated with a certificate. Perform the operation on the corresponding certificate. For more information refer to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate",
          "innererror": {
            "code": "SecretManagedByKeyVault"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-canaddasecret-7106799830521932?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-canaddasecret-7106799830521932",
        "deletedDate": 1774459494,
        "scheduledPurgeDate": 1782235494,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-canaddasecret-7106799830521932/bebd8092159744abbde951ac19b9facc",
        "attributes": {
          "enabled": true,
          "created": 1774459215,
          "updated": 1774459215,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-canaddasecret-7106799830521932?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-canaddasecret-7106799830521932"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cangetasecret-36209508141445856?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-cangetasecret-36209508141445856",
        "deletedDate": 1774459500,
        "scheduledPurgeDate": 1782235500,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cangetasecret-36209508141445856/573f0653aca144bab1f1c82bf24b4812",
        "attributes": {
          "enabled": true,
          "created": 1774459231,
          "updated": 1774459231,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-cangetasecret-36209508141445856?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-cangetasecret-36209508141445856"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-canretrievethelatestversionofasecretvalue-046104152397120624?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-canretrievethelatestversionofasecretvalue-046104152397120624",
        "deletedDate": 1774459505,
        "scheduledPurgeDate": 1782235505,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-canretrievethelatestversionofasecretvalue-046104152397120624/78ac2047279c412580b5b4ab60148ed8",
        "attributes": {
          "enabled": true,
          "created": 1774459235,
          "updated": 1774459235,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-canretrievethelatestversionofasecretvalue-046104152397120624?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-canretrievethelatestversionofasecretvalue-046104152397120624"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cansetasecretwithattributes-1170278710348146?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-cansetasecretwithattributes-1170278710348146",
        "deletedDate": 1774459511,
        "scheduledPurgeDate": 1782235511,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cansetasecretwithattributes-1170278710348146/f5acd7a31a744857abdaeb0112b7ae19",
        "attributes": {
          "enabled": true,
          "exp": 1798761600,
          "created": 1774459223,
          "updated": 1774459223,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-cansetasecretwithattributes-1170278710348146?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-cansetasecretwithattributes-1170278710348146"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cansetasecretwithEmptyValue-9935468233742303?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-cansetasecretwithEmptyValue-9935468233742303",
        "deletedDate": 1774459516,
        "scheduledPurgeDate": 1782235516,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cansetasecretwithEmptyValue-9935468233742303/344aab8cec66452f8f7ad2859dc7602f",
        "attributes": {
          "enabled": true,
          "created": 1774459221,
          "updated": 1774459221,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-cansetasecretwithEmptyValue-9935468233742303?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-cansetasecretwithEmptyValue-9935468233742303"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/CRUDSecretName-cantgetadisabledsecret-34142550761347956?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/CRUDSecretName-cantgetadisabledsecret-34142550761347956",
        "deletedDate": 1774459522,
        "scheduledPurgeDate": 1782235522,
        "id": "https://keyvault_name.vault.azure.net/secrets/CRUDSecretName-cantgetadisabledsecret-34142550761347956/a543821c9dfc4e8d921c4e37060f2970",
        "attributes": {
          "enabled": false,
          "created": 1774459233,
          "updated": 1774459233,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/CRUDSecretName-cantgetadisabledsecret-34142550761347956?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: CRUDSecretName-cantgetadisabledsecret-34142550761347956"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
[...]
