{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fpurview.azure.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake_account.account.purview.azure.com/policyStore/metadataPolicies?api-version=2021-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-01, 2022-10-01, 2023-08-01",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "values": [
          {
            "name": "policy_collection_chenxipurview",
            "id": "16bd61d3-10fc-4bc9-8c91-56cbdb91670d",
            "version": 5,
            "properties": {
              "description": "",
              "decisionRules": [
                {
                  "kind": "decisionrule",
                  "effect": "Permit",
                  "dnfCondition": [
                    [
                      {
                        "attributeName": "resource.purview.collection",
                        "attributeValueIncludes": "chenxipurview"
                      },
                      {
                        "fromRule": "permission:chenxipurview",
                        "attributeName": "derived.purview.permission",
                        "attributeValueIncludes": "permission:chenxipurview"
                      }
                    ]
                  ]
                }
              ],
              "attributeRules": [
                {
                  "kind": "attributerule",
                  "id": "purviewmetadatarole_builtin_collection-administrator:chenxipurview",
                  "name": "purviewmetadatarole_builtin_collection-administrator:chenxipurview",
                  "dnfCondition": [
                    [
                      {
                        "attributeName": "principal.microsoft.id",
                        "attributeValueIncludedIn": [
                          "f518083f-81b8-4f59-8962-4fe44474b4bd",
                          "4e55ffcd-c816-4949-9a89-04bda3566b23"
                        ]
                      },
                      {
                        "fromRule": "purviewmetadatarole_builtin_collection-administrator",
                        "attributeName": "derived.purview.role",
                        "attributeValueIncludes": "purviewmetadatarole_builtin_collection-administrator"
                      }
     [...]
