{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key1533221169/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key1533221169/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key1533221169/257717d6f902494d8e2144228fd24580",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Kjm0U6TqWPPBp63OB2XOxT_-7Vn43a2qxvg0m912NZw",
          "y": "Atj93bwlwePjPRB4L6yzuYZpr-6sYp8FQjTjItUrzI8"
        },
        "attributes": {
          "enabled": true,
          "created": 1748987424,
          "updated": 1748987424,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key1533221169?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/key1533221169",
        "deletedDate": 1748987424,
        "scheduledPurgeDate": 1749592224,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key1533221169/257717d6f902494d8e2144228fd24580",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Kjm0U6TqWPPBp63OB2XOxT_-7Vn43a2qxvg0m912NZw",
          "y": "Atj93bwlwePjPRB4L6yzuYZpr-6sYp8FQjTjItUrzI8"
        },
        "attributes": {
          "enabled": true,
          "created": 1748987424,
          "updated": 1748987424,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/key1533221169?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: key1533221169"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/key1533221169/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key1533221169/257717d6f902494d8e2144228fd24580",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Kjm0U6TqWPPBp63OB2XOxT_-7Vn43a2qxvg0m912NZw",
          "y": "Atj93bwlwePjPRB4L6yzuYZpr-6sYp8FQjTjItUrzI8"
        },
        "attributes": {
          "enabled": true,
          "created": 1748987424,
          "updated": 1748987424,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key1533221169/257717d6f902494d8e2144228fd24580?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) key1533221169/257717d6f902494d8e2144228fd24580 was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/key1533221169?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/key1533221169",
        "deletedDate": 1748987446,
        "scheduledPurgeDate": 1749592246,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/key1533221169/257717d6f902494d8e2144228fd24580",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Kjm0U6TqWPPBp63OB2XOxT_-7Vn43a2qxvg0m912NZw",
          "y": "Atj93bwlwePjPRB4L6yzuYZpr-6sYp8FQjTjItUrzI8"
        },
        "attributes": {
          "enabled": true,
          "created": 1748987424,
          "updated": 1748987424,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
