{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "130"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150256
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7",
          "kty": "EC-HSM",
          "x": "unIT8ecAMyKCfK16-73U9phMY6TyuwjdJP3CM3hBuMM",
          "y": "RVnGvidQL_ijQocNd8Rg56zE-TMFxTyZUjcflesvoHs"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150256
        },
        "deletedDate": 1758150256,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7",
          "kty": "EC-HSM",
          "x": "unIT8ecAMyKCfK16-73U9phMY6TyuwjdJP3CM3hBuMM",
          "y": "RVnGvidQL_ijQocNd8Rg56zE-TMFxTyZUjcflesvoHs"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937",
        "scheduledPurgeDate": 1758755056
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150256
        },
        "deletedDate": 1758150256,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7",
          "kty": "EC-HSM",
          "x": "unIT8ecAMyKCfK16-73U9phMY6TyuwjdJP3CM3hBuMM",
          "y": "RVnGvidQL_ijQocNd8Rg56zE-TMFxTyZUjcflesvoHs"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937",
        "scheduledPurgeDate": 1758755056
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150256
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7",
          "kty": "EC-HSM",
          "x": "unIT8ecAMyKCfK16-73U9phMY6TyuwjdJP3CM3hBuMM",
          "y": "RVnGvidQL_ijQocNd8Rg56zE-TMFxTyZUjcflesvoHs"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250826-1-e0164bc3-develop",
        "x-ms-server-latency": "3"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150256
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7",
          "kty": "EC-HSM",
          "x": "unIT8ecAMyKCfK16-73U9phMY6TyuwjdJP3CM3hBuMM",
          "y": "RVnGvidQL_ijQocNd8Rg56zE-TMFxTyZUjcflesvoHs"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1758150256,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1758150256
        },
        "deletedDate": 1758150257,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/4b61ac379df047290dce7a287d8324c7",
          "kty": "EC-HSM",
          "x": "unIT8ecAMyKCfK16-73U9phMY6TyuwjdJP3CM3hBuMM",
          "y": "RVnGvidQL_ijQocNd8Rg56zE-TMFxTyZUjcflesvoHs"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937",
        "scheduledPurgeDate": 1758755057
      }
    }
  ],
  "Variables": {}
}
