{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "143"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541632,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541632
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3",
          "kty": "EC-HSM",
          "x": "rrh4qfUvxlLwQvhgZKlAT8-MjNeK-n0fwlhh1Hbjlv8",
          "y": "S7cfGwHVe_9OBcAk3PA8gWSjOgNDJATl_OrE7Y6a7_U"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "26"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541632,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541632
        },
        "deletedDate": 1717541633,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3",
          "kty": "EC-HSM",
          "x": "rrh4qfUvxlLwQvhgZKlAT8-MjNeK-n0fwlhh1Hbjlv8",
          "y": "S7cfGwHVe_9OBcAk3PA8gWSjOgNDJATl_OrE7Y6a7_U"
        },
        "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/key2946000937",
        "scheduledPurgeDate": 1718146433
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541632,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541632
        },
        "deletedDate": 1717541633,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "deriveKey",
            "verify"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3",
          "kty": "EC-HSM",
          "x": "rrh4qfUvxlLwQvhgZKlAT8-MjNeK-n0fwlhh1Hbjlv8",
          "y": "S7cfGwHVe_9OBcAk3PA8gWSjOgNDJATl_OrE7Y6a7_U"
        },
        "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/key2946000937",
        "scheduledPurgeDate": 1718146433
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/key2946000937/recover?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "33"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541632,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541632
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "sign",
            "verify",
            "deriveKey"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3",
          "kty": "EC-HSM",
          "x": "rrh4qfUvxlLwQvhgZKlAT8-MjNeK-n0fwlhh1Hbjlv8",
          "y": "S7cfGwHVe_9OBcAk3PA8gWSjOgNDJATl_OrE7Y6a7_U"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "4"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541632,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541632
        },
        "key": {
          "crv": "P-256",
          "key_ops": [
            "verify",
            "deriveKey",
            "sign"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3",
          "kty": "EC-HSM",
          "x": "rrh4qfUvxlLwQvhgZKlAT8-MjNeK-n0fwlhh1Hbjlv8",
          "y": "S7cfGwHVe_9OBcAk3PA8gWSjOgNDJATl_OrE7Y6a7_U"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key2946000937?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541632,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541632
        },
        "deletedDate": 1717541633,
        "key": {
          "crv": "P-256",
          "key_ops": [
            "deriveKey",
            "verify",
            "sign"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/key2946000937/0836097207564b00a8106fb54ec132c3",
          "kty": "EC-HSM",
          "x": "rrh4qfUvxlLwQvhgZKlAT8-MjNeK-n0fwlhh1Hbjlv8",
          "y": "S7cfGwHVe_9OBcAk3PA8gWSjOgNDJATl_OrE7Y6a7_U"
        },
        "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/key2946000937",
        "scheduledPurgeDate": 1718146433
      }
    }
  ],
  "Variables": {}
}
