{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "21286389-a315-4481-b54a-fe437a73b273",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.246"
      },
      "ResponseBody": {
        "id": "vs_z9SStnhF9FeNrpviyMN6Rjv2",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732670804,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732670804
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGUxLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "cfc23c6f-d2d9-4fba-8fab-2853ac4bb2f5",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "9.025"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-ITVTIhpbrzYyiHcIsDwSWNzA",
        "purpose": "assistants",
        "filename": "file1.txt",
        "bytes": 11,
        "created_at": 1732670804,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_z9SStnhF9FeNrpviyMN6Rjv2/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-ITVTIhpbrzYyiHcIsDwSWNzA",
          "assistant-BmN1jEieT47ycenSJtWbF1DC"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "5bb02830-0574-4096-917f-65f7589b06c2",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.535"
      },
      "ResponseBody": {
        "id": "vsfb_74b3e02a872643f9a2e41c372ad1a300",
        "object": "vector_store.file_batch",
        "created_at": 1732670814,
        "status": "in_progress",
        "vector_store_id": "vs_z9SStnhF9FeNrpviyMN6Rjv2",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_z9SStnhF9FeNrpviyMN6Rjv2/file_batches/vsfb_74b3e02a872643f9a2e41c372ad1a300?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "f2dcd796-cf59-4a94-8539-c8ec1575d450",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.247"
      },
      "ResponseBody": {
        "id": "vsfb_74b3e02a872643f9a2e41c372ad1a300",
        "object": "vector_store.file_batch",
        "created_at": 1732670815,
        "status": "in_progress",
        "vector_store_id": "vs_z9SStnhF9FeNrpviyMN6Rjv2",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-ITVTIhpbrzYyiHcIsDwSWNzA?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "1e5ef880-e3c8-4e1a-a128-72abd9e77fdb",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "8.656"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-ITVTIhpbrzYyiHcIsDwSWNzA"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-BmN1jEieT47ycenSJtWbF1DC?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "a9fa6d5e-02b7-4739-a9d2-104ca4b184f2",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.572"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-BmN1jEieT47ycenSJtWbF1DC"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_z9SStnhF9FeNrpviyMN6Rjv2?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "13a3ade4-a7af-4626-afc6-edb736af119c",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "5.765"
      },
      "ResponseBody": {
        "id": "vs_z9SStnhF9FeNrpviyMN6Rjv2",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
