{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "35",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "73c14a3e-4be9-4ab4-b22a-37df11cad68d",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.203"
      },
      "ResponseBody": {
        "id": "vs_j2xvzQ72BlUTdTUmDfl6TjB3",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1738343830,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1738343830
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "534",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "62dab837-36e1-4ebd-9b2f-f395862e372e",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.729"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-EsbOXDfO6XsylYaBSTPCY3OO",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1738343831,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_j2xvzQ72BlUTdTUmDfl6TjB3/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-EsbOXDfO6XsylYaBSTPCY3OO",
          "assistant-AG1LEnOeq9vvWC5mbzGXB7ey"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "271",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "6f1028ff-1a27-4c5a-986c-94429a7adaec",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.440"
      },
      "ResponseBody": {
        "id": "vsfb_ee03bee48794432fbf6d5bfa2e4f75af",
        "object": "vector_store.file_batch",
        "created_at": 1738343832,
        "status": "in_progress",
        "vector_store_id": "vs_j2xvzQ72BlUTdTUmDfl6TjB3",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_j2xvzQ72BlUTdTUmDfl6TjB3/file_batches/vsfb_ee03bee48794432fbf6d5bfa2e4f75af?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "48",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "3371312f-ec70-4561-acb2-d1492ded42b9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.238"
      },
      "ResponseBody": {
        "id": "vsfb_ee03bee48794432fbf6d5bfa2e4f75af",
        "object": "vector_store.file_batch",
        "created_at": 1738343832,
        "status": "in_progress",
        "vector_store_id": "vs_j2xvzQ72BlUTdTUmDfl6TjB3",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-EsbOXDfO6XsylYaBSTPCY3OO?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "454",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "c8022b76-4841-4f7a-ab6d-eca425b006f1",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.653"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-EsbOXDfO6XsylYaBSTPCY3OO"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-AG1LEnOeq9vvWC5mbzGXB7ey?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "417",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "d5d9f8f7-efb2-42d2-9610-dd870fe5f1bf",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.600"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-AG1LEnOeq9vvWC5mbzGXB7ey"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_j2xvzQ72BlUTdTUmDfl6TjB3?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "786",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "25edc9e8-c317-4485-8ef4-62e34005e1db",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.012"
      },
      "ResponseBody": {
        "id": "vs_j2xvzQ72BlUTdTUmDfl6TjB3",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
