{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "58",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "76475d8f-e067-44ec-81df-ba33ee861e4c",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "id": "vs_HNXkhfYigfJ8CvXoSLov44vO",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1745961256,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1745961256
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "872",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "952f34d3-2a9f-45d7-9b2c-db8bba1d58e9",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.056"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-MXyCpkBGiFcDdKnR1EHamJ",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1745961257,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_HNXkhfYigfJ8CvXoSLov44vO/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-MXyCpkBGiFcDdKnR1EHamJ",
          "assistant-NWSCB2wcuTApTE8cANWDeu"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "247",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5e142fb6-9de9-4e30-bd6c-3cc5af7f804b",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.381"
      },
      "ResponseBody": {
        "id": "vsfb_2e1db20aa4d645e2a767e14e37a7bfce",
        "object": "vector_store.file_batch",
        "created_at": 1745961259,
        "status": "in_progress",
        "vector_store_id": "vs_HNXkhfYigfJ8CvXoSLov44vO",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_HNXkhfYigfJ8CvXoSLov44vO/file_batches/vsfb_2e1db20aa4d645e2a767e14e37a7bfce?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "75",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "faa9e3c7-ec0a-47c7-b5a4-cf7c84fe3cac",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.217"
      },
      "ResponseBody": {
        "id": "vsfb_2e1db20aa4d645e2a767e14e37a7bfce",
        "object": "vector_store.file_batch",
        "created_at": 1745961259,
        "status": "in_progress",
        "vector_store_id": "vs_HNXkhfYigfJ8CvXoSLov44vO",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-MXyCpkBGiFcDdKnR1EHamJ?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "251",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "96ff13c8-8c18-4475-81bb-3795d109bce7",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.414"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-MXyCpkBGiFcDdKnR1EHamJ"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-NWSCB2wcuTApTE8cANWDeu?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "262",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "296563c7-0aa5-4d80-9a49-b7bbaf218017",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.429"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-NWSCB2wcuTApTE8cANWDeu"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_HNXkhfYigfJ8CvXoSLov44vO?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "605",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d6887832-5b0d-4ed9-b7e5-11a5870ef0cb",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.755"
      },
      "ResponseBody": {
        "id": "vs_HNXkhfYigfJ8CvXoSLov44vO",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
