{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "89",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "635cf008-8c8f-424c-a98c-a953fdc09503",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.251"
      },
      "ResponseBody": {
        "id": "vs_dybD9dWRH6r9nZQEtJggbq5Q",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1745961217,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1745961217
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "485",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a92edd97-0ea8-4aa7-a0b1-4f1c6c1b4040",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.677"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-DuCuYNGziRRBTxHdp8Vpjj",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1745961217,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_dybD9dWRH6r9nZQEtJggbq5Q/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-DuCuYNGziRRBTxHdp8Vpjj",
          "assistant-LbAqAX6LbhYkajeEn6uECL"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "270",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6f3d307d-8984-4c61-b60b-33df920c45f1",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.421"
      },
      "ResponseBody": {
        "id": "vsfb_a081ad1c985241708306a179c587e727",
        "object": "vector_store.file_batch",
        "created_at": 1745961219,
        "status": "in_progress",
        "vector_store_id": "vs_dybD9dWRH6r9nZQEtJggbq5Q",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_dybD9dWRH6r9nZQEtJggbq5Q/file_batches/vsfb_a081ad1c985241708306a179c587e727?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "30",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5c371eb6-086a-4596-84d0-42fef338a664",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.175"
      },
      "ResponseBody": {
        "id": "vsfb_a081ad1c985241708306a179c587e727",
        "object": "vector_store.file_batch",
        "created_at": 1745961219,
        "status": "in_progress",
        "vector_store_id": "vs_dybD9dWRH6r9nZQEtJggbq5Q",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_dybD9dWRH6r9nZQEtJggbq5Q/file_batches/vsfb_a081ad1c985241708306a179c587e727/files?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "22",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8a819014-5f1b-403d-9da4-bb6f87e09122",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.190"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-DuCuYNGziRRBTxHdp8Vpjj",
            "object": "vector_store.file",
            "created_at": 1745961219,
            "vector_store_id": "vs_dybD9dWRH6r9nZQEtJggbq5Q",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-LbAqAX6LbhYkajeEn6uECL",
            "object": "vector_store.file",
            "created_at": 1745961219,
            "vector_store_id": "vs_dybD9dWRH6r9nZQEtJggbq5Q",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-DuCuYNGziRRBTxHdp8Vpjj",
        "last_id": "assistant-LbAqAX6LbhYkajeEn6uECL",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-DuCuYNGziRRBTxHdp8Vpjj?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "251",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "31012020-d24d-405d-b17c-5a8d603a04a8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.407"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-DuCuYNGziRRBTxHdp8Vpjj"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-LbAqAX6LbhYkajeEn6uECL?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "264",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7d7cedb2-bcca-4ef4-a66e-ad43bd447837",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.446"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-LbAqAX6LbhYkajeEn6uECL"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_dybD9dWRH6r9nZQEtJggbq5Q?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "756",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6b4d33fe-3d9e-4135-b916-1442b880b9ec",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.926"
      },
      "ResponseBody": {
        "id": "vs_dybD9dWRH6r9nZQEtJggbq5Q",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
