{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Discovery/tools/test-tool-50d87c62?api-version=2026-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "SkipAutoDeleteTill": "2026-12-31"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"050062fe-0000-1100-0000-69b5b73a0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/tools",
        "location": "uksouth",
        "tags": {
          "SkipAutoDeleteTill": "2026-12-31"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-14T16:02:45.6292579Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-14T19:30:00.0126985Z"
        },
        "properties": {
          "version": "1.0.0",
          "definitionContent": {
            "name": "Sanitized",
            "description": "Molecular property prediction for single SMILES strings.",
            "version": "1.0.0",
            "category": "cheminformatics",
            "license": "MIT",
            "infra": [
              {
                "name": "Sanitized",
                "infra_type": "container",
                "image": {
                  "acr": "demodiscoveryacr.azurecr.io/molpredictor:latest"
                },
                "compute": {
                  "min_resources": {
                    "cpu": "1",
                    "ram": "1Gi",
                    "storage": "32",
                    "gpu": "0"
                  },
                  "max_resources": {
                    "cpu": "2",
                    "ram": "1Gi",
                    "storage": "64",
                    "gpu": "0"
                  },
                  "recommended_sku": [
                    "Standard_D4s_v6"
                  ],
                  "pool_type": "static",
                  "pool_size": 1
                }
              }
            ],
            "actions": [
              {
                "name": "Sanitized",
                "description": "Predict molecular properties for SMILES strings.",
                "input_schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "The property to predict. Must be one of [log_p, boiling_point, solubility, density, critical_point]"
                    }
                  },
                  "required": [
                    "action"
                  ]
                },
                "command": "python molpredictor.py --action {{ action }}",
                "infra_node": "worker"
              }
            ]
          },
          "environmentVariables": {},
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
