{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Discovery/workspaces/test-wrksp-create01?api-version=2026-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "keyVaultProperties": {
            "keyName": "discoverykey",
            "keyVersion": "956de2fc802f49eba81ddcc348ebc27c"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"13002a04-0000-1100-0000-69b5c4690000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/workspaces",
        "location": "uksouth",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-14T19:46:58.7838377Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-14T20:24:34.4253469Z"
        },
        "properties": {
          "managedResourceGroup": "mrg-dwsp-test-wrksp-create01-w3qqoq",
          "supercomputerIds": [],
          "workspaceApiUri": "https://test-wrksp-create01.workspace-dev.discovery.azure.com",
          "workspaceUiUri": "https://studio.discovery.microsoft.com/workspaces/test-wrksp-create01",
          "workspaceIdentity": {
            "id": "Sanitized",
            "principalId": "00000000-0000-0000-0000-000000000000",
            "clientId": "00000000-0000-0000-0000-000000000000"
          },
          "publicNetworkAccess": "Disabled",
          "customerManagedKeys": "Enabled",
          "keyVaultProperties": {
            "keyVaultUri": "https://newapik.vault.azure.net/",
            "keyName": "discoverykey",
            "keyVersion": "956de2fc802f49eba81ddcc348ebc27c"
          },
          "logAnalyticsClusterId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.OperationalInsights/clusters/mycluse",
          "agentSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default3",
          "privateEndpointSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default",
          "workspaceSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default2",
          "managedOnBehalfOfConfiguration": {
            "moboBrokerResources": [
              {
                "id": "Sanitized"
              }
            ]
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
