{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Discovery/workspaces/test-wrksp-create01/chatModelDeployments/test-deploy-chatmodel01?api-version=2026-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {
          "modelFormat": "OpenAI",
          "modelName": "gpt-4o"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"19002409-0000-1100-0000-69b605d80000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/workspaces/chatmodeldeployments",
        "location": "uksouth",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-15T01:04:18.1902411Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-15T01:04:18.1902411Z"
        },
        "properties": {
          "modelFormat": "OpenAI",
          "modelName": "gpt-4o",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
