{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConnectedVMwarevSphere/operations?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.ConnectedVMwarevSphere/vcenters/Read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.ConnectedVMwarevSphere",
              "resource": "vcenters",
              "operation": "Gets/List vcenters resources",
              "description": "Read vcenters"
            }
          },
          {
            "name": "Microsoft.ConnectedVMwarevSphere/vcenters/Write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.ConnectedVMwarevSphere",
              "resource": "vcenters",
              "operation": "Create/update vcenters resources",
              "description": "Writes vcenters"
            }
          },
          {
            "name": "Microsoft.ConnectedVMwarevSphere/vcenters/i[...]
