{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Devices/IotHubs?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'IotHubs' could not be found in the namespace 'Microsoft.Devices' for api version '2026-03-01-preview'. The supported api-versions are '2015-08-15-preview,2016-02-03,2017-01-19,2017-07-01,2018-01-22,2018-04-01,2018-04-01-preview,2018-12-01-preview,2019-03-22-preview,2019-03-22,2019-07-01-preview,2019-11-04,2020-01-01,2020-03-01,2020-04-01,2020-06-15,2020-07-10-preview,2020-08-01,2020-08-31-preview,2020-08-31,2021-02-01-preview,2021-03-03-preview,2021-03-31,2021-07-01-preview,2021-07-01,2021-07-02-preview,2021-07-02,2022-04-30-preview,2023-06-30-preview,2023-06-30,2023-07-15-preview,2025-08-01-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
