{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/IotHubs?api-version=2023-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/IotHubs/myiothubxxxxyyyjjrr",
            "name": "myiothubxxxxyyyjjrr",
            "type": "Microsoft.Devices/IotHubs",
            "location": "eastus",
            "tags": {
              "key": "value1"
            },
            "subscriptionid": "azure_subscription_id",
            "resourcegroup": "myjstest",
            "etag": "AAAADH8mJ8A=",
            "properties": {
              "locations": [
                {
                  "location": "East US",
                  "role": "primary"
                },
                {
                  "location": "West US",
                  "role": "secondary"
                }
              ],
              "state": "Active",
              "provisioningState": "Succeeded",
              "ipFilterRules": [],
              "networkRuleSets": {
                "defaultAction": "Deny",
                "applyToBuiltInEventHubEndpoint": true,
                "ipRules": [
                  {
                    "filterName": "rule1",
                    "action": "Allow",
                    "ipMask": "131.117.159.53"
                  }
                ]
              },
              "hostName": "myiothubxxxxyyyjjrr.azure-devices.net",
              "eventHubEndpoints": {
                "events": {
                  "retentionTimeInDays": 1,
                  "partitionCount": 2,
                  "partitionIds": [
                    "0",
                    "1"
                  ],
                  "path": "myiothubxxxxyyyjjrr",
                  "endpoint": "sb://iothub-ns-myiothubxx-25241009-f9c0ac9f44.servicebus.windows.net/"
                }
              },
              "routing": {
                "endpoints": {
                  "serviceBusQueues": [],
                  "serviceBusTopics": [],
                  "eventHubs": [],
                  "storageContainers": [],
                  "cosmosDBSqlContainers": []
                },
                "routes": [],
                "fallbackRoute": {
                  "name": "$fallback",
                  "source": "DeviceMessages",
                  "condition": "true",
                  "endpointNames": [
                    "events"
                  ],
                  "isEnabled": false
                }
              },
              "storageEndpoints": {
                "$default": {
                  "sasTtlAsIso8601": "PT1H",
                  "connectionString": "",
                  "containerName": ""
                }
              },
              "messagingEndpoints": {
                "fileNotifications": {
                  "lockDurationAsIso8601": "PT1M",
                  "ttlAsIso8601": "PT1H",
                  "maxDeliveryCount": 10
                }
              },
              "enableFileUploadNotifications": false,
              "cloudToDevice": {
                "maxDeliveryCount": 10,
                "defaultTtlAsIso8601": "PT1H",
                "feedback": {
                  "lockDurationAsIso8601": "PT1M",
                  "ttlAsIso8601": "PT1H",
                  "maxDeliveryCount": 10
                }
              },
              "features": "None",
              "minTlsVersion": "1.2",
              "allowedFqdnList": []
            },
            "sku": {
              "name": "S1",
              "tier": "Standard",
              "capacity": 1
            },
            "identity": {
              "type": "None"
            },
            "systemData": {
              "createdAt": "2023-09-12T03:05:35.0133333Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
