{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag245?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag245",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hyiaM3S169J5RRdR0K9boSYbgqWRJZ7KmBMcnxQ872U\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:32:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEyNDE=;sn=73741241"
      },
      "ResponseBody": {
        "etag": "hyiaM3S169J5RRdR0K9boSYbgqWRJZ7KmBMcnxQ872U",
        "key": "setConfigTestEtag245",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:32:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag245?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"hyiaM3S169J5RRdR0K9boSYbgqWRJZ7KmBMcnxQ872U\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEyNDE="
      },
      "RequestBody": {
        "key": "setConfigTestEtag245",
        "label": "test",
        "value": "foo2",
        "etag": "hyiaM3S169J5RRdR0K9boSYbgqWRJZ7KmBMcnxQ872U"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FXNurkJ9SKleS75dZX6s95etCHOvgOEuMOZ_0uid8OY\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:32:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEyNDI=;sn=73741242"
      },
      "ResponseBody": {
        "etag": "FXNurkJ9SKleS75dZX6s95etCHOvgOEuMOZ_0uid8OY",
        "key": "setConfigTestEtag245",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:32:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag245?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEyNDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FXNurkJ9SKleS75dZX6s95etCHOvgOEuMOZ_0uid8OY\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:32:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEyNDQ=;sn=73741244"
      },
      "ResponseBody": {
        "etag": "FXNurkJ9SKleS75dZX6s95etCHOvgOEuMOZ_0uid8OY",
        "key": "setConfigTestEtag245",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:32:32+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag245"
  }
}
