{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag999?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag999",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zDqY592M2hKTzjL2BsyaX87mz_m7Fv3uZDQfmi0fEKY\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:17:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU5NQ==;sn=102479595",
        "x-ms-date": "Tue, 13 Jan 2026 06:17:15 GMT"
      },
      "ResponseBody": {
        "etag": "zDqY592M2hKTzjL2BsyaX87mz_m7Fv3uZDQfmi0fEKY",
        "key": "setConfigTestEtag999",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:17:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag999?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"zDqY592M2hKTzjL2BsyaX87mz_m7Fv3uZDQfmi0fEKY\"",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTU5NQ=="
      },
      "RequestBody": {
        "key": "setConfigTestEtag999",
        "label": "test",
        "value": "foo2",
        "etag": "zDqY592M2hKTzjL2BsyaX87mz_m7Fv3uZDQfmi0fEKY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g_o8c4J-fbLfR7R39fS4xv-SnsTIzH-qlU9L-vb1jjQ\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:17:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU5Ng==;sn=102479596",
        "x-ms-date": "Tue, 13 Jan 2026 06:17:15 GMT"
      },
      "ResponseBody": {
        "etag": "g_o8c4J-fbLfR7R39fS4xv-SnsTIzH-qlU9L-vb1jjQ",
        "key": "setConfigTestEtag999",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:17:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag999?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTU5Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g_o8c4J-fbLfR7R39fS4xv-SnsTIzH-qlU9L-vb1jjQ\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:17:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU5OA==;sn=102479598",
        "x-ms-date": "Tue, 13 Jan 2026 06:17:15 GMT"
      },
      "ResponseBody": {
        "etag": "g_o8c4J-fbLfR7R39fS4xv-SnsTIzH-qlU9L-vb1jjQ",
        "key": "setConfigTestEtag999",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:17:15+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag999"
  }
}
