{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag257?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag257",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"stLVJF5cQ3gjiBK9wGXNeQv8zbdc2sNOqBX3F0W0Y3A\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:04:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc2NTE=;sn=74857651",
        "x-ms-date": "Sun, 26 Oct 2025 08:04:01 GMT"
      },
      "ResponseBody": {
        "etag": "stLVJF5cQ3gjiBK9wGXNeQv8zbdc2sNOqBX3F0W0Y3A",
        "key": "setConfigTestEtag257",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:04:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag257?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"stLVJF5cQ3gjiBK9wGXNeQv8zbdc2sNOqBX3F0W0Y3A\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc2NTE="
      },
      "RequestBody": {
        "key": "setConfigTestEtag257",
        "label": "test",
        "value": "foo2",
        "etag": "stLVJF5cQ3gjiBK9wGXNeQv8zbdc2sNOqBX3F0W0Y3A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SvmMn6eJ86EjJZQQzEHA_k_722h40gYSzBk2kM19EnU\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:04:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc2NTI=;sn=74857652",
        "x-ms-date": "Sun, 26 Oct 2025 08:04:01 GMT"
      },
      "ResponseBody": {
        "etag": "SvmMn6eJ86EjJZQQzEHA_k_722h40gYSzBk2kM19EnU",
        "key": "setConfigTestEtag257",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:04:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag257?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc2NTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SvmMn6eJ86EjJZQQzEHA_k_722h40gYSzBk2kM19EnU\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:04:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc2NTQ=;sn=74857654",
        "x-ms-date": "Sun, 26 Oct 2025 08:04:01 GMT"
      },
      "ResponseBody": {
        "etag": "SvmMn6eJ86EjJZQQzEHA_k_722h40gYSzBk2kM19EnU",
        "key": "setConfigTestEtag257",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:04:01+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag257"
  }
}
