{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA324?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J4DrXIqNiZFThawC8mAlXterQPVrcgCM_XxS1_6F0yU\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg5Mw==;sn=113152893",
        "x-ms-date": "Thu, 07 May 2026 20:25:04 GMT"
      },
      "ResponseBody": {
        "etag": "J4DrXIqNiZFThawC8mAlXterQPVrcgCM_XxS1_6F0yU",
        "key": "setConfigTestNA324",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:04+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA324"
  }
}
