{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA428?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "setConfigTestNA428",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2bqOC3WgiALo_p_vU-oKeqhIt1Fohb676d-MTgkDzRA\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:07:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0ODk5OQ==;sn=103848999",
        "x-ms-date": "Mon, 26 Jan 2026 03:07:53 GMT"
      },
      "ResponseBody": {
        "etag": "2bqOC3WgiALo_p_vU-oKeqhIt1Fohb676d-MTgkDzRA",
        "key": "setConfigTestNA428",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:07:53+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA428"
  }
}
