{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA913?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "setConfigTestNA913",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UYRJA4V2-CXqVpMt5p0ibYp6I4Eg0s8ANjJt_sqG7oI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:52:19 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzM4;sn=2805738"
      },
      "ResponseBody": {
        "etag": "UYRJA4V2-CXqVpMt5p0ibYp6I4Eg0s8ANjJt_sqG7oI",
        "key": "setConfigTestNA913",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:52:19+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA913"
  }
}
