{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag853?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ocY1YPu_7qjyr7elCsjOeu2JsYPvNCugvHb9mjuL9vI\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk2Mw==;sn=115291963",
        "x-ms-date": "Thu, 28 May 2026 21:49:47 GMT"
      },
      "ResponseBody": {
        "etag": "ocY1YPu_7qjyr7elCsjOeu2JsYPvNCugvHb9mjuL9vI",
        "key": "setConfigTestEtag853",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:49:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag853?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"ocY1YPu_7qjyr7elCsjOeu2JsYPvNCugvHb9mjuL9vI\"",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk2Mw=="
      },
      "RequestBody": {
        "label": "test",
        "value": "foo2",
        "etag": "ocY1YPu_7qjyr7elCsjOeu2JsYPvNCugvHb9mjuL9vI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qYPQbs9A3lHfRFVTqHHM6FenS5tSDDnINE_a4O7_mvU\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk2NA==;sn=115291964",
        "x-ms-date": "Thu, 28 May 2026 21:49:47 GMT"
      },
      "ResponseBody": {
        "etag": "qYPQbs9A3lHfRFVTqHHM6FenS5tSDDnINE_a4O7_mvU",
        "key": "setConfigTestEtag853",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag853?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk2NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qYPQbs9A3lHfRFVTqHHM6FenS5tSDDnINE_a4O7_mvU\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk2Ng==;sn=115291966",
        "x-ms-date": "Thu, 28 May 2026 21:49:47 GMT"
      },
      "ResponseBody": {
        "etag": "qYPQbs9A3lHfRFVTqHHM6FenS5tSDDnINE_a4O7_mvU",
        "key": "setConfigTestEtag853",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:47+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag853"
  }
}
