{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag53?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag53",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aR8UX0bFYE82vMtuuQaZZx-Htn_btIqO6MNTQKiTpQo\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM2NA==;sn=103584364",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:09 GMT"
      },
      "ResponseBody": {
        "etag": "aR8UX0bFYE82vMtuuQaZZx-Htn_btIqO6MNTQKiTpQo",
        "key": "setConfigTestEtag53",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:56:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag53?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"aR8UX0bFYE82vMtuuQaZZx-Htn_btIqO6MNTQKiTpQo\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM2NA=="
      },
      "RequestBody": {
        "key": "setConfigTestEtag53",
        "label": "test",
        "value": "foo2",
        "etag": "aR8UX0bFYE82vMtuuQaZZx-Htn_btIqO6MNTQKiTpQo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UT0MEt5e60idBfzUCKTN1o884pjRteYa9MWBUzMIwOU\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM2NQ==;sn=103584365",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:09 GMT"
      },
      "ResponseBody": {
        "etag": "UT0MEt5e60idBfzUCKTN1o884pjRteYa9MWBUzMIwOU",
        "key": "setConfigTestEtag53",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:56:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag53?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM2NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UT0MEt5e60idBfzUCKTN1o884pjRteYa9MWBUzMIwOU\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM2OQ==;sn=103584369",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:09 GMT"
      },
      "ResponseBody": {
        "etag": "UT0MEt5e60idBfzUCKTN1o884pjRteYa9MWBUzMIwOU",
        "key": "setConfigTestEtag53",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:56:09+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag53"
  }
}
