{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag895?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag895",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JCA8YU09UuwQD84y9jDAtxfvgEgVkn7oqytl4hyIvgA\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU3MDU=;sn=74775705",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:26 GMT"
      },
      "ResponseBody": {
        "etag": "JCA8YU09UuwQD84y9jDAtxfvgEgVkn7oqytl4hyIvgA",
        "key": "setConfigTestEtag895",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:27:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag895?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"JCA8YU09UuwQD84y9jDAtxfvgEgVkn7oqytl4hyIvgA\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU3MDU="
      },
      "RequestBody": {
        "key": "setConfigTestEtag895",
        "label": "test",
        "value": "foo2",
        "etag": "JCA8YU09UuwQD84y9jDAtxfvgEgVkn7oqytl4hyIvgA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QPLJUz1xbslzAHl18DzoGCy3A0BaWol0UUJTGexei9I\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU3MDY=;sn=74775706",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:26 GMT"
      },
      "ResponseBody": {
        "etag": "QPLJUz1xbslzAHl18DzoGCy3A0BaWol0UUJTGexei9I",
        "key": "setConfigTestEtag895",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:27:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag895?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU3MDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QPLJUz1xbslzAHl18DzoGCy3A0BaWol0UUJTGexei9I\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU3MDg=;sn=74775708",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:26 GMT"
      },
      "ResponseBody": {
        "etag": "QPLJUz1xbslzAHl18DzoGCy3A0BaWol0UUJTGexei9I",
        "key": "setConfigTestEtag895",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:27:26+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag895"
  }
}
