{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag603?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag603",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XCBzJpMiute_WxJsusUO7k6W_3IiUK8NrfFNNkUsM28\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3Njc=;sn=74231767"
      },
      "ResponseBody": {
        "etag": "XCBzJpMiute_WxJsusUO7k6W_3IiUK8NrfFNNkUsM28",
        "key": "setConfigTestEtag603",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:38:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag603?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"XCBzJpMiute_WxJsusUO7k6W_3IiUK8NrfFNNkUsM28\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3Njc="
      },
      "RequestBody": {
        "key": "setConfigTestEtag603",
        "label": "test",
        "value": "foo2",
        "etag": "XCBzJpMiute_WxJsusUO7k6W_3IiUK8NrfFNNkUsM28"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ufPxhgnBAt9tBEIfE8MiMjWDkTBVESG19sqV_KpM6Xc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3Njg=;sn=74231768"
      },
      "ResponseBody": {
        "etag": "ufPxhgnBAt9tBEIfE8MiMjWDkTBVESG19sqV_KpM6Xc",
        "key": "setConfigTestEtag603",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:38:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag603?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3Njg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ufPxhgnBAt9tBEIfE8MiMjWDkTBVESG19sqV_KpM6Xc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NzA=;sn=74231770"
      },
      "ResponseBody": {
        "etag": "ufPxhgnBAt9tBEIfE8MiMjWDkTBVESG19sqV_KpM6Xc",
        "key": "setConfigTestEtag603",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:38:53+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag603"
  }
}
