{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA917?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KVfJzxGO_fFi5SLtUKBLpnFq97bVTC7nNW_mKbLy1pA\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:28 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM5OA==;sn=53372398",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:28 GMT"
      },
      "ResponseBody": {
        "etag": "KVfJzxGO_fFi5SLtUKBLpnFq97bVTC7nNW_mKbLy1pA",
        "key": "setConfigTestNA917",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:37:28+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA917"
  }
}
