{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA766?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3iOu1YEwZ1YRHW5v7lyRHpdqQnLSnsC-bVvSAdyqJZ4\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk2Nw==;sn=115291967",
        "x-ms-date": "Thu, 28 May 2026 21:49:49 GMT"
      },
      "ResponseBody": {
        "etag": "3iOu1YEwZ1YRHW5v7lyRHpdqQnLSnsC-bVvSAdyqJZ4",
        "key": "setConfigTestNA766",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:49+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA766"
  }
}
