{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest775?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest775",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GJIWeXquWIXwskClBO3XGBSRG2KsoO1_GoIoQiX7cZ0\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:03:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc2NDc=;sn=74857647",
        "x-ms-date": "Sun, 26 Oct 2025 08:03:58 GMT"
      },
      "ResponseBody": {
        "etag": "GJIWeXquWIXwskClBO3XGBSRG2KsoO1_GoIoQiX7cZ0",
        "key": "setConfigTest775",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:03:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest775?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc2NDc="
      },
      "RequestBody": {
        "key": "setConfigTest775",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E-oZYCVwlk8ahKBWviPDRx6bjbK5Vrgbvj-zRVH-yYg\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:03:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc2NDg=;sn=74857648",
        "x-ms-date": "Sun, 26 Oct 2025 08:03:58 GMT"
      },
      "ResponseBody": {
        "etag": "E-oZYCVwlk8ahKBWviPDRx6bjbK5Vrgbvj-zRVH-yYg",
        "key": "setConfigTest775",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:03:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest775?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc2NDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E-oZYCVwlk8ahKBWviPDRx6bjbK5Vrgbvj-zRVH-yYg\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:03:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc2NTA=;sn=74857650",
        "x-ms-date": "Sun, 26 Oct 2025 08:03:58 GMT"
      },
      "ResponseBody": {
        "etag": "E-oZYCVwlk8ahKBWviPDRx6bjbK5Vrgbvj-zRVH-yYg",
        "key": "setConfigTest775",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:03:58+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest775"
  }
}
