{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest638?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest638",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"40cjVSwxP1AL8JzmZ-pSRJ5gGssUxqr-XMUtIv3Vxac\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:01:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNDI=;sn=74235142"
      },
      "ResponseBody": {
        "etag": "40cjVSwxP1AL8JzmZ-pSRJ5gGssUxqr-XMUtIv3Vxac",
        "key": "setConfigTest638",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:01:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest638?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNDI="
      },
      "RequestBody": {
        "key": "setConfigTest638",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qVEVqAkjSou7b0JDNanO6mIUrd9xdzkQuHPR4IxzSjk\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:01:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNDM=;sn=74235143"
      },
      "ResponseBody": {
        "etag": "qVEVqAkjSou7b0JDNanO6mIUrd9xdzkQuHPR4IxzSjk",
        "key": "setConfigTest638",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:01:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest638?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qVEVqAkjSou7b0JDNanO6mIUrd9xdzkQuHPR4IxzSjk\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:01:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNDU=;sn=74235145"
      },
      "ResponseBody": {
        "etag": "qVEVqAkjSou7b0JDNanO6mIUrd9xdzkQuHPR4IxzSjk",
        "key": "setConfigTest638",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:01:45+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest638"
  }
}
