{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest504?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"glVDYr-1Ow2AZKsyc2SN6tCelShEPmvFc45rHj8E_Bo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM4OA==;sn=53372388",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:22 GMT"
      },
      "ResponseBody": {
        "etag": "glVDYr-1Ow2AZKsyc2SN6tCelShEPmvFc45rHj8E_Bo",
        "key": "setConfigTest504",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "description": null,
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:37:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest504?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjM4OA=="
      },
      "RequestBody": {
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zd91bqKlp3huI4TPkden0sdV_1RU8EqpHQtWLFK_-iM\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM4OQ==;sn=53372389",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:22 GMT"
      },
      "ResponseBody": {
        "etag": "zd91bqKlp3huI4TPkden0sdV_1RU8EqpHQtWLFK_-iM",
        "key": "setConfigTest504",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:37:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest504?api-version=2026-04-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjM4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zd91bqKlp3huI4TPkden0sdV_1RU8EqpHQtWLFK_-iM\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM5MQ==;sn=53372391",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:22 GMT"
      },
      "ResponseBody": {
        "etag": "zd91bqKlp3huI4TPkden0sdV_1RU8EqpHQtWLFK_-iM",
        "key": "setConfigTest504",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:37:22+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest504"
  }
}
