{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest706?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest706",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uoBrekhe3qM7CTnUDDcANpgm3XSVcyToq-1RGVFoDu4\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM2MA==;sn=103584360",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:05 GMT"
      },
      "ResponseBody": {
        "etag": "uoBrekhe3qM7CTnUDDcANpgm3XSVcyToq-1RGVFoDu4",
        "key": "setConfigTest706",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:56:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest706?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM2MA=="
      },
      "RequestBody": {
        "key": "setConfigTest706",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S7AtNy6fgjuEKbpwtQM1tTUiNw6w05C7iWARIgCVCpM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:06 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM2MQ==;sn=103584361",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:06 GMT"
      },
      "ResponseBody": {
        "etag": "S7AtNy6fgjuEKbpwtQM1tTUiNw6w05C7iWARIgCVCpM",
        "key": "setConfigTest706",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:56:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest706?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM2MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S7AtNy6fgjuEKbpwtQM1tTUiNw6w05C7iWARIgCVCpM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:06 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM2Mw==;sn=103584363",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:06 GMT"
      },
      "ResponseBody": {
        "etag": "S7AtNy6fgjuEKbpwtQM1tTUiNw6w05C7iWARIgCVCpM",
        "key": "setConfigTest706",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:56:06+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest706"
  }
}
