{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e8e912b6-442a-fbb2-9408-01b3475732bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5F3F3ACC\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e8e912b6-442a-fbb2-9408-01b3475732bd/test-blob-4cad4e31-6fbd-b4e1-e895-905ece805c6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5F55D991\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:08.7721361Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e8e912b6-442a-fbb2-9408-01b3475732bd/test-blob-4cad4e31-6fbd-b4e1-e895-905ece805c6c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "DYtWV02\u002BMeGgMdGEQ1qrE5OOb1FDsZP\u002BMk787dhTcsHIUeba9y9SfGbkaAw8a9zilSJ/nIOMolv4WCX\u002BwkMJTb8Qu/J00RtjPPLqX0mHwsZyGVe109U\u002BPK\u002BK4Z8JVLoi2htMK6/pbsMGHGCQoUIScZZejKjsU3nq0X5D6e98Weg4x4UuOpYXiKuTr7d0rZtseHAJq8cRNoahYlkxpoTUicJ4WNm85Df/RwT9WKTBdiTj1nF/c64gJ5H\u002BjNc85eEmvyX1\u002B1XBr5Q5CWPDE97i4Ow1TdASVRYTWDBIvlhfw2Ej15h\u002By3rPI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e8e912b6-442a-fbb2-9408-01b3475732bd/test-blob-4cad4e31-6fbd-b4e1-e895-905ece805c6c?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A08Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC5F5EFFFE\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:08.7721361Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e588ee96-44e7-4bb5-252f-1017f1a14b2e/test-blob-c31a75c0-8926-e950-e291-be79b67d4da6?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A08Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5F789ED9\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:09.0000089Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e588ee96-44e7-4bb5-252f-1017f1a14b2e/test-blob-c31a75c0-8926-e950-e291-be79b67d4da6?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A08Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5F82D699\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "URPow0myvSk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e8e912b6-442a-fbb2-9408-01b3475732bd/test-blob-4cad4e31-6fbd-b4e1-e895-905ece805c6c?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A08Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC5F5EFFFE\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC5F5EFFFE\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e8e912b6-442a-fbb2-9408-01b3475732bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:10:08.2389268-07:00",
    "RandomSeed": "738560821",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
