{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fef29dde-6165-62a5-62f5-93ee7529e5c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6C1D7F43\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d11bea42-0402-faaf-5d99-4e86817132c2/test-blob-dbb4e690-1c47-392b-7eac-128448e2c1c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6C3089CE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:12.1131470Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d11bea42-0402-faaf-5d99-4e86817132c2/test-blob-dbb4e690-1c47-392b-7eac-128448e2c1c7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "P0HBorxIo5STbaDu7A4kgXvW5/z\u002BQZPpXlA2qesw4jfA50ZdOfRBiGtgf/yKzD54c6MKBL29Mf2u2ERsEvqpY4ppLQXIx0iGlF6QncGXX5IRvTVIJt55A7ZIr2Cw1XZwtxxxIZ45r6tag29eLJM7FnixWlTEYD2s7ypOgBfn1b/oIOWlJT701w6K7aJuGtciDJjo/3ohq1bexTF06i\u002BTcq6wdgutlfE5vYJGOnObPdVTK3N//9ZExnWOx2ANf\u002B3e9nvzvqTLdXanrkL32nDjQ4dcIb67FHPXbK\u002BWHs6QLD2VZ0T3p38xh7b911CUTOwEq4TYsF4uI\u002BEIHFL0NVaoF4IEYnMr65sIK5kIvjwiQx/DkXNKt3vfZ0Nj74ssPFJfVMDOj\[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fef29dde-6165-62a5-62f5-93ee7529e5c1/test-blob-e4c6b924-390b-ad38-6ae5-98af8bcc0069?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Wn/ykjBwC6zTJjIJaZs4BDosDsJcVM2aQbf7hD9bOmCT5t[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fef29dde-6165-62a5-62f5-93ee7529e5c1/test-blob-e4c6b924-390b-ad38-6ae5-98af8bcc0069?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6C57E23B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:12.2520687Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d11bea42-0402-faaf-5d99-4e86817132c2/test-blob-dbb4e690-1c47-392b-7eac-128448e2c1c7?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:63363614-101e-0023-1a98-80ef22000000\n",
        "Time:2024-03-27T22:44:12.6075611Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d11bea42-0402-faaf-5d99-4e86817132c2/test-blob-dbb4e690-1c47-392b-7eac-128448e2c1c7?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6C3C6EF0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:12.1131470Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d11bea42-0402-faaf-5d99-4e86817132c2/test-blob-dbb4e690-1c47-392b-7eac-128448e2c1c7?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A10Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF6C3C6EF0\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6C3C6EF0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fef29dde-6165-62a5-62f5-93ee7529e5c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:10.7988964-07:00",
    "RandomSeed": "356986116",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
