{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF602672A3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e/test-blob-48734b19-4494-c85f-d6fc-be9e5ebc74ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF603E1C34\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:52.0694324Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e/test-blob-48734b19-4494-c85f-d6fc-be9e5ebc74ea?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "iSUetUUVvng0E1hyORW60EMlrIX\u002BnbUTdR//Vn283Xy5rmtznlQ5qwb/FVtKln/DUaQDZiGlretvCz8lFWj7dzbbuIqpRzLv6wB//odayd\u002BgPAXZuXdbFACAA5MUFJWeBJ4kbt30GQlyFHogJq9kFUFghdliIb6/gKSKKUSe2tdq4PrpNVoBqyP8Z6X8Ou1RG\u002B5Rs468O\u002BLgZe45au/E0zmitUW0e9/nX9q1ZroZwka2OA1WTSdIrqUYCdBsyEEzN5NrWYSonaAOaVO0BtQoxqKngjHhboUSWQefnHEOepeYgi8mrWnBDpttR\u002BPTlKfQ8EIt[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e/test-blob-48734b19-4494-c85f-d6fc-be9e5ebc74ea?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF60471B9F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:52.0694324Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff30c798-f1e0-c887-47c1-add7a32d1262/test-blob-6589a4c7-b05c-f3d8-a4c9-84ad73953933?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6067492F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:52.3392815Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff30c798-f1e0-c887-47c1-add7a32d1262/test-blob-6589a4c7-b05c-f3d8-a4c9-84ad73953933?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e/test-blob-48734b19-4494-c85f-d6fc-be9e5ebc74ea?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF60724410\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "FxVd1lse6aM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e/test-blob-48734b19-4494-c85f-d6fc-be9e5ebc74ea?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF60471B9F\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF60471B9F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da95c5ca-83f1-3b97-1e68-5d45129f720e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:50.7543211-07:00",
    "RandomSeed": "586724289",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
