{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005ECB7BDCB3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f77bd56-428a-381a-fadc-013ad90028cb/test-blob-1d3b53d4-9745-7501-17e8-cd58012cbca4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005ECB977E81\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f77bd56-428a-381a-fadc-013ad90028cb/test-blob-1d3b53d4-9745-7501-17e8-cd58012cbca4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "JPqTdWY4HiySOoZqPsC60mXxTq/bufEx9S9Jcy/lIjCIlnEb7IK8/9Zy3s19ofarlgNETGuFUWsIYoA376v8rRdV4qdPn+XjNU7YaNoktFM5ndwrodbFA0QGEooBhQ8rdjG1J79OXPceYBYcrOmR5K0t/VLO0QtAkN5jSI1b4bA+rfKoboyT6kDlDUDAqFdbdS3c1Ie9XaUmdZbh6xRpwn9m3f/26HUhmRIR6MPKgOeHB9JffwwpgU9Ngfn1sv8sfEvBWstXZIy4uzp0q3XhXPSvWeNBCkJyPFyvqWd8K+cT5Wx4CCYcL6NGp8TStNXaayUERlgc63EITh1uqLolO49TYcYIaVPNkio/+mJ+oIeG1T5Cd+WO9vr6cLkJrYfoIWs0flMP0QLRNrMu3PAOia6V6NJ84sS[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660/test-blob-5e5defee-6c64-e5e7-8908-fc997d8b8810",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005ECBAA7BF9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660/test-blob-5e5defee-6c64-e5e7-8908-fc997d8b8810?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "cZcLA26mcLstUT29GezbpTCgWJVU7EEyN5wTUSXX+wY[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660/test-blob-5e5defee-6c64-e5e7-8908-fc997d8b8810?sv=Sanitized&se=2025-10-01T20%3A20%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005ECBB3E73D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5f77bd56-428a-381a-fadc-013ad90028cb/test-blob-1d3b53d4-9745-7501-17e8-cd58012cbca4?sv=Sanitized&se=2025-10-01T20%3A20%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660/test-blob-5e5defee-6c64-e5e7-8908-fc997d8b8810?sv=sanitized-value&se=2025-10-01T20%3A20%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005ECBF90704\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "A3zHsBl81LY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660/test-blob-5e5defee-6c64-e5e7-8908-fc997d8b8810?sv=Sanitized&se=2025-10-01T20%3A20%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005ECBB3E73D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005ECBB3E73D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:20:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-61ae89d2-fa29-3096-1a24-8abacaf8b660?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:20:27.7573718-07:00",
    "RandomSeed": "1275756455",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
