{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10624AEE8E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9957a054-faa1-eaad-59bf-ca13dd5828c3/test-blob-a4321b88-0b9e-4c3a-26f7-b7067dce99f0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10625DB71B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9957a054-faa1-eaad-59bf-ca13dd5828c3/test-blob-a4321b88-0b9e-4c3a-26f7-b7067dce99f0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "PW10PbImjiKnicGUOuh++mGWxKx5ztJP4UhjyJ6s5ANQX2QLziUzBP7bFKSdO5hDy+DqifgWj2+aJVxpwsWD+qS9Q9qDcyw8Y8CunbkusaWwH/2+wlsLOdD1cKjIykE5Vxr/3/e9wFizrSY3aPG2a3O2uKPHxTdJsgkJjgKEdJh/dUafL9Kt8l+lChU009HfPgQ1ERGdcZHitS3tszJVLzmNuPOrFzuhCMVEIroiFd84Kk/+TmKH4QO0vXqlvz4sUNvcpxvdMyfIkwhLWU/Xv6BOtYniVuDWBdbv91nB/EmGF9HfRm3EWvYnNbtZO4i03f3aVwq1Sfn7BaFE7jzNB5e/xUJ9+HgyiVqSuyElfcpOOhlc5qQ+0c3Y5EHLf2y5WS4jmXZGN+SFqM2wI47X1YfX9rQicSH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543/test-blob-1bcd9eba-88b1-fcfa-4127-4c978fd9c797",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10626F7D70\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543/test-blob-1bcd9eba-88b1-fcfa-4127-4c978fd9c797?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "U5/1VQD2VsqHI6IKPewIWfwCuQeC+zgmfWyAZal+BL5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543/test-blob-1bcd9eba-88b1-fcfa-4127-4c978fd9c797?sv=Sanitized&se=2025-03-08T00%3A38%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1062784D2C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9957a054-faa1-eaad-59bf-ca13dd5828c3/test-blob-a4321b88-0b9e-4c3a-26f7-b7067dce99f0?sv=Sanitized&se=2025-03-08T00%3A38%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543/test-blob-1bcd9eba-88b1-fcfa-4127-4c978fd9c797?sv=sanitized-value&se=2025-03-08T00%3A38%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1062A592EB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "pYdNJz8qZwQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543/test-blob-1bcd9eba-88b1-fcfa-4127-4c978fd9c797?sv=Sanitized&se=2025-03-08T00%3A38%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1062784D2C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1062784D2C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-31226e1b-2b13-949d-730f-0a3111759543?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:38:30.8740008-08:00",
    "RandomSeed": "2044929474",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
