{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD23B4B4C\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad/test-blob-2e0d55df-b943-4bca-764c-c3b7046d1368",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD24FCEF5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:39.3341173Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad/test-blob-2e0d55df-b943-4bca-764c-c3b7046d1368?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "tCWgVT2cz1FVtNMdAyvv4v9\u002Bg3UYBfYtp9yTZSmGByTNsm9/Tti1xY4RuMf4fNqkDZFbGyfrn64vcq5gCWonzqyuT1G7b5QmyL3nB00vNCsC7leYK\u002Bv94hLAUNspVbwj6ukaSSyJ6J39NFNqA5hhAD2DXhoSj6PBsW0/\u002Bh\u002B4/HMAwx1jFOv\u002BeQa6m/aYkt55X1CdpveiEVpFWZe/Se5\u002BRDffaT97/etSheUTWPStKR6PxprPGlZ8XrLCHrtTPi8YPFa\u002BuCme/WJkSyESjrlmmDB4MINTrinhYwqNud4w/0a1\u002Bxud73D18[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad/test-blob-2e0d55df-b943-4bca-764c-c3b7046d1368?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AD259918C\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:39.3341173Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d5af75a-9b04-6be1-d26f-92036e7d0fd8/test-blob-b6bf2b91-02bc-0157-b8dc-de536fc3a170?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD2704A8F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:39.5469967Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d5af75a-9b04-6be1-d26f-92036e7d0fd8/test-blob-b6bf2b91-02bc-0157-b8dc-de536fc3a170?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad/test-blob-2e0d55df-b943-4bca-764c-c3b7046d1368?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD27B4574\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "eYHDyRqsLWo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad/test-blob-2e0d55df-b943-4bca-764c-c3b7046d1368?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A37Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6AD259918C\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AD259918C\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2f76cbf0-fa87-1499-b32f-3ea4122982ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:37.6384627-07:00",
    "RandomSeed": "790766113",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
