{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF62332BEB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd/test-blob-87984627-9ffa-d428-1947-ad2936e8c0cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6249583B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:55.4985019Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd/test-blob-87984627-9ffa-d428-1947-ad2936e8c0cd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Sp/9D\u002BtyxqD66dBjexrYz55h8ACgWQ1DBWPX0M2vrQBotZNeVK2zSdkO2EPPKMXbLnTfTrI5AvGSuQqImvXSSzzQ\u002BsaHenrxrqYmkoDKc92d/KJY0F5NL7Khy5qjK67kO40H/i3\u002BVLT57aAME29wyEUs6p5SeXrdg8oT5a7fToP4QVfzwnSvn6juX\u002BK\u002BQRxDMQNVdkAQkcESKntj624FGZ4dFNEXfQXRfEv1ZBqXHkKu0LSqithC57CV4Jj5TLM56EVEoCxLK7P\u002Bg/n1Gi2megs4tBu6W4/G2iwggZ1t1y\u002BXvHvVU30VYqQAqw[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd/test-blob-87984627-9ffa-d428-1947-ad2936e8c0cd?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6252A5B3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:55.4985019Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3119d54-9c4d-03fb-87d4-1522140371a3/test-blob-4bc8d97c-d8f4-b39b-5a05-e1548710068d?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF627FC9B0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:55.8553008Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3119d54-9c4d-03fb-87d4-1522140371a3/test-blob-4bc8d97c-d8f4-b39b-5a05-e1548710068d?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd/test-blob-87984627-9ffa-d428-1947-ad2936e8c0cd?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF628B12AC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VUXF\u002B8qLo4A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd/test-blob-87984627-9ffa-d428-1947-ad2936e8c0cd?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF6252A5B3\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6252A5B3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8afd412f-02d7-a767-bdcd-85138ea5ffcd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:54.1767628-07:00",
    "RandomSeed": "1512009444",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
