{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF678761F7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102/test-blob-ca7f08d0-3666-48e4-b922-593eaf8a3ebb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF679A1EBF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:04.4164799Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102/test-blob-ca7f08d0-3666-48e4-b922-593eaf8a3ebb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "1Pj2/Vzz7nm1AiFvNimCCHLSYYVsfN9sp/a9ywouoilGAmXkY6Gjf8uMjHO58p48oqa6owsdQ1gYiVZmNiJvhmD4KTTDnqTQLuG64O9ss7VXgShjdP8dKb4Ny9lLPUmpHAYSwMhqeAQB6XQpY2Noq9agDrX5DBJh2v91ttLLhfCYEMPpWfLs7QgkYYqK88ZbpCACqi\u002BTsBD0seXI9cExNWSEkFKff1LktCCs1KqH1\u002Bc5GRKyydrABGCz9agMI/hH8ismBWJzvCTNHvYP59tmbNr\u002Bj9uvf2yJxIzy7Iqp2JAoZOJ\u002BYdGExV3t5KrksR2FTIjODZQcmHO/nEHWgc\u002BaI0Zm5oL55wsIesl9wZrBpRNubZ8C28r7DMxuv8SQrUSOU8Bkfsqai2V8xZLKn9bZ/fcuaBQwmEh7atq2iihHeM2F727ZXCdI1OE6hRY3MG32lMHNYkUvXbt46RPw5AA8NUzFRa9oAKDP5ZMz9hIxQzltv/ZmeRaIVpGzYHMTWPDg/U/Jcuu9jpQh/Xyx/GeoR6XagiQK1bs2Pe8etJ8su42jU/jDaNFOsDFhRXyZ1lopChnOOdXL1SiTkzT7n9n09ELvDahv5N/Ti9LzqZA/nGaV9KqGXoG42H3PL9SdUhBYbFA5qsixuiU5\u002Bq4C2CyYVPbOZqovbpXANjUrn7UKNjk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF67A7B162\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "b28okZ4UDog=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102/test-blob-ca7f08d0-3666-48e4-b922-593eaf8a3ebb?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF67A7B162\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:04.4164799Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f8d80078-fba7-7084-517c-e2da3130b17c/test-blob-a97a0524-7d50-1220-cd05-666d8107b3dd?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF67C1291B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:04.6723355Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f8d80078-fba7-7084-517c-e2da3130b17c/test-blob-a97a0524-7d50-1220-cd05-666d8107b3dd?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102/test-blob-ca7f08d0-3666-48e4-b922-593eaf8a3ebb?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF67CBD5FA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "b28okZ4UDog=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102/test-blob-ca7f08d0-3666-48e4-b922-593eaf8a3ebb?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF67A7B162\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF67A7B162\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:04.4164799Z"
      },
      "ResponseBody": "1Pj2/Vzz7nm1AiFvNimCCHLSYYVsfN9sp/a9ywouoilGAmXkY6Gjf8uMjHO58p48oqa6owsdQ1gYiVZmNiJvhmD4KTTDnqTQLuG64O9ss7VXgShjdP8dKb4Ny9lLPUmpHAYSwMhqeAQB6XQpY2Noq9agDrX5DBJh2v91ttLLhfCYEMPpWfLs7QgkYYqK88ZbpCACqi\u002BTsBD0seXI9cExNWSEkFKff1LktCCs1KqH1\u002Bc5GRKyydrABGCz9agMI/hH8ismBWJzvCTNHvYP59tmbNr\u002Bj9uvf2yJxIzy7Iqp2JAoZOJ\u002BYdGExV3t5KrksR2FTIjODZQcmHO/nEHWgc\u002BaI0Zm5oL55wsIesl9wZrBpRNubZ8C28r7DMxuv8SQrUSOU8Bkfsqai2V8xZLKn9bZ/fcuaBQwmEh7atq2iihHeM2F727ZXCdI1OE6hRY3MG32lMHNYkUvXbt46RPw5AA8NUzFRa9oAKDP5ZMz9hIxQzltv/ZmeRaIVpGzYHMTWPDg/U/Jcuu9jpQh/Xyx/GeoR6XagiQK1bs2Pe8etJ8su42jU/jDaNFOsDFhRXyZ1lopChnOOdXL1SiTkzT7n9n09ELvDahv5N/Ti9LzqZA/nGaV9KqGXoG42H3PL9SdUhBYbFA5qsixuiU5\u002Bq4C2CyYVPbOZqovbpXANjUrn7UKNjk="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-27525c27-670a-e589-b0d2-43f94f933102?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:03.1189842-07:00",
    "RandomSeed": "1184972428",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
