{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DDF5308CC\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f72574e5-3bf2-14de-9898-a675516658bd/test-blob-2dffa0e2-804f-14d7-044e-d34a0005c641",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DDF707EA5\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:51.5055269Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f72574e5-3bf2-14de-9898-a675516658bd/test-blob-2dffa0e2-804f-14d7-044e-d34a0005c641?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NHp7OuWGsvveU+7QOXxy0jaG3ftu8xOfvHpOW/6W8AKqqXkaVJ4h6omuoxQ9+GzRsd9BkkgW3UBn3H1qOFb8R2LrJpACV36YZfJywFD/YcQNfKofVV66k8w4s3cgtrIzsVuxUdHcz1phqC1WpBzwZ3q5XLus3fIEMZLEyaMHeK4/Pw/0ThDyMa1QvawwY++vSEv8Z1n3htNprCA+GAW2WTB+FmUM+xlqxisNXB9F1M2jFIFXChFUSLg7i6HwsxmomWN8sk2KokwykqAu6SqzI9hSmwOEXk8fKs6s0G93ehMRZcK7ySKAGXE0JXhwJV6NiGjJnhgVIzoUXId/3dLcuheNHYRo91m20YGSUDnWrgRvHkgHrtv6+0GHp22aATyfV2pg4wjZJZAOE8yXg9MBPq2DD7+J1Qw[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2/test-blob-c4024fa8-8825-83ca-0fd1-819c66c5c6c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DDF8D2A37\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:51.6934199Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2/test-blob-c4024fa8-8825-83ca-0fd1-819c66c5c6c1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "FfZ7WhmG18I+W1DJTMGcXV77D7ZWd68ZGijC/ddyBaH[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2/test-blob-c4024fa8-8825-83ca-0fd1-819c66c5c6c1?sv=2024-08-04&se=2024-05-02T20%3A32%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DDF9B58E8\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:51.6934199Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f72574e5-3bf2-14de-9898-a675516658bd/test-blob-2dffa0e2-804f-14d7-044e-d34a0005c641?sv=2024-08-04&se=2024-05-02T20%3A32%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2/test-blob-c4024fa8-8825-83ca-0fd1-819c66c5c6c1?sv=2024-08-04&se=2024-05-02T20%3A32%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DDFD1070D\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "IhspbVIcdhw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2/test-blob-c4024fa8-8825-83ca-0fd1-819c66c5c6c1?sv=2024-08-04&se=2024-05-02T20%3A32%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DDF9B58E8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DDF9B58E8\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-eb5f8ec1-7e5f-06af-744c-bddeabd639a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:32:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:32:51.4028620-07:00",
    "RandomSeed": "14949806",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
