{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93cf585b-4ff6-6ce9-d209-e2f2a1a3ff62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD4C85B50\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93cf585b-4ff6-6ce9-d209-e2f2a1a3ff62/test-blob-54a62403-9845-a634-5943-cebc7fd57485",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD4DD6E29\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:43.6176937Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93cf585b-4ff6-6ce9-d209-e2f2a1a3ff62/test-blob-54a62403-9845-a634-5943-cebc7fd57485?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "t5nrxJ8JHHUD/7CZVppXlNaGS/fp/fUha4FBu98oniaFOA1jO3DCF45qzaG3LKTN0OVsaRGlj7qkylkeyGGV22CJEx6N81hlwzNofjBTaT/dc\u002Br6vDQV4KhTv3EXpE8t1fJALhiFQNyMBqbdPBGJUGAaQFV2mx4sdDJ1OTTnTh7kO6k\u002BEzsmVzIObraON6OXyW8Q/WP5tjrTFLrmDweopLeH\u002BQFoSz0l8\u002BkiaCxonTyP3m/E11G76oRvav6BQEcrZcn\u002BBz2hL34x6wl6104Na3Z9VjGX48xmyw99\u002BOA\u002Bo7Oh9wJjaZb\u002B7[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93cf585b-4ff6-6ce9-d209-e2f2a1a3ff62/test-blob-54a62403-9845-a634-5943-cebc7fd57485?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AD4E730C0\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:43.6176937Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a58b485f-7015-a05d-eeda-696a6c82fb69/test-blob-e6f2da77-d37b-538c-ad28-b2516154b651?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD503192E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:43.8645550Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a58b485f-7015-a05d-eeda-696a6c82fb69/test-blob-e6f2da77-d37b-538c-ad28-b2516154b651?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD50FC180\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "H7Bhw0XbkdE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93cf585b-4ff6-6ce9-d209-e2f2a1a3ff62/test-blob-54a62403-9845-a634-5943-cebc7fd57485?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6AD4E730C0\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AD4E730C0\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93cf585b-4ff6-6ce9-d209-e2f2a1a3ff62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:41.9190453-07:00",
    "RandomSeed": "833792300",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
