{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F918E30ED\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2949e091-f090-eae6-1c9d-aa6158c5fe75/test-blob-e4692fb8-9b2b-381f-e128-3680ddcb36bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F919D3F32\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:14.9852978Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2949e091-f090-eae6-1c9d-aa6158c5fe75/test-blob-e4692fb8-9b2b-381f-e128-3680ddcb36bd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "hsuKRfddyfDO0pyL8TnK9fz9wuVHToDj8+PYOeO67dbRvF1h4ci8peWzXzXObDRlo1kL3SHHaThKplIUhI8ME+TFuTXbaRM0QBwAk+5KFYaucpaKrw+0ClIlFjt1qCBVpktRCLL/iTpG150Fx9VJAJDLZRH5gmTUEK/itlLXvpf7q+2i+A3Ur+lbRNdyr0N92xWqqUIOWyPnffcCHNLnbhgFCRznpgiD97Yonj6MYWFsZdo8LBRU7U/Ku3sV0ZIWdNa/bKUmlTUNJ7KM5r3lWhuVlrf4qkEDsBzMHeqMbSYkESlozfS7Rc+lLgViyAaS5GBffzvaHsqVu7yJWnhKgLqMaNSTfY0n2lDoU3s7oOgVOTiKLe3rSfNf0xE4MutXWq1K1mAy/mfTN6Xq8spOWRvTcyA/wFP[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8/test-blob-a33352a2-b61c-d619-18d4-997df2aa16bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F91AE2CAB\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:15.0962347Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8/test-blob-a33352a2-b61c-d619-18d4-997df2aa16bf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ORO4brsH2XEnCLfqiLk11UZKbSEWk7XCHkCD8cb3q[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8/test-blob-a33352a2-b61c-d619-18d4-997df2aa16bf?sv=Sanitized&se=2025-02-01T21%3A38%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F91B6B6EE\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:38:15.0962347Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2949e091-f090-eae6-1c9d-aa6158c5fe75/test-blob-e4692fb8-9b2b-381f-e128-3680ddcb36bd?sv=Sanitized&se=2025-02-01T21%3A38%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8/test-blob-a33352a2-b61c-d619-18d4-997df2aa16bf?sv=sanitized-value&se=2025-02-01T21%3A38%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F91DC13C0\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VpBF22qU0bE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8/test-blob-a33352a2-b61c-d619-18d4-997df2aa16bf?sv=Sanitized&se=2025-02-01T21%3A38%3A15Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423F91B6B6EE\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F91B6B6EE\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bfe4a743-8cd0-c190-f7e4-8cf0118dcca8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:38:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:38:15.0719804-08:00",
    "RandomSeed": "713719838",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
