{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD2D6AB87\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76/test-blob-c7dc60a5-502a-4f23-18a0-335cafc69c18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD2EDA5C8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:40.3685320Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76/test-blob-c7dc60a5-502a-4f23-18a0-335cafc69c18?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "JIZIcsSChpHvrt1Rvbi9GR7f/F/JWYc6z\u002BwjsGG018pFUJ5wdtDdZ6wjEG2TdKoqsFWFNH3NCsr\u002BDqPYX9YvOtcTDG0aTKNOApSzpUkapltB\u002BP8ML6NMd0bUcmctBAfW9NWVgGg8D2SxNzLoGmSA42dIlmfWIwo0xpQnRto7IP2N3LBzhCXyBeibW/hwY13hU44A5W2g/9HKYbrTFcmJdRY0Wz2zDV5BVZF\u002BOscSw2I2RfJLOzuP7NzfqCNrHu8fEuXhPAcgLUYvvo/cIsQJuJ1Xnc/WPTnapW9g1GQ71TahXyjiMIdaFhesHHyss8oY1vCFE4EgS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76/test-blob-c7dc60a5-502a-4f23-18a0-335cafc69c18?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AD2FAC34D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:40.3685320Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17c659cf-c9ec-ed75-1b4d-47241e72bfdb/test-blob-ca05ebb5-4393-7316-5a8c-faa0d0589be5?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD31302B1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:40.6143934Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17c659cf-c9ec-ed75-1b4d-47241e72bfdb/test-blob-ca05ebb5-4393-7316-5a8c-faa0d0589be5?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76/test-blob-c7dc60a5-502a-4f23-18a0-335cafc69c18?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD31F0EE6\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "rCYyxx1v0OM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76/test-blob-c7dc60a5-502a-4f23-18a0-335cafc69c18?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6AD2FAC34D\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AD2FAC34D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2cdad77a-e51d-9420-665e-ebf98cea4b76?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:38.6928114-07:00",
    "RandomSeed": "1426819605",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
