{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D105FBCEA51\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68/test-blob-c60af42c-a79a-8810-0502-f8f430916298",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D105FCFB1A3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68/test-blob-c60af42c-a79a-8810-0502-f8f430916298?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "vEvpX7i91CgHlBljqkCAKEFCgIP2m5f71YjSoL+Rpc8mcrGq1hWbDDH51A/JLSdaGQaBepB7MCGz7okw6zNpde9JPDiP1lIsp3RR/MeIMahhd4a4ECo/q0GP9+iLaiH+kF4ggPDuykO0VdMcKTRaK7zhz3OtsGXECpH3/99poDxTU2xoZ7C4cqxDA7pXIoENNcsrqputUN/5W3Ve98tkS7SXydbH8cMLKVzGaa2qbecQ6soTPfagpQKMbww7WXvh3rgGv1mqRUMIH4E+5ucyTu6NTg0AUQ299iPUO4K30M/h5Iv0pK2OZaSGCx11Yr4bWiAdrQtt4I2qSMk21QrBUE+xXAJcP[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68/test-blob-c60af42c-a79a-8810-0502-f8f430916298?sv=Sanitized&se=2025-03-08T00%3A38%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D105FD80CB4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8ee965ee-272b-a8a8-06a1-ffe85d539b1a/test-blob-4aeaf1b1-c834-6f7c-35c9-4355d441284b?sv=Sanitized&se=2025-03-08T00%3A38%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D105FF0D009\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8ee965ee-272b-a8a8-06a1-ffe85d539b1a/test-blob-4aeaf1b1-c834-6f7c-35c9-4355d441284b?sv=Sanitized&se=2025-03-08T00%3A38%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68/test-blob-c60af42c-a79a-8810-0502-f8f430916298?sv=sanitized-value&se=2025-03-08T00%3A38%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D105FFA147A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "nTvSz2KYLHc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68/test-blob-c60af42c-a79a-8810-0502-f8f430916298?sv=Sanitized&se=2025-03-08T00%3A38%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D105FD80CB4\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D105FD80CB4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-64edbdfe-7e92-cacb-0e4e-63841d536e68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:38:26.5855490-08:00",
    "RandomSeed": "2084300391",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
