{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EB923ED5E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50450e8b-9fda-1d6c-76ea-d66677865529/test-blob-5065921d-0497-df04-551b-5b6f8d3fef91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EB968EF6E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50450e8b-9fda-1d6c-76ea-d66677865529/test-blob-5065921d-0497-df04-551b-5b6f8d3fef91?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "j0aTwOxqI2QyP1aP21QuE96F72HBrvAOZGeRv5zhAOn3K75I1Ta1HxOo7hk1i/ZTJLUIJtRiB+FVhVyE2WPHUT5tmK+W5T6oz89NGL/W2NhxPprm2doUlSTd8lDaMEaw4J3bx/NGvT93YFYEFO4hfqyDE5vI4XdkWAKLuPLuzZ6JnDgi+xDlK4Bbb3mDEIA1u3SjVh2r6P8ldm/wugRMiZK3eni2/4OcnucabHH+4EiBVv1+SnaB3rQ4/ISh9HB8DubmzJUIfrvwBrc1kHuOJpYmbmQGzj4bNpzDfgP++6p3nV2LGBOyedhBjUO/S004qtXueoUMdUCoy5b4RP+48gsNvvIdAw6CdPWMxUD6XOpPi9QtD4Ekaygc4k19uTTYiZs4sY1aGqfHbAaQf7AArW6rqbkri+K[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97/test-blob-c3912d8f-e752-9b53-0109-86eea7c8b198",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EB97CD642\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97/test-blob-c3912d8f-e752-9b53-0109-86eea7c8b198?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Qtwyof3TRteXntHPzkda2UO0oEnj63bcR3QXqK3eMKZ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97/test-blob-c3912d8f-e752-9b53-0109-86eea7c8b198?sv=Sanitized&se=2025-10-01T20%3A19%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005EB985CCDA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-50450e8b-9fda-1d6c-76ea-d66677865529/test-blob-5065921d-0497-df04-551b-5b6f8d3fef91?sv=Sanitized&se=2025-10-01T20%3A19%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97/test-blob-c3912d8f-e752-9b53-0109-86eea7c8b198?sv=sanitized-value&se=2025-10-01T20%3A19%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EB9E141CA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "fhXjk1KmXG8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97/test-blob-c3912d8f-e752-9b53-0109-86eea7c8b198?sv=Sanitized&se=2025-10-01T20%3A19%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005EB985CCDA\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005EB985CCDA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a775aa06-4b31-3a80-19a7-c8c5f0091b97?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:19:57.2604178-07:00",
    "RandomSeed": "753575092",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
