{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D106588041E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6/test-blob-380ae09a-d3d9-883c-0157-2f21f9cae0ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10659A9906\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6/test-blob-380ae09a-d3d9-883c-0157-2f21f9cae0ab?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "F90WfznV+n2yznYn4iOESrYcSna+nttKzhqV77TfIxNE4T4aFRILgq3FmPZE5tFeZ0VAYqxNuHgCzLEeQAvI0qtj4gDkaTWjEMfJ+QXkBedJNohvnsFm9ynFF0hh7UKi/MVL4ATQev0PnFHkg79zHcfJ1QmCWDTp/OvXHlLsQiOEJ/xAmSTjeLyKXwFwgXNqUvmAlxc4H6ORYeQY+VurIlktYFzCMoSi5l1N9/kyeXp3bcxYbKsMTAdZrzhAyn9h3zynQyEXpyB13bC66yeqXuhpoIuPUrauIBRUaYJMYhze7Bi8ijZZYMWr4477UmHgrlBP1ynz0YyG+SINwz2dKXuU3P4P7dSxEEDF428oss6zdLoy/Ivy6xqLNpATS52IDroTZ3Vi0MB8nsfpLe4dXUZUWU+CayzvofHkg7dDnsSjPdW1FUtYUKP6tV7ECb0sbthJv/FNBaKNI8aEfk0JOf8CRe8ZaEj7+wmsiLXOK5czuBXe+d7SVTgyJ/KF09JV8HxewcTOEgaQTsTooXztvvguUcY3Kj8hMPC35kBWdSc2Vpc5cGnTZaUPTqsa6bO7RWj5V4IMHsY8PJDTFyvFOticskvks06OWuwhJ9yUB0c8+6HXXB6lKjfR/DPY/015ShPSfTdn1pEaa/yW6vfqqDVJlxuJ7t6594cUE7Ybtls=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1065A31AF9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "YFWlRhPduLw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6/test-blob-380ae09a-d3d9-883c-0157-2f21f9cae0ab?sv=Sanitized&se=2025-03-08T00%3A38%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1065A31AF9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a5e770d-e66c-b735-e4cb-e6c98cc8b1a0/test-blob-54764757-3a3f-9264-1283-5dfa4edf6dd5?sv=Sanitized&se=2025-03-08T00%3A38%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1065B886B8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a5e770d-e66c-b735-e4cb-e6c98cc8b1a0/test-blob-54764757-3a3f-9264-1283-5dfa4edf6dd5?sv=Sanitized&se=2025-03-08T00%3A38%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6/test-blob-380ae09a-d3d9-883c-0157-2f21f9cae0ab?sv=sanitized-value&se=2025-03-08T00%3A38%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1065C1CB20\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "YFWlRhPduLw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6/test-blob-380ae09a-d3d9-883c-0157-2f21f9cae0ab?sv=Sanitized&se=2025-03-08T00%3A38%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1065A31AF9\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1065A31AF9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "F90WfznV+n2yznYn4iOESrYcSna+nttKzhqV77TfIxNE4T4aFRILgq3FmPZE5tFeZ0VAYqxNuHgCzLEeQAvI0qtj4gDkaTWjEMfJ+QXkBedJNohvnsFm9ynFF0hh7UKi/MVL4ATQev0PnFHkg79zHcfJ1QmCWDTp/OvXHlLsQiOEJ/xAmSTjeLyKXwFwgXNqUvmAlxc4H6ORYeQY+VurIlktYFzCMoSi5l1N9/kyeXp3bcxYbKsMTAdZrzhAyn9h3zynQyEXpyB13bC66yeqXuhpoIuPUrauIBRUaYJMYhze7Bi8ijZZYMWr4477UmHgrlBP1ynz0YyG+SINwz2dKXuU3P4P7dSxEEDF428oss6zdLoy/Ivy6xqLNpATS52IDroTZ3Vi0MB8nsfpLe4dXUZUWU+CayzvofHkg7dDnsSjPdW1FUtYUKP6tV7ECb0sbthJv/FNBaKNI8aEfk0JOf8CRe8ZaEj7+wmsiLXOK5czuBXe+d7SVTgyJ/KF09JV8HxewcTOEgaQTsTooXztvvguUcY3Kj8hMPC35kBWdSc2Vpc5cGnTZaUPTqsa6bO7RWj5V4IMHsY8PJDTFyvFOticskvks06OWuwhJ9yUB0c8+6HXXB6lKjfR/DPY/015ShPSfTdn1pEaa/yW6vfqqDVJlxuJ7t6594cUE7Ybtls="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f185e50f-4f1c-a05e-3a34-7785315b9ed6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:38:36.3060985-08:00",
    "RandomSeed": "1865197737",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
