{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913E4A5112E\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2/test-blob-f8228cc3-7a23-09b7-419d-2092ab8bf1b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913E4BB8D30\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:08:35.6515120Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2/test-blob-f8228cc3-7a23-09b7-419d-2092ab8bf1b2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Tgt7Bj/0HWLRh9xtINzpPAOCnqgYfcu89UWN/6PNbRttrhpul5fG0wNw4Sauos9DU1uZ5BsEh9FAvhH5Zh6/BBnB/3HCeqVrvMqlp5ykDlN2SqtHM4kAaSdJLtiGzGzlsd0N7KNdgdi1LShQX980m6\u002B\u002Bgxxyd9CPwJZKeEzM5e9ev/a/liGvGMjSkQVhsAlHFJIpyEhQczkMfisMEwmM6Ug48Z/odQSNDmtUn\u002BXKLhCMAmO5oxynDky9shj2ogS/Rqi9Kb5pXp6Om7rd\u002B9NTQlAbgBCl00UrkONSK8Psl2tmlFk8DQRRIqPEKwhiyRJ5aW/I2iLzGXJjkZjbFzPbogNPd2Z6FjRLyl1t4ag9ycfR2cJTI71Icnvm2Xxrdgtw6YkEE1Kr/lI7fRDEhjjKJsfRCj1xh35GBgTrkz2431NS/fceOLV0JdpvGKWsg\u002BxDHLO0mmvN/mIKvg1OwGsVg528colBq\u002B0SXORiAW7YmYIYqHeJA0TnhP6UFHqoJmVvWpUH8BFiAnHGoj2Ha/30MSSKNRjzi39Z1O6LrJZzaTZ/8qfY0alxtaUGw2EHYBkAoOJVHfBNfM4Vrhsj11XaUjgHB3hVG2B7GYBy7cgeUXTViguzHktFMnbYwyKOTt5QK3AoAFigq4WC2gRw2o4G912mTkxJJjTtwdUBfFg\u002B7Ms=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913E4C6610A\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "97tBhaMbFus=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2/test-blob-f8228cc3-7a23-09b7-419d-2092ab8bf1b2?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913E4C6610A\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:08:35.6515120Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9274c8ef-08ee-5d2d-9d9a-73d137f84d60/test-blob-5ee8b6b1-d649-8042-d869-26887fd52085?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913E4E35AA6\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:08:35.9123622Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9274c8ef-08ee-5d2d-9d9a-73d137f84d60/test-blob-5ee8b6b1-d649-8042-d869-26887fd52085?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2/test-blob-f8228cc3-7a23-09b7-419d-2092ab8bf1b2?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913E4EE2E81\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "97tBhaMbFus=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2/test-blob-f8228cc3-7a23-09b7-419d-2092ab8bf1b2?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC5913E4C6610A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913E4C6610A\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:08:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-f[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-162587b7-64d6-8c97-f4c9-6c224b0bebd2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:08:35.4509849-07:00",
    "RandomSeed": "2031239964",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
