{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-18f43d94-9b7d-fc47-05aa-7cad6cceffb8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:32:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DD6C5B9D1\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6f1fcd57-eefc-d5c4-4197-5b416b703faf/test-blob-e79f7c5d-51f1-6a7a-d854-305196b345a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DD6E57C10\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:37.1727376Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6f1fcd57-eefc-d5c4-4197-5b416b703faf/test-blob-e79f7c5d-51f1-6a7a-d854-305196b345a8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "amOwLgFaoPUkF3OXbd4/2RuhT7p0ezChKHfoms528TNPqnTFG+pp2cMyv+pM2BbLNq5VfJF1ye8zDwaKcQUnriY/R8Jpeb4wN3X3QrxFVFBhHWQgIHSi2uCEkQvk32i9CxDEDJBTYbzwJUUbfocz7bq2KVShBo2xnG3i5OiyTFcNOTargUi/DrynMPsvh1tZUaNQLrYTGwWDEm8jcXzUPdntDUVRiGxy9huX+taSgRURiJNEYh2h+R0xJ2/ZnJ0/0/IhQnkWB8k33jebfCEu8JBZEejpj9u7SxQnIGD9mVp+WCbkcD+b+4HKDIPmBn38Ajfef4u0VUMXZvZl7+doOkXdHSP6Sn9QvhVmH4NX1EWWKx0oHhrPyQPizQpINgyZYdI+CelZAbi4jcF1TTXAv5GxzsTJPxw[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-18f43d94-9b7d-fc47-05aa-7cad6cceffb8/test-blob-f69cf9ef-aed4-2d05-62fc-4ca3ad53c035",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DD702278D\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:37.3606285Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-18f43d94-9b7d-fc47-05aa-7cad6cceffb8/test-blob-f69cf9ef-aed4-2d05-62fc-4ca3ad53c035?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "m9I3HvYRPbPBS0HVqXAo8FaBwetSLhNZUeiBz0Pkp7C[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-18f43d94-9b7d-fc47-05aa-7cad6cceffb8/test-blob-f69cf9ef-aed4-2d05-62fc-4ca3ad53c035?sv=2024-08-04&se=2024-05-02T20%3A32%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DD7107D56\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:37.3606285Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6f1fcd57-eefc-d5c4-4197-5b416b703faf/test-blob-e79f7c5d-51f1-6a7a-d854-305196b345a8?sv=2024-08-04&se=2024-05-02T20%3A32%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6678a55d-201e-0090-2b06-9cabec000000\n",
        "Time:2024-05-01T20:32:37.6711187Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-18f43d94-9b7d-fc47-05aa-7cad6cceffb8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:32:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:32:37.0700701-07:00",
    "RandomSeed": "1887763806",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
