{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-224d4b44-98d4-5c79-af48-3dee54628ede?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:33:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DE6EF24C7\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d360165-6803-12d4-b2d3-69d6e76c05b4/test-blob-101c2746-b0c5-53ef-6b55-97585f3aba21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DE70D4C8E\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:04.2772110Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d360165-6803-12d4-b2d3-69d6e76c05b4/test-blob-101c2746-b0c5-53ef-6b55-97585f3aba21?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Xli7J4pNSZEL/DmSr9Poc8amozEnFCgNEAfEn3D+wqvv/xC22EBujkGTiU0dAFnyUEVh73gRDEovrRaCiaohDTqOorDDMZqGOBXwlIrb7xCu0k4rnNIy3vLFhiop6wSWcnwTj16oLh+q27djIXi/VL4G1Ldc9nBoW8S9/qpwXEwQWSEOyF+yBaQugMEaz716BjJsIhdNOXwLqjSZ6zB0On5rUsdWsIxeVM8TLXavTYsHQvd4BDo1wiClAx0rGBlzukVCrnz1I1WmDc5HOgsGXF2okqg4/DZENo+msa1vMzy1n3MwbJ4PER+i0vZs7YgUnqa/g4VxO74O/njsT3KoNtqRkpuX1fC+mYGJlSk/10gHkRIGr6+2RGO1IW0mIsKs+psc2lvtfMm2AOkE6KWUzicv5b1foYc[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-224d4b44-98d4-5c79-af48-3dee54628ede/test-blob-18383cf9-3889-c706-dee1-45078a8cd1f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DE729AA02\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:04.4631042Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-224d4b44-98d4-5c79-af48-3dee54628ede/test-blob-18383cf9-3889-c706-dee1-45078a8cd1f8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "oj9+F66f+0X4xkNGCAG49P5CHOpAUqXTl6CKpAbnanN[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-224d4b44-98d4-5c79-af48-3dee54628ede/test-blob-18383cf9-3889-c706-dee1-45078a8cd1f8?sv=2024-08-04&se=2024-05-02T20%3A33%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DE737D8CB\"",
        "Last-Modified": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:33:04.4631042Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d360165-6803-12d4-b2d3-69d6e76c05b4/test-blob-101c2746-b0c5-53ef-6b55-97585f3aba21?sv=2024-08-04&se=2024-05-02T20%3A33%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6678f509-201e-0090-3606-9cabec000000\n",
        "Time:2024-05-01T20:33:04.7696793Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-224d4b44-98d4-5c79-af48-3dee54628ede?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:33:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:33:04.1732921-07:00",
    "RandomSeed": "790874703",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
