{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b8ec9262-d052-c0b7-bd3b-931956a8eb26?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690106B9FBB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-042aafda-0648-6966-c613-b02339998de7/test-blob-1342e5d7-0a56-283a-cbe5-d8f2115fd9c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690108752A2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:49.0494390Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-042aafda-0648-6966-c613-b02339998de7/test-blob-1342e5d7-0a56-283a-cbe5-d8f2115fd9c4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "LCIXQBNzla/3l65DpR+RRqu56DVdkzfCldHmzXkwT5mSnypXWeTIds2FIMBw2nT/Ce2nQ3zFd5nrVatCjcg1x0gUsAX1Ou3G8HJo13J3Ubpc58OLiAwdzSiRbAQ4hugFT1l4XCluCs4A4FMJXZ8mdAPx5aYEqT489+PdY83pjmmKYogZ/vWQ7t30i6i4E2+Ia/gARqFCAKUaO2RGkKYBFlLpf/oXDHUOYfbIDx6Wg+N0VfjV6UfIR2Hi/sOQSV0383RVz5R0cF6D8uWqefGHhLiB0TutLC0KITeZNQ2xfReZkRupQLROAOSaUfZiHc5wW3oLD3giicdHS65c2ztR0XTNEefV3UQDMtFWE9o2qARpKNmTpm6fdghUYvUG8iSoSICBlAvmm302B9ymy3btEKKp8rJivio[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b8ec9262-d052-c0b7-bd3b-931956a8eb26/test-blob-10d5a196-eac1-3f58-7621-881af1c7fa7e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690109D49C9\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:49.1933908Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b8ec9262-d052-c0b7-bd3b-931956a8eb26/test-blob-10d5a196-eac1-3f58-7621-881af1c7fa7e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "iPhUpdduhvYUmthAoi2r9N8RpfD6ClpBONQN3co23m/9ox[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b8ec9262-d052-c0b7-bd3b-931956a8eb26/test-blob-10d5a196-eac1-3f58-7621-881af1c7fa7e?sv=Sanitized&se=2024-06-08T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869010A9CBD6\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:49.1933908Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-042aafda-0648-6966-c613-b02339998de7/test-blob-1342e5d7-0a56-283a-cbe5-d8f2115fd9c4?sv=Sanitized&se=2024-06-08T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:62065ac7-101e-009c-7478-b85b47000000\n",
        "Time:2024-06-07T01:20:49.4407227Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b8ec9262-d052-c0b7-bd3b-931956a8eb26?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:20:47.6169751-05:00",
    "RandomSeed": "1853584092",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
