{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98072338-339e-d47d-4a6d-5a7b6b11a18f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869000C5FBF2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-207f7e51-a46c-75ec-9809-dc8c643c8ac1/test-blob-fae7a62e-bf4b-cdb9-1ea1-88f79a6ff09d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869000DE7E81\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:22.7771791Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-207f7e51-a46c-75ec-9809-dc8c643c8ac1/test-blob-fae7a62e-bf4b-cdb9-1ea1-88f79a6ff09d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "iUIqL/gg/u4J61oDg+PTJb04pbYZUlRhoR6iJzIeAraoObK/XZGypMagVdfnV6HkJi6iblnG6zbtyI3afta76+mjWkowFMcrhQHvePx8ekp9vgEDe5Nc4k180pUD2CXw5GruQ/1XsxJnduhY13M5cE1DXL/Ut29VR3j8tEExJ6zb/5ORjjdMJgrvnAWrBAraQmFHwHxlGy37mPyEWv/QNU87fNjfqOEW9ja15RtpqkNtIXLg6mcwdeRmlvU6x8sLH2a2b4cy+5p/MMlFsDYRke64FzmM70vnCwfzeBHs2y5rqcW0szq7OybYYbmd6sWuVAQHgrCSfjAbzmSAPoKIk1Sa2gZwXd2z/dsStI6RSiBCRSQN5Fl92CuVmOXWO/yjUM1lAhC+PfYnU4TVf8qhioNDPfhee67[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98072338-339e-d47d-4a6d-5a7b6b11a18f/test-blob-1d02e222-e8c9-ff1a-04ca-a197ae8d561c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869000F538E2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:22.9251298Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98072338-339e-d47d-4a6d-5a7b6b11a18f/test-blob-1d02e222-e8c9-ff1a-04ca-a197ae8d561c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "UAGLF0PKGlKwmu+xwfPp+fjuYMyK803K+NInZIADhoRXJD[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98072338-339e-d47d-4a6d-5a7b6b11a18f/test-blob-1d02e222-e8c9-ff1a-04ca-a197ae8d561c?sv=Sanitized&se=2024-06-08T01%3A20%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86900100828B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:22.9251298Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-207f7e51-a46c-75ec-9809-dc8c643c8ac1/test-blob-fae7a62e-bf4b-cdb9-1ea1-88f79a6ff09d?sv=Sanitized&se=2024-06-08T01%3A20%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:62063954-101e-009c-1978-b85b47000000\n",
        "Time:2024-06-07T01:20:23.1633703Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98072338-339e-d47d-4a6d-5a7b6b11a18f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:20:21.3530255-05:00",
    "RandomSeed": "74445399",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
