{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-932ffae4-6603-8c25-5ef9-c5a2417cfb47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6DFC2AEC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70f63b32-5f01-7171-e119-8429856e6d14/test-blob-2f7e50ca-89eb-bbc0-c6dc-84a4b06c94b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6E0FB315\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:15.2533781Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70f63b32-5f01-7171-e119-8429856e6d14/test-blob-2f7e50ca-89eb-bbc0-c6dc-84a4b06c94b8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "pm7vVcONFrCm3dzocvMp1bFNH9xXmxJIkw1NbdMy3vgnKzF\u002BZUKS6m2AnK83pVR6YCqETB7PWwpcp8K2P6ncc/7kwUbBqnBuujVv1v5jEO640wyprpHZWNAnIr2A3KrDoymwU\u002BMOuba5FZLpYIUL\u002BZbT/mydM8VsCml2moiy7t6KqzLVsr0KqRpW8Jj/8PhKGygnrN49JnBjREh6mB4tBia0XrRSNkbYyVRSRkItbBpxK35fi0L/TYTBcW50kBH7KelxS5FD9\u002BXiTuKK6\u002BAuNtcuCGygzXvjtBEwkMTYYzhDVh1ZuyGILTOYfTxfdWGkkzqWRoekW1tujZaAEmYhCeqqR5TC1Hu1pds4B08\u002BhD\u002BwjP2JQR2xnvvC6i2K[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-932ffae4-6603-8c25-5ef9-c5a2417cfb47/test-blob-018a8cf5-844b-4d33-ee3e-3f92d6299f74?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "jTb03oq5rwrb0ZLTwjWlMGqLHMYkBDIas2M7m4QAwh2msy[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-932ffae4-6603-8c25-5ef9-c5a2417cfb47/test-blob-018a8cf5-844b-4d33-ee3e-3f92d6299f74?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A13Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6E34E908\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:15.4122889Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-70f63b32-5f01-7171-e119-8429856e6d14/test-blob-2f7e50ca-89eb-bbc0-c6dc-84a4b06c94b8?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A13Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:6336403e-101e-0023-0e98-80ef22000000\n",
        "Time:2024-03-27T22:44:15.6958287Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-932ffae4-6603-8c25-5ef9-c5a2417cfb47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:13.9476620-07:00",
    "RandomSeed": "121884171",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
