{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-46fa3701-f4b3-1ea4-dd89-986e78917a91?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ACEF87DCB\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-46fa3701-f4b3-1ea4-dd89-986e78917a91/test-blob-03a0a5c9-f3c5-c200-d611-d50e0de85920",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ACF15DC17\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:33.9211799Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-46fa3701-f4b3-1ea4-dd89-986e78917a91/test-blob-03a0a5c9-f3c5-c200-d611-d50e0de85920?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "AZUGoxsWrIBXryvu/GlFp20s8L8ReUDJRJhcZBgKDQyvc7bYWsemErAmdakuj7\u002B2N9UUsPRtkYhVPF\u002BCukhnTKEeP4mzbUylht4O6wOWmrTZpSxD9lwYQeEugh5oI1dovikID1A1A8qIbyoWX6aEvqGqqRQbJFZFBv6oheouPGOGpS3ajopko6JiuocyAuI7qcN8vnlCTZnSwglRjX3fWjLHj7l5qTAWRQVyuGrPEgQcbNsnsn7pRFiTB8uBEhYkg19Ua3Iowv\u002BTZXl00JQvA7AFNSGiuKe03ktg5aJllTLvTTUKeqeR86rbk00FdHTDYwMbfN31gsq4oI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-46fa3701-f4b3-1ea4-dd89-986e78917a91/test-blob-03a0a5c9-f3c5-c200-d611-d50e0de85920?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A32Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ACF203AD1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:33.9211799Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1952b7-cc97-d08e-599c-026fed999614/test-blob-65270767-6146-6c65-4a64-273bc803dcdb?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A32Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ACF382C28\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:34.1460520Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1952b7-cc97-d08e-599c-026fed999614/test-blob-65270767-6146-6c65-4a64-273bc803dcdb?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A32Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ACF48CB8D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "HsEdbzuUZJ0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-46fa3701-f4b3-1ea4-dd89-986e78917a91?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:32.0938268-07:00",
    "RandomSeed": "860825462",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
