{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fbda0722-5cfc-9a99-f910-4448ff61038c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EBF3A7B13\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2aced16b-18c0-4e71-2fd6-8d01d8680b23/test-blob-a631ca7d-4da1-e91c-7d2e-6b4bebeaf381",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EBF57630B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2aced16b-18c0-4e71-2fd6-8d01d8680b23/test-blob-a631ca7d-4da1-e91c-7d2e-6b4bebeaf381?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "XfFAHSlfFklW67pmx4gpsRk0bHHu+W6mnaIMZzk6xH4EAFn2p90fp39WQtqjVyt8KI56kRFh22OCmn+HU68PGyY8YscuMwo8FMXyl7eTAkZ2jz6rwDNtoyT1cwxemFTQRyezZ/VkTvSEPXxMb0Ss7pg5EMNwZFrzzr+iOL/93nxxIVCP35pQEkFJJoO3IDPgSYV0JIiRX+LMwJg2wRU1hl4A203zHA7+6P2BJj3XO66Lwe86ibnz4MJtwx8BGlEsFKAkt0Xm7Cx2dTyKDzil9IXqq/8l+v2lDPuLhVnv/M6sVRKds4RopdTDxBN9adCJyM+aFm9RBhqjfqpKWmbThnhu3romCEEAggUqYTXpJ6IqAb2JVeZeW073+TTZHUpu8D2aD4sVY8CNmZRpJqXkuVcIH1mpSTG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fbda0722-5cfc-9a99-f910-4448ff61038c/test-blob-aabf0625-adfb-8b23-007c-98fd8729a5fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EBF6B97AA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fbda0722-5cfc-9a99-f910-4448ff61038c/test-blob-aabf0625-adfb-8b23-007c-98fd8729a5fe?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "cyx1Of2mAQROlHpmFT+8jRfik3kYz8NcPxXzLPyl+gE[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fbda0722-5cfc-9a99-f910-4448ff61038c/test-blob-aabf0625-adfb-8b23-007c-98fd8729a5fe?sv=Sanitized&se=2025-10-01T20%3A20%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005EBF759E8C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2aced16b-18c0-4e71-2fd6-8d01d8680b23/test-blob-a631ca7d-4da1-e91c-7d2e-6b4bebeaf381?sv=Sanitized&se=2025-10-01T20%3A20%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:005f15d7-101e-000b-1647-325bdf000000\n",
        "Time:2025-09-30T20:20:07.5120565Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fbda0722-5cfc-9a99-f910-4448ff61038c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:20:07.2162984-07:00",
    "RandomSeed": "1365044228",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
