{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-310f8ab1-deac-257c-7028-c4e387d9d602?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6F05F775\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-310f8ab1-deac-257c-7028-c4e387d9d602/test-blob-19b8bd95-16f0-d1ac-b52e-0073908a78af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6F24CBB8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:17.0693560Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-310f8ab1-deac-257c-7028-c4e387d9d602/test-blob-19b8bd95-16f0-d1ac-b52e-0073908a78af?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "yHcywZQpzu7WaOGUGeIuB5Sv42dTViT7TSed6OUEcp7/UfDQ2THKIlhQ8ENvUXoXFlVlgX1YhHJTN3RtjOYJ0fZDlcfyXS1i5MAOA2bhi/ushdGPnvAgp81\u002BfaK8XZVyRh5MK7yzJbknA5y8SYALcat5wAcUejIFIu76dN\u002BLpYcqnL1IlGA/\u002BWAYZ5tTZF1Ncgv2Q52OXszrRwjNuLHZnF0VkazDw91KOsam\u002BxKXsb6QrQHTlGLpnD7wXExXcUGvP8s\u002BPtKwia8urAnX52K5VJZKPAuvBQf7LPVu0maR88iF97xHWHPs4CNSpehYErTbNwi2[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-310f8ab1-deac-257c-7028-c4e387d9d602/test-blob-19b8bd95-16f0-d1ac-b52e-0073908a78af?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6F2F9F94\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:17.0693560Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7438ccad-f53c-74dc-5cd4-a91f4c5d5d83/test-blob-4875bbd8-61ec-dece-c468-ea5b3efff312?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6F51EFBC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:17.3651900Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7438ccad-f53c-74dc-5cd4-a91f4c5d5d83/test-blob-4875bbd8-61ec-dece-c468-ea5b3efff312?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-310f8ab1-deac-257c-7028-c4e387d9d602/test-blob-19b8bd95-16f0-d1ac-b52e-0073908a78af?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6F5C4E74\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "YhprrnHXO1w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-310f8ab1-deac-257c-7028-c4e387d9d602?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:15.6172842-07:00",
    "RandomSeed": "1354710466",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
