{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-968d7cff-6db0-49be-bdef-3732f4ce2f90?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ACDE7879D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-50120255-8414-6036-b2ed-0496803e748a/test-blob-bc3d1180-a214-936a-3b64-9db65399f9bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ACDFC577A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:32.0762234Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-50120255-8414-6036-b2ed-0496803e748a/test-blob-bc3d1180-a214-936a-3b64-9db65399f9bf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "TooJgewQO7mNoL9fTVHT83TCuYNHcLzR\u002BTAmvgV7ImItpdlpXx6DE8c8sqjMXDaku\u002BSiXlg8hN3ON4i76XyzEX1dMqd4aZNWPqa8Cr4TBZ36gQMh2cQK8CH8myiWyClLiKAqbymOLFFQTB\u002BygHoeujLqwGd4kTi4UkGGe85rv3Z8cIId6JVzbFWx0Y2lV3Cn3eD2qwfB0vZochzoB7GD5IyoNg/3AdGcd1QSx8CqE/vR353tdRRvu56LtHZ4imSjLu0B/CFgr9sPWTOzrgs2vV4hFygTlW93OXpxa01bJOzvbpjSqRbacDDB3hzhvAyTVfYYV3M8kJl\u002BisOm70OOtDRGwz9yYxRIRqb3UbZSln1u3hZWQsx5s97/VB9SM4HsMyrnmvnMIPH[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-968d7cff-6db0-49be-bdef-3732f4ce2f90/test-blob-0460b88a-1216-6d16-64ee-2147101f0363?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "o9VYKzyETJsKuPVB0lYL6oP3BKnlTbCrlZeSG81cv3lXSk[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-968d7cff-6db0-49be-bdef-3732f4ce2f90/test-blob-0460b88a-1216-6d16-64ee-2147101f0363?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ACE1D9646\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:32.2151450Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-50120255-8414-6036-b2ed-0496803e748a/test-blob-bc3d1180-a214-936a-3b64-9db65399f9bf?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A30Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f15309a-101e-0051-2f53-81e86d000000\n",
        "Time:2024-03-28T21:05:32.4536110Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-968d7cff-6db0-49be-bdef-3732f4ce2f90?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:30.3859410-07:00",
    "RandomSeed": "1109923233",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
