{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-01994c93-6627-1bca-9b1f-67e6183419d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6F9094E7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6afeab53-2334-4017-b117-458da3544df2/test-blob-42ac42c8-2a30-f448-8e03-c7f752bcd365",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF6FA3FB80\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:17.9028864Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6afeab53-2334-4017-b117-458da3544df2/test-blob-42ac42c8-2a30-f448-8e03-c7f752bcd365?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "g7aVjOEOj9QFR/sN2xWXaiNkWjIxCF\u002B4y1MxP\u002BVePA6hDTCyRbAYI9iMTviyhlBDADgVh8\u002B523pW3cCN3E/vpwvtbM3l5SRySzdZpblnBkUD7T6sSLQ\u002B6DK2W2jvikaJnKbsxBqDXhsUozyXXzbA7td7iu4QQ19WroOaLom7gsHw0AgTekEqgI4jmKV4p4j89W2RdABYeFhHlhWW6C\u002BSWCB6p44trXOVUQlg7au63Qf7njkbKg7BmFiwy\u002BQslJhekD\u002BE/f/6z0f5\u002ByL294qtjLkNm0n2di4RuQ81feKPabxxAVxrNd8IAM/yIi7ry6DNAj4rHvhOaBoRc0TwxFJlaZJlhPYuQVfZBZp6BFT/Je5uaHqjZEvEI5h[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-01994c93-6627-1bca-9b1f-67e6183419d5/test-blob-d2027c12-5457-76eb-6d10-7cacc3445dee?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "l2e4VcjS5XFFvU1LIa3x\u002BdJk8a5sqPLwiouJ\u002[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-01994c93-6627-1bca-9b1f-67e6183419d5/test-blob-d2027c12-5457-76eb-6d10-7cacc3445dee?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF6FC40206\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:44:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:44:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:44:18.0258184Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6afeab53-2334-4017-b117-458da3544df2/test-blob-42ac42c8-2a30-f448-8e03-c7f752bcd365?sv=2024-05-04\u0026se=2024-03-28T22%3A44%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:633648cd-101e-0023-6f98-80ef22000000\n",
        "Time:2024-03-27T22:44:18.2891156Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-01994c93-6627-1bca-9b1f-67e6183419d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:44:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:44:16.5738336-07:00",
    "RandomSeed": "1106272981",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
