{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e36af65d-ab1c-a7a5-21ed-ab01db224e53?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AD9F0AD97\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-af5f7cbc-fe47-770d-9d7b-a71eef3f16ac/test-blob-23b17fcd-0295-8a96-fd53-85337efa99c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ADA05CA0D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:52.2707981Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-af5f7cbc-fe47-770d-9d7b-a71eef3f16ac/test-blob-23b17fcd-0295-8a96-fd53-85337efa99c3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "KVDxUUOd6Y4zNeB1JPqDtIIjQoreu7trU6ttghpcuTEG3sEgKXQSAI9Vula22dlTZAZJa1v5Xm6Uhf2XMGdz1nuub0U4Y4sOEUL7iQFktHnSGR0UE07VDYBTi6N2es8n4ePbB2qTGgF6O1kZ/tVsMNGExRZKXsMs2WHF5Nfol5Zy06ceiKwOPv8bmtf0vA\u002Br51rR8rW53IMfry4IzjUpkaTDpyotTagkdYcXL8TsNxxSGvx9FqXhufck/tl\u002BBXDJ8QgzMRXkfZqyrXwtoa2\u002BM3cRtrM5rHr\u002B4e0zCU7Opm8WTj28uAYHbpxiy2kosxdJZsthbE\u002B8kEWNNE8nsXRL4wYMF1NvAnpxCUcX1uAR1S7W6aKCbTofWr34LoS24LwnF\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e36af65d-ab1c-a7a5-21ed-ab01db224e53/test-blob-90c93702-6568-a501-935e-a120d0e17472?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "pf4msfb/a5BwnAU7uNUnmwuKmjlHcK5R6\u002BHs7wGHy[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e36af65d-ab1c-a7a5-21ed-ab01db224e53/test-blob-90c93702-6568-a501-935e-a120d0e17472?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ADA250D52\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:52.4007250Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-af5f7cbc-fe47-770d-9d7b-a71eef3f16ac/test-blob-23b17fcd-0295-8a96-fd53-85337efa99c3?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f15605a-101e-0051-4753-81e86d000000\n",
        "Time:2024-03-28T21:05:52.6325675Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e36af65d-ab1c-a7a5-21ed-ab01db224e53?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:50.5744837-07:00",
    "RandomSeed": "1869281970",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
