{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.ApiManagement/service?api-version=2025-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "1c041eae-5ddc-4b8d-88db-f8896fdc575f",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "value": [
          {
            "etag": "Sanitized",
            "properties": {
              "publisherEmail": "foo@contoso.com",
              "publisherName": "foo",
              "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2026-06-08T06:22:04.0330683Z",
              "gatewayUrl": "https://czwserviceyyy2.azure-api.net",
              "gatewayRegionalUrl": "https://czwserviceyyy2-eastus-01.regional.azure-api.net",
              "portalUrl": null,
              "developerPortalUrl": "https://czwserviceyyy2.developer.azure-api.net",
              "dataApiUrl": null,
              "managementApiUrl": "https://czwserviceyyy2.management.azure-api.net",
              "scmUrl": "https://czwserviceyyy2.scm.azure-api.net",
              "hostnameConfigurations": [
                {
                  "type": "Proxy",
                  "hostName": "czwserviceyyy2.azure-api.net",
                  "encodedCertificate": null,
                  "keyVaultId": null,
                  "certificatePassword": null,
                  "negotiateClientCertificate": false,
                  "certificate": null,
                  "defaultSslBinding": true,
                  "identityClientId": null,
                  "certificateSource": "BuiltIn",
                  "certificateStatus": null
                }
              ],
              "publicIPAddresses": [
                "20.81.84.173"
              ],
              "privateIPAddresses": null,
              "additionalLocations": null,
              "virtualNetworkConfiguration": null,
              "customProperties": {
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2": "False"
              },
              "virtualNetworkType": "None",
              "certificates": null,
              "disableGateway": false,
              "natGatewayState": "Unsupported",
              "outboundPublicIPAddresses": [
                "20.81.84.173"
              ],
              "apiVersionConstraint": {
                "minApiVersion": null
              },
              "publicIpAddressId": null,
              "publicNetworkAccess": "Enabled",
              "privateEndpointConnections": null,
              "platformVersion": "stv2.1",
              "configurationApi": null,
              "legacyPortalStatus": "Disabled",
              "developerPortalStatus": "Enabled",
              "releaseChannel": "Default"
            },
            "sku": {
              "name": "Standard",
              "capacity": 1
            },
            "identity": null,
            "zones": null,
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-06-08T06:22:03.9972579Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-06-08T06:22:03.9972579Z"
            },
            "location": "East US",
            "tags": {},
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.ApiManagement/service/czwserviceyyy2",
            "name": "czwserviceyyy2",
            "type": "Microsoft.ApiManagement/service"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
