{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk9813?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9813",
        "name": "networkcloud-sdk9813",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-3481489-cluster-1-HostedResources-17ED1B1A/providers/Microsoft.NetworkCloud/bareMetalMachines?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "246d3cf7-7cc5-4200-b9d9-351575ddeddc",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "199570"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-3481489-cluster-1-HostedResources-17ED1B1A/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1control01",
            "name": "rack1control01",
            "type": "microsoft.networkcloud/baremetalmachines",
            "location": "uksouth",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-3481489-cluster-1-hostedresources-17ed1b1a/providers/microsoft.extendedlocation/customlocations/simdev-3481489-cluster-1-cstm-loc",
              "type": "CustomLocation"
            },
            "etag": "\"d903b4a4-0000-1000-0000-681bc2190000\"",
            "tags": {
              "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-3481489-cluster-1-hostedresources-17ed1b1a/providers/microsoft.extendedlocation/customlocations/simdev-3481489-cluster-1-cstm-loc/resourcesyncrules/baremetalmachineshydrationrule"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-05-06T19:43:41.2972372Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-05-07T20:27:05.534577Z"
            },
            "properties": {
              "rackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-3481489-cluster-1-HostedResources-17ED1B1A/providers/Microsoft.NetworkCloud/racks/rack1",
              "machineSkuId": "Controller_DellR650_8C_128GB_2d8n_sim",
              "rackSlot": 3,
              "machineName": "rack1control01",
              "bootMacAddress": "52:54:00:b6:ed:31",
              "bmcMacAddress": "AA:BB:CC:DD:EE:DD",
              "bmcCredentials": {
                "username": "ZFhObGNtNWhiV1VL"
              },
              "bmcConnectionString": "redfish+https://10.1.3.13:8443/redfish/v1/Systems/rack1control01",
              "machineDetails": "",
              "serialNumber": "BM1219XX4",
              "machineRoles": [
                "platform.afo-nc.microsoft.com/control-plane=true",
                "platform.afo-nc.microsoft.com/management-plane-group=A",
                "platform.afo-nc.microsoft.com/management-plane=true"
              ],
              "associatedResourceIds": [],
              "virtualMachinesAssociatedIds": [],
              "secretRotationStatus": [
                {
                  "lastRotationTime": "2025-05-07T18:39:27Z",
                  "rotationPeriodDays": 1,
                  "secretArchiveReference": {
                    "secretName": "a3eeb848-665a-4dbf-80a4-eb460930fb23-net-sdk-id-simdev-3481-simdev-3481489-cluster-console-credential-manager-61b414a6",
                    "secretVersion": "REDACTED"
                  },
                  "secretType": "Bare Metal Machine Identity - console"
                },
                {
                  "lastRotationTime": "2025-05-06T20:32:06Z",
                  "rotationPeriodDays": 365,
                  "secretArchiveReference": {
                    "secretName": "a3eeb848-665a-4dbf-80a4-eb460930fb23-net-sdk-id-simdev-3481-simdev-3481489-cluster-etcd-credential-manager-61b414a6",
                    "secretVersion": "REDACTED"
                  },
                  "secretType": "etcd credential"
                },
                {
                  "secretType": "BMC Credential"
                }
              ],
              "clusterId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/net-sdk_id-simdev-3481489/providers/Microsoft.NetworkCloud/clusters/simdev-3481489-cluster-1",
              "readyState": "True",
              "cordonStatus": "Uncordoned",
              "powerState": "On",
              "hardwareInventory": {
                "interfaces": [
                  {
                    "macAddress": "52:54:00:d9:a4:21",
                    "name": "enp138s0f0"
                  },
                  {
                    "macAddress": "52:54:00:d9:b4:21",
                    "name": "enp138s0f1"
                  },
                  {
                    "macAddress": "52:54:00:b6:ed:31",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:b6:ed:31",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:b6:fd:31",
                    "name": "enp4s0f1"
                  },
                  {
                    "macAddress": "52:54:00:b6:fd:31",
                    "name": "enp4s0f1"
                  }
                ],
                "nics": [
                  {
                    "macAddress": "52:54:00:d9:a4:21",
                    "name": "enp138s0f0"
                  },
                  {
                    "macAddress": "52:54:00:d9:b4:21",
                    "name": "enp138s0f1"
                  },
                  {
                    "macAddress": "52:54:00:b6:ed:31",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:b6:ed:31",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:b6:fd:31",
                    "name": "enp4s0f1"
                  },
                  {
                    "macAddress": "52:54:00:b6:fd:31",
                    "name": "enp4s0f1"
                  }
                ]
              },
              "detailedStatus": "Provisioned",
              "detailedStatusMessage": "The OS is provisioned to the machine.",
              "kubernetesNodeName": "rack1control01",
              "kubernetesVersion": "v1.31.7",
              "oamIpv4Address": "10.1.6.101",
              "machineClusterVersion": "4.4.0",
              "osImage": "networkcloud/nc-os-images-near-edge/control-plane/image.qcow2:4.4.0-269",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-3481489-cluster-1-HostedResources-17ED1B1A/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1control02",
            "name": "rack1control02",
            "type": "microsoft.networkcloud/baremetalmachines",
            "location": "uksouth[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/bareMetalMachines?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "13f05b28-c2d9-4634-9f43-744[...]
