{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2025-11-01-Preview&$select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps(name)",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "43",
        "ETag": "\"0x8DE641E11CCA3C8\"",
        "Location": "https://subdomain.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2025-11-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DE641E11CCA3C8\"",
        "name": "my-azure-synonymmap-1",
        "format": "solr",
        "synonyms": "United States, United States of America => USA\nWashington, Wash. => WA",
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1066599",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "search-ks-hotel-live-test-1066599",
        "kind": "searchIndex",
        "searchIndexParameters": {
          "searchIndexName": "hotel-live-test-1066599",
          "searchFields": [
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ],
          "semanticConfigurationName": "semantic-configuration"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "92",
        "ETag": "\"0x8DE641E14DBCA03\"",
        "Location": "https://subdomain.search.windows.net/knowledgesources('search-ks-hotel-live-test-1066599')?api-version=2025-11-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE641E14DBCA03\"",
        "name": "search-ks-hotel-live-test-1066599",
        "kind": "searchIndex",
        "description": null,
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "hotel-live-test-1066599",
          "semanticConfigurationName": "semantic-configuration",
          "sourceDataFields": [],
          "searchFields": [
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ]
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgebases?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "knowledge-base-hotel-live-test-1066599",
        "knowledgeSources": [
          {
            "name": "search-ks-hotel-live-test-1066599"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "33",
        "ETag": "\"0x8DE641E14E72EEC\"",
        "Location": "https://subdomain.search.windows.net/knowledgebases('knowledge-base-hotel-live-test-1066599')?api-version=2025-11-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DE641E14E72EEC\"",
        "name": "knowledge-base-hotel-live-test-1066599",
        "description": null,
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": null,
        "knowledgeSources": [
          {
            "name": "search-ks-hotel-live-test-1066599"
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": null
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgebases('knowledge-base-hotel-live-test-1066599')?api-version=2025-11-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "ETag": "\"0x8DE641E14E72EEC\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgebases/$entity",
        "@odata.etag": "\"0x8DE641E14E72EEC\"",
        "name": "knowledge-base-hotel-live-test-1066599",
        "description": null,
        "retrievalInstructions": null,
        "answerInstructions": null,
        "outputMode": null,
        "knowledgeSources": [
          {
            "name": "search-ks-hotel-live-test-1066599"
          }
        ],
        "models": [],
        "encryptionKey": null,
        "retrievalReasoningEffort": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources('search-ks-hotel-live-test-1066599')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "77",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1066599')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "342",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-1')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "32",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/synonymmaps('my-azure-synonymmap-2')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "18",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_BASE_NAME": "hotel-live-test-1082542",
    "TEST_INDEX_NAME": "hotel-live-test-1066599"
  }
}
