{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3742",
        "x-ms-ratelimit-remaining-subscription-reads": "242"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/testRG-9697?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697",
        "name": "testRG-9697",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "Property1": "Value1",
          "Property2": "Value2",
          "Property3": "Value3"
        },
        "properties": {
          "publicNetworkAccess": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testprovider9865.eus.attest.azure.net/",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865",
        "name": "testprovider9865",
        "type": "Microsoft.Attestation/attestationProviders",
        "location": "eastus",
        "tags": {
          "Property1": "Value1",
          "Property2": "Value2",
          "Property3": "Value3"
        },
        "properties": {
          "trustModel": "AAD",
          "status": "Ready",
          "attestUri": "https://testprovider9865.eus.attest.azure.net",
          "publicNetworkAccess": "Enabled",
          "tpmAttestationAuthentication": null
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/virtualNetworks/vnetname6867?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname6712",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Network/locations/eastus/operations/7f966576-ef02-40cb-a659-49f2027f14be?api-version=2025-03-01&t=639050125805342412&c=MIIHhzCCBm-gAwIBAgITfAoFfMcaUPlFo2YNgwAACgV8xzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjYwMTE1MTA0NzMyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Network/locations/eastus/operations/7f966576-ef02-40cb-a659-49f2027f14be?api-version=2025-03-01&t=639050125805342412&c=MIIHhzCCBm-gAwIBAgITfAoFfMcaUPlFo2YNgwAACgV8xzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjYwMTE1MTA0NzMyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aW[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/virtualNetworks/vnetname6867?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"201f0dfa-88dd-4cc9-844c-1693554ce6b3\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3747",
        "x-ms-ratelimit-remaining-subscription-reads": "247"
      },
      "ResponseBody": {
        "name": "vnetname6867",
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/virtualNetworks/vnetname6867",
        "etag": "W/\"201f0dfa-88dd-4cc9-844c-1693554ce6b3\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "90d6e703-fd00-4389-a295-d85151f9a762",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname6712",
              "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/virtualNetworks/vnetname6867/subnets/subnetname6712",
              "etag": "W/\"201f0dfa-88dd-4cc9-844c-1693554ce6b3\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled",
                "defaultOutboundAccess": false
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/privateEndpoints/endpointxyz4828?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/virtualNetworks/vnetname6867/subnets/subnetname6712",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "myconnection",
              "properties": {
                "privateLinkServiceId": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865",
                "groupIds": [
                  "standard"
                ],
                "requestMessage": "Please approve my connection"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Network/locations/eastus/operations/cccce3d7-3873-45fd-923e-abb867d9b5dc?api-version=2025-03-01&t=639050125932220952&c=MIIHhzCCBm-gAwIBAgITfAoFfMcaUPlFo2YNgwAACgV8xzANBgkqhkiG9[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Network/locations/eastus/operations/cccce3d7-3873-45fd-923e-abb867d9b5dc?api-version=2025-03-01&t=639050125932220952&c=MIIHhzCCBm-gAwIBAgITfAoFfMcaUPlFo2YNgwAACgV8xzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjYwMTE1MTA0NzMyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aW[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865/privateEndpointConnections?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3747",
        "x-ms-ratelimit-remaining-subscription-reads": "247"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "endpointxyz4828.91aeb605-0ac8-46ec-a643-3bd4648176c9",
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865/privateEndpointConnections/endpointxyz4828.91aeb605-0ac8-46ec-a643-3bd4648176c9",
            "type": "Microsoft.Attestation/attestationProviders/privateEndpointConnections",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Network/privateEndpoints/endpointxyz4828"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Please approve my connection",
                "actionsRequired": "None"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865/privateEndpointConnections/endpointxyz4828.91aeb605-0ac8-46ec-a643-3bd4648176c9?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "C[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865/privateEndpointConnections/endpointxyz4828.91aeb605-0ac8-46ec-a643-3bd4648176c901?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3744",
        "x-ms-ratelimit-remaining-subscription-reads": "244"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidOperation",
          "message": "endpointxyz4828.91aeb605-0ac8-46ec-a643-3bd4648176c901 is not found"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9697/providers/Microsoft.Attestation/attestationProviders/testprovider9865/privateEndpointConnections?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03223.4992",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3743",
        "x-ms-ratelimit-remaining-subscription-reads": "243"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1780978388",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4"
  }
}
