{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Maintenance-RG-7929?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Maintenance-RG-7929",
        "name": "Maintenance-RG-7929",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Maintenance-RG-7929/providers/Microsoft.Maintenance/maintenanceConfigurations/maintenance-config-5187?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "extensionProperties": {
            "InGuestPatchMode": "User"
          },
          "maintenanceScope": "InGuestPatch",
          "visibility": "Custom",
          "installPatches": {
            "rebootSetting": "Always",
            "windowsParameters": {
              "kbNumbersToExclude": [],
              "kbNumbersToInclude": [],
              "classificationsToInclude": [
                "Security",
                "Critical"
              ],
              "excludeKbsRequiringReboot": false
            },
            "linuxParameters": {
              "packageNameMasksToExclude": [],
              "packageNameMasksToInclude": [],
              "classificationsToInclude": [
                "Security",
                "Critical"
              ]
            }
          },
          "maintenanceWindow": {
            "startDateTime": "2024-12-31 12:00",
            "expirationDateTime": "9999-12-31 12:00",
            "duration": "03:00:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {},
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "extensionProperties": {
            "inGuestPatchMode": "User"
          },
          "maintenanceScope": "InGuestPatch",
          "maintenanceWindow": {
            "startDateTime": "2024-12-31 12:00",
            "expirationDateTime": "9999-12-31 12:00",
            "duration": "03:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          },
          "visibility": "Custom",
          "installPatches": {
            "rebootSetting": "AlwaysReboot",
            "windowsParameters": {
              "kbNumbersToExclude": [],
              "kbNumbersToInclude": [],
              "classificationsToInclude": [
                "Security",
                "Critical"
              ],
              "excludeKbsRequiringReboot": false
            },
            "linuxParameters": {
              "packageNameMasksToExclude": [],
              "packageNameMasksToInclude": [],
              "classificationsToInclude": [
                "Security",
                "Critical"
              ]
            }
          },
          "configurationType": "Regular"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Maintenance-RG-7929/providers/Microsoft.Maintenance/maintenanceConfigurations/maintenance-config-5187",
        "name": "maintenance-config-5187",
        "type": "Microsoft.Maintenance/maintenanceConfigurations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Maintenance-RG-7929/providers/Microsof[...]
