{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basice160/nodes/tvmps_8d91ab7c7c54e06179242e59a73b8700be5755ac648e009d56316b8ca7105ac1_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes/@Element",
        "id": "tvmps_8d91ab7c7c54e06179242e59a73b8700be5755ac648e009d56316b8ca7105ac1_d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basice160/nodes/tvmps_8d91ab7c7c54e06179242e59a73b8700be5755ac648e009d56316b8ca7105ac1_d",
        "state": "idle",
        "schedulingState": "enabled",
        "stateTransitionTime": "2025-10-31T19:42:19.461914Z",
        "lastBootTime": "2025-10-31T19:42:02.602389Z",
        "allocationTime": "2025-10-31T19:35:29.3885739Z",
        "ipAddress": "10.0.0.5",
        "affinityId": "TVM:tvmps_8d91ab7c7c54e06179242e59a73b8700be5755ac648e009d56316b8ca7105ac1_d",
        "vmSize": "standard_d1_v2",
        "totalTasksRun": 0,
        "totalTasksSucceeded": 0,
        "runningTasksCount": 0,
        "runningTaskSlotsCount": 0,
        "startTask": {
          "commandLine": "cmd /c echo hello > hello.txt",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "startTaskInfo": {
          "state": "completed",
          "startTime": "2025-10-31T19:42:19.196284Z",
          "endTime": "2025-10-31T19:42:19.446288Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0
        },
        "isDedicated": true,
        "nodeAgentInfo": {
          "lastUpdateTime": "2025-10-31T19:42:02.602389Z",
          "version": "1.12.32"
        },
        "virtualMachineInfo": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-Datacenter",
            "version": "latest",
            "exactVersion": "latest"
          }
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basice160"
  }
}
