{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic6228/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic6228/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2609a1a7ea198f19d11a1bbc4680544bbec6fc7c978a2f6ede7f5e4ece53ce07_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic6228/nodes/tvmps_2609a1a7ea198f19d11a1bbc4680544bbec6fc7c978a2f6ede7f5e4ece53ce07_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-03T22:19:36.9445205Z",
            "allocationTime": "2026-02-03T22:19:36.9445211Z",
            "ipAddress": "10.0.0.6",
            "affinityId": "TVM:tvmps_2609a1a7ea198f19d11a1bbc4680544bbec6fc7c978a2f6ede7f5e4ece53ce07_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "microsoftwindowsserver",
                "offer": "windowsserver",
                "sku": "2022-Datacenter",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_3302f9936f905b4dae31e71bd45dc6951a513205af8930f6098c4da728aaa8cf_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic6228/nodes/tvmps_3302f9936f905b4dae31e71bd45dc6951a513205af8930f6098c4da728aaa8cf_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-03T22:19:36.944492Z",
            "allocationTime":[...]
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic6228/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2609a1a7ea198f19d11a1bbc4680544bbec6fc7c978a2f6ede7f5e4ece53ce07_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic6228/nodes/tvmps_2609a1a7ea198f19d11a1bbc4680544bbec6fc7c978a2f6ede7f5e4ece53ce07_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-03T22:26:48.692859Z",
            "lastBootTime": "2026-02-03T22:26:42.755284Z",
            "allocationTime": "2026-02-03T22:19:36.9445211Z",
            "ipAddress": "10.0.0.6",
            "affinityId": "TVM:tvmps_2609a1a7ea198f19d11a1bbc4680544bbec6fc7c978a2f6ede7f5e4ece53ce07_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "startTask": {
              "commandLine": "cmd /c echo hello > hello.txt",
              "userIdentity": {
                "autoUser": {
                  "scope": "pool",
                  "elevationLevel": "nonadmin"
                }
              },
              "maxTaskRetryCount": 0,
              "waitForSuccess": true
            },
            "startTaskInfo": {
              "state": "completed",
              "startTime": "2026-02-03T22:26:48.505357Z",
              "endTime": "2026-02-03T22:26:48.677235Z",
              "exitCode": 0,
              "result": "success",
              "retryCount": 0
            },
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2026-02-03T22:26:42.755284Z",
              "version": "1.12.39"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "microsoftwindowsserver",
                "offer": "windowsserver",
                "sku": "2022-Datacenter",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_3302f9936f905b4dae31e71bd45dc6951a513205af8930f6098[...]
[...]
