{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basice160/nodes/tvmps_a0918e8ed88011bc42d0e1f1cb3664a194b1ebc25bf5fdef655730f033747027_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "containerUrl": "https://teststorage.blob.core.windows.net/fakecontainer",
        "startTime": "2018-02-25T00:00:00.000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "jssdkhobobatchacct-22EC0FC1746E505B/jssdkpool-basice160/tvmps_a0918e8ed88011bc42d0e1f1cb3664a194b1ebc25bf5fdef655730f033747027_d/feb89262-b906-4ae4-aeaa-38d7e2f3be8c",
        "numberOfFilesUploaded": 4
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basice160"
  }
}
