{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hnvovvqx",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "name",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": true,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "year",
            "type": "Edm.Int32",
            "key": false,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "rating",
            "type": "Edm.Double",
            "key": false,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "genre",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": true,
            "analyzer": "en.lucene",
            "normalizer": "lowercase"
          }
        ],
        "suggesters": [
          {
            "name": "n",
            "searchMode": "analyzingInfixMatching",
            "sourceFields": [
              "name"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "755",
        "ETag": "\"0x8DE20A78F25A9F2\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/indexes('hnvovvqx')?api-version=2025-11-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE20A78F25A9F2\"",
        "name": "hnvovvqx",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabel": null,
            "synonymMaps": []
          },
          {
            "name": "name",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": "en.lucene",
            "normalizer": null,
            "dimensions": null,
            "vectorSear[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('hnvovvqx')/docs/search.index?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "id": "fd5cd469673b4ee591c2c775fd474c2c",
            "name": "The Lord of the Rings: The Return of the King",
            "genre": "Fantasy",
            "year": 2003,
            "rating": 9.1
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "65",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "fd5cd469673b4ee591c2c775fd474c2c",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('hnvovvqx')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "192",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "890321776",
    "SearchIndexName": "hnvovvqx",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
