{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/99999999-9999-9999-9999-999999999999/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
      },
      "RequestBody": "client_id=azure_multi_tenant_client_id\u0026scope=https%3A%2F%2Fgraph.microsoft.com%2F.default\u0026grant_type=client_credentials\u0026x-client-SKU=msal.js.node\u0026x-client-VER=identity-client-version\u0026x-client-OS=x-client-OS\u0026x-client-CPU=x-client-CPU\u0026x-ms-lib-capability=retry-after, h429\u0026x-client-current-telemetry=5|771,2,,,|,\u0026x-client-last-telemetry=5|0|||0,0\u0026client-request-id=client-request-id\u0026client_secret=azure_client_secret",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://graph.microsoft.com/v1.0/applications/$count",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ConsistencyLevel": "eventual"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ags-diagnostic": "{\u0022ServerInfo\u0022:{\u0022DataCenter\u0022:\u0022West US 2\u0022,\u0022Slice\u0022:\u0022E\u0022,\u0022Ring\u0022:\u00221\u0022,\u0022ScaleUnit\u0022:\u0022005\u0022,\u0022RoleInstance\u0022:\u0022MWH0EPF0009ACAA\u0022}}",
        "x-ms-resource-unit": "1"
      },
      "ResponseBody": 420
    }
  ],
  "Variables": {}
}
