{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers/fabrictest-npb?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000f8c7-0000-3300-0000-64e8d8fa0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/microsoft.managednetworkfabric/networkpacketbrokers/fabrictest-npb",
        "name": "fabrictest-npb",
        "type": "microsoft.managednetworkfabric/networkpacketbrokers",
        "location": "eastus2euap",
        "systemData": {
          "createdBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
          "createdByType": "Application",
          "createdAt": "2023-08-25T16:38:16.7147561Z",
          "lastModifiedBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-25T16:38:16.7147561Z"
        },
        "properties": {
          "networkFabricId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/fabricTest",
          "provisioningState": "Succeeded",
          "networkDeviceIds": [
            "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkDevices/fabricTest-AggrRack-NPB1",
            "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkDevices/fabricTest-AggrRack-NPB2"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "91277968-5e87-4022-a858-5b171188a99a",
          "fbee3e0d-fb08-4a11-8847-3fc8ce13cc33",
          "65c8fa77-466b-4f69-b4c1-f2e5aee27047",
          "d51bac64-ef05-4d85-9b5f-db4a056ab30b"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/microsoft.managednetworkfabric/networkpacketbrokers/fabrictest-npb",
            "name": "fabrictest-npb",
            "type": "microsoft.managednetworkfabric/networkpacketbrokers",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "createdByType": "Application",
              "createdAt": "2023-08-25T16:38:16.7147561Z",
              "lastModifiedBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-25T16:38:16.7147561Z"
            },
            "properties": {
              "networkFabricId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/fabricTest",
              "provisioningState": "Succeeded",
              "networkDeviceIds": [
                "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkDevices/fabricTest-AggrRack-NPB1",
                "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/networkDevices/fabricTest-AggrRack-NPB2"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9be67dbe[...]
