{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/datasets/test-dataset/versions/1.1.8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "mise-correlation-id": "6ad8583b-1d56-43ba-8349-377a3011c614",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.286"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/datasets/test-folder-dataset/versions/2.1.8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "mise-correlation-id": "565f8bea-5225-4358-b91d-894a9f1d2e7d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.440"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/datasets/test-folder-dataset/versions/3.1.8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "mise-correlation-id": "38b3c191-725b-4d19-8c4c-96ec1ee3fd40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.220"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
