{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-folder-dataset/versions/3.1.8/startPendingUpload?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "connectionName": "00000",
        "pendingUploadType": "BlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0a8ad88c-55c0-4d81-b2c7-ba69515db0ad",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.336"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "3.1.8"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b/file1.txt?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized&comp=block&blockid=sanitized_blockid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VGVzdCBjb250ZW50IGZvciBmaWxlIDE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "U1TjhwzZyDY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b/file1.txt?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized&comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><BlockList><Latest>ZTE5YjM4OWYtM2JkMC00OTdhLTk3OTAtZjI4YjU4MDY2ZjIzMDAwMDAwMDAwMDAw</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9CAA00952E8C\"",
        "Last-Modified": "Mon, 26 May 2025 23:06:52 GMT",
        "x-ms-content-crc64": "sC46UoZTywU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b/subfolder/file3.txt?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized&comp=block&blockid=sanitized_blockid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "VGVzdCBjb250ZW50IGZvciBmaWxlIDM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "oUaI55w4Fcg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b/subfolder/file3.txt?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized&comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><BlockList><Latest>YzNlYjE4Y2YtNzcyYi00NGFlLTlkYWUtZDQ1ZTIxZTYyYTljMDAwMDAwMDAwMDAw</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9CAA00AC83B1\"",
        "Last-Modified": "Mon, 26 May 2025 23:06:52 GMT",
        "x-ms-content-crc64": "mrHErUwkP0s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-folder-dataset/versions/3.1.8?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized",
        "type": "uri_folder"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d9d3ba96-fe70-4365-b12a-b6336e0e93f7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.460"
      },
      "ResponseBody": {
        "id": "azureai://accounts/balapv-1dp-prod-account1/projects/project1/data/test-folder-dataset/versions/3.1.8",
        "name": "test-folder-dataset",
        "version": "3.1.8",
        "displayName": "test-folder-dataset",
        "description": null,
        "tags": null,
        "type": "uri_folder",
        "isReference": false,
        "dataUri": "https://Sanitized.azure.com/balapv-1dp-ff033bec-cddc-5dcc-ab83-b4b8d1034a5b?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-05-26T16%3A26%3A35Z&ske=2025-05-27T08%3A36%3A35Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-05-26T22%3A56%3A52Z&se=2025-05-27T07%3A06%3A52Z&sr=c&sp=rcwl&sig=Sanitized",
        "connectionName": null,
        "systemData": {
          "createdAt": "2025-05-26T23:06:52.9184071+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2025-05-26T23:06:52.9184071+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-dataset/versions/1.1.8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "mise-correlation-id": "00683283-de9f-4729-bfc2-bbbdead5c4d5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.450"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-folder-dataset/versions/3.1.8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "mise-correlation-id": "0553d584-1e88-4a4c-82a8-66ff447ea5f8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.270"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
