{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.034"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "ganeshbh-agents",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2euap",
        "tags": {
          "AgentsEndpointUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"
        },
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/Sanitized",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/Sanitized",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-12-04T21:23:40.4743103Z",
          "notebookInfo": {
            "resourceId": "1354bc3aa8ea43539d0dff36e077fb20",
            "fqdn": "ml-ganeshbh-ag-eastus2euap-eb0b5153-5465-456b-bc63-867faddf282b.eastus2euap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "eb0b5153-5465-456b-bc63-867faddf282b",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://Sanitized.azure.com/discovery",
          "mlFlowTrackingUri": "azureml://Sanitized.azure.com/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "bf5fc3cc-fd87-47a0-99e2-70f15d4bb11e",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "identity",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-12-04T21:23:40.4743103Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-12-12T21:04:09.6650621Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/Sanitized?api-version=2020-02-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "kind": "web",
        "etag": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/Sanitized",
        "name": "ganesh-app-insights",
        "type": "microsoft.insights/components",
        "location": "eastus",
        "tags": {},
        "properties": {
          "ApplicationId": "ganesh-app-insights",
          "AppId": "8b8e357c-3442-4e12-a331-09cff4d56f9f",
          "Application_Type": "web",
          "Flow_Type": "Bluefield",
          "Request_Source": "rest",
          "InstrumentationKey": "cd25ba41-9e66-47c4-b6f8-47cf1c5473cd",
          "ConnectionString": "InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://region.applicationinsights.azure.com/;LiveEndpoint=https://region.livediagnostics.monitor.azure.com/;ApplicationId=00000000-0000-0000-0000-000000000000",
          "Name": "ganesh-app-insights",
          "CreationDate": "2024-12-12T21:04:08.2424313+00:00",
          "TenantId": "47f1c914-e299-4953-a99d-3e34644cfe1c",
          "provisioningState": "Succeeded",
          "SamplingPercentage": null,
          "RetentionInDays": 90,
          "WorkspaceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.OperationalInsights/workspaces/00000",
          "IngestionMode": "LogAnalytics",
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "Ver": "v2"
        }
      }
    }
  ],
  "Variables": {}
}
