{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "isCreatedFromStandbyPool": false,
          "provisioningState": "Succeeded",
          "provisioningTimeoutInSeconds": 1800,
          "isCustomProvisioningTimeout": false,
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "configMap": {
                  "keyValuePairs": {}
                },
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2024-10-18T05:58:38.418Z",
                    "detailStatus": ""
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2024-10-18T05:58:23Z",
                      "lastTimestamp": "2024-10-18T05:58:23Z",
                      "name": "Pulling",
                      "message": "pulling image \"nginx@sha256:367678a80c0be120f67f3adfccc2f408bd2c1319ed98c1975ac88e750d0efe26\"",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2024-10-18T05:58:29Z",
                      "lastTimestamp": "2024-10-18T05:58:29Z",
                      "name": "Pulled",
                      "message": "Successfully pulled image \"nginx@sha256:367678a80c0be120f67f3adfccc2f408bd2c1319ed98c1975ac88e750d0efe26\"",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2024-10-18T05:58:38Z",
                      "lastTimestamp": "2024-10-18T05:58:38Z",
                      "name": "Started",
                      "message": "Started container",
                      "type": "Normal"
                    }
                  ]
                },
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "initContainers": [],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "instanceView": {
            "events": [],
            "state": "Running"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "name": "mycontainerGroupxxx",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "eastus2"
      }
    }
  ],
  "Variables": {}
}
