{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "provisioningState": "Succeeded",
          "provisioningTimeoutInSeconds": 1800,
          "isCustomProvisioningTimeout": false,
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2023-04-24T02:22:10.08Z",
                    "detailStatus": ""
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2023-04-24T02:21:57Z",
                      "lastTimestamp": "2023-04-24T02:21:57Z",
                      "name": "Pulling",
                      "message": "pulling image \u0022nginx@sha256:f2fee5c7194cbbfb9d2711fa5de094c797a42a51aa42b0c8ee8ca31547c872b1\u0022",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2023-04-24T02:22:00Z",
                      "lastTimestamp": "2023-04-24T02:22:00Z",
                      "name": "Pulled",
                      "message": "Successfully pulled image \u0022nginx@sha256:f2fee5c7194cbbfb9d2711fa5de094c797a42a51aa42b0c8ee8ca31547c872b1\u0022",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2023-04-24T02:22:10Z",
                      "lastTimestamp": "2023-04-24T02:22:10Z",
                      "name": "Started",
                      "message": "Started container",
                      "type": "Normal"
                    }
                  ]
                },
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "initContainers": [],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "instanceView": {
            "events": [],
            "state": "Running"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "7544080d-8c4b-4b7f-99d3-cf8f0148ca3f",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "name": "mycontainerGroupxxx",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "eastus2"
      }
    }
  ],
  "Variables": {}
}
