{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "sku": "Standard",
              "provisioningState": "Succeeded",
              "provisioningTimeoutInSeconds": 1800,
              "isCustomProvisioningTimeout": false,
              "containers": [
                {
                  "name": "my-containerinstancexx",
                  "properties": {
                    "image": "nginx",
                    "command": [],
                    "ports": [
                      {
                        "port": 80
                      }
                    ],
                    "environmentVariables": [],
                    "resources": {
                      "requests": {
                        "memoryInGB": 1.5,
                        "cpu": 1.0
                      }
                    },
                    "volumeMounts": [
                      {
                        "name": "empty-volume",
                        "mountPath": "mnt/mydir"
                      }
                    ]
                  }
                }
              ],
              "initContainers": [],
              "restartPolicy": "OnFailure",
              "osType": "Linux",
              "volumes": [
                {
                  "name": "empty-volume",
                  "emptyDir": {}
                }
              ],
              "diagnostics": {
                "logAnalytics": {
                  "workspaceId": "workspaceid"
                }
              }
            },
            "identity": {
              "principalId": "7544080d-8c4b-4b7f-99d3-cf8f0148ca3f",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
            "name": "mycontainerGroupxxx",
            "type": "Microsoft.ContainerInstance/containerGroups",
            "location": "eastus2"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
