{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/newapiversiontest/providers/Microsoft.Discovery/tools/test-tool?api-version=2026-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {
          "definitionContent": {
            "actions": [
              {
                "command": "python molpredictor.py --action {{ action }}",
                "description": "Predict molecular properties for SMILES strings.",
                "infra_node": "worker",
                "input_schema": {
                  "properties": {
                    "action": {
                      "description": "The property to predict. Must be one of [log_p, boiling_point, solubility, density, critical_point]",
                      "type": "string"
                    }
                  },
                  "required": [
                    "action"
                  ],
                  "type": "object"
                },
                "name": "Sanitized"
              }
            ],
            "category": "cheminformatics",
            "description": "Molecular property prediction for single SMILES strings.",
            "infra": [
              {
                "compute": {
                  "max_resources": {
                    "cpu": "2",
                    "gpu": "0",
                    "ram": "1Gi",
                    "storage": "64"
                  },
                  "min_resources": {
                    "cpu": "1",
                    "gpu": "0",
                    "ram": "1Gi",
                    "storage": "32"
                  },
                  "pool_size": 1,
                  "pool_type": "static",
                  "recommended_sku": [
                    "Standard_D4s_v6"
                  ]
                },
                "image": {
                  "acr": "demodiscoveryacr.azurecr.io/molpredictor:latest"
                },
                "infra_type": "container",
                "name": "Sanitized"
              }
            ],
            "license": "MIT",
            "name": "Sanitized",
            "version": "1.0.0"
          },
          "version": "1.0.0"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/00000000-0000-0000-0000-000000000000*8D1304334020C4B9A17432DDADA331BBE5FC3ECC7F8AB56D1BEAFE14DB04EFD3?api-version=2026-02-01-preview&t=639085929172952942&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMjAzMTc1MDI5WhcNMjYwNzI5MjM1MDI5WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/00000000-0000-0000-0000-000000000000*8D1304334020C4B9A17432DDADA331BBE5FC3ECC7F8AB56D1BEAFE14DB04EFD3?api-version=2026-02-01-preview&t=639085929172952942&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMjAzMTc1MDI5WhcNMjYwNzI5MjM1[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/newapiversiontest/providers/Microsoft.Discovery/tools/test-tool?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000000-0000-0000-0000-000000000000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/tools",
        "location": "uksouth",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-08T18:55:16.279664Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-08T18:55:16.279664Z"
        },
        "properties": {
          "version": "1.0.0",
          "definitionContent": {
            "actions": [
              {
                "command": "python molpredictor.py --action {{ action }}",
                "description": "Predict molecular properties for SMILES strings.",
                "infra_node": "worker",
                "input_schema": {
                  "properties": {
                    "action": {
                      "descripti[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/newapiversiontest/providers/Microsoft.Discovery/tools?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/tools",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-08T18:55:16.279664Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-08T18:55:16.279664[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Discovery/tools?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "f490eb53-bcab-4cea-a8f7-a170541d0461",
          "5d846ace-fbf4-4ea5-a473-805a181a225c",
          "17f75f58-5d56-4201-9171-704ab7acaecb"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/tools",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-09-16T11:09:11.8986542Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-09-16T11:18:07.8437828Z"
            },
            "properties": {
              "environmentVariables": {
                "LOGP_ENDPOINT_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-logp",
                "BOILING_ENDPOINT_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-bp",
                "CRITICAL_ENDPOINT_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-tc",
                "DENSITY_ENDPOINT_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-density",
                "SOLUBILITY_ENDPOINT_ID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alzam-westus-gpu/providers/Microsoft.MachineLearningServices/workspaces/alzam-westus-gpu-ws/onlineEndpoints/molpredictor-solubility"
              },
              "version": "1.0.0",
              "definitionContent": {
                "name": "Sanitized",
                "description": "Molecular property prediction for single SMILES strings.",
                "version": "1.0.0",
                "category": "cheminformatics",[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/newapiversiontest/providers/Microsoft.Discovery/tools/test-tool?api-version=2026-02-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "updated": "true"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/00000000-0000-0000-0000-000000000000*8D1304334020C4B9A17432DDADA331BBE5FC3ECC7F8AB56D1BEAFE14DB04EFD3?api-version=2026-02-01-preview&t=639085940161576519&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIE[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/00000000-0000-0000-0000-000000000000*8D1304334020C4B9A17432DDADA331BBE5FC3ECC7F8AB56D1BEAFE14DB04EFD3?api-version=2026-02-01-preview&t=639085940161576519&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMjAzMTc1MDI5WhcNMjYwNzI5MjM1[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/00000000-0000-0000-0000-000000000000*8D1304334020C4B9A17432DDADA331BBE5FC3ECC7F8AB56D1BEAFE14DB04EFD3?api-version=2026-02-01-preview&t=639085947458735613&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMjAzMTc1MDI5WhcNMjYwNzI5MjM1[...]
