{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/olawal/providers/Microsoft.Discovery/workspaces/test-wrksp-go01/chatModelDeployments/test-cmd-go01?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"00000000-0000-0000-0000-000000000000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/workspaces/chatmodeldeployments",
        "location": "uksouth",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-08T18:00:58.433504Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-08T18:00:58.433504Z"
        },
        "properties": {
          "modelFormat": "OpenAI",
          "modelName": "gpt-4o",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/olawal/providers/Microsoft.Discovery/workspaces/test-wrksp-go01/chatModelDeployments?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/workspaces/chatmodeldeployments",
            "location": "uksouth",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-08T18:00:58.433504Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-08T18:00:58.433504Z"
            },
            "properties": {
              "modelFormat": "OpenAI",
              "modelName": "gpt-4o",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
