{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/bing-custom-search-agent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful agent that can use Bing Custom Search tools to assist users. Use the available Bing Custom Search tools to answer questions and perform tasks.",
          "tools": [
            {
              "type": "bing_custom_search_preview",
              "bing_custom_search_preview": {
                "search_configurations": [
                  {
                    "project_connection_id": "00000000-0000-0000-0000-000000000000",
                    "instance_name": "test-instance"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "bing-custom-search-agent:1",
        "name": "bing-custom-search-agent",
        "version": "1",
        "description": "",
        "created_at": 1782496296,
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful agent that can use Bing Custom Search tools to assist users. Use the available Bing Custom Search tools to answer questions and perform tasks.",
          "tools": [
            {
              "type": "bing_custom_search_preview",
              "bing_custom_search_preview": {
                "search_configurations": [
                  {
                    "project_connection_id": "00000000-0000-0000-0000-000000000000",
                    "instance_name": "test-instance"
                  }
                ]
              }
            }
          ]
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "9aea03ab-7c1d-4c39-8aa2-6e1a2cddbd4e",
          "client_id": "9aea03ab-7c1d-4c39-8aa2-6e1a2cddbd4e"
        },
        "blueprint": {
          "principal_id": "f3edbc6f-d04e-414a-b78f-3a1c13b4e2e1",
          "client_id": "33395548-5313-4fa2-8b51-78a8101bd500"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "bing-custom-search-agent-87da6"
        },
        "agent_guid": "87da6727-d8fd-410b-9ace-829a8c38202a"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/bing-custom-search-agent?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "bing-custom-search-agent",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
