{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2UATg0L1w3_ApOu5bgSLEm94XFyvlmJcxHe7y67kBnU\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yNGeT1PshL4W9qRN7vwiYi2JwnX4JfBEM2p-V6thDZU\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PTXc8xfzxEezIY288iS8sNfZAvIkoUtdJmfHJk5ryAA\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PQ3ta4uwqYXYJ9h2ZIq_lw4m7MMhYP4BagTIPubygu4\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xLu2G6BzuExRBzEma6YjDwsgwfxX6ML9hAgSCo9AIIo\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G1sMUBJi7FFOXJ9VMBSbMuHWh11wFLmcVSbdTDEMtB8\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PXZRaRGOAC_utxbx4uM2MGlQaO2srYkl4jDzsHhaWgg\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m9oIYlX8poMvrme8o_O4xhTEyXB-zCOkq0gaLq2GTAA\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WCoSPzefck91QSxhO_IGlAtpAsOmdrWWrSeMCHweMuc\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6otLL3vb36akzMFm9XYRI861vDtXNHAHcq8mM9pxlhY\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Tt86-GKroLfQykCfvFqvxshK0hINdchmvJCQAPzvutw\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q6KUaof1BQB-sLSbLFmFEWRZuBbTUn0ssET6CbT81E8\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Whq3rjOcl2ztF0oJQCTJQRcvVZSwNmbYvk3gjGzU9jE\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:09 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l0tOjxCtygFCBojz_A2EEGg1s6qoPT7Z38PMQcIuEK8\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:10 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"48Wu_sZHr48kfDHAWzbjOngkFY7UiQYhkJyWOQ0IQbM\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:10 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b9pnbVIzwjR19ESLRGrDsbXvUgVZLGLxT5IPoFr4GWA\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:10 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N9T_XsTZzL2FdjL3aCC9fiP3GC2Gbpcy1D-DUu11qds\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:10 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2026-03-04T21:39:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dDAxF0LoPEoSMAqAbCIeNwhQ37zoDnu8cLT9XlVIn7w\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:10 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret2?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "secret2",
        "label": "prod",
        "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret2/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UBW4PS_5kE_5oJKrsGx4ZWqtR4CFyyJRNsP_i2DuBU8\"",
        "Last-Modified": "Wed, 04 Mar 2026 21:39:10 GMT",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret2",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret2/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-04T21:39:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Y-MqfwpiL7-T2Pa3602IeDOcWGbzcfDuraUDShPnwYs\"",
        "x-ms-date": "Wed, 04 Mar 2026 21:39:11 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-03-04T21:39:10+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "secret2",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret2/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-03-04T21:39:10+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://sanitized.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/fake-secret2/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value 2",
        "id": "https://sanitized.vault.azure.net/secrets/fake-secret2/2ca3ba8ea8474092870caddc42cc0068",
        "attributes": {
          "enabled": true,
          "created": 1751495265,
          "updated": 1751495265,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/fake-secret2/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value 2",
        "id": "https://sanitized.vault.azure.net/secrets/fake-secret2/2ca3ba8ea8474092870caddc42cc0068",
        "attributes": {
          "enabled": true,
          "created": 1751495265,
          "updated": 1751495265,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
