{
  "Entries": [
    {
      "RequestUri": "https://sanitized.azure.com/api/projects/test-project/openai/v1/conversations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-stainless-lang": "js",
        "x-stainless-runtime": "browser:chrome"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "23",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772668508
      }
    },
    {
      "RequestUri": "https://sanitized.azure.com/api/projects/test-project/openai/v1/conversations/conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-stainless-lang": "js",
        "x-stainless-runtime": "browser:chrome"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "85",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772668508
      }
    },
    {
      "RequestUri": "https://sanitized.azure.com/api/projects/test-project/openai/v1/conversations/conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-stainless-lang": "js",
        "x-stainless-runtime": "browser:chrome"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "87",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD",
        "object": "conversation",
        "metadata": {
          "key": "value"
        },
        "created_at": 1772668508
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.azure.com/api/projects/test-project/openai/v1/conversations/conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-stainless-lang": "js",
        "x-stainless-runtime": "browser:chrome"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "87",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_196815b968ee28c100ppaIP723BL8ZhQHUCZ49OIbh3cbFvCbD"
      }
    }
  ],
  "Variables": {}
}
