{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-stainless-arch": "unknown",
        "x-stainless-lang": "js",
        "x-stainless-package-version": "6.15.0",
        "x-stainless-runtime": "browser:chrome"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "5",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_e47977e05f30d02b000186xq3ApdbAcwCJOhkVBB5l8JzUf4l8",
        "object": "conversation",
        "created_at": 1765819091,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/openai/conversations/conv_e47977e05f30d02b000186xq3ApdbAcwCJOhkVBB5l8JzUf4l8?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-stainless-arch": "unknown",
        "x-stainless-lang": "js",
        "x-stainless-package-version": "6.15.0",
        "x-stainless-runtime": "browser:chrome"
      },
    [...]
