{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print time(00:00:10) == 10s",
        "timespan": "2024-01-26T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "bool"
              }
            ],
            "rows": [
              [
                true
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-02-08T20:49:15.4563779-08:00",
    "RandomSeed": "771093879",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
