{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_18_CL | distinct * | project TimeGenerated",
              "timespan": "PT5S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "40712a32-9002-4a78-a699-bd27fd863f86"
          },
          {
            "id": "1",
            "body": {
              "query": "TableA1_18_CL | distinct * | project TimeGenerated",
              "timespan": "P16DT21H23M6.3165917S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "40712a32-9002-4a78-a699-bd27fd863f86"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": []
                }
              ]
            }
          },
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2024-02[...]
