{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_18_CL | distinct * |project StringColumn_s, IntColumn_d, BoolColumn_b, FloatColumn_d |order by StringColumn_s asc",
        "timespan": "2024-01-18T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "StringColumn_s",
                "type": "string"
              },
              {
                "name": "IntColumn_d",
                "type": "real"
              },
              {
                "name": "BoolColumn_b",
                "type": "bool"
              },
              {
                "name": "FloatColumn_d",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1,
                false,
                0
              ],
              [
                "a",
                1,
                false,
                0
              ],
              [
                "a",
                1,
                false,
                0
              ],
              [
                "a",
                1,
                false,
                0
              ],
              [
                "a",
    [...]
