{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9e21c097-67fa-44dc-b9d4-5c33a9d67086/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print datetime(2015-12-31T23:59:59.9000000Z) == datetime(2015-12-31 23:59:59.9)",
        "timespan": "2024-02-21T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "bool"
              }
            ],
            "rows": [
              [
                true
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T12:14:39.8089827-08:00",
    "RandomSeed": "1178655357",
    "WORKSPACE_ID": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
  }
}
