{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6597075d-c36a-4885-b9e2-25a587f41999/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, 'a', false, 0.0, 2, 'b', true, 1.2,3, 'c', false, 1.1]; dt |distinct * | project-rename Name = String, Age = Int | order by Name asc",
        "timespan": "2024-09-18T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Age",
                "type": "int"
              },
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Double",
                "type": "real"
              }
            ],
            "rows": [
              [
                1,
                "a",
                false,
                0
              ],
              [
                2,
                "b",
                true,
                1.2
              ],
              [
                3,
                "c",
                false,
                1.1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-01T20:29:57.0450357-07:00",
    "RandomSeed": "1842649997",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
