{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, 'a', false, datetime(\"2024-09-18T00:00:00.000Z\"), 2, 'b', true, datetime(\"2024-09-20T00:00:00.000Z\"),3, 'c', false, datetime(\"2024-09-23T00:00:00.000Z\")]; dt | distinct * | project TimeGenerated",
              "timespan": "PT5S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "6597075d-c36a-4885-b9e2-25a587f41999"
          },
          {
            "id": "1",
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, 'a', false, datetime(\"2024-09-18T00:00:00.000Z\"), 2, 'b', true, datetime(\"2024-09-20T00:00:00.000Z\"),3, 'c', false, datetime(\"2024-09-23T00:00:00.000Z\")]; dt | distinct * | project TimeGenerated",
              "timespan": "P16DT3H29M51.3012844S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "6597075d-c36a-4885-b9e2-25a587f41999"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2024-09-18T00:00:00Z"
                    ],
                    [
                      "2024-09-20T00:00:00Z"
                    ],
                    [
                      "2024-09-23T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          },
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2024-09-18T00:00:00Z"
                    ],
                    [
                      "2024-09-20T00:00:00Z"
                    ],
                    [
                      "2024-09-23T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-01T20:29:51.3012844-07:00",
    "RandomSeed": "131795312",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
