{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "include-render=true"
      },
      "RequestBody": {
        "query": "datatable (s: string, i: long) [ \u0022a\u0022, 1, \u0022b\u0022, 2, \u0022c\u0022, 3 ] | render columnchart",
        "timespan": "2024-01-18T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "s",
                "type": "string"
              },
              {
                "name": "i",
                "type": "long"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                2
              ],
              [
                "c",
                3
              ]
            ]
          }
        ],
        "render": {
          "visualization": "columnchart",
          "title": null,
          "accumulate": false,
          "isQuerySorted": false,
          "kind": null,
          "legend": null,
          "series": null,
          "yMin": "NaN",
          "yMax": "NaN",
          "xAxis": null,
          "xColumn": null,
          "xTitle": null,
          "yAxis": null,
          "yColumns": null,
          "ySplit": null,
          "yTitle": null,
          "anomalyColumns": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "f625eed3-082c-425b-9236-4fade3141df3",
    "DateTimeOffsetNow": "2024-02-01T15:10:53.9756695-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1727606886",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
