{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, \u0027a\u0027, false, 0.0, 2, \u0027b\u0027, true, 1.2,3, \u0027c\u0027, false, 1.1]; dt",
              "timespan": "2024-02-21T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "headers": {
            },
            "body": "{\u0022tables\u0022:[{\u0022name\u0022:\u0022PrimaryResult\u0022,\u0022columns\u0022:[{\u0022name\u0022:\u0022Int\u0022,\u0022type\u0022:\u0022int\u0022},{\u0022name\u0022:\u0022String\u0022,\u0022type\u0022:\u0022string\u0022},{\u0022name\u0022:\u0022Bool\u0022,\u0022type\u0022:\u0022bool\u0022},{\u0022name\u0022:\u0022Double\u0022,\u0022type\u0022:\u0022real\u0022}],\u0022rows\u0022:[[1,\u0022a\u0022,false,0],[2,\u0022b\u0022,true,1.2],[3,\u0022c\u0022,false,1.1]]}]}"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T12:04:39.4296354-08:00",
    "RandomSeed": "569173026",
    "WORKSPACE_ID": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
  }
}
