{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9e21c097-67fa-44dc-b9d4-5c33a9d67086/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (s: string, i: long) [ \u0022a\u0022, 1, \u0022b\u0022, 2, \u0022c\u0022, 3 ] | render columnchart",
        "timespan": "2024-02-21T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "s",
                "type": "string"
              },
              {
                "name": "i",
                "type": "long"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                2
              ],
              [
                "c",
                3
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T13:16:08.5651113-08:00",
    "RandomSeed": "1989792495",
    "WORKSPACE_ID": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
  }
}
