{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, \u0027a\u0027, false, datetime(\u00222024-01-26T00:00:00.000Z\u0022), 2, \u0027b\u0027, true, datetime(\u00222024-01-28T00:00:00.000Z\u0022),3, \u0027c\u0027, false, datetime(\u00222024-01-31T00:00:00.000Z\u0022)]; dt | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2024-01-26T00:00:00Z"
              ],
              [
                "2024-01-28T00:00:00Z"
              ],
              [
                "2024-01-31T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-02-08T20:45:58.0848176-08:00",
    "RandomSeed": "1681181077",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
