{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime) [ datetime(null) ]",
        "timespan": "2025-07-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                null
              ]
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (Decimal: decimal) [ decimal(null) ]",
        "timespan": "2025-07-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Decimal",
                "type": "decimal"
              }
            ],
            "rows": [
              [
                null
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T11:57:53.6344984-07:00",
    "RandomSeed": "1265754083",
    "WORKSPACE_ID": "6b1f7db2-93db-4bea-aff2-3e05e6b4d15e"
  }
}
