{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, 'a', false, datetime(\"2025-07-23T00:00:00.000Z\"), 2, 'b', true, datetime(\"2025-07-25T00:00:00.000Z\"),3, 'c', false, datetime(\"2025-07-28T00:00:00.000Z\")]; dt | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2025-07-23T00:00:00Z"
              ],
              [
                "2025-07-25T00:00:00Z"
              ],
              [
                "2025-07-28T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T12:09:06.9998361-07:00",
    "RandomSeed": "1943755661",
    "WORKSPACE_PRIMARY_RESOURCE_ID": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-monquerytestnet/providers/Microsoft.OperationalInsights/workspaces/monquerytestnet-logs-1"
  }
}
