{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/9e21c097-67fa-44dc-b9d4-5c33a9d67086/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, \u0027a\u0027, false, 0.0, 2, \u0027b\u0027, true, 1.2,3, \u0027c\u0027, false, 1.1]; dt |distinct * | project String, Int, Bool, Double | order by String asc",
        "timespan": "2024-02-21T00:00:00.0000000Z/P15D",
        "workspaces": [
          "f97d4ee2-500b-4d78-aeb1-574568f4b9db"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Double",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1,
                false,
                0
              ],
              [
                "b",
                2,
                true,
                1.2
              ],
              [
                "c",
                3,
                false,
                1.1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T12:09:59.4561720-08:00",
    "RandomSeed": "1954625485",
    "SECONDARY_WORKSPACE_ID": "f97d4ee2-500b-4d78-aeb1-574568f4b9db",
    "WORKSPACE_ID": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
  }
}
