{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "headers": {
              "Prefer": "include-statistics=true"
            },
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, \u0027a\u0027, false, 0.0, 2, \u0027b\u0027, true, 1.2,3, \u0027c\u0027, false, 1.1]; dt",
              "timespan": "2024-02-21T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "Int",
                      "type": "int"
                    },
                    {
                      "name": "String",
                      "type": "string"
                    },
                    {
                      "name": "Bool",
                      "type": "bool"
                    },
                    {
                      "name": "Double",
                      "type": "real"
                    }
                  ],
                  "rows": [
                    [
                      1,
                      "a",
                      false,
                      0
                    ],
                    [
                      2,
                      "b",
                      true,
                      1.2
                    ],
                    [
                      3,
                      "c",
                      false,
                      1.1
                    ]
                  ]
                }
              ],
              "statistics": {
                "query": {
                  "executionTime": 0,
                  "resourceUsage": {
                      "disk": {
                        "hits": 0,
                        "misses": 0,
                        "total": 0
                      },
                      "shards": {
                        "hot": {
                          "hitbytes": 0,
                          "missbytes": 0,
                          "retrievebytes": 0
                        },
                        "cold": {
                          "hitbytes": 0,
                          "missbytes": 0,
                          "retrievebytes": 0
                        },
                        "bypassbytes": 0
                      }
                    },
                    "cpu": {
                      "user": "00:00:00",
                      "kernel": "00:00:00",
                      "totalCpu": "00:00:00"
                    },
                    "memory": {
                      "peakPerNode": 524384
                    },
                    "network": {
                      "interClusterTotalBytes": 651,
                      "crossClusterTotalBytes": 0
                    }
                  },
                  "inputDatasetStatistics": {
                    "extents": {
                      "total": 0,
                      "scanned": 0,
                      "scannedMinDatetime": "0001-01-01T00:00:00.0000000Z",
                      "scannedMaxDatetime": "0001-01-01T00:00:00.0000000Z"
                    },
                    "rows": {
                      "total": 0,
                      "scanned": 0
                    },
                    "rowstores": {
                      "scannedRows": 0,
                      "scannedValuesSize": 0
                    },
                    "shards": {
                      "queriesGeneric": 0,
                      "queriesSpecialized": 0
                    }
                  },
                  "datasetStatistics": [
                    {
                      "tableRowCount": 3,
                      "tableSize": 76
                    }
                  ],
                  "crossClusterResourceUsage": {}
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T13:15:50.1821837-08:00",
    "RandomSeed": "776145923",
    "WORKSPACE_ID": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
  }
}
