{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "include-statistics=true"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, 'a', false, 0.0, 2, 'b', true, 1.2,3, 'c', false, 1.1, 4, 'd', true, 3.14]; dt",
        "timespan": "2025-07-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Double",
                "type": "real"
              }
            ],
            "rows": [
              [
                1,
                "a",
                false,
                0
              ],
              [
                2,
                "b",
                true,
                1.2
              ],
              [
                3,
                "c",
                false,
                1.1
              ],
              [
                4,
                "d",
                true,
                3.14
              ]
            ]
          }
        ],
        "statistics": {
          "query": {
            "queryHash": "21966b47842b49b7",
            "executionTime": 0,
            "resourceUsage": {
                  "cold": {
                    "hitbytes": 0,
                    "missbytes": 0,
                    "retrievebytes": 0
                  },
                  "bypassbytes": 0
                }
              },
              "cpu": {
                "user": "00:00:00",
                "kernel": "00:00:00",
                "totalCpu": "00:00:00",
                "breakdown": {
                  "queryExecution": "00:00:00",
                  "queryPlanning": "00:00:00"
                }
              },
              "memory": {
                "peakPerNode": 1049312
              },
              "network": {
                "interClusterTotalBytes": 2260,
                "crossClusterTotalBytes": 0
              }
            },
            "inputDatasetStatistics": {
              "extents": {
                "total": 0,
                "scanned": 0,
                "scannedMinDatetime": "0001-01-01T00:00:00.0000000Z",
                "scannedMaxDatetime": "0001-01-01T00:00:00.0000000Z"
              },
              "rows": {
                "total": 0,
                "scanned": 0
              },
              "rowstores": {
                "scannedRows": 0,
                "scannedValuesSize": 0
              },
              "shards": {
                "queriesGeneric": 0,
                "queriesSpecialized": 0
              }
            },
            "datasetStatistics": [
              {
                "tableRowCount": 4,
                "tableSize": 68
              }
            ],
            "crossClusterResourceUsage": {}
          },
          "enhancedStats": {
            "executionTimeBreakdown": {
              "queue": 0,
              "engine": 9.756906,
              "service": 106.64426
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T11:59:34.7719196-07:00",
    "RandomSeed": "1582044946",
    "WORKSPACE_ID": "6b1f7db2-93db-4bea-aff2-3e05e6b4d15e"
  }
}
