{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print datetime(2015-12-31T23:59:59.9000000Z) == datetime(2015-12-31 23:59:59.9)",
        "timespan": "2025-07-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "bool"
              }
            ],
            "rows": [
              [
                true
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T11:58:34.0927749-07:00",
    "RandomSeed": "1694857609",
    "WORKSPACE_ID": "6b1f7db2-93db-4bea-aff2-3e05e6b4d15e"
  }
}
