{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, \u0027a\u0027, false, 0.0, 2, \u0027b\u0027, true, 1.2,3, \u0027c\u0027, false, 1.1]; dt |distinct * | project String, Int, Bool, Double | order by String asc",
        "timespan": "2024-01-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Double",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1,
                false,
                0
              ],
              [
                "b",
                2,
                true,
                1.2
              ],
              [
                "c",
                3,
                false,
                1.1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-02-05T18:08:39.5352377-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "913716862",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
