{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs-1/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, 'a', false, datetime(\"2024-09-18T00:00:00.000Z\"), 2, 'b', true, datetime(\"2024-09-20T00:00:00.000Z\"),3, 'c', false, datetime(\"2024-09-23T00:00:00.000Z\")]; dt | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2024-09-18T00:00:00Z"
              ],
              [
                "2024-09-20T00:00:00Z"
              ],
              [
                "2024-09-23T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-01T20:31:36.9269879-07:00",
    "RandomSeed": "873999135",
    "WORKSPACE_PRIMARY_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs-1"
  }
}
