{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "Heartbeat",
              "timespan": "2024-09-19T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "6597075d-c36a-4885-b9e2-25a587f41999"
          },
          {
            "id": "1",
            "body": {
              "query": "Heartbeats",
              "timespan": "2024-09-19T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "6597075d-c36a-4885-b9e2-25a587f41999"
          },
          {
            "id": "2",
            "body": {
              "query": "set truncationmaxrecords=1; datatable (s: string) ['a', 'b']",
              "timespan": "2024-09-19T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "6597075d-c36a-4885-b9e2-25a587f41999"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "headers": {
            },
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TenantId",
                      "type": "string"
                    },
                    {
                      "name": "SourceSystem",
                      "type": "string"
                    },
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    },
                    {
                      "name": "MG",
                      "type": "string"
                    },
                    {
                      "name": "ManagementGroupName",
         [...]
