{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_22_CL | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": []
          }
        ]
      }
    },
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs2/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "TableA1_22_CL | distinct * | project TimeGenerated",
        "timespan": "P16DT23H15M15.3041996S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2024-02-05T20:12:31.6328601Z"
              ],
              [
                "2024-02-05T20:12:31.6328601Z"
              ],
              [
                "2024-02-05T20:12:31.6328601Z"
              ],
              [
                "2024-02-05T20:09:41.1235536Z"
              ],
              [
                "2024-02-05T20:09:41.1235536Z"
              ],
              [
                "2024-02-05T20:09:41.1235536Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-02-05T15:15:15.3041996-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "2045715191",
    "WORKSPACE_SECONDARY_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs2"
  }
}
