{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6597075d-c36a-4885-b9e2-25a587f41999/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print real(1.2) == real(1.2)",
        "timespan": "2024-09-19T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "bool"
              }
            ],
            "rows": [
              [
                true
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-03T10:13:09.1677859-07:00",
    "RandomSeed": "806822159",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
