{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime, Bool:bool, Guid: guid, Int: int, Long:long, Double: double, String: string, Timespan: timespan, Decimal: decimal, Dynamic: dynamic)[datetime(2015-12-31 23:59:59.9),false,guid(74be27de-1e4e-49d9-b579-fe0b331d3642),12345,1234567890123,12345.6789,\u0027string value\u0027,10s,decimal(0.10101),dynamic({\u0022a\u0022:123, \u0022b\u0022:\u0022hello\u0022, \u0022c\u0022:[1,2,3], \u0022d\u0022:{}})]",
        "timespan": "2024-01-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Guid",
                "type": "guid"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Long",
                "type": "long"
              },
              {
                "name": "Double",
                "type": "real"
              },
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Timespan",
                "type": "timespan"
              },
              {
                "name": "Decimal",
                "type": "decimal"
              },
              {
                "name": "Dynamic",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                "2015-12-31T23:59:59.9Z",
                false,
                "74be27de-1e4e-49d9-b579-fe0b331d3642",
                12345,
                1234567890123,
                12345.6789,
                "string value",
                "00:00:10",
                "0.10101",
                "{\u0022a\u0022:123,\u0022b\u0022:\u0022hello\u0022,\u0022c\u0022:[1,2,3],\u0022d\u0022:{}}"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-02-05T18:09:13.5847534-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1702655542",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
