{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime, Bool:bool, Guid: guid, Int: int, Long:long, Double: double, String: string, Timespan: timespan, Decimal: decimal, Dynamic: dynamic)[datetime(null),bool(null),guid(null),int(null),long(null),double(null),\u0027I cant be null\u0027,timespan(null),decimal(null),dynamic(null)]",
        "timespan": "2024-01-22T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Guid",
                "type": "guid"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Long",
                "type": "long"
              },
              {
                "name": "Double",
                "type": "real"
              },
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Timespan",
                "type": "timespan"
              },
              {
                "name": "Decimal",
                "type": "decimal"
              },
              {
                "name": "Dynamic",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                null,
                null,
                null,
                null,
                null,
                null,
                "I cant be null",
                null,
                null,
                null
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-02-05T13:32:31.3593073-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1640373152"
  }
}
