{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6597075d-c36a-4885-b9e2-25a587f41999/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime, Bool:bool, Guid: guid, Int: int, Long:long, Double: double, String: string, Timespan: timespan, Decimal: decimal, NullBool: bool, Dynamic: dynamic)[datetime(2015-12-31 23:59:59.9),false,guid(74be27de-1e4e-49d9-b579-fe0b331d3642),12345,1234567890123,12345.6789,\"string value\",10s,decimal(0.10101),bool(null),dynamic({\"a\":123, \"b\":\"hello\", \"c\":[1,2,3], \"d\":{}})]",
        "timespan": "2024-09-18T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Guid",
                "type": "guid"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Long",
                "type": "long"
              },
              {
                "name": "Double",
                "type": "real"
              },
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Timespan",
                "type": "timespan"
              },
              {
                "name": "Decimal",
                "type": "decimal"
              },
              {
                "name": "NullBool",
                "type": "bool"
              },
              {
                "name": "Dynamic",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                "2015-12-31T23:59:59.9Z",
                false,
                "74be27de-1e4e-49d9-b579-fe0b331d3642",
                12345,
                1234567890123,
                12345.6789,
                "string value",
                "00:00:10",
                "0.10101",
                null,
                "{\"a\":123,\"b\":\"hello\",\"c\":[1,2,3],\"d\":{}}"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-01T20:29:00.9324886-07:00",
    "RandomSeed": "250805467",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
