{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, \u0027a\u0027, false, datetime(\u00222024-01-26T00:00:00.000Z\u0022), 2, \u0027b\u0027, true, datetime(\u00222024-01-28T00:00:00.000Z\u0022),3, \u0027c\u0027, false, datetime(\u00222024-01-31T00:00:00.000Z\u0022)]; dt | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2024-01-26T00:00:00Z"
              ],
              [
                "2024-01-28T00:00:00Z"
              ],
              [
                "2024-01-31T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-02-08T20:53:09.5942697-08:00",
    "RandomSeed": "987353033",
    "WORKSPACE_PRIMARY_RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-nibhatimonitor/providers/Microsoft.OperationalInsights/workspaces/t976dfcc49e3ff134-logs"
  }
}
