{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, \u0027a\u0027, false, datetime(\u00222024-02-21T00:00:00.000Z\u0022), 2, \u0027b\u0027, true, datetime(\u00222024-02-23T00:00:00.000Z\u0022),3, \u0027c\u0027, false, datetime(\u00222024-02-26T00:00:00.000Z\u0022)]; dt | distinct * | project TimeGenerated",
              "timespan": "PT5S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
          },
          {
            "id": "1",
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, \u0027a\u0027, false, datetime(\u00222024-02-21T00:00:00.000Z\u0022), 2, \u0027b\u0027, true, datetime(\u00222024-02-23T00:00:00.000Z\u0022),3, \u0027c\u0027, false, datetime(\u00222024-02-26T00:00:00.000Z\u0022)]; dt | distinct * | project TimeGenerated",
              "timespan": "P16DT21H17M0.0489737S"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2024-02-21T00:00:00Z"
                    ],
                    [
                      "2024-02-23T00:00:00Z"
                    ],
                    [
                      "2024-02-26T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          },
          {
            "id": "1",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TimeGenerated",
                      "type": "datetime"
                    }
                  ],
                  "rows": [
                    [
                      "2024-02-21T00:00:00Z"
                    ],
                    [
                      "2024-02-23T00:00:00Z"
                    ],
                    [
                      "2024-02-26T00:00:00Z"
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-03-06T13:17:00.0489737-08:00",
    "RandomSeed": "2134320351",
    "WORKSPACE_ID": "9e21c097-67fa-44dc-b9d4-5c33a9d67086"
  }
}
