{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, 'a', false, datetime(\"2025-07-23T00:00:00.000Z\"), 2, 'b', true, datetime(\"2025-07-25T00:00:00.000Z\"),3, 'c', false, datetime(\"2025-07-28T00:00:00.000Z\")]; dt | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2025-07-23T00:00:00Z"
              ],
              [
                "2025-07-25T00:00:00Z"
              ],
              [
                "2025-07-28T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T11:58:59.8338720-07:00",
    "RandomSeed": "1772545895",
    "WORKSPACE_ID": "6b1f7db2-93db-4bea-aff2-3e05e6b4d15e"
  }
}
