{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6597075d-c36a-4885-b9e2-25a587f41999/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime, Bool:bool, Guid: guid, Int: int, Long:long, Double: double, String: string, Timespan: timespan, Decimal: decimal, Dynamic: dynamic)[datetime(null),bool(null),guid(null),int(null),long(null),double(null),'I cant be null',timespan(null),decimal(null),dynamic(null)]",
        "timespan": "2024-09-19T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Guid",
                "type": "guid"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Long",
                "type": "long"
              },
              {
                "name": "Double",
                "type": "real"
              },
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Timespan",
                "type": "timespan"
              },
              {
                "name": "Decimal",
                "type": "decimal"
              },
              {
                "name": "Dynamic",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                null,
                null,
                null,
                null,
                null,
                null,
                "I cant be null",
                null,
                null,
                null
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-03T10:03:42.0398765-07:00",
    "RandomSeed": "1203860663",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
