{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, 'a', false, 0.0, 2, 'b', true, 1.2,3, 'c', false, 1.1]; dt |distinct * | project String, Int, Bool, Double | order by String asc",
        "timespan": "2025-07-23T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Double",
                "type": "real"
              }
            ],
            "rows": [
              [
                "a",
                1,
                false,
                0
              ],
              [
                "b",
                2,
                true,
                1.2
              ],
              [
                "c",
                3,
                false,
                1.1
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T12:08:40.7533900-07:00",
    "RandomSeed": "1287286150",
    "WORKSPACE_ID": "6b1f7db2-93db-4bea-aff2-3e05e6b4d15e"
  }
}
