{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000004907 step 1 | count",
        "timespan": "2024-01-22T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "a9312e0b-f179-457b-a2f1-5de34edb657c",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000004907 step 1 | count",
        "timespan": "2024-01-22T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "055bba3d-c59c-4969-91e6-9a3644ea44bd",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-02-05T15:25:47.4424070-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "284382538",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
