{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000007766 step 1 | count",
        "timespan": "2024-01-18T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "89a21a32-f0b3-4e89-91dc-f61d7544d057",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/40712a32-9002-4a78-a699-bd27fd863f86/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 100000007766 step 1 | count",
        "timespan": "2024-01-18T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "210e585d-852a-4a05-af2b-58cc905b2779",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "f625eed3-082c-425b-9236-4fade3141df3",
    "DateTimeOffsetNow": "2024-02-01T15:11:15.4734582-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "2037392282",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
