{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "this won\u0027t work",
              "timespan": "2024-01-18T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "40712a32-9002-4a78-a699-bd27fd863f86"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 400,
            "body": {
              "error": {
                "message": "The request had some invalid properties",
                "code": "BadArgumentError",
                "correlationId": "41851f69-6c81-42df-921d-00cb252e99ee",
                "innererror": {
                  "code": "SyntaxError",
                  "message": "A recognition error occurred in the query.",
                  "innererror": {
                    "code": "SYN0002",
                    "message": "Query could not be parsed at \u0027won\u0027 on line [1,6]",
                    "line": 1,
                    "pos": 6,
                    "token": "won"
                  }
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "f625eed3-082c-425b-9236-4fade3141df3",
    "DateTimeOffsetNow": "2024-02-01T15:11:58.5288308-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "1347791501",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
