{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "this won't work",
              "timespan": "2024-09-18T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "6597075d-c36a-4885-b9e2-25a587f41999"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 400,
            "body": {
              "error": {
                "message": "The request had some invalid properties",
                "code": "BadArgumentError",
                "correlationId": "a46ffb4a-f9f7-4c18-932e-08d7779ebac3",
                "innererror": {
                  "code": "SyntaxError",
                  "message": "A recognition error occurred in the query.",
                  "innererror": {
                    "code": "SYN0002",
                    "message": "Query could not be parsed at 'won' on line [1,6]",
                    "line": 1,
                    "pos": 6,
                    "token": "Sanitized"
                  }
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-01T20:32:18.7705764-07:00",
    "RandomSeed": "1719729415",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
