{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_23_CL",
              "timespan": "2024-01-23T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "40712a32-9002-4a78-a699-bd27fd863f86"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 400,
            "body": {
              "error": {
                "message": "The request had some invalid properties",
                "code": "BadArgumentError",
                "correlationId": "a8d44a6f-1ba0-45e1-ad84-2e85285120a6",
                "innererror": {
                  "code": "SemanticError",
                  "message": "A semantic error occurred.",
                  "innererror": {
                    "code": "SEM0100",
                    "message": "\u0027table\u0027 operator: Failed to resolve table expression named \u0027TableA1_23_CL\u0027"
                  }
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-02-05T18:12:57.0517748-08:00",
    "LOGS_ENDPOINT": "https://api.loganalytics.io",
    "RandomSeed": "284455155",
    "WORKSPACE_ID": "40712a32-9002-4a78-a699-bd27fd863f86"
  }
}
