{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "TableA1_22_CL",
              "timespan": "2024-01-22T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "40712a32-9002-4a78-a699-bd27fd863f86"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "TenantId",
                      "type": "string"
                    },
                    {
                      "name": "SourceSystem",
                      "type": "string"
                    },
                    {
                      "name": "MG",
                      "type": "string"
                    },
                    {
                      "name": "ManagementGroupName",
                      "type": "string"
                    },
                    {
                      "name": "TimeGenerated",
           [...]
