{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6b1f7db2-93db-4bea-aff2-3e05e6b4d15e/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print real(nan), real(+inf), real(-inf), real(null), real(123)",
        "timespan": "PT1M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "real"
              },
              {
                "name": "print_1",
                "type": "real"
              },
              {
                "name": "print_2",
                "type": "real"
              },
              {
                "name": "print_3",
                "type": "real"
              },
              {
                "name": "print_4",
                "type": "real"
              }
            ],
            "rows": [
              [
                "NaN",
                "Infinity",
                "-Infinity",
                null,
                123
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-08-06T12:00:26.1818168-07:00",
    "RandomSeed": "1905224490",
    "WORKSPACE_ID": "6b1f7db2-93db-4bea-aff2-3e05e6b4d15e"
  }
}
