{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/6597075d-c36a-4885-b9e2-25a587f41999/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print real(nan), real(+inf), real(-inf), real(null), real(123)",
        "timespan": "PT1M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "real"
              },
              {
                "name": "print_1",
                "type": "real"
              },
              {
                "name": "print_2",
                "type": "real"
              },
              {
                "name": "print_3",
                "type": "real"
              },
              {
                "name": "print_4",
                "type": "real"
              }
            ],
            "rows": [
              [
                "NaN",
                "Infinity",
                "-Infinity",
                null,
                123
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2024-10-03T10:12:12.9802850-07:00",
    "RandomSeed": "1856666044",
    "WORKSPACE_ID": "6597075d-c36a-4885-b9e2-25a587f41999"
  }
}
