{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/fine_tuning/jobs/sanitized-ftjob-id?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-preview,2023-09-01-preview,2023-10-01-preview,2023-12-01-preview,2024-02-01,2024-02-15-preview,2024-03-01-preview,2024-04-01-preview,2024-04-15-preview,2024-05-01-preview,2024-06-01,2024-07-01-preview,2024-08-01-preview,2024-09-01-preview,2024-10-01-preview,2024-10-21,2024-11-01-preview,2024-12-01-preview,2025-01-01-preview,2025-02-01-preview,2025-03-01-preview,2025-04-01-preview,2025-04-28,1",
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.093"
      },
      "ResponseBody": {
        "hyperparameters": {
          "n_epochs": 10,
          "batch_size": 1,
          "learning_rate_multiplier": 2
        },
        "additionalParameters": {
          "completionOverride": "True"
        },
        "seed": 1743882047,
        "trainingType": "standard",
        "status": "running",
        "model": "gpt-4.1-2025-04-14",
        "training_file": "sanitized-file-id",
        "result_files": [
          "sanitized-file-id"
        ],
        "estimated_finish": 1765797184,
        "id": "sanitized-ftjob-id",
        "created_at": 1765793757,
        "object": "fine_tuning.job"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/fine_tuning/jobs/sanitized-ftjob-id/pause?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01,2023-03-15-preview,2023-05-15,2023-06-01-preview,2023-07-01-preview,2023-08-01-pr[...]
