{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://rgjoncardekv318prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup/c6b254b8f8d5480f870422c220709960/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1571"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1742516489,
        "endTime": null,
        "jobId": "c6b254b8f8d5480f870422c220709960",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup/c6b254b8f8d5480f870422c220709960/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "449"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "c6b254b8f8d5480f870422c220709960",
        "startTime": 1742516489,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://rgjoncardekv318prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-rgjoncardekv318hsm-2025032100212953"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore/53762a1a503045d7a679c8163683eccc/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1283"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "53762a1a503045d7a679c8163683eccc",
        "startTime": 1742516506,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore/53762a1a503045d7a679c8163683eccc/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "263"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "53762a1a503045d7a679c8163683eccc",
        "startTime": 1742516506,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore/53762a1a503045d7a679c8163683eccc/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "241"
      },
      "ResponseBody": {
        "endTime": 1742516517,
        "error": null,
        "jobId": "53762a1a503045d7a679c8163683eccc",
        "startTime": 1742516506,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "rgjoncardekv318prim",
    "RandomSeed": "1991940418"
  }
}
