{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://tb0f745ebb7bfae58prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup/b70c95d26edf4b2ca090308744d0d664/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "2691"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1724270386,
        "endTime": null,
        "jobId": "b70c95d26edf4b2ca090308744d0d664",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup/b70c95d26edf4b2ca090308744d0d664/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "427"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "b70c95d26edf4b2ca090308744d0d664",
        "startTime": 1724270386,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://tb0f745ebb7bfae58prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-tb0f745ebb7bfae58hsm-2024082119594660"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/ade589d3e2324819832d7bc11b377f6c/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1252"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "ade589d3e2324819832d7bc11b377f6c",
        "startTime": 1724270404,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/ade589d3e2324819832d7bc11b377f6c/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "626"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "ade589d3e2324819832d7bc11b377f6c",
        "startTime": 1724270404,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/ade589d3e2324819832d7bc11b377f6c/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "308"
      },
      "ResponseBody": {
        "endTime": 1724270417,
        "error": null,
        "jobId": "ade589d3e2324819832d7bc11b377f6c",
        "startTime": 1724270404,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "tb0f745ebb7bfae58prim",
    "RandomSeed": "306519420"
  }
}
