{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://rgjoncardekv76prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup/2193d1790d8d48548077b8040f769fa8/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1749811425,
        "endTime": null,
        "jobId": "2193d1790d8d48548077b8040f769fa8",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup/2193d1790d8d48548077b8040f769fa8/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "77"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "2193d1790d8d48548077b8040f769fa8",
        "startTime": 1749811425,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://rgjoncardekv76prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-rgjoncardekv76hsm-2025061310434530"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/6757e27a47a64be2afe702ae662f6506/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "6757e27a47a64be2afe702ae662f6506",
        "startTime": 1749811441,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/6757e27a47a64be2afe702ae662f6506/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "69"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "6757e27a47a64be2afe702ae662f6506",
        "startTime": 1749811441,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/6757e27a47a64be2afe702ae662f6506/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "96"
      },
      "ResponseBody": {
        "endTime": 1749811446,
        "error": null,
        "jobId": "6757e27a47a64be2afe702ae662f6506",
        "startTime": 1749811441,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv76hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "rgjoncardekv76prim",
    "RandomSeed": "896241497"
  }
}
