{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://tb0f745ebb7bfae58prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup/57c76033517047708488cb6ff075f988/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "2281"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1724270755,
        "endTime": null,
        "jobId": "57c76033517047708488cb6ff075f988",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup/57c76033517047708488cb6ff075f988/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "341"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "57c76033517047708488cb6ff075f988",
        "startTime": 1724270755,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://tb0f745ebb7bfae58prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-tb0f745ebb7bfae58hsm-2024082120055548"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/1b148cb509764c60bc8477d00cb995c7/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1040"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "1b148cb509764c60bc8477d00cb995c7",
        "startTime": 1724270773,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/1b148cb509764c60bc8477d00cb995c7/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "369"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "1b148cb509764c60bc8477d00cb995c7",
        "startTime": 1724270773,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/1b148cb509764c60bc8477d00cb995c7/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "226"
      },
      "ResponseBody": {
        "endTime": 1724270781,
        "error": null,
        "jobId": "1b148cb509764c60bc8477d00cb995c7",
        "startTime": 1724270773,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "tb0f745ebb7bfae58prim",
    "RandomSeed": "315416400"
  }
}
