{
  "Entries": [
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://khasdksdkprim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://khasdksdkhsm.managedhsm.azure.net/backup/7570fa77e1eb441ab338b411d1ed1a94/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "96a97b27-74fd-4bad-b5a8-74563101e96c",
        "Retry-After": "10",
        "x-ms-server-latency": "883"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1779722811,
        "endTime": null,
        "jobId": "7570fa77e1eb441ab338b411d1ed1a94",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/backup/7570fa77e1eb441ab338b411d1ed1a94/pending?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3bca2a20-b2cb-43a4-bd58-cbbf353ef9d8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "59"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "7570fa77e1eb441ab338b411d1ed1a94",
        "startTime": 1779722811,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/backup/7570fa77e1eb441ab338b411d1ed1a94/pending?api-ver[...]
