{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.DocumentDB/operations?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'operations' could not be found in the namespace 'Microsoft.DocumentDB' for api version '2024-03-01-preview'. The supported api-versions are '2014-04-01,2015-04-08,2015-11-06,2016-03-19,2016-03-31,2019-08-01-preview,2019-08-01,2019-12-12,2020-03-01,2020-04-01,2020-06-01-preview,2020-09-01,2021-01-15,2021-03-01-preview,2021-03-15,2021-04-01-preview,2021-04-15,2021-05-01-preview,2021-05-15,2021-06-15,2021-07-01-preview,2021-10-15,2021-10-15-preview,2021-11-15-preview,2022-02-15-preview,2022-05-15-preview,2022-05-15,2022-08-15-preview,2022-08-15,2022-11-15,2022-11-15-preview,2023-03-01-preview,2023-03-15,2023-03-15-preview,2023-04-15,2023-09-15-preview,2023-09-15,2023-11-15-preview,2023-11-15,2024-02-15-preview,2024-05-15,2024-05-15-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
