{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AZURE-CDN-TEST",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2491?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2491",
        "name": "testRG2491",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2491/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/testfirewall4900?api-version=2024-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Premium_AzureFrontDoor"
        },
        "location": "eastus",
        "properties": {
          "policySettings": {
            "enabledState": "Enabled",
            "mode": "Prevention",
            "redirectUrl": "http://www.bing.com/",
            "customBlockResponseStatusCode": 429,
            "customBlockResponseBody": "PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==",
            "requestBodyCheck": "Disabled",
            "logScrubbing": {}
          },
          "customRules": {
            "rules": [
              {
                "name": "customrule1",
                "priority": 1,
                "ruleType": "RateLimitRule",
                "rateLimitThreshold": 5,
                "matchConditions": [
                  {
                    "matchVariable": "RemoteAddr",
                    "operator": "IPMatch",
                    "matchValue": [
                      "192.168.1.0/24",
                      "10.0.0.0/24"
                    ]
                  }
                ],
                "action": "Block"
              },
              {
                "name": "customrule2",
                "priority": 2,
                "ruleType": "MatchRule",
                "matchConditions": [
                  {
                    "matchVariable": "RemoteAddr",
                    "operator": "GeoMatch",
                    "matchValue": [
                      "CH"
                    ]
                  },
                  {
                    "matchVariable": "RequestHeader",
                    "selector": "UserAgent",
                    "operator": "Contains",
                    "matchValue": [
                      "windows"
                    ]
                  }
                ],
                "action": "Block"
              }
            ]
          },
          "managedRules": {
            "managedRuleSets": [
              {
                "ruleSetType": "DefaultRuleSet",
                "ruleSetVersion": "1.0",
                "ruleSetAction": "Block",
                "exclusions": [
                  {
                    "matchVariable": "RequestHeaderNames",
                    "selectorMatchOperator": "Equals",
                    "selector": "User-Agent"
                  }
                ],
                "ruleGroupOverrides": [
                  {
                    "ruleGroupName": "SQLI",
                    "exclusions": [
                      {
                        "matchVariable": "RequestCookieNames",
                        "selectorMatchOperator": "StartsWith",
                        "selector": "token"
                      }
                    ],
                    "rules": [
                      {
                        "ruleId": "942100",
                        "enabledState": "Enabled",
                        "action": "Redirect",
                        "exclusions": [
                          {
                            "matchVariable": "RequestHeaderNames",
                            "selectorMatchOperator": "Equals",
                            "selector": "query"
                          }
                        ]
                      },
                      {
                        "ruleId": "942110",[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2491/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/testfirewall4900?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG2491/providers/Microsoft.Network/frontdoorwebapplicationfirewallpolicies/testfirewall4900",
        "type": "Microsoft.Network/frontdoorwebapplicationfirewallpolicies",
        "name": "testfirewall4900",
        "location": "EastUs",
        "tags": {},
        "sku": {
          "name": "Premium_AzureFrontDoor"
        },
        "properties": {
          "policySettings": {
            "enabledState": "Enabled",
            "mode": "Prevention",
            "redirectUrl": "http://www.bing.com/",
            "customBlockResponseStatusCode": 429,
            "customBlockResponseBody": "PGh0bWw+CjxoZWFkZXI+PHRpdGxlPkhlbGxvPC90aXRsZT48L2hlYWRlcj4KPGJvZHk+CkhlbGxvIHdvcmxkCjwvYm9keT4KPC9odG1sPg==",
            "requestBodyCheck": "Disabled",
            "javascriptChallengeExpirationInMinutes": 30,
            "logScrubbing": {
              "state": "Enabled",
              "scrubbingRules": []
            }
          },
          "customRules": {
            "rules": [
              {
                "name": "customrule1",
                "enabledState": null,
                "priority": 1,
                "ruleType": "RateLimitRule",
                "rateLimitDurationInMinutes": null,
                "rateLimitThreshold": 5,
                "matchConditions": [
                  {
                    "matchVariable": "RemoteAddr",
                    "selector": null,
                    "operator": "IPMatch",
                    "negateCondition": false,
                    "matchValue": [
                      "192.168.1.0/24",
                      "10.0.0.0/24"
                    ],
                    "transforms": []
                  }
                ],
                "action": "Block",
                "groupBy": [
                  {
                    "variableName": "SocketAddr"
                  }
                ]
              },
              {
                "name": "customrule2",
                "enabledState": null,
                "priority": 2,
                "ruleType": "MatchRule",
                "rateLimitDurationInMinutes": null,
                "rateLimitThreshold": null,
                "matchConditions": [
                  {
                    "matchVariable": "RemoteAddr",
                    "selector": null,
                    "ope[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG2491/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/testfirewall4900?api-version=2024-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1781044290",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "27cafca8-b9a4-4264-b399-45d0c9cca1ab"
  }
}