{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a5de9162-8cad-e9ea-8b63-428465352b7d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BA0397B52\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a5de9162-8cad-e9ea-8b63-428465352b7d/test-file-493ba75e-3b73-4121-11e5-efcc33d4f773?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BA0637FAC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a5de9162-8cad-e9ea-8b63-428465352b7d/test-file-493ba75e-3b73-4121-11e5-efcc33d4f773?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "gjcDMD/Smg3As4WihWnL2ncygg0erJdv5ypDO4gzKonfwTU9Mj5+eIuoiihQ0QkXkO06Krfk1dWglEgUjl+FjYn7wsMzjag5tAqBdSFvHhUhK6qa+P/R++xfnZ31aekrI/2eVA9G5AJFAXatYmC0MHYz82K06pSJKcfX0+8KREogVlEk0MkF20eoVfeJJJiLq20nwXaHdjloFStIbhESO70sjAwOj2CsLhgbDJWdAAUvSyeC4oLTmd8Yu7uevWw2lRk5XJeLfRwNepNea2qjyxQmGSLqj1k6WPIs9dOkDnCr5XZ8Y6Nto84LdWfvdS11dO+md6RJTAXA/wSlX4dIaGwis4bzJ[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a5de9162-8cad-e9ea-8b63-428465352b7d/test-file-493ba75e-3b73-4121-11e5-efcc33d4f773?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "control",
        "x-ms-content-disposition": "disposition",
        "x-ms-content-encoding": "encoding",
        "x-ms-content-language": "language",
        "x-ms-content-md5": "fe9A2YRwE3Q8lJs9CgX1zQ==",
        "x-ms-content-type": "type",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BA07EFBA8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:31 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a5de9162-8cad-e9ea-8b63-428465352b7d/test-file-493ba75e-3b73-4121-11e5-efcc33d4f773",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "disposition",
        "Content-Language": "language",
        "Content-MD5": "fe9A2YRwE3Q8lJs9CgX1zQ==",
        "Content-Type": "type",
        "ETag": "\"0x8DC867BA07EFBA8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:54:30 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a5de9162-8cad-e9ea-8b63-428465352b7d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "964601328",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
