{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-8f8c0c01-4165-2ec6-8690-8327fda4ebde?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B9A714BA5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-8f8c0c01-4165-2ec6-8690-8327fda4ebde/test-file-df538de0-15b3-9223-eacb-7a2d571fcc4a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B9AA077D4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-8f8c0c01-4165-2ec6-8690-8327fda4ebde/test-file-df538de0-15b3-9223-eacb-7a2d571fcc4a?action=append&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "/nwnkiFJRjs0Nqz+czfqWKILrbRZ9mIgOvgD70meym+vXe0qapdNNlyLoLGbyxk0JgMXRhRQ6wgaBlcoRlfylWw8TxVJv+4LvXdYzlWwhW7ezshFhoRbXnLlEGM/JfAFmAtFXnwD6mYVDIid+ByyaoHpSXeOrA7o4fCjY6+Ly5iHUzVKayfy2+NiMHr7vWZVM6XiVtt4duv8XHyLYIe2ikDvFqTnZ/5Z926TK3yU7CSKTTAJqHW9DtxJTg6qZ3pcq6Y5DKfBbsymiF9s5UtvZ3BYARJXrOHLMgfInRjwr5DzNoDWW+B8yN9kYiAWUCmR2uedUWVoBf/Fbdqf+dCzttnPea7Lm[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-8f8c0c01-4165-2ec6-8690-8327fda4ebde/test-file-df538de0-15b3-9223-eacb-7a2d571fcc4a?action=flush&position=0&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B9AB96D7C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-8f8c0c01-4165-2ec6-8690-8327fda4ebde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1970143747",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
