{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-365ea68b-a226-ddd5-8f43-8cf9b4b1cf48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C1439C351\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-365ea68b-a226-ddd5-8f43-8cf9b4b1cf48/test-file-83cfdce5-9d28-a159-b2d2-4e628182db0c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C146815E4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-365ea68b-a226-ddd5-8f43-8cf9b4b1cf48/test-file-83cfdce5-9d28-a159-b2d2-4e628182db0c?action=append&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "C7F8dUh9tpfraCnCUrJ15XlsVgoUtViSFx0X2H9qjtJhxpx6UeKZjsDWOUrt40xupukMazH5b1VY6V4rZd0XgdpWYYwW+pOX08dJPXsOpTPQqTKWXiKhZ1ZGIWeEbSjivrhvloLAWKtVdJdqsDHZSkQqWryqgSK4tfk1z9ksEmWeZn7Dng6xEFCHQOmLN7ckbNciWhNrOD2Wt+GJi4jRKWIxy0myFqs1eUpsIkA5LX5CEGICCbhSMy5BLOctKITHtRaHWWxtclYr7eHJ/xX8XIpjRnslzyCp35gacenECFDFpGwqsdMS1J4M1hzXiTMZRM9dyuEJoeb23XrTUgBsZuSQA1qo0[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-365ea68b-a226-ddd5-8f43-8cf9b4b1cf48/test-file-83cfdce5-9d28-a159-b2d2-4e628182db0c?action=flush&position=0&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C14822234\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-365ea68b-a226-ddd5-8f43-8cf9b4b1cf48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "943969914",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
