{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-43f0f366-6585-e1d6-5fdf-88aa2a9daf8a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B9A3569D2\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-43f0f366-6585-e1d6-5fdf-88aa2a9daf8a/test-file-896238b4-2d3b-16f1-fd06-466eb0e4de53?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B9A435224\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-43f0f366-6585-e1d6-5fdf-88aa2a9daf8a/test-file-896238b4-2d3b-16f1-fd06-466eb0e4de53?action=append&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2XVtqSZt+334DddExhiQ1C5LHFqmEqpqgjt2PLv602eu1gAQuy7U5FrA0psdoNnIlaYXNS3t6sbLAifq9r/B/jpwlfAYfxj/dzj/5kAOTOJhracU4p46wew6RbgH6e2b/tNhrQrpsBWOF7307QOFvLZEiEkXrBubNdQE3jlg+I1KZOhtrZ/XeP2RhsvgRdPotIkCwmCkg1G3xXc25dLcLh8wqYkaGA4WbRBLhiZQuu8AGymvXTUspuCXtecnoZMrtVirsJtKzpt761VQWf0rZwuHNcmoLNDpAwOog2Mm78x8H9DNpAlUtk2NNHLg203jbE7cn2vKgoiIwq2YoUs4VPyJ1DktX[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-43f0f366-6585-e1d6-5fdf-88aa2a9daf8a/test-file-896238b4-2d3b-16f1-fd06-466eb0e4de53?action=flush&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867B9A5AAA5C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:54:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-43f0f366-6585-e1d6-5fdf-88aa2a9daf8a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:54:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "794069761",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
