{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-fa26476c-e4fb-06ce-25cf-e873c43f35e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C1992AF90\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-fa26476c-e4fb-06ce-25cf-e873c43f35e9/test-file-d0f7910b-0911-2c8f-c397-763cd65420f0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C19E771F0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-fa26476c-e4fb-06ce-25cf-e873c43f35e9/test-file-d0f7910b-0911-2c8f-c397-763cd65420f0?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "JlMf3BlXOuLFvw/P15ExztT9MfnmzLLgCHeG2eFFE19Y+den1eZfs6KLjX5/F6FF63mxJi/wUVmhPtOh0WABgKuvd966ifnunX5XWz40YfHWQO5nlO0wZ6d9BpcTveJBig3S0KDDi2KAw4mwmPYabd3hy5Bymeu+fg82PINh29+cFdAxYZBQErSM59Fjf86wY5i6MfJRz/EhE1GRjU/fHuepFIMm6QtMkbnc5bIaW/9Ahdnqp6ntS0bfD04/v4VlrcjpuWtLinmNbaA5dOk+BrhSUQd29HY+vMg9Rtm9DdEzdzjpMaGT9PtfXToJtNZcoAiV7G5+7rhRq/2iDkOgz2DOBf2wV[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-fa26476c-e4fb-06ce-25cf-e873c43f35e9/test-file-d0f7910b-0911-2c8f-c397-763cd65420f0?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "control",
        "x-ms-content-disposition": "disposition",
        "x-ms-content-encoding": "encoding",
        "x-ms-content-language": "language",
        "x-ms-content-md5": "jGkOf/ANb9GQ+c9fWIq7CQ==",
        "x-ms-content-type": "type",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C19FF47D8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-fa26476c-e4fb-06ce-25cf-e873c43f35e9/test-file-d0f7910b-0911-2c8f-c397-763cd65420f0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "disposition",
        "Content-Language": "language",
        "Content-MD5": "jGkOf/ANb9GQ+c9fWIq7CQ==",
        "Content-Type": "type",
        "ETag": "\"0x8DC867C19FF47D8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:57:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:57:54 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-fa26476c-e4fb-06ce-25cf-e873c43f35e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:57:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2127408350",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
