{
  "Entries": [
    {
      "RequestUri": "https://phnxscnchi10py01fx.blob.preprod.core.windows.net/test-filesystem-9c5b4079-0271-bc04-46aa-7414d002e3bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2026 21:31:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB2C94622B7B4\"",
        "Last-Modified": "Fri, 15 May 2026 21:31:06 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://phnxscnchi10py01fx.dfs.preprod.core.windows.net/test-filesystem-9c5b4079-0271-bc04-46aa-7414d002e3bb/test-file-81b8c96d-e50e-ae4a-4966-a25ecca13955?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2026 21:31:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB2C946287712\"",
        "Last-Modified": "Fri, 15 May 2026 21:31:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://phnxscnchi10py01fx.dfs.preprod.core.windows.net/test-filesystem-9c5b4079-0271-bc04-46aa-7414d002e3bb/test-file-81b8c96d-e50e-ae4a-4966-a25ecca13955?action=flush&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2026 21:31:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB2C9462E51C3\"",
        "Last-Modified": "Fri, 15 May 2026 21:31:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://phnxscnchi10py01fx.blob.preprod.core.windows.net/test-filesystem-9c5b4079-0271-bc04-46aa-7414d002e3bb/test-file-81b8c96d-e50e-ae4a-4966-a25ecca13955?comp=layout",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2026 21:31:05 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB2C9462E51C3\"",
        "Last-Modified": "Fri, 15 May 2026 21:31:06 GMT",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 15 May 2026 21:31:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://phnxscnchi10py01fx.blob.preprod.core.windows.net/test-filesystem-9c5b4079-0271-bc04-46aa-7414d002e3bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2026 21:31:05 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1002794653",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nphnxscnchi10py01fx\nU2FuaXRpemVk\nhttps://phnxscnchi10py01fx.blob.preprod.core.windows.net\nhttps://phnxscnchi10py01fx.file.preprod.core.windows.net\nhttps://phnxscnchi10py01fx.queue.preprod.core.windows.net\nhttps://phnxscnchi10py01fx.table.preprod.core.windows.net\n\n\n\n\nhttps://phnxscnchi10py01fx-secondary.blob.preprod.core.windows.net\nhttps://phnxscnchi10py01fx-secondary.file.preprod.core.windows.net\nhttps://phnxscnchi10py01fx-secondary.queue.preprod.core.windows.net\nhttps://phnxscnchi10py01fx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://phnxscnchi10py01fx.blob.preprod.core.windows.net/;QueueEndpoint=https://phnxscnchi10py01fx.queue.preprod.core.windows.net/;FileEndpoint=https://phnxscnchi10py01fx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://phnxscnchi10py01fx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://phnxscnchi10py01fx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://phnxscnchi10py01fx-secondary.file.preprod.core.windows.net/;AccountName=phnxscnchi10py01fx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
