{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-76709aec-6d9b-7ff5-4e67-932a30a5cbff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40AC3F72229\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-76709aec-6d9b-7ff5-4e67-932a30a5cbff/test-directory-08c687d3-6897-ab6d-c32b-322963a2cd42?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40AC3FF3214\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-76709aec-6d9b-7ff5-4e67-932a30a5cbff/test-directory-08c687d3-6897-ab6d-c32b-322963a2cd42?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-c3212609-c58e-be40-c23e-165645897f44/test-directory-316fe42b-9911-82a3-7447-b63ebc946553?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-modified-since": "Tue, 24 Jun 2025 17:07:28 GMT",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-a3da2e8e-9f08-e0f7-85b5-917760543cdd/test-directory-bd52ae22-6871-ad5d-e775-82fad21c553e?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-unmodified-since": "Thu, 26 Jun 2025 17:07:28 GMT",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-a3b673c5-001b-fa63-f065-946039877249/test-directory-ca27e89b-e366-81d9-8bf0-201d4b1c08a3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDB40AC45C1510\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-a3b673c5-001b-fa63-f065-946039877249/test-directory-ca27e89b-e366-81d9-8bf0-201d4b1c08a3?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-match": "0x8DDB40AC45C1510",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-5ad69ba1-61d9-0c08-4085-27cb737f8121/test-directory-448c7645-3aee-f6de-effa-6aadccdb108f?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-none-match": "\"garbage\"",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-c6c8b004-0beb-9d3b-207d-5b809d36acde/test-directory-cfa96f9f-5d02-c725-1620-d54daa51f5de?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "a6fcf006-59d4-6da3-3c7e-080852e75911",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40AC49FE6D4\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-lease-id": "a6fcf006-59d4-6da3-3c7e-080852e75911",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-c6c8b004-0beb-9d3b-207d-5b809d36acde?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:07:28.6599989-05:00",
    "RandomSeed": "1327876276",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
