{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-5f17c6a5-e963-3c13-8082-3a659b5d8788?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:06 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF45436213D\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5f17c6a5-e963-3c13-8082-3a659b5d8788/test-file-1d619bac-a8a5-9ee1-0654-bf2b14782b7f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:06 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF45440D998\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5f17c6a5-e963-3c13-8082-3a659b5d8788/test-file-1d619bac-a8a5-9ee1-0654-bf2b14782b7f?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF45440D998\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-creation-time": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-e1be8bd2-9c3d-3a8b-73af-d9a12bd654f4/test-file-9b1fd70b-42f2-7668-c77c-d864436d8d0c?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Mon, 26 Jan 2026 22:35:06 GMT",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF4547042B0\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-creation-time": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-b3a01d3a-94f0-5d55-1804-e03f6db89b85/test-file-33e5bcfb-e046-35e7-b5f5-568b3de666df?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 28 Jan 2026 22:35:06 GMT",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF4549289E0\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-creation-time": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-5cf164a4-f522-bcfc-d6df-ef76729452f9/test-file-7125c89d-de79-858e-4a3d-fb504f36c98d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5DF454B6A7FC\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-5cf164a4-f522-bcfc-d6df-ef76729452f9/test-file-7125c89d-de79-858e-4a3d-fb504f36c98d?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE5DF454B6A7FC",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF454B6A7FC\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-creation-time": "Tue, 27 Jan 2026 22:35:10 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-645c2a95-d504-a6bd-40e7-6939469551fc/test-file-7c926275-2c32-6896-479f-1bd8d3590700?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF454DE4294\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:11 GMT",
        "x-ms-creation-time": "Tue, 27 Jan 2026 22:35:11 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-4a1e8ff2-a557-54ad-ea7f-40e165c9fdb7/test-file-d93f46f6-8a6d-7439-3b00-02a1bbabacb0?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:08 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "6f1717d5-d4c4-26e2-b730-9d296ed8bea2",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5DF454FEF6CC\"",
        "Last-Modified": "Tue, 27 Jan 2026 22:35:11 GMT",
        "x-ms-lease-id": "6f1717d5-d4c4-26e2-b730-9d296ed8bea2",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-4a1e8ff2-a557-54ad-ea7f-40e165c9fdb7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 Jan 2026 22:35:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-27T17:35:06.8593728-05:00",
    "RandomSeed": "1928285256",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
