{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3be60609-51fe-f03f-5906-080772d5345e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40ACB79E23B\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-3be60609-51fe-f03f-5906-080772d5345e/test-file-64fbd619-02aa-3463-a4b5-bbc80c9d75c5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40ACB8532B4\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3be60609-51fe-f03f-5906-080772d5345e/test-file-64fbd619-02aa-3463-a4b5-bbc80c9d75c5?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3be60609-51fe-f03f-5906-080772d5345e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "797883064",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
