{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-e87449dd-2b36-8dc3-fe93-9ee468ed03e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBC1963E0\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:48 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-e87449dd-2b36-8dc3-fe93-9ee468ed03e3/test-directory-73295c5b-fb7a-60a7-c8f0-c78b0fdb209a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBC22BB94\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-e87449dd-2b36-8dc3-fe93-9ee468ed03e3/test-directory-73295c5b-fb7a-60a7-c8f0-c78b0fdb209a/test-file-b9b09ead-6bdf-bd81-730a-8f9fe2422606?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:47 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBC2C1C4C\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:48 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-e87449dd-2b36-8dc3-fe93-9ee468ed03e3/test-directory-73295c5b-fb7a-60a7-c8f0-c78b0fdb209a/test-file-b9b09ead-6bdf-bd81-730a-8f9fe2422606?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBC2C1C4C\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:48 GMT",
        "x-ms-creation-time": "Wed, 21 Jan 2026 20:57:48 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-e87449dd-2b36-8dc3-fe93-9ee468ed03e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:47 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1221260804",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
