{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-50bad006-fd6e-5158-49f0-65996aac8351?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C6569477122\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-50bad006-fd6e-5158-49f0-65996aac8351/test-file-62dc77c8-1329-95ca-6b62-e64eb1ff2021?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C656972F41C\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-50bad006-fd6e-5158-49f0-65996aac8351/test-file-62dc77c8-1329-95ca-6b62-e64eb1ff2021?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Y+dJZ5asjlujlA9Vx/G5lKdweL0Hdt2hxpfM5H2ooAZOPgOvbOFedR5JaN7MNoJo7ZncFMIL7+wJp6D+4Kne+/QJB4jtCijFEQKevg7/1JAVY/fjy4xDQk4XpsRBX5V1am3qwy/6e+JxFwLAbTHdCtMQ6Xyx+y9oxcQ51mRjhLJtKVOhFBFgG+gVcrSJgtUdOZvwMHYYw289gv1qwaR+DZNQU0TePPbCr86UnIl63kLuG53IclQ7VGXjY5ET9llDlmQhOC+RP/ykLoCngyfmwqS6fKUHtZo/FP7e+tllr7l0UAUkWaUTXNygJETTlNA9/aDtWHm0POHJ4SQwskQjP3/GMzMhw[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-50bad006-fd6e-5158-49f0-65996aac8351/test-file-62dc77c8-1329-95ca-6b62-e64eb1ff2021?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C65699326D4\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-50bad006-fd6e-5158-49f0-65996aac8351/test-file-62dc77c8-1329-95ca-6b62-e64eb1ff2021",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:24 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C65699326D4\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:20 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "Y+dJZ5asjlujlA9Vx/G5lKdweL0Hdt2hxpfM5H2ooAZOPgOvbOFedR5JaN7MNoJo7ZncFMIL7+wJp6D+4Kne+/QJB4jtCijFEQKevg7/1JAVY/fjy4xDQk4XpsRBX5V1am3qwy/6e+JxFwLAbTHdCtMQ6Xyx+y9oxcQ51mRjhLJtKVOhFBFgG+gVcrSJgtUdOZvwMHYYw289gv1qwaR+DZNQU0TePPbCr86UnIl63kLuG53IclQ7VGXjY5ET9llDlmQhOC+RP/ykLoCngyfmwqS6fKUHtZo/FP7e+tllr7l0UAUkWaUTXNygJETTlNA9/aDtWHm0POHJ4SQwskQjP3/GMzMhwWn+px/IZ5FWa4Auof05eFZAvxQkW3eB4qqYfOTEDWCdHDs37rFa7NVPcnajAhFH6scphnMe/GbxfcR1MOqskV0fkITBAYmk5dM/1egB3eCYUJIcm4ftfx/URXHs5bvqouEYhHKMheg+hKCf3yd+75/k3OBYkPXWMhFl7LsYuAAYVDIG6FltC8qp3hfmTaD4VlbRCAjbkhLrQVFhJ5gsJcygh4r0dwdFdtEVrrHe8ORxbJZlRq/4PMIgG6cHDOQxfblLRcYVA95PjJE3xeNhDVFt77oCxt8cqErH1FxgPmns5DH4kqodW2m4FroewHfevg1VmhwpL7bZL518Ti+C7k4oSuGyaXqmUJRRSq8l/ufT6RZOCqRMw7R7HmMMoQ06Nids9XaVLFWTr0mI2OUGtDG2qWQYM+Sq24csNkoXma6HFxSIuQhxPbzAu1paxOrPdWoyVvioIQJDwhruaPUKexWaAMHRfvsoRWuoWHeKTxecXcHg5EK23/URRPfugtXGtj9Ev8Qp/vdvCRGM/8mLuXICUgszKpbT5CDLvzkEOsKW4aE3RZBTcl/KcNsxKt8shouE6y/Kk4yocdujXj69a85O9h4nU3Phr9+sabm7obpAnjmtf0+SzE4Vj9O1rxQgDAUM4jPBBTMYoztQHinS7c8gYr8FEOx/vCrQEsSgLADKi1yzrr+Gf5kGldwUQq0kQqEDlExVG/sZjSYI8fJud3Y7hZLNHj4QmuMl/nsPanl8q88inJezdHBgmiGZfY6nlx1l2bwbVyNj8/ppMByACSKsjEUjTNvfhxEhbIQddxxUfmdeqpG9YFOrv6mdSURU4JD+7fFIg0tBhVGr+eufRXzeFLK1IV+Q7yvxd4wxQj3NzYzzH4oqDPobHCRAEWdoDHotvzWRnr4xbf3GVwu+EEMT3itfqybxswi3mQQ6UN3DiGsSA4MIOy7NwbKMZLXuXQzgLDM7CWBUOwss2QW59xwgAs6grAzAC6L8kelzZU5TyTz4WSSpiH8Kvg=="
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-a32e82ec-2f30-2ca4-3c29-637e13c464b6/test-file-62b48dc7-36b3-d021-b7f7-b505b6221210",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 12 Feb 2025 19:34:23 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:24 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C6569EBCAE4\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:20 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
 [...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-d373269a-a2f4-797d-3b85-92629e118024/test-file-e4340450-df15-f65e-2885-e18ef71b4015",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 14 Feb 2025 19:34:23 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:25 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C656A426568\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:21 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
 [...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-d519384e-bcaf-1166-938d-db848ffe1a11/test-file-16c74bbf-84e0-ce40-21e3-bb744a9db7f8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C656A9C6198\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-d519384e-bcaf-1166-938d-db848ffe1a11/test-file-16c74bbf-84e0-ce40-21e3-bb744a9db7f8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD4C656A9C6198",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C656A9C6198\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:22 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-21b26410-b96f-ed13-f39a-b480e5e5aa42/test-file-80c9aede-7bed-d931-fb78-a899ef6d6158",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:26 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C656AFECE3C\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:22 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-5b6c3c64-bbb1-7d55-1a81-4a8b07397181/test-file-7bca30f6-6a63-44aa-629f-cadc238036ec?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:27 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "33a5911d-7c64-4197-2eb0-346a29c89568",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C656B5248A4\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:23 GMT",
        "x-ms-lease-id": "33a5911d-7c64-4197-2eb0-346a29c89568",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-5b6c3c64-bbb1-7d55-1a81-4a8b07397181?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-13T14:34:23.2701685-05:00",
    "RandomSeed": "526712448",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
