{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-4a7eb851-68fb-f26c-0d41-3cefb5deb6b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C656112C902\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-4a7eb851-68fb-f26c-0d41-3cefb5deb6b0/test-file-7b692e5a-6dc5-c383-7aa2-562f4496e458?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C656123FBDC\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-4a7eb851-68fb-f26c-0d41-3cefb5deb6b0/test-file-7b692e5a-6dc5-c383-7aa2-562f4496e458?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EtY+zfmYMfilAnbXne/6qi28vfSeOwYQS3d9UIvFE0+CPGohJUWGmY9H1afE/BxqeiIfrcar79bPLoKBGuFt3+8mVGCE2IXnNSRlV2VeS05bEtVopmWI1k2TUffDBH6t2fW4nae85aGdN3eiRpdxcOIzJggLBDmJnn0S8IeOJDCmuH5vpq2mni0zym/u5ZC2IuEUkN12odW8L/4qqfQaDxNH/I4ZAco0jIja1znKmrnsXM2meZNSLxaos3avfPQ4Gbtbp+kCnSEW4ARVm8qb8pRFPU0ndJZ/9Mx3cE5ThQ+Tor5+bvPQ6r6sj5mP/ZRLDcDiaT+mEKQl3LIcii3Twlv0wfgLH[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-4a7eb851-68fb-f26c-0d41-3cefb5deb6b0/test-file-7b692e5a-6dc5-c383-7aa2-562f4496e458?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C656141286C\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-4a7eb851-68fb-f26c-0d41-3cefb5deb6b0/test-file-7b692e5a-6dc5-c383-7aa2-562f4496e458",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:10 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C656141286C\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:06 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:06 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "EtY+zfmYMfilAnbXne/6qi28vfSeOwYQS3d9UIvFE0+CPGohJUWGmY9H1afE/BxqeiIfrcar79bPLoKBGuFt3+8mVGCE2IXnNSRlV2VeS05bEtVopmWI1k2TUffDBH6t2fW4nae85aGdN3eiRpdxcOIzJggLBDmJnn0S8IeOJDCmuH5vpq2mni0zym/u5ZC2IuEUkN12odW8L/4qqfQaDxNH/I4ZAco0jIja1znKmrnsXM2meZNSLxaos3avfPQ4Gbtbp+kCnSEW4ARVm8qb8pRFPU0ndJZ/9Mx3cE5ThQ+Tor5+bvPQ6r6sj5mP/ZRLDcDiaT+mEKQl3LIcii3Twlv0wfgLHYSgdVOPe+X87/Y4K2ONcRvP7JEZWZFAs1+R2Mw+mzubQPA8QfTsF5W/KO285F7KRVE/JdVm8cPyYMHz/aIYvlO7nOtyUTAn4tT7WjCjhM8Ax5J7/nZmNU4sSeEy+Bnzp2mZAEdzV/QgGEIAapeTT9vy8zYPnMDdVWecRgdP9Oq7CLLGCoOHjHCeW+U0Zcq3mPoFPwXj4wqpu6vf1hDt0SNXRWLkzEVXambGcUHaqe+c5a0NSbTk1ySnHU7Yp7ZfsYnC3CBo0sy1rtWeHHLJzhK7QvFi34ducm09Pa72fsKwZsC3GM3PNBLhV5rfRruy3k87HGTE/dEBU2myKpUdvi8S7baxEbZF7A7egYjtjyyyi15fu2Fd7GnvtcVjHAl9w5lrzVgEAMyY9jBW5nxIFMQ9AJ82vgPNtAFNwlzx4c8EYL3vgsHTrYqSxsQxBwXtpqAAJhxqRwWVnRhXtz5vpxVhUoW+WZICaVIVpPc+nK37Xxu78Lqymhm4WeSpfPZLIh6vz7WALkwN/r3KVKMOVwBqW1citLdar7drBgCtWO1cyYHYjs34ezHOrfL96EV2qQLkPyCeKW5nVSD9FChMYKXPboshNcgyceAmVAbFXMdx9Vz9yRnMvaATcDmt+2YIgk1MLnm6VXQ6sc0/d9RnovlYix/LTpeLArDrDsWPhXZ6HdG4eC5Nt5/owxdLjEXLq85AVG9GPDO2wCvJz0euqyxXxVoCrinKC9R/44uAP3VqH2L2TjAGM+GeArcChOhYORjq9MfryPyldUmbx1moNoC1Xq/kuFz8UZJ4ZKxxyIbsJqpylUuuf1dmUNnna2yH9sw2TSY4dIC87qI0cmNQNKzCr6CvNaA1Bt5XfmiCFOUm8W7gOnpgs7IptaeoegzzFRwtJLzM2MArAUZH4PYYOtm9DoH1b/kxYvvthYD5jIzSZGhLVfApWRittDg0GNK8EXvN62uL/aUi+8HA3lNAMXW6dXyNzOXpk7RpSLvA/UopMXQELKAgRmbCKA=="
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-0d9044a2-c98b-eb3c-fdac-e6cf7be04fe5/test-file-735b36eb-a036-683d-911c-e89504efc9ce",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 12 Feb 2025 19:34:09 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:10 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C656193F764\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:06 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
 [...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-f0351c2c-1a84-4165-e493-621e64fe8f5c/test-file-9bac16df-5fdc-3ca2-8326-81f2d1e3109e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 14 Feb 2025 19:34:09 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:11 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C6561E75D3C\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:07 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
 [...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-32f5c34f-f9c0-11d6-825e-b04bdf72ddd5/test-file-28dcacd3-568c-9191-846c-73d0b63b41c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:11 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C65623A1A28\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-32f5c34f-f9c0-11d6-825e-b04bdf72ddd5/test-file-28dcacd3-568c-9191-846c-73d0b63b41c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD4C65623A1A28",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:12 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C65623A1A28\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:07 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-d02e446d-b160-1b1f-a4e7-b3edfd33d469/test-file-97da6ed5-1dba-a9d9-f543-84965414798d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:12 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C65629B9BC8\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:08 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-ac65f213-4f5a-c555-25f4-6d1f0e865ec6/test-file-73db1a9b-7134-7999-1656-f41f2b96a895?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "420a502c-1a3d-90ad-3a3a-e4393b93f82e",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C6562EED0B4\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:09 GMT",
        "x-ms-lease-id": "420a502c-1a3d-90ad-3a3a-e4393b93f82e",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-ac65f213-4f5a-c555-25f4-6d1f0e865ec6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-13T14:34:09.9617633-05:00",
    "RandomSeed": "946950569",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
