{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-a01b1db0-71b4-51d5-6ac5-6d2ed0243c34?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC18902F658B7\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:28:58 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-a01b1db0-71b4-51d5-6ac5-6d2ed0243c34/test-file-e9f13f9d-4ce1-4b81-4a79-1c63b3cc0894?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1890305E74C\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:28:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-a01b1db0-71b4-51d5-6ac5-6d2ed0243c34/test-file-e9f13f9d-4ce1-4b81-4a79-1c63b3cc0894?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "2R5vGaVBkIj4YKPGh2hDmgYJHDty00bIKYydyoGALfz5IZTwX6W+0AMqb41WF9fj1gyehOO5VgXYpvAYo8UHeDOmzWbUUjtgSkw3SGS4chK0uvR04qgZQMqOGLi1pSw+IvdasElxDoPRPTmWgQ6hHzTdY+jRkpaKjI2bRTqCq6Ug+SVsXcHIQ6xwo6Rugr687PiE10FDbJBh0CO71shITpKUdofoNMJzFCA8YO7xHAnO3llC/tNj3IyUC42dDWzjJ1QS2Qw307c2EcIhBwyhb7Qa7fdvBlC+MZr7Uyk01QezWTia3kL9lwuhC+0RQdWA85vZgx91cyEEU6hyPH+OATu6ba3TB[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-a01b1db0-71b4-51d5-6ac5-6d2ed0243c34/test-file-e9f13f9d-4ce1-4b81-4a79-1c63b3cc0894?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1890321BBF8\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:28:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-a01b1db0-71b4-51d5-6ac5-6d2ed0243c34/test-file-e9f13f9d-4ce1-4b81-4a79-1c63b3cc0894",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 22 Aug 2024 02:29:04 GMT",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-f70be855-ffc7-6e99-de04-119eee11d947/test-file-6f841e31-6046-ef5d-d6fe-61f691558b4c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 20 Aug 2024 02:29:04 GMT",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c46425d5-601e-00f6-1d71-f3d424000000\n",
        "Time:2024-08-21T02:28:59.3428449Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-bf9551b7-2827-e9ef-aae3-b042642696e9/test-file-7c17efc7-ae2f-ebb1-2a5e-826621f7c7a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c4642664-601e-00f6-1671-f3d424000000\n",
        "Time:2024-08-21T02:28:59.8882753Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-2120fde0-e12d-5fdd-e193-8c4e5c6068c7/test-file-08fcd958-bdf0-b67f-d482-edc4a5dc0d0a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:06 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC189041D4D24\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:29:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 21 Aug 2024 02:29:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-2120fde0-e12d-5fdd-e193-8c4e5c6068c7/test-file-08fcd958-bdf0-b67f-d482-edc4a5dc0d0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DCC189041D4D24",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:06 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-fa9a7071-6ba2-512a-3e7e-d7197e44098c/test-file-6567565d-023b-0a8b-1cba-df58d9bcb835",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:06 GMT",
        "x-ms-lease-id": "116b21d1-fc69-c42e-ee15-523221912a74",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:c464282f-601e-00f6-2271-f3d424000000\n",
        "Time:2024-08-21T02:29:01.1186060Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-fa9a7071-6ba2-512a-3e7e-d7197e44098c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:06 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-20T22:29:04.1626690-04:00",
    "RandomSeed": "1309369370",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=Sanitized\nencryption scope\n\n"
  }
}
