{
  "Entries": [
    {
      "RequestUri": "https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA0347FB7EA\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2/test-directory-eae8ac08-fab6-e79d-8b17-e9fd11415c73?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA034F09859\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2/test-directory-eae8ac08-fab6-e79d-8b17-e9fd11415c73/test-file-5a0dcafc-4ad1-128f-d5d2-cf854ce7c547?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r--,other::---,mask::rwx",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA0350387B4\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2/test-directory-eae8ac08-fab6-e79d-8b17-e9fd11415c73/test-file-5a0dcafc-4ad1-128f-d5d2-cf854ce7c547?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Hkt9Wqt7USeLi71pn/mvsZdQ3WEvbxKw5SyYsiPeGOiRjncXpuDULJmRyqrIMCN6DgDKGdd17K45zHV/454ErXLU1xCBlwu2e7DHnqVn57UIHaMiFP8RHKLJ3dprVEn7jB039FkS\u002BXb1E50mrU4J0eS/d8X74ZlywrpuuLkxSydnzBGHL/Jc9SQsLQBi629Uvwz1rN2E/6uExTKfpEC8xMh2vuE8gaHxYoGgzrOYENZKGfitO55J48xlA2rAvVDkb2k46yyNFz5qA0lb4zH467RbVIpHD4gpLNsU1343MaUwvF5JYCWpvAK6QzhV7QCbbRe2ZGnFnGDhDr9ReUC/MtGk[...]
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2/test-directory-eae8ac08-fab6-e79d-8b17-e9fd11415c73/test-file-5a0dcafc-4ad1-128f-d5d2-cf854ce7c547?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA0351D3DFB\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2/test-directory-eae8ac08-fab6-e79d-8b17-e9fd11415c73/test-file-5a0dcafc-4ad1-128f-d5d2-cf854ce7c547",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBFAA0351D3DFB\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-acl": "user::rwx,group::r--,mask::rwx,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Mon, 11 Dec 2023 23:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxrwx---\u002B",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "Hkt9Wqt7USeLi71pn/mvsZdQ3WEvbxKw5SyYsiPeGOiRjncXpuDULJmRyqrIMCN6DgDKGdd17K45zHV/454ErXLU1xCBlwu2e7DHnqVn57UIHaMiFP8RHKLJ3dprVEn7jB039FkS\u002BXb1E50mrU4J0eS/d8X74ZlywrpuuLkxSydnzBGHL/Jc9SQsLQBi629Uvwz1rN2E/6uExTKfpEC8xMh2vuE8gaHxYoGgzrOYENZKGfitO55J48xlA2rAvVDkb2k46yyNFz5qA0lb4zH467RbVIpHD4gpLNsU1343MaUwvF5JYCWpvAK6QzhV7QCbbRe2ZGnFnGDhDr9ReUC/MtGkKibSrouPsZeIjctQ1D7beWlmgMw8ayD9aFFmWEPB\u002BhBmscLZyL6LJ7PSPA\u002BVkTq[...]
    {
      "RequestUri": "https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/test-filesystem-b02a9946-1f03-901b-90e0-c9a84d4514a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1726408414",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhl5xscnby3pev24ax\nU2FuaXRpemVk\nhttps://hl5xscnby3pev24ax.blob.preprod.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=hl5xscnby3pev24ax;AccountKey=Sanitized\n\nXClient\n"
  }
}
