{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-673eade8-841f-61e9-f62d-4ec90def2ea3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C657A2FB064\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-673eade8-841f-61e9-f62d-4ec90def2ea3/test-file-e66b6cee-e5d5-9d38-ee32-2ac05292c7c5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C657A3ED1A8\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-673eade8-841f-61e9-f62d-4ec90def2ea3/test-file-e66b6cee-e5d5-9d38-ee32-2ac05292c7c5?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pJ46u0LHr0F9y9Bww8cAZ4eaKr8WMlxx8VS88WrCz2+fA33BVepx2J+Wfnw+LBbVYNXlCfxPpnFCyMntCr3Xuvth0cBKPhGcKVIggLTfM8U+55GV3cZzUF0Lf4wgg83hv8OA3VtWiiHDSN+qLya9Y5UEriMsQtw17YBiP7+FfKaFPsDxXlVq6Fxv0ZXnyCE3Thz2HNSptHzmS+/a80tiPcw4JfBlywQ/mcbGvXBHTSVfKvCjjl/R24lEChNmkPQRDJTJrqIw0oIXtoIO4vcLn/3Je8lav65sZ0pmIMHx2QnRtbHcfZ+CLldui9jcwviSOGsVnRUrtkzlXEZYybLBJt15PC1FL[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-673eade8-841f-61e9-f62d-4ec90def2ea3/test-file-e66b6cee-e5d5-9d38-ee32-2ac05292c7c5?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C657A5D14C8\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-673eade8-841f-61e9-f62d-4ec90def2ea3/test-file-e66b6cee-e5d5-9d38-ee32-2ac05292c7c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:52 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C657A5D14C8\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:48 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:48 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "pJ46u0LHr0F9y9Bww8cAZ4eaKr8WMlxx8VS88WrCz2+fA33BVepx2J+Wfnw+LBbVYNXlCfxPpnFCyMntCr3Xuvth0cBKPhGcKVIggLTfM8U+55GV3cZzUF0Lf4wgg83hv8OA3VtWiiHDSN+qLya9Y5UEriMsQtw17YBiP7+FfKaFPsDxXlVq6Fxv0ZXnyCE3Thz2HNSptHzmS+/a80tiPcw4JfBlywQ/mcbGvXBHTSVfKvCjjl/R24lEChNmkPQRDJTJrqIw0oIXtoIO4vcLn/3Je8lav65sZ0pmIMHx2QnRtbHcfZ+CLldui9jcwviSOGsVnRUrtkzlXEZYybLBJt15PC1FLyFeRkxx7DTWkKRR1OdV2zv0pv5k9iFYKmSlrGT7Y4XKTAlJt1bIusoXD8yhBvXKa0uhhZYu4TgABRznyz/P2i0ehofdDCTlK+w0TOdUtiNv20EZWd7vnGvRSLE54e6LSDSfg4Bt7F4mu1mp+pRRrE75d/D9toFOL+ocDMNyrEr9qASytTOjAe7i8p6ERaHXf5xjP2n+jZGzUFOVUd+btA8OrFKPnvcaVnYBG8PiyulJRY0nDm3h/xpz/2TgDbAPRz6PdZlOR+GlSejz/XLO0IZqSwtSc6WhLa03HJ+SOkjF8tOEU1RQ+v2sgcWE7QGopC7ddcKlvNOZ7UfsFytBEg6gLQqfSXwxGVANpvLfHT+rj3dxtMSGHzUA6mYMZOPSam635MD3CVqxrFtxlxbhus8IQIiz0F5KGQ3Vn18WJbVtOjuDJzl/tIUcvwhoFIgfHi+WBCNaH5oQbcqyImr7moamA1zaXZKWiIwClhBV4QSFtYAvfyCSExugc7pvzZEbISSBwhErRMGcAHyWWIiJuovFLGzpyxtlE/BBOenYJ7r75nXr0x7zWXC+k3+k/LqSF7kuqaElMVYJHK8g6grYxNnBm3ETneZt0dP7KzibwBc1riIvqX0Z1rQf4rdv025l5c6l42FJf3nSwdjOKQYdbluX6jzoqBpbp8W89Lsu/f5klkVp9d227C+pXOilS6yuAXRc1+gyfT20SjubjIq9pMPZaZPAtHh94f4NPksytlwYDvNH0SUVMRgItauiGl+k7Lgky+EZ7Uz73/bqJD7xgZPfg36XddKexDd6uP/M28eeaVKTDup6/iCmS/IvKg3ZFjMXw5bhDHbmhgapnjVNLwMvTLvsXnOpZIRe8SrgbpoqoKLMtRgwvVzcrIfj0F/qWBzuAN5R7be/bl4RgxpLBRdsfv2TgXrr/o9eD7HrxZMlc5gN8W672bPqDEa5HjpCkKdwd1JhV9eiAwFP8t4F1KnL7A+BPhSpsaVKqHQzMd9VHH4Ke05BwxzAaw=="
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-7ceaf670-2a79-a3e5-a8a0-41b5995b81ce/test-file-124d7cba-2c81-00f0-2e9d-4a933ad74073",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 12 Feb 2025 19:34:52 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:53 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C657AB23EB4\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:49 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
 [...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-cb747f9c-b089-e84c-e902-12c4e9b8e3b4/test-file-1b26a1d7-3363-f6f6-a069-06e6ec2ae273",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 14 Feb 2025 19:34:52 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:53 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C657B05D50C\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:49 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
 [...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-35bd67cf-d0e2-9895-299d-1c90ac3e8726/test-file-1898cd98-9eb9-cabc-0899-62de294c0cfa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C657B59BF40\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:49 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-35bd67cf-d0e2-9895-299d-1c90ac3e8726/test-file-1898cd98-9eb9-cabc-0899-62de294c0cfa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD4C657B59BF40",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:54 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C657B59BF40\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:50 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-8977e94a-9fd5-81d4-7baf-7006c71f73bc/test-file-6298a613-6c7f-e266-fe1a-182b02ca58c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:54 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C657BBBA710\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:50 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-dae72924-0ab6-9290-5631-dfbc326854d4/test-file-3aad99bc-18fc-a458-1549-52c85c4f9005?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:55 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "336c2387-f492-3bda-0a55-2920af57aef3",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C657C0EB470\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:51 GMT",
        "x-ms-lease-id": "336c2387-f492-3bda-0a55-2920af57aef3",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-dae72924-0ab6-9290-5631-dfbc326854d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-13T14:34:52.0900836-05:00",
    "RandomSeed": "296405148",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
