{
  "Entries": [
    {
      "RequestUri": "https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/test-filesystem-736e50e8-4c2b-a510-3de4-50393d434e89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA02A2FFDFD\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-736e50e8-4c2b-a510-3de4-50393d434e89/test-file-95e22846-f65b-0644-ff65-48247844de0a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA02A3EC670\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-736e50e8-4c2b-a510-3de4-50393d434e89/test-file-95e22846-f65b-0644-ff65-48247844de0a?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "8h3D6yxbQTWYYcwkMM9GuQVTfRS8iYa770lEGqbin7gWD05BwPPPYOdSK6HhAdhakFPQGnDcT2iWCPvjFiaPtsITDiCABfgRgx0sal7l2u5x6YlSEYVIOsDlqrj37EnBwnTfzfK32otavpZTr\u002BQKsS0McSycPKU9y9NfmltAGZbUa6fpBgz7uQ/\u002B\u002BFPu9Ivc2/iK63scJIbPogEeVz8wGqT/f0Q8IashELgdnkRRTtZIg79itS4bt0YgGWMK3GHQzt2u7nVGn7lMadrD/4ZCflMr1tOAzWR148f9GwdHFjNWTc9mol9gAeQFFUxUWLjA3psQ3waNTwF5OQ[...]
    {
      "RequestUri": "https://hl5xscnby3pev24ax.dfs.preprod.core.windows.net/test-filesystem-736e50e8-4c2b-a510-3de4-50393d434e89/test-file-95e22846-f65b-0644-ff65-48247844de0a?action=flush\u0026position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFAA02A555E59\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/test-filesystem-736e50e8-4c2b-a510-3de4-50393d434e89/test-file-95e22846-f65b-0644-ff65-48247844de0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-upn": "true",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBFAA02A555E59\u0022",
        "Last-Modified": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-group": "$superuser",
        "x-ms-last-access-time": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "8h3D6yxbQTWYYcwkMM9GuQVTfRS8iYa770lEGqbin7gWD05BwPPPYOdSK6HhAdhakFPQGnDcT2iWCPvjFiaPtsITDiCABfgRgx0sal7l2u5x6YlSEYVIOsDlqrj37EnBwnTfzfK32otavpZTr\u002BQKsS0McSycPKU9y9NfmltAGZbUa6fpBgz7uQ/\u002B\u002BFPu9Ivc2/iK63scJIbPogEeVz8wGqT/f0Q8IashELgdnkRRTtZIg79itS4bt0YgGWMK3GHQzt2u7nVGn7lMadrD/4ZCflMr1tOAzWR148f9GwdHFjNWTc9mol9gAeQFFUxUWLjA3psQ3waNTwF5OQquSYOyBVOmbLK329vzytTvercYIYsPPT1rNzYtyP3O7WlUsrhhUxD5rusFCALAHBUyntRKYRh[...]
    {
      "RequestUri": "https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/test-filesystem-736e50e8-4c2b-a510-3de4-50393d434e89?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Dec 2023 23:23:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1277512240",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nhl5xscnby3pev24ax\nU2FuaXRpemVk\nhttps://hl5xscnby3pev24ax.blob.preprod.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://hl5xscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=hl5xscnby3pev24ax;AccountKey=Sanitized\n\nXClient\n"
  }
}
