{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-8aa4e687-1a1c-4bc0-373e-3a79a5000f8a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C656325B7FE\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-8aa4e687-1a1c-4bc0-373e-3a79a5000f8a/test-file-d0507e4f-2e8b-2c13-ff37-0ce7145f6b80?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C65633A3208\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-8aa4e687-1a1c-4bc0-373e-3a79a5000f8a/test-file-d0507e4f-2e8b-2c13-ff37-0ce7145f6b80?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "oyJekZXDs+7c1hTAdEkPJBkmaYcuyuXOXOTMDGzovcrnS9MZtJR9TGvjZ83+HMeLFwcH6ULuK9g8kDWw9qaB8xhK2Sl29nCEqBwcSmMYz0AdQfVl4NSI+B/73SRfzFbEYnO1tEKeFSGXg0Al0uF1JMD0k7WxGxNDwuAJehlMJdvGV+fvYhv9fyzUzV2UYiU9hrhjajmhE0ZgcfFilJoIS11kX3r6hcGl9xSI3E61r2C7y/Rg6LqiJESgj/Epm+qRzIIALwKqQwD3vXIlGDb4q8GRpsilp2Kjwjo2WfbPe1wp9hDLtYBdEIfzaSpHfAwOqOQvmPQi6yQgXG3IdOoKJ0IW/CElL[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-8aa4e687-1a1c-4bc0-373e-3a79a5000f8a/test-file-d0507e4f-2e8b-2c13-ff37-0ce7145f6b80?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4C6563573BFC\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:09 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-8aa4e687-1a1c-4bc0-373e-3a79a5000f8a/test-file-d0507e4f-2e8b-2c13-ff37-0ce7145f6b80",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 14 Feb 2025 19:34:13 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:13 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-5c895f01-49a1-1cc8-a9f8-dd453051a755/test-file-2ee59d05-28d8-e01e-ee17-e301e0fc3f3d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 12 Feb 2025 19:34:13 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:14 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:330033ed-401e-002a-7c4e-7e7e7a000000\n",
        "Time:2025-02-13T19:34:10.4559011Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-ae395f91-37ea-e4ca-404d-6a7a7deef01d/test-file-944a1694-d6de-fba9-58d5-cff708e48631",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:14 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:330034bd-401e-002a-294e-7e7e7a000000\n",
        "Time:2025-02-13T19:34:10.9936746Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-898cc4d1-f856-9e95-b6a3-c0d25a118391/test-file-0e748968-57fd-ce61-0214-bccde67f2ed5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4C65644C5C20\"",
        "Last-Modified": "Thu, 13 Feb 2025 19:34:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 19:34:11 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-898cc4d1-f856-9e95-b6a3-c0d25a118391/test-file-0e748968-57fd-ce61-0214-bccde67f2ed5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DD4C65644C5C20",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:15 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-adc5aaf9-6fd4-36ec-62f1-da6f6c625019/test-file-90b71d4b-5008-1c45-c173-3e1cc909742c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:16 GMT",
        "x-ms-lease-id": "63739656-4a5f-1b25-5ab2-ac40c9b665e7",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:33003627-401e-002a-694e-7e7e7a000000\n",
        "Time:2025-02-13T19:34:12.1371825Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-adc5aaf9-6fd4-36ec-62f1-da6f6c625019?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 19:34:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-13T14:34:13.4442204-05:00",
    "RandomSeed": "1471183573",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
