{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-b942e4d0-b38d-91ee-5d55-2ff74f3fe113?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC18911589CBD\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:29:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-b942e4d0-b38d-91ee-5d55-2ff74f3fe113/test-file-96923fa9-3368-45d8-bd2d-0bc24ce0a65e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1891168AB98\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:29:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-b942e4d0-b38d-91ee-5d55-2ff74f3fe113/test-file-96923fa9-3368-45d8-bd2d-0bc24ce0a65e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "RDwkX4W2BPvRoEJsbHsuFvdY6lxApINugywQBK+jWuqIfC4mIv1RVe4Ca/BtasQS2Q5376E7iZ+5tdxYpgBMLkVX5O9NB/P6B5VtPjiTARho/iqgK2pJTfOObW0g+a/utjyqFYbUxNIafecMzUtnJrPD76fVrAPaDpb8vpqG2Q7lfof76OuSlDlYha6CPH+nJ0a5XQkIGQo5zwfv1wU4lKPZJk/Daz3IMVptfCZUV9EXVZdTzHwE3WR9whnko70zH/AKqRUw47wI8Suumpzj5Xc22IFu5ccm1UnqRqkk446dOVw1Sa675nHbSttQVULImtyhrso7xTop5NTMRZ0T5A2dEGA/r[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-b942e4d0-b38d-91ee-5d55-2ff74f3fe113/test-file-96923fa9-3368-45d8-bd2d-0bc24ce0a65e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1891186563C\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:29:22 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-b942e4d0-b38d-91ee-5d55-2ff74f3fe113/test-file-96923fa9-3368-45d8-bd2d-0bc24ce0a65e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 22 Aug 2024 02:29:28 GMT",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-eee738ee-41da-0f06-938f-3c97db1604c3/test-file-50126a22-cb97-8439-3afd-efe2b9b9c718",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 20 Aug 2024 02:29:28 GMT",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c46447da-601e-00f6-7d71-f3d424000000\n",
        "Time:2024-08-21T02:29:23.4833812Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-8145ad64-627f-ee19-68d2-b59a95cb127e/test-file-b37a9f69-a535-9728-0549-82a8717729a7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c464486f-601e-00f6-0271-f3d424000000\n",
        "Time:2024-08-21T02:29:24.0245012Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-cc35406d-f9f0-155f-38d9-c5e542451101/test-file-a013761b-efbc-efc8-31ef-d1db78357cef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:30 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC189128029F0\"",
        "Last-Modified": "Wed, 21 Aug 2024 02:29:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 21 Aug 2024 02:29:24 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-cc35406d-f9f0-155f-38d9-c5e542451101/test-file-a013761b-efbc-efc8-31ef-d1db78357cef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DCC189128029F0",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:30 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-6df5f011-b23b-5ba4-143e-c3a5ced18877/test-file-3deea7f9-5953-0d5c-3d0d-aa0cbf08fd34",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:30 GMT",
        "x-ms-lease-id": "82997ce4-78c4-e783-0925-5042bae25411",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:c46449ea-601e-00f6-4e71-f3d424000000\n",
        "Time:2024-08-21T02:29:25.2335429Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-6df5f011-b23b-5ba4-143e-c3a5ced18877?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 02:29:31 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-20T22:29:28.2971887-04:00",
    "RandomSeed": "258615957",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=Sanitized\nencryption scope\n\n"
  }
}
