{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-066f8460-5743-b64a-1272-8ce0d009f0d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC02972C6\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-066f8460-5743-b64a-1272-8ce0d009f0d6/test-file-37372c3c-a14e-feaf-9ab6-d501cf757bf9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC05200A0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-066f8460-5743-b64a-1272-8ce0d009f0d6/test-file-37372c3c-a14e-feaf-9ab6-d501cf757bf9?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lza3sK2PvLry5oHGDtYrzopGkJ8XJDuZiVPmWgV91kdCFNxTjDeYwHQ22LNo8ao2dtGKbKyaHHL6HSdaqWG1dRA5hPr52EJSrdAr4EyHMZeor+Qz82qaqPdqWG8QPhcSgWKjL2yvPJ2PN77cbjsmcuyPsfl9gYKmntwDj3/SQm65GV/p5AEq+XNGpLurvjm8Q+WDgI0dlP/g/ZCQrK0evPRQI1TcPY7qZLeGN93H++CiRkyZT8Hhm4RfCOdwmk3GKOfGWpvk4AVXmRzVl10hGQKw7WVghG0zb4fQfDSmecpqwA/1AKBEvWZGQrWlCwQmPe/lwK3oZaN6k+sUFGTQsB9Ra9dOL[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-066f8460-5743-b64a-1272-8ce0d009f0d6/test-file-37372c3c-a14e-feaf-9ab6-d501cf757bf9?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC06C6574\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-066f8460-5743-b64a-1272-8ce0d009f0d6/test-file-37372c3c-a14e-feaf-9ab6-d501cf757bf9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 22:55:22 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-3f1552da-ecf6-959a-a661-892ad2edab4c/test-file-a1514aaf-6882-2aa8-a544-3f0ce4dbf1bd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 22:55:22 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:cf9925c5-201e-0024-1564-b88912000000\n",
        "Time:2024-06-06T22:55:25.3767550Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c70bfb95-b0e5-842d-effe-652063dba13a/test-file-883d5e00-7cc0-21b0-b4a0-118a69923c8a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:cf99279a-201e-0024-2d64-b88912000000\n",
        "Time:2024-06-06T22:55:26.0725673Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-dec93b91-b573-f416-0ee7-dca666cc4f38/test-file-404f4b57-43f2-bc8d-3a8b-4c428d4aba03",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867BC1945F04\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:55:26 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-dec93b91-b573-f416-0ee7-dca666cc4f38/test-file-404f4b57-43f2-bc8d-3a8b-4c428d4aba03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DC867BC1945F04",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1f3de3e4-0dfd-8fb2-49f1-f9b797ff2d63/test-file-8708a614-eec8-2c10-3348-1ef524459a82",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:25 GMT",
        "x-ms-lease-id": "b3575710-3f86-0a1e-3d88-0d3af2b982b8",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:cf992aa6-201e-0024-7264-b88912000000\n",
        "Time:2024-06-06T22:55:27.4534489Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1f3de3e4-0dfd-8fb2-49f1-f9b797ff2d63?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:55:22.7369536-05:00",
    "RandomSeed": "299262634",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
