{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-96bf0699-f330-baac-7ed5-f6d367ded5e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC7B6C69F\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-96bf0699-f330-baac-7ed5-f6d367ded5e9/test-file-cd996197-a012-0d24-f50c-78e6a360c47a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC7CAEC04\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-96bf0699-f330-baac-7ed5-f6d367ded5e9/test-file-8f899d96-a638-24db-9fb4-dd9a4169998a?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:35 GMT",
        "x-ms-rename-source": "/test-filesystem-96bf0699-f330-baac-7ed5-f6d367ded5e9/test-file-cd996197-a012-0d24-f50c-78e6a360c47a",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC7CAEC04\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-96bf0699-f330-baac-7ed5-f6d367ded5e9/test-file-8f899d96-a638-24db-9fb4-dd9a4169998a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867BC7CAEC04\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:55:37 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ff4c1490-42fe-75c1-1370-f241102fe519/test-file-531c0ed1-d273-765f-8a1a-47fa0ad1d372?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 22:55:35 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:36 GMT",
        "x-ms-rename-source": "/test-filesystem-ff4c1490-42fe-75c1-1370-f241102fe519/test-file-eb9fcef8-b110-9ecd-4724-c4475a5e6119",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC8453FC0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-15ae9a1f-7fe5-8a4c-d242-3ba3ff37c505/test-file-09840f96-a0c7-70ab-fa69-9655ee0c7142?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 22:55:35 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:36 GMT",
        "x-ms-rename-source": "/test-filesystem-15ae9a1f-7fe5-8a4c-d242-3ba3ff37c505/test-file-4703c326-3e95-640d-a2b1-ed3da912fcb8",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC89140C0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-b204fb01-e7ef-6d2f-9c64-65edfabf94e2/test-file-065aabbb-a9ab-83a5-70b7-4cfc292c46d0?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867BC8EE885C",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:37 GMT",
        "x-ms-rename-source": "/test-filesystem-b204fb01-e7ef-6d2f-9c64-65edfabf94e2/test-file-d9e975fa-ab4f-4bc4-e5f0-184d9cc8b805",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC8E37304\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ceb23eba-6342-179f-2095-0dc84d076831/test-file-f7bc5ece-c9cc-e889-a4ae-aa35aaf0bd2f?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:38 GMT",
        "x-ms-rename-source": "/test-filesystem-ceb23eba-6342-179f-2095-0dc84d076831/test-file-bac627d8-e5e6-e349-b715-0ff579bc4b52",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC939CE3C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-946391e1-d92e-4c5d-a4c4-f7c8d55a1b80/test-file-5f59ec39-3871-c7df-b83d-f3d0b55b631a?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:38 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2c3fa0fa-3b75-4a8d-e5b8-67611b051729",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867BC98C028C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:55:40 GMT",
        "x-ms-lease-id": "2c3fa0fa-3b75-4a8d-e5b8-67611b051729",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-946391e1-d92e-4c5d-a4c4-f7c8d55a1b80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:55:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:55:35.4137802-05:00",
    "RandomSeed": "520512657",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
