{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-77cc1831-ad0e-e228-b86e-cd15ac5e5fc4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:59:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C4ECA8E1D\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:59:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-77cc1831-ad0e-e228-b86e-cd15ac5e5fc4/test-file-b64227de-0f68-aaef-97bf-cab90a59c44c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:59:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C4EF68008\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:59:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-77cc1831-ad0e-e228-b86e-cd15ac5e5fc4/test-file-b64227de-0f68-aaef-97bf-cab90a59c44c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "aeobednohfbmucbaqabh",
        "x-ms-blob-content-disposition": "pwolpjgdbmhyufbuynmc",
        "x-ms-blob-content-encoding": "oaxidlvytpdrkyecoclt",
        "x-ms-blob-content-language": "wjmtxcrpbgbcmyrpxfid",
        "x-ms-blob-content-md5": "8POjQYMNOrNkqOuCZfk98g==",
        "x-ms-blob-content-type": "ngjlionubxfvcseemdka",
        "x-ms-date": "Thu, 06 Jun 2024 22:59:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C4F0109D8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:59:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-77cc1831-ad0e-e228-b86e-cd15ac5e5fc4/test-file-b64227de-0f68-aaef-97bf-cab90a59c44c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:59:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "pwolpjgdbmhyufbuynmc",
        "Content-Language": "wjmtxcrpbgbcmyrpxfid",
        "Content-MD5": "8POjQYMNOrNkqOuCZfk98g==",
        "Content-Type": "ngjlionubxfvcseemdka",
        "ETag": "\"0x8DC867C4F0109D8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:59:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:59:23 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-77cc1831-ad0e-e228-b86e-cd15ac5e5fc4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:59:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:59:22.0264717-05:00",
    "RandomSeed": "855313001",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
