{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-d8c9eb79-c6bc-7779-746b-1f775b6a0ecb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBE7CE7AA\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-d8c9eb79-c6bc-7779-746b-1f775b6a0ecb/test-file-27e8e750-ea69-adb3-bd23-df6f9cdb756f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBE863E54\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-d8c9eb79-c6bc-7779-746b-1f775b6a0ecb/test-file-27e8e750-ea69-adb3-bd23-df6f9cdb756f?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:51 GMT",
        "x-ms-permissions": "rwxrwxrwt",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBE8E8DE0\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:52 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-d8c9eb79-c6bc-7779-746b-1f775b6a0ecb/test-file-27e8e750-ea69-adb3-bd23-df6f9cdb756f?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBE8E8DE0\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:52 GMT",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxrwxrwt",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-d8c9eb79-c6bc-7779-746b-1f775b6a0ecb/test-file-27e8e750-ea69-adb3-bd23-df6f9cdb756f?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FBE8E8DE0\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:52 GMT",
        "x-ms-creation-time": "Wed, 21 Jan 2026 20:57:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxrwxrwt",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-d8c9eb79-c6bc-7779-746b-1f775b6a0ecb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:51 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1275062174",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
