{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3aa8d2d9-0912-7baf-ebdf-65eca1382b47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40ABE6F780D\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-3aa8d2d9-0912-7baf-ebdf-65eca1382b47/test-file-bfe886f2-f0ae-6655-eb2a-cecab348763f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40ABE77C69C\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3aa8d2d9-0912-7baf-ebdf-65eca1382b47/test-file-bfe886f2-f0ae-6655-eb2a-cecab348763f?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-modified-since": "Thu, 26 Jun 2025 17:07:19 GMT",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:515d40a3-901e-004e-28f3-e56de2000000\n",
        "Time:2025-06-25T17:07:19.5109166Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-41c27adc-aa06-fd4b-8b19-8ba3ad4b95d7/test-file-475fcd83-51f4-d540-d3e2-39dba657e465?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-unmodified-since": "Tue, 24 Jun 2025 17:07:19 GMT",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:515d40cd-901e-004e-4af3-e56de2000000\n",
        "Time:2025-06-25T17:07:19.6801738Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-15369ca0-ccae-7c0d-6c69-fcc6b16a4046/test-file-836bb20f-1e6a-b447-648b-7712c6fbf915?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-match": "\"garbage\"",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:515d4108-901e-004e-77f3-e56de2000000\n",
        "Time:2025-06-25T17:07:19.8444531Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-40092c49-9814-554e-b232-0096be3b0cce/test-file-006f10de-0969-902e-b55b-f902287aa64c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDB40ABEC4C7DC\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 25 Jun 2025 17:07:19 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-40092c49-9814-554e-b232-0096be3b0cce/test-file-006f10de-0969-902e-b55b-f902287aa64c?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-none-match": "0x8DDB40ABEC4C7DC",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:515d4151-901e-004e-33f3-e56de2000000\n",
        "Time:2025-06-25T17:07:20.0684706Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3cfab348-a167-542f-6cbb-2105d43d759e/test-file-830c3797-6907-663b-fbaf-0a74efc087ab?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:20 GMT",
        "x-ms-lease-id": "b83f0fe5-7531-007b-811d-cdad0a16b3e6",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:515d418f-901e-004e-66f3-e56de2000000\n",
        "Time:2025-06-25T17:07:20.2417091Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-3cfab348-a167-542f-6cbb-2105d43d759e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:07:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:07:19.3832852-05:00",
    "RandomSeed": "1664746254",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
