{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8DC3DE2\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7/test-file-48db542f-d9fc-9348-c2b5-8d70ff6fb839?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8E6BD54\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7/test-file-48db542f-d9fc-9348-c2b5-8d70ff6fb839?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "kdYTv5hKTz8cSUHmtOp0YKdFLT7foGpj5cXB8r0NgFiLYhytQ8W15ASbLLKYYd/YQCzJukJ6WvBrr9nTiF2CDsjpW1LNxxzhj0g5Q3S3y4Tm6bGQRMUVEAcrQZPr4lunGB3prgWNCnkQ5yr5QBZ8tONU7Z6r8soC00pKooWI9a3skipWzRx+Wd84gFybHNDwroyvlvW8/CZT5tu7Qmfzh/F9DK7sJebH1pS/c3FtZ7d6WfT42V63MJYDA+ZBwhZ4RPlrHQ8iBIim6MBh/Yi15X8kQehz+q6SxdwX6CH/hhN9Ry54AkqoWFVrUvCeVjINTh5nHIEtBElL2FcyChxmpmKs47ZZP[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7/test-file-48db542f-d9fc-9348-c2b5-8d70ff6fb839?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8F72E79\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7/test-file-48db542f-d9fc-9348-c2b5-8d70ff6fb839?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8F72E79\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-acl": "user::rwx,group::-w-,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7/test-file-48db542f-d9fc-9348-c2b5-8d70ff6fb839?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8F72E79\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-creation-time": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-43ac59e3-939b-4ccb-f37a-3c50edf1cef7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1872768867",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
