{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:41 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB89B7CA1\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f/test-file-5c77999b-e9e5-da70-13ee-dd9845e9410f?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:41 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0057",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8AA13F4\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f/test-file-5c77999b-e9e5-da70-13ee-dd9845e9410f?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:41 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "+0na1/85bH7UnN8Lik0BBlNSUZTYSUImlCGoxAnN4VuBdpk2ojCXYi35h0gKZU/F7dZF8pitNrEHs0PekKd1BruDihS0ymQiu+5n38L6HC/R49YyiO7D0z/oL+7tudGFhIGMhts7ESNyIzapRVfvDZYUDK3RQ37MwLbUy5p1NAEd4VtAbZZUltKyv2S3GY7o+CJY2a0ktEACv8YkZ0WJ/e41jGT8rp8AwHXaHoMZFaYo7NN3HVtU+C0aPa7PLy+NKcJ2go0p7EmDVxk3SZa96aof/HpyEeCS4ZM34XHxMJBGTfTBo5IZ/v+J9MVCHK+WXFQDsDK0Gxfh46H68grYkiaI8fuh+[...]
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f/test-file-5c77999b-e9e5-da70-13ee-dd9845e9410f?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8BB8B75\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f/test-file-5c77999b-e9e5-da70-13ee-dd9845e9410f?action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8BB8B75\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-acl": "user::rwx,group::-w-,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f/test-file-5c77999b-e9e5-da70-13ee-dd9845e9410f?action=getStatus",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE592FB8BB8B75\"",
        "Last-Modified": "Wed, 21 Jan 2026 20:57:43 GMT",
        "x-ms-creation-time": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwx-w----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-6070f6eb-2ff4-70d6-5fa1-70eaddfcf51f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Jan 2026 20:57:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "360378839",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
