{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "ba2a03fa-c4db-4521-8ea3-8064074fa9c5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "sessionId": "f1c9b68d-1d0e-4f50-8f04-8c5c6fb57fe5",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/f1c9b68d-1d0e-4f50-8f04-8c5c6fb57fe5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "id": "f1c9b68d-1d0e-4f50-8f04-8c5c6fb57fe5",
        "createdDateTime": "2024-04-18T09:26:49.8029108+00:00",
        "authTokenTimeToLiveInSeconds": 600,
        "deviceCorrelationId": "ba2a03fa-c4db-4521-8ea3-8064074fa9c5",
        "sessionExpired": false
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/f1c9b68d-1d0e-4f50-8f04-8c5c6fb57fe5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deviceCorrelationId": "ba2a03fa-c4db-4521-8ea3-8064074fa9c5"
  }
}
