{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:34 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:34 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "zzza0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027zzza0\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "zzza0"
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?%24filter=TableName\u002Bge\u002B%27zzza%27\u002Band\u002BTableName\u002Blt\u002B%27zzzb%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:35 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza0"
          },
          {
            "TableName": "zzza1"
          },
          {
            "TableName": "zzza2"
          },
          {
            "TableName": "zzza3"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?%24filter=TableName\u002Bge\u002B%27zzza%27\u002Band\u002BTableName\u002Blt\u002B%27zzzb%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:35 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!32!enp6YTIBMDFkOWJiMmMxZTQyMmViNg--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza0"
          },
          {
            "TableName": "zzza1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables?%24filter=TableName\u002Bge\u002B%27zzza%27\u002Band\u002BTableName\u002Blt\u002B%27zzzb%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026%24top=2\u0026NextTableName=1%2132%21enp6YTIBMDFkOWJiMmMxZTQyMmViNg--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:35 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza2"
          },
          {
            "TableName": "zzza3"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
