{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables?%24filter=TableName+ge+%27zzza%27+and+TableName+lt+%27zzzb%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza0"
          },
          {
            "TableName": "zzza1"
          },
          {
            "TableName": "zzza2"
          },
          {
            "TableName": "zzza3"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables?%24filter=TableName+ge+%27zzza%27+and+TableName+lt+%27zzzb%27&%24top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!32!enp6YTIBMDFkYjIwMWY5ZDE5ZTFiYQ--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza0"
          },
          {
            "TableName": "zzza1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables?%24filter=TableName+ge+%27zzza%27+and+TableName+lt+%27zzzb%27&%24top=2&NextTableName=1%2132%21enp6YTIBMDFkYjIwMWY5ZDE5ZTFiYQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza2"
          },
          {
            "TableName": "zzza3"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "zzza0"
          },
          {
            "TableName": "zzza1"
          },
          {
            "TableName": "zzza2"
          },
          {
            "TableName": "zzza3"
          },
          {
            "TableName": "zzzb4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('zzza0')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('zzzb4')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
