{
  "Entries": [
    {
      "RequestUri": "https://azuremlschemasprod.azureedge.net/latest/MLTable.schema.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u00220x8DB6A4A37FAB4F8\u0022",
        "Last-Modified": "Sun, 11 Jun 2023 07:05:20 GMT",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "$id": "http://azureml/sdk-2-0/MLTable.json",
        "title": "MLTable specification",
        "description": "An MLTable defines a set of instructions in order to build a table of data.",
        "type": "object",
        "properties": {
          "$schema": {
            "type": "string"
          },
          "type": {
            "const": "mltable"
          },
          "metadata": {
            "description": "Infomation about the MLTable",
            "type": "object",
            "additionalProperties": true
          },
          "paths": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "file": {
                      "type": "string",
                      "description": "This specifies path of file containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "file"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "folder": {
                      "type": "string",
                      "description": "This specifies path of folder containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "folder"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "pattern": {
                      "type": "string",
                      "description": "This specifies a search pattern to allow globbing of files and folders containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "pattern"
                  ]
                }
              ]
            }
          },
          "traits": {
            "type": "object",
            "properties": {
              "index_columns": {
                "type": "array",
                "description": "Sets the table index using existing columns. This trait can be used by partition_by in the data plane to split data by the index.",
                "items": {
                  "type": "string"
                }
              },
              "timestamp_column": {
                "type": "string",
                "description": "Defines the timestamp column of the table. This trait can be used in filter transforms, or in other data plane operations (SDK) such as drift detection."
              }
            }
          },
          "transformations": {
            "description": "Defined sequence of transformations that are applied to data loaded from defined paths.",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "read_delimited"
                },
                {
                  "const": "read_parquet"
                },
                {
                  "const": "read_json_lines"
                },
                {
                  "const": "read_delta_lake"
                },
                {
                  "const": "extract_columns_from_partition_format"
                },
                {
                  "type": "object",
                  "properties": {
                    "read_delimited": {
                      "description": "Reads delimited files from provided paths, splitting them into rows and columns based on separator.",
                      "type": "object",
                      "properties": {
                        "delimiter": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2,
                          "default": ","
                        },
                        "header": {
                          "type": "string",
                          "enum": [
                            "no_header",
                            "from_first_file",
                            "all_files_different_headers",
                            "all_files_same_headers"
                          ],
                          "default": "all_files_same_headers"
                        },
                        "support_multi_line": {
                          "type": "boolean",
                          "default": false
                        },
                        "empty_as_string": {
                          "type": "boolean",
                          "default": false
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf8",
                            "iso88591",
                            "latin1",
                            "ascii",
                            "utf16",
                            "utf32",
                            "utf8bom",
                            "windows1252"
                          ],
                          "default": "utf8"
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "infer_column_types": {
                          "type": [
                            "object",
                            "boolean"
                          ],
                          "properties": {
                            "sample_size": {
                              "type": "integer",
                              "default": 100
                            },
                            "column_type_overrides": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "description": "single column to be selected"
                                      },
                                      {
                                        "type": "array",
                                        "description": "list of columns to be selected",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    ]
                                  },
                                  "column_type": {
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "boolean",
                                          "float",
                                          "string",
                                          "int",
                                          "stream_info"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "boolean": {
                                            "type": "object",
                                            "properties": {
                                              "true_values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "false_values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "mismatch_as": {
                                                "type": "string",
                                                "enum": [
                                                  "false",
                                                  "true",
                                                  "error"
                                                ],
                                                "default": "error"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "datetime": {
                                            "type": "object",
                                            "properties": {
                                              "formats": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "date_constant": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "formats"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "columns",
                                  "column_type"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "default": true,
                          "additionalProperties": false
                        },
                        "path_column": {
                          "type": "string"
                        },
                        "partition_size": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_parquet": {
                      "description": "Reads parquet files from the provided paths using the defined options.",
                      "type": "object",
                      "properties": {
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "path_column": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_json_lines": {
                      "description": "Reads JSON lines file from the provided paths using the defined options.",
                      "type": "object",
                      "properties": {
                        "invalid_lines": {
                          "type": "string",
                          "enum": [
                            "error",
                            "drop"
                          ],
                          "default": "error"
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf8",
                            "iso88591",
                            "latin1",[...]
