{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/registrymanagement/v1.0/registries/UnsecureTest-testFeed/discovery?api-version=v1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3705c2df-e717-406e-b13c-81e368707cdb",
        "x-ms-response-type": "error",
        "x-request-time": "0.260"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "User/tenant/subscription is not allowed to access registry UnsecureTest-testFeed",
          "messageFormat": "User/tenant/subscription is not allowed to access registry {feedName}",
          "messageParameters": {
            "feedName": "UnsecureTest-testFeed"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": {
                "code": "UnAuthorizedRegistryAccess",
                "innerError": null
              }
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "35bd8ca393be79e8b681f6ff6c88e633",
          "request": "1fab4358f3e0550f"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2026-03-03T18:44:02.8756251+00:00",
        "componentName": "feedmanagement",
        "statusCode": 403
      }
    }
  ],
  "Variables": {}
}
