{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/UnsecureTest-testFeed/discovery?api-version=v1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "acbe4594-94ce-400b-bb11-393be3cad4fc",
        "x-ms-response-type": "error",
        "x-request-time": "0.113"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "User/tenant/subscription is not allowed to access registry UnsecureTest-testFeed",
          "messageFormat": "User/tenant/subscription is not allowed to access registry {feedName}",
          "messageParameters": {
            "feedName": "UnsecureTest-testFeed"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": {
                "code": "UnAuthorizedRegistryAccess",
                "innerError": null
              }
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "87122d36ed24eee5fb6d0cfe617f610a",
          "request": "6c370bd5c9acbfb1"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2026-03-27T04:22:06.0405+00:00",
        "componentName": "feedmanagement",
        "statusCode": 403
      }
    }
  ],
  "Variables": {}
}
