{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1578?api-version=2023-11-01&label=label-1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-fzA8TQNzpMVoDeFl1wCYHv5ojYnnB-vDmL7kpIXYK0\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjA3MQ==;sn=115292071",
        "x-ms-date": "Thu, 28 May 2026 21:53:02 GMT"
      },
      "ResponseBody": {
        "etag": "-fzA8TQNzpMVoDeFl1wCYHv5ojYnnB-vDmL7kpIXYK0",
        "key": ".appconfig.featureflag/name-1578",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1578-2?api-version=2023-11-01&label=label-1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjA3MQ=="
      },
      "RequestBody": {
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targetin[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag/name-1578*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjA3Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5y1pTW0JAQIiiypvJ667d15oe_rTDlgenmjkOPmnavs\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjA3Mg==;sn=115292072",
        "x-ms-date": "Thu, 28 May 2026 21:53:02 GMT"
      },
      "ResponseBody": {
        "etag": "5y1pTW0JAQIiiypvJ667d15oe_rTDlgenmjkOPmnavs",
        "items": [
          {
            "etag": "-fzA8TQNzpMVoDeFl1wCYHv5ojYnnB-vDmL7kpIXYK0",
            "key": ".appconfig.featureflag/name-1578",
            "label": "label-1",
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon,[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1578-2?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjA3Ng=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjA3Ng==;sn=115292076",
        "x-ms-date": "Thu, 28 May 2026 21:53:02 GMT"
      },
      "ResponseBody": null
    },
[...]
