{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1274?api-version=2023-11-01&label=label-1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1274",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"axq0_RHEw_EkQPFgu8vQ4TFAS4RT0tjGeNAXiQ9Bc4o\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:41:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA4MDY=;sn=75060806",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:13 GMT"
      },
      "ResponseBody": {
        "etag": "axq0_RHEw_EkQPFgu8vQ4TFAS4RT0tjGeNAXiQ9Bc4o",
        "key": ".appconfig.featureflag/name-1274",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:41:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1274?api-version=2023-11-01&label=label-1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA4MDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"axq0_RHEw_EkQPFgu8vQ4TFAS4RT0tjGeNAXiQ9Bc4o\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:41:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA4MDY=;sn=75060806",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:13 GMT"
      },
      "ResponseBody": {
        "etag": "axq0_RHEw_EkQPFgu8vQ4TFAS4RT0tjGeNAXiQ9Bc4o",
        "key": ".appconfig.featureflag/name-1274",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}],\"requirement_type\":\"Any\"},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:41:13+00:00"
      }
    },
[...]
