{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1422?api-version=2023-11-01&label=label-1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1422",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1422\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}]},\"display_name\":\"for display\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RJl3nSh-0YF2vztlc2CjvRa8yMXd8UH90JlE5mWsQ7U\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NjE=;sn=75064461",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:51 GMT"
      },
      "ResponseBody": {
        "etag": "RJl3nSh-0YF2vztlc2CjvRa8yMXd8UH90JlE5mWsQ7U",
        "key": ".appconfig.featureflag/name-1422",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1422\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}]},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1422?api-version=2023-11-01&label=label-1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RJl3nSh-0YF2vztlc2CjvRa8yMXd8UH90JlE5mWsQ7U\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NjE=;sn=75064461",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:52 GMT"
      },
      "ResponseBody": {
        "etag": "RJl3nSh-0YF2vztlc2CjvRa8yMXd8UH90JlE5mWsQ7U",
        "key": ".appconfig.featureflag/name-1422",
        "label": "label-1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"name-1422\",\"enabled\":false,\"description\":\"I'm a description\",\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}},{\"name\":\"FilterX\"},{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"group-1\",\"RolloutPercentage\":25},{\"Name\":\"group-2\",\"RolloutPercentage\":45}],\"Users\":[\"userA\",\"userB\"],\"DefaultRolloutPercentage\":40}}},{\"name\":\"Microsoft.Percentage\",\"parameters\":{\"Value\":25}}]},\"display_name\":\"for display\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:51+00:00"
      }
    },
[...]
