{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-be45cfa8-95fc-28a6-6a67-9709f0a2250a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB1F76288C\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-be45cfa8-95fc-28a6-6a67-9709f0a2250a/test-file-b7aa5009-7c80-5148-8a75-7249e008b1ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB1F896F2C\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:49.7411884Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:49.7411884Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:49.7411884Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-be45cfa8-95fc-28a6-6a67-9709f0a2250a/test-file-b7aa5009-7c80-5148-8a75-7249e008b1ad?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "vqLErrRPjz7Zj9GfA2kIHC\u002BvlSYT8XTI\u002BZtKBg466\u002BSTphsla9VQucBr3fCrqU4gbFYaMXKLmc0u\u002B7QZBYkwnqTsC11N47BaX9xlqBOEHVBNKZm4ILpyCAxO93AgN7Q3Oz9Lvp3x0ommv9GWJfG5qd1jy9vvd37pegJR/\u002BtAOScnLWzUOF6zW1YQEWDo2\u002BIalU2SvGvYSMPAYkSaoNOdZYaqbviE5XB/sG\u002BE32YdAZ4gNmmdrXy7TuWpE9YaGLuDcqvaPm3qla/dEwz7VGldo2Glemlp/7cJ7h8S29GaZZi0AWy6Q8IxNqG6wJpwwPp8THB1dJ5SGXLz0U9N17rdQq1zR1L8omCec0PIrz4dmC4klo5hJfD6Yuj5xnFy5F7m3H3s/HiogKkP1gBaiWk01jghKEAsfB29eeVqAtzu[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-be45cfa8-95fc-28a6-6a67-9709f0a2250a/test-file-b7aa5009-7c80-5148-8a75-7249e008b1ad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB1F9B94EE\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:49.8601198Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:49.7411884Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:49.8601198Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-be45cfa8-95fc-28a6-6a67-9709f0a2250a/test-file-b7aa5009-7c80-5148-8a75-7249e008b1ad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:50 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB1F9B94EE\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:49.8601198Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:49.7411884Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:49.8601198Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-be45cfa8-95fc-28a6-6a67-9709f0a2250a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "180057563",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
