{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7D643120\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d/test-file-1d6c228d-690a-1c90-e869-82f565b4bd58",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d/test-file-1d6c228d-690a-1c90-e869-82f565b4bd58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7D72119F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:50.3413151Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:50.3413151Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d/test-file-1d6c228d-690a-1c90-e869-82f565b4bd58?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "qNLZFUe1ryxtMImuqmIOR4p+kzxgx3Py0YOGcyOdIwmRvuNHRRj913I/r9rf4XKFWztr5iGB9+Bf50TELzwI0Ax/Het+xgFxgLvJIBiYEvAQABfnMjzoEMYC517UOKg1Nt/NX8SGBpQ6+mZlt9fIxtRUtC4lIZ7Qlw0kfN+jnUcSlOo5y7IrifmCrTfVg1jvOiCJf4R5EBVB/Mi3Yoq1ll0fUyPsj/siKCo0o3Nm+xS0NEK/Gh3CmITU98/pdCdvzRfati81AqolZldaRW2i2gG0Ai1I9Xw/XbqfGJcrObMDxdZbjEXkfjGXmrPGaFMXMh3NNHH5J9ebmlh1luoS+S2jVoCWRk680IT7sFvIefRniOV6XQRCCZ3+wPLsb+hHhaCGIhHTgOzOEWTt/nd70iBkDQ4El5spYU3imIVc0GGctCq7QlbjlAf5q0ygVAsmg+3Rh2HZQu0EXMHE8OdmckECUUlMwJDJgXkGC+xPiQxBvBWXikgAwnE9tuWVHqMgkjgLnQPB2cJdCAbn0zcBtdO1gzPSz+j4Ao/YDwqrNGLW5nizQ+sJf+NSOoFCGO45PAAR35tvTcNQE5p06cq4stOkEe2/TXHorANQgJRmtuqgn9IJmVTGZpm0YzBRlJYYmYiunQcBeu6PKTOYH8wv6Vyw1En3rxh/3atTCupAlhc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "THIpELCCUMO7pTB2P/y9Wg==",
        "ETag": "\"0x8DDC4CE7D762BB8\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d/test-file-1d6c228d-690a-1c90-e869-82f565b4bd58?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7D7EADAA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:50.4239530Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:50.3413151Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d/test-file-1d6c228d-690a-1c90-e869-82f565b4bd58",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7D7EADAA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:50.4239530Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:50.3413151Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d/test-file-1d6c228d-690a-1c90-e869-82f565b4bd58",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "ETag": "\"0x8DDC4CE7D7EADAA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:50.4239530Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:50.3413151Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e892d6de-28ae-1cd4-248d-503577e8248d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "305433836",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
