{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A2ABE62E\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A2ABE62E\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c/test-file-cfb92316-a768-e439-b525-2163e0f5a326",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c/test-file-cfb92316-a768-e439-b525-2163e0f5a326",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A2C4F781\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:16.3640705Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:16.3640705Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c/test-file-cfb92316-a768-e439-b525-2163e0f5a326?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "CkG3IUIB7kBtjg8a3Vl7u5ep8Vfyap72TmYOOIvjFwM6Dto7s49hFTV4YdqXHwZcqmXLNgRLM6CjwdPc8rW1incM389+PwgHR9sieQjEXi9gso4lF+D+7to6l/K8hSJ/w9Zjiz833WpdxO4oKbmX32Kke0Anj3OWDfH0Q6cWS8G4o7YxYNLvKdQjyFPx1sUho7iPGAriVzNjzH1NQpnCR3ksb4UDZX6PtFJrA8cfpDcs06DvhjK31kuCzpRVouY7YYDaxWY/HT05/2O3d1RsQydGIW7508BGdJk6gZbqOhJrMKJGRd/R7LVitofP/1/3FYpsDoB3QY7AlFDNBZymT8RRTEexJv1IdTS4lxw5dnU6QmsLfSyS8+4UhrGPA+cZu2fCfrMYRu+NJJlLvqpxhh3bk8IwmtGYvlhYnZ9MuXFNn9u1dvjCIfx7flmSRjREov+Us3Al6SCVKr9av6hPQWoo/h/PuxAkGXHFtBx3BXgkFPqgtwUAJ7a6H0s5Z2JUKz3uakgVdefucJr/YDQEHiVHNauur4llJ9ZpFJzE6rEOcYjeiJovD58TsUdqAMeCtgEm8jG2pXyziUJxq2FKKoXp8O+rJZWKFyYMm/5C+icP512anfh/WMsMKv9YvmM9yIfBgQ/Y1pFsnNsLqgp9cY8bYcQDsIyNapgjnvqWMljCztN3gXkXNxDMLgEcdK3BjrlvPFyfOhf6NBd3tDeW1mqCSNs2BvAWBCqzN4KLcPXqYQ9BJvX8I5S7fExhoILYNleXmivSiojJWTcy6wKVb8MhjFMnVLB0hiRHe4mjtGSn2gEq9NbKGNaHd8y+yTeRJQ2IQBMvsOGnIhMHiw/+JqXTihEBa3vtV3R8oN3jtbzttVV8GnNQeCkfgtHCwo3HiVEm6z8mkLqSm+mfsxADxGxWGtW5ggsxghLn4empKpTmtBaLvMp9xiWb6X6KscQZHL5kbKi3DgdF9WgsP67Q6HBVuP/5eAeh2FOwHZiNp9FNzsUqRb7rL6UPRsdiUId2ygEONfjFH6O2wpNVB/FuuE2X33HopaOyaYlZ6jE/P4fLOVKXfnLYh64hdIIqlSe0oI15y3EWjSRdW8tvbDRyd4MLis6e1znbvlfCxzEgiNRhpUqkxnQWtKstOSOmaRt6r/z/HgtZFchUnQwZVMbzPNP2DsfqzbAO9dUjcJ4WNFU8SBc0IWnIB4+BUCho/WDkOvxQsFpUj+FM8Ck2NqQqPWm23AyuvhtpLgY3aX2Ipvd0PjahxYT66Lg26DFAktDqVhK+sSBUNnzh54FUHCZjw0kxwfhuiHjku/RTeNXqKJw1TBJryfXXIAi5wN4CpsuS0iXnD9DYfM6a2vUsAb6n9g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NF1FfJE+5lCG04jNuXVI+w==",
        "ETag": "\"0x8DD8801A2D538EA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c/test-file-cfb92316-a768-e439-b525-2163e0f5a326?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A2DA3C50\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:16.5034576Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:16.3640705Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c/test-file-cfb92316-a768-e439-b525-2163e0f5a326",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A2DA3C50\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:16.5034576Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:16.3640705Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c/test-file-cfb92316-a768-e439-b525-2163e0f5a326",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD8801A2DA3C50\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:16.5034576Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:16.3640705Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-471ef3f6-2eac-1ffd-d243-4854a98dc54c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1725283716",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
