{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF6DBB45DF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF6DBB45DF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf/test-file-b21b72a6-2332-c1d5-df30-8a4033f232a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf/test-file-b21b72a6-2332-c1d5-df30-8a4033f232a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:30 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF6DE485FB\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:55:28.6581755Z",
        "x-ms-file-creation-time": "2025-04-30T15:55:28.6581755Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf/test-file-b21b72a6-2332-c1d5-df30-8a4033f232a9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "/FRdD/T8RmCex4KZchCEjLA21FF1CP9F/HM8SEQmjxTupyoc9GBiqiu7FGuhPE/Oq/2Q/B7gM/NUGBOAwP0beDdtqsrlaJdP1ColuvSTo8Akbp1GlpP2DXM3x9xM4ektn5w0NJKE6ENlQCj0u3n/wHVTXFFg1OGjdpxXrqG7AvJA9xpYXm4tn4ZZ4FZrAlL6NwZn+YSYzcu6kb31LTmiqj01tMNepmIGJbzLBvOLOHRJXHaaVAltpypPns2xN3JMtzYZNU2Pm5GkYNTIzcbXLlhIrNHCB1Y0xwyYDwiUVe1Kfk+9cgMmusDl9vM0pdpkeG91aIuhirDf5G5B9oyIEAvnfk53GbtVIfIQ3BFj/yExNJeZHu1hqPSf3Y2U5cM0XebnTSeM7F6zIEaZka2efOVMD8H07vEehdVa2DwuwDwu238re7L6pUg55v6myBdGAGCoR9UCP270yMdRMRQhhV8JarUucwAyUmp5uwjzeLy+FNfbhXhnLJsQNrLrqXQzF2CenF1hGIxfdfVqiYNmAFAKkx08Rf/noj4ZHjxNR6n2RaSnVdteXPxLew+C/KIYqjZh4BVW99FhtvofR/lQEi5MdEPfvqt1qzYh8cnvZKabAXQG62eTn07SRp7hPxUC+mnhNYdfOOuK7DTfNQUIcVFTg0WFSSbGudX1DHcMlGs=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "RhEJPw/Oj7HxcRLu/T9Hiw==",
        "ETag": "\"0x8DD87FF6DEAE76C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf/test-file-b21b72a6-2332-c1d5-df30-8a4033f232a9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF6DFEF526\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:55:28.8314150Z",
        "x-ms-file-creation-time": "2025-04-30T15:55:28.6581755Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf/test-file-b21b72a6-2332-c1d5-df30-8a4033f232a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FF6DFEF526\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:55:28.8314150Z",
        "x-ms-file-creation-time": "2025-04-30T15:55:28.6581755Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf/test-file-b21b72a6-2332-c1d5-df30-8a4033f232a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:31 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "ETag": "\"0x8DD87FF6DFEF526\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:55:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:55:28.8314150Z",
        "x-ms-file-creation-time": "2025-04-30T15:55:28.6581755Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-68251785-c160-f66d-3ab8-86c6e22a18bf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:55:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "71486748",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
