{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F4EDAC18485\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 17:45:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904/test-file-737f04a0-1d0d-decc-bf2c-ff5ea1bd7651",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904/test-file-737f04a0-1d0d-decc-bf2c-ff5ea1bd7651",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F4EDAD8BB8D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 17:45:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T17:45:27.7448077Z",
        "x-ms-file-creation-time": "2024-03-28T17:45:27.7448077Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T17:45:27.7448077Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904/test-file-737f04a0-1d0d-decc-bf2c-ff5ea1bd7651?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:25 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": "Ju4GOyWCHOAbdmGX8QSNevISEJyVcVkkyii3uw9QrrKe6iKuCepVHueeWJa8NO26noRrjq3avLSU4nH8ymHRysev\u002BAbh3nAIvfG19hnCaJU7/B2K5SAExC5uGid5WVSGzY3PDDvm2b8TY9C7JcWb0nnbwc1DRuWmqjTYc8RJjmSdLimL8lxZVCNddoFPSZ9p0ketnpeGQoaoKGEHDWX7ytVsHvacEN8dgmyq5tBkVmGUb6F9m/DMF\u002Bui48r6UUe\u002BYqur4yuozcJnkBsr3Fy2RNEAcp7DfS7loAYL\u002BSwVIzAl64QkuHM266LfFQvUoDuP7J74\u002Bd6o\u002BuR8xkIkndOVUWzrBvDXkYteyof85GgjEP/Lew2OHSlRfPGgp/EwEk7OScOf6ZpKt1oTmi9XrBV7WbZDWCHGBzRCmYr\u002BN\u002BqaLbg4LZqkhCdlgMSye4P6\u002BdDbJE077bksCEKPXE8QTH9veGx3Hn9719WO3dddE4ywSKC5IhOcXj/\u002BDCRXFSfYVTREQwIWg9pRYE14rA/izvW23hSuVils0xoseBJaI8GutoiiGNCJmcTFaMLGJLEwHD0voDYSKf8L2G/n6grI9jyLyfaHP7UkLEVP6e1mpq5o/FzUKoKLm4yJl0Bgoq\u002B6/HGFOlq7qNyHCnTxw0ARpDHBfu2t88y6AC5p/qh1xIqVlew=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ER39E2NtLCyb/l\u002BOlhtVlA==",
        "ETag": "\u00220x8DC4F4EDAE34153\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 17:45:27 GMT",
        "x-ms-file-last-write-time": "2024-03-28T17:45:27.8137683Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904/test-file-737f04a0-1d0d-decc-bf2c-ff5ea1bd7651",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F4EDAFF02B1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 17:45:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T17:45:27.9956657Z",
        "x-ms-file-creation-time": "2024-03-28T17:45:27.7448077Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T17:45:27.9956657Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904/test-file-737f04a0-1d0d-decc-bf2c-ff5ea1bd7651",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:26 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F4EDAFF02B1\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 17:45:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T17:45:27.9956657Z",
        "x-ms-file-creation-time": "2024-03-28T17:45:27.7448077Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T17:45:27.9956657Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8a560d0b-2e77-186e-670b-5449d22cf904?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 17:45:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1240659124",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
