{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419871080288\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9/test-file-6f51bc85-75c1-8293-256f-844f6a060816",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9/test-file-6f51bc85-75c1-8293-256f-844f6a060816",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4198711906B7\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:54.4778423Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:54.4778423Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9/test-file-6f51bc85-75c1-8293-256f-844f6a060816?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "wWAZwpKCR5aArKZa6B1Pmg0EuceWJeyWnbC2IysOd6m5SDmwR/FrAnW77hXOOZoIH+pCZU1AgJxzgiThyyNqcjT9oJ/jnlIcmbdR2jbXyGQWrgRBzBJcecidPcTNiTZRUHzg0Jn6JICXJcuV7qVlnLrAyx0fKaYioCbXRmGOTw+AAIm69vjKG4mDqqZGxoojOKEKDL4ZMSfWvjByI94eCda8Fe4bqqXC9bCTnH7/29qctA2/g0JQZ85h5DfIWPerZKHPirGcB437SBcNhZWp1uNV1m/QXoWUa60fucZu+Z245zfdMFEoAKyAxDsqQ+E4uA1TcoKI2gYbOh4DfE3HjE56VZ1ey6aSLdXCUJpKaijM5gC4GocbMA0xwfUyJYNeuDfsr+1D2u1nwUSsxYpr0dD1N5VNDnHGXySQLQmxXwhSZJdiXbo6iAwTUFlDbmuCxfAkPe3tEarFJVDJsqzjtmI8WmHzCHQWu6+JOb4Yg/C4DmgZjCIaZFLtnDdpcdVfL5r3BhQKj7x8DYE+ZNfrraJfEKREyik/IfUOBWs8rEnZKQojIX3brn+rnX6g3P97Ae+VCWAxG2Rwt+Qf+4lQP2E4ZDrNx4wkhGElmC2qn0X1kwR8pqLoqA6ls2mYvLL2W10daHfFrjljcIX/DII3xRifKWiE1Jm+T7wrJxQijMevLz3PjTfOMOTKGTUd6ZuMbe1Q+ZNJcYbEXxi6mYYlQOS+T91EaDjh0fiDurtjoWUhn7km0pIzZb22Cy0eE5ZepdhRXpm+RwS0byiaxrbLYL6ymfnM/m5Riuofjl0Lwr1iJRTiEkLLYli1cWJqmZ4H6qpva3qckaZq/9Oun7inqa1qOKCh6U575zahF4wM5vFMGKOym1ZDxZNudxJuHMOfDci0/2H+ZQFc84RD+3kaXhjiYoYV9A5WJ3IMM3E7DcpzAQrEV+ePTbKhVqjSAMoaUxn5i7o8ihi5Xtjv8TGQIea6z/lvVQYxUxTUc55lhCen8t9XQYEPN3fxCvkPoFyBETTBFzDQqv0SyDilaBZ5VNmwR/5RON9lqpiCfUsNIrK4U2Jpo2z21kfhRXlIas5gd7YfXlldL9lVXG2YTiyyBKWG7BW0D7BtunC2b/JmHD/JIQWU7sRZWiOIFEb/XogbL0DTwn65rGgFsqPopr/m7kAtziwmHRbhLJHxK/tpblznm0Cyk1rBD3WdjzwgcLRkoiYG0Y9b9BEp8ZXsyIBtnENHAAp+NFrla763iI7awbvdjYnUYpzMi6cuiKLE1Uf0MPL42HCp5W7LIGXQpGuDTy/aDjv3mDmme3RjT6u4IZZ3wlib4ehLNKcaCEI3++c7qzhy6cYM/Ji5UV37RZXCEw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "AmF+0S8MIc8IBjGm60xC4Q==",
        "ETag": "\"0x8DD41987120A6BE\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9/test-file-6f51bc85-75c1-8293-256f-844f6a060816?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419871275C85\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:54.5717893Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:54.4778423Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9/test-file-6f51bc85-75c1-8293-256f-844f6a060816",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419871275C85\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:54.5717893Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:54.4778423Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9/test-file-6f51bc85-75c1-8293-256f-844f6a060816",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD419871275C85\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:54.5717893Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:54.4778423Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-80cf3eca-6c11-8c45-fe56-0e25f3c55fd9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "937419704",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
