{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC047AEC4DF\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d/test-file-a3edb0d8-7c11-4dd5-9d59-ba62e538b2ad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d/test-file-a3edb0d8-7c11-4dd5-9d59-ba62e538b2ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC047C27924\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:56:20.8093476Z",
        "x-ms-file-creation-time": "2024-07-02T17:56:20.8093476Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d/test-file-a3edb0d8-7c11-4dd5-9d59-ba62e538b2ad?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "26xT6a2FTIXwiLeNOylzKTOh0PRqYFmMYbHzd5Xw5kikSW+fcu5kUmRnsojERxJ05ZEvQ2e9QnpSx4f7ktTwAKJv6PK51LZFPX6QA63Rxxmff5IDwaLg5gb1TKtmaMCPdrLlVF4fuhDa6gbpLT/Mgf9tWxJC7D//jwLsxIcL3tS9AYz763O7gMSBKdac9rnGKMur+A2tTYlz5cVcM/aIzwsyLCuy0ZWMsttOwMNoY5lIJZu8X+bHD7MDhwWtX0zN+FrLasqNFFc1H0YxX4zGC4IsEw5azG8kahx4r0mQ3lOOgMhpnPnOuhBEh0CglbAnPXyCgUs+cizqpv+tFWUNpEDyot7DXG6JXVj9FkQvhNVrUHLNDVwIUA2cf/b5IaWrNuL/rfLSY+AN+STyQVznuyEpQcTyQJfj6lLQJ914jzyzUeBiMNfime2RvxQ4FQ+xtMTUz9/hufZLG8KgAjwDlWnoP+98hYpJR6jXYICDq9VCHnIZo8Bc0pjpFxUVQpewjiqqUNYfNS85iog2CVh1yG/tXePJ6fGpi2xXkm51NAQRJtJW2Fr+IuhC3xk3Jcg/dE6lKOSz56U5AMRpyKPBxFaDJeOGH+8U7jv6hwnXcmWkFx0fzwsgXT8tHNeWlFpFgBvCswDluVVfkDmouWCbYY5exbGGovRKY8ijWQIXflo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HifssrYnCxAhYqSw0HOuUQ==",
        "ETag": "\"0x8DC9AC047CBEDB0\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d/test-file-a3edb0d8-7c11-4dd5-9d59-ba62e538b2ad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC047D450F3\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:56:20.9262835Z",
        "x-ms-file-creation-time": "2024-07-02T17:56:20.8093476Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d/test-file-a3edb0d8-7c11-4dd5-9d59-ba62e538b2ad",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC047D450F3\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:56:20.9262835Z",
        "x-ms-file-creation-time": "2024-07-02T17:56:20.8093476Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a918117f-986d-58e1-05e0-165b1fad161d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1269338499",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
