{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880166FCA49C\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880166FCA49C\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e/test-file-c086a087-5b18-bf73-a2ba-4469e46b7723",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801670EF91F\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:36.1857823Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:36.1857823Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e/test-file-c086a087-5b18-bf73-a2ba-4469e46b7723?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "PhTKfFLco/282NNbKi/OUNitebAddnpE2Pb64NmBd415WiUDEmHNq/yJAz+IGJVy7PSRNvHHBciZhqRc4sIjO2FG4c8Kyj524M6zk3I6vL9gh/Tl70CcsVRcaYu8cck6ZsfeQTbGZyG2GlYjFHJVXsrk+1rOPksgqi96rWCyum4EeS2rXHqJmh/SLtXqeJ3iBgvA13Vuayh8vZcGS7nAA2DoHptFqgJQW2E6+w92NjGSmKdV8uL4lQ0ELp/igk5lEit0AVoCnVwIb3sUNHAYBYZmdLMSaxF974iOQHtjbtkT1OnkAjTXkPpLTIJn5GGc6ykYew2aUqca9xLRc1zgpQGhAF+HNANRj+S5xx6OFgom8VRSSvLMeYFCyQoiBRyeaqeBxeMCFbYmxuwp4YuIi+EHqoIIjloO1YfdRGv4L4nIG1x3DFEnJNudK4QGo5f2uT4pGlqZldxMc+9bJNBLLZZiYcYuEX6P4IamamLWCDLv5osszhUuLoWAKplhy/8KUv3uo0LRyKe/mTrU8it6dmq8bD5FH1+BMzJArufkLhWGnBhk52TwHh7jbTXaWjtZBbQupF/BxTOebG8PkBrA2mslTlYTFo4GzE0gYbEpptn356gztYm1xdblxXv14Y0DI5LJtQzkRe8lKNgRoWSBdMaWF6hxjSThb4iALlATEOvAHD4fYPDME6K5DYyxpCNyZFC1XsnkkpVt50aDZBaeEhjtUYQlYRTVyQQGuH+XMMplDcr/XrEh24qosnipSa6LGvt0xFOeTAI735XF3dkV1bd8HlZLn7Rmy3X6fK6cK39Ve56EI2x3xsDIw34cXP2wk93ALStYP3tHDvjdpNBTn7MVb2I7kbJKBViVg9s1SW54SunR2/5U/TsjPRRzmSHwdCTKBu2bdAEqdSjSwrufEcSJZVnmgcO1wXImGFOe12s2pA+2akOB3NXnp2XWgjqAgytP6TTHCfJhFUR7dFyujJ69nB6s6aaBCIiE/9pd3j83ppUnTu02bpsdVFX+Bmh5ORrHGeUc1JmFzeGsQwoXBDYFQ87Hhj2xhi2DjpVRggEgCsXAlcVZG9L7ooELiiqQBU8e+MKasrPcFZK4mUUENEvfjDlEV25wrCj7y+O8pfsC8olFMok+hVgS44AyoIGM9m02K/7xTK7grUyanubPIG+Wtqa8vwHBoQbgMXPuPQumbtV1hnr9EKbaZIQ9pOdxQ8MQnOra0DZsdIr4ERo68m9A8y8RWZn1maUA4Vp9hPweb+6w3aEhy56eCRHvBf+MoHIU/LC3YOkpGwJF2u/c7vCN2aErihTNHyiRc1CHBZSldEDoaIdMZg8FhsKf3PGuwhogYStdYRZdR9yIJuyZoQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0ze7ZSgXcxKF5mqTDEmH3g==",
        "ETag": "\"0x8DD880167172D45\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e/test-file-c086a087-5b18-bf73-a2ba-4469e46b7723?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880167209896\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:36.3012758Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:36.1857823Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e/test-file-c086a087-5b18-bf73-a2ba-4469e46b7723",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880167209896\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:36.3012758Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:36.1857823Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e/test-file-c086a087-5b18-bf73-a2ba-4469e46b7723",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD880167209896\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:36.3012758Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:36.1857823Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-72a03568-b320-c86d-c775-a76ac809783e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "732599522",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
