{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880866DDDE1B\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880866DDDE1B\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39/test-file-ba508081-37d5-f822-e121-cb84e7f05f61",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39/test-file-ba508081-37d5-f822-e121-cb84e7f05f61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:44 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880866F50B7E\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:42.4929662Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:42.4929662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39/test-file-ba508081-37d5-f822-e121-cb84e7f05f61?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZSwiGBeSrAncd94K6lsQagEOv9ipnX88OJtYaqF8UB4SDJOpqCx379RG3V5YGA6FEWGD2TGGuMes5t98OkFoYCa/997IZsHUls8EYsAh4x+N01k/+Hbsi1PM/MJM+7WS3nw4mCEvvKqfrkJhglYHiwPA7mfoKWev0muK+2r/iJsacoRD6Er+XRaun0o0iwn9xXC/jAxNqbQUiMW1pMBAoCWnRxDRw6O4wZBQOokde0dhjTb5QPuOzMjPL1+ESbhVbf8kjET5KwLNBst7/W8r9w1+UxeKR18pGHpHApNDM3jY+8yJ+O4DaGE0KzkwE89YozdSBvWhyiaf+3PJsSluitJTowGiov8eeuu2Vhsm+QWq7l5c8C2CNjCm6f16ObY3xaFn3W/NtgE4M4sJ6nQKeQFuH8LLEpml0GzR+7gBo0A1f5B6vhuV3ThcI7yheUy7nHD7DBrza7MHwQ0D+7pJN5BK1GrkkLrm2EKKbu/cA1cfFl9HBpcmQRPcc/wOkuF9EussV6Xh1gy1FTPYaP3EKr614+VbAjH4JJJXCB2910ZhDVsDsKyyPj9TkvBjTtkWGEg+WK/7IhC6MzISis3v9z3tdluhwXoSA6WlCHBAlda5QPDUf3+WZepLSHx5n7NxY5qzdtd9dVbOK1QKVRmgep5cWUrdGni+VhFwVXj9mWTyM6TVjB/+O8qZBlMqjA/Rqs3eHEVolEgh9R/GDB/e0JLvFyJ1yu5+Xh5/RBQklMkBn6urH3wfiZ9bs5f/OC+quzXBOnTtW9/fX74n6FA0/WFVxG10MrEV0I6CGRZWfyXv1IjfYllUE0PLzL+++KBPJ7Y2qXTBNoiDq2rmakLIiOCZOBPHVJoHAbApqGbyV9jtM/FgINWxLZ7/XLfvbqgBAkPfJMCNh9MbLqjDmI0ikVOR+TdQaGgK5wt1x/fjF5MHKKYiEjIXX6weRPEt7pQQ3ctkXXRxsJrb1D21GL/bOBcVu3Dn/34gepmLMSN23fl2ZOosf7oelncMRj31YkfsQwzaFzIjKd1NQ+Pb5n92ZPdDPrPVr7lc9iX527hAKxdRnu4XnMXGUjoN3zvWQq/3luFGsiSTF5RSfSANKk4kDBjMikeQXsgxfOt5yNB9hbR1AUTW+njyvYdaxB6kuSjs6NIjCrhoZzcZFDU4Gk7E1fdsmCkJTRKf2cy/NpmpjcPDjd/9Wnv7DZoNveVDuqM4lu8nOCD/4pq/hDDsqDCdb4dxdI1vxnp8cYuO/JAtWx8ph6CpglWixKpEPtZKD2Rpb01e0UUWyc90qsaVcOYKkigRwyCQ8+wyzrDiKoekMWImJYxCzonZE73QNNiODVTEOautOEtD2XtgLAKVM55I0A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "EUx5KgDIKgK2uJxJGubySw==",
        "ETag": "\"0x8DD880866FBBAC6\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39/test-file-ba508081-37d5-f822-e121-cb84e7f05f61?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880866FFD4CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:42.5636554Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:42.4929662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39/test-file-ba508081-37d5-f822-e121-cb84e7f05f61",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880866FFD4CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:42.5636554Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:42.4929662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39/test-file-ba508081-37d5-f822-e121-cb84e7f05f61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD880866FFD4CA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:42.5636554Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:42.4929662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-00083651-85ca-b931-5bbd-829573abcb39?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1560375320",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
