{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16E02CCE64\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853/test-file-3cdc8dc2-e67e-ad7d-9988-4d26251d9d19",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853/test-file-3cdc8dc2-e67e-ad7d-9988-4d26251d9d19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:58 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16E04261B5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:58.9588917Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:58.9588917Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853/test-file-3cdc8dc2-e67e-ad7d-9988-4d26251d9d19?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "BQxmcC4HM3Ddi2LRFMrSWuEvUUxEcrg/bImXl7rJ3eSnLN98YS99u1lrX/KDrJnPtfNF9cxR1ZJTJgOkb5u2FK1+KufqVvmyspbz2BPGu8DwyOLGhOcYVldMKTor2Eu9tUpFBYKx5V76kkM2Xfx/jWtCtKe574/GZdSQnS2/htlKNSPIgLY+PuODzPKj4fhazZzO6SSjBMW7f5+uIUcxOwtq6yjYtwy1BHXENSKdIoTbNdCR8J20pzFeDQEWjx2bUpHmOfbPgRaPGeSu386iHV0b0ut3n0pttUT3eqkKnnVXKOKRt+iNDLO5Ade5Bsdiu++k+r0yJLNHeISx2AdshXpuVrfrEWZ0jcY3vZ1ztK99lb+6ZaO4JQQvST5k3DOsTXxcSq8QdqmJMG32+mYV08TUNENHsR/WtjGyvMcoELGSi28hFmkAbB4VMTU2wSudGnZ5j6fwZZtchpR9XbrhYB+8ZG/287xb1MgkMYDqn/UFFKFRr4AJoSXTxZDVgg5kM9AVel28pye5HbrfzDMbcuaeeEkYkLGfssNJIi4shlK5v/2v1CWYSW16mJHGKdTyuFOqNgnFTKMfdseZcoT5jJZoJg02a53ABi7bnvcf2IjuV2nbglBI83NZkF5e/tbpgAv7XQPHvE216S/b6a2rAJ0+qxsaHgpGHzKZ3No+YghY8h3sJHuFJpocJZkgbQrFrpDAH1K6zmIAtD3RLeBydoYmg/ePv9wiuYSB/vhxJbIo0y1KfkO2nSS66289s/m6qa4S+eoSNe60nmbNOdBpj46LqVmyJ/hDcOXT1dNs5QWLxlRKXivIFZ0/lt/d6GNTUFzhsQqfCIG1z4gEP2AbR7lgQnN8HzBiwpO7c5EZZoiCf4R2izP7677SlY+jxNU9I04mfKXw1zEsfu5245XwnGkAgcDcpbyFZFa1qYqhv/6+fk9C8unjkadSSQxEhQgo4vglokIVYH2RoBhOOy2ni7/wuGRFramAHe8YiluwQd9OjMeRexy7qB7RsVLRlFZ6qr5NU82j4zRPpYVS/dYi4V84AK5mFhCiNA9Gc/xXroiZnt+dYu0Sq6mSQtWXaapIr8/ymJOnE5Suqx+9XW84+Pb8uV/2hH5yJlUF09Q6C8tl/cMsZBb18YpL77fNVE45Wkremq9KUipRgHE+oj/Ac59TV1+rC5PgB8jVqpXGpNEGzHmKW3EcGquZ2+Sktk9Ki3sXev3ujU62/pLndaeVitufN9XGNRguNzyzEjCvO1B5ih8arirUFz4q013eNKUEA1AIBH95hFVi6ELAO3seB8JBbeuHetuxyx+Xm2K7UAKXrw7fpzfR/wXKt8XnFNzDC8yanMe5fIl1Vjlf4ejzpg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rpIBfeHhy/CYsidQDhaBPA==",
        "ETag": "\"0x8DD5D16E04B7F26\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853/test-file-3cdc8dc2-e67e-ad7d-9988-4d26251d9d19?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16E053B345\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:59.0723909Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:58.9588917Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853/test-file-3cdc8dc2-e67e-ad7d-9988-4d26251d9d19",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16E053B345\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:59.0723909Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:58.9588917Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853/test-file-3cdc8dc2-e67e-ad7d-9988-4d26251d9d19",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D16E053B345\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:59.0723909Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:58.9588917Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6ee34808-01a8-7731-3bb5-438b5a653853?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1520566478",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
