{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419879CE8E36\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac/test-file-1561117f-0c10-425b-5656-8c84a278984a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419879D945AC\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:42:09.1595180Z",
        "x-ms-file-creation-time": "2025-01-31T01:42:09.1595180Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac/test-file-1561117f-0c10-425b-5656-8c84a278984a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "UYszzBD2l3LkUiAhC1FiI5A/XuedRikBQSeqvqHxX5baRLKK/HYViHrvML7rOjYE82nzYhqwrQphMYroTNnQ8/OKRsae1yYaKtVtrhZrFgbxpco4/fx8KZenKMrrLDygHj3LYfNvZhxC2DdEQv/09huE96YPl/X2DR0v9q5bLv2YzY/ZoLQSgT+t9STFN+aXszKvZzWWkYZH1FPWQG9u5qo6rHVwG1ZncnZmYaLQMdY2l0N7rMfHAjsIkctgO0DPPg56i4txJ5jbSPS/Ly/kdqN9oKgs8jrjcqk5Z4mKBjY1lyKTVqZLxXCrn2TSCNMLJBso45uYokvUlxjhN8AOUUG+ipcMUCD8Mds4gVPVEGrWLkNtYiKbnPTXv76Nao2wnE4iFH07/tP6LLHAYCH4/oauCgl9oe4eIu2jNZFhbsdNh+UEs/zsmy9vczZw2zzT3sA331+EM/tfA/GPl8hCmb3qctg79EuKwW/ZDS24rkew0FfQKY9oyFTqpK8KXANmLNl4hmhkl+l1rB3vqiXNplWp3sdxcW8tgaqDUVCcgGRsc+BTQCffTDhtW3xyeR4vHf1ZYH479LtqSwS+4UWZ2Sy4gjZEeWYtypKOAxbyuwiLUzRSQh/mMX8l6fUjIGvz04FQufbn66SWLJXrrPCkd4/7Mo0RRpcN0VG3Ho9xCqommy+VogESpGiQvBaJ+oSOgXFlJ+7e4Y3qQ+ikL8wUJCHrxRDBD9WO6I0kgYqAg9bMKZ0dDOK7SLqiql8ZbnWce5f0njV0zXKc1j5guV8Cab8R1wUu9hg/L3xVHmR1dXoYhwbyjOWhWFwrgDajW49bn0CfB5ZvboR/tG65Hq4NJ2HESDFZEN3acH6pA3XinNTt+n4j1W3kqBmBc9d25zqtHVnV3xJdAY9jxZcXxmsPnRiZzCMv6VHz36AY2JwGY4hE++UbDbzBj/jvwBDWzOGucdW+3BsWfTQI4f9yRSnyXGEO08uF85Bc2DwqQChAHRO/aWbHR4ZtLX2wEyu9T0rP/WOvx/kVKH5FYgTe6z0Lx8Tss9vDKxXaoKVO1d9kn4jxW0PFkVUZqUDngeWBjkE/pUtm0JxuC9FO1CZTx1Oe4MN77ZD5RjVv0gmb26ovWBJjDjCU/c7sgk9xdr0uxeLtSKAiBqGxRV4V9/2S0zAnHnsU8LkjCuL0jmpAiM94QAwnrZIJDVJwscjRfgbRWq8fSldBGdUpyj69LXc3cb2OnbbwaiWdHhEopD7wUYzcIzS6ID14NiY3/uNUS9/bOEAKQ+BP4O+JgStGGXWWOHmy4QpDfFB/FmaQuWxCSdIxTWv+5g6rjEJEMZ4RMR2woMVqomrUl7zviix6vyeDRjhZFA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vr9UJ/adNlIuetXy8BXCjg==",
        "ETag": "\"0x8DD419879E0E5B3\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac/test-file-1561117f-0c10-425b-5656-8c84a278984a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419879E81097\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:42:09.2564631Z",
        "x-ms-file-creation-time": "2025-01-31T01:42:09.1595180Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac/test-file-1561117f-0c10-425b-5656-8c84a278984a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419879E81097\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:42:09.2564631Z",
        "x-ms-file-creation-time": "2025-01-31T01:42:09.1595180Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac/test-file-1561117f-0c10-425b-5656-8c84a278984a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD419879E81097\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:42:09.2564631Z",
        "x-ms-file-creation-time": "2025-01-31T01:42:09.1595180Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-dfceabde-0757-9156-49ad-c541697af7ac?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:42:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "292853990",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
