{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7BA748D935\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1/test-file-811a6a7d-9c6f-ab7c-dc06-45fef799ee0e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1/test-file-811a6a7d-9c6f-ab7c-dc06-45fef799ee0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7BA75FAC6E\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:51.9954542Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:51.9954542Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1/test-file-811a6a7d-9c6f-ab7c-dc06-45fef799ee0e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "TzQmZsnAcE1EdYpbmYYt1oiWtw9xE+YNQ5COe9lMLsJMw+mOfzyPvPrMPfoSIBFV2W91YeLenDtNGCM5MvVz90bHD9adnlZMBvoUpNbs+yN+OKFq1szgbSetQWcZVYoFWEWzShE7uDsYKVrnyvdlYB0Au/lTCSF556Gv8FzuMrFwD0uQOLARQoBmUaxy+KMvR+BJGZqQsk8kOmNvjMjeKvepd7qr1Sht7nh57Ld0B+/+f6h8pRkX31z8a/5Nora4iCe1yIDog3K33CohFsWXrzJzcQwfYoXdkZddr2kqH0zCwWOQvj5vFfw1xMju9siWZLzM2TCpmCai2DboitQIjbzeXlVhBvDzBFsQ6Z2875vPxkqtXUUbGCk97uYIhosoLTYLD5dzNV7L2NXVma6I5eibGcOJWzB2w0YsJBgJ633Q57xnsN8EW5Hs4oRwRX56tQj+bW3HntEGlExQRxBFwe1XBbHxITQJlr0xnXmrBn3HsW8PC34QCEnqYRyStBSBpiCXGEDNiJPT9NavlQFYW47PiZahNbVvR/xoB78YduKpsPZYE+09+ijbPBenYXNHkQWOwyp933FrJ9FDZIHUun30BeQLAEegko5txvmeyOaJIHW6irO3K9GF7Owc+ZamB4GZsluOPJG+7TGcEBl3zF/rukMMGTDKPdkShhRbg5g=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0kFs76gvKE/mU0kiGOG7VQ==",
        "ETag": "\"0x8DC8E7BA769BD13\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1/test-file-811a6a7d-9c6f-ab7c-dc06-45fef799ee0e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7BA775060E\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:52.1353742Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:51.9954542Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1/test-file-811a6a7d-9c6f-ab7c-dc06-45fef799ee0e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7BA775060E\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:52.1353742Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:51.9954542Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c1f69c16-e62a-68ce-9ae5-8ad127052bf1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "667425811",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
