{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7BA15D1F70\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634/test-file-35d684b1-90ab-4ded-ca9f-d139d7561b71",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634/test-file-35d684b1-90ab-4ded-ca9f-d139d7561b71",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7BA177A11B\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:42.0861211Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:42.0861211Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634/test-file-35d684b1-90ab-4ded-ca9f-d139d7561b71?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "3b0yfSx+Qith3eLZU5NquW5M6OTGP6gbUnVdUaRc27LIAK9CMoMsMkKr1M2tFPo2NRjKim42q50VFiq3IfGGBAIwEFLkKIfrH7WiG2vabj57JhyMkVBEkVURLBtYdRFQJM/LfQOnUgyQ32q4lJAyOqjsPPrU+nKx63/90/trkqqjUfacD/E609QP+7Lmi/zF3/JzbDkXeylcGZGDqn8RJEzAFUKZlSu2sWgmxf7Ay1+DOPMI+CVwi9XNQPVftylU/dZlJna6K0nHvLvR8bYqm04yAHGLCCwnT4lszFU1V/k/0ccoWqXpyAypQTtqn5ofoqSmLba3yfSqPtbsTl/0kWXBkR/uAkCpSDdk4cfwvLDvTCmwjylDhwfSfRzO/HqttK/WqA16MJ9j/OR+UuctuYEm/QE1RAI7fgoYHIQk20y9ty0XGhOidByKTZJFxDQgpcSaqP94d3CtmioDYhQaPyGYwZq6FZ9ug4nlq/dw9rrV93bAiTJMRUC8aYDpnhEHbw1wrQOaZo8lLCR2k8x5PaNwLmudWrXvS3ta/aweheV33Tvp/0m3O5Hnm10N1rF0QizceHCmahVYgWGHP2jjBqY//raQkD5aufLatr5X4XXK5bt/Qgx00XMmkH7oMPsoBJW2zdj75LLugr9+y7NWAJ/svFqtY8SayyxDaf+/cog=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "TiklZ2WRdD4/LNaSisE16A==",
        "ETag": "\"0x8DC8E7BA181D8C0\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634/test-file-35d684b1-90ab-4ded-ca9f-d139d7561b71",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7BA18EF63C\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:42.2390332Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:42.0861211Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634/test-file-35d684b1-90ab-4ded-ca9f-d139d7561b71",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7BA18EF63C\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:42.2390332Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:42.0861211Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ef0aeb12-7da9-85ef-0e52-12debdefa634?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1200256364",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
