{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB22EACF11\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3/test-file-eee7e822-2406-ae0b-611c-45c592641a15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3/test-file-eee7e822-2406-ae0b-611c-45c592641a15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB2310D8ED\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:55.6617965Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:55.6617965Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:55.6617965Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3/test-file-eee7e822-2406-ae0b-611c-45c592641a15?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "PSvVbirrvTN/qimstjw7G2fynxTyEctWiOih2cLTe3TSCaE0YYJ/Nyuzb1z7X/ck4SleoMQFIytgfuZBSeNxrC\u002B02a2bBrrkcmjpPqJvWinxfPiYdNuwzOV21OKcPu1HQsItRoVKidpveS1bHOWI8SO8UMzq2DdTBAzHJDLXSDR6ofvgQRSjpvIeKPqtVLAA7eO\u002B3\u002B0gXWmK2UF4gmWomDH44HrpqK8PGanazK89pbBcxzZOGGhGWkSRVWjSKiSNdpDItXM2FkU0r8ZERpC5TTOQHLouWX/JsoY1V1JGPO6FTFUfdPA9JrHxGWiiAhOz1wg1QQ5qXxwQ/wLsAL7y7nPXvvo6mthCU/YIPD8WJ69zgYBKEfrgG\u002Bw5DnXtUSXz/iv1y0MYeT0v8u4XYSLd\u002BthTeH4\u002Bp9x49qMNAYxjVQLQFT4TIVtsWghCGx4LyLrKXBSdmtimtFZOfNSfC3exy53sRkvkydl85h12\u002B4y9bC3pQ6V3xropKmDnxKSGzE\u002BQkU\u002BBH4Fu5pM7ILS6MLnKkBCntsjSOQXiwxzq/QQ09RrO5Wk9PE2re1wSPKUGbvmnHTOU3xaHvlhJnlxlg\u002BmOBiqZ7EtPjFTC\u002BztrwP1f3FQjQ9/QoBYERyYR853xRvdzgzV6bIGuV5Df0ePaG/5a6sIHQUAJvmUUlaUkPZi30bU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LeSsY\u002B9anKvd66tNk\u002Bm9GA==",
        "ETag": "\u00220x8DBC3DB231EB996\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-file-last-write-time": "2023-10-03T06:36:55.7527446Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3/test-file-eee7e822-2406-ae0b-611c-45c592641a15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB232C2521\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:55.8406945Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:55.6617965Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:55.8406945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3/test-file-eee7e822-2406-ae0b-611c-45c592641a15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB232C2521\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:55.8406945Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:55.6617965Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:55.8406945Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-96b87d83-2f1e-1826-ef3d-fc5003c1eeb3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1568539425",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
