{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16D6449057\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9/test-file-bdb94e45-22e0-688b-4f8d-117cff1d2492",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9/test-file-bdb94e45-22e0-688b-4f8d-117cff1d2492",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16D65AB231\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:42.3410225Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:42.3410225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9/test-file-bdb94e45-22e0-688b-4f8d-117cff1d2492?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "+Ds8XvjvOCzmS1qZKetcxWra/aiUF7UpUbhsE3vXGb2Z/u0CfMt1VRWN15XI8T9jMUwRJR98/uCFEgxAgiWwDjKcACr9WkmfZKiSB0AgYWB4CeIvxvOeHQANfGm/NdLw3MhjK/EUZdYDcsF36fegZLGsx3lCgUc+/uMq8N3f4C7Voip3vTVuY6MLK1QyJjQIbRi3Em5YrVuBJCwO6nX5I5KSokfNKKd8PWPWN1XzC9ivIYPFKM3AfPTO9pgIYHgtEQjCoITtO0VxO9QKgnYGjRlUX8nxNPvE0iVS/jEOc93qqCVMMGtUwuU+VO35tfp+yGl/swGvPN0N/s1emjwTYsf3INlQuV2tAJ3js98Nyhwr1DbIjr/bO2xIPzKd9SeoKvElAZUhLg4L0bNky4j9/zOxMsYGS9MHHORsB3oqEAp1O4ju58iGCqYovL0Mdm/jSkD+7MNhot4dHuWwtCaU4MGo75AADxdqKigf3o8W+qV0iL05KyRHE5mp0Mnj1laAk9v7ZIff4zoolMGaQcNPBiNAOytoWrSdYNv3Vj5Oh1TSn0qzGpUelaWDEZdirdHVWsqlo5oqFzkmXgSr6I372g1tyKF5m+uOIaaG5UgdOrMJIfx0qOS6p4gQjbyRc6wYhzeK9eQwW77eF4HzpDLwCSNRocaRhzEpsiAZaA4v/K4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0Gv/RN7mS2DFcYEKxoNtSQ==",
        "ETag": "\"0x8DD5D16D66664D5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9/test-file-bdb94e45-22e0-688b-4f8d-117cff1d2492?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16D677B66A\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:42.5311850Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:42.3410225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9/test-file-bdb94e45-22e0-688b-4f8d-117cff1d2492",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16D677B66A\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:42.5311850Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:42.3410225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9/test-file-bdb94e45-22e0-688b-4f8d-117cff1d2492",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D16D677B66A\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:42.5311850Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:42.3410225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8f272223-4711-1b60-e0cd-d1873b18acd9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1267369836",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
