{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A212DEA7\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A212DEA7\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382/test-file-8988dcec-1285-26ed-ec81-023d636b6ade",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382/test-file-8988dcec-1285-26ed-ec81-023d636b6ade",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A23AB7F0\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:15.4580464Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:15.4580464Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382/test-file-8988dcec-1285-26ed-ec81-023d636b6ade?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "jSHATTl3pwItSeuyWIBgFgTbEhspwpXxoQyvWIAJYCRoAWo2yO3fdDWFXDwmO81sIes4h1lOtcqMz6styE6CI+nGSVYVKk4X+53lo2ZYymY+QzeU0djLGkyfqflBsqznAjhTYPF3VvedIYu7aBFjMwRE74UW7lIQ+i8KdYBU1Unx/qAuBWp0x+xA9rBND7E6PHX1/cIm0BTmQ2XCbOF2SEtBympxNS6a0CiY1vehwut+zzkKX9iHyi2LR8IEsVoLya1kC0VGyAZHWi2ajvodRIB6RJ2na+lzuv895e5slR7OjAxJPbalNwYzwwSr7TwzbgNBim28Y17E8VFFCeMY28UOywHt1AfJ1AyWdKjkyM3DCXfrKguwESmuhEtlXy4jG+c/nCE6Rpn7eLVgJu+24CmEgv9rLLC6XrnYPk+7ZHXeclnApCuricPd77JVT+o5+KQi4d0ut+43hT5nYgdJQBNAgrOV9jv92Pk8jT3+ZA7PnkarmYOXsLpriR/tRCa8lK+eFc02owJpJAjk8SqxOCAwmMPAnqaQqNH5KmwcEJTSgPmNYE9AmPpEQXR6s76QulD+vatj+/UIDWz8PXiVTRR0EnEwI9jR7wDIe1wyFvQSaHAcHlLoboQEhVLjRFqCr/RgBqFNYJZ4LM2rmoCY1vd36dUIeC7Bi6PtK52G7qqlRsxn0g9TxQfZpPGFPNMEa65aa1uEejbGnnr9XzT48T4iBVSzMATnJCPNLtQ9PE7P6cDvK4NPIcyVoTOVVWbT4bKzYjd/UDqqc0Y4t0thiGIrLnZ0Cca70+SIHo/QUc+8+k0iitoXUJmFRLg8F2mAMxnQaifvXtfr945T9jKr2SF3e7z+P/6IE93c7sQOfrx6COp1AOenzZt1NpJLxFln2WuXxJutgfQbSFZJE3AS3XjS2O5HNtk5z64hiQhrPE+EdRVZd7ogzYb1WreRXrkrY1kZeetqH6ORXfTti/jrrwwGxJ1auGa+sQtoUdsiqHH09SWvUcNjGVZxxxnFM0GOCquripkc0KrzW8fgAs3Ib7SD+ZbSPF5Io6tG6fBM+H7J2Ucwdh7X1yV7vPX7gxaJqVhkQTqrvM5NYubu1ue5pmJJFimFmPiWrCFxVn9oTR+UvD+Y6LdDHhx54xQ36AE9wRaTsWztAxFfzpUYOmVO5BXGWhmnIb6rBfcMDLXkXsMgM5Vp1JuzprkuORkhK+S3Kv7+cI7nlqBX56t04fdcem/R+AbQ5BB5E7NgeOikidoTVeG35u01OJz0EezwPsTC0r6pUDLd5kXthV3ahx64s17QYYwVpZSBm8Bq29IjidTvnqUp+jioNW6cyWCQW7B+PF6OH904rC0qKLVycwpyyg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f+vtYubW8hfdTT3oMnGG0Q==",
        "ETag": "\"0x8DD8801A241404D\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382/test-file-8988dcec-1285-26ed-ec81-023d636b6ade?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A24643BA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:15.5337146Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:15.4580464Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382/test-file-8988dcec-1285-26ed-ec81-023d636b6ade",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801A24643BA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:15.5337146Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:15.4580464Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382/test-file-8988dcec-1285-26ed-ec81-023d636b6ade",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD8801A24643BA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:11:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:11:15.5337146Z",
        "x-ms-file-creation-time": "2025-04-30T16:11:15.4580464Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a23a635f-587c-6269-90d9-3cc3dc6c1382?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:11:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1178509213",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
