{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE76BDCB21\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97/test-file-fa15709c-f870-3931-a972-580249342e0f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97/test-file-fa15709c-f870-3931-a972-580249342e0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE76CA1FF3\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:39.1743475Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:39.1743475Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97/test-file-fa15709c-f870-3931-a972-580249342e0f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "5RPgfk+OtDsRK5ys6cTbWycsV+p/e4mizlDycTcbSTIR8CTJ1ir2DbzZ6URbhFDklvzaHNxEkGmKPbD/nEME9eFqmvmgEYT9NUkupZJERkkADdo6QS1VzWC6P5l593F41fNj8elXRIR43OeTFurXRvZm/45oybS0FM2Z5dLrgz7YtdCf4VRfqchWwmRFwbZ14/miE/jiEAw+rt0cvV+xjFiou2EZN2ShBlbGEQZPblIWIwHYSXBG9aTEYDJ3Q+tppDUMnQZVW6yUAA2hHP8F70CKBZpe2EPoYsW8VdcyKcJqXGzRQ9FMwcdVREhjpNilv3Dx7T5QCszxIzpBmAXUYdZKNr+SM6xuPkPSCJT7hb7sF5ZmQTyEGlKg3x+XCinBgOJyGG0YEovEgq/6fQE39p57VIFvbiCaxRxt8VSN1zMaEYixiWxR0wQLob6MipxQaOmAG7anUhLC11NQqyE3N6p832x5hW0yKoB8Y8xiDTt/HYhqDLx9cr5177EYACjj1GoTEKow1uN8TvA1K+5GX8kX0I6YzCru/22tA5a7GSpXmY9hTv2RT0al7r7MR0fPL4/nAS+aSwg/JRA8gtNMwDTF3ZFf5BHMhoFH8t1sIbgl3tMG1Bj6vU6GISnsVM1zWS6JBmm1b0t+G3quUlkq0wNYF6P/RewcyiBD2cLo3zGz1Jiv4xtOb26IiLidTGr1W04lkz0pdBNCbDtJcpaIlTtJ+n7Ae/DoCqc1dr0zf361Tn1zw0v0iV+FbXbfBf3X//J8U1HrNOBePImV9P1VDuy9kyQZFdLwVHEeOg55CQSqXXfLtissyRmdFYfCX5ViL16JInHYvuofjP/gzfrR5TKE6peGiljBkMkKe/9LLvTcvAuw7+eT0Z6MqyosTPwfyzBUPXX+26QGyJGozkPr1F4KBBDvIfVL8Rj4+t8ulUTN66/O9/B/3eFmqSdV6gNbodfLIUjsMKo7CUtcBeHF2DNN2uKTHN1tiiYviHfO9QYUnVgIYnP84bsFk+6kItgAodHzCBAhx4X6XpYhvKczbBNFSGiIvXa/UfkmjojvyGdNL+el2u3289XTDgPc2iQU0SfaX9pwd+NbM7YW+jn9C5Uv042/jZIlT1SStK9y43bVErxhFGmM3bcDSaY34Pib1gJurQaWVEOVtRCG3cI06VA/QOh8nPcsovbVu0Tr7m5c9t6sBDZwP714y15YBgD0z2BW958PHzoLQQoQwJn/qsehKebjiOUZzwErBNCY05v24OzjlPbOTNekoMIrYH4keSGXt9wZEUZ7PCee5Bpqc21uGd+sHBXQ0t0OP+gi7m6CB4quARy/3M+maFfOMGi8OSxVvEaed10MxuT/CtFeWA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XbQOgeEW290M42Z6oHd/kA==",
        "ETag": "\"0x8DDC4CE76CF980A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97/test-file-fa15709c-f870-3931-a972-580249342e0f?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE76D27B01\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:39.2291073Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:39.1743475Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97/test-file-fa15709c-f870-3931-a972-580249342e0f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE76D27B01\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:39.2291073Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:39.1743475Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97/test-file-fa15709c-f870-3931-a972-580249342e0f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDC4CE76D27B01\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:39.2291073Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:39.1743475Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-692b7722-bcd2-8928-a45b-0d7a7dd92a97?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "402166635",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
