{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643AF8A3B83\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3/test-file-c2c9fd63-4bec-4b67-f2d1-39ca054af551",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3/test-file-c2c9fd63-4bec-4b67-f2d1-39ca054af551",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643AF9C9B5A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3/test-file-c2c9fd63-4bec-4b67-f2d1-39ca054af551?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "GUS3ilLCjSNof12wd9JX8DcnkS+OIxof4/VuVfSFTWp5JkEM0uzaoHCmWm3tttMgeUmS3rjGw/UpmKdcUzgu4jLzN1GRSx5LTPG/6MmtMiwhTtur8m+xsmNL4jlEfUw3d3c6+n+Cjy4qRpHHB9ose2Z7OwVcg+/DQYTuRWjkB8+kh3BRczesn7+tgKvd6quIH2fTyEJH2/SHd7n6k0rFRj/BIn9q2gguzptGrgNE5VbYZSUBED6NXKt8yft+sgt05zpsHMcrHkRepfmmASzxQ5JiIS0kxDUANMXU7RENsByQ0cbI18mOrUfhomtE5lt/i4ZpG5DdUCMEa+cBVzAzUfTdFjBlKGvI03TlQyHJvE5qVGKKo5SLsoCjxGzhjFUXrVF3Z9ArGWMaoEcc9wwBO66ZlwLNqK1fUWSvwWT/5kYezpXQUlR+Pzv/cAJNb7pzooi9SPVSSgWjFxVre1f/GrkB/Sl3MehaG1jHzjiqEuGpOx/bQZ5RzIOQLDs/EsPjAFVITHKQ/HGgYy2ci3vN+AQ0wj84I9kbrzCl5gWtGgmV483iYsZvGD+uOt5xtEAHwzM2C1CDq9x8LZxB6hVs80gjB6eu6pY+xKkAiej6qfrwnSPRdg+5ETfxZjQqLS0pQkeVTa2YWdmc+EamgiLzgYOiUUzymnw5avZwvIRhFJc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pjIKKuQuerfbHNQpCxSfmQ==",
        "ETag": "\"0x8DEA643AFA3EB5A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3/test-file-c2c9fd63-4bec-4b67-f2d1-39ca054af551?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643AFB17A5E\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:37.3852766Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3/test-file-c2c9fd63-4bec-4b67-f2d1-39ca054af551",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643AFB17A5E\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:37.3852766Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3/test-file-c2c9fd63-4bec-4b67-f2d1-39ca054af551",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:38 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "ETag": "\"0x8DEA643AFB17A5E\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:37.3852766Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:37.2484954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "64987685815124[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-b47a203a-5879-223f-a9ff-4b22d59224b3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1508259565",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
