{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE75F91FA6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c/test-file-4674d0c4-ee7e-9b5f-a8aa-0b8e5dbf94e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c/test-file-4674d0c4-ee7e-9b5f-a8aa-0b8e5dbf94e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE76069A4E\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:37.8929742Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:37.8929742Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c/test-file-4674d0c4-ee7e-9b5f-a8aa-0b8e5dbf94e9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "xr5Wzv+oijolruc/ppRNTf4LCvjad9x6v4Uy57EWY+GRrFI2lc+YHEY6INAHH/QTXL2QUrScD0/i2w55daKID0oFrfpCF7gucu6yn1YMcp+RHovzhhEs9J0CVLnAH6ajsRCFAnH60EUFYd/G6m/41Whu51cXlYk42LlcQML+bVNIDu5Fhm8tlk1F7SQyZgotCX5QUTdPjByHTCq4nZCCB/SMftuBs0/5QVEJ0adlBnGuLzZErRsb+YHRvjlFdfi9w+YwpegurFYvVxDmRbt1Ika5Cm5aPlrYcIVar/UVtMtYTA7ANGCJf4LgFVUKNbPFXJzzi2qKYoSLWDVj1P1hGaNEjvmttO3lL4vseikFzTvRlFJYIihhzumJNdwrJquFfvuxxqe6GKivDVzfnehbhor5kT+qCPZ7478PJH8QugnfZvstUweUF3yqqRTLgTAALq9SMZRr23YFNeLnqvQpnlNS/zftLTKDZXrD/17ir2GPDvXPvoh1dIuEKB4krGyHgQvAeIL5EwB9zssZp9sYI4WBV5v+WeDL3YuraQUTXrgOO35TITfflvv1Uu+8W8yvawWYo1XRiSgq9Zr2Tan7aW8SC2xdxQFOocGfCQbwDoK/+/0Ae7pjPbJVKCuc6EhR+ul/qk9gUqYDSQKTMX8hOucYN1Gs+u20rs65B5zVsrk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4N3soZCws5Oi8mumtFalAA==",
        "ETag": "\"0x8DDC4CE760ADB44\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c/test-file-4674d0c4-ee7e-9b5f-a8aa-0b8e5dbf94e9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE760E32E4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:37.9427556Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:37.8929742Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c/test-file-4674d0c4-ee7e-9b5f-a8aa-0b8e5dbf94e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE760E32E4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:37.9427556Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:37.8929742Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c/test-file-4674d0c4-ee7e-9b5f-a8aa-0b8e5dbf94e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "ETag": "\"0x8DDC4CE760E32E4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:37.9427556Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:37.8929742Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "xr5Wzv+oijolruc/ppRNTf4LCvjad9x6v4Uy57EWY+GRrFI2lc+YHEY6INAHH/QTXL2QUrScD0/i2w55daKID0oFrfpCF7gucu6yn1YMcp+RHovzhhEs9J0CVLnAH6ajsRCFAnH60EUFYd/G6m/41Whu51cXlYk42LlcQML+bVNIDu5Fhm8tlk1F7SQyZgotCX5QUTdPjByHTCq4nZCCB/SMftuBs0/5QVEJ0adlBnGuLzZErRsb+YHRvjlFdfi9w+YwpegurFYvVxDmRbt1Ika5Cm5aPlrYcIVar/UVtMtYTA7ANGCJf4LgFVUKNbPFXJzzi2qKYoSLWDVj1P1hGaNEjvmttO3lL4vseikFzTvRlFJYIihhzumJNdwrJquFfvuxxqe6GKivDVzfnehbhor5kT+qCPZ7478PJH8QugnfZvstUweUF3yqqRTLgTAALq9SMZRr23YFNeLnqvQpnlNS/zftLTKDZXrD/17ir2GPDvXPvoh1dIuEKB4krGyHgQvAeIL5EwB9zssZp9sYI4WBV5v+WeDL3YuraQUTXrgOO35TITfflvv1Uu+8W8yvawWYo1XRiSgq9Zr2Tan7aW8SC2xdxQFOocGfCQbwDoK/+/0Ae7pjPbJVKCuc6EhR+ul/qk9gUqYDSQKTMX8hOucYN1Gs+u20rs65B5zVsrk="
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-44ed56d8-012a-5d8e-3884-19bfec20831c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "186015785",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
