{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7CE7855C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569/test-file-1cb4b6a1-7a6f-9879-b382-43114af51f18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7CF0EFAA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:49.4950314Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:49.4950314Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569/test-file-1cb4b6a1-7a6f-9879-b382-43114af51f18?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "XUq3+hYnrtfsZRolrMFn7sDOrZrSrV0dZO0LOMlIv5MsKg9FI9FbegjdMAlfVOzyG1RRe0iERbDtmpUpG3UNo6aH+IKxIcruczKS9XxTvhAAGR1190RLqOReWIk7Ml+T0Ixj2FxpQPmKYgcV8lAzmtuFKAFYmKxhO0+eUslAskHT/yTw7+azltkk6pU8NraTKr6ttgldOjjfApwMy+0vSa/GQfIsQ6r10pEoM60XJAWZCycLkvw3dsTsEO1Jp8vr9KHldfTDZ+cTuON4NQeLyN2Xc8DFJLayj8suPzK9rCvFPD8LMa8Q1aNA+NoYvkC9YUgPsjMLJdDqM+YplCe0VQy4svjHf5Yuhp0chSvbmdCKcd7qrfn3uhduIf7I50B8jKLOXwxH9eKy4SuW76CkDpkVniNJyagSwffhWV2XZZ9cn/iJDTnDQ3v8OMvNYMt2yRJls0kdM8L5u54VZpuEGnyMOk+oGgFfUVunTJHcRGEra49LMrJVP2w1kFGbrt3gdx5PQCZ8zq4RBWHtdeYxHXc86foLOOfKNvricoqvw6J+x9VyjQM6r5zhOixQaMmGA3LaX8Xi1D42hAkrmVsjYUG+b64Rv5BzAjldKv66ec4xXG8Y1WTdm/OWPAj5DxVBvdjqkfgbdETiZ1yMhKlAewo6+j3sC4zd4dS6e4KHefIkHG0mz+jWFecqNW0HUBdJVsD9vhTYVLFMDa8kYPnBWu1paGc7GasiZORWwdYe1ZC8cCTCirrdS8e82cI4srTtadqAneivDjwU2lowgpLaLTgfZ+/V/tAzjByffj/p6rEvaFj7njenDGLorrBfrck14ayKGUvEGGoKTBHMD4/8KvCoABk6348Ad1qN7FAg095SapyTX9FmalDu8VEm2/3S7IPAtq2w+gIciaHwNysZ6nkzeqXyaMoeQpXJS+0+2pxdugDMYBwxoW+ad9UvdTMk1AbX8mBX4IO4oXQX5q8U3q8Fk30rTIpdAtg1WPH078xhpXbmZuc7Bdp8FL6nGbrAhZkmKeK2+Ih8evCHIoiSw7KntUE4LnfHyY2jrzjLtegedNJXzsXqq6zuauz2tONR6VAMAGN5iFciXmBVE0lPscQHaa21OvXsvQqUScOK0RWqUcXovrWFpex7NXBllZhjnrkn70s1nK9bIEJZ5D6Tl41LqsKDZ/IPgsPAOQSEhyhyMasKYuHJdLQWjZ5yK8Gu6J7iGurV3zfGF2yHdWOq1pgZ57KTiDSrgTYObdpTnVcCElFmomw+nFFzREt1Qf5Qa7YGWEQOG19qN5izx3Fdc3oVhWMSRDQr20phH0TpNT83vQIjTUQS9Pbx/GrUi9TfFtDRYLybPieC2n35rfsbgA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XZl7J6YOT/bW8PaIxKjQcg==",
        "ETag": "\"0x8DDC4CE7CF4BBF9\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569/test-file-1cb4b6a1-7a6f-9879-b382-43114af51f18?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7CF79EE4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:49.5388388Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:49.4950314Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569/test-file-1cb4b6a1-7a6f-9879-b382-43114af51f18",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7CF79EE4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:49.5388388Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:49.4950314Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569/test-file-1cb4b6a1-7a6f-9879-b382-43114af51f18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDC4CE7CF79EE4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:49.5388388Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:49.4950314Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-0d7ae188-8b9f-7044-a027-174fd99ce569?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2120923065",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
