{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88085DE9BC4A\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88085DE9BC4A\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a/test-file-eec52e22-f313-04f3-8b73-45863cc38f05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a/test-file-eec52e22-f313-04f3-8b73-45863cc38f05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88085E16BC73\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:27.6142707Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:27.6142707Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a/test-file-eec52e22-f313-04f3-8b73-45863cc38f05?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "RyJ9LHk7/zAMo7A0Wez+aAFk6v+gP/rmrWqZ1owtHgRBVADX1NDx5y6U4m9Cv6qfdd2F2NiPZAgnl38OoSmk3oWs8gXsJ5MwcwPRC1yKo+3A+mGvqEYrsfD3rz1R4kUF8APqlsylsk1JVGXVvlirnPORTqbI9TY+gUEU9HhW35C9zBpZoAwhG0cTZVPhVfOXSxJJv5SfPPvMqxWLkL7V83TUGPI9UvzncDJetY/jXStNfahlDCD7Ho8fjPT3lYuJPnLfDDwBWfkWYk5hQIds6U7qPRIVb+ZU2PpiHsYH79un1XYdA1DuTCOvT6rSmt0HsqKmDVd4c86LijNCnjszD3JzumoQTuX9+/HuZiA8gj4cWmsjYOKDLmKokXkdrK3oe0A3Xt9y92S9qBFmigyuTwj1JUPPEK6P74sIaLxs4E5DBevgBCNeqmMHZbjQHaRV+kJwKIdqGWuSqG5Uao+nUMfDIoQhzUvllnvgx6r1vtLns216+7jH2ex/Tly0Cj/UYBXwDfofNCz3i5EMilHBnOmcbLYhLFQP/EmYoX/vMIs7C2eUBbHXx39Bg3Amuk6avrFyGJ2JszPA4BGxh5KsCFsF0H7qLJY4xKU34Knk6EH6/ePNfBjuslgz1CSfJj/slHsVIenQsJIbOlP4UdOJ2/jPtoqv34tCFx4mtldymJ0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "m64Y25mnwt7CGY6J57+KDQ==",
        "ETag": "\"0x8DD88085E25EDA1\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a/test-file-eec52e22-f313-04f3-8b73-45863cc38f05?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88085E301B5D\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:27.7805405Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:27.6142707Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a/test-file-eec52e22-f313-04f3-8b73-45863cc38f05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD88085E301B5D\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:27.7805405Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:27.6142707Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a/test-file-eec52e22-f313-04f3-8b73-45863cc38f05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD88085E301B5D\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:27.7805405Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:27.6142707Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-006bc0b8-0c84-bdcf-6b75-2f57cde8604a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1573879958",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
