{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880864711353\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880864711353\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377/test-file-8b6ac796-f7fe-df7e-240d-2881452bec96",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377/test-file-8b6ac796-f7fe-df7e-240d-2881452bec96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "4096",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:40 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8808648651FA\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:38.4118778Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:38.4118778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377/test-file-8b6ac796-f7fe-df7e-240d-2881452bec96?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:40 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "9TUFQcJcZaQNwQaoaHtNQPh48jDnNKUD6zuCBHHdPh2ZzgnS6DjlOWHGfTzw1Xeov+iIzDi7rsGQAVaH2WAyMILpD5pye1fAkrjPIbZoEhXD2kWJVHLl3h9IQefiXmABk0y6B8bcNkSQxzp/7I0KJ+5Bw/8bqdsQBDF6Kjlw3jRYzo1qrgtO56QA+Iw3ZfKRPhr4oJtg5elwqQKVYgwKIOkGJh4An3jj8txbGrFP2J4+6ewedz2Y+Oij+QUIuISX9tejMT/TkJ6hFa6/Bco4IdBjVngg66isbS41XKZz2jlXwyTZrKdfa1hNfGKP2fMea9g0pGIMdwov9sQRnjT4Ljt0Z0GlXnUpBOsf0m5FHZM6FvHNPzXXSksaqrXiTswkVU4nGnKxeQxiCqB37KWb6dgw1odCKu8FnBz1irS/R7Ye+3wgHgIhiZ3lajSUYF6mf8DcsXdF4itfIX1Vu+5Xo8PpWPApesvWD03pXL+6cTy+Twv045U+2BlQwf2EzM2vjsdxqgdtfQT1BqIqXIZspLBBlmzjYr8uqn/X2LnNUUN/Os33ScY0UdIG/9zzFHyS5BxMQzVgyysHQv+IlaRLJ7RfqiK4dFrqDEWa3WPjOpYCRfOcgQ4NH26h7wbGrLstu9cok2la2nDCYjbwxu7IJAdphVCxrqamUYuzF4RTJF8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "St5fAB0fm8SFKqEK2ZCOmw==",
        "ETag": "\"0x8DD8808648C3ED1\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377/test-file-8b6ac796-f7fe-df7e-240d-2881452bec96?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880864AD364F\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:38.6667599Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:38.4118778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377/test-file-8b6ac796-f7fe-df7e-240d-2881452bec96",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880864AD364F\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:38.6667599Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:38.4118778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377/test-file-8b6ac796-f7fe-df7e-240d-2881452bec96",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:41 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "ETag": "\"0x8DD880864AD364F\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:38.6667599Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:38.4118778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-57629eac-66f4-e4b4-e9b5-daffabdc0377?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "510377843",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
