{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16DC6A6C4C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b/test-file-ce14e4e7-c9ab-6086-39b7-6583a45af479",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b/test-file-ce14e4e7-c9ab-6086-39b7-6583a45af479",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16DC809492\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:52.6556306Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:52.6556306Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b/test-file-ce14e4e7-c9ab-6086-39b7-6583a45af479?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "MHjAn9QT1Tr9Qk7Wzn3zWjKQoRy/eb22uQC8fpUXlY36vrgIhS990w7Z0Wl6sJK8wwpQFLjYuba6CubUVlel5azB3A/E69QCEs4O5qhUPAhuALqLx4HUIQUCTXtJqXy2NOu8uNSC99g1TQHqydINZs7dZVacGh0r7LoKwp5ZuWlRV7G8mIMz6wjiVXl/6lcy9Oata0MlGRrNkMwadzU53JSXmHIhUc5KqXpNusSkrAFi2M63rE0mKz2X7ge2GXTTqHjl51LlEaMYYsLI2F9VKePKuJ5ngjBGcWw0iWLGk5AFehFLvsSvfMcqn0mLXVPeQcQj7GDVbCZInnblsYdAUc4xw11OCmsfGjvWPOPmuxMZVkidoqcvMA7qAx9NyctA6k17WZr2jzdZBNEk/i9DYeNjzFo/o64mAZNPYwZM0VBwllKVa2F4IsYQRJ7VCjHep6E76v1wAUeeVFgHpyswDTKBtGjdrfaC6qmULl4QUfZhcLtlEOdTAJQL9hYJcXua4DdrVFbIAfqquf9T29PojgJhpTZvy/xKLbPT0rbgeHgu+U0npP2fmG7Bu1bn/yTBImgTp8tEKhU6ICaj9S9DykCHJeKFwOkFwQzIrg+lYi2OEq9OzNGs6c447ITW/KM/fvAVYNpCO2F/Dua+fHwFlL34FOKA9f5v2jwTTNRlLsU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2hQH3WScIV2FpyVUsS6Aag==",
        "ETag": "\"0x8DD5D16DC8A9B64\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b/test-file-ce14e4e7-c9ab-6086-39b7-6583a45af479?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16DC9DBFAC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:52.8467884Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:52.6556306Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b/test-file-ce14e4e7-c9ab-6086-39b7-6583a45af479",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16DC9DBFAC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:52.8467884Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:52.6556306Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b/test-file-ce14e4e7-c9ab-6086-39b7-6583a45af479",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:53 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "ETag": "\"0x8DD5D16DC9DBFAC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:24:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:24:52.8467884Z",
        "x-ms-file-creation-time": "2025-03-07T01:24:52.6556306Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-062b9f67-8685-f5e2-4d78-e040df36090b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:24:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "921304141",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
