{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB2A8688E5\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf/test-file-543cce0b-cd96-16cc-3e4a-3ab2a2a49e0a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf/test-file-543cce0b-cd96-16cc-3e4a-3ab2a2a49e0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB2AA1C1B6\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:37:08.3555254Z",
        "x-ms-file-creation-time": "2023-10-03T06:37:08.3555254Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:37:08.3555254Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf/test-file-543cce0b-cd96-16cc-3e4a-3ab2a2a49e0a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "M9gS/4LdHzGgZ/BO6h2HsAccquJyjVdie7RrVBISM/WowtYAsrrBLa4KtC/dfisgw4mqhvm8mKWBr4POccsfjTT6pSdHhv5NWnwzZ9gnhP2JSpGIZ6377CowfgI287zj6yf74tgE2TyKXSt8iDDNWSqGRCc5liWG/7n9Fgj8FmbAUHuxLKIkhHBV/QqBfmT5YiXXsK6UqlUBdOMfB8I0jkbEvDi1HC2IYcC245gbBYBVA7TiJWa4K6Umr7i\u002BBX2uIW/DvcIrREb3Tk7u3sa85m9jyQMOUWjgDJCSjmx0yltCCMEoV0i9Kb5t6tcXyU3faclJWzt5n9AG4rAymbXag4TzrNYElI4npaBEoWaRyUJCsiWiK24gyGjxIXWXi48Ik2dSJB132tU6IbWbNP5qdRht8OaQN1cV0\u002BNtE3IZjxoQPA7\u002BP6Uly9hPaAm4[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf/test-file-543cce0b-cd96-16cc-3e4a-3ab2a2a49e0a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB2AAF5446\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:37:08.4444742Z",
        "x-ms-file-creation-time": "2023-10-03T06:37:08.3555254Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:37:08.4444742Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf/test-file-543cce0b-cd96-16cc-3e4a-3ab2a2a49e0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB2AAF5446\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:37:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:37:08.4444742Z",
        "x-ms-file-creation-time": "2023-10-03T06:37:08.3555254Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:37:08.4444742Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-b0ac64ce-0274-4f5a-b915-c642474d86bf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:37:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1913213342",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
