{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801666DE239\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801666DE239\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a/test-file-549291c9-96ed-5b23-4266-a06e41397e6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:37 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880166901E76\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:35.3544310Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:35.3544310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a/test-file-549291c9-96ed-5b23-4266-a06e41397e6d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:37 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "2I/U/yTuOPlC4lu7QbOMFKbjKz35t+7hf9nW626Q9O62pGlRK5oB21iZEQo6ZxmO2ozIXQ1AdCCg839LF02Kse5tBJxKO+gL4k/kYKbkphi/RxHiyJbgdjBIsDgbtcMLD18czWN9RJ6jvHu9XBR6vExni9A8p+lXjI5sAYqw7yyM2VBGx9m0QgNyPgwbIhoczvTrtCrzz2d2xEDVEUIT881OMYLDM/RzsknMyWncPGpzTzOWxTsCmAnozwOY3zDBXks+zPCXWJr/dwLgJgX+mYjWYcEOfS6RTJh52mTx29IYC2odnm953PeYlk05IXED6jV7wn5vsuEcrYBYHn42Dpwvxxub4PsYXIXKdubgWComdfAudRhUqVmIAPHvIb54YYiwCVlWaAk6Ymb5pDv7PFRVMaiNCJiD2h3CEt8KKTvGURRdL07R0Azm8xKyWwUdjcScmfAV61nvLC48lFYpLzkqMlInnQwFhGCbphSG0X8YpIUbbpBLsGa7bgIglDy2vcTZhymy9u+4lxSPeUREaVuvI+/RDsGo34Hsay8J5e8k5elQrElVZa6VYtZ7uzcidgWncHFN5a4CMKinxoq/rrEla5Ra9L0RWb5AO6zqLSNKyfQqYnR+1v86TXuhrp4k1bMkVVCix4JIlRayDKoCGAKEXf2VlUw9ppSVH6ZBcKsgHGX4xdfTqAJy4sxey8pVODV4HVChjkBn56+8DafbBiVrkvBFClIrsLX6I7N/3trKP+dxyFJafo0kkN0oF5paltun8jnZEC3jTWybpmuN5wjU8c3Aaj3SEBNjIHl0ApgaoI3X1+yh8C+5jXvmv9ghl6jVVCXNmiue1eIldfCzb0vTgAbetRAcMgGeBtzC7FA7QYjRn61zTAVhOQIJe3o/BR4wEj7RQ+GYuCEkL5RO3OiR6jRn4s+dYDQBfHwNE7aGXgC+kdoSaf2mOOaLTh1wE10ZeJFG1yNOkrEK0Mdli6VrntCTkEoOf4A2wanpEREWkGgf85skP4fdb/4oB5g1Qa1BILBM3YMSC/gRDxZ5ZYGf80BeRZcJRl5JtiBL5nfnAH/8p/FhybLlDeeiEzBwZAl9iBRY1/sVN9pRAydixiWBKg6WfL6PPiqNeTiwZzIu2FEWzl1jjimE528WD8aLgkbCIOkh2ehL7Urpyl3CZdCnIyvVTPjHHpvkEpVPeC9jAfby7UdJDP5py+ATecTMwYGfb+ybtjZO+gJNPMZS+3Qbhshm0HiIXRYsa4EXtKXXGFETsAlDyEvAo/JF/NA3Fs9r+PP7ZfAJFhLVbkq1NkZcdiR1P0tr2L19piyFQmFG9FWxrLyx27NhCZn3bVkAC22s6IWrwteDAB82fr7DhA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "KJEbf5WLAW5ODa5L/m2fkQ==",
        "ETag": "\"0x8DD880166976947\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a/test-file-549291c9-96ed-5b23-4266-a06e41397e6d?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:37 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801669D5612\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:35.4410514Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:35.3544310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a/test-file-549291c9-96ed-5b23-4266-a06e41397e6d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8801669D5612\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:35.4410514Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:35.3544310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a/test-file-549291c9-96ed-5b23-4266-a06e41397e6d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD8801669D5612\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:09:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:09:35.4410514Z",
        "x-ms-file-creation-time": "2025-04-30T16:09:35.3544310Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b4d437ae-4aae-4d2d-f9e4-6b4ca259078a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:09:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1636115513",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
