{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161BCC1CF555\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859/test-file-0ad936a8-c6ca-35bc-100f-cb14430c0cce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859/test-file-0ad936a8-c6ca-35bc-100f-cb14430c0cce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161BCC38F7FC\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:31:20.2692092Z",
        "x-ms-file-creation-time": "2024-12-06T17:31:20.2692092Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859/test-file-0ad936a8-c6ca-35bc-100f-cb14430c0cce?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "O+0tuGrqrcdm4oXSnxzBdPbRgMeeOddS0uwdnOE+gUSz7lLkQau7vYgSpOdA6pbzTVcdcYxEMAIW2+Z+zRDlKGBBHrDK3TJLFsM+i5XvEedVKU+KIBC4br5PzWbEPe94LHuG/8vlKW8l0VrIBqRtJsn/KKPAWwdQibDyehDMh9nTxl8ZaBIccP/gZE+172ga4qacxRVLt9F0NnUa869fWUqB9D9FU7634rik4Pe4m5pI2JdpL8HEhw+NpDKcAXxPgAsEM/oo1I/o5OJcp9bavJrb0hsY9SmJvWwwt66LGuE7VF/rtGifHwMHgErfZ+A4s+iYwS5hN4vhenWO9x3gXcoAIVN27ggyPLIXEHXfqlaM+APG81iz2RzUCjnyESjmJyOA3kWNwcXfZYV7SiYWAtAfAf8aGWpxTUc2ouPPQCuKMehRXswQ/zY95o3TN4/2vgho0g8oyw65DpD+Vh/iECVa8Bg9xKMEDwLI3DLcnha3QOPbZm4bYmXal1A8EagWW9VoeUZ3uPlkZMIMX+/b3HB5RhU7Bqq3Po6zYyxTyP1ZsoFcdCXPQIjqdgGrDwJ1/7vfwsuS21QrsDq3w1XMEZzEs61ufmhLqQaNUY+oDC+MPWNxcwUyxtYsMcPqF3wzHWVl5ltUB4FSlBjEBYnFgqQLK4bxW52WkuzWQUykYJE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rqTogixo2gRDgPl7nQlOmw==",
        "ETag": "\"0x8DD161BCC43C150\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859/test-file-0ad936a8-c6ca-35bc-100f-cb14430c0cce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161BCC4FC1C5\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:31:20.4185541Z",
        "x-ms-file-creation-time": "2024-12-06T17:31:20.2692092Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859/test-file-0ad936a8-c6ca-35bc-100f-cb14430c0cce",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161BCC4FC1C5\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:31:20.4185541Z",
        "x-ms-file-creation-time": "2024-12-06T17:31:20.2692092Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-afa3ba91-3a6f-0a35-467f-8f46488c1859?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:31:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1815090403",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
