{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE1864AFCF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE1864AFCF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b/test-file-1f990f20-80d0-f1e1-8c4f-be09af3065f7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b/test-file-1f990f20-80d0-f1e1-8c4f-be09af3065f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE1879BEC0\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:45:55.8553280Z",
        "x-ms-file-creation-time": "2025-04-30T15:45:55.8553280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b/test-file-1f990f20-80d0-f1e1-8c4f-be09af3065f7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "+Uhl0Z7981BEEs6Bp/Ze5Jc4a5i0GI7rw4cXSdVx/xlKpmo7vz5OIhxI272yYEmW8Nlxd8XNQ+G6eQ4W5ql70xK0NgGLIiVZ6kh7azzQOWM9gVj7/4hUfWOIgUUwNzxyzQiq/SlHCs6zGIx9Udek6UCq2WRRf9OKYLmeA6HgKLILCZ40JTs59XaKSOf71iyL5JgEhV7YIE00IJ1wqQcs0u/acUc4b8MEcePtxzfsjomMEh8I3KNTM+lQ/wWeyUxvXXX3IWXkUnTVABR76lgVSJET45boJPZMhj1e53C+ZaeWfmrC9W0jqL+rM9yP2EmQO7dzi+a2hzh/qponhmsDF5ps5WzuU1Mk7zvWPfEava70zqy4StrB3/YxQkrT/CJUpxxBIvPcoedjT5uq4EpHZO3sM7e+S8y/qgV1vRAIUfMYgZbV2Jq6FyzFVPs+Fv+s6d5d5shqlltPgXfuZ+TWW/6okl60coxSMRuL+PbRgJMFydMyqmoqruo6hVYjzLBH7/n8loSh+HdRC7Ss3p1lfQHj6J4Ro7CTfeNzeuw1LmVrQwn81OkPZNFb4J+1fs9M1AdVP+QRNktIaBmhLX6KHNxPQZuUaakX1IPNtcIR3f4TJ6Xl3++BWQ2+s2vPbTdS0cTCZjw0uGtePmpgRICIN4sajQbYpT3szueO1bU9R2Y=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xg5nm2SL5IinkQu5UqOb6w==",
        "ETag": "\"0x8DD87FE187FAB83\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b/test-file-1f990f20-80d0-f1e1-8c4f-be09af3065f7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE18898B7C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:45:55.9588732Z",
        "x-ms-file-creation-time": "2025-04-30T15:45:55.8553280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b/test-file-1f990f20-80d0-f1e1-8c4f-be09af3065f7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE18898B7C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:45:55.9588732Z",
        "x-ms-file-creation-time": "2025-04-30T15:45:55.8553280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b/test-file-1f990f20-80d0-f1e1-8c4f-be09af3065f7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD87FE18898B7C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:45:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:45:55.9588732Z",
        "x-ms-file-creation-time": "2025-04-30T15:45:55.8553280Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-c832e637-d4b0-0dbc-4532-a7d27617a18b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:45:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "600484707",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
