{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880868BD1AA8\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880868BD1AA8\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d/test-file-3099404c-116e-46fd-932e-9fb95cbb197e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d/test-file-3099404c-116e-46fd-932e-9fb95cbb197e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880868D3BF94\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:45.6301972Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:45.6301972Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d/test-file-3099404c-116e-46fd-932e-9fb95cbb197e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "VN7axIRB4gmSrR5jklpb07PYMYnNbL5MVcu1TJw6UFzsU1Cnu6gcCl6PncDymbQ40ssFhImPsOcgjm+5jJVsWFzCdj4JtBgLuycrPs/9WbwWfHnRNMvSXaJohiw4Y37II0VjMCJ1Lh6y+cliY3IYIzWzog8cmiOQ7xmboS3s0lioYxqJmSiZoU1bHjoCcPkvT2P2hcBvrIgh0kEJ2Y3wxidwugBYj4kNGQHBwHvojX8fa1HK9UyXObeRZ8bnkMfAa1gTkrX518Da6Wy+rusMOETB6W47JdHa2IBIxifCJYk6AFUj1fvJJpSR8Avg2YvLhS+CJaZZhEWGObk1sBGZF8PihK2W6WNI+MPZqjXF+f/1fEH4QADj4XsPnJtClHWC+NhH/lXdNZzLOSzjf9oQwUC5PzTQoNfD/6IxhkzHBmRNVrJcffuqGEalLAfT/2Kg/9tbiVVBslcBhP6yq69PAzLIlSgos0NFDiftKnTQ7/9AkIZwbHwPDKRaW/n8+GyXVSjUC2o6eEyYFnotU4jjMJX/chop3pe2uIiEzVhJSRa6VtVL/OOVBhg52FYB4bkcdypk/IVRbXaRHlLhtar0Tsxkc/2ylzSxaWwC7wZAtNfPaFUt5UyQaeheud2RtFBtRYmJnW67ad/1s5MYTn5vUGp6EU1VxmmA0wkUVN5XILU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "+ez5sI+Mh99a1QY/7Iq9Lw==",
        "ETag": "\"0x8DD880868DABC92\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d/test-file-3099404c-116e-46fd-932e-9fb95cbb197e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880868E44EC9\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:45.7387209Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:45.6301972Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d/test-file-3099404c-116e-46fd-932e-9fb95cbb197e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD880868E44EC9\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:45.7387209Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:45.6301972Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d/test-file-3099404c-116e-46fd-932e-9fb95cbb197e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "ETag": "\"0x8DD880868E44EC9\"",
        "Last-Modified": "Wed, 30 Apr 2025 16:59:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T16:59:45.7387209Z",
        "x-ms-file-creation-time": "2025-04-30T16:59:45.6301972Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-090f92ab-d6da-e339-e5f1-0a3817968a5d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 16:59:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "362091995",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
