{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7BA0F40CD4\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6/test-file-c01fe13c-fa8b-34b6-2ac7-bb4c3ae6d240",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6/test-file-c01fe13c-fa8b-34b6-2ac7-bb4c3ae6d240",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7BA109D42D\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:41.3665325Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:41.3665325Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6/test-file-c01fe13c-fa8b-34b6-2ac7-bb4c3ae6d240?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "ae/oh672AM7WnvN4DO2KeBq4eEJmOc9R2lyj/qfxMSFAyuWtp1AdRuBQ6u0GPSg9PUMxgm6P2TAfl6xSUgIm5GzSOEEH3dDJmjFhFU7iS50zZsFjv6+zsPC1jQ+jy/PeKgWAMwXnNV9yZ+c8LcThPUwPHuxAwiW8H4dQUlDBJs89g+tJYReYTDBh8VfHdoMs00/Dk6wHnWfgwxR9luIPsUEY/qrYmNw0d9K739HN9akEI34A/ZIiNuWEaJ0DGrVNUj8Wr3fYVDtzjxzaS76VE85reXJkDrSv9sfFUy8/MV0cboyStkUxK89DjG51R+sm7lXOmKBC6UOLZrivEgAMNF2/vt0xA1yIOk2jIIJGOa7cnmTacJm82YRJB1CNgRjON1gQtokN9Ov5RV1Sn8nBRS0K03ObMsPEAuRZ6PsM+7g01ekpNYIlzqp54So7aTq7h8Iig66kMgSUS7OktAvv7EqlHcrflw+q5ATJIlGZiZmqnWE56XgKj6LklerPgBmeifTglktw2/CyeJ6p2xCz+8Ea+heqtgPRmo4n+gEk22TqK5lcuPNNOsJwhnDaYLSRMJootIYC89PwD/u9SODujZ06v7B3VkPOzcBVOS+S9znZlspn/Cbe5zfFbKn3j/HhgvjToKEEGtlXWufFrbmkXhfC5LEWhpF2W9h5seqZ1j0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Nr9ScRQeFtBogYhkBtBmJA==",
        "ETag": "\"0x8DC8E7BA11480FB\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6/test-file-c01fe13c-fa8b-34b6-2ac7-bb4c3ae6d240",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7BA11DA762\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:41.4964578Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:41.3665325Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6/test-file-c01fe13c-fa8b-34b6-2ac7-bb4c3ae6d240",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7BA11DA762\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:14:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:14:41.4964578Z",
        "x-ms-file-creation-time": "2024-06-17T03:14:41.3665325Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c3ee664c-bf3e-f69b-c662-4a34183fc4c6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:14:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "101728379",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
