{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c713a23a-74dd-7042-0ba3-d09ca9d270c4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB1E7A61A4\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c713a23a-74dd-7042-0ba3-d09ca9d270c4/test-file-87350b88-0b37-c476-cebc-106ba56e3d09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC3DB1E8BFA72\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:48.0801394Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:48.0801394Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:48.0801394Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c713a23a-74dd-7042-0ba3-d09ca9d270c4/test-file-87350b88-0b37-c476-cebc-106ba56e3d09?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "q0o6zGAnRNHX569CTQCD5YaUSyfLcE1VZq16w6iKxyfIHieIlh/aYMdkr1BcNHfOOSrkECMWPjr85WWyrYEoTSCHeS7Y\u002Bk9nuupgZsH9\u002BDI2rIl\u002BprYEsuDtjLC6KLNGPGEw1bpI9T/afFY4tdh4/uwyewD3qadpg8ZO622frZE3GipfzSN47rZKpClfzPwHdI3Eh62yTpK6xlHz\u002BgrRO87FAZuuGTDIuY1KrAV9CbfKRnbf2iXkhMuXpAfRhPOseWlbmsthWVtc\u002B80faKKNPLyaKbST8WCo4HzPFnQp9jWZnjOcIm7raOwbgt5YxBspCWhKN1s\u002BGIcIsrpOkULmMwWYhcpu8RlNrsDHeG6CUBthpg0M37/aW4Wrk3C0ndeqNE/Zvz5RuxhO/Iiad58ZhmKe7eo12lRFvipEwl2pmRHpH[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c713a23a-74dd-7042-0ba3-d09ca9d270c4/test-file-87350b88-0b37-c476-cebc-106ba56e3d09",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB1EBE26A6\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:48.4089510Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:48.3150051Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:48.4089510Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c713a23a-74dd-7042-0ba3-d09ca9d270c4/test-file-87350b88-0b37-c476-cebc-106ba56e3d09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC3DB1EBE26A6\u0022",
        "Last-Modified": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-03T06:36:48.4089510Z",
        "x-ms-file-creation-time": "2023-10-03T06:36:48.3150051Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-03T06:36:48.4089510Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c713a23a-74dd-7042-0ba3-d09ca9d270c4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Oct 2023 06:36:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "119738969",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
