{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F58CFB24F4B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:56:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809/test-file-cf05c782-5585-70b2-cf08-ebd03d57e73d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809/test-file-cf05c782-5585-70b2-cf08-ebd03d57e73d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F58CFCDDF3A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:56:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T18:56:44.1859898Z",
        "x-ms-file-creation-time": "2024-03-28T18:56:44.1859898Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T18:56:44.1859898Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809/test-file-cf05c782-5585-70b2-cf08-ebd03d57e73d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": "zgAiJ4Hys8aDJ2hZoIiqov/WR0UY9x\u002BW03sFTUa4tnV\u002BNGkD95rWjxM\u002BS13sWM9HXkjRZhCiJNfgi1QF7WaAy3Dz22sepqpk/7cy2qvBqnqrvu/\u002B509k2xCSI2xG0aKsvoDt\u002BXxjKbedbGdYcEkrH\u002BHZWS92guMgjv9bjIM\u002BHS4VhRwr1LH9SJQ3YHroDGvGZgOLbXdzNTyczGp9CJ0zX085QuotAEow3BGaPiFoOIKUlCV/s7C2ok/gjgdGgED3BAArr8mAmWa5WpBl2PYaNJPo6HN3tKyegqCbTXFC6VzRojohPIm4E/u/xlgfUMlYxVp0XZfNgE9UjCwp5Uv0dnA0lDa8\u002BfcKMNV3t\u002B5UfjHWQocWzozEBCLrzbBcji2vy1Dn67yTnMxjaS3CVchh/w36U6PE3qfkcJAT0CtHraGnx\u002BydbZN1Qqa6smVeAa5aic2iYjuK6uyoAnorgMuhHLuMGo3bw5J6hRD9CitChW7iuUZepEtlHdz/9WoZScLaGZap0uYgfsY6J9wrjeDBZn0MSceEQndwJv2w3M4oYTtNIvCUmLKHwTuAI3xvOo/8PY7tDAD7VdYeOKzocKL3Esah3WrvLM3KhIiLBB/6AetttJ4/O1Q6UswadmAGnlGYiBC2zV0kDBDBIoh4b1G2IzfAersDt9dyZoqd1bZtw\u002BU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IMlgWhohR4T4mZgJmNRQ8A==",
        "ETag": "\u00220x8DC4F58CFDA608A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:56:44 GMT",
        "x-ms-file-last-write-time": "2024-03-28T18:56:44.2679434Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809/test-file-cf05c782-5585-70b2-cf08-ebd03d57e73d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F58CFDA608A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:56:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T18:56:44.2679434Z",
        "x-ms-file-creation-time": "2024-03-28T18:56:44.1859898Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T18:56:44.2679434Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809/test-file-cf05c782-5585-70b2-cf08-ebd03d57e73d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F58CFDA608A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:56:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T18:56:44.2679434Z",
        "x-ms-file-creation-time": "2024-03-28T18:56:44.1859898Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T18:56:44.2679434Z",
        "x-ms-file-parent-id"[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a7b69082-6b91-f421-5b95-a40eac6cc809?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 18:56:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "826101206",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
