{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643B284015B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a/test-file-feb5ded8-aedb-ade3-5d10-e8582f931736",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a/test-file-feb5ded8-aedb-ade3-5d10-e8582f931736",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643B294E776\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a/test-file-feb5ded8-aedb-ade3-5d10-e8582f931736?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "regZWqjkXS/zVcgQxEcxftEXyyJGIVFT4YTsrJr4tKgdx1mX/Wl79IGFC4bm0+gW3mmHGMf174uWxXkj97GV+6Eg8/zumoFnm9ehwRbLbQ6b1s0wcJvgJ9fNADjwWPzP7w/kxt/sJ0TnH3zwVC51yldqhyDjZIoFP8skIZlJd0Pa0dIG56cur6+JSVEf79OpVzXghdDb64qF34YUxwaqnqg5FoJbb+OwPNhxWhs55lD3eslkafFy/uVHgAggGuio36uo5dlQTuhSL0n4apFvTPg2HEw9RTS3xhedFO7bkCLvyXpwkAB2pyzgEjmoepRT1zQP6f2ba5l28R7Bszn6dp8mCKEW/rz3wHUfXTP7DkuDSTy6y6YkVF7h+p/itfPz5ZuZgXLzPdl4FymIew1le+LSPmr8QKv4AbNDNQQdFQqBLHeYYYzZjwxjQrN9nNhQe3+8D3aJ9qXwoYC+sAfUWgIeBk+WzRlV+a9emf73e2Xa8rmFYAaU+DbSp8AMGt8Ej+exXpWJuq1lZhXHK12m+SUa471OT/r7iQ4ZwyVZSd/PWQoXRRzPUTgLIPrxzc3YLK6a8TYhtkDstdSHcPaICx0299FSj7MJS5KFQi7/CrxBQJd3v1eorqPKKpBHSOBBgxTdutX7hZz7kaajnHMR7aoYRjBfEEzFjUktiGQjwQM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "uJNBQ0D23fKW9DVw6Rqvlg==",
        "ETag": "\"0x8DEA643B29C1077\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a/test-file-feb5ded8-aedb-ade3-5d10-e8582f931736?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643B2A29D7B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:42.3210363Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a/test-file-feb5ded8-aedb-ade3-5d10-e8582f931736",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643B2A29D7B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:42.3210363Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a/test-file-feb5ded8-aedb-ade3-5d10-e8582f931736",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "ETag": "\"0x8DEA643B2A29D7B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:04:42.3210363Z",
        "x-ms-file-creation-time": "2026-04-29T23:04:42.2311798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "regZWqjkXS/zVcgQxEcxftEXyyJGIVFT4YTsrJr4tKgdx1mX/Wl79IGFC4bm0+gW3mmHGMf174uWxXkj97GV+6Eg8/zumoFnm9ehwRbLbQ6b1s0wcJvgJ9fNADjwWPzP7w/kxt/sJ0TnH3zwVC51yldqhyDjZIoFP8skIZlJd0Pa0dIG56cur6+JSVEf79OpVzXghdDb64qF34YUxwaqnqg5FoJbb+OwPNhxWhs55lD3eslkafFy/uVHgAggGuio36uo5dlQTuhSL0n4apFvTPg2HEw9RTS3xhedFO7bkCLvyXpwkAB2pyzgEjmoepRT1zQP6f2ba5l28R7Bszn6dp8mCKEW/rz3wHUfXTP7DkuDSTy6y6YkVF7h+p/itfPz5ZuZgXLzPdl4FymIew1le+LSPmr8QKv4AbNDNQQdFQqBLHeYYYzZjwxjQrN9nNhQe3+8D3aJ9qXwoYC+sAfUWgIeBk+WzRlV+a9emf73e2Xa8rmFYAaU+DbSp8AMGt8Ej+exXpWJuq1lZhXHK12m+SUa471OT/r7iQ4ZwyVZSd/PWQoXRRzPUTgLIPrxzc3YLK6a8TYhtkDstdSHcPaICx0299FSj7MJS5KFQi7/CrxBQJd3v1eorqPKKpBHSOBBgxTdutX7hZz7kaajnHMR7aoYRjBfEEzFjUktiGQjwQM="
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-7dc2ab6f-6aed-1836-32cd-161b1fd92e1a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:04:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1780068601",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
