{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7C19C025\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241/test-file-c5ba0ad5-d8f4-a51a-717e-eb1bb6e6445a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241/test-file-c5ba0ad5-d8f4-a51a-717e-eb1bb6e6445a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7C27A42C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:48.1758252Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:48.1758252Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241/test-file-c5ba0ad5-d8f4-a51a-717e-eb1bb6e6445a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "zyH2UXSV9f9iR1ZlDVKwRHlfZ7ldahHzWVxqzWrxBpiRdnmwTARvPxS6Y6yCtJgezaahV36K/GQPAvcYKiiVcUG905bZAPh17yelogdkcaTETADDT64ZBnkUoEkMVxXrJPFrxeABRMyuLGdX5VpdqpFTU94n0SGSo80cxV+uaJgSuX4V+azEwwczFSNGwiEft/a3uQM2xFLQ2SET5H9s/8TPRCvbR7Hlj5DX9Lz+S+Cr/A1p966V3PUrRSCKsN6HxxZed372RG9F0ipyXs+W0o1AZ+dxAwcVOWg1sAKRW96yTy2ln9RitbieJCSDIn0llHOSSUj2FsMOST4VwJNttHdMwA+i8TK53rIv09/ikRfqDxyP/hGVuzlpllaWTPQlMHCtN2JugqNA2WuVx0PkK7cnK7F33bVltgTWOVrcIpG+CaJuNVm0fIx4TySlAPT1hGqfbyFDrlO6R4Fdl0lIZLba172gdfZdcq4k/o6RwLYQ4LXvPbNve1tPtO3YV+VDMOptyyg3VQ50QfxzHrDEKYfLTbeTWSYDalxiUcEJhRrI4c2jI/WN2Iqne/u2/FyriotlDAotr9bDamHM1QRNa7ziqj3iIAWSPnQs7N4rTG3/tsY1o3gQmjH337mTwAOGWhA+1FEeyGmG082VAcP4mB7zzR49F8dD0Q8M60FM/n1wpZLN7Hcc4O5cr9Creplu/keaoPPlSUJI+gNBEt0oOdRPJVswKqun1uww4Gf3mFd2nuz5sV2KilxPhfF02s4QNHX7W1U9PdOb88oHtWjaUWKsy3PwLoh3xZr/4aW5MvwdH6zy+z0BOGEZXr6Tg9X0dDOPyA5aHwXthJW6PVwt4sDN6ZW76FUlqpIS19DK40LFC2xyKWruwwCmBXenRvoF63v9xpk/OIzdah17R0g1I6BT9TLvu7hV3yaVFOPefWOXDetUzB2ohdLflL9Ncnu4ceHWU1DIFS/DqOZzqSSp/+y64zpc4FaDq3BfECf4CG2q3aMBCCoSz/i7kSQ2NNuuNpXTk45AW5CKUqjgaAUIyp95yMyAp/bCpxRCoE8yTXaUsdmSJXXeaoESdrWCMWfzs8aEvGwPLY+eEOt5/rtBWAUxTLYrdqQpml5KbjBBQHWtT+2IrZAKhINK9BSJZGvG0B6wUOWwxz0iWyENxL5eXdB2zK/OuKp0Jsgz4YGPoDbyhJ0RkO+Q/YevZlJv/MDE65ZEE5i79xh0PCkdfOa7krvrGj8hTczh5s4oHlJXBCoHbvXqS4ydNo2FnVPFc4Ch9NSXg+KAo57KYizJk9jGHTf/FQ7w0EYuTeOym695G3NOhip9v4FHhspXIOhf1KO0v38cxl1xsCOOaTb+zgfuUA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "JBcO4Qk8dwfRhWetXRKNRA==",
        "ETag": "\"0x8DDC4CE7C2B9758\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241/test-file-c5ba0ad5-d8f4-a51a-717e-eb1bb6e6445a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7C2E535F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:48.2196319Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:48.1758252Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241/test-file-c5ba0ad5-d8f4-a51a-717e-eb1bb6e6445a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7C2E535F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:48.2196319Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:48.1758252Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241/test-file-c5ba0ad5-d8f4-a51a-717e-eb1bb6e6445a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDC4CE7C2E535F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:48.2196319Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:48.1758252Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-73000d84-f9eb-0823-72ff-27c2c4777241?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2147234928",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
