{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0474F9BBE\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63/test-file-cc53bba2-9220-663e-0e59-8fe345ed2285",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63/test-file-cc53bba2-9220-663e-0e59-8fe345ed2285",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0476460E1\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:56:20.1926881Z",
        "x-ms-file-creation-time": "2024-07-02T17:56:20.1926881Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63/test-file-cc53bba2-9220-663e-0e59-8fe345ed2285?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "wvSAQqYkwiVj5ihhJLhfH1fgyEXPIdIJioqaR2RmE+y1vIJ7RyYzffgtaTlq3UJV+XCLZSXdtqEhd7cbinvB/NM7q2g25NcxrEpMobiZnq1IRE7z267H2AbhWdBvF/N9bGxmLjHZHxWYWrjakBToiNgK00UszSEkc9NhVIoHwpRXzzVLMm98biQ4W4D17Ufy+ND3ZUStUJ5LQbteeMuKkZgjgsHfnVVpjmQh9HKgLoaLb1y6D11Qqn6W//G0HfZZrsno0mqGElp7jtfgjFwsqxI10ghu0II709hDSJ1ktHBtx0Wot1wbBVwBPoCGbx0haVTef0vu6t1Hrf+SQ8q9FtlncsQWhPO2GcyrbZEBtGO6Id9IhjUkf9xoYAlciMKSRCinHvxYCuVhJ2V+Qn1MRvic1yHrdI+kQvPoriPpWZEKGSloWpVmYhb5517QpT1fGxoQwLGgp8+YAtwJcFzCd83UdChU4+xiNXUK8Yww0522iJII2JnfaXJZ0Fe5XfG6N2+R/DAUCzguroo7lbVDZy8+UujJuZ409Aq2+hOUqdiET7odn9dsonxa2ioOo9S8FmgoewoI8X3QXAcmXRAlmQSyt0X7JchX0bBrbt90JVA2+uSqbC3Oe148TEPQRkRrNUAlXOyOwfCg0KlZnYOeXDa28GMsei3X5DznvtmEh4s=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9GSo+Rhx13dLDwgbD0rNHQ==",
        "ETag": "\"0x8DC9AC0476F34C7\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63/test-file-cc53bba2-9220-663e-0e59-8fe345ed2285",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC04777BF0D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:56:20.3196173Z",
        "x-ms-file-creation-time": "2024-07-02T17:56:20.1926881Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63/test-file-cc53bba2-9220-663e-0e59-8fe345ed2285",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC04777BF0D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:56:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:56:20.3196173Z",
        "x-ms-file-creation-time": "2024-07-02T17:56:20.1926881Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-77280ccd-01a4-2458-a8b1-e71c0c98cd63?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:56:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1577458512",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
