{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680695C76F93\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:41:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c/test-file-450a53f4-9c36-c3b4-71a7-9e8f17b82165",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c/test-file-450a53f4-9c36-c3b4-71a7-9e8f17b82165",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680695E545E8\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:41:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:41:07.3691112Z",
        "x-ms-file-creation-time": "2024-04-29T04:41:07.3691112Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c/test-file-450a53f4-9c36-c3b4-71a7-9e8f17b82165?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:06 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": "3gS21LXOFAHcyaKo30UHj/v4kJJ5zpEWh5UqkIQBw4DfLRykkrEGJT8IaG36C+MroA6THieO6xByoE0fo4R82wUhybIoYvxJ8WpTcWUkHHuy/+91baRZUEEMMvFk5oG6i41o2UIxAz0SSiy9O3qrTYTRbaSUBm1gyHhxHDAK5AvomOXXvEM5gfyxYyN3mxXHYeRtknncJoUgBxDJv+YNB2Uh1KKV05FBmOyo4qJJ6CxjqrpLnVKRDHJft7Qyb8EVpFy+VsdzMY1TK/qMNEPi1h/kZhUrwmoSkMgvNRzdDykrkz5Gi5Jk73gt+HFYBNgvfeGVTQmr6eLyq8b/Q/xxdRzRYaAEm0uMgHad/sn4uovw/7g6R8IfgKpcVN/MZKx8vIJVh6M3KuGWCMySDeoY+fA7D0RDNi5ZseH2qEdrwBvKIUJGojPnuNXXpD71jHK/Q1rukVVnOIVU+9XCQYKZKkixyOyo0Ve9U1dvbJLvZCRuNmTtfS/GYui88qZdJXdSPXr2RMSGFnEDMT39+MzzZJexUwodrK0Y6mYD69+wXy7fHC4Y+R9g6B/z6kvxyGkcyY4PrNFsNZHM3VpegiqSUtEOHtye22t3UWvqKsJhJyH85yJRobNdcuacSxvFAWX0YJd64qqNfe0il1plggvPa7Y4YZoIQbAesav1AY9Qsk8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ssMzP5NtYAEEiv1I5EReYA==",
        "ETag": "\"0x8DC680695F08EDC\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:41:07 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c/test-file-450a53f4-9c36-c3b4-71a7-9e8f17b82165",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680695FBD7D9\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:41:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:41:07.5170265Z",
        "x-ms-file-creation-time": "2024-04-29T04:41:07.3691112Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c/test-file-450a53f4-9c36-c3b4-71a7-9e8f17b82165",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:06 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680695FBD7D9\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:41:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:41:07.5170265Z",
        "x-ms-file-creation-time": "2024-04-29T04:41:07.3691112Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7758b235-cc10-083c-e9f2-cc690f0e6a4c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:41:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1596481966",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
