{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526BD4B4B5A\"",
        "Last-Modified": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba/test-file-7acecb8b-a5ae-5885-869a-2bd24e29e80f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba/test-file-7acecb8b-a5ae-5885-869a-2bd24e29e80f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7526BD6C3455\"",
        "Last-Modified": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:34:02.6959957Z",
        "x-ms-file-creation-time": "2024-05-15T21:34:02.6959957Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba/test-file-7acecb8b-a5ae-5885-869a-2bd24e29e80f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "Mi0ClYw+jW9I22DvjWSEo7JY+fOeksPu1fBikgPa/sHl+3dhXXjZTT5eMtNElssiFogg9jD0cKBqE8Cb3PpsbtyfCZHtIkU5fqu1QGDwqj8lP3x7uQiQ8YvX90q4PXBD8cP2pIw5NfNC53eEPjA/eWmAdp1+8bTTDxgGFSr7gUE7ck6c+QWz7AmIONKQDLJal37gN8fTxQAOIpVzMh/JRmU2ScziooBkzYqT9bjiQwJmrH6sG0l5Z6xNjdZvP7npv/JsWsPld/T+fGo9QNBILN+TDIahHSscvOEflRSp9I3RqTbFdeg/gTSJrp7fPCfcBWH33DMySKHHUJ3hxeLgVIfca5aZgrb2VItRGG+MPYC6Q4+zshhanmGU/iVLXbtSqVkWAtCQQ4OqAIen4C8xOxMdJ4JSLKJvgs01BIORq/fQ/28WdTuvKQAMCLGQsr4xY8MSLTU4/3y2p38DWz7/GVSQ1+HAG8XXbv6CRiTw3s8PA6HAf37BlwDzX867rM7BDO9cANvdcUf9Or83trhXxsiw9FicPpnWzj/gzLz3HMIwwDk1k97zMpFaw0W+iuFHm5kFC7d2JM1VhjGc/KSLBR39B/V+IjLqvMLGQntUGENemTEj8hEKuZxs4A2sVzXszr0nwYPsyHlmG071r+FSAG7tPmJzaBMM801ZEkEkPWU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UgOe+29bIsPCcE883OKHvw==",
        "ETag": "\"0x8DC7526BD7B9B6C\"",
        "Last-Modified": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba/test-file-7acecb8b-a5ae-5885-869a-2bd24e29e80f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7526BD89F134\"",
        "Last-Modified": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:34:02.8908852Z",
        "x-ms-file-creation-time": "2024-05-15T21:34:02.6959957Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba/test-file-7acecb8b-a5ae-5885-869a-2bd24e29e80f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7526BD89F134\"",
        "Last-Modified": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:34:02.8908852Z",
        "x-ms-file-creation-time": "2024-05-15T21:34:02.6959957Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2fad95f1-0d92-a8ae-7b40-9e96f1d627ba?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:34:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1019806643",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
