{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE7848EA82\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0/test-file-872e142e-dc00-6874-8291-fc333e9769bd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0/test-file-872e142e-dc00-6874-8291-fc333e9769bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE78551E7C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:41.7629820Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:41.7629820Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0/test-file-872e142e-dc00-6874-8291-fc333e9769bd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "0iYpTF6Y0aKbjQWiisD/Ob5Mgx5mKFEZDbsKfQE8mZNPVASVvfmulkOL63LX0t3BksJ18RRKVqrUDz+ijlShXvNxUja8anvEnuzb2jzfQjrdSOo+x6h/Bf1ZwK66Cwfv6ox/ZYCmBSdGsFMnb3xt9c0ExUZpYpdL8kw5YqnNCpLl6/CvX9y5N0LD9xdUV5WB68vgtUbBhYf1M3MzbKJ9eaXAQoOLvpXwS40Dpmt/9pq3uHbe7FVLJGZouStphcqgRX5xlBUS9S018Gq4vd8cdT3YfLQrn4xPdR4dIgRph8XDYmHsDmKFpcNJqfzrkmaHTEPukAkVdKXyIR/39NIoy2ik9Vp9L2fbU9fx4vaPZOK3ltXBe/e8re67+exDjbDwIN2URp0LCRzcEjwxJJKvY708QF78Z1Bx6EdswjV7mMYnAcEY+x1Eq4255Wi6iohbDJYuBk1S87mNI11Vn0fmYHp2CiPRlmef+JTRQ4Lntl6+EbafTJJ41A0Hi9i/7gxG0oTuRH9liXUvjw25ga82pWz/l42QRxTo/TUVyQuP3wmHi3H++HHeWYhAb72Ev1Ne0eVrwFd/tYpwBkZKT79qn68DMfY+OK37IT0FUNdWYz7it/glJB+yCNXmjfIqlArJ1tANgI1dIJg4cJ4ZemWzGaIIZ5fGRHuPUSkgV6q60I0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9OfW7K0tS7RiWkUWXPMYWw==",
        "ETag": "\"0x8DDC4CE7859388D\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0/test-file-872e142e-dc00-6874-8291-fc333e9769bd?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE78622F2A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:41.8486058Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:41.7629820Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0/test-file-872e142e-dc00-6874-8291-fc333e9769bd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE78622F2A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:41.8486058Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:41.7629820Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0/test-file-872e142e-dc00-6874-8291-fc333e9769bd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:42 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "ETag": "\"0x8DDC4CE78622F2A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:08:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:08:41.8486058Z",
        "x-ms-file-creation-time": "2025-07-17T01:08:41.7629820Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "86160743867321[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-1e4c1a05-9737-9c49-5381-7820ce8125e0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:08:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2118571046",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
