{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-4360974413?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C587364556D\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:41:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-4360974413/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DD5C5873710A1D\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:41:52 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-4716603341?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C5875C37F49\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:41:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/382a7dad-d5d9-4811-aa75-faa0833bb072?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "fe82510a-63cb-4a29-b664-fe9407cb80cf"
      },
      "ResponseBody": {
        "id": "382a7dad-d5d9-4811-aa75-faa0833bb072",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/382a7dad-d5d9-4811-aa75-faa0833bb072?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"B2F6C90C4D0965922922039BAC613D541E8A7299C28E014A3AA894923FBD618B\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "9b65cc94-3df8-4648-89f8-9f8f1714deb9"
      },
      "ResponseBody": {
        "id": "382a7dad-d5d9-4811-aa75-faa0833bb072",
        "createdDateTimeUtc": "2025-03-06T02:41:58.6445024Z",
        "lastActionDateTimeUtc": "2025-03-06T02:41:58.6445024Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/382a7dad-d5d9-4811-aa75-faa0833bb072/documents?orderby=createdDateTimeUtc%20asc&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"18E17669B9877EA08AD3B7289F188CAAC3CD1AC8E9BE8A14E29242D2D7C03363\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "5469026b-eece-4cdb-8698-05c922e56c71"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-4716603341/File_0.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-4360974413/File_0.txt",
            "createdDateTimeUtc": "2025-03-06T02:42:04.5189101Z",
            "lastActionDateTimeUtc": "2025-03-06T02:42:13.4068315Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "00883f25-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-4716603341/File_1.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-4360974413/File_1.txt",
            "createdDateTimeUtc": "2025-03-06T02:42:06.0840686Z",
            "lastActionDateTimeUtc": "2025-03-06T02:42:13.3657636Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "00883f26-0000-[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/382a7dad-d5d9-4811-aa75-faa0833bb072/documents?createdDateTimeUtcStart=2025-03-06T02%3A42%3A07.8250192Z&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"524EFC03280048EA2D8993F6C7400C3CF76C56F2FC850E1BFDAF2F50FA8967CC\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "1eeebb79-42e8-4c91-99d2-d72333399a07"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-4716603341/File_4.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-4360974413/File_4.txt",
            "createdDateTimeUtc": "2025-03-06T02:42:07.8250192Z",
            "lastActionDateTimeUtc": "2025-03-06T02:42:13.0764823Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "00883f29-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-4360974413",
    "targetContainer": "target-4716603341"
  }
}
