{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-3396144262?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B32967F8F66\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:38:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-3396144262/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DD5B32968C0C05\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:38:18 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-6155868461?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B32979589AC\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:38:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/8fbb374c-6790-4016-8f4f-582ddbe05cf2?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "263028ce-1ccd-4498-84c5-a1d855b825bb"
      },
      "ResponseBody": {
        "id": "8fbb374c-6790-4016-8f4f-582ddbe05cf2",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/8fbb374c-6790-4016-8f4f-582ddbe05cf2?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"E535DA9A690A744B0DF5C8468E353FB4D69AA58163CA3C1BB4A69A4BF3A2F790\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "ceca20b0-80ef-4e83-86c4-d6fec8933efc"
      },
      "ResponseBody": {
        "id": "8fbb374c-6790-4016-8f4f-582ddbe05cf2",
        "createdDateTimeUtc": "2025-03-04T15:38:22.3542289Z",
        "lastActionDateTimeUtc": "2025-03-04T15:38:22.3542289Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/8fbb374c-6790-4016-8f4f-582ddbe05cf2/documents?statuses=Succeeded&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1048ACDD442F7D88E41B63EE78DDB563F5F6A2AE8DA6463AECEB83C9F1D96B00\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "930b34cc-d5d5-4509-bb58-e092c93df4a8"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-6155868461/File_4.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-3396144262/File_4.txt",
            "createdDateTimeUtc": "2025-03-04T15:38:25.8380219Z",
            "lastActionDateTimeUtc": "2025-03-04T15:38:28.7756114Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "0087b0de-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-6155868461/File_3.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-3396144262/File_3.txt",
            "createdDateTimeUtc": "2025-03-04T15:38:25.5473767Z",
            "lastActionDateTimeUtc": "2025-03-04T15:38:28.4950599Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "0087b0dd-0000-[...]
