{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6594420751?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B32C27E24D0\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:39:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6594420751/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DD5B32C28A2B17\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:39:32 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-0978164703?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5B32C397C23C\"",
        "Last-Modified": "Tue, 04 Mar 2025 15:39:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/67c2f6c5-0108-40a8-9da1-11a7d98e2fea?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "7924f2a4-30c2-4c36-92f0-9130db84a6cd"
      },
      "ResponseBody": {
        "id": "67c2f6c5-0108-40a8-9da1-11a7d98e2fea",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/67c2f6c5-0108-40a8-9da1-11a7d98e2fea?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"58F23B83EE7D949E67468F4CD95D116555E179CC5F4C63F551CA05CEEB686795\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "86b91465-30a9-490e-9e7b-a3ac8dc90ff9"
      },
      "ResponseBody": {
        "id": "67c2f6c5-0108-40a8-9da1-11a7d98e2fea",
        "createdDateTimeUtc": "2025-03-04T15:39:36.0465712Z",
        "lastActionDateTimeUtc": "2025-03-04T15:39:36.0465712Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/67c2f6c5-0108-40a8-9da1-11a7d98e2fea/documents?orderby=createdDateTimeUtc%20asc&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0C4EBD331C67FFAE25C442B6C2047CBBCBBDF0D4E887824A90FF0E29BF9E82CB\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "0ab33913-8388-45bf-b72b-b5a50a397356"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-0978164703/File_0.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-6594420751/File_0.txt",
            "createdDateTimeUtc": "2025-03-04T15:39:37.6837631Z",
            "lastActionDateTimeUtc": "2025-03-04T15:39:44.0985497Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "0087b0e1-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-0978164703/File_1.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-6594420751/File_1.txt",
            "createdDateTimeUtc": "2025-03-04T15:39:38.2996667Z",
            "lastActionDateTimeUtc": "2025-03-04T15:39:43.4283791Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "0087b0e2-0000-[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/67c2f6c5-0108-40a8-9da1-11a7d98e2fea/documents?createdDateTimeUtcStart=2025-03-04T15%3A39%3A39.1945755Z&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"75B3718263C73918D7DB8C2E586EB933BFE265A800EF2EA80917E15DC5FC4336\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "24a27ce0-67bf-44d3-b558-32473de08355"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-0978164703/File_4.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-6594420751/File_4.txt",
            "createdDateTimeUtc": "2025-03-04T15:39:39.1945755Z",
            "lastActionDateTimeUtc": "2025-03-04T15:39:44.0390134Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "0087b0e5-0000-0000-0000-000000000000",
            "characterCharged": 16
          }
        ]
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-6594420751",
    "targetContainer": "target-0978164703"
  }
}
