{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1317877828?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C583FA0A704\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:40:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-1317877828/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DD5C583FAEEADB\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:40:25 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-3620617180?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C5841A4BD72\"",
        "Last-Modified": "Thu, 06 Mar 2025 02:40:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "operation-location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/21dd6634-5c23-48a0-b173-387f217b2131?api-version=2024-05-01",
        "x-ms-region": "Japan East",
        "x-requestid": "ab56851a-7971-4286-9884-4e093bfabc90"
      },
      "ResponseBody": {
        "id": "21dd6634-5c23-48a0-b173-387f217b2131",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/21dd6634-5c23-48a0-b173-387f217b2131?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8F59E22678B6B88616D1E2F03BF38455725540CB2BC3DD8650F177B23157DFD9\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "808ebf24-717f-410f-8cac-6701a38dc675"
      },
      "ResponseBody": {
        "id": "21dd6634-5c23-48a0-b173-387f217b2131",
        "createdDateTimeUtc": "2025-03-06T02:40:31.1911199Z",
        "lastActionDateTimeUtc": "2025-03-06T02:40:31.19112Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/21dd6634-5c23-48a0-b173-387f217b2131/documents?statuses=Succeeded&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"8CE0E47D8F7DB5C9B59A346166BACC3870437206F1E53C8517FDD570FD2D1CDB\"",
        "Retry-After": "1",
        "x-ms-region": "Japan East",
        "x-requestid": "08ceb26c-5f8c-47dd-bad6-2dc40847de25"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-3620617180/File_4.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-1317877828/File_4.txt",
            "createdDateTimeUtc": "2025-03-06T02:40:37.9272224Z",
            "lastActionDateTimeUtc": "2025-03-06T02:40:46.2005137Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "00883f1a-0000-0000-0000-000000000000",
            "characterCharged": 16
          },
          {
            "path": "https://fakestoragename.blob.core.windows.net:443/target-3620617180/File_3.txt",
            "sourcePath": "https://fakestoragename.blob.core.windows.net:443/source-1317877828/File_3.txt",
            "createdDateTimeUtc": "2025-03-06T02:40:37.4334836Z",
            "lastActionDateTimeUtc": "2025-03-06T02:40:46.323564Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "00883f19-0000-0[...]
