{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.BareMetalInfrastructure/operations?api-version=2021-08-09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.BareMetalInfrastructure/register/action",
            "display": {
              "provider": "Microsoft BareMetal Infrastructure",
              "resource": "Microsoft BareMetal Infrastructure Resource Provider",
              "operation": "Registers the Microsoft BareMetal Infrastructure Resource Provider",
              "description": "Registers the subscription for the Microsoft BareMetal Infrastructure Resource Provider, and enables managing BareMetal Instance resources"
            },
            "isDataAction": false
          },
          {
            "name": "Microsoft.BareMetalInfrastructure/bareMetalInstances/read",
            "display": {
              "provider": "Microsoft BareMetal Infrastructure",
              "resource": "BareMetal Instance",
              "operation": "Read BareMetal Instance",
              "description": "Read any BareMetal Instance"
            },
            "isDataAction": false
          },
          {
            "name": "Microsoft.BareMetalInfrastructure/bareMetalInstances/write",
            "display": {
              "provider": "Microsoft BareMetal Infrastructure",
              "resource": "BareMetal Instance",
              "operation": "Update BareMetal Instance",
              "description": "Update any BareMetal Instance"
            },
            "isDataAction": false
          }
        ]
      }
    }
  ],
  "Variables": {}
}
