{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.EventHub/operations?api-version=2026-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'operations' could not be found in the namespace 'Microsoft.EventHub' for api version '2026-01-01'. The supported api-versions are '2014-09-01,2015-08-01,2017-04-01,2018-01-01-preview,2021-01-01-preview,2021-06-01-preview,2021-11-01,2022-01-01-preview,2022-10-01-preview,2023-01-01-preview,2024-01-01,2024-05-01-preview,2025-05-01-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
