{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testClusterRG-9503?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testClusterRG-9503",
        "name": "testClusterRG-9503",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testClusterRG-9503/providers/Microsoft.ServiceFabric/managedClusters/sfmctest5490?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testClusterRG-9503/providers/Microsoft.ServiceFabric/managedClusters/sfmctest5490",
        "type": "Microsoft.ServiceFabric/managedclusters",
        "location": "southcentralus",
        "name": "sfmctest5490",
        "tags": {},
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-12-01T01:49:37.8365232\u002B00:00",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-12-01T01:49:37.8365232\u002B00:00"
        },
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "13936473-2ef1-4317-b05f-afbf911f7936",
          "clusterState": "Ready",
          "clusterCodeVersion": "10.0.1949.9590",
          "clusterUpgradeMode": "Automatic",
          "isPrivateClusterCodeVersion": false,
          "clusterUpgradeCadence": "Wave0",
          "adminUserName": "vmadmin",
          "dnsName": "sfmcnetsdk4435",
          "fqdn": "sfmcnetsdk4435.southcentralus.cloudapp.azure.com",
          "ipv4Address": "20.45.53.97",
          "clusterCertificateThumbprints": [
            "6DD697F3799FB2B5A05B9637AEDD576E0956A853"
          ],
          "clientConnectionPort": 19000,
          "httpGatewayConnectionPort": 19080,
          "allowRdpAccess": false,
          "clients": [
            {
              "isAdmin": true,
              "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"
            }
          ],
          "enableAutoOSUpgrade": false,
          "zonalResiliency": false,
          "useCustomVNet": false,
          "zonalUpdateMode": "Standard",
          "publicIPPrefixId": ""
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testClusterRG-9503/providers/Microsoft.ServiceFabric/managedClusters/sfmctest5490/nodeTypes/node4968?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testClusterRG-9503/providers/Microsoft.ServiceFabric/managedClusters/sfmctest5490/nodetypes/node4968",
        "type": "Microsoft.ServiceFabric/managedclusters/nodetypes",
        "location": "southcentralus",
        "name": "node4968",
        "tags": {
          "UpdateKey1": "UpdateValue1",
          "UpdateKey2": "UpdateValue2"
        },
        "systemData": {},
        "sku": {
          "name": "Standard_P1",
          "tier": "Standard",
          "capacity": 6
        },
        "properties": {
          "provisioningState": "Failed",
          "isPrimary": true,
          "vmImagePublisher": "MicrosoftWindowsServer",
          "vmImageOffer": "WindowsServer",
          "vmImageSku": "2019-Datacenter",
          "vmImageVersion": "latest",
          "vmSize": "Standard_D2_v2",
          "vmInstanceCount": 6,
          "dataDiskSizeGB": 256,
          "dataDiskType": "StandardSSD_LRS",
          "dataDiskLetter": "S",
          "placementProperties": {},
          "capacities": {},
          "applicationPorts": {
            "startPort": 20000,
            "endPort": 30000
          },
          "ephemeralPorts": {
            "startPort": 49152,
            "endPort": 65534
          },
          "vmExtensions": [],
          "isStateless": false,
          "multiplePlacementGroups": false,
          "enableOverProvisioning": false,
          "zones": [],
          "enableEncryptionAtHost": false,
          "enableAcceleratedNetworking": false,
          "useTempDataDisk": false,
          "isSpotVM": false,
          "useEphemeralOSDisk": false,
          "spotRestoreTimeout": "",
          "evictionPolicy": "",
          "enableNodePublicIP": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testClusterRG-9503/providers/Microsoft.ServiceFabric/managedClusters/sfmctest5490/nodeTypes/node4968?api-version=2023-03-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "UpdateKey1": "UpdateValue1",
          "UpdateKey2": "UpdateValue2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/a31b0002-9a93-4127-bf6b-06e43e689ee0?api-version=2023-03-01-preview\u0026t=638370142640382189\u0026c=MIIHHjCCBgagAwIBAgITfwI8YE7TFpH4swTJAgAEAjxgTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTI0ODMyWhcNMjQxMDI2MTI0ODMyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhd[...]
