{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_retrieve_specific_metric?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_retrieve_specific_metric",
        "description": "A metric created for testing purposes (test_retrieve_specific_metric)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1fpF7hA6JkU=\"",
        "Last-Modified": "Wed, 07 May 2025 15:55:20 GMT",
        "mise-correlation-id": "534a4974-323f-4804-8452-fddc7725e709"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_retrieve_specific_metric",
        "description": "A metric created for testing purposes (test_retrieve_specific_metric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"1fpF7hA6JkU=\"",
        "lastModifiedAt": "2025-05-07T15:55:20.14728+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_retrieve_specific_metric?api-version=2025-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1fpF7hA6JkU=\"",
        "Last-Modified": "Wed, 07 May 2025 15:55:20 GMT",
        "mise-correlation-id": "275469b5-8436-4bf7-adfe-18e5ff28a49e"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "Sanitized",
        "displayName": "Test Metric test_retrieve_specific_metric",
        "description": "A metric created for testing purposes (test_retrieve_specific_metric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"1fpF7hA6JkU=\"",
        "lastModifiedAt": "2025-05-07T15:55:20.14728+00:00"
      }
    }
  ],
  "Variables": {}
}
