{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_retrieve_specific_metric?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_retrieve_specific_metric",
        "description": "A metric created for testing purposes (test_retrieve_specific_metric)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1fpF7hA6JkU=\"",
        "Last-Modified": "Fri, 09 May 2025 16:11:33 GMT",
        "mise-correlation-id": "30ee80d6-ad0f-404e-8525-088ee220b18c"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_retrieve_specific_metric",
        "displayName": "Test Metric test_retrieve_specific_metric",
        "description": "A metric created for testing purposes (test_retrieve_specific_metric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"1fpF7hA6JkU=\"",
        "lastModifiedAt": "2025-05-09T16:11:33.3620808+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_retrieve_specific_metric?api-version=2025-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1fpF7hA6JkU=\"",
        "Last-Modified": "Fri, 09 May 2025 16:11:33 GMT",
        "mise-correlation-id": "6674aee3-7ab5-4e38-a0b3-c0af38c8f924"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_retrieve_specific_metric",
        "displayName": "Test Metric test_retrieve_specific_metric",
        "description": "A metric created for testing purposes (test_retrieve_specific_metric)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"1fpF7hA6JkU=\"",
        "lastModifiedAt": "2025-05-09T16:11:33.3620808+00:00"
      }
    }
  ],
  "Variables": {}
}
