{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:02:58 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1969384182"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1969384182\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1969384182"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:02:58 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1969384182"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:98709cb3-d002-0053-212c-bb73a7000000\nTime:2023-07-20T17:02:58.0188407Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1969384182\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:02:58 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
