{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "447",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a3c8270c-26a0-4dfc-8a0e-86926a8652be",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.599"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-NTdWqSFKHgqr3MCzK6S6Kk",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663505,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-NTdWqSFKHgqr3MCzK6S6Kk?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "103",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "294e93fd-4ce4-42d6-8619-eb3bab6a3d81",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.235"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-NTdWqSFKHgqr3MCzK6S6Kk",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663505,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-NTdWqSFKHgqr3MCzK6S6Kk?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "238",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "181156de-ec6b-4492-8950-e2d19a0a4319",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.345"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-NTdWqSFKHgqr3MCzK6S6Kk"
      }
    }
  ],
  "Variables": {}
}
