{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "451",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7d85939a-7db2-466c-9aba-f59b2b5f5a00",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.608"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-GVuzFSbgG9KCaSHcxGgBzA",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746666665,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-GVuzFSbgG9KCaSHcxGgBzA?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "89",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "71ca9c67-2118-4006-92a2-601de14061c4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.214"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-GVuzFSbgG9KCaSHcxGgBzA",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746666665,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-GVuzFSbgG9KCaSHcxGgBzA?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "920",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e7423ae4-7b87-48b1-a614-c14e13e67721",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.026"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-GVuzFSbgG9KCaSHcxGgBzA"
      }
    }
  ],
  "Variables": {}
}
