{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "265",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e0da6683-458a-40ba-9611-ca4c6f093dc5",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.771"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "file",
            "id": "assistant-7npFLVF7GNQBepxPbyrzCu",
            "purpose": "assistants",
            "filename": "filename.txt",
            "bytes": 11,
            "created_at": 1746163946,
            "expires_at": null,
            "status": "processed",
            "status_details": null
          },
          {
            "object": "file",
            "id": "assistant-CtBkpQJbM6Pv7VyEtsQ2zS",
            "purpose": "assistants",
            "filename": "filename.txt",
            "bytes": 11,
            "created_at": 1746163942,
            "expires_at": null,
            "status": "processed",
            "status_details": null
          },
          {
            "object": "file",
            "id": "assistant-RXiCjvcZBZ2Ea9n6dtq1Br",
            "purpose": "assistants[...]
