{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "437",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2cd8bb6e-0fbf-47a5-8d9b-9b2c7582b1bb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.591"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-EQ6bwnUy8iXUiBwMwH28NU",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647387,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-EQ6bwnUy8iXUiBwMwH28NU?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "96",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "43806a06-d2f8-4492-a225-6ec892a4d3aa",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.257"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-EQ6bwnUy8iXUiBwMwH28NU",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647387,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-EQ6bwnUy8iXUiBwMwH28NU?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "299",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a5cd67c5-c828-4ae2-8a27-616034c18b6a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.451"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-EQ6bwnUy8iXUiBwMwH28NU"
      }
    }
  ],
  "Variables": {}
}
