{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "280",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "62f9fdff-4967-4163-a18a-5e985d502aba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.566"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3EwUK6XEEvCd9m6o4FBYeC",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727617,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3EwUK6XEEvCd9m6o4FBYeC?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "100",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "49059241-ec3c-441c-83de-114aa87d8fae",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.452"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3EwUK6XEEvCd9m6o4FBYeC",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727617,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3EwUK6XEEvCd9m6o4FBYeC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "242",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bdd1237d-b08b-4ae7-a9fa-4aaadf62ecbe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.537"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3EwUK6XEEvCd9m6o4FBYeC"
      }
    }
  ],
  "Variables": {}
}
