{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1567?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Mc1cUYyG_K6qegwvaI9P_kJ81X9FSU_9peHmRkhCuT0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzUzNw==;sn=113153537",
        "x-ms-date": "Thu, 07 May 2026 20:26:47 GMT"
      },
      "ResponseBody": {
        "etag": "Mc1cUYyG_K6qegwvaI9P_kJ81X9FSU_9peHmRkhCuT0",
        "key": ".appconfig.featureflag/name-1567",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1567?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzUzNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Mc1cUYyG_K6qegwvaI9P_kJ81X9FSU_9peHmRkhCuT0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzUzNw==;sn=113153537",
        "x-ms-date": "Thu, 07 May 2026 20:26:47 GMT"
      },
      "ResponseBody": {
        "etag": "Mc1cUYyG_K6qegwvaI9P_kJ81X9FSU_9peHmRkhCuT0",
        "key": ".appconfig.featureflag/name-1567",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1567?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzUzNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Mc1cUYyG_K6qegwvaI9P_kJ81X9FSU_9peHmRkhCuT0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzUzOQ==;sn=113153539",
        "x-ms-date": "Thu, 07 May 2026 20:26:47 GMT"
      },
      "ResponseBody": {
        "etag": "Mc1cUYyG_K6qegwvaI9P_kJ81X9FSU_9peHmRkhCuT0",
        "key": ".appconfig.featureflag/name-1567",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:47+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1567"
  }
}
