{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1309",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-n4X0yX92QqZD5soFDU8CQknBpqdfpM0Lyq-DgXkoOY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0NTE=;sn=74013451"
      },
      "ResponseBody": {
        "etag": "-n4X0yX92QqZD5soFDU8CQknBpqdfpM0Lyq-DgXkoOY",
        "key": ".appconfig.featureflag/name-1309",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1309?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM0NTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-n4X0yX92QqZD5soFDU8CQknBpqdfpM0Lyq-DgXkoOY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0NTU=;sn=74013455"
      },
      "ResponseBody": {
        "etag": "-n4X0yX92QqZD5soFDU8CQknBpqdfpM0Lyq-DgXkoOY",
        "key": ".appconfig.featureflag/name-1309",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1309?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM0NTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-n4X0yX92QqZD5soFDU8CQknBpqdfpM0Lyq-DgXkoOY\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0NjA=;sn=74013460"
      },
      "ResponseBody": {
        "etag": "-n4X0yX92QqZD5soFDU8CQknBpqdfpM0Lyq-DgXkoOY",
        "key": ".appconfig.featureflag/name-1309",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:32+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1309"
  }
}
