{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1194?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1194",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uOSwN5PTWZDY8fekufl_ZagHSZKWRchWuDFeSNuaclY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzODc=;sn=74229387"
      },
      "ResponseBody": {
        "etag": "uOSwN5PTWZDY8fekufl_ZagHSZKWRchWuDFeSNuaclY",
        "key": ".appconfig.featureflag/name-1194",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1194?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzODc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uOSwN5PTWZDY8fekufl_ZagHSZKWRchWuDFeSNuaclY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzOTA=;sn=74229390"
      },
      "ResponseBody": {
        "etag": "uOSwN5PTWZDY8fekufl_ZagHSZKWRchWuDFeSNuaclY",
        "key": ".appconfig.featureflag/name-1194",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1194?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzOTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uOSwN5PTWZDY8fekufl_ZagHSZKWRchWuDFeSNuaclY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzOTQ=;sn=74229394"
      },
      "ResponseBody": {
        "etag": "uOSwN5PTWZDY8fekufl_ZagHSZKWRchWuDFeSNuaclY",
        "key": ".appconfig.featureflag/name-1194",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:41+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1194"
  }
}
