{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-176?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-176",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dHzRyC8_AyORqP43THd-Q0qucaTi_dDMZmSAZAxlUrg\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MTA=;sn=74229410"
      },
      "ResponseBody": {
        "etag": "dHzRyC8_AyORqP43THd-Q0qucaTi_dDMZmSAZAxlUrg",
        "key": ".appconfig.featureflag/name-176",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-176?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0MTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dHzRyC8_AyORqP43THd-Q0qucaTi_dDMZmSAZAxlUrg\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MTE=;sn=74229411"
      },
      "ResponseBody": {
        "etag": "dHzRyC8_AyORqP43THd-Q0qucaTi_dDMZmSAZAxlUrg",
        "key": ".appconfig.featureflag/name-176",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-176?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0MTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dHzRyC8_AyORqP43THd-Q0qucaTi_dDMZmSAZAxlUrg\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MTU=;sn=74229415"
      },
      "ResponseBody": {
        "etag": "dHzRyC8_AyORqP43THd-Q0qucaTi_dDMZmSAZAxlUrg",
        "key": ".appconfig.featureflag/name-176",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:45+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-176"
  }
}
