{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1915?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tjlq3ZOS2Jij77e4YzZcZmT4LNbkWGYWiMcvchxq2Lo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY0NA==;sn=53365644",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:45 GMT"
      },
      "ResponseBody": {
        "etag": "tjlq3ZOS2Jij77e4YzZcZmT4LNbkWGYWiMcvchxq2Lo",
        "key": ".appconfig.featureflag/name-1915",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1915?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY0NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tjlq3ZOS2Jij77e4YzZcZmT4LNbkWGYWiMcvchxq2Lo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY0NA==;sn=53365644",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:45 GMT"
      },
      "ResponseBody": {
        "etag": "tjlq3ZOS2Jij77e4YzZcZmT4LNbkWGYWiMcvchxq2Lo",
        "key": ".appconfig.featureflag/name-1915",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag/name-1915?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY0NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tjlq3ZOS2Jij77e4YzZcZmT4LNbkWGYWiMcvchxq2Lo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY0NQ==;sn=53365645",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:45 GMT"
      },
      "ResponseBody": {
        "etag": "tjlq3ZOS2Jij77e4YzZcZmT4LNbkWGYWiMcvchxq2Lo",
        "key": ".appconfig.featureflag/name-1915",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:45+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1915"
  }
}
