{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AZURE-CDN-TEST",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198",
        "name": "testRG4198",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor4857?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "routingRules": [
            {
              "name": "routingrule1",
              "properties": {
                "frontendEndpoints": [
                  {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor4857/frontendEndpoints/frontendEndpoint1"
                  }
                ],
                "acceptedProtocols": [
                  "Https"
                ],
                "patternsToMatch": [
                  "/*"
                ],
                "enabledState": "Enabled",
                "routeConfiguration": {
                  "forwardingProtocol": "MatchRequest",
                  "backendPool": {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/Frontdoors/TestFrontDoor4857/BackendPools/backendPool1"
                  },
                  "@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"
                }
              }
            }
          ],
          "loadBalancingSettings": [
            {
              "name": "loadBalancingSettings1",
              "properties": {
                "sampleSize": 4,
                "successfulSamplesRequired": 2,
                "additionalLatencyMilliseconds": 0
              }
            }
          ],
          "healthProbeSettings": [
            {
              "name": "healthProbeSettings1",
              "properties": {
                "path": "/",
                "protocol": "Http",
                "intervalInSeconds": 120,
                "healthProbeMethod": "GET",
                "enabledState": "Enabled"
              }
            }
          ],
          "backendPools": [
            {
              "name": "backendPool1",
              "properties": {
                "backends": [
                  {
                    "address": "contoso1.azurewebsites.net",
                    "httpPort": 80,
                    "httpsPort": 443,
                    "enabledState": "Enabled",
                    "priority": 2,
                    "weight": 1
                  }
                ],
                "loadBalancingSettings": {
                  "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor4857/loadBalancingSettings/loadBalancingSettings1"
                },
                "healthProbeSettings": {
                  "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor4857/healthProbeSettings/healthProbeSettings1"
                }
              }
            }
          ],
          "frontendEndpoints": [
            {
              "name": "frontendEndpoint1",
              "properties": {
                "hostName": "TestFrontDoor4857.azurefd.net",
                "sessionAffinityEnabledState": "Disabled",
                "sessionAffinityTtlSeconds": 0
              }
            }
          ],
          "backendPoolsSettings": {
            "sendRecvTimeoutSeconds": 123
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdooroperationresults/7759b69d-ba0b-47d9-83b6-a36a9028b2aa?api-version=2021-06-01&t=638488368263526875&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdooroperationresults/7759b69d-ba0b-47d9-83b6-a36a9028b2aa?api-version=2021-06-01&t=638488368263526875&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor4857?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdoors/TestFrontDoor4857",
        "type": "Microsoft.Network/frontdoors",
        "name": "TestFrontDoor4857",
        "location": "Global",
        "tags": {},
        "properties": {
          "routingRules": [
            {
              "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/Frontdoors/TestFrontDoor4857/RoutingRules/routingrule1",
              "name": "routingrule1",
              "type": "Microsoft.Network/Frontdoors/RoutingRules",
              "properties": {
                "routeConfiguration": {
                  "customForwardingPath": null,
                  "forwardingProtocol": "MatchRequest",
                  "cacheConfiguration": null,
                  "backendPool": {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/Frontdoors/TestFrontDoor4857/BackendPools/backendPool1"
                  },
                  "@odata.type": "#Microsoft.Azure.FrontDoor.Models.FrontdoorForwardingConfiguration"
                },
                "rulesEngine": null,
                "resourceState": "Enabled",
                "frontendEndpoints": [
                  {
                    "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor4857/frontendEndpoints/frontendEndpoint1"
                  }
                ],
                "acceptedProtocols": [
                  "Https"
                ],
                "patternsToMatch": [
                  "/*"
                ],
                "enabledState": "Enabled",
                "webApplicationFirewallPolicyLink": null
              }
            }
          ],
          "rulesEngines": [],
          "frontdoorId": "13010f56-6248-4d37-b8ea-44c244bd9039",
          "extendedProperties": {},
          "resourceState": "Enabled",
          "loadBalancingSettings": [
            {
              "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/Frontdoors/TestFrontDoor4857/LoadBalancingSettings/loadBalancingSettings1",
              "name": "loadBalancingSettings1",
              "type": "Microsoft.Network/Frontdoors/LoadBalancingSettings",
              "properties": {
                "resourceState": "Enabled",
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdooroperationresults/6e069c36-d9f4-4ace-aee4-1e6a6108ad29?api-version=2021-06-01&t=638488368469656902&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdooroperationresults/80cbadaa-1ac4-4510-8435-91ed3755c421?api-version=2021-06-01&t=638488368625259841&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdooroperationresults/4a843ee2-4fa7-42f9-98d7-65534eed119d?api-version=2021-06-01&t=638488368747848137&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG4198/providers/Microsoft.Network/frontdoors/TestFrontDoor4857",
            "type": "Microsoft.Network/frontdoors",
            "name": "TestFrontDoor4857",
            "location": "Global",
            "tags": {},
            "properties": {
              "routingRules": [
                {
                  "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testRG41[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testRG4198/providers/Microsoft.Network/frontDoors/TestFrontDoor48571?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.Network/frontdoors/TestFrontDoor48571' under resource group 'testRG4198' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "619628287",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "27cafca8-b9a4-4264-b399-45d0c9cca1ab"
  }
}