{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject277031201?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "TestProject277031201",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-11-14T10:35:32Z",
        "lastModifiedDateTime": "2025-11-14T10:35:32Z",
        "configureSemanticRanking": false
      }
    },
[...]
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "projectName": "IsaacNewton",
            "description": "Biography of Sir Isaac Newton",
            "language": "en",
            "multilingualResource": true,
            "createdDateTime": "2025-09-25T14:38:04Z",
            "lastModifiedDateTime": "2025-11-13T09:20:13Z",
            "lastDeployedDateTime": "2025-11-13T09:18:03Z",
            "configureSemanticRanking": false
          },
          {
            "projectName": "IssacNewton",
            "description": "biography of Sir Issac Newton",
            "language": "en",
            "multilingualResource": true,
            "createdDateTime": "2025-09-05T16:30:19Z",
            "lastModifiedDateTime": "2025-09-28T07:28:35Z",
            "lastDeployedDateTime": "2025-09-28T07:28:44Z",
            "configureSemanticRanking": false
         [...]
