{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject198239063?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "TestProject198239063",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-11-14T11:31:07Z",
        "lastModifiedDateTime": "2025-11-14T11:31:07Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject198239063/:export?api-version=2025-05-15-preview&format=json",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/TestProject198239063/export/jobs/a942fa34-4276-486c-8da8-9184de40fb3d?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject198239063/export/jobs/a942fa34-4276-486c-8da8-9184de40fb3d?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-14T11:31:07+00:00",
        "expirationDateTime": "2025-11-14T17:31:07+00:00",
        "jobId": "a942fa34-4276-486c-8da8-9184de40fb3d",
        "lastUpdatedDateTime": "2025-11-14T11:31:07+00:00",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject198239063/export/jobs/a942fa34-4276-486c-8da8-9184de40fb3d?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-14T11:31:07+00:00",
        "expirationDateTime": "2025-11-14T17:31:07+00:00",
        "jobId": "a942fa34-4276-486c-8da8-9184de40fb3d",
        "lastUpdatedDateTime": "2025-11-14T11:31:10+00:00",
        "status": "succeeded",
        "resultUrl": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/TestProject198239063/export/jobs/a942fa34-4276-486c-8da8-9184de40fb3d/result?api-version=2025-05-15-preview"
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "1697271844"
  }
}
