{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject160001758/:import?api-version=2025-05-15-preview&format=json",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "Metadata": {
          "ProjectName": "NewProjectForExport",
          "Description": "This is the description for a test project",
          "Language": "en",
          "DefaultAnswer": "No answer found for your question.",
          "MultilingualResource": false,
          "CreatedDateTime": "2021-11-25T09=35=33Z",
          "LastModifiedDateTime": "2021-11-25T09=35=33Z",
          "Settings": {
            "DefaultAnswer": "No answer found for your question."
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/TestProject160001758/import/jobs/50e6913d-b8b6-4175-ae03-20b70428f5f4?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject160001758/import/jobs/50e6913d-b8b6-4175-ae03-20b70428f5f4?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-14T10:35:42+00:00",
        "expirationDateTime": "2025-11-14T16:35:42+00:00",
        "jobId": "50e6913d-b8b6-4175-ae03-20b70428f5f4",
        "lastUpdatedDateTime": "2025-11-14T10:35:42+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject160001758?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "TestProject160001758",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-11-14T10:35:44Z",
        "lastModifiedDateTime": "2025-11-14T10:35:44Z",
        "configureSemanticRanking": false
      }
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "1620864664"
  }
}
