{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/breaksentence?language=zh-Hans\u0026script=Latn\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "centralus"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022zh\\u00E8 sh\\u00EC g\\u00E8 c\\u00E8 sh\\u00EC\\u3002\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "02d6f478-3e05-4d0f-b8bb-17450d3ad189.USW2.0320T2132"
      },
      "ResponseBody": "[{\u0022sentLen\u0022:[18]}]"
    }
  ],
  "Variables": {
    "RandomSeed": "1131643215",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "centralus"
  }
}
