{
  "Entries": [
    {
      "RequestUri": "https://eastus.prod.apcgatewayapi.azure.com/device-network/network:retrieve?api-version=2024-02-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apc-gateway-id": "/subscriptions/**********/resourceGroups/dev-testing-eastus/providers/Microsoft.programmableconnectivity/gateways/apcg-eastus",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identifierType": "IPv5",
        "identifier": "189.88.1.1"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a412ab1f-257e-4fd4-8f69-9d97de28b704",
        "x-ms-error-code": "BAD_REQUEST",
        "x-ms-response-id": "99bf8dc5-4cd7-44d7-9a99-93b224e35221"
      },
      "ResponseBody": {
        "error": {
          "message": "Identifier type not supported: IPv5",
          "code": "BAD_REQUEST"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "448690519"
  }
}
