{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1579840566"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1579840566"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName1579840566",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A05.3192009Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName1579840566/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A05.3192009Z'\"",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Timestamp": "2024-10-16T23:02:05.3192009Z",
        "Bool": true,
        "Integer": 1,
        "String": "some string 1"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName1579840566(PartitionKey='partition',RowKey='2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\"datetime'2024-10-16T23%3A02%3A05.3192009Z'\"",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:20a99735-6002-0016-011f-201735000000\nTime:2024-10-16T23:02:05.4107976Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName1579840566')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
