{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579",
        "name": "testRG-579",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/virtualNetworks/testVNet-3213?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7760",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network/locations/westus2/operations/2769add9-6139-4c00-9e77-9e5c50a4054b?api-version=2024-07-01&t=638786918410392821&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIxMjE0MDQ4WhcNMjUwNzIwMjE0MDQ4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50Lm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network/locations/westus2/operations/2769add9-6139-4c00-9e77-9e5c50a4054b?api-version=2024-07-01&t=638786918410392821&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIxMjE0MDQ4WhcNMjUwNzIwMjE0MDQ4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/virtualNetworks/testVNet-3213?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"68a2d41f-a27a-424b-aa92-400850f63b68\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-3213",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/virtualNetworks/testVNet-3213",
        "etag": "W/\"68a2d41f-a27a-424b-aa92-400850f63b68\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "4fb998a7-8f84-4d8d-921a-3bd3ffcc0760",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7760",
              "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/virtualNetworks/testVNet-3213/subnets/testSubnet-7760",
              "etag": "W/\"68a2d41f-a27a-424b-aa92-400850f63b68\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/networkInterfaces/testNic-1240?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/virtualNetworks/testVNet-3213/subnets/testSubnet-7760"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "testNic-1240",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/networkInterfaces/testNic-1240",
        "etag": "W/\"fa650d00-1319-4668-b405-01124d385cbe\"",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "658bd8c8-e83f-4bc4-9807-5c1d8e197d5f",
          "ipConfigurations": [
            {
              "name": "internal",
              "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/networkInterfaces/testNic-1240/ipConfigurations/internal",
              "etag": "W/\"fa650d00-1319-4668-b405-01124d385cbe\"",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.2.4",
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/virtualNetworks/testVNet-3213/subnets/testSubnet-7760"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "u4mlst2er4gu1eq0hpj55tahma.xx.internal.cloudapp.net"
          },
          "enableAcceleratedNetworking": false,
          "vnetEncryptionSupported": false,
          "enableIPForwarding": false,
          "disableTcpStateTracking": false,
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard",
          "allowPort25Out": true,
          "defaultOutboundConnectivityEnabled": false,
          "auxiliaryMode": "None",
          "auxiliarySku": "None"
        },
        "type": "Microsoft.Network/networkInterfaces",
        "location": "westus2",
        "kind": "Regular"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.ManagedIdentity?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "Global",
              "Asia",
              "Australia",
              "Brazil",
              "Canada",
              "Europe",
              "France",
              "Germany",
              "India",
              "Japan",
              "Korea",
              "Norway",
              "South Africa",
              "Sweden",
              "Switzerland",
              "UAE",
              "UK",
              "United States",
              "Singapore",
              "South Africa [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262?api-version=2024-11-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262",
        "name": "testRi-9262",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {
          "isolationScope": "None",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262",
        "name": "testRi-9262",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "clientId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Compute/virtualMachines/testVM-4771?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "skip-cloudgov-VM_SI_Deploy_GuestConfig_Extension": "true"
        },
        "location": "westus2",
        "identity": {
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262": {}
          }
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_F2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Linux",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              }
            }
          },
          "osProfile": {
            "computerName": "testVM-4771",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                  }
                ]
              }
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/networkInterfaces/testNic-1240",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/operations/40f55d96-d3bb-4bb8-a8ac-5a0bde7c6c81?p=57ddd7ed-43a0-4cdb-8b58-fb254e9dbff8&api-version=2021-04-01&t=638786918575123942&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIxMjE0MDQ4WhcNMjUwNzIwMjE0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/operations/40f55d96-d3bb-4bb8-a8ac-5a0bde7c6c81?p=57ddd7ed-43a0-4cdb-8b58-fb254e9dbff8&api-version=2021-04-01&t=638786918575123942&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIxMjE0MDQ4WhcNMjUwNzIwMjE0MDQ4WjBAMT4wPAYDVQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Compute/virtualMachines/testVM-4771?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23995,Microsoft.Compute/LowCostGetResource;34",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVM-4771",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Compute/virtualMachines/testVM-4771",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus2",
        "tags": {
          "skip-cloudgov-VM_SI_Deploy_GuestConfig_Extension": "true",
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned, UserAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-579/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testRi-9262": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_F2"
          },
          "provisioningState": "Succeeded",
          "vmId": "3aa87f0e-8bae-494a-8b6d-e01673ecf921",
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest",
              "exactVersion": "16.04.202109280"
            },
            "osDisk": {
              "osType": "Linux",
              "name": "testVM-4771_OsDisk_1_57abf9215d2e43eaa28546103e5d19aa",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Compute/disks/testVM-4771_OsDisk_1_57abf9215d2e43eaa28546103e5d19aa"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "testVM-4771",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                  }
                ]
              },
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              }
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-579/providers/Microsoft.Network/networkInterfaces/testNic-1240",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      }
    },
[...]
