{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/versions?order=desc&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "metadata": {
              "enableVnextExperience": "true"
            },
            "object": "agent.version",
            "id": "sanitized-hosted-agent-name:53",
            "name": "sanitized-hosted-agent-name",
            "version": "53",
            "description": "",
            "created_at": 1780005189,
            "definition": {
              "kind": "hosted",
              "container_protocol_versions": [],
              "cpu": "0.5",
              "memory": "1Gi",
              "container_configuration": {
                "image": "sanitizedregistry.azurecr.io/sanitized/sessions-agent:latest"
              },
              "protocol_versions": [
                {
                  "protocol": "responses",
                  "version": "1.0.0"
                }
              ]
            },
            "status": "active",
            "instance_identity": {
              "principal_id": "7cfe766f-265a-4cc8-a57a-8402cb5126ed",
              "client_id": "7cfe766f-265a-4cc8-a57a-8402cb5126ed"
            },
            "blueprint": {
              "principal_id": "b8c2d6a1-2419-4742-8add-adf66cd82a60",
              "client_id": "b8c2d6a1-2419-4742-8add-adf66cd82a60"
            },
            "blueprint_reference": {
              "type": "ManagedAgentIdentityBlueprint",
              "blueprint_id": "sanitized-hosted-agent-name-8ffb7"
            },
            "agent_guid": "8ffb7801-58f1-4122-bc0a-bd9f3ed98ff2"
          },
          {
            "metadata": {
              "enableVnextExperience": "true"
            },
            "object": "agent.version",
            "id": "sanitized-hosted-agent-name:52",
            "name": "sanitized-hosted-agent-name",
            "version": "52",
            "description": "Code-based hosted agent uploaded with dependency_resolution=bundled.",
            "created_at": 1779411528,
            "definition": {
              "kind": "hosted",
              "container_protocol_versions": [],
              "cpu": "0.5",
              "memory": "1Gi",
              "protocol_versions": [
                {
                  "protocol": "responses",
                  "version": "1.0.0"
                }
              ],
              "code_configuration": {
                "runtime": "python_3_13",
                "entry_point": [
                  "python",
                  "main.py"
                ],
                "dependency_resolution": "bundled",
                "content_hash": "895a5fbae4b2977f1fd60abeb054d5ee5730d12ff19ec0124460709997a2ff2c"
              }
            },
            "status": "active",
            "instance_identity": {
              "principal_id": "7cfe766f-265a-4cc8-a57a-8402cb5126ed",
              "client_id": "7cfe766f-265a-4cc8-a57a-8402cb5126ed"
            },
            "blueprint": {
              "principal_id": "b8c2d6a1-2419-4742-8add-adf66cd82a60",
              "client_id": "b8c2d6a1-2419-4742-8add-adf66cd82a60"
            },
     [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/endpoint/sessions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "version_indicator": {
          "agent_version": "53",
          "type": "version_ref"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "3bb865288e9e443800qonm8AFVrHJpg9a8t326BCP6fyq8utU7",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "53"
        },
        "status": "active",
        "created_at": 1782248315,
        "last_accessed_at": 1782248315,
        "expires_at": 1784840315
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/endpoint/sessions/3bb865288e9e443800qonm8AFVrHJpg9a8t326BCP6fyq8utU7/files/content?path=/remote/data_file1.txt&api-version=v1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAxDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "path": "remote/data_file1.txt",
        "bytes_written": 23,
        "success": true,
        "source_type": "stream"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/endpoint/sessions/3bb865288e9e443800qonm8AFVrHJpg9a8t326BCP6fyq8utU7/files?path=/remote&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "path": "remote",
        "entries": [
          {
            "name": "data_file1.txt",
            "size": 23,
            "is_directory": false,
            "modified_time": 0
          },
          {
            "name": "data_file2.txt",
            "size": 23,
            "is_directory": false,
            "modified_time": 0
          },
          {
            "name": "data_file3.txt",
            "size": 23,
            "is_directory": false,
            "modified_time": 0
          }
        ],
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/endpoint/sessions/3bb865288e9e443800qonm8AFVrHJpg9a8t326BCP6fyq8utU7/files/content?path=/remote/data_file1.txt&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Disposition": "attachment; filename=data_file1.txt; filename*=UTF-8''data_file1.txt",
        "Content-Type": "application/octet-stream",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAxDQo="
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/endpoint/sessions/3bb865288e9e443800qonm8AFVrHJpg9a8t326BCP6fyq8utU7/files?path=/remote/data_file1.txt&api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/sanitized-hosted-agent-name/endpoint/sessions/3bb865288e9e443800qonm8AFVrHJpg9a8t326BCP6fyq8utU7?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
