{
  "Entries": [
    {
      "RequestUri": "https://test.eastus-1.ingest.monitor.azure.com/dataCollectionRules/Custom-TestTable_CL/streams/incorrect%20stream?api-version=2023-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022Time\u0022:\u00222023-01-01T00:00:00Z\u0022,\u0022Computer\u0022:\u0022Computer0\u0022,\u0022AdditionalContext\u0022:{\u0022TestContextKey\u0022:0,\u0022CounterName\u0022:\u0022AppMetric2\u0022}},{\u0022Time\u0022:\u00222023-01-01T00:00:00Z\u0022,\u0022Computer\u0022:\u0022Computer1\u0022,\u0022AdditionalContext\u0022:{\u0022TestContextKey\u0022:1,\u0022CounterName\u0022:\u0022AppMetric2\u0022}},{\u0022Time\u0022:\u00222023-01-01T00:00:00Z\u0022,\u0022Computer\u0022:\u0022Computer2\u00[...]
