{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/1container-with-dash171617498025705574?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:16:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787B386AD7D4\"",
        "Last-Modified": "Mon, 20 May 2024 03:16:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/1container-with-dash171617498025705574/blob%20empty171617498038203199?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:16:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787B38821046\"",
        "Last-Modified": "Mon, 20 May 2024 03:16:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/1container-with-dash171617498025705574?resource=filesystem&recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:16:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606485804126278",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 03:16:20 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/1container-with-dash171617498025705574?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:16:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1container-with-dash": "1container-with-dash171617498025705574",
    "blob empty": "blob empty171617498038203199"
  }
}
