{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.SignalRService/locations/eastus/checkNameAvailability?api-version=2024-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Microsoft.SignalRService/WebPubSub",
        "name": "myWebPubSubService1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "fa73f231-1379-457d-bb80-a6e45a1ecbd7"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    }
  ],
  "Variables": {}
}
