{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-560/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-560/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotate-560/b7378044ab1e4c18b6c58d76ae701be3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vaPAvXYBN4KSbuT9JPNp13Yub9aPvvPsnSSzAAwgBzBqYu3cl8-QGfwnvnkUOpEH8KGLiVVz4wM0ec5f57qpH85iBz3SDATi2WqQu9_8LQ4ilCSNQu7WHcbuNjT4OCy792WGvJTiB1HpZX5fktFC39nNiph5j18894VBHGftlKPlAEOUDObYY6BrzvNgSuO89H80VKEeeu9dwcZCOB1xEbSRHVkPRBJT_79HTfjOhH-aTZEAow46RcYB2mmpynrspVJRXylq3kTHM8YsTYnnFTEBPXbDm3UIsi_enL1ffAquoyvzhNdSIn7xTowd-eq537zcskaVZprmVvraAgFuZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782133539,
          "updated": 1782133539,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-560/rotate?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotate-560/44e914e0783f437a8668514dcb6b1724",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "01F8WS8C38yv_coKt96RYiOto9umRD9UI8OH3mwTyCvG4InyBhJNaRanIJbG5sOLkB_oVzt5PfZ-3QUsAajYNgLkKakbQf8Nu71vVunT_dIHMEGPZb_mjtrDeWRlrMY5YsyGxrJkGNkbb7GNYonVEGmc9SnSV5w9pbxWYWYOIxbba8PrW7k8d4yEbCO5PincdYhdDegD2VmbWsILpm8D8-4minPpw3Lbdl2iQK-ukOtbhSqKUlVF8xjgl34nuvYXmPUbX3oc5l_BYGqqvpta5ChQqXQdWbjYEyaC0G2j3QaYe4FpNsV_f-cvSgM78pGs4y7MyALJ2BLhz1oNAO-NQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782133539,
          "updated": 1782133539,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "keyrotate": "keyrotate-560"
  }
}
