{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-598/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-598/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotate-598/5fbd7256998c4d278f84d3613264e448",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vRdjhqfPNJPsL6wpReB4u73jXPehkCa9eMTG4p7Lv3VXABsc2FXHZDvBfKZ9YljhAuKgWGEt3CppRFZvZ0Ls1kL00sbk5zcSW4H_uEyAAGv5B9bF5C7x2PllpKvR7BMwlzz4_yEiwSi72gkkN9MpJ8JZvT3QgGosavl3s_UUUZxeR0VAjCUHlMPmgHsq1mE8ab4pHFDB8Lju3zzApTbjf1M1IkzxCxoP9rPMbXqD6jwZRVOCix8872l_mrWuwRcEY8a_Sd66vUSkErVDJ-1xBQXdf3_kNv9mVCeLD0XY8CDeh_a1-tqKsGKfLe03pve_WC6M_JSs1grVDb1J_qpfYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051299,
          "updated": 1777051299,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-598/rotate?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotate-598/6f9e0cbb11e34dc18a54fa8444c093bb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r-ifRvEtk9A_PsMB8-ojJ28Y2um3bSrvbOIPdij-gTPdQ6rcvMbTnS0hWwVStaG1ZC-1SxlFOz1PpHFAgeVP2B0PPtNZvQD8bfG0afim5KvxcvBOtjP60Q3U7PnyfXGOqu-4340A2hJ8wAFbCNFpYntGIfZmN6FHXeFHQD-6mHok8JjV7izxfTaF54B3k9a1H1nd3WURL4IB1fJbIZtVX90qVU9uj6geUG2ZJdv_w-56ascmX4aTKGvxsrGxfaNAFaTIAcPb1aFDnBxoOlHa64aPsSfMoJ3LhYAyx_cVjfN6kscnauarm6SBCgiUWKwutCqe9vz4MQzFCGV1HbcU_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051299,
          "updated": 1777051299,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "keyrotate": "keyrotate-598"
  }
}
