{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-75/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-75/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotate-75/9d28f3a517e840a084b46497c4c34020",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vRzbFnpw-vPxQivwhSpK_yQ3h4xoUxfEouc3meWmxTy4XGKJgZg9AACeaEarvSnR-s-wSfQE4Usk5ycsF9TjiaNDPTd1n8XICOfTaJ6YIav2hyl3_-CrjBpYL6p5dnP6nRr8Pb00ujPOT6pSNpKfxJslLT6oItWxjPcXIyn-U_OaTGmiY2LWXfBKR37HA2m1y9_6AE760xwiWBACSCafbDEIHo55lTJUIpLHcMx2dFEsvb2ltOG9czYOvU-xVjwknxDTQRxdki3v0D_fMhTaAs2g1cZpou36NZxsO2AN5yTl2f6ccDG7bb9YiMy2vuwY9DpzsVKGrjRP1Pav1X-zjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478363,
          "updated": 1739478363,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotate-75/rotate?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotate-75/785d523173bb4b7699e4be13824f4bca",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9igs_abaVQi-6DUOfT9kOgSUFQtiir8QqshLy3qaSET8dmJTlqaMYeq84nXyIbF9EKMr16p7UYNVct_5c_YM0d0qRiWm45vTYzjl6WvyefvXGhnrBP1eRFC7tyG3_gszMsn1FcAEcUM4zrFIXgWtgetrXaZrAXUaqNgpfo4JlwfL-tz46NaeEboaTHoSLrmuRwc-alE3ZK9lmEdOb5r9RKPb2lcTYvg4NCwEO5jjTMeQByzuLcFksrvLDvKmFC4PXnMiOrOJ_WPIojkEKoDcZN6SvG5csZGQoFvoT6s1-LKcExzv5ZnJSIgqRJh4BQwi4doRiMiQiPSLgZpDrLmrkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478363,
          "updated": 1739478363,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "keyrotate": "keyrotate-75"
  }
}
