{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/provisioningServices/testresource?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "tags": {},
        "properties": {
          "enableDataResidency": false
        },
        "sku": {
          "name": "S1",
          "capacity": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Devices/locations/eastus2euap/provisioningserviceoperationresults/aWQ9b3NfaWRfY2NmYmZiNDYtNmI4Yy00ZGNlLTgxNDUtYmU3NWY4ZDBjYTQ5O3JlZ2lvbj1lYXN0dXMyZXVhcA==?api-version=2023-03-01-preview\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4999"
      },
      "ResponseBody": {
        "name": "testresource",
        "location": "eastus2euap",
        "properties": {
          "state": "Activating",
          "provisioningState": "Accepted",
          "allocationPolicy": "Hashed",
          "idScope": null,
          "enableDataResidency": false
        },
        "resourcegroup": "myjstest",
        "type": "Microsoft.Devices/provisioningServices",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/provisioningServices/testresource",
        "subscriptionid": "azure_subscription_id",
        "tags": {},
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Devices/locations/eastus2euap/provisioningserviceoperationresults/aWQ9b3NfaWRfY2NmYmZiNDYtNmI4Yy00ZGNlLTgxNDUtYmU3NWY4ZDBjYTQ5O3JlZ2lvbj1lYXN0dXMyZXVhcA==?api-version=2023-03-01-preview\u0026asyncinfo=undefined",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/provisioningServices/testresource?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "etag": "AAAAABibB2Y=",
        "name": "testresource",
        "location": "eastus2euap",
        "properties": {
          "state": "Active",
          "provisioningState": "Succeeded",
          "iotHubs": [],
          "allocationPolicy": "Hashed",
          "serviceOperationsHostName": "testresource.azure-devices-provisioning.net",
          "portalOperationsHostName": "testresource.services.azure-devices-provisioning.net",
          "deviceProvisioningHostName": "global-canary.azure-devices-provisioning.net",
          "idScope": "0ne00A4C40B",
          "enableDataResidency": false
        },
        "resourcegroup": "myjstest",
        "type": "Microsoft.Devices/provisioningServices",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/provisioningServices/testresource",
        "subscriptionid": "azure_subscription_id",
        "tags": {},
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "capacity": 1
        },
        "identity": {
          "type": "None"
        }
      }
    }
  ],
  "Variables": {}
}
