{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic3028/tasks/jssdkJob-Basic3028-task1/terminate?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic3028/tasks/jssdkJob-Basic3028-task1/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE1809398C8CBA",
        "Last-Modified": "Thu, 30 Oct 2025 23:08:23 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic3028",
    "TASK_NAME": "jssdkJob-Basic3028-task1"
  }
}
