{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic3028/tasks/jssdkJob-Basic3028-task2?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic3028",
    "TASK2_NAME": "jssdkJob-Basic3028-task2"
  }
}
