{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf761/taskcounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#taskcountsresult/@Element",
        "taskCounts": {
          "active": 0,
          "running": 0,
          "completed": 5,
          "succeeded": 2,
          "failed": 3
        },
        "taskSlotCounts": {
          "active": 0,
          "running": 0,
          "completed": 5,
          "succeeded": 2,
          "failed": 3
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicf761"
  }
}
