{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf761/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "Task-AppPackage",
        "commandLine": "cmd /c echo hello world",
        "applicationPackageReferences": [
          {
            "applicationId": "REDACTED"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf761/tasks/Task-AppPackage",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE63724F14E9F3",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:33 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf761/tasks/Task-AppPackage"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf761/tasks/Task-AppPackage?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE63724F14E9F3",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:33 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "Task-AppPackage",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicf761/tasks/Task-AppPackage",
        "eTag": "0x8DE63724F14E9F3",
        "creationTime": "2026-02-03T22:19:33.7381363Z",
        "lastModified": "2026-02-03T22:19:33.7381363Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T22:19:33.7381363Z",
        "commandLine": "cmd /c echo hello world",
        "applicationPackageReferences": [
          {
            "applicationId": "redacted"
          }
        ],
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicf761"
  }
}
