{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "JobWithAutoComplete",
        "poolInfo": {
          "poolId": "dummypool"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "performexitoptionsjobaction",
        "usesTaskDependencies": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE63723C4BA98C",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:02 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "TaskWithAutoComplete",
        "commandLine": "echo Hello World",
        "exitConditions": {
          "default": {
            "jobAction": "terminate",
            "dependencyAction": "satisfy"
          },
          "exitCodes": [
            {
              "code": 1,
              "exitOptions": {
                "jobAction": "none",
                "dependencyAction": "block"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE63723C65E2FD",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:02 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE63723C65E2FD",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:02 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "TaskWithAutoComplete",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete/tasks/TaskWithAutoComplete",
        "eTag": "0x8DE63723C65E2FD",
        "creationTime": "2026-02-03T22:19:02.3920893Z",
        "lastModified": "2026-02-03T22:19:02.3920893Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T22:19:02.3920893Z",
        "commandLine": "echo Hello World",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "exitConditions": {
          "exitCodes": [
            {
              "code": 1,
              "exitOptions": {
                "jobAction": "none",
                "dependencyAction": "block"
              }
            }
          ],
          "default": {
            "jobAction": "terminate",
            "dependencyAction": "satisfy"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/JobWithAutoComplete?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
