{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices/myjssearchservicexxx/listQueryKeys?api-version=2024-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "97",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "value": [
          {
            "name": null,
            "key": "Sanitized"
          },
          {
            "name": "testjskey",
            "key": "Sanitized"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices/myjssearchservicexxx/deleteQueryKey/fakeKey?api-version=2024-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "122",
        "x-ms-failure-cause": "service",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "An error has occured. RequestId: 569ea4ff-5b2f-4468-b867-25362234bd2b",
          "target": null,
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices/myjssearchservicexxx/deleteQueryKey/fakeKey?api-version=2024-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "94",
        "x-ms-failure-cause": "service",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "message": "An error has occured. RequestId: 6635a451-89a9-441e-8807-22784d24e6db",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
