{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "96",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "East US",
            "properties": {
              "replicaCount": 1,
              "partitionCount": 1,
              "endpoint": "https://myjssearchservicexxx.search.windows.net",
              "status": "running",
              "statusDetails": "",
              "provisioningState": "Succeeded",
              "hostingMode": "default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\"datetime'2025-04-07T02%3A51%3A35.2286201Z'\"",
              "encryptionWithCmk": {
                "enforcement": "Unspecified",
                "encryptionComplianceStatus": "Compliant"
              },
              "disableLocalAuth": false,
              "authOptions": {
                "apiKeyOnly": {}
              },
              "disabledDataExfiltrationOptions": [],
              "semanticSearch": "free",
              "upgradeAvailable": false,
              "serviceUpgradeDate": null
            },
            "systemData": {
              "createdAt": "2025-04-07T02:51:35.220Z"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices/myjssearchservicexxx",
            "name": "myjssearchservicexxx",
            "type": "Microsoft.Search/searchServices",
            "sku": {
              "name": "standard"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
