{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_alzimmer-mcp871c013d?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "alzimmer",
          "DeleteAfter": "2025-12-19T06:32:25.6457961Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d/providers/Microsoft.Web/sites?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "48694757-bc97-416e-8dd2-ea677b233085",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d/providers/Microsoft.Web/sites/Sanitized-func",
            "name": "Sanitized",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp",
            "location": "West US",
            "properties": {
              "name": "Sanitized",
              "state": "Running",
              "hostNames": [
                "Sanitized-func.azurewebsites.net"
              ],
              "webSpace": "SSS3PT_alzimmer-mcp871c013d-WestUSwebspace",
              "selfLink": "https://waws-prod-bay-189.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/SSS3PT_alzimmer-mcp871c013d-WestUSwebspace/sites/Sanitized-func",
              "repositorySiteName": "Sanitized-func",
              "owner": null,
              "usageState": "Normal",
              "enabled": true,
              "adminEnabled": true,
              "siteScopedCertificatesEnabled": false,
              "afdEnabled": false,
              "enabledHostNames": [
                "Sanitized-func.azurewebsites.net",
                "Sanitized-func.scm.azurewebsites.net"
              ],
              "siteProperties": {
                "metadata": null,
                "properties": [
                  {
                    "name": "Sanitized",
                    "value": ""
                  },
                  {
                    "name": "Sanitized",
                    "value": null
                  }
                ],
                "appSettings": null
              },
              "availabilityState": "Normal",
              "sslCertificates": null,
              "csrs": [],
              "cers": null,
              "siteMode": null,
              "hostNameSslStates": [
                {
                  "name": "Sanitized",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "virtualIPv6": null,
                  "thumbprint": null,
                  "certificateResourceId": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Standard"
                },
                {
                  "name": "Sanitized",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "virtualIPv6": null,
                  "thumbprint": null,
                  "certificateResourceId": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Repository"
                }
              ],
              "computeMode": null,
              "serverFarm": null,
              "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d/providers/Microsoft.Web/serverfarms/Sanitized-plan",
              "reserved": false,
              "isXenon": false,
              "hyperV": false,
              "sandboxType": null,
              "lastModifiedTimeUtc": "2025-12-18T18:33:48.5133333",
              "storageRecoveryDefaultState": "Running",
              "contentAvailabilityState": "Normal",
              "runtimeAvailabilityState": "Normal",
              "dnsConfiguration": {},
              "containerAllocationSubnet": null,
              "useContainerLocalhostBindings": null,
              "outboundVnetRouting": {
                "allTraffic": false,
                "applicationTraffic": false,
                "contentShareTraffic": false,
                "imagePullTraffic": false,
                "backupRestoreTraffic": false,
                "managedIdentityTraffic": false
              },
              "legacyServiceEndpointTrafficEvaluation": null,
              "siteConfig": {
                "numberOfWorkers": 1,
                "defaultDocuments": null,
                "netFrameworkVersion": null,
                "phpVersion": null,
                "pythonVersion": null,
                "nodeVersion": null,
                "powerShellVersion": null,
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "sandboxType": null,
                "windowsConfiguredStacks": null,
                "requestTracingEnabled": null,
                "remoteDebuggingEnabled": null,
                "remoteDebuggingVersion": null,
                "httpLoggingEnabled": null,
                "azureMonitorLogCategories": null,
                "acrUseManagedIdentityCreds": false,
                "acrUserManagedIdentityID": null,
                "logsDirectorySizeLimit": null,
                "detailedErrorLoggingEnabled": null,
                "publishingUsername": null,
                "publishingPassword": null,
                "appSettings": null,
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": null,
                "use32BitWorkerProcess": null,
                "webSocketsEnabled": null,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": null,
                "managedPipelineMode": null,
                "virtualApplications": null,
                "winAuthAdminState": null,
                "winAuthTenantState": null,
                "customAppPoolIdentityAdminState": null,
                "customAppPoolIdentityTenantState": null,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": null,
                "routingRules": null,
                "experiments": null,
                "limits": null,
                "autoHealEnabled": null,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": null,
                "vnetRouteAllEnabled": null,
                "vnetPrivatePortsCount": null,
                "publicNetworkAccess": null,
                "cors": null,
                "push": null,
                "apiDefinition": null,
                "apiManagementConfig": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": null,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "keyVaultReferenceIdentity": null,
                "ipSecurityRestrictions": null,
                "ipSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictions": null,
                "scmIpSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictionsUseMain": null,
                "http20Enabled": false,
                "minTlsVersion": null,
                "minTlsCipherSuite": null,
                "scmMinTlsCipherSuite": null,
                "supportedTlsCipherSuites": null,
                "scmSupportedTlsCipherSuites": null,
                "scmMinTlsVersion": null,
                "ftpsState": null,
                "preWarmedInstanceCount": null,
                "functionAppScaleLimit": 200,
                "elasticWebAppScaleLimit": null,
                "healthCheckPath": null,
                "fileChangeAuditEnabled": null,
                "functionsRuntimeScaleMonitoringEnabled": null,
                "websiteTimeZone": null,
                "minimumElasticInstanceCount": 0,
                "azureStorageAccounts": null,
                "http20ProxyFlag": null,
                "sitePort": null,
                "antivirusScanEnabled": null,
                "storageType": null,
                "sitePrivateLinkHostEnabled": null,
                "clusteringEnabled": false,
                "webJobsEnabled": false
              },
              "functionAppConfig": null,
              "daprConfig": null,
              "deploymentId": "Sanitized-func",
              "slotName": null,
              "trafficManagerHostNames": null,
              "sku": "Dynamic",
              "scmSiteAlsoStopped": false,
              "targetSwapSlot": null,
              "hostingEnvironment": null,
              "hostingEnvironmentProfile": null,
              "clientAffinityEnabled": false,
              "clientAffinityProxyEnabled": false,
              "useQueryStringAffinity": false,
              "blockPathTraversal": false,
              "clientCertEnabled": false,
              "clientCertMode": "Required",
              "clientCertExclusionPaths": null,
              "clientCertExclusionEndPoints": null,
              "hostNamesDisabled": false,
              "ipMode": "IPv4",
              "domainVerificationIdentifiers": null,
              "customDomainVerificationId": "Sanitized",
              "kind": "functionapp",
              "managedEnvironmentId": null,
              "workloadProfileName": null,
              "resourceConfig": null,
              "inboundIpAddress": "Sanitized",
              "possibleInboundIpAddresses": "Sanitized",
              "inboundIpv6Address": "Sanitized",
              "possibleInboundIpv6Addresses": "Sanitized",
              "ftpUsername": "Sanitized-func\\$Sanitized-func",
              "ftpsHostName": "Sanitized",
              "outboundIpAddresses": "Sanitized",
              "possibleOutboundIpAddresses": "Sanitized",
              "outboundIpv6Addresses": "Sanitized",
              "possibleOutboundIpv6Addresses": "Sanitized",
              "containerSize": 1536,
              "dailyMemoryTimeQuota": 0,
              "suspendedTill": null,
              "siteDisabledReason": 0,
              "functionExecutionUnitsCache": null,
              "maxNumberOfWorkers": null,
              "homeStamp": "Sanitized",
              "cloningInfo": null,
              "hostingEnvironmentId": null,
              "tags": null,
              "resourceGroup": "Sanitized",
              "defaultHostName": "Sanitized-func.azurewebsites.net",
              "slotSwapStatus": null,
              "httpsOnly": true,
              "endToEndEncryptionEnabled": false,
              "functionsRuntimeAdminIsolationEnabled": false,
              "redundancyMode": "None",
              "inProgressOperationId": null,
              "geoDistributions": null,
              "privateEndpointConnections": null,
              "publicNetworkAccess": "Enabled",
              "buildVersion": null,
              "targetBuildVersion": null,
              "migrationState": null,
              "eligibleLogCategories": "FunctionAppLogs,AppServiceAuthenticationLogs",
              "inFlightFeatures": null,
              "storageAccountRequired": false,
              "virtualNetworkSubnetId": null,
              "keyVaultReferenceIdentity": "SystemAssigned",
              "autoGeneratedDomainNameLabelScope": null,
              "privateLinkIdentifiers": null,
              "sshEnabled": null
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d/providers/Microsoft.Web/sites/Sanitized-linux-func",
            "name": "Sanitized",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp,linux",
            "location": "West US",
            "properties": {
              "name": "Sanitized",
              "state": "Running",
              "hostNames": [
          [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d/providers/Microsoft.Web/sites/Sanitized-func?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"1DC704CD99E6215\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_alzimmer-mcp871c013d/providers/Microsoft.Web/sites/Sanitized-func",
        "name": "Sanitized",
        "type": "Microsoft.Web/sites",
        "kind": "functionapp",
        "location": "West US",
        "properties": {
 [...]
