{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "owners": "bebroder,wesh",
              "DoNotDelete": ""
            },
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "Azure SDK Test Resources - TME",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    }
  ],
  "Variables": {}
}
