{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent1/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "model": "gpt-4o",
          "instructions": "First set of instructions here",
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "MyAgent1:1",
        "name": "MyAgent1",
        "version": "1",
        "description": "",
        "created_at": 1764172649,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "First set of instructions here"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent1?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "MyAgent1",
        "name": "MyAgent1",
        "versions": {
          "latest": {
            "metadata": {},
            "object": "agent.version",
            "id": "MyAgent1:2",
            "name": "MyAgent1",
            "version": "2",
            "description": "",
            "created_at": 1764172649,
            "definition": {
              "kind": "prompt",
              "model": "gpt-4o",
              "instructions": "Second set of instructions here"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent1/versions/1?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "5",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "MyAgent1:1",
        "name": "MyAgent1",
        "version": "1",
        "description": "",
        "created_at": 1764172649,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "First set of instructions here"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent1/versions?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "metadata": {},
            "object": "agent.version",
            "id": "MyAgent1:2",
            "name": "MyAgent1",
            "version": "2",
            "description": "",
            "created_at": 1764172649,
            "definition": {
              "kind": "prompt",
              "model": "gpt-4o",
              "instructions": "Second set of instructions here"
            }
          },
          {
            "metadata": {},
            "object": "agent.version",
            "id": "MyAgent1:1",
            "name": "MyAgent1",
            "version": "1",
            "description": "",
            "created_at": 1764172649,
            "definition": {
              "kind": "prompt",
              "model": "gpt-4o",
              "instructions": "First set of instructions here"
            }
          }
        ],
        "first_id": "MyAgent1:2",
        "last_id": "MyAgent1:1",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent1/versions?api-version=2025-11-15-preview&after=MyAgent1%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent1?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "13",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "MyAgent1",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent2/versions/5?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "MyAgent2",
        "version": "5",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
