{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-agent",
        "model": "gpt-4o",
        "instructions": "You are helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "96",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-01",
        "x-ms-middleware-request-id": "ae8f1d4c-5cec-4386-bc9e-dbce4a45796a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.294"
      },
      "ResponseBody": {
        "id": "asst_RQP3eZ0IkfLD7Nzk6NHkC1AF",
        "object": "assistant",
        "created_at": 1734042241,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_RQP3eZ0IkfLD7Nzk6NHkC1AF?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-agent2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "134",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-01",
        "x-ms-middleware-request-id": "51328afa-33c7-409a-ab76-26449f9bc066",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.306"
      },
      "ResponseBody": {
        "id": "asst_RQP3eZ0IkfLD7Nzk6NHkC1AF",
        "object": "assistant",
        "created_at": 1734042241,
        "name": "my-agent2",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_RQP3eZ0IkfLD7Nzk6NHkC1AF?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-01",
        "x-ms-middleware-request-id": "78f76f01-a44e-45ee-87d0-34698e1a32a5",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.261"
      },
      "ResponseBody": {
        "id": "asst_RQP3eZ0IkfLD7Nzk6NHkC1AF",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
