{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "341",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772608669
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr/items",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": "first message"
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "second message"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "321",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "type": "message",
            "id": "msg_72c029b8a0c37c8000LiOJSI8pf8wG9K4sPOWq8EUJndSlUeyI",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "first message"
              }
            ],
            "status": "completed"
          },
          {
            "type": "message",
            "id": "msg_72c029b8a0c37c8000qb6S7vppub15WTkm7EyEtxZxN9tgGLCN",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "second message"
              }
            ],
            "status": "completed"
          }
        ],
        "has_more": false,
        "first_id": "msg_72c029b8a0c37c8000LiOJSI8pf8wG9K4sPOWq8EUJndSlUeyI",
        "last_id": "msg_72c029b8a0c37c8000qb6S7vppub15WTkm7EyEtxZxN9tgGLCN"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr/items/msg_72c029b8a0c37c8000LiOJSI8pf8wG9K4sPOWq8EUJndSlUeyI",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "343",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "type": "message",
        "id": "msg_72c029b8a0c37c8000LiOJSI8pf8wG9K4sPOWq8EUJndSlUeyI",
        "role": "user",
        "content": [
          {
            "type": "input_text",
            "text": "first message"
          }
        ],
        "status": "completed"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr/items/msg_72c029b8a0c37c8000qb6S7vppub15WTkm7EyEtxZxN9tgGLCN",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "345",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772608669
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "325",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_72c029b8a0c37c8000Ycz0JOWsskmiYsLGS93fwqiEQjfe1MQr"
      }
    }
  ],
  "Variables": {}
}
