{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "203",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772588971
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l/items",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": "first message"
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "second message"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "213",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "type": "message",
            "id": "msg_d1589bc7e137e4be00fIqY5p4j8iCWshAjnMK6C8dVEAYB4eIV",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "first message"
              }
            ],
            "status": "completed"
          },
          {
            "type": "message",
            "id": "msg_d1589bc7e137e4be00BB39Gfghy3F5o6i3hBorHGoqeF3ddtU0",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "second message"
              }
            ],
            "status": "completed"
          }
        ],
        "has_more": false,
        "first_id": "msg_d1589bc7e137e4be00fIqY5p4j8iCWshAjnMK6C8dVEAYB4eIV",
        "last_id": "msg_d1589bc7e137e4be00BB39Gfghy3F5o6i3hBorHGoqeF3ddtU0"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l/items/msg_d1589bc7e137e4be00fIqY5p4j8iCWshAjnMK6C8dVEAYB4eIV",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "197",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "type": "message",
        "id": "msg_d1589bc7e137e4be00fIqY5p4j8iCWshAjnMK6C8dVEAYB4eIV",
        "role": "user",
        "content": [
          {
            "type": "input_text",
            "text": "first message"
          }
        ],
        "status": "completed"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l/items/msg_d1589bc7e137e4be00BB39Gfghy3F5o6i3hBorHGoqeF3ddtU0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "215",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772588971
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "217",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_d1589bc7e137e4be00GvX6SPvetQhq8RzSNxsqktqzVGEJU03l"
      }
    }
  ],
  "Variables": {}
}
