{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "65",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-02",
        "x-ms-middleware-request-id": "414fde97-2ee8-4c88-b71e-e98d99743e0e",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.290"
      },
      "ResponseBody": {
        "id": "thread_j5UR4wjFqlftzfWsWMnhp4dz",
        "object": "thread",
        "created_at": 1734041630,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_j5UR4wjFqlftzfWsWMnhp4dz?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "newvalue2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-02",
        "x-ms-middleware-request-id": "3676cc7c-ae19-4056-b5e6-8e7609b57cc6",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.279"
      },
      "ResponseBody": {
        "id": "thread_j5UR4wjFqlftzfWsWMnhp4dz",
        "object": "thread",
        "created_at": 1734041630,
        "metadata": {
          "key1": "value1",
          "key2": "newvalue2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
