{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-02",
        "x-ms-middleware-request-id": "840acc0c-09f0-426a-9e34-38b0e079d8b7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.265"
      },
      "ResponseBody": {
        "id": "thread_NYSULBwwI2eZSrZwE5tUEjNY",
        "object": "thread",
        "created_at": 1734041617,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
