{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test_vector_store",
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "166706e5-04b7-437d-9ebd-29fc09f0bb30",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.277"
      },
      "ResponseBody": {
        "id": "vs_GAeYebNhQopW0jQJDPgtpkey",
        "object": "vector_store",
        "name": "test_vector_store",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1744947278,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1744947278
      }
    }
  ],
  "Variables": {}
}
