{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "configuration": {
          "data_sources": [
            {
              "uri": "",
              "type": "uri_asset"
            }
          ]
        },
        "name": "my_vectorstore"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "52",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "c12ca0b9-be41-4193-ae60-c1dcd28511e7",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.343"
      },
      "ResponseBody": {
        "error": {
          "message": "Invalid request. Vector store configuration is not supported.",
          "type": "invalid_request_error",
          "param": null,
          "code": null
        }
      }
    }
  ],
  "Variables": {}
}
