{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "35ab247c-4946-43a8-8248-9bd34533c3f7",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.385"
      },
      "ResponseBody": {
        "id": "thread_LZv6M9o6iak2dMMXcxCA9lMK",
        "object": "thread",
        "created_at": 1745382986,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_LZv6M9o6iak2dMMXcxCA9lMK/messages?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "61e54600-cfad-4135-a949-8217625232b7",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.415"
      },
      "ResponseBody": {
        "id": "msg_8Unzwlb734h1T3v2aapPzgYI",
        "object": "thread.message",
        "created_at": 1745382987,
        "assistant_id": null,
        "thread_id": "thread_LZv6M9o6iak2dMMXcxCA9lMK",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_LZv6M9o6iak2dMMXcxCA9lMK/messages/msg_8Unzwlb734h1T3v2aapPzgYI?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "38",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "d539a203-e9c9-489b-840a-90f999bb8059",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.430"
      },
      "ResponseBody": {
        "id": "msg_8Unzwlb734h1T3v2aapPzgYI",
        "object": "thread.message",
        "created_at": 1745382987,
        "assistant_id": null,
        "thread_id": "thread_LZv6M9o6iak2dMMXcxCA9lMK",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
