{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "68",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "9c5da68b-db65-4272-b382-f3eee3e1cc1a",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.295"
      },
      "ResponseBody": {
        "id": "thread_jXcn1ITRRqBToxxqKOaYaQuE",
        "object": "thread",
        "created_at": 1744946774,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
