{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "64",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "02f134de-d49a-40f4-b33d-299fc1da6ffb",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "id": "asst_wm9dUVKGeJJ9nU1mmgvRQhc1",
        "object": "assistant",
        "created_at": 1744946857,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "56",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "05f8efad-d056-4057-be6f-d9673a2f3478",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.336"
      },
      "ResponseBody": {
        "id": "thread_6oK5FiIq41jfDp1wEUARyVpS",
        "object": "thread",
        "created_at": 1744946857,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_6oK5FiIq41jfDp1wEUARyVpS/messages?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "67",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "8ede90c5-c418-4140-94db-64b0d1acaf3a",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.417"
      },
      "ResponseBody": {
        "object": "list",
        "data": [],
        "first_id": null,
        "last_id": null,
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_6oK5FiIq41jfDp1wEUARyVpS/messages?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "feb8e499-ae77-49cc-803f-a04b2160c4de",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.277"
      },
      "ResponseBody": {
        "id": "msg_aDlfnp2hm5ikcdi8HGKXVJRp",
        "object": "thread.message",
        "created_at": 1744946858,
        "assistant_id": null,
        "thread_id": "thread_6oK5FiIq41jfDp1wEUARyVpS",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_wm9dUVKGeJJ9nU1mmgvRQhc1?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "a4d6606b-4f3c-4ab2-8335-7d9e16b1421b",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.285"
      },
      "ResponseBody": {
        "id": "asst_wm9dUVKGeJJ9nU1mmgvRQhc1",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
