{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "b50cfbf7-b14c-477c-bb85-5e88dc9d7e2e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.314"
      },
      "ResponseBody": {
        "id": "thread_3dzMn2AZKJ4lTmsIcNIptEaN",
        "object": "thread",
        "created_at": 1745381232,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_3dzMn2AZKJ4lTmsIcNIptEaN/messages?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "45",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "dbd347b9-2809-4f33-9cdb-479cbeeeb0e6",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.399"
      },
      "ResponseBody": {
        "id": "msg_rIgQZ2wK0a1X7HPwUKk9gThH",
        "object": "thread.message",
        "created_at": 1745381233,
        "assistant_id": null,
        "thread_id": "thread_3dzMn2AZKJ4lTmsIcNIptEaN",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_3dzMn2AZKJ4lTmsIcNIptEaN/messages/msg_rIgQZ2wK0a1X7HPwUKk9gThH?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "48b6d1ff-7e23-4274-9125-f5bd4b8a69d2",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.375"
      },
      "ResponseBody": {
        "id": "msg_rIgQZ2wK0a1X7HPwUKk9gThH",
        "object": "thread.message",
        "created_at": 1745381233,
        "assistant_id": null,
        "thread_id": "thread_3dzMn2AZKJ4lTmsIcNIptEaN",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
