{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "69",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "254a045a-108e-4d8c-8573-7377b4221ac9",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.404"
      },
      "ResponseBody": {
        "id": "thread_lY6xeZEH7PfkP4sAq4fFzGQE",
        "object": "thread",
        "created_at": 1745381191,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_lY6xeZEH7PfkP4sAq4fFzGQE?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "newvalue2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "130",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "0dbf1b0f-3589-4f1d-8b19-739b4d602e74",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.404"
      },
      "ResponseBody": {
        "id": "thread_lY6xeZEH7PfkP4sAq4fFzGQE",
        "object": "thread",
        "created_at": 1745381191,
        "metadata": {
          "key1": "value1",
          "key2": "newvalue2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
