{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "64",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "b8892d35-318d-4064-bbed-949eae047379",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.791"
      },
      "ResponseBody": {
        "id": "asst_koav988K3IqEIXoD4IVO92zY",
        "object": "assistant",
        "created_at": 1744946708,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_koav988K3IqEIXoD4IVO92zY?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "90d20f8d8d1a426e838ef7db78987484",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "e4fa864e-9be8-478c-9c7d-d34db97835d4",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.437"
      },
      "ResponseBody": {
        "id": "asst_koav988K3IqEIXoD4IVO92zY",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
