{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "22",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "e6c6c319-873a-40c8-adad-5abfd53c91ae",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.248"
      },
      "ResponseBody": {
        "id": "thread_xoKm8hqiNAL3Ii1nYyBLWz10",
        "object": "thread",
        "created_at": 1733781714,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_xoKm8hqiNAL3Ii1nYyBLWz10/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "40",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "cdbc4393-2623-4d6e-b947-1d726f4c86a6",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.272"
      },
      "ResponseBody": {
        "id": "msg_fKjhiyY5XViycjUWSdkobf0i",
        "object": "thread.message",
        "created_at": 1733781715,
        "assistant_id": null,
        "thread_id": "thread_xoKm8hqiNAL3Ii1nYyBLWz10",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_xoKm8hqiNAL3Ii1nYyBLWz10/messages/msg_fKjhiyY5XViycjUWSdkobf0i?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "21074ade-cf6e-49b6-81b3-288b1e2b267d",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.322"
      },
      "ResponseBody": {
        "id": "msg_fKjhiyY5XViycjUWSdkobf0i",
        "object": "thread.message",
        "created_at": 1733781715,
        "assistant_id": null,
        "thread_id": "thread_xoKm8hqiNAL3Ii1nYyBLWz10",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
