{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "191",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772608672
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s/items",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": "first message"
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "second message"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "197",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "type": "message",
            "id": "msg_865e425d738e07ed00GXVD21x0SNWYWQR81l8zfS6Pi6pDBubt",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "first message"
              }
            ],
            "status": "completed"
          },
          {
            "type": "message",
            "id": "msg_865e425d738e07ed00bIuU2a2LLfIA3Mcf6tN4OHAtlwiZ6QIz",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "second message"
              }
            ],
            "status": "completed"
          }
        ],
        "has_more": false,
        "first_id": "msg_865e425d738e07ed00GXVD21x0SNWYWQR81l8zfS6Pi6pDBubt",
        "last_id": "msg_865e425d738e07ed00bIuU2a2LLfIA3Mcf6tN4OHAtlwiZ6QIz"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s/items/msg_865e425d738e07ed00GXVD21x0SNWYWQR81l8zfS6Pi6pDBubt",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "205",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "type": "message",
        "id": "msg_865e425d738e07ed00GXVD21x0SNWYWQR81l8zfS6Pi6pDBubt",
        "role": "user",
        "content": [
          {
            "type": "input_text",
            "text": "first message"
          }
        ],
        "status": "completed"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s/items/msg_865e425d738e07ed00bIuU2a2LLfIA3Mcf6tN4OHAtlwiZ6QIz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "199",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s",
        "object": "conversation",
        "metadata": {},
        "created_at": 1772608672
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/openai/v1/conversations/conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "201",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_865e425d738e07ed001pvR6dW1cfXY3yqLS2Lremg6VkyHAM4s"
      }
    }
  ],
  "Variables": {}
}
