{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "71d5ba97-8dc3-4b93-ad1c-1e41e7fd7aad",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.517"
      },
      "ResponseBody": {
        "id": "thread_OK1aJHImOPSCIGV33xwi1mU1",
        "object": "thread",
        "created_at": 1745382945,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
