{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "64",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "1df43d1c-3e8f-4732-b44f-926c6debbd46",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.004"
      },
      "ResponseBody": {
        "id": "asst_5SkOHgfeAJX5dkU3cva6aO8Z",
        "object": "assistant",
        "created_at": 1745381888,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_5SkOHgfeAJX5dkU3cva6aO8Z?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "c6c478ab-9d15-4db9-b0cb-401a0fa43b21",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.650"
      },
      "ResponseBody": {
        "id": "asst_5SkOHgfeAJX5dkU3cva6aO8Z",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
