{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "22",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-01",
        "x-ms-middleware-request-id": "7e3236e1-0fc7-4619-82fc-b3ecf404b7df",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.203"
      },
      "ResponseBody": {
        "id": "thread_cvCIgzGCqj00pWyUxSb2ooVm",
        "object": "thread",
        "created_at": 1734042270,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_cvCIgzGCqj00pWyUxSb2ooVm?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "newvalue2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "93",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus2-01",
        "x-ms-middleware-request-id": "52853cd4-3256-45eb-8915-ca9856adecbb",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.269"
      },
      "ResponseBody": {
        "id": "thread_cvCIgzGCqj00pWyUxSb2ooVm",
        "object": "thread",
        "created_at": 1734042270,
        "metadata": {
          "key1": "value1",
          "key2": "newvalue2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
