{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "22",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "56788b23-fd48-4375-a940-ac64000b9593",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.231"
      },
      "ResponseBody": {
        "id": "thread_t22G4TmM6V1vDXcWae8Xzv2B",
        "object": "thread",
        "created_at": 1733527360,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_t22G4TmM6V1vDXcWae8Xzv2B/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "35",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "93aa89cf-25e8-4ba1-a517-abc97ff6b778",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.251"
      },
      "ResponseBody": {
        "id": "msg_KeNxGQp8JfDK4PjF4seAhP00",
        "object": "thread.message",
        "created_at": 1733527361,
        "assistant_id": null,
        "thread_id": "thread_t22G4TmM6V1vDXcWae8Xzv2B",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_t22G4TmM6V1vDXcWae8Xzv2B/messages/msg_KeNxGQp8JfDK4PjF4seAhP00?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "74182842-3478-4afc-b0ac-ad6264a52b0a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.298"
      },
      "ResponseBody": {
        "id": "msg_KeNxGQp8JfDK4PjF4seAhP00",
        "object": "thread.message",
        "created_at": 1733527361,
        "assistant_id": null,
        "thread_id": "thread_t22G4TmM6V1vDXcWae8Xzv2B",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
