{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/agent-for-python-projects-sdk-testing/versions?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "model": "gpt-4o",
          "instructions": "You are helpful agent",
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.339"
      },
      "ResponseBody": {
        "object": "agent.version",
        "id": "agent-for-python-projects-sdk-testing:1",
        "name": "agent-for-python-projects-sdk-testing",
        "version": "1",
        "description": "",
        "metadata": {},
        "created_at": 1760746335,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "You are helpful agent"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/agent-for-python-projects-sdk-testing/versions/1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "25",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.086"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "agent-for-python-projects-sdk-testing",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
