{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test_vector_store",
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "9d498546-812a-47ad-9c50-436bb6cc226c",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.259"
      },
      "ResponseBody": {
        "id": "vs_ZSLYdKE2fet8sRSrTehzpVvU",
        "object": "vector_store",
        "name": "test_vector_store",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732305870,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732305870
      }
    }
  ],
  "Variables": {}
}