{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.DurableTask/operations?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "24999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Durable Task Scheduler",
              "resource": "Durable Task Scheduler resource provider",
              "operation": "Register Microsoft.DurableTask resource provider",
              "description": "Register Microsoft.DurableTask resource provider for the subscription"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Durable Task Scheduler",
              "resource": "Durable Task Scheduler resource provider",
              "operation": "Unregister Microsoft.DurableTask resource provider",
              "description": "Unregister Microsoft.DurableTask resource provider for the subscription"
            },
            "properties": null
          },
          {[...]
