{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/go-test-definition?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "test case",
          "parameters": {
            "prefix": {
              "metadata": {
                "description": "prefix description",
                "displayName": "test case prefix"
              },
              "type": "String"
            },
            "suffix": {
              "metadata": {
                "description": "suffix description",
                "displayName": "test case suffix"
              },
              "type": "String"
            }
          },
          "policyRule": {
            "if": {
              "not": {
                "field": "name",
                "like": "[concat(parameters(\u0027prefix\u0027), \u0027*\u0027, parameters(\u0027suffix\u0027))]"
              }
            },
            "then": {
              "effect": "deny"
            }
          },
          "policyType": "Custom"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "policyType": "Custom",
          "mode": "Indexed",
          "description": "test case",
          "metadata": {
            "createdBy": "00000000-0000-0000-0000-000000000000",
            "createdOn": "2023-11-20T09:01:19.139339Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "parameters": {
            "prefix": {
              "type": "String",
              "metadata": {
                "description": "prefix description",
                "displayName": "test case prefix"
              }
            },
            "suffix": {
              "type": "String",
              "metadata": {
                "description": "suffix description",
                "displayName": "test case suffix"
              }
            }
          },
          "policyRule": {
            "if": {
              "not": {
                "field": "name",
                "like": "[concat(parameters(\u0027prefix\u0027), \u0027*\u0027, parameters(\u0027suffix\u0027))]"
              }
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/go-test-definition",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "go-test-definition",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-11-20T09:01:19.1216971Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-11-20T09:01:19.1216971Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQxNjItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01\u0026t=638360676840751100\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY2[...]
