{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/go-test-definition?api-version=2025-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "test case",
          "parameters": {
            "prefix": {
              "metadata": {
                "description": "prefix description",
                "displayName": "test case prefix"
              },
              "type": "String"
            },
            "suffix": {
              "metadata": {
                "description": "suffix description",
                "displayName": "test case suffix"
              },
              "type": "String"
            }
          },
          "policyRule": {
            "if": {
              "not": {
                "field": "name",
                "like": "[concat(parameters('prefix'), '*', parameters('suffix'))]"
              }
            },
            "then": {
              "effect": "deny"
            }
          },
          "policyType": "Custom"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "properties": {
          "policyType": "Custom",
          "mode": "Indexed",
          "description": "test case",
          "metadata": {
            "createdBy": "Sanitized",
            "createdOn": "2026-02-06T08:20:17.4561935Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "version": "1.0.0",
          "parameters": {
            "prefix": {
              "type": "String",
              "metadata": {
                "description": "prefix description",
                "displayName": "test case prefix"
              }
            },
            "suffix": {
              "type": "String",
              "metadata": {
                "description": "suffix description",
                "displayName": "test case suffix"
              }
            }
          },
          "policyRule": {
            "if": {
              "not": {
                "field": "name",
                "like": "[concat(parameters('prefix'), '*', parameters('suffix'))]"
              }
            },
            "then": {
              "effect": "deny"
            }
          },
          "versions": [
            "1.0.0"
          ]
        },
        "id": "Sanitized",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "Sanitized",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-02-06T08:20:17.4390259Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-02-06T08:20:17.4390259Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ0MjAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01&t=639059628241158435&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlv[...]
