{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Run",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/0b6d93ce-d813-4b58-b58f-4942add1439f?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "0b6d93ce-d813-4b58-b58f-4942add1439f",
        "creationTime": "2026-06-01T12:29:58.7708073Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Run",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/0b6d93ce-d813-4b58-b58f-4942add1439f/runs?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/0b6d93ce-d813-4b58-b58f-4942add1439f/runs/e3e0534d-16ad-441e-8d3f-2a9c9cdaaa60?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "e3e0534d-16ad-441e-8d3f-2a9c9cdaaa60",
        "creationTime": "2026-06-01T12:30:00.4755868Z",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "e3e0534d-16ad-441e-8d3f-2a9c9cdaaa60",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-01T12:29:58.8719371Z"
            }
          ],
          "creationTime": "2026-06-01T12:29:58.8719364Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    }
  ],
  "Variables": {}
}
