{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Operation",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/5c7a18a1-74e4-4181-9969-b5fad25e0781?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:23:59.4038267Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Operation",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/5c7a18a1-74e4-4181-9969-b5fad25e0781/runs/3e05059e-5832-42d6-a722-2ffff4cc46fd?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:24:00.4856599Z",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-08T22:24:00.4639171Z"
            }
          ],
          "creationTime": "2026-06-08T22:24:00.4639137Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-08T22:24:00.4639171Z"
          }
        ],
        "type": "IngestionStaticCatalog",
        "creationTime": "2026-06-08T22:24:00.4639137Z",
        "collectionId": "naip"
      }
    }
  ],
  "Variables": {}
}
