{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Test",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/f9248ee8-44f6-4df2-a931-116b4d776231?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:23:14.6106066Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Test",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:23:14.6106066Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Test",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    }
  ],
  "Variables": {}
}
