{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764735404101603?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9EB1A27D40\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:09:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764735404101603?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:8e9a5080-601e-0039-7c87-7e7ac1000000\n",
        "Time:2026-01-05T21:09:20.2733834Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container2176764736023801881?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container176764735404101603",
    "container2": "container2176764736023801881"
  }
}
