{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers?skip=0&api-version=2025-04-01&top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "1045ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "14155550100",
            "phoneNumber": "+14155550100",
            "countryCode": "US",
            "phoneNumberType": "geographic",
            "capabilities": {
              "calling": "inbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2025-02-07T16:24:00.2794376+00:00",
            "cost": {
              "amount": 1.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "14155550100",
            "phoneNumber": "+14155550100",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "none",
              "sms": "inbound+outbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2025-02-07T17:56:28.7120409+00:00",
            "cost": {
              "amount": 2.0,
              "curr[...]
