{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/registrymanagement/v1.0/registries/sdkv2-testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e42ead75-df62-4f8f-81cc-f0e5da67f8d6",
        "x-ms-response-type": "error",
        "x-request-time": "0.190"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "User/tenant/subscription is not allowed to access registry sdkv2-testFeed",
          "messageFormat": "User/tenant/subscription is not allowed to access registry {feedName}",
          "messageParameters": {
            "feedName": "sdkv2-testFeed"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": {
                "code": "UnAuthorizedRegistryAccess",
                "innerError": null
              }
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "8fab67fa86bf06821eb182e00ae88220",
          "request": "7a25fce027a089d0"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2025-05-19T16:11:53.1585397+00:00",
        "componentName": "feedmanagement",
        "statusCode": 403
      }
    }
  ],
  "Variables": {}
}
