{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3862038887"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A35.2202759Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "tableName3862038887",
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName3862038887",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A35.5086343Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName3862038887/$metadata#tableName3862038887/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A35.5086343Z'\"",
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "2024-10-16T23:02:35.5086343Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName3862038887()?%24filter=RowKey+lt+%275%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A35.5086343Z'\"",
            "Bool": true,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "some string 1",
            "Timestamp": "2024-10-16T23:02:35.5086343Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A35.5537927Z'\"",
            "Bool": true,
            "Integer": 2,
            "PartitionKey": "partition",
            "RowKey": "2",
            "String": "some string 2",
            "Timestamp": "2024-10-16T23:02:35.5537927Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A35.5956743Z'\"",
            "Bool": true,
            "Integer": 3,
            "PartitionKey": "partition",
            "RowKey": "3",
            "String": "some string 3",
            "Timestamp": "2024-10-16T23:02:35.5956743Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A35.6344839Z'\"",
            "Bool": true,
            "Integer": 4,
            "PartitionKey": "partition",
            "RowKey": "4",
            "String": "some string 4",
            "Timestamp": "2024-10-16T23:02:35.6344839Z"
          }
        ],
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#tableName3862038887"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('tableName3862038887')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
