{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:14 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName978986389"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A13.7477639Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName978986389\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName978986389",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName978986389",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "Prefer": "return-no-content",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:14 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A14.3513095Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/tableName978986389(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName978986389()?%24filter=RowKey\u002Blt\u002B%275%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:15 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A14.3513095Z\u0027\u0022",
            "Bool": true,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "some string 1",
            "Timestamp": "2023-07-20T17:03:14.3513095Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A14.3865351Z\u0027\u0022",
            "Bool": true,
            "Integer": 2,
            "PartitionKey": "partition",
            "RowKey": "2",
            "String": "some string 2",
            "Timestamp": "2023-07-20T17:03:14.3865351Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A14.4235015Z\u0027\u0022",
            "Bool": true,
            "Integer": 3,
            "PartitionKey": "partition",
            "RowKey": "3",
            "String": "some string 3",
            "Timestamp": "2023-07-20T17:03:14.4235015Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A14.4600583Z\u0027\u0022",
            "Bool": true,
            "Integer": 4,
            "PartitionKey": "partition",
            "RowKey": "4",
            "String": "some string 4",
            "Timestamp": "2023-07-20T17:03:14.4600583Z"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#tableName978986389"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName978986389\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:15 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
