{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName246899398"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName246899398\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName246899398"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName246899398",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.0944577Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableName246899398(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableName246899398/@Element",
        "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.0944577Z\u0027\u0022",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Timestamp": "2024-02-26T20:24:00.0944577Z",
        "Bool": true,
        "Integer": 1,
        "String": "some string 1"
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName246899398()?%24filter=RowKey\u002Blt\u002B%275%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableName246899398",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.0944577Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2024-02-26T20:24:00.0944577Z",
            "Bool": true,
            "Integer": 1,
            "String": "some string 1"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.1293051Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "2",
            "Timestamp": "2024-02-26T20:24:00.1293051Z",
            "Bool": true,
            "Integer": 2,
            "String": "some string 2"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.1681354Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "3",
            "Timestamp": "2024-02-26T20:24:00.1681354Z",
            "Bool": true,
            "Integer": 3,
            "String": "some string 3"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.2009905Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "4",
            "Timestamp": "2024-02-26T20:24:00.2009905Z",
            "Bool": true,
            "Integer": 4,
            "String": "some string 4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName246899398\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
