{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1169374778"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1169374778"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName1169374778",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A33.1389418Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName1169374778/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A33.1389418Z'\"",
        "PartitionKey": "partition",
        "RowKey": "1",
        "Timestamp": "2024-10-16T23:02:33.1389418Z",
        "Bool": true,
        "Integer": 1,
        "String": "some string 1"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName1169374778()?%24filter=RowKey+lt+%275%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName1169374778",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A33.1389418Z'\"",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2024-10-16T23:02:33.1389418Z",
            "Bool": true,
            "Integer": 1,
            "String": "some string 1"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A33.1897181Z'\"",
            "PartitionKey": "partition",
            "RowKey": "2",
            "Timestamp": "2024-10-16T23:02:33.1897181Z",
            "Bool": true,
            "Integer": 2,
            "String": "some string 2"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A33.2494562Z'\"",
            "PartitionKey": "partition",
            "RowKey": "3",
            "Timestamp": "2024-10-16T23:02:33.2494562Z",
            "Bool": true,
            "Integer": 3,
            "String": "some string 3"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A33.2982412Z'\"",
            "PartitionKey": "partition",
            "RowKey": "4",
            "Timestamp": "2024-10-16T23:02:33.2982412Z",
            "Bool": true,
            "Integer": 4,
            "String": "some string 4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName1169374778')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
