{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName978986389"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A00.7576583Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName978986389\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName978986389",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName978986389",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A01.3687815Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/tableName978986389(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/tableName978986389/$metadata#tableName978986389/@Element",
        "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A01.3687815Z\u0027\u0022",
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "2024-02-26T20:24:01.3687815Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName978986389()?%24filter=RowKey\u002Blt\u002B%275%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A01.3687815Z\u0027\u0022",
            "Bool": true,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "some string 1",
            "Timestamp": "2024-02-26T20:24:01.3687815Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A01.4040071Z\u0027\u0022",
            "Bool": true,
            "Integer": 2,
            "PartitionKey": "partition",
            "RowKey": "2",
            "String": "some string 2",
            "Timestamp": "2024-02-26T20:24:01.4040071Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A01.4401543Z\u0027\u0022",
            "Bool": true,
            "Integer": 3,
            "PartitionKey": "partition",
            "RowKey": "3",
            "String": "some string 3",
            "Timestamp": "2024-02-26T20:24:01.4401543Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A24%3A01.4749703Z\u0027\u0022",
            "Bool": true,
            "Integer": 4,
            "PartitionKey": "partition",
            "RowKey": "4",
            "String": "some string 4",
            "Timestamp": "2024-02-26T20:24:01.4749703Z"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#tableName978986389"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName978986389\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:24:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
