{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName978986389"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-18T00%3A03%3A28.1537025Z'\"",
        "Location": "Sanitized"
      },
      "ResponseBody": {
        "TableName": "tableName978986389",
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName978986389",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-18T00%3A03%3A28.5270529Z'\"",
        "Location": "Sanitized"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName978986389/$metadata#tableName978986389/@Element",
        "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A28.5270529Z'\"",
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "2024-05-18T00:03:28.5270529Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName978986389()?%24filter=RowKey+lt+%275%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A28.5270529Z'\"",
            "Bool": true,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "some string 1",
            "Timestamp": "2024-05-18T00:03:28.5270529Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A28.6216705Z'\"",
            "Bool": true,
            "Integer": 2,
            "PartitionKey": "partition",
            "RowKey": "2",
            "String": "some string 2",
            "Timestamp": "2024-05-18T00:03:28.6216705Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A28.7216129Z'\"",
            "Bool": true,
            "Integer": 3,
            "PartitionKey": "partition",
            "RowKey": "3",
            "String": "some string 3",
            "Timestamp": "2024-05-18T00:03:28.7216129Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-18T00%3A03%3A28.8172545Z'\"",
            "Bool": true,
            "Integer": 4,
            "PartitionKey": "partition",
            "RowKey": "4",
            "String": "some string 4",
            "Timestamp": "2024-05-18T00:03:28.8172545Z"
          }
        ],
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#tableName978986389"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('tableName978986389')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sat, 18 May 2024 00:03:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
