{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa?api-version=2025-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "westus",
        "properties": {
          "disableAadAuth": false,
          "disableLocalAuth": false,
          "liveTraceConfiguration": {
            "categories": [
              {
                "enabled": "true",
                "name": "Sanitized"
              }
            ],
            "enabled": "false"
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "privateEndpoints": [
              {
                "allow": [
                  "ServerConnection"
                ],
                "name": "Sanitized"
              }
            ],
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ]
            }
          },
          "publicNetworkAccess": "Enabled",
          "tls": {
            "clientCertEnabled": false
          }
        },
        "sku": {
          "capacity": 1,
          "name": "Sanitized",
          "tier": "Premium"
        },
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137429603567495&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5n[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137429603567495&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "sku": {
          "name": "Sanitized",
          "tier": "Premium",
          "size": "P1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Succeeded",
          "externalIP": "20.189.172.206",
          "hostName": "resourced4agda.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "resourced4agda",
          "liveTraceConfiguration": {
            "enabled": "false",
            "categories": [
              {
                "name": "Sanitized",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": null,
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": [],
            "ipRules": [
              {
                "value": "0.0.0.0/0",
                "action": "Allow"
              },
              {
                "value": "::/0",
                "action": "Allow"
              }
            ]
          },
          "applicationFirewall": {
            "clientConnectionCountRules": [],
            "clientTrafficControlRules": [],
            "maxClientConnectionLifetimeInSeconds": null
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false,
          "regionEndpointEnabled": "Enabled",
          "resourceStopped": "false",
          "socketIO": null
        },
        "kind": "WebPubSub",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.SignalRService/WebPubSub",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-07T09:29:12.9348044Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-07T09:29:12.9348044Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.SignalRService/operations?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Register Resource Provider Microsoft.SignalRService",
              "description": "Registers the 'Microsoft.SignalRService' resource provider with a subscription"
            },
            "properties": {}
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Unregister Resource Provider Microsoft.SignalRService",
              "description": "Unregisters the 'Microsoft.SignalRService' resource prov[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/westus/usages?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "FreeTierInstances",
              "localizedValue": "Free Tier SignalR Instances per subscription"
            },
            "unit": "Count"
          },
          {
            "id": "Sanitized",
            "currentValue": 0,
            "limit": 150,
            "name": {
              "value": "SignalRTotalUnits",
              "localizedValue": "SignalRTotalUnits"
            },
            "unit": "Count"
          },
          {
            "id": "Sanitized",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "WebPubSubFreeTierInstances",
              "localizedValue": "WebPubSubFreeTierInstances"
            },
            "unit": "Count"
          },
          {
            "id": "Sanitized",
            "currentValue": 2,
            "limit": 150,
            "name": {
              "value": "WebPubSubTotalUnits",
              "localizedValue": "WebPubSubTotalUnits"
            },
            "unit": "Count"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/privateLinkResources?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "groupId": "webpubsub",
              "requiredMembers": [
                "webpubsub"
              ],
              "requiredZoneNames": [
                "privatelink.webpubsub.azure.com"
              ],
              "shareablePrivateLinkResourceTypes": [
                {
                  "name": "Sanitized",
                  "properties": {
                    "description": "Azure App Service can be used as an upstream",
                    "groupId": "sites",
                    "type": "Microsoft.Web/sites"
                  }
                },
                {
                  "name": "Sanitized",
                  "properties": {
                    "description": "Azure Container Apps can be used as upstream",
                    [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/westus/checkNameAvailability?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "type": "Microsoft.SignalRService/WebPubSub"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "Leaf domain myWebPubSubService is already in use. Please use a different resource name."
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/webPubSub?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Sanitized",
              "tier": "Premium",
              "size": "P1",
              "capacity": 1
            },
            "properties": {
        [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/skus?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "Microsoft.SignalRService/WebPubSub",
            "sku": {
              "name": "Sanitized",
              "tier": "Free",
              "capacity": null
            },
            "capacity": {
              "minimum": 1,
              "maximum": 1,
              "default": 1,
              "allowedValues": [
                1
              ],
              "scaleType": "Manual"
            }
          },
          {
            "resourceType": "Microsoft.SignalRService/WebPubSub",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard",
              "capacity": null
            },
            "capacity": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "allowedValues": [
                1,
                2,
                3,
                4,
                5,
         [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137430333346217&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/restart?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137430659458219&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationResults/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137430659458219&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5b[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/regenerateKey?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137431590221157&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0O[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137431590221157&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationResults/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137431590221157&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5b[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/listKeys?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/hubs/hubnameowo6J9?api-version=2025-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "anonymousConnectPolicy": "allow",
          "eventHandlers": [
            {
              "auth": {
                "managedIdentity": {
                  "resource": "abc"
                },
                "type": "ManagedIdentity"
              },
              "systemEvents": [
                "connect",
                "connected"
              ],
              "urlTemplate": "http://host.com",
              "userEventPattern": "*"
            }
          ],
          "eventListeners": [
            {
              "endpoint": {
                "eventHubName": "eventHubName1",
                "fullyQualifiedNamespace": "example.servicebus.windows.net",
                "type": "EventHub"
              },
              "filter": {
                "systemEvents": [
                  "connected",
                  "disconnected"
                ],
                "type": "EventName",
                "userEventPattern": "*"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourc[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137431922029273&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/webPubSub/resourceD4agDa/hubs?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaini[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639137432245870274&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "epwebpubsub-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "epwebpubsub",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "epwebpubsubvnet",
                "type": "string"
              },
              "webpubsubId": {
                "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/WebPubSub/resourceD4agDa",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2024-05-01",
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2024-05-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "Sanitized"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2024-05-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "groupIds": [
                          "webpubsub"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters('webpubsubId')]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "Sanitized"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              },
              {
                "apiVersion": "2024-05-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks', parameters('virtualNetworksName'))]"
                ],
                "name": "Sanitized",
                "properties": {
                  "addressPrefix": "10.0.0.0/24",
                  "delegations": [],
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled"
                },
                "type": "Microsoft.Network/virtualNetworks/subnets"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584234604286442306?api-version=2025-04-01&t=639137432575772606&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXV[...]
    {
[...]
