{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F78D96F3C\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729/dir176409489657300503.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F79076A9E\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-creation-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729/destdir176409489687501559....?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-source-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F793572CC\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:21:38.0773580Z",
        "x-ms-file-creation-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729/destdir176409489687501559....?restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F793572CC\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:21:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:21:38.0773580Z",
        "x-ms-file-creation-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:21:37.7756830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729/dir176409489657300503.?restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:b763a76c-901a-0018-7e38-5e729c000000\n",
        "Time:2025-11-25T18:21:38.6724424Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729/?comp=list&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409489627401729\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>destdir176409489687501559....</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409489627401729?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir176409489687501559",
    "destdir1": "destdir1176409489806602025",
    "dir": "dir176409489657300503",
    "share": "share176409489627401729"
  }
}
